[2016-10-05 02:26] #276 closed

[2016-10-05 02:35] AndreyAkinshin commented on #276
Hello, @endel. Sorry, it was my bug, should be fixed now. It's a strange exception because BenchmarkDotNet usually works fine on Linux/MacOS. Probably, it's related to a specific version of Mono.

[2016-10-05 17:08] endel commented on #276
Thanks for your quick reply @adamsitnik, now I've got a different error. Do you have a clue about that?

[code]

[2016-10-05 17:18] endel commented on #276
Oops. Just saw your message @AndreyAkinshin. I updated to version 0.9.9.158 and above is the error that's happening now.

[2016-10-05 17:31] adamsitnik commented on #276
@endel It's weird because our 'Load' method has a catch block for 'System.Xml.XmlException`. I will try to look for the reason tomorrow.

[2016-10-06 17:38] ForNeVeR commented on #276
Guys, probably that's just a first-chance exception got caught by debugger. @endel, in that case you can just hit "Continue" and the program will run without problems. Try to execute it without debugger in the Release mode.

[2016-10-10 18:39] ig-sinicyn opened #279 "[Suggestion]: Simplify the configuration API"
All of following is not a strong opinion, just fresh impressions on trying to use the current codebase.
1. How much settings do we need to alter N of iterations?
   Here they are:

[code]

   can these be simplified down to

[code]

   :scrathes_head:?
2. Please, consider to use human-oriented API. The creation of a new job should not look like this:

[code]

   Can freezable objects be used inste

[2016-10-10 20:47] endel commented on #276
I don't think that's the problem @ForNeVeR, I tried to run on Release mode and the same error happens. Should we re-open this issue or should I create a new one for the `System.Xml.XmlException`? Cheers!

[2016-10-11 03:31] ForNeVeR commented on #276
@endel that seems like a separate issue.

[2016-10-11 06:19] AndreyAkinshin commented on #279
1. We can't do this simplification, all the listed characteristics are very important
a) When you are working with `RunMode`, you specify exact values. For example, if you set `RunMode.IterationTime` = `100ms`, you say: "Single iteration should take 100ms". When you set `AccuracyMode.MinIterationTime` = `100ms`, you say: "Magic algorithm should choose ideal iteration time automatically, however it

[2016-10-11 07:13] ig-sinicyn commented on #279
@AndreyAkinshin

1 - Ok, got it. Lets forget about `unroll factor` and `ops per invoke` for now. Why do we need both `InvocationCount` and `TargetCount` at the same time? Shouldn't these be refactored into
[code]
?
Yep, there's more properties than before but at least these are a bit more obvious.

2 - Err, I'm still not sure that we do need immutable objects here.
The rest of config props uses mu

[2016-10-11 11:15] endel opened #280 "Cannot run on OSX / Mono (System.Xml.XmlException: Root element is missing)"
More detailed info here: https://github.com/PerfDotNet/BenchmarkDotNet/issues/276

[code]

My environment is:
- Xamarin Studio Community
- Mono / .NET 4.5
- OSX 10.10.5

[2016-10-11 12:44] AndreyAkinshin commented on #279
1. `InvocationCount` specifies how many times we should invoke the benchmark method in an iteration. `TargetCount` specifies how may iteration we want to make. Probably, we need another titles (more obvious for new users) but we definitely need two characteristics here.
2. Hmm. POCO approach makes sense, let me think about it.
What we should do with default values in this case? Right now we could

[2016-10-11 13:11] ig-sinicyn commented on #279
Ouch, finally got it. There're three levels with similar naming:
* setting for entire run- only `LaunchCount` for now
* setting for N of iterations (`TargetCount`/ `WarmupCount`)
* settings for what to do per each iteration: iteration time / invocation count  / unroll factor / ops per invoke etc.

Don't know how I managed to forget the things (I've remember that I was digging it some month ago). D

[2016-10-11 13:32] adamsitnik commented on #280
that's weird because `GetOrCreateConfigurationElement` has `catch` for `System.Xml.XmlException` and Mono [throws](https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/referencesource/System.Xml/System/Xml/Core/XmlTextReaderImpl.cs#L2511) exactly same kind of exception for `Load` method.

Anyway I don't want to dig deeper into Mono to find the answer now, but I hope

[2016-10-11 14:02] AndreyAkinshin commented on #279
I think, we need better naming here. However, I don't know how to rename these things.

Great, thanks.

[2016-10-11 14:47] ig-sinicyn commented on #279
Same here : )

[done](https://gist.github.com/ig-sinicyn/b4cc36175a002f6c08f2eeb9f35faea2)

The code is not feature complete yet and it's internals are ugly, I know:)

Before finishing it: does the current approach looks good enough for you? If no, can you provide some use case code to give an idea how it should look like?

[2016-10-11 16:01] AndreyAkinshin commented on #279
I like it in general, but could we keep the resolving feature? Sometimes we don't have a specific value in advance, it should be calculated in runtime with help of a resolver. If some property has "default" value, it means that the actual value could be calculated dynamically (e.g. based on other properties or current environment or based on collected data from the pilot stage...).

[2016-10-12 13:20] kvarv opened #281 "Results are exported twice for single run"
https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Running/BenchmarkRunnerCore.cs

Line 44 and 93 both do `config.GetCompositeExporter().ExportToFiles(summary)`

Is there a reason for this?

[2016-10-12 18:44] AndreyAkinshin commented on #281
Looks like a bug. @adamsitnik, could you take a look?

[2016-10-12 20:36] kvarv commented on #281
Thank you! I created an elasticsearch exporter and the data kept coming in twice. Looking forward to the fix.

[2016-10-12 21:47] benaadams opened #282 "Add Dispose/ShutdownAttribute (SetupAttibute symmetry)"
If using `[Setup]` to set things up for a run that are `IDisposable`+finalizer it would be good to have a similar method attribute that can be used for cleanup.

[2016-10-12 21:52] adamsitnik commented on #282
We already have one, it's called `[Cleanup]`.

[2016-10-12 21:58] benaadams commented on #282
Beautiful! 💯

[2016-10-12 21:58] #282 closed

[2016-10-13 07:27] kvarv opened #283 "MarkdownExporter.Console.ExportToLog(summary, logger);"
https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Running/BenchmarkRunnerCore.cs

Line 113 `MarkdownExporter.Console.ExportToLog(summary, logger);`

Is there a reason for hardcoding a call to the MarkdownExporter?

[2016-10-13 07:34] AndreyAkinshin commented on #283
We are using MarkdownExporter here for printing the summary table in the console. The Markdown format looks really nice in the terminal, so it is used by default.

[2016-10-13 07:39] kvarv commented on #283
Thanks for your answer!

[2016-10-13 07:58] #283 closed

[2016-10-14 10:55] adamsitnik commented on #280
@endel did the fix help?

[2016-10-15 17:14] #281 closed

[2016-10-15 18:32] endel commented on #280
Hey @adamsitnik, I've just updated to version `0.9.9.182` and unfortunately the error and stack trace are the same:

[code]

[2016-10-18 19:10] sleemer opened #285 "dotnet restore fails on OSX Sierra (osx.10.12-x64)"
My environment:
- dotnet core 1.0.0-preview2-003131 (for osx.10.11)
- osx.10.12-x64
- I use your sample app https://perfdotnet.github.io/BenchmarkDotNet/GettingStarted.htm

As far as I can see, Benchmark generates line `"runtimes": { "osx.10.12-x64": { } }` in project.json and uses the current machine's RID for that.
This line cause the error during `dotnet restore` because dotnet core sees unsupp

[2016-10-19 07:21] AndreyAkinshin commented on #285
@sleemer, thank you for the report.

@adamsitnik, could you take a look?

[2016-10-19 07:31] adamsitnik commented on #285
Sure! Very interesting bug! I have not foreseen it ;)

I will ask the dotnet cli team what do they recommend. Currently my only idea is to take something like Min(currentRuntimeId, latestSupportedOSVersionByDotNetCli)

[2016-10-20 07:33] cdrnet opened #288 "IdleWarmup running off forever"
I suddenly have issues where the IdleWarmup seems to run off forever (with the default configuration):

![benchmarkdotnet-idlewarmup exe](https://cloud.githubusercontent.com/assets/47147/19549768/7be353e6-96a6-11e6-8f0c-b9c7456e756e.png)

I see that there are outliers reported, roughly once per 20-50 iterations, which I suspect is the reason for this. Can I control the idle warmup separately from

[2016-10-20 10:07] AndreyAkinshin commented on #288
Hi, @cdrnet, thank you for the report. I already fix this issue, it will be a part of v.0.10.0.

[2016-10-20 10:07] #288 closed

[2016-10-20 11:34] cdrnet commented on #288
Great, thanks a lot!

[2016-10-21 07:21] russpowers commented on #270
Did you ever figure this out?  I'm having the exact same problem benchmarking inserts into a tree that uses unsafe memory allocations.  I need destroy the tree in between benchmark operations, but there doesn't seem to be a way to do that.

[2016-10-21 14:04] jbayardo commented on #270
The bug report is misleading. The way we actually found this works is:

- Setup is run
- Benchmark method is run
- Cleanup is run

This happens for every benchmark method. What we did is, in our Setup we just have a check to see if the tree has been filled previously or not (this is easy to do in our case because it is persisted on to disk); since this is not measured, we avoid paying the cost in

[2016-10-22 00:51] russpowers commented on #270
Thanks for the reply.  I'm still having the issue, even with setting OperationsPerInvoke to 1.  On the first couple runs, things work as you say, but then it starts warming up and does more than one benchmark between setup and cleanup.  According to their docs, Setup/Cleanup are run before/after each iteration, not each benchmark operation: https://perfdotnet.github.io/BenchmarkDotNet/HowItWorks.h

[2016-10-23 15:03] Shazwazza opened #290 "Question: Any official way to benchmark same method between different assembly versions?"
Hi,

I can't seem to find anything specifically about what I'd like to do, but if this has already been discussed some other place please let me know :)

Otherwise, what I'd like to do is benchmark the same method of an assembly but with different assembly versions. I know I can accomplish this in various ways and use reflection to load in the type/method based on different assembly files but am w

[2016-10-23 15:33] adamsitnik commented on #290
H! @Shazwazza !

Currenly we don't support it, but I am planning to add such feature.

My initial goal was to enable comparison for for assemblies that are available on the nuget. Sample scenario: what's the difference between current implementation and latest version available on nuget?

What would be your scenario?

[2016-10-23 15:47] Shazwazza commented on #290
yes that is exactly what I was planning on implementing :)

I haven't written anything quite yet but wanted to try to get something going as early as next week. The idea that I had was something along the lines of:

* During the benchmark initialization, have some code config to point to either a referenced assembly or a nuget alias + version
* Use Nuget API (or whatever) to go fetch the configure

[2016-10-24 09:40] adamsitnik commented on #290
One question: are you using .csprojs or .xprojs? I have an idea how dotnet cli could do the nuget restore for us.

If you are using csprojs then I think that the best thing to do would be to extend our RoslynToolchain. [Here](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Toolchains.Roslyn/Toolchains/Classic/RoslynBuilder.cs#L32) you can see how we build the code wit

[2016-10-24 10:27] Shazwazza commented on #290
For the current project I'm working with it would be csproj. Thanks for the pointers, I'll fork the project and have a look and hopefully i can find some time :)

[2016-10-25 14:49] Daniel-Svensson commented on #155
What is the status for this issue, Any chance of being able to use it soon and if so do you have an example setup to look at?

This sounds almost exactly like what we are looking for. Would like to integrate it with our teamcity build server which should work fine as long as the results can be accessed

[2016-10-25 18:03] ig-sinicyn commented on #155
@Daniel-Svensson

Pretty much the same:(

Good news: we have one in dogfooding since July, no major issues discovered yet.

Bad news: until now I had no free time (literally) to finish it. Today my team finally shipped major version of product we were working on and I hope I'll have more time for my pet projects.
If everything goes well I'll release beta of perftests shortly after release of Bench

[2016-10-26 09:44] adamsitnik commented on #155
@ig-sinicyn what is blocking you? do you have some features unfinished or is it something else? maybe we could somehow help you?

[2016-10-26 10:04] ig-sinicyn commented on #155
@adamsitnik no blockers actually.

The github version produces slightly unstable results when run on appveyor / low-end notebooks and I want to wait for 0.10 release before backporting.
Actually I do hope the 0.10 release will allow us to use standard engine and remove our implementation entirely.

[2016-10-28 14:51] ig-sinicyn opened #291 "[Bug] Incorrect results for targetCount:Auto"
Current codebase, benchmark:

[code]

part of [output](https://github.com/PerfDotNet/BenchmarkDotNet/files/558673/Program.zip):

[code]

Looks like there's something wrong with the result calculation (first 16 samples as Unroll factor == 16),

And therefore:

[code]

Min == 0, `CanBeInverted()` returns true and the output is:

[code]

[2016-10-29 01:48] redknightlois opened #292 "Support for Beta versions"
Dont know if I am doing something wrong (like missing some configuration), it is a defect or just not supported. :)

I am trying to benchmark some changes that have been implemented for us in the SIMD support at the JIT compiler. Problem is that when I update the dependencies to the proper build I get the following error:
`D:\Source\ravendb-40.git\BDN.Auto\project.json(19,46): warning NU1012: Depe

[2016-10-29 08:43] adamsitnik commented on #292
@redknightlois it's not supported yet, but I also need it for #284 so I definitely want to add it.

My plan was to wait until netcoreapp1.1 goes RTM. @AndreyAkinshin would you mind if I add a new target to BenchmarkDotNet for netcoreapp1.1 that would have dependencies to beta packages (we would need two releases again like we did with dnxcore50 for some time ;)

[2016-10-29 11:58] redknightlois commented on #292
We are using the 1.2.0-beta packages here. Are we talking about the same thing?

[2016-10-29 11:59] adamsitnik commented on #292
Which TFM are you using? dnxcore50 , netcoreapp1.0 or netcoreapp1.1?

[2016-10-29 12:12] redknightlois commented on #292
This one dotnet-core - microsoft.netcore.runtime.coreclr 1.2.0-beta-24629-02

[2016-10-29 13:12] adamsitnik commented on #292
This is clear to me, me question was which target framework moniker are you using?

Is it:

[code]

or

[code]

Can you post your project.json file here? So I could reproduce the exact behaviour? I have an idea for small change that could most probably fix it

[2016-10-29 16:56] redknightlois commented on #292
Irrelevant for our purposes. We are using ```netcoreapp1.0``` but nothing prevents me to change it to ```netcoreapp1.1``` if it is needed. So the easiest fix the better :)

[2016-11-01 06:48] cdrnet commented on #291
I'm seeing the same behavior as well sometimes (with manual build from current master).

[2016-11-05 09:05] ig-sinicyn opened #294 "[Suggestion] CSVHelper.Escape() method should check for actual separator value"
Current codebase, CsvHelper.cs
[code]

Default exporter uses
[code]
and `CsvSeparator.CurrentCulture` is translated to `CultureInfo.CurrentCulture.TextInfo.ListSeparator`. For ru-RU culture the separator is `;`. As a result
[code]
will result in broken .csv output.

[2016-11-06 07:04] #291 closed

[2016-11-06 07:11] AndreyAkinshin commented on #291
@adamsitnik, it was your bug. Recently you moved `List<Measurement>` in `EngineWarmupStage` and `EngineTargetStage` from a local variable to a field. Unfortunately, we share these stages between idle and main iterations. As a result, both idle and main lists have references to the same instance of `List<Measurement>` which has all the measurements. It spoils calculation of the results. I have reve

[2016-11-06 07:45] AndreyAkinshin commented on #280
Hey @endel, sorry for the late reply. Could you tell me the following information:
1. Are your running benchmarks from terminal or from Xamarin Studio? If you are using Xamarin Studio, could you try run it from terminal?
2. Which version of mono are you using? (`mono --version`)

[2016-11-06 09:54] adamsitnik commented on #291
@AndreyAkinshin Sorry for that! I will find other way.

[2016-11-06 10:12] #292 closed

[2016-11-06 11:02] AndreyAkinshin commented on #291
@adamsitnik, and another bug: you sorted the values in the MainStage. It's wrong because it produces sorted Result measurements (we need the original order in the summary). I pushed another hotfix; it looks ugly and produces another allocation, but it works properly. Please note it when you will refactor these stages in the next time.

[2016-11-06 11:40] AndreyAkinshin opened #295 "Fix CLS-compliant warnings in Diagnostics"
@adamsitnik, please take a look at https://ci.appveyor.com/project/PerfDotNet/benchmarkdotnet/build/0.9.9.203/messages

[2016-11-06 15:50] adamsitnik commented on #291
@AndreyAkinshin Ok, I have synchronized the gc branch, and found a way to solve this problem:
* start memory tracking after pilot & warmup stage, so these stages can allocate and this won't be included in final results. no need for hacks here anymore
* target stage - in the ctor I create a stack with few (10) lists with max size. I use .Pop() to get list when executing so if 10 will ever be not en

[2016-11-07 10:12] AndreyAkinshin commented on #291
@adamsitnik, I like the idea, but could you make the source code more pretty? Like create an additional generic class (e.g. `ListPool<T>`) with nice API? I want to keep the stage classes as simple as possible and hide all "not-about-measurements" code somewhere else.

[2016-11-07 15:46] ig-sinicyn commented on #279
@AndreyAkinshin

Should we close this one as #286 is merged?

[2016-11-07 16:01] AndreyAkinshin commented on #279
@ig-sinicyn, yep.

[2016-11-07 16:01] #279 closed

[2016-11-07 19:03] endel commented on #280
Hey @AndreyAkinshin, I was running from Xamarin Studio. Running from command-line it actually works! Thanks!

Here's my mono version:

[code]

[2016-11-07 20:08] adamsitnik commented on #291
@AndreyAkinshin done

[2016-11-08 03:48] AndreyAkinshin commented on #280
@endel,  you probably have a check mark in Xamarin Studio settings which force to show all thrown exception (not only not-catched). Check your Debug/Exception settings. Also, command-line is the default place where you should run your benchmark (the Xamarin Studio process could affect results).

[2016-11-08 03:48] #280 closed

[2016-11-08 08:56] ig-sinicyn opened #296 "[BUG] NRE in OutliersAnalyser"
BDN, master branch, OutliersAnalyser.cs
[code]
the report contains _only_ measurements with m.IterationMode == IterationMode.Result
(dont know why, will investigate and update the issue).

the line
[code]
fails with NRE as `.GetStatistics()` returns null.

I'd never return null from any `.GetSomeComplexObject()` method. These should either return empty value or be prefixed with `Try` and marked wi

[2016-11-08 09:12] ig-sinicyn commented on #296
UPD: missing reports was my fault, sorry :)

Forgot to dump the Target/Warmup times from my custom Engine.

[2016-11-08 09:15] AndreyAkinshin commented on #296
Ok, but it's still a bug, I will fix it today.

[2016-11-08 09:27] ig-sinicyn commented on #296
UPD2 Okay, it's kinda complicated now.:)

My code uses same approach as in `BenchmarkProgram.txt`.
results are reported via  RunResults.Print();

and (RunResults.cs)
[code]
So it turns out the `Print()` does only a half of work.

Rest of timings are dumped at `Engine.RunIteration()`:
[code]

Summary:
1. bug is still there, with IsDiagnoserAttached it'll reproduce on standard engine too.
2. engine

[2016-11-08 09:58] adamsitnik commented on #296
I am not sure about that. IMHO this:

` if (!IsDiagnoserAttached) WriteLine(measurement.ToOutputLine());`

prints the results during execution to show that Engine is working. This is ommited when Diagnoser is attached in order to avoid heap allocations with creating string and printing.

`results.Print()` prints all results one more time at the end. The diagnoser is not catching this allocations b

[2016-11-08 10:17] ig-sinicyn commented on #296
@adamsitnik
As it is for now, results.Print() do not print anything but `IterationMode.Result` timings. [Proof](https://github.com/PerfDotNet/BenchmarkDotNet/blob/4b6ea91b95f79dd0214839e495a351222da92e46/src/BenchmarkDotNet.Core/Engines/RunResults.cs#L42).

If the measurements will be printed twice it'll screw the results as the Executor parses console output and fills the Summary.Reports from it.

[2016-11-08 10:29] ig-sinicyn opened #297 "[Discussion] Changes on Engine, diagnosers and result reporting?"
DISCLAIMER: this issue is only to start a discussion, I have no good solution for it yet, sorry.

There're two major issues with current engine implementation.

 1. Engine should report measurements by itself, as [here](https://github.com/PerfDotNet/BenchmarkDotNet/blob/4b6ea91b95f79dd0214839e495a351222da92e46/src/BenchmarkDotNet.Core/Engines/Engine.cs#L127). If missed, things go wrong; see #296.

[2016-11-08 13:26] adamsitnik commented on #297
I am not sure if we have any problem today.

- Currently if there is any Diagnoser attached we perform separate run for Diagnostics only ([code](https://github.com/PerfDotNet/BenchmarkDotNet/blob/4b6ea91b95f79dd0214839e495a351222da92e46/src/BenchmarkDotNet.Core/Running/BenchmarkRunnerCore.cs#L275)). Non-diagnostic output is ignored, so it does not matter if don't we print the results. We don't car

[2016-11-08 13:28] adamsitnik commented on #297
Proof: with the recent diagnoser changes I was able to get 100% accurate memory diagnostics #284

[2016-11-08 14:36] ig-sinicyn commented on #297
@adamsitnik

Ok, what about case when there's no diagnosers? Can we delay result reporting till all runs are completed? Or, at least, introduce more obvious contract for it?

Afair standard input/output [is buffered](https://referencesource.microsoft.com/#System/services/monitoring/system/diagnosticts/Process.cs,2165). So there can be multiple race combinations, simplest one:

[code]

both of thes

[2016-11-08 14:53] adamsitnik commented on #297
We could do so, so far @AndreyAkinshin wanted to have continuous updates.

I was not aware of that. Thanks!

@ig-sinicyn I assume that you want to merge your perf test runner changes and the current Engine does not fit in well? Have you thought about creating a new class that would implement IEngine and reuse the code from Engine that you want (running tests, not displaying results to console etc)

[2016-11-08 16:27] ig-sinicyn commented on #297
Ok, great!:)

Actually no, at least for now. I'm not sure most of our changes are required at all with bench.net v0.10.
Will do some comparison tests later.

Our current design is following: each benchmark method performs few thousands iterations by itself
[code]
(yep, EnumHelper.IsDefined() method is ~30x faster than  Enum.IsDefined())

the engine measures time for each call (as if the invokeCoun

[2016-11-09 21:40] Reonekot commented on #66
@centur - did you figure it out ? I'm having the same issues with newest official + beta of LINQPad5. Tried both AnyCPU and x86 version and from CMD using "lprun -optimize".

When running I just get at the top:
[code]

And at the end:
[code]

[2016-11-09 23:40] centur commented on #66
@Reonekot Nope, using their sample console app :(

[2016-11-10 05:49] #296 closed

[2016-11-10 10:05] adamsitnik commented on #66
I will take a look at this, but if the error is:

Method not found: 'System.Collections.Immutable.ImmutableArray1 System.Reflection.Metadata.MetadataReader.GetBlobContent(System.Reflection.Metadata.BlobHandle)'.

then it means that we have some dll version issue. Most probably LINQPad is using older version of the dll, when we try to compile the Benchmarks we get dll which is already loaded but it

[2016-11-10 12:15] redknightlois commented on #292
For some reason I still cannot make it work. I copied my code to the Sample in order to ensure that I was not doing something wrong, but it continues failing when building with:
[code]

[2016-11-10 12:38] adamsitnik commented on #292
@redknightlois my change was trivial, I suspect that there is some dotnet cli/.net core version mismatch. Could you post your sample here? The most important thing for me to have is to know which dependencies are you using, the code is less important

[2016-11-10 12:44] redknightlois commented on #292
@adamsitnik There you are :)
https://github.com/redknightlois/BenchmarkDotNet/tree/temp/samples/BenchmarkDotNet.Samples/Other

[2016-11-10 14:18] adamsitnik commented on #292
@redknightlois Thanks for the repro, I was able to reproduce and fix the bug, however for some reason I have lost write access to the BenchmarkDotNet repo ;) We are most probably in the middle of moving to different organization ;)

If you don't want to wait we can do this in a less civilised way ;)
samples/BenchmarkDotNet.Samples/project.json => change "netcoreapp1.0" to "netcoreapp1**.1**"
src/B

[2016-11-10 14:35] redknightlois commented on #292
@adamsitnik I wouldnt call myself civilized :) ... yes, it is working.

[2016-11-10 15:08] Reonekot commented on #66
I have seen the same exception from within LINQPad (MissingMethodException) twice, but not on most runs and never when running with lprun.exe. With lprun it just gives the output I posted above - no exceptions or other signs of errors, besides it seems it just skips running the tests.

[2016-11-11 17:30] sleemer commented on #285
Hey guys! Any updates on this issue?

[2016-11-11 17:55] adamsitnik commented on #285
Hello @sleemer

Honestly I am a little bit confused. I [asked the dotnet cli guys](https://github.com/dotnet/cli/pull/4281#issuecomment-255361213) for recommendations but without luck. I am confused because I am not sure what to do now. This problem is rather rare (when  new OS version is shipped and dotnet cli does not handle it yet) and soon people will convert their's xprojs to csprojs again an

[2016-11-11 18:16] AndreyAkinshin commented on #285
I suggest to wait for the new toolchains. It seems that we could drop xprojs soon.

[2016-11-11 19:54] sleemer commented on #285
yeah.. @adamsitnik, probably you are right... dotnet is changing so rapidly and it's maybe better to wait for a new toolchain... as a temporary workaround I continue to export environment variable... but after upgrading to "BenchmarkDotNet": "0.10.0"  I started to get another error when benchmark trying to create a report...

Unhandled Exception: System.PlatformNotSupportedException: Processor aff

[2016-11-13 11:16] ig-sinicyn commented on #297
**UPD** Yeah, I've checked all our perftests and current engine implementation from Benchmark.Net works fine for us. I've just switched to it as a default option. Cheers!

The only issue we have for now is diagnoser support for in-process benchmarks. We definitely need something better than reading the stdout : )

[2016-11-13 17:50] adamsitnik opened #298 "PlatformNotSupportedException when reading ProcessorAffinity on MacOS"
reported by @sleemer in #285

[code]

[2016-11-13 17:51] #298 closed

[2016-11-13 17:56] adamsitnik commented on #285
@sleemer Thanks for the understanding and the bug report! I have created and fixed separate issue for the new problem #298

As soon as [this CI build](https://ci.appveyor.com/project/PerfDotNet/benchmarkdotnet/build/0.10.0.222) finishes you should be able to download our latest development package and try the improved 0.10.0 version. Address of nuget feed: `<add key="appveyor-bdn" value="https://c

[2016-11-13 18:07] adamsitnik commented on #297
@ig-sinicyn that's great!

I have finished the universal memory diagnoser, but due to dependency to netcoreapp1.1 which is [still in beta](https://www.nuget.org/packages/Microsoft.NETCore.App/1.1.0-preview1-001100-00) we need to wait until the end of November to get it RTM so we don't need to have  two separate nuget packages again like we did with dnxcore50.

@AndreyAkinshin IMHO Then we could me

[2016-11-13 18:59] AndreyAkinshin commented on #297
LGTM

[2016-11-14 05:41] ig-sinicyn commented on #297
@adamsitnik ok!:)

[2016-11-14 12:48] GeertvanHorrik commented on #290
I am currently working on this for my own purposes. I will push this to the (open source) repository soon:

https://github.com/catel/catel.benchmarks

What I have in mind is to create separate console apps / version (so we can target specific versions without problems). Then I have a "wrapper runner" that runs the console apps one by one and stores the results inside results / version.

Once this

[2016-11-15 10:33] GeertvanHorrik commented on #290
Here is the full repository:
https://github.com/catel/catel.benchmarks

Example of a generated comparison markdown:
https://github.com/Catel/Catel.Benchmarks/blob/develop/results/summary.md

In theory we could use a single app and load them into separate AppDomains. However I am not sure if defining the different versions via NuGet is the way to go (it makes testing against local builds harder).

[2016-11-15 14:48] Drawaes opened #299 "Add API to remove columns for baseline comparison"
Most of the time I don't want to compare sd and other info against the baseline.

[2016-11-16 20:04] sleemer commented on #285
@adamsitnik Thank you man!

[2016-11-16 20:26] AndreyAkinshin commented on #299
Ok, let's discuss what we can do here. I have several thoughts.

### `Baseline*Column` attributes

Different people want to have different columns when they are working with baselines. We have 3 main categories: `Scaled` (`A/B`), `DiffAbsolute` (`A-B`), `DiffRelative` (`(A-B)/B*100%`). Each category could have a corresponded `StdDev` column which could be optional (we will show this column only wh

[2016-11-16 20:30] AndreyAkinshin opened #300 "Switch back from project.json and xproj to csproj, support dotnet cli preview 3"
@adamsitnik, it's time to get rid of the project.json files!

[2016-11-16 20:55] #121 closed

[2016-11-18 02:43] benaadams opened #301 "netcoreapp1.1 support"
Moving to netcoreapp1.1
[code]
Causes issues as the generated project.json puts it back to `netcoreapp1.0`

[2016-11-18 10:26] adamsitnik commented on #301
As soon as #284 gets merged we got it ;)

[2016-11-18 10:32] benaadams commented on #301
Subscribed :)

[2016-11-19 15:09] adamsitnik commented on #300
I definitely plan to implement this, but currently there are few blocking issues:

1. It works only with Visual Studio 2017 which is still RC, no support for VS 2015.
2. Moving from xprojs to csprojs is something new, probably easy to do, the thing is that I will need to rewrite our Core Toolchain once again. This might be tricky and time consuming.

I would like to wait a little bit (at least few

[2016-11-21 06:42] ig-sinicyn opened #302 "Summary & BenchmarkReport: request for additional members"
Hi!

Can analyzer's conclusions and result returned by benchmarks be added to `Summary`? Want to warn user if the results do not match or there're important messages from the analyzers.

And some minor suggestions:
* Minor perf issue: use Lazy<T> for [ResultStatistics property](https://github.com/dotnet/BenchmarkDotNet/blob/e1213a59822a53955733e38894eb88d23de787df/src/BenchmarkDotNet.Core/Reports/

[2016-11-21 10:30] adamsitnik commented on #302
@ig-sinicyn Good ideas, as always! I will try to implement it for 0.10.1

[2016-11-21 13:09] adamsitnik commented on #300
Results of my twitter form with 421 answers:

![image](https://cloud.githubusercontent.com/assets/6011991/20483748/02c28fce-aff4-11e6-9690-4df75e0e7dc9.png)

[2016-11-21 13:18] adamsitnik opened #303 "Update to Roslyn 2.0 when RTM is shipped to nuget.org"
3 days ago Roslyn team has published a 2.0 RC on [nuget.org](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/2.0.0-rc).

As soon as they release it as RTM we should update our dependency and release new version of BenchmarkDotNet. I have no idea when they are going to do so.

**Edit:**
2.0 rtm will be released when visual studio 2017 rtm is released

[2016-11-21 13:20] adamsitnik commented on #300
@AndreyAkinshin there is one good thing. Roslyn is cross platform now, so I will try to have a single Toolchain for both classic and Core .NET ;) There is a chance that we will not need a strong dependency to dotnet cli anymore ;)

[2016-11-21 13:26] AndreyAkinshin commented on #300
Sounds great!

[2016-11-21 15:27] adamsitnik commented on #302
@ig-sinicyn one thing: what do you mean by results? results of the executed benchmarks? like 4 in the folowing example?

[code]

[2016-11-21 15:50] adamsitnik commented on #302
I tried to add the Conclusions to the Summary, but when I saw the huge ctor we have there I decided that it would be good to implement #177 instead. Will try to do som PoC

[2016-11-21 16:04] adamsitnik commented on #299
@AndreyAkinshin  An idea:

extend `IColumnProvider` with `IEnumerable<IColumn> Exclude()`

then if somebody does not want to see some column he/she can create an exluding column provider with something similar to:

[code]

and register it in their own Config

[2016-11-21 16:32] ig-sinicyn commented on #302
@adamsitnik yep, the value [stored in the consumer](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Templates/BenchmarkProgram.txt#L137).

As of #177 - great news!
I'd suggest to start with `Message` struct and with common interface for the engine output, smth alike
[code]
It will allow us to isolate Engine implementation from message passing API. Therefore, `IEngine

[2016-11-21 20:29] ig-sinicyn commented on #302
@AndreyAkinshin, @adamsitnik , ouch, forgot about this one:

`IEngine.SetupAction` and `IEngine.CleanupAction` properties are not used at all. If it's by design, should these be removed?

[2016-11-22 08:03] xoofx opened #304 "How to get mono working?"
While trying to run a benchmark with:
[code]
I'm getting the exception:
[code]
Mono executable is on the PATH.
What is missing?
(Platform: Windows 10 x64, mono x86)

[2016-11-22 08:23] xoofx commented on #304
han, found the problem... I was setting the PATH from the command line which was surrounded by double-quotes `set PATH="C:\Program Files (x86)\Mono\bin";%PATH%` ... strange this is working if I run mono from the command line, but the `Process.StartWithCreateProcess` doesn't like it. Removing the double quotes `set PATH=C:\Program Files (x86)\Mono\bin;%PATH%` is working with BenchmarkDotNet.

[2016-11-22 08:23] #304 closed

[2016-11-23 06:18] AndreyAkinshin commented on #299
@adamsitnik, sounds interesting, but I also want to have an "attribute" way to exclude columns. Any ideas how to do it?

[2016-11-23 06:30] AndreyAkinshin opened #305 "Summary Save/Load/Combine"
Now BenchmarkDotNet allows to create a nice set of jobs for different environments. However, sometimes it's impossible to get all desired result with a single run. Examples:
* Comparing performance before and after refactoring
* Comparing performance between different version of a NuGet package (probably will be implemented in the future, but it's not available for now)
* Comparing performance bet

[2016-11-23 06:54] ig-sinicyn commented on #305
@AndreyAkinshin, please, not JSON. There's standard format for storing and exchanging the data - XML.
It has good conventions for value escaping and date representation. It has strong specification without silly logical errors such as undetermined behavior for duplicate keys.
There's API for it out of the box, no additional dependencies required.

Why JSON?
About API: why not expose it as an `Expo

[2016-11-23 07:05] AndreyAkinshin commented on #305
Ok, let's use XML. =)

Sounds good to me. Thus, we also have to define an `Importer`.

All of the examples in the issue are about single PC. You are absolutely right, it's really hard to compare performance numbers across different computers. Probably, we should check combined environments and prints some warnings.

[2016-11-23 07:25] ig-sinicyn commented on #305
Well, maybe :)

The same issues do apply to the single PC case. The timings may change due to IO latency, FW upgrade, upgrade of the BDN (future roslyn upgrades may bring some optimizations [like this](https://github.com/dotnet/roslyn/issues/4793)). There's no point to keep absolute timings until you preserve the context too. And then it's better to store it as '.csv' or any another tabular format

[2016-11-23 08:39] AndreyAkinshin opened #306 "Custom path for mono and dotnet cli"
Sometimes I want to compare performance between different installation of mono. It would be cool to implement an API like this:
[code]
The same feature requests for `dotnet.exe`.

@adamsitnik, what to you think?

[2016-11-23 10:42] adamsitnik commented on #306
Good idea, should not be hard to implement (just change the way we call Process.Start?)

[2016-11-23 11:00] AndreyAkinshin commented on #306
+ API + SummaryColumn

[2016-11-23 11:07] adamsitnik commented on #299
hmm

due to `An attribute argument must be a constant expression, typeof expression or array creation expression of an attribute parameter type` we can't create an attribute that would accept `params IColumn[] excluded`

My only idea for now it to add new enum `ColumnType`, extend `IColumn` with getter which would return in and then create a new attribute that would accept this enum. If we make it

[2016-11-23 11:10] AndreyAkinshin commented on #299
@adamsitnik, what do you think about my approach with `ColumnPolicy`:
[code]
This, columns attribute do not only introduce a column but also specify (or override) policy (`Disabled`, `Optional`, `Mandatory`) for this column.

[2016-11-23 11:13] adamsitnik commented on #305
Personally what I would like to add is to compare few different versions of nuget package.

sth like:

[code]
and
[code]

so people could write some unit tests for having no performance drops

as for the format, we would have to provide  a mechanism like [Sinks in SeriLog](https://github.com/serilog/serilog/wiki/Provided-Sinks): we provide interface (IExporter/IImporter) and people implement it fo

[2016-11-23 11:15] adamsitnik commented on #299
sorry @AndreyAkinshin I missed that. Good idea! Especially that we have an attribute for each column now!

[2016-11-23 11:26] ig-sinicyn commented on #305
@adamsitnik

the same-time run, as in
[code]
do not require export / import at all as the `BenchmarkConverter.TypeToBenchmarks(type, config)` produces separate benchmark for every combination of job/parameters.

[2016-11-23 11:31] adamsitnik commented on #305
yes exactly, so we have we eliminate problems with storage / different PC conditions but on the other hand it will take two times more time ;)

[2016-11-23 16:34] mattwarren commented on #300
I think it's amazing that there are over 400 people who like BenchamrkDotNet enough (and presumably use it), to vote in a Twitter poll, that's **fantastic**!!!

[2016-11-23 16:41] adamsitnik commented on #300
@mattwarren I was surprised too! I got so many answers mostly because Ben and then @dotnet have retweeted my tweet ;)

[2016-11-24 09:34] ig-sinicyn opened #307 "Output: interpolated strings & culture"
There're places in the codebase that fails to pass the host culture into formatted strings,
[as example](https://github.com/dotnet/BenchmarkDotNet/blob/24e944ae06101a8051955fcfb0ae6c4413950fdc/src/BenchmarkDotNet.Core/Extensions/StatisticsExtensions.cs#L37):
[code]

the output is
[code]
**hotfix:** just add `.ToStr()`

Sadly, there's no good solution for it. You can wrap all interpolated strings i

[2016-11-24 21:04] Reonekot commented on #66
Looks like the error has change in the new versions for Benchmark.net - seems like LINQPad does something "wrong" since it tries to resolve the wrong .dll? (.Core)

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.IO.FileNotFoundException: Could not load file or assembly 'BenchmarkDotNet.Core, Version=0.10.0.0, Culture=neutral, Publ

[2016-11-25 12:13] #133 closed

[2016-11-25 12:13] #186 closed

[2016-11-25 12:13] #200 closed

[2016-11-25 12:13] #301 closed

[2016-11-25 12:48] adamsitnik commented on #208
We no longer test ETW based Diagnoser, so the problems whatever they were are gone ;)

[2016-11-25 12:48] #208 closed

[2016-11-27 23:09] arthrp opened #308 "Documentation for .NET Core/Mono version?"
There are really nice docs for 'regular' .NET version, but I failed to find any for .NET Core version. Would be nice to have some simple usage samples, as API seems to be different.

[2016-11-28 09:59] adamsitnik commented on #308
Hello @arthrp

The difference for apis is very small, for the .NET Core we don't support:

- `BenchmarkRunner.RunUrl`
- `BenchmarkRunner.RunSource`

For both .NET Core and Mono we don't support
- `InliningDiangoser` (based on Windows ETW)
- `MemoryDiagnoser` (based on Windows ETW, will change in upcoming 0.10.1)

As for samples you can take a look to our `Samples` [projects](https://github.com/dot

[2016-11-28 12:00] GeertvanHorrik opened #309 "Diagnosers don't export data to the measurements.csv files"
Below a short discussion on gitter:

@GeertvanHorrik

@adamsitnik

The solution is not to hard-code the columns :-)

If needed, I am happy to provide a PR.

[2016-11-28 14:10] #309 closed

[2016-11-28 14:10] adamsitnik commented on #309
@GeertvanHorrik thanks for the report, I have fixed that, should be on our CI soon

[2016-11-28 15:28] GeertvanHorrik commented on #309
@adamsitnik thanks for the fast fix. For me this works fine, but it's a bit inconsistent. For other columns whitespaces are replaced by _, for these 4 columns they are not. I can work with them, but just wanted to let you know.

[2016-11-28 15:33] adamsitnik commented on #309
@GeertvanHorrik good catch! I have pushed another commit with the fix for spaces vs '_'

[2016-11-28 15:55] GeertvanHorrik commented on #309
Running the first benchmarks with memory pressure comparison amongst versions as well, thanks for implementing this, much appreciated 👍

[2016-11-28 22:23] arthrp commented on #308
Ok, thanks, will take a look. My initial problem was that [http://benchmarkdotnet.org/GettingStarted.htm](Getting started example) doesn't work with .NET Core version. So one has to do more digging to discover the working sample.

[2016-11-29 03:21] bojanrajkovic commented on #300
This would be nice to have sooner rather than later. I was able to run the generated project.json-based code by using `dotnet migrate` and some manual hackery of both the project.json and generated .csproj, but of course, that didn't give me nice output. :)

[2016-11-29 03:46] AndreyAkinshin commented on #308
@arthrp, it should work. Look at the `BenchmarkDotNet.Samples` application in the source code: it's a .NET Core project (based on project.json for now) which targets both `net45` and `netcoreapp1.1`. And it includes the `Md5VsSha256` example.
Probably, it's a good idea to have a set of predefined templates for different kind of projects. @adamsitnik, what to you think?

[2016-11-29 08:29] adamsitnik commented on #308
Do you mean a template for .csproj for Visual Studio with some sample code?

[2016-11-29 08:49] AndreyAkinshin commented on #308
Yep.

[2016-11-30 14:23] AndreyAkinshin opened #310 "Support 32bit benchmarks for .NET Core"

[2016-11-30 16:18] another-guy opened #311 "How to debug benchmarks that fail with exception on file system access operations"
Here's the exception I observe when run my benchmark. When run from visual studio, I don't hit breakpoints I set in benchmark methods, I guess this is because the library compiles the original benchmark into some other binary artifacts which in turn get executed later. Obviously, these binaries are not known by Visual Studio, so my breakpoints are not magically mapped to the binaries' locations.

[2016-11-30 16:28] AndreyAkinshin commented on #311
Yep, you are right.

Unfortunately, there is no a nice way to debug a benchmark in the current version of BenchmarkDotNet. For now you could do the following: mark your benchmark class with the `[KeepBenchmarkFiles]` attribute. In the logs, you can find where BenchmarkDotNet put generated program file (just a simple *.cs file). Next, you can try to debug the generated code manually.

@adamsitnik,

[2016-11-30 17:20] another-guy commented on #311
@AndreyAkinshin Thank you for your quick response. I will try to debug the benchmark using the generated files as you suggest. Hopefully, it will help me resolve the file system access issue.

~ Igor

[2016-12-01 10:16] mattwarren commented on #311
@AndreyAkinshin @adamsitnik In my `MiniBench` project, I'm sure that I was able to get Roslyn to emit .pdb files that would allow debugging, see [this code](https://github.com/minibench/minibench.warren/blob/master/MiniBench/CodeGenerator.cs#L174), compared to [what we're currently doing](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Toolchains.Roslyn/Toolchains/Classic

[2016-12-01 10:23] AndreyAkinshin commented on #311
@mattwarren thanks for the info, it would be great to use pdb file for generated project. @adamsitnik, can we do it?
However, I think that it will be enough to launch Debugger in the right place because we already have pdb files for original code. Next, user can attach VisualStudio (it should work for full framework and coreclr, don't sure about mono).

[2016-12-01 21:58] GeertvanHorrik opened #312 "RuntimeInformation can be made static and internal"
I was looking for a way to view the specs of the system benchmarks are run on for my multi-version-comparison. During this search, I stumbled upon

https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Portability/RuntimeInformation.cs#L20

I think the class can be internal static?

Or public static and all members could be static. Then I can re-use this functionality :-)

[2016-12-02 03:19] AndreyAkinshin commented on #312
@GeertvanHorrik, thanks for the report. I'm working on this class right now, the API will be improved soon.

[2016-12-02 08:54] adamsitnik commented on #311
@AndreyAkinshin @mattwarren I like the idea with .pdb and Debuger.Break, will try it soon.

[2016-12-02 09:05] GeertvanHorrik commented on #312
I was able to use the HostEnvironmentInfo.ToFormattedString which uses this class, so no need to make it public (at least for me).

[2016-12-02 18:37] AndreyAkinshin commented on #299
Another idea: we could also override names of the columns for cases when user want to use a standard column with another name. Examples: `RPS` instead of `Op/s` (see also: https://github.com/aspnet/KestrelHttpServer/blob/2016578f4eba0dcd243f47a47410962f39f5d97e/test/Microsoft.AspNetCore.Server.Kestrel.Performance/columns/RpsColumn.cs), `Avr` instead of `Mean`, and so on.

[2016-12-02 19:39] AndreyAkinshin opened #313 "Bug in Generator (interface as a return type)"
Repro:
[code]

[2016-12-02 19:53] #313 closed

[2016-12-02 20:08] adamsitnik commented on #299
@AndreyAkinshin Nice feature, but most probably only our super users would use. Will it be easy to implement?

[2016-12-02 20:47] AndreyAkinshin commented on #299
Yep, I will do it as a part of column refactoring (v0.10.2).

[2016-12-03 10:52] #312 closed

[2016-12-03 17:53] hoonzis opened #316 "Missing method System.Collections.Immutable.ImmutableArray when running from F# repl"
I am using BenchmarkDotNet to benchmark F# code. Everything works fine if I run the benchmark from console aplication:

    [<EntryPoint>]
    let main argv =
        let summary = BenchmarkRunner.Run<BinomialBenchmark>();

For some quick tests, I wanted to run the benchmark from F# interactive window and here I get the following exception:

    System.MissingMethodException: Method not found: 'Sy

[2016-12-03 19:37] adamsitnik commented on #303
Also if we 100% switch to Roslyn we should print it's version in summary (it's important because Roslyn can do some optimizations)

[2016-12-04 09:25] ig-sinicyn opened #317 "[Raw idea]: Share pseudo-random seed for same run benchmarks?"
_DISCLAIMER_
I'm not sure the thing is required at all and I have no good thoughs on how to implement it.
So, I just leave it there:)

Okay,  back to topic. We have some benchmarks we run constantly and we want to ensure that results are accurate for wide range of data.

We're doing it via generating random seed, logging it to test output and then creating a new random to be used across rest of th

[2016-12-04 10:08] adamsitnik commented on #317
@ig-sinicyn I always hardcode the initial seed, and as far as I know every n-th call to Next will give the same result. Sth like

[code]

[2016-12-04 10:13] ig-sinicyn commented on #317
@adamsitnik
yep, we're hardcoding seeds on inital stages too.

But after the code is getting mature we're more interested in good case coverage, not on repeatability. And it works... until it fails:) And then it's pretty tricky to repeat the same run with same seeds.

[2016-12-04 10:17] ig-sinicyn commented on #317
Just to clarify: on normal tests we're generating a random seed and write it to the test output.

If the test fails I replace generated seed with logged one and then reproduce the failure.

With benchmarks there's no single place to store generated seed. Each methods runs in separate process so ther's no easy way to pass the seed to it.

[2016-12-05 07:18] ig-sinicyn opened #319 "[Request] some API to public?"
Hi!

Can you make the `GcStats` and `Net46Toolchain` internal members public?

Need them to support GC stats in custom engine and to run out-of-process benchmarks using BenchmarkDotNet.Core only, respectively.

[2016-12-05 07:33] adamsitnik commented on #319
sure, give me a minute

[2016-12-05 07:33] AndreyAkinshin commented on #319
I don't have any objections. The only reason of the internal visibility of some API is the following: we don't want to have public API which no one will use. If you need it for some purpose,s it's definitely should be public.

[2016-12-05 07:34] AndreyAkinshin commented on #319
@adamsitnik, mark them with the `PublicAPI` attribute (from `JetBrains.Annotations`). This ensures that someone (probably me =) ) will not make it internal again.

[2016-12-05 07:35] #319 closed

[2016-12-05 07:38] adamsitnik commented on #319
@AndreyAkinshin ups I have already pushed the commit. I will add this adnotations other time, most probably I should review the Toolchains and apply it where needed

[2016-12-05 07:44] AndreyAkinshin commented on #319
Ok, LGTM. Once I want to publish API reference (based on the xml documentation) and do a visibility review (probably, a lot of method will be internal eventually). `[PublicAPI]` will allow to keep the `public` modifier where it's required.

[2016-12-05 07:46] AndreyAkinshin commented on #295
@adamsitnik, could you take a look at this issue? It would be nice to make the solution warning-free. =)

[2016-12-05 08:07] #295 closed

[2016-12-05 08:11] AndreyAkinshin commented on #295
@adamsitnik, thanks!

[2016-12-06 16:55] svick opened #320 "Results table should be a GitHub Flavored Markdown table"
Currently, the results table printed to the console looks something like this:

[code]

This is *almost*, but not quite, the format used for tables in [GitHub Flavored Markdown](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown) and if copy-pasted directly into GitHub renders broken:

    Method |      Mean |    StdDev |    Median |
---------- |---------- |----------

[2016-12-08 12:31] UncleFirefox opened #321 "BenchmarkRunner.RunUrl throws BenchmarkSystem.IO.FileNotFoundException"
Hi,

I'm trying to run the web samples from the repo using the raw url like for example:

` var summaryFromUrl =
                BenchmarkRunner.RunUrl("https://raw.githubusercontent.com/dotnet/BenchmarkDotNet/master/samples/BenchmarkDotNet.Samples/Intro/IntroBasic.cs");`

But I always got this exception.

[code]

It seems from what I see in the console while executing that the RunUrl method place

[2016-12-08 18:43] arthrp commented on #308
@AndreyAkinshin Sorry for the late response :) Re-reading my comments I now have realized I didn't describe the issue properly.
I'm running Mono, so the only flavor I can run with it is .NET Core one (I can't even add the regular version).

Official guide states, to run the simple one you must do this:
[code]

No such class in .NET Core version :) There is a ```BenchmarkRunnerCore```, however. Whi

[2016-12-09 23:41] cesarbs opened #322 "First benchmark always fails when running on .NET Core with -c release"
Repro project here: https://github.com/cesarbs/BenchmarkFail

Steps to reproduce:

- Start from a clean repo
- `dotnet restore`
- `cd src/BenchmarkFail`
- `dotnet run -c release`

Output for the first benchmark:

[code]

**Does not happen when run with `-c Release` (note the uppercase R)**, but if you try that after running with `-c release` and not cleaning the repo, it fails in the same way.

No

[2016-12-10 00:09] halter73 commented on #322
I think this is probably a misunderstanding and not a bug, so I'm adding on a comment to this issue.

@cesarbs and I started adding `-c Release` to `dotnet run` because we were seeing warning like `Benchmark was built in DEBUG configuration. Please, build it in RELEASE.` after upgrading from 0.10.0 to 0.10.1.

The thing is, this doesn't seem necessary. I added the following to the benchmark projec

[2016-12-10 13:51] dazinator commented on #258
Any further news on this?

[2016-12-10 14:42] AndreyAkinshin commented on #258
@dazinator, I definitely want to implement it in the nearest future, but I still don't know how the API should look like.

[2016-12-10 14:46] AndreyAkinshin commented on #322
@cesarbs, @halter73, thanks for the report.
@adamsitnik, could you take a look?

[2016-12-10 17:12] dazinator opened #323 "Dead code elimination - is this safe?"
I have a benchmark like so:

[code]

I would use `[OperationsPerInvoke]` except it's not dynamic, so I use  `[Params(1, 10, 100, 500, 1000, 10000)]` instead.

My question is, I don't really like having to construct and return a list in my Benchmark method, however I need to ensure that something is done with each result in the iteration so that dead code elimination doesn't remove it.

Is this saf

[2016-12-10 17:19] dazinator commented on #258
How about yielding an IEnumerable, where each item yielded would represent one operation and therefore the total operations would be something doing a Count() on the other end.. I just raised an issue showing that kind of thing..

[2016-12-10 18:05] ig-sinicyn commented on #258
@AndreyAkinshin
I've investigated this some time ago. I'd prefer to have this as an attribute applied to the benchmark class, not to the specific method.

[2016-12-10 18:20] dazinator commented on #258
If the benchmark method yielded an OperationResult, that wouldn't need any attributes either.. ?

[2016-12-10 18:33] ig-sinicyn opened #324 "[FeatureRequest] Summary: data from Analyzers."
Subj:)

Real-world scenario: I have some values that are determined during analysis pass and I want to include them into summary table. Current implementation initializes the table immediately after benchmark run so there's no way to pass the values from the analyzer.

So far there are two options I thought about:

* Do not init the table until all analysers are complete. Will break all analyzers

[2016-12-11 17:43] adamsitnik commented on #308
@arthrp I believe that we have misunderstanding due to our packages naming convention and lack of comments at nuget.org

Our end users should install only `BenchmarkDotNet` (which exposes `BenchmarkRunner` and `BenchmarkSwitcher` classes) or BenchmarkDotNet.Diagnostics.Windows`.

Internally all packages use BenchmarkDotNet.Core which has nothing to do with .NET Core, it is just the core of benchma

[2016-12-11 17:56] adamsitnik commented on #321
Hi!

Thanks for the bug report! Currently I have no workaround. The solution would be to persist the dll created [here](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Running/ClassicBenchmarkConverter.cs#L45) in `typeof(Benchmark).Assembly.Location` folder. Once I get from holidays I will fix it (after 26th of December)

[2016-12-11 18:07] adamsitnik commented on #322
Hello @cesarbs, @halter73!

Thanks for the bug report!

What we do today:
* analysis of the currently loaded dlls (all build in debug when executing simple `dotnet run`)
* warn the user about lack of the optimizations
* anyway we use `dotnet build -c Release` to build the auto generated project, which anyway with help of dotnet cli will rebuild all used projects in the Release mode.

So user did n

[2016-12-12 01:51] another-guy opened #325 "Setup & Cleanup versions of attribute which would run before/after each benchmark iteration"
As I understand, the Setup and Cleanup attributes are invoked once per entire benchmarking session, no matter how many iterations are going to be executed.

In my use case I need some similar attribute that will instruct BenchmarkDotNet to run some code before and after each iteration. This is because I am trying to measure the creation time ("cost") of the resource-holding object which need to be

[2016-12-12 12:52] AndreyAkinshin commented on #323
In both cases, you will have some overhead. Here is an almost overhead-free benchmark:
[code]

[2016-12-12 13:07] dazinator commented on #323
ah nice! Thanks @AndreyAkinshin !

[2016-12-12 13:07] #323 closed

[2016-12-12 13:14] AndreyAkinshin commented on #325
Similar issues: https://github.com/dotnet/BenchmarkDotNet/issues/270, https://github.com/dotnet/BenchmarkDotNet/issues/274

Is seems that it is a popular request. Originally, BenchmarkDotNet was designed for microbenchmarks (in this case, the Setup/Cleanup methods can easily spoil results). However, if a benchmark takes some time (e.g. more than `1ms`), such feature looks valid. I'm going to imple

[2016-12-12 13:14] AndreyAkinshin commented on #324
Makes sense to me, will be implemented.

[2016-12-12 13:34] AndreyAkinshin commented on #317
Sometimes, I use the following approach:
[code]
It allows:
1. Share the same seed between all the benchmark methods.
2. Check performance on different random sets of input data.
3. Easily view the results for each seed.
4. Introduce several independent seeds.

@ig-sinicyn, does it solve your problem?

Some additional thoughts: Probably it makes sense to implement own `Random` class with a rich set

[2016-12-12 13:35] AndreyAkinshin commented on #316
@adamsitnik, could you take a look?

[2016-12-12 13:36] AndreyAkinshin commented on #307
It seems that we should just use the `.ToStr()` hotfix, I don't know a good solution for this problem.

[2016-12-12 13:44] AndreyAkinshin commented on #308
@adamsitnik, yes, we should update the description. But I prefer something like "Core BenchmarkDotNet logic for all target frameworks". What do you think?

[2016-12-12 14:00] ig-sinicyn commented on #317
@AndreyAkinshin

Nope, as I'd expect to use random seed to provide more randomness:)
But the  `BenchmarkRandom.Create()`  will do 👍

Yep, this will work, if the default `BenchmarkRandom.Create()` will use the same seed for all methods in benchmark and the seed will be logged.

P.S. To be honest, I do not see any point in setting RndSeeds on per-method level, but it's just me : )

[2016-12-12 14:09] AndreyAkinshin commented on #317
An example: it's ok to use a single seed for almost all methods, but we have one tricky methods which we want to run against several seeds.

[2016-12-12 15:01] another-guy commented on #325
@AndreyAkinshin I did not include the specific implementation for Setup, Benchmark, Cleanup because I don't actually have them at the moment. I was trying to write the Benchmark when I realized it seems impossible to write it the way I wanted. This is when I decided to open the issue.

Also, I keep forgetting the fact it's important for benchmark method to run for longer than one tick (or `1ms`) o

[2016-12-12 16:08] another-guy commented on #325
@AndreyAkinshin I see that you're going to treat this issue as an enhancement. May I ask you to consider the following point as a soft requirement?

To your point, very short benchmark method execution time (whether it's under 1ms or 1 tick -- I'm not sure) can lead to incorrect result calculation. Would it be possible **generate an error** when the framework detects this situation? Alternatively,

[2016-12-12 18:12] adamsitnik commented on #308
@AndreyAkinshin ok, but let's add to it sth like "Do not install this package manually, it will be added as a prerequisite by other packages that require it." like [Roslyn does](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Common/) so we can avoid this kind of problems in the future

+ in the docs we should state it explicitly that there is single package for all frameworks, which takes c

[2016-12-12 18:33] adamsitnik commented on #325
please keep in mind that the number of currently opened files by a process is limited

today you can do this with sth like this:

[code]

@AndreyAkinshin I don't like this feature because it will complicate the code a lot, and for sure will not be supported by MemoryDiagnoser

anyway maybe it could be implemented, if our `Action/Func<T>` would also accept the timer, and then when we are building t

[2016-12-12 18:44] adamsitnik commented on #317
@AndreyAkinshin I am not a fan of this idea in general. For in-process BenchmarkRunner it would be simple to implement, but for the regular one not. State management + persistence? + passing it to other process = code complication for a thing that imho is not a part of benchmarking framework.

[2016-12-12 18:49] ig-sinicyn commented on #317
@adamsitnik
I see your point. Will it look better if the seed will be threated as a part of the configuration (like Job, Params, ops per invoke and so on)?

[2016-12-12 19:29] AndreyAkinshin commented on #308
Ok, LGTM.

[2016-12-12 19:43] AndreyAkinshin commented on #325
Our toolchain will not be changed, new `RunStrategy` will affect only some characteristics like in the `ColdStart` case. E.g. we can set `UnrollFactor=1`, `InvocationCount=1`, and so on. If we carefully set all the characteristics, we will get the desired `Setup` and `Cleanup` behavior for free. Of course,  it doesn't make sense for nanosecond benchmark, but it looks valid for benchmark which take

[2016-12-12 19:45] AndreyAkinshin commented on #317
@ig-sinicyn, could you explain once again why you don't like a case when the `Seed` is a field with the `Params` attribute?

[2016-12-12 19:46] adamsitnik commented on #325
@AndreyAkinshin ok 👍

[2016-12-12 19:54] ig-sinicyn commented on #317
@AndreyAkinshin
Well, the problem is not about how the seed is stored, the problem is about seed randomness.

As far as I understand, your proposal with `[RndSeeds(1, 2, 3)]` assumes the list of seeds is finite and is hardcoded in sources. It's not a good thing as it increases chance that some random combination of the values will not be covered at all.

The second approach with `BenchmarkRandom.C

[2016-12-12 21:13] arthrp commented on #308
@adamsitnik
This is the error when installing latest BenchmarkDotNet (0.10.1):

[code]

[2016-12-12 21:36] AndreyAkinshin commented on #317
Ok, now I get it. I have the following opinion here: a benchmark should be repeatable. If you run a benchmark 100000 times, you have to get 100000 same results. Repeatability is a fundamental property of a benchmark and we will not provide any legal API which allows to get randomized results.

However, now I'm also working on so-called `ParamsProviders` — special methods which provides params valu

[2016-12-13 01:29] another-guy commented on #325
@adamsitnik thanks for pointing out the open file limit per process. I was not intended to open multiple files in parallel. 😸

[2016-12-13 06:48] ig-sinicyn commented on #317
@AndreyAkinshin
Ok, thanks! The solution with `ParamsProvider` will work for me.

[2016-12-13 09:04] zabulus opened #326 "Execution of benchmark on Windows Mobile 10 device"
I need benchmark code to be executed on WM device. Execution of a benchmark is a part of bigger process, that I don't want, or it would be impossible to port on UWP.

Is there some guide about implementation of execution part of BDN to clarify some questions?
For example, how DBN.Generated.exe process communicates with parent process.

[2016-12-13 09:13] AndreyAkinshin commented on #326
BenchmarkDotNet has a flexible architecture which allows to define own *toolchains* and specify behavior for generating, building, and executing. You could look at predefined toolchains here: https://github.com/dotnet/BenchmarkDotNet/tree/master/src/BenchmarkDotNet.Core/Toolchains Probably, we have to define another one for executing benchmarks on a device.

@adamsitnik, what do you think about th

[2016-12-13 09:40] zabulus commented on #326
Ok, I think starting point is quite clear.
I'll start with implementing custom Toolchain for new Runtime.UAP.

[2016-12-13 10:08] zabulus commented on #326
Just leaving this as reference.
Deploying Applications via SDK:
https://blogs.windows.com/buildingapps/2015/07/09/just-released-windows-10-application-deployment-tool/#Tdbu6MiJsUVZIDPl.97

[2016-12-13 12:16] zabulus commented on #326
@AndreyAkinshin I'm currently researching minimal UWP application for execution process.
Do execution process should provide additional information in any manner (console output, pipes and so on), or it could be just execute benchmark and exit process?

[2016-12-13 13:53] adamsitnik commented on #326
@zabulus [here](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Templates/BenchmarkProgram.txt) you can find the code of the auto-generated console that we are using today.

The flow is following:
Parent => generate, build and execute child process
Child => let the parent know that has started, create engine, pre allocate, run setup, warmup the jit,  let diagnoser kn

[2016-12-13 14:55] zabulus commented on #326
Child => let the parent know that has started, create engine, pre allocate, run setup, warmup the jit, let diagnoser know that setup is done, run the benchmarks, let the diagnoser know that is before cleanup, run cleanup, print the results.

Ah I found, it's ```SynchronousProcessOutputLoggerWithDiagnoser``` class on host side. Something similar should be implemented via IPC.

[2016-12-13 18:05] cesarbs commented on #322
@adamsitnik Thanks for the clarification! That still doesn't address the original issue though (that `dotnet run -c Release` works but `dotnet run -c release` doesn't). That should be case insensitive.

[2016-12-14 05:12] adamsitnik commented on #308
@arthrp I am 100% sure that it's a nuget issue. Could you update your nuget client version and try once again? [Similar issue](https://bugzilla.xamarin.com/show_bug.cgi?id=26611)

[2016-12-14 06:47] zabulus commented on #326
I've tried to continue working on porting to UAP, but at the end I came to conclusion that an additional library should be extracted as separate assembly. Let's name it Support-library. This Support library should be used only by code that is _benchmarked_, and should be as portable as possible. Problem that would be solved is that benchmark target code depends on i.e. code of diagnosers, toolchai

[2016-12-14 16:23] another-guy commented on #325
@adamsitnik @AndreyAkinshin

I ended up writing the code shown below. Obviously, it does not assess the performance of the single method anymore (namely, new FileStream(...)). Instead, it measures the execution time of the entire scenario.
This information is useful to me, but nevertheless I may end up need to test a specific method.

[code]

[2016-12-15 16:54] ig-sinicyn opened #327 "Unable to use ClassicToolchain in explicit way"
BDN 10.1, code:
[code]

output:
[code]
[log.zip](https://github.com/dotnet/BenchmarkDotNet/files/655265/log.zip)

P.S. Possible StackOverflow at [ToolchainExtensions](https://github.com/dotnet/BenchmarkDotNet/blob/0231157fb11d054fcb99474fbba999be22aa7fc2/src/BenchmarkDotNet/Toolchains/ToolchainExtensions.cs#L16)

**UPD**:
Reference to the `BenchmarkDotNet.Toolchains.Roslyn` missed. #234 strikes ba

[2016-12-15 17:18] ig-sinicyn commented on #327
**UPD:** `Net46Toolchain` fails too but the error is different:
[code]
=>
[code]
(Fresh windows 10 + VS 2017 RC installed).
[log.zip](https://github.com/dotnet/BenchmarkDotNet/files/655372/log.zip)

[2016-12-16 09:57] zabulus commented on #326
I've made the library to compile for UAP10.0 profile. It was not so hard TBH.
I've also added UapToolchain and got implementation done to UapBuilder.
Main problem is about messing with host/target libraries used by runner/benchmark code. Currently BDN expects that everything works on same platform and existing toolchains just set up location for assemblies from run-time object Assembly.Location. I

[2016-12-16 10:13] AndreyAkinshin commented on #326
@zabulus, awesome! It would be really cool to have UAP support.
@adamsitnik, could you look at the problem with assemblies?

[2016-12-16 10:28] zabulus commented on #326
@AndreyAkinshin, I also hope so ).
From here I see other issue to consider about.
Host/Target communication currently implemented via Console output and parsing. In case UAP this should be fully implemented via remote IPC: HttpServer/HttpClient, Raw Sockets, you name it. Currently ```System.Console``` is still used on target, but when I'll compile it, UapRunner won't have access to a deployed proc

[2016-12-16 15:29] adamsitnik commented on #326
we'll look for some universal solution

it's most probably a warning, could you check?

we used Console for classic desktop .NET, Mono & .NET Core because it was common ground for all of them. Since UWP is Windows-only the choice should be easier. The simpler the solution, the less dependencies the better.

@zabulus great job on doing this! sorry for my late response, I am on holidays in place whe

[2016-12-16 23:07] zabulus commented on #326
https://github.com/zabulus/BenchmarkDotNet/tree/uap
Here is my changes.
And following is log for building autgenerated project:

1>C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets(1820,5): warning MSB3277: Found conflicts between different versions of the same dependent assembly that could not be resolved.  These reference conflicts are listed in the build log when l

[2016-12-16 23:07] zabulus commented on #326
Final error:

[2016-12-17 16:26] zabulus commented on #326
I think I've resolved previous issue.
Changed dependency on package "Microsoft.NETCore.UniversalWindowsPlatform"  from "5.1.0" to "5.2.2".
Now Autogenerated project build fails with error:
```C:\Program Files (x86)\MSBuild\Microsoft\.NetNative\x64\ilc\IlcInternals.targets(936,5): error : Internal compiler error: Exception of type 'System.OutOfMemoryException' was thrown.```

[2016-12-17 17:45] zabulus opened #328 "Add Filling possibility"
My benchmarks are written to measure time of working with object. The object is mutable, so I need new object every operation run. Currently I've work around this limitation by including construction of an object in operation. Workaround adds time for each operation but because object construction the same in all operations, all operations have the same "added time".
Proposed Filling ability it is

[2016-12-18 11:17] zabulus commented on #326
I've got auto-generated project to be fully automatically compile on my PC. Though workaround for UAP libraries paths is needed.

Now I'm starting working on automatic deploy and run of a compiled application. I've found client library package for Windows Device Portal which allows many things, deploying and launching app including.
But this introduces additional dependency to this package. I thin

[2016-12-18 11:53] AndreyAkinshin commented on #326
Great news!

Totally makes sense to me. We could call it `BenchmarkDotNet.Toolchains.Uap`.

[2016-12-19 12:45] Mike-EEE opened #330 "Bug or Guidance?"
Hello Benchmark.NET Community,

First off, excellent project.  I am very impressed with the efforts here.  I have been learning it in my efforts over at the [ExtendedXmlSerializer](https://github.com/wojtpl2/ExtendedXmlSerializer).

It seems that I have run into a problem that I can't figure out, unfortunately.  I am building a serializer for EXSv2.0, and I have gotten Benchmark.NET to say that it

[2016-12-19 12:59] AndreyAkinshin commented on #330
Hello @Mike-EEE, glad you like our project.

I will look at you problem in a few days. Which benchmark should I run?

[2016-12-19 13:07] Mike-EEE commented on #330
Great!  Thank you, @AndreyAkinshin.  And yes, the exact benchmark is slightly relevant to the discussion, isn't it? 😄 Details details!  That benchmark would be [`ExtendedXmlSerializerTest.SerializationClassWithPrimitive`](https://github.com/Mike-EEE/ExtendedXmlSerializer/blob/spike/performance-slow-but-should-be-fast/test/ExtendedXmlSerializer.Performance.Tests/Benchmarks.cs#L20-L24) and I have al

[2016-12-19 13:20] AndreyAkinshin commented on #330
@Mike-EEE, could you create a revision with both implementation? Let's say `ExtendedXmlSerializer` and `ExtendedXmlSerializer2`? I understand that it will look ugly, but it will really help to produce a nice performance investigation.

[2016-12-19 16:30] Mike-EEE commented on #330
Ah yes that would be helpful, wouldn't it, @AndreyAkinshin? 😄 I guess I was thinking there might be something obvious to consider and didn't want to go down the road of putting more time into this than I already have.

So I have [created a new branch altogether](https://github.com/Mike-EEE/ExtendedXmlSerializer/blob/issues/Benchmark.NET/330), and everything you need now is in the [`Benchmarks`](ht

[2016-12-19 17:50] AndreyAkinshin commented on #330
I updated BenchmarkDotNet to v0.10.0 and rewrote your benchmark in the following way:
[code]
The `[RankColumn, WelchTTestPValueColumn]` attributes help to check the difference between benchmark methods. Here are results on my laptop:

Here are the results:
[code]
Thus, according to [Welch's t-test](https://en.wikipedia.org/wiki/Welch's_t-test), there is no statistical significant difference betwee

[2016-12-19 20:03] Mike-EEE commented on #330
WOW thank you for taking the time to look at this, @AndreyAkinshin!  It is very much appreciated.

So yes, to start with, I was not using the latest version of Benchmark.NET -- shame on me!  I did update to it and used the tests as you described and I am seeing the exact same thing:

[code]

However, there seems to be something that occurs when you combine these two classes in the same benchmark c

[2016-12-19 20:07] zabulus commented on #326
[code]
 Method | Mean | StdDev | Tool | Gen 0 |
------------------ |------------------- |---------------- |------- |--------- |
 UtcNowLatency | 236.5281 ns | 2.6017 ns | UtcNow | - |
 NowLatency | 7,208.8181 ns | 149.1966 ns | Now | - |
 UtcNowGranularity | 15,222,587.4565 ns | 75,678.6683 ns | UtcNow | - |
 NowGranularity | 15,227,980.1897 ns | 115,696.4019 ns | Now | 108.3333 |

Full console lo

[2016-12-19 20:12] zabulus commented on #326
One more thing to consider.
Device Portal needs PIN or Cookies for pairing with API.
These data should be specified in some .config file, that won't be a part of benchmark binaries.

[2016-12-19 20:14] AndreyAkinshin commented on #330
Ok, I will check such case, but I need more time for that.

[2016-12-19 20:16] AndreyAkinshin commented on #326
Awesome!

[2016-12-19 20:41] Mike-EEE commented on #330
Hey @AndreyAkinshin seeing on how you were originally going to take a look at this issue in a few days, that is perfectly acceptable to me. 😄  No worries on this end.  Please take your time!

[2016-12-20 19:12] zabulus commented on #306
I think this is good candidate for migrating to .config file. It depends on run-time, and shouldn't affect compilation time.

[2016-12-20 22:01] arthrp commented on #308
@adamsitnik sorry for the late response again. They talk about 2.8.3 in the issue (I have 2.12 which is latest in Mono repository). As far as I'm concerned there is no simple way to get latest binaries. Guess that means that it's incompatible with current Mono version :)

[2016-12-23 15:07] tugberkugurlu opened #332 "default color of terminal is changed after the run is completed"
After running the benchmark, it failed to set the terminal color back to its original color. See the below image (the terminal window at the top shows the original color):

![image](https://cloud.githubusercontent.com/assets/328122/21456522/8dac48e2-c920-11e6-992b-6e19a8cfb844.png)

`dotnet --info`:

[code]

This is the code, I have seen this under debug run (which I know is not ideal): https://gi

[2016-12-24 16:37] SamuelCox opened #333 "System.InvalidOperationException: Sequence contains no elements"
For no obvious reason, benchmarking my code produces this exception. As far as I can tell I am not doing anything wrong. Here's a gist to reproduce it: https://gist.github.com/SamuelCox/71e7467c32345eb984dbf1d75eeb199b

Seems similar to #104

The code runs fine when not benchmarking it, also fwiw my code is pretty ugly because I was trying some things to get around the issue / figure out where the

[2016-12-25 12:33] AndreyAkinshin commented on #333
Hi @SamuelCox,

I guess, you have this exception because of the `Console.WriteLine(n)` line. Now we are using console output to pass measurement values between benchmark and host processes. Several thoughts:
1. Using `Console.WriteLine` in the benchmark is a bad idea in general because it could be a bottleneck of you code.
2. If you really want to do it, you can try this workaround: `Console.Write

[2016-12-25 12:35] AndreyAkinshin commented on #332
@tugberkugurlu, thank you for the bug report. Will be fixed.

[2016-12-25 12:40] AndreyAkinshin commented on #328
Hey @zabulus, sorry for the late response. Could you write a minimal example with the proposed attribute?

[2016-12-25 13:53] zabulus commented on #328
I've implemented this in my experiment branch re-using SetupAction:
https://github.com/zabulus/BenchmarkDotNet/blob/experiment/src/BenchmarkDotNet.Core/Templates/UapBenchmarkProgram.txt#L191
https://github.com/zabulus/BenchmarkDotNet/blob/experiment/src/BenchmarkDotNet.Core/Templates/UapBenchmarkProgram.txt#L199
https://github.com/zabulus/BenchmarkDotNet/blob/experiment/src/BenchmarkDotNet.Core/Te

[2016-12-25 14:02] AndreyAkinshin commented on #328
I have some additional questions:
1. What the average time of `MethodForBenchmarking` (approximately)?
2. Why you don't want to put `itemUnderTesting = new ItemUnderTestingImpl();` inside the benchmark method?

[2016-12-25 14:10] zabulus commented on #328
Because I don't want to count time of initialization, only by ```MethodForBenchmarking```

For different experiments, different time. For fastest experiment it is about 100-200 ms.
For more longer could be 1-2 s.

[2016-12-25 14:18] AndreyAkinshin commented on #328
And what the approximated average time of the constructor?

Anyway, we will not introduce an additional attribute because users easily can design wrong benchmarks with the help of such API. Probably, [this feature](https://github.com/dotnet/BenchmarkDotNet/issues/325#issuecomment-266531489) (it will be implemented soon) will help you.

[2016-12-25 14:27] zabulus commented on #328
Yep, I understand, there are restrictions for such method.

I've implemented this in my branch and used for my project, so no problem.

Good, I'll take a look

[2016-12-25 14:27] #328 closed

[2016-12-26 06:08] #332 closed

[2016-12-26 06:21] adamsitnik commented on #308
@AndreyAkinshin what is your experience with our Mono support on Linux today? Can you install latest BDN?

[2016-12-26 07:25] #321 closed

[2016-12-26 11:42] adamsitnik commented on #310
I did some tests today.

It's possible to get x86 working, but only for Windows.
[Issue in CoreCLR](https://github.com/dotnet/coreclr/issues/8188) for porting x86 to Linux.

Getting it working on Windows today: I have noticed that `dotnet cli` which we rely on has huge limitation (dnx did not have it!): every project.json based project targets x64 by default. We can not tatget x64 from x86 program

[2016-12-26 16:09] SamuelCox commented on #333
Ah ok, that makes sense. Yeah there's no reason for me to use that method, it was just a placeholder.
Thanks!

[2016-12-26 16:09] #333 closed

[2016-12-27 07:03] jskeet opened #334 "Support netcoreapp1.0 as well as 1.1"
Updating to release 0.10.1 broke the Noda Time benchmarking project because the target platform changed to netcoreapp1.1. Did we actually need to do this? netcoreapp1.1 is more of a bleeding edge target, with 1.0 being the long-term support one. I think it would be worth supporting users who don't want to use the bleeding-edge version.

[2016-12-27 07:05] AndreyAkinshin commented on #334
/cc @adamsitnik

[2016-12-27 08:10] adamsitnik commented on #334
@jskeet the main reason for switching to 1.1 was the new `GC.GetAllocatedBytesForCurrentThread` api. Thanks to that we now have  [cross-platform, build-in and very accurate MemoryDiagnoser](https://github.com/dotnet/BenchmarkDotNet/pull/284). I really encourage you to try it ;)

What we recommend to our users is to keep their's libraries targeting 1.0 and update only their benchmarks to 1.1.  I kn

[2016-12-27 08:35] jskeet commented on #334
The downside is that if a user is running their *actual application* using 1.0, then the enhancements in 1.1 are going to give them invalid results, basically. It's great to be able to use `MemoryDiagnoser`, but I think it's more important to allow users to run their code in an environment close to their real one. (As a point of comparison, if there were a great feature which was only available on

[2016-12-27 12:43] adamsitnik commented on #334
@jskeet I agree with you. Honestly I did not expect any of our .NET Core users to stay with 1.0. Kestrel team/RavenDb guys updated the same day.

Our users can still use 0.10.0 version which had 1.0 support. I am not sure if we should re-add the 1.0 support. This would complicate our code with all the #if defines, testing and releases process and rather very few users would actually use it.

[2016-12-29 23:18] cwensley opened #335 "Support benchmarking startup performance"
I am attempting to determine the startup performance of my library ([Portable.Xaml](https://github.com/cwensley/Portable.Xaml)), but it seems there's no option to only run the benchmark a _single_ time.

I've tried using `Job.Dry.With(RunStrategy.ColdStart)` in my Config, but it still is running the benchmark twice.

Investigating the issue, it appears that [this line](https://github.com/dotnet/Be

[2016-12-30 09:14] adamsitnik commented on #335
Hi @cwensley

I like your idea, I had the same problem few times.

@AndreyAkinshin maybe we should just ommit the jitting for ColdStart? What do you think? Or rather a new strategy? `Once` ?

[2016-12-30 15:28] AndreyAkinshin commented on #335
@cwensley, thanks for the report. The bug will be fixed in the next version of BenchmarkDotNet.
@adamsitnik, I will fix it. I almost finished a new `RunStrategy` (which solves one-time Setup/Cleanup) problem. So, I will also disable jitting for ColdStart and the new strategy. Hopefully, will be done on holidays.

[2016-12-30 16:00] AndreyAkinshin commented on #103
A related issue: https://github.com/dotnet/BenchmarkDotNet/issues/326

[2016-12-31 04:14] cwensley commented on #335
Hey guys!

Thanks for the quick response, this will be really useful.  I look forward to the next release to test it out!

Cheers,
Curtis.

[2017-01-03 20:28] redknightlois opened #336 "Support Netstandard2.0"
Hi guys,

I have some benchmark code that I need to try using the new JIT changes on the development branch for 2.0. Keeping up on the development branches is usual for us  since reporting performance issues later means that we have to wait until future versions arrive (which can take months). For us is more beneficial to pinpoint those issues while they are still developing that version.

Do you

[2017-01-03 20:50] adamsitnik commented on #336
Which framework is targeting the application that is consuming this netstandard2.0 library? .NET 4.6.1 or .NET Core (if so which version)?

Do you have any minimum working example?

[2017-01-03 20:55] redknightlois commented on #336
This is all CoreCLR and we are targetting myget development branch for this.

Hardly minimal, but this is the actual PR to enable the ```Voron.Benchmarks``` assembly to run on 2.0.
https://github.com/ravendb/ravendb/pull/1266/commits/28ed2606ba4fa272cfe3d979637387c319043731

Then we changed the ```Voron.Benchmark``` dependencies to look like this:

[code]

[2017-01-04 08:47] adamsitnik commented on #336
I have cloned your fork and reproduced the problem. Now working on a fix ;)

[2017-01-04 09:40] adamsitnik commented on #336
Ok @redknightlois

I was not sure what `netcoreapp1.6` was, so I asked on twitter. The reply was:

![image](https://cloud.githubusercontent.com/assets/6011991/21638071/f55a4352-d269-11e6-9cd3-68da157b624f.png)

How to run your benchmarks: please change `netcoreapp1.6` to `netcoreapp1.1` in your `project.json` files.  Keep in mind that `netstandard2.0` should remain unchanged.

My sample results:

[2017-01-04 13:45] redknightlois commented on #336
Are you running that with netstandard2? About netcoreapp1.6 probably I screw up there, our targetting was a mess and unified everything. Highly probable fat finger issue

[2017-01-04 14:05] adamsitnik commented on #336
@redknightlois I am not sure if we have the same understanding of what .NET Standard is. It's a set of APIs, that framework can support by implementing all methods from the given api.

[Description](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard) _.NET Standard 2.0 will be implemented by .NET Framework, .NET Core, and Xamarin. For .NET Core, this will add many of the e

[2017-01-04 14:08] redknightlois commented on #336
Great, will test that. I was under the impression that CoreCLR 2.0 would target ```netstandard2.0``` exclusively.

[2017-01-04 14:10] redknightlois commented on #336
Ok, apparently not so easy.
[code]

[2017-01-04 16:10] roji opened #337 "Problematic mechanism/docs for locating Rscript.exe"
The [documentation](http://benchmarkdotnet.org/Configs/Exporters.htm#plots) instructs users to define %R_HOME%. However, the RPlotExporter expects to find Rscript.exe directly in that directory, where it seems more standard for a variable called R_HOME to point to the installation directory (as opposed to something like R_BIN). In addition, this triggers a Win32Exception with the error "The system

[2017-01-04 16:49] AndreyAkinshin commented on #337
Hi @roji,

Great!

Probably, we could just print a warning message (if we didn't find `Rscript.exe`) with useful information. Also it makes sense to update the documentation.

[2017-01-05 11:10] ig-sinicyn opened #340 "[FeatureRequest] Enable Characteristic-based properties for non-job types."
Current implementation of characteristic subsystem is tuned for `Job`-related types. If anyone wishes to use characteristics in custom types (I do:)) the code should be changed.

The changes are pretty simple:
* Introduce an `CharacteristicObject<T>` base type and derive `JobMode<T>` from it.
* Move `Apply()` and `Freeze()` methods from `JobMode` to the base type.
* Make `CharacteristicHelper` cla

[2017-01-05 11:12] AndreyAkinshin commented on #340
LGTM

[2017-01-05 15:53] ig-sinicyn commented on #340
PR ready, is it ok to close this issue?

[2017-01-06 10:44] Mattacks opened #342 ""Dotnet restore has failed" exception during dotnet run"
Using VS2017 RC (6th Jan 2017), I have followed the getting started instruction and created the Md5VsSha256 benchmark. When I fun I get then Dotnet restore error.
Target framework is  .NetCoreApp 1.1

When I copy the code into a n assembly targeting .Net Framework 4.6.2 it works OK

Failing csproj file below
[code]
Although output type says exe it is really a console app. I think this is bug in VS

[2017-01-06 13:33] adamsitnik commented on #342
We don't support .NET Core for the new .csprojs. Only project.json today, but we plan to add this support.

[2017-01-06 14:07] Mattacks commented on #342
OK. Any ETA?

[2017-01-06 14:19] adamsitnik commented on #342
@Mattacks I was planning to implement it when VS 2017 goes RTM.

Our project.json from [samples](https://github.com/dotnet/BenchmarkDotNet/blob/master/samples/BenchmarkDotNet.Samples/project.json) should do:

[code]

[2017-01-06 14:56] Mattacks commented on #342
Why is nothing ever easy in this world!

I created a new project (VS2015SP3)
Replaced the project.json
Went to add the benchmarkdotnet package:

PM> install-package benchmarkdotnet
Retrieving package 'BenchmarkDotNet 0.10.1' from 'nuget.org'.
Installing NuGet package BenchmarkDotNet.0.10.1.
Install failed. Rolling back...
Uninstalling NuGet package BenchmarkDotNet.0.10.1.
Executing nuget actions t

[2017-01-06 15:16] Mattacks commented on #342
At last - I took the full project .json from the downloaded samples, then ported across my benchmark

{
  "title": "BenchmarkDotNet.Samples",
  "buildOptions": {
    "emitEntryPoint": true,
    "allowUnsafe": true
  },
  "configurations": {
    "Debug": {
      "buildOptions": {
        "define": [ "DEBUG", "TRACE" ]
      }
    },
    "Release": {
      "buildOptions": {
        "define": [ "RELE

[2017-01-06 19:27] adamsitnik commented on #342
@Mattacks does it mean that it works now?

btw you can use ` ```code``` ` to get nice code formatting

[2017-01-06 22:03] AndreyAkinshin commented on #340
@ig-sinicyn, you can [close issues via commit messages](https://help.github.com/articles/closing-issues-via-commit-messages/), e.g. `resolves #340`. In this case, the specified issue will be automatically closed after the merge.

[2017-01-06 22:04] Mattacks commented on #342
It does indeed (on VS 2015SP3).
Thanks.

[2017-01-06 22:04] #342 closed

[2017-01-09 13:28] haf opened #343 "FileNotFoundException on mono"
Hi there,

It would seem that some update to BenchmarkDotNet has broken the project when running on mono:

[code]

This is reproducible by cloning https://github.com/haf/expecto and then running with either Rake or FAKE.

[2017-01-09 16:51] AndreyAkinshin commented on #343
Hey @haf,

Thanks for the bug report, I will investigate it. Did it work on the previous versions of BenchmarkDotNet?

[2017-01-09 16:54] haf commented on #343
Yes it worked before. It would seem there's not an actual crash from running DNB though, so I didn't catch it. Expecto's build logs on Travis shows when during the last month things were upgraded and when it started failing (silently).

[2017-01-09 16:57] AndreyAkinshin commented on #343
Could you tell me the version of BenchmarkDotNet which is work for you?

[2017-01-09 16:58] haf commented on #343
Sorry, I don't have that information since the failure was silent. They're in the travis logs. I need to get some work done after OSS all day, so I'm going to leave this bug report here.

[2017-01-09 18:08] Mattacks opened #344 "Question: How to get GC Stats"
How do I report info about the number of GC2,1,0s in a benchmark?
thanks
Matt

[2017-01-09 20:14] adamsitnik commented on #344
You need to use `MemoryDiagnoser`. You can find the description [here](http://benchmarkdotnet.org/Configs/Diagnosers.htm)

[2017-01-09 21:51] Mattacks commented on #344
Yes, I saw that. On that page it says "the extra columns on the right-hand side ("Gen 0", "Gen 1", "Gen 2" and "Allocated"

But

- in the table presented there are no columns labelled Gen1 and Gen2
- the columns in the tables that come out do not seem to indicate "number of collections" which is what I would like to gather, but amount collected. Am I wrong?

I would like to add my own Diagnostic i

[2017-01-10 09:02] adamsitnik commented on #344
We display Gen 0/1/2 columns if there were any collections in these generations. Usually there are only Gen 0 collections.
We also scale the results, because some benchmarks might get executed 1k times, other 2k times, so if they have equal number of collections it does not mean that they are equal. That's why we scale the results (user see a number of collections per 1k benchmark invocation).

If

[2017-01-10 09:40] Mattacks commented on #344
Perfect, thanks

[2017-01-10 09:40] #344 closed

[2017-01-10 22:22] haf commented on #343
https://www.nuget.org/packages/Expecto.BenchmarkDotNet/1.1.2 worked

[2017-01-10 22:48] haf commented on #343
Currently downgrading BenchmarkDotNet...

[2017-01-14 07:57] #337 closed

[2017-01-14 08:01] #340 closed

[2017-01-14 11:16] alinasmirnova opened #345 "Fail to run IntroAdvancedStats in dry mode"
It causes an unhandled exception:

[code]

[2017-01-14 12:16] #307 closed

[2017-01-14 12:23] #345 closed

[2017-01-14 14:05] #335 closed

[2017-01-14 14:19] AndreyAkinshin commented on #335
@cwensley, fixed, will be released soon. Also see [IntroColdStart](https://github.com/dotnet/BenchmarkDotNet/blob/master/samples/BenchmarkDotNet.Samples/Intro/IntroColdStart.cs).

[2017-01-18 06:55] kkbruce opened #349 "What the report title and value means?"
I don't understand report title and value means?

Example:
http://benchmarkdotnet.org/GettingStarted.htm#step-4.-view-results

Mean, StdDev means?
Mean, StdDev, Gen 0, Allocted 'xxx us' value  means?

Thanks

[2017-01-18 07:05] AndreyAkinshin commented on #349
* **Mean**: Average time of all the meaningful measurements
* **StdDev**: [Standard deviation](https://en.wikipedia.org/wiki/Standard_deviation) of these measurements
* **Gen 0**: Amount of garbage collections in generation 0
* **Allocated**: Allocated memory
* **us**: [Microseconds](https://en.wikipedia.org/wiki/Microsecond)

In the future, I want to add a legend for each column under the summary

[2017-01-18 09:13] kkbruce commented on #349
Hi Andrey

Is big or small us is good?

Example:

Mean | StdDev

1.23 us is good?
or
2.34 us is good?

Thanks your reply.

[2017-01-18 09:16] AndreyAkinshin commented on #349
What do your mean?

A method with `Mean = 1.23 us` works ~ 2 times faster than a method with `Mean = 2.34 us`.

[2017-01-18 09:17] kkbruce commented on #349
I got it, thanks.

[2017-01-18 18:54] halex2005 commented on #334
@adamsitnik I offer you to give different version number like 0.11.0 to netapp1.1 release in case the backward compatibility was broken. Do you use [semver for versioning](http://semver.org)?

[2017-01-18 21:30] adamsitnik commented on #334
@halex2005 You are right. The problem is that we have already shipped this version, so it's too late. But I have noted this, will avoid it the future.

[2017-01-19 04:46] AndreyAkinshin commented on #334
@halex2005, hopefully, we will use semver after 1.0.

[2017-01-19 21:12] AmadeusW commented on #118
@AndreyAkinshin I see you removed up-for-grabs label. Is someone working on this? Can I take it?

[2017-01-19 21:35] AmadeusW commented on #146
There is a similar issue that affects measurement of allocated bytes.

Using v0.10.1, `Allocated` column in the reports has data in both `kB` and `MB`
![image](https://cloud.githubusercontent.com/assets/1673956/22126274/ec5b47f4-de4b-11e6-92f9-bcea2d7503f8.png)

[2017-01-20 04:18] AndreyAkinshin commented on #118
@AmadeusW, ok.

[2017-01-20 05:34] AndreyAkinshin commented on #349
@kkbruce, yes. See also: http://benchmarkdotnet.org/HowItWorks.htm

[2017-01-20 05:38] kkbruce commented on #349
I see.
Thanks.

[2017-01-20 05:38] #349 closed

[2017-01-20 09:20] AndreyAkinshin opened #350 "ParamsSource"
I suggest to add an ability to generate source for `Params` via additional methods. An example:
[code]
The `ParamsSource` approach should also resolves #37, #256, #317.
@mattwarren, @adamsitnik, what do you think? Is the `ParamsSource` name is good enough for this attribute or we should choose another name?

[2017-01-20 09:28] adamsitnik commented on #350
I like the approach!

[2017-01-20 16:08] mattwarren commented on #350
Same here, this looks like a nice extension to the existing way of doing `Params`.

The only other one I can think of is `ParamsGenerator`, not sure if it's better though?

[2017-01-20 20:16] benaadams commented on #336
Have a similar issue when trying to run https://github.com/aspnet/KestrelHttpServer/tree/dev/test/Microsoft.AspNetCore.Server.Kestrel.Performance

[code]
Errors with

[code]
Gets a bit further; then errors with

// Launch: 1 / 3

   at System.Reflection.PseudoCustomAttribute._GetSecurityAttributes(RuntimeModule module, Int32 token, Boolean assembly, Object[]& securityAttributes)
   at System.Refle

[2017-01-21 05:08] benaadams commented on #336
Fixed with this change https://github.com/aspnet/KestrelHttpServer/commit/10fe5e6fa25e95ab9acd2b3bd733e78be4315a37

[2017-01-21 07:37] AndreyAkinshin opened #351 "Fix OS Version in Summary for Windows 10"
Now I have the following `Environment.OSVersion` on my laptop with WIndows 10: `Microsoft Windows NT 6.2.9200.0` (instead of `Microsoft Windows NT 10.0.14393.0` which is the correct version for me). It seems that we should do some manifest file magic, see:

https://gist.github.com/devlead/d41763d293e5c6cc5f88
https://johnkoerner.com/csharp/what-does-environment-osversion-return-on-windows-10/
http

[2017-01-21 09:39] AndreyAkinshin opened #352 "Troubles with CoreJob on Linux"
If we try to run a benchmark with CoreJob on Linux, we will get the following exception (Kubuntu 16.10, mono 4.6.2):
[code]
Expected behaviour: BenchmarkDotNet should print a nice warning (like "It is impossible to run CoreJob on Linux").

[2017-01-21 09:53] AndreyAkinshin commented on #352
It seems that [this approach](http://stackoverflow.com/a/2279346/184842) allows to fix `FATAL UNHANDLED EXCEPTION` (but we still have to print a warning).

[2017-01-22 15:03] AndreyAkinshin commented on #316
@adamsitnik ?

[2017-01-23 22:17] #336 closed

[2017-01-23 22:28] adamsitnik commented on #336
@redknightlois @benaadams

Changes: user can influence the auto-generated project.json file now. This is possible by using the custom configs.

Use `.With(CoreToolchain.NetCoreApp12)`   to get:

[code]

Use `.With(CoreToolchain.NetCoreApp20)`   to get:

[code]

if this is not enough you can use:
`.With(CoreToolchain.From(new NetCoreAppSettings($targetFrameworkMoniker, $microsoftNetCoreAppVersion))

[2017-01-24 03:44] AndreyAkinshin commented on #336
@adamsitnik, could you also update the documentation?

[2017-01-24 17:31] roji commented on #300
+1 on this, since updating my project to the new csproj format I can no longer run benchmarks... I really hope you guys get around to doing this soon!

[2017-01-25 13:06] roji commented on #342
@AndreyAkinshin  @adamsitnik I really hope you guys reconsider and add support for VS2017/new csproj ASAP, rather than waiting for VS2017 to go RTM. I've just ported my package (Npgsql) to VS2017 to be able to use some important C# 7.0, and am really blocked by not being able to run benchmarks. It's true that playing catchup with Microsoft isn't easy (I do it too), but the new csproj is here to st

[2017-01-25 13:16] adamsitnik commented on #342
@roji  I know it, the problem is that first few previews of VS 2017 were really shitty. I just wanted to wait until it gets stable. I have spent a lot of my free time to implement dnxcore50, netcoreapp1.0, netcoreapp1.1 and netcoreapp2.0 support. I definitely want to implement it.

On Friday I am flying to Redmond, should be busy for two weeks. As soon as I find some free time I try to implement i

[2017-01-25 13:17] roji commented on #342
@adamsitnik thanks. I really understand, I've been riding the Microsoft prerelease train since beta6 and it's not been easy... Hopefully with the RC label VS 2017 really is nearing stability and it's worth jumping in.

Thanks for all the great work!

[2017-01-25 13:22] adamsitnik commented on #342
@roji  Thanks for understanding. My ultimate goal is to use Roslyn and be independent from project types like we are today for classic .NET Framework. I tried some PoC, but so far found few blocking things. It's not that easy to mimic dotnet cli behavior and make it right ;)

[2017-01-25 22:26] Mike-EEE opened #353 "Assistance Understanding Results"
Hello,

I looked around in the documentation, but I am having trouble finding a page that breaks down the results.  My question is pretty straight-forward, however.  Consider the following results:

[code]

As you can see, there's a solid stream of results in 104-105us area.  But then there's a final "cleanup" that puts the results in 99-100.  It doesn't seem that the lower numbers are used toward

[2017-01-25 22:45] adamsitnik commented on #353
We need to enable AppDomain's resource tracking to get the number of allocated bytes. This can have side effects.  We perform a separate run for the diagnosers only, take gc stats, and ignore the timings for the last run. It's done only when some diagnoser is attached, and MemoryDiagnoser is enabled by default since v0.10.1.

`// Run, Diagnostic` indicates that this is separate run, for diagnosers

[2017-01-26 00:15] Mike-EEE commented on #353
Awesome @adamsitnik!  Exactly what I am looking for.  I will check it out and follow up with any questions on the blog post. :)  Thanks again!

[2017-01-26 10:17] adamsitnik commented on #300
@roji Good news! I have experimental version for you ;)

1. Add our custom CI nuget feed to your nuget sources `https://ci.appveyor.com/nuget/benchmarkdotnet`
2. Upgrade your .NET App to netcoreapp1.1, remember to also update the `Microsoft.NETCore.App` nuget package to 1.1.0
3. Use the custom toolchain, sample config below. The key is `.With(Job.Default.With(CsProjToolchain.NetCoreApp11))`

[code

[2017-01-26 10:50] roji commented on #300
@adamsitnik wow thanks, that was pretty quick :) I'll try to test ASAP and provide feedback.

[2017-01-26 18:14] AndreyAkinshin commented on #353
I opened this issue because I want to investigate why do we have such results.

[2017-01-26 18:20] Mike-EEE commented on #353
Ah @AndreyAkinshin, if you need a test case, here is the test within the commit that produced the odd behavior:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/7a1918c57917ba3ee6374c3a972e669b3797ea5a/test/ExtendedXmlSerializer.Performance.Tests/Benchmarks.cs#L55-L73

Part of the PR if interested in the context/discussion:
https://github.com/wojtpl2/ExtendedXmlSerializer/pull/40

[2017-01-26 18:20] Mike-EEE commented on #353
So to backup here, are you saying the results in the memory diagnoser should be similar to the previous executions?

[2017-01-26 18:28] AndreyAkinshin commented on #353
@Mike-EEE

Thanks!

I expected that diagnosers results should be greater than results without diagnosers (because we have some overhead in the diagnoser case). For now, I don't understand why it works faster with diagnosers.

[2017-01-26 18:35] Mike-EEE commented on #353
OK cool, that **does** make sense to me, as well.  In this case I had a boxing reference on an `ImmutableArray` that ended up causing the odd issues discussed in that PR.  It was very weird behavior, as I mentioned, where one test was always faster than the other, but never were they both "fast" as the merged commit ultimately ended up being, thankfully.  Tricky bits. :)

[2017-01-29 01:06] Mike-EEE commented on #353
So another thing I am noticing.  If I run the same benchmark, it will emit this line:

`GC:  291 0 0 0 61440`

But sometimes it will be:
`GC:  287 0 0 0 61440`

Additionally, during the memory diagnoser it displays:

`GC:  275 0 0 2311548120 61440`

Or:
`GC:  279 0 0 2311548120 61440`

Are these results supposed to be consistent numbers or is it expected to be off a few (looks like four in this ca

[2017-01-29 03:27] adamsitnik commented on #353
The GC line [contains](https://github.com/dotnet/BenchmarkDotNet/blob/4115a25cd29d6635d4391500a9ea13094a159b69/src/BenchmarkDotNet.Core/Engines/GcStats.cs#L124):

`$"{ResultsLinePrefix} {Gen0Collections} {Gen1Collections} {Gen2Collections} {AllocatedBytes} {TotalOperations}";`

To get the `AllocatedBytes` for .NET Framework we need to enable [app domain monitoring](https://github.com/dotnet/Benchm

[2017-01-29 03:44] Mike-EEE commented on #353
Great @adamsitnik that really clears it up for me.  Thank you!  So silly (and hopefully final :smile:) question here: is the GC that happens during Benchmark.NET manually invoked on Benchmark's side or does it happen "naturally" as it would in a regular application?

The reason why I ask is that I had a design whereby I was using static singletons for application components that utilized `Conditio

[2017-01-29 04:04] adamsitnik commented on #353
@Mike-EEE your case with conditional weak table is very interesting!

By default BDN induces GC for each of it's iterations. But what is iteration? Let's consider following example:

[code]

here it's 3 iterations, each executed benchmarked method 2048 times ([more](http://benchmarkdotnet.org/HowItWorks.htm)). So after every 2048 we call `GC.Collect`. But these collections are excluded from the re

[2017-01-29 04:23] Mike-EEE commented on #353
AWESOME!  Yes, that is good to know.  I am in the middle of a significant refactor right now but when I get the chance I am going to re-enable those singletons and see if I can get my design back. :)  I will update here with any findings. 👍

[2017-01-29 13:36] dfch opened #354 "BenchmarkRunner throws NullReferenceException when trying to run benchmarks in assemblies that do not have a DLL file extension"
I encountered the following error when running a benchmark inside an assembly that does not have a DLL file extension:

[code]

When I change the file extension from (in my case **`hywsbvq0.onp`** to **`hywsbvq0.onp.dll`** the BenchmarkRunner will complete without error.

I am using BenchmarkDotNet v0.10.2.

Steps to reproduce:

1. I am compiling some code inside CSI via Roslyn into an assembly wh

[2017-01-30 03:39] adamsitnik commented on #354
Hello @dfch ! Thanks for a well described bug report. I'll fix it

[2017-02-02 00:46] bleroy commented on #300
Worked for me. I was able to upgrade my project to the new tooling with this build. No problem to report yet. Thanks!

[2017-02-02 00:49] adamsitnik commented on #300
@bleroy thanks for the feedback!

I am in Redmond now, I have met @cesarbs and we improved the toolchain. Currently I am removing last problems, it will be 100% production ready very soon,

[2017-02-02 13:47] ig-sinicyn commented on #327
Still reproduces with Net46Toolchain and CoreToolchain. VS 2017.
[code]
[log.zip](https://github.com/dotnet/BenchmarkDotNet/files/747873/log.zip)

[2017-02-02 13:57] ig-sinicyn commented on #327
UPD: more detail : .net 46 toolchain emits `project.json` and it looks like latest dotnet cli (1.1.0) [does not support it anymore](https://github.com/dotnet/core/issues/440).

archive with generated project:
[Program_Test_Job-ZKILXX.zip](https://github.com/dotnet/BenchmarkDotNet/files/747901/Program_Test_Job-ZKILXX.zip)

[2017-02-02 16:20] adamsitnik commented on #327
The real bug was caused by recent characteristic changes, which required parameterless ctors for toolchains. [Fix](https://github.com/dotnet/BenchmarkDotNet/commit/5c8c75d0ab8cc15b2b908395416fe04a9613fc5f)

The thing you reported now is lack of support for latest dotnet cli, which is tracked as part of #300 . I am closing this one, will be fixed as part of #300

[2017-02-02 16:20] #327 closed

[2017-02-03 09:14] Mike-EEE commented on #353
OK it turns out I was CACHING ALL THE THINGS! and this was causing the performance issues I was seeing in regards to weak vs. strong (concurrent) dictionaries.  That is, the behavior that I was caching was much faster than the time required to do a lookup.  Good learning lesson. :)

Right now I have four classes that are using weak tables, and the difference between using strong dictionaries is ab

[2017-02-03 14:34] adamsitnik commented on #353
@Mike-EEE  Do you get any GC collections? Is GC doing anything? It's possible that your benchmarks are not allocating any memory, so the GC does nothing. With force = true it would at least perform some cleanup.

[2017-02-03 14:43] Mike-EEE commented on #353
Here is an example result, @adamsitnik:

[code]

I guess my question is... how much time would a sweep take?  Or I guess how much overhead would you expect it to add?  Would it be noticeable?  I should also say that I am seeing variations in the results between 2-3us.  So in the case above with `SerializationClassWithPrimitive` the mean strikes between 50-53us.  I believe that is expected, however

[2017-02-05 15:01] adamsitnik commented on #353
It depends on multiple things:
* generation size (which is changing in time due some heuristics)
* gc mode: server vs workstation, concurrent or not
* what % of the objects are trash and can be reclaimed? what will be promoted to next generation?

You could measure it with BenchmarkDotNet, but it would be limited to the scenario you implement (we cant mimic the rest of the app, we just measure the

[2017-02-06 17:43] ig-sinicyn opened #358 "[Need help] InProcessToolchain PR, some design questions"
**UPD** [Completed](https://github.com/ig-sinicyn/BenchmarkDotNet/tree/feature-inprocess/src/BenchmarkDotNet.Core/Toolchains/InProcess), will do PR after #356 merged.

I'm preparing PR of the InProcess toolchain that allows to run benchmark code without compiling binaries / running another process.

The main benefit of it is ability to run a lot of tests very quickly in cost of less accurate resul

[2017-02-09 20:20] niemyjski opened #359 "Support for new CSProj Format?"
I get tons of errors about dotnet restore and other failures when running (https://github.com/exceptionless/Foundatio/tree/master/test/Foundatio.Benchmarks) under VS2017 RC4. Is this a known issue?

[2017-02-09 22:45] Mike-EEE commented on #353
OK this is really great information, @adamsitnik.  Thank you for taking the time to explain.  In all the test runs that I have performed with BDN, I have never seen a generation 1 or 2; everything has been relegated to generation 0.  It also seems as if GC is executed *during* test runs, which is sort of obvious, but worth noting, as the `Gen 0` column states that GC is collected nearly 4.4 times

[2017-02-10 07:16] adamsitnik commented on #359
Yes, we are working on that. Please follow #357 for further updates

[2017-02-10 17:59] ig-sinicyn opened #360 "[Suggestion] Duplicates handling for IConfig"
Current implementations of `CompositeXxx` wrappers (`CompositeLogger`, `CompositeDiagnoser` etc) do not have common policy for duplicate values.

For example, the `CompositeDiagnoser` [removes duplicates](https://github.com/dotnet/BenchmarkDotNet/blob/f1f2317dafc663a2fa854ea566ede8befc68ea6d/src/BenchmarkDotNet.Core/Diagnosers/CompositeDiagnoser.cs#L17) but the `CompositeAnalyser` [stores them as-

[2017-02-12 13:48] ig-sinicyn opened #361 "[FeatureRequest] Custom IColumn category"
Subj:)

I'm playing with custom analysers for IO / Sql stats and it looks like a good idea to have a way to group related stats together. `string IColumn.CustomCategory { get; }`, maybe?

[2017-02-17 18:01] Mirandatz opened #362 "Why installation of BenchmarkDotNet requires a lot of disk space?"
Greetings!
I was messing around with a Visual Studio 2015 project (a C# 6 Console Application) when I decided to do some benchmarking. So I googled around and found this project.
I decided to install it using the NuGet Package Manager. 10 seconds, 2 clicks and bang: installed.
I loved it. This packge/project is really, really powerful, easy to use and accurate.
But... The size of my solution incre

[2017-02-19 07:53] AndreyAkinshin commented on #362
Hey @Mirandatz,

What do you mean by the "size of my solution"? Could you tell me where exactly did you find 300MB?

I installed BenchmarkDotNet 0.10.2 in a new console application. Yeah, the package has some installed size overhead: the `packages` folder takes about 110MB. Internally, BenchmarkDotNet uses Roslyn ([BenchmarkDotNet.Toolchains.Roslyn](https://www.nuget.org/packages/BenchmarkDotNet.T

[2017-02-19 11:36] Mike-EEE opened #363 "Understanding Static Allocations"
I have just encountered another performance hit issue that is much like #330 but is easier to reproduce.  Essentially, I am finding that if I comment out a class in my solution, I experience a difference of 4-6us in my performance results.  Extremely bizarre so I thought I would report it to see if there is an issue, maybe known.

You can find the branch with this repo here:
https://github.com/Mik

[2017-02-19 11:45] Mike-EEE commented on #363
OK I got the links in there for you.  Please let me know if you have any problems accessing and/or building the project and I will do my best to assist.

[2017-02-19 15:30] Mirandatz commented on #362
Hello Andrey, thanks for the reply.
By "the size of my solution increased" I meant: after installing BenchmarkDotNet a new directory called packages was created in my solution.
Maybe it was there before, but being smaller I didn't notice it.
It's size is 294 mb. 311 on disk.
It contains the following subs directories:
packages\System.Diagnostics.Debug.4.0.11"
packages\System.Diagnostics.FileVersio

[2017-02-19 15:32] Mike-EEE commented on #363
ugh. I am truly embarrassed.  I will file this one under "do not file bug last thing after a long night of waayyyy too much coffee and code."  First thought upon waking was ... "was there anything type-related that I had added recently?"  And sure enough (to my horror) there is a type routine I have for filtering application-specific types.  I just now commented that out and the 5us returns. I hav

[2017-02-19 16:19] AndreyAkinshin commented on #362
Could you try to create a new console application and install BenchmarkDotNet? Here is the list of packages on my computer:
[code]

[2017-02-19 16:41] KonkLaw opened #364 "Benchmark just stops (Antivirus problem)"
First of all, thanks for great job.

I've got next problem: sometimes after running benchmark I've been geting this issue:
![error](https://cloud.githubusercontent.com/assets/22473930/23103774/c5050192-f6d1-11e6-9f10-4a2104148962.png)
Console benchmark is just stopping with standard system message: "Press any key to continue ...". No exceptions or warnings in console or log file. As I see it doesn

[2017-02-19 16:50] AndreyAkinshin commented on #364
Hey @KonkLaw, thanks for the report. You are absolutely right, we definitely should print a warning. Any clues how to detect we if have problems with antivirus (btw, may I ask which antivirus do you use)?

[2017-02-19 16:52] AndreyAkinshin commented on #361
LGTM, will think about API.

[2017-02-19 17:10] ig-sinicyn opened #365 "[Minor bug] Benchmark switcher: incorrect method filtering"
[The code](https://github.com/dotnet/BenchmarkDotNet/blob/c12dafb041d1ef15c6a6d34f3fbc469690b98bb8/src/BenchmarkDotNet/Running/BenchmarkSwitcher.cs#L30-L37):
[code]

`Issues:`

 0. Shouldn't the search code be refactored into a public helper method?
 1. Seems like `BindingFlags.Static` is missing :)
 2. Shouldn't interfaces and abstract types be filtered out too? Also, looks like a good candidate

[2017-02-19 17:43] KonkLaw commented on #364
Bitdefender Antivirus Free Edition (updating works)
on Win7 SP1 x64
In some cases antivirus hides gui, but still works (I see it in task manager), so it stops my benchmark with no warnings. If I will run its gui, I will see correspond message ("process is blocked" or like that).

I've prepared small test with bug in my draft repository: https://github.com/KonkLaw/Tests
Also text in log file (bin\R

[2017-02-19 21:03] Mirandatz commented on #362
Okay. Here's the output I got:

Attempting to gather dependency information for package 'BenchmarkDotNet.0.10.2' with respect to project 'ConsoleApplication1', targeting '.NETFramework,Version=v4.6.1'
Attempting to resolve dependencies for package 'BenchmarkDotNet.0.10.2' with DependencyBehavior 'Lowest'
Resolving actions to install package 'BenchmarkDotNet.0.10.2'
Resolved actions to install pack

[2017-02-20 02:12] adamsitnik commented on #363
Hello @Mike-EEE! I encourage you to use some profiler when you want to find out which parts of the benchmarked method are taking time. Benchmarking gives you only the sum, profiler can give you detailed view. You can start with VS Instrumentation Profiler which is built-in VS for Professional and Ultimate.

[2017-02-20 09:17] Mike-EEE commented on #363
Ahhh thank you @adamsitnik for your assistance.  If I could delete this issue I fully would.  I cannot tell you how embarrassed I am/was to figure out that it had nothing to do with BDN.  If I didn't have my issue with #330 I wouldn't have thought of it, but commenting out a class and seeing a 5us difference triggered it for me.  In any case this will not be happening again.  Promise. 😛

![Benchma

[2017-02-21 17:11] adamsitnik commented on #359
@niemyjski It's done. Could you give it a try and let me know if it works? The package `0.10.2.333` is available at `<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`

[2017-02-21 17:15] adamsitnik commented on #300
@bojanrajkovic @roji @bleroy @cesarbs It's ready. Could you give it a try and let me know if it works or not? You can download the latest nuget package from our CI feed `<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`, please download the `0.10.2.333` version.

Btw. You don't need to set up the toolchain manually anymore. We detect the stuff for you.

[2017-02-21 17:34] cesarbs commented on #300
@adamsitnik Awesome. I'll git it a try within the next couple of hours.

[2017-02-21 18:03] cesarbs commented on #300
Works beautifully 😄

One remark though. In Kestrel, I see `binaries/` directories created in `src/Microsoft.AspNetCore.Server.Kestrel/` and `test/Microsoft.AspNetCore.Server.Kestrel.Performance/`. Why is that? Before, everything was limited to the `BDN.Generated` directory.

Actually, couldn't the generated files be put in a temporary directory?

[2017-02-22 04:43] adamsitnik opened #366 "Support the new .fsprojs targetting .NET Core (F# + .NET Core + MSBuild)"
I have implemented it based on the sample app available [here](https://raw.githubusercontent.com/dotnet/netcorecli-fsc/master/examples/rc4/console/console.fsproj)

[code]

[code]

Then:
[code]

[2017-02-22 04:59] adamsitnik commented on #300
@cesarbs  great! thanks for the feedback!

When we had early .NET Core support at some poin the dotnet cli/dnx changed the default output directory. It was an issue for us because it broke our Executor which could not find the exes/dlls. Then I decided to use ``--output binaries`` option so we always know where the dlls ends up. The problem is that with new msbuild based dotnet cli it has changed

[2017-02-22 09:59] mattwarren commented on #300
Ahh the joys of the project.json -> msbuild changes, @adamsitnik I'm surprised you're still a .NET dev after all the work you've had to do!! If I was you I'd have given up and started working on Go or Ruby :-)

[2017-02-22 17:46] neoeinstein commented on #366
I plan to consume this, so if there is anything that I can do to help with testing, let me know.

[2017-02-22 18:26] niemyjski commented on #359
@adamsitnik I haven't had a chance, I've been on vacation. I can check when I get some more downtime :)

[2017-02-22 18:26] #359 closed

[2017-02-23 03:55] adamsitnik commented on #366
@neoeinstein great! Could you give it a try? I have updated the description of the issue with sample app.

You will need to add our nuget CI feed to get the latest package `<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`

[2017-02-23 14:26] neoeinstein commented on #366
I've run the F# benchmarks using an existing F# project. Everything looks great.

One note: it is necessary to add `<DebugType>none</DebugType>` to the `.fsproj` in order to eliminate a warning at the end of the benchmark. The F# SDK adds `<DebugType>portable</DebugType>` by default.

I include the warning below for future visitors from search engines:

[code]

[2017-02-23 16:11] adamsitnik commented on #366
@neoeinstein I am very glad to hear that! thanks for finding the problem and giving the solution!

btw. our `EnvironmentAnalyser` which was producing the warning about DEBUG build was wrong. [It seems](http://stackoverflow.com/questions/7713514/should-i-compile-release-builds-with-debug-info-as-full-or-pdb-only?answertab=votes#tab-top) that a debug build can be optimized, so I am going to change t

[2017-02-23 17:24] #250 closed

[2017-02-23 17:25] #366 closed

[2017-02-23 17:28] adamsitnik commented on #362
@Mirandatz as @AndreyAkinshin answered the Roslyn dependency is space-expensive for BenchmarkDotNet. But it's a must have for us, so at least for now there is nothing we can do.

[2017-02-23 17:28] #362 closed

[2017-02-23 17:31] adamsitnik commented on #310
@AndreyAkinshin tried that today with the new "msbuild" based dotnet cli. IMHO It's still too many workarounds to give it a go

[code]

so it works only for Windows and in order to execute the project you need to call `dotnet run` which rebuilds the project again, which does not work good for us (we perform `dotnet $pathToDll` which does not compile it again)

[2017-02-23 17:39] #261 closed

[2017-02-23 17:41] adamsitnik commented on #263
I am sorry but as the person that is responsible for the compilation toolchains in BenchmarkDotNet I can't see any way to fix this issue. Using the folder of the current exe gives us a lot of benefits (we can take advantage of copyToOutput, we have all required dlls copied by msbuild for us so we don't have loading issues). With shadow copy enabled it's not possible ;/ I must close it and mark as

[2017-02-23 17:41] #263 closed

[2017-02-23 17:44] adamsitnik commented on #285
@sleemer project.json which required the runtime settings are being abandoned. We are now supporting the new csproj files, which don't require that so I am closing this issue as it won't be a problem anymore

[2017-02-23 17:44] #285 closed

[2017-02-23 17:47] adamsitnik commented on #303
update: Roslyn 2.0 will drop .NET 4.5 support, I am not sure if we will update

[2017-02-23 17:53] adamsitnik commented on #352
@AndreyAkinshin  What was your setup here? I mean what was the host process runtime and what were the jobs you have used? + Did you use project.json?

[2017-02-24 03:13] JamesNK opened #367 "Error when run from ReSharper unit test session"
[code]

Output when run:

[code]

[2017-02-24 05:30] adamsitnik commented on #367
Hi @JamesNK ! You need to disable shadow copy. We are currently not supporting it and not planning to change it (due to many consequences, not because we don't like it)

[2017-02-24 06:21] AndreyAkinshin commented on #352
If I remember correctly, it was a classic csproj application. I have a huge amount of solutions for my benchmarks and accidentally run `[CoreJob]` from the csproj project instead of project.json.

[2017-02-24 07:23] JamesNK commented on #367
okie dokie. Thanks

[2017-02-24 07:23] #367 closed

[2017-02-24 07:37] JamesNK opened #368 "Memory leak and crash with [Setup]"
I have this file: https://github.com/JamesNK/Newtonsoft.Json/blob/9b9c3da624cfe92da402049fce9344d06f451da6/Src/Newtonsoft.Json.Tests/Benchmarks/LargeJArrayBenchmarks.cs

When the benchmarks are run memory usage slowly increases until the runner crashes with an `OutOfMemoryException`.

[code]

[2017-02-24 08:00] AndreyAkinshin commented on #368
Hey @JamesNK.

In BenchmarkDotNet, we assume that a benchmark method shouldn't produce any side-effects. In your benchmark class, you have the following method:
[code]
Be default, our benchmark engine could run your method as many times as it required.
In general case, the `Add` method doesn't have a steady state with a definite time of execution.
For example, `Add` can require internal array resi

[2017-02-24 08:25] adamsitnik commented on #352
Ok, I understand now. I will try to find a way to tell if we can check if the host project supports .NET Core so we can run CoreJob or not. Thanks!

[2017-02-24 08:57] JamesNK commented on #368
Hmmm, ok. I didn't realize the framework did that, but I also would have thought that the Setup was run before each iteration to keep the state steady.

http://benchmarkdotnet.org/Advanced/Setup.htm

[2017-02-24 09:18] AndreyAkinshin commented on #368
Probably, we have to update the documentation.
It's just impossible to perform a nanobenchmark with a heavy setup before each iteration.

[2017-02-24 11:08] mattwarren commented on #368
It might be because our terminology around '**operations**' and '**iterations**' is confusing, from [How it works](http://benchmarkdotnet.org/HowItWorks.htm):

    * `Pilot`: The best operation count will be chosen.
    * `IdleWarmup`, `IdleTarget`: BenchmarkDotNet overhead will be evaluated.
    * `MainWarmup`: Warmup of the main method.
    * `MainTarget`: Main measurements.
    * `Result` = `Ma

[2017-02-24 11:11] AndreyAkinshin commented on #368
@mattwarren, thanks for the clarification. I definitely have to improve our documentation.

[2017-02-25 06:20] adamsitnik commented on #322
@cesarbs the issue get resolved when we switched to the new csproj. My gut feeling tells me that it was more a dotnet cli bug than ours ;)

[2017-02-25 06:20] #322 closed

[2017-02-25 06:32] adamsitnik commented on #300
hahaha, @mattwarren I am not sure how to respond to that ;) It was neither easy or pleasant but I feel somehow responsible for making it work since I ported BenchmarkDotNet to .NET Core. I can also see that when we give our users great benchmarking tool they are improving overall .NET performance. And I am a very big fan of that! On the other hand, I am a very stubborn perfectionist and I really d

[2017-02-25 06:32] #300 closed

[2017-02-25 07:28] AndreyAkinshin opened #369 "Consider to disable MemoryDiagnoser by default"
Now we have cool `MemoryDiagnoser` which is great! However, it has one significant drawback: it noticeably increases total benchmarking time. For now, we don't have a nice API wich allows easily disable a diagnoser. I'm still working on it, I have some idea, but I'm not happy with them (thinking is in progress). So, I suggest to disable it by default. People who need the allocated memory column ca

[2017-02-25 08:14] adamsitnik commented on #369
@AndreyAkinshin I see your point. Maybe we should ask the users? What do you say for a twitter poll?

@mattwarren what are your thoughts?

[2017-02-25 08:21] AndreyAkinshin commented on #369
I'm one of the users. In 95% of cases, I don't need the memory diagnoser. And when the results are almost ready, I have to wait additional time which is required for the diagnoser. It's very annoying.

[2017-02-25 14:01] Mike-EEE opened #370 "Discussion/Question: Visual Studio The Party Crasher"
I actually have two questions here:

1. Is there a Gitter for this project?  [I found one in Gitter](https://gitter.im/PerfDotNet/BenchmarkDotNet) but it hasn't been updated since November.  Seems like this project would be much more active than that. :)
2. I've noticed that when I run my tests, BDN.Generated.exe loads up and so does Visual Studio.  It seems that VS is monitoring processes to atta

[2017-02-25 14:34] AndreyAkinshin commented on #370
1. Yes: https://gitter.im/dotnet/BenchmarkDotNet , you can find this link on our README page: https://github.com/dotnet/BenchmarkDotNet (one of the green badges). The old one is obsolete because we moved the BenchmarkDotNet project from the PerfDotNet organization to the dotnet.
2. `BDN.Generated` is your benchmark. By default, BenchmarkDotNet generated an additional project, compile it and run. T

[2017-02-25 17:48] Mike-EEE commented on #370
Ah!  So weird, I searched in Gitter for "BenchmarkDotNet" and that old room is the one that returned.  I just did another search and now 3 show up.  And it turns out that I actually posted in that one! OMG not doing so good here haha.

As for the processes, after further review what I was experiencing is not specific to VS.  When I do performance testing I close down every app possible (as suggest

[2017-02-25 17:48] #370 closed

[2017-02-25 21:57] Mike-EEE commented on #363
OK I am actually going to resurrect this issue as a question/discussion, as I have spent the day looking into this and have found the underlying issue to the best of my understanding.  After spending a bunch of time trying to figure out what is going on, I have managed to isolate the issue so that the hit is less disruptive, from 5us to ~2us.

It also turns out that this issue has nothing to do wi

[2017-02-26 05:51] Mike-EEE commented on #363
AHHHH... OK, please disregard this issue (AGAIN!), I have **finally** figured out the source of all my ails.

When doing configuration, I was doing it [like this](https://github.com/Mike-EEE/ExtendedXmlSerializer/blob/issues/Benchmark.NET/363/test/ExtendedXmlSerializer.Performance.Tests/Program.cs#L34):

[code]

This of course is _wrong_.  It should be in a configuration as such:

[code]

Doing th

[2017-02-26 05:51] #363 closed

[2017-02-26 05:53] Mike-EEE commented on #353
Hey @adamsitnik never mind about this issue now. I finally figured out the issue: poor configuration (described in https://github.com/dotnet/BenchmarkDotNet/issues/363#issuecomment-282535089).  Whew... problem(s!) solved. 👍

[2017-02-26 07:36] Mike-EEE commented on #369
Ah, this would introduce a breaking change wouldn't it?  Perhaps it is better to make this part of configuration somehow so that we're not forced to disable it via attributes.  Although I am not a fan of .NET configuration whatsoever, this is where app.config comes in handy.  .NET Core doesn't have an equivalent of this either, I don't think.

In any case, I think it is valuable to include by defa

[2017-02-26 07:43] AndreyAkinshin commented on #369
We have a lot of cool features which are disabled by default. I want to keep the default config as small as possible: only essential features should be enable. If you need a feature, you can enable it with a single line of code (the Overview section of the documentation should help you).
The diagnoser list is a part of our configuration, so you can controll it via attributes or via the object styl

[2017-02-26 07:49] Mike-EEE opened #371 "Question/Discussion: Understanding "Baseline" Means"
My performance jargon isn't up to, uh, speed yet, so you'll have to bear with me pawing at (was that two puns?! ugh it must be late) the concepts here.

Consider the following results:

[code]

You will notice that it has two outliers at `46.7860 us/op` and `39.6519 us/op`.  Now consider the same test ran just a few seconds later:

[code]

Again this is the same test.  You can see that both seem t

[2017-02-26 08:00] AndreyAkinshin commented on #371
1. BenchmarkDotNet sets the highest available priority to the target process.
2. There are a huge amount of things which can affect your performance. Usually, you can have a problem because of other application (e.g., VS can easily add a few microseconds), If you want to have a repeatable result, make sure that you are running benchmarks in a sterile environment.
3. It's ok that some benchmarks ha

[2017-02-26 08:22] AndreyAkinshin commented on #351
@adamsitnik, could you take a look at this issue? Is it possible to use `app.manifest` somehow for our library? I also have an universal way to get the Windows version via `ver` (and we already use it in CORE), but it requires more time because of the call to external program. So, it would be great if we will be able to get the correct version via `Environment.OSVersion`.

[2017-02-26 08:49] adamsitnik commented on #306
Sample usage:

[code]

sample results:

[code]

[code]
| Method |        Job |    Runtime |        Mean |     StdDev |      Median | Scaled | Scaled-StdDev | Allocated |
|------- |----------- |----------- |------------ |----------- |------------ |------- |-------------- |---------- |
|    Md5 |        Clr |        Clr |  23.2459 us |  0.9337 us |  23.3425 us |   1.00 |          0.00 |     112 B |

[2017-02-26 08:54] #306 closed

[2017-02-26 08:59] adamsitnik commented on #306
@AndreyAkinshin I implemented only the Mono part. If people want to use custom .NET Core version they can use our `ProjectJsonCoreToolchain.NetCoreApp20` or `CsProjCoreToolchain.NetCoreApp12` or just create the toolchain by calling `toolchain.From(settings)`

[2017-02-26 09:08] Mike-EEE commented on #371
Awesome.  Thanks again for your continued assistance @AndreyAkinshin.  It is much appreciated.

To add, the values above are in a clean environment without Visual Studio.  I say clean and not sterile.  I do run a hyper-v server on my machine.  Perhaps I could dedicate a VM to benchmarking?  I would need an easy/effective/fast way of copying files to it with each build.  Something to look into, alo

[2017-02-26 09:08] #371 closed

[2017-02-26 09:10] AndreyAkinshin commented on #306
@adamsitnik, thanks! Lookg great!
Could you also add a few examples in our documentation?

[2017-02-26 09:32] #369 closed

[2017-02-26 09:36] adamsitnik commented on #306
@AndreyAkinshin I added the docs + disabled the Memory Diagnoser by default. It was the last thing for me for `0.10.3` (I am ready for the release).

[2017-02-26 09:44] AndreyAkinshin commented on #306
Great, thanks! Then I will check all the environment and project types again and release new version soon.
@adamsitnik, one last thing: could you also update the changelog in our wiki?

[2017-02-26 10:23] AndreyAkinshin opened #372 "Troubles with ClrJob from CoreCLR project"
Repro:
1. Create a new .NET Core console application in VS2017 RC4.
2. Add the following lines in `csproj` file:
[code]
3. Run the following benchmark:
[code]
4. Get the following error:
[code]

[2017-02-26 10:56] adamsitnik commented on #372
@AndreyAkinshin you need to add `<PlatformTarget>AnyCPU</PlatformTarget>` to your csproj. This is unfortunately not a default setting for the new csprojs.

[2017-02-26 11:02] AndreyAkinshin commented on #372
Could we detect such situation somehow? It's not obious what is going on in this case. It would be nice to print a warning.

[2017-02-26 11:39] #372 closed

[2017-02-26 11:40] adamsitnik commented on #372
@AndreyAkinshin good idea! I added the warning

[2017-02-26 12:40] adamsitnik commented on #306
@AndreyAkinshin I updated the changelog.

[2017-02-26 22:05] BanksySan opened #373 "Advanced Exception Handling"
W.R.T. this [StackOverflow question](http://stackoverflow.com/q/42426982/442351).

I have a scenario where I get intermittent exceptions.  At present, these exceptions either stop the run (if I allow them to bubble up) or are included in the statistics (if I wrap them in a `try-catch`).

It would be very useful to be able to analyse exceptions separately.

* View statistics with and without except

[2017-02-26 23:46] davidfowl opened #374 "BenchmarkDotNet doesn't understand netcoreapp2.0"
I'm not sure how the generated csproj stuff works but it's broken when targeting .NET Core 2.0 (from myget).

[code]

There might be some bad assumptions about mapping the TFM to the version of **Microsoft.NETCore.App** being targeted.

Here's the csproj file

[code]

[2017-02-26 23:54] davidfowl commented on #374
So the problem is the missing:

[code]

In the generated csproj file.

[2017-02-27 04:19] eerhardt commented on #374
Technically you only need the "RuntimeFrameworkVersion" property with the latest tools.

[2017-02-27 04:54] AndreyAkinshin commented on #374
Hey @davidfowl, thanks for the bug report. Could you also create a branch with the repro?
@adamsitnik, could you take a look?

P.S. @davidfowl, it's very cool that you decided to try BenchmarkDotNet in Kestrel. If you miss any features, feel free to create feature requests. =)

[2017-02-27 06:25] adamsitnik commented on #374
@davidfowl thanks for the bug report, it's great that you did it before the new version release so I can fix it and it will be included.

I have cloned the Kestrel repo and built the `master` branch. Then I applied the changes to the csproj and it fails to build (error below). Do I need to install something extra to be able to build it? I would like to be able to repoduce it and test on my own.

[

[2017-02-27 14:35] mattwarren commented on #369
@AndreyAkinshin @adamsitnik As much as I love the `Memory Diagnoser`, I agree that having if off by default is the best choice.

x2 running time is a bit of a high price to pay for having in on OOTB.

[2017-02-27 16:31] davidfowl commented on #374
Here's a guide on how to get up and running on .NET Core 2.0:

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#how-to-get-up-and-running-on-net-core-20

Here's an ASP.NET Sample:
https://github.com/davidfowl/AspNetCoreNextOnNetCore2

Here's a branch of Kestrel with most things setup:

https://github.com/aspnet/KestrelHttpServer/tree/davidfowl/dotnet-core-20

Y

[2017-02-27 16:50] eerhardt commented on #374
Wildcards are supported in builds after RC4.  Here's the PR that enabled them: https://github.com/dotnet/sdk/pull/820, which didn't make it into RC4.

There are issues with using wildcards when your app uses a "Framework Dependent" deployment (i.e. shared framework). You need to have the same runtime version (or higher) installed on your machine, so say the latest version is `2.0.0-1234` and you i

[2017-02-27 16:52] eerhardt commented on #374
Here's some info on creating templates, in case you want to explore that route:  https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates

[2017-02-27 18:08] adamsitnik commented on #374
@davidfowl Thanks for the explanation. I have fixed the bug, you can now upgrade to `0.10.2.373` (Kestrel has our CI feed on it's nuget list)

Please let me know if you encounter any other problems.

@eerhardt thanks for the suggestion, I will think about it. We now simply copy the two missing settings if they are present in the csproj of the project that defines the benchmarks.

[2017-02-27 18:08] #374 closed

[2017-02-27 19:13] #320 closed

[2017-02-27 19:14] adamsitnik commented on #320
@AndreyAkinshin @alinasmirnova sorry for stealing the issue, but it was annoying me since quite a long time ;)

[2017-02-28 05:05] AndreyAkinshin opened #375 "Troubles with dotnet pack"
I'm trying to release `v0.10.3`, but `dotnet pack` print some warnings:
[code]
Also, I don't have the `net4.5` and `netcoreapp1.1` subfolders inside the package:
![image](https://cloud.githubusercontent.com/assets/2259237/23392387/0dc39de0-fd9d-11e6-8207-c97499e576f4.png)

[2017-02-28 05:11] davidfowl commented on #374
Works like a charm now. Thanks for the quick turnaround!

[2017-02-28 05:45] AndreyAkinshin commented on #374
@davidfowl, great! New stable version is coming soon!

[2017-02-28 05:49] #334 closed

[2017-02-28 06:30] adamsitnik commented on #375
It's weird but it works for me and the appveyor. I suspect that you changed the version, then called dotnet pack and it did not rebuild the dlls properly.

@AndreyAkinshin could you try the following steps:
[code]

[2017-02-28 06:50] AndreyAkinshin commented on #375
It doesn't help. =(
[code]

[2017-02-28 07:02] davidfowl opened #376 "Pick better background colors for output"
![image](https://cloud.githubusercontent.com/assets/95136/23394968/d3b3a35e-fd40-11e6-8719-2247fe27b76e.png)

[2017-02-28 07:06] adamsitnik commented on #375
hmm @AndreyAkinshin let's try with `-v detailed` to get some more insight.

[My output](https://gist.github.com/adamsitnik/4bddece1b672964c0769751dd4f73323)

[2017-02-28 07:07] AndreyAkinshin commented on #376
Makes sense. Usually, I use `cmd`. In PowerShell it doesn't look great. Any color recommendation?

[2017-02-28 07:10] davidfowl commented on #376
Maybe always set the background color as well as foreground color? OR do something fancy like this https://github.com/Eilon/ProjectKIssueList/blob/5040df74b41dcd4f3bbf0470f851a6b924b0af06/src/Hubbup.Web/Utils/ColorMath.cs 😄

[2017-02-28 07:11] AndreyAkinshin commented on #375
https://gist.github.com/adamsitnik/4bddece1b672964c0769751dd4f73323

I noticed that you have `Microsoft (R) Build Engine version 15.2.2.21747` and my version is `15.1.545.13942`. Could it be a problem? I used standard VS2017 RC4 isntaller. Where can I find an updated version?

[2017-02-28 07:17] AndreyAkinshin commented on #376
Looks interesting, I like an idea of adaptive colors. Is it possible to specify custom ConsoleColor for both `net45` and `netcoreapp1.1` (it should be xplat and work on Mono). Now we are using `Console.ForegroundColor` which should have values from [ConsoleColor](https://msdn.microsoft.com/en-us/library/system.consolecolor(v=vs.110).aspx) (this set is very poorly =( ).

[2017-02-28 07:32] AndreyAkinshin commented on #376
I found this awesome library: [Colorful.Console](http://colorfulconsole.com/). Let me check how it works on different operation systems.

[2017-02-28 07:41] AndreyAkinshin commented on #376
Colorful.Console doesn't work on Linux+Mono. =(
@davidfowl, will it be ok if we introduce advanced color schemes only for Windows?

[2017-02-28 08:06] adamsitnik commented on #375
@AndreyAkinshin you posted url to my gist

[2017-02-28 08:10] Mike-EEE commented on #363
As an FYI/FWIW here, in addition to the improper configuration above, looks like I was encountering a tooling problem with the new `project.json` project bits.  Essentially, new changes were not being compiled even though the output said it was.   So, I was actually running old code and the results were reflecting _that_ code and not the expected new code, if that makes sense.  It took me having t

[2017-02-28 08:11] AndreyAkinshin commented on #375
Sorry, the correct link: https://gist.github.com/AndreyAkinshin/057384180ae0ceb12cfc80beee3648d5

[2017-02-28 08:27] adamsitnik commented on #375
I can see that we have different `dotnet --version` Maybe you could try this one https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.exe ? I have installed it yesterday when I was getting .NET Core 2.0 working on my pc according to [this instructions](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#how-to-get-up-and-running-on-n

[2017-02-28 08:28] adamsitnik commented on #375
btw @AndreyAkinshin the gist you provided seems to be only a part of the whole output

[2017-02-28 08:34] AndreyAkinshin commented on #375
Look at this file: [out.txt](https://github.com/dotnet/BenchmarkDotNet/files/806098/out.txt)
For some reason, gist don't want to accept file with ~2200 lines. =(

[2017-02-28 09:01] adamsitnik commented on #375
@AndreyAkinshin I can't see any significant difference. My only hope is installation of https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.exe

[2017-02-28 09:25] AndreyAkinshin commented on #375
It also didn't help. =(
[code]
@adamsitnik, could you also share your output of  `dotnet build .\src\BenchmarkDotNet.Core\BenchmarkDotNet.Core.csproj -c Release`?

[2017-02-28 09:32] AndreyAkinshin commented on #375
I found the problem! In my %PATH%, I had `C:\Program Files\dotnet\` and `C:\Program Files (x86)\dotnet\`. The x86 version was obsolete `1.0.0-preview2-1-003177`. Priority of the x64 version was higher, so `dotnet` was taken from the `x64` folder. But it seems that it take some information from the x86 folder (magic).

Anyway, I removed the x86 version from %PATH%, and now it works! It's hard to li

[2017-02-28 09:32] #375 closed

[2017-02-28 09:33] adamsitnik commented on #375
Uff ;)

[2017-02-28 09:51] mattwarren commented on #376
BTW, even with `cmd` the output from the 'Outliers' is hard to read, e.g.

![image](https://cloud.githubusercontent.com/assets/157298/23400273/5c050022-fd9b-11e6-8081-537a0e1b0268.png)

[2017-02-28 09:54] mattwarren commented on #376
FWIW, a while back I wrote some code that shows all the possible foreground/background colours when running on Windows, here's the screenshot:

![clr or net - console colours](https://cloud.githubusercontent.com/assets/157298/23400332/90791334-fd9b-11e6-8574-572fb74712e3.png)

[2017-02-28 10:11] AndreyAkinshin commented on #376
Ok, I changed the hint color to DarkCyan, now it looks much better.

[2017-03-01 12:05] AndreyAkinshin opened #377 "Simple API for path customization of BenchmarkDotNet.Artifact and job folders"
Sometimes we have troubles with `UnauthorizedAccessException` (we don't have access to the current directories) or long paths. I think, it would be great to provide a nice API which allows to customzie BenchmarkDotNet working directory (which will contain all the generated files and folders).

[2017-03-01 13:47] farooqspecials opened #378 "BenchmarkDotNet Competibility with Asp.net web Applications"
This library is not compatible with ASP.net web Applications in order to benchmark C# code.
If anyone know the method to benchmark C# code in Asp.net web application. please share

[2017-03-02 17:33] adamsitnik commented on #351
@AndreyAkinshin I am afraid I won't have any time to take a look at this soon.

[2017-03-03 11:51] ig-sinicyn commented on #136
@adamsitnik, @AndreyAkinshin

Upping. With #356 merged there's an API that can be easily extended with result reporting.

Initial idea is following: last invocation result should be passed as a member of `RunResults` and should be exposed via `BenchmarkReport`. I'd suggest to use  `Convert.ChangeType`  or `TypeConverter.ConvertFromString()`, both should work in .Net Core.

[2017-03-03 14:44] neoeinstein opened #380 "Problem running benchmark due to "could not copy" during build"
After upgrading to 0.10.3, I am getting the following error when attempting to run my benchmarks:

Any ideas as to what could be happening here? This is occurring off a fresh build after deleting bin and obj, running restore and build, and then attempting to execute the benchmark directly. I have also attempted to change into the project directory and use dotnet run.

The benchmarks being run have

[2017-03-03 17:12] Mike-EEE commented on #369
Gotta say, sooooooo much nicer now. 👍

[2017-03-03 17:42] neoeinstein commented on #380
Interesting development. It appears to be something to do with how my F# code was structured, and the name of my benchmark namespace.

Reductive example:
* Lib.fs
[code]
* Benchmark.fs
[code]

I found that, after running `dotnet publish` against the benchmark project, I was able to get a different set of build errors:

I found that changing either the root namespace for `Benchmark.fs` or making `L

[2017-03-04 05:32] jgrandyxignite commented on #132
this issue does not seem to be resolved

runtime error :

[code]

[2017-03-04 05:37] AndreyAkinshin commented on #132
Hey @jgrandyxignite. I guess, you are trying to run benchmark from unit tests, is it correct? In this case, you have to disable "shadow copy".

[2017-03-04 11:08] AndreyAkinshin opened #382 "AssemblyInformationalVersion doesn't work"
In the `build\common.props` file, we have the following lines:
[code]
However, in the generated AssemblyInfo file (e.g. `BenchmarkDotNet\src\BenchmarkDotNet\obj\Debug\net45\BenchmarkDotNet.AssemblyInfo.cs`) we have the following lines:
[code]
Thus, `AssemblyVersion` and `AssemblyFileVersion` attributes work fine, and `AssemblyInformationalVersion` doesn't.

[2017-03-04 13:31] adamsitnik commented on #358
I am not 100% sure. Perhaps we should introduce a new class that does all the necessary things? I just don't have a good idea now.

Currently, the diagnosers don't need anything else. As soon as there is a good reason for adding new parameters we just add it.

ExecuteResult.ExtraOutput. Is it ok? Should I use intermediate buffer (AccumulationLogger) instead?

It's ok. As far as I remember we only

[2017-03-04 13:32] adamsitnik commented on #382
@AndreyAkinshin maybe we should report a bug to the msbuild team?

[2017-03-04 13:42] adamsitnik commented on #380
Hello @neoeinstein !

It seems to be some dotnet cli/msbuild issue. If you apply `[KeepBenchmarkFile]` attribute to the class with benchmarks we are going to generate a separate folder for each benchmark and not remove it after executing it. If there is any problem with dotnet restore/build/run during your benchmark execution you can run the script that we put into the generated folder (.bat file)

[2017-03-04 13:46] adamsitnik commented on #378
Hi @farooqspecials You need to add a console app to your solution and then add reference to the asp.net project to it.

[2017-03-04 13:58] AndreyAkinshin commented on #382
@adamsitnik, do you have a link to some kind of documentation for these new MSBuild properties? I didn't found anything related to the `AssemblyInformationalVersion` property. Are you sure that this property should work?

[2017-03-04 14:07] adamsitnik commented on #382
I don't and I am not sure. I took the idea from [here](https://github.com/loresoft/EntityFramework.Extended/blob/afeee3ab66bb5f777253c4c7201239987423be99/Master.proj)

[2017-03-04 14:09] AndreyAkinshin commented on #382
Hmm. Last commit in this file was made Sep 5, 2014. I guess it can be outdated. =)

[2017-03-04 14:14] AndreyAkinshin commented on #378
@adamsitnik, as I understand from the gitter discussion with @farooqspecials, he wants to run benchmarks directly from an ASP.NET app (for some reason). I think it could be useful (e.g. for internal diagnostics on remote servers with will be triggered by a HTTP request), so it makes sense to support it. I tried to run some benchmarks without any lucks because BDN tries to create `BenchmarkDotNet.A

[2017-03-04 14:27] AndreyAkinshin commented on #382
Ok, I solve it! In the `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.GenerateAssemblyInfo.targets` file, I have the following lines:
[code]
So, we have to use `InformationalVersion` instead of `AssemblyInformationalVersion`. Already check it, it works! We fix it in master soon!

[2017-03-04 14:31] #382 closed

[2017-03-04 14:35] AndreyAkinshin commented on #382
Here is the source of `Microsoft.NET.GenerateAssemblyInfo.targets`: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.GenerateAssemblyInfo.targets

[2017-03-04 14:42] adamsitnik commented on #378
@AndreyAkinshin  Now I get it, thanks for the explanation!

It would work for our .NET Core Csproj toolchain only. Currently the classic would fail due to lack of dependent dll files in the output folder. If I find a nice solution to this problem we can also solve the shadow copy issue.

[2017-03-08 21:04] alrz opened #383 "Benchmark various builds of Roslyn"
Related to #290

This is particularly tricky because benchmarkdotnet itself has a dependency on Roslyn. This'll be extremely useful to benchmark Roslyn perf-targeted changes.

/cc @adamsitnik

[2017-03-08 21:38] davidfowl opened #384 "Print Vector<byte>.Count as part of machine info"
Helps to know this when benchmarking SIMD operations

[2017-03-09 04:43] AndreyAkinshin commented on #384
@davidfowl, I have the following suggestion: what if we add an attribute for custom machine info lines. Examples:
[code]
* We want to keep the common env info as small as possible. If we add a lot of additional lines by default, people will just skip this part in their perf reports.
* `Vector<byte>.Count` is useful only for SIMD benchmarks and it's not relevant to other benchmarks.
* Probably in o

[2017-03-09 05:16] davidfowl commented on #384
Sounds good.

[2017-03-09 12:02] zabulus opened #385 "Consider using S.R.InteropServices.RuntimeInformation.ProcessArchitecture instead pointer based detection of platform"
Follow-up of https://github.com/dotnet/BenchmarkDotNet/pull/381#issuecomment-285270373

Currently RuntimeInformation.CurrentPlatform is detected based in pointer size: https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Portability/RuntimeInformation.cs#L168 and produces wrong result for ARM platform.

Using https://docs.microsoft.com/de-de/dotnet/core/api/system.runtime

[2017-03-09 12:07] AndreyAkinshin commented on #385
Ok, it easy to do for the CORE profile. Any idea how to detect ARM on Mono?

[2017-03-09 12:39] zabulus commented on #385
Currently on Mono S.R.Interop.RuntimeInformation returns same value as code in BDN:
https://github.com/mono/mono/blob/ff7a2a5114d6da678a5a75c5eebf0731db4f3aed/mcs/class/System.Runtime.InteropServices.RuntimeInformation/System.Runtime.InteropServices/RuntimeInformation.cs#L79

So replacing it won't be regression at least. Though I think this should be fixed in mono

[2017-03-09 15:26] adamsitnik commented on #383
Hi @alrz thanks for reporting the issue.

I have an idea how we could handle that.
Today we build a new benchmark executable (with help of Roslyn) and then just run it. We reference all dlls that are used by the project that defines benchmarks. (`assembly.GetReferencedAssemblies()`)

My plan for #290 is to add a possibility to define a list of NuGet packages and versions to test against. With cust

[2017-03-11 01:08] AmadeusW commented on #118
This bug is little harder to resolve because the exporters act on already formatted data.
In current implementation, a run `Summary` has a specific time unit and stores formatted data in `FullContentWithHeader`, that the `CsvExporter` consumes. The data becomes formatted when we call `SummaryColumn.GetValue`.

As a possible solution, we add `GetRawContentWithHeader()` method to `SummaryTable`. Thi

[2017-03-11 19:35] davidfowl opened #386 "Support default bootstrapper that can select and run a set of tests"
Today all of our benchmark projects have code like this:

https://github.com/aspnet/KestrelHttpServer/blob/3c8ee39f1de441daf24c63943dc335af92bdf215/test/Microsoft.AspNetCore.Server.Kestrel.Performance/Program.cs#L13-L26

Which is pretty crappy to do. What we need is a default bootstrapper with command line args support to allow you to run, a single performance test, a group of all or all tests.

[2017-03-11 19:52] AndreyAkinshin commented on #386
We already have such API: `BenchmarkSwitcher`. We use it in our `BenchmarkDotNet.Samples` (see https://github.com/dotnet/BenchmarkDotNet/blob/ae4cc8739844f99eaca0d0928b84c3109fc36fff/samples/BenchmarkDotNet.Samples/Program.cs#L10 and http://benchmarkdotnet.org/HowToRun.htm#benchmarkswitcher): it prints all available benchmark to console and allows to choose one (or several) benchmarks to run. Let

[2017-03-11 20:47] davidfowl commented on #386
👏

[2017-03-12 06:18] AndreyAkinshin commented on #118
I want to support different summary table styles. We can start with something like this:
[code]
The `MemoryUnit == null` and `TimeUnit == null` means that BenchmarkDotNet should choose the best unit automatically (current behaviour), but user can specifiy this value manually (here we also resolve https://github.com/dotnet/BenchmarkDotNet/issues/146). By default, `PrintUnitsInContent == true` and `

[2017-03-12 06:33] #386 closed

[2017-03-12 07:07] pakrym commented on #386
It would be nice to have an easy way to run selected test method inline in main process for profiling. Right now we have to write a loop inside `Program.Main` to be able to profile one of the benchmarks method.

[2017-03-12 07:09] AndreyAkinshin commented on #386
@pakrym, sounds interesting. Could you create a separate issue about that?

[2017-03-12 07:15] pakrym opened #387 "Add a mode to BenchmarkSwitcher that allows to run a method inline for profiling"
It's hard to attach profiler during out of process run so right now we just write a loop inside `Program.Main` that calls into benchmark method.

Command line would look something like this:

`dotnet run -c Release inline method=Class.Method `

[2017-03-12 16:10] AmadeusW commented on #118
So there would be still single Summary shared by all reports and exporters, but this time user will be able to customize the appearance of this summary?

[2017-03-12 22:15] adamsitnik opened #388 "Precise Machine Counter Diagnoser"
Few days ago I saw a discussion at corefxlab regarding Spans and Benchmarking. It was clear to me that the developers struggle with a problems that BenchmarkDotNet solves in a very good way.

However when I mentioned BenchmarkDotNet as the cure, @KrzysztofCwalina [replied](https://github.com/dotnet/corefxlab/pull/1278#issuecomment-285082017):

So I decided to implement this feature. I have analyze

[2017-03-12 23:32] redknightlois commented on #388
Cache|Memory behavior is something we rely a lot on. So anything you can get from that (L1|L2|L3 Hit/Miss) is good to go on our side. Total vs. Unhalted is also important. Branch instructions vs. Branch missprediction is useful too but harder to make decisions from total numbers instead of specific location.

[2017-03-13 01:21] JasonBock opened #389 "Analyzers for Framework"
I wanted to propose the idea of adding analyzers for Benchmark.NET. There's a couple of rules I was thinking of for this library:

* Make sure any classes that contain `[Benchmark]` methods are not sealed
* Make sure that any `[Benchmark]` methods return a value (see the "Avoid Dead Code Elimination" section here (http://benchmarkdotnet.org/RulesOfBenchmarking.htm) for the reason why you want to d

[2017-03-13 07:46] AndreyAkinshin commented on #388
I love this idea! I'm not sure how it should be implemented eventually, but I have some thoughts about how it should look like.

1. We should have an API which allows customizing the set of hardware counters. An example:
[code]

2. These APIs should be OS/TargetFramework-independent. Thus, we should have the `HardwareCounter.*` stuff in `BenchmarkDotNet.Core`. Next, we should implement different H

[2017-03-13 07:58] AndreyAkinshin commented on #388
@adamsitnik, I tried to run the `Cpu_BranchPerdictor` sample, here is my result:
[code]
Could you add an additional check + warning?

[2017-03-13 08:08] AndreyAkinshin commented on #389
Hey @JasonBock, I like the idea in general, but I have some concerns about the suggested analyzers:

It's true for the default toolchain, but now we also have `InProcessToolchain` which supports not-sealed classes. And it's impossible to say which toolchain will be used in advance.

BenchmarkDotNet supports void methods, and it's not a mistake. Dead code elimination could be a problem only in some

[2017-03-13 08:22] AndreyAkinshin commented on #118
For the first implementation, we can use the following approach: each table exporter should have a second constructor with a SummaryTableStyle as an argument. If a user didn't specify the style manually, we will use the default style for this exporter.

[2017-03-13 08:56] adamsitnik commented on #389
Hi @JasonBock

We have something that you could extend to get what you want: it's called [ExecutionValidator](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Validators/ExecutionValidator.cs). Validator validates the input (config & types with benchmarks) before running the benchmarks.  It's not enabled by default, you have to configure it on your own. More info can

[2017-03-13 11:24] adamsitnik commented on #388
[code]

I like this idea.  I will define a set of available hardware counters in our .Core package, and make it configurable via the attributes like you have just shown.

Then I will make it work for classic .NET on Windows by using the diagnoser that I implemented. As soon as `Microsoft.Diagnostics.Tracing.TraceEvent` is [ported to .NET Core](https://github.com/Microsoft/perfview/issues/165) I wi

[2017-03-13 11:40] AndreyAkinshin commented on #388
I don't think that it's too hard to implement. If you prepare an infrastructure for hardware counters, I could try to implement it on Linux via `perf`.

[2017-03-14 07:13] AmadeusW commented on #118
I've got it working, but I'm setting style for the single `Summary` that all exporters share.
![image](https://cloud.githubusercontent.com/assets/1673956/23889290/86ca03ee-0849-11e7-9c97-7aa5e9b54727.png)

All data (including table headers, its units and contents) is produced at creation of the `Summary`, and changing this would mean a larger refactoring. If we want to support individual style per

[2017-03-14 07:44] AndreyAkinshin commented on #118
I think we could replace the property `Summary.Table` by a method `Summary.GetTable(SummaryTableStyle style)`. Each exporter will request own table for the specific style.

[2017-03-14 15:33] ig-sinicyn commented on #389
@AndreyAkinshin

As for me, the non-sealed restriction should be kept for in-process toolchain too. This way it will be always possible to switch from one toolchain to another.

@adamsitnik

Well, I'm almost sure @JasonBock  is talking about roslyn analysers, not BDN ones. [He wrote](https://gitter.im/dotnet/BenchmarkDotNet?at=589a27f6872fc8ce62069d05) in gitter:

[2017-03-15 23:18] Drawaes opened #390 "Crashing benchmark"
https://github.com/Drawaes/PerfBenchmarks

If you grab this benchmark and then do

Benchmark ManyReadersRareWrite

I get this following stack trace.

[2017-03-16 11:39] alexwiese commented on #303
I'm curious as to why net45 support would be important. I'd assume that the projects using BenchmarkDotNet could easily be retargetted to net452+, it's not typically a package that gets deployed to production servers and clients, that can't easily have newer frameworks installed. Plus support has ended for net45 and net451.

[2017-03-16 11:44] jskeet commented on #303
That's a dangerous assumption, IMO. Noda Time targets net45 for example, and while sure, I *could* retarget it to net452, I wouldn't want to do so just for the sake of benchmarks. Why should my benchmarking choice dictate what platform my users can use?

It may be reasonable for projects which are effectively end-user applications, but libraries are more likely to want to keep a broad target.

[2017-03-16 12:00] alexwiese commented on #303
Yes, I imagined benchmarks being in a separate project (that could target net452) and reference a net45 library. This type of package is unique in that way.

I'm definitely not advocating forcing public libraries to retarget to net452. I would hope public libraries don't reference BenchmarkDotNet besides extensions I gusss. So _there's_ a dependency chain I haven't thought about.

[2017-03-16 12:25] adamsitnik commented on #303
@AndreyAkinshin what about Mono?

[2017-03-16 12:38] AndreyAkinshin commented on #303
@adamsitnik, don't worry about mono here. =)

[2017-03-16 16:52] ILMTitan opened #391 "BenchmarkSwitcher should take an optinal IConfig"
I wish to create a custom `Exporter` that sends benchmark data to Google BigQuery tables. The project I wish to use it on (NodaTime) currently uses `BenchmarkSwitcher` to run the benchmarks. `BenchmarkSwitcher` has no way to inject an external `Exporter`. A solution would be to have the `BenchmarkSwitcher` constructor or `Run()` method could take an `IConfig`.

I am willing to make a pull request

[2017-03-16 20:05] AndreyAkinshin commented on #391
Hey @ILMTitan. Great idea, a PR is welcome! I think it would be better to add an additional argument in the `Run` method. Also it would be great if you add a few tests and update the documentation.

[2017-03-18 22:26] adamsitnik commented on #391
@ILMTitan thanks for your contribution! PR merge, I am closing the issue

[2017-03-18 22:26] #391 closed

[2017-03-19 10:17] #303 closed

[2017-03-19 21:04] AndreyAkinshin opened #393 "Troubles with ClrJob in .NET Core applications"
Here are my results for `Algo_Md5VsSha256` (the latest changeset in the master branch):
[code]
Logs:
[code]
Also `MultipleRuntimesTest.SingleBenchmarkCanBeExecutedForMultpleRuntimes` is failed for .NET Core profile (use `runCoreTests.cmd`).

@adamsitnik, could you take a look?

[2017-03-19 21:49] adamsitnik commented on #393
@AndreyAkinshin sure, sorry for the trouble. Could you just tell me which version of VS 2017 are you using? There was one update after RTM, I know it changed few things

[2017-03-19 21:58] AndreyAkinshin commented on #393
Microsoft Visual Studio Community 2017
Version 15.0.26228.4 D15RTWSVC

[2017-03-19 22:18] AndreyAkinshin commented on #390
I tried several different computers, but everything works fine, I can't reproduce this issue. =(
@adamsitnik do you have any ideas?

[2017-03-19 22:26] adamsitnik commented on #390
@AndreyAkinshin I could not reproduce it. However I get similar error once in a while (1/100 runs?)

@Drawaes Could you check what is locking this folder?

[SO](http://stackoverflow.com/a/24796126/5852046) says:

So it's either permissions or file in use.

[2017-03-20 10:07] mattwarren commented on #390
Could it be an anti-virus scanner that has the file/folder in-use?

[2017-03-20 10:41] Drawaes commented on #390
I was sure I have my c:\code excluded but let me double check

[2017-03-20 13:08] mlessmann opened #394 "COMException when using hardware counters and in-process toolchain"
A COMException gets thrown when using the new in-process toolchain and hardware counters (any) on a class containing at least two benchmark methods.

Minimal repro (run as admin):

[code]

The following exception gets thrown during AfterSetup of the second method:

[code]

I'm using the current nightly build 0.10.3.39 running on .NET 4.6 in VS2015 on Windows 10.

[2017-03-20 13:25] adamsitnik commented on #394
Hello @mlessmann

I am glad that you try our new features. I am afraid that it's impossible to combine these two features. When we run in process we do some extra work, that can spoil the results of the Hardware Counters. That's why for the non-in process toolchain we perform separate run for the diagnosers only. I will find some free time and provide the docs and nice warning about this limitatio

[2017-03-20 16:58] niemyjski opened #395 "Could not load file or assembly 'System.Reflection.Metadata'"
I just am upgrading from old project.json to new csproj and updated all my dependencies and now my benchmarks won't run for the following project: https://github.com/exceptionless/Exceptionless.Net/tree/ba740c9867c48131ae4a057692af2c451eda2cd7

I see that my main project references System.Diagnostics.StackTrace (4.3.0) which references 1.4.1 of the MetaData assembly but BenchmarkDotNet 0.10.3 refe

[2017-03-22 19:13] stevedesmond-ca opened #397 "Right-justify/align number columns for GitHub-flavored Markdown"
See https://github.github.com/gfm/#delimiter-row: right-justified columns should have their delimiter row ending in a colon (e.g. `|-----:|`) -- otherwise, if not displayed using a fixed-width font, numbers won't be aligned properly.

[code]

Becomes:

| Not right-justified | Right-justified |
|-------------------- |----------------:|
|              0.1 ms |          0.2 ms |
|            100.5 ms

[2017-03-23 08:08] gbolahanonamusi opened #399 "Exception: MSBUILD : error MSB1003: Specify a project or solution file"
Here is my result for a test console application in netcoreapp1.1

[code]
[code]

[2017-03-23 09:06] AndreyAkinshin commented on #399
@gbolahanonamusi, thanks for the bug report. Could you provide a repro project? Which version of BenchmarkDotNet do you use?

[2017-03-23 09:08] adamsitnik commented on #399
Hi @gbolahanonamusi

We need your .csproj and Visual Studio verson

[2017-03-23 09:28] gbolahanonamusi commented on #399
[code]

[2017-03-23 09:53] adamsitnik commented on #399
Ok, so the first problem is that you want to test it for .NET Core, Classic and Mono, but your .csproj contains only netcoreapp1.1 in target framework.

Please change it to:
`<TargetFrameworks>netcoreapp1.1;net45</TargetFrameworks>` and let me know the output

[2017-03-23 09:54] AndreyAkinshin commented on #399
@adamsitnik, could you automatically detect such situation and print a warning with useful instructions?

[2017-03-23 12:08] gbolahanonamusi commented on #399
On net45 im getting this error

[code]

But same error on netcoreapp1.1

[2017-03-24 02:37] Drawaes commented on #390
Looks like an over zealous virus scanner is to blame. If I have it off I never see it, but have seen it again with it on. Thanks for investigating, sorry to waste your time.

[2017-03-24 05:36] AndreyAkinshin commented on #364
Related issue: https://github.com/dotnet/BenchmarkDotNet/issues/390

[2017-03-26 20:23] #393 closed

[2017-03-26 20:42] adamsitnik commented on #351
@AndreyAkinshin I just noticed that dotnet cli prints the right version and took a look what they use.

It seems to be the `Microsoft.DotNet.PlatformAbstractions` package and the `Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment.OperatingSystemVersion` property. Could you try it out and check if meets your requirements?

[2017-03-26 20:47] adamsitnik commented on #393
Fixed. The explanation:

Previous versions of VS required us to set up the `<RuntimeIdentifier>` property in csproj for classic .NET projects. Now VS does not demand it, but we were still setting it and instead of putting the exe to `bin\Release\net46` it was putting it to `bin\Release\net46\$RuntimeIdentifier`

[2017-03-27 14:50] AndreyAkinshin commented on #351
It works great. The source code:
[code]
The output:
[code]

[2017-03-27 15:58] AndreyAkinshin opened #401 "Exceptions in Roslyn.Builder"
I have some troubles with local run of our unit tests. I have about 82 failed tests, here is a typical example (for `BenchmarksThatUseTypeThatRequiresDifferentRuntime` with latest changes from the master branch):

[code]
It seems that we have a problem here: https://github.com/dotnet/BenchmarkDotNet/blob/f5d88e2a66eb4ac436b1737212c726be47ab7613/src/BenchmarkDotNet.Toolchains.Roslyn/Builder.cs#L34

[2017-03-27 17:03] AcousticGuitar opened #402 "Any chance in removing F# dependency"
Am considering the project for client VM work but don't like F# dependency.  Will review impact on DLL size and ease of use in using on remote VM clients and post back.

[2017-03-27 17:06] AndreyAkinshin commented on #402
Hey @AcousticGuitar. Which dependency do you mean?

[2017-03-27 17:08] AcousticGuitar opened #403 "Opening Project in VS2015 after installing F# dependencies"
All files show unloaded in project any attempt to reload show this error.

<img width="400" alt="benchmark" src="https://cloud.githubusercontent.com/assets/10676026/24368409/f3ac2748-12e5-11e7-8630-1bb30a12b277.PNG">

[2017-03-27 17:22] adamsitnik commented on #403
You need Visual Studio 2017 to be able to compile and run our solution.

[More info](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/guide/Contributing/Building.md). And also please use [our docs](http://benchmarkdotnet.org/) and [our gitter](https://gitter.im/dotnet/BenchmarkDotNet) next time.

[2017-03-27 17:22] #403 closed

[2017-03-27 17:26] adamsitnik commented on #401
@AndreyAkinshin It's most probably due to the fact that I don't copy all required dlls when running runClassicTests.bat. I will take a look into it during the weekend

[2017-03-27 17:37] AcousticGuitar commented on #402
Hi Andrey, when I cloned the project to my desktop and tried to build, it immediately forced a F# install to my Visual Studio Instance.  I think I know now why, there are F# samples and I don't have F# component installed.

[2017-03-28 04:02] AndreyAkinshin commented on #402
Exactly.

Why do you want to build BenchmarkDotNet from source code on remote client VM? We have NuGet packages which can be installed to your project without any F# dependencies. If you want to develop new features in BenchmarkDotNet, you have to install the F# component (or unload F# projects).

[2017-03-28 07:11] AndreyAkinshin opened #404 "Autoselecting amount of digits after the decimal point"
Right now the default is 4. So, the summary table column looks like that:
[code]
However, in general case, it doesn't make any sense to print so many digits because we don't have the appropriate precision level. Thus, we can reformat the above table in the following way:
[code]
Profit: the column became narrower, we threw out insignificant numbers (0.0567 is on the random noise level).
Suggestion:

[2017-03-28 15:13] ig-sinicyn commented on #404
@AndreyAkinshin

We have [such feature](https://github.com/rsdn/CodeJam/blob/master/PerfTests/src/%5BL1_CompetitionApi%5D/Metrics/%5BMetricValues%5D/MetricValueHelpers.cs#L62) in our perftests project.

[Unit tests with example cases](https://github.com/rsdn/CodeJam/blob/master/PerfTests/tests/%5BL1_CompetitionApi%5D/MetricValueHelpersTests.cs#L60).

[2017-03-28 15:18] AndreyAkinshin commented on #404
/cc @AmadeusW

[2017-03-28 21:05] AmadeusW commented on #404
Just to clarify; if the smallest value was 0.1234, then we will display 4 decimal digits for all values,
if the smallest value was 12.34, we will display 2 decimal digits for all values
if the smallest value was 12.3, we make it 12.30 because we want at least 4 digits. We display 2 decimal digits for all values
and if the smallest value was 12.34567, we will display 5 decimal digits for all values

[2017-03-28 22:02] AcousticGuitar commented on #402
I'm a dummy.  When I saw the samples, I cloned and try to bring up in VS2015.   I just tried it again today in 2017 and it loaded just fine, samples and all.

[2017-03-28 22:02] #402 closed

[2017-03-29 04:31] AndreyAkinshin commented on #404
if the smallest value was 12.34, we will display 2 decimal digits for all values
if the smallest value was 12.3, we make it 12.30 because we want at least 4 digits. We display 2 decimal digits for all values

Yes.

No, we will display 2 decimal digits (12.34567 -> 12.34; 123 -> 123.00)

[2017-03-31 17:23] rynowak opened #406 "BenchmarkDotNet with netcoreapp2.0 requires using RuntimeFrameworkVersion directly in the project file"
See: https://github.com/aspnet/Mvc/pull/6056/files

We found that restore of the generated projects will fail without putting `<RuntimeFrameworkVersion>` directly in the `.csproj` with an error like:
[code]

We'd generally prefer to control `<RuntimeFrameworkVersion>` globally for the repo in a [shared `.props` file](https://github.com/aspnet/Mvc/blob/dev/build/dependencies.props) but this seems t

[2017-04-01 18:49] #406 closed

[2017-04-01 18:52] adamsitnik commented on #406
@rynowak I have now added an option to check imported .props files for this setting. Please let me know if it works or not. You can grab the latest version from `<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`

[2017-04-01 19:11] #365 closed

[2017-04-01 20:10] #351 closed

[2017-04-01 20:26] #352 closed

[2017-04-02 11:05] #249 closed

[2017-04-02 11:55] #189 closed

[2017-04-02 11:57] #257 closed

[2017-04-02 12:01] adamsitnik commented on #130
I think that I have fixed the last remaining issues today, closing

[2017-04-02 12:01] #130 closed

[2017-04-02 12:05] adamsitnik commented on #376
I am closing since Andrey has already changed the colors

[2017-04-02 12:05] #376 closed

[2017-04-02 12:14] #394 closed

[2017-04-02 12:16] adamsitnik commented on #358
I am closing since the PR was closed. @ig-sinicyn please reopen if I am wrong

[2017-04-02 12:16] #358 closed

[2017-04-02 12:21] adamsitnik commented on #330
@Mike-EEE can this one be closed? Did you find the answer?

[2017-04-02 12:23] adamsitnik commented on #294
@alinasmirnova was this fixed with #408 ?

[2017-04-02 12:24] adamsitnik commented on #387
I like this idea. I could use it also for our Diagnosers (the results would not get affected by our loops)

[2017-04-02 12:24] Mike-EEE commented on #330
Ah, yes @adamsitnik we can indeed.  I think we can chalk this one up to tripping over myself while learning way too many things at once.  Thanks again for all your help here!

[2017-04-02 12:24] #330 closed

[2017-04-02 12:37] #159 closed

[2017-04-02 17:56] #401 closed

[2017-04-02 17:59] adamsitnik commented on #401
Ok @AndreyAkinshin it wasn't very pleasant to do, but I have managed to get it working again ;)

I decided to move all tests to .IntegrationTests. I have ported old csprojs to the new format. Now we have only modern projects, except F# and VB which are not supported by the new VS 2017 yet ;(

I removed .DifferentRuntime tests because they don't make any sense today. When we were supporting  .NET 4

[2017-04-02 20:20] AndreyAkinshin commented on #401
@adamsitnik, thank you so much for doing it, it's awesome!
However, I still have failed tests. Could you take a look at my logs?
[runClassicTests.txt](https://github.com/dotnet/BenchmarkDotNet/files/888641/runClassicTests.txt)
[runCoreTests.txt](https://github.com/dotnet/BenchmarkDotNet/files/888642/runCoreTests.txt)

[2017-04-02 20:47] adamsitnik commented on #401
@AndreyAkinshin hmm it's strange because all your projects output is `_out` folder.

For .NET Core I can see that build succeeds, but the dll is not there. I guess that it's in some runtime-specific folder.

Could you apply [KeepBenchmarkFiles] to one of the tests, let's say `BenchmarkDotNet.IntegrationTests.ProcessPropertiesTests.HighPriorityIsSet` and run it from console via `dotnet test tests\B

[2017-04-03 05:09] AndreyAkinshin commented on #401
[HighPriorityIsSet.txt](https://github.com/dotnet/BenchmarkDotNet/files/889037/HighPriorityIsSet.txt)

[2017-04-03 05:21] adamsitnik commented on #401
@AndreyAkinshin it looks like you did not use `[KeepBenchmarkFiles]`

[2017-04-03 05:47] AndreyAkinshin commented on #401
Hooray, I solved the problem! My `dotnet --version` was `1.0.0`, but I had a lot of preview versions in `C:\Program Files\dotnet\sdk\`. I removed it, now all my tests are passed. It's so hard to support bleeding edge technologies. =(
@adamsitnik, do you have any issues that you want to fix in `0.10.4`? I want to carefully check current version in all my environments and (if everything is fine) pub

[2017-04-03 05:53] adamsitnik commented on #401
@AndreyAkinshin Yesterday I fixed all the little problems I knew. My last TODO are the docs for Hardware Counters ;)

[2017-04-03 17:21] alinasmirnova commented on #294
@adamsitnik not really. I've fixed it in #409

[2017-04-03 17:40] #294 closed

[2017-04-05 05:05] AndreyAkinshin opened #410 "Troubles with Classic applications on nightly BenchmarkDotNet"
I created new ConsoleApplication, set .NETFramework4.6, installed BenchmarkDotNet `0.10.3.82`, wrote simple benchmark:
[code]
and tried to run it. The result:
[code]
Probably related to https://github.com/dotnet/BenchmarkDotNet/issues/401
@adamsitnik, could you take a look?

[2017-04-05 05:23] AndreyAkinshin commented on #410
[Repro.zip](https://github.com/dotnet/BenchmarkDotNet/files/895232/Repro.zip)

[2017-04-05 10:09] adamsitnik commented on #410
That's interesting. When I create a new project in VS 2015/2017 and install latest BDN I can not reproduce it. However with your repo I can.

The difference is that my VS generates following `App.config` with assembly binding redirects:

[code]

I will need to dig in more into that because it seems to be common problem. We have at least 3 or 4 bugs reported with various assembly loading exceptions

[2017-04-06 22:25] redknightlois opened #412 "HardwareCounter.InstructionRetired failing with ArgumentNullException. Build 82"
I tried to run: https://gist.github.com/redknightlois/7341ae1f13924a1baef49df9415f40af
And got this exception.

[code]

[2017-04-07 15:15] redknightlois commented on #412
I can confirm that still fails on build 10.3.86 ... I am giving a course on performance tomorrow and using BenchmarkDotNet throughout it. It would be awesome to showcase the ability to measure low level CPU behavior. Do you think it could be solved by then? @AndreyAkinshin @adamsitnik @mattwarren

[2017-04-07 16:15] adamsitnik commented on #412
@redknightlois sure, starting investigation right now

[2017-04-07 16:34] adamsitnik commented on #412
@redknightlois I can reproduce it, it's my bug in the configuration. I'll work on a fix now, but in the meantime you can workaround it:

Please comment the per type config: `//[HardwareCounters(HardwareCounter.InstructionRetired)]`
and extend your job in following way:

[code]

@AndreyAkinshin I am going to make the counters part of IConfig, not Job.

btw: sample results:
[code]
 |             Met

[2017-04-07 18:22] #412 closed

[2017-04-07 18:42] adamsitnik commented on #412
@redknightlois fixed, you don't need the workaround anymore. The CI version build number is 0.10.3.87

Good luck with your course tomorrow!

[2017-04-07 18:50] AmadeusW opened #414 "BDN crashes with IOException when it can't save a report file"
Version used: **0.10.3**

To repro:
- Create a benchmark with `config.Add(CsvExporter.Default);`
- Run benchmark
- Open .csv in Excel. Excel gets a lock on the file
- Run benchmark again
- BDN crashes with `System.IO.IOException`

Potential resolution:
- Ignore the error and continue
- Try to save under another name, for example `MyTest-report (2).csv`. What's the preferred naming convention?

[2017-04-07 19:01] redknightlois commented on #412
Thanks!!!  Confirmed working!

[2017-04-08 17:58] benaadams opened #415 "Allocations for async methods measures BenchmarkDotNet"
e.g.
[code]
Will output
[code]

Suggesting the method allocates 64B; when it allocates 0

[2017-04-08 18:23] adamsitnik commented on #415
thanks! will fix within few days

[2017-04-09 08:58] adamsitnik commented on #415
I am able to reproduce. Finally some interesting bug!

[code]

is translated to:

[code]

notice the **new Func<<Task>>**

[2017-04-09 14:23] JohanLarsson opened #417 "Generic classes with benchmarks"
[code]
When running this the report is named Foo`1.
Would be nice if it was named Foo{Baz}

[2017-04-09 14:38] #415 closed

[2017-04-09 14:48] adamsitnik commented on #417
Generic types are not supported by design.

The problem is that when we are constructing benchmarks we can't tell what `T` is. The behavior could be different for value and reference types.

You need to create type that derives from generic class, and then run benchmarks for it.

Sth like:
[code]

[2017-04-09 14:48] #417 closed

[2017-04-09 14:51] JohanLarsson commented on #417
Ok, thanks

[2017-04-09 18:18] adamsitnik commented on #415
@benaadams thanks for reporting the bug. It was quite serious! I fixed it, `0.10.3.90`+ is now bug-free.

[2017-04-09 18:19] benaadams commented on #415
Thank you :)

[2017-04-09 21:25] adamsitnik commented on #395
Fixed, wasn't really our fault (VS did not generate the right assembly bindings). [PR](https://github.com/exceptionless/Exceptionless.Net/pull/146)

[2017-04-09 21:25] #395 closed

[2017-04-09 21:26] adamsitnik commented on #410
Fixed, wasn't really our fault. VS did not generate the right assembly bindings. I have no idea why, but now we try to help .NET framework when it fails to resolve an assembly.

[2017-04-09 21:26] #410 closed

[2017-04-10 06:34] AndreyAkinshin opened #418 "Incorrect Idle implementation for Task benchmarks"
Let's take the benchmark from https://github.com/dotnet/BenchmarkDotNet/issues/415:
[code]
Here are some lines from the generated project (BenchmarkDotNet 0.10.3.91):
[code]
[code]
We can see asymmetry here.
Next, here are some lines from logs:
[code]
We can see that the Idle iterations takes more time than the Target iterations (the difference is only about 2ns or several CPU ticks, but it can be

[2017-04-10 06:35] AndreyAkinshin commented on #415
@benaadams, thanks for the bug report!
@adamsitnik, thanks for the fix, it looks great! However, I still have some concerns about async benchmarks, see https://github.com/dotnet/BenchmarkDotNet/issues/418

[2017-04-10 06:39] AndreyAkinshin commented on #412
@adamsitnik, another awesome bugfix, thanks!

It's a very good idea!

[2017-04-10 06:45] AndreyAkinshin opened #419 "Suspicious warnings about MemoryMappedFiles"
Let's run my favorite benchmark (VS2017, classic console application, BenchmarkDotNet 0.10.3.91):
[code]
Here is the build log:
[code]
It *doesn't affect* benchmark results, I have a compiled project and a nice summary table.
However, I don't think that it's ok to have such warnings, probably we are doing something wrong here.

[2017-04-10 06:59] benaadams commented on #418
Is idleAction a method group? Convert to non capturing lambda?

https://github.com/dotnet/roslyn/issues/5835

[2017-04-10 07:04] AndreyAkinshin commented on #410
@adamsitnik, awesome thanks. But now I have another issue: https://github.com/dotnet/BenchmarkDotNet/issues/419, it can be related. Could you take a look?

[2017-04-10 08:22] #419 closed

[2017-04-10 08:29] AndreyAkinshin commented on #419
@adamsitnik, thanks!

[2017-04-10 08:37] adamsitnik opened #420 "Make BenchmarkDotNet.Core runtime independent"
The goal is to have `BenchmarkDotNet.Core` without all the nasty `#if` defines, which should help with the UAP integration.

My initial idea:

1. Make `BenchmarkDotNet.Core` target lowest .NET standard possible
2. Move all things that require `#if` defines to runtime-specific packages
3. All these things should be injected by `BenchmarkDotNet` as interface implementations (for example IRuntimeInfo

[2017-04-10 08:38] adamsitnik commented on #420
@AndreyAkinshin I would like to make it work for 0.10.5

[2017-04-10 08:40] adamsitnik commented on #419
@AndreyAkinshin you are welcome! I just want to get rid of all the annoying bugs so we can focus on performance-specific things only

[2017-04-10 08:48] adamsitnik commented on #418
@AndreyAkinshin please correct me if I am wrong:

@benaadams  idle is the overhead of method invocation and optionally of returning the result.

so let's say that we have benchmark:

[code]

then what we show as the result is cost of executing `Main` - cost of invoking `Idle` so we measure only the cost of `Thread.Sleep(TimeSpan.FromSeconds(1.0));` It's of course much more complex, with Andrey's p

[2017-04-10 08:49] AndreyAkinshin commented on #420
@adamsitnik, if we are going to change the NuGet package set, it makes sense to make it `0.11.0` instead of `0.10.5`.
I like your approach, here are some additional thoughts. Probably it makes sense to rename `BenchmarkDotNet.Core` because some people think that it's a BenchmarkDotNet version for .NET Core. Also, if we are going to introduce an additional package for core logic on .NET Core, it wi

[2017-04-10 08:53] AndreyAkinshin commented on #419
Yeah, it would be great! I already have some great precision-related changes in my local repo. =)

[2017-04-10 09:00] adamsitnik commented on #418
@AndreyAkinshin I am not sure what should be the `idle` for async methods.

I thought that `Task.CompletedTask.GetAwaiter().GetResult();` is a good candidate because it includes the cost  of creating awaiter (it's a struct, but anyway it costs something) and of the call to` .GetResult()` method.

The problem is the benchmark that you have provided:

[code]

because it contains one more method in t

[2017-04-10 09:02] adamsitnik commented on #419
@AndreyAkinshin I am looking forward to your blog post(s) about these changes!

[2017-04-10 09:04] adamsitnik commented on #420
I agree. I will think of it. Maybe just `BenchmarkDotNet.Standard` or `BenchmarkDotNet.RuntimeIndependent` ? Ofc the namespaces will not change (`Benchmark.Attributes`)

[2017-04-10 09:08] adamsitnik commented on #420
new idea for the packages:

- `BenchmarkDotNet.Runtime.Independent` - the core logic, .NET standard, no BDN dependencies
- `BenchmarkDotNet.Runtime.Classic` - desktop .NET framework implementation, dependency to `BenchmarkDotNet.Runtime.Independent`
- `BenchmarkDotNet.Runtime.Core` - .NET Core implementation, dependency to `BenchmarkDotNet.Runtime.Independent`
- `BenchmarkDotNet.Runtime.Uap` - UAP

[2017-04-10 09:09] benaadams commented on #418
Take `Task.CompletedTask` into a static field; depending on what framework you are on it the property itself can have costs (is better in NetCoreApp 2.0)

e.g. this may work

[code]

[2017-04-10 09:14] AndreyAkinshin commented on #418
The `Idle` method should be an implementation-free version of the `Main` method with the same signature, and it should be executed as the `Main` method. I like `Task.CompletedTask` as a baseline. In this case, we have to provide the following signature:
[code]
In the generated program, we also should use the same ways to declare the `idleAction` and `mainAction` delegates.

[2017-04-10 09:17] AndreyAkinshin commented on #418
In the past, I spent a huge amount of time on different measurement approach. Usually, if you have any asymmetry between `Idle` and `Main` methods, you will have problems.

(In fact, if you have the same methods, you still can have some problems because of CPU microarchitecture "features," but it seems that we already solve all such problems (hopefully)).

[2017-04-10 09:20] AndreyAkinshin commented on #420
I'm not sure about `Independent` but `BenchmarkDotNet.Runtime` looks like an option.

@ig-sinicyn, @mattwarren, what do you think?

[2017-04-10 09:28] zabulus commented on #420
I suggest names regarding where the code runs:
1. BDN.Host;
2. BDN.Host.Uap; <- Toolchain for UAP is here, for example
3. BDN.Target.Common;
4. BDN.Target.Core; <- .NET core runnable specific code
5. BDN.Target.Uap; <- Templates for UAP running placed here
and so on.
This will take more effort in separation, though.

[2017-04-10 11:23] ig-sinicyn commented on #420
@AndreyAkinshin

I'm afraid this going to be too overbloated. What about this:
1. define an interface for platform-dependent api
2. include implementations but wrap entire implementation with `#if SOME_MONIKER`
3. expose implementation via static field/property.

Almost always there's only a smart part of code to be handled this way.

[2017-04-12 07:46] #118 closed

[2017-04-12 07:46] #146 closed

[2017-04-12 07:50] #414 closed

[2017-04-15 07:57] #397 closed

[2017-04-16 09:47] JamesNK opened #422 "Using BenchmarkDotNet with profilers (e.g. dotTrace/dotMemory)"
It would be nice if it was possible to use profilers like dotTrace and dotMemory to get more in-depth information about a benchmark.

[2017-04-16 10:19] adamsitnik commented on #422
Would you like us to use the profilers to get more data for the end user or just to generate .exe that is profiler friendly (#387)?

[2017-04-16 14:07] AndreyAkinshin commented on #422
I think it's a good idea to generate a profiler friendly `.exe`. The main point of discussion is API because BenchmarkDotNet allows enumerating different jobs (includes runtime) and parameter sets. If we want to use a profiler, we should do under specified conditions.

[2017-04-16 21:12] adamsitnik opened #424 "Make InliningDiagnoser filtering more flexible"
As a user I want to be able to toggle:

- filtering inlining events per namespace
- showing only inlining failures

[2017-04-16 21:30] JamesNK commented on #422
You'll never be able to offer all the features and UI of a full profiler app. I think making it possible to use a profiler with the output of BenchmarkDotNet is the best course.

[2017-04-16 21:37] adamsitnik commented on #422
@JamesNK I am going to close this as duplicate, please track #387 , I am going to implement it for 0.10.5

[2017-04-16 21:37] #422 closed

[2017-04-16 21:39] #424 closed

[2017-04-16 21:41] adamsitnik commented on #424
I was investigating some `ValueTask<T>` issues and I found out that our namespace filtering was too aggressive.

Now users can choose:
[code]

/cc @mattwarren

[2017-04-17 20:56] #418 closed

[2017-04-17 21:04] adamsitnik commented on #418
@AndreyAkinshin I studied all the possible options and decided to make Idle task-independent. It's the same as for non-task returning methods. I am too tired to write down all my research now, but following results should be convincing:

[code]

[code]

[code]

The overhead of awaiting (`.GetAwaiter().GetResult()`) is super-small. Also when people write Task returning methods and await them the co

[2017-04-17 21:27] #388 closed

[2017-04-18 08:59] mattwarren commented on #424
Yeah that's a nicer way of doing it than that original way, thanks for tidying this up!

[2017-04-18 23:47] coonmoo opened #425 "Provide a way to change the Artifacts path"
Hello,

I need to run multiple BenchmarkDotNet instances on my computer in parallel.
Due to automation, I can't put them into seperate folders. So when the Console App is started multiple times, they always overwrite each others results.

So could you provide a property to set the name of the "BenchmarkDotNet.Artifacts" directory manually?

Thank you very much!

[2017-04-19 06:16] Ky7m opened #426 "[WIP] Proposal: Migrate from custom build scripts to Cake (C# Make)"
[Cake (C# Make)](http://cakebuild.net/) is a cross platform build automation system with a C# DSL to do things like compiling code, copy files/folders, running unit tests, compress files and build NuGet packages.
I can help migrate from custom build scripts to CakeBuild.

**Does it make sense?**

A few examples of real usage:
- [IdentityServer4](https://github.com/IdentityServer/IdentityServer4/bl

[2017-04-19 06:45] zabulus commented on #425
There is option ```KeepBenchmarkFiles```, that places different benchmark projects to separate folders.

[2017-04-19 07:05] coonmoo commented on #425
I tried that, but all instances are running the exact same benchmark project.

[2017-04-19 08:44] AndreyAkinshin commented on #425
@coonmoo, why do you want to run several benchmarks in parallel? It's totally kills the idea of the good precision level.

[2017-04-19 08:44] AndreyAkinshin commented on #404
Hey @AmadeusW, any progress with the issue?

[2017-04-19 08:46] AndreyAkinshin commented on #426
Hey @Ky7m. Sounds interesting. May I ask what exactly are you going to change?

[2017-04-19 09:13] Ky7m commented on #426
@AndreyAkinshin, my vision is following:
1.  Create build.cake script to replicate all custom steps from [appveyor.yml](https://github.com/dotnet/BenchmarkDotNet/blob/master/appveyor.yml) and custom scripts from [build directory](https://github.com/dotnet/BenchmarkDotNet/tree/master/build)
2. Test and verify that new build approach works identically to the existing one.
3. Once verification is com

[2017-04-19 09:38] AndreyAkinshin commented on #426
@adamsitnik, what do you think?

[2017-04-19 13:55] nickbabcock commented on #425
While I don't share the same use case as OP, I feel like configuring Artifacts path is good when the benchmarks have to be conditionally compiled depending on the environment.

For instance, I'm trying out [benchmarking different hash functions](https://github.com/nickbabcock/Farmhash.Sharp/tree/new-build/Farmhash.Sharp.Benchmarks) across core, clr, and mono. Some nuget packages do not work with c

[2017-04-19 13:59] AndreyAkinshin commented on #425
Agree, and we already have such issue: https://github.com/dotnet/BenchmarkDotNet/issues/377 =)

[2017-04-19 15:48] coonmoo commented on #425
Thanks guys!
Yeah thats true.

I wanted to leverage BenchmarkDotNet to benchmark network intensive I/O operations. To fully utilize the NIC I need to run these in parallel.

But maybe there are better frameworks for this kind of benchmarking?

[2017-04-19 15:52] AndreyAkinshin commented on #425
@coonmoo, we are working on good multithreading support. Hopefully, will be available soon.
Right now you can perform parallelization inside your benchmark method.

[2017-04-19 20:38] coonmoo commented on #425
Thank you, sounds awesome. Is there an alpha or something for the multhreading support?

Parallelization inside the method would mess up the results when BenchmarkDotNet reports the statistics.

e.g. consider the following methods to benchmark where I want to measure the op/s

void Send1MB()
void Send1MBParallel10()

The statistics for the parallel method should be divided by 10 to get the amount

[2017-04-19 20:44] adamsitnik commented on #377
@AndreyAkinshin do you mean only the results (`.csc`, `.html` and etc) and logs (`.log`)? then such change is easy

but if you also mean (`.exe`, `.notcs` and `.config`) then not so easy because today we use `benchmark.Target.Type.GetTypeInfo().Assembly.Location` where something (like msbuild) has produced the exe which makes assembly loading very easy for us (everything is in the current director

[2017-04-19 20:48] adamsitnik commented on #425
@coonmoo you can try OperationsPerInvoke (it should work, but I am not 100% sure and can't verify now):

[code]

[2017-04-19 22:15] coonmoo commented on #425
Thanks for the fast response.
Yes that does the trick, e.g. it seems to divide the Mean value for Send1MBParallel10 by 10.

But now I noticed from the stats that Send1MBParallel10 "seems" to be more than twice as fast as Send1MB (looking at the Mean or op/s value).
So setting OperationsPerInvoke does not work for me, because in reality Send1MB is usually faster.

It rather need to sum the time for

[2017-04-20 20:16] rpokrovskij opened #427 "Doesn't work for core cspoj (the same works for classic)"
0.10.3 on VS 2017,  core 1.1

Expected result: on core should work like in classic
Actual result: empty report full of N/A. Exception if RankColumn included.

Files: VS project.
[Benchmark.zip](https://github.com/dotnet/BenchmarkDotNet/files/945356/Benchmark.zip)

If core support is expremental please state it clear. I can stay with classic.

[2017-04-20 21:14] adamsitnik commented on #427
Your log states clear what is wrong ;)

Your csproj supports only .NET Core 1.1, but you are using `[ClrJob]` attribute which enforces the classic .NET 4.6 build.
Instead of `[ClrJob]//, CoreJob]` you should use `[CoreJob]` or just remove it and the default value will be used.
If you want to use both `[ClrJob, CoreJob]` your `.csproj` needs to have `<TargetFrameworks>netcoreapp1.1;net46</TargetFra

[2017-04-20 21:14] #427 closed

[2017-04-20 22:12] AmadeusW commented on #404
I won't be able to work on it until after May 10th, and the code I got works per table, not per column. Feel free to label it as up for grabs

[2017-04-21 07:48] rpokrovskij commented on #427
Got it. Thank you.

[2017-04-21 08:28] AndreyAkinshin opened #428 "Cleanup NuGet.Config"
Currently, we have the following NuGet feeds in the `NuGet.Config`:
[code]
@adamsitnik, do we still need all these feeds? It would be great to keep only useful feeds which we actually use.

[2017-04-21 08:33] AndreyAkinshin opened #429 "Detect multimodal distributions"
Some benchmarks have several modes and `Mean`/`Median` don't provide useful information. It would be great to have an analyzer which detects such distributions and prints additional warnings (like "This benchmark has 3 modes: 10ms, 50ms, and 500ms").