[2019-02-07 20:27] Symbai opened #1056 "Fails to build when targeting .NET Core 3.0 and .NET Framework"
Created a new .NET Core 3.0 console application in VS 2019 and added BenchmarkDotNet via nuget. Changed line in proj.csproj:
[code]

I receive the following in console output (after CLR job has been successful completed):
[code]

For some reason it tries to compile it on .Net Core 2.0 and obviously as the project doesn't support it (target framework is set to .NET Core 3.0), it fails. However when

[2019-02-08 06:06] adamsitnik commented on #1056
Hi @Symbai

BDN generates a project with all boilerplate code that is required to avoid common benchmarking pitfalls. This project has `TargetFramework` property as well.

Depending on what is the target framework of your host process (the thing that you run in the console) we try to determine `TargetFramework`.

With .NET Framework, it's easy, because we just read the entries from Windows Registr

[2019-02-08 06:06] #1056 closed

[2019-02-08 06:07] adamsitnik commented on #1056
@Symbai please feel free to reopen if something is not clear

[2019-02-08 12:16] roji commented on #384
Any progress on this ? It would be really nice to see this merged and released...

[2019-02-08 12:18] AndreyAkinshin commented on #384
@roji here is the relevant PR: #924

[2019-02-08 15:41] roji commented on #384
FYI, a good use case for this is when building a multi-version BDN suite - see https://github.com/aspnet/EntityFrameworkCore/pull/14624#issuecomment-461319553.

In a nutshell, it's common to want to compare current perf against the that of the latest released version, by using different MSBuild build configs (`Release` vs. `ReleaseLastVersion`), and conditionally depending on a published nuget. Wh

[2019-02-08 15:58] adamsitnik opened #1059 "Disassembly diagnoser should be kept in a separate directory to avoid dependency conflicts"
From @ericstj

[2019-02-08 16:12] #1059 closed

[2019-02-08 16:25] ericstj commented on #1059
Thanks for a quick fix!

[2019-02-09 14:41] adamsitnik commented on #1021
@RealDotNetDave ping

[2019-02-09 17:58] ladeak opened #1060 "[Question] How does virtualization affect measurements?"
What does the following notification mean?

Is there any good source about how virtualization can affect the measurement? I have not seen anything about this topic in the documentation. Could you please point me to some pivot points?

[2019-02-10 07:04] dzmitry-lahoda commented on #1028
Would it be possible to have template for F# and with more code (i.e. template with examples) like next https://github.com/TheAngryByrd/BenchmarkDotNet.Template/issues/3 ?

[2019-02-11 02:02] Ky7m commented on #978
@adamsitnik just let you know that I started working on arm builds https://cloud.drone.io/Ky7m/BenchmarkDotNet/27/1/2
I am fighting with some strange error, so will keep you posted

[2019-02-11 06:05] adamsitnik commented on #978
@Ky7m awesome!

` SpecifiedProccesorArchitectureMustBeRespected` fails because we most probably set a wrong architecture (x64), instead of ARM64.

[2019-02-11 06:05] adamsitnik commented on #978
https://github.com/dotnet/BenchmarkDotNet/blob/fd0b8c03f089e490fcefd3aa14b4ff74167d7d95/tests/BenchmarkDotNet.IntegrationTests/ProcessorArchitectureTest.cs#L31

this should be conditional - if ARM, use ARM64, if not use x64

[2019-02-11 06:07] Ky7m commented on #978
Sure, I will check it, because now it is configured only for ARM32.

[2019-02-11 15:26] eerhardt opened #1062 "Write the GitHub table format to the console by default"
By default, if I take the console output of running a benchmark:

[code]

And paste that into GitHub, it doesn't recognize it as a table.

For example:

                 Method |       Mean |     Error |    StdDev | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
----------------------- |-----------:|----------:|----------:|------------:|------------:|------------:|----------------

[2019-02-11 15:30] adamsitnik commented on #1062
I totally agree, I am going to change it to make GH the default format we print to the console (it should be one liner)

[2019-02-11 18:30] szehetner opened #1063 "Visual Studio Extension"
I have started to build a Visual Studio extension to explore and run benchmarks: https://github.com/szehetner/BenchmarkDotNet-VS-Runner

![Benchmark Runner Window](https://github.com/szehetner/BenchmarkDotNet-VS-Runner/raw/master/src/BenchmarkRunner/Sample.png)

The idea is to have a UnitTest-runner-like UI that just starts BenchmarkDotNet with the right command line parameters. It's not quite fin

[2019-02-12 05:35] #1062 closed

[2019-02-12 05:37] adamsitnik commented on #1062
That was most probably the best UX improvement made in BDN with single code line change ;)

https://github.com/dotnet/BenchmarkDotNet/blob/61f56318ba53d5ad4ef8ea6cf62ba8e77b65fbdb/src/BenchmarkDotNet/Exporters/MarkdownExporter.cs#L37

[2019-02-13 20:37] TheJakeSchmidt opened #1064 "Provide an API for setup/cleanup shared across all parameter values"
BenchmarkDotNet runs methods marked `[GlobalSetup]` and `[GlobalCleanup]` once per set of parameter values. We have a benchmark that does some even-more-global-than-that setup (deploying some code to a load-testing server), which doesn't need to be re-run for each parameter setting. It would be good to have a hook (`[SeriouslyGlobalSetup]`?) that runs only once for all benchmark runs, in addition

[2019-02-13 21:50] dotMorten commented on #265
@adamsitnik Do I understand this change correctly that it'll only works on an individual test, and doesn't apply to GlobalSetup and GlobalCleanup? (which is where I need it)

[2019-02-14 04:11] adamsitnik commented on #265
@dotmorten I can't see your comment here that I got via email today, but the `[STAThread]` attribute will be applied to the `Main` method of the auto-generated code so it's gonna work for both setup and benchmark.

https://github.com/dotnet/BenchmarkDotNet/blob/87d281d7dbf52036819efff52e6661e436648b73/src/BenchmarkDotNet/Templates/BenchmarkProgram.txt#L12-L13

[2019-02-14 04:39] dotMorten opened #1065 "Allow benchmarking .NET Core Desktop apps"
I'd like to perf test some of the new desktop sdk stuf (like WPF on .NET Core), but when referencing the sdk, benchmarkdotnet seems to be generating a project that doesn't work during benchmark.

I've shared a repro here that tries to compare net471 to netcoreappp3.0:

https://github.com/dotMorten/WPFBenchmarkTests/tree/c92fec08ce09e8cf852927ea4d6f012b5460428b

In debug mode it just runs the test

[2019-02-14 05:05] dotMorten commented on #265
Thanks. Sorry I deleted it when I shortly after realized this 😁

[2019-02-14 05:19] adamsitnik commented on #1065
I am able to reproduce, lookin into the auto-generated .csproj to figure out what is wrong

[2019-02-14 05:41] adamsitnik commented on #1065
Ok, so the `.csproj` that we auto-generate imports wrong Sdk:

[code]

while it should be:

[code]

now I need to try a clean fix

[2019-02-14 08:09] adamsitnik commented on #1065
I have a PR with the fix #1066

I will do some testing and send a PR to your repo.

[2019-02-14 10:55] #1065 closed

[2019-02-14 14:12] Lakritzator opened #1067 "Conditions in Directory.Build.props fail"
While trying out the most recent changes which allow benchmarking with dotnet core 3.0 desktop project, which btw, work GREAT, I noticed that when running BenchmarkDotNet I get errors for Tasks which should not run!

Those tasks have conditions which are **normally** not met but for the benchmark project they did.
I **deleted** the tasks, the benchmark ran without issues.

The cause was this ItemG

[2019-02-14 16:05] phonglt7 commented on #861
Hi, do you mind sharing how you figured it out? The "Invalid framework identifier '' " issue,

[2019-02-15 05:33] adamsitnik commented on #861
@phonglt7  I have seen this issue once or twice, but only when building the project in VS. Did you try to run `dotnet restore` and `dotnet build -c Release` from the console?

[2019-02-15 10:40] GoldenCrystal opened #1068 "The csproj setting CopyLocalLockFileAssemblies is ignored"
Hello,

I'm trying to use a package/lib that is not very well designed and which requires to set `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>` for it to work with .NET Core. (This package copies files to the output directory, but expects the copied files to be located in the same directory as its assemblies, which works by default with .NET Framework)

When trying to use this p

[2019-02-15 10:45] omariom commented on #1063
Great idea!

Would be convenient to have a tab with results in datagrid so I can sort (or even group) by any columns.

[2019-02-15 20:00] szehetner commented on #1063
Good idea, this shouldn't be hard to add. https://github.com/szehetner/BenchmarkDotNet-VS-Runner/issues/1

[2019-02-15 20:41] TylerBrinkley commented on #1020
Would the related change occur at https://github.com/dotnet/BenchmarkDotNet/blob/04747a34fb03f2752b51f27fc233d8672c82248b/src/BenchmarkDotNet/Helpers/SourceCodeHelper.cs#L36

[2019-02-16 16:25] AndreyAkinshin opened #1069 "Improve API for job environment variables"
Consider the following job:

[code]

The corresponding `With` method is defined as follows:

[code]

It means that it always override the whole `EnvironmentVariables` list. In the above example, `job` has only one a single environment variable `"c"`. I think that this behavior looks pretty confusing. It will be better to add new environment variables instead of rewriting the whole list.

I want to

[2019-02-18 09:46] lydonchandra commented on #147
+1

[2019-02-18 11:23] stevejgordon opened #1070 "System.InvalidOperationException: Sequence contains more than one matching element after 0.11.4"
Using 0.11.4, benchmarks fail after they have completed running for this small sample application https://github.com/stevejgordon/BenchmarkAndSpanExample. Switching back to 0.11.3 these benchmarks seem to run without an issue.

In fact the error only occurs if I include the Orderer attribute:

[Orderer(SummaryOrderPolicy.FastestToSlowest)]

[code]

[2019-02-18 11:41] rikimaru0345 commented on #1070
I just came here to report the exact same thing! :smile:

[code]

There is no more Set() method now, so I was setting the orderer that way, I hope thats correct.

[2019-02-18 11:42] AndreyAkinshin commented on #1070
@stevejgordon, @rikimaru0345 thanks for the report!

[2019-02-18 12:42] adamsitnik commented on #1069
@AndreyAkinshin I think that we should keep the existing logic (when a whole collection is provided, overwrite the list), but also add `With(this Job job, EnvironmentVariable variable)` which would just add it to the list

[2019-02-18 12:44] #1070 closed

[2019-02-18 12:47] adamsitnik commented on #1069
the other overloads are nice to have, but I am not sure if we need them (imho  `With(this Job job, EnvironmentVariable variable)` should be enough, the most common case is just to add env vars)

[2019-02-18 12:48] rikimaru0345 commented on #1070
Are there any estimates when 11.5 will be released? Should we downgrade to 11.4 in the meantime?

[2019-02-18 12:53] AndreyAkinshin commented on #1070
@rikimaru0345,

I want to release it soon, but I don't have any estimates for now.
Meanwhile, you can use 0.11.4.1015 from our [nightly feed](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly) (it should be available as soon as [this build](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/22453568) is finished).

[2019-02-19 08:18] mantzas commented on #1063
Visual studio code would be nice too...

[2019-02-19 09:39] Asesjix opened #1071 "Enum flags results into compiler errors"
For combined enum flags, the code generator uses a comma instead of a pipe.

![image](https://user-images.githubusercontent.com/7798041/53004871-53c5ec80-3432-11e9-9e49-7eac5d603ce0.png)

![image](https://user-images.githubusercontent.com/7798041/53004903-650ef900-3432-11e9-96bc-77759f5bdae9.png)

![image](https://user-images.githubusercontent.com/7798041/53005020-a3a4b380-3432-11e9-8aad-1b038f662

[2019-02-19 21:33] szehetner commented on #1063
Yes, but the extension model for VS Code is completely different to Visual Studio, so this would basically be a re-implementation. Which also makes it a task for somebody with a lot more VS Code experience.

[2019-02-20 07:49] mantzas commented on #1063
@szehetner should i open another ticket? Maybe someone might jump at the chance to do this...

[2019-02-20 08:33] adamsitnik opened #1072 "EtwProfiler exports trace file only for a single runtime when Runtimes are controlled via attributes"
[code]

[2019-02-20 08:36] adamsitnik opened #1073 "The error message for users who want to Debug benchmarks is not clear"
The error message for users who want to Debug benchmarks is not clear, it suggests using `JitOptimizationsValidator.DontFailOnError` so our users go with `DefaultConfig.Instance.With(JitOptimizationsValidator.DontFailOnError)` and they fail because `DefaultConfig` contains `JitOptimizationsValidator.FailOnError`

I am going to simplify the error message and provide the link to https://benchmarkdot

[2019-02-20 08:39] adamsitnik commented on #1073
we can also suggest `config.With(ConfigOptions.DisableOptimizationsValidator);`

[2019-02-20 15:35] adamsitnik opened #1074 "Results should be exported to a file with unique name"
One of the common problems with BDN is that users re-run the benchmarks and the results get overwritten.

I think that we should change the default behaviour, the file name should not only be full benchmark name but also date.

@AndreyAkinshin what do you think?

[2019-02-21 08:06] adamsitnik commented on #1060
@AndreyAkinshin do you have some good reads?

[2019-02-21 10:18] adamsitnik commented on #687
Fixed in #921

[2019-02-21 10:18] #687 closed

[2019-02-21 10:19] adamsitnik commented on #611
I am closing this issue since we have most probably solved it with the `UnrollFactor` long time ago.

[2019-02-21 10:19] #611 closed

[2019-02-21 10:20] adamsitnik commented on #343
With `0.11.4.` we target .NET Standard 2.0 only and I have verified that everything works fine with Mono.

I am  closing this issue, @haf please feel free to reopen if you can repo this bug.

[2019-02-21 10:20] #343 closed

[2019-02-21 10:21] #792 closed

[2019-02-21 10:43] MarcoRossignoli commented on #973
@adamsitnik ask to me to follow up here after https://github.com/dotnet/performance/pull/314#pullrequestreview-206180237

I don't know if new comparer tool will be the same of `BenchmarkDotNet.Tool` but as I said could be useful:
* specify for base/new folder or csv file and tool should picks up file or last run from folder, my use case is one fixed base but multiple new with updates and every tes

[2019-02-21 14:51] AArnott commented on #1003
I see messages like this frequently. But it doesn't tell me what number would be good. So I blindly add more loops to my iteration method to add more time until the message goes away, but it's a blind guessing game of doubling, then reducing the number, till I get something that satisfies but doesn't overdo it. Can the message be modified to say "try to get it over 120ms" or whatever number it's t

[2019-02-22 01:30] Zhentar opened #1075 "GenericTypeArguments have to be compile-time constants"
For https://github.com/Zhentar/CLRStackZeroingAssemblyTests I am dynamically generating value types so that they can be used as as generic type parameters, as a way of achieving de-virtualizable delegates. Unfortunately, this means the generic type parameter arguments I want to use for my benchmark are not compile-time constants, which means I have to manually create all of the benchmark types, an

[2019-02-22 01:37] Zhentar opened #1076 "Test method name shown even when it's the same for all tests (and Type isn't)"
Showing the method when there's only one benchmark makes sense, but it doesn't work as well when the type is the variable:

|                    Type | Method |      Mean |     Error |    StdDev |
|------------------------ |------- |----------:|----------:|----------:|
|      Asm<Baseline_1024> |   Test | 20.206 ns | 0.2821 ns | 0.2639 ns |
|       Asm<Baseline_128> |   Test | 11.372 ns | 0.6563 n

[2019-02-22 14:15] ob-stripe opened #1078 "Consider releasing `RuntimeInformation` methods as standalone package"
Hi,

Retrieving the correct version information for the .NET runtime is [notoriously difficult](https://weblog.west-wind.com/posts/2018/Apr/12/Getting-the-NET-Core-Runtime-Version-in-a-Running-Application). This project appears to have mostly solved this problem via the methods in [`RuntimeInformation.cs`](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Portability/Runtim

[2019-02-23 10:40] #1020 closed

[2019-02-23 10:40] #1071 closed

[2019-02-23 10:41] adamsitnik commented on #1020
@Rizzen when I took #1071 it turned out that both issues can be fixed with a single fix, so I just fixed it. Sorry for taking your issue.

[2019-02-23 10:43] adamsitnik commented on #1078
Hi @ob-stripe

I am sorry, but no. It would add complexity on our side without any gains for us. The code is MIT so you can just copy-paste it.

If you believe that similar API should be exposed by the .NET Core base class library itself please create an issue in https://github.com/dotnet/corefx/ and tag me and I will ping the right people on the Team to discuss it.

It's also a duplicate of #1017

[2019-02-23 10:43] #1078 closed

[2019-02-23 10:53] adamsitnik commented on #1075
Hi @Zhentar

BenchmarkDotNet generates a boilerplate code which is implemented inside a class that derives from the benchmarked type. You can see the template [here](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Templates/BenchmarkType.txt#L2) or use `--keepFiles` argument to make BDN keep the auto-generated code.

[code]

We could of course use reflection, and generate

[2019-02-23 10:53] #1075 closed

[2019-02-23 11:04] #1073 closed

[2019-02-23 11:13] adamsitnik opened #1079 "Dont display the same Validation Error many times"

[2019-02-23 11:14] #1079 closed

[2019-02-23 13:29] TylerBrinkley commented on #1020
I think this will still error for negative values. The value portion needs to be wrapped in parentheses as well.

[2019-02-23 15:36] ob-stripe commented on #1078
Sorry for the dupe, I did try to check if this had been requested before but obviously didn't look hard enough.

It would definitely be nice if .NET Core did make it easier to retrieve the runtime version and I might follow your suggestion, although it would only solve half the problem for libraries that also support .NET Framework.

We'll probably just go with copying the code for now. Thanks for

[2019-02-23 17:07] adamsitnik commented on #1020
@TylerBrinkley good catch! thanks!

fixed with https://github.com/dotnet/BenchmarkDotNet/commit/c5c4c4dab89c1842f06fe45fdddbdf3271255137

[2019-02-23 18:12] #1069 closed

[2019-02-24 15:49] AndreyAkinshin commented on #1074
It's an interesting idea: it would be nice to have such an option. However, I'm not sure about the default behavior. I have two "cons":

* Currently, I can open an editor with some files from the `Results` folder (both plain text and plots) and get updates on the fly after each benchmark run.
* When `RPlotExporer` is enabled, BenchmarkDotNet creates tons of different plots. If it will put plots in

[2019-02-24 19:18] adamsitnik commented on #1074
@AndreyAkinshin good points, I have create a PR #1083

[2019-02-24 19:40] szehetner commented on #1063
@mantzas Sure, maybe somebody elso will pick it up.

[2019-02-25 07:58] #1074 closed

[2019-02-25 08:06] mantzas opened #1085 "Visual Studio Code Extension"
A extension in Visual Studio Code for running benchmark would be nice.
The idea is to recognize benchmarks, run them (single, multiple) and provide a report on the results.

[2019-02-25 11:48] osjoberg commented on #147
+1

[2019-02-26 09:21] sillyousu commented on #995
@jasper-d @adamsitnik do you know any workaround for this?

[2019-02-26 10:39] idormenco commented on #308
Hi, @adamsitnik  can we add in description of BenchmarkDotNet.Core that is deprecated and specify that user should use BenchmarkDotNet.

Thanks

[2019-02-26 11:09] AndreyAkinshin commented on #308
@idormenco done:

![image](https://user-images.githubusercontent.com/2259237/53408619-fac8fc00-39cf-11e9-933f-6efdbd534aa2.png)

By the way, NuGet team is working on a feature called "Deprecate packages" https://github.com/NuGet/Home/wiki/Deprecate-packages As soon as they finish it, I'm going to deprecate `BenchmarkDotNet.Core` via the new NuGet Gallary mechanism.

[2019-02-26 12:01] idormenco commented on #308
Hi @AndreyAkinshin indeed is written in documentation on nuget page but many devs will search for this packet in nuget browser from visual studio and this is what they will see:
![image](https://user-images.githubusercontent.com/1877190/53411315-d587be00-39ce-11e9-9ed0-07c8c669ffaf.png)
my idea was to write this in description.
I hope nuget will have that feature ASAP
Thanks for quick reply .

Bes

[2019-02-26 12:15] AndreyAkinshin commented on #308
@idormenco
BenchmarkDotNet (without the `.Core` suffix) should be on the first place:
![image](https://user-images.githubusercontent.com/2259237/53411903-e1787d80-39d8-11e9-93c7-ac4f13766a5e.png)
I can't change the description of the existed package. And I'm not going to upload "fake" version of `BenchmarkDotNet.Core` just to update description of the latest version.

[2019-02-26 12:24] idormenco commented on #308
@AndreyAkinshin yeah indeed this is unimportant issue, sorry for bothering you.

[2019-02-26 12:58] jasper-d commented on #995
@sillyousu See the workaround section above (i.e. create a custom ManualConfig that specifies the runtime) and use it [as documented](https://benchmarkdotnet.org/articles/configs/configs.html).

@mattzink Here the version is used during code generation to set the TFM in a generated .csproj. So yes, we wanna know what framework an application was build for.

[2019-02-26 21:48] szehetner opened #1086 "XmlExporter.Full fails with StackOverflowException"
Running a Benchmark with the fullxml exporter ("-e fullxml") causes the benchmark process to terminate with the message:
`Process is terminated due to StackOverflowException.`

Benchmark code (though it doesn't seem to matter, failed with all benchmarks I tried):
[code]

Version: 0.11.4

[2019-02-28 13:43] Fritzoid opened #1087 "Installing from nuget downloads deluge of files?"
Hi,

I tried installing BenchmarkDotNet 0.11.4 today using 'Manage NuGet packages for solution...' in visual studio 2017. After a long while , it went well, except that it downloaded and referenced several files I didnt expect. Things like System.IO, System.Reflection, System.Collections and several other standard .NET libraries???? What is going on?

Im using visual studio 2017 enterprise and tar

[2019-02-28 13:46] adamsitnik commented on #1087
Hi @Fritzoid

Please read following blog to get a better understanding:

https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET

[2019-02-28 13:46] #1087 closed

[2019-02-28 14:10] Fritzoid commented on #1087
Ok ty :) Its not really obvious from your docs, but I get it now. To avoid it, just target 4.7.2 ...

[2019-02-28 14:14] adamsitnik commented on #1087
You can contribute to our docs and improve them if you believe that this is important. You could add this question and answer to our FAQ: https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/faq.md

[2019-02-28 14:22] Fritzoid commented on #1087
Except that it didnt help to target 4.7.2 instead. Several standard assemblies are still being pulled in. Maybe I just don't understand the blogpost you linked. oh well, never mind.

[2019-03-03 02:19] kshyju opened #1089 "Does - in allocated memory column means 0 bytes allocated ?"
Does `-` in the allocated column means 0 bytes allocated in managed heap ? I am confused because @adamsitnik 's [blog post](https://adamsitnik.com/the-new-Memory-Diagnoser/#how-to-read-the-results) shows explicitly 0 B in the allocated column. It is clear that `0` represents `0` in the the gen columns(from the blog post). What about the "Allocated memory" column ?

![image](https://user-images.git

[2019-03-04 00:14] daveMueller commented on #1086
I made pull request for this #1090 . Would be cool if somebody will review.
I adapted the `XmlExporterBase` in the same way as `JsonExporterBase` by excluding the `Encoding` property. Please tell me if this is sufficient.

[2019-03-04 07:32] #1086 closed

[2019-03-04 07:33] adamsitnik commented on #1086
@daveMueller I tested it locally and it works. Thank you for providing the fix!

[2019-03-04 14:12] theEyeD commented on #147
While not an exact replacement, with the [deprecation of the Visual Studio load tests](https://github.com/MicrosoftDocs/visualstudio-docs/issues/2032), it would be great to be able to migrate some the loads tests to benchmarks and get some similar data out of it (customize # of 'users'/threads, time per run, etc.).

[2019-03-05 22:31] aparajit-pratap opened #1091 "Unable to build project due to .NETStandard dependency error"
I see the following errors on a build machine with `BenchMarkDotNet` attributes used in my code. I'm able to build and run on my local machine however (using VS2017 and .NET fx 4.7).
[code]
I tried adding a reference to netstandard to my csproj file but to no avail:
[code]

However after adding the reference above I saw these additional errors:
[code]

I suspect this could be due to the fact that

[2019-03-06 03:57] aparajit-pratap commented on #1091
Installing BenchmarkDotNet version 0.11.3 instead worked.

[2019-03-06 04:12] mjkkirschner commented on #1091
Is it intentional that the latest Nuget only has a target version for net standard 2.0?

[2019-03-06 14:46] adamsitnik commented on #1091
Hi @aparajit-pratap

I think that this is more a .NET Standard specific issue than BenchmarkDotNet. Could you try to install a newer Full .NET Framework SDK?

[2019-03-06 14:52] adamsitnik commented on #1091
hi @mjkkirschner

yes, we want to keep our code simple and avoid targeting multiple frameworks if we can.

We used to target `net46` as well, but Roslyn, one of our key dependencies in now going to support .NET Standard 2.0 only. So even if we would add `net461` target the users would end up using .NET Standard 2.0 anyway.

[2019-03-06 16:23] aparajit-pratap commented on #1091
@adamsitnik thanks for your response. At the moment we have gotten around this issue by reverting to an older version of BDM, 0.11.3 to get it to build instead of installing new SDK's.

[2019-03-06 19:26] jzabroski commented on #1003
@AArnott  I believe what you are looking for is pretty much what Expecto expect.isFasterThan does. See https://github.com/haf/expecto#performance-module

[2019-03-06 19:57] jzabroski opened #1092 "Two consecutive BenchmarkRunner.Run commands fail"
[code]

Message & Stack trace:

[code]

[2019-03-06 20:08] jzabroski commented on #1016
Interesting.  I prefer FluentCommandLineParser, personally.  I dislike Attributes on my classes.

Related to this, I know some of you work for Microsoft, and I had previously requested the .NET team consider modifying the .dll format so that System.CommandLine parameters were discoverable via PowerShell so that we could have auto-complete, but the issue was closed.  See: https://github.com/dotnet/

[2019-03-06 20:11] jzabroski commented on #1016
It might be an interesting Trojan Horse to get my idea adopted if I build a PowerShell script that enables auto-completion for benchmarkDotNet.  Thoughts?  (I felt the response in the CoreCLR thread was one of "I don't see a demo so its not worth doing" circular logic).

[2019-03-06 20:19] jonsequitur commented on #1016
Why limit it to Powershell? :)

The new System.CommandLine does the heavy lifting for completions regardless of the shell:

https://github.com/dotnet/command-line-api/wiki/Features-overview#Suggestions

[2019-03-06 20:21] jzabroski commented on #1016
@jonsequitur
PERFECT!  When did this happen??

[2019-03-06 22:02] jzabroski commented on #1064
@TheJakeSchmidt Something like what [Xunit.Performance](https://github.com/Microsoft/xunit-performance) does? Example below:

[code]

[2019-03-07 15:17] sebas77 opened #1094 "Please help running a mono job with errors on windows 10"
I get this error:

![image](https://user-images.githubusercontent.com/945379/53966942-1fb62100-40ec-11e9-8d72-607d3f55760f.png)

what am I supposed to do?

[2019-03-07 15:23] adamsitnik commented on #1094
Hi @sebas77

Is your project targeting .NET Core or Full .NET Framework?

Out Mono Toolchain works if you run the host process as Full .NET Framework (not Core)

[2019-03-07 16:03] sebas77 commented on #1094
ah! I suspected that, but for some reason stupid VS doesn't like me changing the target and force me to revert to core. I will figure it out, thanks ;)

[2019-03-08 10:42] hbrzostowski opened #1095 "BenchmarkDonNet in CI process"
Hi,

I have a problem with running benchmark tests in CI process. My configuration is a little bit weird but it worked until I updated benchmarkdotnet from version 10 to 11. Here is my set up:
1. I have configured TeamCity to run powershell script file which invoke WebApi controller(through POST method)
2. WebApi runs dotnet file(earlier it run exe file) using C#:
[code]
3. If everything is ok, th

[2019-03-08 13:34] sebas77 commented on #1094
it worked, but now I cannot run the core jobs, does it mean I have to have multiple projects targeting multiple frameworks to profile it?

[2019-03-08 13:38] adamsitnik commented on #1094
Your project needs to target multiple frameworks:

[code]

but to run Mono and .NET Core benchmarks you need to run the host process as Full .NET Framework

example:

[code]

to make sure that the console line arguments are handled you need to pass them to BenchmarkSwitcher:

[code]

[2019-03-08 13:45] sebas77 commented on #1094
hmmm maybe it's simpler to have different projects :P

[2019-03-08 23:28] Ky7m commented on #1095
Hi @hbrzostowski , did you try to use BenchmarkDotNet as a global tool https://benchmarkdotnet.org/articles/guides/global-dotnet-tool.html ? Does it make sense in your scenario?

[2019-03-11 11:45] hbrzostowski commented on #1095
Hi @Ky7m , I've tried. When I run it with global tool I get error about dependencies(even if they are in the same directory).

[2019-03-11 17:37] EgorBo opened #1098 "--coreRun doesn't validate argument"
It seems `--coreRun` accepts invalid paths and simply ignores them in this case, is it expected?

[2019-03-11 17:49] EgorBo commented on #1098
oops, my fault, my bencmark didn't use BenchmarkSwitched

[2019-03-11 17:49] #1098 closed

[2019-03-11 18:10] alexeybut opened #1099 "Detected package downgrade: Microsoft.NETCore.App from 2.0.9 to 2.0.0 issue."
This issue occurs on NetCore 2.0 projects.
Adding the following properties to autogenerated csproj file fixes this issue.
\<RuntimeFrameworkVersion\>2.0.9\</RuntimeFrameworkVersion\>
or
\<TargetLatestRuntimePatch\>true\<TargetLatestRuntimePatch\>

Test Name:	SimpleTestWithCustomSettings
Test Outcome:	Failed
Result Message:
System.Exception : Test has not been executed. It may be an unhandled excep

[2019-03-12 09:42] wojtpl2 commented on #1016
@adamsitnik I've seen that `System.CommandLine' is on Nuget: https://www.nuget.org/packages/System.CommandLine.Experimental/0.2.0-alpha.19156.3

I'm going to update my PR, this or next week.

[2019-03-12 12:47] adamsitnik commented on #1016
@wojtpl2 awesome! thanks for all your contributions to `System.CommandLine` to make the port possible!

[2019-03-12 12:47] hpbieker commented on #723
It would be nice to get this fixed so that we could get proper memory numbers for async code where some of the callbacks ends up on some other thread.

[2019-03-12 14:58] adamsitnik commented on #1089
@kshyju yes, `-` means `0`. Sorry for the inconvenience, I am going to update the description on my blog.

[2019-03-12 15:02] adamsitnik commented on #1089
Fixed with https://github.com/adamsitnik/adamsitnik.github.io/commit/824e531f8d52b506ba8cdc9bfa750960301d10c2

[2019-03-12 15:02] #1089 closed

[2019-03-14 02:39] kshyju commented on #1089
Thanks Adam.

[2019-03-14 12:55] Motvin opened #1100 "Add Exporter for Excel format files (.xlsx and maybe .xls)"
This could be done with npoi.
Currently I manually cut and paste the .html output file into an Excel worksheet, add some comments at the top, and format some things.  It would be nice if there was an Excel based file exporter that did this instead of having to do this manually.

The default output could be similar to the .html file output except I think only a single header line at the top (Benchm

[2019-03-14 18:18] TheAngryByrd commented on #1028
I'd be happy to just port the code I have in that repo to something under here as it will get more love and attention.

[2019-03-15 11:45] sebas77 opened #1101 "Difficulties debugging benchmark crashing"
The code doesn't crash outside the benchmarks, so I am trying to figure out what's going on. The Benchmarkdonet debugging option should surely be more intuitive, in fact I was expecting to be able to debug it from the project itself.
I think now I have figure out how to do it, but I get another problem. First of all I configure it in this way:

    [MonoJob()]
    [MaxWarmupCount(2)]
    [MaxItera

[2019-03-15 11:49] adamsitnik commented on #1101
Hi @sebas77

You are getting an error in the host process that is trying to build the benchmarking process but fails due file in use exception.

[code]

could you try to remove `bin\Debug\net472\FasterDictionaryBenchmarks.exe` and try again?

[2019-03-15 11:51] sebas77 commented on #1101
yes I noticed and tried that, I delete the whole folder, built again, run and happens again.

[2019-03-15 11:54] sebas77 commented on #1101
moreover the actual crash is inside mono.exe

[2019-03-15 11:54] adamsitnik commented on #1101
could you try to set UseSharedCompilation to false in your project with benchmarks?

[code]

[2019-03-15 11:59] sebas77 commented on #1101
yes better, now the benchmarks run, but I still get weird errors:

 Standard error:
 Time Elapsed 00:00:11.33
    2 Error(s)
    10 Warning(s)
C:\Program Files\dotnet\sdk\3.0.100-preview3-010431\Microsoft.Common.CurrentVersion.targets(4374,5): error MSB3021: Unable to copy file "d:\Robocraft\Svelto\Svelto.Benckmarks\Svelto.Common\bin\Debug\netstandard2.0\Svelto.Common.dll" to "bin\Debug\net472\Sve

[2019-03-15 12:02] adamsitnik commented on #1101
It looks like you got the same error, but for different .dll. Could you apply this setting to all projects?

[2019-03-15 12:02] sebas77 commented on #1101
of course, why do you think this happens?

[2019-03-15 12:09] sebas77 commented on #1101
it's mono holding the process
![image](https://user-images.githubusercontent.com/945379/54430317-1e53ac80-471b-11e9-93eb-a9e71c22b34c.png)

[2019-03-15 12:14] adamsitnik commented on #1101
could you kill mono.exe and see if it helps?

From your logs I can see that you fail to build the benchmark process, the thing is that we don't use mono for that. We use it in the next step to run the built program. It looks like mono is holding if from previous run?

[2019-03-15 12:15] sebas77 commented on #1101
yes done. with the property used everywhere there are no more errors and I can now attach the debugger. What you say may be right about mono, as the crash I need to debug is happening inside mono.

[2019-03-15 12:17] adamsitnik commented on #1101
great, I am glad I was able to help. However I don't have any experience with debugging Mono so I can't help you with that ;(

[2019-03-15 12:21] sebas77 commented on #1101
the property change was the solution for the crash too, although now it's crashing after the global cleanup. I will try to find out why.

[2019-03-15 12:26] sebas77 commented on #1101
ok cool it's something in the code now, thanks for the help!

[2019-03-15 12:26] #1101 closed

[2019-03-15 12:57] sebas77 commented on #1094
ok so eventually I did this and it was very simple, but there is still something wrong:

`     StandardPinnedArrayInsert |    Core |       Default |        NA |    NA |        NA |     ? |       ? |
|             StandardListInsert |    Core |       Default |        NA |    NA |        NA |     ? |       ? |
|      StandardManagedSpanInsert |    Core |       Default |        NA |    NA |        NA

[2019-03-15 12:59] sebas77 commented on #1094
oh, OK I guess I have to remove the compiler attribute from the class

[2019-03-15 12:59] #1094 closed

[2019-03-15 13:48] sebas77 opened #1102 "coreRt path"
Hello again,

in this article https://benchmarkdotnet.org/articles/guides/console-args.html I can read that the --coreRt option is available to set the path of the coreRt that I just built, but this option seems now not available anymore.

What am I supposed to use now to build with my local version?

[2019-03-15 13:53] sebas77 commented on #1102
ok I have to download the nuget version and change the version if I got it right

[2019-03-15 14:04] sebas77 commented on #1102
it worked. I like closing issues myself :P

[2019-03-15 14:04] #1102 closed

[2019-03-18 09:17] #826 closed

[2019-03-18 14:04] Temp1ar commented on #609
Hey @adamsitnik, I was experience the same problem as well. I have some long preparation work which generate some files. Now I want to pass at least file names to the benchmark process and can't find a way to do that. Maybe it can be done via string args[] parameter in BenchmarkRunner.Run()? The problem with GlobalSetup is it implies that initialization logic is a simple static method. But in my c

[2019-03-18 14:19] Temp1ar commented on #609
I found workaround to this issue - using environment variables: I set one before BenchmarkRunner.Run call and read its value in GlobalSetup method in benchmark type.

[2019-03-18 17:26] Zhentar commented on #1073
Neither version works for me...

[code]

The `Add(JitOptimizationsValidator.DontFailOnError)` version isn't great since it just silently does nothing, but the only place it would seem like `.With(ConfigOptions.DisableOptimizationsValidator)` could go won't compile.

Looking at the code, it seems like there isn't any way to do it with a ManualConfig type attribute, so instead I'll have to use
[code

[2019-03-18 17:48] Zhentar opened #1106 "Allow user defined namespace filter for InliningDiagnoser"
When I'm working on something that I want to optimize & test with BenchmarkDotNet, I usually set up a solution with a pair of projects, with a library DLL that I'm testing & a console app test harness that runs BenchmarkDotNet. Unfortunately this means my benchmarks are by default in a different namespace than the code I want to test; it would be convenient if I could choose which namespace is use

[2019-03-18 19:17] OlegKarasik opened #1107 "Unhandled Exception: System.InvalidOperationException: Benchmark method '' has incorrect signature. Method shouldn't have any arguments."
The following code causes unhandled `InvalidOperationException`.

[code]
As far as I understand the excepted behavior is to print an error message from the `InvalidOperationException` in a proper way.

Here is a full `StackTrace`:

[code]

[2019-03-18 21:36] morgan-kn commented on #976
Hello @mmisztal1980
Could you please provide here your output (BenchmarkDotNet.Artifacts/result/*.log)?

[2019-03-19 08:25] wojtpl2 commented on #1099
Are you build project in RELEASE mode?

Benchmark was built without optimization enabled (most probably a DEBUG configuration). Please, build it in RELEASE.

[2019-03-19 08:33] wojtpl2 commented on #1095
@hbrzostowski
1. Could you reproduce your exception in a small console application and share source code? Or maybe you can create a unit test which reproduces this problem?
2. I made dependencies loading feature in the global tool. Could you reproduce this exception too?

[2019-03-19 08:35] wojtpl2 commented on #1107
I think you need to add `[Arguments(...)]` attribute to this method. There is more information: https://benchmarkdotnet.org/articles/samples/IntroArguments.html

[2019-03-19 08:48] OlegKarasik commented on #1107
Hi @wojtpl2

Thanks for mentioning the `[Arguments(...)]` attribute (_I wasn't aware of it_)!

Still I've reported this issue mostly because absence of `[Arguments(...)]` attribute results in _unhandled exception_ rather than in _application error message_.

If throwing (_and not handling_) the exception is actually the expected behavior then feel free to close this issue as irrelevant.

[2019-03-19 08:49] AndreyAkinshin commented on #1107
@OlegKarasik thanks for the report. I will handle this exception and transform it to a nice error message.

[2019-03-19 09:05] wojtpl2 commented on #1092
@jzabroski I had the same exception. Could you try to restart your computer and then run this test again. In my situation, it helped.

This exception can be reproduced by stopping benchmark with e.g. `Add(HardwareCounter.CacheMisses);` and then during every next run, you will get this exception.

@jzabroski Could you share source code of `DataBucketingRandomPeriodsPerformanceTest` and `DataBucketi

[2019-03-19 13:40] #1068 closed

[2019-03-19 14:29] jzabroski commented on #1092
@wojtpl2 dzień dobry!

Hmm! That sounds about right.  I suspected the issue only triggers due to the fact I am using the "third party" Event Tracing for Windows library/dependency, but didn't have time to investigate why.  I'll try to wire up an example next week.  I don't think the test itself matters - it just needs to be long enough to hit Control+C in the terminal to kill the console.  You can

[2019-03-19 14:47] adamsitnik commented on #1092
@jzabroski jaki ten świat jest mały ;)

did you try 0.11.4? I am asking because I thought I have solved this issue in https://github.com/dotnet/BenchmarkDotNet/pull/1061

[2019-03-19 15:02] adamsitnik commented on #1106
@Zhentar good idea, I have marked it as up for grabs. Hopefully someone is going to implement it soon (it should be easy)

[2019-03-19 19:54] jzabroski commented on #1092
@adamsitnik ostatnia imprezza - here we go!

https://github.com/dotnet/BenchmarkDotNet/blob/cf3f8c382a6aab8fbc5c7ce804ef7451a4fdfac7/src/BenchmarkDotNet.Diagnostics.Windows/EtwDiagnoser.cs#L93

This looks incorrect.  Or rather, the whole "WaitForDelayedEvents" thing is a bit hacky - most code paths except for rude aborts call this method to clean-up.   I'm not sure what the proper fix is here.  Th

[2019-03-19 21:03] Romasz opened #1109 "Issue with DefaultOrderer"
Looks like using a _DefaultOrderer_ with policies end up with exception in my case. The benchmark is rather simple:
[code]

The summary cannot get configured order:

   at System.Linq.Enumerable.SingleOrDefault[TSource](IEnumerable`1 source, Func`2 predicate)
   at BenchmarkDotNet.Reports.Summary.GetConfiguredOrdererOrDefaultOne(IEnumerable`1 configs)
   at BenchmarkDotNet.Reports.Summary..ctor(St

[2019-03-20 17:08] adamsitnik commented on #1109
Hi @Romasz

Thank you for your bug report. It's a duplicate of #1070, which got already fixed and will be released as part of 0.11.5 soon

[2019-03-20 17:08] #1109 closed

[2019-03-20 18:01] adamsitnik commented on #1092
[code]

Why? The code that you have referenced does exactly the same thing (without null check)

https://github.com/Microsoft/dotnet-samples/blob/6f2414148e33740c29116138e8bcef28364fafa8/Microsoft.Diagnostics.Tracing/TraceEvent/TraceEvent/10_SimpleEventSourceMonitor.cs#L95

[code]

I agree, but we do that only because we have to. Some ETW events might be delayed and we wait for them.

This particu

[2019-03-20 18:10] jzabroski commented on #1092
Sorry, I was not clear - that is my fault. Hope you can forgive me.  My proposal is that you do this:

[code]

In other words, I think your code should work in 99.99999% of situations.  But it's definitely possible you won't dispose of the session.  The simplest way I can think of to test this would be to call System.Environment.Exit(-666) right after create session to see my point.

[2019-03-20 18:20] jzabroski commented on #1092
Separately, how does calling .Run clean up an ETW session?

Confirmed repro in 0.11.4, here is my csproj:

[code]

[2019-03-20 18:31] adamsitnik commented on #1092
@jzabroski Now I understand. And I agree, that this case is not handled. We should most probably handle it when starting the sesssion (kill the previous one if it somehow survived)

[2019-03-20 18:34] jzabroski commented on #1092
In thinking about my peer review of your code fix further, I think the example I linked to as best practice is also incorrect and suffers the same fate.  They should similarly register the delegate prior to the using statement, because a finally clause is not guaranteed to execute if, say, another thread triggers `System.Environment.Exit(-666);` https://docs.microsoft.com/en-us/dotnet/api/system.e

[2019-03-20 18:37] jzabroski commented on #1092
I was going to suggest something similar but I would like to avoid such complicated semantics if we can.  I think the broader issue is with BenchmarkRunner.Run and how it manages the resources it acquires (e.g., TraceEventSession).  I'm still learning BenchmarkDotNet so I haven't had enough time to F10 through the whole project and understand how everything hangs together.

[2019-03-20 18:45] jzabroski commented on #1092
I created an issue for the code sample: https://github.com/Microsoft/dotnet-samples/issues/44

[2019-03-20 21:53] #976 closed

[2019-03-20 21:54] adamsitnik commented on #976
@morgan-kn I just hit this bug and solved it. The problem was when the user was writing something to output in `[GlobalCleanup]` and we were trying to parse this output instead of the output written by MemoryDiagnoser

[2019-03-20 22:09] morgan-kn commented on #976
Yeah, I found out this, too. I reproduced this by adding into benchmark itself this line:
`AppDomain.CurrentDomain.ProcessExit += (sender, e) => Console.WriteLine("Test");`
Just wanted to make sure that user had a redundant line in his output.
Thanks, @adamsitnik =)

[2019-03-22 00:36] Zhentar opened #1110 "DisassemblyDiagnoser assumes indentation uses spaces"
The carets don't line up right if you use tabs:
[code]

(if you look carefully, you can also see a second issue here - at least for the markdown formatter, the code gets indented with 7 spaces in addition to the pre-existing indentation, while the carets do not)

[2019-03-22 10:56] adamsitnik opened #1111 "Change the format of printed Full .NET Framework Version"
As of today BDN prints something like this:

[code]

We have three numbers here: 4.7*, 4.0* and 4.8*.

I took a look at the code and the numbers represent the following:

[code]

The `Environment.Version` does not provide any useful data, I  think that we should simplify the output to the following:

[code]

@AndreyAkinshin do you agree?

/cc @billwert

[2019-03-22 15:54] Zhentar commented on #1073
I think the `[Attributes]` approach is the most common by far, because that's the approach the introductory samples take. I know I ended up using ManualConfig subclasses because that was what I found first in the docs for more advanced scenarios; don't know if that's common or not. Is there an attribute that can resolve this? Would said attribute still work in combination with ManualConfig or flue

[2019-03-22 17:41] jzabroski commented on #1092
@wojtpl2 @adamsitnik I had another idea (in addition to the fix I propose with the non-obvious sequencing the delegate registration before resource acquisition).  The idea also comes from the dotnet-samples repository comments:

https://github.com/Microsoft/dotnet-samples/blob/6f2414148e33740c29116138e8bcef28364fafa8/Microsoft.Diagnostics.Tracing/TraceEvent/TraceEvent/10_SimpleEventSourceMonitor.c

[2019-03-24 08:29] angularsen opened #1113 "Dynamically add benchmarks by user input"
### Motivation
As part of CI/CD we want to benchmark response time and throughput of API methods (HTTP REST and SOAP over various transports). The same test suite should be easy to run locally with different parameters to test 2 or more environments against each other and choose one of them as baseline.

We might look into specialized software to achieve this, but I wanted to give Benchmark.NET  a

[2019-03-25 08:37] #1107 closed

[2019-03-25 08:47] AndreyAkinshin commented on #1111
@adamsitnik
1. Do we really need the "SDK" postfix in ".NET Framework SDK"? What about computers without installed SDK (InProcessToolchain should work fine there)
2. Are you sure that it's correct to write "CLR v4.8.3752"? Currently, all .NET Framework 4.x uses that same folder: `C:\Windows\Microsoft.NET\Framework\v4.0.30319\`

[2019-03-25 12:35] #1110 closed

[2019-03-25 12:36] AndreyAkinshin commented on #1110
@Zhentar thanks for the report. The fix will be available in BenchmarkDotNet v0.11.5.

[2019-03-25 15:28] billwert commented on #1111
For #2, The install directory will never change again. Using the version off of clrjit.dll or clr.dll is much more informative.

Thanks,
-Bill
________________________________
From: Andrey Akinshin <notifications@github.com>
Sent: Monday, March 25, 2019 1:47:18 AM
To: dotnet/BenchmarkDotNet
Cc: Bill Wert; Mention
Subject: Re: [dotnet/BenchmarkDotNet] Change the format of printed Full .NET Framewor

[2019-03-26 11:55] yahorsi opened #1115 "Running using dotnet benchmark uses wrong core runtime"
I have installed dotnet bemchmark tool, made very simple benchmark and trying to run using:
dotnet benchmark DictionaryBenchmark.dll  --filter *

and getting the error:
 Standard error:
   Restore failed in 225.53 ms for C:\Dev\DictionaryBenchmark\DictionaryBenchmark\bin\Release\netcoreapp2.2\8b16bbdd-3fbd-4847-84a3-ee53a4ec0f06\BenchmarkDotNet.Autogenerated.csproj.
C:\Dev\DictionaryBenchmark\Dict

[2019-03-26 12:38] yahorsi commented on #1115
Well I figured -runtimes switch but it would be great to mention in in the docs on how you run the benchmarks :)

[2019-03-27 20:35] adamsitnik opened #1116 "Should we exclude outliers from the overhead?"
I just had a conversation with @AndyAyersMS and Andy asked if we remove the outliers from the overhead.

I did check our code and it looks like we don't:

https://github.com/dotnet/BenchmarkDotNet/blob/52eca7a626599fc1a2fab68b37c8aca77a65b6f2/src/BenchmarkDotNet/Engines/RunResults.cs#L40

Andy has run into a case where it would make a lot of sense:

[code]

@AndreyAkinshin I think that we should r

[2019-03-28 12:07] #1116 closed

[2019-03-28 12:15] AndreyAkinshin commented on #1116
@adamsitnik thanks for report, it's a good point. However, I decided that it will be better to just use Median instead of Mean.

[2019-03-28 13:13] adamsitnik commented on #1116
the simplest solutions are always the best! thanks!

[2019-03-28 14:47] AndreyAkinshin opened #1118 "Broken LatestCoreRtVersionIsSupported"
Currently, all of our builds are red because LatestCoreRtVersionIsSupported is broken.
@adamsitnik could you take a look?

[2019-03-28 14:51] adamsitnik commented on #1118
It's due to https://github.com/dotnet/corert/issues/7226

TL;DR: CoreRT NuGet feed run out of disk space ;)

[2019-03-28 23:28] Rizzen opened #1119 "MemoryDiagnoserAttribute on methods"
I noticed that ```MemoryDiagnoserAttribute``` has no ```AttributeUsage``` restrictions. But it works only when placed on class. In case of wrong usage benchmark runs with no errors or warnings but produces no memory diagnoser output.
Example of such usage:
[code]
I believe it's a bit confusing and might be improved by restricting ```MemoryDiagnoserAttribute``` usage on class.
@adamsitnik @AndreyAk

[2019-03-29 08:44] AndreyAkinshin commented on #1119
@Rizzen it's a good idea! Do you want to create a pull request?

[2019-03-29 09:06] #1115 closed

[2019-03-29 09:09] Rizzen commented on #1119
Sure!

[2019-03-29 09:25] adamsitnik commented on #1119
@Rizzen great catch! it explains one of the mysterious bugs I have seen few times but did not understand

[2019-03-29 12:07] adamsitnik commented on #1118
The problem has been fixed on the Infra side of CoreRT

Everything is green again

![obraz](https://user-images.githubusercontent.com/6011991/55231626-8a5a0880-5223-11e9-80d2-de2abc29e625.png)

[2019-03-29 12:07] #1118 closed

[2019-03-29 12:11] Motvin opened #1120 "Large Spike from WorkloadWarmup to WorkloadActual"
I'm comparing the Contains method of 3 .NET HashSets using N with params ranging from 10,000 Contains calls to 100,000 calls (my Params increment by 1,000, so 91 params in total).  I then graph the results and notice large spikes in the graph.  I've run multiple times and noticed large spikes every time along with some smaller spikes.  There should never be spikes (a point that is higher and then

[2019-03-29 12:45] AndreyAkinshin commented on #1120
@Motvin thank you very much for the report! Could you share the source code of your benchmark? Do you observe this problem each time or only sometimes?

[2019-03-29 16:05] feO2x opened #1121 "New Diagnoser for Thread Times / Blocking"
I'm currently investigating the performance of FileStream in .NET / .NET Core and found that there are significant performance differences between Read and ReadAsync. While writing benchmarks for this, the following idea came to mind: is it possible to write a diagnoser that checks how long a thread was blocked during a benchmark?

This would be useful to measure the impact of thread blocking when

[2019-03-30 13:42] Motvin commented on #1120
I've observed the problem, in some degree, every time I do a benchmark run with 91 or so N Params.  The severity of the spikes in my graphs are different each time, but I notice that the graphs seem to start out with smooth lines and the spikiness starts happening maybe 40% through my test runs.

I included an Excel file in my solution folder with graphs that shows the spikes.

I first thought thi

[2019-03-31 10:21] #1119 closed

[2019-04-01 13:41] AndreyAkinshin commented on #1121
@feO2x thanks for the issue!
@adamsitnik is the best person who can answer this question, but he is on vacation right now. Let's wait until he returns.

[2019-04-01 13:53] wojtpl2 commented on #1121
Maybe 'ConcurrencyVisualizerProfiler' will solve your problem? Adam wrote an article: https://adamsitnik.com/ConcurrencyVisualizer-Profiler/

![image](https://user-images.githubusercontent.com/17333903/55332679-29863680-5496-11e9-864b-aac0b8d455f2.png)

[2019-04-01 17:27] AndreyAkinshin commented on #68
Fixed in #952

[2019-04-01 17:27] #68 closed

[2019-04-02 09:41] yahorsi opened #1124 "Hight Volatility & Strange4 Disasm"
Hi Guys!

I'm trying to investigate following benchmark https://github.com/yahorsi/ListBenchmarks where I'm trying to benchmark access to the List[]. The problem I see is that results are very volatile, sometime difference is 3x-4x and I do not understand why. And no, I do not run bitcoin miners on my machine and CPU/IO is not used when I run benchmarks :)

Below see how e.g. 0.0912 is different f

[2019-04-02 09:57] yahorsi opened #1125 "Tiered Jit Benchmarking"
Hi

I just wonder is that possible at all to benchmark code jitted as non optimised vs fully optimized?
Like in 1st case as baseline I'd like code to be jitted with no any optimizations, just like it is produced when app it just started and then against fully optimized just to make sure, and to understand, how faster optimized code is.

Thanks

[2019-04-02 10:30] AndreyAkinshin commented on #1125
@yahorsi why do want to benchmark unoptimized code? What kind of valuable information do you want to get? How do you plan to use this information?
It's possible to benchmark unoptimized code with BenchmarkDotNet, but this feature is disabled by default because the corresponding results are not relevant to the actual application performance. E.g., some microbenchmarks can work ~100 times slower in

[2019-04-02 10:33] yahorsi commented on #1125
By unoptimized code I mean unoptimized by jit compiler, not by C# compiler.
Main use case for such scenario os to understand how good/faster code is produced by tiered jit. I bet there are scenarios when tiered jid will produce code that is actually worse than non optimized.

[2019-04-02 10:43] AndreyAkinshin commented on #1125
@yahorsi ok, now I get it, you want to compare performance results for different JIT tiers. I'm not sure that it's correct to call the first tier of the JIT "unoptimized code." Each tier of the JIT-compiler can work in both optimized and unoptimized mode. The first tier doesn't produce very smart native code, but it doesn't mean that it's "unoptimized code" in general case because optimizations ca

[2019-04-02 10:51] AndreyAkinshin commented on #1124
@yahorsi I just want to clarify: do you suspect that BenchmarkDotNet produces incorrect results or do you want to just understand performance difference between different modes? In the second case, it's better to create an issue in https://github.com/dotnet/coreclr/

[2019-04-02 10:56] yahorsi commented on #1125
Well, then we cannot compare apples to apples. We don't know how the target method will be optimized and simply cant compare. Looks like that is what's going on in my benchmark

[2019-04-02 11:01] yahorsi commented on #1124
I want to understand the source of the volatility I see in the benchmark. My wild guess is that in the benchmark we compare code that is jitted differently (using different tiers). My wild guess is that issues/volatility is caused by the tiered jit. In general, after thinking about tiered jit I do not see how is that possible to benchmark without all benchmarks being jitted using exactly the same

[2019-04-02 11:04] AndreyAkinshin commented on #1125
When tiered jitting is enabled, it's a good idea to manually increase the total number of warmup iterations to be sure that we use the last tier everywhere. I will think what can we don on the BenchmarkDotNet side, to improve the user experience.

[2019-04-02 11:11] yahorsi commented on #1125
Tooo what?

I actually was trying to do this and in samples found SimpleJob, but, I didn't find any docs on SimpleJob and it members and have no idea what's are the best values to force the benchmark to run on most optimized jitted code.
And, there is ShortRunJob that is not documented as well. Just 1 QA without mentioning what these 2 guys are

[2019-04-02 11:42] AndreyAkinshin commented on #1125
Yeah, there’s room for improvement in the documentation.
`SimpleJob` allows setting the number of warmup iterations as follows:
[code]

[2019-04-02 11:50] yahorsi commented on #1125
warmupCount is more or less easy to understand :)
How about others, like targetCount, invocationCount and launchCount? :)

Do you think 100 for warmupCount will be enouth?

[2019-04-02 12:00] AndreyAkinshin commented on #1125
You can find a description of these terms here: https://benchmarkdotnet.org/articles/guides/how-it-works.html

I hope so. =) By default, BenchmarkDotNet performs only 15 warmup iteration, but this number may be increased if observed measurements are "not stable enough".

[2019-04-02 12:05] yahorsi commented on #1125
Well, as I understand:
1. launchCount - How many times we create process. Once we have created process we
2. run warming up, count is defined in the warmupCount
3. run benchmark , count is defined in the invocationCount

But, what is targetCount? It is not mentioned on the article you mention

[2019-04-02 12:32] AndreyAkinshin commented on #1125
We had a huge renaming recently; however, we missed a few occurrences. =(
`TargetCount` or `IterationCount` is the number of actual iteration which will be measured (all warmup iterations don't affect results).
`invocationCount` is the number of benchmark method invocation inside each iteration.

[2019-04-02 12:36] yahorsi commented on #1125
Well I run my benchmark with manually set WithLaunchCount=1, WithWarmupCount=1000, WithInvocationCount=1000000 and for the case when tiered jit is enabled results are very different comparing to the run with default values. Basicly, for the tiered comp = 1 benchmark reports 0 durations.

[2019-04-02 12:41] AndreyAkinshin commented on #1125
Well, it should be a tiered jitting effect.

What do you mean?

[2019-04-02 13:07] yahorsi commented on #1125
Ignore
The outcome of the todays research is following:
Currently DotnetBenchmark produces the results that cannot be trusted because it does not explicitly control how code is jitted. Number of warmup iterations may vary from benchmark to benchmark and from run to run and that, currently, significantly affects code performance. One benchmark could be jitted with minimum optimisations, another wit

[2019-04-02 13:14] AndreyAkinshin commented on #1125
Agree, I will try to figure out how to resolve this problem. Currently, BenchmarkDotNet should work fine on stable versions of the .NET Core (In .NET Core 2.x, the tiered jitting is disabled by default; .NET Core 3.0 is not released yet). However, we definitely should find a solution before .NET Core 3.0 is released.

[2019-04-03 17:27] Kosat opened #1127 "Problems with [IterationSetup]"
Hi,

In one of my BenchmarkDotNet(0.11.5) benchmarks I have a need to reuse an instance of `StreamReader` which I initialize once at startup and then after each iteration I reset an underlying stream in it. Like below:
[code]

I know that the docs discourage developers from using `[IterationSetup]` but in my case its usage looks justified.
The problem is that once I've added the method `[Iteration

[2019-04-04 06:28] lydonchandra opened #1128 "[Question] 2 different Benchmarks with 2 different environment variables"
Trying to benchmark a function, drawManaged(), running under two different DLLs:

    drawManaged() function in C#
    drawManaged() calls drawNative() in native1base.dll (or other native dlls) through swig-interface
    which native DLL to load is configurable using environmental variables, %NATIVE_DLL_PATH%
    want to benchmark drawManaged() running in 2 different native DLL: native1base.dll an

[2019-04-06 21:07] MarekM25 commented on #1106
@adamsitnik, @AndreyAkinshin, could I give it a try?

[2019-04-07 05:15] AndreyAkinshin commented on #1106
@MarekM25 sure!

[2019-04-12 12:02] wojtpl2 commented on #457
I pushed PR #1131 for this issue. More details are there.

[2019-04-14 22:01] MarekM25 opened #1132 "The power management feature extension"
As I mentioned earlier (https://github.com/dotnet/BenchmarkDotNet/pull/952#issuecomment-447627638) we could extend our power management feature. Currently, we have two values in enum: HighPerformancePowerPlan and UserDefinedPowerPlan. We could also add there two popular power plans: balanced and power saver. Additionally, it will be simple to allow setting power mode by the custom GUID. It could b

[2019-04-15 14:14] adamsitnik commented on #1132
@MarekM25 I like this idea! Please send a PR and tag me when you need the review

[2019-04-17 13:23] #1106 closed

[2019-04-19 03:39] Zhentar opened #1133 "BenchmarkDotNet (arguably) slightly overcorrects for overhead"
The test overhead deduction causes BDN to underreport benchmark execution times (as likely interpreted by users). The magnitude will vary depending upon hardware & the nature of test code, but should generally be on the order of 0.5ns-1.0ns.

I've noticed hints of this for a while, but only recently came to recognize what was occurring well enough to design a test that could clearly and consistent

[2019-04-19 12:33] Motvin commented on #1100
Thinking about this more, it would be better to have BenchmarkDotNet output to a database (SQLite or whatever) and then do reporting off of that, or just parse the existing .csv files and produce nicer Excel file reports from that.  That way the Excel report creation program could be separate from BenchmarkDotNet code.  Maybe I'll try writing this reporter program if I end up doing lots of benchma

[2019-04-19 16:27] nickwesselman commented on #815
I appreciate this fix but shouldn't there be a means of doing this with pure Fluent config? e.g. a method to remove a validator? Or smarts to override it?

[2019-04-21 21:09] Darcara opened #1134 "StreamLogger is not properly flushed on shutdown"
Affected Versions 11.5 and nightly 11.5.1068

Adding a `StreamLogger(filename)` to the config will not flush the logger / stream before exiting, resulting in incomplete output.

[2019-04-21 21:11] Darcara opened #1135 "The default file logger and summary title are out of sync"
Affected Versions 11.5 and nightly 11.5.1068

I want to archive the automatically created log file (type-timestamp.log), but I cannot find the name anywhere in config or summary. There is `summary.Title` but it's timestamp is always a few seconds off. I'm using a config derived from `ManualConfig `and adding `DefaultConfig.Instance` manually.

I tried using a `StreamLogger `but ran into #1134

I t

[2019-04-22 20:18] mjkkirschner opened #1136 "benchmark / beforeEverything fails when running in docker-win"
I am trying to run a benchmark inside a docker-win container using hyper-v. When I run the benchmark with a default config I see an error like:

[code]

when I run using the debugInProcess config - the benchmark runs.

I tried the advice here:
https://benchmarkdotnet.org/articles/guides/troubleshooting.html#in-the-same-process

but the execution never seems to make it to my benchmark to even enter

[2019-04-23 11:42] Ant-hem opened #1137 "[Discussion] Improve search experience in the documentation"
Hi team :wave:,

I am member of the .NET foundation and I am working at Algolia on a project called [DocSearch](https://community.algolia.com/docsearch/) which goal is to enhance documentation websites with exhaustive, fast and relevant search. You might have seen DocSearch live already on websites like [brew](https://brew.sh/), [Bootstrap](https://getbootstrap.com/), [React](https://reactjs.org/)

[2019-04-25 18:44] aggieben opened #1138 "Bizarre access denied errors"
I wrote a simple benchmark class in F# using the .NET Core SDK tools.  I published it as a self-contained .NET Core app, and copied the publish directory to a server that has the dotnet cli / sdk installed, but no other development tools.  When I try to run the benchmark app, it firstly failed on an access denied error to "C:\Users\ben\Application Data".  Seemed strange to me, but I did `takeown /

[2019-04-26 00:20] Rizzen commented on #1127
BenchmarkDotNet sets InvocationCount=1 and UnrollFactor=1 when IterationSetup is specified:
https://github.com/dotnet/BenchmarkDotNet/blob/8aa6ade6d53015ae39fe48503f9c63be64828ce1/src/BenchmarkDotNet/Jobs/JobExtensions.cs#L336

[2019-04-26 06:49] adamsitnik commented on #1127
@Kosat as @Rizzen explained, this is the default behaviour since 0.11.0. You can read #730 for more details.

When I work with Streams in benchmarks I always set the position to 0 at the beginning of the benchmark.

https://github.com/dotnet/performance/blob/0c626c0de72e9e018bb02d0f92b97117098f1fee/src/benchmarks/micro/Serializers/Binary_ToStream.cs#L37-L41

So in your case, it would be:

[code]

[2019-04-26 06:49] #1127 closed

[2019-04-26 06:55] adamsitnik commented on #1138
BenchmarkDotNet generates a lot of boilerplate code that helps to prevent all benchmarking pitfalls. You can see our template here: https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Templates/BenchmarkType.txt

The problem is that we need to generate, compile and run a new console project which requires:

- access to the source code. Copy-pasting published project to anothe

[2019-04-28 17:57] thulani-chivandikwa opened #1140 "Benchmarkdotnet not respecting framework target net462"
I have a small benchmark project that is targeting netcoreapp2 and net462.

[code]

However when running this benchmark it only seems to respect the netcoreapp target and not the full framework one. It states that the CLR job was run targeting net472. Could I be doing this wrong or is this an issue? I have targeted only two jobs [CoreJob, ClrJob].

[2019-04-28 19:34] thulani-chivandikwa commented on #1140
I have also noticed that even if I remove the explicit job attributes and only target my project to net462 the run summary still shows it executes with net472.

[2019-04-28 20:25] thulani-chivandikwa opened #1141 "Should the tests not be targeting all the supported runtimes?"
I think the tests and samples should multi-target to all the supported runtimes. This may be useful in picking up any issues with a specific platform early.

Ideally I think the tests should have:
`<TargetFrameworks>net461;netcoreapp2.0;netcoreapp2.1;netcoreapp2.2</TargetFrameworks>`

I could not see how to add a question flair for this issue, it is possible on creating a new issue or only reviewe

[2019-04-28 21:07] thulani-chivandikwa commented on #1140
After asking on SO someone pointed out that unlike .net core the full framework does not have side by side installs but a runtime that is upgraded in place. So even with net462 but having 4.7.2 installed means that will be the runtime. Makes sense.

[2019-04-28 21:07] #1140 closed

[2019-04-29 13:02] adamsitnik commented on #1140
This is the default behaviour of Full .NET Framework. No matter what version your app targets, it's always executed with the latest .NET Runtime installed on your machine.

You can test it with following example

[code]

[2019-05-01 16:24] lyzerk opened #1142 "MemoryDiagnoser with Parallel.ForEach"
Hey everyone, I have faced with an issue. I don't know, is that a bug or am I doing something wrong. I have trying to benchmark a parallel file reading with Parallel.ForEach and File.ReadLines("path"), but the memory part (Allocated, GCs) of the benchmark result is very weird. I have prepared a demo project.

[code]
https://github.com/lyzerk/parallelFileReadingBenchmark/blob/adc7276ff40310489e8a01

[2019-05-02 08:46] adamsitnik commented on #1142
Hello @lyzerk

To tell the long story short .NET Core exposes only System.GC.GetAllocatedBytes**ForCurrentThread**() method and it does not implement `AppDomain.CurrentDomain.MonitoringTotalAllocatedMemorySize` as Full Framework does. So we currently don't have an option to do it properly for multi threaded benchmarks for .NET Core.

A workaround is to run the benchmark for Full Framework, but it

[2019-05-02 08:46] #1142 closed

[2019-05-02 13:48] AndreyAkinshin commented on #1141
Hello @thulani-chivandikwa!

Currently, both tests and samples target `net461;netcoreapp2.0;netcoreapp2.1`. Thus, you are suggesting to add `netcoreapp2.2` to this list. Do you have any specific use cases when it will be useful? Additional target framework increases the project processing time in IDEs (VS/Rider) which may slow down the development process. It's OK to add `netcoreapp2.2` if we real

[2019-05-02 14:03] AndreyAkinshin commented on #1137
Hello @Ant-hem!

Thank you very much for this issue, search in your live preview works super fast! It will be awesome to integrate it with our official docs! I have only one concern about the search results: sometimes it doesn't include some important pages. Let's try to search for "orderers". Here is the current search output:
![image](https://user-images.githubusercontent.com/2259237/57080599-7e

[2019-05-02 14:40] s-pace commented on #1137
👋 @AndreyAkinshin ,

Sure done [thanks to this update](https://github.com/algolia/docsearch-configs/commit/8ab1f7d5aa05649d86aea18e14d2e36656fae248). Feel free to [provide us a sitemap](https://community.algolia.com/docsearch/tips.html#use-a-sitemapxml) so that we do not miss anything.

Can you point us out a repo on which we can offer you a PR. We need to be able to build the html pages.

🚀

[2019-05-02 14:41] AndreyAkinshin commented on #1136
@mjkkirschner thanks for the report! Currently, I don't understand why do you have this problem. Could you please share your config? Do you have any enabled diagnosers (e.g., `JitDiagnoser`)?

@adamsitnik what do you think, could we print some additional information for the `exitcode != 0` case? It's pretty hard to investigate a problem by this line.

[2019-05-02 15:07] VladimirFinogenov opened #1143 "Running benchmark fails with error MSB4018 executing task Copy on netcoreapp2.2"
Created Console App (.Net Core) netcoreapp2.2
In Visual Studio 2017 15.9.11
Added nuget BenchmarkDotNet (0.11.15)
Referenced two other csproj in solution, which both targert netstandard2.0

A. One contains base abstract benchmark class with single benchmark method
B. Other one is implementation of logic that runs in benchmark method
C. Main csproj runs implementation of base abstract benchmark cla

[2019-05-02 15:07] adamsitnik commented on #1136
@AndreyAkinshin I am not sure if we can do something more. Right after we print BeforeEverythingElse we enter a try/catch block and if there is any exception we print it's message to the log.

https://github.com/dotnet/BenchmarkDotNet/blob/12fdbe20430b534bb390d758df821e5b437245d9/src/BenchmarkDotNet/Templates/BenchmarkProgram.txt#L30-L67

@mjkkirschner is that full output? Was there anything else

[2019-05-02 15:11] adamsitnik commented on #1143
It looks like MSBuild fails with some exception when we call `dotnet buil` from BDN.

Could you remove all bin&obj folders, kill all MSBuild processes and re-run the benchmark?

[2019-05-02 15:19] VladimirFinogenov commented on #1143
I've actually tried that already after looking to similar issues it didn't help unfortunately. Resulst are the same.

[2019-05-02 15:27] adamsitnik commented on #1143
Could you try out Troubleshooting steps? https://benchmarkdotnet.org/articles/guides/troubleshooting.html

How to troubleshoot the build process:

1. Configure BenchmarkDotNet to keep auto-generated benchmark files (they are being removed after benchmark is executed by default). You can do that by either passing `--keepFiles` console argument to `BenchmarkSwitcher` or by using `[KeepBenchmarkFiles

[2019-05-03 08:40] AndreyAkinshin commented on #1137
@Ant-hem, @s-pace sitemap.xml is ready (URL: https://benchmarkdotnet.org/sitemap.xml, source: https://github.com/dotnet/BenchmarkDotNet/blob/gh-pages/sitemap.xml)

We keep docs sources in this repo and use [docfx](https://dotnet.github.io/docfx/) to build it.
Here is the template for page headers: https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/template/partials/head.tmpl.partial
See al

[2019-05-03 15:05] JamieKeeling commented on #1028
I've written a template or two before but could do with a bit of information from yourselves that would help shape the output.

1. Where would you prefer the template content to be stored within the repository? Alternatively would a separate repository be better and ownership transferred.
2. Templating supports [file system or Nuget installation](https://docs.microsoft.com/en-us/dotnet/core/tutori

[2019-05-04 10:01] YohDeadfall opened #1144 "Incorrect CPU info for .NET Core applications"
Due to [a bug in wmic](https://aka.ms/AA51dwb) BenchmarkDotNet incorrectly reports CPU information on multi socket machines. For example, I'm expecting to get `Intel Xeon CPU E5-2687W 0 3.10GHz, 2 CPU, 32 logical and 16 physical cores`, but getting `Intel Xeon CPU E5-2687W 0 3.10GHz, 1 CPU, 16 logical and 16 physical cores`. To fix this the `?` quantifier must be replaced by `*` in the following l

[2019-05-05 21:48] mjkkirschner commented on #1136
that was the full output with no other information.

[2019-05-05 21:52] mjkkirschner commented on #1136
I don't think we have a `diagnoser` enabled - config is here: https://github.com/DynamoDS/Dynamo/blob/master/tools/Performance/DynamoPerformanceTests/PerformanceTestHelper.cs#L106

[2019-05-06 09:17] adamsitnik commented on #1136
@mjkkirschner could you please try to re-run it and check the Windows Event Viewer to see if there are some more details?

If our try block does not work it might be some uncatchable (by user code) exception that is logged by the OS to Event Viewer.

[2019-05-07 19:05] #1144 closed

[2019-05-07 19:19] BACONputing opened #1146 "Only the first of multiple custom columns is included in the summary table"
I am using `BenchmarkDotNet` v0.11.5 with `[Host] : .NET Core 2.1.9 (CoreCLR 4.6.27414.06, CoreFX 4.6.27415.01), 64bit RyuJIT`.  I have written a class implementing `IColumn` and if I add multiple instances of it to an `IConfig` then only the first column added is present in the summary table.  If I change the order in which the columns are added, then only the new first column is shown.

I am see

[2019-05-07 19:37] #1146 closed

[2019-05-07 19:40] AndreyAkinshin commented on #1146
@BACONputing thanks for the report! The fix will be available in v0.11.6. It was a bug in the `TagColumn` implementation, other custom columns should work fine. As a temporary workaround, you can copy-paste the fixed `TagColumn` implementation from here: https://github.com/dotnet/BenchmarkDotNet/blob/9065c7305e00881b11d31606a698fda08dc30a7d/src/BenchmarkDotNet/Columns/TagColumn.cs

[2019-05-08 15:46] stephentoub opened #1147 "Update benchmark switcher instructions to work on Linux"
It currently outputs:
[code]
but on Linux the `*Program*` needs to be surrounded by quotes.

[2019-05-09 08:57] #1147 closed

[2019-05-09 08:58] AndreyAkinshin commented on #1147
@stephentoub thanks for the report; the fix will be available in BenchmarkDotNet v0.11.6.

---
Related: #842, https://github.com/dotnet/BenchmarkDotNet/commit/1b805115f6e4558208b69fa2e55edc8d46a0f556

[2019-05-10 08:14] #1134 closed

[2019-05-10 08:14] AndreyAkinshin commented on #1134
@Darcara thanks for the report! The fix will be available in BenchmarkDotNet v0.11.6.

[2019-05-10 08:34] AndreyAkinshin commented on #1128
@lydonchandra sorry for the late reply. I see that you already got an [answer](https://stackoverflow.com/a/55892005/184842) on StackOverflow. Did it resolve your problem?

[2019-05-10 19:00] BACONputing opened #1149 "Ambiguous hour component in log file name timestamp"
I noticed that the `.log` file created in the `BenchmarkDotNet.Artifacts` directory uses a 12-hour clock for hours.  For example, I just ran a benchmark at 1:50 PM and the resulting log file is named `MyProject.Benchmarks-20190510-015028.log` instead of `MyProject.Benchmarks-20190510-135028.log`.

[2019-05-10 23:56] BACONputing opened #1150 "Order of parameter columns changes with different Params* attribute usage"
In trying to force an `enum` parameter to be output in an order different than that of the `enum` values (which I think might be #660) I found that the order of the parameter columns in the summary table is not consistent between different usages of the `Params`, `ParamsAllValues`, and `ParamsSource` attributes.  For example, with this code...

    using BenchmarkDotNet.Attributes;

    public enu

[2019-05-11 04:24] lydonchandra commented on #1128
Yes it did thamks

[2019-05-11 06:39] #1128 closed

[2019-05-11 07:31] #1149 closed

[2019-05-11 07:32] AndreyAkinshin commented on #1149
@BACONputing thanks for the report. The fix will be available in BenchmarkDotNet v0.11.6.

[2019-05-14 15:41] adamsitnik commented on #1132
Fixed by #1139

[2019-05-14 15:41] #1132 closed

[2019-05-15 08:00] juniormayhe opened #1151 "How to read BenchmarkDotNet output?"
Here is a piece of my output:
[code]
Is it correct to say that this benchmark had 15 iterations (15 calls to target method)?
And since I am benchmarking a method that connects to a remote cache server to persist and read some information, each iteration took around 218 seconds ? Maybe due to network latency?

[2019-05-16 07:44] NMSAzulX opened #1152 "Failed to test Roslyn."
The source code is [here](https://github.com/NMSAzulX/BenchmarkRoslyn).

Can be used without benchmark testing. Is there another way to test roslyn?
![image](https://user-images.githubusercontent.com/16236903/57835238-ad9b4000-77f0-11e9-9950-30c1333ec538.png)

![image](https://user-images.githubusercontent.com/16236903/57835026-45e4f500-77f0-11e9-9e06-500ce90c9b8f.png)
![image](https://user-images

[2019-05-16 16:50] stephentoub opened #1153 "Use GC.GetTotalAllocatedBytes when available in MemoryDiagnoser"
Currently MemoryDiagnoser via GcStats uses GC.GetAllocatedBytesForCurrentThread on .NET Core to get the number of allocated bytes, but that ends up yielding misleading information for async tests or tests that otherwise involve work being performed on multiple threads.  .NET Core 3.0 adds GC.GetTotalAllocatedBytes:
https://github.com/dotnet/corefx/blob/5310b5646aa1c8b18b6546dc5980c30c35d5f4e4/src/

[2019-05-16 16:57] stephentoub opened #1154 "Add a ConcurrencyDiagnoser?"
.NET Core 3.0 adds several members that would be useful to be exposed for use with certain kinds of performance tests, e.g. Monitor.LockContentionCount and ThreadPool.CompletedWorkItemCount.  Would it make sense to add a ConcurrencyDiagnoser that exposed (end - start) reads of these?

[2019-05-17 19:56] AArnott opened #1156 "Crash when BenchmarkDotNet.Diagnostics.Windows.Session.GetFilePath throws NRE"
### Repro

[code]

### Results

[code]

[2019-05-17 20:06] #1153 closed

[2019-05-17 20:06] #723 closed

[2019-05-17 20:07] adamsitnik commented on #723
This issue has been fixed in #1155 but it's going to work only with .NET Core 3.0 preview6+.

The .NET Team does not plan to backport the new API to older versions of .NET Core.

[2019-05-17 21:13] adamsitnik commented on #1156
Hi @AArnott

I am able to reproduce it. I am going to fix it, for now you can workaround it by providing full tfms to the runtime switch.

[code]

Instead of

[code]

[2019-05-18 16:59] encrypt0r commented on #600
Hi, I want to work on this. But I have a few questions:

1. Is this issue still relevant? Since it seems like `BaselineScaledColumn` is obsoleted. If yes, should I do that for `BaselineRatioColumn`?

2. Seems like both `BaselineRatioColumn` and  `BaselineScaledColumn` already provide a legend, what's the recommended way of having two entries in the legend?

cc @adamsitnik

[2019-05-19 08:13] Shipow opened #1158 "🔍 Improving search on docs with Algolia's DocSearch"
Hello Benchmarkdotnet team,<br><br>I've noticed that your documentation could take advantage of our <a href='https://community.algolia.com/docsearch/'>DocSearch</a> initiative.<br><br>So, we went on <b>trying to improve the search and came up with this demo:</b><br>💖<a href='https://docsearch-benchmarkdotnet.netlify.com/'>Try out the search here</a> 💖 (we've added docsearch.js to a mirror of the d

[2019-05-19 09:35] #1156 closed

[2019-05-19 09:35] #1072 closed

[2019-05-19 09:35] adamsitnik commented on #1143
No response for 17 days, closing

[2019-05-19 09:35] #1143 closed

[2019-05-19 09:37] adamsitnik commented on #1158
Hello @Shipow

We already started a discussion about it, you can follow it in #1137

[2019-05-19 09:37] #1158 closed

[2019-05-19 12:38] s-pace commented on #1137
PR done https://github.com/dotnet/BenchmarkDotNet/pull/1148 @AndreyAkinshin cc @shipow @adamsitnik

[2019-05-20 08:20] #953 closed

[2019-05-20 14:10] MikaelUmaN opened #1159 "Workload Jitting takes very long time for F# async function"
Hi.

I am microbenchmarking a matrix multiply algorithm. The single threaded version works fine. But the multithreaded version incurs a problematic delay in the "workload jitting" stage. Here is an example from my logs:

**> WorkloadJitting  1: 1 op, 5454393251000.00 ns, 90.9066 m/op**

The next run, using a size of 2048, doesn't complete.

The code is written like this:
[code]

And the benchmark:

[2019-05-20 20:35] adamsitnik commented on #1159
Hello @MikaelUmaN

The `WorkloadJitting 1: 1 op` means that the benchmarked code is executed once in order to JIT it and exclude JIT cost from the actual measurements taken later.

How long does it take to run the multithreaded version with Size=2048 without BenchmarkDotNet involved?

Most probably it just takes a lot of time to execute, there is a bug in your multithreaded implementation or BDN h

[2019-05-20 21:27] adamsitnik commented on #600
Hello @encrypt0r !

Thanks for looking at this!

1. If possible please fix both.
2. I think that the best fix would be to extend the existing legend with one sentence shortly describing what `?` means.

[2019-05-20 22:51] #1152 closed

[2019-05-20 22:55] adamsitnik commented on #1152
Hello @NMSAzulX

Thank you for a great repro case. I was able to reproduce it and fix it right away.

As soon as [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/24684299 build finishes the CI should produce a '0.11.5.1086' package which is going to be obtainable from the following feed:

[code]

If can wait, it's going to be a part of 0.11.6 release which should be p

[2019-05-20 23:41] encrypt0r commented on #600
@adamsitnik I don't think `Legend` can handle conditional logic in a clean way, because it doesn't have access to `Summary`. The only way I can think of is to have some kind of flag that's set by `GetValue`. But I don't like it for 2 reasons:
1.  `GetValue` will have side effects even though it returns a value.
2. Creates a hidden dependency between `GetValue` and `Legend` where`GetValue` must alw

[2019-05-20 23:46] adamsitnik commented on #600
You mean a `Validator` ? Sounds good to me.

@AndreyAkinshin do you have better idea? I think that `?` is rare enough that a validator should be ok (and keep the legend simple by default).

[2019-05-21 08:39] MikaelUmaN commented on #1159
Hmm. Yes. I was positive a single run was not taking very much time, but some more testing revealed that the async{} constructs really don't work with this kind of CPU-bound workload.

Rewriting using the Task Parallel Library worked better. https://github.com/MikaelUmaN/MatrixMultiply

Closing this one, thanks for the quick response.

[2019-05-21 08:39] #1159 closed

[2019-05-21 18:27] Kavignon opened #1160 "NETSDK1041 causes broken builds on TeamCity due to conflicting .NETStandard references"
Locally, I have no issues running builds with BenchmarkDotNet included in my csproj. My current issue is that I'm unable to build on my build server with because of .NET Standard giving me conflicting references due to the dependencies of BenchmarkDotNet:

`C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\Microsoft.NET.Build.Extensions

[2019-05-21 20:46] #1160 closed

[2019-05-23 01:57] Mrnikbobjeff commented on #1125
I have looked into Tiered Compilation, here is some Information I could gather:
Typical slot value transitions when tiered compilation is enabled:
- Initially, the slot contains the method's temporary entry point, which always points to the prestub
- After the tier 0 JIT completes, the slot is transitioned to the tier 0 entry point, and the slot is recorded for backpatching
- When tiered compilati

[2019-05-23 05:41] #1135 closed

[2019-05-23 05:42] adamsitnik commented on #1135
Hello @Darcara

This is expected because when you run benchmarks for multiple types, we produce a summary per type but only a single log file.

I have extended the Summary type with `LogFilePath` property, I hope that it's going to solve the problem.

[2019-05-23 06:13] encrypt0r commented on #600
@adamsitnik according to [here](https://benchmarkdotnet.org/articles/configs/validators.html),

But I have understood it correctly, you don't actually know if the result will be invalid until **after** the benchmarks are complete.

On the other hand, [Analyzers ](https://benchmarkdotnet.org/articles/configs/analysers.html)seem to be more fit for the problem:

[2019-05-23 06:20] adamsitnik commented on #600
@encrypt0r you are 100% right, please excuse me for misleading you

[2019-05-23 06:37] encrypt0r commented on #600
@adamsitnik it's totally ok, cool... I will submit a PR then

[2019-05-23 07:06] adamsitnik commented on #1150
Hi @BACONputing

This is by design, there is no way of getting the information about Field/Properties declaration order in given type: https://stackoverflow.com/questions/5473455/c-sharp-get-fieldinfos-propertyinfos-in-the-original-order

I tried the approach described at https://stackoverflow.com/a/17998371

[code]

But the problem are integer Params, for example:

[code]

I also tried overload f

[2019-05-23 07:06] #1150 closed

[2019-05-23 07:10] adamsitnik commented on #1141
@AndreyAkinshin .NET Core 2.0 has reached the end of life: https://dotnet.microsoft.com/platform/support/policy/dotnet-core Maybe we should target .NET Core 2.1 only in the tests and samples project and add 3.0 when it's shipped?

[2019-05-23 15:09] AndreyAkinshin commented on #1141
@adamsitnik, yes, it makes sense. I removed netcoreapp2.0 in 6f91ea59474bf6cce2d7ff8de422854cb4a61b06
@thulani-chivandikwa I close this issue since we don't have any reasons to add additional TFMs in test projects. If you find some use cases which shows that we really need additional TFMs, please let me know.

[2019-05-23 15:09] #1141 closed

[2019-05-24 11:24] AndreyAkinshin opened #1162 "Incorrect value of BenchmarkDotNet.Toolchains.DotNetCli.NetCoreAppSettings.Default"
Let's say that we have a `<TargetFrameworks>net461;netcoreapp2.1</TargetFrameworks>` project and we want to execute .NET Core benchmark under the `net461` TFM. In this case, `BenchmarkDotNet.Toolchains.DotNetCli.NetCoreAppSettings.Default` which will be used for TFM in the generated benchmark. Currently, it's `NetCoreApp20` which leads to a compilation error in the generated benchmark (because the

[2019-05-24 12:56] adamsitnik commented on #1162
The default is used only when the user runs the host process as full .NET Framework and does not specify which .NET Core exactly to run. Example:

[code]

.NET Core 2.0 is EOL so maybe we should just set the default to .NET Core 2.1?

[2019-05-24 13:00] #600 closed

[2019-05-24 13:53] AndreyAkinshin commented on #1162
@adamsitnik you are suggesting a workaround for this particular case, but I want to handle the general case.
Let's say we have a `<TargetFrameworks>net461;netcoreapp2.2</TargetFrameworks>` project and we want to execute .NET Core benchmark under the `net461`: the problem will be the same with the new default.

Actually, it's the most typical use case when you specify all the job characteristics in

[2019-05-24 15:02] khellang opened #1164 "RunAllJoined should consider baseline per type"
If you have something like this

[code]

I would expect my results to show both baselines (`Formatting.Old` and `Parsing.Old`) and the other benchmarks in the same type scaled based on each baseline.

Instead, the report only shows one baseline and the rest scaled based on that:

|       Type | Method |      Mean |     Error |    StdDev |    Median | Ratio | RatioSD |  Gen 0 | Gen 1 | Gen 2 | Allo

[2019-05-24 15:05] khellang commented on #1164
Oh, and this is running v0.11.5 😄

[2019-05-24 15:33] AndreyAkinshin commented on #1164
@khellang thanks for the report!

[2019-05-24 15:50] AndreyAkinshin commented on #1151
Hello @juniormayhe!

Yes, it's correct.

Yes, it's also correct. You can find the full statistics and the summary table at the end of BenchmarkDotNet output.

Maybe.

[2019-05-24 15:50] #1151 closed

[2019-05-24 17:22] NMSAzulX opened #1165 "How do I test different versions of the. Net Core at the same time?"
How do I test different versions of the. Net Core? I mean, test the performance of core2.0, core2.1, and core2.2 at the same time.

[2019-05-24 17:54] adamsitnik commented on #1165
Hi @NMSAzulX

First of all, you need to make sure that the project which defines benchmarks targets ALL frameworks that you want to test:

[code]

Then, use `BenchmarkSwitcher` type and pass `args` to the `Run` method:

[code]

And use `--runtimes` command to specify the target framework monikers to run:

[code]

You can read more about it in our docs: https://benchmarkdotnet.org/articles/guides/c

[2019-05-24 17:54] #1165 closed

[2019-05-24 17:57] adamsitnik commented on #1162
I don't think that there is a good solution to this problem. We could parse the project file, but what if the project targets multiple TFMs?

Which should be the default?

[code]

Or uses an MSBuild Property?

[code]

Or uses an MSBuild Condition?

[code]

[2019-05-24 17:59] adamsitnik commented on #1162
Maybe we should make .NET Core 2.1 the default and add error handling for it?

So when the user runs as Full Framework and uses Job.Core or --runtimes core and fails we print a nice explanation?

[2019-05-24 21:29] karanbhamra opened #1166 "Get count of Benchmark return value"
So  I have the following code in which I am grabbing a pdf file with selenium and seeing if it succeeded or not. Is there anyway to see how many of the iterations returned true or false since the benchmark function returns the bool? I would need to know how many are success or failure within the benchmark

		[Benchmark]
        public bool W3Pdf()
        {
            IWebDriver driver = new Fire

[2019-05-25 01:23] NMSAzulX commented on #1165
Thank you very much.Succeed.

[2019-05-25 06:17] NMSAzulX opened #1167 "Is there something wrong with this result?"
I tried to do a few tests[ in this way](https://github.com/dotnet/BenchmarkDotNet/issues/1165)（using console tools test different version）, but each time I got a different ranking.

[code]
First:
[code]
| Method |     Toolchain |      Mean |     Error |    StdDev |    Median |       Min |       Max | Ratio | RatioSD | Rank | Gen 0 | Gen 1 | Gen 2 | Allocated |
|------- |-------------- |----------:

[2019-05-25 11:56] sleemer opened #1168 "Consider using default value instead of hardcoded '-' in MetricColumn.GetValue()"
What we have currently:
[code]

What we need:
[code]

Why we need it:
We run benchmarks as a step of our TeamCity build. And having consistent csv report file will simplify exporting results into influxdb using csv plugin for telegraf.

[2019-05-25 13:17] AndreyAkinshin commented on #1168
@sleemer thanks for the request!
@adamsitnik what do you think about it?

[2019-05-25 13:34] AndreyAkinshin commented on #1167
@NMSAzulX thanks for the question! It seems that the .NET Core 2.0 version takes 0 CPU cycles in the first case and 1 CPU cycle in the second case. It's a pretty interesting situation. Could you please share the source code of your benchmark and the full BenchmarkDotNet output (you can find .log file in the `BenchmarkDotNet.Artifacts` folder) for runs with different rank values.

[2019-05-25 13:53] NMSAzulX commented on #1167
@AndreyAkinshin Thank you very much. Here is the [Source Project](https://github.com/dotnetcore/Natasha/blob/master/NatashaBenchmark/DynamicCallFieldTest.cs#L218)  and [Log Folder](https://github.com/dotnetcore/Natasha/tree/master/NatashaBenchmark/BenchmarkDotNet.Artifacts)

Content just like this:
[code]
Commond:
[code]

[2019-05-25 13:54] AndreyAkinshin commented on #1166
We don't have a general feature which keeps all the returned value because of the following reasons:
1. It may affect performance in nanobenchmark cases.
2. Extra storage with the results may affect GC.
3. By default, we execute all the benchmarks in a separate process, so we have to serialize the result somehow.
This issue was already discussed several times (e.g., see #523).

However, you case i

[2019-05-25 14:07] AndreyAkinshin commented on #1167
@NMSAzulX thanks! It seems that this benchmark should always take 0 CPU cycles with all .NET Core versions. However, sometimes we get 1 CPU cycle error (about 0.3ns). Typically, in such cases, we have problems with loop alignment (the actual performance depends on the first line address of the main benchmark loop). We are trying to resolve such problems with the help of UnrollFactor which is 16 by

[2019-05-25 14:24] NMSAzulX commented on #1167
I have just done three tests and the report is as follows:
[1 Test](https://github.com/dotnetcore/Natasha/blob/master/NatashaBenchmark/BenchmarkDotNet.Artifacts/NatashaBenchmark.DynamicCallFieldTest-20190525-101052.log)
[2 Test](https://github.com/dotnetcore/Natasha/blob/master/NatashaBenchmark/BenchmarkDotNet.Artifacts/NatashaBenchmark.DynamicCallFieldTest-20190525-101417.log)
[3 Test](https://gi

[2019-05-25 14:25] juniormayhe commented on #1070
Just updated to 0.11.5. Ordering tests are working fine and _Sequence contains..._ message is gone
[code]
![](https://media.giphy.com/media/RboT0ZctPyjMk/giphy.gif)

[2019-05-25 14:27] NMSAzulX commented on #1167
Is the code too simple to take less than 0.0001 (ns)?          : ）

[2019-05-26 02:17] NMSAzulX commented on #1167
@AndreyAkinshin  Hello, I've uploaded the new test log.

[2019-05-26 08:36] AndreyAkinshin commented on #1167
It seems that the problem is resolved now. Probably, we should increase the default value of the unroll factor. @adamsitnik what do you think?

Under the summary table, you have the following warnings:

[code]
The "The method duration is indistinguishable from the empty method duration" means that your method has the same duration as the following empty method (in the context of benchmarking when

[2019-05-26 08:42] AndreyAkinshin commented on #1162
Agree, we can't get the full list of TFMs without honest MSBuild project evaluation.

Error handling is always a good thing to add. Currently, it's pretty hard to figure out what's going on.

---

Here is another idea of how we can resolve the problem. We can execute `dotnet --list-runtimes` and get the latest locally available .NET Core version. If we are trying to execute .NET Core benchmark fro

[2019-05-26 09:48] NMSAzulX commented on #1167
@AndreyAkinshin  Hello~

However, the result is not very stable, the last three test rankings fluctuated a little bit.
Test2:

| Method |     Toolchain |      Mean |
|------- |-------------- |----------:|
| Origin | netcoreapp2.1 | 0.0106 ns |
| Origin | netcoreapp2.2 | 0.0195 ns |
| Origin | netcoreapp2.0 | 0.0267 ns |

Test 3：

| Method |     Toolchain |      Mean
|------- |-------------- |-----

[2019-05-26 13:38] AndreyAkinshin commented on #1167
It's just a random noise which always presents in measurements. If you look at the Rank column, you should see `1` for each toolchain. It means that there is no statistically significant difference between results (BenchmarkDotNet performs an honest statistical test)

Typically, you shouldn't write own loop because BenchmarkDotNet will generate it for you internally.

[2019-05-26 14:00] NMSAzulX commented on #1167
@AndreyAkinshin  I used to stare at “Mean”. Thanks. Got it.
By the way, is there any documentation on the official website that tells us how to analyze these results?

[2019-05-26 14:16] AndreyAkinshin commented on #1167
I'm working on such a guide but it's not easy to briefly cover all the important cases. I really want to create a good cheat sheet for BenchmarkDotNet output and include it in the documentation, but it's not ready yet.
By the way, you can find a lot of useful information in my book [Pro .NET Benchmarking](https://www.amazon.com/Pro-NET-Benchmarking-Performance-Measurement/dp/1484249402/) (It's alr

[2019-05-26 14:31] NMSAzulX commented on #1167
Okay, thank you very much. I already have the motivation to learn.

[2019-05-27 00:57] #1167 closed

[2019-05-27 13:54] adamsitnik commented on #1162
It's definitely a better idea, because it's always going to work. But it has one side effect. Users who target 2.1 but have 3.0 installed might get "better" results when running on 3.0 which has more optimizations. This might lead to a confusion and/or wrong results?

Speaking of that, maybe we should just require the users to specify the version in an explicit way and make it 100% explicit about

[2019-05-27 17:06] AndreyAkinshin commented on #1137
Resolved in #1148

[2019-05-27 17:06] #1137 closed

[2019-05-29 20:31] adamsitnik commented on #1168
I am ok with changing the CSV file output to be more consistent, but I would prefer not to change the way we display the results in the console/GH/HTML. I like the fact that we display `-` - it's more obvious and easier to read (I don't need to look at the digits)

[2019-05-29 21:27] RealDotNetDave opened #1170 "Can"

[2019-05-29 21:31] RealDotNetDave commented on #1170
I'm trying to do a benchmark test that tests two versions of the CLR and two of Core. I have my project file setup like this:

 <TargetFrameworks>netcoreapp2.2;netcoreapp3.0;net472;net48</TargetFrameworks>

In my benchmark class file, I am using these two attributes:

    [ClrJob()]
    [CoreJob()]

When when I run the project, it only tests two of the frameworks above (see below). How do I get Be

[2019-05-30 08:40] adamsitnik commented on #1162
@AndreyAkinshin what do you think about requiring the users to specify the TFM? it would help us to avoid issues like https://github.com/dotnet/BenchmarkDotNet/issues/1170#issuecomment-497116717

[2019-05-30 08:42] adamsitnik commented on #1167
You are most probably right. We have hit https://github.com/dotnet/performance/pull/511 after update to latest BDN and from the few runs with `--unrollFactor 32` I can tell that it makes all the nano-benchmarks much more stable. I will try to find some time and run all the benchmarks from the performance repo and see the difference and let you know.

[2019-05-30 08:46] adamsitnik commented on #1170
Hello @RealDotNetDave

You can find the answer here: https://github.com/dotnet/BenchmarkDotNet/issues/1165#issuecomment-495731010

[2019-05-30 08:46] #1170 closed

[2019-05-30 13:50] adamsitnik commented on #1111
Fixed by #1114

[2019-05-30 13:50] #1111 closed

[2019-05-30 15:33] AndreyAkinshin commented on #1168
@sleemer is it OK if we change the default value only in the CSV reports?

[2019-05-30 22:29] msedi opened #1171 "Possibility to compare previous with current benchmark"
I want to supervise performance drop in our components.
Therefore we wanted to use BenchmarkDotNet in our nightly builds additionally to our test environment.

What we would need is the possibility that BenchmarkDotNet is able to do a comparison of last (previous) benchmark(s) with the newest. The result should be how much time each step took longer/shorter and maybe also an decrease/increase in p

[2019-05-31 17:37] RealDotNetDave opened #1172 "Supporting the CLR 4.8"
Does BenchmarkDotNet support the .NET Framework 4.8? I'm unable to get it to work.

<TargetFrameworks>netcoreapp3.0;net48</TargetFrameworks>

BenchmarkDotNet=v0.11.5, OS=Windows 10.0.17763.503 (1809/October2018Update/Redstone5)
Intel Core i7-7660U CPU 2.50GHz (Kaby Lake), 1 CPU, 4 logical and 2 physical cores
  [Host]     : .NET Framework 4.7.2 (CLR 4.0.30319.42000), 64bit RyuJIT-v4.8.3801.0
  Job

[2019-06-01 17:23] billwert commented on #1172
Yes, it does. Do you have 4.8 installed on the machine?

[2019-06-01 17:45] RealDotNetDave commented on #1172
Yes, Have installed it twice.

[2019-06-01 18:32] billwert commented on #1172
Ah, I got caught up by the TFM. Sorry!

Did you install the targeting pack? https://dotnet.microsoft.com/download/thank-you/net48-developer-pack

Or you can add a reference to the new nuget package which has the reference assemblies. https://www.nuget.org/packages/Microsoft.NETFramework.ReferenceAssemblies/1.0.0-preview.2

[2019-06-02 13:20] stephentoub opened #1174 "Option to strip localsinit from benchmarks"
The C# compiler will automatically add `localsinit` into most methods that perform stackallocs.  This can have a measurable impact on microbenchmarks, and that's problematic when the benchmark is being used to analyze code that will ultimately be added to an assembly that disables such zero'ing, e.g. via https://github.com/mono/linker/blob/e883bd175a73916612a6b1df8ef3007020d663c2/src/ILLink.Tasks/

[2019-06-02 14:54] adamsitnik commented on #1174
I would be happy to implement that, the problem is that I am not sure how I could do that without [SkipLocalsInitAttribute](https://github.com/dotnet/csharplang/blob/master/proposals/skip-localsinit.md) as of today. Is it possible to control this behavior via some MSBuild parameter?

/cc @VSadov

[2019-06-02 16:22] stephentoub commented on #1174
Until it's supported by the language, I think you would need to rewrite the IL, either manually or with a tool like ILLink, which does have msbuild tasks.

[2019-06-02 20:13] VSadov commented on #1174
I thought the compiler has support for this for about a year now.

You will have to use the attribute. I do not think there is a compiler switch, but you can put the attribute in the whole module.

[2019-06-03 00:17] stephentoub commented on #1174
I don't think that work was ever integrated into master: https://github.com/dotnet/roslyn/commits/features/localsinit.

[2019-06-03 23:54] DylanDmitri opened #1176 "File dependency issue (doesn't work for multiple scenarios)"
There's a problem with needed files being used by other processes.

I am running a set on benchmarks with 8 different parameter combinations. When there was only one combination, it worked everytime no problem. Each run, a different random subset of benchmarks run to completion, and print their information, but fail to transfer their information to the end-of-run table.

The per scenario messages

[2019-06-04 00:00] DylanDmitri commented on #1176
Rerunning the same exe, I get these results

[code]

[code]

And then running the identical exe for the third time:

[code]

[code]

[2019-06-04 06:26] adamsitnik commented on #1172
Hi @RealDotNetDave

Windows OS is always going to run all .NET apps using the latest available .NET on your box. In your case, it's 4.8.

The problem is that so far BenchmarkDotNet was always printing not the .NET version number, but .NET **SDK** version number as the first value in the formatted line:

[code]

This has been fixed in #1114, in the upcoming 0.11.6 BenchmarkDotNet is going to print

[2019-06-04 06:26] #1172 closed

[2019-06-04 17:51] gfoidl commented on #723
Should https://github.com/dotnet/performance/blob/master/docs/benchmarkdotnet.md (L233)

be updated to reflect this?

[2019-06-04 18:03] adamsitnik commented on #723
@gfoidl yes, good catch! Could you please send a PR?

[2019-06-04 18:11] gfoidl commented on #723
Yes, will send one.

[2019-06-05 20:33] svick opened #1177 "Public types missing from reference assemblies don't work with ParamsSource"
Consider the following benchmark:

[code]

When I attempt to run it, I get the following error:

The relevant generated code is:

[code]

The problem here is that for some reason (https://github.com/dotnet/corert/commit/83bcbe0), the actual type of `StringComparer.Ordinal`, `OrdinalComparer` is `public`, but it does not exist in reference assemblies. This means that the C# compiler won't see it, b

[2019-06-05 22:13] DylanDmitri commented on #1176
Update: I am specifically testing scenarios that launch many tasks (over 20 thousand per iteration). This seems to be messing with BenchmarkDotNet in someway.

[2019-06-06 16:51] RealDotNetDave commented on #1021
I'm still having an issue. Cleaning up code now since Microsoft wants to see it too.

[2019-06-07 04:20] adamsitnik commented on #1177
Hello @svick

Thanks for an excellent bug report!

I don't have a good solution as of today, but you can use the workaround I have used few days ago in the performance repo: https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.Runtime/Perf.StringComparer.cs

[code]

[2019-06-07 17:37] AndreyAkinshin commented on #1162
@adamsitnik
There are two things that I don't want to do:
1. Force users to write *magic string* (like `"netcoreapp3.0"`) manually. We can support such an option, but the recommended API shouldn't require such strings.
2. Force users to *always* write TFM. The most simple BenchmarkDotNet use case (a user creates an applications, write benchmark, run it) should be possible without additional requir

[2019-06-08 09:46] AndreyAkinshin commented on #1176
@DylanDmitri could you please share the source code of your benchmarks?

[2019-06-08 10:03] AndreyAkinshin commented on #1171
@msedi yes, it makes sense, and it's a work-in-progress feature. I guess, the main show-stopper here is the serialization format for benchmark results (see also https://github.com/dotnet/BenchmarkDotNet/issues/305). Also, I want to introduce smart algorithms for reliable performance testing which allows avoiding frequent false-positive alarms.

[2019-06-08 10:18] AndreyAkinshin commented on #1154
@stephentoub it's a pretty interesting idea, I like it!

[2019-06-08 22:42] AlenToma opened #1178 "New to BenchmarkDotNet, Need help"
Hi, so im new to BenchmarkDotNet and i really loved it when i saw it youtube.

So i created a test project with the name Benchmarklb to test my library, But i get a strange result and many exception that i really dont understand why those happen.

Here is my class that im testing

[code]

And i simple start my application with
[code]

the logs im getting
[code]
even the calculation is NA
Any idee

[2019-06-09 08:22] adamsitnik opened #1179 "Add System.Buffers.ArrayPoolEventSource to the list of default .NET Providers of EtwProfiler"
[ArrayPool](https://adamsitnik.com/Array-Pool/) has it's own [EventSource](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Buffers/ArrayPoolEventSource.cs)

It emits 3 events:
- `BufferRented`
- `BufferReturned` (the count should be equal to the count of `BufferRented` events)
- `BufferAllocated` which means that there was a request for an array bigger than the pool size

[2019-06-09 08:23] #1179 closed

[2019-06-09 13:22] AndreyAkinshin commented on #1178
Hey @AlenToma! Could you please share the full source code of your project (including csproj and sln files)? It seems that something is wrong with your project layout or project names.

[2019-06-09 13:39] AlenToma commented on #1178
Yes offcourse, you could get it on [github](https://github.com/AlenToma/FastDeepCloner). under source there is Benchmark.tests that i created.

[2019-06-19 07:10] msedi commented on #1171
@AndreyAkinshin: Thanks for the feedback. I'm really happy when this feature arrives ;-)

[2019-06-19 07:10] #1171 closed

[2019-06-19 11:29] stukselbax commented on #806
Will you plan to support this scenario? Faced the same problem when tried to benchmark http endpoint.

[2019-06-19 11:52] adamsitnik commented on #806
Most probably not, BenchmarkDotNet was designed for microbenchmarks, not web apps.

ASP.NET Team has built a nice set of tools for benchmarking ASP.NET Core apps, you should give it a try: https://github.com/aspnet/Benchmarks/

[2019-06-19 11:55] martincostello commented on #806
I've been able to do this by referencing the relevant ASP.NET Core dependencies manually in the BenchmarkDotNet project, rather than relying on them to be picked up transitively, as well as including a reference to Microsoft.AspNetCore.Mvc.Testing.

[2019-06-20 14:14] stukselbax commented on #806
@mauroservienti Failed to use your proposed solution. Have tried:

[code]

with no luck. The only solution that works is copying (yet manually) file Assembly.deps.json to the required directory, which is generated when benchmarks run. But this is annoying.

[2019-06-20 14:51] martincostello commented on #806
Here's a snippet of our working one:

[code]

[2019-06-21 19:17] mstaessen commented on #641
I have the impression that the R script is waiting for user input at some point. If you Ctrl+C in the terminal, R stops hanging and all the plots start appearing...

[2019-06-21 20:53] AlenToma commented on #1178
@AndreyAkinshin any new news?

[2019-06-23 11:48] simonech opened #1181 "Log shows a wrong name for plot images"
After running a benchmark with `[RPlotExporter]` I get zillions of jpg files, but I'm not sure all of them have the correct name.

First of all, the log in the console says:
[code]
But the files stored in the artifacts folder are called `MyBench.Sleeps-barplot.png` and `MyBench.Sleeps-boxplot.png` (so, they don't have the timestamp).

[2019-06-23 15:17] AndreyAkinshin commented on #1181
@simonech thanks for the report!

[2019-06-23 16:47] simonech commented on #1181
@AndreyAkinshin I could have a look at the first, since it's an issue in the .net code.
The second is generated in the R script, and I've no idea how that works 😄

[2019-06-24 16:13] RealDotNetDave opened #1182 "Benchingmarking .NET 4.8 Causes Errors"
I am trying to run my benchmark test for .NET Core 3 and Clr 4.8 Preview 6 and am experiencing errors.

In the csproj file, I have it set up like this:
    <TargetFrameworks>netcoreapp3.0;net48</TargetFrameworks>

These same benchmarks work fine for .NET Core 3 and Clr 4.7.2.

Standard error:
   Restore failed in 113.2 ms for C:\src\Books\RockYourCode\CodePerformance\src\PerfBin\netcoreapp3.0\286d

[2019-06-24 16:53] AndreyAkinshin commented on #1182
@RealDotNetDave, thanks for the report!
1. Why do you use 4.8 Preview instead of the stable version which was released in April?
2. Could you please paste the content of the generated `BenchmarkDotNet.Autogenerated.csproj`?

[2019-06-24 17:15] AndreyAkinshin commented on #1181
@simonech

Great, thanks! It should be pretty easy to fix.

OK. Do you want to create another issue for the second problem (and edit the current one)?

[2019-06-24 17:21] adamsitnik commented on #1182
How exactly do you run the benchmarks?

The following command should work:

[code]

[2019-06-24 17:51] simonech commented on #1181
Indeed... I'll do it

Yeah, I'll create a new ticket with the second part of the issue

[2019-06-24 17:51] simonech opened #1183 "Plots of benchmarks without params have a double dash (--) in the name"
For each Job, it adds plots about density, cumulative mean, and so on. But two files are named `BenchmarkDotNet.Artifacts/results/MyBench.Sleeps-Time50--density.png` and `BenchmarkDotNet.Artifacts/results/MyBench.Sleeps-Time50--facetDensity.png`, with the `--` instead of single. Like some iteration variable is empty (since later there are names with `-Default-`
![image](https://user-images.githubu

[2019-06-24 18:10] AndreyAkinshin commented on #1181
Great, thanks! Waiting for a PR. =)

[2019-06-24 21:55] RealDotNetDave commented on #1182
I am using the release version of 4.8. Below is the csproj file for the clr benchmark test:

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <ImportDirectoryBuildProps>false</ImportDirectoryBuildProps>
    <ImportDirectoryBuildTargets>false</ImportDirectoryBuildTargets>
    <AssemblyTitle>Job-DNRYOK</AssemblyTitle>
    <TargetFramework>net472</TargetFramework>
    <AllowUnsafeBlocks>true<

[2019-06-26 15:15] RealDotNetDave commented on #1182
Any ideas?

[2019-06-26 15:24] adamsitnik commented on #1182
![obraz](https://user-images.githubusercontent.com/6011991/60193045-4765fc00-9837-11e9-97bd-91a7b027a6e3.png)

[2019-06-26 20:00] RealDotNetDave commented on #1182
Any ideas?

[2019-06-26 20:01] RealDotNetDave commented on #1182
I just run the console app EXE.

[2019-06-27 17:36] jzabroski commented on #1113
@angularsen `_client` variable is not bound anywhere.  Can you update your example?

Is the user story behind this request:

To explain de-trending, as I don't think it is a formal concept in Benchmark.NET (or I'm unaware of such formal concepts), I will explain how it is used in stock market performance.  If I want to benchmark a Portfolio Managers skill as an investor, I would like to do so agai

[2019-06-27 18:19] angularsen commented on #1113
@jzabroski The example was intended as pseudo code, `_client` is the SOAP service client that is configured for each benchmark. I didn't pursue this any further after reporting this issue, but since you asked here is a bit more fleshed out code from my proof of concept attempt.

For any future readers, we didn't find Benchmark.NET a good fit for endpoint performance testing for the reasons listed

[2019-06-27 18:26] jzabroski commented on #1113
Yes, JMeter is awesome for the purpose you are describing, and I do wish there was something better other than commercial tools that cost 50k (Silk Performer).

However, you didn't quite answer my question.  Indirectly, you sort of did by saying your end goal was endpoint performance testing.  Directly, you didn't quite address whether you do de-trending or not and if you agree that an endpoint pe

[2019-06-27 18:58] angularsen commented on #1113
I didn't answer directly, because I didn't fully understand the question :-)
We are still working on a performance testing strategy and are by no means experts at it. We are currently looking into two types of tests:

### Isolated testing w/rampup
Test one method/resource at a time with rampup until latency/throughput passes a threshold.
- Does the method respond slower than before without any oth

[2019-06-28 14:22] jzabroski commented on #1113
You should really watch a full demo of Silk Performer to learn a lot about performance testing.  It was the first tool to really do performance testing right.  I wish I could meet the person behind it.

The idea is that you are not tightly coupling the network side of your performance benchmarks to any SLA violations by your fiber providers.  Especially if your traffic is crossing networks to perf

[2019-06-28 21:59] angularsen commented on #1113
Thanks a lot for your insight and examples, I will definitely look closer at Silk Performer. I hadn't heard that name before now.

I'm closing this issue since I am no longer pursuing the BenchmarkDotNet solution at this point.

[2019-06-28 21:59] #1113 closed

[2019-06-30 08:52] ig-sinicyn opened #1184 "[Feature request] Unseal some types"
Hi!

I'm going to resurrect my pet project (CodeJam.PerfTests, a test runner for BDN) and I'm blocked by some breaking changes in BDN. To name a few: the ImmutableConfig become sealed, MemoryDiagnose have no public constructor an so on.

Is it ok, if I'll prepare a PR that unseals/makes some members public to unblock creation of custom BDN runners? Currently I'm not ready to list all members that

[2019-07-01 15:36] adamsitnik commented on #1184
Hello @ig-sinicyn

We are ok with making more things public/unsealed as long as it does not break us on our side and helps with the design of anything build on top of BDN

https://github.com/dotnet/BenchmarkDotNet/blob/b5d3246d466c7c3086a68d52b0c80aab97338c26/src/BenchmarkDotNet/Diagnosers/MemoryDiagnoser.cs#L20

The main reason was to have a single instance of `MemoryDiagnoser` to allow for refer

[2019-07-01 16:30] adamsitnik commented on #1162
@AndreyAkinshin you are right, enum is much better than a magic string

In my proposal, we would force the users to always write the TFM only if they want to compare multiple runtimes. So the change would affect only the users who compare .NET vs Core vs Mono vs CoreRT etc.

I have taken a moment and looked for the issues that hit this specific problem:

- https://github.com/dotnet/BenchmarkDotNet

[2019-07-01 16:36] adamsitnik opened #1186 "Add support for --runtimes net48"

[2019-07-01 16:36] #1186 closed

[2019-07-01 16:43] adamsitnik opened #1187 "When user uses --packages $path, the $path should be sent to dotnet build command as well"
In https://github.com/dotnet/performance/pull/594 I have hit an issue in a CI script that was running following command:

[code]

It turns out, that if we pass the packages restore folder to `dotnet restore`, we should also pass it to `dotnet build` via `NuGetPackageRoot` magic MSBuild property ;)

[2019-07-01 16:56] #1187 closed

[2019-07-01 17:23] ig-sinicyn commented on #1184
Ok, got it. Looks like I do not need custom memory diagnoser at all.
Previous version did override the `IDiagnoser.GetColumnProvider()` method to hide default memory-related columns from the output. This method was gone now so it looks like I'll need to find another way to override diagnoser output.

Well, this one really blocking me. I'm using custom interface derived from the `IConfig` to pass a

[2019-07-01 18:37] adamsitnik commented on #1184
Some time ago we have introduced a new concept of `Metric`. Now every Diagnoser returns an enumerable of Metrics and the `DefaultConfig` uses `DefaultColumnProviders`

https://github.com/dotnet/BenchmarkDotNet/blob/5070af4fac0299d6f27ce02a71f9093cf780f3c5/src/BenchmarkDotNet/Columns/DefaultColumnProvider.cs#L17-L19

which contains MetricsColumnProvider  which creates a new column of every metric r

[2019-07-01 18:40] adamsitnik commented on #1184
I see. Then we can unseal `ImmutableConfig`. But perhaps there is something in your additional options that would be useful in general and we should just extend the current implementation?

[2019-07-01 18:44] ig-sinicyn commented on #1184
I'm afraid, all options are specific for my scenarios. There are options for source annotations (sources are auto-annotated with attributes with expected metric values), list of custom metric providers and so on. I'll try to use a BDN metric providers but i'm currently not sure if this will work for my use cases.

[2019-07-01 18:47] adamsitnik commented on #1178
Hello @AlenToma

In your log I can find following info:

[code]

BenchmarkDotNet generates some boilerplate code that helps to avoid common benchmarking pitfalls. To allow for that, we need to generate and build a new project. This project needs to reference your project with benchmarks.

In your case, BDN looks for a project file called `Benchmarklb.*proj`.

Have you customized the Assembly name

[2019-07-01 18:53] adamsitnik commented on #1184
The concept of metric providers is still quite new and we can extend it if needed. So far I added only the things I needed for existing use cases.

[2019-07-02 07:18] AlenToma commented on #1178
Yes I did and thats why i removed this project and created a new one.

The new project game me the same errors. about missing the dll. after some research i found ou that the problem is releated to `sln ` file. that it cant locate my `sln ` file

So i ran this code instead

[code]

And now the table calculation, is working fine now and also showing some result.

There is still some errors

[code]

[2019-07-02 08:14] adamsitnik commented on #1178
You need to remove the following line from your code:

[code]

these attributes tell BDN to run the benchmark for .NET, Core and CoreRT.

@AndreyAkinshin I think that we should remove Job attributes from Sample from the main page, too many new users run into issues with it.

[code]

[2019-07-02 08:28] AlenToma commented on #1178
Well thanks that was it, i guess i should have, read the documentation more carefully :)

just wondering, if my `FastDeepCloner ` support more then one frameworks like `core 2.0`, `netstandard 2.0` and `net451` cant i create a console that support those frameworks and `BenchmarkDotNet` should automaticly start testing for all those frameworks?

or should i create a test project for each framework?

[2019-07-02 08:51] adamsitnik commented on #1178
@AlenToma I have forked your project, got it working and send a PR with fixes and explanation: https://github.com/AlenToma/FastDeepCloner/pull/7

I am going to close this issue, please feel free to reopen it if somehting does not work.

[2019-07-02 08:51] #1178 closed

[2019-07-02 19:25] sasivishnu commented on #721
@adamsitnik Is this issue still open? can I take a look?

[2019-07-02 19:41] adamsitnik commented on #721
@sasivishnu yes! please let me know if you need any help

[2019-07-03 15:49] sasivishnu commented on #721
@adamsitnik Sure. I am out for this weekend. Will work on the issue from next week. Thanks.

[2019-07-04 08:44] kirsan31 opened #1190 ".net 4.7.2 console app - .net core ( [CoreJob] etc... ) build failed"
Hi.
.net 4.7.2 console app, BenchmarkDotNet 0.11.5.
I Have following core sdk installed: 2.1.\*, 2.2.\*, 3.0.100-preview5-011568.
With `[CoreJob]` I have got this errors:
 <details><summary>
Log
  </summary>
// Build Error: Standard output:

 Standard error:
 Time Elapsed 00:00:01.32
    1 Error(s)
    2 Warning(s)
e6b5072c-baff-45ee-8006-d640f98ea9dc.notcs(122,48): error CS0234: The type or names

[2019-07-05 08:09] aelij opened #1191 "Running from a C# script"
C# scripts (`.csx`) generate a class where all the members and inner types of the script reside. The problem is that this class is generated by Roslyn as `internal`, and so BenchmarkDotNet fails to run due to this line:

https://github.com/dotnet/BenchmarkDotNet/blob/dfa074b024cfa8bbe4fe175d3d65a3d9f85127ff/src/BenchmarkDotNet/Running/BenchmarkConverter.cs#L260

Would it be possible to add a confi

[2019-07-05 08:51] adamsitnik commented on #1191
Hello @aelij

BenchmarkDotNet generates, builds and runs some boilerplate code to avoid some common benchmarking pitfalls. An example: we consume the result of the benchmark to avoid dead code elimination.

One of the things we do, is we generate a new type that derives from a type which defines the benchmark:

https://github.com/dotnet/BenchmarkDotNet/blob/dfa074b024cfa8bbe4fe175d3d65a3d9f85127ff

[2019-07-05 08:53] aelij commented on #1191
Yeah that obviously would not work in a script execution, but in RP you can use the in-process runner: `Job.Default.With(InProcessToolchain.Instance)`.

[2019-07-05 08:56] aelij commented on #1191
BTW, regarding inheriting from non-public types, it's be possible to circumvent that using the (undocumented) `IgnoresAccessChecksToAttribute`. See [here](https://github.com/aelij/IgnoresAccessChecksToGenerator) for an example.

[2019-07-05 18:10] MihaZupan opened #1192 "Comparing project reference against package reference"
I know it is possible to compare between different NuGet versions, but is it possible to compare a local build of a library (a ProjectReference to Foo.csproj) against an existing NuGet package reference.

If not, is it possible to emit a custom MSBuild define on a Job that could be used in a csproj condition for the Reference block?

[2019-07-06 22:01] hiradyazdan commented on #759
@xoofx is it possible to use a unity class library which only references `UnityEngine.dll` and `UnityEngine.UI.dll`, only the mode is set to a different profile than release (not debug, but a custom one with optimize tag to true)?

It looks like the build compiles fine with BenchmarkDotNet, but when running with ClrJob I still get these errors:

[code]

[2019-07-06 22:03] hiradyazdan commented on #759
@xoofx is it possible to use a unity class library which only references `UnityEngine.dll` and `UnityEngine.UI.dll`, only the mode is set to a different profile than release (not debug, but a custom one with optimize tag to true)?

It looks like the build compiles fine with BenchmarkDotNet, but when running with ClrJob I still get these errors:

[code]

[2019-07-07 06:13] mgravell opened #1193 "async ops call sync GetResult(), but this is not a required feature; breaks custom value tasks"
The expected *manual* (i.e. non-`await`) API when seeing an awaitable type is to check `IsCompleted`, calling `GetResult()` immediately if `true`, otherwise using `[Unsafe]OnCompleted` to schedule a callback that calls `GetResult()` when it gets invoked. However, it looks like benchmarkdotnet just calls `GetResult()`. This *works* for many types, since *by default* non-sync value-tasks are backed

[2019-07-07 09:47] wojtpl2 commented on #1192
I don't know about normal solution for this. But you can try to use local feeds as a workaround. You can publish new version of your package to local directory and then configure your nuget.config in benchmark project to use it.

[2019-07-07 11:58] MihaZupan commented on #1192
I thought about doing this but didn't think of the nuget config, thanks.

[2019-07-07 18:45] hiradyazdan commented on #44
@AndreyAkinshin I hope my question doesn't sound too dumb, but why is there no support for only generic methods, and just assigning the generic type argument on the method itself than on the class?

[2019-07-07 19:05] mgravell commented on #1193
You know what? I'm closing this. It seems reasonable to either have custom implementations support sync GetResult, or just add an `await` and spread the overhead over some N ops

[2019-07-07 19:05] #1193 closed

[2019-07-08 10:20] MihaZupan commented on #1192
Tested it on a few projects and it seems to be working. Thanks again.

[2019-07-08 10:20] #1192 closed

[2019-07-08 11:16] wojtpl2 commented on #1192
@MihaZupan Thanks for the information.

[2019-07-08 19:38] billwert commented on #654
Did anyone ever do a PR for this? I was just reading some documentation @adamsitnik and imagined  `[Overhead]` also, and was happy to find it was already discussed deeply. :)

[2019-07-09 15:16] RealDotNetDave commented on #1182
I read the other issues and ran my test with this:

BenchmarkRunner.Run<GeneralPerfTestRunner>(DefaultConfig.Instance.With(Job.Default.With(CsProjCoreToolchain.NetCoreApp30)).With(Job.Default.With(CsProjClassicNetToolchain.Net48)));

This seems to work. It would be nice if this could be done with attributes similar to the suggestions in the other issues you mentioned.

[2019-07-09 16:52] adamsitnik commented on #1182
@RealDotNetDave  Thanks for the feedback. I've proposed a solution to these problems in https://github.com/dotnet/BenchmarkDotNet/pull/1188 which would simply require the users to provide Full TFM and make BDN stop trying to figure it out

[2019-07-10 18:52] RealDotNetDave opened #1194 "RunAll with ToolChains"
Is there a way to run all benchmarks in a project and configure ToolChains? Similar to this:

`BenchmarkRunner.Run<ValueTypePerfTestRunner>(DefaultConfig.Instance.With(Job.Default.With(CsProjCoreToolchain.NetCoreApp30)).With(Job.Default.With(CsProjClassicNetToolchain.Net48)).With(Job.Default.With(CsProjClassicNetToolchain.Net472)).With(Job.Default.With(CsProjCoreToolchain.NetCoreApp22)));`

But us

[2019-07-10 18:59] #1194 closed

[2019-07-10 19:04] adamsitnik commented on #1194
Hi @RealDotNetDave

Ups, we forgot to add the possibility to pass `IConfig` to `RunAll`. I have fixed that in https://github.com/dotnet/BenchmarkDotNet/commit/ae23bddebe49cd66a9627790c073b7bc45ccbf5c

Until we ship a new NuGet version you can use the following code:

[code]

or just pass the args to BenchmarkSwitcher:

[code]

and use following command from console:

[code]

[2019-07-10 20:35] RealDotNetDave commented on #1194
Awesome. Thanks!

[2019-07-11 14:31] wojtpl2 opened #1195 "LatestCoreRtVersionIsSupported fails on Mac Os"
`LatestCoreRtVersionIsSupported` test doesn't work on Mac OS.

There is a link to build https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/552834005

This test uses the new version of Core RT:
https://github.com/dotnet/BenchmarkDotNet/blob/0b83c934e5f983ff2aa43c82e63d242216d330bf/tests/BenchmarkDotNet.IntegrationTests/CoreRtTests.cs#L27

Error occurs from the `1.0.0-alpha-27901-01` version of `micr

[2019-07-11 15:33] adamsitnik commented on #1195
@MichalStrehovsky could you help us with this one?

[2019-07-11 16:06] MichalStrehovsky commented on #1195
[code]

CoreRT is statically linking against System.Native that was built out of the CoreFX repo. Looks like CoreFX built System.Native on macOS with an SDK that has the `utimensat` API ([HAVE_UTIMENSAT](https://github.com/dotnet/corefx/blob/655be420da4094ffed95ffa661a37225a3d7c6c9/src/Native/Unix/System.Native/pal_time.c#L30-L46) is defined on the CoreFX build machine). This API is new as of macO

[2019-07-11 16:08] adamsitnik commented on #1195
@MichalStrehovsky thank you! it would explain why it works fine on Azure DevOps MacOS CI leg

[2019-07-11 17:47] wojtpl2 commented on #1195
@MichalStrehovsky I have more information, `BenchmarkDotNet` uses always latest version of `microsoft.dotnet.ilcompiler`. The last build which was successful on Mac OS was `June 13, 2019 10:56:45`. There is link: https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/545126062
This build probably used 1.0.0-alpha-27812-02 version and this version should be ok.

HAVE_UTIMENSAT was merged to master 2 Aug

[2019-07-11 17:54] wojtpl2 commented on #1195
Of course, I can be wrong or not be aware of something 😃

[2019-07-11 18:35] MichalStrehovsky commented on #1195
It was probably a silent update of the SDK on the build machine.

Looks like .Net Core 3.0 requires macOS 10.13+, so this is now an unsupported OS.

[2019-07-11 18:58] wojtpl2 commented on #1195
I created a PR https://github.com/dotnet/BenchmarkDotNet/pull/1196 that upgrade macOS to 10.14 for Travis CI.  We'll see if it helps.

[2019-07-11 19:38] wojtpl2 commented on #1195
After update macOS build passed.

![image](https://user-images.githubusercontent.com/17333903/61079900-2222e180-a424-11e9-9bb2-55db89c43084.png)

[2019-07-11 19:44] MichalStrehovsky commented on #1195
Thank you Wojciech!

[2019-07-11 20:08] #1195 closed

[2019-07-11 20:28] billwert opened #1197 "Enable including references in autogenerated csproject"
Today, if a benchmark needs a reference to a Nuget package it goes into the original project (microbenchmarks.csproj, say) and then does not need to be in the auto generated csproj.

I’d like to enable us to remove the requirement that we run .NET Framework tests on VMs / machines that have Visual Studio installed: https://github.com/dotnet/performance/pull/627. The new Microsoft.NetFramework.Refe

[2019-07-12 17:21] RealDotNetDave opened #1198 "ConcurrencyVisualizerProfiler Attribute Causing Exception"
I have a benchmark class that uses the ConcurrencyVisualizerProfiler attribute. When I add this attribute to my class I get the following exception (which is not logged).

<img width="665" alt="benchmarkdotnet-screen grab" src="https://user-images.githubusercontent.com/15676130/61146340-a3af5980-a48e-11e9-960a-bdddd2d77080.png">

Let me know if you need any other info to track down this issue.

[2019-07-13 09:28] AndreyAkinshin commented on #1190
@kirsan31 sorry for the late reply. Could you please paste the source of your original `csproj` file?

[2019-07-13 10:14] kirsan31 commented on #1190
<details><summary>
Here
  </summary>

[Net_performance_test.zip](https://github.com/dotnet/BenchmarkDotNet/files/3388695/Net_performance_test.zip)

 </details>

[2019-07-13 11:34] wojtpl2 commented on #1198
Could you please paste the source of your *.csproj file? I have problem with merge function in #1131

[2019-07-13 15:23] AndreyAkinshin commented on #1125
It seems that the tiered jitting is not such a big issue since .NET Core 3.0 preview 4 (after https://github.com/dotnet/coreclr/pull/23599 was merged). I close this issue but feel free to create a new one if you notice any problems with tiered jitting on .NET Core 3.0 preview 6+. Also, you can track https://github.com/dotnet/coreclr/issues/25680 for further discussion about BenchmarkDotNet and tie

[2019-07-13 15:23] #1125 closed

[2019-07-13 15:36] EgorBo commented on #1125
@AndreyAkinshin btw, QuickJit is enabled by default again (see https://github.com/dotnet/coreclr/pull/24576) 🙂 even if it's disabled you still should see some fluctuations because of R2R vs tier1.

[2019-07-13 15:48] AndreyAkinshin commented on #1125
@EgorBo in my experiments I have fluctuations during the warmup stage. I'm curious if it's possible to get a noticeable impact on the actual iterations.

[2019-07-13 15:52] EgorBo commented on #1125
I guess in general R2R code is as fast as IL-to-tier1 but there can be differences, e.g. R2R doesn't use the System.Runtime.Intrinsics API (it's used in some BCL stuff under the hood). so e.g. you benchmark some code and at some point (at the 30th iteration) it recompiles that R2R code, enables intrinsics and the code becomes a bit faster.

[2019-07-13 19:03] yahorsi commented on #1125
Ideally, we need a way to explicitly tell how to jit the benchmark. E.g. imagine you have benchmarked code being jitted using tier X and on production it is actually jitted using tier Y, results might be very different...

[2019-07-13 19:03] AndreyAkinshin commented on #1063
@szehetner your extension looks nice, thanks for sharing. However, I'm going to close this issue since there are no reasons to keep it open.

P.S. I'm working on my own plugin for [Rider](https://www.jetbrains.com/rider/) and [ReSharper](https://www.jetbrains.com/resharper/). Some of the features that I want to implement:

* All the IDE activities should be suspended during benchmark run (not sure

[2019-07-13 19:03] #1063 closed

[2019-07-13 19:05] AndreyAkinshin commented on #1085
@mantzas thanks for the PR! However, we are not going to keep any kinds of IDE extension/plugins in this repository, so I close this issue. You are free to create your own repositories for such projects.

[2019-07-13 19:05] #1085 closed

[2019-07-13 19:10] AndreyAkinshin commented on #1125
@yahorsi for such a feature, we need the corresponding API on the runtime side. I already asked a similar question in this issue: https://github.com/dotnet/coreclr/issues/25680 (please, use it for further discussions).

[2019-07-14 18:40] billwert commented on #1197
I thought I could work around this by emitting a `Directory.Build.props`, but y'all thought of that :)
https://github.com/dotnet/BenchmarkDotNet/blob/58fde64c809ceadb3fca9d677a7cec83071b833f/src/BenchmarkDotNet/Templates/CsProj.txt#L4-L5

I definitely understand why this is there, and think it's a good idea. It just prevented the work around I had hoped would be cheap of ensuring that there's a `D

[2019-07-15 05:43] Turnerj opened #1200 "FileLoadException for v0.11.4 & v0.11.5 in LINQPad"
In both versions 0.11.4 and 0.11.5 (works fine in 0.11.3), this benchmark fails in LINQPad (v5.36.03) with `FileLoadException: Assembly is still being loaded. (Exception from HRESULT: 0x80131016)` with the following stack trace:

[code]
I had a look at the source code and history of that file and while [there were changes to that file](https://github.com/dotnet/BenchmarkDotNet/commit/f9c8cc5b835a3

[2019-07-15 12:17] adamsitnik commented on #44
@hiradyazdan This is due to current BDN design. To achieve process level isolation and avoid some common benchmarking pitfalls, BenchmarkDotNet generates, builds and run a new project with some boilerplate code.

You can see our template here: https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Templates/BenchmarkType.txt

To tell the long story short, it was easier to implem

[2019-07-15 12:31] adamsitnik commented on #1190
Hi @kirsan31

BenchmarkDotNet can test the performance for multiple target frameworks only if the project that defines benchmarks targets them as well.

So your project which defines benchmarks (`Net_performance_test.csproj`) has to target .NET 4.7.2,  .NET Core 2.1, 2.2 and 3.0 in this case.

[2019-07-15 12:31] #1190 closed

[2019-07-15 13:18] AndreyAkinshin commented on #1190
@adamsitnik I think we should print a nice message about the situation instead of the call stack; it can be done as a part (or a continuation) of https://github.com/dotnet/BenchmarkDotNet/pull/1188.

[2019-07-16 13:10] hiradyazdan commented on #44
@adamsitnik I see, Thanks. I am not familiar enough with the implementations and reasonings behind, hence the question mark in my head :)

[2019-07-16 13:39] wojtpl2 commented on #1198
`Microsoft.Diagnostics.Tracing.TraceEvent` nuget internally use `CreateMergedTraceFile` function z `KernelTraceControl.dll` https://docs.microsoft.com/en-us/previous-versions/windows/desktop/xperf/createmergedtracefile which returns codes from this list:
https://docs.microsoft.com/pl-pl/windows/win32/debug/system-error-codes

`0x3` means: `ERROR_PATH_NOT_FOUND - The system cannot find the path spe

[2019-07-16 20:24] danielloganking commented on #155
@AndreyAkinshin @ig-sinicyn I've not seen anything announcing a performance testing API for BenchmarkDotNet though you said one would be released possibly last March. Is there any progress on this or some place to help make this a reality?

[2019-07-17 15:15] RealDotNetDave opened #1202 "BenchmarkDotNet Not Recognizing CPU"
I have a Surface laptop and whenever I run a test, BenchmarkDotNet does not recognize my processor.
[code]

Here is my system info. Let me know if you need anything else.
[code]

[2019-07-17 15:54] RealDotNetDave commented on #1182
Is the fix implemented? I tried to use it but the RuntimeMoniker isn't found.

[2019-07-17 16:19] ydsood commented on #946
Is there any solution for this issue so far?

[2019-07-18 07:46] AndreyAkinshin commented on #1202
@RealDotNetDave thanks for the report! Could you please run the below command in the terminal and show your output?
[code]

[2019-07-20 18:55] astef opened #1205 "Why Error is bigger than StdDev?"
Standard error should be always smaller than Standard deviation. I've found [this line](https://github.com/dotnet/BenchmarkDotNet/blob/0e4b8e69d10e73a83fce3ce3980497ee7798bc87/src/BenchmarkDotNet/Mathematics/Statistics.cs#L75) with the correct formula, but it seems to be not what is shown in the summary table:

| Method | Runtime |     N |       Mean |     Error |    StdDev | Ratio | Rank |
|-----

[2019-07-20 20:06] AndreyAkinshin commented on #1205
@astef in the "Legend" section under the summary table, you can find the legend for each column. "Error" is not the standard error, it's "Half of 99.9% confidence interval", this metric is more useful for the analysis than the raw standard error. I know that the current title may be misleading, but we don't have enough space for "Half of 99.9% confidence interval" in the summary table header row.

[2019-07-20 21:12] astef commented on #1205
Sorry, I've missed the legend, now it makes sense, unless...

I'm not a statistics expert, but for me it's suspicious that you're using [Student's t-distribution](https://github.com/dotnet/BenchmarkDotNet/blob/60eca005326970202a33891e5aecd2ef6b7e4cd0/src/BenchmarkDotNet/Mathematics/ConfidenceInterval.cs#L92) for this purpose. Data is presumably normally distributed and you're using standard deviat

[2019-07-21 08:04] astef commented on #1205
But for me the issue is solved, thanks for your help

[2019-07-21 08:04] #1205 closed

[2019-07-21 08:56] AndreyAkinshin commented on #1205
@astef to be honest, I don't see any problems with the math, everything looks OK to me. If you want to improve your statistics skills, I can recommend my book [Pro .NET Benchmarking](https://aakinshin.net/prodotnetbenchmarking/), it has a whole chapter about statistics and how to correctly interpret statistical metrics.

[2019-07-22 06:06] morgan-kn commented on #946
In this case we can't just add Copy to SettingsWeWantToCopy because the Copy command contains parameters (i.e. SourceFiles, DestinationFolder, etc) which may refer to some properties in csproj, and we'll be forced to process them all.

I suggest to copy the content of user's bin folder to benchmark's bin folder assuming that user puts in there only files that he or she needs.

@adamsitnik  What do

[2019-07-22 07:20] #457 closed

[2019-07-22 07:51] adamsitnik commented on #1197
This issue is very similar to #1023 :

* a project with benchmark `A` has a reference to package `B`
* BenchmarkDotNet generates a new project `C` that references 'A'
* the reference to package `B` is non transitive and BDN fails to build the auto-generated project because it lacks the reference

@viktorhofer @ericstj @eerhardt would it be possible to make `Microsoft.NetFramework.ReferenceAssembli

[2019-07-22 07:53] adamsitnik commented on #1197
@billwert if I won't be able to find any clean solution the only idea I currently have it to introduce a concept of `BenchmarkDotNet.props` files that would be always included by the auto-generated project files.

[2019-07-22 08:26] adamsitnik commented on #1191
I took a brief look at the source code again.

I was thinking about removing the mentioned throw for InProcessToolchain only, but there are too many places where we search only for `public` types/methods. So some features would work, some not.

I also don't want to rely on the undocumented `IgnoresAccessChecksToAttribute` since it might have some perf impact we don't know about.

I think that the

[2019-07-22 08:26] #1191 closed

[2019-07-22 11:30] adamsitnik commented on #756
I am currently working on the .NET Core 2.2 vs 3.0 comparison and the loop alignment has hit me again.

I was thinking about the [stabilizer](https://github.com/ccurtsinger/stabilizer/blob/master/README.md) project mentioned by @AndyAyersMS to me a long time ago and I was wondering if re-jitting the benchmark method after every iteration would help?

@AndyAyersMS : would it be possible to implemen

[2019-07-22 12:21] marcnet80 commented on #1183
Hi, @AndreyAkinshin. Is this issue still actual? I can't reproduce it on Windows 10, R-3.6.1.
`   internal string GetArtifactFullName(Summary summary)
        {
            string fileName = GetFileName(summary);
            return $"{Path.Combine(summary.ResultsDirectoryPath, fileName)}-{FileCaption}{FileNameSuffix}.{FileExtension}";
        }`

[2019-07-22 14:15] AndreyAkinshin commented on #1200
@Turnerj I wasn't able to reproduce your problem, everything works fine on all of my Windows machines:

[2019-07-22 14:51] AndreyAkinshin commented on #1200
@Turnerj I wasn't able to reproduce your problem, BenchmarkDotNet v0.11.5 works fine in LINQPad 5.36.03 on all of my Windows machines:
![image](https://user-images.githubusercontent.com/2259237/61639616-8bb4b280-aca4-11e9-8c4c-ea497f826fb9.png)

[2019-07-22 15:01] AndreyAkinshin commented on #1200
Aha, I found a discussion about the same problem on the LINQPad forum: https://forum.linqpad.net/discussion/1873/benchmarkdotnet-in-linqpad-anycpu-throws-an-exception It seems that this issue is relevant only for AnyCPU-builds of LINQPad

[2019-07-22 15:03] AndreyAkinshin commented on #1183
@marcnet80 yes, the issue is still actual. I guess, the problem is in this line: https://github.com/dotnet/BenchmarkDotNet/blob/v0.11.5/src/BenchmarkDotNet/Templates/BuildPlots.R#L112
When `params` is empty, we get double dash in the file name.

[2019-07-22 15:25] eerhardt commented on #1197
The reason the reference to `B` isn't included in `C` is because the reference has `PrivateAssets=All` on it:

https://github.com/dotnet/performance/pull/627/files#diff-931d1b8d9e5f2892d7f8e001da3bf159R25.

This means that this reference is "private" to `A` and shouldn't be made transitive.

Possible fixes:

1. Remove `PrivateAssets=All` on the reference in the benchmark.csproj (`A`).
    - I am n

[2019-07-22 15:28] adamsitnik commented on #1197
@eerhardt thank you!

@billwert could you please give it a try?

[2019-07-22 18:07] RealDotNetDave opened #1207 "Removing Time Unit from CSV Exporter"
I have found putting the time unit in the measurement column is an issue with trying to do calculations or turning them into a chart. It took me a while to find this on your site:

[code]
But now I can't use this config:
[code]

Wouldn't it be easier to add the SummaryStyle settings to the `[CsvExporter()]` attribute?

[2019-07-23 00:02] Turnerj commented on #1200
Ahhhh, OK. Should this be put down to a bug in LINQPad then or do you think there still might be an issue on BDN

[2019-07-23 04:58] adamsitnik commented on #1200
@Turnerj I would prefer to close this issue, we have clear info about this in our [FAQ](https://benchmarkdotnet.org/articles/faq.html)

![obraz](https://user-images.githubusercontent.com/6011991/61683806-3796e600-ad17-11e9-8aa5-3a044c1b5121.png)

[2019-07-23 04:58] #1200 closed

[2019-07-23 08:10] marcnet80 commented on #1183
@AndreyAkinshin, thank you for pointing, values for params are coming from generated  ..-measurements.csv in this line of code:
https://github.com/dotnet/BenchmarkDotNet/blob/v0.11.5/src/BenchmarkDotNet/Templates/BuildPlots.R#L104
I open ..-measurements.csv and see that values for **Params** columns is empty, that's why @simonech  has `--`
![image](https://user-images.githubusercontent.com/4624136

[2019-07-23 13:03] aelij commented on #1191
Hi Adam, I don't see the downside in adding a option to disable visibility check in `BenchmarkConverter`. As it's already a public API, someone willing to use it at their own risk should be able to do so.

This way I could offer a reasonable workaround for my users.

[2019-07-23 20:20] AndreyAkinshin opened #1210 "Adjust invocation count during warmup stage"
Suggested by @kouvel (see https://github.com/dotnet/coreclr/issues/25680#issuecomment-514024669):

[2019-07-24 09:28] AndreyAkinshin commented on #1183
@marcnet80 it's better to fix it in the R-script.

[2019-07-24 17:21] RealDotNetDave opened #1211 "Binding Redirect Issues When Using Xml Serializers"
In my benchmark test project, I am targeting Clr 472 & 48 and Core 2.2 & 3. Everything worked until I added tests to test XML serialization. I keep getting the error below. Tried a bunch of things I found online, but none worked. I have included the config file and csproj from the net48 version generated by BDN.

Error:
// Wrong assembly binding redirects for System.Private.DataContractSerializati

[2019-07-24 17:25] RealDotNetDave commented on #1202
Here you go. Thanks!

MaxClockSpeed=2496
Name=Intel(R) Core(TM) i7-7660U CPU @ 2.50GHz
NumberOfCores=2
NumberOfLogicalProcessors=4

[2019-07-24 17:26] RealDotNetDave commented on #1198
I will get back to you on this. Saving that test until I get the others working correctly.

[2019-07-24 17:45] AndyAyersMS commented on #756
It might possible to force rejitting, sure. One simpleminded way to do this would be to attach as a profiler and pretend to modify the IL (note this might have other undesirable impacts). Getting the transient closure of all methods invoked by the benchmark to rejit would be tricky.

If you run each trial in a new process you should get some code and heap jittering via ASLR. I don't know how well-

[2019-07-24 21:10] marcnet80 commented on #1183
Ok. Pull-request added.

[2019-07-25 05:13] adamsitnik commented on #1211
Hi @RealDotNetDave

The following part of your log file looks interesting:

I've done some web search and found the following answer on Stack Overflow: https://stackoverflow.com/a/946088/5852046

Are you facing the same problem? Could you please apply the suggested fix?

[2019-07-26 19:39] AndreyAkinshin commented on #1202
Argh, it should be parsed! Probably, the problem is somewhere on the process executing side. Could you please run the below program and send me the output? It contains some essential logic with additional diagnostics information.

<details><summary>Program.cs</summary>

[code]

</details>

[2019-07-28 15:02] marcnet80 commented on #1181
Hi, @AndreyAkinshin. Could you please provide steps to reproduce this issue?
Maybe this behaviour relates to this line: https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Exporters/ExporterBase.cs#L34

[2019-07-29 21:09] Doughboy02 opened #1215 "Can not find dll, and finds dll.config only"
I keep getting this issue whenever I run anything other than an "[InProccess]" run.
I am currently trying to run a [SimpleJob] just so I can control the warmup and call count and so on... Here is the issue, I don't feel comfortable pasting the whole log.

`
// *** Execute ***
// Launch: 1 / 1
Did not find C:\Users\XXX\bin\Release\netcoreapp2.2\win-x64\publish\8a5aaa1a-8e58-47c8-825b-89a7acbaa72b\b

[2019-07-29 22:16] #1215 closed

[2019-07-30 16:41] AndreyAkinshin commented on #1181
@marcnet80 just run any benchmark with the `[RPlotExplorter]` attribute.
Since `RPlotExporter` generates a lot of different plots (not only `boxplot` and `barplot`) and there is no a simple way to get real names of these files (this logic is controlled by the internals of `BuildPlots.R`), I suggest to print just `*.png` instead of specific names.

[2019-07-30 17:02] RealDotNetDave commented on #1211
Yes, I saw that too. I don't know why it's doing that. I don't have that issue when using my open-source NuGet package. So, I thought it might be the binding redirect errors. I will keep digging.

[2019-07-30 17:12] RealDotNetDave commented on #1202
Here you go:

*** wmic output ***

MaxClockSpeed=2496
Name=Intel(R) Core(TM) i7-7660U CPU @ 2.50GHz
NumberOfCores=2
NumberOfLogicalProcessors=4

-------------------
*** Processors ***
MaxClockSpeed=2496
Name=Intel(R) Core(TM) i7-7660U CPU @ 2.50GHz
NumberOfCores=2
NumberOfLogicalProcessors=4
-----------------
Result = Intel(R) Core(TM) i7-7660U CPU @ 2.50GHz

[2019-07-31 09:40] natiki commented on #155
I would also like to use BenchmarkDotNet with Nunit similair to what NBench provides. As NBench is not keeping up with NUnit progress I was hoping to find that BenchmarkDotNet would be ;-)

[2019-08-01 08:38] natiki opened #1216 "Comparing runs between machines?"
Hi,

If I have the same benchmark code that I run on Machine A and Machine B. Is there any reasonable way I can compare the results?

Obviously different hardware will produce different outcomes, but lets assume that all the hardware is the same except for the model of the CPU. In my case I have a work machine (machine A) and a home machine (machine B( and whatever results I have reaped on one I "

[2019-08-01 11:47] adamsitnik commented on #1216
Hi @natiki

You can use a tool that I've build on top of BenchmarkDotNet: https://github.com/dotnet/performance/tree/master/src/tools/ResultsComparer

We are planning to add such feature to BDN global tool itself: https://github.com/dotnet/BenchmarkDotNet/issues/973

[2019-08-01 11:47] #1216 closed

[2019-08-02 12:36] marcnet80 commented on #1181
@AndreyAkinshin, all generates plots have png extension?

[2019-08-02 13:13] AndreyAkinshin commented on #1181
@marcnet80 yes.

[2019-08-02 13:19] marcnet80 commented on #1181
Ok. I will create pull-request today. Thank you.

[2019-08-03 12:24] AndreyAkinshin commented on #155
Hey everyone! I'm sorry that this feature takes so much time. Unfortunately, it's not so easy to implement a reliable performance runner that works with different kinds of benchmarks. Such a system should have an extremely low false-positive error rate (if we get too many false alarms, the performance tests will become untrustable); low false-negative error rate (if we skip most of the performance

[2019-08-05 06:50] natiki commented on #155
@AndreyAkinshin Which JB tool will this surface in?

[2019-08-06 07:56] AndreyAkinshin commented on #155
@natiki [Rider](https://www.jetbrains.com/rider/).

[2019-08-07 11:54] melanchall commented on #1136
I have the same problem. My output is:

[code]

And that's all. At the end of process the benchmark is listed as with issue, but there is no issue information in the log.

[2019-08-10 13:54] tebeco opened #1220 "[Docs] RScript / R_HOME setup"
Hello,

As part of an experimentation we tried to see how data were exported using `RExporter`.
Was hit by 2 little things :
* the link to `R` installer is a bit small since it'as applied on "one letter only" (barelly visible on High Res).
* Took me time to understand what was intended in `R_HOME` (it was already updated here #339)

Finally managed to work but i had to open the source code to unde

[2019-08-10 23:10] DataJuggler opened #1223 "Will the Error time be included if no errors are thrown?"
If there is a better place to ask a 'How To' question for BenchMarkDotNet please tell me where.

I was super excited when I completed my first benchmark and my project DataTiet.Net beat Entity Framework by a landslide:

Method | Mean | Error | StdDev
-- | -- | -- | --
LoadDTNSetting | 14.24 us | 0.0181 us | 0.0169 us
LoadEFSetting | 195.93 us | 0.5839 us | 0.5462 us

(simple test finding one recor

[2019-08-11 06:48] adamsitnik commented on #1223
Hi @DataJuggler

BenchmarkDotNet prints a Legend under the table with the results. It contains some basic  explanation:

[code]

[This](https://github.com/dotnet/BenchmarkDotNet/issues/1205#issuecomment-513495371) answer explains what the "Error" means in greater deatils

[2019-08-11 06:48] #1223 closed

[2019-08-11 06:53] DataJuggler commented on #1223
I missed the legend also and not really sure I understand the answer.

Is there some documentation somewhere?

I watched a YouTube video and the [benchmark] tag was so easy I jumped right in the deep end without those little floaty things on my arms.

Thanks for the reply.

Corby

[2019-08-11 07:00] adamsitnik commented on #1223
To tell the long story short, BenchmarkDotNet was designed for microbenchmarks, it does not have any exception/error handling mechanism. If your benchmark method throws, then BDN just fails. The "Error" is one of the statistics BDN displays.

[2019-08-11 07:02] DataJuggler commented on #1223
I didn’t think any errors were thrown, that is why I was surprised to see Error.

I don’t understand the label being ‘Error’ for half of 99.9%. That sounds like 1/1000 operation speed, not error.

From: Adam Sitnik <notifications@github.com>
Sent: Sunday, August 11, 2019 2:01 AM
To: dotnet/BenchmarkDotNet <BenchmarkDotNet@noreply.github.com>
Cc: Corby Nichols <corby@datajuggler.com>; Mention <ment

[2019-08-11 07:05] adamsitnik commented on #1223
Andrey has written an excellent [book](https://aakinshin.net/prodotnetbenchmarking/) which has an entire chapter dedicated for Statistics. You can also google for "confidence interval" and read/watch some explanations on the internet.

I understand, however, I am not sure what else we can do on BDN side. We already print a Legend below the results. @AndreyAkinshin is there any better name for the

[2019-08-11 21:34] DataJuggler commented on #1223
I wasn't complaining, I was just explaining why I was confused because my component has the errors trapped pretty well and shouldn't ever throw any.

Thanks for all the answers.

[2019-08-11 23:27] DataJuggler opened #1224 "Can someone explain why my Error time is higher but total time is lower?"
I have read half of 99.9% confidence level, and I guess before my tiny brain can comprehend 1/2000th of the Confidence Level, I need to understand what Confidence Level means?

My previous benchmark I posted was actually not a valid test, because my configuration settings were  in another project (Win Forms), and I had to switch to a console app to run the tests.

So my previous claim of 14 times

[2019-08-12 20:24] RealDotNetDave commented on #1198
I don't get that same error anymore, now it's the one below. It also happens if I add the ETWProfiler attribute too. I run the test as admin on my laptop (not a VM).

// AfterAll
// * Artifacts cleanup *
Program Error! Merge operation failed return code 0x3

[2019-08-13 12:59] adamsitnik commented on #1182
I've just merged #1188 with the fix.

[2019-08-13 12:59] #1182 closed

[2019-08-19 18:46] RealDotNetDave opened #1226 "#if Blocks Not Working"
I am trying to use the code below using BenchmarkDotNet. Whenever I use a #if block in my benchmarks, I get errors like the one below.

[code]

Standard error:
 Time Elapsed 00:00:06.01
    2 Error(s)
    0 Warning(s)
c3bcb847-7512-47e8-b975-1bd66eb19257.notcs(4005,17): error CS0103: The name 'TestFor04' does not exist in the current context [C:\src\Books\RockYourCode\CodePerformance\src\OutputBin

[2019-08-21 15:51] #1154 closed

[2019-08-22 22:17] Kavignon commented on #722
I’ll take this if that’s ok!

[2019-08-22 22:17] Kavignon commented on #846
What’s the status for this?

[2019-08-22 22:18] Kavignon commented on #1028
How can I be of help here?

[2019-08-22 22:19] Kavignon commented on #69
So what’s the status here?

[2019-08-22 22:21] Kavignon commented on #247
I could take it!

[2019-08-23 10:59] #995 closed

[2019-08-27 13:34] sleemer commented on #806
@adamsitnik

I belive that whenever to use BenchmarkDotNet for testing web apps is more philosophical than practical question. Using it for testing controllers, imo, should be absolutely fine. And one way to solve the problem described by @mauroservienti would be using targets to copy *.deps.json files to the output folder. Similar to what Microsoft.AspNetCore.Mvc.Testing does by itself (There is

[2019-08-28 13:34] WojciechNagorski opened #1234 "Strong type fluent API proposal"
## Current API ##
[code]
The biggest issue for me are methods `Job.With()` and method `ManualConfig.Add()`. These methods have many versions of overloads.

## API Proposal ##
I would like to propose new, strongly typed, fluent API.

[code]

`AddJob(Job.ShortRun.Use... )` could be replaced by:
- `AddJob(JobType.ShortRun).UseLegacyJit().UseX86().UseClrRuntime(ClrVersion.Net461);`
- `AddShortRunJob()

[2019-08-28 18:04] adamsitnik commented on #1234
I really like this idea!!!

@AndreyAkinshin what do you say?

[2019-08-29 07:49] WojciechNagorski opened #1235 "NativeMemoryProfiler exception"
@dotMorten has reproduced an exception in `NativeMemoryProfiler`.
There is https://twitter.com/dotMorten/status/1166842655348670466

At first, he got an error:
![image](https://user-images.githubusercontent.com/17333903/63920870-04e0bb80-ca42-11e9-9645-233bc701eaae.png)

Then:

![image](https://user-images.githubusercontent.com/17333903/63920989-3eb1c200-ca42-11e9-97ea-6d646b5dbcb1.png)

[2019-08-29 07:51] adamsitnik commented on #1235
@wojtpl2 are you able to repro it?

[2019-08-29 08:39] wojtpl2 commented on #1235
@adamsitnik No, I'm not.
@dotMorten Could you share some reproduction?

I have some ideas:
- Copy of native DLL
Related with https://github.com/dotnet/BenchmarkDotNet/issues/946 . I know good solution for it. Instead of using `AfterBuild`, use this construction: https://github.com/wojtpl2/NativeMemorySample/blob/master/NativeDllWraper/NativeDllWraper.csproj#L6-L9. I checked that this solution work

[2019-08-29 12:49] AndreyAkinshin opened #1236 "Rework new API for target runtimes"
In two recent pull requests (https://github.com/dotnet/BenchmarkDotNet/pull/1188 and https://github.com/dotnet/BenchmarkDotNet/pull/1230), new APIs for benchmark runtimes were introduced. In general, I like these changes: we are making steps in the right directions. However, I have a few major concerns which *should be resolved* before the next version of BenchmarkDotNet will be released (I alread

[2019-08-29 13:18] AndreyAkinshin commented on #1234
I also like this idea. It wasn't a problem several years ago (when we have a small number of API method), but now we have the overload hell. The suggested changes should simplify the user experience.
P.S. The old API method shouldn't be deleted or changed; they should be just marked with the `Obsolete` attribute and the proper messages about the new API.

@wojtpl2 do you want to create a pull requ

[2019-08-29 13:19] wojtpl2 commented on #1235
the first exception occurred in this line:
https://github.com/dotnet/BenchmarkDotNet/blob/e92abf845ac916e449bf9d8ccf1d872204951bec/src/BenchmarkDotNet.Diagnostics.Windows/Sessions.cs#L147
It is possible only if `details.Config.ArtifactsPath` is null. I need time to understand when this can be null.
@dotMorten If you are not able to share reproduction, please share only your configuration. I mean `

[2019-08-29 13:23] wojtpl2 commented on #1234
@AndreyAkinshin Yes, I will be very happy if I can do it.

[2019-08-29 13:32] dotMorten commented on #1235
I should be able to share something once I get into the office in a bit. The second crash only occurs for some tests, and the etl file was huuuuge at that point (over 8gb).
Only see two places where division by error can occur, but not sure why those values would be zero at that point.

[2019-08-29 13:59] wojtpl2 commented on #1235
I've just pushed nicer error handling. Division by zero is possible only when *.etl file doesn't contain events from BenchmarkDotNet Engine. To be honest, I don't know yet why it works that way, but I will find this bug 😄

[2019-08-29 16:07] dotMorten commented on #1235
Below is a repro for the artifacts path. I'll get back to you with the other issue, once I zero in on it (the one that fails is overly complicated so trying to dumb it down):

You'll need this package reference:
[code]
Repro app code:
[code]

[2019-08-29 21:13] wojtpl2 commented on #1235
@dotMorten Thanks for this reproduction. I've just pushed fix.

The problem was not in `NativeMemoryProfiler`.

When you run benchmark with your own configuration in this way:
[code]
Then resulted ArtifactsPath is null.

I found information in the code that in this case the default path should be used.
https://github.com/dotnet/BenchmarkDotNet/blob/3bd18fc1fd84c70eedde1ced821df8777c710ec2/src/Benc

[2019-08-29 22:34] dotMorten commented on #1235
@wojtpl2 I think what I'm seeing with the second crash is because the test threw an exception in the background thread.

[2019-08-30 11:16] AndreyAkinshin commented on #1028
@Kavignon we already have a pull request by @CodeTherapist with basic template support: https://github.com/dotnet/BenchmarkDotNet/pull/1044 However, I raised some concerns about the current PR status: https://github.com/dotnet/BenchmarkDotNet/pull/1044#pullrequestreview-261539007 . I think it will be better to continue discussion there and finish the PR.
@CodeTherapist do you need any help with th

[2019-08-30 13:12] CodeTherapist commented on #1028
@AndreyAkinshin No help needed, thanks - I will finish it this week(end).

[2019-08-30 13:19] AndreyAkinshin commented on #1028
@CodeTherapist awesome, thanks!

[2019-08-30 20:03] RealDotNetDave opened #1238 "RunAllJoined Causing Exception"
If I run my benchmarks with Run or RunAll, they both work fine. If I run RunAllJoined (below) it causes an exception. I'm using version 0.11.5.1161

[code]

[2019-08-31 05:24] adamsitnik commented on #1238
Hi @RealDotNetDave

Are you using `[OrdererAttribute]` in some of your benchmarks? If so, how many?

[2019-09-02 09:02] wojtpl2 commented on #1235
@adamsitnik @dotMorten  I think that PR #1237 is ready to review and this issue is ready to close.

I checked that exception in a background thread stops benchmark and changes from #1237 shows the message:
![image](https://user-images.githubusercontent.com/17333903/64102576-8dc46380-cd70-11e9-914f-0a1e09add9a2.png)

[2019-09-04 16:38] RealDotNetDave commented on #1238
Yes I am using:
`[Orderer(SummaryOrderPolicy.Method)]`

[2019-09-04 21:21] ru-sh commented on #1136
It would've been a good tool to measure a containerized environment performance.
Hope you will fix it soon.

[2019-09-05 16:58] RealDotNetDave commented on #1238
I ran the tests without using `[OrdererAttribute]` and it worked fine. Seems to be a bug to me.

[2019-09-06 12:10] #1168 closed

[2019-09-06 13:35] AndreyAkinshin commented on #1220
I'm OK with such a fallback.

Yes, it's a good idea. We have validators for such tasks (check out SetupCleanupValidator as an example). PR with such checks is welcome!

[2019-09-06 16:37] AndreyAkinshin commented on #1224
There is a well-known term in statistics called [Standard Error](https://en.wikipedia.org/wiki/Standard_error). The "Error" that is reported by BenchmarkDotNet is actually the standard error multiplied by a special factor. This factor is calculated based on the confidence level and the same size. BenchmarkDotNet reports such kind of "Error" instead of the standard error because it equals to the ha

[2019-09-06 16:37] #1224 closed

[2019-09-06 16:45] AndreyAkinshin commented on #1202
@RealDotNetDave your problem is too mysterious, I have no idea why you have "Unknown processor" in the BenchmarkDotNet output. Could you please run the below statement in a project with installed BenchmarkDotNet and show me the output?
[code]

[2019-09-06 17:01] AndreyAkinshin commented on #1238
I was able to reproduce the problem, here is a repro:
[code]
I'm not sure what should we do in such cases. Such problem is also related to situations when different benchmark classes with conflicting configs (e.g., now it's possible to provide conflicting `SummaryStyle`, `Encoding`, etc.). I see the following options:
1. We can write a validator which checks for conflicting configs in advance, sto

[2019-09-06 17:10] AndreyAkinshin commented on #1226
@RealDotNetDave thanks for the report! Currently, we do not support such use cases: all defined benchmarks should be available for all kinds of jobs (for all kinds of defined target frameworks in your case). I guess, your problem can be resolved with the help of attributes which allows excluding specific benchmarks from run under specific conditions. @adamsitnik already wrote a prototype for such

[2019-09-06 17:43] AndreyAkinshin commented on #1099
@alexeybut is your problem still actual?

[2019-09-07 08:09] albahari opened #1241 "Can BenchmarkDotNet be enabled for LINQPad 6?"
When you use BenchmarkDotNet in LINQPad 6, you get the following error:

Currently LINQPad does not support .NET Core benchmarks (see dotnet/BenchmarkDotNet#975), benchmark 'Md5VsSha256.Sha256: DefaultJob' will not be executed

This is because of a check in BenchmarkDotNet.Toolchains.CsProj.CsProjCoreToolchain.IsSupported:

[code]

This check makes sense when running under LINQPad 5 which targets

[2019-09-08 04:03] jafin opened #1242 "bug JSON Exporter exports NaN for some properties. This fails most JSON parsers"
The JSON Exporter writes NaN values in some properties.  This is invalid according to online JSON Parser, and fails with the javascript JSON.Parse.

Properties found with NaN:

[code]

[2019-09-08 15:43] tmulkern commented on #641
@mstaessen I can confirm that is the case. It hung for me and Ctrl+C stop RScript.exe and finished the plots

[2019-09-09 11:58] #1028 closed

[2019-09-09 15:58] AndreyAkinshin commented on #1241
@albahari thanks for the report! I reproduced the problem with LINQPad 6 (had to upgrade my LINQPad 5 license for that 😃). I'm going to introduce LINQPad version detection and update the checks.

[2019-09-09 19:50] adamsitnik commented on #1241
The problem is that our .NET Core toolchains expect to find a `.csproj` of a project that defines the benchmark. The auto-generated project references it.

Adding LINQPad 6 support would require to either support referencing just a `.dll` like we do for Full .NET Framework.  This would make another scenario work: publish a self-contained app, copy to other machine and run the benchmark without sou

[2019-09-09 20:55] RealDotNetDave commented on #1226
The reason I was looking at the #if is that Microsoft uses them in their benchmarking. Anyway, I looked at the thread and don't see an attribute for methods, only an entire class. Is the TargetFrameworkJobAttribute the way to do it?

[2019-09-10 10:21] AndreyAkinshin commented on #1226
@RealDotNetDave

Could you show an example?

It seems that you read a wrong thread: there are no mentions of `TargetFrameworkJobAttribute` in #1097 (we dicuss `TargetFrameworkJobAttribute` in some other issues/PRs).

[2019-09-10 10:23] AndreyAkinshin commented on #1241
@adamsitnik I think, it's OK to enable `InProcessEmitToolchain` as the default toolchain for LINQPad 6.

[2019-09-11 15:30] RealDotNetDave commented on #1226
The code below is from the MicroBenchmarks solution from the Microsoft repository. I haven't run that solution.

[code]

[2019-09-11 15:45] RealDotNetDave commented on #1226
Are you talking about the OperatingSystemsFilter attribute? It does not seem to be in the latest BDN package.

[2019-09-12 06:43] dotMorten opened #1243 "Description overrides method column in exporter"
If I set a description on a benchmark, I lose the method name in the generated CSV.
The method name is in a way the unique identifier of the benchmark, whereas a description is merely describing what the benchmark is meant to test, and not guaranteed to be unique either.
Could we instead of having a single "Method" column, have two: `Method` and `Description` so the output could have both? It beco

[2019-09-12 07:40] CodeTherapist commented on #198
It's time to implement this - can I do it?

[2019-09-12 17:27] RealDotNetDave opened #1244 "Unable to Run Benchmarks on Machine without Visual Studio"
So I can run my benchmarks on different machines, I copied the source and binaries to a machine that does **not** have Visual Studio installed. I installed the SDK's for .NET 4.8, Core 2.2 and 3 on that machine. But I keep getting errors about the BDN NuGet packages ( see below).

Here is my packages setup in the csproj:

[code]

Is there any way I can fix this asap?

David

Error:
[code]

[2019-09-13 15:11] RealDotNetDave commented on #1244
That worked. What exactly do I need to run benchmarks on different machines? All source, binaries and the nuget.config?

[2019-09-13 20:01] MarekM25 commented on #384
Is it still unsolved? @AndreyAkinshin assign me, please. In my spare time, I will give it a try.

[2019-09-14 06:18] adamsitnik commented on #1244
If you want to use the default toolchains that generate and build a project then everything that is necessary to do it: sources, .NET Core SDK, nuget.config, internet connection etc

If you want to use the InProcessToolchain then just the binaries of a self-contained app.

[2019-09-14 06:18] #1244 closed

[2019-09-14 08:09] albahari commented on #1241
I've just tested the latest CI build and it seems to work well.

Is there any chance that you could also update LinqpadLogger.lazyInstance?

Here's the code you need to make it work with both LINQPad5 and LINQPad6:

[code]

[2019-09-14 08:20] adamsitnik commented on #1241
@albahari done, we should have a `0.11.5.1171` package as soon as [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/27409065) build finishes green

[2019-09-15 11:10] AndreyAkinshin commented on #198
@CodeTherapist sure!

[2019-09-15 11:18] AndreyAkinshin commented on #1243
Hey @dotMorten, thanks for the report!

Originally, `Description` was introduced as a way to "override" the method name in the summary table with a custom string. However, your concerns sound pretty reasonable, so I suggest the following changes:

* The "Method" column should be renamed to "Benchmark", it will help to avoid Method vs. Description confusion. By default, I suggest keeping the existi

[2019-09-15 11:20] AndreyAkinshin commented on #384
@MarekM25 thanks! You are assigned.

[2019-09-15 11:24] AndreyAkinshin commented on #1226
It should work correctly only if you run a full framework job from a full framework host process or .NET Core job from a .NET Core host process. However, if you will try to run both jobs from the same process, you will get an inconsistent set of benchmarks.

Yes.

This PR is still unmerged. I hope to find some time for review in the nearest future.

[2019-09-15 15:58] dotMorten commented on #1243
I think that's a good approach. I tried making my own subclass of the exporter, but so much is relying on logic deep down in the summary I found it rather hard to write a custom set of columns out - especially since the columns change with the number of parameters, loggers etc.

[2019-09-15 17:39] #1241 closed

[2019-09-15 18:00] dotMorten opened #1246 "Summary output isn't ordered by namespace/class/benchmark"
When I run all benchmarks for the entire assembly, the output isn't logically ordered by namespace->class->method->parameter-job, but it appears each benchmark is only grouped with the job itself. It makes it hard to especially compare benchmarks with a different set of parameters, and in general look at all benchmarks by category/class.

The benchmark run is executed using:
[code]

Below is an ex

[2019-09-16 16:13] eerhardt commented on #1198
I got this error as well trying to use the `EtwProfiler`.

That is the key that helped me figure out the issue.  I traced this down to also using an `[ArgumentsSource(nameof(SomeArguments)]` attribute in my benchmark.

The following code on `0.11.5` reproduces the error for me:

[code]

Changing it to:

[code]

Allows BenchmarkDotNet to successfully produce an `.etl` trace file.

/cc @adamsitnik

[2019-09-16 17:48] wojtpl2 commented on #1198
I will try to fix it.

[2019-09-17 05:01] adamsitnik commented on #1198
Weird, I am able to repro the problem, but I get a different error:

[code]

[2019-09-17 08:38] adamsitnik opened #1247 "Support benchmarks with very long string arguments"
This is a bug that I've hit both on Linux and Windows while working on faster `string.StartsWith` for Linux.

Repro:

[code]

Error:

[code]

[2019-09-17 09:39] adamsitnik commented on #1226
This is by design.

When running the host process targetting XYZ framework, BDN is using the reflection to obtain the list of available methods (benchmarks). If you are using `#if` defines, then the list of benchmarks is going to be different per host process target framework.

Performance repo docs describe how to compare multiple runtimes performance here:
https://github.com/dotnet/performance/b

[2019-09-17 09:39] #1226 closed

[2019-09-17 09:49] adamsitnik commented on #1238
I think that this is the best option. Users can not use few different orderers if they want to join all the results into a single summary.

[2019-09-19 09:59] wryczko opened #1249 "BenchmarkDotNet.Tool in .NET Core 2.2"
I cannot run benchmarks written in .NET Core 2.2 using BenchmarkDotNet.Tool, because it says it is implemented in older (2.1) version.

[2019-09-19 14:02] phillijw commented on #1249
This is what I get when trying to run it for a netstandard 2.1 library:

[code]

[2019-09-24 11:40] adamsitnik commented on #1236
I've set error to true for all the obsolete attributes (the magic boolean attribute):

https://github.com/dotnet/BenchmarkDotNet/blob/a200af5878f808af6ade418b9a16f3650a11f572/src/BenchmarkDotNet.Annotations/Attributes/Obsolete/ClrJobAttribute.cs#L5-L6

It means that every BDN user is going to get a compilation **error** (not a warning) with a nice message that tells the user to use the new attribu

[2019-09-24 11:42] adamsitnik commented on #1236
I agree, you are right. For some reason I've not thought about it and now when I see your proposal it's obvious to me.

Maybe we should go one step further and introduce `[JobAttribute]`? Or just extend the `[SimpleJobAttribute]`?

[2019-09-24 11:54] adamsitnik commented on #1236
I want to execute benchmarks on the installed .NET Framework
    I want to execute benchmarks on the latest installed stable version of .NET Core
    I want to execute benchmarks on .NET Core 2.1
    I want to execute benchmarks on the installed Mono
    I want to execute benchmarks in the current process

@AndreyAkinshin I am not sure if my changes were not too confusing. Specyfing the runtime is

[2019-09-24 11:55] adamsitnik commented on #1236
Naming is hard, honestly I am not sure which option to choose. Maybe I should just start a pool on Twitter to see what people like?

[2019-09-24 12:00] adamsitnik commented on #1236
I agree, we can extend the enum with two values:

* `Host` (default value)
* `InProcess`

I totally agree. Honestly I think that we are learning API design while writing a library :D IMHO what @wojtpl2 have proposed in #1234 should help a lot with that. Also, I believe that we should put more focus on using console line arguments and fluent API. Attributes are fine as long as you have a single typ

[2019-09-25 15:07] luckerby opened #1250 "No GCs Invoked During Benchmarking"
I'm benchmarking some very simple C# code that essentially boxes 10 mil int values.
[code]
 The machine that's running this is a Windows 10 64-bit box, with no particular changes done to the .NET Framework 4.7.2, so GC should be running in workstation mode.

After running BenchmarkDotNet against the code above (AnyCPU/Prefer 32-bit mode) I get the output below, signalling that no GC occurred for e

[2019-09-25 20:26] wojtpl2 commented on #946
Instead of `post-build` events you should use None or Compile items in your csproj, like below:
[code]

You can also copy the entire directory, using this method:
[code]

[2019-09-25 20:47] wojtpl2 commented on #1250
Did you try to use different GC mode settings of your benchmark configuration?
https://benchmarkdotnet.org/articles/samples/IntroGcMode.html

[2019-09-26 08:18] luckerby commented on #1250
I was happy that the same GC mode was used in both my standalone app and in the BenchmarkDotNet profiled one - Concurrent Workstation. For my app I know this is the case, since there's no specific entry in the App.config file that would change the default, while for BenchmarkDotNet it's clearly mentioned in the output visible in my original post.
If I go ahead and change the GC mode - eg to Server

[2019-09-26 14:38] andresrsanchez commented on #1238
And cannot be done with the actual [ConfigValidator](https://benchmarkdotnet.org/api/BenchmarkDotNet.Validators.ConfigValidator.html)?

[2019-09-26 14:39] JanEggers opened #1251 "Language wars c# vs c++"
I had some discussions and im sure im not the only one: whats the best language (perf wise)?

c# vs c++

I know that there are things that cannot be done in c# that can be done in c++.

But I wonder if it would be possible to compare  dotnet core libs with lets say c++ std library.

I guess its out of scope but just wanted to know if this topic came up on your end.

[2019-09-26 14:40] adamsitnik commented on #1238
Most probably it should be possible to extend `ConfigValidator` to implement this

[2019-09-26 22:57] CodeTherapist opened #1254 "Update Build Tools to use .NET Core SDK to 3.0.100"

[2019-09-27 19:28] luckerby commented on #1250
I went ahead and ran PerfView at the same time that the BenchmarkDotNet profiling was running, in order to capture the ETW for the GC. Sure enough, there are a lot of gen0 GCs happening, but BenchmarkDotNet doesn't report any at the end (below). Is there some sort of threshold maybe over which a GC is reported in the results ?

![image](https://user-images.githubusercontent.com/31319583/65796656-d

[2019-09-29 09:30] AndreyAkinshin commented on #1236
## Obsoletes

Oh, didn't notice the `error` flag. Anyway, we have one more problem here: the current obsoleting approach prevents users from "smooth" upgrade: they will be forced to review all usages of such attributes and upgrade them with the new API. If they don't have enough time for it right now, the BenchmarkDotNet version upgrade will be postponed.
Check out [the statistics of BenchmarkDotN

[2019-09-30 08:49] wojtpl2 commented on #946
I just blogged about this topic: https://wojciechnagorski.com/2019/09/using-native-dll-and-resource-files-in-benchmarkdotnet-projects/

I think BenchmarkDotNet should display a warning when `AfterBuild` or `BeforBuild` contains `<Copy SourceFiles ...>` in the csproj file.

@adamsitnik What do you think?

[2019-09-30 15:01] gsomix commented on #384
@MarekM25 hey, any news on it? Thanks!

[2019-09-30 16:31] adamsitnik commented on #946
I wonder if we could come up with a more generic solution implemented on the BDN side that would be transparent to the end-user. For example: by extending the auto-generated `.csproj` file with some MSBuild magic that would copy every native library from the benchmark project output folder to the auto-generated project output folder.

@eerhardt would copying all the files help with https://github.

[2019-09-30 16:52] eerhardt commented on #946
I agree with @wojtpl2 that using `CopyToOutputDirectory` on a `None/Content` item is probably best in this situation. It just works because we have a Project-to-Project Reference to the end-user's `.csproj`, and all the output items will get copied to the auto-generated `.csproj`.

As for helping with https://github.com/dotnet/performance/issues/894, the native assemblies in that scenario should b

[2019-09-30 18:39] kqr opened #1256 "Statistical soundness of removing outliers from a heavy tailed distribution?"
Latency values (such as those from performance time measurements) often follow a heavy-tailed distribution -- especially when there are spontaneous delays involved, e.g. when garbage collection enters the picture.

It is a common mistake to assume a normal distribution for latency/performance measurements. Sometimes this normality assumption holds, but this is not a safe assumption without testing

[2019-09-30 20:29] Konard commented on #784
Well, something like this is possible even now. Look at `Config` class, `SQLiteOutput` and `DoubletsOutput` methods.
[code]
You will also need a custom column implementation to fit data from files into the report.
[code]
But there is a problem with that approach, it works only if `ClrJob` is used, `CoreJob` for some reason does not write the files.

[2019-10-01 01:34] #198 closed

[2019-10-01 06:06] kqr commented on #1256
As a meta-benchmark, one could create a method that sleeps a number of milliseconds drawn at random from a Pareto(1, a) distribution where 1 < a < 2. This has a known true mean a/(a-1) but all higher moments (including variance) are infinite.

 Doing this should be fairly easy and I can probably take a look at it later today.

[2019-10-01 08:10] kqr commented on #1256
The code attached at the bottom works as such a meta-benchmark.

I tried running it with a=1.12 (which has a finite mean around 9.3) and BenchmarkDotNet consistently under-estimates the mean (attached output from one of the runs suggests around 5 – almost half the true mean.)

(It also appears that BenchmarkDotNet falsely flags Pareto distributed run times as bimodal very frequently. This is proba

[2019-10-01 10:13] isaevdan opened #1262 "Params attribute doesn`t work in F# if you specify more than one enum value in constructor"
Benchmark fails with error:
Cannot implicitly convert type 'int' to 'Test.TestParam'. An explicit conversion exists (are you missing a cast?)

Here is code:

[code]

If you specify only  `[<Params(TestParam.A)>] `works fine. Looks like it converts values to int if there is more that one value. In C# everything works good

[2019-10-01 11:15] gsomix commented on #384
@MarekM25 Please let me know if you need any help. I'm going to review my old PR during #hacktoberfest, so don't hesitate to ask anything.

[2019-10-01 11:41] gsomix commented on #1262
@isaevdan I'll take a look. Thanks for reporting!

[2019-10-01 12:22] gsomix commented on #1262
Currently blocked on https://github.com/dotnet/fsharp/issues/995

[2019-10-01 12:25] isaevdan commented on #1262
@gsomix is there a way to workaround this in BenchmarkDotNet? If we know a type of a field to which this attribute is attached we can explicitly cast in case of enums

[2019-10-01 12:31] gsomix commented on #1262
@isaevdan Yes, indeed. But it may require substantial changes in the code. I'd prefer fix F# compiler instead, but, yeah, let me see. I will write you little later.

P.S. You may also try `ParamsAllValues` attribute for when you need all values from enum.

[2019-10-01 12:36] isaevdan commented on #1262
Thanks for reply.
Yes I know about `ParamsAllValues` , but it is not always a case that you want to test it with all values. And if you use `ParamsAllValues` and then want to experiment with couple of values you need to change your test back to use int.

Indeed fix of F# compiler sounds like right solution, however I see this related issue is open for more than 3 years. So I`m not sure if it is so

[2019-10-01 12:41] gsomix commented on #1262
@isaevdan OK, let's fix it in BenchmarkDotNet then. It seems I figured out what to do. :)

[2019-10-01 12:43] isaevdan commented on #1262
@gsomix Great, thank you :)

[2019-10-01 17:31] MarekM25 commented on #384
Hi @gsomix!
I will get down to it this weekend. Thank you for your support! I don't have any questions for now, but I will remember about you.

[2019-10-02 05:39] gsomix commented on #1238
Please assign it to me. Thanks!

[2019-10-02 05:59] adamsitnik commented on #1250
Hello everyone!

To capture the number of total allocated bytes on Full .NET Framework we need to enable monitoring for AppDomain:

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/src/BenchmarkDotNet/Engines/Engine.cs#L229-L230

This adds some overhead, this is why we do it in a **single extra iteration run after all benchmark iterations**:

https://github.c

[2019-10-02 06:25] adamsitnik commented on #1238
@gsomix done! Once again thank for working on this!

[2019-10-02 15:22] luckerby opened #1267 "Unable to Build Solution"
I'm using Visual Studio Enterprise 2019 Preview (v16.4.0 Preview 1.0 - current as of today 10/2/2019). I've made sure both .NET Core SDK 2.1 (v2.1.802 is current) and the "F# language support" was installed (according to option A [here](https://benchmarkdotnet.org/articles/contributing/building.html)), cloned the BenchmarkDotNet repository and then tried building the solution.

Didn't make it very

[2019-10-02 22:03] stanciuadrian commented on #1267
@luckerby : you could try to apply the fixes from the referenced PR.

[2019-10-02 22:56] valentinoNguyen opened #1269 "Unable to show full param string in the report"
I need to run benchmark against some sql queries which have a complex type input parameter. I override the ToString() on the class, but in the report (in any type, my target type is csv and html), the param column is truncated by `(...)`, for ex `[Meas(...)mber] [61]`
Is there any config that allow library to show full param text there?
Thank you!!!

[2019-10-03 07:30] andresrsanchez commented on #1267
There is the [roslyn bug](https://github.com/dotnet/roslyn/issues/39007), i think that we can build the solution without VS v16.4.0 Preview 1.0 version specifically

[2019-10-03 08:24] adamsitnik commented on #1267
@luckerby could you please download the latest changes and test if #1268 has solved the problem for you?

[2019-10-03 08:57] adamsitnik opened #1270 "Docs for SummaryStyle"
While working on #1265 I've realized that we don't have any docs for `SummaryStyle` which allows for few interesting customizations. It would be great to have some.

[2019-10-03 09:11] luckerby commented on #1267
@adamsitnik @andresrsanchez @stanciuadrian thank you for your quick replies. I've just got the latest commit and tried building: the operator errors are indeed gone, but I still run into the missing DLLs issues:

![image](https://user-images.githubusercontent.com/31319583/66114021-a1185800-e5d6-11e9-82f4-ab2466f2b82c.png)

Verbose output build is [here](https://gist.github.com/luckerby/1cd67e77f8b

[2019-10-03 09:18] wojtpl2 commented on #1270
How about adding Hacktoberfest label?

Info from https://hacktoberfest.digitalocean.com/faq

[2019-10-03 09:20] adamsitnik commented on #1270
@wojtpl2 done!

[2019-10-03 09:55] #1269 closed

[2019-10-03 09:58] adamsitnik commented on #1269
Hello @valentinoNguyen

I've run into the same problem recently and fixed it today with #1265

Before we release the official package to NuGet.org you can download our latest bits from our [CI feed](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly):

[code]

With the latest bits you can set the max width (so far it was hardocded to 20):

[code]

[2019-10-03 10:17] stanciuadrian commented on #1267
If I look at the end of the verbose output I understand the build was successful but somehow VS keeps showing errors:

[code]

Does `msbuild BenchmarkDotNet.sln` indicate success when executed from the solution directory?

[2019-10-03 10:38] luckerby commented on #1267
@stanciuadrian Good catch ! It looks like all the errors are due to the F# tests (below). There are some C# issues as well, but only warnings.

![image](https://user-images.githubusercontent.com/31319583/66120141-db87f200-e5e2-11e9-864c-074a73f980e3.png)

[2019-10-03 11:45] Oxylibrium commented on #1270
Hihi, noticed your project on the Hacktoberfest site - can I work on it over the weekend after I get familiar with the docstyle and stuff?

[2019-10-03 13:53] luckerby commented on #1267
I'm starting to suspect a VS glitch. Out of the blue there are no more errors:
![image](https://user-images.githubusercontent.com/31319583/66132634-092e6480-e5fe-11e9-920c-ca82167d0eb3.png)

Most of the tests are also passing as well:
![image](https://user-images.githubusercontent.com/31319583/66132724-2e22d780-e5fe-11e9-9298-28cc23619e0d.png)

I will test in a few hours on a different machine and

[2019-10-03 18:04] luckerby commented on #1267
Just opened the latest version of `BenchmarkDotNet.sln` using the same versions of the components (VS v16.4.0 Preview 1.0 / .NET Core SDK 2.1 (v2.1.802)) on a second machine with the same OS (Windows 10 x64). No attempt to build the solution was made - as a matter of fact, no key was pressed to interfere in any way. After NuGet finished processing packages (Package Manager output [here](https://gi

[2019-10-03 18:28] MBurtsev opened #1271 "[Question] Multithreading configuration"
Hi. I am trying to make a benchmark for a multi-threaded data structure. After reading the documentation, I still have a misunderstanding about the configuration.

1. The first is how to run without source. I have several hardware (x64), everywhere windows and netcore 3. I need to run the benchmark without source.
2. No parallel processes, only one process.
3. Only one thread should run the benchm

[2019-10-03 23:17] valentinoNguyen commented on #1269
I set new nuget source to https://ci.appveyor.com/nuget/benchmarkdotnet
But cannot see the nightly build there, latest version is still 0.11.5.1189
When is it available ?
Thank you !

[2019-10-04 01:42] valentinoNguyen opened #1272 "ArgumentsSource for large complex type"
Hi,

I want to generate a large amount of test input data to benchmark my query.
Basically I will combine predefined params into a large amount of test input:

` public IEnumerable<TestParam> Data() `
`{`
            `  var dimensions = new string[] { "A", "B" };`
           `   var kpis = new string[] { "C" };`
            `  parameters = CombineArray.generateParams(dimensions, kpis);`

[2019-10-05 15:47] adamsitnik commented on #1271
Hello @nim !

By default BenchmarkDotNet generates, builds and run every benchmark in a stand-alone process. We do that to achieve process-level isolation which helps to prevent one benchmark affect another (imagine few benchmarks executed in the same process and one of them having a memory leak, or opening too many files etc)

To run without source you need to use [InProcessToolchain](https://ben

[2019-10-05 15:53] adamsitnik commented on #1269
`0.11.5.1189` is the version that contains the new feature. Could you give it a try and let me know if it works as expected?

[2019-10-05 16:00] adamsitnik commented on #1272
Hello @valentinoNguyen !

This is unfortunately by design. We simply run something like `argumentSource().ToArray()[argumentIndex]` in the auto-generated code.

The good news is that as you said moving it to `[GlobalSetup]` should work:

[code]

The key thing here is that when you are using multiple `Params` in your type with benchmarks, BDN creates a cartesian product of all params. For the examp

[2019-10-05 16:43] adamsitnik commented on #1270
@Oxylibrium sure!

Our samples are typically C# code added to our samples project [here](https://github.com/dotnet/BenchmarkDotNet/tree/master/samples/BenchmarkDotNet.Samples) and an `.md` page added [here](https://github.com/dotnet/BenchmarkDotNet/tree/master/docs/articles/samples)

Please let me know if you need any help and thanks in advance!

[2019-10-05 16:48] adamsitnik commented on #1251
Hello @JanEggers

I've never done such comparison myself. The closest thing that comes to my mind are [The Computer Language Benchmarks Game](https://benchmarksgame-team.pages.debian.net/benchmarksgame/fastest/csharpcore-gpp.html)

I think that the best place to ask this question would be most probably StackOverflow where both C# and C++ experts share their knowledge. Having said that, I am going

[2019-10-05 16:48] #1251 closed

[2019-10-06 04:07] valentinoNguyen commented on #1272
Thank you for your quick response!
But I am curious if is there any way to allow `Params()` take a function or something to generate a set of input params instead of hardcode it like this.

[2019-10-06 09:12] adamsitnik commented on #1272
Unfortunately not. The reason is that we need to run the benchmark in a separate process and things like functions are hard to serialize and deserialize (in our case the host and parent process can be two different runtimes: for example .NET Core and Mono or Full .NET Framework and .NET Core)

[2019-10-06 13:13] AndreyAkinshin commented on #1256
@kqr thanks for the report! In fact, you described two important problems that we have.
* **Default set of columns**
  I'm 100% agree that Mean/StdDev metrics may be misleading in some cases. Currently, I'm working on a better version of a summary table that doesn't include misleading metrics. It's a pretty hard task, but it seems that I found a solution. Right now I'm working on a proposal for th

[2019-10-07 15:28] valentinoNguyen commented on #1269
worked as expected ;-) Thank you !

[2019-10-08 13:33] kqr commented on #1256
Thank you for your thought-through and well-written reply!

Very exciting! Please keep me updated on the blog posts; I'm looking forward to reading them! :)

Ah, interesting context. That said, I'm still not sure it's sensible to use as the default. If noise from other applications and OS causes one benchmarks to have significantly worse outlier problems than another, is that not something one wou

[2019-10-08 14:01] valentinoNguyen opened #1274 "How to config running each test only 1 time"
Hi, Is there any way to config benchmark run each test only 1 time or at least very small number of time running each test?

I tried to setup benchmark under `Job.ShortRun` or `[SimpleJob(launchCount: 1, warmupCount: 1, targetCount: 1, invocationCount:100, id: "QuickJob")]`

But it still runs a lot of time for each test.
Thank you!

[2019-10-09 07:53] wojtpl2 commented on #1250
I wanted to fix this issue but my investigation shows that there is no bug.

My benchmark:
[code]

Then I run benchmark from the console:
[code]
I got a result:
![image](https://user-images.githubusercontent.com/17333903/66460590-83843c00-ea77-11e9-87ed-79b78b645328.png)
![image](https://user-images.githubusercontent.com/17333903/66460650-a0b90a80-ea77-11e9-80e9-71f883a4afe1.png)

When I run this

[2019-10-09 08:26] luckerby commented on #1250
@wojtpl2 I'm on a different machine than the one I used to initially run the code, and to be honest I don't remember the attributes used, aside from the disassembly one.

However, I've recreated the project, and first used `MemoryDiagnoser` against the class with the method under test, and got the results below similar to yours:
![image](https://user-images.githubusercontent.com/31319583/66464187-

[2019-10-09 09:17] luckerby commented on #1267
Despite the solution building ok now, there are still tests failing. For the ones that failed with a "path too long exception", I easily fixed it by moving the solution folder directly under root (+ensured correct permissions).

I'm still seeing 8 failing, out of which 4 seem to reference a hard-coded folder path:
![image](https://user-images.githubusercontent.com/31319583/66468294-95250e00-ea8e-1

[2019-10-09 12:47] mariangemarcano opened #1275 "Why the report doesn't show values for allocated memory on mono"
Hi!, in this [repo](https://github.com/mariangemarcano/mariangemarcano.github.io/tree/master/projects/C%23/Algorithms) I'm trying out benchmarks for .net core versus mono, but I don't get any allocated memory results on mono, do you know why?

Thanks!

[2019-10-09 13:24] wojtpl2 commented on #1275
There you can find information https://benchmarkdotnet.org/articles/configs/diagnosers.html

[2019-10-09 15:30] #1275 closed

[2019-10-09 17:30] stanciuadrian commented on #1267
Regarding the `DirectoryNotFoundException` exceptions you can read about the test requirements in the top comments of the files:

Here is one for reference:

[code]

I didn't have time to investigate the other 4 tests. Maybe @adamsitnik  can help?