[2017-04-21 08:41] goldshtn commented on #429
Why not a histogram? I'd say a histogram is always more useful than mean/median or any computerized guesses at mode detection.

[2017-04-21 08:50] AndreyAkinshin commented on #429
We already have nice distribution plots in RPlotExporter. I use it all the time, and it works perfect for me.
However, people are too lazy. Even if a user knows that it's a good idea to look at the distribution *each time*, he will not do it. It seems that 95% of our users look only at the summary table. Thus, it would be great to print a warning like "This particular benchmark has non-trivial dis

[2017-04-21 09:11] goldshtn commented on #429
If I read you correctly, plots are harder for users because they have to go elsewhere outside the console. So, put the histograms in the console (in ASCII art). Fairly easy.

[2017-04-21 09:23] AndreyAkinshin commented on #429
I like the idea of ASCII histograms! However, in my opinion, it should be optional. Imagine that we have 50 benchmark methods. If we just print 50 ASCII histograms by default, nobody will look at it. A great thing about the summary: It's small and provides you an overview of benchmark results. If we add a few additional lines with warnings amount non-trivial distributions, it will be really useful

[2017-04-21 09:33] goldshtn commented on #429
I'd try to think of a way to push the histogram into the summary table instead of all the statistics. It doesn't have to be more than 2-3 lines. Mockup:

[code]

[2017-04-21 09:33] goldshtn commented on #429
Well the ascii art didn't go as well as I thought from my phone, but I think you get the gist.

[2017-04-21 09:36] goldshtn commented on #429
See https://github.com/holman/spark/blob/master/README.md as an example.

[2017-04-21 09:45] AndreyAkinshin commented on #429
Sounds interesting, will think about it. Probably it will not be easy to implement (basically because we have a small amount of character and sometimes distributions look really crazy), but I'd like to have such option in *some* of my benchmarks.
However, I still don't think that we should print it *by default for all benchmarks*. Especially, if it requires 2-3 lines per benchmark instead of one i

[2017-04-21 17:33] danielcrabtree opened #431 "Option to Normalize Results by an Additive Baseline"
For some operations that you want to benchmark, there is unavoidable overhead involved. For example, extra method calls.

This is particularly problematic in nano-benchmarks, where a single method call of overhead can ruin your results. But can also apply to micro-benchmarks and other situations.

I ran into this when comparing the [cost of dynamic variant casting to explicit variant casting](http

[2017-04-21 18:24] AndreyAkinshin commented on #431
I like this idea! And it should be easy to implement.
The main point of discussion here is the API and it will be look. If we keep the "Scaled" title, it could confuse people who know that "Scaled" means "Scaled Mean". Now we have column legends, so we will be able to explain new column, but I still think that we should modife the title somehow.

[2017-04-21 21:56] ipatalas commented on #66
Anyone can successfully run BDN in LINQPad?

I'm using BDN 0.10.4 and LINQPad 5.22.02 and get the following results:
![image](https://cloud.githubusercontent.com/assets/2623329/25297407/df4aac0e-26ed-11e7-9ecc-6698fcd0783d.png)

[2017-04-22 06:33] AndreyAkinshin commented on #425
In fact you want to measure the method throughput here. It will be a part of our multithreading support in the future, but not for now, sorry.

[2017-04-22 06:39] AndreyAkinshin commented on #377
Hmm. In the perfect world, I want to have an ability to specify a folder for *all* generated files. But we can start with the artifacts folder.

[2017-04-22 13:02] adamsitnik commented on #426
@Ky7m recently we have simplified our building process when I ported BDN to the new .csproj format. Today we have "only" three problems:
* dotnet build run from console can't build a .csproj that references old .vbproj/.fsproj. VS can build it, it handles the paths in some different way.
* VS can't build a .csproj that references new .fsproj (.NET Core)
* VS can't build new .fsproj (.NET Core).

A

[2017-04-22 13:48] adamsitnik commented on #420
@AndreyAkinshin do you have some big plans for development for the next 1-2 weeks? I don't want to get into huge merge conflict :D

[2017-04-22 14:06] #428 closed

[2017-04-22 14:19] Mike-EEE opened #433 "0.10.4: Timing Oddities"
I have gone down another timing rabbit hole, I am afraid.  I am beginning to think that my machine is fubared and a reinstall will do me good.  What makes me say this is that I recently created a performance VM, which has 6 of my 8 cores assigned to it, and it seems to deliver far better and more consistent results.

Upon upgrading to 0.10.4, my experience on my (possibly-fubar'd) machine seems mu

[2017-04-22 15:15] Tornhoof opened #434 "Allocation output suddenly is 0 GB"
I'm not sure how far this can be reproduced, it currently happens with https://github.com/Tornhoof/RoaringBitmap/tree/struct (Desktop .NET 4.6.2, Benchmark.NET 0.10.4)
As soon as I comment out the other benchmarks (only one left) the output changes to the following:

 | Method |      Mean |     Error |    StdDev |    Gen 0 | Allocated |
 |------- |----------:|----------:|----------:|---------:|---

[2017-04-22 16:33] Tornhoof commented on #434
Smaller Repo (apparently it's unrelated to the one/more benchmark case):
[code]
 |             Method |       Mean |     Error |    StdDev |    Gen 0 |    Gen 1 |    Gen 2 | Allocated |
 |------------------- |-----------:|----------:|----------:|---------:|---------:|---------:|----------:|
 |     AllocateMemory | 15.7494 us | 0.0490 us | 0.0459 us | 333.1451 | 333.1451 | 333.1451 |      0 TB |
 |

[2017-04-22 17:55] AndreyAkinshin commented on #420
@adamsitnik, no big plans, go ahead! Also, it would be great to come up with the new NuGet package set before you starts the big refactoring. I agree with @ig-sinicyn that "this going to be too overbloated." Of course, we have to introduce new packages (basically because of the Uap support), but it would be cool to keep the total amount of packages as small as possible.

[2017-04-22 18:26] AndreyAkinshin commented on #434
@Tornhoof, thanks for the bug report! The problem is in our size formatting, will fix it soon.

[2017-04-22 18:49] #434 closed

[2017-04-23 17:07] MartinJohns commented on #69
@mattwarren The link to the "Diagnostics/Diagnoser plugin" leads to a 404. Could you re-post the correct link?

[2017-04-23 20:09] adamsitnik commented on #420
Sure, I want to keep things simple so we have no bugs, easy deployment and no big changes in our CI config.

[2017-04-24 08:42] Ky7m commented on #426
@adamsitnik thank you for your detailed answer.
Let me build a quick prototype to verify if it is possible or not to address current problems.
Once I finish I am back with results.

[2017-04-24 12:20] zabulus commented on #420
I have a spare time this week, and would like to participate in this refactoring.  How can I help?

[2017-04-25 18:05] #404 closed

[2017-04-26 08:43] mattwarren commented on #69
@MartinJohns it's now here https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Diagnostics.Windows/MemoryDiagnoser.cs

[2017-04-26 14:30] adamsitnik commented on #420
@zabulus thanks! currently I am trying to solve some problems that should not even exist..

For example:
We are using `assembly.Location` in a few places. The core BenchmarkDotNet lib was supposed to be .NET Standard now. This particular method is available for .NET Standard 1.5+ ([link with invalid https cert](https://apisof.net/catalog/System.Reflection.Assembly.Location)). .Net Standard 1.5 = .

[2017-04-26 14:39] AndreyAkinshin commented on #420
I think we should stay low if possible.
A workaround: we can define an interface which contains tricky API methods; we also define a static TrickyApiProvider class which contains an instance of the interface. Our `net46`, `netcoreapp11`, `uap10` libraries statically add an implementation of this interface into the provider.
What do you think?

[2017-04-26 14:41] zabulus commented on #420
As I see from search result:
https://github.com/dotnet/BenchmarkDotNet/search?utf8=%E2%9C%93&q=assembly.Location&type=

assembly.Location is used in following areas:
1. Generators and builders. Part of toolchains.
2. BenchmarkConverter. Part of Runner. Also used further in Toolchains.
3. Diagnosers.

All these areas are not used in target code. Reflection could be ok, here since this code won't be

[2017-04-26 14:54] ig-sinicyn commented on #420
@adamsitnik

I've solved similar problems few times. We've ended with targeting to netstandard 1.4 and isolating platform-dependent things behind PAL api.

smth like this (pseudocode):

[code]

This way we were able to keep things simple, only one project => multiple platform-dependent assemblies => single package.

[2017-04-27 16:55] Mike-EEE commented on #433
Wanted to post an update here and report that indeed this appears to be related to two underlying issues of my own making:

1. Use of overclocked non-QVL'd memory for my Rampage Extreme IV
2. A really terrible Windows install with extensive disk issues that were not resolved until I could chkdsk it from another install altogether.  I have had this install since Windows 8.0 with all sorts of instal

[2017-04-28 18:44] Teknikaali commented on #157
I can do this.

The previously mentioned [Json export](https://github.com/dotnet/BenchmarkDotNet/issues/84) seems to be a good example to follow how to implement this.

Some steps I came up with after exploring the repo:
- [ ] Figure out an alternative way to serialize **Summary**-object to XML without **XmlSerializer**
- [ ] Create the new **XmlExporter**-class by inheriting from **ExporterBase**

[2017-04-29 09:33] nietras opened #437 "Add `DisassemblyDiagnoser` for outputting disassembled JITed code."
As in TryRoslyn (https://github.com/ashmind/TryRoslyn/issues/39 this uses https://github.com/spazzarama/SharpDisasm) but after each benchmark run for a given method get the disassembled x86/x64 (and ARM/ARM64 in the future) JITed code for a given benchmark method. Preferably to full or a certain prespecified call depth.

For example via attribute:
[code]
Output would then have a file per method i.

[2017-04-29 12:37] adamsitnik commented on #437
Hi @nietras

I like this idea, we even used to have sth like this. @mattwarren [implemented](https://github.com/dotnet/BenchmarkDotNet/blob/clrmd/BenchmarkDotNet.Diagnostics.Windows/DiagnoserBase.cs) it some time ago.

I remember that the ClrMd api has changed and it just stopped working/compiling #160

[2017-04-29 16:09] nietras commented on #437
Ah yeah I thought I had seen something like this being worked on.

Would be great if this could get working, perhaps @mattwarren can see how
the TryRoslyn does it and if anything from that can be used.

On Apr 29, 2017 2:37 PM, "Adam Sitnik" <notifications@github.com> wrote:

[2017-04-29 16:23] adamsitnik commented on #157
@Teknikaali I am currently working on making our .Core package .NET Standard compatible, so if you have to add any new dependency please make sure that it has NuGet package that targets .NET Standard 1.3 or lower

good luck!

[2017-04-29 16:33] adamsitnik commented on #433
@Mike-EEE

1. @AndreyAkinshin could you tell Mike why is it not recommended to run benchmarks with virtual machine?
2. I suspec the Roslyn optimizations here. Roslyn can optimize your `params` method call and few other things. It can invoke an overload of the given method that accepts for example `(int i1, int i2, int i3)` instead of `params int[] ints`. The best way to verify is to apply `[KeepBe

[2017-04-30 03:28] Mike-EEE commented on #433
Ahhh to clarify here @adamsitnik I was running benchmarks in:

- My VM
- My VM host
- Surface Pro 3

The VM and SP3 were showing vastly different results and behavior than my host.  I have since refreshed my _entire_ environment and everything seems _so_ much better now, especially with the expected timings where the `params` generation is (now) a smidge slower than without.  That part seems worki

[2017-04-30 07:15] Mike-EEE commented on #433
Oh I've gone and done it now. :)
https://youtrack.jetbrains.com/issue/RSRP-464596

[2017-04-30 16:12] adamsitnik commented on #420
@AndreyAkinshin @zabulus @ig-sinicyn thanks for a lot of good advices!

Now I got into more serious problem:
Let's say that we have IRuntimeInformation, which has runtime-specific implementations in .Classic, .Core  and .Uap packages. But so far RuntimeInformation used to be a static class. And there is a lot of references to it from static contexts (static field initialization mostly, some static

[2017-04-30 18:23] zabulus commented on #420
Approach is fine by me, but I'd like to know how resolving is implemented.

[2017-04-30 19:30] ig-sinicyn commented on #420
@adamsitnik

First, are there any point to refactor IRuntimeInformation implementations into separate assemblies?
These tends to be very compact an therefore can be easily turned on and off via conditional symbols.

Second, I'd prefer to not expose PAL interfaces such as IRuntimeInformation as a public API as they are very fragile. What about storing IRuntimeInformation as a private static field a

[2017-04-30 21:40] Teknikaali commented on #157
@adamsitnik Thanks for the heads-up!

The only NuGet package that (_in theory_) could make the implementation a bit easier, would be [System.Xml.XmlSerializer](https://www.nuget.org/packages/System.Xml.XmlSerializer/4.3.0). It should support .NET Standard 1.3 looking at its dependencies list if I'm not all mistaken.

But there's a small catch why the `XmlWriter`-path seems a bit better than using

[2017-05-01 09:33] Teknikaali commented on #157
I've had the dev environment up and running for a while now.

After adding a stub for `XmlExporter` and including it in  `ApprovalTests` 3 tests started to show red.
What I found out was that `ApprovalTest.Exporters.Invariant.approved.txt` (also en-US and ru-RU versions) have a couple of missing line breaks like this:

..when they probably should be like this:

.. also the "full-compressed" has th

[2017-05-01 14:00] JasonBock opened #438 "Need to Update Autogenerated csproj file"
I'm trying to add my Rocks package (https://github.com/JasonBock/Rocks) to BenchmarkMockNet (https://github.com/stevedesmond-ca/BenchmarkMockNet). When I run the program, I get an error that contains this:

C:\Program Files\dotnet\sdk\1.0.3\NuGet.targets(97,5): error : Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.Compositio

[2017-05-01 14:11] #438 closed

[2017-05-01 14:14] adamsitnik commented on #438
@JasonBock thanks for the well described report!

I have just pushed a fix. Once [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.5.160) build is done you should be able to download our `0.10.5.160` package with the fix. How it works: if the .csproj of the project that defines benchmarks contains `<PackageTargetFallback>xyz<PackageTargetFallback/>` line we are goi

[2017-05-01 14:23] JasonBock commented on #438
I'll give it a whirl when it shows up in Nuget.

[2017-05-01 14:32] adamsitnik commented on #438
I forgot to mention that it will show up on our CI feed `https://ci.appveyor.com/nuget/benchmarkdotnet`

[2017-05-01 14:55] JasonBock commented on #438
@adamsitnik looks like the build was successful, does it automatically push the package to Nuget as well?

[2017-05-01 15:04] adamsitnik commented on #438
@JasonBock yes, but I am not sure about the delays.

I can see it from my VS:

![image](https://cloud.githubusercontent.com/assets/6011991/25582994/31b5c344-2e90-11e7-89de-3c02c63d14df.png)

[2017-05-01 15:06] JasonBock commented on #438
OK, I'm still seeing 0.10.5, so .... I'll keep checking throughout the day :)
![image](https://cloud.githubusercontent.com/assets/904213/25583073/d9af3da4-2e55-11e7-8aed-c100a8d43e18.png)

[2017-05-01 15:11] adamsitnik commented on #438
@JasonBock You are most probably checking your default NuGet feed which should be nuget.org. You need to add ours to the list, and the select it in VS.

![image](https://cloud.githubusercontent.com/assets/6011991/25583134/c41b7c6a-2e90-11e7-97d5-10e9be80aef7.png)

Don't forget to add NuGet.config file to the BenchmarkMockNet repository so others can also restore this version. Sample [file](https:/

[2017-05-01 15:12] JasonBock commented on #438
Ahhhhhh....I was wondering what "bdn-dev" was :)

[2017-05-01 19:04] JasonBock commented on #438
This seems to be working - thanks!

[2017-05-01 19:05] adamsitnik commented on #438
thanks for the confirmation!

[2017-05-01 21:54] Lothy opened #439 "Question - This benchmark apparently allocates, but why?"
Hi everyone,

I wrote a benchmark to test iterating over integer arrays using various approaches (mostly a benchmark of the effects of cache locality).

Benchmark can be found here: https://github.com/Lothy/DotNetBenchmarks/blob/master/src/NET46/ArrayBenchmarks.cs

Here are the results (noting that, for this run of the benchmarks, I altered the fields to be static to see if it impacted the result)

[2017-05-03 18:11] adamsitnik commented on #157
@Teknikaali thanks for doing such a great job with the research!

I think that @alinasmirnova is the best person to answer this question.

As for me it can be single PR.

You are right. And we want to keep our immutability. I don't have any perfect idea for the alternative solution at the moment. Maybe we could create dto class for Summary/Benchmark with public setters and just map it before the s

[2017-05-03 18:34] adamsitnik commented on #420
@ig-sinicyn I should have started with this (I ask questions about the changes but don't argument the need for them). The goal of the refactor is following:

NuGet downloads all required files and all dependencies for all target framework monikers of given package. So if we target .NET 46, Core and Uap a new user would download 1GB+ of packages if we keep everything in single package. We want to s

[2017-05-03 18:37] ig-sinicyn commented on #420
@adamsitnik
I've got it now, thanks!

[2017-05-03 19:21] adamsitnik commented on #439
Hello, @Lothy !

Thanks for reporting the issue. Your benchmark should not allocate. It looks like a bug on our side. I will verify it tomorrow.

[2017-05-04 21:59] rpokrovskij opened #442 "Is it possible to configure benchmark to assign rank for runtime?"
I have presented benchmark for "string aggregation" there:
http://stackoverflow.com/questions/799446/creating-a-comma-separated-list-from-iliststring-or-ienumerablestring/43783708#43783708

But rank was assigned ranking all list without respecting the runtime information. I think rank is more correct when methods are grouped by runtime.

Thank you for your work!

[2017-05-05 17:19] adamsitnik commented on #439
@Lothy It was a bug. Once  again thanks for providing bug report with good description!

I have fixed it, you can grab `0.10.5.169` NuGet package from or CI dev feed.

[code]

To whom it may concern: the bug was visible for micro benchmarks, not nanobenchmarks. We had single allocation in our Engine. It has been removed and our integration tests has been changed to prevent from such situation in t

[2017-05-05 17:19] #439 closed

[2017-05-05 23:47] Lothy commented on #439
No worries. Thanks for the quick fix. :)

Have a great weekend!

[2017-05-06 08:30] ig-sinicyn opened #443 "[Bug] BDN 10.5 + CsProjNet46Toolchain => missing references in codegen."
Proof (be sure to run as x64):
[code]

output:
[code]

BenchmarkDotNet.Autogenerated.csproj:
[code]

[2017-05-06 10:31] adamsitnik commented on #443
@ig-sinicyn I can't reproduce it, moreover this case is covered by our integration tests which ofc pass.

Are you sure that your `BDN.Proof.csproj` has reference to BenchmarkDotNet.Core.dll and that it is using any of it's types?

As far as I know BDN does not support static benchmarks except InProcessToolchain, and your methods are static.

[2017-05-06 10:46] AndreyAkinshin commented on #442
Hey @rpokrovskij, the grouping is a big problem: different people expect different grouping policy for benchmark. And it's not only about the `Rank` column: the `Scaled` column has the same problem.
And Runtime is not the only property which can be invloved in the grouping feature: we also have other Job properties (like `Jit`, `Platform`, and so on), and `Params`.

Thus, I think it would be bette

[2017-05-06 10:50] ig-sinicyn commented on #443
@adamsitnik

Here's the repro project, [BDN.Proof.zip](https://github.com/dotnet/BenchmarkDotNet/files/980852/BDN.Proof.zip). I've checked it with instance members, no effect.

[2017-05-06 11:05] ig-sinicyn commented on #442
@AndreyAkinshin

AFAIR we have a `IOrderProvider` for custom ordering.

Also, I'd prefer the Rank column to follow same grouping logic the `Scaled` column uses (grouped by { Job, Params } pairs),
[code]

If someone wants to use global ranking there's should be another one, GlobalRank.

[2017-05-06 11:18] adamsitnik commented on #443
@ig-sinicyn Ok, now I see what is the problem. You are having old format .csproj which does not work like the new csprojs (dependencies resolved in recursive way).

Old csproj:
A has reference to BDN & B has reference to A => B **can't** use BDN without adding explicit reference

New csproj:
A has reference to BDN & B has reference to A => B **can** use BDN without adding explicit reference

This

[2017-05-06 11:18] #443 closed

[2017-05-06 11:31] ig-sinicyn commented on #443
@adamsitnik can you please reopen the issue?

It's the same error that was reported multiple times before (#234 and #327, as example) and I hope it will be fixed sooner or later:)

If this is not an option, is there any way to run an outofproc benchmark referencing BenchmarkDotNet.Core only (without reference to the BenchmarkDotNet.Toolchains.Roslyn)?

Roslyn dependency results in +~250 Mb in pack

[2017-05-06 11:55] alinasmirnova commented on #157
@Teknikaali, yes, you're right, JsonExporter definitely misses a line separator at the end. I'll make a PR (fixed it already).

[2017-05-06 11:58] adamsitnik commented on #443
@ig-sinicyn I am sorry but I will not reopen this issue. Both RoslynToolchain and CsProjNet46Toolchain have a single responsibility. And they serve their purpose well.

I know that Roslyn dependency is huge, but what we had before (MSBuild) was very error prone. It just did not work for too many scenarios.

What you are asking for is a toolchain, that has no Roslyn dependency and works for the old

[2017-05-06 12:00] ig-sinicyn commented on #443
@adamsitnik  ok, thanks for explanation!

Will do a custom toolchain, not a major issue.

[2017-05-07 12:12] adamsitnik commented on #433
@Mike-EEE I like the idea of `Benchmarking-as-a-Service` but I am afraid that .NET community is not ready for that. Devs want everything for free, as soon as they have to pay for any tool they start searching for something that is free.

[2017-05-09 04:28] veleek opened #445 "Missing reference to Microsoft.CodeAnalysis.CSharp when using BenchmarkDotNet in Linqpad"
When attempting to use BenchmarkDotNet in LinqPad, you run into a benchmark "build" error like below:

[code]

The reference to BenchmarkDotNet was added via a NuGet package and all of the dependencies that came with it.  By manually adding the Microsoft.CodeAnalysis.CSharp NuGet package I'm able to get around that error.

[2017-05-09 20:16] Teknikaali commented on #157
@adamsitnik dto and mapping sounds like a good idea.

I just tested a bit more the original `XmlSerializer` and it's true, that it can't serialize an object with private setters and/or empty constructor. Some of the examples on msdn are using classes with _public fields_. Uh.

@alinasmirnova good job :+1: I'll make sure to pull the changes!

Here is a partial mockup of `Summary` in xml-form:
[code

[2017-05-10 10:55] adamsitnik commented on #157
it looks OK to me. @AndreyAkinshin what are your thoughts?

Would it be possible to make it similar to JsonExporter which exposes few options?

[code]

[2017-05-10 10:58] adamsitnik commented on #445
@veleek thanks for reporting the bug! Could you also report it in LinqPad repo? I tried to reproduce it, but I don't have the paid version of LinqPad and I can't even install BenchmarkDotNet there.

Most probably LinqPad is using and older version of Roslyn dll (Microsoft.CodeAnalysis.CSharp) and it's ignoring ours. If so then there is little we can do (except of giving more meaningful error messa

[2017-05-10 11:04] mattwarren commented on #157
I agree, it would be nice to have the exporters use the same data (although in different formats), so if you use `Full` with XML and Json you'll get identical fields/value.

[2017-05-10 15:49] vasily-kirichenko opened #446 "ArgumentNullException if RPlotExporter is used"
[code]
[code]

[2017-05-11 00:50] NickCraver commented on #248
I have a related use case here that could be satisfied by the same feature, I'd like to run all benchmarks in an assembly and see the results in a single output.

Concrete case: in Dapper I have a class w/ benchmarks for each ORM, this is because their setup is different and one monolithic class with tons of setup for no good reason is very inefficient, slow, and possibly full of side-effects. A s

[2017-05-11 00:57] albahari commented on #445
Adam - I've sent you a LINQPad license.
I'll also look into this myself soon.

[2017-05-11 05:11] albahari commented on #445
I've taken a look, and it appears that there's a conflict between the Roslyn assemblies in LINQPad and those referenced by BenchmarkDotNet. I've fixed this in the 5.22.05 build:
http://www.linqpad.net/download.aspx#beta

However, there's still a problem which will require a fix in BenchmarkDotNet. LINQPad normally puts the compiled query into a different folder than the referenced assemblies - thi

[2017-05-11 05:46] AndreyAkinshin commented on #445
Hey @albahari! It's awesome to see you here. =)
I already tried 5.22.05, it works, thank you very much for the quick fix! Also thanks for the advice about assembly resolving. @adamsitnik, what do you think, will it help?

By the way, we have another LinqPad problem (probably related): https://github.com/dotnet/BenchmarkDotNet/issues/66 So, it makes sense to check how `lprun` works after all the fi

[2017-05-11 06:31] AndreyAkinshin commented on #445
@albahari, by the way, I think it would be cool to color BenchmarkDotNet output in LinqPad. I already wrote a quick proof-of-concept script (it already works; can be just copy-pasted to LinqPad):
[code]
However, I have a few questions:
* Is it possible to understand that the code was called from LinqPad? What the best way to do it?
* Is it possible to get the current LinqPad theme (Windows Default

[2017-05-11 07:14] AndreyAkinshin commented on #248
Hey @NickCraver. First of all, there is a workaround that you can use right now, here is an example:
[code]
Such approach allows combining specific set of benchmark methods from different types in one summary table.
However, we need an API which provides a nice way to do it. There is no problem to add the `BenchmarkCategory` attribute. Last time I was stuck with the API design.

My current suggest

[2017-05-11 07:40] AndreyAkinshin commented on #446
Hey @vasily-kirichenko, thanks for the bug report. Unfortunately, I can't reproduce the issue, and I don't understand why we get an exception in CsvMeasurementsExporter. However, I wrote a workaround for the bug; now it should work without this exception. Please, do the following:
1. Add our nightly feed in NuGet.Config (see http://benchmarkdotnet.org/NuGet.htm#nightly):
[code]
2. Install Benchmar

[2017-05-11 07:51] AndreyAkinshin commented on #157
@Teknikaali

I think that we should keep consistency between json and xml formats. I like the idea of this merge, but you should also fix the `JsonExporterBase.ExportToLog` method (by the way, parts like `"IsValueCreated":true` looks like a bug for me; we should call `Value` for all `Lazy<string>` properties).

[2017-05-11 08:01] AndreyAkinshin commented on #438
@adamsitnik, maybe it makes sense to add the screenshot of VS NuGet Package Sources Window (probably with a few comments) to our docs? (http://benchmarkdotnet.org/NuGet.htm) It will help to explain how to install our nightly builds with one link! What do you think?

By the way, please use `bdn-nightly` as a feed name instead of `bdn-dev` (it will be more consistent because these builds have the `-

[2017-05-11 08:11] vasily-kirichenko commented on #446
@AndreyAkinshin
[code]
The log does not contain the exception (it's different now), here it is:
[code]

[2017-05-11 08:14] AndreyAkinshin commented on #446
@vasily-kirichenko, please share the `BenchmarkDotNet.Artifacts\results\Benchmarks-measurements.csv` file.

[2017-05-11 08:17] vasily-kirichenko commented on #446
Sorry, forget about it https://drive.google.com/open?id=0B8HLQUKik9VtdHBFV01hSjJKUm8

[2017-05-11 08:24] vasily-kirichenko commented on #446
The stack trace:
[code]

[2017-05-11 08:43] albahari commented on #445
AppDomain.CurrentDomain.FriendlyName will match or start with "LINQPad Query Server". This is valid for the actual query. If you need to know from the tests that run in another process, you could check whether the assembly location starts with %temp%\LINQPad...

I'll add a bool property Util.IsDarkThemeEnabled to the next build

Will fix for next build

Reflection is one option, or you put the cal

[2017-05-11 08:46] AndreyAkinshin commented on #445
@albahari, awesome, thanks! Waiting for the next build!

[2017-05-11 09:03] AndreyAkinshin commented on #446
@vasily-kirichenko, thank you very much for the stack trace. It was another bug, now it's fixed, BenchmarkDotNet 0.10.5.177 will be available soon.

[2017-05-11 09:04] AndreyAkinshin opened #447 "Implement ColoredLogger for LinqPad"
Original discussion: https://github.com/dotnet/BenchmarkDotNet/issues/445#issuecomment-300695708

[2017-05-11 09:04] AndreyAkinshin commented on #445
@albahari, create a separarte issue for this feature: https://github.com/dotnet/BenchmarkDotNet/issues/447

[2017-05-11 09:35] vasily-kirichenko commented on #446
The exceptions have gone, thanks! (R raises errors on the resulting R file, but that's another issue)

[2017-05-11 09:35] #446 closed

[2017-05-11 10:03] AndreyAkinshin commented on #446
@vasily-kirichenko, I guess I know why you get the first exception: you missed the `module` declaration: the `Target_Namespace` column in your `measurements.csv` is empty. Could you add `module` (with any name) and try to run in on stable 0.10.5? It should throw an exception with `CheckInvalidPathChars`.

[2017-05-11 15:36] adamsitnik commented on #248
I had similar issues when I wanted to benchmark Array vs Span vs List.

I think that if we add `[Category]` attribute or property to the `[Benchmark]` attribute we should get what we all want. Benchmark switcher could then offer to choose whole category or given type. Sample:

[code]

And then sample Benchmark Switcher output could be:

[code]

Another thing would be new overload `BenchmarkRunner.

[2017-05-11 15:41] adamsitnik commented on #438
@AndreyAkinshin yes, screen shot would be nice to have. However I think that "bdn-CI-feed" would be a better name than "bdn-dev" and "bdn-nightly". This is our CI feed which contains both develop and nightly packages. What do you think?

[2017-05-11 15:50] AndreyAkinshin commented on #248
@adamsitnik, see original request by Jon Skeet:

The `[Benchmark(Category = "Indexers"]` approach looks nice, but it can't be applied to classes.

[2017-05-11 18:26] vasily-kirichenko commented on #446
That's strange, I cannot reproduce either of the exception on 0.10.5 :(

[2017-05-11 19:02] adamsitnik commented on #445
@albahari thank you very much for the license and for the help!

I currently got to a crazy situation:

1. I have expanded our AssemblyHelperResolver to handle LINQPad shadow copy folders
2. I can't use it in our auto-generated executable because it's in the path not know to me yet

I need to find a better solution.

[2017-05-11 22:59] NickCraver commented on #248
@AndreyAkinshin First, thanks for the workaround - that unblocked me in Dapper and it's much appreciated! I like the API ideas, I guess the big question is whether a benchmark is in 1 or many categories. I'd certainly say it's the latter, which would affect attribute names...or maybe not.

What if it was:
[code]
via a params on the attribute? It wouldn't preclude a property on `[Benchmark]`, *but*

[2017-05-12 07:53] albahari commented on #445
Can you read and parse BDN.Generated.bat?

[code]

[2017-05-13 09:58] adamsitnik commented on #445
Ok, I finally got it running.

I tried other apporach, setting the privatePath

[code]

But it [does not support](http://stackoverflow.com/questions/9536256/using-an-absolute-path-in-probing-privatepath) absolute paths, only sub directories. Which was no go because the shadow copy folder which LINQPad creates is not a sub directory of the folder where output .dll is. (I don't blame LINQPad for any

[2017-05-13 11:43] adamsitnik commented on #66
With help from @albahari we were able to bring back LINQPad support!

You need 5.22.05+ build of LINQPad available [here](http://www.linqpad.net/download.aspx#beta)

Once you have it you need to install our `0.10.6.185` package from our custom CI feed available at `https://ci.appveyor.com/nuget/benchmarkdotnet`.

![image](https://cloud.githubusercontent.com/assets/6011991/26025170/b473ad32-37e1-11

[2017-05-13 11:43] #66 closed

[2017-05-13 11:43] #445 closed

[2017-05-13 16:45] AndreyAkinshin commented on #248
@NickCraver, I implemented all the features (you can try it 0.10.6.186 from our nigtly feed `https://ci.appveyor.com/nuget/benchmarkdotnet`). Let me know if you need something else. If everything is fine, I will release new version soon. You can find some docs below:

# Filters

Sometimes you don't want to run all of your benchmarks.
In this case, you can *filter* some of them with the help of *fi

[2017-05-14 02:18] albahari commented on #445
I've now released LINQPad 5.22.06 beta which exposes Util.IsDarkThemeEnabled and includes the fix when calling Console.Write with an empty string.

A couple more points:

- You can customize how LINQPad dumps the Summary by writing a ToDump method: https://www.linqpad.net/CustomizingDump.aspx. This doesn't require taking a dependency on LINQPad.exe, and even allows custom HTML.

- You can include

[2017-05-14 08:39] AndreyAkinshin opened #448 "Detect correct version of .NET Core"
If we run the current version of BenchmarkDotNet on .NET Core, we will get something like this in summary:
[code]
`.NET Core 4.6.25211.01` is the actual value of `System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription`.
However, it's very confusing because the correct version of .NET Core runtime should be like `1.0.5` or  `1.1.2`.

[2017-05-14 08:39] AndreyAkinshin commented on #448
@adamsitnik, any ideas?

[2017-05-14 09:27] adamsitnik commented on #448
@AndreyAkinshin I don't have any idea for a perfect solution. But when I try to detect if we are running on .NET Core 1.1 or 2.0 I do sth like [this](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Toolchains/DotNetCli/NetCoreAppSettings.cs#L64):

[code]

so maybe we could use this setting or ask somebody from MS how to get it.

[2017-05-15 07:01] DixonDs opened #449 "NullReferenceException in DefaultOrderProvider"
See the stacktrace:

[code]

`SummaryOrderPolicy.FastestToSlowest` is used.

[2017-05-16 17:08] Vannevelj commented on #155
Is there any update on this?

[2017-05-16 17:54] guidmaster commented on #364
Have the same problem. Running in a corp environment means that there is no way to disable AV :(

Getting the error by just running the Getting Started sample.

[2017-05-17 07:44] Mike-EEE commented on #433
@adamsitnik yeah it was just a thought and I am in agreement with your assessment.   I am sure it will get built one way or another, in any case.

An update on this issue: my effort to refresh my digital life has spilled into my real life, so that's set me back a few weeks here.  I have this issue flagged in my TODO list once I return and will aim to get you a simple, sample project when I can.

[2017-05-17 18:58] ig-sinicyn commented on #155
@Vannevelj yep. It works and (almost) stable. The sad part is, I'm very busy this year and there's a lot of work before making public announce. Most of TODOs is related to documentation and samples so I may release a public beta if you're interested in it.

[2017-05-17 20:15] Vannevelj commented on #155
@ig-sinicyn Definitely interested so if you find the time to do it, that would be great.

[2017-05-18 16:44] ig-sinicyn commented on #155
@Vannevelj
Okay, here we go. Please note this beta is targeting to BDN 10.5 and .net 4.6, I'll update it to 10.6 on weekends.
Nuget packages: https://www.nuget.org/packages?q=CodeJam.PerfTests (install the one for unit test framework you are using).

Intro: https://github.com/rsdn/CodeJam/blob/master/PerfTests/docs/Intro.md

<details>
  <summary>Small teaser:</summary>

The code:
[code]
first run

[2017-05-19 12:49] Teknikaali commented on #157
I'll make sure to include the same options as the JsonExporter has.

Here is a complete XML output for the `Full`-style, it should be identical to the Json one if I didn't miss anything:
<details>
  <summary>XmlExporter-full</summary>

[code]
</details>

[2017-05-20 07:01] ig-sinicyn opened #450 "[Minor feature request] Please make GcStats.AllocationQuantum public"
Subj:)
As an option, what about exposing it as a member of `BenchmarkEnvironmentInfo` ?

[2017-05-22 09:00] adamsitnik commented on #157
looks great!

[2017-05-23 09:42] adamsitnik commented on #450
@ig-sinicyn maybe you could create PR when you want us to expose something? It would most probably take less time than creating the issue and us to respond ;)

only exposing or also printing in the summary?

[2017-05-23 10:19] ig-sinicyn commented on #450
:)
Ok, will do in a day or two.

Only exposing, I do not think this is important enough.

[2017-05-23 20:19] adamsitnik commented on #450
Great! Please don't hesitate, you have a lot of great ideas!

From the domain perspective I think it belongs to GcStats, but I can also see the need for `BenchmarkEnvironmentInfo` because it can be different for some runtimes. Maybe keep it in GcStats and add extra property to `BenchmarkEnvironmentInfo` that will return this value?

[2017-05-24 05:06] ig-sinicyn commented on #450
I wish I had time to complete at least one:)

+1 here :)
Will add in PR.

[2017-05-25 21:27] ipjohnson opened #453 "MemoryDiagnoser and JsonExporter"
I'm trying to get memory diagnostic results to be exported as part of JsonExporter.* and I can't seem to get it to work. What am I missing?

[code]

[2017-05-26 14:22] spixy opened #454 "Cannot run BenchmarkDotNet"
Hi, I tried to run example code in VS 2017 with .NET 4.6 and .NET 4.6.1, it compiles but in runtime I am getting System.IO.FileLoadException.

![image](https://cloud.githubusercontent.com/assets/4542110/26497960/a1d6b952-422d-11e7-8eaa-488117af25d8.png)

[Md5VsSha256.txt](https://github.com/dotnet/BenchmarkDotNet/files/1032041/Md5VsSha256.txt)

[2017-05-26 14:36] adamsitnik commented on #454
Hi @spixy

Have you created a new solution and just copied the example or compiled our master branch and run samples?

[2017-05-26 14:38] spixy commented on #454
I created a new solution.

[2017-05-26 14:43] adamsitnik commented on #454
@spixy Could you upload your whole solution? The most important things for me are .csproj and App.config files.

It's weird because your error says `Could not load file or assembly 'BenchmarkDotNet, Version=1.0.0.0`, we did not publish such a version to NuGet yet ;)

[2017-05-26 15:03] AndreyAkinshin commented on #454
@spixy
Am I right that the name of your new solution is BenchmarkDotNet? If it's true, you probably have to rename your solution because this name is already taken by our package.

[2017-05-26 21:54] spixy commented on #454
@AndreyAkinshin
Yes that fixed it 😃

[2017-05-26 21:54] #454 closed

[2017-05-29 15:22] adamsitnik commented on #364
Description for people interested in grabbing this issue:

- We generate, build and run new process for every benchmark
- Anti Virus is blocking this by default.
- My suggestion:
    - Detect the situation where our process is immediately killed
    - Print users the warning: Most probably your anti virus has killed benchmarking process. Don't turn off AV, add $BenchmarkCategory to the excludes li

[2017-05-30 00:19] pgsin commented on #449
@DixonDs It would be useful to provide some code that is producing such error.

As result I cannot say for sure, but [BenchmarkReport.ResultStatistics](https://github.com/dotnet/BenchmarkDotNet/blob/0dafac43cb2553f075592128a54fa1cdbd0cf8ba/src/BenchmarkDotNet.Core/Reports/BenchmarkReport.cs#L24) can be null by definition but just in the case then there is no ResultRuns. I'm lost in guessing how th

[2017-05-30 15:20] AndreyAkinshin commented on #274
Implemented, now we have `[GlobalSetup]`, `[GlobalCleanup]`, `[IterationSetup]`, `[IterationCleanup]`.

[2017-05-30 15:20] #274 closed

[2017-05-30 15:20] AndreyAkinshin commented on #270
`[GlobalSetup]`, `[GlobalCleanup]`, `[IterationSetup]`, `[IterationCleanup]`

[2017-05-30 15:20] #270 closed

[2017-05-30 15:20] AndreyAkinshin commented on #325
Implemented, now we have `[GlobalSetup]`, `[GlobalCleanup]`, `[IterationSetup]`, `[IterationCleanup]`.

[2017-05-30 15:20] #325 closed

[2017-06-01 05:16] ig-sinicyn opened #456 "[Suggestion] Please keep [Setup]/[Cleanup] attributes"
The setup attributes were renamed to `[GlobalSetup]`/`[GlobalCleanup]` recently.

 I think there is no need to introduce `Global` prefix, old names are fine. Most of unit test frameworks do use same names for similar attributes and therefore old names were self-explanatory. In code it looks fine, too:
[code]

As additional proposal (have no good arguments for it, though). If the `Setup`/`Cleanup`

[2017-06-01 13:08] adamsitnik opened #457 "Track Native Memory Allocations and more informations with our ETW Memory Diagnoser"
We have two Memory Diagnosers. One of them is using ETW and is deprecated because it's less accurate than the other one. But this diagnoser could actually do more than just tracking allocated managed memory and GC collections.

This issue is `up-for-grabs`. The person that grabs it should:
* do an ETW research and answer following questions:
   - is it possible to track native memory allocations w

[2017-06-01 15:58] goldshtn commented on #457
You can track native memory allocations with ETW. However, it would probably slow down your benchmark by introducing ETW events for each allocation and free. You can also track each .NET memory allocation using ETW events. And that would probably slow down your benchmark even more.

TBQH, I don't think this belongs in a benchmarking library. You can profile for allocations while running the benchm

[2017-06-01 16:49] AndreyAkinshin commented on #456
Hey @ig-sinicyn, thanks for your feedback. I want to keep `[GlobalSetup]`/`[GlobalCleanup]` because of the following reason:
1. Our users don't understand when the setup method is called. Yeah, we covered it in the documentation, but who reads it? Especially when a developer see the benchmark code somewhere (e.g. on StackOverflow or GitHub), and he/she isn't familiar with BenchmarkDotNet, it's har

[2017-06-01 17:54] adamsitnik commented on #457
You are 100% right. This is why we perform separate run if any diagnoser is present. In that case we just use the diagnoser's output and ignore benchmark results (which could get affected).

Yes, but on the other hand using our existing ETW Memory Diagnoser to extend it with such features should be relatively easy now. The existing code base is very good, just sign up for a few events and do the m

[2017-06-01 19:36] goldshtn commented on #457
You are basically trying to turn a benchmarking library into a profiler. Where does this stop? For example, it is usually meaningless to just know that I am allocating strings; I want to know where they are coming from, i.e. stacks. Would you want the diagnoser to aggregate and resolve allocating stacks, too? Wouldn't it make more sense to use a profiler if you see suspicious results? This also ap

[2017-06-01 20:48] mattwarren commented on #457
Just to add a contrary point, JHM does things like this, in fact if even integrates with `perf` to give you assembly level CPU samples, see [JMH perfasm explained](http://psy-lob-saw.blogspot.co.uk/2015/07/jmh-perfasm.html) for a bit more info. By doing this is makes things like this possible:

- https://shipilev.net/jvm-anatomy-park/6-new-object-stages/
- https://shipilev.net/jvm-anatomy-park/7-i

[2017-06-01 21:01] ig-sinicyn commented on #456
@AndreyAkinshin well, I see your point now and it looks better than mine:)

[2017-06-01 21:05] adamsitnik commented on #456
I agree, @AndreyAkinshin has very good arguments. I was asked how often is `[Setup]` invoked so many times that I hope that now it will change.

[2017-06-01 21:18] #456 closed

[2017-06-02 04:01] goldshtn commented on #457
You can get the same results by running perf directly on the benchmarked binary. The development effort of pitting these features in JMH was non-trivial. Of course if you have all the time in the world then you can gradually add features from other tools into your benchmarking library, but generally it is not a good strategy. There's hardly a point in partially replicating features that are availa

[2017-06-02 08:25] GeertvanHorrik commented on #247
I've built something like that:

https://github.com/Catel/Catel.Benchmarks

It allows you to create a project per target version and it will generate 1 big summary for all runs:

https://github.com/Catel/Catel.Benchmarks/blob/develop/results/summary.md

It's all MIT so take whatever you need ;-) Would be even better if BenchmarkDotNet would have this as an xplat console runner so everyone could us

[2017-06-02 16:33] adamsitnik commented on #457
@goldshtn I got your point and I am really happy that you are sharing your valuable opinion with us!

I understand that from the business perspective there is no reason for duplicating features that other tools provide.

But "business perspective" affects me from 8 am to 4 pm. After this, I want to do some crazy stuff that solves interesting, hard problems.

My questions is: do you believe that we

[2017-06-04 11:01] eitamal commented on #364
I had the same issue as in issue #390 , and even though I'm not running in a corporate environment, I was unable to disable my anti-virus and adding the folder to the exclusions list didn't help.

Eventually, I was able to run the benchmark by opening a cmd instance as administrator changing directory to the executable's one and running it from there.

I know this isn't an ideal solution, but mayb

[2017-06-05 18:56] MaximKitsenko opened #458 "Time is always infinity"
i try to start benchmark but always receive `infinity` time, when program was working 30 sec.

How to fix it?

[code]

[2017-06-05 19:02] AndreyAkinshin commented on #458
Hey @MaximKitsenko, thanks for the bug report!

Could you provide the source code of this benchmark?

[2017-06-05 19:06] MaximKitsenko commented on #458
@AndreyAkinshin  offcourse:

**PROGRAM**
`	public class Program
	{
		public static void Main(string[] args)
		{
			//var kmp = new KmpBenchmark();
			//var sw = new Stopwatch();
			//sw.Restart();
			//kmp.KmpIndexOf_2();
			//sw.Stop();

			//var sw1 = new Stopwatch();
			//sw1.Restart();
			//kmp.SimpleIndexOf_5();
			//sw1.Stop();

			var summary = BenchmarkRunner.Run<KmpBenchmark>();
			Consol

[2017-06-05 19:21] AndreyAkinshin commented on #458
@MaximKitsenko thanks again! It's a strange bug, but it would be easy to fix it.

[2017-06-05 19:44] MaximKitsenko commented on #458
@AndreyAkinshin i beleive.  I slightly changed my code, just refactoring, changes are not significant and restarted my PC. And benchmark works again, I'm not sure what was the fix: restart or refactoring. But may be the problem in process that is runs in background?

[2017-06-06 04:34] d-saravanan opened #459 "[Question] What does the unit of measurement us stand for"
I am a bit unaware of what does the unit of measurement "us" stand for. I have seen the timing values in the reports as 654.6 us / 139.0 us. Can you please let me know what does "us" stand for.

"ns" stands for nano seconds and "ms" for milliseconds. but "us" is a bit unclear. Can anyone help clarify me

[2017-06-06 04:39] AndreyAkinshin commented on #459
@d-saravanan, `us` means [Microsecond](https://en.wikipedia.org/wiki/Microsecond). In fact, it should be `μs`, but `us` is a common replacement of `μs` (some terminals doesn't support the `μ` symbol).

[2017-06-06 07:33] d-saravanan commented on #459
Thanks a lot

[2017-06-06 08:21] AndreyAkinshin commented on #459
It seems that the `us` notation confuses a lot of people (see also https://github.com/dotnet/BenchmarkDotNet/issues/349). I decided to add a hint line about time units in the legend section (see https://github.com/dotnet/BenchmarkDotNet/commit/f14e508e44b510a26cc3ec5aed30ee7843a92baf). So, you will get a line like this:
[code]

[2017-06-06 08:24] AndreyAkinshin commented on #349
@kkbruce,
It seems that the `us` notation confuses a lot of people (see also https://github.com/dotnet/BenchmarkDotNet/issues/459). I decided to add a hint line about time units in the legend section (see https://github.com/dotnet/BenchmarkDotNet/commit/f14e508e44b510a26cc3ec5aed30ee7843a92baf). So, you will get a line like this:
[code]

[2017-06-06 08:24] #459 closed

[2017-06-07 07:06] adamsitnik commented on #157
big thanks to @Teknikaali for implementing the feature!

[2017-06-07 07:06] #157 closed

[2017-06-07 20:13] AndreyAkinshin opened #461 ".NET Framework 4.7 support"
Now default framework for BenchmarkDotNet is `net46`. Since we generate benchmark source code with the help of `CsProjNet46Toolchain`, `$TFM$` is always `net46`. So, it's impossible to run benchmarks from a `net47` project.

[2017-06-07 23:36] #461 closed

[2017-06-07 23:44] adamsitnik commented on #461
[code]

[2017-06-08 12:14] Backs opened #463 "Review interface IConfig"
Look at defenition of IConfig:

    public interface IConfig
    {
        IEnumerable<IColumnProvider> GetColumnProviders();
        IEnumerable<IExporter> GetExporters();
        IEnumerable<ILogger> GetLoggers();
        IEnumerable<IDiagnoser> GetDiagnosers();
        IEnumerable<IAnalyser> GetAnalysers();
        IEnumerable<Job> GetJobs();
        IEnumerable<IValidator> GetValidators();

[2017-06-08 15:04] #450 closed

[2017-06-08 15:52] adamsitnik commented on #463
I agree. Personally I don't like `IEnumerable<T>` and I almost never use it. I prefer to use `ImmutableArray<T>` everywhere where I can, but I know that it would require some more work that what you suggest.

[2017-06-09 06:31] AndreyAkinshin commented on #463
`IEnumerable` properies were introduces when BenchmarkDotNet was a .NET 4.0 project. Now we target .NET 4.6+, so we can migrate to `IReadOnlyCollection` or `ImmutableArray`.
However, it's a big braking change (it can brake a lot of custom user configs), so I suggest to do it in v0.11.0.

[2017-06-09 08:48] adamsitnik commented on #463
good point, we can review the api for `v0.11.0` and make everything what we return truly immutable

[2017-06-09 15:18] Backs commented on #463
As I understand, the issue is a little bigger than changing one interface :)
What do you think about pull-requests for this issue? Can I try to fix something?

[2017-06-09 15:22] AndreyAkinshin commented on #463
@Backs, we are already working on v0.11.0, see https://github.com/dotnet/BenchmarkDotNet/pull/440 We will be happy to accept your PR after v0.11.0 is released. Right now it's not a good moment because it will be really hard to merge all the changes.

[2017-06-09 15:47] Backs commented on #463
@AndreyAkinshin oh, I see really lot of changes :) ok, let's wait v0.11.0

[2017-06-10 08:41] ig-sinicyn opened #464 "Iteration setup / cleanup should not be called for Idle()"
[Engine.RunIteration](https://github.com/dotnet/BenchmarkDotNet/blob/5fe5647a158b41d0c2c949b6e04bca44ec5ff1d7/src/BenchmarkDotNet.Core/Engines/Engine.cs#L150-L161):
[code]

P.S. The warning "Be careful: if you allocate any objects in the [IterationSetup] method, the MemoryDiagnoser results can also be spoiled." in docs should be bold. And the same note should be for iteration cleanup method. Learn

[2017-06-10 16:55] xplicit opened #466 "MSBuild parameters are not passed to generated benchmark project"
I run the following command to build and run benchmarks:

[code]
But BenchmarkDotNet creates its own wrapping project and does not pass `/p:BASELINE=1` to msbuild. Here is content of  `BDN.Generated.sh`

[code]

while it should be

[code]

[2017-06-10 17:06] adamsitnik commented on #466
Hello @xplicit !

Thanks for a very well described problem!

We have a feature that allows using parameters in our benchmarks. It's called params, [here](http://benchmarkdotnet.org/Advanced/Params.htm) you can find full description.

Could you explain me your motivation behind passing custom parameters as console app parameters to the generated process? Or maybe our `[Params]` feature can be enoug

[2017-06-10 17:15] xplicit commented on #466
The idea of passing msbuild params is to make benchmarks for different assembly versions of the same library. When I pass `/p:BASELINE=1` I compile and run benchmarks  with baseline version of lib, when I did not pass it I compile  and run benchmarks with current code of library.

So the high-level idea is to run `v1` of `mylib.dll` and `v2` of `mylib.dll` and see if there are performance regressi

[2017-06-10 19:51] mtschneiders commented on #390
This error happened to me as well, after some digging, it appear to be the Razer Game Scanner service that was locking `BDN.Generated.exe` in the moment it was being deleted.

![image](https://user-images.githubusercontent.com/1523428/27005814-e9dbc41a-4dfc-11e7-8e23-1675841c8b56.png)

Stopping the service made it work.

[2017-06-10 20:04] Drawaes commented on #390
Interesting. For me it was Avast

[2017-06-10 20:16] mtschneiders commented on #390
Considering the lock doesn't last long, a simple retry mechanism could do the trick.

[2017-06-10 21:08] Drawaes commented on #390
Alright game on. Is it a good idea to retry of maybe not reuse files during the benchmark?

I suspect the issue is rapid generation of executables causes a bunch of different things in different environments to trigger and do a read. If i  wanted to benchmark in prod at work I couldn't disable the virus scanner so would be stuck.

[2017-06-11 01:13] BlueRaja opened #468 "Don't we want to use GCLatencyMode.LowLatency for tests?"
Sorry if this is a newbish question, but it was my understanding that benchmark tests should always be run with `GCSettings.LatencyMode = GCLatencyMode.LowLatency`, and/or using `TryStartNoGCRegion()`.  I searched the repo but didn't see anything related to those in the code.

[2017-06-11 01:28] BlueRaja opened #469 "[Suggestion] Specify Setup per benchmark"
It'd be nice to be able to do something like this:

[code]

My use case: I'd like to test different methods on my custom data structure with different initial setups.  I of course don't want the initial setup to get included as part of the benchmark, so right now my only option is to write a different `Benchmark` class for each setup.  This makes the benchmark code ugly, and even worse, forces me

[2017-06-11 02:38] BlueRaja opened #470 "[Bug] IterationSetup not run before every test"
I'm encountering an issue with my benchmarks because `IterationSetup` is not run before every test.

I'm using `IterationSetup` to fill out a data-structure, but sometimes it's not filled out. This causes an exception, which halts all subsequent tests.

Minimal repro:

[code]

[2017-06-11 07:05] AndreyAkinshin commented on #390
It's worth a try. We use the following idea in the exporters: if there is a file with target name, we try to delete it; in the case of fail, we pick another name.
See https://github.com/dotnet/BenchmarkDotNet/blob/1a8559f24c1e36bf235943d89e67ad83e5fcd9ce/src/BenchmarkDotNet.Core/Exporters/ExporterBase.cs#L29

Probably it's even a better idea. So, we can generate name of executable file using the j

[2017-06-11 07:07] AndreyAkinshin commented on #468
/cc @adamsitnik

[2017-06-11 07:19] AndreyAkinshin commented on #469
It's a good suggestion, thanks! However, I have another idea for the API. Since we have `[GlobalSetup]`, `[GlobalCleanup]`, `[IterationSetup]`, `[IterationCleanup]` (probably, we will add some additional attributes later). So, I don't want to add all of these attributes as parameters in the `[Benchmark]` attribute. But we can do something like this:

[code]
So, if `Target` (probably we have to fin

[2017-06-11 07:25] AndreyAkinshin commented on #470
@BlueRaja, `[IterationSetup]` should be executed once before *an iteration* which can contain a lot of method invocation. Please, check out the documentation: http://benchmarkdotnet.org/Advanced/SetupAndCleanup.htm It was designed for `RunStrategy` = `Monitoring` (`1 iteration` = `1 invocation` by default). I'm sorry if the documentation is unclear about it, it's a recent feature.

If you know how

[2017-06-11 07:31] AndreyAkinshin commented on #464
@ig-sinicyn, thanks for another helpful bug reports. Sorry about it, `[IterationSetup]` is a recent feature, and I checked how it works only for `RunStrategy.Monitoring` (`1 iteration` = `1 method invocation`; idle iterations are skipped).
May I ask why do you use `[IterationSetup]/[IterationCleanup]` with the default `RunStrategy`? What's your use case?

This opportunity confuses people (see also

[2017-06-11 07:40] AndreyAkinshin commented on #466
In the future, I want to implement a feature which allows setting custom environment variable in each job, it will help to support features like this: https://github.com/dotnet/BenchmarkDotNet/issues/262
@adamsitnik, maybe it makes sense to introduce also an ability to setting build arguments?

[2017-06-11 07:43] ig-sinicyn commented on #464
@AndreyAkinshin

I have no real use case for inetation / setup cleanup now. I've tried to use it with old test written before Monitoring strategy arrived. Well, not the best idea:)

Have no strong opinion about disabling IterationSetup for default strategy, though. What about reporting a warning instead?

[2017-06-11 08:09] ig-sinicyn commented on #469
@AndreyAkinshin
I'd propose alternate option: pass an object with information about current benchmark as an arg to setup / cleanup methods (if the method has one). This way setup logic will be able to determine current method and job settings and etc.

[2017-06-11 08:15] ig-sinicyn commented on #468
@BlueRaja, @AndreyAkinshin well,  this is not a best idea as it _may_ provide results that will differ from real-world results. I'm not speaking about nanobenchmarks but for larger ones GC settings will have influence on execution time.
See the [Server GC vs. Workstation GC in a real application](https://blogs.msdn.microsoft.com/seteplia/2017/01/05/understanding-different-gc-modes-with-concurrency

[2017-06-11 08:25] BlueRaja commented on #469
I prefer my suggestion.  You may want several benchmarks to share a single initialization method, but it makes no sense for a single test to have multiple initialization methods.

[2017-06-11 08:25] BlueRaja commented on #470
What is the distinction between a method invocation and an iteration?  I thought they were equivalent.

[2017-06-11 08:51] adamsitnik commented on #470
iteration contains of 1 to many invocations

[2017-06-11 09:14] adamsitnik commented on #469
hmm, I am not sure.

I like @BlueRaja suggestion, but when we want to handle all scenarios: global/iteration setup and cleanup, then our `[Benchmark]` has four new arguments. I am afraid that it can confuse our users. It has 2 arguments today (Baseline and OperationsPerInvoke). It used to have more, but @AndreyAkinshin  has refactored it a long time ago.

In @AndreyAkinshin idea I don't like the s

[2017-06-11 09:21] adamsitnik commented on #390
We have two problems:

1. Something is not allowing us to remove files. We can fix it by not removing them at all (use `[KeepBenchmarkFiles]` today), or remove them at the end of whole benchmarking process.
2. Anti Virus is not allowing us to run the executable we have just generated. I have spoken with some security guys when I met them at DotNext conference and they told me that for some AV it's

[2017-06-11 09:29] adamsitnik commented on #464
@AndreyAkinshin I don't have any opinion here.

So far I have used the IterationSetup once: when I wanted to benchmark .NET allocators.

[code]

So I was able to tell GC to not cleanup memory for the iteration, to measure how long allocation takes, without GC interruptions. If we disable this feature for non Monitoring benchmarks, I would be able  to use it, but I would need to manually set the it

[2017-06-11 09:29] BlueRaja commented on #470
I see. What possible use-case is there for `[IterationSetup]`?

[2017-06-11 09:34] BlueRaja commented on #469
To be clear, what I was suggestion was a way to setup per invocation, not per iteration/benchmark/suite.

Eg. to test the speed of `Dequeue()` for my Priority Queue, I first need something _in_ the queue.  Given that I just learned that "iteration" and "invocation" are different, there doesn't seem to be an actual way to test that currently, without also testing the speed of `Enqueue` in the same

[2017-06-11 09:42] adamsitnik commented on #468
It's very good question.

Our policy is not to change default GC settings to make sure that allocating benchmarks will include the extra time spent in GC. By doing this we make sure that our results are as close as possible to real life situation.

By default we perform memory cleanup before and after every iteration (set of invocations). This and few other things like Workstation/Server mode can

[2017-06-11 09:46] Drawaes commented on #390
Mine was not the A/V not allowing it to run. It was the overwrite because it was still "scanning" I agree getting around the A/V stopping it from running is fruitless.

[2017-06-11 10:44] AndreyAkinshin commented on #470
`[IterationSetup]` and `[IterationCleanup]` were designed for macrobenchmarks which have a single invocation in each iteration. They can have some logic which should be executed before and after the benchmark method, but it shouldn't be included in the time measurements.

[2017-06-11 16:59] BlueRaja commented on #470
Right, I get that now.  My question is, in what situation would it be useful to run code before each iteration (rather than before each invocation), when you don't even know how many invocations will be in an iteration.

[2017-06-11 17:00] BlueRaja commented on #468
Fair enough

[2017-06-11 17:00] #468 closed

[2017-06-11 19:38] #470 closed

[2017-06-11 19:55] BlueRaja commented on #469
Oh I see, I misunderstood @AndreyAkinshin's comment [here](https://github.com/dotnet/BenchmarkDotNet/issues/470#issuecomment-307611689).  So `IterationSetup` is meant to solve this problem, but it only works if you set `RunStrategy = Monitoring`

That's an acceptable workaround, but I'm going to keep this open because it's silly to have a feature that ostensibly does one thing but is really intend

[2017-06-12 21:20] Ky7m commented on #426
A quick update. I have started working on migration and I was able to replicate exisiting build steps as a first step. Now process is described in one file [build.cake](https://github.com/Ky7m/BenchmarkDotNet/blob/master/build.cake) and I started an integration testing with [appveyor](https://ci.appveyor.com/project/IgorFesenko/benchmarkdotnet).
Once I reproduce build steps on Windows I switch to

[2017-06-12 21:24] adamsitnik commented on #426
@Ky7m great, thanks!

[2017-06-13 04:20] qstarin opened #472 "[Question] Am I experiencing dead code removal?"
I've been working on micro optimizing modulo for a specific use case and someone suggested that my results don't seem realistic. It hadn't occurred to me but 1 nanosecond per operation would be 4 CPU cycles at 4.0GHz. I'm getting 1 ns/op for a method that would be a number of cpu operations.

Have I done something wrong that's causing the JIT to not actually call something, making the operation ti

[2017-06-13 06:37] AndreyAkinshin commented on #472
Hey, @qstarin.

Everything sounds pretty realistic to me. Some thoughts:

1. If you are not sure about which optimization JIT-compiler does, the best way is checking the assembly code (instead of blind guessing). If you are going to do such kind of optimization, working with the assembly should be one of the basic skills.
2. What exactly do you want to measure: latency or throughput? (e.g. [here](

[2017-06-13 14:21] Ky7m commented on #426
1.  Windows build (AppVeyor) is replicated https://ci.appveyor.com/project/IgorFesenko/benchmarkdotnet.

2. macOS build is partially (build+unit tests) ready https://travis-ci.org/Ky7m/BenchmarkDotNet.
Issues:
    - vbproj cannot be compiled and on build it is excluded
    - Integration tests require additional investigation ([dotnet test runner's issue](https://github.com/Microsoft/vstest/issues/

[2017-06-13 16:18] adamsitnik commented on #426
wow! running our tests for Mac and Linux would make our life much easier!

[2017-06-13 18:01] qstarin commented on #472
Thank you for the response. Honestly, this is as much an exercise in improving my benchmarking skills and learning to utilize BenchmarkDotNet properly. It is a real application, but the optimization was inspired more by can I rather than I really need to.

1. Yes, I need to familiarize myself with the tools for inspecting assembly outputted by the JIT (and probably brush up on my x86 assembly)

2.

[2017-06-13 18:10] tannergooding commented on #472
@qstarin, as a reference. A similar issue was hit with the `System.Numerics.Vector` perf tests. The original issue was discovered in an initial pull request here: https://github.com/dotnet/corefx/pull/16453.

They were later fixed up here: https://github.com/dotnet/corefx/pull/16847

At the time, we determined the "best" approach was to have two versions of the function:
* A "normal" benchmark tha

[2017-06-13 20:22] Ky7m commented on #426
Partial build pipeline works on Linux now.
By "partial build pipeline" I mean:
1. restore-packages
2. build-solution (w/o vb project)
3. run unit tests (BenchmarkDotNet.Tests)

Quick summary:
- [AppVeyor build](https://ci.appveyor.com/project/IgorFesenko/benchmarkdotnet/build/0.10.8.22) is replicated.
- Travis CI [Linux](https://travis-ci.org/Ky7m/BenchmarkDotNet/jobs/242556894) and [MacOS](https:

[2017-06-14 09:28] Ky7m opened #474 "PlatformNotSupportedException when reading ProcessorAffinity on non-Windows platforms"
*InProcessExecutor* throws an exception on non-Windows platforms (target framework: `netcoreapp1.1`). Specifically, it throws an error when try to get ProcessorAffinity [InProcessExecutor.cs#L95](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Toolchains/InProcess/InProcessExecutor.cs#L95):
[code]
exception:
[code]
I found similar issue #298, but it is closed.

[2017-06-14 12:15] #474 closed

[2017-06-14 12:16] AndreyAkinshin commented on #474
Hey @Ky7m, thanks for the report, should be fixed now.

You can check it in BenchmarkDotNet 0.10.8.226 (https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.8.226) from our appveyor feed (see http://benchmarkdotnet.org/Guides/NuGet.htm#nightly)

[2017-06-14 12:38] AndreyAkinshin commented on #472
@qstarin,

Yes, you are correct, we call it "Idle" iterations: we measure an empty method with the same signature, see also: http://benchmarkdotnet.org/Internals/HowItWorks.htm

Do you have any additional questions related to BenchmarkDotNet?

[2017-06-14 13:02] AndreyAkinshin commented on #448
Ok, it seems that we have the solution (thanks Daniel Steiner for the idea):
[code]
I checked it on `1.1.2` and `2.0.0-preview1-002111-00`; on Windows and Linux. Everything works fine.

However, I suggest to keep the corresponded framework version and print something like this:
[code]

Also, instead of
[code]
it would be better to print something like
[code]
See also: https://docs.microsoft.com/en

[2017-06-14 13:20] adamsitnik commented on #448
I like this idea! It's much better for the .NET Core to show this well know version id, instead of 4.x.y.z

I have recently added code that detects .NET framework version based on the registry key. We can use this [code](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Toolchains/CsProj/CsProjClassicNetToolchain.cs#L75) to detect it. However I am not sure about Mono.

[2017-06-14 13:21] Ky7m commented on #474
Thank you @AndreyAkinshin for prompt response and quick fix. I have verified with new source and issue is gone now.
Also it was much needed to continue work on #426 . Thanks again!

[2017-06-14 14:12] Ky7m commented on #426
Now there are "green" builds on 3 different platforms:
- [Windows](https://ci.appveyor.com/project/IgorFesenko/benchmarkdotnet/build/0.10.8.30)
- [Ubuntu](https://travis-ci.org/Ky7m/BenchmarkDotNet/jobs/242821918)
- [macOS](https://travis-ci.org/Ky7m/BenchmarkDotNet/jobs/242821919)

Each build contains next steps (with some platform specifics):
- Build all projects from solution (except VB project

[2017-06-14 16:40] AndreyAkinshin commented on #426
@Ky7m, awesome, thank you. Your next step is a pull request. My next step is working on the Travis integration.

[2017-06-14 16:44] Ky7m commented on #426
Great, will prepare pull request. Let me know if you need any support/guidance with Travis CI app/integration.

[2017-06-14 16:47] qstarin commented on #472
Awesome. Thank you so much for taking the time to reply, and of course for your work on this excellent library. I have no more questions and will close the issue here.

[2017-06-14 16:47] #472 closed

[2017-06-14 16:49] AndreyAkinshin commented on #426
We use the .NET Foundation account for appveyor, probably we will use the same approach for Travis. I already wrote a letter to @jongalloway, waiting for a response.
One quick question: is it possible to check the list of tests in a nice form? (like this one: https://ci.appveyor.com/project/IgorFesenko/benchmarkdotnet/build/0.10.8.30/tests)

[2017-06-14 16:52] AndreyAkinshin commented on #448
Good to know. Ok., I will do it. A few more questions:
* Does it make sense to rename `Job.Clr` to something like `Job.Framework`. I'm not sure that all of our users understand that Clr refers to the Full .NET Framework.
* Probably it's also make sense to rename `dotnet cli version` to `.NET Core SDK`.

@adamsitnik, what do you think?

[2017-06-14 17:38] Ky7m commented on #426
It seems to me that is not possible to get a nice and separate view for tests. I didn't see it on other projects too. So I will look to other approach how to create more usable test summary.

[2017-06-14 18:10] AndreyAkinshin commented on #426
What do you think about Jenkins? Will it be hard to create a corresponded configuration?

In this case, we can probably migrate to https://ci.dot.net/ (default CI for many .NET Foundation projects). @jongalloway, is it possible?

[2017-06-14 18:50] Ky7m commented on #426
Current implementation of build process itself can be easily adapted for Jenkins (and not only for Jenkins). Need to check only environment/container specific things and we ready to go.

[2017-06-16 15:16] adamsitnik commented on #448
I think that the people who want  to use this feature will know the difference. It's used only when you want to compare two different runtimes. Maybe we can just add a `\\\ <summary>` comment?

What we display is dotnet cli version numer, so it should not be renamed. However, the dotnet cli is more stable now, so maybe we can even remove it from summary? It was required mostly for troubleshooting

[2017-06-16 15:19] adamsitnik commented on #466
@xplicit the idea sounds very cool! But I can't find any information about this parameter. Could you provide me some link? I would like to implement and test it.

[2017-06-16 18:18] AndreyAkinshin commented on #448
I don't think that we should skip it. Also, people usually don't install pure dotnet cli (without runtime), they install .NET Core SDK (which is basically cli + runtime(s)). This information can be also important when we run a new-style csproj project with a `netXX` target: in this case we don't have any information about .NET Core stuff in the "job" section of the summary.

[2017-06-18 09:22] xplicit commented on #466
@adamsitnik `BASELINE` is custom property which I define from msbuild command line using `/p` parameter (see https://msdn.microsoft.com/ru-ru/library/ms164311.aspx `/property` parameter).  Then I use it in conditional csproj. Something like that:

[code]
So when I pass `/p:BASELINE=1` into msbuild I link with "baseline" version of library, when I do not pass it I link with current developing proje

[2017-06-18 12:45] adamsitnik commented on #466
@xplicit now I get it, thanks! I will try to implement it this week

my long term plan is to add similar feature to BenchmarkDotNet. It could be sth like this:

[code]

I wanted to implement it a long time ago, but then project.json was being abandoned and I wanted to wait.

[2017-06-19 13:58] kayanme opened #477 "MEF stops working like 2.0 in benchmark"
I migrated from BDN 0.9.4 to 0.10.8 recently.
After that I found, that resolving an open generic export in benchmark (declared with [InheritedExport]) cannot be discovered anymore. Looking for some info  ([here](https://stackoverflow.com/questions/18147371/open-generic-types-wont-register-in-the-catalog) for example, the similar problem, but another site of origin) I found, that there is some issu

[2017-06-19 17:22] Teknikaali commented on #453
It seems like the `JsonExporter` doesn't include the `MemoryDiagnoser`'s results yet, so @ipjohnson you weren't missing anything at all, _per se_.

This is a sample output for the `MemoryDiagnoser` in Json, if we simply include the `GcStats` property:
[code]

One con side of adding the `GcStats`-property straight into `JsonExporter`'s output would be that _the operation isn't conditional_:
If ther

[2017-06-20 14:11] #453 closed

[2017-06-21 11:07] inosik opened #479 "Invalid C# code generated for valid F# identifiers"
If a benchmark method name contains characters, which are invalid in C# for identifiers, BenchmarkDotNet generates invalid C# code for those methods [in the constructor][src] of the generated `Runnable` class. This code doesn't compile, when the benchmark is run.

  [src]: https://github.com/dotnet/BenchmarkDotNet/blob/afa803d0e38c0e11864b2e4394d4a85d3801d944/src/BenchmarkDotNet.Core/Templates/Ben

[2017-06-21 12:10] adamsitnik commented on #479
Thanks for a very well described bug report!

I am going fix it soon. But the fix will be a nice warning telling what is wrong and how to get the custom display name.

[2017-06-23 09:08] kayanme opened #481 "Iteration cleanup runs before the benchmark"
Example:
[code]
I'm expecting  to have "Test" before "Clean", am I? Or do I misunderstand something? Right now it goes right after "Init"
Version 0.10.8

[2017-06-23 09:11] kayanme opened #482 "Benchmark hangs when defining a configuration for runner"
Reproducing previous issue I've got the strange hang in this situation (with different configuration numbers). Benchmark does not even start:
[code]
Version 0.10.8

[2017-06-23 09:50] ig-sinicyn commented on #481
It's #464 :)

[2017-06-23 20:39] kayanme commented on #481
I saw that bug, but didn't see the same problem. Evenmore, @adamsitnik told about his use case, which, surpisingly, seems working with the correct order. I wonder why.

[2017-06-24 21:29] haf opened #484 "Broken HTTPS on site"
There is https://benchmarkdotnet.org/ but I get cert error when I browse it.

Having HTTPS is important nowadays.

[2017-06-26 07:01] adamsitnik commented on #484
Hello @haf !

Thanks for reporting the problem. @AndreyAkinshin who maintains our website is on holidays, he should be back within a week.

Until we fix it you can use our [http://benchmarkdotnet.org/](http://benchmarkdotnet.org/) address.

[2017-06-26 18:01] inosik commented on #479
Would be nice if we'd get the warning *before* any benchmark runs.

[2017-06-26 18:24] CheloXL opened #485 "TypeLoadException trying to run benchmark on Clr"
I created a very simple benchmark over one of my libraries to try to optimize it a bit and BDN is throwing the following ex while trying to run under Clr

[code]

Under Core everything runs fine. I have only one [Benchmark] entry. This is my project definition:

[code]

[2017-06-27 07:28] inosik commented on #479
What if we changed the [code template][template] from this:

  [template]: https://github.com/dotnet/BenchmarkDotNet/blob/afa803d0e38c0e11864b2e4394d4a85d3801d944/src/BenchmarkDotNet.Core/Templates/BenchmarkProgram.txt#L144

[code]

to this:

[code]

Would this impact the performance and distort the results? It doesn't seem to make much of a difference:

[code]

[code]

 |

[2017-06-27 20:06] jnm2 opened #486 "Cannot run in LINQPad; gives "TypeLoadException: Method 'GetImports' does not have an implementation""
I'm running into something I can't find guidance on. I'm trying to running benchmarks in LINQPad. No benchmarks are running and I'm getting this error output:

[code]

### Repro steps

 * Open LINQPad (I'm running 5.22.02 on .NET Framework 4.7.02046 and Windows 10 v1703 build 15063.413)
 * Add NuGet reference to BenckmarkDotNet (or manually reference all the DLLs)
 * Run this as a C# program:

[co

[2017-06-27 20:52] adamsitnik commented on #485
Hello @CheloXL !

Thanks for using BenchmarkDotNet. The exception you are getting is really strange. Could you tell me which Visual Studio and NuGet client version are you using?

[2017-06-27 21:34] #479 closed

[2017-06-27 21:39] adamsitnik commented on #479
It's unfortunately [impossible](https://stackoverflow.com/a/22514528/5852046) to workaround due to C# compiler limitations. We are going to display very nice error, before running any of the benchmarks.

But you can still get the whitespaces printed in the results instead of just the method name. You can do this by using  `Description` property of our `BenchmarkAttribute`.

Example error message:

[2017-06-27 23:53] CheloXL commented on #485
Vs 2017 (latest service pack), BDN 0.10.8

[2017-06-28 13:06] jnm2 opened #487 "Please consider using 'µs' instead of 'us'"
It confused [at least one person](https://gitter.im/dotnet/BenchmarkDotNet?at=595363cb76a757f808b391f3) and has kinda bugged me since I can't think of any reason we couldn't use µ. Everything should be UTF8 these days.

Willing to PR.

[2017-06-28 21:24] adamsitnik commented on #487
Hello @jnm2 !

It's an old problem (#459)

[According](https://github.com/dotnet/BenchmarkDotNet/issues/459#issuecomment-306380025) to @AndreyAkinshin :

The [current solution](https://github.com/dotnet/BenchmarkDotNet/issues/459#issuecomment-306416280) is that we put information about it in the legend:

@AndreyAkinshin could you tell something more about the old terminals that don't support it?

[2017-06-29 00:48] jnm2 commented on #487
I didn't think of non-Unicode termimaps. Could it be detected? Console.SetEncoding?

[2017-06-29 20:23] adamsitnik commented on #482
Hello @kayanme !

In this case you have not configured any logger, so the benchmark runs but prints nothing to the standard output. I know that it's very confusing, I am adding a fix now that will warn the users.

Please use following code to set loggers, exporters and columns for empty manual config:
[code]

[2017-06-29 20:27] #482 closed

[2017-06-29 20:31] adamsitnik commented on #482
Example:
![image](https://user-images.githubusercontent.com/6011991/27708869-85335e2e-5d1a-11e7-9045-b42c9011002e.png)

I hope that you did not waste too much time on this. I took me some time to figure out what is going on here ;)

[2017-06-29 20:40] adamsitnik commented on #487
@jnm2 I don't know anything more about the details. The person who does is @AndreyAkinshin . He  is on holidays now, he should be back within next few days.

[2017-06-30 20:20] kayanme commented on #482
Everything is ok, I've just stumbled upon it when I was reproducing another bug. :) Thank's a lot anyway!

[2017-07-01 02:29] snalesso opened #489 "Documentation page broken link"
In [Wiki > People using BenchmarkDotNet > Projects](https://github.com/dotnet/BenchmarkDotNet/wiki/People-using-BenchmarkDotNet#projects) list, the link for the "CacheManager" entry is broken, I think:

it points to

instead of

[2017-07-01 08:31] adamsitnik commented on #489
Hello @snalesso

Thanks for the bug report. I have updated the link.

[2017-07-01 08:31] #489 closed

[2017-07-01 10:11] adamsitnik opened #490 "BDN.Generated.exe is locking files when killed with ctrl+c"
As reported by @Horusiath in our Gitter:

1. VS2017 Solution with console app running BenchmarkSwitcher.FromAssembly(Assembly.GetExecutingAssembly()).RunAll()(console app project set as startup project)
2. Solution build set on Release
3. Hit Ctrl+F5 (run project without debugger)
4. Here I got immediate crash with error window.
5. When I'm trying to rebuild solution, it cannot be done since anoth

[2017-07-01 18:48] Rattenkrieg opened #491 "UnauthorizedAccessException preventing report to be written"
This is super annoying especially after big long harness runs.

<details><summary>stacktrace</summary><p>

[code]

</p></details>

I think we should put defensive catch around [this invocation](https://github.com/dotnet/BenchmarkDotNet/blob/6fc2456ceec071bfc2e3432c3b800ae905c90c6a/src/BenchmarkDotNet.Core/Running/BenchmarkRunnerCore.cs#L212) so further log flushing routine can proceed no matter ho

[2017-07-02 10:30] Mike-EEE commented on #433
ALRIGHT.  More than two months later... 😛

Really could not have anticipated the sheer amount of offline time this would take.  So much accomplished, however.  I have completely refreshed my environment (both virtual and real life haha) and now things run much better and (more importantly) as expected.

I am not sure what exactly happened, and I am apt to not care at the point, only that it forced

[2017-07-02 10:30] #433 closed

[2017-07-02 16:30] #390 closed

[2017-07-02 16:30] #490 closed

[2017-07-02 16:30] #491 closed

[2017-07-02 16:30] #380 closed

[2017-07-02 16:32] adamsitnik commented on #491
hi @Rattenkrieg

Thanks for a bug report with high quality description!

I have just changed the default behavior, the default folder/program name is new guid and we remove all artifacts after printing the results.

[2017-07-02 16:33] adamsitnik commented on #390
I have just changed the default behavior, the default folder/program name is new guid and we remove all artifacts after printing the results.

Please let me know if you ever run into this bug again @Drawaes

[2017-07-02 16:34] adamsitnik commented on #490
@Horusiath fixed! please let me know if you ever run into this problem again

[2017-07-02 16:36] Drawaes commented on #390
Cool! I will turn my evil virus scanner on and give it a crack :) but looks good to me

[2017-07-02 17:08] Rattenkrieg commented on #491
Also this happens on random basis so I'm afraid this behavior is barely reproducible. My thoughs that this may happen when BDN.Generated.exe process haven't exited yet while runner tries to delete its file. I'm not familiar with architecture though. So don't treat this as good directions. Btw all my scenarios are involving ThreadPool work and lots of concurrent-foo (if this may sound useful).

[2017-07-02 17:12] adamsitnik commented on #491
Thanks for  the extra info. I believe that the new solution should prevent from any problems.

You can check it now by downloading `0.10.8.242` package from our CI NuGet feed:
[code]

[2017-07-02 17:13] Rattenkrieg commented on #491
Just realized that this issue was already reported, sorry for duplicating. :see_no_evil:

[2017-07-03 13:25] gdoron commented on #108
Hi, is there a doc/example somewhere showing how to use app.config for init?
Thanks.

[2017-07-03 13:47] adamsitnik commented on #108
Hello @gdoron !

We just take app.config file from the project that defines/executes benchmarks (your console app) and copy them to the app.config that we create for the project that we generate, build and run on the fly.

So in your `[GlobalSetup]` method you can just use app.config as you want to.

[2017-07-03 13:58] gdoron commented on #108
@adamsitnik Thanks Adam, that explains why I couldn't find how to use it, BECAUSE IT JUST WORKS... ;)
Thanks a lot, awesome library!

[2017-07-03 17:20] gdoron commented on #490
I came because of the same issue.
It seems like `0.10.8` is the latest version on nuget.
Is there a different repo with the latest bits or do we need to compile from the source code?

Thanks a ton!

[2017-07-03 18:57] adamsitnik commented on #490
Hi! @gdoron

You can check it now by downloading `0.10.8.242` package from our CI NuGet feed:
[code]

[2017-07-05 17:50] AndreyAkinshin commented on #487
@jnm2, it's a hard problem, I tried to solve it before, but I got some troubles on Linux.

Basically, we have two challenges here.
1. We have to check if current console encoding (see [Console.OutputEncoding](https://docs.microsoft.com/en-us/dotnet/api/system.console.outputencoding?view=netstandard-1.3#System_Console_OutputEncoding), supported in NetStandard1.3) supports unicode symbols. It's not

[2017-07-05 17:53] AndreyAkinshin commented on #486
@jnm2, the latest BenchmarkDotNet is supported only in 5.22.05+, you should manually download the latest beta from the LINQPad official site. More info here: http://aakinshin.net/blog/post/bdn-v0_10_7/#linqpad-support

[2017-07-05 18:04] AndreyAkinshin commented on #484
BenchmarkDotNet uses GitHub pages with a custom domain. The `Enforce HTTPS` option is unavailable for our site because we have a custom domain configured.
The domain owner is .NET Foundation, so we need some help from @jongalloway here.

[2017-07-05 20:46] jnm2 commented on #487
Good point about detecting the encoding and font support. I have code sitting around which I could contribute, but it looks like you have that covered.

As far as text editors, if you aren't saving the file in UTF8-no-BOM, you're doing it wrong, and if people are using editors that don't support UTF8-no-BOM, they're doing it wrong. I expect that is vanishingly rare.... maybe I'm wrong?

[2017-07-05 20:49] jnm2 commented on #487
So we could at least be outputting it in Windows console- we know how to do that- and artifacts. As for Unix console, it usually seems to be ahead of Windows in these aspects so I assume it's only a matter of getting someone who is familiar with it.

[2017-07-05 20:51] jnm2 commented on #486
Awesome, thanks!

[2017-07-05 20:51] #486 closed

[2017-07-11 04:29] kentcb opened #493 "Slower timings with every MainTarget execution - what does it mean?"
Hi,

If my MainTarget executions get slower with every iteration, what does that generally mean? Example output:
[code]

[2017-07-11 06:15] AndreyAkinshin commented on #493
Hi @kentcb,

It means that your benchmark doesn't have s steady state: each run affects the following runs.
By default, BenchmarkDotNet assumes that all method invocations are independent and doesn't affect each other.
Probably I have to write a analysis for such situations.

[2017-07-11 07:05] kentcb commented on #493
Thanks @AndreyAkinshin. Is a valid example of that a memory leak? i.e. each run is consuming more and more memory via the leak, thereby affecting the overall perf?

[2017-07-11 08:02] AndreyAkinshin commented on #493
Yep, it can be a memory leak, but you have to profile it for sure.

[2017-07-11 08:02] AndreyAkinshin commented on #493
Yep, it can be a memory leak, but you have to profile it for sure.

[2017-07-11 08:12] PatrickvL opened #494 "Wrong placement of Frequency?"
https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Horology/FrequencyUnit.cs#L16 references the Frequency type from within the FrequencyUnit type; Shouldn't that be moved to a more appropriate place?

[2017-07-11 08:26] kentcb commented on #493
Understood - thanks again, @AndreyAkinshin.

[2017-07-11 08:26] #493 closed

[2017-07-11 09:06] AndreyAkinshin commented on #494
@PatrickvL, I don't see a problem here. Where do you want to move it?

[2017-07-11 09:28] PatrickvL commented on #494
Nevermind, I overlooked it uses `this`

[2017-07-11 09:28] #494 closed

[2017-07-13 18:25] AndreyAkinshin commented on #426
Still no news from @jongalloway =(
I guess we can merge #475 and solve the Travis CI issue later. @adamsitnik, is it ok for you?

[2017-07-14 08:52] adamsitnik commented on #426
I think it's a good idea. I don't expect that @jongalloway will ever answer any email ;(

[2017-07-14 12:28] SeanKilleen commented on #426
What about using Appveyor? I believe they'd be free for this and work with Cake. I'll try to confirm.

Blog post for reference: http://www.michael-whelan.net/continuous-delivery-github-cake-gittools-appveyor/

[2017-07-14 12:30] AndreyAkinshin commented on #426
@SeanKilleen, we already use Appveyor for Windows builds, but I don't see how to make it work for Linux and MacOS.

[2017-07-15 16:22] ipjohnson commented on #469
I'm definitely interested in a feature like this. As a work around is there a way to get access to the name of the benchmark method being executed in the setup method?

[2017-07-15 16:29] AndreyAkinshin commented on #469
@ipjohnson, sorry there is no a work around for now. I will implement this feature as soon as I find some free time (my schedule is very busy lately). By the way, pull requests are welcome. =)

[2017-07-16 14:04] AndreyAkinshin commented on #448
According to the latest `dotnet --help`:
[code]

`dotnet --version` returns the .NET Core SDK version. dotnet cli can operate with different SDK, users can specify the target SDK version in global.json. So, I still want to rename `dotnet cli version` to `.NET Core SDK`. @adamsitnik, is it ok to you?

[2017-07-16 14:06] adamsitnik commented on #448
@AndreyAkinshin sure! it turns out that I was wrong

[2017-07-17 20:11] #426 closed

[2017-07-18 01:03] smitpatel opened #495 "Attributes put on base methods are not considered in derived class"
[code]
In above code I have annotated method `Base.Setup` with `IterationSetup`. When I override the method to provide implementation in derived class but don't put attribute (assuming it will come from base class automatically), then the method is not called. This makes SleepTime = `default(int)` which is 0.
If I put attribute in derived class then it sets proper value.
Without attribute in deriv

[2017-07-19 06:50] AndreyAkinshin opened #496 "Integration with TravisCI"
We need Linux and MacOS agent.
See also: https://github.com/dotnet/BenchmarkDotNet/issues/426, https://github.com/dotnet/BenchmarkDotNet/pull/475

[2017-07-21 00:30] smitpatel opened #498 "Benchmark fails to run when AssemblyName is different from csproj name on netcoreapp1.1 project"
Following guide from here
http://benchmarkdotnet.org/Overview.htm

Create a new project named `ConsoleApp1` targeting netcoreapp1.1
Follow tutorial above to add benchmarks to it. All works fine when you run it.
Now modify csproj to have following (Notice `AssemblyName` attribute having different name than csproj (ConsoleApp1.csproj)
[code]
`dotnet run` fails with
[code]

Same thing works fine with

[2017-07-21 01:20] davkean opened #499 "Opting into app-compat switches in a benchmark doesn't work"
It appears that I can't opt into app-compat switches within a benchmark:

[code]

**Expected:**
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.ArgumentException: The path is not of a legal form.
   at System.IO.Path.**NewNormalizePath**(String path, Int32 maxPathLength, Boolean expandShortPaths)
   at System.IO.Path.NormalizePath(

[2017-07-21 01:30] davkean commented on #499
Even via app.config isn't respected:

[code]

[2017-07-21 01:33] davkean commented on #499
@JeremyKuhne @AlexGhiondea I'm trying to benchmark the new normalization paths, do you know under what circumstances we wouldn't respect a switch on above? If I manually run the code without BenchmarkDotNet it works fine - so there's something about how it setups up the appdomain/process that is causing us to skip the AppCompat settings.

[2017-07-21 01:46] davkean commented on #499
I stumbled on:
[code]

With still doesn't let me flip app compat switches, but does head me down the new path. There's something about how this AppDomain is launched that prevents me from flipping the switches.

[2017-07-21 07:38] AndreyAkinshin commented on #498
@adamsitnik, could you take a look?

[2017-07-21 07:42] AndreyAkinshin commented on #499
@adamsitnik, could you take a look?

[2017-07-21 07:48] adamsitnik commented on #498
Hi!

This is by design, as you can see we have even a dedicated message for that:

`Most probably the name of output exe is different than the name of the .(c/f)sproj`

Why is that? We need to somehow find the csproj file that we want to reference. At the time of benchmark execution we know only the name of the assembly that defines benchmarks. This is why we search for csproj/fsproj with exact sa

[2017-07-21 07:48] #498 closed

[2017-07-21 08:07] adamsitnik commented on #499
Hi @davkean

Thanks for trying BenchmarkDotNet!

We generate new process and we also copy and modify the app.config file. For example we support comparing different JITs performance by setting:

[code]

in the app.config file.

To keep the copying simple, so far we were [removing](https://github.com/dotnet/BenchmarkDotNet/blob/2596471b01083580889b2e8b2de3d8644fb75d55/src/BenchmarkDotNet.Core/Toolc

[2017-07-21 08:25] adamsitnik commented on #499
@davkean

I have changed our default behavior, all custom `<runtime>` setting are rewritten by default from now. As soon as [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.8.252) build finishes you should be able to download new package `0.10.8.252` from our CI feed.

[code]

But we still have no answer why `AppContext.SetSwitch("Switch.System.IO.UseLegacyPathHan

[2017-07-21 14:41] AndreyAkinshin commented on #448
I made some changaes, now the summary has the following form:

[code]

[2017-07-21 14:51] adamsitnik commented on #448
great!

[2017-07-21 16:27] AndreyAkinshin opened #500 "Borken compilation for net46 projects when .NET Framework 4.7 is installed"
Environment: Windows with .NET Framework 4.7, net46 project, Job.Clr.
Failed test: `MultipleRuntimesTest.SingleBenchmarkCanBeExecutedForMultpleRuntimes`

[code]

@adamsitnik, could you take a look?

[2017-07-21 23:31] smitpatel commented on #498
@adamsitnik - That's what I suspected. Thanks for info.

[2017-07-24 04:33] Lothy opened #502 "Question: Is there a way I can configure the benchmarks to run really quickly so that I can leverage MemoryDiagnoser?"
Hi everyone,

I'd like to write a suite of tests purely to verify that methods I've written do not make heap allocations.
Utilising BenchmarkDotNet's MemoryDiagnoser seems like an easy way to achieve this.

However benchmarks can take minutes to run, which is not ideal when I'm only after the memory usage insights.

Is there a way that I can configure my benchmarks such that they're only executed

[2017-07-24 17:23] adamsitnik commented on #502
hi @Lothy

We always run separate run for the accurate time measurements and another one for diagnosers (they could affect the results).

You should be able to use MemoryDiagnoser with our `InProcessToolchain` which does not build and rune separate process for every benchmark. Then if it is still too long you can play with the [settings](InProcessToolchain) to reduce the time. @ig-sinicyn could te

[2017-07-24 17:37] ig-sinicyn commented on #502
@Lothy
Hi! Yes, it's should be possible to perform short runs using `InProcessToolchain` together with job with hardcoded iteration count / target count.

Something like this:
[code]

If you want to perform checks on a regular basis you may also try [CodeJam.PerfTests](https://github.com/rsdn/codeJam/issues/35) project. As example of perftest that checks some allocations:
[code]

Please note that

[2017-07-25 01:27] smitpatel commented on #481
https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Templates/BenchmarkProgram.txt#L120
Here is the issue. `IterationCleanup` is being called before `Jitting()` Perhaps it does not occur for Monitoring due to `Jitting()` not being called. I believe the IterationCleanup should be called after `Jitting()`

For me the use case is like this,
I am creating an object during `I

[2017-07-25 03:41] daybson opened #504 "How to read the results"
My class MyBenchmarkContainer contains 10 [Benchmark] methods. When I execute only the first method and comment the others, it gives me a time 20ns. When I execute all 10 methods, the first one becomes 100x slower, like 20.000,00ns.  Why is this happening? The methods do not call each other. I'm using all default configurations.

[2017-07-25 07:33] adamsitnik commented on #495
hi @smitpatel !

Thanks for a good report. I think that you are right, the expected behavior is different than what we have today.

@AndreyAkinshin do you agree? It should be easy to implement

[2017-07-25 09:35] #481 closed

[2017-07-25 09:47] adamsitnik commented on #504
Hello @daybson

Could you upload your results for both runs to [https://gist.github.com/](https://gist.github.com/)? They are in BenchmarkDotNet.Artifacts folder.

It seems like a formatting issue (it's always 20ns, but when you have more benchmarks they are scaled to common time unit)

[2017-07-25 10:27] AndreyAkinshin commented on #495
@adamsitnik, LGTM.

[2017-07-25 17:47] smitpatel commented on #481
@adamsitnik - Thanks for quick response. Is there an estimate when 0.10.9 will make it to NuGet?

[2017-07-25 19:26] AndreyAkinshin commented on #481
@smitpatel, I want to release next version on this week.

[2017-07-25 19:39] adamsitnik commented on #481
@smitpatel you get can it today from our CI feed:

[code]

[2017-07-25 20:03] daybson commented on #504
You are right. It's the formating.  Kind of anoying because it gives me 19,260.6 ns in the .csv, and the comma thousand is not well recognized on Excel when I change the cell from Generic to Number. The better approach should be 19.260,6 ns, or remove for once the thousand digit separator.

Other doubt: what does it means the column Gen0, Gen1? And where can I find more explanation about each kind

[2017-07-26 00:50] codebrain opened #505 "JsonExporterBase doesn't include MemoryDiagnoser stats in output"
This line never evaluates to `true`:
https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Exporters/Json/JsonExporterBase.cs#L65

I've tried many different ways of including the MemoryDiagnoser, but with no luck.

Check out https://github.com/elastic/elasticsearch-net/tree/feature/master-profiling-benchmarking

In the end, I went with a custom JSON exporter

https://githu

[2017-07-26 08:34] adamsitnik commented on #505
Hi @codebrain

This has been already fixed by @Teknikaali in #453

The problem is that it has not has not been released yet. It's going to be a part of 0.10.9. You are [using](https://github.com/elastic/elasticsearch-net/blob/feature/master-profiling-benchmarking/src/Tests/Tests.csproj#L39) 0.10.8 which does not contain the fix.

You can either wait for 0.10.9 release (should be end of this week)

[2017-07-26 08:34] #505 closed

[2017-07-26 08:42] adamsitnik commented on #504
The problem with csv is a never ending story. I believe that we use the right separators.

I described it on my [blog](http://adamsitnik.com/the-new-Memory-Diagnoser/#how-to-read-the-results)

At the end of runs we display a legend:

[code]

I can recommend you [this](https://github.com/adamsitnik/StateOfTheDotNetPerformance) project, [my blog](http://adamsitnik.com) and Andrey's [blog](http://aak

[2017-07-26 08:50] AndreyAkinshin commented on #504
I will check the csv exporter.

[2017-07-28 08:39] Lothy commented on #502
Hi @adamsitnik , @ig-sinicyn ,

I've just gotten back to this!
Thanks for taking the time to reply, and sorry for my own belated reply.

I took the example code and reduced the iteration counts further to get this result:

[code]
 |                Method |       Mean |      Error |     StdDev | Scaled | ScaledSD | Allocated |
 |---------------------- |-----------:|-----------:|-----------:|-------

[2017-07-28 09:06] adamsitnik commented on #502
@Lothy I am glad to hear that!

Have a nice weekend too!

[2017-07-28 09:06] #502 closed

[2017-07-28 13:17] AndreyAkinshin commented on #469
Fixed in #501

[2017-07-28 13:17] #469 closed

[2017-07-28 13:20] #448 closed

[2017-07-28 13:21] AndreyAkinshin commented on #499
@adamsitnik, can we close this issue now?

[2017-07-28 13:27] #499 closed

[2017-07-29 16:19] AndreyAkinshin opened #509 "Better formatting for the Scaled column"
Subj: https://twitter.com/Nick_Craver/status/891321344364883969

If there are values in the Scaled column which are too small (like 0.02-0.01 or less), the amount of digits after the decimal point should be automatically increased.

[2017-07-29 16:32] lukasz-pyrzyk commented on #364
There is a possibility to list all antivirus software using [WMI](https://msdn.microsoft.com/en-us/library/aa384642(v=vs.85).aspx), however probably it won't work on .NET Core. Need to check it.

What do you think about adding warning about active antivirus to the [EnvironmentAnalyzer](https://github.com/dotnet/BenchmarkDotNet/blob/e31872d1e521da27d46a919a58fb29253562e56a/BenchmarkDotNet/Analysers

[2017-07-29 16:37] lukasz-pyrzyk commented on #167
I have an idea how to do it,. Can you assign me to this feature?

[2017-07-29 17:04] AndreyAkinshin commented on #364
A warning doesn't solve the problem, but it would be much better than incomprehensible crash. So, PR is welcome.

[2017-07-29 17:09] lukasz-pyrzyk commented on #364
Totally agree, however i don't have enough knowledge about the project so i would like to do it in small steps. Thanks for comment, I will work on the PR

[2017-07-29 17:10] AndreyAkinshin commented on #167
@lukasz-pyrzyk, great! I removed the up-for-grabs issue and send you an invitation to be a collaborator (I need it to put you in the assignees field). Looking forward to the PR.

[2017-07-30 11:33] ig-sinicyn opened #511 "[bug] Bug in GetTargetedMatchingMethod() logic"
BDN 0.10.9.

The `BenchmarkConverter.GetTargetedMatchingMethod()` [method](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Running/BenchmarkConverter.cs#L93-L102) depends on order of methods passed to it, first match wins.

The issue is, there is no warranty that setup/cleanup method with matching `Target` will be enumerated before  setup/cleanup method with empty ta

[2017-07-30 11:37] AndreyAkinshin commented on #511
/cc @ipjohnson

[2017-07-30 12:00] ipjohnson commented on #511
I hadn't gone down the road of Targeted and non Targeted in the same benchmark.

It seems like there are two ways to handle this
1) throw an exception as not supported (go one way or the other)
2) treat it as a fallback like what @ig-sinicyn filled a bug on.

Let me know which behavior is preferred and I can put in a pr in the coming days

[2017-07-31 12:21] AndreyAkinshin commented on #511
I think that benchmarks which have Target and NonTarget setups at the same time look confusing. So, I suggest to show error about invalid configuration and don't run any of benchmarks.
@ig-sinicyn, @adamsitnik, what do you think?

[2017-07-31 12:27] ig-sinicyn commented on #511
I'd prefer to follow standard approach: most specific setup wins.
This way there will be no need to include 10 setup/cleanup methods if there are 10 benchmark methods, 9 methods reuse same logic and only one needs special handling.

[2017-07-31 12:36] AndreyAkinshin commented on #511
Ok, makes sense.

It looks too strange.

[2017-07-31 14:19] ipjohnson commented on #511
@AndreyAkinshin to summarize I'll put together a PR that allows a targeted setup/cleanup to override a non targeted.

To make things more deterministic I'll add code to throw an exception if there are to many setup/cleanup methods found.

[2017-07-31 18:27] adamsitnik commented on #511
I believe that:

1. More than one targeted setup/cleanup matches the benchmark = fail with error
2. One targeted and one general setup/cleanup matches the benchmark = choose the targeted

@ipjohnson we have thing called validators that you can reuse. They are being run before benchmark execution and if you return a critical validation error no benchmark is being executed. [Example](https://github.

[2017-07-31 18:43] ipjohnson commented on #511
@adamsitnik I should create a new validator, something like SetupCleanupValidator apply the logic you just outlined. Should this validator be added to DefaultConfig and CompositeValidator?

[2017-07-31 18:52] adamsitnik commented on #511
@ipjohnson exactly. Thanks for doing this!!

[2017-08-01 10:51] peter-takacs commented on #399
Hi,

I recently encountered a similar issue using .NET Core 2 preview, Visual Studio 2017 15.3 preview 6 and BenchmarkDotNet 0.10.9.

I managed to track it down to the fact that during a previous run of BDN that was aborted, no cleanup was performed, so `project.json` files generated by BDN remained within the directory tree of the solution.
This made BDN think that I am using `.json` files for my

[2017-08-01 11:38] adamsitnik commented on #399
@peter-takacs wow, thanks for tracking this down!

I think that we can just remove the `project.json` support. I will ask on Twitter if anybody is still using it.

[2017-08-02 00:00] pakrym opened #513 "IterationSetup not run in Job.InProcess"
### Repro:

[code]
### Expected:

Successful run.

### Actual:

[code]

[2017-08-02 06:33] lukasz-pyrzyk commented on #495
@AndreyAkinshin can you assign it to me?

I have done it locally, but I think of a suitable unit test.

[2017-08-02 06:47] AndreyAkinshin commented on #495
@lukasz-pyrzyk, assigned.

A short note about unit tests: usually we check such stuff via integration tests which is wrong (we do because it's the easiest way). The main problem here is that it significantly increases the total time of the whole test suite (especially for .NET Core profile).
In fact, we should introduce tests which build the benchmark sets via our API (based on the class descripti

[2017-08-02 07:26] AndreyAkinshin commented on #513
/cc @ig-sinicyn

[2017-08-02 07:48] ig-sinicyn commented on #513
@AndreyAkinshin
Will look sometime later today. I'm quite busy right now, sorry:)

[2017-08-02 10:05] #495 closed

[2017-08-02 18:42] ig-sinicyn commented on #513
Done. BTW, why BenchmarkProgram.txt uses null-conditional operators to call the setup/cleanup methods?[as example](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Templates/BenchmarkProgram.txt#L118-L119):
[code]

[2017-08-03 07:13] #513 closed

[2017-08-03 07:17] AndreyAkinshin commented on #513
@ig-sinicyn I guess setup/cleanup actions were null in case of the absence of the corresponded attributes (in early versions of the setup/cleanup stuff). Probably, we can safely remove `?` here (it should be checked first).

[2017-08-03 09:21] davkean opened #516 "Get a compilation error "CS1009: Unrecognized escape sequence" when using verbatim strings"
[code]

[code]

[2017-08-03 09:56] davkean commented on #516
Hmm, I can't get this to work even if I change the verbatim string to escape sequence.

[2017-08-03 10:01] AndreyAkinshin commented on #516
Hey @davkean, thanks for the report. The problem is: we use params values as parts of generated filenames (without escaping, unfortunately). Will fix it soon. For now, I can suggest the following workaround:
[code]

[2017-08-03 10:02] davkean commented on #516
Thanks for the quick reply and workaround!

[2017-08-03 20:21] szahn opened #517 "error CS0579: Duplicate 'System.Reflection.AssemblyCompanyAttribute' attribute"
I have several classes with benchmarks running in .net core. Only the CouchDbBenchmarks class throws a duplicate attribute exception.

CouchDbBenchmarks.cs
[code]

Logs:
[code]

[2017-08-05 06:37] hygehyge opened #519 "BenchmarkSwitcher.RunAllJoined throws InvalidOperationException"
When I create some benchmark classes and run them via BenchmarkSwitcher.RunAllJoined, it throws InvalidOperationException.
BenchmarkDotnet version is 0.10.9.

[code]

[2017-08-07 13:02] #516 closed

[2017-08-07 13:03] AndreyAkinshin commented on #516
@davkean, I added some escaping magic, the fix will be available in `v0.10.10`.

[2017-08-07 14:31] AndreyAkinshin opened #521 "Support async Setup/Cleanup"

[2017-08-07 14:31] AndreyAkinshin commented on #521
Related issue: https://github.com/dotnet/BenchmarkDotNet/issues/517

[2017-08-07 14:32] AndreyAkinshin commented on #517
Hey @szahn, thanks for the bug report.

I tried your example, but I can't reproduce the "Duplicate attribute" exception. Probably, you have some problems in your csproj. Could you provide all files which you have in your project?

However, there is another issue here: BenchmarkDotNet doesn't support async Setup/Cleanup for now. I created a separate issue about it: https://github.com/dotnet/Benchma

[2017-08-07 14:44] #519 closed

[2017-08-07 14:47] AndreyAkinshin commented on #519
Hey @hygehyge,

thanks for the report, the problem is fixed now, the fix will be released in v0.10.10.
Now you can use our nightly feed (version 0.10.9.271).

See
* https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.9.271
* http://benchmarkdotnet.org/Guides/NuGet.htm#nightly

[2017-08-07 15:13] Ky7m opened #522 "[Proposal][Enhancement] Integrate SonarQube for continuous code quality."
What do you think about integration with [SonarQube](https://www.sonarqube.org/)?
**BenchmarkDotNet** is a very mature project and code quality is on excellent level as well but I think that would be good to have tool that tracks a monitors code quality on regular basis.
As start point it can be SonarQube with customized ruleset.
Example of dashboard and code analysis https://sonarcloud.io/dashboa

[2017-08-07 22:46] hygehyge commented on #519
Thanks for quick update.
I'll try nightly build later.

[2017-08-07 23:07] jschneidereit opened #523 "Add support for stats on benchmark return result"
I believe it would be useful to have the same statistical analysis that is performed on benchmark timing on a numeric return type of a benchmark method `float`, `double`, `int`, etc.

Certain implementations of certain algorithms can be more or less accurate based on the parameters and therefore the return result of my benchmark is important data.
E.g.: Let's say I have an algorithm to find the ar

[2017-08-08 03:31] davkean commented on #516
👍

[2017-08-09 20:08] cdmihai opened #524 "IgnoreUnknownArguments does not work for values"
Given the following snippet where `ParserSettings.IgnoreUnknownArguments = false`:
[code]

And given the invocation:
`app.exe bogus args`

I would expect the parser to error out saying it does not understand the unknown arguments `bogus args`.
Instead, it does not error out.

Context: I have an optional argument (e.g. `-a value`) and I had forgotten to type in the argument name (`-a`), I typed in

[2017-08-09 20:12] adamsitnik commented on #524
@cdmihai Wrong repo? ;)

[2017-08-09 20:12] cdmihai commented on #524
Yes. Sorry about that :)

[2017-08-09 20:12] #524 closed

[2017-08-13 07:30] adamsitnik opened #526 "Remove project.json support"
As reported by @peter-takacs [here](https://github.com/dotnet/BenchmarkDotNet/issues/399#issuecomment-319337301) the way we used to determine if project.json or .csproj should be used can cause some bugs when user interrupts benchmark run with ctrl+c.

I [asked](https://twitter.com/SitnikAdam/status/892349111244115969) on Twitter and only single person is still using it, but he is fine with the re

[2017-08-13 07:31] #526 closed

[2017-08-13 07:32] adamsitnik commented on #399
@peter-takacs I created #526 for it and already removed the project.json support. Thanks for help!

[2017-08-15 05:51] dahvid commented on #399
I'm still using it!  The dotnet migrate, just erases all my project.json files (with backups) and then writes blank .csproject files.  If you do get rid of them, I still need a way to build my app from a command line.  It's part of a Docker build process.

[2017-08-18 10:11] nietras commented on #437
Saw @adamsitnik  blog post http://adamsitnik.com/Disassembly-Diagnoser/ this is absolutely awesome! 😃

[2017-08-18 10:20] nietras commented on #437
Remember to close this with the PR when it gets in if not already. If already a link to PR would be good.

[2017-08-18 16:20] adamsitnik commented on #437
@nietras thanks!

I am going to close this issue as soon as I write the documentation (should be this weekend)

btw [here](https://github.com/dotnet/BenchmarkDotNet/commit/647a6745da75bf3893f2e9b7ec35b3ff20a14caa) is the merge commit and [here](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Disassembler.x64/Program.cs) you can find the most important part.

[2017-08-18 16:26] adamsitnik commented on #160
Fixed with [this](https://github.com/dotnet/BenchmarkDotNet/commit/647a6745da75bf3893f2e9b7ec35b3ff20a14caa) commit

[2017-08-18 16:26] #160 closed

[2017-08-19 07:19] jskeet opened #529 "No namespace in export filenames can lead to data loss"
Yesterday I added benchmarks to NodaTime for a type, NodaTime.TimeZones.StandardDaylightAlternatingMap. I put the benchmarks in  the NodaTime.Benchmarks.NodaTimeTests.TimeZones namespace.

As it happens, I already *had* some benchmarks for that type, in the NodaTime.Benchmarks.NodaTimeTests namespace. When I looked at the results of my overnight run, only the new tests existed. That's because the

[2017-08-20 16:41] AndreyAkinshin commented on #522
@Ky7m, thanks for the kind words about our code quality. Unfortunately, we have a lot of bad code because of some legacy reasons. I want to clean up it, but we have some unmerged branches now, and @adamsitnik and I should make some decision about it before the clean up (otherwise it will be impossible to merge).

Next, to be honest, the SonarQube report looks strange to me. Most of the errors in t

[2017-08-20 16:52] AndreyAkinshin commented on #523
Hey @jschneidereit,

We don't support such feature by design: BenchmarkDotNet supposes that the return value can be used only for preventing dead code elimination. Everyone who ask about an additional column for benchmark result has own needs, and it's really hard to implement a general approach which will make everyone happy and doesn't introduce additional troubles for common benchmarking scenar

[2017-08-20 16:52] #523 closed

[2017-08-20 16:58] AndreyAkinshin commented on #529
Hey @jskeet, thanks for the report.

I think we always should use fully qualified names for all benchmarks without additional exporter options.

[2017-08-20 17:57] Ky7m commented on #522
@AndreyAkinshin, thank you for your response and entire picture. In this case, it makes a perfect sense and SonarQube is not the best candidate.
Instead of SonarQube, it is possible to integrate [JetBrains.ReSharper.CommandLineTools](https://www.nuget.org/packages/JetBrains.ReSharper.CommandLineTools) or any other tool, just let me know.
I think that we can close this particular issue.

[2017-08-20 18:11] AndreyAkinshin commented on #522
Yeah, CommandLineTools looks like a good option. But it will be useless without the huge clean up. So, I will create another issue as soon as I get the clean code base.

[2017-08-20 18:11] #522 closed

[2017-08-20 19:08] Ky7m opened #530 "Build error on Appveyor with recent changes."
After recent changes there is build issue on Windows platfrom:
[code]
It is also reproducible on local environment with the latest changes:
[code]
If I remove `--no-build` argument error doesn't appear. **--no-build** flag means that do not build the test project prior to running it. It was added as optimization to save time because we build entire solution on previous step.
Without `--no-build` e

[2017-08-20 19:32] adamsitnik commented on #530
@Ky7m big thanks for spotting this!

I am quite surprised with this error: my changes went [green](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.9.281) and after this we started getting [red](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.9.282-imppaqbr) ones. I am suprised because we get a timeout on AppVeyour:

I would expect the build t

[2017-08-20 20:41] Ky7m commented on #530
@adamsitnik, PR is ready.

[2017-08-21 05:19] #530 closed

[2017-08-22 13:55] adamsitnik commented on #437
I added the docs, simplified installation process and added the navigable html exporter. I am done ;)

[2017-08-22 13:55] #437 closed

[2017-08-22 16:57] nietras commented on #437
Awesome, great work! 👍

[2017-08-25 13:12] adamsitnik commented on #175
TraceEvent has been ported to [.NET Core](https://github.com/Microsoft/perfview/issues/165).

I am waiting for the NuGet package now.

[2017-08-25 17:42] dls314 opened #533 "When I clone, build, and run BenchmarkDotNet.Samples I get an error"
Hi,

I am having trouble getting started on a project of my own, and I decided to clone, build, and run BenchmarkDotNet.Samples.

I get a similar error in the output log for this as I get for the project of my own.

I think the relevant error is this one:

[code]

The whole log is here:
[Algo_BitCount.log.txt](https://github.com/dotnet/BenchmarkDotNet/files/1252569/Algo_BitCount.log.txt)

[2017-08-26 09:23] adamsitnik commented on #533
hi @dls314

Thanks for a well described bug report!

I have spotted the problem. You are running the latest SDK which by default targets **32 bit RyuJit** for .NET Core. It's very new thing, we supported only the 64 bit RyuJit so far.

I will download it and see what I can do.

[2017-08-26 10:49] adamsitnik commented on #533
Ok, I am able to reproduce.

Steps to reproduce:

1. [Install](https://download.microsoft.com/download/0/F/D/0FD852A4-7EA1-4E2A-983A-0484AC19B92C/dotnet-sdk-2.0.0-win-x86.exe) x86 .NET Core Sdk
2. [Install](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x86.exe) x86 dotnet cli
2. Change the `Path` variable, make x86 one the default dotnet

![image](https://user-ima

[2017-08-26 10:50] adamsitnik commented on #533
@dls314 Before I get more into the details and have the fix ready you can install x64 SDK and make it the defualt one (move it up in the Path variable)

[2017-08-26 11:15] dls314 commented on #533
Thanks! I'll do that, I don't need to be using the x86 sdk

[2017-08-26 11:59] #310 closed

[2017-08-26 11:59] #533 closed

[2017-08-26 12:12] adamsitnik commented on #533
@dls314 I have added the support for x86 RyuJit. As soon as [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.9.286) build finishes you can download package with the fix from our CI feed:

[code]

[2017-08-26 12:16] adamsitnik opened #534 "Allow the users to compare 32 vs 64 RyuJit for .NET Core"
As of now if the default .NET Sdk is configured to x86, then the user can run only x86 benchmarks. So no 32 vs 64 with single config ;(

I have reported the issue at [dotnet cli](https://github.com/dotnet/cli/issues/7532) repo.

The only idea I have now is to ask the user to provide the custom path for dotnet cli. But I don't want to do it that way..

[2017-08-27 08:55] AndreyAkinshin commented on #310
@adamsitnik, please check the appveyor build, it's red after your last commit.

[2017-08-28 09:52] adamsitnik commented on #310
@AndreyAkinshin sorry!

btw the reason for fail:

Previously we were hardcoding x64 for .NET Core benchmarks. Now it's configurable.

But when the Platform is not specified we take the default value. The default is AnyCpu, but it's overwritten by `EnvResolver`, which registers the host process platform as the default (`Register(EnvMode.PlatformCharacteristic, RuntimeInformation.GetCurrentPlatform)

[2017-08-28 10:11] AndreyAkinshin commented on #310
An idea about the "x86 vs x32" .NET Core problem: we can detect all available `dotnet.exe` (e.g. via `where dotnet`, it [should be](https://stackoverflow.com/a/304447/184842) available on all modern versions of Windows). Next, we can check the architecture of each `dotnext.exe` (e.g. [like this](https://stackoverflow.com/a/885481/184842), it works perfectly for `C:\Program Files\dotnet\dotnet.exe`

[2017-08-28 10:18] AndreyAkinshin commented on #534
An idea about the "x86 vs x32" .NET Core problem: we can detect all available `dotnet.exe` (e.g. via `where dotnet`, it [should be](https://stackoverflow.com/a/304447/184842) available on all modern versions of Windows). Next, we can check the architecture of each `dotnext.exe` (e.g. [like this](https://stackoverflow.com/a/885481/184842), it works perfectly for `C:\Program Files\dotnet\dotnet.exe`

[2017-08-28 10:19] AndreyAkinshin commented on #310
I copy-pasted the last comment to https://github.com/dotnet/BenchmarkDotNet/issues/534, let's continue this discussion there.

[2017-08-28 10:20] adamsitnik commented on #534
I would like to hear more from the dotnet cli team first. I created [issue](https://github.com/dotnet/cli/issues/7532#issuecomment-325154430) for that. If this problem can not be solved on dotnet cli level then we can try your idea or we could introduce similar param to what we did for Mono (custom path).

I had exactly the same problem with dnx, but with dnx it was possible to use dvvm to specify

[2017-08-30 19:23] JosephTremoulet opened #535 "No way to set RuntimeFrameworkVersion in multiple-version config"
I'm interested in comparing disassembly from specific preview drops of .NET Core against each other and .NET Core 2.0, so I tried using a config like this:

[code]

Then when running the benchmark, I see this:

[code]

`Job-XHPTDD` ran on a different preview build of NET Core 2.1 than what I requested (I have both installed).

It seems the `MicrosoftNETCoreAppVersion` set on the `NetCoreAppSetting

[2017-08-30 19:23] JosephTremoulet opened #536 "Strange disassembly ordering/truncation"
I'm looking at the disasm reported by the `DisassemblyDiagnoser`, and seeing some oddities.

Here's my benchmark class:

[code]

and I'm running against [Microsoft.NETCore.App 2.1.0-preview2-25628-01](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App/2.1.0-preview2-25628-01)

If I locally build a corresponding checked CoreCLR/RyuJIT, here's the disassembly for method `F

[2017-08-30 20:19] AndreyAkinshin commented on #536
@JosephTremoulet thank you very much for the report. The `DisassemblyDiagnoser` is a recent feature and you are one of our first users. It's great that you are trying to use it!
@adamsitnik, could you take a look?

[2017-08-30 21:25] #535 closed

[2017-08-30 21:31] adamsitnik commented on #535
Hi @JosephTremoulet

I have just pushed the fix. The two fields of `NetCoreAppSettings` that were previously used to generate `project.json`  got now removed. I just forgot to remove them after `project.json` abandon.

I have added new property, called `RuntimeFrameworkVersion` which generates the right thing.

You should be able to try it in 30 minutes when [this](https://ci.appveyor.com/project/

[2017-08-30 22:26] AndreyAkinshin commented on #535
@adamsitnik, thanks for the quick fix. Could you also update the docs and describe the new property? It can be useful for other people who try to work with different .NET Core versions.

[2017-08-30 22:28] adamsitnik commented on #536
@JosephTremoulet big thanks for giving it a try and reporting this bug!

I have fixed the ordering, but I will need to spend some more time for the missing return

[This build](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.9.289) contains the fix

Before (.NET Framework 4.7 (CLR 4.0.30319.42000), 64bit RyuJIT-v4.7.2101.1):

[code]

After:

[code]

[2017-08-30 22:29] JosephTremoulet commented on #535
@adamsitnik, yes, it works just like I'd hoped, thanks!

[2017-08-31 01:23] JosephTremoulet commented on #536
@adamsitnik sure, thanks for making it easy to get disassembly w/o custom builds!

[2017-08-31 10:22] #167 closed

[2017-08-31 12:28] adamsitnik commented on #536
@JosephTremoulet could you try it with our `0.10.9.289` package?

This is what I am getting now for .NET Framework 4.7 (CLR 4.0.30319.42000), 64bit RyuJIT-v4.7.2106.0:
`printPrologAndEpilog = false`

[code]
`printPrologAndEpilog = true`

[code]

[2017-08-31 16:22] JosephTremoulet commented on #536
@adamsitnik I see what you're seeing with .NET Framework 4.7, but I'm still seeing missing return with `0.10.9.290`, when I use .NET Core version `2.1.0-preview2-25628-01`.  I've copied the repro config/program up to a [gist](https://gist.github.com/JosephTremoulet/0c23ee869a3dcfcce63fc5d151dcd001), and here's a cmd script that will repro the issue (pulling down from the gist):

[code]

The report

[2017-08-31 22:06] #536 closed

[2017-08-31 22:12] adamsitnik commented on #536
@JosephTremoulet this is the best repro case I have ever seen! And the script itself is very useful.

I have tracked down and fixed this bug.

When using ClrMD I have assumed that every map without ILOffset was part of the prolog or epilog.

I was wrong, it turns out that there can be sth in the middle of the code (like the missing ret) without corresponding IL.

![image](https://user-images.githu

[2017-09-01 12:27] adamsitnik commented on #536
@JosephTremoulet I am sorry, previous build has failed. Package `0.10.9.292` contains the fix and is available at our CI feed.

[2017-09-01 16:03] JosephTremoulet commented on #536
@adamsitnik yep, looks perfect with `0.10.9.292`, thanks!

[2017-09-01 21:14] CheloXL opened #537 "Can't benchmark a netstandard2.0 project"
I'm getting the following error when trying to run the benchmark under .net core:

[code]

The project is configured as following:

`<TargetFrameworks>netcoreapp2.0;net462</TargetFrameworks>
		<RuntimeIdentifier>win7-x64</RuntimeIdentifier>
`

Please note that this very same project was working fine until I upgraded it to netstandard2.0

[2017-09-01 23:52] CheloXL commented on #485
Closing this issue. With the latest version this doesn't happens.

[2017-09-01 23:52] #485 closed

[2017-09-02 11:38] adamsitnik commented on #537
Hi @CheloXL

In BenchmarkDotNet we generate, build and run new project per every benchmark.

At some point of time we need to choose the target framework moniker (TFM).

When you are running your app with benchmark as .NET Core app, we just [check](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Toolchains/DotNetCli/NetCoreAppSettings.cs#L51) the version of `System.R

[2017-09-02 12:45] #537 closed

[2017-09-02 12:46] adamsitnik commented on #535
@AndreyAkinshin I added the docs for toolchains, [link](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/guide/Configs/Toolchains.md)

[2017-09-02 12:47] adamsitnik commented on #537
@CheloXL I added full explanation to our [docs](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/guide/Configs/Toolchains.md). If specifying the toolchain in an explicit way does not help please feel free to reopen this issue.

[2017-09-02 12:55] AndreyAkinshin commented on #535
@adamsitnik, awesome, thanks!
I guess it makes sense to release `v0.10.10` on the next week.

[2017-09-02 12:56] adamsitnik commented on #535
Good idea!

[2017-09-02 13:25] adamsitnik commented on #83
We have recently added json and xml support, #130  has been closed a long time ago. I am closing this one.

[2017-09-02 13:25] #83 closed

[2017-09-02 13:27] adamsitnik commented on #68
there was no progress for 8 months, so I made it up for grabs again

[2017-09-02 13:30] adamsitnik commented on #136
@AndreyAkinshin I believe that we should not implement this feature. We should focus on performance related things, we don't have enough time to implement this one.

People should use unit test frameworks to check the correctness, it's not our responsibility.

[2017-09-02 13:36] adamsitnik commented on #245
Closing, #190 and #198 will cover this case

[2017-09-02 13:36] #245 closed

[2017-09-02 13:38] adamsitnik commented on #248
It was release as part of `0.10.7`, I am closing this one

[2017-09-02 13:38] #248 closed

[2017-09-02 13:46] adamsitnik commented on #60
It will be tracked as part of #256

[2017-09-02 13:46] #60 closed

[2017-09-02 13:46] adamsitnik commented on #37
It will be tracked as part of #256

[2017-09-02 13:46] #37 closed

[2017-09-02 13:50] adamsitnik commented on #297
InProcessToolchain has been merged a long time ago, I am closing this one

[2017-09-02 13:50] #297 closed

[2017-09-02 14:04] adamsitnik commented on #299
@AndreyAkinshin was it implemented? I am not sure?

[2017-09-02 14:06] adamsitnik commented on #302
I think that it's already implemented, closing

[2017-09-02 14:06] #302 closed

[2017-09-02 14:12] adamsitnik commented on #317
Closing, will be tracked as part of #350

[2017-09-02 14:12] #317 closed

[2017-09-02 14:14] adamsitnik commented on #364
Fixed with #512

[2017-09-02 14:14] #364 closed

[2017-09-02 14:19] adamsitnik commented on #368
We have quite good [docs](http://benchmarkdotnet.org/Advanced/SetupAndCleanup.htm) about setup now. +cleanup and global/interation/targeted versions.

I am closing this one.

[2017-09-02 14:19] #368 closed

[2017-09-02 14:23] adamsitnik commented on #425
Custom paths is being tracked by #377
multithreading support #147

[2017-09-02 14:23] #425 closed

[2017-09-02 14:25] adamsitnik commented on #449
Unable to reproduce by @pgsin , no response for a long time from @DixonDs

I am closing as it's unable to reproduce

[2017-09-02 14:25] #449 closed

[2017-09-02 14:29] adamsitnik commented on #511
fiex by #525

[2017-09-02 14:29] #511 closed

[2017-09-02 14:30] adamsitnik commented on #517
@AndreyAkinshin was unable to reproduce, @szahn did not reply for a month.

I am closing this one (unable to reproduce)

[2017-09-02 14:30] #517 closed

[2017-09-02 15:55] AndreyAkinshin commented on #299
@adamsitnik, no.

[2017-09-02 16:57] CheloXL commented on #537
@adamsitnik Excellent!, thanks. Yes, that works!.

[2017-09-03 20:45] adamsitnik commented on #466
@xplicit sorry for the delay, here it is:

It's possible now, with new thing called `Arguments`. MsBuild argument does exactly what you need. Sample config:

[code]

With such config the `Benchmark` is going to be executed for both jobs.

As soon as [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.9.296) build finishes, you should be able to grab the latest NuGet

[2017-09-03 20:45] #466 closed

[2017-09-03 20:48] adamsitnik commented on #262
Done ;)

You can specify env variables or mono arguments per job now.

Example:

[code]

[code]

 | Method |               Job |          Arguments |       Mean |     Error |    StdDev |
 |------- |------------------ |------------------- |-----------:|----------:|----------:|
 | Sample | Inlining disabled | --optimize=-inline | 19.4252 ns | 0.4406 ns | 0.4525 ns |
 | Sample |  Inlining enabled |

[2017-09-03 20:50] adamsitnik commented on #262
For variables it's very similar:

[code]

[code]

[2017-09-03 20:52] adamsitnik commented on #262
@AndreyAkinshin I will add the docs tomorrow. And I will most probably also add .NET Core 2.0 target to BenchmarkDotNet. The problem is that `ProcessStartInfo.EnvironmentVariables` is available for .NET Core 2.0+. Our goal is to set runtime knobs for .NET Core, without support for .NET Core it makes less sense ;)

[2017-09-04 04:44] AndreyAkinshin commented on #262
Awesome!

[2017-09-04 15:18] CheloXL opened #538 "Duplicate using causing benchmark not to work"
I know this is an edge case, but...
I have a solution wide Directory.build.props in the root folder where all the solution projects are stored. One specific setting that the props file is changing is the `<TreatWarningsAsErrors>true</TreatWarningsAsErrors>`.
Now, if I try to run my benchmarks, they fail as there are duplicate usings in the autogenerated .cs files. Those duplications are usually sh

[2017-09-04 18:02] #538 closed

[2017-09-04 18:03] adamsitnik commented on #538
Fixed, you owe me a beer ;)

[2017-09-04 18:08] CheloXL commented on #538
I would gladly invite you more than one, if you come near where I live.. In the meanwhile, 🍺

[2017-09-04 20:19] lukasz-pyrzyk commented on #538
It looks like [beerware license](https://pl.wikipedia.org/wiki/Beerware) :beers:

[2017-09-05 06:42] adamsitnik opened #539 "Target .NET Core 2.0 to take advantage of the new APIs"

[2017-09-05 07:12] AndreyAkinshin commented on #539
@adamsitnik, how are you going to implement it? I think we should continue to support .NET Core 1.1 (but we also can target .NET Core 2.0 as well and use new API when it's possible).

[2017-09-05 07:14] adamsitnik commented on #539
@AndreyAkinshin .NET Core 1.1 support remains untouched, I am just adding .NET Core 2.0 target and changing few `#if` defs from `#if CLASSIC` to `#if NETCOREAPP1_1`

[2017-09-05 09:34] #500 closed

[2017-09-05 11:26] adamsitnik commented on #539
@AndreyAkinshin We have a problem ;)

Since I added new target we run tests not only for .NET 4.6 and .NET Core 1.1 but also .NET Core 2.0 ;)

Which leads to timeouts.

There is no big difference between 1.1 and 2.0. Should we always run tests for both? I am not sure.

@AndreyAkinshin what do you think?

[2017-09-05 11:30] AndreyAkinshin commented on #539
@adamsitnik, I think it makes sense to run general tests on .NET Core 2.0 only; and toolchain-specific tests on both (to be sure that we still support .NET Core 1.1).

[2017-09-05 11:32] adamsitnik commented on #539
@AndreyAkinshin very reasonable! I will try to edit the tests scripts after work and make the build green again ;)

[2017-09-05 14:57] Mpdreamz commented on #539
@adamsitnik perhaps a silly question but why is BenchMarkDotNet targetting `netcoreappX.X` and not `netstandardX.X`

[2017-09-05 20:40] adamsitnik commented on #539
@Mpdreamz Actually it's a very good question!

## Today

We genereate, build and compile new exe for every benchmark.  We know how to get it done for .NET, Mono and .NET Core, but not for the entire .NET Standard (no Xamarin, UWP or .NET Native support). This is why we are framework specific.

We try to take advantage of that by using some platform-specific APIs like `ManagementObjectSearcher` to

[2017-09-05 20:57] adamsitnik commented on #539
@Ky7m Hello Igor!

You have done a tremendous job to port BenchmarkDotNet to cake. But now I need your help.

I have just added new TFM: netcoreapp2.0.  We want to run all of our tests for .NET 4.6 and .NET Core 2.0.

The problem is that we would like to run only some of our tests for .NET Core 1.1:

- [MultipleRuntimesTest](https://github.com/dotnet/BenchmarkDotNet/blob/master/tests/BenchmarkDotN

[2017-09-05 21:05] Ky7m commented on #539
@adamsitnik Hello Adam!
It was my pleasure. There are different ways and I would like to take some time to propose an optimal solution.
To be on the same page, can you list arguments for `--filter` tests that should be run against .NET Core 1.1.

[2017-09-05 21:17] adamsitnik commented on #539
@Ky7m great!

with dotnet cli it's: `dotnet test --filter "FullyQualifiedName=Namespace.ClassName.MethodName"`

So in our case it would be:
`dotnet test -c Release -f netcoreapp1.1 --filter "FullyQualifiedName~BenchmarkDotNet.IntegrationTests.MultipleRuntimesTest"`
`dotnet test -c Release -f netcoreapp1.1 --filter "FullyQualifiedName~BenchmarkDotNet.IntegrationTests.DisassemblyDiagnoserTests"`
`do

[2017-09-06 08:59] AndreyAkinshin commented on #539
@adamsitnik I think we have to introduce a new category so we will be able to maintain such methods from the source code. We should not have any information about test names in the build scripts.

[2017-09-06 09:33] Mpdreamz commented on #539
@adamsitnik thanks, that makes sense! `</threadhijack>`

[2017-09-06 11:32] adamsitnik commented on #539
@AndreyAkinshin It depends if it's easy to filter the tests by category with dotnet cli. I am not sure about that.

The other solution could be to create new project, let's say "BackwardCompatibilityTests" which would target .NET 4.6, Core 1.1 and Core 2.0 and move these 3 classes to this project.

@AndreyAkinshin What do you think?

[2017-09-06 11:39] Ky7m commented on #539
Regarding an ability to filter tests by category, it can be achieved:
[code]
and to run only tests from this category you can use next command:
`dotnet test --filter Category=BackwardCompatibilityTests`

[2017-09-06 17:01] adamsitnik commented on #539
The build is green again ;)

[code]

[2017-09-06 17:01] #539 closed

[2017-09-06 17:26] Ky7m commented on #539
@adamsitnik great done!
From the timeline, I see that tests are still close to 1-hour limit.
By the way, I do not know why `SlowTestsNetCore2` take much more than `SlowTestsNet46` group, for example. Any thoughts?
/cc @AndreyAkinshin

[2017-09-06 17:48] adamsitnik commented on #539
@Ky7m For .NET 4.6 we use Roslyn for compilation. For .NET Core we use dotnet cli. So we run dotnet restore and dotnet build as new processes. It takes much more time ;/

[2017-09-06 18:49] #262 closed

[2017-09-07 13:13] AndreyAkinshin opened #540 "Artifacts for disassembler projects"
Right now disassembler projects produce NuGet packages as artifacts on appveyor: https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.9.302/artifacts
@adamsitnik, am I right that we need these projects only on the build stage and these projects shouldn't produce public artifacts?

[2017-09-07 13:27] #540 closed

[2017-09-07 14:26] AndreyAkinshin opened #541 "Mono Support for DisassemblyDiagnoser"
Consider the following benchmarks:
[code]
Here are my disasm results on Linux and Windows:
![simple-linux](https://user-images.githubusercontent.com/2259237/30168252-84fa238a-93f1-11e7-959c-fb62cbd89760.png)
![simple-windows](https://user-images.githubusercontent.com/2259237/30168256-88f36ff0-93f1-11e7-8a97-5c55ad05df3e.png)
It doesn't look like a correct results.

[2017-09-07 14:30] AndreyAkinshin opened #542 "Problems with Disassembler + Job.Dry"
Consider the following benchmark:
[code]
I get this error all the time:
[code]
Artifacts:
[BenchmarkDotNet.Artifacts.zip](https://github.com/dotnet/BenchmarkDotNet/files/1285003/BenchmarkDotNet.Artifacts.zip)

[2017-09-07 17:49] adamsitnik commented on #542
@AndreyAkinshin most probably, for Job.Dry the benchmark ends before we even attach with ClrMD to the benchmarked process. It works fine with `Job.ShortRun`. I am not sure what could be done about that except of a warning

[2017-09-08 08:18] AndreyAkinshin commented on #542
@adamsitnik, yes, you are right, `ShortRun` works perfectly. And I understand it as a BenchmarkDotNet developer. But it still looks very strange from the user point of view. In fact, we don't need dozens of iterations to get the assembly code. If I don't want to actually benchmark my methods and I want only to get the assembly code, why do I need many iterations? `Job.Dry` looks like a good choice

[2017-09-08 09:29] adamsitnik commented on #542
@AndreyAkinshin I will add warning for 0.10.10 and try to play with process syncrhonization for 10.11

[2017-09-08 09:37] AndreyAkinshin commented on #542
Great, thanks!

[2017-09-10 11:52] #542 closed

[2017-09-10 11:54] adamsitnik opened #543 "Run Disassembly Diagnoser without extra run"
- [ ] Implement reliable diagnoser synchronization
- [ ] Attach Dissasembly Diagnoser after we are done benchmarking

[2017-09-10 11:54] adamsitnik commented on #542
Done, I opened #543 for the synchronization

[2017-09-10 13:09] adamsitnik commented on #534
Done.

Users are supposed to provide custom dotnet cli path. I did not implement any discovery because it would be hard to do it right and the gain would be very small.

Sample config:

[code]

Sample results:

[code]

 |           Method |        Job | Platform |  Toolchain | CallStopwatchTimestamp |     Mean |     Error |    StdDev |
 |----------------- |----------- |--------- |----------- |----

[2017-09-10 13:10] #534 closed

[2017-09-10 13:16] adamsitnik commented on #541
It's a bug, however I am afraid that I will not have any free time soon to fix it (I have 3 conferences next week). I am going to mark it as up-for-grabs.

[2017-09-10 13:20] adamsitnik commented on #541
How to fix the problem:

1. Compile the code provided by @AndreyAkinshin
2. Run `mono -v -v -v -v --compile $namespace.$typeName:$methodName $pathToExe`
3. Take it's output, add it as a new test to [this](https://github.com/dotnet/BenchmarkDotNet/blob/c6bbda4e1eb69218e7981d8aa2b0d59344c5ebaf/tests/BenchmarkDotNet.Tests/MonoDisassemblyOutputParserTests.cs#L8) class with tests
4. Modify our [parser]

[2017-09-10 14:14] adamsitnik opened #544 "Diff view for disassembler output"
From private conversation with @JosephTremoulet

Imho we should print the disasm in some smarter way and use some js library for having nice visualization of the diff

[2017-09-10 14:16] adamsitnik opened #545 "Add annotations for diassembler output"
From private conversation with @JosephTremoulet

[2017-09-10 14:18] adamsitnik opened #546 "Synthesizing labels for jump targets"
From private conversation with @JosephTremoulet

This should be easy ;)

[2017-09-11 15:09] AndreyAkinshin commented on #541
I will do it, thanks for the guide.

[2017-09-11 15:46] AndreyAkinshin commented on #541
@adamsitnik, current implementations of `MonoDisassembler` and `MonoDisassemblyOutputParserTests` look strange to me. Correct assembly code for `BenchmarkDotNet.Samples.CPU.Cpu_Atomics:NoLock` on my Linux+Mono5.2 is:
[code]
However, we expect only some intermediate lines:
[code]
Am I right that we parse only this stuff for now (without honest disasm)? Is it ok if I rewrite `MonoDisassembler` compl

[2017-09-11 15:51] AndreyAkinshin commented on #534
Great, thanks!
However, discovering still can be a great feature, it will allow making benchmarks more portable. Maybe we can create another up-for-grabs issue?

[2017-09-11 16:21] adamsitnik commented on #534
@AndreyAkinshin it would require handling Windows/Mac/Linux and custom paths. What if user has few dotnet cli installed? Which should we choose then?

It's possible to handle all of these situations but so far I was the only person that wanted to use it, the chance for having some contributor willing to impleament it (and do it correctly) is very low for me.

On the other hand, now we can allow pe

[2017-09-11 16:26] adamsitnik commented on #541
@AndreyAkinshin I started from trying `MONO_VERBOSE_METHOD` as suggested by Miguel. But on my machine (Windows 8 & 10, various Mono builds) I was always getting only the "intermidiate" diasm. This is why I implemented it that way.

I would be very happy if you can re-implement it in better way. But please make sure that it works on Windows in the same way.

[2017-09-11 16:28] AndreyAkinshin commented on #541
Ok, will do it.

[2017-09-12 10:37] AndreyAkinshin commented on #541
Unfortunately, it seems that it's impossible to implement a completely portable solution. Mono just uses external `objdump` and `as` tools. For example, on Mono 5.2+Windows, it just calls `x86_64-w64-mingw32-objdump.exe` (see https://github.com/mono/mono/blob/mono-5.2.0.215/mono/mini/helpers.c#L222). If you don't have it, you will not get the assembly code. We can detect such environments and prov

[2017-09-12 10:54] adamsitnik commented on #541
@AndreyAkinshin great explanation!

I agree, this is the best solution.

[2017-09-16 17:13] Teknikaali commented on #529
I dug around the code and this is what I discovered about exported files' naming conventions:

`Summary.Title` property is being used for **both** the _filename_ and the actual _title of the benchmark_.
Currently `Summary.Title` is generated by using `Type.Name`, but it could be change to `Type.FullName` to enable fully qualified filenames.

This change would cause a small side effect to the actua

[2017-09-17 11:06] adamsitnik commented on #529
@Teknikaali IMHO the best option would be to leave the `Summary.Title` untouched and use the `benchmar.Target.FullName` when creating files

@AndreyAkinshin what do you think?

[2017-09-17 15:49] Teknikaali commented on #529
@adamsitnik I think you're right, it should work nicely without any side effects if the `Benchmark.Target.Type.FullName` property would be used. I totally missed this this one!

This then leaves only one more question about the filename handling inside the `ExporterBase` class:
` BenchmarkRunnerCore.GetTitle(...)` is a method that parses the title from a _collection_ of `Benchmark`s.
If only targe

[2017-09-17 16:23] adamsitnik commented on #529
@Teknikaali yes, this looks like the best option

big thanks for doing this!

[2017-09-18 08:59] AndreyAkinshin commented on #529
@Teknikaali, LGTM

[2017-09-21 08:23] adamsitnik opened #550 "Improve the performance of BenchmarkDotNet"
Some of our users like @benaadams runs tons of benchmarks, which takes a lot of time ([example](https://gist.github.com/benaadams/c1ba6b686680bfb19de31f884674f5f2))

I have a lot of ideas for speed-up.

It includes:

1. Build everything in parallel first and then run each benchmark sequentially to keep the correctness
2. Make sure that only the diagnosers that really need an extra run perform an e

[2017-09-21 11:15] FSou1 opened #551 "List of structs and OutOfMemoryException"
I've tried to measure difference between lists with default and predefined capacity with next benchmark declaration:

[code]

`Point` is declared as struct:

[code]
Could you please clarify what is the root cause of next behavior:

The usage of `[SimpleJob(launchCount: 1, warmupCount: 1, targetCount: 1)]` didn't affect at all.

[2017-09-23 10:55] damageboy opened #553 "Suggestion: New BDN run mode that causes cache misses between iterations"
I got this "idea" from https://probablydance.com/2017/02/26/i-wrote-the-fastest-hashtable/

The basic premise of what @skarupke did is to get more realistic benchmark results by creating many thousands of identical test objects (dictionaries in that case) and call the benchmarked code on different instances on every invocation.

In this way every known cache has its worst performance exhibited (L1

[2017-09-25 07:56] #529 closed

[2017-09-25 13:58] adamsitnik commented on #553
@damageboy thanks for the idea, I really like it! The referenced blog post itself is really awesome!

@AndreyAkinshin what do you think?

I just wonder what would be the  best way of invalidating the cache without any manged allocations (to keep the rest of our code like MemoryDiagnoser working)

btw today it could be achieved by using the `[InterationSetup]` attribute ([docs](http://benchmarkdotn

[2017-09-25 14:53] Tornhoof opened #554 "Change filename of generated reports to allow for generic types"
## Steps to reproduce:
1. Create benchmark with abstract generic base class
2. Create benchmark types at runtime via ``MakeGenericType()`` (e.g. ``BaseClass<ClassA>``)
3. Run benchmark
## Expected result:
Filenames of the individual benchmarks are different
## Current result:
All filenames start with e.g. ``BaseClass`1`` and overwrite themselves.

Reason:
Currently Type.FullName is used for naming

[2017-09-25 16:59] Tornhoof commented on #554
Ok, short update from my side. '.' is a bad idea for a separator and atleast for my classes I run into path and file length problems.
Additionally the Title calculation needs to be adapted to also use GetCorrectTypeName().
I'll still provide the pull request for it, if you want it, otherwise it's way easier to simply create individual types for my generic types and apparently the problem does not

[2017-09-25 17:17] Tornhoof commented on #554
I'll close this.

[2017-09-25 17:17] #554 closed

[2017-09-25 19:32] Ky7m opened #555 "Test "CanDisassembleAllMethodCalls" fails on Ubuntu"
Test `CanDisassembleAllMethodCalls` with (jit: RyuJit, platform: X64, runtime: Core) parameters fails on Ubuntu
[code]
with following stacktrace:
[code]
More details:
https://travis-ci.org/Ky7m/BenchmarkDotNet/jobs/279612017#L5287

Issue is connected to [this code](https://github.com/dotnet/BenchmarkDotNet/blob/master/tests/BenchmarkDotNet.IntegrationTests/DisassemblyDiagnoserTests.cs#L79):
[code]

[2017-09-26 07:35] adamsitnik commented on #555
hello @Ky7m

it fails because the disassembler does not support non-Windows OS. So the fix would be to make the test run only on Windows

[2017-09-26 07:43] #555 closed

[2017-09-26 07:44] adamsitnik commented on #554
@Tornhoof thanks for trying! I had no idea that `MakeGenericType` could work ;p

[2017-09-26 08:05] AndreyAkinshin commented on #553
I also like this idea. I don't think that we have to introduce another run strategy, but we can introduce another bool characteristic (like `ColdCpuCache` or `InvalidateCpuCahe`). It doesn't make sense for throughput mode and microbenchmarks, but it can be very useful for ColdStart/Monitoring + macrobenchmarks.
And we don't need managed allocations for this feature, it will be enough to preallocat

[2017-09-26 08:35] AndreyAkinshin commented on #551
@FSou1, by default your benchmark shouldn't have any side effects because BenchmarkDotNet does a lot of iterations of the target methods. An iteration can include several invocations of the target method. If you don't specify the exact number, BenchmarkDotNet tries to choose the best number on the pilot stage.
The first iteration is 16 invocation which took 166181809ns. If you use the default conf

[2017-09-26 08:35] #551 closed

[2017-09-26 09:13] FSou1 commented on #551
@AndreyAkinshin this makes sense, but i haven't still figured out what should be the correct configuration/benchmark for the current example?

[2017-09-26 17:26] damageboy commented on #553
@AndreyAkinshin I agree about the L1/L2/L3 ideas you presented, but one point worth mentioning though is that your approach will not cleanup the TLB cache.
That might be less important, but still worth to mention....

For that, the only way is by allocating many *pages* and accessing them, much like L3 idea you presented.

@adamsitnik
As for not doing ANY managed allocation, it is possible to do t

[2017-09-26 19:46] redknightlois commented on #553
@AndreyAkinshin It is important for micro-benchmarking too. Most of the new algorithms we are working on are cache aware and vary their behavior over multiple iterations. So still makes sense to monitor the cold startup behavior even in micro-benchmark mode.

[2017-09-26 22:06] qbit86 opened #556 "Table in report is broken in VSCode markdown viewer"
Steps to reproduce: open `*-report-github.md` in Visual Studio Code, open markdown preview (Ctrl+Shift+V by default on Windows).

Observed result: columns in table body are shifted right comparing to table header.

This is probably the bug in VSCode parsing/rendering — they treat leading space character in a row as empty column. But it can be fixed on your side, if you will not output leading spac

[2017-09-27 12:09] michal-ciechan opened #557 "MemoryDiagnoser: Add GC.GetTotalMemory"
I am wondering whether or not you guys would be open to merging a pull request where the `GcStats` also collects how much memory is rooted, which in effect, would let you know how much the result object consumes, not just the total allocated bytes.

This would involve changing the `GcStats` `ReadInitial()` and `ReadFinal()` to include output of `GC.GetTotalMemory(true)` if an optional setting on `

[2017-09-27 15:56] adamsitnik commented on #557
@michal-ciechan hello Michał

Could you provide an example with an explanation which could take an advantage of this extra statistics?

I just try to understand the benefits.

[2017-09-27 16:53] pardahlman opened #558 "Question: troubleshooting benchmarks with issues"
Thanks for great work on `BenchmarkDotNet` 🎉 .

I'm probably doing something obviously wrong, but I can't figure out what.

I'm trying to run a very simple benchmark on .NETFramework 4.6.1. In fact, at this point it doesn't benchmark anything

[code]

The code is executed from within an xunit test through the `BenchmarkRunner` without any custom configuration

[code]

When running the benchmark I

[2017-09-27 17:59] michal-ciechan commented on #557
I'll try get an example together this week/weekend

Get Outlook for Android<https://aka.ms/ghei36>

From: Adam Sitnik
Sent: Wednesday, 27 September, 16:57
Subject: Re: [dotnet/BenchmarkDotNet] MemoryDiagnoser: Add GC.GetTotalMemory (#557)
To: dotnet/BenchmarkDotNet
Cc: michal-ciechan, Mention

@<https://github.com/michal-ciechan>michal<https://github.com/michal-ciechan>-ciechan<https://github.com/

[2017-09-27 19:40] pardahlman commented on #558
Hello again,

I've tried a few things to isolate this further. First of I switched computer 😄 . Further more I created a new solution and referenced `BenchmarkDotNet` and `xUnit` (and the console runner for the xUnit.) I have packaged this into a zip file that can be built and run. See attached.

To reproduce this behavior:
1. Extract zip file, restore and build solution
2. In the solution folder

[2017-09-27 19:44] pardahlman commented on #558
Hang on, looks like this works if I run it as a from a console app 🤔 . Any ideas why that is?

[2017-09-27 20:03] JosephTremoulet opened #559 "DissassemblyDiagnoser jit/arch info seems to be wrong"
I'm using build 0.10.9.313, running on .NET Core, with a config and BencmarkRunner invocation that look like so:

[code]

and using a csproj set to compile for these target frameworks like so:

[code]

When I run the app (with `dotnet run -c release -f netcoreapp2.1`), the console output shows that I am running using x64 RyuJIT, as I'd expect:

[code]

but the generated disassembly-report.html fil

[2017-09-27 20:05] JosephTremoulet opened #560 "Suggestion: markdown output for DisassemblyDiagnoser"
Same as with the overall report, it would be handy to have a markdown version generated alongside the html one, in case that happens to match the format where we want to report the output.

/cc @adamsitnik

[2017-09-27 20:29] adamsitnik commented on #558
Hello @pardahlman

You need to disable shadow copy. We are currently not supporting it and not planning to change it (due to many consequences, not because we don't like it)

[Here](https://xunit.github.io/docs/configuring-with-json.html) you can find the right setting for xunit

[2017-09-27 20:33] adamsitnik commented on #559
hello @JosephTremoulet

It's quite simple bug, you can ignore it and I am going to fix it tomorrow.

Our Jit enum has LegacyJit as the first (default) value, so if the user does not set Jit in explicit way and we use Jit property we get LegacyJit. It your case it's not affecting the asm, only the html shows wrong text.

Sorry for the inconvenience

[2017-09-27 20:34] adamsitnik commented on #559
As a workaround you can call `Job.With(Jit.RyuJit)` in your config.

[2017-09-27 20:36] adamsitnik commented on #560
good idea, I am going to implement it

[2017-09-27 20:54] JosephTremoulet commented on #559
@adamsitnik thanks.

What about the architecture?  I think the assembly was generated as AnyCpu, but for the disassembly output I think it's more germane that it was running on and compiled for x64.

[2017-09-28 05:58] pardahlman commented on #558
Hella @adamsitnik - thanks for pointing me in the right direction - I wouldn't have figured this out myself. Everything works as expected now.

Do you think there is any way to detect if shadow copy is performed and warn the user? I'd be glad to help out if you think this is possible or desirable.

[2017-09-28 15:07] slavam2605 opened #561 "Strange behaviour when benchmark project is build in debug mode"
I create a project and make a benchmark, then run it. After that I change the benchmark and run it again but I got results for old benchmark.
It is .NET Core 2.0 project and it was always build in debug mode.

[2017-09-28 15:27] AndreyAkinshin commented on #561
It seems that the problem is: BenchmarkDotNet builds .NET Core project in Release so it uses the Release build of the original project. However, if we are making any changes of the original project in Debug, the generated benchmark will still use obsolete Release assemblies.

[2017-09-28 18:35] JosephTremoulet opened #562 "DisassemblyDiagnoser crashes on overloaded benchmark"
Trying to use the DisassemblyDiagnoser on the benchmark referenced [here](https://github.com/dotnet/coreclr/issues/9692#issue-209058529), I'm getting

[code]

Presumably that's coming from this code: https://github.com/dotnet/BenchmarkDotNet/blob/a7578addd708367adbdecffff460420aa51192eb/src/BenchmarkDotNet.Disassembler.x64/Program.cs#L98-L99

so maybe, while only one overload can be the [Benchmark

[2017-09-30 16:24] #556 closed

[2017-09-30 17:05] #562 closed

[2017-09-30 17:06] adamsitnik commented on #562
@JosephTremoulet thanks for another good bug report!

You are one step away from writing your first PR to BenchmarkDotNet ;)

[2017-09-30 17:50] #558 closed

[2017-09-30 17:52] adamsitnik commented on #558
@pardahlman you are right, we should have provided nice warning. I hope that you did not waste too much time on this.

The users are now going to get following warning:

[code]

[2017-10-06 11:31] atifaziz opened #564 "[Bug] Benchmarking a method doesn't run global setup"
## Steps to Reproduce

1. Clone the repo and checkout 9c194c663a2c8971763d0f81a7d5361c00f07792
2. `cd` into the clone directory
3. Build the project by running `build.bat`
4. Run benchmarks in class `IL_Loops` by executing: `dotnet run -c Release -f netcoreapp2.0 --project samples\BenchmarkDotNet.Samples -- class=IL_Loops`
5. Run a benchmark for the method `ForEachArray` in class `IL_Loops` by exe

[2017-10-10 23:13] pakrym opened #566 "Strategy for making sure that microbenchmarks are not broken for regular CI builds"
We don't run microbenchmarks during every build/test run because we want to keep them fast. The consequence is that while we still build microbenchmarks projects we don't run them and don't notice when they start failing at runtime.

Is there any guideline on how to properly integrate running couple iterations of every microbenchmark into CI pipeline to validate that they are functional in every b

[2017-10-11 09:48] AndreyAkinshin commented on #566
Hey, @pakrym.
A short answer: we don't support performance testing for now (here I mean validating that we don't have performance degradation in the CI pipeline), it's a very complicated task ([here](http://aakinshin.net/blog/post/reflecting-on-performance-testing/) you can find more info), but we are working on it.

[2017-10-11 15:19] pakrym commented on #566
We don't want to validate performance itself just that benchmarks are functional and able to run.

[2017-10-11 15:30] AndreyAkinshin commented on #566
@pakrym, than you can use a special job for your CI (see http://benchmarkdotnet.org/Configs/Jobs.htm).
E.g. you can mark your benchmark with `DryJob` or `ShortRunJob` (see https://github.com/dotnet/BenchmarkDotNet/blob/1670ca349c303b83c373855705ea4f4679f99ad0/src/BenchmarkDotNet.Core/Jobs/Job.cs#L24), these kinds of jobs are designed for a quick validation that everything is fine with benchmarks (

[2017-10-11 15:34] adamsitnik commented on #566
The fastest way to run all benchmarks just once would be to use `Job.Dry` mentioned by Andrey and us out in-process Toolchain implemented by @ig-sinicyn So no compilation and run just once.

[code]

[2017-10-11 15:36] adamsitnik commented on #566
@pakrym this is how we test that given benchmarks were executed and everything is fine in our integration tests:

[code]

[2017-10-11 21:00] michal-ciechan commented on #557
Hey @adamsitnik

An I need to answer in the last couple of weeks was, how much memory (that ends up in the final object, and not just the total bytes allocated during creation) do the following take:

`Dictionary<int, object>`
`ImmutableDictionary<int,object>`
`List<object>` <--- This I could roughly workout as its 4*2^x*64bits (approx) that satisfied the count, of-course can TrimExcess() as and w

[2017-10-14 09:02] #559 closed

[2017-10-14 09:04] adamsitnik commented on #559
hi @JosephTremoulet

Sorry for the delay!

I have change the exported text, now it will be full information, exactly the same as in our summary:

![image](https://user-images.githubusercontent.com/6011991/31574396-61a0f85a-b0cf-11e7-9805-7fdfc9045914.png)

[2017-10-15 07:32] RehanSaeed opened #567 "Getting R Plots Working"
I've followed [this](http://benchmarkdotnet.org/Configs/Exporters.htm) guide to get the plot images using R but I can't get them to appear. These are the steps I followed:

1. Add `[CsvMeasurementsExporter]` and `[RPlotExporter]` attributes to my benchmark.
2. Add an `R_HOME`environment variable pointing at my Visual Studio installation of R in `C:\Program Files\Microsoft\R Client\R_SERVER`.
3. Ru

[2017-10-15 09:33] forki commented on #305
So is there a way to store and load?

[2017-10-15 10:54] adamsitnik commented on #567
Hello @RehanSaeed

I took a look at your benchmarks, you need to use `[CsvMeasurementsExporter]` instead of `[CsvExporter]`. The former contains more information, which is mandatory to print the plots.

If this does not help please feel free to reopen the issue.

[2017-10-15 10:54] #567 closed

[2017-10-15 12:39] adamsitnik commented on #557
`GC.GetTotalMemory` returns the [GC heap size](https://msdn.microsoft.com/en-us/library/Ee817660(pandp.10).aspx)

It's very tricky. Consider following examples:

[code]

In this case we have allocated an array of 8 bytes 1000 times, but the heap has grew only by the size of one array.

[code]

In this case we have allocated an array of 8 bytes 1000 times, but the heap did not grew because the resu

[2017-10-15 15:23] adamsitnik commented on #566
@pakrym I am closing this one now, please reopen if my answer did not help to solve your problem.

[2017-10-15 15:23] #566 closed

[2017-10-15 15:50] #564 closed

[2017-10-15 15:51] adamsitnik commented on #564
@atifaziz thanks a lot for a great bug report! fixed ;)

[2017-10-15 18:25] michal-ciechan commented on #557
@adamsitnik Thanks, I will work on it over next couple of weeks (although I am away a couple of times in next 3 weeks so probably a little longer than I would have hoped).

Regarding the first example, I would only expect the counter to return 8 bytes as that is what is left on the Heap after GC.Collect and it is precisely what I am trying to measure, how much is left on the heap of the resulting

[2017-10-15 18:34] goldshtn commented on #557
Not everything has to go in a benchmarking library; this library specifically or any other more generally. There are debugging tools that can be used to determine accurately an object’s heap consumption. For me, the MemoryDiagnoser is mostly about helping identify excessive allocation patterns, which has a direct and immediate effect on GC performance. Object size on the heap has only a very indir

[2017-10-15 19:08] michal-ciechan commented on #557
@goldshtn Yes, you have a valid point, absolutely no need to run GC.Collect() so many times just to find this out. Therefore would be more than willing to add code to only run it once during warmup.

I currently have custom unit tests to find this out, but it means I usually want to map it back to speed benchmarks, therefore need to manually join the results from BDN to the results from other tool

[2017-10-16 05:10] adamsitnik commented on #561
@slavam2605 thanks for reporting this bug!

@AndreyAkinshin I have found the reason for this.

To optimize the time of `dotnet build` I have used `--no-dependencies` config switch. It builds only given project, without dependencies. It gives us huge perf gain, especially if somebody is using `[Params]`, which would create a lot of projects and here we can avoid of the rebuild of all the dependenci

[2017-10-16 05:19] AndreyAkinshin commented on #561
1. I also don't like this idea.
2. LGTM, let's do it. However, it makes sense to add a few lines in the documentation about how to disable the mandatory check (for people who want to perform debugging instead of benchmarking).

[2017-10-16 05:28] adamsitnik commented on #561
@AndreyAkinshin do you think that we should allow our users to do the debugging?

I was thinking about leaving the debugging only for us, by using the ugly `#if DEBUG` conditional switch.

I am asking because if I make it a mandatory validator, then today there is no way to disable it. If I make it part of DefaultConfig, then there is a way to omit it, but the users with ManualConfigs might still

[2017-10-16 05:35] AndreyAkinshin commented on #561
@adamsitnik, we are also our users. =) `#if DEBUG` works great when you work with the source code of BenchmarkDotNet. However, sometimes I have to debug the BenchmarkDotNet package from NuGet (Release).
Also sometimes I need it for comparing Debug and Release builds (it's useful in my research which is related to Roslyn/RyuJIT optimizations).

[2017-10-16 11:42] HenrikPoulsen commented on #350
Something to consider here is cases where the `ParamSource` method depends on things outside of itself that needs to be setup.
Say for example in `GlobalSetup` you have a IoC container, where you want your `ParamsSource` to use this container to resolve up all items of a particular interface and yield these.
Today though `GlobalSetup` is called after all the parameter values have been evaluated, s

[2017-10-17 05:33] agocke opened #568 "Provide support for running using an existing .NET exe"
So, here's my scenario:

I would like to use Benchmark.NET to measure the performance of the Roslyn compiler end-to-end, meaning my benchmark is basically `csc -noconfig @repro.rsp`.

I'll grant you, this isn't an obvious fit for BenchmarkDotNet, but technically I'm still benchmarking .NET code and there are a lot of things, like providing easy swapping of runtimes, that BenchmarkDotNet is great f

[2017-10-17 08:57] #561 closed

[2017-10-17 08:59] adamsitnik commented on #561
@AndreyAkinshin I think I found the solution.

The default (for default config) is the one with errors.
The mandatory validator is the one with warning so everybody, even power users get warning.

[2017-10-17 09:01] adamsitnik commented on #350
@HenrikPoulsen sure! Please let me know if you need any help!

[2017-10-17 14:32] HenrikPoulsen commented on #350
@adamsitnik Cool. I will look at it then.
What would be nice to know is if you have any preferences for how you would want the scenario I mentioned in the previous post to be solved (if you want to support it at all).
An extra set of attributes which run before param evaluations for setup that doesn't depend on the params for example?

[2017-10-18 04:21] pakrym commented on #566
What we end up doing is creating shared source package containing default runner that does verification: https://github.com/aspnet/Common/blob/dev/shared/Microsoft.AspNetCore.BenchmarkRunner.Sources/Program.cs#L28

And a custom attribute https://github.com/aspnet/Common/blob/dev/shared/Microsoft.AspNetCore.BenchmarkRunner.Sources/ParameterizedJobConfigAttribute.cs that allow us having config set p

[2017-10-19 20:42] ig-sinicyn opened #570 "[Do you need any of these?] Backport some features to BDN"
During my work on perftests project I have to add some stuff that look like a good candidate to be added to BDN (at least for me:) )

If you're interested in any of these, will do a PR. Here they are:

1. [`IFlushableLogger`, synchronized lazy logger](https://github.com/rsdn/CodeJam/tree/master/PerfTests/src/%5BL0_PortToBenchmerkDotNet%5D/Loggers). Interface enables log flushing on benchmark compl

[2017-10-21 09:54] #350 closed

[2017-10-21 09:59] adamsitnik commented on #350
I had some spare time today and decided to implement it ;) [Docs](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/guide/Advanced/ParamsSource.md)

[code]

@HenrikPoulsen I have reused the code we had for Params. So it works in the same way (order of method execution)

The problem we have is that the values have to be "serializable" because we generate and build a new project for every b

[2017-10-22 12:57] adamsitnik opened #571 "Allow users to use non compile-time constants as Parameters"
# IParam

 In case you want to use values which are not compile-time constants, you have to create a type which implements `IParam` interface. This is required because internally BenchmarkDotNet generates and compiles code for every benchmark. We know how to deal with primitive types, but we don't want to implement complex logic for creating complex types. This responsibility is transferred to the

[2017-10-22 13:01] #571 closed

[2017-10-22 13:02] adamsitnik commented on #350
@HenrikPoulsen I created new thing, called `IParam` for non-compile time constants. Please take a look #571

[2017-10-22 13:03] adamsitnik commented on #571
I know that it's not perfect solution, but it allows to get people what they need. And it's also very flexible ;)

[2017-10-29 15:56] GeorgePlotnikov commented on #273
Hi guys, is it case still actual? If yes, I'd like to grab it.

[2017-10-29 17:19] adamsitnik commented on #273
@GeorgePlotnikov Great! Please let me know if you need any help.

[2017-10-30 06:25] raky291 opened #572 "maybe shows wrong results"
Why `Permutations2` are lower than `CartesianProduct`?

`Permutations2` depends of `CartesianProduct`, should not be longer than `CartesianProduct`?

![screenshot_3](https://user-images.githubusercontent.com/12045722/32157372-579e6ff8-bd00-11e7-88e2-6f6e4845405f.jpg)

This is my code:

[code]

[2017-10-30 16:12] HenrikPoulsen commented on #350
@adamsitnik I played around with IParam today and it covers all my needs. Thanks!

[2017-10-30 19:16] GeorgePlotnikov commented on #273
Hi, I've pulled #573

[2017-10-30 19:46] adamsitnik commented on #350
@HenrikPoulsen great, thanks for the feedback!

[2017-10-30 20:50] adamsitnik commented on #572
Hi @raky291

First of all, you always create new arrays in your benchmark. Should your benchmark include that? Or do you want to compare only the methods that work on existing input?

If you don't want to include the creation cost, you should move the arrays to fields of the class and initialize them once.
If you want to include the array creation cost, every benchmark should create the same array

[2017-10-30 20:50] #572 closed

[2017-10-30 20:59] adamsitnik commented on #273
@neoeinstein do you know all scenarios which should be covered by the Tail Call Diagnoser?

When F# compiler can use goto? When tail call opt?

[2017-10-30 21:43] adamsitnik commented on #273
@GeorgePlotnikov I asked on twitter for some help and @tpetricek provided [this](https://github.com/fsharp/fslang-design/blob/master/RFCs/FS-1011-warn-on-recursive-without-tail-call.md) link

[2017-10-31 05:58] GeorgePlotnikov commented on #273
@adamsitnik it's awesome, sincerely appreciate you

[2017-10-31 13:11] lukasz-pyrzyk opened #574 "Display VM hypervisor in summary section"
It would be helpful to present information about VM somewhere in the summary section. I think @AndreyAkinshin was suggesting it some time ago.
![image](https://user-images.githubusercontent.com/5083018/32225182-844a8e02-be44-11e7-9f6a-cc01e799fe7d.png)

Implementation should be easy. `HostEnvironmentInfo` already has information about `VirtualMachineHypervisor`

[2017-10-31 13:14] lukasz-pyrzyk commented on #574
You can assign it to me.

[2017-11-06 13:26] rolshevsky commented on #544
@adamsitnik @AndreyAkinshin Hello,
Can you guys please assign me on this issue? I'm gonna try to implement it.

[2017-11-06 13:33] adamsitnik commented on #544
@rolshevsky awesome!

@AndreyAkinshin could you assign @rolshevsky ?

[2017-11-06 13:33] AndreyAkinshin commented on #544
@rolshevsky, I added you to the collaborators list. Please, accept the invitation, then I will be able to assign.

[2017-11-06 13:36] AndreyAkinshin commented on #544
@rolshevsky, done.

[2017-11-06 13:37] rolshevsky commented on #544
@adamsitnik @AndreyAkinshin, thanks.

[2017-11-06 20:33] adamsitnik commented on #256
I am going to work on some PoC

[2017-11-07 07:50] Ky7m commented on #522
Just to leave a note about additional option of code analysis https://codescene.io/projects/176/jobs/3969/results

[2017-11-08 18:47] ENikS opened #578 "Unable to run. Dependency failing in BenchmarkDotNet v0.10.10"
I am evaluating BenchmarkDotNet for company's CI integration. I am behind pretty strict firewall and can't install packages from NuGet directly. So I am doing it by hand. After downloading all packages recommended [here](http://benchmarkdotnet.org/Guides/NuGet.htm) I am getting this error:

#### Question One:
Why depend on external package for ``Tuple`` when these are available in standard library

[2017-11-08 19:13] ENikS commented on #578
This too:

// Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Threading.Tasks.Extensions, Version=4.1.0.0, Culture=neutral,
ublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified.
File name: 'System.Threading.Tasks.Extensions, Version=4.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'
   at BenchmarkDotNet.C

[2017-11-08 19:34] adamsitnik commented on #578
as far as I know `ValueTuple` is not part of the .NET 4.6 framework which we support. It's part of newer .NET

If it was impossible we would have tons of bug reports about it. So far it worked for everybody else. You are doing this manually and most probably this is the reason why it does not work. IDE would try to download it, if failed download newer version and emit the correct assembly binding

[2017-11-08 19:46] ENikS commented on #578
You've got your first one. Considering that you have your download count still in low thousands I would assume more is coming when fire-walled corporations will try to adopt it.

Could you create self-contained package which includes all required assemblies?

[2017-11-08 19:55] ENikS commented on #578
Well, I guess not.

[2017-11-08 19:58] adamsitnik commented on #578
To me as a maintainer, it's not a common use case. We have a lot of other, very common problems, which consume 100% of our OSS time.

I can create an issue, make it as up-for-grabs and test the solution if somebody sends a PR.

I am sorry but this is all I can do for you.

[2017-11-08 20:03] ENikS commented on #578
Thank you. I would try to solve this by creating project outside of firewall but it would be nice if this is addressed one day.

[2017-11-08 20:03] #578 closed

[2017-11-10 14:56] KevM opened #579 "Should benchmarks run if a dependency is a debug release"
I was spiking setting up a bench mark and could not get any results. The benchmark validator complains that one of my libraries is a debug build. This was great to figure out and I will fix it, but for now I don't have control over this. Is there any way to skip this validation step?

I tried creating a config where validations do not fail on error `ExecutionValidator.DontFailOnError` but had the

[2017-11-14 09:40] michael-wolfenden opened #580 "Linqpad support no longer works in the latest version (0.10.10.339)"
Running the following code in LINQPad5 v5.25.00 referencing BenchmarkDotNet 0.10.10.339

[code]

Outputs the following and does not run

[code]

This appears to be a regression as the same script referencing BenchmarkDotNet 0.10.8.246 outputs

[code]

[2017-11-14 19:37] dezmoni2011 commented on #517
If I'm having the same issue, should I comment here or make an entirely new issue?

[2017-11-15 07:44] Joe4evr commented on #256
Or something that *could* be constant, but it's *a lot*, say, `Enumerable.Range(1, 1000).ToArray()`. 🙃

[2017-11-15 08:47] adamsitnik commented on #256
@Joe4evr it's already implemented, currently being reviewed in #577 , should be released as part of 0.10.11

[2017-11-15 08:54] adamsitnik commented on #517
@dezmoni2011 if you can provide a repro case (small project that we can clone) and output of `dotnet --info` then please create new issue. I really need some reproduction case, otherwise I can not fix it

and thanks for asking!

[2017-11-16 16:24] AndreyAkinshin commented on #580
It's not a bug, it's a feature. We have decided that BenchmarkDotNet shouldn't allow running benchmarks in DEBUG. Why do you want to run your benchmark without optimizations?
See also: https://github.com/dotnet/BenchmarkDotNet/issues/561
/cc @adamsitnik

[2017-11-16 16:26] AndreyAkinshin commented on #579
@adamsitnik, I think we should describe a proper way to run assemblies without optimizations in our docs. What do you think?

P.S. The original issue where we have decided to turn off the possibility to benchmark debug assemblies: https://github.com/dotnet/BenchmarkDotNet/issues/561

[2017-11-16 19:50] AndreyAkinshin commented on #98
@adamsitnik I suggest closing this issue. Right now we have great histograms in RPlotExporter and it covers basic use cases. If someone will send a good PR with advanced histogram support, I'm happy to merge it, but I don't think that it makes sense to keep an open issue with it.
What do you think?

[2017-11-16 19:52] AndreyAkinshin commented on #177
@adamsitnik, @ig-sinicyn what the current status of this issue? Do we have something else that we are going to implement in this scope?

[2017-11-16 19:57] AndreyAkinshin commented on #258
@adamsitnik what do you think, is it possible to easily solve this issue with the same approach which we are using for dynamic values in params?

[2017-11-16 20:00] AndreyAkinshin commented on #305
@forki, you can export results, but there is no way to import it for now. I hope, this feature will be implemented in the nearest future.

[2017-11-16 20:03] AndreyAkinshin commented on #308
In 2016, we had a lot of problems on Linux and macOS (especially on preview versions of .NET Core). Right now all basic use cases work fine, main questions about support of different features on different OS are covered in the documentation.

[2017-11-16 20:03] #308 closed

[2017-11-16 20:04] AndreyAkinshin commented on #316
@adamsitnik, is it still an issue?

[2017-11-16 20:08] adamsitnik commented on #98
@AndreyAkinshin I agree!

[2017-11-16 20:08] #98 closed

[2017-11-16 20:09] AndreyAkinshin commented on #343
Hey @haf. We did a lot of bugfixes and changes in this year, I hope this issue was solved. Do you have any issues in expecto with the latest version of BenchmarkDotNet?

[2017-11-16 20:11] AndreyAkinshin commented on #353
Since the original problem was solved, I close this issue.

[2017-11-16 20:13] AndreyAkinshin commented on #378
@adamsitnik is it still an issue?

[2017-11-16 20:13] adamsitnik commented on #316
We have dependency to Roslyn, it has dependency to ImmutableCollections, which was already loaded by the parent process (VS). But different version, which was missing some ctor. If VS had updated the dependency to it, it should work. I don't think that it was on our side.

@AndreyAkinshin I think that we can close it and reopen if somebody reports it.

[2017-11-16 20:13] #316 closed

[2017-11-16 20:17] adamsitnik commented on #378
@AndreyAkinshin we still put our dlls in the same folder where the dll which defines benchmark are. This is because they can have some native dependencies, which we can not recognize. So if we put them in the same folder, they are loaded correctly. If we put them to some custom folder, we need to copy all of them. To me it looks like it's not worth the effort. At least I prefer to invest my time d

[2017-11-16 20:17] AndreyAkinshin commented on #399
@adamsitnik, since we are not supporting project.json anymore, could we close this issue as won't fix?

[2017-11-16 20:18] adamsitnik commented on #399
@AndreyAkinshin good idea

[2017-11-16 20:18] #399 closed

[2017-11-16 20:20] adamsitnik commented on #177
@AndreyAkinshin we could refactor that with the next big release to unify all message-based APIs

[2017-11-16 20:26] adamsitnik commented on #258
@AndreyAkinshin I am not sure if I understand the idea. When the user writes a benchmark, the number of `OperationsPerInvoke` is not know, but discovered at run time?

Is the value always the same for all iterations?

[2017-11-16 20:28] AndreyAkinshin commented on #570
Hey, @ig-sinicyn, sorry for the late reply, I was very busy lately (as usual =) ). I'm going to review these APIs soon.

[2017-11-16 20:34] AndreyAkinshin opened #582 "Print amount of logical and physical core"
Right now (v0.10.10) we only print the amount of logical cores (via `Environment.ProcessorCount`). It would be nice to also print the amount of physical cores and amount of physical processors. Since there are no managed API for it, we need 3 different implementations (for Windows, Linux, and macOS).

[2017-11-16 20:34] AndreyAkinshin commented on #582
We can use this for Windows: https://stackoverflow.com/a/2670568/184842

[2017-11-16 21:13] AndreyAkinshin commented on #258
The value should be the same for all iteration, otherwise API will be too complicated and it will be very hard to provide good accuracy in the general case. I think we should support cases when OperationsPerInvoke is discovered in GlobalSetup. Thus, this value can depend on external data (e.g. files or database) or on param values.

[2017-11-16 21:31] AndreyAkinshin opened #583 "BenchmarkDotNet.Samples refactoring"
In the early versions of BenchmarkDotNet, the Samples project had two purposes:
1. It was our set of manual integration tests (we didn't have real integration tests)
2. It contained a lot of "cool" benchmarks.

Right now we have good integration tests and the community have a lot of new awesome BenchmarkDotNet-based benchmarks. The most precious piece of BenchmarkDotNet.Samples is the Intro folder

[2017-11-17 02:16] michael-wolfenden commented on #580
So I have set the "compile with /optimize+" setting in linqpad, which from my understanding is the equivalent of release mode, and it still doesn't run

[code]

Or am I misunderstanding and the issue is that linqpad itself is not optimized?

[2017-11-17 18:01] kkokosa opened #585 "Unexpected results and assembly code for .NET Core 2.0 - struct usage"
Given two simple tests comparing struct versus class usage, I see unexpected results and assembly code.

### Tests used:
[code]

### The results:

[code]

What bothers me is a noticeable difference for `ConsumeStruct` for `Core` runtime. This difference can be explained by used assembly code but not sure why it looks like that in the first place. .NET Framework (and .NET Core either when used **ou

[2017-11-18 19:23] #579 closed

[2017-11-18 19:25] adamsitnik commented on #579
Hello @KevM

Thanks for reporting your problem. I have just changed the error message and added the solution to our FAQ. Which is following:

* **Q** I have failed to run my benchmarks, I am getting following errors about non-optimized dll. What can I do?

[code]

**A** You should always run your benchmarks in RELEASE mode with optimizations enabled (default setting for RELEASE). However if you ha

[2017-11-18 19:42] #580 closed

[2017-11-18 19:46] adamsitnik commented on #580
Hello @michael-wolfenden

Thanks for reporting your issue. I have just pushed a commit with the fix (we detect that user is using LINQPad and has optimizations disabled and give nice error message).

However as you have noticed LINQPad itself is non-optimized. To overcome this problem please use custom config with our policy disabled:

[code]

[2017-11-18 19:48] adamsitnik commented on #580
@albahari is there any reason why LINQPad is non-optimized? It would make our user-experience much better if it was optimized. You can use following settings in your csproj to have nice symbol information in pdf and optimizations enabled for Release:

[code]

[2017-11-18 19:59] adamsitnik commented on #258
I can see that it would be nice to allow the users to "return" something from the benchmarks. Some people want to check the size of compressed file (to add the size to the perf comparison), some want to add something else (like information about vectorization support). I will try to come up with some universal solution which is not going to affect our accuracy

[2017-11-18 20:45] ENikS opened #586 "IParam interface improvement"
Currently **ToSourceCode** returns string:
[code]
It would be nice if there was a way to specify same thing using lambda expressions:
[code]
So it would be possible to use something like this in implementation:
[code]
You could also compile these expressions much easier...

[2017-11-18 21:43] adamsitnik commented on #585
@kkokosa I have no idea

@JosephTremoulet could you help us with this one?

[2017-11-18 21:58] KevM commented on #579
Yay. Thank you.
On Sat, Nov 18, 2017 at 1:26 PM Adam Sitnik <notifications@github.com>
wrote:

[2017-11-19 01:37] albahari commented on #580
Because the performance-critical libraries that LINQPad uses are optimized (libraries such as Roslyn & ActiPro's syntax editor), there's not much to gain in optimizing LINQPad itself. And there's a lot to lose - namely, the quality of the diagnostic information when an error occurs. Just recently, I've diagnosed an intermittent hang based on a stack trace which might have been compromised with opt

[2017-11-19 07:20] AndreyAkinshin commented on #258
I am against this idea of using `return` for it. It will produce a lot of troubles (like how to keep these values and don't spoil accuracy for microbenchmarks or what should we in case if a method returns a new value each time). I understand the people want to provide some additional values for the summary table, but they should do it without `return`. Probably it makes sense to add an API which c

[2017-11-19 10:37] ig-sinicyn commented on #258
@AndreyAkinshin about return values
Afair both default toolchain and in-process toolchains do store return value using `consumer.Consume()` and `BenchmarkAction<T>.result` respectively. All we had to do is to pass these stored values back to the hosi via `IHost.ReportResults()`

[2017-11-19 11:28] AndreyAkinshin commented on #258
1. The only goal of `consumer.Consume()` and `BenchmarkAction<T>.result` is preventing of DCE. I'm not sure that storing values is the best way to do it. It works ok for now, but probably I will find another way in the future (without storing values).
2. Right now the only purpose of returned values is DCE. I'm worried that if we provide other ways of using these values, it can provoke wrong bench

[2017-11-19 11:36] ig-sinicyn commented on #258
@AndreyAkinshin I completely do agree with all of those - the feature, even if implemented should not spoil benchmark results.

At the same time the current implementation does allow to cover at least one case for (almost) free, it lokks like a low-hanging fruit for me. If this is just a coincidence and the `Consumer` implementation is going to change in near future - nevermind:)

[2017-11-19 12:25] AndreyAkinshin commented on #258
The question is not about an easy way to implement it in BenchmarkDotNet. The question is about good API which doesn't provoke new problems. And it's always hard to change the API because it brakes existed benchmarks. I know, it's hard to come up with a perfect API in advance, but we should try. I think it should be consistent (if we use returned values for one purpose and other ways for all other

[2017-11-19 19:26] adamsitnik commented on #580
@albahari thanks for the explanation!

I have added LINQPad to our "white list", so everything should work fine now.

[2017-11-19 21:47] JosephTremoulet commented on #585
Hmm... the `GetStaticBase` methods are used to get base addresses for static fields, but also used to trigger class initializers.  The VM keeps track of which types have been initialized already or not.  When jitting a method that has an initialization-triggering reference for some type `T` (like, I presume, the call to static method `StructHelper` here, if `T` has not been initialized yet, we'll

[2017-11-20 08:10] adamsitnik commented on #258
My initial idea was:

[code]

this extra method would be executed once, after stoping the watch, before last iteration/global cleanup. Then serialized and available in the results, so people could use sth like this in the columns:

[code]

[2017-11-20 11:40] hoonzis commented on #316
Sorry for the lack of feedback. Previously I was on net45. I have updated all to net461.

The issue was fixed by my upgrading to net461 and VS referencing the same version of ImmutableCollections as you do. On the other hand I still can't run BenchMarkDotnet inside fsx, you can see the details lower, stacked on a different issue.

Generally I assume it's not a good idea to run Benchmarking inside

[2017-11-20 14:25] ZodmanPerth commented on #580
@adamsitnik Will this require a new release of BenchmarkDotNet or has it already made it into a release?  I've just moved to a new device and had to employ the custom config workaround (which in my case is not a big deal; this is more of a notification type question).

[2017-11-20 14:44] adamsitnik commented on #580
@ZodmanPerth hi! It will be a part of 0.10.11.

@AndreyAkinshin could you trigger our CI build? It has failed for some magical reason

@ZodmanPerth as soon as our CI builds the package, it should be available at

[code]

[2017-11-20 14:46] AndreyAkinshin commented on #580
@adamsitnik, done.

[2017-11-21 08:40] morgan-kn commented on #582
@AndreyAkinshin could you please assign me on this issue?

[2017-11-21 10:06] AndreyAkinshin commented on #582
@morgan-kn, I added you to the collaborators list. Please, accept the invitation, then I will be able to assign you.

[2017-11-21 12:01] ZodmanPerth commented on #580
Thanks.
There was a minor update at that address (0.10.10.343) dated November 18.  It doesn't appear to be the build I'm after, but just in case here's part of the report I get:
`Assembly LINQPadQuery which defines benchmarks references non-optimized LINQPad
  If you own this dependency, please, build it in RELEASE.
  If you don't, you can create custom config with DontFailOnError to disable our c

[2017-11-21 17:38] eerhardt opened #587 "Support netcoreapp2.1"
When I try running a BenchmarkDotNet project that looks like the following:

[code]

I get the errors:

[code]

I'm using the latest .NET Core SDK from the master branch:  https://github.com/dotnet/cli#installers-and-binaries and I have a NuGet.config that points to the daily builds of .NET Core:

[code]

I expected this to just work, like it does for `netcoreapp2.0`.

[2017-11-21 17:54] AndreyAkinshin opened #588 "Broken appveyor build"
Lately, all of our builds on appveyor are red. Here is the error:

[code]
This problem can be reproduced locally (via `build.ps1`, Windows only).

Last successful build: https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.10.343
First failed build: https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.10.344

[2017-11-21 17:55] AndreyAkinshin commented on #588
@Ky7m, could you take a look?

[2017-11-21 17:56] Ky7m commented on #588
@AndreyAkinshin, yes, I'll take a look.

[2017-11-21 17:57] AndreyAkinshin commented on #588
@Ky7m, thanks in advance!

[2017-11-21 20:57] #587 closed

[2017-11-21 20:58] adamsitnik commented on #587
@eerhardt big thanks for providing the bug report and the fix!

[2017-11-21 21:01] eerhardt commented on #587
No problem.  Big thanks for the tool that is making my life easier!  😉

[2017-11-22 08:12] AndreyAkinshin commented on #588
@Ky7m another related issue: https://github.com/xunit/xunit/issues/1573

[2017-11-23 18:20] #588 closed

[2017-11-23 18:23] Ky7m commented on #588
@GeorgePlotnikov, CI build has been fixed.

[2017-11-24 08:38] adamsitnik commented on #580
Hi @ZodmanPerth

Our CI had some issues. Now we publish NuGet package again ;) You can try `0.10.10.350` from our CI feed:

[code]

[2017-11-24 22:20] tym32167 opened #593 "BenchmarkDotNet is not working with LinqPad"
Hi there.
I red [this post](http://aakinshin.net/blog/post/bdn-v0_10_7/) and decided to check how BenchmarkDotNet behaves in LinqPad.
I downloaded latest LinqPad beta v5.26.03 and latest BenchmarkDotNet nuget package 0.10.10

Code for testing

[code]

Output
[code]

Switching compiler optimizations did not help
Switching 'do not shadow assembly references' option  also did not help.

[2017-11-25 22:47] #509 closed

[2017-11-26 02:03] ZodmanPerth commented on #580
Thanks @adamsitnik .  By the time I was able to take action on this the nightly build was up to `0.10.10.353`, which I confirm does have the fix in it.  Good job!

[2017-11-26 09:52] adamsitnik commented on #580
@ZodmanPerth thanks for the confirmation!

[2017-11-26 09:55] adamsitnik commented on #593
Hello @tym32167

This issue has been already reported and fixed (see #580)

Please download latest version (`0.10.10.350`) from our CI feed, it has the fix:

[code]

[2017-11-26 09:55] #593 closed

[2017-11-26 12:56] AndreyAkinshin opened #594 "Smart way to detect benchmarks without a steady state"
Sometimes, benchmarks don't have a steady state. For example, each benchmark iteration can take more time than the previous one. In this case, our default run strategy will run new iterations again and again (because it tries to find a steady state). We should have a smart way to detect such kind of situation, terminate the process, and warn users about it. We should also beware of false alarms: i

[2017-11-26 12:59] AndreyAkinshin commented on #258
@adamsitnik, it looks ok. Anyway, I don't have better ideas. Let's try to implement it.

[2017-11-26 16:23] tym32167 commented on #593
Hi, @adamsitnik . Thanks for info.

[2017-11-28 15:15] Zoxive opened #596 "Confusing Doc links"
If anyone attempts to read the docs here on github via https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/guide/Overview.md

All links 404 becase they are going to .htm instead of .md

Was about to create a PR fixing all the doc links to use .md instead of .htm then realized its because they are .htm for http://benchmarkdotnet.org

[2017-11-29 13:51] adamsitnik commented on #596
Hi @Zoxive

I understand your point of view, but I am afraid that there is nothing that we can do to prevent our users to search the docs folder instead of going to our docs page.

Link to docs is the first link on our repository's page

![image](https://user-images.githubusercontent.com/6011991/33378196-59ad7c36-d514-11e7-8e39-456f24975389.png)

It's also first link on our useful links list

![im

[2017-11-29 13:51] #596 closed

[2017-12-01 16:52] ENikS opened #599 "Proper HTML escaping of BenchmarkAttribute Description"
I have descriptions containing symbols ``<>``. Something like this:
[code]
When displayed in console the descriptions are correct but generated markdown and HTML are invalid. Anything that is included in these brackets is ignored ending up with something like this: ``Container.Resolve()``.

 Could you please add extra step to properly escape markdown and HTML?

[2017-12-01 16:54] AndreyAkinshin commented on #599
@ENikS, it's a good idea, thanks.

[2017-12-02 19:04] JohanLarsson opened #600 "Scaling issue"
[code]

Results in:

[code]

[2017-12-02 19:07] JohanLarsson opened #601 "Surprising results"
[code]

Result in:
[code]

Not sure if I'm dumbing something but it does not look right.

[2017-12-03 19:43] Chrisgozd commented on #599
I was looking into this.

The line that needs to be changed is here:
https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Exporters/HtmlExporter.cs#L73

The change is to escape the html, because the text <sometype> gets rendered as an html entity and not text, so we need to replace it with the respective &#60; and &#62;

Since we pass a string[] and not a string to Table.

[2017-12-04 11:42] adamsitnik commented on #599
@Chrisgozd the other solution would be to inline `Table.Printline` for Html Exporter. `Table.Printline` performs pad left, which is nor required for HTML.

[2017-12-04 12:18] adamsitnik commented on #601
Hi @JohanLarsson

Thanks for reporting the problem.

If you use our `[DisassemblyDiagnoser]` you can see that `new UnitVector(1, 2).X;` gets recognized by JIT as a constant.

[code]

[code]

If you apply `[MethodImpl(MethodImplOptions.NoOptimization)]` attribute to method `CreateUnitVectorReturnX()` the assembly is:

[code]

and the results are something you would expect:

|                  Metho

[2017-12-04 12:20] adamsitnik commented on #601
But in that case, we should display `0 ns`. @AndreyAkinshin I have checked the code generated for this benchmark for 0.10.11 and it's correct:

[code]

@AndreyAkinshin should we treat it as bug (we should display 0)?

[2017-12-04 21:00] adamsitnik commented on #273
@GeorgePlotnikov big thanks for doing this! I checked your new diagnoser and it work very well!

Fixed by #573 and #598

[2017-12-04 21:00] #273 closed

[2017-12-04 22:10] GeorgePlotnikov commented on #273
@adamsitnik great, many thanks!

[2017-12-04 22:22] ricardok1 opened #602 "Suggestion: Simple solution for simple tests"
Hi there
Thanks for your great job on this.
Following our exchanged twitter let me explain my suggestion.

As a "casual user" of this kind of performance analysers, I see one big gap to use it more often.
The structure to initialize the test doesn't allow to spread and test inside a big application without creating a special project.

My suggestion is to be able to make something like this inside

[2017-12-05 14:12] Chrisgozd commented on #599
That works for me.

Any qualms with bringing in System.Web to the project? I'd like to use HttpUtility.EncodeHtml to encode the html.

[2017-12-05 14:23] adamsitnik commented on #599
We try to keep the number of the dependencies as low as possible. We support .NET, Mono, Core and soon are going to support CoreRT and sometimes even small dependency breaks something in one of the scenarios. If it is possible please implement/copy EncodeHtml

[2017-12-05 14:27] AndreyAkinshin commented on #599
Agree with @adamsitnik.
Moreover, `HttpUtility.EncodeHtml` requires .NET Core 2.0/.NET Standard 2.0, it will not work on .NET Core 1.1
See https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility?view=netcore-2.0