[2016-04-07 09:58] mattwarren commented on #77
I've looked at this a bit more:
- [`dotnet build BenchmarkDotNet --framework dnx451`](https://ci.appveyor.com/project/mattwarren/benchmarkdotnet-8ww0x/build/1.0.12#L880) works
- [`dotnet build BenchmarkDotNet --framework dnxCore`](https://ci.appveyor.com/project/mattwarren/benchmarkdotnet-8ww0x/build/1.0.12#L893) works
- [`dotnet build BenchmarkDotNet --framework net40`](https://ci.appveyor.com/pr

[2016-04-07 10:02] adamsitnik commented on #77
Could you try net45 instead 451? And also net46?

[2016-04-07 11:06] mattwarren commented on #77
`net45` gives the same error as `net451`, [see the log](https://ci.appveyor.com/project/mattwarren/benchmarkdotnet-8ww0x/build/1.0.13#L929)

`net46` gives [lots of errors](https://ci.appveyor.com/project/mattwarren/benchmarkdotnet-8ww0x/build/1.0.14#L929), can't find `System.String`, `System.Boolean`, etc. So I've done something really wrong there!!

[2016-04-07 13:19] JimBobSquarePants commented on #139
No worries ☺ It might be an idea. It's much more likely the error would be in the developers code and sometimes just a hint is enough to point you in the right direction.

[2016-04-07 13:56] mattwarren commented on #98
Done, @gregoryyoung thanks for the idea

[2016-04-07 14:18] AndreyAkinshin commented on #140
Sounds interesting.

@mattwarren, @adamsitnik, what do you think?

[2016-04-07 14:27] adamsitnik commented on #140
It would be really nice to have it as an option. I am not sure how much effort it would take to make Diagnosers compatible with this execution model.

[2016-04-07 14:42] ig-sinicyn commented on #140
@AndreyAkinshin
Ok. Some questions then:

1. What's the best way to plug it in? As far as I can see I should define a new Runtime enum member and add a new toolchain for it, right?
2. Is it safe to make [these members](https://github.com/ig-sinicyn/BenchmarkDotNet/commit/95fbef3d05c8366da89a50c22d72c560e46ef64f#diff-d727d4e1326fbe8a7d3152634926dd8f) of GeneratorBase virtual? Most of them should do

[2016-04-07 14:49] mattwarren commented on #140
It may be that most/all Diagnosers can't run in-memory, But that's not a big problem. From what I understand this mode is for specific scenarion, if people want diagnostics they'll just have to run out-of-process.

[2016-04-10 18:43] adamsitnik commented on #77
I have simplified the dependencies by removing dependency to NETStandard.Library which is just huge a set of packages. Now the restore should be much more faster.

But I don't know what to do with the C.I. Perhaps we could try to use Team City? It is possible to get the license for free for OSS projects. If you don't mind I can register BDN and set up few build configurations: classic, dnx and cor

[2016-04-10 23:04] adamsitnik commented on #134
Ok. I have [implemented](https://github.com/PerfDotNet/BenchmarkDotNet/commit/c95267bd5a427375e00ffa468b955df7b4f6f500) this feature. How it works:
* it is a standalone analyser (JitOptimizationsAnalyser)
* it is enabled by default
* if you want to disable it you just need to specify a Config class that does not inherit from DefaultConfig
* if you want to enable it in your custom Config class  you

[2016-04-11 06:06] ig-sinicyn commented on #134
@adamsitnik

Thanks!
There're two drawbacks, however.

1. The check does not throw and it's hard to detect that it was failed. Especially in case when the benchmark is run as unit test from VS.
 There's currently no way to transform benchmark warnings into NUnit warnings, as the first ones are not exposed as member of the `Summary` class. And xUnit (AFAIK) does not support warning assertions at al

[2016-04-11 17:49] ig-sinicyn opened #141 "[Request for comments] Assembly-level config attribute?"
Hi!

I want to add an ability to specify benchmark config at assembly level.
Use case is pretty obvious: I have project with dozens of performance tests and I want to be able to switch the config for all of them at once.

Technically I can store the config in static field and pass the field like this: `BenchmarkRunner.Run(config: SomeClass.MyConfig, ...)`.

However, there's one moment I do not lik

[2016-04-11 18:41] niemyjski commented on #137
+1

[2016-04-11 19:13] adamsitnik commented on #141
Another good idea @ig-sinicyn! @AndreyAkinshin @mattwarren  what do you think?

[2016-04-11 19:39] ig-sinicyn commented on #141
@adamsitnik  also, what about #140?

Will be happy to get some comments on it:)

[2016-04-11 20:21] adamsitnik commented on #141
I think that we could also add overload of Run method for BenchmarkRunner that accepts assembly.

As for #140 I am sorry for my lack of response, I will get back to you soon. I just don't have perfect solution yet ;p

[2016-04-11 20:39] adamsitnik commented on #76
I have just tried to rewrite [LinqOptimizer](https://github.com/nessos/LinqOptimizer) project benchmarks to use BDN and failed because they were using <gcAllowVeryLargeObjects enabled="true" /> ;)

So there is a need for this feature ;)

[2016-04-12 14:45] niemyjski commented on #137
I'm getting the following now this morning when I reverted to 0.9.3

[code]

https://ci.appveyor.com/project/Exceptionless/exceptionless-net

[2016-04-12 14:46] niemyjski commented on #137
Is it possible to generate a vs12 solution instead of a vs14?

[2016-04-12 14:46] niemyjski commented on #137
We are using VS12 build image

[2016-04-12 14:49] niemyjski commented on #132
I'm targeting .net 4.5.2 with a VS2013 image on appveyor (default) https://ci.appveyor.com/project/Exceptionless/exceptionless-net and I'm getting errors saying its trying to load ` Could not load file or assembly 'Microsoft.Build.Framework, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.`

[2016-04-13 07:05] ig-sinicyn opened #142 "[Suggestion] BenchmarkDotNet.Analyzers.IAnalyser - use same spelling for namespace and type?"
Hi!

The `IAnalyser` interface belongs to `BenchmarkDotNet.Analyzers` namespace. The first one uses British English spelling, and the second one - American English.

There can be only one, I think:)

[2016-04-13 07:48] adamsitnik commented on #137
Hi @niemyjski The bug is already fixed, but it's waiting for the Release (probably end of the next week). For .NET 4.5 target we are going to reference MSBuild 12 dlls, for .NET 4.6 MSBuild 14 dlls. We will also have a fallback mechanism in case when dll are not found we will just execute bash script that will do simple call to msbuild

[2016-04-13 14:22] LeeCampbell commented on #98
Hey any objections if I try to put the [HdrHistogram](https://www.nuget.org/packages/HdrHistogram/) (rewrite) i.e. not the current official one? Interestingly I am just swapping out my hand rolled perf tests for this lib in the HdrHistogram project.

[2016-04-13 14:33] LeeCampbell commented on #69
+1 would be good to have the GC0,1 & 2 collection counts in the output. I find often this is a leading indicator as to why two implementations are performing differently.

[2016-04-13 14:56] adamsitnik commented on #142
thanks for the suggestion!

[2016-04-13 15:25] mattwarren commented on #69
@LeeCampbell we already have Gen 0/1/2 Collection Counts **and** *Memory Traffic per Op*, via the BenchmarkDotNet [Diagnostics/Diagnoser](https://github.com/PerfDotNet/BenchmarkDotNet/tree/master/BenchmarkDotNet.Diagnostics) plugin. (Currently you need to compile it from source, there's no NuGet package)

See [my blog post](http://mattwarren.github.io/2016/02/17/adventures-in-benchmarking-memory-a

[2016-04-13 15:31] mattwarren commented on #98
I think that @gregoryyoung was going to do the same thing, so maybe check you aren't duplicating each other. And yes it would be much better to use your re-write, rather than my out-of-date version!

Cool, once you're done we can add you to [the list](https://github.com/PerfDotNet/BenchmarkDotNet/wiki/People-using-BenchmarkDotNet)

[2016-04-13 15:37] gregoryyoung commented on #98
I was going to use HdrHistogram though

On Wed, Apr 13, 2016 at 4:31 PM, Matt Warren <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-04-13 16:12] mattwarren commented on #98
There's a few versions of HdrHistogram

My [old and out of date version](https://github.com/HdrHistogram/HdrHistogram.NET) which is "official" in as much as it lives under https://github.com/HdrHistogram.

Lee's [newer and actively maintained version](https://github.com/LeeCampbell/HdrHistogram.NET) which is also available as a [NuGet package](https://www.nuget.org/packages/HdrHistogram).

I'm pre

[2016-04-14 03:08] russcam opened #143 "Running against dnx/dnvm/dnu toolchain"
I see that `DnxToolchain` type uses the `DotNetCliBuilder`

https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchains/Dnx/DnxToolchain.cs#L19

that runs against the `dotnet` cli toolchain

https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliBuilder.cs#L81

Did anyone try to build a version against the RC1 dnx/dnu/dnvm t

[2016-04-14 03:22] LeeCampbell commented on #69
Thanks @mattwarren. Will there be a [roadmap](https://github.com/PerfDotNet/BenchmarkDotNet/wiki/Roadmap)/[milestone ](https://github.com/PerfDotNet/BenchmarkDotNet/milestones)with the Diagnostics being available on nuget?

The output above looks brilliant.

[2016-04-14 04:23] LeeCampbell commented on #98
As of today, my re-write will be moved to the common/official https://github.com/HdrHistogram organization under the https://github.com/HdrHistogram/HdrHistogram.net repo. ETA is a few weeks to get this done properly.

[2016-04-14 08:10] adamsitnik commented on #143
We used dnx/dnu/dnvm for a while, but it got deprecated before we shipped new version so we have [replaced dnx with dotnet cli](https://github.com/PerfDotNet/BenchmarkDotNet/commit/3402f012cc59d50491d29322c06c4e8c0a52ddde). The advantage is that we can build dnx451 with dotnet cli as well so we use single tool instead of two.

[2016-04-14 08:53] mattwarren commented on #98
@LeeCampbell thanks for the update and thanks for all the work you've done on HdrHistogram, it's much further along that the version I did a year ago!

[2016-04-14 10:34] mattwarren commented on #69
Hopefully soon, we are just chatting about that over in gitter, see https://gitter.im/PerfDotNet/BenchmarkDotNet?at=570e6335b4ace1d62ba237d6

[2016-04-14 11:47] mattwarren commented on #77
@adamsitnik sorry I missed this comment.

Fine by me, as long as one way or the other we get a C.I build, I don't mind which technology we use. I was only playing around with AppVeyor because I'd used it before.

[2016-04-14 22:02] adamsitnik commented on #134
@ig-sinicyn Thanks for very usefull comments. I will add Warnings to summary and somehow extend IAnalyser to allow prevalidation and post verification

[2016-04-15 06:29] ig-sinicyn commented on #134
@adamsitnik  great news!

And thanks for exposing the warnings! I'll try to pass these as NUnit warnings when done. There's no documented way to do this, however the NUnit's `IgnoreException` is threated as a warning.

[2016-04-16 17:45] adamsitnik commented on #136
I have some idea, will try to implement it in form of a Validator that will be called before benchmark run.

[2016-04-17 16:37] adamsitnik commented on #134
@ig-sinicyn @AndreyAkinshin @mattwarren

I have extended our current features with new thing: Validators

[code]

Validators are executed before running benchmarks. There is only one mandatory validator: BaselineValidator (checks wether class does not have more than one Baseline = true method). Summary has been extended and contains list of found errors. If any of the errors is critical, then none

[2016-04-17 16:40] adamsitnik commented on #136
@ig-sinicyn Some progress: I have implemented ExecutionValidator that checks whether it is possible to run all benchmarks first. If you do not want to continue execution if single benchmark fails validation you need to use ExecutionValidator.FailOnError

The feature is not done yet, I will have to store and compare the results. I need to consider collections as well, but I will most probably only

[2016-04-17 16:42] ig-sinicyn commented on #136
@adamsitnik  ok, thanks for it! :)

[2016-04-17 16:52] ig-sinicyn commented on #134
@adamsitnik  Wow! That's much better than my original proposal, thumbs up.

It definitely does:)

[2016-04-18 04:46] russcam commented on #143
Thanks for the commit link :+1:

Contemplating now whether to update our source to use dotnet cli or checkout the dnx version in the commit...

[2016-04-18 08:40] adamsitnik commented on #143
I am not sure if it is possible to update VS solutions to build with dotnet cli. I know that MS has finished moving to it internally last week. Most probably you could just use both: stay with dnx to work with projects on a daily basis (integration with VS) and install dotnet cli on the machines that you want to run benchmarks. Dotnet cli should be able to build your dnx projects as well. When I m

[2016-04-18 08:48] adamsitnik commented on #143
@russcam Btw for BenchmarkDotNet Runtime.Dnx means dnx451, Runtime.Core means dnxcore50. You most probably look for our [CoreToolchain](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchains/Core/CoreToolchain.cs)

[2016-04-18 08:59] russcam commented on #143
Awesome, I didn't clock that one, thanks! Was there a specific reason for splitting them out? I mean, I understand that `dnx451` and `dnxcore50` have separate framework dependencies and target different runtimes, but both of them are built with the the `dotnet cli` toolchain. That's a question to better understand dotnet cli as much as anything :smile:

[2016-04-18 09:14] adamsitnik commented on #143
In general dotnet cli allows you to build and run .NET applications for any target framework monikers (net20, net35, net40, net45, net451, net452, net46, net461 as well as dnx451, dnx452, dnx46 and dnxcore50, dotnetstandard13 and all other  aliases for .NET Core). It is also cross-platform, so we can do it on Mac, Unix and Windows.

DNX451 itself is a DNX SDK running on .Net 4.5.1 (Desktop CLR / F

[2016-04-20 10:14] #135 closed

[2016-04-21 04:40] voltagex opened #146 "Ability to specify units / easier comparison"
I noticed that a report I've generated uses `us` and `ns`. While I can multiply microseconds by 1000 to get nanoseconds, it'd be easier if I could specify the units to use in the report.

I'm currently not able to install the R package to view the plots so I'm not sure if they're better.

I'm using BenchmarkDotNet 0.9.4 from NuGet.

[2016-04-21 08:53] mattwarren commented on #146
Hmm, good point. Currently BenchmarkDotNet deliberately scales the values, [taking into account the smallest measurement is has](https://github.com/PerfDotNet/BenchmarkDotNet/blob/ad6be7f7326cd8acbc05565193ccf4acf684a366/BenchmarkDotNet/Horology/TimeUnit.cs#L32-L44). So all the values reported should all be in consistent units.

Could you upload the .csv and .log files from a report you have so th

[2016-04-22 00:57] voltagex commented on #146
I'm not sure I can share the particular report, I can see if I can write up a "fake" benchmark to show the problem.

[2016-04-22 01:24] voltagex commented on #146
Here's a contrived example:
[code]

FastMethod just returns, SlowMethod has a Sleep for 1ms.

Log/report attached.
[Release.zip](https://github.com/PerfDotNet/BenchmarkDotNet/files/230980/Release.zip)

[2016-04-22 02:49] voltagex commented on #146
Argh, I've just noticed the example I posted doesn't switch units.

[2016-04-22 03:06] voltagex commented on #146
Okay, I can't actually reproduce what I saw, even with my original code, but the feature request still stands: e.g.

                     Method |             Median |          StdDev |
--------------------------- |------------------- |---------------- |
  One | 40,866,028.1181 ns | 372,974.0464 ns |
  Two |        940.9016 ns |       9.8611 ns |
 Three |    815,496.1360 ns |  11,435.5779 ns |

mi

[2016-04-22 08:29] adamsitnik commented on #146
I think that it would help with #118, because right now it is impossible to implement if we can not have the same unit for all measurements

[2016-04-23 16:28] kayanme opened #147 "The way to benchmark multithreaded actions."
Consider some object, which should hold a lot of concurrent operations at the same time.
There is the need to benchmark one operation from one thread (still having others working) to verify  productivity during parallel load.
The problem is how to correctly hold that background threads still measuring one needed.

I see some ways, but none of them are completely possible now.
1. An ability to run

[2016-04-25 11:11] xied75 commented on #103
Hi guys, not meant to chase you, any updates on this?

[2016-04-26 09:57] AndreyAkinshin commented on #103
@xied75, no, we have a lot of major issues and we want to solve it first.

[2016-04-26 15:26] HellBrick opened #148 "Crash on [Params] with a string value that contains an invalid path char"
Here's a repro:
[code]
[code]

[2016-04-26 22:54] AndreyAkinshin commented on #148
Thanks for the report, will be fixed soon.

[2016-04-27 20:46] AndreyAkinshin opened #149 "Migrate from MSBuild to Roslyn"
## Problem

Currently `ClassicBuilder` uses a combination of `BuildManager.DefaultBuildManager` and `BuildBenchmark.bat` for project building. There are a lot of troubles with this approach:
* It is hard to detect correct version of MSBuild
* On Linux and MacOS, it is also hard to detect correct version of XBuild
* It is impossible to move a benchmark runner to another machine without installed MS

[2016-04-27 22:06] adamsitnik commented on #149
@AndreyAkinshin To be honest it sounds great! The only disadvantage I see right now is .NET 4.5+ support which means that we have to drop .NET 4.0 support. But on the other hand this should not be a big deal since most people that write benchmarks know that each .NET framework release brings performance updates and they are up to date.

I am going to spend few hours at the airports tomorrow and th

[2016-04-27 23:42] AndreyAkinshin commented on #149
Yes, you need installed .NET 4.5 (or mono) but only for compiling. You still can target your benchmark methods to .NET 4.0.

[2016-04-29 19:47] kayanme opened #150 "Declaring nested enums and using them as parameter value make incorrectly generated code/"
The source:

[code]

Generated code is:
[code]

with "+" breaking everything.

[2016-04-30 09:22] mattwarren commented on #150
I saw the same thing recently.

A quick workaround is to move the enum out of the class, so it's not nested

But yeah, we should fix this, it's a common pattern to use enums with Params in this way

On 29 Apr 2016, at 20:47, "kayanme" <notifications@github.com> wrote:

[2016-05-01 11:48] adamsitnik commented on #148
@HellBrick Thanks for very well described bug report! The bug has been fixed and will be a part of the upcoming release.

[2016-05-02 16:25] kayanme opened #151 "Crash during benchmark with baseline"
At the the end of test.

  в BenchmarkDotNet.Columns.BaselineDiffColumn.GetValue(Summary summary, Benchmark benchmark)
   в BenchmarkDotNet.Reports.SummaryTable.<>c__DisplayClass21_2.<.ctor>b__11(IColumn c)
   в System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   в System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   в System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)
   в B

[2016-05-02 16:30] adamsitnik commented on #151
Could you provide a minimum failing example?

[2016-05-02 17:04] #67 closed

[2016-05-02 17:04] #94 closed

[2016-05-02 17:04] #101 closed

[2016-05-02 17:04] #107 closed

[2016-05-02 17:04] #122 closed

[2016-05-02 17:04] #128 closed

[2016-05-02 17:04] #129 closed

[2016-05-02 17:04] #132 closed

[2016-05-02 17:04] #134 closed

[2016-05-02 17:04] #137 closed

[2016-05-02 17:04] #142 closed

[2016-05-02 17:04] #148 closed

[2016-05-02 17:04] #150 closed

[2016-05-02 17:06] nietras commented on #122
Awesome!

[2016-05-02 21:28] ig-sinicyn opened #152 "MarkdownExporter.Default.ExportToLog fails with NRE for Summary with Critical Validation Errors"
Bench.Net 0.9.5, summary obtained from run with critical errors (e.g. run with `Validators.JitOptimizationsValidator.FailOnError` on debug build).

Call to the `MarkdownExporter.Default.ExportToLog()` fails at `MarkdownExporter.PrintTable()`, as the SummaryTable passed is null.

[2016-05-02 21:37] ig-sinicyn opened #153 "ManualConfig.Add(IConfig config) does not add the validators."
Bench.Net 0.9.5.

I've a benchmark test where some parameters are set via [Config()] attribute and some are passed as a  parameter of the benchmark runner.

This setup does not allow to pass any validators into the benchmark. The `BenchmarkConverter.GetFullConfig()` method uses `ManualConfig.Union()` to merge the configs and it does not copies the validators at all.

Looks like a bug : )

[2016-05-02 21:51] adamsitnik commented on #153
@ig-sinicyn And yet again, thank you for very well described bug reports!

[2016-05-02 21:55] ig-sinicyn commented on #153
@adamsitnik , de nada:)

[2016-05-02 23:47] adamsitnik commented on #152
Honestly I am not sure if it was a bug, because BenchmarkRunner would not call any export if summary has some critical validation errors but I have fixed it anyway ;)

[2016-05-03 08:13] kayanme commented on #151
[code]

Then BenchmarkRunner.Run<ArrayBench>();

[2016-05-03 08:23] ig-sinicyn opened #154 "PathTooLong exception on custom config"
Bench.Net 0.9.5.
Config:
[code]

Benchmark fails with path too long exception, log:
[JitOptimizedDispatchPerfTests.zip](https://github.com/PerfDotNet/BenchmarkDotNet/files/246505/JitOptimizedDispatchPerfTests.zip)

As a suggestion: why not pass the args (including the method to run) via command line? That way you can emit only one binary for each job in the benchmark instead of dozens of projects

[2016-05-03 08:55] mattwarren commented on #154
This is the same as #91

[2016-05-03 09:01] ig-sinicyn commented on #154
@mattwarren, almost the same. My proposal is slightly broader as I suggest to emit a single binary for all benchmarks in run (when it's possible, of course). There's obviously no need to emit a separate exe for each benchmark method.

[2016-05-03 09:15] mattwarren commented on #149
Yeah I like this idea, it's the approach that I originally took with [MiniBench](https://github.com/minibench/minibench.warren/blob/master/MiniBench) before I stopped that and started working with you on BenchmarkDotNet.

I agree with @adamsitnik, the only issue I can see is that it forces people to have .NET 4.5 when building the benchmarks, but as he says, that's probably only a small amt of use

[2016-05-03 10:55] ig-sinicyn opened #155 "BenchmarkDotNet as a performance tests runner."
Hi!

As promised, an report on adopting `BenchmarkDotNet` to be used as a performance tests runner.

**Bad part:**

 * I've had to write a plenty of code to make it work.
 * It's not finished yet: there're some issues preventing us from pushing it into production (listed at the end).

**Good part:** it finally works and covers almost all of our use cases:)

#### Lets start with a short intro descr

[2016-05-03 11:01] mattwarren commented on #151
@kayanme what version of BenchmarkDotNet are you using?

I tried your code out with [0.9.4.0](https://www.nuget.org/packages/BenchmarkDotNet/0.9.4) and I don't get that error.

[2016-05-03 11:02] mattwarren commented on #154
@ig-sinicyn Yeah good point, I'll close my old issue and all work done against this can be associated with this one.

[2016-05-03 11:02] mattwarren commented on #91
Now being tracked as part of #154

[2016-05-03 11:02] #91 closed

[2016-05-03 11:29] mattwarren commented on #155
This is great, thanks so much for doing this, I think it'll be a great addition to BenchmarkDotNet

I need more time to look at it deeply, but on first glance it looks great!

With regards to:

and

We already have this, if you enable the `GCDiagnoser` you will get some extra columns in the summary statistics, e.g.

![image](https://cloud.githubusercontent.com/assets/157298/14981925/7870d898-112a-

[2016-05-03 11:36] mattwarren commented on #136
BTW, after using BenchmarkDotNet @fransbouma also asked for this feature, see https://twitter.com/FransBouma/status/723818104501997568

So consider that another +1 for it.

[2016-05-03 11:37] ig-sinicyn commented on #155
@mattwarren, I'm not sure that the GC diagnoser will work if the benchmark will be runned in process.

If it will or if it's easy to adopt the diagnoser for this (very specific, as for me) scenario then it's definitely a way to go!

Anyway, I want to wait until all other things will be more or less stable, just to prevent myself from doing useless work:)

[2016-05-03 14:17] damageboy commented on #137
As far as I can tell this should have been part of 0.9.5 but this still happens to me on a brand new machine with 0.9.5

[2016-05-03 15:49] adamsitnik commented on #137
@damageboy which .NET framework is your benchmark project targeting? It should be .NET 4.6 or higher

[2016-05-03 15:50] niemyjski commented on #137
I'm targeting 4.5 on a machine that only has. Vs2015 installed and I get tons of errors with the latest version

[2016-05-03 16:10] adamsitnik commented on #137
BenchmarkDotNet for .NET 4.5 references MSBuild12 (VS 2013), for .NET 4.6 MSBuild 14 (VS 2015).

Could you please try removing BDN form your benchmark project, upgrade it to .NET 4.6 and install BDN 0.95 ?

[2016-05-03 16:49] adamsitnik commented on #140
@ig-sinicyn

Toolchain used to be configurable. But it was designed for the CoreClr support and once I implemented it I realised that it was not needed anymore, Runtime was the right setting. So I allowed myself to [remove it](https://github.com/PerfDotNet/BenchmarkDotNet/commit/de337116a0c1b84b90e20353b6a70eadba834f82) I believe that you should not extend Runtime, it is strictly for Clr type. I s

[2016-05-03 17:00] niemyjski commented on #137
Negative, we reference 4.5 explicitly because there are issues with using
the .net 4.6 compiler / toolchain when targeting pcl projects. As such
everything that runs as part of this build cannot be any higher than 4.5

Thanks
-Blake Niemyjski

On Tue, May 3, 2016 at 11:10 AM, Adam Sitnik <notifications@github.com>
wrote:

[2016-05-03 19:43] ig-sinicyn commented on #140
@adamsitnik,

Well, I'd prefer to keep the current approach with the IToolchain. It allows to be as nonintrusive as it is possible and to implement my own toolchain in my project, doogfood it and only after that propose any changes to the Bench.Net.

So, the request must be changed to this:
**Please, add an ability to define and to use custom Toolchain.**

[2016-05-04 07:58] JimBobSquarePants opened #156 "Cleanup benchmark folders"
Hi there,

I'm running version 0.9.5 in an xproj and whenever I run the tests there are folders created for each benchmark in the solution. This doesn't get cleaned up and becomes an issue for my source control. Oddly at the same level as my benchmark test project.

![benchmark](https://cloud.githubusercontent.com/assets/385879/15008136/7628c936-1221-11e6-9b82-b98c53e091db.png)

Is there a way to

[2016-05-04 09:23] mattwarren commented on #84
I'm just about to check-in some code that uses [SimpleJson](https://github.com/facebook-csharp-sdk/simple-json) (because it's a single C# file) and will output the Json shown below (Note: the actual output doesn't have any newlines, so this is what it looks like after it's been through a [Json Formatter](https://jsonformatter.curiousconcept.com/))

For comparison, I've uploaded the [full log](http

[2016-05-04 09:33] jskeet commented on #84
Brief thoughts on the format:

- The Summary bit feels unnecessary. I assume all that data is in the details already? (Looks like not - `Thread.Sleep(100)` only occurs in the summary.)
- Any reason for AllProperties not to be an object using the property names as keys instead of having key/value pair objects?

I suspect I need to take a closer look at the overall data model to be able to tell ever

[2016-05-04 09:41] AndreyAkinshin commented on #84
I think, it would be cool to rewrite summary in the following form:
[code]

[2016-05-04 10:21] mattwarren commented on #84
Okay, here's an updated version `Benchmark.Properties` are now proper objects (as per @jskeet suggestion) and `Summary` is re-written as per @AndreyAkinshin suggestions

I also added `MethodTitle` to `Benchmark.Properties`, as it was in `Summary` but not under `Benchmarks` as @jskeet pointed out.

My original reason for having the `Summary` was because that matches the console output, but maybe it

[2016-05-04 10:25] jskeet commented on #84
That's definitely looking better, and I'd remove Summary once all the same data really is elsewhere. (Currently `Thread.Sleep(100)` only appears there.)

My argument is that summaries are really for ease of readability, which isn't a concern for machine-to-machine communication, which is what the JSON representation is for.

[2016-05-04 10:26] AndreyAkinshin commented on #84
Looks good to me. Also I suggest to use string values for enums instead of numeric.

[2016-05-04 10:54] mattwarren commented on #84
Okay, here's the latest/final versions,

@jskeet `Summary` is gone, now that it's all duplicated data (`Thread.Sleep(100)` is present at `Benchmarks.MethodTitle`)

@AndreyAkinshin have I caught all the enums? I've converted `HostEnvironmentInfo.HardwareTimerKind` and `Benchmarks.Measurements.IterationMode` to strings rather than numeric.

#####  Raw, as written by BenchmarkDotNet
[code]

##### Hum

[2016-05-04 10:56] AndreyAkinshin commented on #84
LGTM.

[2016-05-04 11:19] mattwarren commented on #84
Sign, now just need to make it work with .NET Core `.NETPlatform,Version=v5.4`!

[2016-05-04 11:22] mattwarren opened #157 "Implement export to xml"
**Note:** this should be done without introducing a .dll or Nuget dependency to the core of BenchmarkDotNet. For example the [Json export](https://github.com/PerfDotNet/BenchmarkDotNet/issues/84) was done with [SimpleJson](https://github.com/facebook-csharp-sdk/simple-json/blob/master/src/SimpleJson/SimpleJson.cs) as it is a single `.cs` file

[2016-05-04 12:19] adamsitnik commented on #156
We do this because of some xproj/dotnet cli limitations. I know that it sucks but I could not find better way to solve few problems (being compatibile with VS, dnx, dotnet cli and xunit test runner with single config)

I will implement benchmark folder cleanup for 0.9.6.

@AndreyAkinshin do you think that cleanup should be enabled by default or optional?

[2016-05-04 13:06] AndreyAkinshin commented on #156
Let's do it by default. But we should also have an easy way to disable cleanup.

[2016-05-04 13:09] JimBobSquarePants commented on #156
Thanks both of you, really appreciate it. Loving playing round with this tool :+1:

[2016-05-04 13:19] adamsitnik commented on #140
@ig-sinicyn I will implement this for 0.9.6 release.

[2016-05-04 13:36] ig-sinicyn commented on #140
@adamsitnik, Great news!

[2016-05-04 13:58] ig-sinicyn opened #158 "BaselineDiffColumn: NullReferenceException if one of the benchmark methods was failed."
Bench.Net 0.9.5:

If any of the benchmark methods fails, the benchmark run fails with a null reference exception at `BaselineDiffColumn.GetValue().`
at the line `var currentMedian = summary[benchmark].ResultStatistics.Median;`.

the `summary[benchmark].ResultStatistics` is null.

**NB:** there can be more errors like this, it looks like can-be-null properties are not checked for null at all.

The

[2016-05-04 15:58] kayanme commented on #151
Actually now it works fine for me too.
Unfortunately I didn't collect logs for that run.
I'll try a bit more, if I got that error again - I'll post an update.

[2016-05-04 16:38] mattwarren commented on #151
This might be the same as #158, so there's definitely a problem here.

[2016-05-04 16:55] mattwarren commented on #158
@ig-sinicyn thanks for the details bug report, this is the same as #151

Yeah, I've just been able to repo it, doing a fix now.

[2016-05-04 16:56] adamsitnik opened #159 "Warn user if no Columns were defined"
Today I got into situation when I had empty results exported. Since I am quite familar with the internals of BDN I new that I did not define colums and that that was the cause, but new users could get easily confused.

I think that we should warn users in such situation.

[2016-05-04 17:06] adamsitnik opened #160 "Make ClrMd Source diagnoser working with new ClrMD api"
@mattwarren I have put all the code in clrmd branch. I was able to get the RuntimeDiagnoser running.

When you start working with that please revert [this commit](https://github.com/PerfDotNet/BenchmarkDotNet/commit/27b96c4a1b5e1a128af28382b9ce32c85b6c6526) In general I have just excluded the files that do not compile from compilation

@AndreyAkinshin this is something that I had discussed first w

[2016-05-04 17:34] ig-sinicyn opened #161 "Build warnings after update to 0.9.5"
Real-world repro: https://ci.appveyor.com/project/andrewvk/codejam/build/1.0.514#L28

Steps to reproduce:
 1. Create a new project that targets 4.6 or higher
 2. Install BenchmarkDotNet 0.9.5. packages.
 3. Rebuild the project. There will be a warning:

[code]
 4. Check the versions of the Microsoft.Build and the Microsoft.Build.Framework assemblies in the project references. These are resolved as

[2016-05-04 20:25] ig-sinicyn opened #162 "BaselineDiffColumnTest fails on develop branch."
Well, you definitely should enable CI build with unit tests on appveyor :)
Just spent some time just to find that's not my side error.

Steps to reproduce: checkout current develop branch, build, run `BaselineDiffColumnTest.Test`.
Why it fails:  summary.Table does not contain Scaled column.

Looks like I'll need to redo the #138 PR for the third time. Ouch:)

[2016-05-04 20:45] mattwarren commented on #162
Yeah, agree. We have an issue for that (see #77), but haven't implemented it yet

Sorry about that.

What's weird is, it works for me, how are you running it? If I run
[code]

I get:

[code]

[2016-05-04 21:33] ig-sinicyn commented on #162
Ouch, my fault :facepalm:

The benchmark fails silently with the
[code]
message in the log. Errr, it definitely should be reported as an exception.

Closing the issue as invalid

[2016-05-04 21:33] #162 closed

[2016-05-04 21:45] mattwarren commented on #162
okay, thanks for the update

but we could/should do something better here, silently failing isn't that helpful!!

[2016-05-05 09:36] mattwarren commented on #160
At the same till, also solve item 3) from #53

[2016-05-05 09:36] mattwarren commented on #53
Now being tracked via #160, so closing this old issue

[2016-05-05 09:36] #53 closed

[2016-05-05 11:52] ig-sinicyn opened #163 "[Bug] Platform.AnyCpu builds as x86."
**UPD** My fault. Platform was set to host, and the studio was configured to run tests as x86.

Sorry :)

Old text:

The project emitted for the benchmark misses the
[code]
tag. Without this the project is compiled as `// Architecture: x86`, can be easily checked with ilspy.

Also, there should be warning for "x86, RyuJit" combo as there's no RyuJit for x86.

[2016-05-05 13:09] #163 closed

[2016-05-05 13:18] adamsitnik commented on #163
but this is still valid ;)

[2016-05-06 17:12] #143 closed

[2016-05-06 22:59] AndreyAkinshin opened #166 "Suggestion: Attribute Config style"
### Current situation

Today we have two main ways to create a config: object style and command style. The object style is great, it is a very flexible way to create any config you want. The command style is also great, it allows to use the config the command line format.

However, there is no simple way to create a simple config. For example, I just want to add a single diagnoser or exporter or j

[2016-05-06 23:02] AndreyAkinshin commented on #147
@kayanme, this is a very great idea. We definitely should add this feature. Unfortunately, it is hard to implement right way. There are a lot of multi-threading side effects like false sharing which can easily spoil a benchmark. We will add it sometimes, but not in the nearest future.

[2016-05-06 23:06] AndreyAkinshin commented on #161
@ig-sinicyn, thanks for the report.

@adamsitnik, can you take a look?

[2016-05-06 23:22] AndreyAkinshin opened #167 "Detect virtual machine environment"
Some people try to run benchmark on virtual machines. It can affect benchmark results because of virtualization effects and incorrect `Stopwatch.Frequency` value. We should definitely add a line about VM in the environment info. Possibly we also should add a warning.

See also: http://stackoverflow.com/questions/498371/how-to-detect-if-my-application-is-running-in-a-virtual-machine

[2016-05-07 09:37] adamsitnik commented on #167
I am one of these people ;) We could add it to the [EnvironmentAnalyser](https://github.com/PerfDotNet/BenchmarkDotNet/blob/e31872d1e521da27d46a919a58fb29253562e56a/BenchmarkDotNet/Analysers/EnvironmentAnalyser.cs)

[2016-05-07 10:41] adamsitnik commented on #156
I have extended IConfig with new boolean flag KeepBenchmarkFiles. It determines if all auto-generated files should be kept or removed after running benchmarks. Default for booleans is false, so by default all   files are not kept = they are removed.

[2016-05-07 10:49] AndreyAkinshin commented on #156
@adamsitnik, don't forget to use `KeepBenchmarkFiles` during config merge. (I think, we should `or` all the flags).

[2016-05-08 12:24] russcam opened #168 "Unable to run tests locally"
I'm unable to build the project locally to run either classic or dnx tests.

running runDnxAndCoreTests.cmd I get

Parameter name: runtimeName
   at Microsoft.Dnx.Tooling.RestoreCommand.FindRuntimeDependencies(String runtimeName, List`1 runtimeFiles, Dictionary`2 effectiveRuntimeSpecs, HashSet`1 allRuntimeNames, Func`2 circularImport)
   at Microsoft.Dnx.Tooling.RestoreCommand.FindRuntimeDependenc

[2016-05-08 12:27] AndreyAkinshin commented on #168
@russcam, just remove the `BenchmarkDotNet.Samples.FSharp.Core` folder, it helps. You don't need this folder.

@adamsitnik should fix it.

[2016-05-08 12:38] russcam commented on #168
Removed all the FSharp projects for the moment and also

[code]

from `BenchmarkDotNet.IntegrationTests.Classic.ReferenceTests` and can now run them for the moment :+1:

[2016-05-08 20:53] adamsitnik commented on #161
It is really weird. The project references [14.0.0.0 dlls](https://github.com/PerfDotNet/BenchmarkDotNet/blob/develop/BenchmarkDotNet/project.json#L58-L60). But if you rebuild the solution and go to `artifacts\bin\BenchmarkDotNet\Release\BenchmarkDotNet.0.9.5-develop.nupkg` extract it and open nuspec file, then you can see that versions are not set!!

[code]

I will google further

[2016-05-08 23:02] adamsitnik commented on #161
@AndreyAkinshin

Ok, I have removed the dependencies to MSBuild from BenchmarkDotNet package by setting "type": "build".

How does it work now:
1. User installs BenchmarkDotNet. VS does not add any references to MSBuild dlls as it used to do since 0.9.2, when we switched to project.json and generated nuspec file had changed.
2. Users runs some benchmarks: CLR is loading the mehod that references M

[2016-05-08 23:07] AndreyAkinshin commented on #161
I think, we should migrate to Roslyn asap (see https://github.com/PerfDotNet/BenchmarkDotNet/issues/149). There are too many problems with MSBuild.

P.S. Develop version (with my [recent](https://github.com/PerfDotNet/BenchmarkDotNet/commit/c280565c88e330688e2ea0c37c06317ff1e22926) magic commit) works fine with Mono on my machine.

[2016-05-08 23:11] adamsitnik commented on #161
@AndreyAkinshin I totally agree. If I only had some time to dig in the roslyn package..

I saw it! Impressive fix for a crazy runtime bug!

[2016-05-08 23:13] AndreyAkinshin commented on #161
It should be a simple issue. We should just execute `csc.exe` with correct arguments. =)

[2016-05-09 12:23] mattwarren opened #170 "Error handling in the spawned Benchmark process"
At the moment our BenchmarkProgram.txt template looks like so:

[code]

The problem is that when we run a benchmark that throws an exception, the following happens:

![image](https://cloud.githubusercontent.com/assets/157298/15111799/7baeb03c-15e1-11e6-8174-db5ff1c7be22.png)

I.e. you get the "Do you want to send ..." modal dialogue box. This is also a problem when running our integration tests, s

[2016-05-09 12:25] AndreyAkinshin commented on #170
LGTM.

[2016-05-09 13:30] adamsitnik commented on #170
Good idea! :+1:

[2016-05-09 13:43] mattwarren commented on #170
Okay, I'll implement it. But I won't check it in until after you've published 0.9.6 to NuGet.

I don't want to cause any more churn, in case there's a problem.

[2016-05-09 13:47] GiorgiStoynev commented on #166
Hi, I am not familiar with the intrinsics of the project and specifically with those relating to example and proposed attributes, but just from looking at your comments, it looks like it might be possible to perhaps call your "Implementation 2" methods "ConfigureXYZ" and then use "Exporter", "Diagnoser", "Job" for the enum names.

[2016-05-09 15:07] adamsitnik commented on #168
I think that it has to do with the toolchains, either dnx or dotnet cli fault. Same issue was reported [here](https://github.com/Microsoft/visualfsharp/issues/832)

Could you create a new folder and run following commands:
[code]
Does it work?

If so, then does `dnu restore` works for it as well?

And could you also give me your `dnx --version` and `dotnet --version` output?

[2016-05-09 20:06] adamsitnik commented on #166
Personally I don't like creating new type every time so I always use our fluent api.

Sample:
[code]

I find it very flexible and easy to use. What I have noticed is  that people tend to have single Config class and reuse it amongst all benchmarks they have.

[2016-05-10 11:12] colgreen commented on #137
FYI I just just got this exact error with Visual Studio 2015, targetting .NET 4.5.1 and referencing the latest nuget (0.9.5). We're currently referencing 4.5.1 for the time being.

[2016-05-10 19:06] AndreyAkinshin opened #171 "Problem with ExceptionDispatchInfo"
_Sometimes_ some of our classic test fail with the following exception:

[code]

List of tests with troubles:
[code]

[2016-05-10 19:46] adamsitnik commented on #171
Another crazy bug! It is really strange because I usually run all our tests few times a day and it has never happened to me.. Anyway sorry for that, the blame is on me ;)

[2016-05-10 20:20] AndreyAkinshin commented on #168
[code]

[2016-05-11 08:36] mattwarren opened #172 "Ensure CsvMeasurementsExporter is enabled when RPlotExporter is used"
At the moment if you enable `RPlotExporter` but not `CsvMeasurementsExporter` then the `-measurments.csv` file is not generated and you don't get any R plots.

In code your config needs to look like this:

[code]

It would be nice if we did something automatic here, it's not intuitive, at the very least it should be documented.

But a better solution would be to either combine the 2 exporters or m

[2016-05-11 18:11] #100 closed

[2016-05-11 18:11] #112 closed

[2016-05-11 18:11] #140 closed

[2016-05-11 18:11] #141 closed

[2016-05-11 18:11] #152 closed

[2016-05-11 18:11] #153 closed

[2016-05-11 18:11] #156 closed

[2016-05-11 18:11] #158 closed

[2016-05-11 18:11] #161 closed

[2016-05-11 18:11] #171 closed

[2016-05-11 18:14] #151 closed

[2016-05-11 19:05] ig-sinicyn opened #174 "NRE in Summary indexer property."
Bench.Net 0.9.6

**Use case:**  benchmark with failed validation (e.g. debug build run with `JitOptimizationsValidator.FailOnError`).
The code tries to get a report for the benchmark calling `summary[benchmark]`. The call is failed with null reference exception as `summary.reportMap` field is null.

**Expected behavior:**
`summary[benchmark]` should return null if there's no report for a benchmark

[2016-05-11 20:10] #84 closed

[2016-05-11 20:15] damageboy commented on #149
Wouldn't you like to also take a dependency on a MSBuild nuget package while at it? Or is xbuild now considered safe enough?

[2016-05-11 20:23] AndreyAkinshin commented on #149
@damageboy, I don't want to have the MSBuild dependency. I want to compile `Program.cs` by Roslyn.

[2016-05-11 20:44] mattwarren commented on #77
There's a nice working AppVeyor here that we can use:

https://ci.appveyor.com/project/StackExchange/dapper-dot-net

[2016-05-11 21:18] adamsitnik commented on #137
@colgreen could you give it a try with 0.9.6? It has been released an hour ago

[2016-05-11 21:22] adamsitnik opened #175 "Add .NET Core support for Diagnostics package"
Currently we are blocked by the fact that [TraceEvent is not available on CoreCLR](https://github.com/dotnet/corefx/issues/4864). As soon as it gets fixed by Microsoft I will implement that.

[2016-05-12 05:50] damageboy commented on #149
Understood, so you want to abolish the current build generators and go straight to the compiler?

[2016-05-12 09:21] AndreyAkinshin commented on #149
I think, we will keep current toolchain system. We should just write another Builder (e.g. `RoslynBuilder` instead of `ClassicBuilder` which based on MSBuild).

[2016-05-12 11:54] mattwarren commented on #175
More fundamentally they need to port ETW events (or something equivalent) to other OSes first. See [this doc for a discussion](https://github.com/dotnet/coreclr/blob/master/Documentation/coding-guidelines/cross-platform-performance-and-eventing.md) of where they are headed.

[2016-05-13 08:07] ig-sinicyn opened #176 "Split and simplify printed summaries"
Hi!

I'm finishing the inline test runner and doing some investigations on configs allowing to run tests as fast as it's possible without losing the accuracy.

The current timings for smallest tests are 2..5 sec per benchmark and the profiler shows that 1 sec from that is spent inside the `EnvironmentInfo.GetCurrent()` method. To be more precise, it's a `GetProcessorName()` call.
The EnvironmentIn

[2016-05-13 09:00] adamsitnik commented on #176
I have some idea how we could approach this: for each benchmark run (call from autogenerated Program.cs) we should display (use) only the data than can be benchmark (job?) specific like Clr and Architecture. Then the exporters could use all details that are the same for all benchmarks: OS, Processor, ProcessorCount etc.

@mattwarren @AndreyAkinshin what do you guys think?

[2016-05-13 10:08] ig-sinicyn opened #177 "[Suggestion] common messaging API"
For now benchmark.net has multiple points of failure / informational messages that are passed as a plain text in the log:
- validator warnings | errors
- analyser warnings (no errors?),
- toolchain warnings / errors (not reported at all?)
- exceptions thrown.

I suggest to wrap all these into common interface, IMessage:

[code]

and to report all messages using that interface. This will be especia

[2016-05-13 10:10] ig-sinicyn commented on #176
@adamsitnik well, all other infos are not taking time at all, so I'd prefer to have them in the output,

[2016-05-13 11:05] adamsitnik commented on #176
@ig-sinicyn  Let's say you run single benchmark with LaunchCount = 5. Then you see the output of ToFormattedString 6 times. 5 for each launch and 1 for summary. I mean that we should display the data that is benchmark specific 5 times and give full info in the summary because it does not change in time.

[2016-05-13 11:07] ig-sinicyn commented on #176
@adamsitnik, agreed!

[2016-05-14 09:21] ig-sinicyn opened #179 "Job.GetAllProperties(): old property names are used"
in  `JobExtensions.cs`:
[code]

Should be `nameof(IJob.WarmupCount)`, `nameof(IJob.TargetCount)` and `nameof(IJob.LaunchCount)`, I guess.

[2016-05-15 13:29] Bobris opened #180 "Ability to have custom output column"
Usecase would be benchmark of serialization so column could contain serialized size in bytes.
It could be set already from Setup method or return value from benchmark method itself (both options would work for me).

[2016-05-15 13:38] AndreyAkinshin commented on #180
We already support custom columns. (E.g. see https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.Samples/Intro/IntroTags.cs, https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Columns/Column.cs). It it ok for you or you want to have a predefined column which shows the return value?

[2016-05-15 13:56] Bobris commented on #180
Custom columns are nice and could be solution though manual, or is there way somehow pass value from benchmark or setup method back to Benchmark instance?

[2016-05-15 14:00] AndreyAkinshin commented on #180
There is only one way: you should use reflection. `Benchmark.Target` contains the following information:
[code]

[2016-05-15 14:06] Bobris commented on #180
Thanks, will think about it...

[2016-05-15 14:06] #180 closed

[2016-05-15 22:54] Bobris commented on #180
This is what I created - It looks like huge hack, but I was not able to come up with anything easier.
https://github.com/Bobris/BTDB/blob/bd1cd1ecc825e74c156fbe23c126fd582dd505c9/SimpleTester/EventSerializationBenchmark.cs#L86

[2016-05-16 07:15] ig-sinicyn opened #181 "CompositeValidator: some validators will be skipped"
CompositeValidator.cs
**1**

[code]
 * typos: valiadator, grouppedByType
 * if user adds multiple instances of the validator with different options, only one will be run. It will be better to throw exception with "Fix the validators bla-bla-bla" message instead:)

**2**
[code]
* bad news: validator with TreatsWarningsAsErrors = false will win.
* good news: the property is not used at all :)

[2016-05-16 07:20] AndreyAkinshin commented on #181
Thanks for the report. Will be fixed in the next version.

[2016-05-17 08:25] Bobris commented on #146
Look at this how much excessive decimal points it has much beyond measurement precision (it could be different request than this, just that it should be probably improved together ...):

 Implementation |       Direction | Byte Size | Complexity |         Median |        StdDev |       Op/s |    Gen 0 | Gen 1 | Gen 2 | Bytes Allocated/Op |
--------------- |---------------- |---------- |-----------

[2016-05-17 22:26] adamsitnik commented on #181
The stronger validator (TreatsWarningsAsErrors  = true) will always win and only one will be used. There is no need to throw (it can be an effect of merging two valid configs). To me this is a desired behaviour, I have even [written test for that](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.Tests/CompositeValidatorTests.cs#L10). "Is's not a bug, it's a feature" ;)

It

[2016-05-19 08:37] mattwarren commented on #126
Closing this, I think the question has been answered.

[2016-05-19 08:37] #126 closed

[2016-05-19 08:39] mattwarren commented on #120
@ig-sinicyn are you happy for this issue to be closed?

I think that any actions are covered elsewhere, such as #155

[2016-05-19 08:41] ig-sinicyn commented on #120
@mattwarren

Yes, of course. Forgot about this one.

[2016-05-19 08:41] #120 closed

[2016-05-19 08:48] mattwarren commented on #177
Hmm, this is an interesting suggestion, although I'm a bit torn. I actually quite like the simplicity of just parsing the console output of the child process, although that's not 2-way as you state.

However I think that having a proper API for 2-way communication between the host and the child-process will be useful going forward, for instance I *think* that it could also help with #133.

Are you

[2016-05-19 08:56] ig-sinicyn commented on #177
@mattwarren
Well, I can do it but I'm afraid that it will be not to soon.

I'm quite busy at work for a week or two and also I still had to finish [the competition test runner](https://github.com/rsdn/CodeJam/tree/master/Main/src-perfomance). It's in almost-ready state, need to add some missing features (the main one - annotating perftests with actual timings obtained from ci-server). After that I

[2016-05-19 08:59] mattwarren commented on #155
@ig-sinicyn I was just wondering how this was going?

Do you need any help from any of us, or is it just case of finding the time to do it (like we all seem to be struggling with!!)

[2016-05-19 09:00] mattwarren commented on #179
cheers to noticing this, yeah using `nameof(..)` would be nicer.

I'll take a look and if it doesn't break anything I'll make the change

[2016-05-19 09:12] mattwarren commented on #177
Sorry, I wasn't trying to rush you, we're really grateful for all your contributions.

Great, BTW the [competition test runner](https://github.com/rsdn/CodeJam/tree/master/Main/src-perfomance) stuff looks great!

[2016-05-19 09:24] ig-sinicyn commented on #155
@mattwarren
Well, almost no issues at all. The main trouble is there's a lot of things to be wired together to make the entire idea to work. And all of these should work fine, or the test runner would be useless.

 As far I can see there's no production-grade perftesting suite for .Net. So, sometimes I had to reinvent the wheel basing on our experience in perftesting. Try-fix-repeat all the way do

[2016-05-19 09:59] mattwarren commented on #155
Yeah that's probably true, the only one I've seen is [NBench](https://petabridge.com/blog/introduction-to-nbench/), but it's pretty new. Being able to do this with BenchmarkDotNet would be great!

Test Name:  RunCaseAggInlineEffective
Result Message:
Execution failed, details below.
Errors:
    * Run #3: Method Test01Auto runs faster than 15.22x baseline. Actual ratio: 11.232x
    * Run #3: Method

[2016-05-19 10:10] ig-sinicyn commented on #155
@mattwarren
Yeah, I've checked NBench. For the moment It missed a lot of features, as far as I can remember there was no baseline support and it has a very weird API to specify limits for the benchmarks:
[code]
I'm pretty sure that attribute annotations can be made less verbose. At least I will try hard to do it:)

[2016-05-20 15:56] mattwarren commented on #130
Still W.I.P, but after d6a55c5, we now support methods, classes and namespace (1 or more), i.e. :

- `method=Method1,Method2` and `method=Namespace.Class.Method1`
- `class="ClassB,ClassD` and `class=Namespace.ClassB`
- `namespace=MyNamespace,MyOtherNamespace`

Also allows plurals (just to be nice), i.e. `methods=`, `classes=` and `namespaces=`

[2016-05-22 12:39] ig-sinicyn opened #183 "[Suggestion] Make ValidationError public"
Bench.Net 0.9.6,  `BenchmarkDotNet.Validators.ValidationError` is declared as internal.
As a result, custom validators had to reimplement the `IValidationError` to report validation errors.

[2016-05-22 12:43] ig-sinicyn opened #184 "[Proposal] remove jitting calls from BenchmarkProgram.txt"
The `Templates\BenchmarkProgram.txt` file contains the following lines:
[code]
The last two should be removed as jitting is expected to be performed by  `new MethodInvoker().Invoke()` call:
[code]

[2016-05-23 15:32] mattwarren opened #185 "Report if difference between 2 benchmarks is statistically significance"
I just came across [tinystat](https://github.com/codahale/tinystat), which is a nice go tool. Basically it  that tells you if the difference between 2 benchmarks is statistically different/significant, from the README:

There's also some more info in the [godoc](https://godoc.org/github.com/codahale/tinystat/cmd/tinystat) for the command:

[code]

@AndreyAkinshin do you think that it's worth havin

[2016-05-23 20:14] Bobris opened #186 "GC Diagnoser should not include allocations done by Setup method"
See subj.

[2016-05-23 20:19] mattwarren commented on #186
Hmm, yeah that's a good point, I'll take a look (also see #133)

[2016-05-23 20:52] Bobris commented on #186
I read whole #133 before submitting this one, but because I don't have problem with unstable results and it didn't mentioned Setup method, I though should be good to separate these.

[2016-05-23 21:31] mattwarren commented on #186
Yeah that's absolutely fine, I wasn't saying it was a dupe, it was more a note to myself to fix that #133 at the same time.

Thanks for reporting this BTW, I didn't even consider the effect of `[Setup]` along with the `MemoryDiagnoser`.

[2016-05-24 14:02] adamsitnik opened #187 ".NET Core RC2"
Update solution, tests, projects and the code

I am working on it now because I need it for some parts of my talk ;)

[2016-05-24 15:20] alexandrnikitin opened #188 "Ability to manage GC mode: turn on/off the Server/Concurrent GC modes and extend to CPU groups"
About GC modes: https://msdn.microsoft.com/en-us/library/ee787088(v=vs.110).aspx#Anchor_9

The Concurrent GC flag: https://msdn.microsoft.com/en-us/library/yhwwzef8(v=vs.110).aspx
The Server GC flag: https://msdn.microsoft.com/en-us/library/ms229357(v=vs.110).aspx
The GC CPU Groups flag: https://msdn.microsoft.com/en-us/library/hh925566(v=vs.110).aspx

Also printing current GC mode will be useful

[2016-05-24 16:09] AndreyAkinshin commented on #185
LGTM.

[2016-05-24 16:17] AndreyAkinshin commented on #184
@ig-sinicyn, we should run jitting as soon as possible. We can't remove these two lines from `BenchmarkProgram.txt` because it can spoil some benchmarks. E.g., it is important to run jitting for the target method _before_ the first use of the Stopwatch (See also: http://aakinshin.net/en/blog/dotnet/legacyjitx86-and-first-method-call/). Perhaps, we can remove the jitting section from the `Invoke` m

[2016-05-24 19:02] jskeet opened #189 "--exporters option *appears* not to be working"
Hooray - the NodaTime benchmarks run :)

Hooray - running with `--help` shows me the `json` exporter (thanks Matt!)

Boo - I don't actually get any JSON...

Running with:

[code]

or

[code]

... my `BenchmarkDotNet.Artifacts\results` directory still contains csv, md and html, none of which I want, but no JSON :(

[2016-05-24 19:07] jskeet opened #190 "Feature request: quiet mode"
It would be really nice to be able to start a long run, and instead of getting a long scrolling list where most of the time I can't see what's executing, instead have an in-place display, updated appropriately and consisting of:

- Possibly the options involved (may be too long-winded)
- Current / total test count, e.g. "Running test 32/152"
- Name of currently running test
- Current execution tim

[2016-05-24 19:09] ig-sinicyn commented on #184
@AndreyAkinshin
 wouldn't it be better to create explicit `Init()` step and to move all init logic (setting properties, performing the jitting calls etc) into it?

 I've naive-but-working implementation in `RunnableBenchmark` [here](https://github.com/rsdn/CodeJam/tree/master/BenchmarkDotNet/src/%5BL1_InProcess%5D/Toolchains).
Of course the API is just a mockup. For example, it should provide a wa

[2016-05-24 19:38] AndreyAkinshin commented on #184
I will think about it.

[2016-05-24 21:41] jskeet opened #191 "MSBuild dependency - best way of fixing?"
I've managed to get the benchmarks running on my dev box, but on my CI machine I'm failing - when I run it (with `dotnet run`) I end up with an exception:

[code]

I assume it needs the assemblies in the GAC, but I'm not sure of the least-impact way of doing that. Aside from anything else, something to add in the Getting Started section?

(The machine has VS 2015 installed as well as .NET Core RC2

[2016-05-24 22:00] mattwarren commented on #189
Sorry, I haven't documented it and we probably don't have the most intuitive mechanism

Not at my laptop to double check, but I'm pretty sure that

  "exporter=Json"

should work

On 24 May 2016, at 20:25, "Jon Skeet" <notifications@github.com> wrote:

[2016-05-24 22:04] mattwarren commented on #189
Whoops meant to type "exporter=json", although I think it's case insensitive (and if it isn't I'll fix it)

On 24 May 2016, at 20:25, "Jon Skeet" <notifications@github.com> wrote:

[2016-05-25 05:41] AndreyAkinshin commented on #191
We are going to drop MSBuild dependency in the next version. See also: https://github.com/PerfDotNet/BenchmarkDotNet/issues/149

[2016-05-25 05:43] jskeet commented on #190
I realize that a multi-line updating status box may be tricky - a weaker form of this feature request would be a mode which just says which test it's executing each time it starts a new one, along with the count, e.g. output of

[code]

Also, "quiet" may not be an ideal option name for this, as that would probably suggest even quieter output...

[2016-05-25 05:52] jskeet commented on #149
One small request while we're changing this: could we give the generated C# files a different extension? If the runner is killed while executing tests, the C# code stays behind, which then confuses `dotnet build`. Happy to file that as a separate feature request if it would be better.

[2016-05-25 05:52] jskeet commented on #191
Okay - will leave this issue open so that if we *do* at least keep this toolchain as an option, we also document how to make it work.

[2016-05-25 05:55] AndreyAkinshin commented on #191
Now you can try the following way: change TargetFramework of your project to 4.6 and reinstall BenchmarkDotNet. The dll from the `net46/` use MSBuild14.

[2016-05-25 05:56] jskeet commented on #189
I tried that:

[code]

Output:

[code]

There's basically the same error when I use `--exporters=json`, which is the name that matches the help text:

BenchmarkDotNet v0.9.6
Options:
  --jobs <JOBS>                  Allowed values: default, legacyjitx86, legacyjitx64, ryujitx64, dry, alljits, clr, mono, longrun
  --columns <COLUMNS>            Allowed values: mean, stderror, stddev, operationperse

[2016-05-25 05:59] AndreyAkinshin commented on #149
Yes, I think we need a separate issue for this feature.

[2016-05-25 06:04] jskeet opened #192 "Avoid creating .cs files at execution time"
A couple of times, I've killed a benchmark run part way through, ending up with a `BenchmarkDotNet.Artifacts` directory containing (a few layers down) some `.cs` files. As I'm building within dotnet cli and haven't explicitly excluded that directory, the next run tries to build those files - which clearly isn't going to work, as now I have two main methods aside from anything else.

Ideally, we sh

[2016-05-25 06:04] jskeet commented on #149
Filed #192.

[2016-05-25 06:11] mattwarren commented on #189
Sigh, you're right, "--exporters=json" should also work, I'll fix that

At the moment only "exporters=json" works (without dashes)

I think you're the first person to use this, so you are finding all the bugs :)

On 25 May 2016, at 06:56, "Jon Skeet" <notifications@github.com> wrote:

[2016-05-25 06:14] jskeet commented on #191
Yup, changing to use net46 in project.json seems to have sorted it. (Now I need to get it to use the Release config of Noda Time, but that's a separate matter...)

[2016-05-25 06:17] jskeet commented on #189
Not a problem :) Just tried it, and yes - I have json! (Along with the csv/html/md - shouldn't specifying the exporters effectively replace the default list?)

So yes, `exporters=json` works. Is `--exporters json` (space, not equals) meant to work? If not, we should change the help to include the `=`.

[2016-05-25 10:18] jskeet commented on #189
(I note the JSON output is all on one line, btw. Maybe we should have different exporter names of json and formatted-json, where the only difference is whether or not it's formatted. The formatting would be great for readability, but obviously make the file much, much bigger.)

[2016-05-25 13:15] xoofx commented on #133
Back on the subject, so any way to run for all benchmarks the same count of loop (I guess SingleRun mode, with no setup/pilot phase) to have a predictible test with MemoryDiagnoser?

I tried
[code]
But doesn't not work...

Very annoying, as so far, I can't have reliable test with GC. If you have a workaround without modifying the code, that would help, thanks!

[2016-05-25 15:12] mattwarren commented on #189
That's a good point, although if  we don't include certain "core" items (e.g. `ConsoleLogger`) users will get little or no output, which could be confusing.

But maybe we should be a bit more intelligent, i.e. if you specify `exporters=`, we *only* use the exporters you pass in, but leave `loggers`, `columns` set to the defaults?

[2016-05-25 15:15] mattwarren commented on #189
With regards to the cmd line, which of these do you think should work or should they all work?

1. `--exporters=json`
1. `exporters=json`
1. `exporters json`

Are there any other that should also have the same effect?

Remember we allow multiple options, such as `exporters=json,csv,markdown` so making the `=` required makes things easier (from the parsing POV).

[2016-05-25 15:17] mattwarren commented on #189
I thought that when I wrote the Json export, but now you've also said the same thing I'll actually implement it! I'll also go with your names, i.e. `json` and `formatted-json`.

[2016-05-25 15:18] jskeet commented on #189
Exactly. Any option specified should replace defaults; any option unspecified still uses the default.

[2016-05-25 20:56] mattwarren commented on #189
You can now do:

- `exporter=json` => all results/measurements, no indentation (single-line)
- `exporter=formatted` => all results/measurements, with indentation (multi-line)
- `exporter=brief` => only results, no measurements, with indentation (multi-line)

[2016-05-25 21:49] xoofx commented on #133
For reference, the [patch](https://gist.github.com/xoofx/c0508e8fc4a91cb00a1141848eea8371) I used to get stable results

[2016-05-26 01:37] adamsitnik commented on #187
Done ;)

How to update your toolchain to RC2:
* uninstall your current dotnet cli
* update your VS 2015 to 2015 Update 2
* [install latest NuGet Manager extension for Visual Studio](https://dist.nuget.org/visualstudio-2015-vsix/v3.5.0-beta/NuGet.Tools.vsix)
* [install .NET Core SDK, I am not sure if this is needed](https://go.microsoft.com/fwlink/?LinkID=798398)
* [install .NET Core Tooling Previe

[2016-05-26 01:40] adamsitnik commented on #77
OK, now with #187 we have no more dnx dependencies, @mattwarren you should be able to restore, build and run tests with dotnet cli. You can  take a look at [the scripts that I wrote](https://github.com/PerfDotNet/BenchmarkDotNet/blob/develop/runCoreTests.cmd)

[2016-05-26 01:46] adamsitnik commented on #183
There was no need for the interface, sorry for that. I have removed it and make the class public.

[2016-05-26 02:05] adamsitnik commented on #181
I have made it internall and fixed the typos.

[2016-05-26 02:08] adamsitnik commented on #168
Fixed with the migration to RC2 #187

[2016-05-26 08:23] ig-sinicyn commented on #183
@adamsitnik

Will not be better to maintain same style across all messages (validation errors, analyser warnings etc)?

As for me all of them should be either an interface or a class.

[2016-05-26 18:32] adamsitnik commented on #154
Recently this bug caused me a lot of troubles. For example I was implementing .NET Core RC2 support and was getting some really crazy exceptions from dotnet cli and after some debugging it turned out that it was the TooLong path ex.

I have one idea how we can approach it:
If the benchmarks are configured to KeepBenchmarkFiles (not the default value) then use current naming which can cause trouble

[2016-05-26 18:51] ig-sinicyn commented on #154
@adamsitnik, @AndreyAkinshin
I'd propose to change the entire way the benchmarks are built and run. The current approach has too match technical debt to leave it as is.

At first, the generated part of benchmark should be replaced with exe that contains something [like this](https://github.com/rsdn/CodeJam/blob/master/PerfTests/src/%5BL1_InProcess%5D/Toolchains/RunnableBenchmark.cs).
Of course, th

[2016-05-26 19:08] ig-sinicyn commented on #190
I've recently done something like this. There's HostLogger class that filters the output and prints only error messages and messages that starts with `// !` or `// ?`.
Also, all output between `// !<---` and `// !-->` lines is not filtered at all.

[Code](https://github.com/rsdn/CodeJam/blob/bf022133c55468f2ecb145c7a7ca7d86c3d83ff3/PerfTests/src/%5BL3_CompetitionsCore%5D/Loggers/HostLogger.cs)
[Te

[2016-05-26 20:06] adamsitnik commented on #154
@ig-sinicyn Your proposal sounds very reasonable. The other thing that we need is to support non-console apps to get the UWP support. So we need come up with some nice, flexible architecture for all of the scenarios:
* compilation with multiple toolchains
* multiple operating systems
* multiple runtimes (Dekstop Clr, Mono, .NET Core)
* diagnosers
* non-console apps (UWP and more?)
* anything else

[2016-05-26 20:10] adamsitnik commented on #183
@ig-sinicyn Sure. I plan some refactoring for what is public/internal for next version, will take care of this too.

[2016-05-27 09:53] FransBouma commented on #108
I'd like to ask for this issue to be reopened: it's a showstopper for me currently as I can't port RawDataAccessBencher over to BenchmarkDotNet due to this limitation: benchmarking e.g. database related stuff relies on app.config files. If the app.config file of the exe the [Benchmark] marked code is in is found, it should be simply copied to the source being generated, included in the csproj and

[2016-05-27 11:02] AndreyAkinshin commented on #187
Awesome!

[2016-05-27 13:15] mattwarren commented on #190
@ig-sinicyn would you be happy to submit a PR that adds `HostLogger.cs` to BenchmarkDotNet?

It looks really nice and it would be good to have it available OOTB.

[2016-05-27 13:27] AndreyAkinshin commented on #187
@adamsitnik, I installed all the programs, but I can't build BenchmarkDotNet..NETStandard,Version=1.5:
![devenv_2016-05-27_16-25-24](https://cloud.githubusercontent.com/assets/2259237/15609276/bf694dba-2427-11e6-9d63-ad28557870ad.png)
Any ideas?

[2016-05-27 13:33] ig-sinicyn commented on #190
@mattwarren will do.

Any suggestions for prefixes / logger name?

I dislike the prefixes used to mark LogImportantAreaStart / End, but have no idea how to make it better.
[Real-world example](https://ci.appveyor.com/project/andrewvk/codejam/build/1.0.611#L2862):
[code]
The log contains sections with xml that are parsed and used to adjust perftest limits. It allows to collect timings from another

[2016-05-27 13:34] adamsitnik commented on #187
@AndreyAkinshin
Could you go to the root folder, run `dotnet restore` and then to BenchmarkDotNet folder and execute `dotnet --verbose build -c Release -f netstandard1.5`

[2016-05-27 13:39] AndreyAkinshin commented on #187
[code]

[2016-05-27 14:39] adamsitnik commented on #187
@AndreyAkinshin Its weird... Could you go to project.json and add `"System.Resources.ResourceManager": "4.0.1-rc2-24027"` dependency to `netstandard1.5` target?

[2016-05-27 14:44] AndreyAkinshin commented on #187
[code]

[2016-05-27 14:59] adamsitnik commented on #187
It seems that your dotnet cli can not solve some resursive dependencies.

This is how it looks for me:
![image](https://cloud.githubusercontent.com/assets/6011991/15611710/ee9eec30-242b-11e6-851c-28111c5a5786.png)

Everything that you are missing are dependencies of Microsoft.CSharp package. Could you go to `%USERPROFILE%/.nuget/packages` and check whether the System.Linq is present there?

[2016-05-27 15:07] AndreyAkinshin commented on #187
Yes.
![explorer_2016-05-27_18-05-07](https://cloud.githubusercontent.com/assets/2259237/15611993/9b8af2a0-2435-11e6-85c2-8937f023b22e.png)

[2016-05-27 15:15] adamsitnik commented on #187
@AndreyAkinshin  Everything is in place, but yet it does not work ;/

I have few ideas:

* try to add imports "dnxcore50"  to netstandard1.5 target:
[code]
* create a new solution, add new .NET Core Library project. Check if it does compile on your machine
* add `"NETStandard.Library": "1.5.0-rc2-24027"` to dependencies and try if it helps
* ask for help on [dotnet cli gitter](https://gitter.im/do

[2016-05-27 16:25] ig-sinicyn commented on #190
@mattwarren

Well, the develop branch does not build at all, #187 .
You DEFINITELY need to setup an appveyor build:)

If this is urgent, feel free to copy the HostLogger' code by yourself.

[2016-05-27 16:45] adamsitnik commented on #190
@ig-sinicyn do you suffer from the same problems when trying to build from develop branch?

[2016-05-27 17:47] ig-sinicyn commented on #190
@adamsitnik yes, same issue here.

[2016-05-27 17:54] ig-sinicyn commented on #187
Same issue here.  [Build output](https://gist.github.com/ig-sinicyn/cf0fc6a00c99d18962cacaa1f991190d).

[2016-05-27 17:59] Tornhoof commented on #187
Try this dependency list for project.json in benchmarkdotnet for .netstandard 1.5
      "dependencies": {
        "System.Linq": "4.1.0-rc2-24027",
        "System.Resources.ResourceManager": "4.0.1-rc2-24027",
        "Microsoft.CSharp": "4.0.1-rc2-24027",
        "Microsoft.Win32.Primitives": "4.0.1-rc2-24027",
        "System.Console": "4.0.0-rc2-24027",
        "System.Text.RegularExpressions"

[2016-05-27 18:03] ig-sinicyn commented on #187
@Tornhoof
Yep, this one builds.
[code]

[2016-05-27 18:09] adamsitnik commented on #187
@Tornhoof thanks for the fix!! now the whole team can go RC2 ;)

[2016-05-27 20:35] mattwarren commented on #187
Woot, thanks @adamsitnik for all you hard work (plus @Tornhoof for the project.json tip). It's been a while since I was able to build BenchmarkDotNet in VS!!!

![image](https://cloud.githubusercontent.com/assets/157298/15620573/e8a9bab8-2452-11e6-8b34-2a64ff774395.png)

[2016-05-27 20:40] mattwarren commented on #187
BTW one extra thing, I've added some code like this to `BenchmarkSwitcher.cs`

[code]

But I then get the following errors when running `dotnet build`:

[code]

Any ideas?

[2016-05-27 22:12] adamsitnik commented on #187
I have pushed the @Tornhoof workaround to the repo to get it working for all of you.

@mattwarren I have no idea ;/

[2016-05-28 07:13] AndreyAkinshin commented on #187
Great! Now I can build almost all the project. However, I still have troubles with BenchmarkDotNet.Samples.FSharp.Core:
[code]

[2016-05-28 07:29] AndreyAkinshin commented on #187
@adamsitnik, can you also update BenchmarkDotNet.Samples? I can build this project but I can't run any of our samples. Also, `launchSettings.json` looks obsolete because we don't have `artifacts` anymore.

[2016-05-28 13:49] adamsitnik commented on #187
@AndreyAkinshin This time it was easy. The Nuget.config file was missing some feeds. I have updated it, cleaned my package cache, restored all (990 MB) and run all sample for both classic and core and F#. Sorry for the trouble!

And as for the launchSettings.json it's much more simple now:
![image](https://cloud.githubusercontent.com/assets/6011991/15627671/89f2405a-24eb-11e6-8bd1-c9d45613e0f6.png

[2016-05-29 08:18] AndreyAkinshin commented on #187
Thanks! However, `dotnet restore` still doesn't work for me. For some reason, `dotnet` ignores `NuGet.Config`, I had to write the full path to the config file with help of `--configfile`.

[2016-05-29 08:34] AndreyAkinshin commented on #187
@adamsitnik, Ok, it looks that everything works fine. I'm almost ready to publish new version. I have only one additional request: can you update README.md and DEVELOPING.md with useful information about Core-RC2?

[2016-05-29 11:39] adamsitnik commented on #187
@AndreyAkinshin done! I have tested the RC2 support with a [benchmarks for my DotNext talk](https://github.com/adamsitnik/DotNetCorePerformance/tree/master/Benchmarks). At least on Windows everything works great!

[2016-05-29 11:59] AndreyAkinshin commented on #187
Ok, great. I want to check once again all the environments and publish `v0.9.7` tonight.

[2016-05-29 16:56] Oxoron opened #193 "Small error in readme."
https://github.com/PerfDotNet/BenchmarkDotNet page

Code example:
BenchmarkRunner
    .Run<Algo_Md5VsSha256>(
        ManualConfig
            .Create(DefaultConfig.Instance)
            .With(Job.RyuJitX64)
            .With(Job.Core)
            .With(ExecutionValidator.FailOnError));

Errors:
"Cannot resolve symbol "Core"", "Cannot resolve symbol "ExecutionValidator"".

[2016-05-29 20:48] #170 closed

[2016-05-29 20:48] #172 closed

[2016-05-29 20:48] #179 closed

[2016-05-29 20:48] #181 closed

[2016-05-29 20:48] #183 closed

[2016-05-29 20:48] #187 closed

[2016-05-29 20:48] #192 closed

[2016-05-29 20:51] #168 closed

[2016-05-30 10:36] FransBouma commented on #108
I've looked into the code, but it's a bit hard to fix this without breaking things. The main fix I had in mind was in GeneratorBase.GenerateProject to call an extra virtual method which would be overriden in the ClassicGenerator and which would use the CurrentDirectory with the active calling process to see whether there's a .config file of the format <calling exe>.config, but that would break sit

[2016-05-30 18:41] #193 closed

[2016-05-31 13:11] mattwarren opened #194 "Framework settings in Jobs"
I'm not sure what the expected behaviour is supposed to be, but I don't think we're handling the `Framework` setting in the right way.

For instance, if you write a `Config` like so, would you expect it to run your benchmarks twice, once under `.NET 4.5.2` and once under `.NET 4.6`?

[code]

Well it doesn't and I'm not sure if it's even possible? Since .NET 4.0 all the [updates have been in-place]

[2016-05-31 13:23] mattwarren commented on #133
@AndreyAkinshin, what are your thoughts on this, what's a safe way to make the # of `Ops` more consistent across runs? I don't want to break the core timings to make diagnostics work!

As a test I added the following line of code:
[code]

And across 3 runs I got the following:

[code]

This is the problem, the total number of `Ops/Runs` changes, which in turn means the `Bytes Allocated/Op` also va

[2016-05-31 17:24] redknightlois commented on #133
What you can do there is normalize everything. The Bytes Allocated/Op will be similar (no reason it should change over multiple runs) so normalization can give you a single value that is the average of all them.

[2016-06-01 14:19] mattwarren commented on #133
I'm not sure that just normalising them will help here, because unless I'm mistaken what you're proposing, we already do that?

In [MemoryDiagnoser.cs](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.Diagnostics.Windows/MemoryDiagnoser.cs#L157) we have this code:

[code]

[2016-06-02 07:57] heemskerkerik commented on #108
It's also an issue when you have to use `bindingRedirect` to fix version conflicts. The result is that the benchmarked process crashes and the following error message gets logged:

`No more Benchmark runs will be launched as NO measurements were obtained from the previous run!`

[2016-06-02 08:44] mattwarren commented on #108
I think that the best/safest option for this feature is that if you ask for us to use your existing `app.config` file we use that as is. If we go down the route of merging your config with our own settings (to set the JIT, GC, etc), things may get messy. We can then throw and error if you ask us to use your `app.config` and create a job that would require us to re-write it, with a message explaini

[2016-06-02 09:38] heemskerkerik commented on #108
My problem would be solved when `app.config` is copied as is, and opt-in for that sounds logical.

[2016-06-02 11:11] FransBouma commented on #108
Vs.net creates an app.config file after you've simply changed the framework version, so in many cases the app.config file is there, so opt-in is indeed best: the user then deliberately chooses to go for this route.

Merging the jit with the copied app.config file might not be that difficult though, the file is xml after all. Some xpath voodoo to find the node for the jit (don't forget the namespac

[2016-06-04 08:54] adamsitnik commented on #108
I think that we must merge custom user settings (like connection strings, assembly binding redirects) with the runtime settings: JIT and [GC flags](https://github.com/PerfDotNet/BenchmarkDotNet/issues/188). It should be simple: take everything from the source app.config that is not `<runtime>`, generate `<runtime>` like we used to do and if any binding redirects are defined in app.config, then add

[2016-06-04 09:06] adamsitnik commented on #188
The only thing I need to know is how to expose the configuration in the api. [IJob interface](https://github.com/PerfDotNet/BenchmarkDotNet/blob/5191bc98e19d97dce83fd944172d9fe491d7f8de/BenchmarkDotNet/Jobs/IJob.cs) is already big.

What do you say for a new property, called RuntimeSetting, which would be an `[Flag]`enum and would contain [all performance-related the features](https://msdn.microso

[2016-06-04 14:26] lukasz-pyrzyk opened #195 ""Dotnet restore has failed" exception during dotnet run"
I have a problem with running simple benchmark. After typing "dotnet run" or starting from VS, exception occurs.

What is wrong?
Platform: .NET Core RC2 (1.0.0-preview1-002702)

[code]

[code]

[2016-06-04 22:55] adamsitnik commented on #195
Hej!

Thanks for trying our RC2 bits!

Could you please try running with:
`BenchmarkRunner.Run<StoragePerformance>(DefaultConfig.Instance.KeepBenchmarkFiles());`

then find the auto-generated folder (it should appear in solution's root folder) with project.json,  Program.cs files and run the `BuildBenchmark.bat` and paste the output + the generated project.json file content here?

[2016-06-05 04:58] lukasz-pyrzyk commented on #195
Here you go:

[code]

[2016-06-05 07:29] hmemcpy opened #196 "Allow specifying a gist url to RunUrl"
It would be great if BDN could figure out the raw url itself, and download the content from a specified gist url, e.g.

    var url = "https://gist.github.com/mattwarren/d202a4cd3b62635b5220d6cb8c9eeac9"

or maybe even without the `https://gist.github.com/` part, just `mattwarren/d202a4cd3b62635b5220d6cb8c9eeac9`

[2016-06-05 16:22] jskeet opened #197 "Regression in 0.9.7: --help option fails under dotnet run"
With 0.9.6:

[code]

With 0.9.7:

[code]

[2016-06-05 16:35] ig-sinicyn commented on #196
Just a sidenote: [here's](https://github.com/rsdn/CodeJam/blob/master/PerfTests/src/%5BL0_Core%5D/Helpers/BenchmarkHelpers.cs#L270) a helper that allows to retrieve text from url, absolute or relative path. Not tested well yet, hope to do it soon.

[2016-06-05 16:41] ig-sinicyn commented on #194
@mattwarren Actually, there is, however it's almost undocumented and it changes not so much.

I'm talking about `<supportedRuntime>`'s [SKU attribute](http://stackoverflow.com/questions/17148496/what-does-sku-attribute-mean-in-c).
It's [per-appdomain setting](https://msdn.microsoft.com/en-us/library/system.appdomainsetup.targetframeworkname(v=vs.110).aspx) and [there's list](https://msdn.microsoft

[2016-06-05 17:58] ig-sinicyn opened #198 "[Feature request] No logger for benchmark run?"
As a proposal: add an ability to disable [logging for each benchmark run](https://github.com/PerfDotNet/BenchmarkDotNet/blob/571b3dec965d6341ed5a3432c5ac75458f2c7457/BenchmarkDotNet/Running/BenchmarkRunner.cs#L50).

Use case: as usual:)
Unit test runner, dozens of perftests, tons of garbage in output dir :)
Most of it is removed as we use custom in-process runner, the ones that left are the log fi

[2016-06-05 20:19] ig-sinicyn opened #200 "be accurate about allocated bytes/op"
Bench.Net 0.9.7

Code:

[code]

Output:

[code]

The code obviously runs without allocations. The issue is blocker for us as it means we cannot trust output from the diagnoser. If you had any idea or workaround, write a comment please:)

As far as I can see this can be fixed only with introduction of two-way notifications before and after each of benchmark run.

There's alternate solution: run the

[2016-06-06 08:47] mattwarren commented on #197
I've been able to repro this, so I'll put some code in BenchmarkDotNet to protect against it

Seems like something changed in RC2, I'm not sure why getting the console width is a problem though! I'll also raise a bug over on the CLI repo.

[2016-06-06 09:10] mattwarren opened #201 "Fix the failing tests"
Now we have a C.I build (thanks to @gigi81), it's easy to see the [tests that currently fail](https://ci.appveyor.com/project/gigi81/benchmarkdotnet/build/tests)

[2016-06-06 09:33] mattwarren commented on #200
Sorry about that, I'll make sure that it gets fixed, we want BenchmarkDotNet to be a tool that people can rely on.

This output shows what's going wrong (see the final line):

[code]

We currently capture the memory allocations across the entire `Diagnostic` process/run (as you state), then divide by the `# of Ops`, which in this case is 908, a relatively small number.

When I designed the Memory

[2016-06-06 09:36] mattwarren commented on #200
Just one other note, the reason that I didn't use `GC.GetTotalMemory(..)` is the following. If you have code like this:

[code]

You could end up in the situation where `m2` is the same as `m1`, even though a lot of memory had been allocated between the 2 calls. If the GC had cleaned all the memory up by the time `m2` was calculated, it wouldn't been accounted for.

[2016-06-06 09:50] ig-sinicyn commented on #200
@mattwarren as far as I can remember the ETW is very tricky to hold it the right way.
You should collect all trace events and parse them only after the entire run is completed. Here's a proof from TraceEventProgrammersGuide (supplied with TraceEvent NuGet package ):

As for me, I'd prefer to use [resource monitoring](https://msdn.microsoft.com/ru-ru/library/dd997285(v=vs.110).aspx) instead.

Yep,

[2016-06-06 09:55] mattwarren commented on #200
Yep :-) but they're incredibly useful/powerful, so it's probably worth the hassle?!

That scenario we have covered, see [this code](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.Diagnostics.Windows/MemoryDiagnoser.cs#L57-L61)

Wow, I never know about those, they look useful thanks for the link.

[2016-06-06 09:57] mattwarren commented on #200
There's one other option that I came across last week. Creating our own ETW events, i.e. something like "Benchmark-Start", "Benchmark-Stop". Then when we process the ETW event stream we look out for those events and only process the memory allocation events that happen between a start/stop pair.

Maybe that's the easiest way to do it.

[2016-06-06 10:06] ig-sinicyn commented on #200
Err, I'm afraid this could not work. Dhe delays can be larger. In our project I use custom etw events to mark a start/end of segments that should be analysed.

As a sidenote: is separate run for diagnoser required at all? In our projects the etw overhead is negligible and it can be lovered even further by redirecting into etl file.

[2016-06-06 10:12] ig-sinicyn commented on #200
Yep, I've used use same approach to log the events. Should work, at least with full .net stack ( there's no .Net Core support, https://github.com/dotnet/corefx/issues/4864 )

[2016-06-06 10:15] mattwarren commented on #194
It's per-appdomain setting and there's list of what it changes (look for retargeting changes sections).

Hmm, seems I misunderstood what `<supportedRuntime>` actually does. Although as you say, it's still limited, i.e it only changes the behaviour of "Retargeting changes" (am I understanding correctly?)

Yeah that would be nice, the more validators the merrier!! I've been saved from producing bad

[2016-06-06 10:19] goldshtn commented on #200
I don't know if that is enough still, because ETW events are collected into per-CPU buffers. To the best of my understanding, you might receive your custom end event before an allocation event that actually occurred earlier, but in a different buffer.

Generally speaking, the GC diagnoser is a best-effort solution. The 100k alloc ticks are only an approximation anyway. For the # collections we cou

[2016-06-06 10:20] mattwarren commented on #200
This is something I talked about with @AndreyAkinshin a while ago. The reasoning is that the other runs are sensitive and we want to ensure that our measurements are as accurate as possible. Because BenchmarkDotNet reports results down to `ns` precision, any overhead is bad. We really don't want diagnostics to affect the measurements in any way, so we thought it was safer to keep them completely s

[2016-06-06 10:33] mattwarren commented on #200
@goldshtn in what way? I know they are bucketed up, but you seem to get the actual total for the bucket, i.e. I've seen totals like "100,435 bytes". My understanding is that it buckets up allocations until it exceeds 100K, then it sends an ETW event with the exact total, or am I missing something? Are there allocations that it doesn't include?

[2016-06-06 10:39] ig-sinicyn commented on #200
@goldshtn

Ok, thanks for the clarification!

@mattwarren
Ok, got this one too. As it turns out there's no quick and easy way to make current implementation anyway better.

 The only approach I could imagine is to replace the entire `MethodInvoker` with custom implementation that will collect GC count /  allocations before/after each `targetAction()` call. Definitely not a good thing as it will no

[2016-06-06 10:55] ig-sinicyn commented on #194
Yep. At least as far as I know. [Here's example](http://referencesource.microsoft.com/#mscorlib/system/compatibilityswitches.cs,31) of settable compatibility switches.

Ok. Will fill an issue.

[2016-06-06 11:02] goldshtn commented on #200
Well, if you allocate 80k you won't get an event. So that's not very accurate :-)

[2016-06-06 11:02] mattwarren commented on #200
I will at least investigate using custom ETW events to indicate the `Start` and `Stop` of the `[Benchmark]` method execution(s). This will also help with #186, which is another problem with the current approach. I will also look at the idea of using `GC.Collection` count in-process (as proposed by @goldshtn).

Also I'll update the docs to indicate that the Memory Diagnoser is a **best-effort** att

[2016-06-06 11:03] mattwarren commented on #200
Ahh I see what you're saying now, hadn't thought about that.

[2016-06-06 11:06] goldshtn commented on #200
Btw while we are at it, maybe you could also use the type info provided by the allocation event to give extra detail on what kind of allocations were performed. Or just refer folks to PerfView -- there's a point where BDN turns into a profiler... But you could e.g. say something like "most objects you allocated were strings, try StringBuilder" or whatever.

[2016-06-06 11:10] mattwarren commented on #194
Oh I see, so it's not a runtime-wide settings, i.e. "Enable all 4.5.1 comparability switches" (when running under 4.5.1 for example), it's per feature, i.e. "NetFx40_TimeSpanLegacyFormatMode" or "NetFx40_LegacySecurityPolicy".

[2016-06-06 11:14] mattwarren commented on #200
I looked into that and from my understanding (I might be wrong!) the type info is only from the last allocation that triggered the 100K threshold. So you might have 99K of `String` allocations, but if a `byte []` tips it over 100K, it's the `byte []` and it's stack-trace that is reported.

However, because BenchmarkDotNet run's lots of iterations of your benchmark this might not be such an issue

[2016-06-06 11:26] ig-sinicyn commented on #194
@mattwarren as far as I can remember these switches are also toggled on or off depending on SKU. Could not find a good proof as I've looked at the code a year or two ago.

[2016-06-06 11:26] mattwarren commented on #108
@adamsitnik thanks for picking this up and yes I agree, if we can merge everything together that would be great.

Are you planning to add this as a setting to `Config`, like `KeepBenchmarkFiles` and will it default to the current behaviour, i.e. off/false?

[2016-06-06 11:29] ig-sinicyn commented on #200
@mattwarren

Looks like a root of the issue:) Ok, will perform multiple runs with fingers crossed:)

[2016-06-06 12:15] adamsitnik commented on #108
@mattwarren I was  thinking about making it new, default, non-configurable behaviour. Is that OK for you?

[2016-06-06 12:35] goldshtn commented on #200
I think your description is accurate, but indeed with a lot of repetitions the samples should be good enough. That's also what PerfView does, and from my experience it's pretty good when you alloc >100MB or so.

[2016-06-06 12:40] mattwarren commented on #194
@AndreyAkinshin @adamsitnik have you got any objections to the `Framework` setting being removed? (see the top of this thread for the reasons)

[2016-06-06 12:43] AndreyAkinshin commented on #194
No objections.

[2016-06-06 12:43] mattwarren commented on #108
My only thought was that if people have existing benchmarks that don't copy across the app.config and then we start copying it across by default, it may break some benchmarks when they upgrade (because of some settings in app.config, that is now copied across).

But it's a pretty obscure scenario, so maybe I'm worrying about nothing.

[2016-06-06 12:48] adamsitnik commented on #194
Same here. The less settings the better! I think that we should make it [Obsolete] first to not break people's code.

[2016-06-06 12:54] FransBouma commented on #108
It's a breaking change, for the people who have an appconfig file which is used in the exe but not in the benchmark and now it is used in the benchmark too. I'd opt for a config setting or otherwise a setting which is off by default.

[2016-06-06 13:01] mattwarren commented on #197
Seems like others have come across this problem, see https://github.com/dotnet/cli/issues/2780

[2016-06-06 13:03] mattwarren commented on #194
thanks, I'll go ahead and make the changes

[2016-06-06 13:09] jskeet commented on #197
So did 0.9.6 not use the console width? Because 0.9.6 was working *with RC2*. (If the use of the console width is known to be new in 0.9.7, that's fine. If that area of code hasn't changed, there's something else going on...)

[2016-06-06 14:03] mattwarren commented on #197
Yeah the Console width code was [only introduced in 0.9.7](https://github.com/PerfDotNet/BenchmarkDotNet/commit/7568c06e8647f0bc4e8d53d1a00c61b526ec0289), before that it didn't try to wrap it (I guess your 0.9.6 output above is from a console that is wider than the longest line)

[2016-06-06 15:32] adamsitnik commented on #108
@FransBouma but how could it affect the execution of the benchmarks? I can't see a scenario where it breaks something. As I said I will cut off every runtime setting different than assembly binding redirects.

[2016-06-06 15:42] mattwarren commented on #130
Can now match tests that have a specified attributes, long and short form, i.e.
- `attribute=Run` or `attribute=RunAttribute`

[2016-06-06 15:47] FransBouma commented on #108
You're right indeed: the benchmarks currently don't read anything from the config file, and if there's one there after the change, it won't read from the config file as well. So indeed no breaking change!

[2016-06-07 06:06] alexandrnikitin commented on #188
Yeah, that stopped me too. We need input from @AndreyAkinshin, @mattwarren here.

[2016-06-07 08:57] mattwarren commented on #188
Quick question, can this issue be handled by #108?

I.e. if you want a particular setting you just specify it in the `app.config` of your benchmark project and then when #108 is done, it'll be copied across by BenchmarkDotNet and used when the Benchmark is actually run?

[2016-06-07 09:22] adamsitnik commented on #188
@mattwarren Yes and no. The scenario where somebody would like to compare two different GC modes would not be supported.

[2016-06-07 13:41] sergiorykov opened #203 "Third-party libraries must be explicitly included in test context to be loaded by runner"
I wrote a benchmark in unittests.dll. It tests method from class A from a.dll. But A uses internally class B from b.dll. unittests.dll has link to b.dll.

Runner can't execute test because it can't load b.dll. When I add direct reference in test (in ctor or Setup) to any class from b.dll then it successfully completes.

To be able to test A from unittests I have to add reference to a third-party b

[2016-06-07 14:31] mattwarren commented on #188
Ahh good point, I forgot about the scenario where you want to use compare multiple modes.

Agree, this is a nice way of doing it, adding lots more fields to `IJob` would make it messy.

The other option is to make `RuntimeSettings` a simple class, like so:

[code]

Then you can write code like this:

[code]

Would that work? (although after writing it, I'm not sure if it's nicer or not!?)

[2016-06-09 12:26] ig-sinicyn opened #204 "[Request for help] Measuring timings on Appveyor."
UPD: [solved](https://github.com/PerfDotNet/BenchmarkDotNet/issues/204#issuecomment-225393633).
## Part 0: Doing a wrong thing.

Hi!
I've spend last three or four evenings trying to obtain accurate results from benchmarks being run as an Appveyor unit test. I was hoping it is the last thing preventing me from releasing stable version of the perf test runner.
Long story short, it does not:)

Long s

[2016-06-09 20:56] adamsitnik commented on #203
Hello @sergiorykov

I did not know about this limitation, thanks for pointing it out!

I will try to fix it for 0.9.8

[2016-06-10 14:45] lukasz-pyrzyk commented on #195
Hello @adamsitnik.

During last week I've decided to cleanup and reinstall all .NET Core components and benchmark works fine. I think we can close this issue because I am not able to reproduce this error.

Thanks for your time and help. I'm going to use DotNetCorePerformance with .NET Core often, so I will try to give you a feedback.

Best

[2016-06-10 14:45] #195 closed

[2016-06-10 20:09] ig-sinicyn commented on #204
**UPD**

Well, turns out the problem with timings is actual for benchmarks being run on notebooks too. Almost same distribution.

HW info:
[code]

statistics:
[code]

Timings plot:
![timings-nb](https://cloud.githubusercontent.com/assets/11225241/15977055/910fef3c-2f67-11e6-9d46-502658995560.png)

[Excel file with results](https://github.com/PerfDotNet/BenchmarkDotNet/files/309665/Data.Notebook.xl

[2016-06-11 20:54] ig-sinicyn commented on #204
**UPD2**

Whoops, my bad. The samples should be sorted by duration. This way all fine, the timings from notebook are the following:
![timings_good](https://cloud.githubusercontent.com/assets/11225241/15987397/b70f1160-3037-11e6-9133-d1400b621e28.png)

Now it's obvious that I should use two metrics, one for lower and one for upper boundary to describe best and worse cases for the perftest.

One mor

[2016-06-12 16:49] AndreyAkinshin opened #208 "Troubles with MemoryDiagnoserTests"
Subject: https://ci.appveyor.com/project/PerfDotNet/benchmarkdotnet/build/0.9.7.11/tests

@mattwarren, can you take a look?

[2016-06-12 19:52] adamsitnik commented on #201
@AndreyAkinshin can this be closed after your recent changes?

[2016-06-12 20:37] #201 closed

[2016-06-12 20:41] AndreyAkinshin opened #209 "Fix appveyor bug"
Subject: https://github.com/PerfDotNet/BenchmarkDotNet/pull/199#issuecomment-225455088

[2016-06-13 12:23] mattwarren commented on #208
yeah, np

[2016-06-13 16:45] Zoxive commented on #188
Is there anyway to make RuntimeSettings extendable so inside my Benchmark Class -> Setup i can access the properties on it?

Ex
[code]

[2016-06-15 00:24] adamsitnik commented on #188
Ok, implemented, also with .NET Core support ;) [API](https://github.com/PerfDotNet/BenchmarkDotNet/blob/Roslyn/BenchmarkDotNet/Jobs/GC.cs)

Sample usage:
[code]

[2016-06-15 00:25] adamsitnik commented on #188
@Zoxive Sorry, this scenario is not supported. Maybe [Params](https://github.com/PerfDotNet/BenchmarkDotNet/tree/Roslyn#params) is what you need?

[2016-06-15 09:07] mattwarren commented on #204
We already have the [`RPlotExporter`](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Exporters/RPlotExporter.cs) that produces nice graphs. If it doesn't give you exactly the graphs you want, it would always be extended to make them

[2016-06-15 10:21] mattwarren commented on #176
Sounds sensible to me, anything that makes the output readable and as concise as possible is a win.

I assume you are talking about this part, that is repeated for each `launch`?

[code]

[2016-06-15 12:01] adamsitnik commented on #176
@mattwarren yes, exactly!

[2016-06-15 12:15] adamsitnik opened #211 "Possibility to turn off GC.Collect after each benchmark run"
By default `MethodInvoker` forces full garbage  collection after each benchmark invocation.

[code]

This is of course the desired behaviour. But sometimes users would like to avoid that, for example when the benchmarked methods can benefit from auto-tuning nature of GC.

How to use:

[code]

[2016-06-15 12:30] adamsitnik commented on #211
@AndreyAkinshin could you please do detailed code review? I have introduced changes to our Core (MethodIvoker)

@mattwarren Perhaps this could be nice feature when using MemoryDiagnoser?

[2016-06-15 13:04] alexandrnikitin commented on #188
I'm happy to close the issue. Thank you @adamsitnik

[2016-06-15 13:34] adamsitnik commented on #188
@alexandrnikitin you  welcome! Please take a lookg at #211 You might want to try it as well.

How to use:

[code]

[2016-06-15 18:39] AndreyAkinshin commented on #211
I think, it is a bad idea. Your benchmark method should produce stable measurements. I think, it can be ok to disable GC.Collects for warmup. However, GC.Collects shouldn't spoil your results for target iterations. In the perfect benchmark, you should do your GC auto-tuning magic in the Setup method. Theoretically, we can do it during warmup, but we should be carefully: it is really easy to do stu

[2016-06-15 19:28] AndreyAkinshin commented on #76
@adamsitnik, am I right that now we can close this issue?

[2016-06-15 19:40] AndreyAkinshin commented on #204
I think, we need some good math here. The Scaled value shouldn't be just a Median1/Median2. It should be a result of comparison of two distributions. In this case, we will be able to run performance tests based on our new metric. Unfortunately, benchmark distributions are not normal, so, we can't apply usual statistic here. I'll be looking for a good formula for our situation.

[2016-06-15 20:19] adamsitnik commented on #76
@AndreyAkinshin gcAllowVeryLargeObjects is missing, I will add it right away

[2016-06-16 01:58] xoofx opened #212 "Support CopyToOutput"
I'm having an issue with native dlls (I guess things changed in a recent 0.9.x release?)

In the test I'm running, I have some native DLLS, that are part of the build as a CopyToOutput, but it seems that BenchmarkDotNet is not copying these DLLs to the subfolders where it runs the tests. Do you know why?

Also not sure I like of recopying assemblies to a subfolder. What was the reason behind this

[2016-06-16 02:10] xoofx commented on #212
Looking at the code [ClassicGenerator.cs](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchains/Classic/ClassicGenerator.cs#L84), hm, it creates a new project but only add references to .NET assemblies but not other project files... but what if the original project had more stuffs copied?

Couldn't this just build the runner assemblies and copy it in the current fold

[2016-06-16 05:11] xoofx commented on #212
Actually, found the problem. I was using a library that was using ClearScript Google V8. The problem is that their system for loading the native DLL is not that great, because they are trying to load it from some specified paths (PATH variable, path of assembly) but they are not actually able to load it from CurrentDirectory, which made the native dlls to fail...

So as I understand, when running

[2016-06-16 10:21] mattwarren opened #213 "Add a "benchmark" cmd to dotnet"
So it seems like you can [add extra commands](https://github.com/dotnet/cli/blob/rel/1.0.0-preview2/Documentation/developer-guide.md#adding-a-command) to the dotnet tooling, how cool would it be to be able to do `dotnet benchmark`?

This could then interact with the `BenchmarkSwitcher` so you can do `--class=Benchmarks`, `--diagnosers=Memory`, etc

From my understanding we would have to propose it

[2016-06-16 10:27] mattwarren commented on #211
As an interesting counter-argument, see [this tweet](https://twitter.com/shipilev/status/730437933271011329) from Aleksey Shipilëv (JMH Guru), the replies are also worth reading.

![image](https://cloud.githubusercontent.com/assets/157298/16113678/45fbeb5c-33b5-11e6-9e7b-5ca5d38c050b.png)

[2016-06-16 10:37] mattwarren commented on #204
Will #185 help?

[2016-06-16 10:52] ig-sinicyn commented on #204
@mattwarren I'm not sure this will work.

The distribution of the benchmark timings is not normal, therefore all T-test-based checks will lie.
(X - time in Ns, Y - count of samples)
![distr](https://cloud.githubusercontent.com/assets/11225241/16114121/4a2f43a0-33c8-11e6-9922-49d09e2a0a85.png)

The best approach I was able to find is to collect `benchmark / baseline` timing ratio for each sample an

[2016-06-16 14:11] redknightlois commented on #211
I do feel the same as Matt on this one. One will pay for the sins of the father in production code, as long as the parent is always the same an extra allocation can throw you over the edge (as it would happen in production). The issue with the GC is that we are not testing spherical chickens in vacuum. So not allow it to run you will never know what is the real time to expect. Maybe I am biased bu

[2016-06-16 15:11] adamsitnik commented on #213
Good idea, but as for me I don't have time now.

[2016-06-16 15:56] adamsitnik commented on #212
Hello @xoofx

Right now we are switching from MSBuild to Roslyn. What we will offer in 0.9.8 is that we will copy all referenced dlls that are not in GAC to the benchmark-specific bin folder. [Code](https://github.com/PerfDotNet/BenchmarkDotNet/blob/Roslyn/BenchmarkDotNet/Toolchains/Classic/RoslynGenerator.cs#L92-L133)

I am not sure how we could support native dlls or content to output. We would

[2016-06-16 16:22] Horusiath opened #214 "Benchmark ignores binding redirects"
I've found an issue in the following scenario: I have a library build as CLR F# class library - it's targeting FSharp.Core lib version=4.4.0.0. However it has dependency on other lib which expects FSharp.Core version=4.3.0.0.

Hopefully this should be solved by specifying following app.config in benchmarking console app (which is using FSharp.Core 4.4.0.0 too):

[code]

However after running bench

[2016-06-17 07:43] xoofx commented on #212
Hi @adamsitnik, thanks for the details

Precisely, my question is: why generating a sub-folder? Why not just build the runner assembly, drop it in the normal output folder, remove it when the bench is done, and continue? This way we avoid any problems with attached content (native dlls in sub-folders, content attached to an assembly...etc.), avoid to copy referenced assemblies...etc.

[2016-06-17 08:26] adamsitnik commented on #188
We keep issues open with "fixed in develop" tag as long as the new version with the change is not released to Nuget. So I will reopen this one ;)

[2016-06-17 08:34] adamsitnik commented on #214
@Horusiath Hej! Thanks for the report. The bug has been fixed few days ago, will be part of 0.9.8 release (#108)

[2016-06-17 17:05] adamsitnik commented on #212
@xoofx I like this idea! I don't know why, but I guess that @AndreyAkinshin is analyzing the compiled output from time to time and wanted to have it in separate folders for better readability.

@mattwarren @AndreyAkinshin what do you guys think? I can implement it in the next week if you accept that.

[2016-06-17 17:07] AndreyAkinshin commented on #212
LGTM. There were some MSBuild related reasons for separated sub-folders. However, now we are going to use RoslynToolchain, so, we can move all the file to the root bin folder.

[2016-06-19 11:30] adamsitnik commented on #176
I have splitted `EnvironmentInfo` int two: `BenchmarkEnvironmentInfo` and `HostEnvironmentInfo`.
Every information that is expensive to obtain is Lazy now (processor name (@ig-sinicyn) and dotnet cli version)
`BenchmarkEnvironmentInfo` contains data that can be benchmark-specific:

- processor architecture
- configuration
- clr version (Mono, MS.NET, CORE, DNX)
- has attached debugger flag
- is Ry

[2016-06-20 11:24] FransBouma commented on #108
Great news @adamsitnik!

[2016-06-20 11:29] adamsitnik commented on #108
@FransBouma I am glad you like it! It should solve few problems (custom assembly redirects was always pain with F#). As for the closing we keep issues open as long as we don't release new nuget package

[2016-06-23 23:56] kolektiv commented on #67
This still doesn't seem to actually work for me. Looking at the app.config generated there are no binding redirects, and without them the program simply fails. Auto generate binding redirects doesn't appear to do anything in this case!

[2016-06-24 00:13] kolektiv commented on #67
The actual example where I'm seeing this: https://github.com/kolektiv/freya-benchmarks

Running build.cmd should pull down all appropriate dependencies, etc.

[2016-06-24 07:52] kolektiv commented on #214
Incidentally I think this is the same as #67 - where I've included a hopefully simple repo which can be used to reproduce if that's useful.

[2016-06-24 14:53] kolektiv commented on #108
Really pleased to see a fix for this is coming :) Is there any expectation of when 0.9.8 might land? Is there anything I can do to help?

[2016-06-24 17:16] adamsitnik commented on #67
It is quite long story. For 0.9.5 I [added fix for that](https://github.com/PerfDotNet/BenchmarkDotNet/commit/2645ef3c25225730d5f255d2e4dde8a6c10da78d). The problem was that you needed MSBuild 12/14 to get it working, which our .NET 4.5/4.6 taget was referencing. If you added depndency to our .NET 4.0 lib, then it did not work because we used MSbuild.v4 there.

Then we moved from dnx to dotnet cli

[2016-06-24 17:32] adamsitnik commented on #108
Hi @kolektiv !

It's up to @AndreyAkinshin , but my guess is within next few days (3-7).

Thanks for asking! The last thing we need to check is Mono support after we switched to Roslyn from MSBuild in 0.9.8. But I know that it's non trivial and requires a lot of work:
- get the code from our Roslyn branch
- compile it (we require  VS 2015 with update 2 and dotnet cli installed)
- test it for Linux

[2016-06-27 10:46] mattwarren opened #215 "Allow a [Cleanup] method to be specified"
To mirror the invocations of the `[Setup]` method, i.e.

- `[Setup]`
- Run and measure Benchmarks iterations
- `[Cleanup]`

This is useful when there is a resource that needs cleaning up after each set of iterations

[2016-06-27 11:14] adamsitnik commented on #215
Good idea! I would also Dispose the object if it is IDisposable (at the end)

[2016-06-27 11:25] mattwarren commented on #215
@adamsitnik I'm not following, which object do you mean?

[2016-06-27 11:26] adamsitnik commented on #215
@mattwarren  the one that is implementing Benchmark method(s)

[2016-06-27 18:41] adamsitnik opened #216 "Update to .NET Core RTM"
FYI I am working on that, will update nuget packages and drop dnxcore50/dnx451 support.

[2016-06-27 20:32] adamsitnik commented on #216
Ok, it's done.

@mattwarren @AndreyAkinshin @ig-sinicyn  You need to upgrade your tools, full description [here](https://github.com/PerfDotNet/BenchmarkDotNet/blob/Roslyn/DEVELOPING.md#building)

Breaking change:

- I have dropped dnx451 and dnxcore50 support. (nobody should use it anymore)
- We will no longer need separate nuget package because of the beta dependencies

[2016-06-27 21:24] niemyjski commented on #216
When will it be on nuget?

[2016-06-28 06:44] adamsitnik commented on #216
@niemyjski only @AndreyAkinshin can tell ;)

[2016-06-28 06:47] AndreyAkinshin commented on #216
As soon as possible. I still have some troubles with the roslyn toolchain. =( Hopefully, end of this week.

[2016-06-28 14:21] danielmarbach opened #217 "Control over diagnoser for fine grained diagnosis"
I was trying to measure an allocation problem with Task.ContinueWith see here

https://gist.github.com/mattwarren/7227890bf6fc76cf050231511089d6da#gistcomment-1812757

The code

[code]

I'm actually only interested in measuring the allocations for

[code]

So what if a benchmark could be written like that

[code]

This would basically tell the diagnoser to listen to ETW for the lifetime of the sco

[2016-06-28 17:58] adamsitnik commented on #217
Currently this is not possible / supported. As far as I know we attach to the diagosed process at the begining of it's lifetime, and collect ETW events for it's whole lifetime (wamup & target).

My idea for the benchmark is following;

[code]

Comments:

- I allocate willRequireClosure once to not include this allocation in the cost of the benchmark.
- I use Task.CompletedTask for the same reason

[2016-06-28 18:30] danielmarbach commented on #217
Thanks for the ideas!

Regarding my initial idea, would that be an implemenation detail? Meaning since we cannot subscribe and unsubscribe ny proposal would the just drop or collect the ETW data?

[2016-06-28 20:49] adamsitnik commented on #211
First of all: I don't want to change the default behawior, but only allow "super" users to do their job right. For example somebody that wants to compare allocators, measure finalization side-effects etc.

We all know how GC in .NET works: when CLR tries to allocate new small object and there is no memory available in Gen 0, the Gen 0 is collected. Everything that survives goes to Gen 1. And so on

[2016-06-28 20:54] adamsitnik commented on #217
@danielmarbach I am sorry, but I don't understand your question. Could you explain it?

[This thread](https://github.com/PerfDotNet/BenchmarkDotNet/issues/200) has some good comments that explain how it is implemented and why.

[2016-06-28 21:02] danielmarbach commented on #217
@adamsitnik let me illustrate what I meant

[code]

So the `Func<IDisposable>` would be a callback which hooks into the diagnosers, clearer?

[2016-07-02 05:24] jdom commented on #216
:+1:

[2016-07-02 12:23] niemyjski commented on #216
@AndreyAkinshin what issues are you running into?

[2016-07-03 00:39] AndreyAkinshin opened #218 "Errors in BenchmarkDotNet.Samples.FSharp.Core/projects.json"
Right now I have the following error when I'm trying to manage NuGet packages for BenchmarkDotNet.Samples.FSharp.Core (or whole solution) in VisualStudio 2015 Update 3:
![devenv_2016-07-03_03-37-56](https://cloud.githubusercontent.com/assets/2259237/16543146/bd3079aa-40cf-11e6-83c7-c8df0a78f98a.png)

[2016-07-03 02:53] AndreyAkinshin commented on #149
I have tried 3 different approaches. Here are some results:

### Approach 1
Add a NuGet reference to [Microsoft.Net.Compilers](https://www.nuget.org/packages/Microsoft.Net.Compilers/) and use `csc.exe` from the command line.

_Advantages_
* It is a very nice way, BDN creates a script which you can run manually. Everything works like in a case of the old MSBuild toolchain.

_Disadvantages_
* It is

[2016-07-03 02:54] AndreyAkinshin commented on #216
@niemyjski, https://github.com/PerfDotNet/BenchmarkDotNet/issues/149#issuecomment-230132359

[2016-07-03 03:14] niemyjski commented on #149
#3 is the best

[2016-07-03 03:53] AndreyAkinshin commented on #174
@ig-sinicyn, fixed, now it returns `null`. Also you have a new useful method: `Summary.HasReport(Benchmark benchmark)`.

[2016-07-03 04:17] AndreyAkinshin commented on #196
@hmemcpy, done: https://github.com/PerfDotNet/BenchmarkDotNet/commit/d448b4bfe44a886998134d71fc13548f83377e34
Now we are also support non-raw github url (not only gists).

[2016-07-03 05:13] AndreyAkinshin opened #219 "Online documentation and API reference"
Now we have almost all our documentation in a single README file. The documentation is great, but the file is too big, it's hard to maintain it, it doesn't include the API reference. Possibly, it makes sense to use a tool for automatic documentation generating. For examples, [DocFX](https://dotnet.github.io/docfx/index.html) looks good. We can integrate it to our CI build and generate docs fully a

[2016-07-03 21:59] AndreyAkinshin commented on #189
@mattwarren, what is the current status of the issue? Can we mark it as a `fixed-in-develop`?

[2016-07-03 23:44] AndreyAkinshin opened #220 "Performance tests"

[2016-07-04 11:32] adamsitnik commented on #218
It's [nuget's bug](https://github.com/NuGet/Home/issues/3070). I just specified it in explicit way to workaround it.

[2016-07-04 11:40] adamsitnik commented on #149
@AndreyAkinshin I totally agree with you, #3 is the best for me, I can implement it right away Is that ok if I still create script for compilation but with call to csc.exe (no abasolute path)?

I am not sure, will verify that.

[2016-07-04 11:43] AndreyAkinshin commented on #149
Ok, great.

[2016-07-05 10:40] adamsitnik commented on #149
@AndreyAkinshin Ok, it's done. And it is much more faster now (for my PC running all classic tests went from 250s to 70s)! I have also removed the portability api for reflection.

It should also work with Mono, because I use same predefined assemblies as the host process. But you need to verify that ;/

[2016-07-05 11:01] AndreyAkinshin commented on #149
Awesome! Can you also investigate, why do we have a failed build?
https://ci.appveyor.com/project/PerfDotNet/benchmarkdotnet/build/0.9.7.37

[2016-07-05 11:03] adamsitnik commented on #57
I have checked the code, majority was using `inherit: false` with Benchmark, Params and Setup attributes. So I decided to go with sealed just to make it clear that these classes are non-inheritable.

[2016-07-05 14:13] AndreyAkinshin commented on #131
@23derevo, we finally did it, now it works! New version of BenchmarkDotNet will be published soon.

[2016-07-05 14:47] adamsitnik opened #221 "Investigate why CanEnableServerGcMode test fails for Core on appveyor"

[2016-07-06 03:51] AndreyAkinshin opened #222 "A problem with System.Threading.Tasks"
I can't install the BenchmarkDotNet package from the local folder because of the following error:

[2016-07-06 04:27] AndreyAkinshin commented on #222
@adamsitnik, you can use our develop NuGet feed for repro:
[code]

[2016-07-06 06:51] adamsitnik commented on #222
Ok, I can reproduce it on my machine, will fix asap

[2016-07-06 07:24] adamsitnik commented on #222
@AndreyAkinshin I have make this dependency a nuget dependency, tested with local feed, will test again as soon as appveyor builds the new package

[2016-07-06 07:39] nawfalhasan opened #223 "Add support for System.Type in Params"
For now, to benchmark with different input values we do this:

[code]

This is not possible if parameters were of `System.Type`. Please add support for

[code]

[2016-07-06 08:39] adamsitnik commented on #194
@mattwarren I have removed it just to make sure we don't release new version with settings that can affect nothing (after moving to Roslyn it's irrelevant)

[2016-07-06 23:57] #76 closed

[2016-07-06 23:57] #77 closed

[2016-07-06 23:57] #108 closed

[2016-07-06 23:57] #174 closed

[2016-07-06 23:57] #188 closed

[2016-07-06 23:57] #196 closed

[2016-07-06 23:57] #197 closed

[2016-07-06 23:57] #203 closed

[2016-07-06 23:57] #209 closed

[2016-07-06 23:57] #211 closed

[2016-07-06 23:57] #212 closed

[2016-07-06 23:57] #216 closed

[2016-07-06 23:57] #149 closed

[2016-07-06 23:57] #194 closed

[2016-07-06 23:57] #218 closed

[2016-07-07 00:00] #57 closed

[2016-07-07 00:00] #131 closed

[2016-07-07 00:00] #176 closed

[2016-07-07 00:00] #191 closed

[2016-07-07 00:00] #214 closed

[2016-07-07 00:00] #222 closed

[2016-07-07 00:03] #220 closed

[2016-07-07 01:08] xoofx commented on #212
So @AndreyAkinshin were you finally able to remove the need for sub folders?

[2016-07-07 01:11] AndreyAkinshin commented on #212
Yes! With help of new `RoslynToolchain`: we don't have anymore a separated .csproj project, only .cs file in your bin directory without subfolders (+app.config+script file+resulted executable file). New package is already available on NuGet: https://www.nuget.org/packages/BenchmarkDotNet/0.9.8

[2016-07-07 01:12] xoofx commented on #212
amazing, thanks!

[2016-07-07 01:23] AndreyAkinshin commented on #212
@xoofx, also now we have a nightly NuGet feed:
[code]
(based on artifacts from appveyor: https://ci.appveyor.com/project/PerfDotNet/benchmarkdotnet/history )
So, if we will make some fixes, you shouldn't wait for an official release on NuGet (or build BenchmarkDotNet manually), you can use the nightly feed.

[2016-07-07 05:42] sergiorykov commented on #203
Thanks!

[2016-07-07 08:37] ig-sinicyn opened #224 "[Breaking change] BenchmarkAttribute become sealed."
Please, remove the sealed modifier from the `BenchmarkDotNet.Attributes.BenchmarkAttribute`.

It's blocker for us as we're using custom attributes derived from the BenchmarkAttribute to annotate benchmarks with competition limits. For exampe:
[code]

[2016-07-07 08:48] ig-sinicyn opened #225 "[Suggestion] Please, refactor the roslyn dependency into another package"
The BDN 0.9.8 includes a dependency on roslyn compiler package. This results in 42 additional nuget packages, 300+ mb of binaries in the packages folder and 17 (or so) additional assembly references.

As for me it's too big overhead for the single library:)
And our perf tests project uses custom toolchain and therefore do not depend on roslyn at all.

Can the dependency be refactored into separate

[2016-07-07 09:03] mattwarren commented on #194
@adamsitnik thanks for doing that

I tried to do it myself the other week but found that `Framework` was being used by the `Toolchain` code and so I left it till the Roslyn work was done.

[2016-07-07 09:40] adamsitnik commented on #225
All options are posted here: https://github.com/PerfDotNet/BenchmarkDotNet/issues/149#issuecomment-230132359

What it gives us is managed, type safe  api that allows us to compile C# apps not only on Windows but also also Unix and MacOC with Mono. So great gain, but not for free.

We could make it a package, but then it would complicate the usage for the end-users.

As for now I can's see a good s

[2016-07-07 09:42] adamsitnik commented on #224
@ig-sinicyn sorry for that, I will revert it today so you will be able to download nuget package from our dev feed with latest changes

[2016-07-07 10:26] AndreyAkinshin commented on #225
@adamsitnik, we can do the following:
* Add a package `BenchmarkDotNet.Core` which will include all infrastructure stuff.
* Add a package `BenchmarkDotNet.Toolchains.Roslyn` which will include all Roslyn stuff + dependencies.
* Add reference from `BenchmarkDotNet` to these two packages.

So, @ig-sinicyn will be able to use `BenchmarkDotNet.Core` with own custom toolchain, other end-users will be a

[2016-07-07 13:21] adamsitnik commented on #219
Would you like to generate it from the comments from source code?

Maybe we could create a github.io web page with tutorial that tell how BDN works and how to use it?

[2016-07-07 13:27] AndreyAkinshin commented on #219
API reference from xml-docs in the source code, Guide from a set of markdown files.

Yes!

[2016-07-07 13:51] adamsitnik commented on #217
@danielmarbach First of all excuse me for very late response. I get your idea. The problem is that our current implementation has some limitations described [here](https://github.com/PerfDotNet/BenchmarkDotNet/issues/200). For example ETW fires new event when 100KB has been allocated, so if we attach and detach for each call we might omit some data. That's why we attach at the begining and detach

[2016-07-07 16:33] danielmarbach commented on #217
I think we still don't understand us ;) My proposal was to be always attached but essential discard or not discard data. But I got your point as well. And with any proposal it is just an idea ;) happy to get it rejected...

[2016-07-07 16:57] mattwarren commented on #217
@adamsitnik yes you're essentially right.

But it's more than that, when we get a ETW event representing a 100KB bucket of allocations, we only get told the type of the last object to be allocated, i.e. the one that took it over 100KB limit. We don't know anything about the types of the other objects within the 100KB.

So whilst it would be great to offer the level of detail that things like [DotM

[2016-07-07 17:02] mattwarren commented on #189
Yeah that can be done. I'll open a more specific issue to address the problems/enhancements covered in [this comment](https://github.com/PerfDotNet/BenchmarkDotNet/issues/189#issuecomment-221607948) and [this one](https://github.com/PerfDotNet/BenchmarkDotNet/issues/189#issuecomment-221609718)

[2016-07-07 17:09] AndreyAkinshin commented on #189
Am I right that this fix is a part of `0.9.8`?

[2016-07-08 09:00] mattwarren commented on #189
Yeah, the main issue that @jskeet reported was fixed by 83fd20c79bbdbe456a34b5474be729b2e4ef5a54

[2016-07-08 09:12] AndreyAkinshin commented on #14
Hi @damageboy,
we don't collect benchmark samples anymore (I also think about to move it to a separated repo). So, it's not an issue related to BenchmarkDotNet.

[2016-07-08 09:12] #14 closed

[2016-07-08 09:15] AndreyAkinshin commented on #19
@ppanyukov, I think, we have a nice reporting system now. It's flexible, we have a lot of standard exporters, you can also write you own classes which export benchmark results to any format. So, I close this issue. If you have some additional specific requests, please, create a new issue.

[2016-07-08 09:15] #19 closed

[2016-07-08 09:20] AndreyAkinshin commented on #31
It turns out that such approach can affect benchmark results. So, I removed all the related code. If someone need a counter, he should implement it manually.

[2016-07-08 09:20] #31 closed

[2016-07-08 09:26] AndreyAkinshin commented on #33
Now we have nice documentation with the "Getting started" section. We also have another issue about online documentation: https://github.com/PerfDotNet/BenchmarkDotNet/issues/219

[2016-07-08 09:26] #33 closed

[2016-07-08 09:33] AndreyAkinshin commented on #99
@mattwarren, do we need to do anything else related to this issue?

[2016-07-09 13:26] damageboy opened #226 "Support Mono/LLVM as a runtime/jit"
Mono has a special "mode" called [Mono/LLVM](http://www.mono-project.com/docs/advanced/mono-llvm/).

The basic premise with Mono/LLVM is that mono JIT is swapped out for LLVM as a JIT.

It would be great to add support for it in BDN to see how LLVM affects performance (if at all :))

I don't know if there is a programmatic way to detect LLVM support, but here is a hack way...

On my machine, I hav

[2016-07-09 13:41] adamsitnik commented on #226
I will be very happy to implement it.

@AndreyAkinshin should it be a new value for our Jit enum or a whole new Toolchain?

[2016-07-09 14:20] AndreyAkinshin commented on #226
@adamsitnik, oh, our Jobs become very complex.
I suggest to create a string property which will pass to mono (or dotnet/cli) as a list of arguments. This flexible approach covers a lot of different scenarios.

[2016-07-09 15:27] niemyjski commented on #222
https://github.com/NuGet/Home/issues/3103 I'm seeing this in my own projects but it doesn't make any sense. I don't have any full framework dependencies.

[2016-07-09 16:43] AndreyAkinshin commented on #166
I have implemented "Implementation 1". Looks nice. =)

[2016-07-09 16:51] AndreyAkinshin opened #227 "Suggestion: change default branch"
Now we use the `master` branch as a default branch which corresponds to the last stable release on NuGet.

**Advantages**
* If user open https://github.com/PerfDotNet/BenchmarkDotNet, he see actual documentation for the latest version.

**Disadvantages**
* We should mark fixed issues with the `fixed-in-develop` branch instead of closing
* It's hard to track milestone progress
* Sometimes we have P

[2016-07-09 16:55] AndreyAkinshin opened #228 "Suggestion: clean up the root folder"
Now we have a lot of directories in the root folder. I suggest to transform current layout to the following:
* `Sources` for `BenchmarkDotNet` and `BenchmarkDotNet.Diagnostics.Windows`
* `Tests` for all the test projects
* `Samples` for all the samples projects

@adamsitnik, @mattwarren, what do you think?

[2016-07-10 12:23] adamsitnik commented on #227
@AndreyAkinshin It would simplify our development process, I like it!

[2016-07-10 12:29] adamsitnik commented on #228
@AndreyAkinshin  Good idea! It would help people understand our code faster.
Maybe we should follow existing naming convention? I mean "src" and "tests".

@ig-sinicyn would that make your merge with #155 much harder?

[2016-07-10 13:50] adamsitnik commented on #224
@ig-sinicyn Ok, I have restored it. I have also added test to prevent others from making the same mistake I did  with #57.

If you don't want to wait for 0.9.9 you can download 0.9.8.55 from our dev feed:

`<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`

[2016-07-10 15:49] AndreyAkinshin commented on #228
LGTM

[2016-07-10 15:56] adamsitnik commented on #226
@damageboy Ok, I think I have it. The problem I have is that I can't test it on Windows ;/

Could you try to test it? You need to download 0.9.8.56 from our dev feed:
`<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`
and compare some benchmarks with Job.Mono and Job.MonoLLVM.

[2016-07-10 16:00] AndreyAkinshin commented on #226
@adamsitnik, can we rename `LLVM` to `Llvm`?

[2016-07-10 16:29] adamsitnik commented on #226
@AndreyAkinshin sure! I have found some [nice explanation](http://stackoverflow.com/a/15526526/5852046) when to use camelcase for Acronyms.

I don't like to create very small commits with single rename so I will rename it with some other commit soon. And don't hesitate to refactor my code or comment it, all code reviews are welcome!

[2016-07-10 19:14] ig-sinicyn commented on #228
@adamsitnik

Definitely no. I currently have no dependency on source level, only on Bench.Net binaries.

As a sidenote - the code for #155 works and I'm all in finshing the public API, xUnit test runner and the documentation for the project. I don't wont to do any backporting untill all this will be complete.

[2016-07-11 09:10] #217 closed

[2016-07-11 10:24] mattwarren commented on #99
No it's fine, it can be closed

[2016-07-11 10:24] #99 closed

[2016-07-12 07:28] AndreyAkinshin commented on #227
@mattwarren, are you ok with the suggested changes?

[2016-07-12 08:36] mattwarren commented on #227
yeah I'm fine with that, it's a good idea

[2016-07-12 09:18] #224 closed

[2016-07-12 09:18] #166 closed

[2016-07-12 09:24] AndreyAkinshin commented on #227
@adamsitnik, @mattwarren, done. Be careful, we don't have the `develop` branch anymore.

[2016-07-12 09:24] #227 closed

[2016-07-12 09:24] adamsitnik commented on #228
@AndreyAkinshin I can take this one, I will update all xprojs/csprojs and scripts

[2016-07-12 09:26] AndreyAkinshin commented on #228
@adamsitnik, great, thanks!

[2016-07-12 09:41] #223 closed

[2016-07-12 15:04] gabisandor opened #229 "Can not install NuGet package in VS 2013"
I'm trying to install BenchmarkDotNet in a .NET 4.5 class library project in Visual Studio 2013, but i get the following error:

![image](https://cloud.githubusercontent.com/assets/5681263/16771941/f5ea0be8-485a-11e6-87a0-7f0d8d89ff45.png)

NuGet 3.0 and later is only available for VS 2015. Is it possible to get around this issue in VS 2013?

[2016-07-12 15:10] AndreyAkinshin commented on #229
@gabisandor, could you try to install BenchmarkDotNet `v0.9.7`?

[2016-07-12 15:19] gabisandor commented on #229
@AndreyAkinshin - i only tried with the latest version initially. I tried now to install version 0.9.7 explicitly and it succeeded. Thanks!

Hopefully i'm not missing much in terms of benchmark functionality by using a previous version.

[2016-07-12 15:55] AndreyAkinshin commented on #229
In `v0.9.8`, we introduced CoreCLR RTM support and netstandart targeting. As it appears, it requires NuGet 3. I don't think, that we can do anything here.
A suggestion: you can try to use `nuget.exe` and install the latest version of BenchmarkDotNet from the command line.

[2016-07-12 15:55] #229 closed

[2016-07-12 16:42] gabisandor opened #230 "Benchmark not run in MS Test test class"
Given the following test class in MS Test:

[code]

Running Test() from the Visual Studio test runner will not trigger the benchmark method at all, neither in Release or in Debug mode. Is this scenario supported?

[2016-07-12 17:18] AndreyAkinshin commented on #230
No, we don't have the unit test support for now. You should create a console application.

[2016-07-12 21:39] adamsitnik commented on #230
@gabisandor If you want to ask us some questions about BenchmarkDotNet please use [our chat](https://gitter.im/PerfDotNet/BenchmarkDotNet).

[2016-07-12 21:39] #230 closed

[2016-07-12 22:58] #228 closed

[2016-07-13 09:25] mattwarren commented on #230
You should at least be able to run a test, see the output and report `Asserts` against the results, see [this code for example](https://github.com/PerfDotNet/BenchmarkDotNet/blob/db3dc3ffeef3ae0e886acbd0176174f5e4d50968/tests/BenchmarkDotNet.IntegrationTests/PerformanceUnitTest.cs#L26-L54) (Xunit, but the approach should work with MS Test)

[2016-07-15 05:03] JimBobSquarePants opened #231 "Add references to default framework assemblies (System.Runtime etc)"
Hi there,

Could be something simple but I struggle with project.json

I made an attempt to upgrade the ImageProcessorCore benchmarks to v0.9.8. The project compiles but fails with the following message when running the benchmark.

CS0012: The type 'ValueType' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=4.0.0.0, Culture=neutral, P

[2016-07-15 09:17] jskeet commented on #189
Just trying this now with 0.9.8, it isn't really fixed. You still need `--exporters=json` rather than `--exporters json` despite the `--help` option shows:

[code]

(It's also not clear why I still get github, csv and html when I've only asked for briefjson... I think if the user specifies any exporters, those are the *only* ones that should be used.)

The tests in 83fd20c79bbdbe456a34b5474be729b2

[2016-07-15 12:31] adamsitnik commented on #200
[Expose GC allocation statistics](https://github.com/dotnet/coreclr/issues/6275) interesting discussion with Maoni about possible ways of getting GC allocation stats. If They expose mentioned api I write MemoryDiagnoser for .NET Core same day ;)

[2016-07-15 15:06] mattwarren commented on #200
Thanks for the link.

I never knew about [`AppDomain.MonitoringTotalAllocatedMemorySize`](https://msdn.microsoft.com/en-us/library/system.appdomain.monitoringtotalallocatedmemorysize(v=vs.110).aspx), that might solve all our problems!

[2016-07-15 15:54] adamsitnik commented on #231
Fixed! It seems that when we switched from MSBuild to Roslyn we did not mimic all of it's behaviour (setting  default framework assemblies). System.Runtime.dll is empty by default so when we were calling `assembly.GetReferenced` it was not returned, because the assembly that contained benchmark were not using any type from it...

**Extra** I have used different method `AssemblyMetadata.CreateFromF

[2016-07-15 15:55] #231 closed

[2016-07-15 21:59] JimBobSquarePants commented on #231
Great to hear. Thanks for being so reactive.

[2016-07-15 22:30] mattwarren commented on #189
@jskeet sorry about that, I'll take another look.

What's the most common pattern for cmd-line args, is it `--arg value`, I know that's what the `dotnet` tooling uses, i.e:

[code]

[2016-07-18 00:32] adamsitnik commented on #225
Ok, done. The disadvantage is that BenchmarkRunner and Switcher had to stay as part of BechmarkDotNet (not .Core) due to dependency to RoslynToolchain (unknown in BenchmarkDotNet.Core). Maybe there is some better solution, but I could not find it for this moment ;.

![image](https://cloud.githubusercontent.com/assets/6011991/16904084/6ca1f560-4c8f-11e6-9ac9-c377b0b1656d.png)

![image](https://clou

[2016-07-18 00:32] #225 closed

[2016-07-18 06:16] ig-sinicyn commented on #225
@adamsitnik, as proposal:

What if the core logic of the BenchmarkRunner will be placed in .Core project in separate class and the BenchmarkRunner will just call its methods passing default toolchain as a call arg?

I've did something like this as we have [nUnit](https://github.com/rsdn/CodeJam/blob/3d09a525f92c071c6db16d0d567c2e5f3a63ec1d/PerfTests/src-NUnit/Competition.cs#L14)/[xUnit](https://gi

[2016-07-18 13:10] adamsitnik commented on #225
@ig-sinicyn Good idea! I have implemented it right away, now you have `BenchmarkRunnerCore` that has single method exposed to `BenchmarkRunner` which can be also reused by you.

The definition:
`internal static Summary Run(Benchmark[] benchmarks, IConfig config, Func<IJob, IToolchain> toolchainProvider)`

Sample usage can be following:
`BenchmarkRunnerCore.Run(benchmarks, config, job => job.Toolch

[2016-07-18 16:59] adamsitnik commented on #155
@ig-sinicyn is there anything left to do for us to help you with this task?

[2016-07-18 17:21] ig-sinicyn commented on #155
@adamsitnik Actually, no. Thanks for asking! :)

The code for the first version is complete (under complete I'm meaning ready-to-ship code quality), it runs in dogfooding for last two weeks without a problem. The last feature - app.connfig support - is ready but not pushed into repo, will be done tomorrow after code review.

After that I'll create beta nuget packages (will post here), will complet

[2016-07-18 17:29] adamsitnik commented on #155
I'm glad to hear that! Can't wait to start using as well!

[2016-07-18 17:37] adamsitnik opened #232 "Make all tests use OutputLogger"
When it's not present and test fails on CI we have no idea what happened. The other thing is that no progress is reported when running test from script.

Edit: + make sure that all integration tests use SingleRunFastConfig

[2016-07-18 20:26] AndreyAkinshin commented on #215
@mattwarren, can you write an example of benchmark where we need a cleanup method?

[2016-07-19 04:48] ig-sinicyn opened #234 "[Minor] RoslynGenerator should include transitive assembly references."
[This method](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Toolchains.Roslyn/Toolchains/Classic/RoslynGenerator.cs#L46):
[code]
there's hidden gotcha :)

The compiler do not include unused references into assembly references list (that's undocumented behavior but can be easily checked via ilspy / any other decompiler).

So, if there's a benchmark assembly A that us

[2016-07-19 05:53] adamsitnik commented on #234
You are right! However, we are ready for that ;) We save the compiled dlls to the output folder of the [A assembly](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Toolchains.Roslyn/Toolchains/Classic/RoslynGenerator.cs#L14). So somebody else (MSBuild?) puts these dlls (A, B, C) to the bin folder, we simply reference one of them (A), the rest will be loaded at runtime

[2016-07-19 07:12] #234 closed

[2016-07-20 08:51] mattwarren commented on #215
This idea came from [this tweet](https://twitter.com/Aaronontheweb/status/746085821359362048), but I'm not really sure of the exact scenario, I'll try and find out.

[2016-07-20 22:46] DenisIstomin commented on #215
I think that Aaronontheweb (as a contributor to NBench) at [his tweet](https://twitter.com/Aaronontheweb/status/746085821359362048) said about "Cleanup" logic after **each** iteration. But BenchmarkDotNet uses "Setup" attribute for set of iterations called "Launch" (I hope so). That's why I think that "Cleanup" attribute could be used at benchmarks that do some work with "out of the process" resou

[2016-07-21 08:19] AndreyAkinshin commented on #215
It makes sense, but I still want to have a real use-case for cleanup.

[2016-07-23 14:06] #215 closed

[2016-07-23 14:39] adamsitnik opened #235 "Don't show non-error output of dotnet cli"
Currently we call dotnet restore & dotnet build and display all it's output in console.

[code]

I don't think we should do this anymore. It's just compilation, nothing imporant for benchmarking. I added this initially because I expected some bugs for our .NET Core toolchain to be reported. [0.9.7-beta](https://www.nuget.org/packages/BenchmarkDotNet/0.9.7-beta) had 367 downloads, no bugs reported.

[2016-07-23 14:50] #232 closed

[2016-07-23 17:35] #235 closed

[2016-07-24 17:02] adamsitnik opened #236 "Possibility to benchmark asynchronous methods"
I would like to add support for benchmarking asynchronous methods.

Please post your requirements here, I want to know what people need.

What should be supported:
- [x] `Task<T>` returning methods
- [x] `Task` returning methods
- [x] `ValueTask<T>` returning methods (since we target .NET 4.5 we can have it!)
- [x] `async void` returning methods (**edit: we throw NotSupportedException in that case

[2016-07-24 18:11] benaadams commented on #236
`async void` should return a bad practice won't benchmark error ;-)

Been doing some poor async benchmarking here  https://github.com/dotnet/roslyn/issues/10449#issuecomment-234792163

[2016-07-24 20:24] i3arnon commented on #236
@benaadams "always a-void `async void`"

[2016-07-26 14:33] MithunChopda opened #237 "Unable to install on VS Professional 2013 (12.0.40629.0 update 5)"
With lot of excitement I fired the first command Install-Package BenchmarkDotNet and boom.

I got the following error.

PM> Install-Package BenchmarkDotNet
Attempting to resolve dependency 'Microsoft.CodeAnalysis.CSharp (≥ 1.3.2)'.
Attempting to resolve dependency 'Microsoft.CodeAnalysis.Common (= 1.3.2)'.
Attempting to resolve dependency 'System.Collections.Immutable (≥ 1.1.37)'.
Attempting to re

[2016-07-27 07:26] adamsitnik commented on #237
@MithunChopda Thans for the bug! I was able to reproduce it, it's proably Roslyn fault. I have reported it in [Roslyn's repo](https://github.com/dotnet/roslyn/issues/12780)

What I can offer you right now is to use our `0.9.7` version (we did not use Roslyn then)

[2016-07-27 09:30] MithunChopda commented on #237
I am able to install 0.9.7. Thank you.

[2016-07-27 11:19] adamsitnik commented on #236
@AndreyAkinshin ok, the code is ready for code review

In general I was not sure how to implement this one 100% correctly. Some of the ideas I had was to use ETW events to get time execution, write custom task scheduler that would measure it on it's own etc.. But all of these were limited (no .NET Core support, no custom schedulers support).

So I decided to go with simpler approach:
* use existin

[2016-07-27 15:27] i3arnon commented on #236
@adamsitnik  `GetAwaiter.GetResult` IMO is preferable to `Wait` and `Result` both because it throws the actual exception instead of `AggregateException` and because it's the same API for `Task` and `Task<T>`

On another note (and I'm not sure if it really fits in the project) testing how long does a single execution of an async method take is somewhat less useful since async improves scalability b

[2016-07-27 17:03] benaadams commented on #236
@adamsitnik @i3arnon been trying to benchmark impact to threadpool changes with a depth vs parallel matrix https://github.com/benaadams/ThreadPoolTaskTesting

A similar approach might capture the scalability metric?

[2016-07-28 12:42] adamsitnik commented on #236
@i3arnon Thanks for the hint! I have measured  `.Result` vs `.Wait` vs `GetAwaiter.GetResult()` and it seems that for `Tasks` the `GetAwaiter.GetResult()` is also the fastest way to go. On the other hand, for `ValueTask` it was much more slower so I stayed with .Result for VT.

[code]
                         Method |     Median |    StdDev |
------------------------------- |----------- |---------

[2016-07-28 12:44] adamsitnik commented on #236
@i3arnon  I 100% agree with you. For me the biggest advantage will be to have the possibility to check Tasks vs ValueTasks scenarios.

[2016-07-28 12:48] adamsitnik commented on #236
@benaadams @i3arnon good ideas! I popose that you create new issue for that, we gather all the ideas, then I do some research and implement it. I know that @AndreyAkinshin has also some ideas for concurrent benchmarks for 1.0

[2016-07-29 06:54] mms- commented on #230
Seems like a natural extension to unit tests. Nice to have the benchmarks listed in the IDE as tests currently are.

[2016-07-29 08:34] adamsitnik commented on #230
@mms- the thing is that you should have all applications (including IDE) closed when benchmarking, otherwise it can affect your results ;)

[2016-07-29 19:04] mms- commented on #230
@adamsitnik Agree :) Especially now that VS 2015 seems to be using just as much CPU as the unit test while it's running.

But it still has merit. I'm referring to code refactoring with performance as a goal. Meaning you have old code and new code and want to compare what is faster, all the while you need to maintain correctness. Since tests will be updated anyway when this happens you might as wel

[2016-07-30 12:41] FransBouma commented on #219
Besides DocFX, you can also use [DocNet](http://fransbouma.github.io/DocNet/) (disclaimer: I wrote it). The advantage of DocNet is that it can autogenerate your ToC from headers and can deal with deeper nesting than DocFX. Of course it's suitable for automatic generation of a documentation website (we generate all our docs using it automatically).

It's not suitable for pure API docs, it only cons

[2016-08-02 07:15] adamsitnik commented on #230
@mms- You are right. @ig-sinicyn is working right now on #155 which will give us performance test runner.

@ig-sinicyn @AndreyAkinshin @mattwarren  do you think that we should have our own VS benchmark  runner or maybe have (x/n)unit integration for the incoming performance tests runner?

[2016-08-02 09:23] ig-sinicyn commented on #230
@adamsitnik We've integration with nUnit, xUnit and MsTest.
xUnit one is quite lame (waiting for https://github.com/xunit/xunit/issues/908), others two work fine. I'm on vacation this week, so no new commits for some time, sorry :)

About accuracy. As @mms wrote there's actually no need in accuracy in unit tests. The thing you want is not accuracy but repeatability. Same code should produce same r

[2016-08-03 16:20] AndreyAkinshin commented on #236
@adamsitnik, the `async` branch LGTM. I suggest to merge it into master.

Yep, concurrent benchmarks are in the roadmap. But it's not easy to add this feature because of some CPU "features" like false sharing. Also it requires major changes of MethodInvoker because we have to change the current approach with fixed amount of iterations.

[2016-08-04 11:56] #236 closed

[2016-08-05 08:19] FransBouma commented on #219
Is this still up for grabs? Should I go ahead and create a documentation site from the readme using DocNet?

[2016-08-05 09:22] adamsitnik commented on #219
@FransBouma Yes. That would be great!

[2016-08-05 10:03] AndreyAkinshin commented on #219
@FransBouma, sounds great! I have only two requests:
1. We still need the API reference. Can you implement it?
2. It would be cool two have at least two version of the documentation: for the latest stable version and for the latest commit from the master branch (for example, see http://nodatime.org/). Is it possible to do it with DocNet?

[2016-08-05 12:00] FransBouma commented on #219
I've created a gh-pages site. As there's no gh-pages branch in the root repository, I can't create a PR, but it's located here: https://github.com/FransBouma/BenchmarkDotNet/tree/gh-pages

Viewed here: https://fransbouma.github.io/BenchmarkDotNet/

I used the default theme, colors can be changed if you want, it's just a css file in a theme folder. The docs are generated using DocNet v0.13: https:/

[2016-08-05 12:15] AndreyAkinshin commented on #219
@FransBouma, looks awesome, thanks! Waiting for the PR.

Ok.

[2016-08-05 12:27] FransBouma commented on #219
@AndreyAkinshin I can't create the PR yet, you first have to create an empty gh-pages branch :), as gh-pages branches only contain the site content, not the code.

So please add a gh-pages branch to this repo, then select it as the current branch and then remove all files. Then commit. You'll then have an empty gh-pages branch in this repo here. I can then create a PR against that. I can now only

[2016-08-05 13:00] AndreyAkinshin commented on #219
I will update gh-pages myself. Now I want to have changes in the master branch that allow to build the documentation from the current sources.

[2016-08-06 07:59] FransBouma commented on #219
Ok, so I should add the .md files in a folder to the master branch? Will do that. Will also alter the docnet.json file a bit so it will generate to a folder and clear it on every generation. You can then copy these files to the folder you have intended for gh-pages or a folder inside that. :)

		Frans

[2016-08-06 08:23] FransBouma commented on #219
I've added the PR. I'll add the reference manual docs generation script / config files to documentation\referencemanualsource so you can then use that to create the output and place it where you want it. Will be next week though. Cheers :)

[2016-08-07 14:53] LeeCampbell opened #240 "Total Time reports hour rounded up"
I have noticed that the _Total Time_ formatting is wrong.
Here the 2362s run is reported to have taken 1h 39min and 22 sec.
However 2362s is just 39min 22 sec.

[code]

It appears to be the formatting in this method https://github.com/PerfDotNet/BenchmarkDotNet/blob/c6405a91bee90de6a12aee24755fbb783c2d9052/BenchmarkDotNet/Running/BenchmarkRunner.cs#L159

I would have thought that this line

    va

[2016-08-07 15:07] AndreyAkinshin commented on #240
@LeeCampbell, thanks for the bugreport. Will be fixed in the next version.

[2016-08-08 09:30] FransBouma commented on #219
As for the reference manual: most public methods and classes have no xml doc comments whatsoever. Generating any documentation from that isn't really helpful, it will more or less be empty. So to get a reference manual that is actually useful, there first have to be xml doc comments in the code. So till then, generating a reference manual is not really going to help.

[2016-08-08 09:33] AndreyAkinshin commented on #219
Xml doc comments are in the nearest plans. However, I want to have an ability to generate reference manual first.

[2016-08-08 09:45] FransBouma commented on #219
Heh, yeah they always are.

[2016-08-09 02:33] jackmott opened #241 ".csv results output does not play well with Excel or Google Sheets"
Both Excel and Google Sheets expect that .csv means comma delimited, and by default import the file improperly.

If it was named .txt, or actually made comma delimited, this would be resolved.

I'm happy to do a PR to implement either fix, if this fix or something like it is desired.

[2016-08-09 06:12] adamsitnik commented on #241
Hi!

Sure, go ahead with the PR. The class responsible for export to csv [CsvExporter](https://github.com/PerfDotNet/BenchmarkDotNet/blob/c6405a91bee90de6a12aee24755fbb783c2d9052/BenchmarkDotNet/Exporters/CsvExporter.cs)

Thanks in advance,
Adam

[2016-08-09 06:37] AndreyAkinshin commented on #241
@jackmott, Excel take the list delimiter from your regional settings. You can check this setting (`TextInfo.ListSeparator`) for different cultures with help of [CultureInfoExplorer](https://github.com/AndreyAkinshin/CultureInfoExplorer).

I like semicolon like a list separator instead of comma because comma can be also `NumberFormat.NumberDecimalSeparator`. In case of semicolon, you are sure that

[2016-08-10 03:43] nblumhardt commented on #215
Hi all - thanks for the great project!

We're using BenchmarkDotNet to profile a [new Serilog "async" sink](https://github.com/serilog/serilog-sinks-async), and we need to:

 * Gracefully shut down worker threads
 * Delete temporary files (in a PR I'm working on)

...after running a benchmark. Without `[Cleanup]` it's hard to do this properly.

Does this cover the scenario information you need to

[2016-08-10 03:44] nblumhardt commented on #215
Ah, now I see the commit above - great! Sorry about the noise :-)

[2016-08-10 09:06] adamsitnik commented on #215
@nblumhardt If you don't want to wait for 0.9.9 release you can download the pre-release package from our development feed `<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`

If that's not an option you can add a finalizer to your benchmark class. But personally I don't like this workaround.

[2016-08-10 11:28] diegobrum opened #242 "Wrong main dependency in autogen project.json?"
Hi!
I created a new project called "SolrExpress.Benchmarks" to test 3 projects.
When I use Runtime.Core, error `dotnet restore has failed` occurred. I think it is because my new project is not in Nuget platform yet.

This is project.json generated by Benchmark.
[code]

And this is my original project.json
[code]

My question is.
Do I really need put this project in nuget platform or I have some ot

[2016-08-10 11:46] adamsitnik commented on #242
Hi @diegobrum

It's not required to put your project to nuget. A dependency in project.json can be a project or nuget package. The auto-generated project.json references your project in that way.

Could you run `dotnet --verbose restore --verbosity verbose` in the BDN.Auto folder and post the output here?

[2016-08-11 09:33] AndreyAkinshin commented on #219
Hooray, now we have online documentation: https://perfdotnet.github.io/BenchmarkDotNet/

Now it's about the latest version of the `master` branch. After `v0.9.9`, it will describe the latest stable version of the library. In this case, we will not need `stable` branch at all because we will have online documentation instead of the README file.

/cc @adamsitnik, @mattwarren

[2016-08-11 09:50] FransBouma commented on #219
You changed something in the stylesheet, perhaps? The perma link icons are really huge now and lineheight is bigger than by default in the menu.

[2016-08-11 09:53] adamsitnik commented on #219
@FransBouma thank you! great job. It's kind of weird to me now that finally we have nice docs ;)

[2016-08-11 10:02] AndreyAkinshin commented on #219
@FransBouma, no, I just downloaded Docnet v0.13 and ran `GenerateHtml.cmd`.

[2016-08-11 10:20] FransBouma commented on #219
Then I have a bug to fix in the releases, I think as the theme.css in default is then not up to date :( I'll get back to you.

[2016-08-11 10:33] diegobrum commented on #242
Hi @adamsitnik

[code]

[2016-08-11 10:36] FransBouma commented on #219
@AndreyAkinshin Could you try with the new release 0.13.1? Contains 0.13 binaries but updated theme files. the ones shipped with 0.13.0 were seriously outdated :X

[2016-08-11 10:56] adamsitnik commented on #242
@diegobrum Is [this](https://github.com/solr-express/solr-express/blob/master/benchmarks/SolrExpress.Core.Benchmarks/project.json) your project with benchmarks? if so I will try it on my machine

[2016-08-11 11:06] AndreyAkinshin commented on #219
@FransBouma, done: https://perfdotnet.github.io/BenchmarkDotNet/

[2016-08-11 11:15] FransBouma commented on #219
Much better! :) :+1:

[2016-08-11 11:30] adamsitnik commented on #242
@diegobrum Problem fixed I posted a [PR to your repo](https://github.com/solr-express/solr-express/pull/144)

The reason was that "benchmarks" folder was not added to `global.json` file, so dotnet restore was not looking there and hence was failing to restore the project with benchmarks

[2016-08-11 11:30] #242 closed

[2016-08-11 11:36] diegobrum commented on #242
**It's alive!!**

@adamsitnik
Thanks a lot!

[2016-08-11 11:41] AndreyAkinshin commented on #226
@adamsitnik, what the current state of this issue?

[2016-08-11 11:53] adamsitnik commented on #226
@AndreyAkinshin

TL;DR Implemented, but not tested in real life scenario.

I have implemented this based on what I have found in documentation. It's quite simple feature, a matter of adding extra parameter to mono. The problem is that I don't have access to any Unix machine now so I am not able to test it.

[2016-08-11 11:57] AndreyAkinshin commented on #226
Ok, I will check it.

[2016-08-11 12:33] FransBouma commented on #219
Api docs generation is now available through the PR. It requires sandcastle helpfile builder. this is an OSS tool but I don't know whether appveyor has it (but as it's the only free, and solid, api doc generator out there I think they do). Docs look like MSDN (and have the same layout like the ones from json.net as that's also generated with SHFB)

[2016-08-11 13:02] #240 closed

[2016-08-11 13:32] AndreyAkinshin commented on #226
I failed to build mono+llvm, there are some troubles on my linux machine. However, I looked at the source code, it looks fine. =) Let's assumed that llvm works until somebody sends a bug report. =)

[2016-08-11 13:39] #226 closed

[2016-08-11 14:16] #219 closed

[2016-08-11 16:35] FransBouma commented on #219
I saw your addition in the form of 'Overview', which is OK, and I hope you don't take this the wrong way but please avoid trying to re-do the docs in compressed format in an overview page. Before you know it, you've duplicated docs which isn't really helpful and you still have a large page like you do now ;) It's easy to fall into this trap, I've done that many times.

An idea could be to link to

[2016-08-11 16:46] AndreyAkinshin commented on #219
@FransBouma, thanks for the advise!

My idea is the following: I want to describe very briefly our main features (right now in README there are a lot of details). Each section of overview will have links to the corresponded sections of the documentation.
I want to put detailed docs into separated pages, it will be really helpful for people who already use BenchmarkDotNet and want to know more abou

[2016-08-11 19:08] billboga opened #244 "DefaultConfig StatisticColumn values"
Related to https://github.com/PerfDotNet/BenchmarkDotNet/commit/da2e3f059fff878a8e88b2e1dc756b909ce9631d, since `StdDev` is related to `Mean`, why is `Median` a default column? Is there an additional relationship between the current columns that can be determined?

[2016-08-11 19:21] AndreyAkinshin commented on #244
Hi, @billboga, thank you for the question. There are some historical reasons for that: we had some troubles with outliers, so, I have decided to print `Median`, it works better for most cases. It's a temporary decision (unfortunately, we use this approach for a long time; typical situation for temporary decisions).
This logic will be changes (hopefully) in v0.9.10. Right now I'm working on new Mea

[2016-08-11 19:26] billboga commented on #244
Great. Thanks for the update.

[2016-08-13 01:04] AndreyAkinshin commented on #219
@FransBouma, ok, I finished the overview: https://perfdotnet.github.io/BenchmarkDotNet/Overview.htm Now it contains only main features with super briefly explanation/examples and links to the corresponded sections (where you can read about these features in detail). I think, this page will be very useful for people who want to know what BenchmarkDotNet is.

[2016-08-13 01:50] AndreyAkinshin commented on #184
I have decided not to introduce an additional `Init()` method, jitting is too tricky, we could have some troubles with additional invocation. In the generated program, it is very important to jit our method as soon as possible.

[2016-08-13 01:50] #184 closed

[2016-08-13 10:42] FransBouma commented on #219
@AndreyAkinshin Looks great! Just enough info to get one interested and not too long overall. :) :+1:

[2016-08-13 10:57] AndreyAkinshin commented on #219
Thanks!

[2016-08-15 14:38] viktor-morin opened #245 "Remove logging"
Make it possible to not logg to HDD (drive).
I'm using benchmark inside Service Fabric (Azure) and it would be great to disable logging to file.
In the meanwhile have I changed logger.Writeline to logger?.Writeline which almost gives the solution.

[2016-08-16 07:44] adamsitnik commented on #245
@AndreyAkinshin @mattwarren What do you guys think about adding this feature?

I think that I can add StreamLogger to DefaultConfig and get it done quite easily. The question is if we should allow this to happen?

[2016-08-16 07:59] viktor-morin commented on #245
For me that works mostly in cloud (Azure) and dont want to save files locally on the VM, and also be able to run several benchmarks simultaneously, I think this is a good feature. Should be quite easy to implement. From my view I cant see any drawbacks :)

[2016-08-16 08:07] adamsitnik commented on #245
@viktor-morin why closed? by accident I assume?

[2016-08-16 08:09] viktor-morin commented on #245
For me that works mostly in cloud (Azure) and dont want to save files locally on the VM, and also be able to run several benchmarks simultaneously, I think this is a good feature. Should be quite easy to implement. From my view I cant see any drawbacks :)

[2016-08-16 08:09] viktor-morin commented on #245
Sorry, my misstake :)

[2016-08-17 06:29] viktor-morin commented on #245
I would also like to introduce the possibility to have a random name on the executable file:
shortName = "BDN.Auto" + DateTime.UtcNow.ToString("HH-mm-ss-fff");
The reason for this is that we want to run several parallely benchmarktest and otherwise get the error "file is already is use"

[2016-08-17 06:59] adamsitnik commented on #245
shortName = "BDN.Auto" + DateTime.UtcNow.ToString("HH-mm-ss-fff");

You can set `KeepBenchmarkFiles = true` in your config to have unique folder names. The problem then is that you might sometimes get `PathTooLongException`

[2016-08-17 08:17] viktor-morin commented on #245
This method throws an exception if I run two at the same time, so my comment is still valid:
            using (var executable = File.Create(generateResult.ArtifactsPaths.ExecutablePath))

It refer to BDN.AUTO

[2016-08-17 21:37] AndreyAkinshin commented on #245
@adamsitnik ,

It's a good idea to have the `SteamLogger` in the config and allow to don't include it in the config. The reason why we don't have in the current codebase is the following: our `StreamLogger` requires two additional steps: creating and disposing a file. Probably, we can add the corresponded methods (like `Start`/`Finish` or `Initialize`/`Cleanup`; the first one should take `rootArti

[2016-08-18 00:05] AndreyAkinshin commented on #228
@adamsitnik, can you also do the following:
* move `runCoreTests.cmd` and `runClassicTests.cmd` to `tests` (should be sync with appveyor)
* move `strongNameKey.snk` to `src` (should be sync with `project.json` files)

P.S. Do we really need two `NuGet.config` files (in the root folder and in the `.nuget` folder). Can we keep only one of them?

[2016-08-18 06:43] viktor-morin commented on #245
The reason I want to run several benchmarks simultaneosuly was in a way to have concurrent benchmarks, as I see you are working on. I'm using Service Fabric and the Actor design pattern.
[Azure Actors](https://azure.microsoft.com/sv-se/documentation/articles/service-fabric-reliable-actors-get-started/)
At the moment I'm testing different WebAPI and looking at the response time (benchmarking this).

[2016-08-18 06:50] AndreyAkinshin commented on #245
Yes, of course, you will not get any meaningful measurements. I know that concurrent benchmarks is a nice feature to have, a lot of people want it. But it's also a tricky feature, it's easy to make a lot of mistakes here.

[2016-08-18 07:13] viktor-morin commented on #245
I mean, of course it will affect the measurements. But each code should be run with it own resources and in a singelton where it dosn't know about eachother. It that case shouldnt we be able to measure the concurrency of the backend and how fast the WebAPI is when several clients are asking for data simultaneously?

[2016-08-18 07:20] AndreyAkinshin commented on #245
Ok, I get it. Anyway, you can't use BenchmarkDotNet for such experiments right now, sorry. We have a lot of different stages per each benchmarks (like pilot, warmup, etc.), we have several launches per each benchmark, and so on. This workflow will not work in you case because now there is no any way to synchronize these stages. Even stupid handwritten Stopwatch-based benchmark will be better for y

[2016-08-18 07:39] viktor-morin commented on #245
Okay, thanks for the input!

[2016-08-19 17:51] jskeet opened #246 "No namespace information?"
I've just noticed that in the brief JSON export format at least, there's no namespace information - just the type's short name and the methods. While in many cases that will be enough, I definitely think it would be useful to include the namespace of the test.

[2016-08-19 17:52] jskeet opened #247 "Option to write all results to a single file?"
Having an output file per test is useful for examining the results by hand, but it makes it harder to process by machine - you have to find all the relevant files, make sure you don't bring in any from previous runs etc. It would be nice to have a "single result file" mode. Admittedly not all exporter formats may support this - but JSON certainly would...

[2016-08-19 19:25] jskeet opened #248 "Support a "category" attribute for selecting benchmarks"
In Noda Time, I've found it useful to be able to categorize benchmarks. For example, I have a "BCL" category, and a "Text" category. Categories can be applied to classes or methods. From the command line, you can include or exclude specific categories.

Would love to see this in BenchmarkDotNet.

[2016-08-20 08:58] jskeet opened #249 "--class and --method should combine as "AND" filtering"
I want to run a single benchmark, to check an optimization.

I expect to be able to use `--class=LocalDateBenchmark --method=Construction` but that appears to run all the `LocalDateBenchmark` tests and all the `Construction` tests :(

[2016-08-20 10:56] #246 closed

[2016-08-20 11:05] AndreyAkinshin commented on #246
Done.
* Now all the json exporters include information about namespaces.
* Also I made some refactoring of the json exporters, see https://github.com/PerfDotNet/BenchmarkDotNet/commit/a8b4e7bdd4618c93827ea6be139f5bf290a80da3 and [docs/guide/Configuration/Exporters.md#json](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/docs/guide/Configuration/Exporters.md#json)
* Also now you can mark

[2016-08-22 19:33] dr007 opened #250 "error CS1061:"
/Users/ahsanulhaq/src/EmptyWeb1/Program.cs(16,18): error CS1061: 'ConfigurationBuilder' does not contain a definition for 'AddCommandLine' and no extension method 'AddCommandLine' accepting a first argument of type 'ConfigurationBuilder' could be found (are you missing a using directive or an assembly reference?)
/Users/ahsanulhaq/src/EmptyWeb1/Startup.cs(24,27): error CS1061: 'ILoggerFactory' doe

[2016-08-22 19:43] AndreyAkinshin commented on #250
Hi @dr007,

How does these errors relate to BenchmarkDotNet?

[2016-08-25 19:16] JohanLarsson opened #252 "Option to redirect output."
It is nice to put the results from benchmark runs in version control so that perf can be tracked over time.
Currently I hack it like this:

[code]

[2016-08-29 06:22] centur commented on #66
Can I just bump this thread and check if anyone still can run BenchmarkDotNet v.0.9.9 with latest LinqPad v5.08.01(AnyCPU)?

I tried to use nuget from a public feed as well as from [https://ci.appveyor.com/nuget/benchmarkdotnet](https://ci.appveyor.com/nuget/benchmarkdotnet). Both versions  (0.9.9 and v0.9.9.123)I've tried don't work.

When running a sample from Getting started I got this output:

[2016-08-30 22:18] rojepp opened #255 "Can not run in FSI?"
Sorry if this is a stupid bug report, this is my first attempt at using this library.

I have this class for benchmarking:
[code]

For each of the test sizes, I'll get this error:

Am I doing something I'm not supposed to?
This is on Windows 10, 64-bit. All the code that is being tested is built in Release, but the code above is in an F# script which I send to interactive.

[2016-08-31 07:41] adamsitnik commented on #255
Hello @rojepp !

I am afraid that this scenario is not supported. We will also rather not add such feature because we encourage our users to close all applications (including IDE) before running benchmarks, to reduce the chance for results corruption.

However we support classic F#, you can find sample project [here](https://github.com/PerfDotNet/BenchmarkDotNet/tree/master/samples/BenchmarkDotNet

[2016-08-31 08:08] rojepp commented on #255
Ok! Thanks for answering!

[2016-08-31 08:08] #255 closed

[2016-09-02 16:04] jskeet opened #256 "Per-method parameterization"
This is related to #60.

I've read the [docs on parameterization](https://perfdotnet.github.io/BenchmarkDotNet/Advanced/Params.htm) but this seems a little clunky compared with what I'm used to for unit tests. If I want to benchmark several methods, with different sets of parameters, it's annoying to need a separate class for each method.

For unit tests, I can specify constants via attributes, an

[2016-09-06 18:18] adamsitnik commented on #237
The issue [got rejected by Microsoft](https://github.com/dotnet/roslyn/issues/12780), which means that we can not support VS 2013 now. I don't like it, but I will close this one as well.

[2016-09-06 18:18] #237 closed

[2016-09-09 05:42] Grauenwolf commented on #244
I'm looking forward to it.

[2016-09-09 11:31] jcansdale opened #257 "How best to specify that a Job should run quickly?"
Hello,

I've just been using your FastAndDirtyConfig  example from here:
https://perfdotnet.github.io/BenchmarkDotNet/faq.htm

It doesn't seem to do much unless I include `Add(DefaultConfig.Instance)`:

[code]

Do you think this should be part of the sample?

[2016-09-09 12:17] AndreyAkinshin commented on #257
@jcansdale, usually you have a set of configs which you can set on different levels (command line, BenchmarkRunner, specific Benchmark). You also can apply a set of configs for a single benchmark. For example, when you write
[code]
you add 3 configs (each config contains only one job). Thus, `FastAndDirtyConfig ` adds `FastAndDirtyJob` for your benchmark. But you can combine it with any other conf

[2016-09-09 13:44] jcansdale commented on #257
I'm still not completely clear how I would use the example `FastAndDirtyConfig` class.

Is this idea to use it like this?

[code]

Or is there a more concise way?

[2016-09-09 13:59] AndreyAkinshin commented on #257
@jcansdale, the default way to mark the target benchmark class by this config:

[code]

[2016-09-09 22:06] jcansdale commented on #257
Ah, thanks! I was distracted by all the nice custom attributes and missed this fundamental one. :blush:

I like your idea of creating `[FastAndDirtyJob]` custom attribute as part of the sample. This would make it very obvious how it how it can be used.

[2016-09-14 17:38] summivox opened #258 "Dynamic `OperationsPerInvoke`"
I load a list of strings externally as data for my benchmarks. My goal is to measure average time for me to process one string. Of course the data is loaded before benchmarking, but since it happens at runtime, I cannot supply `OperationsPerInvoke` attribute param to `BenchmarkAttribute`, which requires compile-time constant. Is there a way around?

[2016-09-14 19:56] jcansdale commented on #257
@AndreyAkinshin,

I'm working on integrating BenchmarkDotNet with TestDriven.Net and would like to understand how:

[code]

interacts with:

[code]

Is there a way to force the following parameters on all of the `[ClrJob, CoreJob, MonoJob]` jobs?

[code]

Thanks for any pointers!

[2016-09-15 01:38] AndreyAkinshin commented on #257
@jcansdale, here is a definition of `ClrJob`: https://github.com/PerfDotNet/BenchmarkDotNet/blob/v0.9.9/src/BenchmarkDotNet.Core/Attributes/Jobs/ClrJobAttribute.cs
You can define own config attribute which provides your own job or jobs (here is an example ofr 3 jobs: https://github.com/PerfDotNet/BenchmarkDotNet/blob/v0.9.9/src/BenchmarkDotNet.Core/Attributes/Jobs/AllJitsJobAttribute.cs) You can c

[2016-09-15 07:39] jcansdale commented on #257
@AndreyAkinshin , Is there no way to override existing attributes when kicking off the benchmarking using `BenchmarkRunner.Run(targetType, config)`?

What I want to be able to do is quickly preview the benchmarks, not kick off a potentially long benchmarking session. For proper benchmarks, I'd close Visual Studio and run them from the command line using the original attributes. I don't want to for

[2016-09-15 08:27] AndreyAkinshin commented on #257
What exactly do you want to override?

We have `DryJob` for previewing. However, I think that the dry mode (or `FastAndDirty`) shouldn't be a default option. If user wants to preview benchmark results, the corresponded mode should be chosen manually.

[2016-09-15 09:08] jcansdale commented on #257
If for example I target class with `[ClrJob, CoreJob, MonoJob]`, I'd like to make these jobs run with LaunchCount=1, IterationTime=100, WarmupCount=3 and TargetCount=3.

At a higher level, I don't want to accidentally kick off a benchmark that might take 20 minutes to complete (with no obvious way of stopping it). What would be the cleanest way to stop a benchmarking session? I've tried killing th

[2016-09-15 09:20] AndreyAkinshin commented on #257
Yeah, we don't have a managed API for that. In the console, I'm using Ctrl+C, it works fine. Probably we can add something like `CancellationToken` in the `Run` method. Can you create a separated issue about it?

First of all, a user should specify initial set of jobs manually. There are a lot of different environments which could be targeted.

Right now I'm working on a new feature called `JobMut

[2016-09-15 10:53] jcansdale commented on #257
Would this allow me to do something like this:

[code]

And have it run all of the attribute-specified jobs, but with Dry properties? That would be ideal. :smile:

The user could then specify:

[code]

To let TestDriven.Net run an expediated benchmark on any of their benchmark classes/methods.

[2016-09-15 11:28] jcansdale commented on #257
I look forward to trying it. :+1:

[2016-09-18 13:47] AndreyAkinshin commented on #185
@mattwarren, ok, now we have the `RankColumn` which is based on [Welch's t-test](https://en.wikipedia.org/wiki/Welch%27s_t-test).

[2016-09-18 13:47] #185 closed

[2016-09-18 13:50] AndreyAkinshin commented on #154
The current state:
* By default, all the benchmark files are generating in the `BDN.Generated` folder.
* If you specify `KeepBenchmarkFiles = true`, short random name will be generated for each job.
* You also can set own Id for each job (which will be used for folder name).

[2016-09-18 13:50] #154 closed

[2016-09-18 19:46] jcansdale commented on #257
You've mentioned that defaulting to `FastAndDirtyJob` isn't a good idea. I've also read in the documentation:

Is there a better way to specify that a Job should run quickly or for a maximum duration that takes advantage of these smarts?

[2016-09-18 20:38] AndreyAkinshin commented on #257
Unfortunately, it's almost impossible to run it quickly and get a good accuracy *at the same time in the general case*. You just don't know in advance what kind of problems you could get for a new benchmark. Right now you have the following ways:
* Use `DryJob` or `ShortRunJob` (a new brand for `FastAndDirty`) for a quick preview. These jobs are useful for verification (that you right a correct be

[2016-09-18 22:55] jcansdale opened #260 "Benchmark setup and caching of repeated operations"
I'm developing a library where an operation might be performed once or multiple times. I'd like to benchmark how long setup takes as well as how much caching might speed up subsequent operations.

For example, say I wanted to investigate the performance of compiled vs static regular expressions.

What I'd like is to be able to do the following:

[code]

                 Method |            Median

[2016-09-18 23:17] jcansdale commented on #257
I realize that BenchmarkDotNet has been designed to cater for a broad range of benchmarks - everything from a single IL operation something longer running that might even hit a database. The kind of scenario I'm thinking of is developers who may want to turn some of their unit tests into more formalized benchmarks.

I'm hoping to find some parameters that will make it useful in the majority of cas

[2016-09-19 07:38] AndreyAkinshin commented on #257
Here you probably want to run performance tests, not benchmarks. We are working on BenchmarkDotNet as a performance (see https://github.com/PerfDotNet/BenchmarkDotNet/issues/155), but it's also "work in progress".

[2016-09-19 08:49] AndreyAkinshin commented on #260
You can move initialization for the compiled regex to a setup method and mark one of benchmarks as a baseline. An example:
[code]

**RegexStaticBenchmarks:**

       Method |        Median |     StdDev | Scaled | Scaled-SD |
------------- |--------------:|-----------:|-------:|----------:|
 MatchStatic1 |   745.5216 ns | 17.6792 ns |   1.00 |      0.00 |
 MatchStatic2 | 1,488.7698 ns | 48.1934 ns

[2016-09-19 15:50] jcansdale commented on #260
Thanks for looking into this. I've been having a play with using [Setup], but have been struggling to get the results I'm looking for.

I think my confusion has been because [Setup] doesn't behave as someone who is used to NUnit would expect. It isn't called before each [Benchmark] method, but is a one-time-setup that is called even before the warm-up iterations. This means that any caching done b

[2016-09-19 16:54] AndreyAkinshin commented on #260
`CompilationAndMatch` takes a lot of time because it allocates objects per each allocation. If you turn on [BenchmarkDotNet.Diagnostics.Windows](https://www.nuget.org/packages/BenchmarkDotNet.Diagnostics.Windows/), you will see a lot of garbage collections in this benchmark.

If you want to measure compilation time plus a single match invocation, you should benchmark them separately and sum the re

[2016-09-19 18:20] jcansdale commented on #260
Thanks for the example. `[Params(...)]` looks like a nice feature. :smile:

Are you sure it isn't doing anything funky the first time `Match` is called? If I add `N=0` to your example, I get the following.

        Method |     N |            Median |    StdDev | Scaled | Scaled-SD |
-------------- |------ |------------------ |---------- |------- |---------- |
 MatchCompiled |     0 |   146,685.19

[2016-09-19 18:36] AndreyAkinshin commented on #260
Hmm, now I get it! It looks very interesting. I could suggest you to open the source code of the `Regex` and try to understand what's going on there.

[2016-09-19 19:31] AndreyAkinshin commented on #228
@adamsitnik, what do you think about my last comment?

[2016-09-19 19:36] adamsitnik commented on #228
@AndreyAkinshin Sorry for lack of response for so long~

this is currently impossible because we also sign some of our test projects in order to let them use some of our internals (internalsvisibleto)

will check, should be possible

this is another tricky thing. dotnet restore looks for the nuget.config in the root folder, while VS while restoring packages for the our classic projects (csproj bas

[2016-09-19 19:42] AndreyAkinshin commented on #228
Why we can't change the path in the corresponded project.json files? Like `"keyFile": "../../src/strongNameKey.snk"` instead of `"keyFile": "../../strongNameKey.snk"`?

VS should also use NuGet.config from the root solution directory. By the way, it seems that we don't need `NuGet.targets` anymore. What do you think?

[2016-09-19 20:40] #241 closed

[2016-09-19 20:40] AndreyAkinshin commented on #241
Now we support RFC 4180:
* Fields containing line breaks (CRLF), double quotes, and commas should be enclosed in double-quotes.
* Default separator will be chosen based on your `CurrentCulture`
* You can also specify separator manually (comma or semicolon)

[2016-09-20 13:38] jcansdale commented on #260
It looks like the regex is parsed and the source gets prepared when the `Regex` is constructed. When `Match` gets called it looks in a cache for a compiled assembly (keyed off the source + parameters). Compilation only happens if it can't find anything in the cache. That's what I think is going on - the Regex source is pretty hairy. 😉

[2016-09-20 22:06] adamsitnik commented on #228
@AndreyAkinshin Sorry, I did not know that! I have just pushed the update. 3/3 cahnges were possible ;)

[2016-09-20 22:19] adamsitnik commented on #260
@jcansdale I have just added extra explanation to Setup and Cleanup attribute summary to avoid confusion in the future. Thanks for the input!

[2016-09-21 09:37] ig-sinicyn opened #261 "Suggestion: use GLAD for memory diagnostics."
As Maoni Stephens [just announced](https://blogs.msdn.microsoft.com/maoni/2016/09/19/556/), the GLAD is available as open source and it's looks like it's going to support .net core. Sadly there's no nuget package, but I've created [issue for it](https://github.com/Microsoft/perfview/issues/121).

[Long story](https://blogs.msdn.microsoft.com/maoni/2015/11/20/are-you-glad/) short, the GLAD is a sub

[2016-09-21 09:51] goldshtn commented on #261
Not sure why this is interesting. It's basically the TraceEvent library but with some additional parsing on top (and the existing MemoryDiagnoser already uses TraceEvent). All Windows kernel and CLR ETW events can be processed with TraceEvent without any of the new code that just got published on GitHub, AFAICT.

[2016-09-21 10:12] ig-sinicyn commented on #261
@goldshtn yep, GLAD just provides a typed API for the ETW events but there's a lot of it:) For example, here's [GC stats](https://github.com/Microsoft/perfview/blob/master/src/TraceEvent/Computers/TraceManagedProcess.cs#L3408), [inlining failures](https://github.com/Microsoft/perfview/blob/master/src/TraceEvent/Computers/TraceManagedProcess.cs#L3304) or [JIT info](https://github.com/Microsoft/perf

[2016-09-21 10:19] AndreyAkinshin commented on #261
@mattwarren, what do you think?

[2016-09-21 10:25] goldshtn commented on #261
AFAIK most of this stuff is natively available in TraceEvent's CLR parser.

[2016-09-21 10:33] mattwarren commented on #261
My understanding is that other than a slightly higher level C# object model, the main thing that the GLAD API gives you is more info about GC pauses. If you just use the Trace Event parser you have to do the calculations yourself, as I did in my post [Visualising the .NET Garbage Collector](http://mattwarren.org/2016/06/20/Visualising-the-dotNET-Garbage-Collector/)

So I agree with @goldshtn, I'm

[2016-09-21 14:56] AndreyAkinshin opened #262 "Runtime knobs"
In CoreCLR, we have a [list of knobs](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/clr-configuration-knobs.md) which can be specified.

In Mono, we can set some command line arguments (like `--optimize=OPT` or `--gc=[sgen,boehm]`) and environment variables (like `GC_DONT_GC` or `MONO_GAC_PREFIX`, see also https://linux.die.net/man/1/mono).

I think, it would be cool to

[2016-09-21 19:43] adamsitnik commented on #262
Good idea!

It could be a list of process arguments and a dictionary of environment variables.

Hint for potential contributors: we have an Executor class that is responsible for creating and starting the process. Currently the list of extra arguments for mono is set [here](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Toolchains/Executor.cs#L111)

[2016-09-22 07:27] m08pvv opened #263 "Unable to run benchmark from unit test (using R# test runner) if shadow copy enabled"
I run benchmarks from unit tests (it's more convenient for me) and I faced one issue.
After ReSharper update I got "shadow copy" option enabled silently and it was quite surprise to see BenchmarkDotNet exploding.
Steps to reproduce:
- create a simple benchmark and an unit test to run it
- enable "Shadow-copy assemblies being tested" in ReSharper
- run the benchmark from the unit test via ReSharper

[2016-09-23 11:22] wojtpl2 opened #264 "Quartile"
Would you like add [quartile](https://en.wikipedia.org/wiki/Quartile)? This is very useful information.

[2016-09-23 11:30] AndreyAkinshin commented on #264
@wojtpl2, we already have quartiles and percentiles, see https://perfdotnet.github.io/BenchmarkDotNet/Configuration/Columns.htm

[2016-09-23 11:39] wojtpl2 commented on #264
Ok Thanks.

[2016-09-23 11:40] #264 closed

[2016-09-23 18:08] #244 closed

[2016-09-23 18:11] AndreyAkinshin commented on #30
It looks that now BenchmarkDotNet can measure methods which takes nanoseconds.

[2016-09-23 18:11] #30 closed

[2016-09-23 18:12] #260 closed

[2016-09-23 18:35] AndreyAkinshin commented on #130
@mattwarren, do we have any unresolved problems in this issue?

[2016-09-23 18:39] adamsitnik commented on #30
impressive!!

[2016-09-23 18:53] AndreyAkinshin commented on #30
Yeah, sometimes we had incorrect measurements because of the the retirement unit (a blog post is coming). Now we manually unroll the generated loop (see https://github.com/PerfDotNet/BenchmarkDotNet/commit/03fb04c7a0804f20581dea4c71ac1c6a8838d670), it solves the problem. I want also upgrade `Consumer` (it looks solvable) and `v0.10.0` will be ready.

[2016-09-23 19:27] AndreyAkinshin commented on #252
We could add an additional string property in the config (like `ArtifactFolderName`, can be absolute or relative) with `BenchmarkDotNet.Artifacts` as a default value.
Probably, we also have to add some option to disable creating of the artifact folder. In most cases, I don't need the artifacts, I just look at the summary table.

I'm not sure about it. If you want to send result in a custom format

[2016-09-23 19:35] AndreyAkinshin commented on #248
I like this feature, but I'm not sure how to implement it. I have two questions:

1. How we should name the attribute? I like `Category`, but it could conflict with other `Category` attributes (it's a common name, a lot of libraries use it for own purposes). Maybe `BenchmarkCategory`?
2. Should we use categories only in the command line or it should also affect exporers/summary? If we want to have

[2016-09-23 19:44] adamsitnik commented on #252
I like this idea and I believe it should not break anything an be easy to implement.

As for the sinks: it's a great feature, but IMO we (BenchmarkDotNet) should only provide an api for that, which could be implemented by the community. Example: [serilog](https://github.com/serilog/serilog/wiki/Provided-Sinks). Currently it could be achieved my implementing custom `IExporter`?

[2016-09-23 19:56] AndreyAkinshin commented on #247
I have the following thoughts here. Now `BenchmarkSwitcher` returns `IEnumerable<Summary>`. It could return some kind of `MergedSummary` which is an `inheritor` of usual `Summary` (it provides merged Benchmarks, Reports, and so on) and contains an additional property with a list of child summaries. If you have `MergedSummary`, you could apply any kind of exporters for this. For example:
[code]
@js

[2016-09-23 19:59] jskeet commented on #247
@AndreyAkinshin: I think it would be good to be able to specify this on the command line - if you specify a merged exporter, that's what gets used; if you specify an individual one, it exports to individual files. I'd rather not hard-code the output into the `Main` method, basically. But aside from that, it sounds fine.

[2016-09-23 20:01] AndreyAkinshin commented on #252
@adamsitnik, do you want to implement it? =)

[2016-09-23 20:03] jskeet commented on #248
I'm fine with BenchmarkCategory. I don't have enough understanding of the details of BenchmarkDotNet to comment, but I know I'd personally be interested in using it for filtering, primarily... but it would be nice to know which category any benchmark is in for filtering post-run as well. ("Show me how all the text handling benchmarks have gone over time.")

[2016-09-23 20:04] adamsitnik commented on #252
@AndreyAkinshin sure. When are you releasing 0.10.0?

[2016-09-23 20:05] AndreyAkinshin commented on #247
Make sense to me. So, we could create `MergedSummary` internally and export it automatically using only exporters from the config which was constructed based on `args`. Right?

[2016-09-23 20:06] AndreyAkinshin commented on #247
Make sense to me. So, we could create `MergedSummary` internally and export it automatically using only exporters from the config which was constructed based on `args`. Right?

[2016-09-23 20:06] jskeet commented on #247
Um, maybe? I don't know any of the internals :)

[2016-09-23 20:08] AndreyAkinshin commented on #252
Probably it would be early October. I did a lot of changes in the measurement engine (some additional changes are coming) and I need some time to carefully check all my benchmarks. =)

[2016-09-23 20:10] AndreyAkinshin commented on #248
Ok, we could use it in Csv and Json exporters and ignore in the summary.

[2016-09-24 13:12] roji commented on #248
+1 for this. One additional idea would be to have the BenchmarkSwitcher support categories as well. Once you start having lots of benchmarks the switcher quickly becomes very hard to work with, the switcher could first present the user with the list of categories, and after category selection, the benchmarks in that category.

[2016-09-26 19:36] vladadada opened #265 "Add ability to specify that benchmark requires STAThread"
Something similar to how Nunit has [RequiresSTA] attribute. It could be useful for benchmarking code whose performance depends on some internal logic of WPF elements.

[2016-09-27 08:59] adamsitnik opened #266 "Don't assume that TargetType has reference to BenchmarkDotNet"

[2016-09-27 08:59] #266 closed

[2016-09-27 12:40] hammett commented on #266
thanks guys!

[2016-09-28 12:50] AndreyAkinshin opened #268 "Print runtime of child processes in summary"
An example: we have a coreclr host process with `CoreJob`, `ClrJob`, `MonoJob`. In this case, only information about `CoreJob` will be printed in the summary. It would be also nice to have information about versions of installed .NET Framework and Mono.

[2016-09-30 14:52] redknightlois opened #270 "Add support for Cleanup and Setup between benchmarks"
We have observed that there are attributes ([Setup] and [Cleanup]) that allow you to set before and after actions for a class of benchmarks. However, this is only performed before -and after- the _entire_ set of benchmarks. As far I know this is an unsupported scenario (unless I am missing something)

Scenario: We want to benchmark insertions/deletions on a database.

To attempt to recreate real-l

[2016-09-30 16:55] jbayardo opened #271 "Params attribute does not handle nullable types"
The following code:

[code]

inside a class generates a NullPointerException when running the test. This is not what is expected, since `int?` is a nullable type.

[2016-09-30 17:34] Tornhoof commented on #194
You should probably remove it from documentation too: https://perfdotnet.github.io/BenchmarkDotNet/Configuration/Jobs.htm

[2016-09-30 17:56] jbayardo opened #272 "[Setup] error when doing inheritance"
If you have something like:

[code]

This triggers an error saying that you have more than one Setup. This is strictly untrue, as there is a single one (Setup). Removing the [Setup] marker means that no method is called afterwards (not even the inherited one). If you do set it with [Setup], however, everything seems to run fine anyways. This only happens when using ExecutionValidator.FailOnError.

[2016-09-30 18:53] redknightlois commented on #258
@AndreyAkinshin Any idea when this is gonna be implemented? Cause we really need it. If you didnt started already I can tell @jbayardo to implement it and send the PR.

[2016-09-30 19:41] AndreyAkinshin commented on #258
Hi @redknightlois. It seems easy to implement but I'm not sure about API. Do you have any ideas how it should look? Also, I want to add an ability to specify dynamic Params (a method which returns values for Params field/property instead of a constant array). It would be cool to use the same approach for the both cases.

[2016-09-30 19:44] AndreyAkinshin commented on #272
@adamsitnik, could you take a look?

[2016-09-30 19:51] AndreyAkinshin commented on #194
@Tornhoof, Thanks for the notice. However, in the next version of BenchmarkDotNet, we have a lot of improvements in the API and we have completely rewritten documentations for Jobs: https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/docs/guide/Configs/Jobs.md

[2016-09-30 20:19] summivox commented on #258
For OperationsPerInvoke: My preference is for the benchmark method to return an `int` showing how many iterations it actually run.

[2016-09-30 20:24] redknightlois commented on #258
I use returning values to avoid dead code elimination issues, so the result approach could not be used generically. Having an ```Attribute``` that you can bind to a property could be more enough. Also providing a delegate to the ```Job``` configuration could work too.

[2016-09-30 20:32] summivox commented on #258
@redknightlois while I also used return value as an attempt to prevent dead code elimination, I feel there could be a more explicit way (e.g. `Benchmark.Sink(value)`).

Using return value has the following advantages: it's still specified in the benchmark method, does not require further reflection, can be easily extended to async (`Task<int>`).

[2016-09-30 21:00] redknightlois commented on #258
If it can be done, it is actually a very good idea to have a ```Benchmark.Sink(value)``` or ```Benchmark.PreventElimination(value)```

Probably it could be done with something like this:

[code]

We should look into the assembler to be sure, but sounds like a viable thing.

[2016-09-30 21:59] summivox commented on #258
@AndreyAkinshin : Just realized that in order for this to be backwards-compatible, the benchmark method should still be tagged with an attribute (e.g. `ReturnOperationsPerInvoke`).

Fiddling with code now.

[2016-10-01 06:46] AndreyAkinshin commented on #258
I think, we shouldn't use the returned value as `OperationPerInvoke`. It looks like a hack, it force you to design the method body in a special way, it can not be generalized for other benchmark attributes.

@redknightlois, we will have such method in `v0.10.0`, I'm working on it right now (it's the last thing in the engine which I want to finish for this release). Unfortunately, it's not easy to

[2016-10-01 11:29] #272 closed

[2016-10-01 11:30] adamsitnik commented on #272
@jbayardo Thanks for detailed bug report! Fixed ;)

[2016-10-01 12:28] #271 closed

[2016-10-01 12:29] adamsitnik commented on #271
Thanks for the bug report! Let's fix them all ;)

[2016-10-01 12:54] #265 closed

[2016-10-01 12:56] adamsitnik commented on #265
@vladadada I just added the support for that. In order to use it you need to mark your benchmark with `[System.STAThread]` attribute. Sample:

[code]

[2016-10-01 13:00] vladadada commented on #265
@adamsitnik Awesome!

[2016-10-01 14:22] adamsitnik commented on #268
@AndreyAkinshin I added this as a last line in the summary.

Sample output:
[code]

[2016-10-01 16:37] AndreyAkinshin commented on #268
I have some suggestions here:
1. Instead of `CLR=` we probably should use `Runtime=` because we already use term `Clr` for the Full .NET Framework. Maybe we should write `HostRuntime` here.
2. Instead of `Runtime(s): ` we could write something like `JobRuntimes=`.
3. `Arch` (`x86` or `x64`) and Jit version (e.g. `[RyuJIT]`) is also part of the runtime. For example, on my Windows machine I often ru

[2016-10-02 11:03] adamsitnik commented on #268
@AndreyAkinshin  I agree with your ideas.

So would something like this be ok?

[code]

[2016-10-02 11:10] AndreyAkinshin commented on #268
It looks much better.
What do you think, could we also print version of Mono and Core?

[2016-10-02 11:12] adamsitnik commented on #268
We can do this for Mono, I need to check it for Core

[2016-10-02 11:14] AndreyAkinshin commented on #268
Am I right that we can run Core jobs only if the host process if Core? In this case, we could just take information about Core version from the host process.

[2016-10-02 12:07] #268 closed

[2016-10-02 12:08] adamsitnik commented on #268
@AndreyAkinshin Ok, I updated the code.

Sample output:
[code]

[2016-10-03 16:12] neoeinstein opened #273 "Create a tail call diagnoser"
The implementation should mirror the `InlineDiagnoser` pretty closely, but use the facilities for hooking into JIT Tail Call optimization events. These events are described on MSDN and referenced below.
- [Description of Inlining and Tail Call ETW JIT events](https://blogs.msdn.microsoft.com/clrcodegeneration/2009/05/11/jit-etw-tracing-in-net-framework-4/)
- [Event DTOs](https://msdn.microsoft.com

[2016-10-03 18:14] jbayardo opened #274 "Support for run-once Setup and Clean-up with Parameters available"
# Scenario

Picture the following situation:
- We want to benchmark the performance of a tree implementation for a database.
- We are interested on measuring the behavior of the tree as its size grows really large.

Hence, in our [Setup] method, we create a huge tree (this is because we NEED the parameters to be set, which does not happen on the Constructor as far as I have tested). This is an exp

[2016-10-03 18:46] redknightlois commented on #274
Actually, we arrived at the same realization from different points of view. I was at the gym when I figured it out, and I was going to file the feature request after arriving to the office :P.

The solution for this is quite simple. The only thing that we need is a benchmark timestamp that gets baked in on the source-code generation process.

Lets say:
[code]

For the most part (on our particular

[2016-10-04 03:14] redknightlois opened #275 "Graph: Combined Jitter Scatter-plot and Box-plot"
With all the data that any benchmark gets as results and the amount of times operations tend to be executed, its not a bad idea to also allow outputting this kind of graph

![Combined Jitter Scatter plot and Box plot](https://www.pvk.ca/images/2012-07-03-binary-search-star-reduces-star-branch-mispredictions/box-random-cached.png)

The explanation of the graph is here: https://www.pvk.ca/Blog/2012/

[2016-10-04 13:51] mattwarren commented on #227
@adamsitnik @AndreyAkinshin I've finally getting round to doing some work on BenchmarkDotNet, what's the current situation with the branches? I can't see a `stable` branch as mentioned above, only a `master` one, should I commit against `master`?

[2016-10-04 14:01] AndreyAkinshin commented on #227
@mattwarren, the stable branch is obsolete, we don't use it anymore. Push your changes in the master branch.

[2016-10-04 14:06] mattwarren commented on #227
ah, that's cool, glad I wasn't going crazy

[2016-10-04 20:07] endel opened #276 "System.EntryPointNotFoundException"
Hey there,

I'm trying to use this tool but I'm having `System.EntryPointNotFoundException`. I think everything is configured properly.

Here's what I have at the moment:

[code]

[code]

Screenshot of the error:

![screen shot 2016-10-04 at 22 00 29](https://cloud.githubusercontent.com/assets/130494/19090360/49d17ed4-8a7e-11e6-8ee4-bac350939547.png)

My environment is:
- Xamarin Studio Community

[2016-10-04 20:25] adamsitnik commented on #276
Hello @endel

Could you provide the stacktrace? You might be our first user with such environment config, but don't worry we should be able to make it work ;)

[2016-10-04 20:39] endel commented on #276
Hey @adamsitnik, cool. Hope we can find a solution for this :)

The stack trace is quite short:

[code]

[2016-10-04 21:09] adamsitnik commented on #276
@endel I have pushed the fix. However I am unable to test it on my own.

Please add our dev feed to your nuget feeds list and download the nuget from latest build. Could you try it and tell me if it helped?

`<add key="appveyor-bdn" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />`