[2018-07-01 21:03] AndreyAkinshin commented on #787
I have another renaming idea.
For "Main"/"General" iterations, it's important to highlight that we are talking about real measurements without any calculation. My suggestion: `Natural`.
For "Result" iterations, it's important to highlight that we are talking about "fake" measurements with some postprocessing. My suggestions: `Effective`.

@adamsitnik what do you think?

[2018-07-02 13:53] adamsitnik opened #814 "For type arguments we should display simple, not-trimmed name"
Code:

[code]

Before:

|       Method |        typeToConvert |    expectedConverter |
|------------- |--------------------- |--------------------- |
| GetConverter |         System.Array | Syste(...)erter [36] |
| GetConverter |       System.Boolean | Syste(...)erter [38] |
| GetConverter |          System.Byte | Syste(...)erter [35] |
| GetConverter |          System.Char | Syste(...)erter [35]

[2018-07-02 13:55] #814 closed

[2018-07-03 10:30] TLogik opened #815 "dotnet - custom validation policy does not take effect."
I am trying out the benchmarking tooling and it will not run because of referenced assembly that is not optimized.

[code]

I have this run entry:
[code]
where the JitOptimizationValidator entry should solve the problem but it does not.

The benchmark class is taken from the example and decorated with CoreJob

[code]

Project is running in netcore2.0 on a Mac.
Expectation is that adding the Valida

[2018-07-03 11:46] adamsitnik commented on #815
Hi @TLogik

It should work as you described, however as of today `.With(validator)` does not replace the validator (here the default config has `JitOptimizationsValidator.FailOnError`) but instead adds another one, and during the config merge the more restrictive validator wins.

To get it working today you need to define a custom config type:

[code]

[2018-07-03 11:49] heavenwing opened #816 "BenchmarkDotNet.Autogenerated.csproj is not working on .NET Core 2.1"
I clone this project : https://github.com/bleroy/core-imaging-playground
After set TargetFramework to netcoreapp2.1 and upgrade nuget to latest version.
I try to run benchmark , got below error:

[code]
I attach BenchmarkDotNet.Artifacts here:
[BenchmarkDotNet.Artifacts.zip](https://github.com/dotnet/BenchmarkDotNet/files/2159102/BenchmarkDotNet.Artifacts.zip)

My .NET Core installed is
[code]

[2018-07-03 12:05] adamsitnik commented on #816
Hi @heavenwing

The default .NET Core for 0.10.14 of BenchmarkDotNet is .NET Core 1.1

To get it working you need to tell BDN which .NET Core to use:

[code]

Our master branch has already fix for that, it will be released as `0.11.0` within 1-2 weeks.

[2018-07-03 12:05] #816 closed

[2018-07-03 12:07] adamsitnik commented on #812
What do you mean by that? 0.10.14 targets .NET 4.6 which can be installed and consumed by .NET 4.7.2 app.

1-2 weeks

[2018-07-03 12:30] #811 closed

[2018-07-03 12:39] adamsitnik commented on #811
@Lexcess I have updated our pseudocode  [docs](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/guides/how-it-works.md) that I think makes it easier to understand

So how it works:

We perform one extra iteration to get the GC stats AFTER measuring the time:

[code]

So having an extra GC.Collect is not an issue, because we don't measure the time for this extra iteration:

[code

[2018-07-03 14:06] TLogik commented on #815
This indeed solved the issue at hand.
@adamsitnik Thanks for the swift response 👍

[2018-07-03 14:06] #815 closed

[2018-07-03 14:50] TLogik opened #817 "Autogenerated project is missing dependencies"
I am working with complex parameters and have implemented IParam.
I have a problem right now where the autogenerated project cannot resolve dependencies used to generate the IParam object.
I have an idea that it relates to how ```ToSourceCode``` is used.

I have attached the error and the notcs. Please tell me if other info is required.

Error
[code]
IPARAM implementation
[code]

NOTCS
[code]

[2018-07-03 14:55] adamsitnik commented on #817
Hi @TLogik

I have improved the way we generate the code for comple type arguments and it's no longer required to implement `IParam`. More details #754

Since the change has not been published to nuget.org yet, could you please do the following:

1. Add our CI feed to NuGet sources:

[code]

2. Install latest package from our CI feed (should be sth like 0.10.14.someNumber)
3. Give it a try and let

[2018-07-03 15:23] Lexcess commented on #811
Thanks for taking the time to answer so thoroughly. I agree it isn't an issue for _Benchmark.Net_. Also thanks for the link to the other thread on exposing more GC information.

If it is of interest I was trying to adapt some of the GC code from _Benchmark.Net_ to _Scientist.Net_ where the use of `GC.Collect` does indeed matter. The PR is here: https://github.com/github/Scientist.net/pull/111

I a

[2018-07-03 18:02] TLogik commented on #817
Thanks a lot.
Will try out tonight👍🏾

[2018-07-03 19:05] adamsitnik opened #818 "Arguments should be passed to asynchronous benchmarks"
[code]

[2018-07-03 19:15] #818 closed

[2018-07-04 09:21] hybridware opened #819 "Benchmarking support for AI Processors"
Please add Benchmarking support for AI Processors or Graphics Cards optimised for Machine Learning.
The application should have a dedicated Machine Learning Perf Benchmarking option

[2018-07-04 10:05] adamsitnik commented on #819
Hi @hybridware

BenchmarkDotNet runs the code that you provide, which can be Machine Learning using graphics card or anything else.

An example is [ML.NET](https://github.com/dotnet/machinelearning/tree/master/test/Microsoft.ML.Benchmarks) which uses BDN for benchmarking, but internally does most of the computations in native code.  BDN does not control where the code is going to be executed, it j

[2018-07-04 10:05] #819 closed

[2018-07-04 11:36] #813 closed

[2018-07-04 12:12] adamsitnik opened #820 "set DOTNET_MULTILEVEL_LOOKUP=0 when custom dotnet cli path is provided"
It's mandatory to get desired scenario working (to search for sdk in custom folder, not the global one)

@jorive I finally added that ;)

[2018-07-04 12:13] #820 closed

[2018-07-05 11:01] UoLeevi opened #821 "ArgumentsAttribute causes an error when used with a string containing quotes"
Following causes an error when benchmark is run.<br/>
`
[Benchmark]
[Arguments("\"")]
public void BugBenchmark(string arg) {  }
`

[2018-07-05 11:33] Rizzen commented on #821
Could you provide description of error? I have no repro.

[2018-07-05 11:53] UoLeevi commented on #821
`// ***** BenchmarkRunner: Start   *****
// Found benchmarks:
//   StringArgBugBenchmarks.BugBenchmark: Core(Runtime=Core) [arg="]

// Validating benchmarks:
// ***** Building 1 benchmark(s) in Parallel: Start   *****
// ***** Done, took 00:00:04 (4.33 sec)   *****
// Build Exception: Microsoft (R) Build Engine version 15.7.179.6572 for .NET Core
Copyright (C) Microsoft Corporation. All rights res

[2018-07-05 12:12] Rizzen commented on #821
Yep, I have repro on 0.10.14, but it seems to be fixed in 0.11.0.
You can try package from CI source - that described here - https://github.com/dotnet/BenchmarkDotNet/issues/817#issuecomment-402186579

[2018-07-05 13:00] Rizzen commented on #821
It seems also broken in CI source package. But when built from sources it works.
@adamsitnik how old is package in CI source?

[2018-07-06 13:41] TLogik commented on #817
Forgot to post this after my tests but the proposal by @adamsitnik works.
Installing the experimental package worked.
Had to rejig the code but it is cleaner now that i do not have to implement IParam and the ToSourceCode for complex types with multiple internal initialisation.  :-D

Thanks @adamsitnik

[2018-07-06 13:41] #817 closed

[2018-07-06 13:48] adamsitnik commented on #817
@TLogik  Thanks for verification and closing the issue!

[2018-07-08 10:21] vanbukin opened #822 "Wrong CPU frequency."
I have an Intel 8700K CPU that overclocked to 5.0Ghz with 2x AVX multiplier megative offset (CPU down multiplier from 50 to 48 when execute AVX instructions). So if I run some simple bencmark like this
[code]
I've got the following results
[code]
I've use Windows 10 Pro for Workstations with enabled "Ultimate Perfomance" power profile.
But the real CPU frquency was around 4.8Ghz.
It looks like Ben

[2018-07-08 21:06] L-Dogg commented on #721
@adamsitnik Could I work on that issue?

[2018-07-09 00:16] redknightlois commented on #822
@vanbukin That is not entirely true. Turbo boost is a "race to sleep" kind of boosting. That means that the CPU will only sustain that speed under certain thermal conditions. If the code is actually CPU bound and the amount of port you use do stress the thermal conditions, then you get a fast boost and then the CPU has to throttle down. So in the case of CPU benchmarks when you have long benchmark

[2018-07-09 02:29] vanbukin commented on #822
@redknightlois I completely sure, than CPU do not throttle down the clock. I remove any thermal limits in my bios)). And it’s consumes up to 180W under stress-tests like LinX that uses Intel’s linpack, without any throttling. It’s happens because any overclocking (after Intel Core i-2xxx) is just a configuring turbo boost parameters. In normal cases - it increase frequency while CPU is still in re

[2018-07-09 09:09] AndreyAkinshin commented on #822
Hey @vanbukin,

BenchmarkDotNet prints a processor brand string in the summary info (with a few modifications). If you open the properties of your PC, you should see the same frequency value like this:
![image](https://user-images.githubusercontent.com/2259237/42441363-9fecf860-8370-11e8-8876-37df8901aee2.png)
However, we can patch this string and add additional information. Do you know API which

[2018-07-09 10:17] adamsitnik commented on #721
@L-Dogg sure!

[2018-07-09 10:22] adamsitnik commented on #807
@Rizzen was unable to reproduce, @dbogatov did not provide repro for 11 days so I am closing

[2018-07-09 10:22] #807 closed

[2018-07-09 10:29] dbogatov commented on #807
My bad, I am on a conference now.
Let me reopen the issue when (and if) repro is ready.

[2018-07-09 11:36] adamsitnik opened #823 "Allow to set multiple Setup/Cleanup targets without string concatenation"
I realized it was a PITA when I was porting CoreCLR and CoreFX to BDN.

Before:

[code]

After:

[code]

@AndreyAkinshin I have also removed the old and obsolete `SetupAttribute` and `CleanupAttribute`

[2018-07-09 11:56] #823 closed

[2018-07-09 15:21] vanbukin commented on #822
@AndreyAkinshin I think it would be nice to get real clocks (as example your CPU can boost clock up to 4.5Ghz per one core, and up to 4.4Ghz per 2/3 or 4 active cores).
I've found OSS project that written on .NET framework 2.0, that displays correct CPU clocks https://github.com/openhardwaremonitor/openhardwaremonitor/blob/master/Hardware/CPU/IntelCPU.cs#L403-L443
It's licensed under MPL 2.0
I've

[2018-07-10 12:21] redknightlois commented on #822
@vanbukin Don't get me wrong, I think having samples and an histogram of clock rates would be a VERY (and I stress VERY) useful thing; but with every great tool it also comes attached with great responsibility as it could give the wrong impression if you don't know the details. And the reason is that it is not the complete picture.

What you are measuring when looking at clock rate are the P-State

[2018-07-10 15:57] vanbukin commented on #822
@redknightlois Thank for your great response. If you think that incomplete picture is better than nothing, I can try to make a PoC. Maybe we can improve some metrics with that data (to measure perfomance per clock). What do you think about it?

[2018-07-10 16:17] redknightlois commented on #822
@vanbukin the one that should give you the 'right answer' is @AndreyAkinshin, IMHO, if you are going to POC it, go for the histogram or even better getting the hardware T, C and P state changes if they are available.

[2018-07-11 11:20] #795 closed

[2018-07-13 19:35] AndreyAkinshin commented on #787
@adamsitnik ?

[2018-07-14 11:29] AndreyAkinshin commented on #822
BenchmarkDotNet is a library for benchmarking, it's not a profiler, and it's not a hardware monitor. If you want to get detailed information about performance, there are many tools which are much better than BenchmarkDotNet.
However, it's nice to print *some* information about hardware in the summary (e.g., the processor brand string or amount of cores) if we can get it "for free." Thus, it would

[2018-07-14 12:09] airbreather opened #826 "MarkdownExporter.StackOverflow fails to indent jobs' runtime descriptions"
# Repro
## Input Files
### Program.cs
[code]

### ConsoleApp0.csproj
[code]

## (Relevant) Output Files
### Program-report-stackoverflow.md
[code]

## The Problem
Note that the `DefaultJob` line in the markdown output is only indented by 2 spaces.  StackOverflow requires everything in its code block to be indented by at least 4 spaces.

## Suggested solution
Prepend 4 more spaces to individual job

[2018-07-14 12:12] airbreather commented on #826
Side note, it's really convenient that the important parts of the repro naturally include the system information that I usually like to add to bug reports.

[2018-07-15 10:01] AndreyAkinshin commented on #826
@airbreather, thanks for the report!

[2018-07-15 10:48] AndreyAkinshin opened #827 "An easy way to run a specific benchmark class via command line"
Let's say that we want to run `IntroDisassembly` from `BenchmarkDotNet.Samples`. I tried `-f IntroDisassembly` and `-f BenchmarkDotNet.Samples.IntroDisassembly`, but it doesn't work. When I try `-f BenchmarkDotNet.Samples.IntroDisassembly*`, BenchmarkDotNet runs 4 classes: `IntroDisassembly`, `IntroDisassemblyAllJits`, `IntroDisassemblyDry`, `IntroDisassemblyRyuJit`.
I think that we should detect

[2018-07-15 15:36] thyams commented on #822
The only way to get an accurate CPU frequency on modern hardware, via managed code or C++, is directly access the firmware/microcontroller API from the motherboard. Everything in Windows is virtually hard coded with specific values in WMI or best guesses. Process Explorer / Task Explorer are estimations based on Ticks over Time. It's 100% inaccurate. The fact it mirrors OPs approximate overclock i

[2018-07-15 15:58] houseofcat opened #828 "Benchmark Reporting - Deadlock/Getting Stuck Reading From Process.StandardOutput (NetCore 2.1)"
#### Update (7/15/2018 @ 7:25 PM EST)
Decoupled my Benchmark project from a local project and instead added reference to the NuGet it corresponds to.

In addition to that, I installed 2.302 SDK (`NetCore 2.1.2`).

Standard Sleep benchmark is working again.

Moving to BenchmarkDotNet nightlies (BDN v0.10.14.685, Core v0.10.14.508).

#### Update (7/15/2018 @ 8:07 PM EST)
Nothing seems to work.

Thre

[2018-07-15 17:13] AndreyAkinshin opened #829 "Error message for wrong command line filter"
Currently, if I made a typo in the filter (`--filter *BenchmarkNameWithTypo*`), I will get only one line in the output:
[code]
It's pretty frustrating. I think BenchmarkDotNet should print an error message and the full list of found benchmarks.

[2018-07-15 22:04] thyams commented on #828
Starting to see some correlation, the dotnet host never finishes / terminates. CodeGen is throwing errors for files being kept open...

Exact same test now fails to build... very curious.

Very peculiar:
[code]

[2018-07-15 23:02] thyams commented on #828
When in doubt... run simple tests again.

Sleep benchmark fails.

[code]

[code]

[2018-07-16 04:47] AndreyAkinshin commented on #828
@adamsitnik could you take a look?

[2018-07-16 11:22] thyams commented on #611
Just a caveat, there is an old programming trick to prevent HT logical processor to be used.

Manually create thread, attach the affinity to odd cores/logical processors. Odds are always physical cores.

[2018-07-16 11:40] adamsitnik commented on #828
Hi @thyams . The proposal looks good to me, could you send a PR and include a link to sample StackOverflow issue?

So far I have seen such behavior when `[GlobalCleanup]` method had a deadlock or when Windows had some issue with console buffering. I hope that your proposal can fix the latter problem.

[2018-07-16 11:46] adamsitnik commented on #829
@AndreyAkinshin there is a problem with full list, if somebody has a lot of benchmarks then the console output would be too long to understand anything (example: error text + few screens of full benchmark names).

I can add error message with single example like we do for BenchmarkSwitcher. Example:

`Given filter returned zero results. Please remember that the filter is applied to full benchmark

[2018-07-16 12:08] #827 closed

[2018-07-16 13:05] AndreyAkinshin commented on #829
@adamsitnik, I like the idea with a few screens. I agree that we shouldn't print thousands of names, but it would be nice to print the full list for a small number of benchmarks (e.g., <50 or <100).

[2018-07-16 13:08] adamsitnik commented on #787
@AndreyAkinshin sorry for the very late reply, I just don't have any very good idea to share

I see your point with using the `Benchmark` word, I am fine with `Workload`.

Today we have:
[code]

What I would do would be a little simplification:

1. OverheadGeneral  -> Overhead
2. WorkloadGeneral  -> Workload
3. WorkloadResult  -> Result

And maybe one rename:  `WorkloadPilot  => PilotExperiment`

[2018-07-16 13:14] AndreyAkinshin commented on #787
@adamsitnik, currently we have the following enums:
[code]
I want to keep these two enums because it really simplifies the source code and it is more logical. We can discuss a simplification of the console output, but we still need a better name of `IterationStage.General` in the source code.

[2018-07-16 13:19] adamsitnik commented on #787
@AndreyAkinshin So maybe `ActualRun` instead of `General`?

👍

We should be very specific in the code and easy to understand in the console output.

[2018-07-16 13:22] AndreyAkinshin commented on #787
@adamsitnik, `Actual` looks good to me.

[2018-07-17 00:40] brentarias commented on #829
Perhaps the "mispelled" filter name could be passed through a [Soundex query](https://www.techrepublic.com/blog/software-engineer/how-do-i-implement-the-soundex-function-in-c/) so that a list potential matches could be provided, and then that list is further limited to at most N - as @AndreyAkinshin suggested.

[2018-07-17 02:22] brentarias opened #831 "Increase Documentation"
I'd like to contribute to documentation.  However, I myself need to learn BDN before I could contribute.  I'll give a couple examples of missing documentation, but I'd like to regularly re-visit to add more examples of missing documentation.  Perhaps this can be an on-going issue.

Some starting examples that need documentation:

 * There is no documentation about how to contribute to documentatio

[2018-07-17 12:59] adamsitnik commented on #828
@thyams as soon as [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.14.687) build passes you should be able to update to `0.10.14.687` and test if your change has fixed the problem. Please let me know once you give it a try

[2018-07-17 13:46] #829 closed

[2018-07-17 13:47] adamsitnik commented on #829
![image](https://user-images.githubusercontent.com/6011991/42821395-c0cc9ba8-89d8-11e8-8347-ba6b09e1495d.png)

[2018-07-17 13:48] adamsitnik commented on #829
![image](https://user-images.githubusercontent.com/6011991/42821445-dafe156a-89d8-11e8-90de-a3840db20900.png)

[2018-07-17 13:49] adamsitnik commented on #829
@AndreyAkinshin using trial and error approach I have determined the limit to first 40 benchmarks ;)

[2018-07-17 23:23] thyams commented on #828
@adamsitnik No dice! I will keep stabbing at it.

[2018-07-18 08:46] rvhuang opened #832 "Compilation Error CS0119 with ParamsSource"
I have a simple benchmark test as snippet below shows.

[code]

However compilation error CS0119 occurs during benchmarking. The error message is:

The version I'm using is **0.10.14** running on .NET Core 2.1, Windows 10.

[2018-07-18 10:42] adamsitnik commented on #832
Hi @rvhuang

This issue has been solved by #754, it will be part of the upcoming 0.11.0 release.

[2018-07-18 10:42] #832 closed

[2018-07-19 16:04] AndreyAkinshin commented on #829
LGTM

[2018-07-19 16:12] AndreyAkinshin opened #834 "Better list of suggested benchmarks for wrong filter"
If we make a typo in a benchmark filter expression, BenchmarkDotNet will print the first 40 known benchmark names (see https://github.com/dotnet/BenchmarkDotNet/issues/829). It will be better to show names which are similar to the filter value (in the case of a typo, it will be easy to fix it). We can use [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) for this feature.

[2018-07-19 16:13] AndreyAkinshin commented on #829
@brentarias, nice idea, thanks. However, I think it would be better to use the classic Levenshtein distance here. I created an issue for it: https://github.com/dotnet/BenchmarkDotNet/issues/834

[2018-07-20 05:00] AndreyAkinshin commented on #831
Hello @brentarias! It's great that you want to contribute to documentation, your help will be highly appreciated. We are going to release BenchmarkDotNet v0.11.0 on the next week with an updated documentation. After the release, I will answer all your questions and provide the corresponding links.

[2018-07-20 19:54] Ryujose opened #835 "How to append values to the same .csv on each execution?"
Hello community.

I'm trying to append values to the same .csv on each execution but I can't.

Right now I'm using this cfg on a class inherited of "ManualConfig" class ->

[code]

Note: The file is created but it doesn't append any value after first execution and I'm using .NET framework 4.6.

I'll appreciate any help. Thanks!

Regards,
Jose Luis Guerra Infante.

[2018-07-20 20:51] Ryujose commented on #835
I've seen the CsvMeasurementExporter and it's approximately the theoretically thing that I was searching, but it is on one execution, and the thing that I want to see it's the difference of the measures that can be on different changes of the method.

Is there a way to add a column of type DateTime or something similar to do a filter on the library?

For example:

1) First execution I want to save

[2018-07-21 12:53] thyams commented on #828
@adamsitnik How do I force BenchmarkDotNet to run in Debug mode, I am detecting an error writing/reading to files during simple tests.

This isn't working...
[code]

[2018-07-22 10:07] adamsitnik commented on #828
@thyams

[code]

[2018-07-23 09:36] #812 closed

[2018-07-23 09:50] #787 closed

[2018-07-23 16:47] bruno-garcia opened #836 "Generated csproj can't find snk with relative path"
I have [some benchmarks](https://github.com/getsentry/sentry-dotnet/tree/master/benchmarks/Sentry.Benchmarks) on a solution which is strong named.
I'm trying to benchmark some internal classes and for that I made `InternalsVisibleTo` the benchmark project. For that reason, I also had to strong name the benchmark project.

Although the overall solution builds fine, running the benchmarks doesn't.
T

[2018-07-23 18:29] AndreyAkinshin commented on #831
@brentarias, v0.11.0 is released! In this version, we migrated to DocFX and improved many parts of the documentation. It's still not perfect, but now it should be easy to modify it.

Below you can find some links which are relevant to your questions

https://benchmarkdotnet.org/articles/contributing/documentation.html

https://benchmarkdotnet.org/articles/configs/jobs.html

https://benchmarkdotnet

[2018-07-23 19:23] Tornhoof opened #837 "Problems with default UnrollFactor in V0.11.0"
**Description**
I just upgraded SpanJson to v0.11 of Benchmark.NET and the new UnrollFactor logic does not work for codegen-heavy benchmarks.
**Actual Behaviour**

[code]
The workloadActual lines then repeat around 90 times with quite a large variation in timings.
**Expected behaviour**
I get a larger amount of ops with a more consistent timing, the 1 op benchmark is wrong on a large large scale.

[2018-07-23 19:45] Tornhoof opened #838 "Passing BenchmarkNumber to BenchmarkSwitcher not working in V0.11.0"
In V0.11.0, I can't directly pass the benchmark number anymore to the application in .NET Core 2.1.1.
Previously it worked like: `` dotnet run -c Release -- 1``

**Expected Result**:
- I can pass the number to it and it exexutes it

**Actual Result**:
- It hangs after:
[code]
Note: Neither the number nor '*' work, --filter *B1 works.

Repro below:
1. Build Repro
2. Run dotnet run -c Release -- 1
<

[2018-07-24 07:34] Tornhoof commented on #838
I looked a bit through the Command Line parsing code and I don't think that functionality is easy to add back (except for *, which directly maps to "-f *"), writing the error message with the existing benchmarks happens after the actual config parsing, so short of either rewriting that part of adding a custom ``UserInputBenchmarkFilter`` (which would be useless outside exactly this scenario and do

[2018-07-24 08:05] AndreyAkinshin opened #840 "ArgumentsSource doesn't work with System.RuntimeType"
Repro:
[code]
BenchmarkDotNet v0.10.14 execute the `GetTypes` method at benchmark compile type and embedd results into the generated source code:
[code]
BenchmarkDotNet v0.11.0 honestly call the `GetTypes` method:
[code]
Unfortunately, `System.RuntimeType` is a private class and we can't use it in the generated code. `GetCorrectCSharpTypeName` should handle such cases and use the basic public clas

[2018-07-24 08:21] #840 closed

[2018-07-24 09:24] w371987114 opened #841 "parse error in the follow"
I want to use BenchmarkDotNet to known the difference between Enum Attribute and property
so I use this test
[code]
and i always get the error
**parse error in the follow line**
my BenchmarkDotNet version is 0.11.0.0
I use visual studio 2017 and .NET 4.6.1 in windows 10 pro 1803

[2018-07-24 09:32] AndreyAkinshin commented on #841
@w371987114, you benchmark can't use `Console.WriteLine` calls because BenchmarkDotNet uses it for communication between the host process and the benchmark runner process. Why do you need it?

[2018-07-24 09:53] w371987114 commented on #841
@AndreyAkinshin
I want to know the progress of the test, by the way, I can accept my return value.
I just removed the `Console.WriteLine`  It works fine now, thank you for your answer.

[2018-07-24 09:58] AndreyAkinshin commented on #841
BenchmarkDotNet prints progress messages automatically.

[2018-07-24 09:58] #841 closed

[2018-07-24 12:35] morgan-kn opened #842 "Benchmark filter: wildcards on *nix CLI"
We have such instructions in [documentation](https://benchmarkdotnet.org/articles/guides/console-args.html) for the console filter:
- Run all benchmarks from System.Memory namespace: -f System.Memory*
- Run all benchmarks: -f *
- Run all benchmarks from ClassA and ClassB -f *ClassA* *ClassB*

It works fine for Windows.

But when I tried to run all benchmarks on my mac, I saw this output:

[code]
S

[2018-07-24 17:16] Ryujose commented on #838
I've the same case for .NET 4.6.

When you pass the parameter with "**--filter benchmarkname**" the parameter "**--filter**" is not being recognized and it throws the --help to see all parameters. And when I use "**-f benchmarkname**", fullnamespaces or wildcards it doesn't works too, it shows the ones that are detected as examples but not for running. The message is "**The filter that you have pr

[2018-07-25 08:14] alexanderkozlenko opened #843 "Exception when returning a stackonly structure in a benchmark case using in-process toolchain"
A `System.Reflection.TargetInvocationException` exception is occurring when returning a stack-only value type in a benchmark case using in-process toolchain:

[code]

- BenchmarkDotNet: 0.11.0
- Target Framework: `netcoreapp2.1` (2.1.2.26629)
- Log: [ConsoleApp1.log](https://github.com/dotnet/BenchmarkDotNet/files/2227072/ConsoleApp1.log)
- Project: [ConsoleApp1.zip](https://github.com/dotnet/Benc

[2018-07-25 09:03] AndreyAkinshin commented on #843
@alexanderkozlenko, thanks for the repro!
@adamsitnik, could you take a look?
[code]

[2018-07-25 09:04] AndreyAkinshin commented on #838
The best person who can handle these question is @adamsitnik, he will be available the next week.

[2018-07-25 09:39] AndreyAkinshin commented on #837
@Tornhoof, thank you very much for the report.

You correctly described the problem: BenchmarkDotNet ignores the Pilot stage (where we should choose the best amount of invocation) because `WorkloadJitting` takes too much time. We did this "optimization" for heavy macrobenchmark, but obviously it doesn't work for your case.

I think we should always run the Pilot stage if the jitting (cold start) t

[2018-07-25 10:17] Tornhoof commented on #837
Thank you for the workaround.

[2018-07-25 13:07] TenCoKaciStromy commented on #643
@adamsitnik Thanks for fix!
I came across the same behaviour when I want run benchmarks with referenced projects built in debug mode. The issue is still happening.

I tried create PR with fix but when I found the commit with this fix, I didn't able to resolve how to fix the behaviour with debug mode.

The solution/workaround is - change the configuration from "Debug" to "Release" and change on all

[2018-07-25 21:59] kanepenley opened #844 "Can I Pass args to BenchmarkRunner for constructor of my class?"
For example, say I have a class called MyClass like the following (assume the class also has a method with a [Benchmark] attribute):

`public class MyClass
    {
        private int _myInt;
        public MyClass(int myInt)
        {
            _myInt= myInt;
        }
     }`
Is there a way to pass an argument to the constructor when I call `BenchmarkRunner.Run<MyClass>()` or is this not support

[2018-07-26 00:19] Ryujose commented on #838
@Tornhoof I've taken a look on the tests of the library, and performed the tests on the implementation and you've to insert the --filter without the ", because if you place the " it goes in one parameter and when you insert without it, it goes with two. You can take a look at the test "WhenJobIsDefinedInTheConfigAndArgumentsDontContainJobArgumentOnlySingleJobIsUsed" on "BenchmarkSwitcherTest" if y

[2018-07-26 00:23] Ryujose commented on #835
We've done an implementation that cover our need, I'll proceed to close the issue.

[2018-07-26 00:23] #835 closed

[2018-07-26 01:05] Ryujose commented on #838
@Tornhoof I don't know if you've the same problem that I had. But I've done the same with the numbers and have the same behaviour. I don't know if your issue comes from the same place because your trying to do it with the compile parameters of dotnet core and right now I don't have an implementation to test with it, I suppose it use the same input.

[2018-07-26 06:56] Tornhoof commented on #838
@Ryujose Mine is specifically only about passing those numbers into the benchmark, there is simply said no code to accept parameters without a name (e.g. -f) anymore.

[2018-07-26 12:51] Ryujose commented on #838
@Tornhoof The problem is on the filter of benchmarks in the class "BenchmarkConverter.cs" on line 74. If you go inside of the method to the predicate on class "GlobFilter.cs", line 24, there's a filter and it doesn't comes with any value, if you go with -f 0 for example.

If I've sometime available I'll take a best look about it.

[2018-07-27 17:21] AndreyAkinshin commented on #844
Currently, we don't support such feature, but we can discuss it. @adamsitnik did huge console argument refactoring recently, probably he has some thoughts on this (Adam will be available next week).

[2018-07-31 13:59] adamsitnik commented on #844
Hi @kanepenley

Such scenario is not supported, I can offer only some workarounds.

Can this value be obtained via some static property? If so, you should be able to use [ParamsSource](https://benchmarkdotnet.org/articles/features/parameterization.html#sample-introparamssource) to get it working.

Some pseudo code:

[code]

**Please keep in mind that the Param has no value in ctor and you need to

[2018-07-31 14:51] adamsitnik commented on #843
Hi @alexanderkozlenko

Unfortunately, this feature was not ported to `InProcessToolchain` yet. It was easy to change the C# code we generate, but updating the `InProcessToolchain` which needs to generate the right IL is non-trivial.

I don't expect to implement it personally any time soon (I am too busy with porting CoreFX to BenchmarkDotNet).

[2018-07-31 14:54] adamsitnik commented on #643
hi @TenCoKaciStromy

Even if you run the benchmark process in Debug, BDN is going to rebuild it and run in Release. Why would you like to benchmark the Debug build?

[2018-07-31 15:03] adamsitnik commented on #838
Hi @Tornhoof @Ryujose

This is a breaking change that was introduced on purpose.

The numbers can change over the time as you add new benchmarks to your assembly. You can now use the new powerful [glob filtering ](https://benchmarkdotnet.org/articles/guides/console-args.html#filter)

I believe that once you get used to it you won't be willing to "go back"

[2018-07-31 15:03] #838 closed

[2018-07-31 15:46] adamsitnik commented on #836
Hi @bruno-garcia

The problem here is that we generate new csproj in `sentry-dotnet\benchmarks\Sentry.Benchmarks\bin\Release\netcoreapp2.1\ce1f53d3-5f8a-4230-926a-52c4cf739c35\BenchmarkDotNet.Autogenerated.csproj`

and MSBuild can't resolve the key path because the generated `.csproj` file is elsewhere.

The only idea I have right now is following workaround:

[code]
Please let me know if it helps

[2018-07-31 15:56] adamsitnik commented on #842
hi @morgan-kn

big thanks for the bug report, I had no idea about the behavior of *nix CLI

I really like the new glob filtering and I definitely don't want to get rid of it.

What I can do is to change the output of `--help` for non-Windows OSes to include the solution you have provided.

I am OK with adding new commands to our console arguments. However, we need to be carefull when we introduce

[2018-07-31 16:08] adamsitnik commented on #837
@Tornhoof big thanks for the bug report and a clear repro case!

I will try to find some solution and fix it during the next weekend

[2018-07-31 23:04] nickbabcock opened #845 "Multiple frameworks support and conditional defines"
How does one use conditional compilation in benchmarkdotnet?

Let's say our benchmark project has the following conditional dependencies

[code]

and the following conditional benchmarks

[code]

with the config

[code]

Running

[code]

Results in the .net core project trying to include dependencies slotted for the main framework (and thus errors as those dependencies aren't compatible)

[code]

[2018-08-01 05:38] morgan-kn commented on #842
1. I am agree, however we can use words as parameters if we need. Like you did for `join` option.

2. Yeah, these letters can be used by dotnet cli, but as we use EnableDashDash from CommanLineParser, I don't think we'll get in troubles here.
I reckon, `dotnet run -c Release -- -c MyClass` is ok to understand.
By the way, maybe we should mention this ("--" option) in documentation. I'm afraid, peo

[2018-08-01 09:16] benaadams opened #846 "Add RAM to summary"
Should include RAM as well as CPU so GC reasons between two different computers are easier to spot
[code]

[2018-08-01 09:51] AndreyAkinshin commented on #842
@adamsitnik, I like the idea of custom arguments for namespace/class/etc. The new glob filtering is a very powerful API and it can be super useful for advanced use cases, but in most simple cases you don't need it.

[2018-08-02 08:38] adamsitnik commented on #845
hi @nickbabcock

This scenario (conditional compilation) is not supported.

When the parent process builds the benchmarks projects it is using reflection to search for `[Benchmark]` methods. If you run your example as net461 it finds both `XXHash` and `CityHashNet` methods and builds the project which is using them for net461 and .NET Core. It has no idea that the code is inside `#if NET461`

A wo

[2018-08-02 11:58] bruno-garcia commented on #836
Nice work around, works like a charm.
Thanks @adamsitnik!

[2018-08-02 11:58] #836 closed

[2018-08-02 12:59] nickbabcock commented on #845
Thank you for your guidance. I will opt for `0s` and subsequently filter them out. Feel free to close at your discretion (ie. this is a feature that won't / can't be implemented for the foreseeable future).

[2018-08-02 13:19] #845 closed

[2018-08-07 00:27] ChiragRupani commented on #846
I would like to contribute. Want to confirm - what would be required in memory info - e.g. Capacity, speed and type? Also, It would be retrieved in similar fashion as CPU info for different platforms.

[2018-08-07 00:49] benaadams commented on #846
For what I was after Total and Free? As the GC behaviour will vary based on the RAM available.

[2018-08-08 17:27] ChiragRupani commented on #846
I have implemented changes for different platforms, but unable to verify for Mac OS. Please have a look in referenced PR.

[2018-08-09 10:26] evilguest opened #848 "ParamsSource attribute doesn't work as expected"
The properties marked with the ParamsSource attribute aren't set in the ExecutionValidatorBase.
This causes issues when this validator calls the GlobalSetup.
The property marked as this does work as expected (gets inited to the first listed value before calling the GlobalSetup method):
[code]
The property marked as this doesn't work as expected - it remains null upon the GlobalSetup method call:
[

[2018-08-09 11:03] AndreyAkinshin commented on #848
@evilguest thanks for the report!
@adamsitnik could you take a look?

[2018-08-09 11:11] adamsitnik commented on #848
@AndreyAkinshin I don't have time ;( I am finishing the CoreFX port ;)

@evilguest would you like to send a PR? you did a great job finding the source of the problem and now you are one step away from becoming a BenchmarkDotNet contributor!

[2018-08-09 14:38] dzmitry-lahoda opened #849 "Bench method named `@typeof` in C# leads to issues"
[code]

[code]

Rename to `@typeof1` helps.

[2018-08-09 15:20] AndreyAkinshin commented on #849
@dzmitry-lahoda thanks for the report.
Do you really want to use `@typeof` as a method name? The `[Benchmark]` attribute has the `Description` field which is used in the summary table if specified. Thus, you can define a benchmark like this:
[code]

[2018-08-10 22:00] adamsitnik opened #850 "Handle BigIntegers arguments properly"
[code]
Was producing following code:

[code]

And following error:  "Integral constant is too large"

[2018-08-10 22:08] #850 closed

[2018-08-10 22:24] adamsitnik opened #851 "Handle double special values like NaN etc"
[code]

Was producing following code:

[code]

And error: Floating-point constant is outside the range of type 'double' [

[2018-08-10 22:40] #851 closed

[2018-08-15 13:15] patrickCid opened #852 "BuildPlots script generates empty pictures"
I'm getting empty plots for my benchmark (pictures are generated, but show nothing), although the attached benchmark results, the csv output, report and BuildPlots.R script look good to me.
The benchmark data is created on a windows machine (BDN 0.11.0) the plotting script is executed via Rscipt 3.4.4 on a linux machine with the following output:

[R.zip](https://github.com/dotnet/BenchmarkDotNet/

[2018-08-15 13:50] alueck opened #853 "ArgumentsSource containing IFormattable leads to Compile Exceptions"
Hi,

I wrote a benchmark and assigned an ArgumentsSource which contains objects of classes that implement IFormattable, you could just use DateTime for reproduction purposes.

Example:
[code]

This leads to the following generated constructor by BenchmarkDotnet that contains an obviously invalid assignment in the last line:

[code]

I found the following fix:

In the method `Create(ParameterDefini

[2018-08-15 14:04] adamsitnik commented on #853
@alueck hi! big thanks for the bug report, I am going to fix it right now.

[2018-08-15 14:27] #853 closed

[2018-08-15 14:56] adamsitnik commented on #853
@alueck you can download `0.11.0.724` with the fix from our CI feed:

[code]

[2018-08-15 20:34] alueck commented on #853
@adamsitnik Thanks

[2018-08-16 01:40] ndrwrbgs commented on #155
Has there been progress on this since February? @bonesoul ?

[2018-08-16 10:31] AndreyAkinshin commented on #837
@adamsitnik do you have any progress with this issue?
I have another idea about how to solve the problem without additional settings. Let's check that we do enough operations during the `WorkloadWarmup` stage. If it turns out that the number of operations is not enough and our `WorkloadJitting` heuristics produced a wrong hypothesis about the warmed operation duration, we should restart iterations

[2018-08-17 10:19] shargon opened #855 "Empty plot"
I receive this warning in the log, but the png is empty

[code]

This is my configuration

![image](https://user-images.githubusercontent.com/3167973/44261386-cbaf2200-a217-11e8-93f0-ac5db3a3e32a.png)

[2018-08-17 10:25] #855 closed, assigned to AndreyAkinshin

[2018-08-17 10:27] shargon commented on #855
Thanks for the quick response!

[2018-08-19 10:17] AlexeiScherbakov opened #856 "32 bit .NET Core benchmark not working on 64-bit OS"
I use BenchmarkDotNet 0.11.0 for launching x86 & x64 .NET Core benchmarks (.NET Framework works fine) on Windows 10 x64. I looked at this -  https://github.com/dotnet/BenchmarkDotNet/issues/534 and make config for benchmarks:
[code]

For starting benchmark I use

[code]

Benchmark project file is:
[code]

I have installed both .NET Core SDK (x86 & x64)

`%MSBuildSdksPath%` Env var is pointed to `c

[2018-08-20 09:37] TenCoKaciStromy commented on #643
Hi,
it's not the case where I *need* run in debug necessarily. I don't know workflow of other devs but in my case (in current project) it looks like this:
 - *stage 1*
 - write tests
 - implement the feature
 - fix feature
 - write performance tests
 - *stage 2*
 - run performance tests
 - improve performance of feature (sometimes there is work on others related features to allow performance impro

[2018-08-20 11:53] adamsitnik opened #857 "Improve user experience for working with local CoreFX builds"
What we have today works but is quite complex and I did not test it after the recent upgrade of the CoreFX repo to modern .csproj files.

/cc @jorive

[2018-08-20 12:03] adamsitnik commented on #643
Hi @TenCoKaciStromy

Unit tests should test the correctness, benchmarks the performance. There is a HUGE difference for the performance for Debug vs Release builds (in some cases it can be more than x100) and we don't allow to benchmark Debug code on purpose because it does not make any sense (it  would be something similar to testing security with anonymous authentication enabled for entire web a

[2018-08-20 12:16] adamsitnik commented on #856
Hi @AlexeiScherbakov

Most probably you just need to set `PlatformTarget` to `AnyCPU` for your project with benchmarks (AFAIK dotnet cli builds everything as x64 by default):

[code]

If it still does not work you can try following config :

[code]

Please let me know if it helps

[2018-08-20 12:30] AndreyAkinshin commented on #837
In fact, there are too many factors that can slow down the first iteration (from heavy assembly loading to custom user logic).

[2018-08-20 12:37] adamsitnik commented on #837
Totally agree! Would you like to implement it?

[2018-08-20 12:38] AndreyAkinshin commented on #837
Yes.

[2018-08-20 13:07] #844 closed

[2018-08-20 16:57] rpokrovskij commented on #643
I use shared project to have the same "test code" for unit tests and benchmark projects when they have common code.

[2018-08-20 20:05] AlexeiScherbakov commented on #856
It not helping, In both cases - benchmark trying to load task "CheckForImplicitPackageReferenceOverrides" from "c:\Program Files\dotnet\sdk\2.1.400\Sdks\Microsoft.NET.Sdk\targets\..\tools\netcoreapp2.0/Microsoft.NET.Build.Tasks.dll and failed with 'Exception from HRESULT: 0x8007000B'

[2018-08-20 22:32] saucecontrol commented on #857
Couple of items from my wish list:
1) Allow a list of individual assemblies to override the packaged version
2) Throw an exception if the requested CoreFx or CoreClr version string isn't found under the packages path (looks like it currently just falls back to the SDK version)

[2018-08-21 15:11] adamsitnik opened #858 "Should the Engine iterate over and consume IEnumerable and IQueryable results?"
Today I have discovered that one of the ML.NET benchmarks returns `IEnumerable` and takes 16 nanoseconds to execute. It was suspicious to me, so I decided to iterate over the result and consume the result.

[code]

It turned out that after we consume it, it takes 2.370 ms, not 16 ns.

I would like to start a dicussion here: should BenchmarkDotNet handle IQueryable results and execute them?

@Andre

[2018-08-21 15:43] redknightlois commented on #858
Makes sense. It is also a common error when benchmarking. I am not saying I have been guilty of it, BUT if you try to guess probably you will be right :D.

[2018-08-21 18:03] adamsitnik commented on #858
I had an offline conversation with @jorive and we agreed that most probably a validator with error + a public extension method for consuming the result would be best

[2018-08-21 21:44] jorive commented on #857
On a Windows_NT/Release/x64 build:

CoreFx benchmarks use the cli here: "%CoreFxRepoRootPath%\bin\testhost\netcoreapp-Windows_NT-Release-x64\dotnet.exe"

Then, they `pushd` into the test/benchmark directory
For example, "%CoreFxRepoRootPath%\bin\tests\System.Runtime.Performance.Tests\netcoreapp-Windows_NT-Release-x64\"

Finally, they run like this
"%CoreFxRepoRootPath%\bin\testhost\netcoreapp-Wind

[2018-08-22 09:41] AndreyAkinshin opened #859 "Strange max frequency values on Windows"
In v0.11.0, we introduced advanced `CpuInfo` which contains the maximum CPU frequency.
On Windows, this value is based on the `wmic` output (`CurrentClockSpeed`). It turned out that sometimes these values look pretty strange: the evaluated frequency can be lower than the brand string frequency. Sometimes the difference between brand string and evaluated frequencies is about 0.01GHz.
The examples a

[2018-08-22 09:41] AndreyAkinshin commented on #859
@Rizzen could you take a look?

[2018-08-22 09:44] AndreyAkinshin commented on #859
A relevant question on serverfault.com: https://serverfault.com/questions/121669/difference-between-currentclockspeed-and-maxclockspeed

[2018-08-22 15:20] Rizzen commented on #859
So, I have repro using my laptop and eco-mode. I also made workaround and experiments using both `MaxClockSpeed` and `CurrentClockSpeed` - and `MaxClockSpeed` always returns same result while `CurrentClockSpeed` values was different. I hope that using `MaxClockSpeed` instead of `CurrentClockSpeed` will help to fix that issue.
 I'll provide PR with fix soon and it would be nice if someone check it

[2018-08-22 15:49] adamsitnik commented on #858
I added a new Validator which gives a clear error message with explanation + solution. With samples and more info in the docs

![image](https://user-images.githubusercontent.com/6011991/44474732-a06f6d00-a633-11e8-883c-7188430e79ba.png)

[2018-08-23 08:03] AndreyAkinshin commented on #858
@adamsitnik, looks awesome!

[2018-08-24 13:28] adamsitnik commented on #857
@saucecontrol  It won't be an issue anymore. Now we are using CoreRun which just loads the files from CoreFX repository. So as long as the build pipeline puts the right files to folder with CoreRun it will just work.

Internally we create a copy of folder with CoreRun and update duplicated assemblies if your benchmark references newer ones. So you just need to reference them in your project with b

[2018-08-24 13:35] adamsitnik commented on #857
@jorive I gave `dotnet cli` a try, but I have failed to get it working within short amount of time.

The `dotnet cli` present in `corefx\bin\testhost\netcoreapp-Windows_NT-Release-x64\dotnet.exe` can not build or restore things. If I use it, I am getting following error:

[code]

I can build with `dotnet cli` present in `corefx\Tools\dotnetcli\dotnet.exe` but when I try to run it with `corefx\bin\

[2018-08-24 18:31] RealDotNetDave opened #861 "Can't Run Test with .NET 4.7.2"
I just started using BenchmarkDotNet from a .NET Core 2.1 console app. The benchmarks work great for .NET Core, but I also have it set to benchmark .NET Framework, but I am getting this error:

// Build Exception:   Restoring packages for S:\src\git\dotnetTips\dotNetTips.CodePerf.Example.App\PerfBin\netcoreapp2.1\fde8c2e5-2096-446b-aae9-96dc703f5245\BenchmarkDotNet.Autogenerated.csproj...
S:\src\g

[2018-08-24 18:34] adamsitnik commented on #861
Hi @RealDotNetDave

Your benchmark project needs to target .NET 4.7.2 as well. Your `.csproj` should look like:

`<TargetFrameworks>ne472;netcoreapp2.1</TargetFrameworks>`

[2018-08-24 23:57] bluetentacle commented on #466
I'm trying to benchmark the difference between the current and past versions of a library, using the MSBuildArgument command.

I couldn't make it work.

Here's my config:

[code]

And here's my benchmark csproj:

[code]

It builds but at runtime it craps out. The "Before" job complains that it can't find the version 1.1.6 of MyAssembly, even though the PREVIOUS_VERSION MSBuild parameter instructs

[2018-08-25 08:32] adamsitnik commented on #466
Hi @bluetentacle

I am afraid that you need to wait until we make some progress with #805

[2018-08-27 14:16] alinasmirnova commented on #826
Assign it to me please. I'll fix it!

[2018-08-27 18:49] adamsitnik commented on #861
@RealDotNetDave I am closing, if my answer did not solve the issue please feel free to reopen.

[2018-08-27 18:49] #861 closed

[2018-08-27 19:43] adamsitnik opened #862 "Don't print parse errors to the output"
Some benchmarks need to print to the console. An example: ML.NET

![image](https://user-images.githubusercontent.com/6011991/44681813-fb450200-aa41-11e8-81b3-7643c49177b9.png)

But when we notify the user with red color about parsing error typically users just get confused

![image](https://user-images.githubusercontent.com/6011991/44681861-1e6fb180-aa42-11e8-94d0-5262e0d8f7c1.png)

@AndreyAkinshi

[2018-08-27 19:44] #862 closed

[2018-08-27 19:53] adamsitnik opened #863 "Make it easier to understand which process belongs to which benchmark"
Internally we build one `.exe` with all benchmarks inside and just pass `benchmarkId` to the `.exe`. The ID is an integer, so if somebody is profiling multiple benchmarks it's hard to tell which is which.

![image](https://user-images.githubusercontent.com/6011991/44682101-c71e1100-aa42-11e8-832b-fcdeaf4de647.png)

Now we are also going to pass benchmark name and job name to make it easier for the

[2018-08-28 09:15] AndreyAkinshin commented on #862
@adamsitnik, I guess it makes sense to introduce a debug mode in our logger which can be enabled via Config or command line arguments. With the `#if DEBUG` directive, it's impossible to get these logs in the release version of the library.
Also, it would be nice to add debug logs in some classes. Right now, I'm playing with StopCriterions (https://github.com/dotnet/BenchmarkDotNet/issues/786) and

[2018-08-28 23:48] opensas commented on #448
Same thing happens when running an app published with the `--self-contained` parameter. I guess that's what's being used when deploying to docker...
Assembly.CodBase point to _System.Private.CoreLib.dll_ dll

[2018-08-29 14:58] adamsitnik commented on #862
@AndreyAkinshin maybe we should introduce log levels? Info, Warning, Error, and Verbose?

I would like to have more logs when it comes to the toolchains, especially when crazy things happen when we use MSBuild ;)

[2018-08-29 19:23] adamsitnik opened #864 "Expose case insensitive filter via command line args"
It's driving me crazy sometimes, I am going to expose it via `--cif`

/cc @jorive @valenis

[2018-08-29 19:58] AndreyAkinshin commented on #864
@adamsitnik, do we really need case sensitive filter? I guess it makes sense to make it case insensitive by default. (I'm not a huge fan of additional options.)

[2018-08-29 20:32] shargon commented on #568
Should be fine if we can do all on the same execution (without new process). For visual studio profile performance is very useful

[2018-08-29 21:01] adamsitnik commented on #864
@AndreyAkinshin I was thinking about this. The problem is that C# is case sensitive and here we filter by C# things: namespace, type name and method name.

Honestly I am not sure what we should do: have it case insensitive by default and sensitive on demand? Or the opposite?

[2018-08-30 09:54] AndreyAkinshin commented on #864
@adamsitnik could you describe a situation when you really need case sensitive filter?

[2018-08-30 14:05] marklam opened #865 "Truncated parameter strings used as group causes problems"
If a benchmark has parameters which are long strings, they get truncated to
(_first five chars_)…(_last five chars_) [_length_]

If two parameters are the same length and have the same first/last five characters, they benchmarks get grouped together.
If one of the methods is marked as a baseline, BenchmarkDotNet complains that the group has two baselines.

[code]
produces `Only 1 benchmark method

[2018-08-31 08:26] adamsitnik commented on #865
@marklam big thanks for the very good bug report!

[2018-09-01 12:51] #865 closed

[2018-09-04 13:34] Rbn3D commented on #290
Any updates on this? I'm trying to benchmark two versions of the same project (one as project reference and the other as nuget packageReference).

My purpose is to measure optimizations i'm making to that project (so I can compare them with the current version published in nuget easily).

[2018-09-04 20:40] RealDotNetDave commented on #861
I changed my csproj to:

<TargetFramework>netcoreapp2.1;net472</TargetFramework>

But keep getting this new build error:
 "ResolvePackageAssets" task failed unexpectedly.
NuGet.Frameworks.FrameworkException: Invalid framework identifier ''.

Any ideas?
David

[2018-09-04 20:53] RealDotNetDave commented on #861
Never mind. I figured it out. Thanks.

[2018-09-05 00:55] helloguo opened #868 "The execution time of micro benchmark is not consistent"
I have a micro benchmark looks like this.
[code]
ScaleUPerf0, ScaleUPerf1 and ScaleUPerf2 are actually testing the exactly same function. I expect the execution time of each benchmark is similar. However, when I run the benchmark, the perf data is quite different.

|      Method |   LEN |     Mean |     Error |    StdDev |   Median |
|------------ |------ |---------:|----------:|----------:|------

[2018-09-05 09:31] EgorBo commented on #868
@helloguo can it be affected by AVX frequency throttling?

[2018-09-05 20:18] helloguo commented on #868
@EgorBo Thank you for your input. I did not see the frequency changed that much when I profiled the benchmark.

@Tornhoof Thank you for your suggestion. Yes, CustomCoreClrToolchainBuilder makes the results more consistent. I guess I should use CustomCoreClrToolchainBuilder instead of InProcessToolchain. It would be interesting to know why the variance happened with InProcessToolchain. Any idea how

[2018-09-06 07:15] Tornhoof commented on #868
@helloguo As you use netcoreapp3.0, I would probably first check for the tiered jitter, by setting SET COMPlus_TieredCompilation = 0 and running it again, I think I saw an issue over at coreclr that the hw intrinsics behave slightly differently with tiered_compilation, if that does not change it, I have no idea. Maybe @adamsitnik  knows a good way too debug that.

[2018-09-06 10:28] GeertvanHorrik commented on #290
@Rbn3D did you check out the project I mentioned? It does do benchmarks against each version and creates a fully summary of the delta (top 10 improvements and top 10 stuff becoming worse).

[2018-09-06 15:29] adamsitnik commented on #868
Hi @helloguo

In this case, I would expect it to be an alignment issue. [This](https://mijailovic.net/2018/07/20/alignment-and-pipelining/) great blog posts from @Metalnem explain a similar issue.

[2018-09-06 16:53] RealDotNetDave opened #870 "Error after adding OperationsPerInvoke"
My benchmarks were running fine until I started adding OperationsPerInvoke like this to a method:

[Benchmark(OperationsPerInvoke = 1000, Description = "Test")]

The error seems to happen after this call completes:

var summary1 = BenchmarkRunner.Run<PerfTestRunner>(config);

Error is below:

System.InvalidOperationException
  HResult=0x80131509
  Message=Failed to run AdaptiveHistogramBuilder.Bui

[2018-09-06 18:30] helloguo commented on #868
Thank you for your suggestion. It seems alignment (cache split) makes the difference from that blog. But if we use CustomCoreClrToolchainBuilder, we do not see much variance. In this case, probably we just get lucky that arrays are 32 bytes aligned for most of the time?

The ideal case is that we can define if the array is 32 bytes alignment or not. In this way, I could test the function against b

[2018-09-06 18:49] adamsitnik commented on #868
I guess so.

We had a very long discussion about this in #756

What I think that you could do:

1. Instead of allocating a n-element array `dst = new float[LEN];` allocate a bigger array n-element + alignment array like `dst = new float[LEN + 32];`
2. In your benchmark, don't start from `float* pd = pd0;` but from the first aligned element of the array (sth like `float* pd = pd0 + 32 - (pd0 % 32);

[2018-09-06 18:54] helloguo commented on #868
Thank you. I will close this issue if there is no more concerns.

[2018-09-06 18:54] #868 closed

[2018-09-06 18:57] adamsitnik commented on #868
@helloguo I am glad I could help! Please let me know if it helps or not.

[2018-09-09 12:09] Mike-EEE opened #871 "Question (but Possible Feature): OperationSetupAttribute?"
Hello Community,

I was re-reading #730 and was curious why there isn't an `OperationSetupAttribute`?  Is there something that is keeping additional code from being executed with each operation?  Besides performance, that is. 😆

Thank you for any consideration/insight you can provide here.

[2018-09-09 13:33] Mike-EEE opened #872 "Question/Discussion: Best Way to Read These Results?"
Hello Community,

I have been diving into memory/span lately, due to part to the [great article here](https://medium.com/@antao.almada/how-to-use-span-t-and-memory-t-c0b126aae652) by @aalmada.

I took the code found in the article and made my own fork and [branch focusing on enumerations](https://github.com/Mike-EEE/SpanSample/tree/Enumerations), adjusting the `ItemsBufferCount` property to the fo

[2018-09-09 19:18] RealDotNetDave opened #873 "How To Run Job using x86 and x64"
I've been trying to for days to figure out how to run a job as x86 & x64 for a Run. My latest attempt was running it like this:

            BenchmarkRunner.Run<PerfTestRunner>(ManualConfig
            .Create(DefaultConfig.Instance)
            .With(Job.Core.With(Platform.X86))
            .With(Job.Core.With(Platform.X64))
            .With(ExecutionValidator.FailOnError));

But the x86 is not

[2018-09-10 08:57] adamsitnik commented on #873
Hello @RealDotNetDave

Yes, you can, but to make it work you need to tell BenchmarkDotNet which dotnet cli to use. Every dotnet cli can run the benchmarks only for one architecture.

An example is described in our [docs](https://benchmarkdotnet.org/articles/configs/toolchains.html?q=toolchains#custom-dotnet-cli-path)

In your case it could be something like this:

[code]

Please feel free to reope

[2018-09-10 08:57] #873 closed

[2018-09-10 09:07] adamsitnik commented on #871
Hi @Mike-EEE

`IterationSetup` works like `OperationSetupAttribute`. We decided to change the behavior of `IterationSetup` because as Stephen has suggested this is what the users were expecting from the beginning.

We also execute many operations in a single iteration by default to:

1. minimize the noise (one bad sample amongst many other samples in single iteration is not going to have a huge im

[2018-09-10 09:54] adamsitnik commented on #872
It depends on what is your goal. Do you want to make sure that there will be no GC so your code always executes in the same amount of time (low latency)? Or a `GC.Collect` from time to time is ok because you optimize for the maximum Throughput?

I have described this on my [blog](https://adamsitnik.com/the-new-Memory-Diagnoser/#how-to-read-the-results). I can see that you are using `InProcessToolc

[2018-09-10 11:44] Mike-EEE commented on #871
Ah ok @adamsitnik thank you for your time here.  Perhaps I am confused, then.  From looking at the remarks of #730, it is my understanding (and experience, which is what made me look this up in the first place 😆) that the `IterationSetup` attribute limits execution to 1op per iteration.  Is this not correct?  What I am looking for is to be able to run as many ops as possible per iteration and run

[2018-09-10 12:11] Mike-EEE commented on #872
Ah that is a good point, @adamsitnik!  I should have known better than to run InProcess.  Here it is in a compiled context, via MediumRun:

[code]

It's a little more in line with expectations, but `RawForIndexer` still squeeks out a few times, which is still unexpected.

I guess that depends on the performance impact of the GC sweep which is what I am trying to ascentain (more below).

I was actu

[2018-09-10 12:30] adamsitnik commented on #872
By default, before and after every iteration BDN engine induces GC.Collect. This is the `MemoryCleanup` in the pseudocode from our [docs](https://benchmarkdotnet.org/articles/guides/how-it-works.html)

[code]

If GC decides to collect the memory during the actual workload (between `Clock.Start` and `clock.GetElapsed`) then it's included in the final results and the `Gen X` columns appears in the r

[2018-09-10 12:34] adamsitnik commented on #871
this is correct

would you like to run this code before every benchmark invocation? or before every iteration that would execute the benchmark many times?

awesome! 👍

[2018-09-10 13:06] Mike-EEE commented on #871
So in my case, I would like to reset the stream that I am testing before any code is run.  This has to occur every time before the operation is invoked or else I get the drastically different results as noted above.  Essentially, the code runs on a finished stream which means no data which means no compute. :)

[2018-09-10 13:10] Mike-EEE commented on #872
Awesome.  Thank you @adamsitnik that was exactly the (very!) valuable information that I needed.  Thank you again for taking the time here to help out!

[2018-09-10 13:10] #872 closed

[2018-09-10 14:41] adamsitnik commented on #871
Now I understand.

If your operation takes milliseconds or more, you should just use `[IterationSetup]`.
If your operation takes nanoseconds there is no way of doing this. Your benchmark should contain the `stream.Postion = 0` and include the price of it. If you compare few different approaches of solving given problem all of them should include the same "artificial overhead".

[2018-09-10 16:31] Mike-EEE commented on #871
OK... that's what I was thinking.  Is there a technical barrier that keeps from creating and using an `OperationSetupAttribute`?  To me, it makes sense to have a setup for both phases so that I have the ability to not only set up functionality per iteration (or grouping of operations), but also to cleanly separate out any functionality that I do not want to be recorded in the individual benchmarks

[2018-09-10 17:13] adamsitnik commented on #871
@Mike-EEE so today we have:

[GlobalSetup]
[IterationSetup]

and you would like to have:

[GlobalSetup]
[IterationSetup]
[OperationSetup]

? We just assumed that everybody wanted the `IterationSetup` to work like `OperationSetup` and this is why we did not introduce a new one.

[2018-09-10 17:37] adamsitnik opened #874 ".NET Core 3.0 support"

[2018-09-10 17:47] Mike-EEE commented on #871
So you want to run an open source project. 😂

Hey, it's your model.  I think it's pretty rad and it makes sense.  The ask here isn't for _me_ per se, but for those who might want to follow your model as such.  In my case, I *do* want that and I would definitely take advantage of both scenarios now that I understand what they actually mean. 😁

But, that said I can understand the frustration here in

[2018-09-10 18:03] #874 closed

[2018-09-10 19:29] Ky7m opened #875 "[DevOps] Run builds on Linux, macOS, and Windows using Azure Pipelines"
https://azure.microsoft.com/en-us/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/

[2018-09-12 06:02] Ky7m commented on #875
feel free to assign it to me, I am returning to the normal work mode:)

[2018-09-18 16:41] usarskyy opened #879 "Benchmark attributed with "HardwareCounters" throws an exception"
Hi!

I have the following code:
[code]

Whenever I try to run the benchmarks I get the following exception:
[code]

Here is some environment info:

I use VS 2017 on x64 Win10, executed with admin privileges.

[2018-09-18 16:43] usarskyy commented on #879
Forgot to mention that app's platform target is set to x64, an app is built in Release mode and debugger was not attached.

[2018-09-18 20:04] spati2 commented on #147
+1

[2018-09-19 16:30] marklam opened #880 "Select Baseline across Methods and Jobs"
There's a good possibility that I'm missing a way to do this already, but I'm trying to compare and `Original` and `Updated` method across .net 4.7.2 and .net core 2.0 with the `Original` method on .net 4.7.2 being the baseline.

This code:
[code]

In this project:
[code]

Produces rebuilt assemblies with the following attributes (decompiled in dotPeek):

[code]
and
[code]

But the results seem to

[2018-09-22 09:50] DragonSA opened #881 "Baseline and Params(Source)"
Is there a way to have a property set by `[Params]` or `[ParamSource]` where one of the parameters is the baseline?

[2018-09-22 18:19] adamsitnik commented on #881
Hello @DragonSA

No, there is no way to do that as of today. However, we are open to ideas and suggestions (how should we extend our API to make it possible?)

[2018-09-22 18:38] adamsitnik commented on #880
I was able to repro it with the following example:

[code]

@AndreyAkinshin could you please take a look at the baseline behaviour?

[2018-09-22 18:41] adamsitnik commented on #879
Hi @usarskyy

It's a know bug from TraceEvent library https://github.com/Microsoft/perfview/issues/735, which I have already fixed https://github.com/Microsoft/perfview/pull/737

You can wait until #878 gets merged or simply install the latest `Microsoft.Diagnostics.Tracing.TraceEvent` in your project with benchmarks.

[2018-09-24 13:40] #880 closed

[2018-09-24 15:38] marklam commented on #880
Works great from  the AppVeyor build. Thanks!

[2018-09-25 00:10] svick opened #882 "Generate Exception: Access to the path '/su' is denied on Gentoo"
I am trying to run a trivial Benchmark on a Gentoo machine where I have limited access rights. When I do, I get the following output:

[code]

The directory `su` does exist in the filesystem root and I do not have the rights to access it:

[code]

I previously encountered an msbuild issue on the same machine (https://github.com/dotnet/cli/issues/7227), where msbuild was getting confused, because t

[2018-09-25 08:13] germandb opened #883 "Console app Benchmark self-contained and configure inprocess faile because dotnet cli toolchain is not installed"
Hi, I have a Benchmark console app that need to run in diferent machines, that machines could or could not have the .net core installed so I publish the console app using the self-contained configuration.
I read that you use the dotnet cli to build the app and try to run it, but also that the inprocess toolchain configuration omit that step. So I try to config my benchmark to use inprocess my code

[2018-09-25 08:20] AndreyAkinshin commented on #883
@germandb, try to remove `.With(CsProjCoreToolchain.NetCoreApp21)` from your config (if you want to run the benchmark *in process*, you can't configure the version of .NET Core). It's impossible to use two different toolchains at the same time.

[2018-09-25 10:35] #883 closed

[2018-09-25 14:58] #859 closed

[2018-09-26 08:18] germandb opened #884 "System.InvalidOperationException Benchmark takes to long to run"
Hi I have a Benchmark console app deployed using the self contained option of .net core. and Inprocess ToolChain.
This is the config of my benchmark
[code]
when I execute the Benchmark in a machine with the following configuration:

- Windows NT Version 6.2 Server Edition (Windows Server 2012 R2)
- AMD Athlon 64 X2 Dual Core Processor 4200 2.2 GHz
- RAM 4GB
- dotnet not installed
-  60% of free ra

[2018-09-26 10:44] gulbanana commented on #784
i think the string is fine, we could implement serialisation on top of that ourselves for advanced cases

[2018-09-27 14:15] isaikin opened #885 "Closing application dot't stop benchmark"
I closed console application, but benchmark still running.

I have used sample "Showtime" for console application.

[2018-10-01 11:38] #221 closed

[2018-10-01 16:21] DragonSA commented on #881
Regarding the API, I would suggest something like `[ParamSource(BaseIndex=2)]` to make the 3rd item returns the baseline.

I tried to implement this manually (using `BenchmarkCase` and related classes), but I was not successful.

[2018-10-01 16:34] adamsitnik commented on #828
Hi @houseofcat !

I talked with @stephentoub about your code sample. Here is what Stephen wrote:

[2018-10-01 16:39] houseofcat commented on #828
I will double check but the issue occurred for me even on 1 string. It even occurs when the only thing the test does in `Task.Delay(xms);`. I will write a simpler test. Stephen's answer makes sense on big waits, but it should be invoking in parallel.

[2018-10-01 17:09] stephentoub commented on #828
You're referring to the AsParallel?  That's part of the LINQ query, which is operating on only 12 items as far as it's concerned (the 12 partitions), regardless of how many elements are in the input.  And that AsParallel is largely useless, anyway, as the only thing it's parallelizing is the invocation of the Select, which processes at most 12 items, and for each of those 12, it's basically just i

[2018-10-01 17:36] houseofcat commented on #828
It doesn't super translate well to the demo Benchmark code I wrote. So I will have to write a more thoughtful test to seem less "stupid" but suffice to say the partitioning code is very performant.

For good reason too, I took it from your article from back in time:
https://blogs.msdn.microsoft.com/pfxteam/2012/03/05/implementing-a-simple-foreachasync-part-2/

And the goal was to limit degrees of

[2018-10-02 09:51] 0xd4d opened #889 "ArgumentsSource doesn't work if method takes 1 arg"
Version: 0.11.1

[code]

Generates the following constructor:

[code]

Workaround: add a dummy bool argument.

[2018-10-02 13:03] adamsitnik commented on #889
Hello @0xd4d

If you want to have a single argument your arguments source should be returning an IEnumerable of objects, not an IEnumerable of array of objects. I know that `xunit` does this differently, which can be confusing when using BDN.

Could you give it a try?

[code]

[2018-10-02 13:14] 0xd4d commented on #889
Yes that works.

The [example](https://github.com/dotnet/BenchmarkDotNet/blob/master/samples/BenchmarkDotNet.Samples/IntroArgumentsSource.cs) uses `object[]` so I figured it had to be the same signature no matter how many args you needed.

[2018-10-02 13:14] #889 closed

[2018-10-02 13:54] adamsitnik commented on #889
@0xd4d appologies for the confusion, I just updated the docs and now it's:

[code]

[2018-10-02 15:09] houseofcat commented on #828
Based on my latest step through, it is 100% caused by Benchmark Processes not terminating under dotnet host thus not releasing the EndOfStream.

Since my test code produces no infinite loops, I have to assume a deadlock on StandardOutput, StandardError, or both. Manually terminating the process "unfreezes" the lock however, no results are passed through to the main logger host.

My stackoverflow r

[2018-10-02 16:01] adamsitnik commented on #871
When it comes to `OperationSetup` for nano-benchmarks it would hurt our accuracy. It would introduce cache misses and it could definitely affect the generated assembly code (like assembly registers usage). Our every iteration consists of MANY calls to the benchmarked method. We want to keep this code "tight", without any interruptions.

For non-nano-benchmarks the `[IterationSetup]` should be enou

[2018-10-02 16:01] #871 closed

[2018-10-03 07:51] Shazwazza commented on #290
The PR for this is here https://github.com/dotnet/BenchmarkDotNet/pull/805

[2018-10-03 09:49] AndreyAkinshin commented on #384
@gsomix,
I suggest the following plan:
1. We should add a property for custom environment lines in `IConfig`
2. Add API in ManualConfig which allows adding new custom lines.
3. Implement the parsing of the `CustomEnvironmentInfo` attribute in `BenchmarkConverter`, extract custom lines and put them in the constructed config.
4. Introduce API in `Summary` which returns the "classic" part of the envi

[2018-10-03 09:50] AndreyAkinshin commented on #864
@adamsitnik, are you still going to resolve it in the `v0.11.2` scope?

[2018-10-03 16:06] adamsitnik opened #891 "Add docs about debugging BDN issues"
/cc @eerhardt

[2018-10-03 19:39] #891 closed

[2018-10-03 19:58] #864 closed

[2018-10-03 19:59] adamsitnik commented on #864
@AndreyAkinshin I made case-insensitive, you were right ;)

[2018-10-03 20:07] #842 closed

[2018-10-03 20:08] adamsitnik commented on #842
I have changed the way we display help, now for the examples with an asterisk we use '*'

If you believe that the new glob filtering is missing something please create new issue. I am doing a pre-release issue cleanup ;p

[2018-10-04 08:26] sandersaares opened #895 "Could not load file or assembly 'System.ValueTuple, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies"
Installing BenchmarkDotNet with DependencyBehavior=Lowest results in a broken install in some situation. See https://github.com/dotnet/corefx/issues/32610

Perhaps BenchmarkDotNet should require higher version of the dependency?

[2018-10-04 08:36] sandersaares opened #896 ".NET 4.7.1 console app tries to use BenchmarkRunner, gets "Could not load file or assembly 'System.Runtime, Version=4.1.2.0""
1. Create a new .NET Framework 4.7.1 console app project.
1. Install BenchmarkDotNet NuGet package with DependencyBehavior=Highest to get non-broken dependencies.
1. Paste the following code into Program.cs and excute the app.

[code]

Expected result: app executes and does some no-op benchmarks.

Actual result:

[code]

[2018-10-04 15:40] adamsitnik commented on #896
Hi @sandersaares

I was able to reproduce the problem. VS generates invalid assembly binding redirects.

The solution is to remove the assembly binding redirects from the project.

I am going to close it since it's not a BDN issue.

[2018-10-04 15:40] #896 closed

[2018-10-04 15:42] adamsitnik commented on #895
Hi @sandersaares

I updated this dependency two days ago in #887. We are soon going to release the `0.11.2` with the new version.

As for now just please remove the binding redirects and it should work fine.

[2018-10-04 15:42] #895 closed

[2018-10-05 04:15] sandersaares commented on #896
Using BDN with a very simple app does not work - I think this is a BDN issue no matter what causes it. Do you expect users to start debugging Visual Studio or BDN to make benchmarks? I mean, what is the path forward here? All you are saying to me right now is that I cannot use BDN.

[2018-10-05 11:42] Wraith2 opened #897 "filesToCopy replacement after removal?"
I'm trying to follow the [corefx benchmarking guide](https://github.com/dotnet/corefx/blob/969541fb79ccacbe07965e08e3b32a9d5ecb19bb/Documentation/project-docs/benchmarking.md) which indicates I can use the filesToCopy to get my altered assemblies into a benchmark to directly compare the result against the local nuget version.

Unfortunately the guide needs updating (which I can do once I get this

[2018-10-05 13:39] adamsitnik commented on #897
Hi @Wraith2

You are using a link to old version of the docs.

You should try the latest one from master branch: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/benchmarking.md

Please let me know if it works for you. It should be much simpler now.

[2018-10-05 13:48] adamsitnik commented on #896
BenchmarkDotNet has correct dependencies and a very simple `.nuspec` file. If some 3rd party tool can't use it correctly it's not our fault.

As I said all you need to do is just to remove the assembly binding redirects and it's going to work.  This is a known issue and the workaround works https://github.com/dotnet/BenchmarkDotNet/issues/667

I know it's a workaround but this is an Open Source pr

[2018-10-05 15:16] Wraith2 commented on #897
Ah, I looked directly for filesToCopy because I remembered that detail and didn't realise it was an old blob. Sorry about that.

The shorter setup in the docs runs two jobs for some reason, default and shortjob, i'm not sure if should.
[code]
returns:
[code]

[2018-10-05 19:48] 0xd4d opened #899 "Tiered compilation and disassembler"
BDN 0.11.1

The disassembler always shows the non-optimized method when tiered compilation is enabled (eg. use .NET Core 3.0 daily build). I assume it's because the method is only executed once and then disassembled.

A workaround is to set `COMPlus_TieredCompilation` to `0` before running the benchmarks.

[2018-10-06 15:44] adamsitnik commented on #899
Hi @0xd4d

Big thanks for the bug report!

Actually, the method is disassembled after running the benchmarks.

@kouvel we are using ClrMD to obtain the disassembled code. Do you know if tiered Jitting requires some extra work to get the disassembly of tiered code?

[2018-10-07 02:38] Mike-EEE commented on #872
To add some additional context and (hopefully correct) knowledge here.

Consider the following simple class and benchmarks:

[code]

The results of which are:

[code]

So, if every garbage collection takes `71,409.404 ns` to complete, and every allocation causes garbage collection to kick in ~4.6 times every 1,000 executions, this results in a a total of `71,409.404 x 4.6 = 328,483.2584ns` spent i

[2018-10-07 02:52] sandersaares commented on #896
.NET Framework is not "some 3rd party tool" and BDN not working with .NET 4.7.1 is a major issue that needs to be fixed in order to have this library be usable.

Sure, I understand you might not have the availability to fix it. But I ask that you at least keep valid issues open.

[2018-10-07 11:48] #897 closed

[2018-10-08 05:11] sandersaares commented on #896
What exactly are these "invalid binding redirects"? I request a link to the bug report about them that has been sent to Microsoft (I assume one is submitted since this sounds like a known issue).

[2018-10-08 20:06] gsomix commented on #722
I'm on it.

[2018-10-08 20:54] adamsitnik commented on #722
@gsomix could you wait until I merge #878 ? I should merge it in 24h. It contains some things that would break your PR for sure (it's touching the columns for diagnosers)

[2018-10-08 21:08] gsomix commented on #722
@adamsitnik OK, I'm just reading code for now. :)

[2018-10-09 11:36] gsomix commented on #658
Hey, @svick, @adamsitnik, @AndreyAkinshin, do you mind if I reopen #664 with additional changes (tests, validator)?

[2018-10-09 13:43] svick commented on #658
@gsomix Feel free to go ahead. I don't know when I would have the time to do it myself.

[2018-10-09 18:16] bgrainger commented on #447
As an avid BDN and LINQPad user, I'm interested in implementing this (for Hacktoberfest). My understanding of the requirements is:

* Add the code from the linked comment
  * Use Reflection to call `Util.WithStyle` to avoid taking a dependency
  * Detect LINQPad Dark Mode and use alternate colour scheme
* Detect whether running under LINQPad (either using `AppDomain.CurrentDomain.FriendlyName` or

[2018-10-09 19:07] AndreyAkinshin commented on #447
Hey @bgrainger! The plan looks good to me.

[2018-10-10 08:31] paolofulgoni commented on #896
@sandersaares  maybe it is caused by this project setting:
`[X] Auto-generate binding redirects`

[2018-10-10 11:28] adamsitnik commented on #828
@houseofcat if your project file with benchmarks defines a `LangVersion` entry, it will be [copied](https://github.com/dotnet/BenchmarkDotNet/blob/cd07912c5a8c143416189f72ec48b2e9949ea689/src/BenchmarkDotNet/Toolchains/CsProj/CsProjGenerator.cs#L96) to the auto-generated project file

but it does not work when `LangVersion` is defined in the `.props` file https://github.com/dotnet/BenchmarkDotNet/

[2018-10-10 11:35] houseofcat commented on #828
I will have a look at it after work! Thanks!

[2018-10-10 19:02] adamsitnik opened #904 "Implement `--info`"
Some of our users really like the info we print about hardware and OS.

An idea: add `--info` console line argument which does not run the benchmarks, but simply prints the info.

[code]

/cc @eerhardt

[2018-10-10 19:03] adamsitnik opened #905 "Implement `--list`"
Implement `--list` which is going to print all of the available full benchmark names that can be used for filtering.

[2018-10-10 19:11] AndreyAkinshin commented on #904
It would be also nice to have a public API for it.

[2018-10-11 05:14] lahma commented on #904
I could try to implement this in the next days. Could you please clarify what do you mean by public API? Get the same information as string? If there's any pointers where this API would reside and under what name that would also help.

[2018-10-12 17:54] jorive commented on #905
Can the display be a tree structure like, using namespace -> type -> method? In CoreFx there are more that thousand micro benchmarks, and a single/flat list would not be very helpful.
For example,
Instead of displaying:
[code]

You could display (option 1):
[code]

Or display names split to the namespace level as nodes can have more tests (option 2):
[code]

[2018-10-12 17:55] adamsitnik commented on #905
I like @jorive idea!

[2018-10-12 18:19] jorive commented on #905
You could have an option like this: `--list-benchmarks:[flat|tree]`

[2018-10-12 18:28] wojtpl2 commented on #905
It shouldn't be problem. I've seen similar feature here:
https://andrewlock.net/creating-an-ascii-art-tree-in-csharp/amp/

On Fri, Oct 12, 2018, 20:20 José Rivero <notifications@github.com> wrote:

[2018-10-13 09:07] AndreyAkinshin commented on #213
The official documentation: https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools

[2018-10-13 17:43] #904 closed

[2018-10-14 09:18] gsomix commented on #722
@adamsitnik I'm looking for some guidance for this issue. There are classes for baselines (e.g. `BaselineCustomColumn`) that tightly coupled with `Statistics`. We don't have any statistics for memory usage, only raw numbers of allocated bytes or gc operations. Should I somehow reuse and refactor exist baseline columns, or just to create new one (like `MetricScaledColumn`)?

[2018-10-14 09:58] AndreyAkinshin opened #909 "Improve CPU Brand Strings without frequency"
Here is an example of BenchmarkDotNet output for AMD Ryzen 7 2700X (see https://github.com/spring-projects/spring-net/pull/161):

[code]

It's great that we are printing the frequency now. However, this line is too huge (93 characters). I don't think that it makes sense to display `(Max:` since we don't have a nominal frequency in the original string. Also, we can remove `Eight-Core Processor` bec

[2018-10-14 10:35] Rizzen commented on #909
I think that's makes sense, but there is a question - how to detect parts of processor brand string like "Eight-Core Processor" in smart way.

[2018-10-14 10:46] Rizzen commented on #909
For now, we have simple replacer of copyright, trademarks, etc. https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Environments/ProcessorBrandStringHelper.cs#L22

[2018-10-14 10:57] AndreyAkinshin commented on #909
I guess, we can start with a dumb way and handle known brand strings with the help of simple heuristics.

[2018-10-14 12:14] lahma commented on #909
Yes, it's a bit long. I actually was more missing the actual GHz information that seems to resolve to Unknown timer in Chronometer (freqKHz == 10000). That would explain more as you can always overclock etc. Though again that is also unreliable if CPU uses C states / boost technology or whatever and adjusts the frequency during tests (related to https://github.com/dotnet/BenchmarkDotNet/issues/68)

[2018-10-14 12:31] AndreyAkinshin commented on #909
@lahma we are trying to provide as much useful information as we can in the most compact form. It helps people who are reading your performance report to instantly understand your hardware configuration without additional googling.

[2018-10-14 13:16] lahma commented on #909
Tested and this kind of crude cleanup routine would strip away the repetition:

[code]

So when cores and logical processors are detected, matching extra info could be stripped at least in this AMD case.

[2018-10-14 16:02] #658 closed

[2018-10-14 16:28] adamsitnik commented on #560
The new look is coming!

[code]

[code]
[code]

[2018-10-14 17:12] Ky7m commented on #875
@AndreyAkinshin, can we create Azure DevOps project and setup extension https://github.com/marketplace/azure-pipelines ?
Just let me know if you need any guidance for these steps

[2018-10-14 17:19] AndreyAkinshin commented on #875
@Ky7m it seems that I do not have permission to modify this app on the dotnet organization.
@jongalloway could you help us?

[2018-10-14 17:30] lahma commented on #909
Created https://github.com/dotnet/BenchmarkDotNet/pull/910 for this.

[2018-10-14 17:31] Warpten opened #911 "Excluding specific namespaces from disassembly"
This is something that may seem suspicious at first but I thought it'd be interesting to share since I'm planning to use it for my personal use cases.

Long story short, I just found out about the `DisassemblyDiagnoser` and figued it'd be a great way to easily take a look at the inner methods I'm testing. This requires using the `recursiveDepth` parameter to `DisassemblyDiagnoserAttribute`, but fo

[2018-10-14 17:38] Warpten commented on #784
Coming back at this, I didn't know at the time that BenchmarkDotNet was spawning subprocesses. So I guess strings are the best way out.

[2018-10-15 06:37] #560 closed

[2018-10-15 12:59] adamsitnik commented on #911
Hi @Warpten

I am afraid that this feature would be used by a very few people and would definitely increase the complexity of DissasemblyDiagnoser which already is quite high.

I think that we can make `WindowsDisassembler` public and you can just reuse it in your code and filter the `DisassemblyResult` which it produces. So you should be able to write your own diagnoser that does that with 10-20

[2018-10-15 13:14] Warpten commented on #911
That sounds fine, actually. And a substancially less complex amount of work indeed!

[2018-10-16 04:40] Ky7m commented on #875
There are some failed tests with the following exception:

Any ideas, @adamsitnik?

[2018-10-16 05:48] adamsitnik commented on #875
@Ky7m the `CustomCoreClrToolchain` is heavily dependent on the `dotnet cli` behavior which is following: you can restore custom `Runtime/NetCoreApp` package if it's newer than the one in the `dotnet cli` sdk folder.

Did you update `dotnet cli`? The solution would be to bump the version numbers in these tests.

[2018-10-16 06:48] Ky7m commented on #875
Thank you @adamsitnik , will take a look.
By the way, there is a view of tests https://dev.azure.com/ky7m/BenchmarkDotNet/_build/results?buildId=15&view=ms.vss-test-web.test-result-details (looks better in comparison with Travis CI)

[2018-10-16 07:17] adamsitnik commented on #875
Currently this test:

https://github.com/dotnet/BenchmarkDotNet/blob/1e62355f209a25c7a33f9ab7e7e03b0afe7d851f/tests/BenchmarkDotNet.IntegrationTests/CustomCoreClrToolchainTests.cs#L18-L33

Is using: https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win-x64.Microsoft.Private.CoreFx.NETCoreApp/4.5.0-rtm-26531-02

Could you try to change `4.5.0-rtm-26531-02` to `4.5.0-servicing-26703-08

[2018-10-16 15:11] #905 closed

[2018-10-16 22:06] Ky7m commented on #875
@adamsitnik, I reverted back version of dotnet cli and it solved the issue. Thanks!

[2018-10-17 03:29] bgrainger commented on #447
#903 implemented `LinqPadLogger`; this issue should now be closed.

[2018-10-17 08:39] #447 closed

[2018-10-17 08:42] AndreyAkinshin commented on #875
@adamsitnik, do you know someone who has permissions to setup Azure DevOps in a project of the dotnet organization?

[2018-10-17 16:17] #911 closed

[2018-10-17 16:18] adamsitnik commented on #911
@Warpten I made the `WindowsDisassembler` type and methods public. You should be able to write your own diagnoser now and reuse it. Please let me know if something is missing or just send a PR.

[2018-10-17 17:32] jongalloway commented on #875
Thanks, I'll on getting you added and update here.

[2018-10-17 17:44] onovotny commented on #875
The app is already in the org, can you grant the pipeline app access? I think there’s a configure option that let’s you grant it permission.

[2018-10-17 17:45] jongalloway commented on #875
I just created the app and added @adamsitnik. https://dev.azure.com/dotnet/BenchmarkDotNet

I need e-mail addresses for anyone else that should be added. I'll add pipeline app access now.

[2018-10-17 17:53] jongalloway commented on #875
Pretty sure pipelines are enabled, but not an expert on this. Can you verify?

[2018-10-17 17:58] AndreyAkinshin commented on #875
@jongalloway, thanks!
Could you also add @Ky7m and me (andrey.akinshin@gmail.com)
@Ky7m could you write your email?

[2018-10-17 18:04] jongalloway commented on #875
@AndreyAkinshin Added, you should have an invitation e-mail

[2018-10-17 18:55] jongalloway commented on #875
@AndreyAkinshin I re-sent it. Maybe in your spam folder? If you browse to https://dev.azure.com/dotnet/BenchmarkDotNet and click sign in, maybe that will show an invite?

[2018-10-17 19:11] AndreyAkinshin commented on #875
@jongalloway now it works, thanks!

[2018-10-17 20:41] Warpten commented on #911
@adamsitnik I'll look into it this weekend, thank you!

[2018-10-17 20:42] Ky7m commented on #875
@jongalloway my email is ky7m@hotmail.com

[2018-10-17 20:48] jongalloway commented on #875
@Ky7m Added - you can delete your comment if you want.

[2018-10-17 21:35] Ky7m commented on #875
@jongalloway thank you! I am still waiting for an invitation email to accept it.

[2018-10-17 22:11] jongalloway commented on #875
@Ky7m Can you go to https://dev.azure.com/dotnet/BenchmarkDotNet and try to sign in? Hopefully that will show you the invitation.

[2018-10-17 22:37] Ky7m commented on #875
@jongalloway, I've tried and no success. The page shows an error:

[2018-10-18 15:18] Ky7m commented on #875
@jongalloway can you send an invitation one more time plese

[2018-10-18 15:25] Ky7m commented on #875
thank you @onovotny and @jongalloway, got the invitation!

[2018-10-18 20:57] #762 closed

[2018-10-19 13:17] wojtpl2 commented on #678
@adamsitnik Can I help with this issue or is it already done?
After that I could help in #213

[2018-10-19 13:33] adamsitnik commented on #678
It's partially done - I have ported BDN to .NET Standard 2.0.

Before you would start moving the attributes and configs to new library I need to finish #912 first. But I won't have time for it in the next 10 days, so I would say that this issue is currently blocked.

[2018-10-19 13:55] wojtpl2 commented on #678
Do you have idea what task can I do before?

On Fri, Oct 19, 2018, 15:33 Adam Sitnik <notifications@github.com> wrote:

[2018-10-19 14:32] adamsitnik commented on #311
I described debugging and troubleshooting in #891 in https://github.com/dotnet/BenchmarkDotNet/commit/12e01a52166502b11180673e2be369c08b118ba8

[2018-10-19 14:32] #311 closed

[2018-10-19 14:42] adamsitnik commented on #678
@wojtpl2 if you would like to implement one of the following features it would be awesome

#544 - "Diff view for disassembler output" - as of today our disassembler produces a very nice github markdown output https://github.com/dotnet/BenchmarkDotNet/issues/560#issuecomment-430129166 it would be great if you could implement a diff of two assembly listings with an export to GitHub markdown (it has

[2018-10-19 20:29] Ky7m commented on #875
It seems to me I don't have permissions to create/edit pipelines

cc @onovotny @jongalloway

[2018-10-19 20:33] onovotny commented on #875
You're all regular team members. Should you all be admins in the project or only some of you?

[2018-10-19 20:46] wojtpl2 commented on #678
Can you assign me to #544 and #687? I will try to do this next week.

#553 it is interesting but I can try to do this later. I think this issue
can take more time.

Of course I would like to do this issue #678 when it's possible. I'm good
at this kind of refactoring.

On Fri, Oct 19, 2018, 16:43 Adam Sitnik <notifications@github.com> wrote:

[2018-10-19 21:03] Ky7m commented on #875
would be great to have admin role for all of us (@AndreyAkinshin @adamsitnik @Ky7m ).
For me it might be temporarily assignment, just to setup all pipelines.

[2018-10-19 21:10] onovotny commented on #875
Okay, should be all set now.

[2018-10-19 21:28] Ky7m commented on #875
great, it works now! Appreciate a lot!!!

[2018-10-19 22:30] sebastienros opened #918 "Create a ParamsSummary column"
Is this technically doable?

I need a column that would concatenate all the param names and values from the run.
Right now I need to add as many columns, but I'd like the config to be fixed for any Benchmark I a running.

[2018-10-19 23:19] sebastienros commented on #918
I was able to create one like this:

[code]

I can create a PR if that makes sense to you ... and maybe it's already in there somewhere ;)

[2018-10-19 23:19] #918 closed

[2018-10-20 05:14] AndreyAkinshin commented on #875
@onovotny thanks!

[2018-10-20 11:55] ig-sinicyn opened #919 "Feature proposal: full-featured inprocess toolchain"
Hi all.

Current implementation of InProcessToolchain is limited a bit. It does not support args, ref structs and so on.

For my pet project I've created a replacement for it, `InProcessEmitToolchain`. This one provides almost same MSIL(*) the default BDN toolchain does (there is a il diff prooftest for it). The difference is, InProcessEmitToolchain uses Reflection.Emit to produce runnable assembl

[2018-10-20 14:15] adamsitnik commented on #918
Hello @sebastienros

By default, BDN should display a column in summary for every argument/param you are using.

 Is it doing that, but you don't want to have many columns, just a single one with everything?

[2018-10-20 16:16] adamsitnik commented on #919
Hello @ig-sinicyn it's great to see you contributing to BenchmarkDotNet again!

This is really great news. I know many `InProcessEmitToolchain` which asked me for this, including @stephentoub yesterday ;)

Should we just replace the existing `InProcessToolchain` with `InProcessEmitToolchain`?

I assume that this is to keep the code generation simpler? if the overhead and actual workload code uses

[2018-10-20 16:47] adamsitnik commented on #678
@wojtpl2 it looks like @ig-sinicyn is going to solve #687 with #919

@wojtpl2 we are going to assign you to #544

[2018-10-20 16:48] adamsitnik commented on #544
@AndreyAkinshin could you please assign @wojtpl2 to this task?

[2018-10-20 18:12] AndreyAkinshin commented on #544
@wojtpl2, I added you to the collaborator list, you should get an invitation letter.

[2018-10-20 22:01] ig-sinicyn commented on #919
I plan to make InProcessEmitToolchain the default toolchain for in-process benchmarks
and keep old `InProcessToolchain` (only part with BenchmarkActionCodegen=DelegateCombine) for platforms that do not support Reflection.Emit (UAP or any AOT platforms).

If there's no support for no-emit platforms, the old InProcessToolchain can be dropped entirely.

Yep.

I have no control over that.
The
[code]
e

[2018-10-21 08:43] ig-sinicyn commented on #919
Okay, I've just found the reason of memory leaks with in-process toolchain, It was the xUnit output listener.
This one works fine.

[code]

[2018-10-22 18:04] dlemstra commented on #521
@adamsitnik I already started working on the async `GlobalCleanup` part because the `GlobalSetup` will be merged soon. Is there a reason why `ExecutionValidatorBase` does not check the `GlobalCleanup`?

[2018-10-22 18:20] Warpten commented on #919
These extra NOPs are not coming from jump opcodes, but from the size of the argument you pass to Emit(OpCode, ...). You gave it `int(11)`, which fits 4 bytes, but values are encoded in little endian, so the lowest byte comes first. Luckily for you, opcode `00` is nop. Take care to cast your branches properly if those nops are really a concern to you - they shouldn't be anyways, as I'm pretty sure

[2018-10-22 18:47] ig-sinicyn commented on #919
@Warpten

nope. Nops are used as placeholders for possible fixups. See comment at
https://referencesource.microsoft.com/#mscorlib/system/reflection/emit/ilgenerator.cs,791
for more details.

[2018-10-22 19:06] AndreyAkinshin commented on #842
@adamsitnik, what do you think about one additional line about the quotes requirement on unix? I guess it makes sense to add it in the console output with examples and documentation.

[2018-10-23 03:34] Shazwazza commented on #290
Updated PR is here https://github.com/dotnet/BenchmarkDotNet/pull/922

[2018-10-23 08:15] wojtpl2 commented on #544
Hi,
Can I use this code https://github.com/google/diff-match-patch/blob/master/csharp/DiffMatchPatch.cs

 * Diff Match and Patch
 * Copyright 2018 The diff-match-patch Authors.
 * https://github.com/google/diff-match-patch
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License

[2018-10-23 09:35] adamsitnik commented on #544
@wojtpl2 maybe we could youse git diff?

[code]

[2018-10-23 09:48] wojtpl2 commented on #544
Ok, I tried and looks promising;)

[2018-10-23 09:58] adamsitnik commented on #521
@dlemstra I have merged #892

no, it must be a bug. It would be great if you could fix it

[2018-10-23 10:29] dlemstra commented on #521
Will try to put that in a new PR then.

[2018-10-23 11:46] wojtpl2 commented on #544
And I have question about the names of files with diff.
As I wrote above IntroDisassemblyAllJits.CallVirtualMethod test generate 7 different disassemblies. It gives 21 combinations. :dizzy_face:

Maybe we should create a separate directory for each test?

[2018-10-24 07:41] #909 closed

[2018-10-24 08:36] adamsitnik opened #925 "Make it possible to run the benchmark with multiple CoreRun.exe"
CoreRun is a simpler version of `dotnet run`, used for developing CoreCLR and CoreFX.

Typically when working on the performance of .NET Core a developer has more than 1 copy of CoreRun. Example: CoreRun before my changes, and after my changes. This change allows to simply run same benchmark for few different CoreRuns to compare the perf in easy way.

Sample usage:

[code]

Sample output:

![image

[2018-10-24 08:39] #925 closed

[2018-10-24 09:05] spixy commented on #308
So either update nuget description or rename that package because I just lost half an hour how to run in with BenchmarkDotNet.Core. Thank you

[2018-10-24 09:08] adamsitnik commented on #308
@spixy The package `BenchmarkDotNet.Core` no longer exists. It's available on NuGet to support old versions of BenchmarkDotNet.

As the end user, you should always just install `BenchmarkDotNet`

If you don't like the description, send a PR to make it better.

[2018-10-25 07:13] #521 closed

[2018-10-25 07:17] #290 closed

[2018-10-25 10:18] wojtpl2 commented on #544
I send #927 PR. I came up with my solution to the problem.

[2018-10-25 19:49] adamsitnik opened #928 "Remove CustomCoreClrToolchain"

[2018-10-25 22:04] Ky7m commented on #875
I've created a new PR #929 and see that checks related to Azure Pipelines are not configured. Can someone please check the configuration for the repository (Settings -> Integration and Services -> Azure Pipelines)?

[2018-10-25 23:09] AndreyAkinshin commented on #875
I don't have enough permissions. =(
@jongalloway @onovotny can you please enable the Azure Pipeline integration?

[2018-10-26 16:54] CodeTherapist commented on #213
I would like to do this.

[2018-10-26 17:33] AndreyAkinshin commented on #213
@CodeTherapist, great!

[2018-10-26 20:34] Rizzen commented on #788
There is a post in Scott Hanselman's blog that might be helpful.
https://www.hanselman.com/blog/DetectingThatANETCoreAppIsRunningInADockerContainerAndSkippableFactsInXUnit.aspx

[2018-10-27 17:42] blairconrad opened #931 "Same NuGet version used when benchmarking different packages"
As [discussed in Gitter](https://gitter.im/dotnet/BenchmarkDotNet?at=5bd48f01c7bf7c36627bed54), my attempt to benchmark two different NuGet versions of FakeItEasy seem to be running the benchmarks against a single version. I'm using BenchmarkDotNet version 0.11.1.821 from the nightlies, and started from the example configuration added in #922.

I quote the Gitter conversation:

[code]
|  Method |

[2018-10-27 17:46] AndreyAkinshin commented on #931
@Shazwazza could you take a look?

[2018-10-27 20:19] blairconrad commented on #931
Working theory:

`BenchmarkDotNet.Running.BenchmarkPartitioner.BenchmarkRuntimePropertiesComparer.Equals` could use an additional

[code]

Trying to build and test now.

[2018-10-27 20:46] blairconrad commented on #931
I think we have a winner.

|  Method |                         Job |                        NugetReferences |     Mean | Error |
|-------- |---------------------------- |--------------------------------------- |---------:|------:|
| Literal | 4.10.0-make-servicelocat001 | FakeItEasy 4.10.0-make-servicelocat001 | 15.66 us |    NA |
| Literal |                       4.9.1 |                       Fak

[2018-10-27 21:04] blairconrad commented on #931
Correction: not `AreDifferent`, as that appears to use `Equals`, which ain't so good with the `HashSet`. I'll look for something else.

[2018-10-28 03:48] blairconrad commented on #931
@Shazwazza, I'm making good progress on a PR. If it suits you, save your energy for reviewing it. :grin:

[2018-10-28 21:31] Rizzen commented on #788
So, we can get the current .NET Core version from runtime docker image enviroment variables.
There is two cases - dotnet runtime and ASP.NET runtime, both has its own variable. We can check it from Dockerfile:
https://github.com/dotnet/dotnet-docker/blob/master/2.1/sdk/bionic/amd64/Dockerfile
https://github.com/dotnet/dotnet-docker/blob/master/2.1/aspnetcore-runtime/stretch-slim/amd64/Dockerfile
@

[2018-10-28 21:47] IvanFarkas commented on #788
That would be awesome. Thx, Ivan

[2018-10-29 07:20] codefox42 commented on #641
Today I also faced this problem (BechnmarkDotNet-0.11.1, Win10-x64, R-3.4.1). In my case just running `Rscript.exe BuildPlots.R ...measurement.csv` for some reason did not change the hanging behavior. After performing the following steps (with a benchmark run in between), exporting does not hang any more:

* Update R-3.4.1 to 3.5.1
* Remove temporary R-Folders (`%TEMP%\Rtmp*`)
* Remove library fol

[2018-10-29 11:46] #931 closed

[2018-10-30 10:33] #544 closed

[2018-10-30 10:41] adamsitnik opened #933 "Investigate hanging SingleBenchmarkCanBeExecutedForMultipleRuntimes test"
[code]

[2018-10-31 11:25] WojciechNagorski opened #936 "Producing the asm diff reports on demand"
Extend the DisassemblyDiagnoserConfig with new flag and expose it via command line args by disasmDiff.
Original idea: https://github.com/dotnet/BenchmarkDotNet/pull/927#issuecomment-434316619

[2018-10-31 13:48] wojtpl2 opened #938 "Run benchmark with DisasemblyDiagnoser with `--disasam` option from console"
When you run benchmark with `DisasemblyDiagnoser` from console with parameter `--disasm` e.g.:
`dotnet BenchmarkDotNet.Samples.dll --filter *IntroDisassembly* --disasm`
or
`dotnet BenchmarkDotNet.Samples.dll --filter *IntroDisassemblyAllJits* --disasm`

then you will get unhandled exception:

[code]

[2018-10-31 14:22] adamsitnik commented on #938
Hi @wojtpl2

thanks for reporting this bug! I am aware of it, it's being solved in #912 where I change the way and moment when we build the final config.

[2018-10-31 16:37] #788 closed

[2018-10-31 16:59] adamsitnik commented on #933
After adding the tiemeout it fails immediately, with following error:

[code]

[2018-10-31 17:51] jorive opened #939 "We need an option to stop running when the first benchmark fails."
When running benchmarks in the lab, it is ideal to fail fast and avoid using resources unnecessarily. When a benchmark fails we would like to acknowledge the developers as soon as possible.
Currently, the harness keeps executing all benchmarks to completion. Is there a way to tell BDN to fail fast?

[2018-10-31 17:59] adamsitnik commented on #939
I think that it would be nice to add such feature.

It could be added to `IConfig` as `StopOnFirstError` with default value = false and exposed via console line arguments to override.

@wojtpl2 maybe you would like to give it a try?

[2018-10-31 18:14] wojtpl2 commented on #939
Ok next week

On Wed, Oct 31, 2018, 19:13 Adam Sitnik <notifications@github.com wrote:

[2018-10-31 19:27] #936 closed, assigned to nobody

[2018-10-31 21:46] MarekM25 commented on #68
Hi,
I am new in Benchmark.NET. @adamsitnik, @AndreyAkinshin, can I work on this issue as my first one? I performed two simple benchmark tests on my laptop. Below you can see, it is a significant difference between power plans.

[code]
Method | PerfPlan | Mean | Error | StdDev | Median
-- | -- | -- | -- | -- | --
SplitJoin | Balanced | 32.09 us | 0.8718 us | 2.2348 us | 33.32 us
IterationTest | Bal

[2018-10-31 22:39] jorive commented on #939
@adamsitnik What is the reasoning for `default value = false`?

[2018-10-31 22:48] adamsitnik commented on #939
@jorive to don't change the current default behavior (breaking change). I like the current one: last night I started the benchmark run for all the benchmarks we have and today in the morning I had the results for few thousands of them. 8 failed had no results but I had the errors in the logs. If it would stop on the first error I would have to fix the problem and rerun all the benchmarks again. Wi

[2018-11-01 15:05] mattwarren opened #942 "System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.1.0.0' after adding BenchmarkDotNet.Diagnostics.Windows"
I created a new benchmark project (.NET Framework 4.6), added [BenchmarkDotNet 0.11.2](https://www.nuget.org/packages/BenchmarkDotNet/) and all was fine. However as soon as I added [BenchmarkDotNet.Diagnostics.Windows 0.11.2](https://www.nuget.org/packages/BenchmarkDotNet.Diagnostics.Windows/) I started getting this error:

[code]

Not sure why it's failing twice, for `System.Runtime, Version=4.1.

[2018-11-01 17:05] AndreyAkinshin opened #943 "Dry mode doesn't work because of the ZeroMeasurementHelper"
[code]

[2018-11-01 17:06] #943 closed

[2018-11-01 17:16] adamsitnik commented on #942
@mattwarren  did VS generate some App.config file with binding redirects? if so, does removing it helps?

[2018-11-01 17:51] AndreyAkinshin commented on #943
Integration tests didn't catch this problem because default analyzers were disabled in BenchmarkTestExecutor.

[2018-11-01 18:09] adamsitnik commented on #943
thanks for putting the explanation!

[2018-11-01 18:40] AndreyAkinshin commented on #943
With enabled analysers, we found another problem: https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/19981806/tests

[2018-11-01 19:07] mattwarren commented on #942
Yeah VS did generate a load of bindings redirects in App.config. But
unfortunately removing them doesn't help?

On Thursday, 1 November 2018, Adam Sitnik <notifications@github.com> wrote:

[2018-11-01 19:17] adamsitnik commented on #942
Hmm...

Could you try to create new project and install only `BenchmarkDotNet.Diagnostics.Windows`? It has a dependency to `BenchmarkDotNet` to maybe VS is going to generate the right ones...

If this does not help, try net471 or upper (it might resolve different  .NET Standard assemblies)

[2018-11-01 20:16] AndreyAkinshin commented on #68
@MarekM25,

Sure!

[2018-11-01 20:18] AndreyAkinshin commented on #68
Looks good to me.
Also, we need an option in Config which allows disabling this behavior.

[2018-11-02 13:29] mattwarren commented on #942
Yeah, that did the trick, thanks! (for me, moving the project to .NET Framework 4.7.2 isn't a problem)

[2018-11-02 13:29] #942 closed

[2018-11-02 13:43] mattwarren commented on #942
Although I don't know where this leaves people who want to use `BenchmarkDotNet.Diagnostics.Windows` with .NET 4.6? Is moving to 4.7.1 the only option?

Wierd, I tried that, i,e, empty project, just adding `BenchmarkDotNet.Diagnostics.Windows` and I get this amazingly cryptic error!!

[code]

[2018-11-02 13:44] AndreyAkinshin commented on #942
If we create an SDK-style project and change `TargetFramework` to `net46`, everything works correctly. It can be used as a temporary workaround for .NET 4.6 projects.
However, we still should investigate this problem with classic projects.

[2018-11-03 13:17] MaximKitsenko commented on #579
I still get this error. I use release build. What i'm doing wrong?
My config:
[code]
Error message:
`// Validating benchmarks:
Assembly PerfTest which defines benchmarks references non-optimized GenFu
        If you own this dependency, please, build it in RELEASE.
        If you don't, you can create custom config with DontFailOnError to disable our custom policy and allow this benchmark to run.`

[2018-11-03 13:44] adamsitnik commented on #933
I was able to confirm that my fix from https://github.com/dotnet/BenchmarkDotNet/commit/80ecec26e4b8b223d6d9e3e4652f05ed89b06b9d has solved the issue:

[code]

[2018-11-03 13:44] #933 closed

[2018-11-03 19:14] DeathArrow01 commented on #759
@xoofx would it be possible to use UnityEngine.dll in a .net project? I don't need to benchmark Unity methods but I need Unity data types like Transform.

[2018-11-04 01:26] BACONputing opened #945 "Calling GetType() in ParamsSource method causes unexpected behavior, exceptions"
I have a small project where I am benchmarking different implementations of the same interface.  Instead of having methods marked with `[Benchmark()]` that are identical except for the class implementing the interface, I thought I'd try using `[ParamsSource()]` to call a method that finds and instantiates all classes in the assembly that implement the interface.  All of my benchmarks keep failing

[2018-11-05 08:10] DeathArrow01 commented on #759
@xoofx thank you!
It seems it's not a trivial task to use BenchmarkDotNet with Unity scripts. It will require either modifying Unity engine code, which I doubt someone from Unity will have time, either modifying BenchmarkDotNet, so it can be imported into Unity project and call Unity methods on Unity's Main Thread.

[2018-11-05 12:37] jorisdebock opened #946 "Copy to $(OutDir) does not copy to benchmarkdotnet output folder"
I have the following Copy action defined in my .csproj

[code]

When I try to run BenchmarkDotNet it does not copy the files to the \bin\release\<Guid>\... folder but just the default output folder.

What is the correct configuration to make this work?

[2018-11-06 14:53] adamsitnik commented on #945
Hi @BACONputing

We create a type which derives from the type which defines benchmarks. We do that to generate all the boilerplate code that prevents from benchmarking pitfalls. This is why calling a virtual method like `GetType` returns the auto-generated type. And I am afraid that as of today there is nothing we can do about this.

[2018-11-07 13:09] ArheusLis opened #948 "BenchmarkDotNet.Mathematics.StatisticalTesting.MannWhitneyTest.PValueForSmallN(int n, int m, double u)"
If I use only ClrJob & CoreJob - all fine.
But then I tried MonoJob or CoreRtJob after all test pass I see: System.IndexOutOfRangeException: 'Index was outside the bounds of the array.' in BenchmarkDotNet.Mathematics.StatisticalTesting.MannWhitneyTest.PValueForSmallN(int n, int m, double u) .
May be I'm using something wrong?

Bechmark is simple:
[Benchmark]
        public void ERange()
        {

[2018-11-08 12:06] ArheusLis commented on #948
На 0.11 проблема не воспроизводится.
На 0.12 - регулярно.

[2018-11-09 09:56] wojtpl2 commented on #553
I wanted to do this task but I have some problem.

The biggest problem is create an appropriate test case.As @adamsitnik wrote:

I read the documentation about `[InterationSetup]` and I found the information:

As @AndreyAkinshin added:

The problem is to create the right test and compare the results with and without cache cleaning. (or maybe I don't have enough knowledge.)

My test class:

[code]

[2018-11-09 10:29] wojtpl2 commented on #948
I can't reproduce this error. What value of N do you use? I checked 1, 10, 1000 and I didn't get this error.

I checked that MannWhitneyTest.cs file haven't been changing since 28/9/2018.

I created branche _issue_948_ in my fork https://github.com/wojtpl2/BenchmarkDotNet/tree/issue_948 and I added your simple benchmark https://github.com/wojtpl2/BenchmarkDotNet/commit/cbc0713430ace399174370219e2f

[2018-11-09 12:38] inkel opened #950 "Unhandled exception System.IndexOutOfRangeException when running 3 benchmarks"
Hi, everyone.

I've a simple benchmarks suite, where I'm trying to compare the speed of JSON serialization using three different providers (Newtonsoft.Json, Jil and ServiceStack.Text) and I consistently get the following exception when trying to run the whole suite:

[code]

Funny thing is that if I comment out **any** benchmark, leaving only two of them, I don't get the error anymore. Any ideas?

[2018-11-09 12:44] wojtpl2 commented on #950
It is the same problem like in #948
In version 0.11.2, MannWhitneyTest class has been added.
in the previous version 0.11.1 everything worked fine.

[2018-11-09 12:46] wojtpl2 commented on #948
Problem is in https://github.com/dotnet/BenchmarkDotNet/commit/05cc8d15ef88e382bbb1827d766d7275c3e42abd commit. I'll try to understend it and fix. It was added in 0.11.2.

[2018-11-09 13:02] inkel commented on #950
@wojtpl2 thanks. I'll try downgrading my installation and re-running the suite.

[2018-11-09 13:03] inkel commented on #950
So far I can tell that running the suite is significantly faster and I haven't seen the same error. I'll run it a few more times so I can confirm things are fixed.

[2018-11-09 13:06] qbit86 commented on #587
I have the same issue on fresh 0.11.2:
[code]
Why does it even try to use 2.0? I don't have not a single mentioning of `netcoreapp2.0` in the whole project, only `netcoreapp2.1` everywhere.

I have just updated to the latest .NET Core 2.1, both Runtime and SDK. Even tried `dotnet nuget locals all --clear`, nothing helps.

[2018-11-09 13:12] adamsitnik commented on #587
@qbit86  what are the target frameworks defined in you project with benchmarks?

[2018-11-09 13:14] qbit86 commented on #587
@adamsitnik

[code]

[2018-11-09 13:19] qbit86 commented on #587
@adamsitnik

This benchmark works fine on my home machine, but not on my work machine. The config is:
[code]

[2018-11-09 13:28] adamsitnik commented on #587
So BDN has two processes: host (what you run in the console) and child processes (for defined jobs)

When you run the host process as .NET Core app (dotnet run -f netcoreapp2.1) we can check the .NET Core version (by using some reflection on loaded types) and we use the same version for running the benchmarks.

However, when the host process is .NET (dotnet run -f net471) we can't check .NET Core

[2018-11-09 13:39] qbit86 commented on #587
@adamsitnik
Thanks for clarification!

I've tried this, but it produces one more column in result table (Toolchain), which I'd prefer to avoid.

Ok, another difference is that I've run benchmark with Rider on my home machine and with Visual Studio on my work machine. Can it make the difference?

Then how can I make Visual Studio to use netcoreapp2.1 on Ctrl+F5?

[2018-11-09 14:01] wojtpl2 commented on #948
I have stack trace from debug:
[code]

[2018-11-09 14:40] wojtpl2 commented on #948
I've created PR #951 with failing test.

[2018-11-09 14:40] wojtpl2 commented on #950
I've created PR #951 with failing test.

[2018-11-09 14:58] inkel commented on #950
Thanks. I'll subscribe to notifications in that one.
--
Leandro
(inkel)

[2018-11-10 13:44] adamsitnik commented on #587
![image](https://user-images.githubusercontent.com/6011991/48302028-1f6b9780-e4f7-11e8-84d5-70d71d67e88f.png)

[2018-11-10 18:35] danmosemsft commented on #943
Hello, I hit this, do you have an idea when you will release 0.11.3?

[2018-11-10 21:58] Rizzen commented on #943
Hello! You can also use nightly build from [bdn-nightly feed](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly).

[2018-11-11 11:19] #945 closed

[2018-11-11 15:05] Symbai opened #953 "List of measurements contains no elements"
I've created a new console application targeting .NET Framework 4.7.2. Added the example code on github page. Added BenchmarkDotNet 0.11.2 via Nuget. Switched to Release build and run.

Got this exception thrown, nothing was benchmarked:

[code]

The console window shows lots of errors, such as:

[code]

I can run the example code myself without BenchmarkDotNet without issues.

[2018-11-11 19:47] Rizzen commented on #953
@Symbai It's a known issue and will be fixed in 0.11.3. For now, you can use package from [bdn-nightly feed](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly)

[2018-11-11 23:10] Wraith2 opened #954 "multi use corefx dev project help"
I'm trying to put together a single project to allow me to write tests, profile and bench them and I just can't find a way to get BDN to work. I've uploaded the project codebase to https://github.com/Wraith2/SqlBench and I've been trying various things to get this all working at the same time. There are 3 batch files, make, run and bench which should do what their names suggest using the output of

[2018-11-12 19:54] DylanFPS commented on #870
Same issue.

[2018-11-13 11:19] Symbai commented on #953
I've tried the latest package 0.11.2.849 from nightly feed. The benchmark no longer crashes with an exception but nothing got benchmark. The log is full of something like this:

[code]

[2018-11-13 16:10] adamsitnik opened #955 "How to dynamically load BenchmarkDotNet.Diagnostics.Windows without NuGet hacks"
We have `BenchmarkDotNet.Diagnostics.Windows.dll` and `BenchmarkDotNet.dll`.  `BenchmarkDotNet.Diagnostics.Windows.dll` has dependency to `BenchmarkDotNet.dll`, not the opposite.

When the user specifies `--profiler ETW` we parse command line arguments in `BenchmarkDotNet.dll` and we try to load `BenchmarkDotNet.Diagnostics.Windows.dll` in a dynamic way using `Assembly.Load` and others:

https://g

[2018-11-13 16:37] eerhardt commented on #955
This is exactly the scenario that [`DependencyContext`](https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.Extensions.DependencyModel/DependencyContext.cs) is meant to solve.

You can find all the dependencies of the current application by looking in `DependencyContext.Default.RuntimeLibraries`.

Note this typically only works on .NET Core projects, which automatically create `

[2018-11-14 05:21] russcam opened #956 "AutoGenerated csproj fails to include <Reference> items from <ProjectReference>"
I have a netcoreapp2.1 exe that runs benchmarks for different versions of the same assembly (IL rewritten to allow both versions to be referenced). The Autogenerated.csproj does not pull in the referenced assemblies. An example Autogenerated.csproj

[code]

where the project referenced at path `C:\Users\russ\source\NestVersionBenchmark\NestVersionBenchmarkCore\NestVersionBenchmarkCore.csproj` is

[2018-11-14 06:03] adamsitnik commented on #956
Hi @russcam !

Does it complain only about the `Nest` namespace?
Do you have some `.target` files that should be included? (we exclude them by default)
Did the behaviour changed for `0.11.1` and `0.11.2`?

I am trying to narrow down the possible issues.

[2018-11-14 06:15] russcam commented on #956
Hey @adamsitnik!

It complains about both `Nest` and `Nest6x`.
Not .target files.

I'll try with 0.11.1 now

[2018-11-14 06:18] adamsitnik commented on #956
Also, could you upload the `using` blocks from the beginning of the auto-generated C# file? (`795b2211-bf3f-48a1-a38d-44554ea7c4e3.notcs`)

[2018-11-14 06:37] russcam commented on #956
It looks like the `<ProjectReference>` in the autogenerated csproj is not including any of the `<Reference>`.

Just tried with 0.10.14; with this version, it complains about not finding the reference to `Nest` only.

[2018-11-14 08:40] #948 closed

[2018-11-14 08:42] AndreyAkinshin commented on #950
Should be fixed now.

[2018-11-14 08:48] #950 closed

[2018-11-14 08:55] AndreyAkinshin commented on #953
@Symbai it looks similar to #896. Could you try to delete app.config file?

[2018-11-14 09:33] russcam commented on #956
If it would help diagnose, more than happy to upload a reproducible zip, just let me know 👍

[2018-11-14 09:48] adamsitnik commented on #956
@russcam I think that we run into some MSBuild issue/limitation here. But before I go to some MSBuild experts I need some repro which does not involve BDN.

Could you add  a new console app project to your solution and reference the `NestVersionBenchmarkCore.csproj` project, consume something from `Nest` namespace and run dotnet build?

[2018-11-14 11:40] wojtpl2 commented on #955
I did this issue. I'll push PR in no time.

[2018-11-14 12:15] Symbai commented on #953
@AndreyAkinshin that at least removes the System.Runtime not found from log. But using 0.11.2.851 from nightly still won't let me benchmark anything.

Log contains lots of these errors:

[code]

but also a few times this here

[code]

Also tried making a completely new console project, disabled "Auto-generate binding redirects" and add nightly nuget package but its still the same.

[2018-11-14 13:37] inkel commented on #950
@AndreyAkinshin any ideas when a new version will be released?

[2018-11-14 13:53] wojtpl2 commented on #955
@adamsitnik Do you have any other task that I can take care of? I can finish #912 if you want. Of course, I'll keep your history of changes. Or I can take something else.

[2018-11-14 14:02] adamsitnik commented on #953
The sample code from GitHub targets 4 different frameworks: Clr, Mono, Core and CoreRT.

Your project should target both .NET and .NET Core to make it work: `<TargetFrameworks>net4720;netcoreapp2.1</TargetFrameworks>`

If you want to just benchmark .NET 4.7.2 you need to remove the `MonoJob`, `CoreJob` and `CoreRtJob` attributes:

[code]

[2018-11-14 15:15] RaHe67 opened #959 "Unexpected results comparing to Stopwatch"
Hello,
I'm practicing my first Steps with BenchmarkDotNet and try to get some results out that I can trust. The results I get from BenchmarkDotNet are not comparable with the results I get using .NET StopWatch (PerformanceCounters).
Where is my mistake? If I remove my own measurement (Stopwatch) from the code, the BenchmarkDotnet results doesn't change significantly - I still get an offset of arou

[2018-11-14 22:18] Symbai commented on #953
@adamsitnik Thanks. After I did that, VS informed me that .NET core SDK was missing. So I went to dot.net and installed latest version of both. After installation the benchmark finally succeed.

Then I removed that line you mentioned and it still succeed except that core benchmark was skipped (but no issues or exception like it has happened before). So the problem was core SDK missing only. Plus y

[2018-11-15 00:11] adamsitnik commented on #953
@AndreyAkinshin that would be nice to have. But before we get there we should simplify our sample (remove the attributes).

[2018-11-15 01:34] russcam commented on #956
@adamsitnik I added a new .NET core console app to the solution with a ProjectReference to `NestVersionBenchmarkCore.csproj` to test.

I can consume the benchmark classes defined in NestVersionBenchmarkCore in this new project, but I can't consume any types in the `Nest` namespace, or any types in any of the assemblies reference by `NestVersionBenchmarkCore.csproj` with a `<Reference>` item for th

[2018-11-15 08:07] wojtpl2 commented on #959
Your Stopwatch mesures only `client.ReadState();`, but your `[Benchmark] mesures:
1. Reset of watch
2. `client.ReadState();`
3. Stop of watch
4. Add result to list

You should compere:

[code]
and
[code]

[2018-11-15 08:57] RaHe67 commented on #959
As I said,

The influence of the Stopwatch should be under microseconds (as approved below).

But it seems that I found my mistake:

[http://geekswithblogs.net/BlackRabbitCoder/archive/2012/01/12/c.net-little-pitfalls-stopwatch-ticks-are-not-timespan-ticks.aspx](url)

I simply took the wrong Ticks (CPU/OS dependent) out of the StopWatch which is not compatible with TimeSpan. WIth changing that, th

[2018-11-15 08:57] #959 closed

[2018-11-15 10:55] adamsitnik commented on #956
Maybe you could use one of our latest features that allows you to specify NuGet packages that you want to use for perf comparison instead?

https://benchmarkdotnet.org/articles/samples/IntroNuGet.html

[2018-11-15 11:01] russcam commented on #956
Neither of the set of versioned references are part of NuGet packages yet sadly, but I'll look at packing them into packages and reference that way. I'll let you know how it goes :smile:

[2018-11-15 13:52] #955 closed

[2018-11-15 15:41] adamsitnik commented on #939
Fixed by #947

[2018-11-15 15:41] #939 closed

[2018-11-15 15:44] adamsitnik commented on #677
@AndreyAkinshin @Ky7m I am going to close this one, I think that we should be fine with Linux build on TravisCI and Azure DevOps we have today.

[2018-11-15 15:44] #677 closed

[2018-11-15 15:46] adamsitnik commented on #870
@AndreyAkinshin could you take a look? looks like something that we should solve for 0.11.3

[2018-11-15 15:47] adamsitnik commented on #885
@wojtpl2 would you like to take a look into this issue? It should be impossible, but who knows?

[2018-11-15 17:35] wojtpl2 commented on #885
Ok. I'll take a look.

[2018-11-15 20:45] #870 closed

[2018-11-16 02:34] alexanderkyte opened #961 "BenchmarkRunner.RunUrl throws NRE on Linux"
When running on linux and passing it the below URL (any url explodes), this is seen:

 https://gist.githubusercontent.com/alexanderkyte/79dbc2bec034ed3f25fb830d4dae7191/raw/14f5f4d3755bebf0b0edcfcdf57bfd13a08d0cbd/gistfile1.txt

[code]

[2018-11-16 07:15] russcam commented on #956
@adamsitnik Adding `<Reference>` into nuget packages with different names, and referencing these using `<PackageReference>` from a local package source works. Thanks!

[2018-11-16 09:05] adamsitnik commented on #956
@russcam I am glad you got it working!

I am going to close this issue as it seems to be more of a MsBuild limitation

[2018-11-16 09:05] #956 closed

[2018-11-16 09:53] #961 closed

[2018-11-16 11:55] AndreyAkinshin commented on #553
I like the idea. Let's continue this discussion in a PR.
A few recommendations:
1. Instead of the cumulative mean plots, it's better to look at the summary tables with enabled statistical tests.
2. `IntroColdCpuCache` should be executed on a fixed core (`Job` has `Environment.Affinity` property)
3. We can introduce an enum `CacheClearingStrategy` with values like `None`, `Allocations`, `Native`. I

[2018-11-16 12:09] wojtpl2 commented on #885
I have solution for it. I'll push PR.

[2018-11-16 12:10] wojtpl2 commented on #553
Great! I make PR next week, but I have question:
1. For now use [IterationSetup] or should I move this code to BDN? Maybe here, after ran IterationSetupAction
https://github.com/dotnet/BenchmarkDotNet/blob/04a71586206a822bca56f0abdacefdc2e5fc1b01/src/BenchmarkDotNet/Engines/Engine.cs#L138-L139

2. Should I create console parameters for CacheClearingStrategy, HowManyMB, ...

[2018-11-16 13:47] AndreyAkinshin commented on #553
1. Let's include it in `Engine.RunIteration`
2. I guess we can start without console parameters (we don't actually need them for all options that we have).

[2018-11-16 16:05] #885 closed

[2018-11-16 17:48] adamsitnik opened #964 "Concurrency Visualizer Profiler"
`ConcurrencyVisualizerProfiler` allows to profile the benchmarked .NET code on Windows and exports the data to a CVTrace file which can be opened with [Concurrency Visualizer](https://docs.microsoft.com/en-us/visualstudio/profiling/concurrency-visualizer).

`ConcurrencyVisualizerProfiler` uses `EtwProfiler` to get a `.etl` file which still can be opened with [PerfView](https://github.com/Microsoft

[2018-11-17 14:07] adamsitnik commented on #722
@gsomix I think that you could detect if any of the Benchmarks have a basline, if so MemoryDiagnoser could return one more metric - scaled allocated bytes

[2018-11-19 16:17] adamsitnik opened #967 "snupkg"
https://blog.nuget.org/20181116/Improved-debugging-experience-with-the-NuGet-org-symbol-server-and-snupkg.html

@AndreyAkinshin what do you think? I sometimes have to debug BDN, it would be nice to have

[2018-11-19 17:13] AndreyAkinshin commented on #967
Good idea, I like it.

[2018-11-19 17:16] adamsitnik commented on #967
@wojtpl2 this might be an interesting issue to try and learn something new

[2018-11-20 10:11] #964 closed

[2018-11-20 11:18] AndreyAkinshin commented on #950
@inkel v0.11.3 is already on nuget.org

[2018-11-20 12:58] inkel commented on #950
@AndreyAkinshin awesome! I saw your announcement on Twitter today, that's great! Thanks 😸

[2018-11-21 21:54] adamsitnik commented on #967
Fixed in #968

[2018-11-21 21:54] #967 closed

[2018-11-21 22:15] ycrumeyrolle opened #970 "Exception after upgrading from 0.11.2 to 0.11.3"
I had this exception after upgrading to 0.11.3:
[code]

[2018-11-21 22:37] ycrumeyrolle commented on #970
I write a bit too fast...
The benchmark causing the exception was not launch since the version 0.10.

[2018-11-25 10:14] lahma opened #973 "Run history difference reporting / exporting"
I'm filing an issue just the check whether it would be a valid feature and reasonable to implement on BenchmarkDotNet's side.  I've built a small and ugly helper that produces difference between two BenchmarkDotNet runs using CSV reports: https://github.com/lahma/BenchmarkDotNet.ResultDiff .

So the parsing is ugly and brittle, but having a feature that would clearly state difference between vario

[2018-11-25 10:48] OrbintSoft opened #974 "System.IndexOutOfRangeException v0.11.3"
I get this exception when I try to run my benchmarks:

[code]

I am a bit new to this library, so maybe I am doing something wrong, but the code is very simple.

        public static void Main(string[] args)
        {
            BenchmarkSwitcher.FromAssembly(typeof(Program).Assembly).Run(args);
        }

All tests runs without errors, until in console is printed "// AfterAll"

[2018-11-25 11:49] OrbintSoft commented on #974
I tried to downgrade and it seems the bug has appeared starting from version 0.11.2, with version 0.11.1 all works fine

[2018-11-26 10:33] wojtpl2 commented on #974
@OrbintSoft Can you share the source code of your benchmark?

@adamsitnik @AndreyAkinshin In my short story with BenchmarkDotNet it is second issue where BDN got exception during calculating statistics. Maybe will be good to catch this issue and show "Error" in column and print error log with comment: "An exception occured during calculating X. Please create new issue on Github"

[2018-11-26 12:54] Turnerj opened #975 "Sample benchmark using CoreJob fails to run in LINQPad 5 (ClrJob runs fine)"
I'm pretty sure I'm doing something wrong but can't work out what. Using `ClrJob`, the benchmark runs flawlessly. Using `CoreJob`, I get errors like "Generate Exception: Unable to find LINQPadQuery in {Path}..."

I thought it might have been around the .Net SDK version so I downloaded the latest and installed it - still having the exact same error.

One thing I will note with my LINQPad configurat

[2018-11-26 13:11] OrbintSoft commented on #974
@wojtpl2 sure the project is open source: https://github.com/OrbintSoft/yauaa.netstandard/tree/master/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetCore.Benchmarks

But I doubt the problem is in my code, the issue has been fixed just downgrading to version 0.11.1

If you can catch the issue maybe is better to add some unit testing instead to log the error and  demand to the user to report it.

[2018-11-26 15:26] mmisztal1980 opened #976 "System.NotSupportedException: Line must start with GC"
This is my 1st day using `BenchmarkDotNet` **0.11.3**and I must say I'm liking the overall experience, however I've run into an issue that puzzles me.

**Program.cs**
[code]

My benchmarked methods contain both the `[Benchmark]` and `[MemoryDiagnoser]` attributes.

[code]
When the benchmark suite is about to be finished, the process is crashing with the following exception.

[code]

I haven't yet

[2018-11-28 09:34] adamsitnik commented on #976
Hello @mmisztal1980

I am surprised that nobody else has hit this bug so far.

Could you try to use `[MemoryDiagnoser]` not for the method, but for the type? (it's just a workaround for now)

Also, if your benchmarks projects targets only .NET Core you don't need to use `[CoreJob]`. And `[GlobalSetup]` does not require a `[GlobalCleanup]` (it's empty in your example, I am not sure if you did not r

[2018-11-28 09:41] adamsitnik commented on #975
hello @Turnerj

To generate a .NET app with benchmarks we need to reference a .NET .dll which defines the benchmarks. This is something provided by LinqPad which is a .NET app itself.

But LinqPad does not provide us a .NET Core .dll with benchmarks, so can't build it for .NET Core. This is why it's not a supported scenario.

[2018-11-28 09:41] #975 closed

[2018-11-28 09:46] adamsitnik commented on #974
we always add a unit test and fix the bug, what @wojtpl2 was to also add a catch block to make sure the benchmark does not fail for a test case that we don't know yet but could somehow make it fail

@wojtpl2 personally I prefer a fail fast approach. The best thing here would be to just fix it, I am not really into adding defensive catch blocks

[2018-11-28 09:53] wojtpl2 commented on #974
@adamsitnik You have right. Usage of BDN is different. And it encourages users to report bugs.

[2018-11-28 11:00] #660 closed

[2018-11-28 18:08] #970 closed

[2018-11-28 19:06] OrbintSoft commented on #974
Sure, however I just realized that maybe is a false problem, the exception is catched since 0.11.3.
I encountered the exception for first time with 0.11.2,  that was the first time that I used BenchmarkDotNet, thinking that was a problem in my code I enabled debugger.
In 0.11.2 the exception is not catched and the program fails so bencharking stop execution.
Maybe is related to this  issue that is

[2018-11-29 00:46] Turnerj commented on #975
Thanks for the explanation @adamsitnik . Is it worth having something to detect LinqPad and come back with a more specific error in this case? (I only mention this as I believe there is already some specific LinqPad checks BDN is already doing)

[2018-11-29 08:14] adamsitnik opened #978 "[DevOps] Add CI for ARM"
I want to implement ARM support for BDN. I love our CI and I think it would be great to add ARM platform to make sure it works.

@Ky7m do you know how hard would be adding an ARM build?

[2018-11-29 20:53] Ky7m commented on #978
Great, @adamsitnik, give me some time to investigate available options.

[2018-11-30 14:42] AndreyAkinshin commented on #974
@OrbintSoft thanks for the additional info.
Since we don't have a repro with 0.11.3, I close this issue. Feel free to create a new one in case of any problems with the latest BenchmarkDotNet version.

[2018-11-30 14:42] #974 closed

[2018-11-30 18:36] adamsitnik commented on #975
It would be great to have it. If you send a PR I can review it and merge it.

[2018-12-02 06:29] Ky7m commented on #978
As a first step, it's possible to build on emulated ARM through Travis. The second step is to connect another CI service with ARM based agents, e.g. Shippable http://docs.shippable.com/platform/tutorial/workflow/run-ci-builds-on-arm/

[2018-12-03 08:57] adamsitnik opened #981 "File names should be consistent across all OSes"
@AndyAyersMS wrote a tool to compare the results exported by BDN for  Windows and Unix and the file names were not exactly the same for generic types with benchmarks.

We use `Path.GetInvalidFileNameChars()` to determine invalid path characters and `<` & `>` are valid on Unix, but not on Windows

[2018-12-03 09:02] #981 closed

[2018-12-03 09:07] adamsitnik opened #982 "Invalid string representaiton of CPU Affinity on a machine with more than 32 cores"
On 48 CPU core machine for a benchmark with no explicit Affinity set, we display

`0000000000000011111111111111111111111111111111`

while it should be

`1111111111111111111111111111111111111111111111`

It's confusing to our users which can think that we have affinitized the benchmark to 32 out of 48 cores

/cc @AndyAyersMS

[2018-12-03 09:41] adamsitnik commented on #982
I did read the BDN code and it looks perfectly fine. My suspicion is that System.Diagnostics.Process.GetCurrentProcess().ProcessorAffinity returns 2^32 instead of 2^48 here.

[2018-12-04 20:58] adamsitnik commented on #982
https://github.com/dotnet/corefx/issues/33823 - it's not BDN fault

[2018-12-07 10:07] adamsitnik opened #983 "Give a warning when the [Benchmark] method is static"
BDN supports only instance methods, when our users try to do sth like:

[code]

they get a silent error.

@AndreyAkinshin or maybe we should allow for static method calls?

[2018-12-07 10:38] AndreyAkinshin commented on #983
@adamsitnik, I'm not sure that static benchmarks is a good idea. It will complicate our generation template and it can introduce some undesirable effects in nanobenchmarks (such a feature should be carefully checked). Let's just warn users about an incorrect signature.

[2018-12-07 22:18] Rizzen commented on #983
I can do it.

[2018-12-07 23:10] AndreyAkinshin commented on #983
@Rizzen thanks!

[2018-12-10 20:21] adamsitnik commented on #982
I was able to verify that it was not a BDN fault, https://github.com/dotnet/corefx/pull/33825 fixed it

[2018-12-10 20:21] #982 closed

[2018-12-11 23:19] qbit86 opened #986 "NRE in `Summary` ctor"
I've got NRE at `BenchmarkDotNet.Columns.MetricColumn.<IsAvailable>b__19_0(BenchmarkReport report)` running this benchmark: [https://goo.gl/4RGThA](https://github.com/qbit86/spontaneous-benchmark/blob/8b780ebbd3398e80edef918d4a09c6f376874a86/benchmarks/Spontaneous.LanguageBenchmarks/ComparingToNullBenchmark.cs)
[code]

Running on version 0.11.3 with following config:
[code]

[2018-12-12 00:13] qbit86 commented on #986
Naïve fix leads to another NRE:
[code]

[2018-12-12 01:22] qbit86 commented on #986
One of the tests is failing with `PathTooLongException`: “The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.”

This [line](https://github.com/dotnet/BenchmarkDotNet/blob/89255c9fceb1b27c475a93d08c152349be4199e9/src/BenchmarkDotNet/Running/BenchmarkRunner.cs#L77) is in the stac

[2018-12-12 08:09] AndreyAkinshin commented on #986
I think it makes sense to upgrade `BenchmarkDotNet.Validators.ConfigValidator.ValidateArtifactsPath` and add the corresponding checks.

@qbit86 do you want to make another PR for this problem?

[2018-12-12 08:21] qbit86 commented on #986
I'm not that deep into the internals of BDN, but yes, I can try to investigate the logic of validating during weekend or upcoming holidays.

[2018-12-14 04:46] nxrighthere commented on #147
This should be one of the top priorities, please.

[2018-12-15 17:24] ig-sinicyn opened #988 "BDN 11.3: Any way to exclude mandatory validators?"
As far as I can see, logic in the `GetFullConfig()` is overriden by the implementation of the `CompositeValidator` ctor:
[code]
Can this behavior be reverted?

I have custom validators, my integration tests have an assertion that checks there's no validation errors and the JitOptimizationsValidator breaks my tests in debug mode.

As a workaround I've made advanced assertion that ignores warnings f

[2018-12-15 17:35] AndreyAkinshin commented on #988
@adamsitnik what do you think?

[2018-12-15 18:05] ig-sinicyn commented on #988
I'd suggest to threat the `BenchmarkRunInfo` as a class that contains final benchmark description.

Resulting behavior will be:
* All public API overloads that do not accept the BenchmarkRunInfo may alter the config.
* All public API overloads that accept BenchmarkRunInfo use the config as is.

[2018-12-15 18:18] ig-sinicyn opened #989 "[Suggestion] add API for detecting cases where toolchain is not supported."
There's no way to detect run failures such as incompatible target platform.

Use case:
[code]

Suggestions:
* call the `IToolchain.IsSupported` method from validator and add the result into summary.ValidationErrors
* add a property that indicates that benchmark completed without errors, `summary.CompletedWithoutErrors` or something like this.

[2018-12-15 18:46] AndreyAkinshin commented on #989
It's a good idea!

We already have a benchmark report in the summary. Currently, `MarkdownExporter` uses the following code to detect broken benchmarks:

[code]

Currently, `BenchmarkReport` contains `GenerateResult`, `BuildResult`, and the list of result runs. I think we can introduce `Status` property which contains the final conclusion about benchmark status (including error text messages in ca

[2018-12-16 09:38] AndreyAkinshin commented on #982
@adamsitnik Do I understand correctly that the fix will be available only in the future versions of .NET Core? Should we print a warning for developers who want to set 48-bit affinity on old versions of .NET Core?

[2018-12-16 17:48] #986 closed

[2018-12-16 18:56] adamsitnik commented on #982
@AndreyAkinshin `Process.ProcessorAffinity` API was so far returning value not bigger than 2^32 on ARM on Linux. We use this API to print `ProcessorAffinity` value and because it had a bug we were also displaying wrong value.

To add a warning we would have to detect that BDN is running on ARM on older .NET Core, call native OS API, compare the returned value with Process.ProcessorAffinity returne

[2018-12-17 23:41] cleberdantas opened #990 "[Question] Difference between LLCMisses and CacheMisses on Hardware Counters"
Hi, guys and girls!

Don't know if here is the best place to ask, if not, sorry about that.

Does anyone know the difference between LLCMisses and CacheMisses?

Running a few benchamarks, at least in my case, LLCMisses is always higher compared to CacheMisses, which is a bit odd, I mean.. since LLC stands for last level cache (L3, I guess?). Why is this number higher?

Thanks in advance!

[2018-12-18 15:39] adamsitnik commented on #724
@benaadams are you sure? We have an [integration test](https://github.com/dotnet/BenchmarkDotNet/blob/8a2eecd9297fa01d4639d952f3dd6c43a646b66c/tests/BenchmarkDotNet.IntegrationTests/MemoryDiagnoserTests.cs#L174) to make sure it does not come back. I can't repo it.

[2018-12-18 17:10] benaadams commented on #724
Not sure but the allocations in the benchmark in this PR are showing 40KB for the pre-allocations; when I'd expect it more of 40B https://github.com/aspnet/AspNetCore/pull/5688

[2018-12-18 20:05] #990 closed

[2018-12-19 10:35] aalmada commented on #258
The solution proposed by @adamsitnik would also be a solution to #784 (?)

[2018-12-19 19:45] adamsitnik commented on #724
Have you tried to check if with Memory Profiler? Could you share the log?

What I am interested in is the line that starts with `GC:`

[code]

[2018-12-29 14:11] kmadof opened #993 "Cannot run Clr and Core jobs at the same time"
Hi

First I tried to run Core and Clr jobs on .net core project but in this case only Core job finished successfully.

[code]
|  Method |  Job | Runtime |     Mean |    Error |   StdDev |   Median |
|-------- |----- |-------- |---------:|---------:|---------:|---------:|
| Replace |  Clr |     Clr |       NA |       NA |       NA |       NA |
| Replace | Core |    Core | 20.38 us | 1.389 us | 4.09

[2018-12-30 17:08] adamsitnik commented on #993
Hi @kmadof

[code]

To run projects for .NET and .NET Core the project that defines benchmarks must target both frameworks. In your case it should be:

[code]

Please feel free to reopen the issue if it does not help.

[2018-12-30 17:08] #993 closed

[2018-12-31 00:19] kmadof commented on #993
Thanks a lot. It helped!

[2019-01-01 12:53] Turnerj opened #994 "Op/Invocation count not scaling up"
BDN Version: 0.11.3

For a [web crawler library I am working on](https://github.com/TurnerSoftware/InfinityCrawler/tree/benchmarking), I am benchmarking my crawler as it crawls a site. The site is a super simple ASP.NET Core site running in-memory via `TestServer` (`Microsoft.AspNetCore.TestHost` package).

For some reason, when I do requests requests via a dummy `HttpClient` that the `TestServer`

[2019-01-01 20:57] Turnerj commented on #994
Just to add, you can simplify my benchmark example above by just directly performing a HTTP request on the client from the test server like so:

[code]

[2019-01-02 07:31] Turnerj commented on #994
I've started to investigate this issue in a clean solution and am finding more strange quirks related to the above. I don't believe the issue is library specific anymore but maybe in some strange way the code is getting compiled and analysed by BDN?

In a MVCE, I have been able to reliably create this issue for CLR:
[code]
[code]

With one of the benchmark "TestServerAndCreateClient" commented out

[2019-01-02 07:42] Turnerj commented on #994
An even more simple difference than the two benchmarks, just commenting out `app.UseMvcWithDefaultRoute();` makes the CLR benchmark behave correctly. I'm going to look into what that code is actually calling internally as I still don't get how that affects BDN the way it is.

[2019-01-02 21:45] adamsitnik commented on #994
@Turnerj @ycrumeyrolle you are most probably experiencing https://github.com/dotnet/BenchmarkDotNet/issues/837

A workaround would be to call the benchmark once from the `[GlobalSetup]` method (idea from @exyi)

[code]

[2019-01-03 12:03] Turnerj commented on #994
@adamsitnik , yep, that seems to be exactly the problem! That issue you linked to is an interesting read about how it happens with workload jitting etc taking a long time.

I've applied the fix you mentioned though it will be cool to see the change that fixes the core problem land in a later version of BDN.

Thanks!

[2019-01-03 12:03] #994 closed

[2019-01-04 13:27] jasper-d opened #995 "Running benchmark fails when targeting netcoreapp2.2"
Running a benchmark fails when targeting netcoreapp2.2. That is because the *.Autogenerated.csproj. targets netcoreapp2.1 and references the original benchmark project that targets a higher netcoreapp version.

__Repro__:
1. Create a new netcore CLI application that targets netcoreapp2.2
2. Add a reference to BenchmarkDotNet v0.11.3
3. Add any Benchmark w/o explicit configuration (the Md5VsSha256

[2019-01-04 13:31] adamsitnik commented on #995
Hi @jasper-d

Could you run following code and share the output?

[code]

(this is the code we use to detect .NET Core version)

[2019-01-04 13:35] jasper-d commented on #995
Hi @adamsitnik, that method returns `2.2.0`.

[2019-01-04 14:48] jasper-d commented on #995
Ok, some more information.

When running the benchmark from the command line the assembly path in `GetBaseNetCoreVersion` is different from running from within VS.
It then is `C:/Users/jasper-d/.nuget/packages/runtime.win-x64.microsoft.netcore.app/2.2.0/runtimes/win-x64/native/System.Private.CoreLib.dll`. Subsequently `netCoreAppIndex` equals -1 and null is returned. `GetCurrentVersion` then defau

[2019-01-04 15:31] jasper-d commented on #995
Is there a reason the corelib path is parsed instead of using `Assembly.GetEntryAssembly().GetCustomAttribute<TargetFrameworkAttribute>().FrameworkName` or something similar to get the core runtime version?

[2019-01-04 15:58] adamsitnik commented on #995
@jasper-d I don't remember if we had any reason for that.

Does `Assembly.GetEntryAssembly().GetCustomAttribute<TargetFrameworkAttribute>().FrameworkName` return a proper value for all the scenarios? If so we can switch to it. (it sounds way more natural to use than what we have today)

[2019-01-05 19:07] m-mccormick commented on #641
I ran into this issue using R 3.5.2 and BenchmarkDotNet 0.11.3. When running the benchmark executable, it got hung up when building the R script with the console visible. The litmus test for R script completion I'm using is whether I can open the PDF generated by the R script. When it hung and I couldn't open the PDF, I hit "Ctrl+C" with the console active, which killed the benchmark executable, b

[2019-01-05 20:38] m-mccormick commented on #641
I modified my test to better reflect `public IEnumerable<string> ExportToFiles(Summary summary, ILogger consoleLogger)` in [RPlotExporter.cs](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Exporters/RPlotExporter.cs). Also, I forgot `process.BeginOutputReadLine();` and `process.BeginErrorReadLine();` on trial 1 in the previous post. New Results:

**Trial Number - Result*

[2019-01-06 12:10] Maximusya opened #998 "Missing images in docs"
https://benchmarkdotnet.org/ contains broken links to images published from https://github.com/dotnet/BenchmarkDotNet/tree/master/docs/images

Example:
https://benchmarkdotnet.org/: ```<img src="images/rplot.png" alt="">``` from ```![](images/rplot.png)```

https://benchmarkdotnet.org/images/rplot.png is 404.

But docs for specific version (even for the latest one - but explicitly selected) contai

[2019-01-06 17:26] RealDotNetDave opened #1000 "What Does "Benchmarks with issues" Mean?"
I have some benchmarks that use to work and now does not. All I see is something like this:

LongRunningPerfTestRunner.'COLLECTION CREATION: Without Capacity': Clr                    -> 2 outliers were removed

But I have no idea what is wrong that is causing BenchmarkDotNet to remove it from the test?

Thanks,
David

[2019-01-06 21:47] adamsitnik commented on #1000
Hi @RealDotNetDave

From the [Wikipedia](https://en.wikipedia.org/wiki/Outlier)

Example: you run your benchmark, the results are 10, 10.5, 9.5 and 17. 17 is an outlier, it gets removed by default.

See our docs page for more: https://benchmarkdotnet.org/articles/samples/IntroOutliers.html?q=outlier

[2019-01-06 21:47] adamsitnik commented on #1000
It's our way to say "warning"

[2019-01-06 21:57] adamsitnik commented on #831
@AndreyAkinshin PTAL

[2019-01-07 17:32] adamsitnik commented on #995
@jasper-d please just make sure that it works on .NET Core 2.0, 2.1, 2.2 and 3.0 ;)

[2019-01-07 19:57] jasper-d commented on #995
@adamsitnik Fortunately it does (even with CoreRT).
I'm just testing if it works on Docker too (it should). I would then remove the special handling of Docker environments.

[2019-01-07 19:59] adamsitnik commented on #995
@jasper-d awesome!

[2019-01-07 20:53] MarcoRossignoli opened #1002 "Multiple build/publish failure with `--coreRun` toolchain"
If we `run` benchmarks with CoreRun toolchain and `--no-build` switch we get bechmarks `build` errors.
This PR https://github.com/dotnet/BenchmarkDotNet/pull/1001 fix the issue adding some build/publish attempts https://github.com/dotnet/BenchmarkDotNet/pull/1001/files#diff-83177b9866652943fa5d5bb8f80d847aR89
I found this issue using new performance https://github.com/dotnet/performance repo.
To r

[2019-01-08 01:34] JakenVeina opened #1003 "improve MinIterationTime and MultimodeDistribution warnings"
So, I feel like I'm getting some invalid benchmark results, and if so, I'm out of ideas on how to address it.

What I'm seeing is about a dozen warnings of the following form...

[code]
([FULL BENCHMARK LOG](https://hastebin.com/kemetevuda.makefile))

I had a look at #767 where the author was having what appears to be the exact same issue, on account of a manual configuration, and the fact that th

[2019-01-08 14:19] wojtpl2 commented on #1002
@adamsitnik I can help but I need information on what to do it. There https://github.com/dotnet/BenchmarkDotNet/pull/913#issue-223126912 you wrote that `dotnet restore --no-dependencies` and `dotnet build --no-restore --no-dependencies` are dengerous. Do you have some idea how to fix this issue or I have to come up with solution?

Maybe benchmarkDotNet should have parameters `--no-build`,`--no-dep

[2019-01-08 14:35] MarcoRossignoli commented on #1002
@wojtpl2 I spent some time on it https://github.com/dotnet/performance/issues/209#issuecomment-451759735 I think that could be great understand why build and publish fail.
Here https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliCommand.cs#L81-L94 Adam fixed code adding attempts with `--no-dependencies` and `--no-build`
You should try re-enable t

[2019-01-08 14:40] MarcoRossignoli commented on #1002
As @jorive said could be could be worth understand if this is an issue related to BDN+CoreRun toolchain or with dotnet core cli sdk(build phases...in particular why build wants move fail that are clearly used/locked)
More info if you don't use `--corerun` it works i.e.:
[code]
So I think it's related only to CoreRun toolchain behaviour.

[2019-01-08 14:48] wojtpl2 opened #1004 "C# 8.0 and NullableReferenceTypes in BenchmarkDotNet"
I know that 8.0 is beta but I think it is a good time to start refactoring project to using NullableReferenceTypes. @AndreyAkinshin, @adamsitnik What do you think about it? If you agree I can start this refactoring.

e.g. Json.net is already ready https://github.com/JamesNK/Newtonsoft.Json/pull/1950.

[2019-01-08 14:50] MarcoRossignoli commented on #1002
If someone wants more info on repro reach me on gitter or DM me on twitter.

[2019-01-09 00:08] chinwobble opened #1007 "benchmark cannot have type Action"
I get a compilation error  using Benchmarkdotnet 0.11.3 with the following simple console app.

[code]

This code produces the following error:
[code]

[2019-01-09 08:52] CodeTherapist commented on #213
@AndreyAkinshin, Done! At least a first version of it.

The tool supports the following syntax:

`
dotnet benchmarkdotnet [YourAssemblyFileWithBenchmarks.dll] [BenchmarkDotNet Arguments]
`

Maybe we could elaborate more features that would be useful.

Btw. I'm little bit confused because the [build](https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/477069156#L5498) is failing.
I can't imagine how

[2019-01-09 12:45] adamsitnik commented on #213
@CodeTherapist this particular failure is not your fault, I am going to take a look into that failure to see what is going on

[2019-01-09 15:50] AndreyAkinshin opened #1010 "Write unit tests which check that BenchmarkProgram.txt doesn't contain usings"
In #1009, it was decided to remove all usings from `BenchmarkProgram.txt` to avoid any possible conflicts with user code. We can load this file and check that it doesn't contain any using declarations.

[2019-01-09 16:15] AndreyAkinshin commented on #1004
@wojtpl2 I think we should wait until C# 8.0 is released. If we start to use C# 8.0, it will complicate the initial setup for the contributors. On Windows, they will need VisualStudio 2019 Preview. On Linux and macOS, it will be really hard to work with the C# 8.0 code base right now.

[2019-01-09 16:20] #1010 closed

[2019-01-09 16:32] adamsitnik commented on #1004
@wojtpl2  I agree with @AndreyAkinshin , we should wait until C# is released and supported by all major IDEs (VS, VS+R#, Rider, Code)

[2019-01-09 16:49] adamsitnik commented on #1003
Hi @JakenVeina

When you use `[IterationSetup]` BDN executes the benchmark once per iteration. If this a very short operation, the result is unstable. This is why we produce this warning.

However, I agree that the warning does not explain where is the problem.

In your case you should redesign you benchmark to not use `[IterationSetup]` at all or make it execute more operations.

If you are looki

[2019-01-09 17:00] adamsitnik commented on #1002
@wojtpl2 I think that the best option would be to detect that user is running `dotnet run` with those arguments and re-apply them when building the auto-generated code.

[2019-01-09 17:39] wojtpl2 commented on #1004
I mean working on the branch and approving changes when C# 8 will be
released.
But of course I understand your arguments.

śr., 9 sty 2019, 18:01: Adam Sitnik <notifications@github.com> napisał(a):

[2019-01-09 18:47] CodeTherapist opened #1011 "Use the built-in msbuild extensibility hook "Directory.Build.props""
I would like to propose to replace the [build/common.props](https://github.com/dotnet/BenchmarkDotNet/blob/master/build/common.props) with the [MSBuild built-in extensibility hook](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2017#directorybuildprops-and-directorybuildtargets).

Of course it's more implicit than the current solution - but it simplifies the wor

[2019-01-09 18:52] AndreyAkinshin commented on #1004
@wojtpl2 I'm afraid it will be hard to merge such branch. I appreciate your enthusiasm, but it will be better to wait.

[2019-01-10 00:40] JakenVeina commented on #1003
I did some more re-reading of docs and the log over the last few days, and it makes sense to me now. But yeah, I suppose the warning could be better. Essentially, it's warning that the iteration count is low, and I was missing the fact that the library usually executes the benchmark method up to hundreds of thousands of times, per iteration (enough to reach a target execution time).

The examples

[2019-01-11 09:03] wojtpl2 commented on #1002
@adamsitnik There is not possible to detect that user run `dotnet run` with arguments.

I can't reproduce this problem. It's working for me 😄
Maybe my enviroment is different:
[code]
I've cloned fxcore:
[code]
And I've built it `build -release` without errors and warning.

Next, I've cloned performance repo:
[code]
I've changed `MicroBenchmarks.csproj`:
[code]

And I've changed `NuGet.config` to u

[2019-01-11 09:10] MarcoRossignoli commented on #1002
@wojtpl2 can you share your branch?I would clone and try on my local.

[2019-01-11 09:12] wojtpl2 commented on #1002
Do you mean branch of BenchmarkDotNet?

[2019-01-11 09:12] adamsitnik commented on #1002
@wojtpl2 could you try the dotnet run with `--no-restore` option?

[2019-01-11 09:16] MarcoRossignoli commented on #1002
Yes I don't found issue_1002 on yours

Have you tried with py script?

`d:\git\performance\scripts\benchmarks_ci.py --frameworks netcoreapp3.0 --filter *.Perf_Dictionary.* --corerun D:\git\corefx\artifacts\bin\testhost\netcoreapp-Windows_NT-Release-x64\shared\Microsoft.NETCore.App\9.9.9\CoreRun.exe --bdn-arguments="--join"`

[2019-01-11 09:37] mail4andrey commented on #976
Same error when I've written something in console.
And well if I do not write to the console

[2019-01-11 09:48] wojtpl2 commented on #1002
@adamsitnik The same result:
[code]

@MarcoRossignoli I've pushed https://github.com/wojtpl2/BenchmarkDotNet/tree/issue_1002

Now I'll try to use `benchmarks_ci.py`.

[2019-01-11 12:07] wojtpl2 commented on #1002
Ok. I reproduced problem 😃

When I used benchmarks_ci.py I got error:
[code]

End now I can reproduse this error without this script. When I type the commands in the order from script, I got 'attemps':
[code]

[code]

I have some Idea how to solve this problem.

[2019-01-11 12:55] MarcoRossignoli commented on #1002
@wojtpl2 great!Can you share you "idea"? I thought something with `Environment.GetCommandLineArgs()` but I don't know if it makes sense with `dotnet run...` , or maybe something with parent process?

[2019-01-11 13:36] wojtpl2 commented on #1002
@MarcoRossignoli I've pushed fix #1013

[2019-01-11 14:42] adamsitnik commented on #1002
Fixed in #1013 !

[2019-01-11 14:42] #1002 closed

[2019-01-11 15:11] adamsitnik commented on #1003
No, we don't have such option.

However, I think that should reconsider the design and most probably include the cost of allocating the collection in the benchmark itself.

In the real-life scenarios, the developers are going to create the collection first and then add the items. If you want to optimize the code, you should focus on the entire scenario, not only on a part of it. Also, if the numbe

[2019-01-11 15:37] adamsitnik commented on #1011
Hi @CodeTherapist

I don't like this approach. The idea is cool, but people tend to add more and more `.props` and `.targets` files and at some point of time you end up with a lot of settings imported from many files. The folder structure matters, the order of loading the settings etc.

I prefer the simpler approach we have today: everything needs to be explicit but it's very easy to find out the

[2019-01-11 15:37] #1011 closed

[2019-01-11 16:40] adamsitnik commented on #954
Hi @Wraith2

I have created a PR to your repo with the fix: https://github.com/Wraith2/SqlBench/pull/1

A copy of my PR's description so others when google this issue can find the answer too:

To tell the long story short, all you need to do right now to run against local CoreFX build is providing the path to CoreRun.exe via `--coreRun` console line argument.

It's important to provide the path to

[2019-01-11 16:40] #954 closed

[2019-01-11 16:45] adamsitnik commented on #978
@Ky7m big thanks for the research!

I can see that shippable offers a free CI for public projects: https://www.shippable.com/pricing.html

However, I am not sure if we really want to have 4th CI? I would love to have ARM builds running, however, I am not sure if the complexity and effort are worth it. Maybe we should just wait until ARM is added to one of the CIs that we already use? @Ky7m what do

[2019-01-11 16:53] adamsitnik commented on #1000
@RealDotNetDave I am closing this issue now, please feel free to reopen if something is not clear.

[2019-01-11 16:53] #1000 closed

[2019-01-11 16:58] adamsitnik commented on #988
I think that over the time, we added too many configuration options. Our code gets more and more complex, while some of the features are used by single users.

Having said that, I think that it's not worth the gain to add the possibility to disable the mandatory validators.

@ig-sinicyn I really appreciate your help and input, I hope that you will understand.

[2019-01-11 17:19] ig-sinicyn commented on #988
Ok, got it:)

[2019-01-11 17:21] adamsitnik commented on #988
btw @ig-sinicyn I think that the lesser evil would be for you to use reflection and simply set [this field](https://github.com/dotnet/BenchmarkDotNet/blob/cebe2a0f84fa21acb6db9613fe3a4326d635f129/src/BenchmarkDotNet/Validators/CompositeValidator.cs#L8) to an empty array

[2019-01-11 18:58] adamsitnik commented on #973
Hi @lahma

I like this idea and I have even implemented a similar tool in the dotnet/performance repo https://github.com/dotnet/performance/tree/master/src/tools/ResultsComparer

Maybe we should add it as a new, global tool similar to https://github.com/dotnet/BenchmarkDotNet/pull/1006 ?

@AndreyAkinshin what do you think about adding such command line tools to the BDN repo?

[2019-01-12 01:14] JakenVeina commented on #1003
The benchmarks here are less about trying to optimize existing code, and more about trying to compare the performance of different classes implementing the same interface, with different underlying algorithms, so consumers can decide which is going to best fit their use scenarios. In that context, I think more granular metrics on the different operations makes a lot of sense. Making individual `.A

[2019-01-12 11:12] ig-sinicyn commented on #989
@AndreyAkinshin
Just checked, the `summary.Reports` is empty too. To repro: copy the code into the `InProcessTest`.

[code]

[2019-01-12 11:49] AndreyAkinshin commented on #831
@Maximusya you are right, I build and deploy docs manually. When we migrated to the docfx-based docs, I decided to introduce versioning. Unfortunately, docfx 2.x doesn't support versioning, so I use a pretty tricky manual way to deploy docs.

However, according to the Google Analytics reports, nobody read docs for the previous versions. I guess, we can remove the versioning from the documentation.

[2019-01-12 12:00] #998 closed

[2019-01-12 12:11] AndreyAkinshin commented on #998
@Maximusya thanks for the report. The problem was about casing: we had the `Images` folder instead of the `images` folder in the repository.

P.S. You can find the full actual sources of the currently deployed documentation in the `gh-pages` branch:  https://github.com/dotnet/BenchmarkDotNet/tree/gh-pages

[2019-01-12 18:43] CodeTherapist commented on #973
@adamsitnik @adamsitnik
I would like to implement that as well.

**Design suggestion**

Implementing it into the existing `BenchmarkDotNet.Tool` project with sub-commands.

The subcommand `run` would execute benchmarks:
`dotnet benchmarkdotnet run [arguments] [options]`

The subcommand `diff` would get the difference between a baseline report and another report:
`dotnet benchmarkdotnet diff [argum

[2019-01-13 09:06] lahma commented on #973
I love all the possibilities listed here. I'd also like to point out the case which is important to me. I usually have baseline run that tests system (multiple methods, sub-systems) and I try to see how the results have been affetected by change. So in my case it's more of a "overall rps/s change after I fine-tuned data-structures allocation patterns" instead of "which of the two methods is faster

[2019-01-13 13:00] adamsitnik opened #1016 "Switch from CommandLineParser and McMaster.Extensions.CommandLineUtils to System.CommandLine"
As of today, we are using:

- CommandLineParser to parse arguments for BenchmarkSwitcher
- McMaster.Extensions.CommandLineUtils to parse the arguments for our first global tool (#1006)

Having two dependencies to parse command line arguments is not good.

I think that we should switch to `System.CommandLine` if possible ([project](https://github.com/dotnet/command-line-api))

System.CommandLine is

[2019-01-13 14:03] AndreyAkinshin commented on #973
I think that option "install one package and get all of the command line out of the box" is better than forcing users to install a separate NuGet package for each command.

Also, I don't like this command line:

[code]

It's OK for us to reserve the `dotnet benchmark` keyword because BenchmarkDotNet is the most popular benchmarking library. However, I don't want to reserve `dotnet compare` for com

[2019-01-13 14:07] adamsitnik commented on #973
@AndreyAkinshin You are right.

BTW if we switch to System.CommandLine (#1016) it should be easier to write a single global tool that handles everything we want (it was designed for global tools, including support of auto-complete for the argument names!)

[2019-01-14 08:17] wojtpl2 commented on #1016
@adamsitnik I would like to do this but I think `System.CommandLine` is still not ready yet. There is more information https://github.com/dotnet/command-line-api/pull/345#issuecomment-451575313.

@KathleenDollard made great PR https://github.com/dotnet/command-line-api/pull/363 but it is not finished yet. This approache for me it will be the best option. Something similar to `CommandLineParser`.

[2019-01-14 08:47] wojtpl2 commented on #1016
@adamsitnik If we want to use `System.CommandLine` we need published package to Nuget.org or at least a preview version.

[2019-01-14 14:53] #875 closed

[2019-01-14 14:59] Ky7m commented on #978
@adamsitnik, I think we can add shippable CI platform. It should be easy, also we have another option that is based on emulation of ARM builds on Travis. Let me start with the first one and check what we can achieve.

[2019-01-15 20:23] AceHack opened #1017 "Can you please split out Runtime/Environment Info into it's own assembly?"
I would really like to be able to get all the same runtime info as this project but I don't want to pull in the entire project.

[2019-01-16 19:45] RealDotNetDave opened #1018 "Running Benchmark on Machine Without Visual Studio Installed"
I do all of my development in VM's. So to get benchmarks from a non-VM I published the project to a folder and moved it to a different machine. When I run the benchmark via my .NET Core dll, I get the error below:

[code]

[2019-01-16 20:45] ilyaext opened #1019 "Generate Exception: Unable to find <Project> in <Folder> and its subfolders"
I have a project Tests.Performance.csproj DotNet Core 2.2, with BenchmarkDotNet 0.11.3
The output Tests.Performance.dll is in sub-folder: \bin\Release. The program runs fine when the solution file is in this folder. When the solution is in another folder I get the following exceptions:

Unable to find .sln file. Will use current directory D:\S6\pc\src\Tests\Tests.Performance\bin\Release to search

[2019-01-16 21:56] paule96 commented on #973
This would be super nice. Currently, I try to compare the results in azure devops put don't find a good way to do this.

[2019-01-17 08:35] #1018 closed

[2019-01-17 11:33] AndreyAkinshin commented on #1018
@RealDotNetDave should be fixed now. Could you please try the `0.11.3.932` version from our [nightly feed](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly)?

[2019-01-17 13:18] ilyaext commented on #1019
Would also be very helpfully if I could add a path to project by configuration. In this case I will not be required to have the same assembly name as the project name. It would probably solve and the problem above

[2019-01-17 16:37] RealDotNetDave commented on #1018
That did not work (see error below). I get the same thing from the CLR exe too.

// Generate Exception: Unable to find dotNetTips.CodePerf.Example.App in C:\Temp\publish and its subfolders. Most probably the name of output exe is different than the name of the .(c/f)sproj
// Build Error: Exception!
Message: Unable to find dotNetTips.CodePerf.Example.App in C:\Temp\publish and its subfolders. Most

[2019-01-17 16:38] adamsitnik commented on #1019
When we generate the boilerplate code we need to reference the project that actually defines the benchmarks.

What we do as of today is that we walk the folders down until we find a folder with `.sln` file. From there, we search for `$dllName.csproj` including subfolders.

I think that this is too rare edge case to extend our configuration with another option. The error message is clear, this is o

[2019-01-17 16:48] adamsitnik commented on #1018
When we generate the boilerplate code we need to reference the project that actually defines the benchmarks.

What we do as of today is that we walk the folders down until we find a folder with .sln file. From there, we search for $dllName.csproj including subfolders.

So to run the benchmarks you need to have the source code. If you for some reason can't, you can use [InProcessToolchain](https://

[2019-01-17 17:08] #1019 closed

[2019-01-17 17:50] TylerBrinkley opened #1020 "Errors using undefined enum values as benchmark arguments"
Consider the following benchmark.

[code]

Specifying undefined enum values as benchmark arguments causes the following build errors.

[code]

[2019-01-17 18:13] RealDotNetDave commented on #1018
It seems using the InProcess attribute got it working (tests are still running). But since it does not support Hardward counters and the DisassemblyDiagnoser, I'd really like to get it working without InProcess.

I tried copying the entire source folder to my laptop, I now get these errors:

// Build Error: Standard output:
   Restoring packages for C:\Temp\Test\dotNetTips.CodePerf.Example.App\dot

[2019-01-17 18:34] adamsitnik commented on #1018
You forgot to copy the NuGet.config file which tells dotnet restore about where to take the packages from.

[2019-01-17 22:53] RealDotNetDave commented on #1018
Ok, copied my Nuget.config file from my VM to my laptop and now seeing the error below. Not sure why it's looking for a package from DevExpress since the test app does not reference it?

// Build Error: Standard output:
   Restoring packages for C:\Temp\dotNetTips.CodePerf.Example.App\dotNetTips.CodePerf.Example.App\dotNetTips.CodePerf.Example.App.csproj...
  Restoring packages for C:\Temp\dotNetT

[2019-01-17 22:56] adamsitnik commented on #1018
Most probably your global (machine wide) NuGet.config points to this location. To avoid that, you can add a `<clear />` element before the feeds:

[code]

[2019-01-17 23:15] RealDotNetDave commented on #1018
I added that with the same results. I moved the nuget.config to the same folder I'm running the dll from and now and I still see the same error :-(

Here is what my NuGet.config file looks like:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add

[2019-01-18 15:01] wojtpl2 commented on #1016
`System.CommandLine` supports:
* parsing simple arguments (1 value)
* parsing more complex arguments (`IEnumerable<string>`)
* parsing arguments with aliases (example: `-i` `--inprocess`)
* command with arguments.

I don't know yet:
* help with samples

I'll create PR next week.

some preview:
[code]

[2019-01-18 16:54] #1004 closed

[2019-01-20 17:39] RealDotNetDave opened #1021 "Error when Using DisassemblyDiagnoser"
I'm using version 0.11.3.933 of BenchmarkDotNet. If I add the following to my benchmark class:

[DisassemblyDiagnoser(printIL: true, printSource: true, printDiff: true)]

I get the error below at the end of a run:

System.InvalidOperationException
  HResult=0x80131509
  Message=There is an error in XML document (0, 0).
  Source=System.Private.Xml
  StackTrace:
   at System.Xml.Serialization.XmlSer

[2019-01-22 09:46] wojtpl2 commented on #1016
I found one problem in `System.CommandLine'. It supports multiple value, but in different way. You always have to repeat alias of parameter for each value like this:
`--runtime net472 --runtime netcoreapp2.1`

I created issue in `System.CommandLine` https://github.com/dotnet/command-line-api/issues/383

[2019-01-23 02:24] JamesNK opened #1023 "Out of process benchmarks fail with ASP.NET Core SDK reference"
I am running into this error when benchmarking a project that references the ASP.NET Core SDK: https://github.com/aspnet/grpc-dotnet/pull/5#discussion_r249236799

The error only happens when the tests are run out of process. They run perfectly when in-process.

A possible cause could be the new ASP.NET Core SDK. In .NET Core 3 the ASP.NET bits are distributed as an SDK instead of NuGet packages, i

[2019-01-23 07:53] wojtpl2 commented on #1016
My PR https://github.com/dotnet/command-line-api/pull/384 to `System.CommandLine` is marged. Now we can switch to `System.CommandLine`.

[2019-01-23 13:45] wojtpl2 commented on #1016
I created second PR https://github.com/dotnet/command-line-api/pull/385

[2019-01-24 09:15] rikimaru0345 opened #1024 "Calculate baseline by fastest with config"
Hi,
I'm implementing a `: ManualConfig` and I want to have the "Ratio" column.
Adding it with `Add(BaselineRatioColumn.RatioMean);` works fine.

But I always want the baseline to be the fastest run instead of having to manually (predetermine) what benchmark should be considered the baseline.

Is that possible somehow? If so, how?

[2019-01-24 17:53] adamsitnik commented on #1016
@wojtpl2 awesome! great job!

[2019-01-24 21:51] adamsitnik commented on #1023
hi @JamesNK !

yes, it does not generate it.

I cloned the repo and was able to reproduce the problem. Adding reference to `Microsoft.AspNetCore.App` in the auto-generated project solves the problem. However, I need to verify one thing before I add such thing to BDN:

If project `A` references `Microsoft.AspNetCore.App` and project `B` references project `A` I would assume that project B does not

[2019-01-24 22:03] JamesNK commented on #1023
I think so, however I believe there is a bug in 3.0 preview 1 that stopps it from being transitive.

I'm not sure. It is new to me as well. It will become very common as any benchmarks that use ASP.NET components will need to use `FrameworkReference`.

@natemcmaster do you know, or know who would know the answers here? 😄

[2019-01-24 22:09] natemcmaster commented on #1023
FrameworkReference is very new, and will churn a fair amount over the next for .NET Core 3 previews. Flowing FrameworkReference's from project to project is not yet supported: https://github.com/dotnet/sdk/issues/2420 - I don't have an ETA for when this will be fixed.

[2019-01-25 03:20] Wildenhaus commented on #973
It would be nice to have additional metrics reported with each summary; for instance, being able to display the net increase or decrease in each benchmark's mean execution time (compared to the previous run).

Adding on to that idea, being able to plot changes in performance over time (even if it meant opening a file in a third-party program) would also be awesome and help greatly with development

[2019-01-25 11:25] alteredego opened #1025 "LINQPad throwing ReflectionTypeLoadException"
Hi there

I'm wanting to use BenchmarkDotNet within LINQPad but I'm having no luck so far.  I've searched the issues list and LINQPad forums and it looks to me like some old issues have been resolved and things should work by now, but I'm getting an exception thrown.

I'm using a licensed copy of LINQPad v5.36.03 and BenchmarkDotNet nuget v0.11.3.  I am trying out some of the basic samples and hav

[2019-01-25 12:09] wojtpl2 commented on #1016
I push changes to https://github.com/wojtpl2/BenchmarkDotNet/tree/system_commandLine All test are passed:
![image](https://user-images.githubusercontent.com/17333903/51744892-8c77dd80-20a1-11e9-955e-397ffe6d2565.png)
Example output:
[code]

But there is still some work to do.
I'm waiting for third PR https://github.com/dotnet/command-line-api/pull/389 and for published version of `System.CommandLi

[2019-01-26 06:47] AndreyAkinshin commented on #1024
@rikimaru0345 thanks for the idea! Currently, it's not possible, but it should be easy to implement.

[2019-01-26 07:10] AndreyAkinshin commented on #1017
@AceHack BenchmarkDotNet has a lot of different features which are not directly benchmark-related. We are not going to release and support separate NuGet packages for every feature.

[2019-01-26 07:10] #1017 closed

[2019-01-26 07:16] AndreyAkinshin commented on #1020
@TylerBrinkley thanks for the bug report!

[2019-01-26 08:51] Rizzen commented on #1020
I believe I can do it.

[2019-01-26 10:13] AndreyAkinshin commented on #1020
@Rizzen great!

[2019-01-27 04:11] rikimaru0345 opened #1026 "TypeLoadException when using MonoRuntime"
Hi,

I'm getting this when trying to specify a custom path to mono:

[code]

It works fine with this:
[code]

But when I change it to this it  breaks:

[code]

I also tried to let it point to the mono-installation of a Unity (the game engine) installation and that works, but it always uses the x86 mode.
Seems like Unity only comes with x86 versions of mono. That's why I switched to the path above.

[2019-01-28 08:12] adamsitnik opened #1028 "Add new template for "dotnet new benchmark""
I think that we should add a new template for dotnet cli that would create following app when used:

[code]

@AndreyAkinshin what do you think?

[2019-01-28 09:32] AndreyAkinshin commented on #1028
@adamsitnik I like this idea!

[2019-01-28 16:30] lucabol opened #1029 "Running benchmarks from different msbuild configuration doesn't work"
Hi guys,
Perhaps there is a workaround or I am missing something. I am using msbuild configurations to treat a single project as a library, exe, xunit test, and banchmarkdotnet tests. I am failing in the latter. In essence if I conditionally import the BenchmarkDotNet package in my csproj file as in:

[code]

I am not able to run the benchmarks from my Bench configuration `dotnet run -c Bench`, ge

[2019-01-29 01:44] adamsitnik commented on #1029
Hi @lucabol

Yes, by default BDN builds the auto-generated project in `Release` configuration. You can use `job.WithCustomBuildConfiguration("Bench")` to tell it to use the `Bench` configuration

[code]

this is rather an anti-pattern. You should have separate projects for unit tests and benchmarks.

[2019-01-29 01:44] #1029 closed

[2019-01-29 01:57] adamsitnik commented on #1026
Hi @rikimaru0345

I tried to run your code but was unable to repro it with Mono 5.10.0, 64bit.

Could you please try setting the platform to AnyCPU?

[code]

Are you using 32bit or 64bit dotnet cli?

[code]

[2019-01-29 02:14] adamsitnik commented on #1025
Hi @alteredego

Which .NET framework version are you using? I just downloaded the latest LINQPad version ( v5.36.03) and were not able to reproduce the problem.

Does it make any difference if you use the AnyCPU version of LINQPad?

 "Assembly is still being loaded." sounds more or less like a .NET Framework issue. Could you please update your .NET Framework and see if it helps?

My logs:

<detail

[2019-01-29 03:00] adamsitnik commented on #1016
I have left a suggestion for https://github.com/dotnet/command-line-api/pull/389#pullrequestreview-197358801

You can open a PR. As soon as @kathleendollard let's me know that `System.CommandLine` will be published to nuget.org I am going to merge it

Once again big thanks for doing this!

[2019-01-29 09:00] alteredego commented on #1025
Hi @adamsitnik -I'm very happy to say it is working with the AnyCPU version of LINQPad - thank you!

[2019-01-29 09:00] #1025 closed

[2019-01-29 09:20] rikimaru0345 commented on #1026
Hi,
as for the dotnet info:
[code]
[code]

I also did `mono --version` on the mono installation in the path mentioned above (which was `"C:\Program Files\Mono\bin\mono.exe"`) maybe it helps:
[code]

I changed all projects in my solution to `AnyCPU` but the error stays the same.

[2019-01-29 14:42] adamsitnik commented on #1029
Some time ago I have ported few thousands of CoreFX benchmarks to dotnet/performance repository.

When developers keep the benchmarks with unit tests they tend to treat benchmarks as unit tests:

- add a test case for every edge case, which results in having hundreds of benchmarks and a long time to run the benchmarks. When it takes too much time to run the benchmarks, the developers stop using th

[2019-01-29 14:59] lucabol commented on #1029
That's not what I am experimenting with. In this system conditional compilation and separate msbuild configurations keep tests, benchmark, real code etc.. in different binaries, despite being in just one project.

I have one MyLibrary.cs file with the real code, one MyLibrary.Tests.cs, one MyLibrary.Bench.cs, one MyLibrary.Main.cs in the same project. It reduces scaffolding and keep related things

[2019-01-29 15:30] adamsitnik commented on #1029
It's a trade-off: code complexity (`#if defines`) and .csproj complexity (custom build configurations that you need to explain to others) for a single project and running commands from the same folder.

@lucabol it's your project, I just wanted to say that for me it's an anti-pattern (something that initially seems to be a good idea, but turns out bad later).

Anyway, thanks for using BenchmarkDot

[2019-01-29 16:10] lucabol commented on #1029
Cheers. There are pros and cons both ways. I wouldn't use this for a team of people as it is not mainstream enough, but for my own personal projects it's an interesting option (for me).

BTW: BDN is just great! You guys keep up the good work!

[2019-01-29 18:17] adamsitnik commented on #1028
btw the .csproj should be:

[code]

[2019-01-29 18:22] adamsitnik commented on #1021
Hi @RealDotNetDave

how can I reproduce this issue? could you provide a repro?

[2019-01-29 18:24] adamsitnik commented on #1018
[code]

This issue will be solved when I finish and merge #912 (just letting you know that we are working on it)

[2019-01-29 20:49] #849 closed

[2019-01-29 20:49] #983 closed

[2019-01-30 02:51] adamsitnik commented on #834
Fixed by #957

[2019-01-30 02:51] #834 closed

[2019-01-30 02:58] adamsitnik commented on #808
The original question was answered, I am not able to reproduce the mentioned problem so I am closing the issue.

[2019-01-30 02:58] #808 closed

[2019-01-30 03:01] adamsitnik commented on #714
Done, everything available in a new repo: https://github.com/dotnet/performance/

+-20 of the 2000 benchmarks are not stable. Mostly multithreaded benchmarks (which rely on ThreadPool heuristics), loop body alignment (for benchmarks that do have their own loop), array body alginement

[2019-01-30 03:01] #714 closed

[2019-01-30 03:43] adamsitnik commented on #928
@AndreyAkinshin I decided to remove this Toolchain.

It was very hard to get it working properly, mostly due to the fact that it was more or less relying on undocumented stuff.

As of today we can very easily run against local builds of CoreFX/CLR with `--coreRun`
And against any dotnet cli with `--cli`

So the user story is complete, simple and it just works.

[2019-01-30 03:43] #928 closed

[2019-01-30 03:56] adamsitnik commented on #504
Closing as it has been possible for a while to set the time unit.

[code]

[2019-01-30 03:56] #504 closed

[2019-01-30 09:09] wojtpl2 commented on #1016
There is still some missing function in `System.CommandLine`:
* Parameter value with `+` separator - https://github.com/dotnet/command-line-api/issues/37. BDN uses it in `--counters` parameter: https://github.com/dotnet/BenchmarkDotNet/blob/adde64cbbcde01938d6b2772066852c4f6c0e88d/src/BenchmarkDotNet/ConsoleArguments/CommandLineOptions.cs#L71-L72 I can create PR to `System.CommandLine` or we can r

[2019-01-30 12:05] adamsitnik commented on #731
Fixed in #906

[2019-01-30 12:05] #731 closed

[2019-01-30 12:06] adamsitnik commented on #601
Fixed by #906

[2019-01-30 12:06] #601 closed

[2019-01-30 12:09] adamsitnik commented on #387
Implemented in #878 and #964 `--profiler ETW` `--profiler CV`

[2019-01-30 12:09] #387 closed

[2019-01-30 12:11] adamsitnik commented on #213
Implemented in #1006

[2019-01-30 12:11] #213 closed

[2019-01-30 12:18] adamsitnik commented on #1016
it's nice to have, but not mandatory

it depends on what is the golden standard of command line tools - should every tool be case sensitive or insensitive?

this is a must have, without it the `--help` option is not very usefull

[2019-01-30 15:26] jonsequitur commented on #1016
Windows command line tools are more often case insensitive and *nix/macOS tools are usually case sensitive. (Think `git branch -d` vs `git branch -D`.)

System.CommandLine can support different casing like the example above via aliases but it would be awkward for example if you want to support all mixed case variants, e.g. `--eXpoRterS`.

[2019-01-30 16:38] MarcoRossignoli opened #1031 "[Question]Toolchain report name"
If I run:
[code]
I get this report:
![image](https://user-images.githubusercontent.com/7894084/51996775-ba9c5980-24b5-11e9-806e-f8d66e0771b0.png)

Is there a way to pass toolchain name throught command line to make report clearer?

[2019-01-31 03:14] adamsitnik commented on #1031
Not an obvious one ;)

So in the "Toolchain" we show the diff of the path. For Example:

[code]

Should show:

[code]

The solution in your case would be to copy:

[code]

to (**was**)

[code]

And run

[code]

[2019-01-31 06:39] MarcoRossignoli commented on #1031
Understood, Thank's!

[2019-01-31 06:44] adamsitnik commented on #1031
btw I am open to any suggestion regarding this. I just don;t have a better idea for what to show and how to solve it when using multiple CoreRuns

[2019-01-31 06:44] #1031 closed

[2019-01-31 06:49] MarcoRossignoli commented on #1031
Maybe a positional options `--CoreRunLabel upstream current` or add directly on corerun exe after|(pipe symbol) `-CoreRun ..\CoreRun.exe|upstream ...`

[2019-01-31 12:49] adamsitnik commented on #1016
@jonsequitur thanks for the explanation! in such case, I think that it's fine to be case-sensitive (we might add some aliases, but rather very few)

[2019-02-01 03:48] rikimaru0345 commented on #1026
That fixed it! I didn't realize that my mono version was so outdated.

[2019-02-01 03:48] #1026 closed

[2019-02-01 04:40] #360 closed

[2019-02-01 04:40] #938 closed

[2019-02-01 04:42] adamsitnik commented on #463
Fixed by #912

[2019-02-01 04:42] #463 closed

[2019-02-01 04:43] adamsitnik commented on #463
Important: I did not change the interface itself, it would be a very breaking change + VS struggles a lot with code that references Immutable collections (invalid binding redirects)

[2019-02-01 05:45] adamsitnik commented on #942
This was one big PITA, fixed by using some ugly workarounds in #1032

[2019-02-01 05:45] adamsitnik commented on #896
This was one big PITA, fixed by using some ugly workarounds in #1032

[2019-02-01 05:45] adamsitnik commented on #895
This was one big PITA, fixed by using some ugly workarounds in #1032

[2019-02-01 05:46] adamsitnik commented on #667
This was one big PITA, fixed by using some ugly workarounds in #1032

[2019-02-01 08:38] adamsitnik commented on #988
@ig-sinicyn I finally got some time to finish my big Config refactor (see #912). Now we create config once, when we have all information and it's final = immutable.

I also added the feature that you have implemented in #1027

[code]

I introduced the concept of config.Options which is just an enum flag. So we can have up to 31/63 boolean flags in config without changing the interface.

[2019-02-01 08:38] #988 closed

[2019-02-01 12:42] CodeTherapist commented on #1028
I would like to do this :)

[2019-02-01 12:45] ig-sinicyn commented on #988
Wow, thanks a lot!
Will try to look at it tomorrow, no free time at all:(

[2019-02-01 18:47] adamsitnik commented on #1028
@CodeTherapist awesome! please let me know if you need anything

[2019-02-02 08:55] AndreyAkinshin commented on #1018
@adamsitnik is it resolved now?

[2019-02-02 12:52] ig-sinicyn opened #1039 "Some tests are broken on Net 461 (culture-dependent thing)"
master branch, VS 2017 15.9.6, target net461, current UI culture is 'ru-RU'

Some tests are failing under both VS & Resharper test runners, first few of them:

* Tests
  AllSetupAndCleanupMethodRunsAsyncGenericValueTaskSetupTest,
  AllSetupAndCleanupMethodRunsAsyncValueTaskSetupTest
  AnArrayCanBePassedToBenchmarkAsSpan
  ArgumentsArePassedToBenchmarks
  TaskReturningMethodsAreAwaited
  UserCanSpe

[2019-02-02 13:35] adamsitnik commented on #1039
Could you please perform a full clean (`git clean -xfd` for example) and try to re-run?

It passes on AppVeyor and Azure DevOps, so an old bin is my first guess.

[2019-02-03 10:35] ig-sinicyn commented on #1039
Just a minute, will try.

[2019-02-03 13:06] ig-sinicyn commented on #1039
OK, I've made PR for culture-related part of the issue.

Some tests still failing when code is built as debug (`CanDisassembleInlinableBenchmarks` as example).

[2019-02-03 21:01] danmosemsft opened #1045 "Dry jobs can eat iteration failures"
## BDN Version
`Benchmarks 0.1.1-preview2-190203-1`

## Repro
Consider a benchmark where the method under test sets some result which the `[GlobalCleanup]` examines. If the result is not set, `[GlobalCleanup]` will throw. Assume the test method itself has a bug, and throws an exception:
[code]
Run with
`dotnet run -c Release`

## Expected
The callstack for the test method exception, possibly follo

[2019-02-03 22:03] danmosemsft opened #1046 "NullReferenceException in BenchmarkDotNet.Reports.SummaryTable after iteration failure"
## BDN Version
`Benchmarks 0.1.1-preview2-190203-1`

## Repro
[code]
## Expected
Not to crash

## Actual
After the callstack for the test failure,
[code]

[2019-02-03 22:06] danmosemsft commented on #1046
Same callstack as in https://github.com/dotnet/BenchmarkDotNet/issues/953 but that issue seems to be focused on what led to the problem. I opened this issue because perhaps the report generation should protect itself against upstream failure.

[2019-02-03 23:31] CatGirlsAreLife opened #1047 "Benchmarking fails when ran without internet."
When I try to benchmark a library of mine that has no internet when it tries to do the building x exes it will fail because it will try to run a nuget restore.

[2019-02-04 05:31] adamsitnik commented on #919
Fixed by #921. Once again big thanks @ig-sinicyn !  You have done an amazing job!

[2019-02-04 05:31] #919 closed

[2019-02-04 05:32] adamsitnik commented on #843
Fixed by #921.

[2019-02-04 05:32] #843 closed

[2019-02-04 05:33] adamsitnik commented on #843
@alexanderkozlenko please keep in mind that we kept the old InProcessToolchain and added a new one `InProcessEmitToolchain`. The new one has the fix, the old one does not

[2019-02-04 06:45] adamsitnik commented on #1045
This was neat, we execute GlobalCleanup in a finally block and when a finally block throws it overwrites the source exception ;)

The output after my fix:

[code]

[2019-02-04 06:46] #1045 closed

[2019-02-04 07:00] #1046 closed

[2019-02-04 07:01] adamsitnik commented on #1046
It looks that I have fixed this bug in my big refactor form last week #912

Anyway, I added tests to make sure it never comes back.

@danmosemsft big thanks for  great bug reports!

[2019-02-04 07:18] danmosemsft commented on #1046
Thanks @adamsitnik!

[2019-02-04 07:20] danmosemsft commented on #1045
Thanks @adamsitnik

there is a BindingFlag to avoid the TargetInvocationException wrapping but I guess it is only in.NET Core. Not a big deal

[2019-02-04 07:22] danmosemsft commented on #1047
Once it has restored successfully once, it works without internet presumably? I am not sure how it could do better.

[2019-02-04 11:00] adamsitnik commented on #1047
Hi @CatGirlsAreLife

@danmosemsft is right, we need to do it only once in online mode, after that dotnet restore should be able to restore everything from the cache even in the offline mode

the workaround is to use our [InProcessToolchain](https://benchmarkdotnet.org/articles/configs/toolchains.html#sample-introinprocess) which does not generate new project but runs the benchmarks in the same pro

[2019-02-04 11:00] #1047 closed

[2019-02-04 12:39] adamsitnik commented on #1039
Fixed by #1042

[2019-02-04 12:39] #1039 closed

[2019-02-04 12:42] adamsitnik opened #1048 "Display the number of benchmarks to run"
A common feature request I got:

- before running the benchmarks, print the count
- after running for a given type, print how many are left

So I just added

[code]

and

[code]

[2019-02-04 12:43] #1048 closed

[2019-02-04 14:15] stephentoub commented on #919
Excellent. Thanks! When do we expect this version to be released?

[2019-02-04 14:23] adamsitnik commented on #919
@AndreyAkinshin is planning to release it this week

[2019-02-04 16:27] j-dc opened #1049 "Running the example throws NullReference"
I ran the example shown in the quickstart on beckmarkdotnet.org. And it throws a nullreference exception :'(

My  code:
[code]

The exception:

[code]
Bechmarkdotnet version: 0.11.3
.net framework 4.6.2

[2019-02-04 19:13] ig-sinicyn commented on #1039
@adamsitnik some tests still fail for debug builds, CanDisassembleInlinableBenchmarks as example. Is it ok?

[2019-02-04 19:31] CatGirlsAreLife commented on #1047
Alright thanks, oh and will benchmarking be affected if I did

[code]
or if I commit what I want (excluding benchmark generated files) and then pull and push the replayed commits?

[2019-02-05 15:32] adamsitnik opened #1051 "Something is wrong with our Ubuntu CI"
I have noticed that our Ubuntu CI is unstable.

From time to time it fails with an exception that seems to be "impossible".

Example: https://github.com/dotnet/BenchmarkDotNet/pull/1050/checks?check_run_id=59120862

[code]

Our code:

https://github.com/dotnet/BenchmarkDotNet/blob/f9c8cc5b835a3635adf1606440f10873015f5058/src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliCommand.cs#L139-L146

CoreF

[2019-02-05 16:58] adamsitnik commented on #1039
@ig-sinicyn in BDN we always do everything in Release, so honestly, I am not worried about the Debug builds. If you would like to make it work in Debug I would be very happy to review the PR :d

[2019-02-05 17:00] adamsitnik commented on #1049
Hi @j-dc

Thank you for the bug report. This is a duplicate of #1046 which has been solved in #912 and will be published to NuGet.org as part of 0.11.4 this week.

[2019-02-05 17:00] #1049 closed

[2019-02-05 17:03] adamsitnik commented on #1023
As discussed offline today with @JamesNK I would prefer not changing anything on BDN side and wait until dotnet cli makes the new `FrameworkReference` transitive.

I will keep this issue open until dotnet cli fixes it so ppl can google it.

[2019-02-06 06:01] adamsitnik commented on #1051
I updated the dotnet cli and removed the capacity for StringBuilders, but our tests can still run from 32minute (green) to 1.5h (red)

[2019-02-06 11:06] 0xd4d commented on #1051
You're looking at the wrong method, it's this one: https://github.com/dotnet/BenchmarkDotNet/blob/f9c8cc5b835a3635adf1606440f10873015f5058/src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliCommandExecutor.cs#L19-L55

It writes to the string builders asynchronously on a worker thread.

[2019-02-06 13:03] adamsitnik commented on #1051
@0xd4d thanks for pointing this out!!

[2019-02-07 05:44] #1051 closed

[2019-02-07 05:58] adamsitnik commented on #899
@0xd4d I saw that you also recommend disabling Tiered Compilation in your disassembler tool https://github.com/0xd4d/JitDasm#tips

Does ClrMD always report Tier 0 code even if the method got promoted to Tier 1 and re-compiled?

[2019-02-07 06:12] adamsitnik commented on #1047
@CatGirlsAreLife I think that as long as you don't add new NuGet dependencies it should be fine. The best way to test it would be to pull off the ethernet plug/disable wifi and give it a try. Personally, I perform such "test" before I fly anywhere to make sure I can do some coding on the plane.

[2019-02-07 06:15] kouvel commented on #899
Quite possibly, not sure what APIs it uses. Along the lines of my comments in https://github.com/dotnet/coreclr/issues/22123#issuecomment-460793768, when requesting "an" optimized version of code it probably would be appropriate to disable tiered compilation. It may be interesting to request code for specific tiers for an app that is running or from a process dump, but one would probably use sos f

[2019-02-07 06:38] adamsitnik commented on #899
@kouvel  we use `DataTarget` to attach to the process, then we search by type and method name. Once we have it, we use `ILOffsetMap` which contains the IL->native code adresses mapping and then `debugControl.Disassemble` to get the disassembly.

@kouvel is it possible that `ILOffsetMap` has an outdated native addresses after the method gets promoted to tier 1?

pseudo code:

[code]

the full code