[2013-10-01 15:53] mijay opened #1 "Missing final tick reporting"
I am using BenchmarkDotNet for very fast code blocks, so milliseconds precision is not enough for appropriate comparison in my case. Usually in such cases people use ticks for micro-benchmarks.

Now in BenchmarkDotNet you can get ticks statistics per-task if `DetailedMode` and `DefaultPrintBenchmarkBodyToConsole` are set. But unfortunately, it is quite hard to find that numbers in a bunch of text

[2013-10-01 16:28] mijay opened #2 "NUnit integration"
I personally very like BenchmarkDotNet. But when you compare it with other micro-benchmarking tools for .NET you can note that it misses one quite useful feature - declarative definitions of benchmarks, like in [pUnit](https://github.com/bbraithwaite/punit).

To address this issue I wrote a small class `CompetitionBase` which now allows me to define benchmark competitions as follows:

[code]

This

[2013-10-01 18:22] #1 closed, assigned to nobody

[2013-10-02 17:27] #2 closed, assigned to nobody

[2014-10-22 09:41] otto-gebb opened #4 "Cleanup is not done"
In the class `BenchmarkCompetitionTask` a call to `Initialize` is made, but a call to `Clean` is missing.

[2014-12-11 20:33] #4 closed, assigned to nobody

[2014-12-30 13:47] inTagger opened #5 "Parallel.For in benchmark"
When `Parallel.For()` is used in a benchmark, there is only 12% usage of 8x cores CPU by whole process, because of priority of the test thread which is set in `Prepare()` method: `Thread.CurrentThread.Priority = ThreadPriority.Highest`. Outside of a `Benchmark` `Parallel.For()` uses up to 100% of CPU on all cores.

[2015-05-16 00:16] mumusan opened #6 "Win32Exception when trying to benchmark"
After updating to 0.7.* having exception when launching benchmark.

http://i.imgur.com/3srpxqo.png

[2015-05-16 00:59] AndreyAkinshin commented on #6
I have [updated](https://github.com/mumusan/dotnetex/commit/f5545bc96998bcc8d33b80b1feda98e46980cb66) BenchmarkDotNet in [dotnetex](https://github.com/mumusan/dotnetex) to v0.7.4. Now it works fine on my computer. Please, check it.

[2015-05-16 01:14] mumusan commented on #6
Nope, continuing failing with same error. Tried as Admin, result the same.

[2015-05-16 01:19] AndreyAkinshin commented on #6
Do you have MSBuild in the `%PATH%` variable? If not, you should add it because BenchmarkDotNet use it for building each benchmark.

[2015-05-19 19:24] AndreyAkinshin commented on #6
Is it works now?

[2015-05-20 12:39] AndreyAkinshin opened #7 "Add Setup attribute"

[2015-05-20 12:40] AndreyAkinshin opened #8 "Add Params attribute"

[2015-06-04 10:55] danilanv commented on #6
Had the same issue, but hen added MSBuild to %PATH% the problem with Win32Exception disapeared, but now a ihave another problem: when i run benchmark a i have next error:
Target competition: Crc16Bench
// ***** Competition: Start   *****
// Found benchmarks:
//   Crc16Bench_Data4_Throughput_X64_CurrentJit_NET-Current -w=5 -t=10
//   Crc16Bench_Data4_Throughput_X86_CurrentJit_NET-Current -w=5 -t=10

[2015-06-05 09:00] damageboy commented on #6
Same here...

[2015-06-05 20:51] olsh commented on #6
@danilanv
You have to remove white spaces, cyrillic symbols etc. in the solution path.
I suppose [the second argument](https://github.com/PerfDotNet/BenchmarkDotNet/blob/641c95140834aa726c39b19bc98b932bd3abcb61/BenchmarkDotNet/BenchmarkProjectGenerator.cs#L25) should be enclosed in quotes.

[2015-06-07 10:22] damageboy commented on #6
@olsh @danilanv I solve my issue as well, for me it was actually the fact the benchmark class was an inner class, which caused BenchMarkDotNet to generate wierd class names with `+` in the class name...

[2015-06-08 14:35] azhmur opened #9 "TaskAttribute name is ambigous"
With System.Threading.Tasks.Task. Yes, we can use full name like [TaskAttribute] or [BenchmarkDotNet.Tasks.Task], but it maybe better to rename attribute to resolve this frequently occurring naming conflict.

[2015-06-08 19:13] redknightlois opened #10 "Error when executing: The system cannot find the file specified"
Check that the first time called the error is "The system cannot find the file specified" and the directory is created, but when run the second time the error is different and then the directory is deleted.

Available competitions:
  #0 Program

You should select the target benchmark. Please, print a number of a becnhmark (e.g. #0) or a benchmark caption:
#0

Target competition: Program
// ***** C

[2015-06-09 08:11] AndreyAkinshin commented on #6
@mumusan, @danilanv, @damageboy , @olsh
I have implemented new build system via API from the Microsoft.Build assembly. Please, check version 0.7.5.

[2015-06-09 08:14] AndreyAkinshin commented on #9
@azhmur Do you have any ideas about a better name for the `BenchmarkDotNet.Tasks.Task` class?

[2015-06-09 08:17] AndreyAkinshin commented on #10
@redknightlois, please, try new version of the library: v0.7.5

[2015-06-09 08:53] mattwarren commented on #9
What about `BenchmarkTask`, that should less ambigous

[2015-06-09 09:19] azhmur commented on #9
My idea was something like BenchmarkSuite, but BenchmarkTask is even better.

[2015-06-09 09:24] AndreyAkinshin commented on #9
@mattwarren, @azhmur, LGTM. I will change it in the next version.

[2015-06-09 19:29] redknightlois commented on #10
Now it works. Thanks.

[2015-06-09 19:29] #10 closed

[2015-06-10 05:22] danilanv commented on #6
version 0.7.5 - it works!

[2015-06-10 06:31] damageboy commented on #6
Same for me, nicer integration with Life(tm)

[2015-06-10 06:42] AndreyAkinshin commented on #6
@danilanv, @damageboy, great!

[2015-06-10 06:42] #6 closed

[2015-07-15 09:24] damageboy opened #14 "Add JIT benchmarks for struct promotion"
I'm actually thiking of doing this myself, but I thought I'd put it up here until I get to actually do it.

I'd like to verify the RyuJIT does indeed provide the optimization describes here:
[Lies, damn lies, and benchmarks...](http://blogs.msdn.com/b/clrcodegeneration/archive/2014/02/26/lies-damn-lies-and-benchmarks.aspx)

I'm referring namely to struct-promotion.

There's even a link to some cod

[2015-07-30 09:16] #9 closed

[2015-07-30 09:19] ppanyukov opened #16 "Reporting: better number display"
Probably minor.

This threw me off a little:

[code]

and then I realised the numbers are not aligned.

To make it easier to inspect the results, we can do a couple of things:

1. **Ops/sec**: thousand separators and fixed decimals (say 2).

    Effect of this:

[code]

2. **AvrTime** and **StdDev** is trickier, because I can see you use variable decimal precision depending on how small the value

[2015-07-30 09:20] azhmur commented on #9
Thanks, you library helped me greatly in researching what can be improved in .Net Tuple implementation.

https://github.com/azhmur/TupleBenchmark

[2015-07-30 09:22] AndreyAkinshin commented on #9
@azhmur, you are welcome!

[2015-07-30 09:34] AndreyAkinshin commented on #16
@ppanyukov, I totally agree, it is a good point.

[2015-07-30 09:58] AndreyAkinshin commented on #16
@ppanyukov, Can you make a PR with all formating improvements?

[2015-07-30 10:43] ppanyukov commented on #16
@AndreyAkinshin sure. Which approach for AvrTime and StdDev do you think would suite best? Obviously using the same precision is the quickest to do and also the most orthodox.

[2015-07-30 10:46] AndreyAkinshin commented on #16
@ppanyukov, yes, the same precision is a good choice.

[2015-07-30 15:00] AndreyAkinshin commented on #16
What are you think about the following idea: set the same time unit for AvrTime and StdDev?

[2015-07-30 15:18] ppanyukov commented on #16
Do you mean so that we ensure that each column always has the same time unit ? E.g.

Instead of potentially having something like this (mixed `ms` and `ns`):

[code]

To instead have this:

[code]

If this is what you mean, would be nice. Anything which makes it easier to understand the results and harder to misinterpret is a good thing in my book.

The whole reporting is a large area -- some peop

[2015-07-30 15:40] AndreyAkinshin commented on #16
Yep. In addition I want something like this

[code]
instead of
[code]

What do you think?

It is a good point. I think, the reporting part is very important. BenchmarkDotNet users should easily understand benchmarks results.

It is a good point too. I will do it in the nearest future.

[2015-07-30 15:49] ppanyukov commented on #16
Oh yes, across columns too of course.

OK, let me play around with BenchmarkDotNet a bit more.  I wanted to incorporate some of the my own benchmarks I have into this and see which tool reports what.

I will probably have a deeper look into the reporting after this.  I have some ideas what might be of interest and useful on the reporting side.

[2015-07-30 16:01] AndreyAkinshin commented on #16
@ppanyukov, It would be great. PRs are welcome!

[2015-07-30 16:13] ppanyukov commented on #16
And I had a question. What's all this logic around `areSame`? Not entirely very obvious to me.

![screen shot 2015-07-30 at 17 01 30](https://cloud.githubusercontent.com/assets/300031/8988467/312a7934-36de-11e5-998a-c0da36b2852d.png)

[2015-07-30 16:31] AndreyAkinshin commented on #16
It code needs some refactoring =)

We have big amount of different parameters for each benchmark: Platform, Jit, Framework, and so on. However, some parameters have the same value for each benchmark. For example, if all of our benchmark have the same value of Jit, I mark the corresponded column with `areSame[colIndex] = true` (here `colIndex` is the index of the Jit column), print it once before t

[2015-07-30 16:56] ppanyukov commented on #16
Makes perfect sense now. I will definitely refactor as part of "look into reporting". Leave it with me. I may need to ask you more questions, hope not too many.

[2015-07-30 16:57] AndreyAkinshin commented on #16
Feel free to ask any questions and thank you for your contribution.

[2015-07-31 13:23] ppanyukov opened #19 "Discussion: Reporting requirements"
(Don't know if this is the best place/way to talk about it but lets do this for a start. Perhaps wiki or something else might be better?)

Let's have a place to collect and discuss our requirements for reporting.  This will drive whatever dev work we need to do to get these done. Feel free to edit / comment etc.

One thing is certain: there are different use case which may require different kind o

[2015-07-31 21:56] AndreyAkinshin commented on #19
@ppanyukov, thank you for your ideas. Of course, all kind of reporting are important. However, just for now I suggest to focus on ad-hoc runs for visual inspection of results, it is the most actual problem. After that, we can think in detail about export formats.

[2015-08-01 12:24] ppanyukov commented on #19
Yes I agree. We (or rather I) will improve the adhoc first :)

These are from the use cases I have in real life and are here to keep the big picture in mind and understand why certain reports need to have different formatting requirements. For example, why number alignment and using the same units in ad-hoc is important.

[2015-08-01 19:25] anykeysas opened #20 "Поддержка Roslyn Analysis ?"
А есть ли возможность использовав анализатор  выражений Roslyn автоматом обвязывать код тестируемого приложения бенчмарками?
Вообще насколько была бы полезной такая фича?

[2015-08-01 19:29] AndreyAkinshin commented on #20
Не совсем понял вашу идею. Можете привести пример?

[2015-08-01 19:43] anykeysas commented on #20
Пример :
Хочу провести бенчмарк по методу во всех имплементирующих классах в проекте(более 20). С помощью Roslyn можно найти все такие методы. Но в разное время приходиться тестировать разные классы и интерфейсы поэтому написание такого кода начинает становиться рутиной. Или логичнее это все уносить в Unit Test'ы ?

[2015-08-01 20:16] AndreyAkinshin commented on #20
Мне думается, что вы описываете очень частный случай, не очень представляю, как тут можно сделать универсальное решение. Скоро в BenchmarkDotNet появится параметризация (#8), на её основе с помощью рефлексии вашу идею можно будет реализовать в несколько строк.
По поводу запихивания бенчмарков в юнит-тесты тоже смысла не вижу: что в таких тестах будет проверяться?

[2015-08-01 20:35] anykeysas commented on #20
Ждем параметризацию)))
В тестах будет проверяться скорость приложения в динамике разработки. т.е. обычно при первой реализации фич быстродействие куска кода проверяется, но затем после многочисленных фиксов и улучшений может получиться что производительность упала по сравнению с первоначальной реализацией, хотелось бы наверное наблюдать такие провалы производительности в ходе развития проекта.

[2015-08-01 21:31] AndreyAkinshin commented on #20
Ваше желание понятно, но хочу сразу предостеречь, что к такому подходу нужно относиться очень аккуратно. Подобный анализ стоит проводить только в рамках одной машины (очевидно, что на разных машинах результаты могут значительно отличаться) + при отсутствии сторонних процессов. Скажем, если у вас на билд-сервере параллельно бенчмарку запуститься какая-нибудь другая задача, то результаты могут исказ

[2015-08-03 15:02] mattwarren commented on #16
------- |----------- |
 Sqrt13 | 60.7802 ns |
 Sqrt14 |  1.6146 ms |
To instead have this:

------- |-------------- |
 Sqrt13 |    60.7802 ns |
 Sqrt14 | 1,614.6000 ns |

This has caught me out a few times and I agree that it needs to be consistent, i.e. all "ms" or all "ns".

But maybe there could also be a command line switch to control it, i.e. you could specify `-scale=ns` or `-scale=ms` and h

[2015-08-03 15:05] mattwarren commented on #20
@AndreyAkinshin any chance of a rough translation of this thread? I've done some work with Roslyn and this looks interesting, but Google Translate does do a great job

Or is it all solved by #8, which I *will* get round to soon, promise!

[2015-08-03 15:08] AndreyAkinshin commented on #16
@mattwarren, I think, the consistent measure units should be the default option. However, I have no objection against the use of some additional command line arguments for customization.

[2015-08-03 15:10] mattwarren commented on #19
I agree with all the comments above, basically get 1 (Ad-hoc runs for visual inspection of results) sorted out first and then do 2 (Spreadsheet analytics) and 3 (Fully automated runs, dashboards etc)

The majoriy of work needed for 2 and 3 can be handled by allowing the results from a command line run to be exported to `.csv`, `.json` and/or `.xml`

[2015-08-03 15:11] mattwarren commented on #19
For this, maybe there could be a mode where the results are sorted, faster -> slowest, rather than in alphabetical order?

[2015-08-03 15:15] AndreyAkinshin commented on #20
@mattwarren,
@anykeysas describes a BenchmarkDotNet use case and suggests to use Roslyn Analysis for that. But I think that he can solve his issue with help of parametrization without any dependencies to the Roslyn Analysis in the library.

[2015-08-03 15:18] AndreyAkinshin commented on #19
@mattwarren,

It is a good point, but I think that we should use the alphabetical order as a default because it allows to easily compare results in different environments. However, it would be great to create a command line argument for different display orders.

[2015-08-03 15:20] mattwarren commented on #20
That's cool, thanks for the info. Yeah, as we discussed before using Roslyn has some benefits, but it's also a limitation because you need .NET 4.5 installed

[2015-08-03 15:24] mattwarren commented on #16
@AndreyAkinshin yeah I wasn't clear, I agree that consistent measure units should be the default, but having a switch that allows **all** results to be in another (single) unit would be nice.

The only issue with *consistent measure units* is what unit to choose? Probably `ns` (considering the type of micro-benchmarks most people do), but it might need to be a bit more intelligent than that.

[2015-08-03 15:24] mattwarren commented on #19
yeah that makes sense

[2015-08-03 15:28] AndreyAkinshin commented on #16
@mattwarren, I think, that we should automatically choose the best measure unit which is the best for maximum measure time across all benchmarks.

[2015-08-03 15:38] ppanyukov commented on #16
Current idea for implementation:

- go through all measurements
- pick the smallest measurement
- see which unit to report this smallest measurement as per current logic
- use that unit for all other measurements.

This way we pick the largest unit which can still report the smallest measurement reliably without loss of precision.

Hope this makes sense?

Perhaps there are other ideas too.

[2015-08-03 15:44] AndreyAkinshin commented on #16
@ppanyukov, yes, it makes sense, let's try.

[2015-08-03 17:32] ppanyukov commented on #16
So I did this in a quick and dirty-ish way just to see how this is going to look if we used the same time unit across both `AvrTime` and `StdDev`.   And results are:

[code]

I'm not convinced :)

The fact that `StdDev` can in fact be very small may really ruin the usefulness of the `AvrTime`.

Perhaps just making sure it's the same time unit within one column would work better.

Thoughts?

[2015-08-03 17:36] AndreyAkinshin commented on #16
@ppanyukov, I think, in this case, we should print something like the following:
[code]
You should use only the `AvtTime` column for choosing primary time unit.

[2015-08-03 17:57] ppanyukov commented on #16
Makes sense.

And if the StdDev happens to be smaller that 1/1000 of the primary unit (and displays 0.0000), we probably don't care much. Correct?

Sent from my iPhone

[2015-08-03 18:16] AndreyAkinshin commented on #16
@ppanyukov, Yep, because we assume that the minimum `AvrTime` is greater than one primary unit.

[2015-08-04 12:00] ppanyukov commented on #16
Almost done.  Running a special formatting benchmark gives me this:

[code]

Looks pretty good to me.

If everyone is happy, PR will be on the way shortly.

[2015-08-04 12:18] AndreyAkinshin commented on #16
LGTM

[2015-08-04 13:19] mattwarren commented on #16
LGTM

[2015-08-04 16:49] mattwarren opened #22 "Displaying MSBuild output"
A few times I've run into issues where the MSBuild task doesn't work and `// OveralResult = Failure` is printed. I'll post a separate issue for the exact problem, but I wondered if having a cut-down version of the MSBuild output is valuable? This would help diagnose why the build is failing, otherwise it's not obvious.

With a bit of playing around I've been able to get something like this working

[2015-08-04 17:00] mattwarren opened #23 "Integration Tests"
@AndreyAkinshin as part of the work I'm doing on #7 and #8, I've been thinking about how best to port of the Integration Tests that I did in my own library (before we collaborated).

You can see [an example here](https://github.com/minibench/minibench.warren/blob/master/IntegrationTests/Features/SetupTest.cs#L17-L49), but the basic idea is that they do the following:
- Run as a regular unit test,

[2015-08-05 20:50] AndreyAkinshin commented on #23
@mattwarren, integration tests for out-of-main-process logic is a hard issue. My suggestion is the following: as you can see, the target benchmark process prints some comment line (`// `) to the console. You can print here any useful information and parse it in your integration tests. Be careful: non-comment lines are intended only for target runs, it should be parsed from the main process.
If you

[2015-08-05 20:52] AndreyAkinshin commented on #22
I think, we should print only build errors by default. Also we can print warnings in a special detail mode (see https://github.com/PerfDotNet/BenchmarkDotNet/issues/23#issuecomment-128143734).

[2015-08-07 11:33] ppanyukov opened #25 "Something isn't right with metrics"
So I've been running the `Math_DoubleSqrtAvx` as a matter of course and I noticed something very strange started to happen on my machine -- the metrics are completely wrong.

I think this was introduced in https://github.com/PerfDotNet/BenchmarkDotNet/commit/66cce477d016979cde3203d5f7125710cffdf4a4.

Example:

Running with https://github.com/PerfDotNet/BenchmarkDotNet/commit/52acca1c5cc0cf7eb408c8

[2015-08-07 15:32] AndreyAkinshin commented on #25
It is a good commit. BenchmarkDotNet assumes that time of a method like `int Foo() { return const; }` is equal to zero (you don't need a time to compute a const). In fact, `Sqrt14` is a method of such kind (see this post: [RyuJIT RC and constant folding](http://aakinshin.net/en/blog/dotnet/ryujit-rc-and-constant-folding/)). Thus, `0 ns` is the right answer for `Sqrt14`.
I have another question: wh

[2015-08-07 16:52] ppanyukov commented on #25
Ah yes, I didn't read that post carefully enough. So basically the jitter calculated those sqrt's at jit time and reduced everything to returning a constant expression, and thus what we have here is effectively noop, correct?

It looks very strange though.

Don't know what to do with things like that.  Perhaps if it's just one isolated case then leave it be.

[2015-08-07 17:00] ppanyukov commented on #25
And a quick question. What exactly do you do to generate the ASM listing?

[2015-08-07 21:55] AndreyAkinshin commented on #25
VisualStudio Debugger + Disassembly Window; WinDbg; CoreCLR + COMPLUS_JitDisasm=*

[2015-08-07 22:13] ppanyukov commented on #25
I know about all of these except the Core CLR one and that's the one I'm interested in :)

When you say "CoreCLR + COMPLUS_JitDisasm=*" what exactly does this mean?

Sent from my iPhone

[2015-08-07 22:20] AndreyAkinshin commented on #25
1. Build [CoreCLR](https://github.com/dotnet/coreclr) in Debug mode (command `build clean`).
2. Set environment variable `COMPLUS_JitDump`={method-list} (see [ryujit-overview.md](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-overview.md))
3. Run your exe file with help of `CoreRun.exe`, asm listing will be printed to the console.

[2015-08-07 22:52] ppanyukov commented on #25
Awesome. Thanks for this. You should write a blog post about it. I'm serious.

Sent from my iPhone

[2015-08-07 22:56] AndreyAkinshin commented on #25
Ok =)

[2015-09-01 13:07] #7 closed

[2015-09-01 15:09] #25 closed

[2015-09-01 15:10] #16 closed

[2015-09-01 15:11] AndreyAkinshin commented on #19
@ppanyukov, @mattwarren, I have committed some stuff for the future reporting system, see https://github.com/PerfDotNet/BenchmarkDotNet/commit/e5f7484f4d0f7acd9a23d91cbcc6615c8fa8154b What do you think?

[2015-09-01 22:50] mattwarren commented on #8
Quick question, if you have the following code:

[code]

##### Option 1
Should a single benchmark be generated with a `Program.cs` that looks something like this (i.e. with multiple different runs within a single execution):
[code]

##### Option 2
Or should it produce a single Benchmark per param, i.e. you would end up with a `Program.cs` that looks like this (and another with `instance.SomeValue

[2015-09-01 22:52] mattwarren commented on #19
I just had a quick look at the code, looks good.

It's a nice way of seperating out the different behaviours `csv`, `markdown` etc. Should make it nice and easy to extend it in the future, for instance `json`

Will it be a configurable via a command-line argument?

[2015-09-01 22:58] mattwarren commented on #23
@AndreyAkinshin one question, at the moment the integration tests take ~30 secs, due to the different warn-up runs, see sample output below.

Is it a bad idea to allow the integration tests to skip `pre-warmup` and `warmup` runs? I know that they should be enforced for real benchmarks, so I don't want to expose any options that could break correctness.

But it would be better if the integration te

[2015-09-02 09:11] mattwarren opened #27 "Command line argument handling"
@AndreyAkinshin

I imagine that over time we're going to need more and more command line switches for different modes.

So that everything is handled in a clean way I propose that we use [Mono.Options](http://tirania.org/blog/archive/2008/Oct-14.html), it's main advantage is that it's a [single file](https://github.com/mono/mono/blob/master/mcs/class/Mono.Options/Mono.Options/Options.cs) that can

[2015-09-02 10:51] mattwarren opened #28 "Support Benchmarks running under .NET 3.5"
From email conversation:

In this case, we can use .NET 4.5 for main BenchmarkDotNet assembly and for unit tests (if somebody wants to run benchmark on WinXP, he can generate that benchmark on Win7+ and copy it to WinXP).

[2015-09-02 11:08] mattwarren opened #29 "Change layout of the BenchmarkDotNet.Samples"
I just wanted to check there was no objections before I went ahead and did this.

As the amount of samples have grown, they have got a bit unwieldy to work with in VS, I propose the layout be changed to :

![image](https://cloud.githubusercontent.com/assets/157298/9629517/211d25b2-516b-11e5-9759-b6a78716bf54.png)

So that samples are grouped into categories.

No files names will be changed, just l

[2015-09-02 11:21] AndreyAkinshin commented on #29
Yes, it is ok. Don't forget to change reference to the samples from BenchmarkDotNet.Visualizer (and it will be cool if you add some csproj magic that will automatically add all the samples to Visualizer).

[2015-09-02 11:25] AndreyAkinshin commented on #27
I suggest to use [CommandLineParser](https://www.nuget.org/packages/CommandLineParser). It is a very popular library, it is easy to use, and it is actively developed.

[2015-09-02 11:27] AndreyAkinshin commented on #23
It is a good idea. In fact, you don't need warmups unless you test warmups or you test some specific benchmark effects that requires warmup.

[2015-09-02 11:33] AndreyAkinshin commented on #8
In the Option 1, the benchmarks will be incorrect, you can't do it. On the other hand, Option 2 looks awkward: I don't want to create a separate project per param.

My suggestion is the following: what if we create a single project that take the parameters from command line args (maybe with some default values)?

[2015-09-02 12:41] AndreyAkinshin commented on #19
Yep, I will add the configuration support soon.

[2015-09-02 13:27] mattwarren commented on #29
Okay, done and pushed, you might want to pull down the changes sooner rather than later, to stop you having merge headaches. I tried to make sure that the changes show up as renames (rather than delete/add), but still.

I'll have a think about it. But you've already used the only trick I know for this type of thing, i.e. adding files as "links".

[2015-09-02 13:29] AndreyAkinshin commented on #29
Ok, I will do it myself. There is a special wildcards magic, but it is very hard to use it.

[2015-09-02 15:24] mattwarren commented on #8
Just so I understand what you mean, we will have a single project, that then spawns a new process for each parameter, is that correct?

At the moment BenchmarkDotNet.exe itself compiles and spans a new process. After these changes BenchmarkDotNet.exe will still compile/spawn a single process, but that process will then spawn another process (1 per param) in which the actual benchmark is executed,

[2015-09-02 15:29] mattwarren commented on #27
Okay, I'll take a look at CommandLineParser.

Do you know if it can be *embedded* in BenchmarkDotNet.dll, so that we can keep out 3rd party dll dependencies to a minimum, or are you not so worried about that?

[2015-09-02 15:32] AndreyAkinshin commented on #8
Yep. But «for each parameter set», not «for each parameter» (we can have several Params attirbute).

We don't have BenchmarkDotNet.exe, we have only BenchmarkDotNet.dll. Maybe BenchmarkDotNet.Samples.exe (or any other executable assembly that uses BenchmarkDotNet).

Look, now we have the following scheme:
1. BenchmarkDotNet takes some class (e.g. MyBenchmark) and generates new project (e.g. MyBenc

[2015-09-02 15:34] AndreyAkinshin commented on #27
I am not worried about that. I think, it is ok, if we will have some references to useful NuGet packages.

[2015-09-02 16:24] mattwarren commented on #27
Okay maybe I'm mis-understanding the expected usage/flow.

Do you think there is a case for people who want a self-contained .exe that has all their Benchmarks compiled into it (similar to BenchmarkDotNet.Samples.exe). They would then put this on another machine and run several different command lines as part of an automated build (for instance).

Do you mean that CommandLineParser becomes a depen

[2015-09-02 16:34] mattwarren commented on #23
Actually I realised that I can do it with the existing functionality, now all integration tests have this on them (before I wasn't setting the mode, so it was defaulting to `BenchmarkMode.Throughput`):

[code]
and they all run pretty quick

The output is now the following
[code]

[2015-09-02 16:36] #23 closed

[2015-09-02 16:38] #22 closed

[2015-09-02 17:04] AndreyAkinshin commented on #27
Why do you need a self-contained .exe? I think, it is ok to copy an .exe file with some additional dlls.

They can do it, no problem. However, there is one restriction: we should target BenchmarkDotNet.Samples.exe to .NET 4.0 (WinXP requires it). CommandLineParser works with .NET 4.0, so, it is not a problem.

The default behavior is the following: if we install CommandLineParser via Nuget for Ben

[2015-09-02 23:05] ppanyukov commented on #19
I had a look at the change on my phone :)

Broadly looks fine to me, with a couple of comments:

- obviously, as was already mentioned, some command line options to specify output type(s) would be nice;

- I understand that csv and md outputs are currently created regardless. Obvious concern is not everybody would want it. More subtly the whole thing may fail after running the for a while if there

[2015-09-02 23:31] AndreyAkinshin commented on #19
Ok, it will be done.

Then we have a problem: BenchmarkDotNet generates whole projects and compiles it. Regardless defaults, command line args is a good idea.

[2015-09-03 00:18] ppanyukov commented on #19
Ah ok, ignore the permissions bit then. Although with users being able to specify arbitrary output paths the problem may return. A minor issue in the grand scheme of things.

Sent from my iPhone

[2015-09-09 09:02] mattwarren opened #30 "Better information when we haven't got a valid measurement"
From an email exchange:

If you have an operation that takes 400ns, we can measure it with good precision. If an operation takes 15–40ns, we also can measure it thanks to a large amount of iterations. However, if operation takes 1–2ns (a few CPU cycles), it is almost impossible to measure it.

Currently the best approach seems to be:
- print `?` instead of numbers if `AvtTime` is < 10 ns
- print a

[2015-09-09 09:19] mattwarren opened #31 "Inject helper classes into the [Benchmark] method"
Several times when writing a benchmark I've needed to have access to a different value/counter each time it's executed. So that I can ensure I'm accessing different array locations (to prevent caching) or as an attempt to defeat [constant folding](http://aakinshin.net/en/blog/dotnet/ryujit-rc-and-constant-folding/).

For instance rather than writing:

[code]

I do:

[code]

I wonder if instead of

[2015-09-09 15:03] AndreyAkinshin commented on #31
I like this idea. Moreover, we can combine `BenchmarkInfo` with `BlackHole` from JMH and write an universal helper for our benchmark methods. I just have a few of important notes:
1. It should be a struct, `Counter` should be a public field of this struct.
2. If a target method has our magical argument, the corresponding `Idle` method also should has this argument.
3. We should carefully check tha

[2015-09-09 15:15] mattwarren commented on #31
Sound good, I especially agree on 3), have you seen what magic tricks JMH does in [IterationParams](http://hg.openjdk.java.net/code-tools/jmh/file/0879b862a1a3/jmh-core/src/main/java/org/openjdk/jmh/infra/IterationParams.java)? I know a lot of it is due to false-sharing, so it only needed by multi-threaded benchmarks, but still!

Do you want them all in one class and have a general struct that con

[2015-09-09 15:22] AndreyAkinshin commented on #31
I want a single struct for all tasks. Also we can implement `Consume` as an extension method for .NET3.5+ projects (see https://github.com/minibench/minibench.skeet/blob/master/src/Minibench.Demo/MathBenchmarks.cs).

[2015-09-09 15:29] mattwarren commented on #31
Okay, I'll start with (or do you want another name?)

[code]

However if I use fields, what's to stop the user of it changing the values and messing up the benchmarks, i.e

[code]

[2015-09-09 15:31] AndreyAkinshin commented on #31
Don't worry about it, we will reset the value for each iteration.

P. S. Yes, I want another name, but I don't know a good one. =)

[2015-09-09 15:34] mattwarren commented on #31
oh yeah, good point

I'll keep thinking :-)

[2015-09-09 15:37] mattwarren commented on #30
If it helps, this is the benchmark I was using when I ran into the issue. I guess it could be used as a test-case or sample if you want?

[code]

[2015-09-09 16:13] AndreyAkinshin commented on #30
Yes, thanks.

[2015-09-09 17:19] mattwarren commented on #8
Woot, we have parametrised benchmarks!!

![image](https://cloud.githubusercontent.com/assets/157298/9768840/3cd84eae-571e-11e5-8152-2094ce102d4a.png)

[2015-09-09 17:22] AndreyAkinshin commented on #8
Hooray!

[2015-09-09 17:35] mattwarren commented on #8
yeah it took a while longer that expected, but I think it's a nice feature

[2015-09-10 09:04] AndreyAkinshin commented on #8
Also we can think about nice plots for the results:

![plot](https://cloud.githubusercontent.com/assets/2259237/9784434/d8d24374-57b3-11e5-9d83-1f78254aebcb.png)

[code]

         Method | Param |         AvrTime |         StdDev |          op/s |
--------------- |------ |---------------- |--------------- |-------------- |
      GetSquare |    10 |      12.5370 ns |      0.4266 ns | 79,764,128.15

[2015-09-10 09:40] mattwarren commented on #8
Nice, how are you generating that graph, it looks way better than an excel graph?

BTW this is pretty useful because it shows that our Benchmark gives the same result as the original [hand-written one](http://blogs.microsoft.co.il/sasha/2013/10/17/on-stackalloc-performance-and-the-large-object-heap/). If you compare the graph from the blog post (below) with your one, they look the same!

![image](

[2015-09-10 10:09] AndreyAkinshin commented on #8
I wrote small R-script:

[code]

[2015-09-10 11:29] mattwarren commented on #8
cool, R has been on my list of things to look at for a while.

Maybe we could integrate it with BenchmarkDotNet so you could automatically get graphs (as well as .csv/.json)?

[2015-09-10 11:49] AndreyAkinshin commented on #8
Yes, it is my plan =)

[2015-09-11 09:01] mattwarren opened #33 "BenchmarkDotNet Out-of-box experience and "getting started" documentation"
I just wanted to put together a list of things that I *think* could be done to make it easier for new users to get started with BenchmarkDotNet.

- [X] *Getting started* guide on the github repo
  - at the moment the front page mostly covers "*Why is microbenchmarking hard?*", which is really valuable, but I think it should be put elsewhere and linked to.
  - I think the first thing people should

[2015-09-11 14:35] AndreyAkinshin commented on #33
“Getting started” is a great idea, we definitely should have such section.
We can replace "Why is microbenchmarking hard?" with the link to http://andreyakinshin.gitbooks.io/performancebookdotnet/content/science/microbenchmarking.html

[2015-09-17 15:16] AndreyAkinshin commented on #33
@mattwarren, I have updated the [README](https://github.com/PerfDotNet/BenchmarkDotNet). What do you think?

[2015-10-07 15:09] redknightlois opened #36 "Params results should be grouped together"
Currently when using Params will group the results first by benchmark function, and then by size. Given that the usage of Params is usually to benchmark the same implementation along the size axis, it would make more sense to group by size first and then by benchmark function to allow better comparisons.

[2015-10-07 15:11] redknightlois opened #37 "Params should provide the ability to use an IEnumerable (á la xUnit Theories)"
This is important, because sometimes we need to be able to build huge lists or objects that cannot be expressed as constants.

[2015-10-07 16:15] redknightlois opened #38 "Support for initialization of parameter size."
Currently this pattern is not supported.

[code]

[2015-10-09 09:59] mattwarren commented on #38
Not sure I'm following this one, why not just write:

[code]

[2015-10-09 10:16] mattwarren commented on #37
yeah, I need to give `[Params]` a bit more love, it's too basic at the moment, but I just wanted to get something out there.

I agree, do you mean something like this:

[code]

also I was thinking of adding this, what do you think?

[code]
which would basically do the following:
[code]

[2015-10-09 12:31] redknightlois commented on #37
I would go with a simplier interface with a method that returns ```IEnumerable<T>``` but yeah, that's the idea.

With ParamsWithSteps I would go further and support inheritance and provide a few examples like:

```[ParamsWithStep(start: 1, end: 1000, step: 10, inclusive: true)```
```[ParamsQuadratic(start: 1, end: 1000, inclusive: false)```
```[ParamsPowerOf(start: 1, end: 1024, power: 2, inclusiv

[2015-10-09 12:35] redknightlois commented on #38
The problem is this:

[code]

Because then the code for the test will look like:
[code]
Therefore, we are adding the benchmark a comparison and a jump that are not part of the function but a requirement for the infrastructure.

[2015-10-09 12:41] AndreyAkinshin commented on #38
@redknightlois, we have the [Setup](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/SetupAttribute.cs) attribute for initializing. It should run once before the main benchmark iterations.
@mattwarren, does `Setup` works correctly with `Params`?

[2015-10-09 12:41] mattwarren commented on #38
You can use the `[Setup]` method to do this, i.e.

[code]

Or am I mis-understanding what you are trying to do?

[2015-10-09 12:41] mattwarren commented on #38
Good question, I'll try it out

[2015-10-09 12:43] redknightlois commented on #38
Didn't know that. That would be what we need if the initialization of params happens before setup. Probably making it more visible in the docs?

[2015-10-09 12:44] mattwarren commented on #37
Yeah I agree, I've just seen that XUnit simplified everything, so you can now support method/fields or classes via `[MemberData(..)]`, see https://xunit.codeplex.com/SourceControl/changeset/628af664e521543c2c9d712b45d0d870f2a84d26

Nice idea, I'd not thought about Quadratic/PowerOf

[2015-10-09 12:54] mattwarren commented on #38
I just checked the code and `[Params]` and `[Setup]` should play nicely together.

The `[Params]` field/property is set before the `[Setup]` and `[Benchmark]` method are run, so they both get the same value.

[2015-10-15 08:02] constructor-igor opened #39 "Solution cannot be built"
I downloaded sources of BenchmarkDotNet and tried to compile the solution.
VS2013 shows next error (for BenchmarkDotNet project)
[code]
Rebuild all shows next output:
[code]

[2015-10-15 08:02] constructor-igor opened #40 "Please, could you add batch file for console compilation of the solution"
Please, could you add batch file for console compilation of the solution

[2015-10-15 08:03] hmemcpy commented on #39
From the error, I'm guessing it needs C# 6, so you need to use VS2015 or msbuild 2015 tools to build it.

[2015-10-15 08:11] AndreyAkinshin commented on #39
@hmemcpy, you are right, source code requires VS2015.

[2015-10-15 08:29] constructor-igor opened #41 "Seems, not supported "sub-folder""
My binaries folder has next structure:
[code]

I added test in TestProject
[code]
and found next problem:
folder <root>\Compilation\BenchmarkTests_ByDoubleReader_Throughput_HostPlatform_HostJit_NET-HostFramework
doesn't contain subfolder Common and "benchmark" cannot be loaded

[2015-10-15 08:41] constructor-igor commented on #39
probably, add the information in readme.md file.
thank you.

[2015-10-15 08:41] #39 closed

[2015-10-17 10:41] AndreyAkinshin commented on #41
@constructor-igor, I'm not completely understand your situation. Can you share a minimal reproducible example?

[2015-10-18 06:08] constructor-igor commented on #41
@AndreyAkinshin I'll try to prepare the sample.
Main idea: binary folder contains subfolder and test project has reference to other binaries from the subfolder.

[2015-10-18 06:44] constructor-igor commented on #41
https://github.com/constructor-igor/TechSugar/tree/master/BenchmarkingLab/BenchmarkDotNet
working sample: BenchmarkWorkingSample
problem sample: BenchmarkProblemSample

[2015-10-20 09:38] thomaslevesque opened #42 "Generated code fails to build"
I tried to run a small benchmark from LINQPad, and the generated code fails to compile:
[code]

This is caused by the empty `using` clause on line 7

[2015-10-20 09:41] AndreyAkinshin commented on #42
@thomaslevesque, can you share a repro for the issue?

[2015-10-20 09:42] thomaslevesque commented on #42
I think this is because LINQPad's UserQuery class is not in a namespace, but [the template expects a namespace](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Templates/BenchmarkProgram.txt#L7).

[2015-10-20 09:44] thomaslevesque commented on #42
@AndreyAkinshin, just try to create *any* benchmark in LINQPad. Given the cause of the issue, I'm pretty sure it can be reproduced every time.

[2015-10-20 11:53] thomaslevesque commented on #42
OK, I just tried to fix the code to handle this case, but there's another issue. BenchmarkDotNet seems to assume that all required assemblies are in the working directory, but it's not necessarily the case. In fact, it's definitely not the case when running a LinqPad query.

[2015-10-20 12:24] AndreyAkinshin commented on #42
@thomaslevesque, ok, thanks for the investigation, I will try to fix it.

[2015-11-05 12:54] HellBrick opened #44 "Add support for benchmarking methods of generic classes"
At the moment `BenchmarkRunner` throws `InvalidOperationException` if the class that contains the benchmarked methods is generic. Unfortunately, it cripples code reuse if you want to create separate benchmarks for some generic method by using it with different type arguments. Here's an example of what I'd like to achieve:

[code]

Unless there's a compelling technical reason to prohibit similar sc

[2015-11-06 08:49] AndreyAkinshin commented on #44
Thanks for the report, I will investigate the issue.

[2015-11-06 21:40] smudge202 commented on #33
My thoughts on getting started (and apologies if I didn't follow the readme correctly:

![benchmarkdotnet](https://cloud.githubusercontent.com/assets/2247869/11009447/ecb2c9f2-84ce-11e5-804d-60e1941df9c9.PNG)

[2015-11-11 18:05] mattwarren commented on #33
@smudge202 how exactly are you executing the tests?

From reading [this comment](https://github.com/clean-development/engine/issues/16#issuecomment-154550609) I assume that you are using DNX, is that right?

@AndreyAkinshin has only recently [added support for CoreCLR](https://github.com/PerfDotNet/BenchmarkDotNet/pull/43#issuecomment-151664639), so maybe this is related

[2015-11-11 18:18] mattwarren commented on #42
@thomaslevesque I'm just taking a look at this, sorry for the delay.

Just to make sure I'm testing in the same way as you, in LINQPad I assume you have your Benchmark setup something like this (sorry, I'm no LINQPad expert, so I don't know if this is the natural way to do it or not)?

![image](https://cloud.githubusercontent.com/assets/157298/11098988/894ea69e-88a0-11e5-811a-b3d6a23efb39.png)

![

[2015-11-11 18:19] AndreyAkinshin commented on #33
The CoreCLR support will be added after [Microsoft Connect(); 2015](http://connect2015.visualstudio.com/), I'm waiting for some updates. =)

[2015-11-11 18:20] mattwarren commented on #42
Either way, I see the same problem, here's my output:

[code]

[2015-11-11 18:34] mattwarren commented on #33
Do you know if the issue that @smudge202 is getting is related to DNX/CoreCLR support?

Or do you think it's a general problem because his Benchmark look like this:

[code]
and we don't currently support that type of Benchmark?

[2015-11-11 18:49] thomaslevesque commented on #42
Yes (assuming you also have a Main method that's not visible in your screenshot)

The namespace issue is easy to fix. To fix the missing assembly issue, I think the referenced assemblies will have to be copied.

[2015-11-11 21:08] smudge202 commented on #33
As per the comment you referenced, @mattwarren , I'm fairly sure it'll be a DNX incompatibility. Unfortunately, the NuGet package doesn't list supported frameworks.

[2015-11-11 23:30] mattwarren commented on #42
I just checked in a fix that does exactly this, when you get a chance can you try it out?

[2015-11-11 23:57] #40 closed

[2015-11-11 23:59] mattwarren commented on #40
This is done, when you get a chance could you try it out?

It created a file called `BuildBenchmark.bat` with the following contents:

[code]

[2015-11-12 00:00] #8 closed

[2015-11-12 00:19] mattwarren commented on #41
I'll take a look at this, I think it's similar to #42

[2015-11-12 08:51] thomaslevesque commented on #42
Sure, I'll do this ASAP. Is there a pre-release NuGet package available with the fix, or do I have to build it from source?

[2015-11-12 08:54] AndreyAkinshin commented on #42
@thomaslevesque, for now you should build it from source (VisualStudio 2015 is required).

[2015-11-12 09:58] thomaslevesque commented on #42
It works fine now :+1:

[2015-11-12 10:08] AndreyAkinshin commented on #42
@thomaslevesque, cool! I will update the NuGet package on the weekend.

[2015-11-12 14:39] #42 closed

[2015-11-12 14:40] mattwarren commented on #42
@thomaslevesque thanks for confirming the fix

[2015-11-12 16:45] mattwarren commented on #38
@redknightlois

Finally done, see the new section in the docs [**Advanced Features**](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/README.md#advanced-features)

[2015-11-12 16:45] #38 closed

[2015-11-12 16:48] #20 closed

[2015-11-12 17:37] mattwarren commented on #41
Okay, I've looked at this a bit more and I've been able to reproduce it outside of your test.

However I'm not entirely sure that we want to support this.

Let me explain, to make this happen you have to do **all** of the following steps:
  1. Add a reference to a 3rd party dll **directly** (**not** as a [project reference](https://msdn.microsoft.com/en-us/library/f3st0d45.aspx#Anchor_1)), i.e. in

[2015-11-13 07:15] constructor-igor commented on #41
I build "test projects" to folder Compilation and "actual code projects" to Compilation\Common. It allows to separate "test" and "production" binaries.
Also "copy local = false" (if a solution has many projects/references) works faster than "copy local = true" (at least, when I checked compilation time several years ago).

[2015-11-13 13:55] #36 closed

[2015-11-13 13:56] mattwarren commented on #36
I've just pushed a change that fixes this, now when you are using `Params` you get the output shown below:

![image](https://cloud.githubusercontent.com/assets/157298/11147520/53746224-8a0e-11e5-9611-12a63f1551b9.png)

[2015-11-13 15:05] mattwarren commented on #44
@AndreyAkinshin I have a check-in ready to go that removes the 2 calls to `AssertMethodIsNotDeclaredInGeneric(..)`, from [here](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/BenchmarkConverter.cs#L25) and [here](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/BenchmarkConverter.cs#L38).

I also have a passing integration test (based on the code

[2015-11-13 15:17] AndreyAkinshin commented on #44
I found the commit with these asserts: https://github.com/PerfDotNet/BenchmarkDotNet/commit/d70b4cd339c3c40a3a1f7b996b4004ba59c25ff4
@krk, any comments?

[2015-11-13 16:03] mattwarren commented on #44
I'm just going to check in the change, it's easy to back-out if we later find a problem.

I think all the other checks in d70b4cd are valid (`AssertBenchmarkMethodIsAccessible` and `AssertBenchmarkMethodIsNotGeneric`), but as shown by the code sample from @HellBrick `AssertBenchmarkMethodIsNotDeclaredInGeneric` prevents some valid scenarios.

[2015-11-13 16:14] AndreyAkinshin commented on #44
@mattwarren, ok, let's remove these checks.

[2015-11-18 14:04] mattwarren opened #45 "Throw an error if [Param(..)] is applied to a private field/property"
At the moment we just silently carry on and run the benchmark as if it had no `[Param]` at all, which isn't great. See https://twitter.com/ben_a_adams/status/666955778897616896 and https://gist.github.com/benaadams/43407df97c69a4ae86e8

[2015-11-18 14:13] mattwarren opened #46 "Allow [Params] to be specified on multiple fields/properties"
i.e make this work:

[code]

And then in the results have something like this, with **both columns** having the **correct** field/property name (not "IntParam" like it is now):
[code]

[2015-11-18 15:07] benaadams commented on #36
:+1:

[2015-11-19 10:27] #44 closed

[2015-11-19 11:12] mattwarren commented on #33
Ignore my comment above, I just ran a test and we do support `[Benchmark]` methods created with the new C# 6 syntax, i.e. this works fine:

[code]

[2015-11-19 11:56] mattwarren commented on #27
So that we can support the CoreCLR stack, add .NET Native support, run it on Linux, MacOS, FreeBSD, etc we won't be relying on any 3rd party dlls inside the Core of BenchmarkDotNet.

So this will now be done with [Mono.Options](http://tirania.org/blog/archive/2008/Oct-14.html) embedded as a [single-file in the BenchmarkDotNet source](https://github.com/mono/mono/blob/master/mcs/class/Mono.Options/

[2015-11-19 12:21] AndreyAkinshin commented on #27
LGTM

[2015-11-20 22:24] redknightlois opened #49 "Dependent assemblies are not copied or added to the project file."
When benchmarking complex operations you may end up with situations like the following:

On assembly ```assembly1.dll```
[code]
On assembly ```benchmark.dll```
[code]
In this case ```benchmark.dll``` will be referenced while  ```assembly1.dll``` is not causing a build failure like the following:

[code]

[2015-11-20 23:27] mattwarren commented on #49
thanks for the bug report.

Yeah I think the problem is that we don't look in enough places for what we need to reference. At the moment we only include the namespace/reference for the the return type of the `[Benchmark]` method and the containing class. See https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchain/Classic/BenchmarkClassicGenerator.cs#L38-L45.

Looks like

[2015-11-21 00:16] redknightlois commented on #49
Thanks, with that information I was able to workaround it returning a reference to this :)

[2015-11-21 13:45] redknightlois commented on #28
@mattwarren Support for .Net 2.0 has ended already. The only support provided is Extended Support which is a paid only support usually provided to governments or very large corporations and will also end by end of 2016. Does it makes sense to devote effort to .Net 2.0?

[2015-11-21 20:00] AndreyAkinshin commented on #28
@redknightlois, sounds like a good point. What do you think about supporting of .NET 3.5?

[2015-11-21 23:13] smudge202 commented on #33
@mattwarren, I believe you're confusing DNX/CoreCLR with C#6. Two very different things.

C#6 is independent, simply something the compiler does or does not support.

[2015-11-22 18:38] redknightlois commented on #28
@AndreyAkinshin That is a tough one, because unlike .NET 2.0 the 3.5 framework is supported alongside a wide array of OS. However, nowhere were 3.5 is supported 4.0 is unsupported, so in the end it is a matter of how many 3.5 projects are there out-there and how many will use BenchmarkDotNet. I haven't come across a 3.5 project in like ages, but that is just me.

[2015-11-23 10:07] mattwarren commented on #49
LOL, yeah that'll do it! I'll have a look and see if we can do something better here.

It's not a great experience if BenchmarkDotNet produces code that won't compile!

[2015-11-23 10:09] mattwarren commented on #28
Okay, I've changed this to ".NET 3.5 support", rather that .NET 2.0.

But I'll hold of implementing it until someone actually asks for it.

[2015-11-24 09:34] mattwarren commented on #33
@AndreyAkinshin I just saw this post [The road to DNX – part 1](http://blog.marcgravell.com/2015/11/the-road-to-dnx-part-1.html) and thought you might find it useful when you do the DNX/CoreCLR work.

[2015-11-24 10:51] mattwarren commented on #29
Do you mean being able to use `**\*.cs` in `.csproj` files?

(I just saw this tweet and it made me think about this issue, see https://twitter.com/marcgravell/status/668952145622798336)

[2015-11-24 15:37] mattwarren opened #50 "Make runner robust to Ctrl-C"
Currently if you hit `Ctrl-C` in the Console whilst a benchmark is still running, the `Program.exe` that was launched stays around:

![image](https://cloud.githubusercontent.com/assets/157298/11371478/9d37e524-92c0-11e5-841f-29673375012c.png)

And next time you try to start the benchmark you get the following error:

![image](https://cloud.githubusercontent.com/assets/157298/11371497/b769f5e0-92c0

[2015-11-25 23:06] smudge202 commented on #33
I've taken a look at this issue and published my WIP branch [here](https://github.com/smudge202/BenchmarkDotNet/tree/features/33-dnx-compatibility).

The actual issue is of course an incompatibility with vNext projects (or whatever name we're going by today), but I went a step further and converted the existing projects too (hopefully that doesn't present too much confusion, but it does prove that

[2015-11-26 00:57] AndreyAkinshin commented on #33
@smudge202,

I'll be grateful for any help! CoreCLR support is a very important feature, we need it in order to measure efficiency of new version of RyuJIT.

About the architecture: now we have the following interfaces: `IBenchmarkGenerator`, `IBenchmarkBuilder`, `IBenchmarkExecutor`, and the "classic" implementations of it. I want a new "DNX" implementations (or which name should we choose?). Nex

[2015-11-26 08:50] smudge202 commented on #33
Thanks for the information, @AndreyAkinshin . To be clear, I believe CoreCLR support and DNX support are going to be two different issues.

To move to CoreCLR (and take advantage of what I hear is coming with `rc2` in February, I think we need to find a way to drop the dependencies on `System.Management`, `Microsoft.Diagnostic.Runtime`, `Dia2Lib`, and `Interop.Dia2Lib`. To be honest, apart from se

[2015-11-26 08:55] smudge202 commented on #41
Late to the party, but my company has a similar approach to @constructor-igor with regards to test output locations and `copy local`.

[2015-11-26 08:56] AndreyAkinshin commented on #33
@mattwarren, can you move these dependencies from the core to another assembly in the nearest future?

[2015-11-26 09:37] mattwarren commented on #33
Yeah no problem, in the next few days I'll check-in some changes so that these are moved out of BenchmarkDotNet core and put into "BenchmarkDotNet.Diagnostic" as we discussed.

[2015-11-26 11:02] mattwarren commented on #33
In [The road to DNX - part 2](http://blog.marcgravell.com/2015/11/the-road-to-dnx-part-2.html), Marc says this:

It would be nice if we could follow this advice as it seems a lot cleaner to have all the `#if` code in as few places as possible. (not saying you **were** going to do this, just wanted flag it up)

[2015-11-26 11:04] mattwarren commented on #41
@smudge202 and @constructor-igor thanks for the input.

I'll see what I can do to make BenchmarkDotNet work in these scenarios.

[2015-11-26 11:28] smudge202 commented on #33
Yup. I usually `ifdef` to get things running and then look to clean things up. Happy to go with extensions if/when we move forward on this.

[2015-11-26 11:41] smudge202 opened #51 "DNX Compatibility"
Having accidentally hijacked #33, I'll move relevant information to this issue so that the 3 separate issues currently being discussed in aforementioned issue can become less confused.

DNX is currently in RC1, and according to the [most recent ASP.Net Standup](https://www.youtube.com/watch?v=UvkJJGVq-b0&feature=youtu.be&a) will actually diverge from the planned roadmap to a Core CLI model. (See v

[2015-11-26 11:47] smudge202 opened #52 "CoreCLR Compatibility"
From what I've read, there has been some work regarding CoreCLR support. I don't know the full details but I'm pretty sure that dependencies on the following assemblies will present a problem:

* `System.Management`
* `Microsoft.Diagnostic.Runtime`
* `Dia2Lib`
* `Interop.Dia2Lib`

As per the discussion in #33, I believe @mattwarren will be moving those dependencies. I'm assuming this will allow us

[2015-11-26 12:06] smudge202 commented on #46
Just some related info regarding cartesian product: http://ericlippert.com/2010/06/28/computing-a-cartesian-product-with-linq/

[2015-11-26 12:18] smudge202 commented on #27
Just wanted to fly the DNX flag here and mention this package: https://www.nuget.org/packages/microsoft.extensions.optionsmodel

I've been using OptionsModel extensively for the last year or so (previously under [this package](https://www.nuget.org/packages/microsoft.framework.optionsmodel)). Sadly, no support for `net40` on any of the new stuff yet. But for consideration at a later stage. :)

[2015-11-26 12:22] mattwarren commented on #52
Yeah that's the intention in the long-run. Basically the BenchmarkDotNet.Diagnostic dll will be loaded dynamically, but only on run-times that it support.

Does CoreCLR/DNX support dynamically loading dll/assembelies?

[2015-11-26 12:29] mattwarren commented on #51
I guess you actually meant [this line of code]?(https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchain/Classic/BenchmarkClassicGenerator.cs#L155) (one line below where you linked to)

Either way, I assume that we are also going to have problems with [this code I introduced](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchain/Classic/Benc

[2015-11-26 13:31] smudge202 commented on #51
Yes and yes. My mistake; bad copy pasting.

In my local WIP I actually moved both the code you mentioned there and line 155 to a helper method along the lines of `GetFileInfoForAssemblyContaining(Type type)`. Totally forgot about it when raising the issue.

[2015-11-26 13:33] smudge202 commented on #52
Define dynamically loading assemblies (by what method)? You can for example create assemblies and types in-memory as shown here (poorly): https://github.com/smudge202/compose/blob/dev/src/Compose/DynamicEmitter.cs

[2015-11-26 13:49] mattwarren commented on #52
Sorry, "dynamically" was a bad choice of words.

I didn't mean dynamically creating/loading types in-memory, what I meant was something like [this SO answer](http://stackoverflow.com/questions/465488/can-i-load-a-net-assembly-at-runtime-and-instantiate-a-type-knowing-only-the-na/465509#465509):

[code]

[2015-11-26 13:54] smudge202 commented on #52
Yup. To my knowledge you can defer assembly loading to runtime as shown just fine on CoreCLR. I can throw together a 2 minute example tonight to confirm.

[2015-11-26 22:35] smudge202 commented on #52
Just to update following stealing a lot of @mattwarren 's time this evening in gitter, this will be very difficult to achieve due to indirect dependencies on Win32 (`Microsoft.Diagnostics.Runtime` \ `ClrMD` P/Invokes into Win32). CoreCLR is intended to run cross platform, so I wouldn't expect those calls to become available on CoreCLR in the foreseeable future, if ever.

[2015-11-27 16:25] mattwarren commented on #52
@smudge202 @AndreyAkinshin

I've just checked in the changes the de-couple BenchmarkDotNet.Diagnostics from code, so all the problematic dependencies have gone away. You should be free to do the CoreCLR/DNX stuff now, any problems let me know.

[2015-11-27 18:55] AndreyAkinshin commented on #52
@mattwarren, great!

[2015-11-28 19:59] AndreyAkinshin opened #53 "Diagnostic improvements"
@mattwarren, I want the following list of features:
- [X] 1. I want be able to add a diagnostic class with the `AddDiagnoster` method in manual mode (automatic loading should work in audo mode).
- [X] 2. I want a special diagnostic `BenchmarkIterationMode` for diagnostic. It should be run before the pre-warmup stage.
- [ ] 3. Now I have troubles with diagnostic of x86 benchmark from the x64 host a

[2015-11-29 05:42] AndreyAkinshin commented on #53
I have tried to implement tasks 1 and 4. Please, review (https://github.com/PerfDotNet/BenchmarkDotNet/commit/28083486f9423229545969617cab4b05909ba346).
Now you can add specific diagnostic with a command like arguments like `-d=source,runtime` (`d` means diagnostic, target diagosers will be matched by name).

[2015-11-29 15:41] adamsitnik opened #54 "Plugins for the most common Continuous Integration System"
I would like to start a discussion, it is not a complete vision yet.

Problem: in terms of Continuous Integration the software performance is usually ignored, or in best case it is not measured properly. Most developers do the profiling and optimizations when the clients start to complain. The performance is not considered and treated as a feature.

As a user I would like to know when code changes

[2015-11-30 08:53] smudge202 commented on #54
I don't think there's a good way of doing this due to persistence (or lack thereof). I've never come across a CI pipeline that needs (or even has access to) previous builds.

The only way I can imagine it working is if benchmarks are committed to source control. CI would fail the build if the difference between the committed benchmark and the CI benchmark was outside of a given tolerance, requirin

[2015-11-30 10:07] mattwarren commented on #54
Yeah the persistence side of things is tricky and I'm not sure how or if BenchmarkDotNet can handle that. The best thing I can think of is a plugin that knows where to look for previous results and can compare the current run against those.

But it would probably be the responsibility of the CI infrastructure to ensure that previous Benchmark results were stored somewhere after BenchmarkDotNet had

[2015-11-30 10:26] mattwarren commented on #53
Thanks for doing that, at first glance it looks good, but I'll have a more of a look later on today.

Just curious, what's the reason for this? Is it so the diagnostic doesn't interfere with calculating the `invokeCount`

Yeah that's a problem with the CLRMD library, it doesn't want to analyse a 32-bit process from a 64-bit host app. I'll take a look, I *think* I can fix it by having a small shim

[2015-11-30 10:33] AndreyAkinshin commented on #53
Ok. I just implemented basic concepts. Please, refactor the diagnostic classes at its discretion.

Theoretically, it can affects the warmup process. We should try to avoid any additional logic between our runs. So, I suggest to create a special stage: diagnostic. We can run it directly without hacks like `if (line.StartWith("// Warmup") ...`. The source code will be more clear.

Sounds cool.

[2015-11-30 10:37] gluck opened #55 "Benchmark method can't return inner classes"
When benchmark method returns an inner class (tested with a return type `Tuple<Foo.Bar, Foo>`), the generated `Program.cs` built doesn't compile as it references:

    private System.Tuple<Bar, Foo> value;

(complains that Bar doesn't exist)

The outer class qualifier is missing.

[2015-11-30 10:40] AndreyAkinshin commented on #55
@mattwarren, can you investigate the issue?

[2015-11-30 10:47] mattwarren commented on #55
Yeah I'll take a look (seems similar to #49) we need to be more clever in determining what the dependencies of the Benchmark really are.

[2015-11-30 10:54] smudge202 commented on #54
Perhaps two or three extensibility points could help achieve this, @mattwarren. For example, let's say BDN allows consumers to write their own benchmark result importers as you've suggested. As a consumer, I would want to utilise BDN API to specify that the imported Benchmark should be compared to the current benchmark to determine pass/fail of test.

Similarly, I'd want to be able to override the

[2015-11-30 10:56] smudge202 commented on #55
Wouldn't it be easier if that whole process was symbol based (not string)? Was there a reason for the current mechanism versus reflection and emission?

[2015-11-30 11:05] mattwarren opened #56 "# of GC Collections [Diagnostic/Diagnoser]"
While working on a Benchmark for a [dotnet/corefx issue](https://github.com/dotnet/corefx/issues/2102#issuecomment-160149357) that I was following, I did a quick hack to calculate the # of Gen0, Gen1 and Gen2 Collections during a Benchmark run/batch. At the moment it gives you results like so:
[code]

What do you think about having this included in BenchmarkDotNet as a real feature? It's very usef

[2015-11-30 11:10] smudge202 commented on #56
It's a really nice piece of information. My only question is, will it work with CoreCLR?

[2015-11-30 11:11] mattwarren commented on #56
Good question, how/where do I check if `GC.CollectionCount(..)` is available?

[2015-11-30 12:33] AndreyAkinshin commented on #56
LGTM, it is a very cool feature.
I think, it should works fine with CoreCLR because it is basic .NET API. But I will check it tonight.
Some thoughts about implementation: I think, diagnosers should have special API that will add additional columns to the result table.

[2015-11-30 12:36] smudge202 commented on #56
With regards to adding columns to results column; I wonder if that could play into the suggestion I've made on #54? i.e. Not only provide DTO's for Import/Export, but allow the DTO's to be inherited and expanded upon? (i.e. each serializable/attributed property in the DTO would be a column in the results table when logging).

[2015-11-30 12:45] mattwarren commented on #56
yeah I agree, there's probably some *future* scenarios where we want extra columns in the results

[2015-11-30 13:15] smudge202 commented on #56
Personally I'd create a DNX Project:
![dnx project](https://cloud.githubusercontent.com/assets/2247869/11472393/2125e604-9764-11e5-81ea-222cd80668a8.png)

Then add some TFM's to the `project.json`, along the lines of `dotnet1.1`, `dnxcore50`, `netcore45`, etc. and try to call `GC.CollectionCount(..)`. You'll need to bring in respective dependencies for the tfm's as per the error messages generated

[2015-11-30 15:48] adamsitnik commented on #54
I have just found a dotTrace plugin for Team City that does something very similar to what I wanted to get: [link](http://blog.jetbrains.com/dotnet/2015/08/27/performance-profiling-in-continuous-integration-dottrace-and-teamcity/)

I know that the persistence side would be tricky. Do you think that custom plugins don't have access to CI's database or can not create it's own during installation pro

[2015-11-30 21:06] #29 closed

[2015-11-30 21:31] mattwarren commented on #56
I think we're okay, just found the API list (assuming it's accurate). See http://dotnet.github.io/api/System.GC.html#System_GC_CollectionCount_System_Int32_

[2015-12-01 12:04] smudge202 opened #57 "Make Benchmark, Setup and Params attribute sealed in explicit way"
In essence, the following two signatures are in contradiction with one another:

`GetCustomAttributes`: https://github.com/PerfDotNet/BenchmarkDotNet/blob/a2338ce6d6b971e0e7599ffc178fb90f2db1dacd/BenchmarkDotNet/Tasks/BenchmarkTask.cs#L25 (and line 27)

`BenchmarkTaskAttribute`:
https://github.com/PerfDotNet/BenchmarkDotNet/blob/a2338ce6d6b971e0e7599ffc178fb90f2db1dacd/BenchmarkDotNet/Tasks/Benchm

[2015-12-11 05:36] wk-j opened #59 "BenchmarkDotNet generate invalid code (F#)."
Not sure what wrong in my code it alway failed when try to execute `ShouldExecuteBenchmark`.
I see  invalid code at line 7 in `Db_Insert_Throughput_X86_LegacyJit_NET-HostFramework/Program.cs`

Does any one can suggest me how to fix this.

### Test code

[code]

### Output

[code]

### Generated code

[code]

[2015-12-11 09:43] mattwarren commented on #59
I fixed this in a commit a few days ago, would you be willing to download the latest source from GitHub and run your test again?

BTW as-far-as-I-konw, you're the first person to use BenchmarkDotNet with F#, so it'll be interesting to see what happens!

[2015-12-11 11:11] mattwarren commented on #53
This is fine, I'll can add an extra step and only run it if we need diagnostics, i.e. ` BenchmarkState.Instance.IterationMode = BenchmarkIterationMode.Diagnostics;`

I had a look at this, the main problem is that we are in different processes. The diagnostics are run from the main process, where as `BenchmarkIterationMode` is set in the process we spawn. So the only real way they have to communica

[2015-12-11 11:41] wk-j commented on #59
Just try with laster source,
Because I don't find `.RunCompetition()` any more so I use `.Run()` instead.

[code]

And I got another error messages.

[code]

## Full output

[code]

## Generated code

#### Db_Query_Throughput_X86_LegacyJit_NET-HostFramework/Program.cs

[code]

[2015-12-11 12:01] mattwarren commented on #59
Yeah, I wondered if there would be more errors. Seems like we need to do some more work to support F# benchmarks. Thanks for the great repo though and it's cool you're also using RavenDB.

[2015-12-11 17:14] wk-j commented on #59
Single module in F# will translate into static class (no namespace).

[code]

[code]

But when I specify nested module It will extract as namespace.

[code]

[code]

In both case `File` will alway live under static class `BenchmarkSpec` and generated code could be

[code]

Not just

[code]

[2015-12-15 19:00] alexandrnikitin opened #60 "Add ability to specify arguments for a method under benchmark"
Something like this:

[code]

[2015-12-15 19:02] alexandrnikitin commented on #60
Will it be useful? What do you think?

[2015-12-15 20:40] dadhi commented on #60
+1

Just need that recently. Bmarking against a fields is not right, if I need to check an access to parameter.

[2015-12-15 20:48] AndreyAkinshin commented on #60
Measurement of overhead will be very hard. In this case, we will also measure the passing of the parameter. Of course, we can generate the `Idle` method with the same signature, but I'm not sure that it is a correct way and we will not have any nasty side-effects from JIT (it is important in the case of nanosecond benchmarks).
However, it is an interesting idea. I should try to implement this feat

[2015-12-16 10:00] mattwarren commented on #60
yeah I agree it sounds like a nice idea. I didn't think about *injecting* parameters when I wrote the current `Params(..)` code.

But I agree with @AndreyAkinshin, we should only do it if we can guarantee accuracy.

One a related note, has any got any idea about the different in speed and assembly instructions when you are accessing a parameter instead of a field? What's the difference in overhead

[2015-12-16 10:48] AndreyAkinshin commented on #60
It is a good question, I will investigate it.

[2015-12-17 11:59] AndreyAkinshin opened #62 "Missed msdia120.dll"
In `BenchmarkDotNet.IntegrationTests.csproj`, we have the following lines:
[code]
But we don't have the `x86\msdia120.dll` file in `CLRMD`, building fails.

[2015-12-17 12:05] mattwarren commented on #62
whoops, I messed that up (definitely a case of "*it only works on my machine!!*")

I'll get it sorted

[2015-12-17 12:53] AndreyAkinshin opened #63 "Missed BenchmarkDotNet.Diagnostics shouldn't throw an exception"
It is a normal situation (e.g. uses installed the library from NuGet), we shouldn't throw an exception.
Repro: just try to install the v0.8.0 from NuGet and run any benchmark.

[2015-12-17 14:27] mattwarren commented on #63
sigh!

Thanks for spotting that, (what's the actual error BTW?)

[2015-12-17 18:56] AndreyAkinshin commented on #63
[code]

[2015-12-21 11:39] mattwarren opened #64 "Add a "Delta v. Baseline" column"
As per [this benchmark](https://github.com/IllyriadGames/ByteArrayExtensions), it would be nice if we could automatically produce the "% Delta v..." column, rather than users having to add it by hand.

![image](https://cloud.githubusercontent.com/assets/157298/11929930/0ab2456a-a7d7-11e5-9e45-571a50648198.png)

If could either be a '%' or an absolute value in ms/ns. Also the baseline benchmark wou

[2015-12-22 01:40] AndreyAkinshin commented on #64
@mattwarren, good idea, I like it.

[2015-12-23 07:46] damageboy commented on #52
+1

Loving to try this out on a project I'm converting now

[2016-01-04 15:28] #63 closed

[2016-01-04 15:34] #62 closed

[2016-01-04 15:35] mattwarren commented on #62
Fixed in a3e2dc8

[2016-01-04 17:45] mattwarren commented on #55
@gluck I've just checked in a fix for this, sorry for the long delay!

[2016-01-04 17:45] #55 closed

[2016-01-05 11:26] mattwarren commented on #59
@wk-j sorry for the long delay, but I've finally checked in a fix for this see 5d000fc

I'm now able to run [this benchmark](https://gist.github.com/mattwarren/25ae4d92aecbc9e69d3e) and I get the output shown below.

My benchmark is a cut-down version of yours (without the RavenDB dependencies), so when you get a chance can you run your full benchmark with the latest code?

![image](https://cloud.

[2016-01-05 13:34] #45 closed

[2016-01-05 16:50] #50 closed

[2016-01-06 20:16] omariom opened #66 "Friendliness to LinqPad"
Would be nice to have ability to run benchmarks in LinqPad and get nicely formattet results in LinqPad's Results output.

[2016-01-07 09:10] gluck commented on #55
:+1: no worries, I should've mentioned that changing the return type to object was a fine workaround.

Thx !

[2016-01-07 09:31] mattwarren commented on #55
Oh yeah, I didn't think about that. But at least now it'll work OOTB without you having to resort to hacky workarounds.

[2016-01-08 13:22] AndreyAkinshin commented on #59
@mattwarren, @wk-j, you can install the latest version of the library via NuGet: https://www.nuget.org/packages/BenchmarkDotNet/0.8.1

[2016-01-08 13:26] AndreyAkinshin commented on #66
Good idea, added to roadmap: https://github.com/PerfDotNet/BenchmarkDotNet/wiki

[2016-01-08 14:19] mattwarren commented on #66
We actually have LinqPad support (or we did, I haven't tested it since), I made it work as part of #42.

So maybe it's enough to just do something like this in the `.linq` file:

[code]

[2016-01-08 14:21] mattwarren commented on #66
@AndreyAkinshin sorry, I've only just read the note on the wiki:

I'll make sure I use the develop branch in the future.

[2016-01-08 16:14] AndreyAkinshin commented on #66
@mattwarren, yes, we should implement the `Dump` method.

[2016-01-08 17:22] mattwarren commented on #66
Sorry, I wasn't clear. `Dump()` is built-in to LinqPad and it (usually) does a pretty good job of displaying whatever object you give it.

When I get a chance I'll run that LinqPad code and post the output here.

[2016-01-08 17:49] omariom commented on #60
Parameters of simple types are very likely to be received in registers. Access to a field requires an indirection via this (RCX reg) at least once.

[2016-01-08 17:51] omariom commented on #60
Another example - JIT can eliminate bounds checking when the array comes in parameters.

[2016-01-09 02:03] kolektiv opened #67 "F# requiring assembly binding redirects for FSharp.Core"
I'm trying to benchmark some F# code. However, to work properly, the F# application requires an assembly binding redirect (App.config):

[code]

The `supportedRuntime` parts are not desirable of course, but if the assembly binding isn't done, the auto generated application will fail at runtime. The app.config generated won't include anything like this.

I'm not sure how to work around it, or sugge

[2016-01-09 02:13] kolektiv commented on #67
If it helps to see this in-situ, the project i'm trying to benchmark is here: https://github.com/kolektiv/chiron/tree/benchmarks - https://github.com/kolektiv/chiron/tree/benchmarks/tests/Chiron.Benchmarks being the relevant project.

If you want to try and run that, you'll need to restore the packages first. The build.cmd in the root should sort all of that out and get a build done to start with.

[2016-01-09 02:26] kolektiv commented on #67
Last bit of info, to confirm the thinking - if I build a version of BenchmarkDotNet which includes that assembly binding in the templated app.configs, the benchmark will run fine. I'm not sure how easy it will be to come up with an elegant fix though, I'll think on it.

[2016-01-12 10:51] mattwarren commented on #66
Whoops, seems like our LinqPad support broke somewhere along the way, I'll take a look at fix it.

[2016-01-12 23:36] omariom commented on #5
Windows is known to be fairly good at scheduling. So at least on Windows and  by default the benchmark process should not be affinitized.  If there are other high priority threads - affinitized to the same core  or just happen to be scheduled on it -  the benchmark process will suffer because Windows won't schedule it on another free core.

[2016-01-14 12:38] omariom opened #68 "Power management"
My ultrabook's CPU frequency goes up and down accommodating to the load.
That's because it is in Balanced power mode. To keep it upmost I set it to High performance manually.

It would be convenient if BenchmarkDotNet  did that for us.

This is what I use in my microbechmarking tool for LinqPad.
I found it in Vance Morrison's MeasureIt.

[code]

[2016-01-14 13:59] AndreyAkinshin commented on #68
It is a very good idea, I like it. Another good links about the subject:
https://msdn.microsoft.com/en-us/library/system.windows.forms.systeminformation.aspx
https://msdn.microsoft.com/en-us/library/hxkc1kwd.aspx
http://thoughtso.org/wp-content/uploads/2007/11/cpower.txt
http://stackoverflow.com/questions/16023978/how-to-use-power-management-functions-powerenuimerate-to-get-power-settings
http://w

[2016-01-14 14:00] mattwarren commented on #68
Agree, that's a great idea, I've used Vance Morrison's MeasureIt before, but I never realised that it forced the power mode like that.

[2016-01-14 14:49] omariom opened #69 "Performance Counters"
Another idea to queue! :muscle:
Add ability to gather performance counters during benchmark runs. Process specific counters would be the most useful but system wide ones  like Memory\ Page Reads /sec is important to have as well.

[2016-01-14 16:11] mattwarren commented on #69
Thanks, another nice idea. When I get a chance, I'm going to be doing some more work on the "diagnostic" side of thing (see #56) and this fits in with that.

I also added your idea to the "Roadmap", see https://github.com/PerfDotNet/BenchmarkDotNet/wiki#roadmap

[2016-01-14 16:34] omariom commented on #69
Thanks :+1:

[2016-01-14 22:19] redknightlois opened #70 "0 ticks? Could be possible?"
There appers to be something odd in this benchmark, but I cannot figure out what it is.
https://gist.github.com/redknightlois/2874ea1ce7a8b75e1779

Maybe you can take a look and see something that I am missing.

[2016-01-15 14:33] AndreyAkinshin commented on #70
Your code is just super-fast. I think, all of your structures is in the L1 cache after warmup. So, you try to measure several `mov` operations between different parts of L1. I call such benchmark “unmeasurable” (and I want to implement a special analyzer which will warn you about such situations).
Probably, you should try a real-world example of copying. E.g., copying one array of structs to anoth

[2016-01-15 15:37] mattwarren commented on #64
This is now implemented, you use by adding `Baseline = true` to **one** benchmark in a class:

[code]

Then you will get an output like so (note the added column "+/- Delta"):

![image](https://cloud.githubusercontent.com/assets/157298/12357085/e6943b72-bb9d-11e5-83d5-3e611f960d8e.png)

[2016-01-15 15:38] #64 closed

[2016-01-15 16:42] AndreyAkinshin commented on #5
It is interesting. @mattwarren, what do you think?

[2016-01-16 11:57] nietras opened #72 "Referenced assembly dll-file (directly via file) not referenced in generated Program.csproj"
Referencing a file directly (e.g. Browse... for reference) does not work, the generated Program.csproj does not reference it.

[2016-01-16 12:25] nietras commented on #72
The code https://github.com/DotNetCross/Memory.Unsafe, which has a simple Benchmark test under src shows the issue. Since Program.csproj is not referencing the DotNetCross.Memory.Unsafe.dll it does not work.

[2016-01-16 16:31] omariom opened #73 "Differentiate visualy between runs wih different params"
Here is a motivating example:

            Method | IntParam |       AvrTime |      StdDev |          op/s |
------------------- |--------- |-------------- |------------ |-------------- |
 **CharArrayEnumerate** |       **32** |    49.2961 ns |   3.6292 ns | 20,377,871.52 |
     SliceEnumerate |       32 |    62.9922 ns |   7.4198 ns | 16,095,370.12 |
 Old SliceEnumerate |       32 |   131.9806 ns

[2016-01-16 22:28] #59 closed

[2016-01-17 03:50] omariom opened #74 "Tags"
It would be very convenient to be able to attach tags to a benchmark. Each tag should become a column in  the report. This would allow easier sorting, filtering, charting in Excel.

[2016-01-17 16:52] AndreyAkinshin commented on #74
Ok, it is very simple to add with help of `ResultExtenders`. What do you think about:
* How it should look?
* What should we print in the tags columns?
/cc @mattwarren

[2016-01-17 16:56] AndreyAkinshin commented on #73
Ok, it is easy to add to the file with github report. But how it should look in the console log?
@mattwarren, what do you think?

[2016-01-17 16:58] AndreyAkinshin commented on #72
Thanks for the bug report, we will fix it.

[2016-01-17 17:25] AndreyAkinshin opened #75 "Implement BenchmarkHtmlExporter"

[2016-01-17 17:41] omariom commented on #74
May be like this
[code]

[2016-01-17 17:54] AndreyAkinshin commented on #74
@omariom, unfortunately, we can't keep instances of reference types in attributes.

[2016-01-17 18:47] omariom commented on #74
![philosoraptor-blank-2](https://cloud.githubusercontent.com/assets/1781701/12379080/e9a2c00a-bd63-11e5-9a30-146d164680c9.jpg)

[2016-01-18 21:46] mattwarren commented on #73
Yeah it's a nice idea, it his hard to scan the results when you are using `[Params]`.

In the console we might have to use a different colour, rather than making it bold, unless we use http://colorfulconsole.com/?

[2016-01-18 21:48] mattwarren commented on #5
Sorry, I'm no expert on multi-threading and thread affinity.

Maybe we can measure it, although I'm not sure what type of metrics we need to look for, is there such as thing as "Thread Scheduling Events"?

[2016-01-18 21:54] mattwarren commented on #74
Yeah this seems like a nice use-case for ResultExtendes. Although as has been pointed out, we need to decide how the Tags can be expressed in attributes first.

But once that's done, I guess the output could be something like this:

|   Method |     AvrTime |     Error |    Kind |    Type |     RangeCheck |
--------- |------------ |---------- |------ |------ |------ |
 SimpleIntWithRangeCheck| 102

[2016-01-18 22:04] AndreyAkinshin commented on #73
I don't want to have any 3rd-party dependencies.

[2016-01-18 22:09] AndreyAkinshin commented on #74
I can suggest to keep tags in a string which will be parsed. E.g. `Tags = "Kind=Simple;Type=int;RangeCheck=yes"`. It looks a little ugly, but I think, there is no nice way to do it via attributes.

[2016-01-19 02:45] omariom commented on #5
Me neither )

We can try to run another process (or a few of them) with the same high priority.

[2016-01-19 02:47] omariom commented on #74
:+1:

[2016-01-19 09:50] AndreyAkinshin opened #76 "Allow users to set gcAllowVeryLargeObjects for Runtime Settings"
See MSDN page: [Runtime Settings Schema](https://msdn.microsoft.com/en-us/library/0kk0kk35.aspx)
We can implement some logic that will specify some parameters (e.g. [gcAllowVeryLargeObjects](https://msdn.microsoft.com/en-us/library/yhwwzef8.aspx), [gcConcurrent](https://msdn.microsoft.com/en-us/library/yhwwzef8.aspx), [gcServer](https://msdn.microsoft.com/en-us/library/ms229357.aspx) look useful).

[2016-01-19 09:50] AndreyAkinshin commented on #76
@mattwarren, what do you think?

[2016-01-19 10:52] mattwarren opened #77 "Implement a C.I build"
Maybe using AppVeyor, i.e. like this https://ci.appveyor.com/project/mattwarren/minibench-warren. This way if someone (probably me) breaks the build or some tests, we'll know about it sooner rather than later

See [this discussion](https://gitter.im/PerfDotNet/BenchmarkDotNet?at=569d478b5de13b3f15e3c9d0) for some background and extra info.

[2016-01-19 10:54] mattwarren opened #78 "Better command line discoverability"
You should be able to type something like:
[code]

and get some useful output back showing:
- possible command line arguments
- plugins available (diagnosers/exporters, etc)

[2016-01-19 11:06] mattwarren commented on #76
You know what, I was thinking about this the other day, but only the `gcConcurrent` and `gcServer` settings. So yes, I think it's a good idea.

I guess you are thinking of adding them to `[BenchmarkTask()]`, like the existing `BenchmarkPlatform` and `BenchmarkJitVersion` options?

[2016-01-19 11:10] AndreyAkinshin commented on #76
We already have a lot of parameters in `BenchmarkTask`, it starts to look ugly. Maybe we can create another way to add new settings?

[2016-01-19 11:36] mattwarren commented on #76
Yeah that's a good point

I'm not sure what is a good way to do it though?

[2016-01-20 00:08] adamsitnik commented on #51
Few hours ago I started working on that ([link](https://github.com/adamsitnik/BenchmarkDotNet/commits/master)) and I got stuck at the same place. Tommorow I will try to implement IBenchmarkGenerator interface with relying on dnu instead of msbuild. I have no idea if I am going to succeed but I am going to try :)

[2016-01-20 06:27] AndreyAkinshin commented on #51
@adamsitnik, cool!

[2016-01-20 06:35] AndreyAkinshin commented on #51
@adamsitnik, yesterday I released new `v0.8.2`. I recommend you to merge it into your branch.

[2016-01-20 09:44] adamsitnik commented on #51
@AndreyAkinshin thanks! you have saved me a lot of time!

[2016-01-20 10:19] mattwarren commented on #51
@adamsitnik thanks for doing this!

BTW, I like the way you are structuring the process, it's pretty easy to follow your commits and get a good idea of what has to be done to port to DNX/CoreClr/.NET Core 1.0 (or whatever the name of it is!!)

![image](https://cloud.githubusercontent.com/assets/157298/12445954/3cf12880-bf5f-11e5-8422-dc36e81919db.png)

[2016-01-21 00:22] adamsitnik commented on #51
@AndreyAkinshin @mattwarren I made some progress today. I think that I have found the right package to use: Microsoft.Dnx.Compilation. It allows to compile  and supports both DNX and Core. I did some research on that and did some proof of concept.

I must admit that the code is really plugin/extension friendly! Great use of interfaces!

However right now I get some compilation errors, but all of t

[2016-01-21 07:45] AndreyAkinshin commented on #51
Excellent! You are one of the first users of our plugin system, so, feel free to make improvements in case of troubles. Main goal of the generator/builder/executor system is Dnx/CoreCLR support.

[2016-01-21 09:04] omariom opened #80 "Top N of M runs"
Sometimes when I only do  in memory work (without multithreading or IO)  I want to see top N of M runs (or even top 1). I don't need  averages in such cases.

[2016-01-21 09:07] AndreyAkinshin commented on #80
Can you write an example?

[2016-01-21 09:07] omariom commented on #80
An example how it could be configured?

[2016-01-21 09:09] AndreyAkinshin commented on #80
Yes. And how it should looks.

[2016-01-21 09:12] omariom commented on #80
Semething like this

[BenchmarkTask(processCount: 1, targetIterationCount: 5, **takeTop: 2**)]

[2016-01-21 09:13] omariom commented on #80
I've just noticed BenchmarkStatResultExtenders. Can the feature be implemented this way?

[2016-01-21 09:18] AndreyAkinshin commented on #80
See usage example: https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.IntegrationTests/Plugins/BenchmarkStatResultExtenderTests.cs
More documentation are coming.

But I am still not sure that I correctly understand your idea. Can you write an example of desired output?

[2016-01-21 09:22] omariom commented on #80
All the results should be sorted desc and only top N of them are used in the stats calculations.

[2016-01-21 09:26] AndreyAkinshin commented on #80
Hmm. Are you talking about these results:
[code]
?

[2016-01-21 09:31] omariom commented on #80
Currently all the runs are used to calculate for example `op/s`. When asked to `takeTop: 4` only best 4 of them will be used to calculate average `op/s` which goes to the results table.

[2016-01-21 09:42] AndreyAkinshin commented on #80
Ok, now I get it. But why do you need it?
In the next version, I want to implement automatic logic for choosing amount of target iteration (you will still be able to set fixed `targetIterationCount`, but auto mode will be default).

But yes, you can implement your idea via ResultExtenders.

[2016-01-21 09:49] omariom commented on #80
I want to exclude outliers caused by uncontrollable OS, network activities or other unfortunate conditions.

[2016-01-21 09:50] AndreyAkinshin opened #81 "BenchmarkPlugin attribute"
The idea is the following: we can add plugin via attributes like this:
[code]
@mattwarren, what do you think?

[2016-01-21 09:53] AndreyAkinshin commented on #80
`StatSummary` [contains](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Statistic/StatSummary.cs#L66) the following property:
[code]
Maybe it will be useful for your.
I think, I can implement a standard ResultExtender that will be calculate `op/s` without outliers.

[2016-01-21 11:06] mattwarren commented on #81
yeah great idea.

I was beginning to wonder how we could best allow people to control all the different plugins. Having to do it only on the cmd line would get tedious, this is a great solution.

[2016-01-21 11:17] AndreyAkinshin commented on #81
Also we can define an attribute for plugin set like
[code]
or
[code]
instead of `CreateDefault()` or `CreateEmpty()`.

[2016-01-22 10:03] mattwarren commented on #51
@adamsitnik I just came across these docs [Making your libraries compatible with .NET Core and other .NET Platforms](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/support-dotnet-core-instructions.md) and found out about the [.NET Portability Analyzer](https://github.com/microsoft/dotnet-apiport) (you can also get it in Visual Studio via *Tools* -> *Extensions and Updates*

[2016-01-22 11:08] AndreyAkinshin opened #82 "BenchmarkConfig"
I suggest to make a big refactoring. New BenchmarkDotNet will look like follows:
[code]
Advantages:
* Nice tasks. Current BenchmarkTasks look awful because of big amount of arguments in the constructor, we can rewrite it in nice way.
* We can implement a lot of features like [tags](https://github.com/PerfDotNet/BenchmarkDotNet/issues/74) because we can define additional config stuff in the method

[2016-01-22 13:36] mattwarren commented on #82
Looks like a nice idea, yeah `[BenchmarkTask(..)]` has got a bit unwieldy.

I definitely agree that we need to do this, so that we aren't expecting users to write their own `MyBenchmarkConfig` class just to run a simple benchmark:

One question, is it a good idea (or is it even possible) to keep the old way around for backwards compatability? Or is now a good time to break it? It might be a bit mu

[2016-01-22 13:47] AndreyAkinshin commented on #82
Here is the plan: I will make v0.9 with support old way (but we can mark `BenchmakTask` as an obsolete attribute); in v0.10 we will drop attributes (we can do it in a few months)

I don't think that it is a problem. When you look at the source code, you usually want to look only at the source code. When you look at the benchmark results, options are obvious. If you really want to see config, you c

[2016-01-24 19:34] jskeet opened #83 "Feature requests :)"
Here's a dump of some feature requests, coming to BenchmarkDotNet for the first time - admittedly with the bias of MiniBench. It's obvious that BenchmarkDotNet does a lot more than MiniBench in terms of the measurement - which is fab! - but I could do with more features to use it on a day-to-day basis.

I'm filing this as a single issue as various of them are sort of related, or may be rejected. I

[2016-01-24 20:15] AndreyAkinshin commented on #83
No problem, we will implement all these features. Can you write some examples of command line syntax for selections and switches which will be ok for you?

[2016-01-24 20:17] jskeet commented on #83
Sure, can do... as a thought, it might be worth looking at the new [dotnet CLI](https://github.com/dotnet/cli) for syntax style.

Of course, I'd expect any of this to be available programmatically, too... but an easy way of constructing a program with a "conventional" set of command line arguments is important as well :)

[2016-01-24 20:57] AndreyAkinshin commented on #83
Yes, of course, command line support is important, we definitely will implement this feature. We should just choose good names for all of commands that we want to support.

See also: https://github.com/PerfDotNet/BenchmarkDotNet/issues/78, https://github.com/PerfDotNet/BenchmarkDotNet/issues/27.

[2016-01-24 20:58] AndreyAkinshin opened #84 "Implement export to json"
**Updated - MattW**: xml export now being tracked in #157

[2016-01-24 20:59] AndreyAkinshin opened #85 "Dry-run mode"
See also: https://github.com/PerfDotNet/BenchmarkDotNet/issues/83

[2016-01-24 21:00] AndreyAkinshin commented on #83
Another issues:
* Export: https://github.com/PerfDotNet/BenchmarkDotNet/issues/75, https://github.com/PerfDotNet/BenchmarkDotNet/issues/84
* Dry-run mode: https://github.com/PerfDotNet/BenchmarkDotNet/issues/85

[2016-01-25 00:52] adamsitnik commented on #51
@mattwarren  Thanks for the report, it was usefull!

The biggest problem is moving from msbuild to dnx. The way of referencing, buliding and executing code has changed ;/ But we get cross platfrom .NET for that!

My plan:
1. DNX451
	a) add package restore by either calling [dnu restore](https://github.com/adamsitnik/BenchmarkDotNet/blob/master/BenchmarkDotNet/Plugins/Toolchains/Dnx/BenchmarkDnuBui

[2016-01-26 15:10] adamsitnik commented on #51
I just got it working for VS/xUnit. By it I mean compiling and running with DNX.

I still have a lot of things to do but I am really optimistic now.

![image](https://cloud.githubusercontent.com/assets/6011991/12584135/57733554-c446-11e5-9f65-50ad86afc433.png)

[2016-01-26 15:29] AndreyAkinshin commented on #51
@adamsitnik, sounds great!

[2016-01-26 15:35] mattwarren commented on #51
@adamsitnik congrats!

[2016-01-26 21:40] AndreyAkinshin commented on #74
@omariom, I'm writing new API for BenchmarkDotNet. Here is an implementation of the tags: https://github.com/PerfDotNet/BenchmarkDotNet/tree/f149cb14c864e1b09d2f71e3bf558f9bb59bf77b#columns What do you think? Is it ok for you?

[2016-01-28 16:15] mattwarren commented on #46
This was fixed by @AndreyAkinshin as part of the "Big Refactoring" in 1665d8afafd219fcc8998a7c6e04cd7ff75ee15f. Currently it's only in the [refactoring branch/tree](https://github.com/PerfDotNet/BenchmarkDotNet/tree/refactoring), but will be pushed into dev/main soon

[2016-01-28 16:15] #46 closed

[2016-01-28 22:32] adamsitnik commented on #51
@AndreyAkinshin @mattwarren Small update: I just got all tests green and it works from VS/xUnit and for standalone applications as well. I will try to describe whole process, limitations and testing and PR tomorrow or on Sunday. I would like to make it before next merge ;p

[2016-01-28 23:14] mattwarren commented on #51
@adamsitnik great, look forward to it.

[2016-01-28 23:22] AndreyAkinshin commented on #51
@adamsitnik sounds good.

[2016-01-31 23:06] adamsitnik commented on #52
@AndreyAkinshin You can assign me for this issue. I just got it running on Windows ;)

[2016-02-01 15:27] omariom commented on #74
@AndreyAkinshin
The change is big. I need to try it first.

[2016-02-01 15:35] omariom commented on #74
Regardless of the change, there is a good rule I believe  every API should follow: "Simple things should be simple, complex things should be possible".

[2016-02-01 15:48] omariom opened #88 "Not an issue actually.. Just wanted to say.."
![thank-you_0](https://cloud.githubusercontent.com/assets/1781701/12722043/e4316e76-c913-11e5-9d2e-415e33e30370.jpg)

To @AndreyAkinshin, @mattwarren, @jskeet  and all other contributors.

[2016-02-01 16:07] mattwarren commented on #88
cheers

[2016-02-01 22:07] AndreyAkinshin commented on #88
Cheers.

[2016-02-02 10:46] mattwarren commented on #74
This got me thinking a bit and I'm worried we've lost a bit of simplicity with the code in the "refactoring" branch

Compare the old way of specifying [Benchmarks to run on the CLR and Mono](https://github.com/PerfDotNet/BenchmarkDotNet/blob/8e5a0ed384e8b645e74ca19f1c2fe5e5a921077a/BenchmarkDotNet.Samples/Framework/Framework_StopwatchVsDateTime.cs#L9-L11):

[code]

with the [new way using Config c

[2016-02-02 18:24] AndreyAkinshin commented on #74
For now, you can write something like this:
[code]
Looks pretty easy for me. Look at the information about the command style for configs in the `refactoring` README.

[2016-02-03 00:51] #81 closed

[2016-02-03 10:39] mattwarren commented on #74
Yeah your right, that's pretty easy.

Definitely a case of needing to RTFM on my part ;-)

[2016-02-03 11:11] adamsitnik commented on #74
I think that configuration with parsable strings might be just too error prone.

Maybe we could combine [Flags] enums with  and Attributes where AllowMultiple = true?

[Some sample code](https://gist.github.com/adamsitnik/c7167a340b1f4be76bbf)

[2016-02-03 11:13] mattwarren commented on #74
Yeah that's a good point, "magic strings" are always tricky

[2016-02-03 11:42] omariom commented on #74
Why not preserve (somehow) BenchmarkTask and add BenchmarkTaskConfig?

[2016-02-04 03:37] AndreyAkinshin commented on #74
Ok, here are some points:
* New "magic strings" completely match to command line arguments, so, you can copy-paste your config between the `Config` attribute and console. Also, it allows you to set complex config in a short and human-readable form (e.g. `jobs=LegacyJitX64,RyuJitX64 columns=min,max`). You always can copy a desired config from examples in Readme and improve it with a few symbols.
*

[2016-02-04 11:55] xoofx commented on #56
Hi there!
@mattwarren is the GC report available on a fork somewhere? I'm looking exactly for this feature (GC.GetCollectionCount)

[2016-02-04 14:01] mattwarren commented on #56
@xoofx not yet, but soon. See https://github.com/PerfDotNet/BenchmarkDotNet/blob/refactoring/BenchmarkDotNet.Diagnostics/GCDiagnoser.cs for the current WIP. At the moment it's logging the ETW events, but I haven't pushed the code that parses the events and displays the results. I plan to have it implemented within the next week.

Just one thing, I decided to go with ETW events as they give us more

[2016-02-04 14:10] xoofx commented on #56
GC ETW events will be just great, looking forward to this!

[2016-02-04 14:22] mattwarren commented on #56
Cool, that's good to know.

[2016-02-04 17:37] omariom commented on #74
@AndreyAkinshin

Convinced! )

The last question. Will it be possible to do the following?

[code]

[2016-02-04 22:11] AndreyAkinshin commented on #74
It is an interesting idea. Now we have the following source code:
[code]
I can define `IConfigAttribute`:
[code]
So, anyone who implements `IConfigAttribute` can be ConfigAttribute. @omariom, what do you think?

[2016-02-05 00:07] omariom commented on #74
@AndreyAkinshin
:+1: I would just call it IConfigSource.

[2016-02-07 10:57] AndreyAkinshin commented on #74
@omariom, done: https://github.com/PerfDotNet/BenchmarkDotNet/blob/120b7c8bb3720c3a48a26840fcec71c30ab5c7b7/BenchmarkDotNet.Samples/Intro/IntroConfigSource.cs

[2016-02-07 11:04] omariom commented on #74
:+1: :+1:

[2016-02-09 18:22] #75 closed

[2016-02-09 18:28] #88 closed

[2016-02-09 18:28] AndreyAkinshin commented on #85
Implemented in v0.9.0. (see `Job.Dry`)

[2016-02-09 18:28] #85 closed

[2016-02-09 18:29] AndreyAkinshin commented on #82
Implemented in `v0.9.0`.

[2016-02-09 18:29] #82 closed

[2016-02-09 18:31] AndreyAkinshin commented on #80
In `v0.9.0`, you can define own column and use all data from the summary to build any statistics based on any subset of measurements.

[2016-02-09 18:31] #80 closed

[2016-02-09 18:32] AndreyAkinshin commented on #74
Implemented in `v0.9.0`.

[2016-02-09 18:32] #74 closed

[2016-02-09 18:35] AndreyAkinshin commented on #5
In `v0.9.0`, the processor affinity is an optional property of each job.

[2016-02-09 18:35] #5 closed

[2016-02-09 19:01] AndreyAkinshin commented on #70
I found a bug, will be fixed soon.

[2016-02-10 10:44] Pzixel opened #90 "Test class couldn't be compiled [Bug]"
I have following test class:
[code]

and running code:

[code]
When I run it I get following output
![default](https://cloud.githubusercontent.com/assets/11201122/12945083/390536a0-cffc-11e5-92b6-f6440b6ffac6.png)
Runned under version 0.9.0

[2016-02-10 12:00] AndreyAkinshin commented on #90
Fixed in the `develop` branch.

[2016-02-10 13:29] #70 closed

[2016-02-10 13:29] #90 closed

[2016-02-10 13:30] AndreyAkinshin commented on #90
Fixed in `v0.9.1`.

[2016-02-10 13:30] AndreyAkinshin commented on #70
Fixed in `v0.9.1`.

[2016-02-10 18:02] redknightlois commented on #70
So it was a bug. Glad to know. I will rerun those tests when I have a chance. Probably also add them to the samples, there are JIT ones.

[2016-02-13 06:34] ejsmith commented on #84
Yes, please. :-)

[2016-02-15 14:52] mattwarren commented on #56
This is finally done, see the recent commits in the "develop" branch https://github.com/PerfDotNet/BenchmarkDotNet/commits/develop

[2016-02-15 16:19] mattwarren opened #91 "Code generated for [Params(..)] Benchmarks"
Currently, for a benchmark like this:

[code]

We generate all these benchmarks:

![image](https://cloud.githubusercontent.com/assets/157298/13054073/a5cdcffc-d3ff-11e5-9625-ca41af3eb08a.png)

Each of which has the `[Params(..)]` hard-coded, e.g from **IntroParams_Benchmark__A-100_B-20**

[code]

Should we revert to the old way of doing this, i.e. only generate 1 benchmark and pass the values for

[2016-02-15 21:31] mattwarren commented on #73
@omariom @AndreyAkinshin what do you think looks best in the console? In Markdown we pretty much have to do it using **bold text**, we can't use colours like this.

**Option 1:**

![image](https://cloud.githubusercontent.com/assets/157298/13060489/c4d72874-d429-11e5-9c6c-fa07ec7e1d96.png)

**Option 2:**

![image](https://cloud.githubusercontent.com/assets/157298/13060632/c3dfd802-d42a-11e5-8fc6-21

[2016-02-15 22:00] omariom commented on #73
Wow!
Option 2 looks great :+1:

[2016-02-15 23:14] #56 closed

[2016-02-16 00:20] xoofx commented on #56
That's great, thanks for this feature! I will come back here once I will have time to test it

[2016-02-16 14:46] mattwarren commented on #73
cool, @AndreyAkinshin are you happy with it being the default to have the rows coloured like this (when the benchmark has `[Params()]`?

![image](https://cloud.githubusercontent.com/assets/157298/13079420/07f1b2f4-d4bc-11e5-822c-17b258a20f78.png)

[2016-02-16 17:01] mattwarren opened #92 "Results in the R graphs aren't displayed in a "Natural Sort Order""
This means that if you have a benchmark with `[Params(1, 2, 3, 4, 5, 10, 15, 20)]` the results look like this:

![framework_stringconcatvsstringbuilder-barplot](https://cloud.githubusercontent.com/assets/157298/13083762/5298f440-d4ce-11e5-8226-b3ac8549e18d.png)

i.e. the order of the bars is `1, 10, 15, 2, 20, 3, 4, 5`, which is a bit misleading!!

~~I don't know enough about how we generate the g

[2016-02-17 09:01] AndreyAkinshin commented on #92
Yes. I think, you should just reorder lines in `CsvMeasurementsExporter` according to the natural sort order.

[2016-02-17 09:03] AndreyAkinshin commented on #73
LGTM

[2016-02-17 15:20] khellang commented on #51
What's the status on this?

[2016-02-17 15:29] adamsitnik commented on #51
@khellang  [Implemented, waiting for approval](https://github.com/PerfDotNet/BenchmarkDotNet/pull/87)

[2016-02-18 18:11] JasonBock opened #93 "Exception After Running Benchmark"
The code to reproduce this is here:

https://github.com/JasonBock/ImprovingPerformance

It's the StringBuilderVersusXml project. If I run it, I get this exception:

System.InvalidOperationException was unhandled
  HResult=-2146233079
  Message=StatSummary: Sequence contains no elements
  Source=BenchmarkDotNet
  StackTrace:
       at BenchmarkDotNet.Mathematics.Statistics..ctor(IEnumerable`1 value

[2016-02-18 20:50] adamsitnik commented on #93
Hi @JasonBock !

I am able to reproduce your error. The problem is that the method that you are trying to execute is throwing an exception:

[code]

[2016-02-22 14:03] JasonBock commented on #93
Well, that would cause it :). It wasn't obvious in the exception message though, unless I missed it.

[2016-02-22 14:03] #93 closed

[2016-02-22 14:08] adamsitnik commented on #93
Yes, you are right. We should give more detailed info on error.

[2016-02-22 14:18] mattwarren commented on #93
@JasonBock/@adamsitnik how is this benchmark being run when the exception is hidden?

I just tried a simple test with a benchmark that throws an exception:

[code]

which is run from a console app, like so:

[code]

And when I ran it on the command line I got this:

![image](https://cloud.githubusercontent.com/assets/157298/13220560/c30dd89a-d96e-11e5-8b7e-e7c880ead186.png)

[2016-02-22 14:35] adamsitnik commented on #93
As far as I remember here the problem was that first benchmark got executed and the second has failed. So there was a lot of things in output, which could be confusing.

[2016-02-22 16:38] mattwarren commented on #92
Thanks for fixing this, it works now

![framework_stringconcatvsstringbuilder-barplot](https://cloud.githubusercontent.com/assets/157298/13224926/9d91cad6-d982-11e5-8a84-cdda7e7f1034.png)

[2016-02-22 16:38] #92 closed

[2016-02-22 16:52] omariom commented on #91
:+1:

[2016-02-22 16:58] omariom opened #94 "Put all the generated artifacts in a separate folder"
Currently everything - from benchmarks to reports (including R ones) - is in `bin/Release`.
Too many folders and files in one place. Difficult to find what you need.

[2016-02-22 17:13] omariom opened #95 "Results should preserve the order of param values definition"
[code]
             Method |      Median |    StdDev | spanLength |
------------------- |------------ |---------- |----------- |
 SequenceEqual byte |  18.2487 ns | 0.0000 ns |          1 |
 SequenceEqual byte | 297.9979 ns | 0.0000 ns |       1024 |
 SequenceEqual byte | 259.9845 ns | 0.0000 ns |        128 |
 SequenceEqual byte |  45.4490 ns | 0.0000 ns |         16 |
 SequenceEqual byte |  20.7

[2016-02-22 17:43] mattwarren commented on #95
Which build are you using? I thought I fixed this?!

Are they sorted correctly in the console output, or is that wrong as well?

[2016-02-22 17:47] AndreyAkinshin commented on #95
@mattwarren, you fixed it in the `develop` branch, we still have `v0.9.1` with this bug as a last stable version on NuGet.

[2016-02-22 17:48] mattwarren commented on #95
oh yeah, forgot about that!!

[2016-02-22 17:49] mattwarren commented on #94
Agree, I definitely agree that all the R images/pdfs should probably go in another folder.

It also get's a bit messy when you have lots of `[Param()]` values, as per #91

[2016-02-22 18:45] omariom commented on #95
@mattwarren
Does you change preserve the order of definition?

[2016-02-22 20:55] mattwarren commented on #95
No it explicitly sorts them in Natural Sort Order, i.e. sorts the param values as int/long/double/etc, rather than as text as we were doing previously.

![image](https://cloud.githubusercontent.com/assets/157298/13232253/49c28b6a-d9a6-11e5-827e-7e6d50b01043.png)

Is there a scenario where you would want them sorted in definition order, rather than their actual order?

[2016-02-22 23:03] omariom commented on #95
I just thought there could be a case when values are strings and the order is only meaningful for me )

But ordering by values is ok.

[2016-02-24 09:18] Pzixel opened #96 "Implement enums as valid Param for test"
For example I have following declaration:
[code]
and now I want to use it:

[code]
But I get multiple errors and test doesn't run.

I think it's not hard to implement enums. But i'd like to use a type of enum and take all values as params, for example:

[code]

[2016-02-24 09:53] Pzixel opened #97 "Params changes an order"
Sample class:

[code]

Output:

![untitled](https://cloud.githubusercontent.com/assets/11201122/13281557/93a59d6c-daf5-11e5-9a2e-9439779ea5f9.png)

Expected output: 10000 will be at the last line.

[2016-02-24 17:57] mattwarren commented on #72
@nietras sorry for the delay in getting to this issue. I tried with the latest NuGet build (0.9.1) and this now works. We now have a fallback mechanism for building the benchmark which handles your scenario

[code]

this shells out to MSBuild and you eventually get:

[code]

Full output:

![image](https://cloud.githubusercontent.com/assets/157298/13295265/f31911d2-db1f-11e5-9cb0-614d250c1880.png)

[2016-02-25 09:34] gregoryyoung opened #98 "Histograms"
I was looking at adding histogram support and ended up here: https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Mathematics/Statistics.cs

I have two questions.

1) Would a PR with histogram support be accepted? It would seem to be pretty useful (much more so that mean + stddev)
2) As of now statistics is taking a full result set of doubles. This is probably not the best ide

[2016-02-25 10:17] mattwarren commented on #98
I'll let @AndreyAkinshin comment about if this is a good fit for BenchmarkDotNet, he handles the parts of the code that do all the stats!

However `<shameless plug>` if we do this, consider using the [C# port of HdrHistogram](https://github.com/HdrHistogram/HdrHistogram.NET), I wrote a while back `</shameless plug>`.

The original Java version was written by [Gil Tene](http://www.infoq.com/author/

[2016-02-25 10:39] mattwarren commented on #97
FYI, this is already fixed in the GitHub source and will be in the next NuGet release

[2016-02-25 10:41] mattwarren commented on #72
Although after thinking about this a bit more, I'm pretty sure that it only now works by coincidence not by design!

So we still need a proper fix

[2016-02-25 10:43] gregoryyoung commented on #98
HDRHistogram is exactly what I was planning on using :)

[2016-02-25 10:47] adamsitnik commented on #72
Current implementation adds two references to .csproj:
[code]

The only workaround for me for now would be to make one of these benchmark return some type from the referenced dll.

[2016-02-25 11:10] mattwarren opened #99 "Discuss and track points raised by @nietras"
Original discussion https://github.com/aspnet/KestrelHttpServer/issues/647#issuecomment-186655639 and https://github.com/aspnet/KestrelHttpServer/issues/647#issuecomment-188210482

- [ ] Consider enabling Memory Profiling by default?
- [ ] NuGet package for Diagnosers
- [ ] Better docs for Diagnosers
- [ ] Improved (or fix) the Assembly and/or IL Diagnoser
- [X] Fix #72

[2016-02-25 11:11] nietras commented on #99
Awesome! If you need any feedback let me know.

[2016-02-25 11:22] mattwarren commented on #99
Does the lists of tasks I added cover everything, or is there something I missed out?

[2016-02-25 11:25] nietras commented on #99
No that is everything. Thanks.

[2016-02-25 11:50] #97 closed

[2016-02-25 12:40] AndreyAkinshin commented on #98
Sounds good. However, I don't wont to have any dependencies in the core library. I can suggest the following plan:
1. On this weekend, I'm going to accept https://github.com/PerfDotNet/BenchmarkDotNet/pull/87 with DNX support. This PR has a rewritten project structure (xproj instead of csproj). Please, wait for this merge. Otherwise, we will have a lot of troubles with merging your histogram branc

[2016-02-25 12:45] gregoryyoung commented on #98
"What do you think?

This is probably not the best idea for fine grained runs where I might be
wanting to run say 50m times this looks like a larger change to allow for
incremental tracking

Can you write an example that explains your idea?"

That you call per measurement not "here are all the results"

On Thu, Feb 25, 2016 at 2:40 PM, Andrey Akinshin <notifications@github.com>
wrote:

--
Studying

[2016-02-25 13:07] adamsitnik commented on #99
@mattwarren I know that you have moved Diagnosers from main part mostly because of DNX/CORE support. I have managed to get it working for DNX, and I believe that with some #ifdefs for CORE I could merge it back again to main project. Would that be useful or you would rather stay with separate project?

[2016-02-25 14:11] AndreyAkinshin commented on #98
Sorry, I still don't get it.

[2016-02-25 14:32] gregoryyoung commented on #98
Right now it does measurements. Collects all results. Sends all results to
statistics. With many millions of runs on very tight code this can be very
expensive (think 100m runs). Instead it might be nice to be able to mark
runs one by one to statistics to avoid having to keep the entire run set in
memory (eg incremental)

On Thu, Feb 25, 2016 at 4:11 PM, Andrey Akinshin <notifications@github.com>

[2016-02-25 15:01] AndreyAkinshin commented on #98
In fact, we don't have a lot of measurements. A measurement take at least 200ms. Thus, in the worst case, we have ~18'000 measurements per hour.

[2016-02-25 15:05] gregoryyoung commented on #98
Ah ok

On Thu, Feb 25, 2016 at 5:01 PM, Andrey Akinshin <notifications@github.com>
wrote:

--
Studying for the Turing test

[2016-02-25 16:44] arkanes opened #100 "Code generation doesn't support generic classes"
When attempting to write a benchmark in a generic class, I have failures because the code generation seems to just rely on type.Name.

trivial example:

[code]

where I'm doing independent runs to benchmark different CSV configurations

[2016-02-25 17:37] adamsitnik commented on #96
I know that this is just a workaround, but you can try something like this:

[code]

[2016-02-25 19:20] AndreyAkinshin commented on #96
I add enum support in 0.9.2, this feature requires a few lines of code.

[2016-02-26 13:19] jskeet opened #101 "Strong naming?"
Much as I'm not a fan of strong naming, it's a fact of life and a necessity for open source projects which want to be consumable by other projects which *are* strongly named.

Therefore, NodaTime is strongly named.

NodaTime.Benchmarks uses some internals of NodaTime, therefore NodaTime.Benchmarks is strongly named.

Therefore, BenchmarkDotNet should be strongly named so that I can consume it :)

[2016-02-26 14:20] martincostello commented on #101
+1 - I've literally just started playing with this library and got this on first use:

[code]

[2016-02-26 15:13] goldshtn opened #102 "GCDiagnoser should create a real-time ETW session and not use logman to record to a file"
Continuing the discussion from https://github.com/PerfDotNet/BenchmarkDotNet/commit/ae71f296843b2d9bd05892477241c4193573b42e. Need to make the diagnosers project refer to the TraceEvent NuGet package (which supports .NET 3.5), and then the `TraceEventSession` class can be used for real-time event processing.

@mattwarren

[2016-02-26 15:21] xied75 opened #103 "UWP support?"
Dear all,

I see there are issues raised regarding DNX and coreclr support. I wonder what is the possibility for this to work under UWP? Is there roadblock that effectively make that impossible (e.g. due to policy preventing emit new type, things like moq, nsubstitute, even roslyn won't be able to work within UWP).

Best,

Dong

[2016-02-26 20:22] ejsmith opened #104 "System.InvalidOperationException: StatSummary: Sequence contains no elements"
I'm getting the following error. Any ideas what is wrong?

[code]

[2016-02-26 20:33] adamsitnik commented on #104
Most probably one of the methods marked as [Benchmark] fails, exception gets swallowed and there is no data to calculate for stats

[2016-02-26 20:33] adamsitnik commented on #104
Most probably one of the methods marked as [Benchmark] fails, exception gets swallowed and there is no data to calculate for stats

[2016-02-26 21:38] hiiru opened #105 "Params Attribute bug with float type"
I noticed a bug with the Params attribute.
When it is used on a property of type float, I get a casting error when running the benchmarks:

I created a minimal example code to reproduce the bug:
https://github.com/hiiru/BenchmarkDotNet-bug-paramsfloat

generated report: https://github.com/hiiru/BenchmarkDotNet-bug-paramsfloat/blob/master/BugPoC-report-default.md

I tested it with 0.9.1 and dev.

[2016-02-27 09:54] adamsitnik commented on #103
Hi Dong!

BenchmarkDotNet needs to compile and execute a console program. In DNX and CORE I did that with dotnet cli. If it is possible to build and run UWP console programs with dotnet cli, then this feature should be doable.

I wanted to try this with one of [these samples](https://github.com/Windows-Readiness/AbsoluteBeginnersWin10), but I need to install additional SDK to build for UWP first,

[2016-02-29 10:56] ppanyukov commented on #101
I bet the moment there is a switch to strong-name-only option there will be requests to provide a not-strongly-named package :)

Is it a good idea to follow the example of `StackExchange.Redis` and provide **two** packages: one as-is now, and another with strong name, as in:

- **StackExchange.Redis**: https://www.nuget.org/packages/StackExchange.Redis/
- **StackExchange.Redis.StrongName**:  https

[2016-02-29 11:00] martincostello commented on #101
That approach would work for me. Strong-naming often causes tugs-of-war among developers :)

[2016-02-29 11:06] jskeet commented on #101
Why would there be a request for a not-strongly-named package? What can you do with a not-strongly-named package that you can't do with a strongly-named package, if the signing key is provided (which is the current recommendation)? If the signing key *isn't* provided, it means you can't fix issues yourself without waiting for another release, but I'd propose that we include the signing key.

[2016-02-29 11:37] ppanyukov commented on #101
@jskeet I'm sure you are aware of billions of heated discussions about strong-name vs not-strong-name in the last years better than anyone else here? I had first-hand grief experiences with strong names in the past.

But things must have moved on, because you don't seem to consider this an issue anymore. What is the current recommendation about providing the signing key you are referring to? I'm n

[2016-02-29 11:41] jskeet commented on #101
I'm aware that it's been a pain in the past for open source projects precisely because the signing key was not included. I'm not aware of any other drawback to signing, as far as the consumer is concerned.

The new guidance is at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md:

Now that document also says that most libraries don't need to strong name

[2016-02-29 11:51] martincostello commented on #101
Based on the "identity-not-security" point, the key-pair file should just be included in the repo. That's what I've done with two libraries I have published on NuGet whose code is hosted here in GH.

[2016-02-29 11:54] xied75 commented on #103
@adamsitnik No there is no chance to run a Console within UWP. Is that a MUST must? Can we workaround that?

[2016-02-29 13:05] adamsitnik commented on #103
How BDN works:
Master process (usually console app) generates and builds new project. This is a console app that is responsible for running single benchmark. The auto-generated program is started and writes it's output to console, which is redirected to master process which parses the output and calculates all the statistics etc.

So it is possible but I am afraid that it would require too much wo

[2016-03-01 00:11] xoofx commented on #101
The main drawback of signing are for plugins (without an assembly redirect). If a library A is signed and provides a plugin infrastructure, and another library B using A to provide a plugin. If the library A is changing (even just by fixing an internal issue), the developer of the library B will have to re-compile/deliver a version of its library B, unless you specify an assembly redirect. It may

[2016-03-01 00:39] xoofx opened #107 "Specify benchmark method order"
Could we have a way to specify order of benchmarks via either `DisplayAttribute.Order` or a dedicated attribute if it is relevant? (and use method name order otherwise). If both are used, display first methods with order and then methods by alphabetical order. (Not only used for reporting, but also for execution)

[2016-03-01 06:34] jskeet commented on #101
Ah, I wasn't aware of that aspect. (I'd have expected it to be okay if the AssemblyVersion were the same, with only the AssemblyFileVersion changing, but I'm not an expert on that side of things.)

For that scenario, publishing a "with strong name" and "without strong name" version doesn't help either - it just means plugin developers need to build two packages as well.

In this case I strongly su

[2016-03-01 08:09] NPatch commented on #101
+1 for strong naming.
When providing a plugin , you usually provide the libraries it uses as well. Users don't really need to have the latest version of library A(or update it as a new version gets released) since all they want to do is use the plugin with library B( that needs library A, more precisely a version compatible with library B). All they want is a working solution, most of the time.

[2016-03-01 09:34] mgravell commented on #101
@ppanyukov in some ways, if I was doing SE.Redis from scratch, I would have strong named it from the outset. I don't *like* strong naming as such (in most cases where a reason is given, the reason is a confused one, thinking it does something that it doesn't actually do; in other cases, the reason is simply "because I need it to be strong named to work on [platform X]"). But frankly I've grown bor

[2016-03-01 09:36] mgravell commented on #101
@xoofx binding redirects are built into tools like nuget now, no?

[2016-03-01 09:55] JoshVarty commented on #101
Are you sure this is true? The full signature isn't checked unless you're GACing the assembly (Or you disable strong name bypass on your machine). So wouldn't the short name, culture, version and public key token remain the same?

You can certainly rewrite/modify strong named DLLs and anything that referenced them will continue to work away happily.

[2016-03-01 10:02] mgravell commented on #101
The problem there is usually the "version" part, and how people decide to label the package; if the declared version changes, then: the identity is different. One approach there is to not change the identity version for minor builds (keeping that to the nuget package, and maybe `[AssemblyFileVersion]`)

[2016-03-01 10:17] JoshVarty commented on #101
Makes sense :+1:

[2016-03-01 11:32] kedde opened #108 "Copy custom setting from app.config"
I'm trying to test the performance of different ways to query my database, my configuration is given in a configuration file(app.config). I couldn't figure out how to set the configuration file, is there a way to specify the path to an app.config?

[2016-03-01 12:25] adamsitnik commented on #108
BDN creates new project for each Benchmark, compiles it and executes as separate process. New app.config file is also created, which probably is cause of the problem here.

So I would say that your benchmarks should not rely on app.config files, which is DBN limitation.

[2016-03-01 16:41] kedde commented on #108
ok, thanks for the quick answer. I'll try to get the Entity framework to work without the config file.

[2016-03-01 17:31] mattwarren commented on #107
At the moment (in the latest GitHub code anyway) the best you can do this:

[code]

So the `Description` will be used instead of the method name. However this only affects the order that the results are displayed in, NOT the order that the benchmarks are executed.

Just out of interest, what's the reasons for wanting it to affect the order of execution? (I can understand wanting the order of displ

[2016-03-01 17:34] mattwarren commented on #104
This has now come up twice, so I think we need to do something better here.

- [ ] Make the original exception more obvious
- [ ] Stop the 2nd LINQ exception from happening, as it's not the root cause and it's confusing.

I'll take a look

[2016-03-01 21:10] adamsitnik commented on #104
Currently exception occurs in separate process, we just read the output from it, check the exit code and later on try to parse the results. So it looks like there is exception, but it is only a redirected output.

Maybe we should do some kind of a initial verification first? Like calling SetUp once and then each Benchmark before doing the initial job?

[2016-03-02 01:57] xoofx commented on #107
I'm using BenchmarkDotNet to benchmark my library/method (which is in dev) against other libraries/method (which are usually stable, e.g: coming from nuget or coming from a part of my code that I don't change when I want to compare a new implem with an old implem)

So usually, once I have ran a first benchmark, I know how fast are other libraries/method. Then I usually iterate to fix performance i

[2016-03-02 01:59] xoofx commented on #107
For reporting, display order options could be a little more flexible, for example:
- Order from fastest to slowest
- Order from slowest to fastest
- Order from execution order

[2016-03-02 02:11] xoofx commented on #101
Haven't checked, good if they are part of it... but some solutions are not using nuget for their project dependencies...

That could be actually a good workaround.. but still, a major version doesn't mean that you break existing features...

[2016-03-02 03:46] redknightlois commented on #107
I can vouch of having done that too.

[2016-03-02 07:16] AndreyAkinshin commented on #107
@xoofx, it is a really easy to implement, but it is hard to create a good API.

## Some thoughts

Let's start with order of execution. For now, a benchmark = TargetMethod + Job + Parameters. How we should combine these 3 lists? E.g. we have two methods (`A`, `B`), two jobs (`J1`, `J2`), and one parameter with two values (`x`, `y`). There are 6 following order possibilities:
* Method->Job->Params
`

[2016-03-02 07:33] AndreyAkinshin commented on #105
@hiiru, thanks for the bug report. Fixed in the develop branch, will be on NuGet soon.

[2016-03-02 07:35] xoofx commented on #107
Having a common infrastructure for doing ordering, display, that's good.

But things should be easy in some particular common case. At least, I believe that my case is quite simple, I'm not using params, not using jobs (not sure what is their usage/semantic), didn't even know that they were existing.

So having to develop a class just to specify an order for methods is quite annoying, or at least,

[2016-03-02 07:39] AndreyAkinshin commented on #96
Fixed in the develop branch.

[2016-03-02 07:46] AndreyAkinshin commented on #107
@xoofx, good point. I can write a set of predefined OrderProviders (i don't sure that it is a good name; if you have a better one, let me know) for common cases.

[2016-03-02 08:04] AndreyAkinshin commented on #103
@xied75, theoretically, it is possible to implement UWP support, but it is a hard issue. It would be very cool, if we do it (I want to benchmark UWP for a long time). Here is an idea: we can define addition UWP toolchain that generates an UWP app, build it, execute it; the generated app runs target benchmarks and save resulted log in some special file. Next, the master app parse this file and aggr

[2016-03-02 08:10] AndreyAkinshin commented on #100
Thanks for the report. Will be fixed soon.

[2016-03-02 09:29] adamsitnik commented on #103
@AndreyAkinshin Good idea! The only drawback would be limited diagnosers support (now they can react on new line written to console). But I can guess that it still would be great to have BDN support UWP

[2016-03-02 09:39] mgravell commented on #101
features...

In terms of semver 2.0 (http://semver.org/), yes, it does:

   1. MAJOR version when you make incompatible API changes,
   2. MINOR version when you add functionality in a backwards-compatible
   manner, and
   3. PATCH version when you make backwards-compatible bug fixes.

just sayin'

[2016-03-02 10:44] mattwarren commented on #102
merged

[2016-03-02 10:44] #102 closed

[2016-03-02 11:03] mattwarren opened #109 "Consider displaying "first call" effects in the summary table"
From a comment left on on Scott Hanselmans blog (http://www.hanselman.com/blog/CommentView.aspx?guid=31851866-03d3-4a11-90a0-a50597dca7e2#commentstart)

I know that JMH has a [SingleShotTime](http://javadox.com/org.openjdk.jmh/jmh-core/0.8/org/openjdk/jmh/annotations/Mode.html#SingleShotTime) mode for this, maybe we need something similar? I guess we can do some of this with `Jobs=Dry`, but I don'

[2016-03-02 11:07] AndreyAkinshin commented on #109
We have `SingleRun` as an analogue of `SingleShotTime`.

[2016-03-02 11:11] mattwarren commented on #99
@adamsitnik sorry, I missed this comment, the BenchmarkDotNet issues have been busy the last week or so!!

The other reason is that @AndreyAkinshin doesn't want any third party dependencies in the main/core project (which I agree with BTW). So there's also this to consider.

I'm not sure what the best answer is @AndreyAkinshin what do you think?

At the moment the Diagnosers are too hard to use, b

[2016-03-02 11:12] mattwarren commented on #109
WOW, sorry I completely forgot about that!!

Ignore this issue, I'll post a reply to the comment on Hanselmans blog.

[2016-03-02 11:12] #109 closed

[2016-03-02 11:19] AndreyAkinshin commented on #109
Probably we should add more information about modes in the documentation.

[2016-03-02 11:28] AndreyAkinshin commented on #99
Diagnosers should be a separated project with a separated NuGet package.
In the future, I really want to run benchmarks on Linux (plus Mono or CoreCLR). So, it will be another separated project and another NuGet package for Linux diagnosers (via `xperf`). BTW, maybe we should rename current package to `BenchmarkDotNet.Diagnostics.Windows`.

[2016-03-02 11:41] nietras commented on #99
I agree that platform specific diagnosers should be separated in separate nuget packages. The main point is that there should be nuget packages for easy access.

If these could be made platform agnostic in some way at runtime it would of course be best, that is you choose a `ClrMemoryDiagnoser` in your benchmark and the proper platform specific diagnoser implementation is chosen based on current p

[2016-03-02 12:02] AndreyAkinshin commented on #103
I think, we can add some hacks for UWP. =)

[2016-03-02 12:08] xied75 commented on #103
Great! :100:

[2016-03-02 12:09] AndreyAkinshin commented on #99
We can do the following system of NuGet packages:
* `BenchmarkDotNet`: core library without any third party dependencies
* `BenchmarkDotNet.Diagnostics.Windows` (or `BenchmarkDotNet.Diagnostics.Etw`)
* `BenchmarkDotNet.Diagnostics.Unix` (or `BenchmarkDotNet.Diagnostics.Xperf`)
* And `BenchmarkDotNet.Ultimate` to rule them all.
So, If I need only core without dependencies, I install `BenchmarkDotNe

[2016-03-03 13:49] TobiasBreuer opened #110 "Support for one-time Setup"
As far as I can see in the MethodInvoker class, the setup method belonging to a job is called before every execution of a target action.

I wonder if it would be possible to have a second Setup attribute to mark a special Setup method which is called exactly one time before the execution of a new method having a the Benchmark attribute but not before every repetition of this method (as set by Targ

[2016-03-03 13:59] AndreyAkinshin commented on #110
@TobiasBreuer, can you tell more about your situation? What exactly your do want to analyze?

[2016-03-03 14:35] TobiasBreuer commented on #110
Hi Andrey,
maybe code says more than I can explain - So let's have a look at a simplified example.
[code]

[2016-03-03 14:51] AndreyAkinshin commented on #110
Ok, I get it. You try to use library wrong way. There are some advises:
1. You want to know how Benchmark1 affects Benchmark2 based on cache state. So, don't split it up. Put it in one method and measure it together. One of basic BenchmarkDotNet concepts is the following: benchmarks should not affect each other.
2.  Don't set TargetCount manually. Only some specific situation requests a manual val

[2016-03-03 19:22] mattwarren commented on #104
With the changes I just pushed you get the output as shown below. I think this is enough for this issue.

Note the error in red (displayed when the benchmark throws an error) and the extra summary error at the end showing a list of which benchmarks had errors.

Note: the summary error should have always been there, it's just that the LINQ error (StatSummary: Sequence contains no elements) was hidi

[2016-03-04 05:18] mattwarren commented on #73
Method |     Median |    StdDev |  B | C |
----------- |----------- |---------- |--- |-- |
 **BenchmarkA** | **10.8005 ms** | **0.0000 ms** | **10** | **1** |
 BenchmarkB | 10.8655 ms | 0.0000 ms | 10 | 1 |
 BenchmarkC | 10.7374 ms | 0.0000 ms | 10 | 1 |
 **BenchmarkA** | **11.1841 ms** | **0.0000 ms** | **10** | **2** |
 BenchmarkB | 11.7211 ms | 0.0000 ms | 10 | 2 |
 BenchmarkC | 11.8318 ms | 0.

[2016-03-04 07:23] TobiasBreuer commented on #110
Yes and no.
Yes I'm somewhat missusing the library, No, Bechnmark 1 shall not influence Benchmark 2 or vice versa. The run that I would need is

- Setup
- Benchmark1
- Benchmark1
- Benchmark1
- Benchmark1
- Setup
- Benchmark2
- Benchmark2
- Benchmark2
- Benchmark2

Actually we could also completely ignore Benchmark2 I only added it for showing when the Setup should run. In the real test for this c

[2016-03-05 00:55] #73 closed

[2016-03-05 00:55] #104 closed

[2016-03-05 05:05] #51 closed

[2016-03-05 05:15] #110 closed

[2016-03-05 10:26] AndreyAkinshin commented on #107
@mattwarren, I'm ready to add `IOrderProvider` support. Any idea how I can integrate it with your recent "grouping" feature?

[2016-03-05 11:14] adamsitnik commented on #99
One of the side effects of my recent changes is that VS produces a nuget package for Diagnostics. You can just build the solution and take it from artifacts\bin\BenchmarkDotNet.Diagnostics\Release.

So if you would like to release it now in the actual form it should be relatively easy.

[2016-03-05 11:52] AndreyAkinshin commented on #107
@mattwarren, maybe we can add an additional method that will return a group of each benchmark (e.g. a `string`)? Next, we can use this group to color output. What do you think?

[2016-03-06 15:03] adamsitnik commented on #52
I have implemented .NET Core support for BDN based on existing Dnx toolchain. Code is [here](https://github.com/PerfDotNet/BenchmarkDotNet/tree/coreclr)

The only limitation I have encountered is that dotnet cli supports only x64 compilation as for now. So currently I ignore the specified processor architecture and always set x64.

I know that this is wrong. What do you think I should do with 32 b

[2016-03-07 19:59] zzz77 opened #111 "Bug in log file generator"
In generated log file there is summary section which can contain incorrect formatted float values.
See attached screenshot (method MySort)
![bug](https://cloud.githubusercontent.com/assets/3635408/13581488/2ed6b840-e4b8-11e5-8721-de522d82d242.PNG)

[2016-03-07 20:03] AndreyAkinshin commented on #111
It looks good to me. In the summary table, we use `,` as a separator because it improves readability.

[2016-03-07 20:09] zzz77 commented on #111
Oh. I just was confused by the fact that two similar benchmarks use different accuracy. And `,` used as a separator in the summary of first benchmark and `.` used as a separator in the another one. Seems strange.

[2016-03-07 20:12] redknightlois commented on #111
@zzz77 The issue is at the generation of the summary report.

@AndreyAkinshin If you look, the actual values are different. Sounds like a culture mixup somewhere in the ```.ToString()``` code

[2016-03-07 20:26] AndreyAkinshin commented on #111
@zzz77, what do you suggest to use as a separator?
@redknightlois, don't see any difference in the values. We use different formatters and precision in statistics and summary by design.

[2016-03-07 20:32] redknightlois commented on #111
@AndreyAkinshin You are right, the first has a different metric unit (micro-seconds instead of nano-seconds).

[2016-03-07 20:34] AndreyAkinshin commented on #111
@redknightlois, yes, it's because of the value scope. `us` is the best time unit for the `MySort` statistics. But in the summary table, the best time unit is `ns` (we have another result with median = `483ns`).

[2016-03-07 20:35] zzz77 commented on #111
Oops. Sorry. I've just realized that. My bad.

[2016-03-07 20:35] #111 closed

[2016-03-08 09:56] ppanyukov commented on #111
@zzz77 and @redknightlois, the difference in units is by design to accommodate varying magnitudes of stddev and things like that in different benchmarks. The separator is for readability.

In the attached screenshot in the original post the `stddev` for `StandardSort` is so small that if we used `us` as units we wouldn't see it at all. Hence we use `ns`. And in order to compare results easily acro

[2016-03-08 10:22] nietras opened #112 "Generic benchmark classes are not supported"
That is trying to run something like:
[code]
will fail when running e.g.:
[code]
Of course, you can then inherit:
[code]
But that is a bit bothersome for many types.

[2016-03-08 18:21] AndreyAkinshin commented on #112
Thank you for the report and for the repro. It is a known issue (see #100). There are some troubles with the fix, but I definitely fix this nasty bug soon.

[2016-03-09 08:17] AndreyAkinshin commented on #52
@adamsitnik, it is awesome, thank you again.

However, I have some questions/suggestions.
1. Is it possible to create a benchmark with two Jobs: Dnx and Core? I really want to run it as a single benchmark.
2. Maybe we can merge `DnxToolchain` with `CoreToolchain`, and use `BenchmarkDotNet.Jobs.Runtime`?
3. For now, all exporters create files (`md`, `csv`, `png`) in the project directory (I see the

[2016-03-09 13:01] adamsitnik commented on #52
Good idea! I will implement it.

I will check this out.

I believe it could be because of the different processor architecture. For Core we always compile to x64, so here it could be 32bit dnx vs 64 bit core problem. I will push some updates for this soon

This is great!

[2016-03-09 17:21] adamsitnik commented on #52
@AndreyAkinshin I have updated coreclr branch.

Changes:
* Core - not supported benchmarks are not executed (32bit, LegacyJit)
* Core and Dnx as Runtimes, not Toolchains
* I removed Toolchain from configuraiton, but the internal implementation is still using Toolchains, which are used based on Runtime

Sample config file:
[code]

Sample results:
[code]

[2016-03-09 17:24] AndreyAkinshin commented on #52
Awesome!

[2016-03-09 18:12] AndreyAkinshin commented on #52
It looks like everything works fine. And results for my favorite benchmark:

[code]
 Method | Runtime |      Median |    StdDev |
------- |-------- |------------ |---------- |
    Md5 |    Core |  24.5509 us | 1.1201 us |
    Md5 |     Dnx |  26.5151 us | 1.0375 us |
 Sha256 |    Core |  58.1015 us | 1.5358 us |
 Sha256 |     Dnx | 132.4039 us | 3.4255 us |

Are we ready to merge it into master?

[2016-03-09 18:15] redknightlois commented on #52
Dnx is running DesktopCLR?

[2016-03-09 21:58] AndreyAkinshin commented on #52
@adamsitnik, I tried to run BDN on Ubuntu 14.04.
Good news: master process works!
Bad news: we have some troubles with Generator (however, it looks like a minor issue). On Linux, BDN create directory `..\` for generated benchmarks, see attach.
![ubuntu](https://cloud.githubusercontent.com/assets/2259237/13652035/b892459a-e652-11e5-9e35-86256a286c54.png)

[2016-03-09 22:37] adamsitnik commented on #52
@AndreyAkinshin Good news! It is great that you can test it.

Could you try to update DotNetCliGenerator in following way:
[code]

[2016-03-09 22:39] adamsitnik commented on #52
@redknightlois Yes, exactly. DNX451 is a DNX SDK running on .Net 4.5.1 (Desktop CLR / Full BCL and FCL)

[2016-03-09 22:53] AndreyAkinshin commented on #52
@adamsitnik, success! CoreCLR benchmark runs on Linux. There is only one issue: it seems that without root privileges we can't change priority of the process. I can run benchmark only with help of `sudo`.

[2016-03-09 22:56] adamsitnik commented on #52
@AndreyAkinshin HURRAY! ;D Do you have any idea how to overcome the priority problem?

[2016-03-09 23:05] AndreyAkinshin commented on #52
My suggestion for today: can we just wrap it in try-catch?

[2016-03-09 23:09] adamsitnik commented on #52
Ok. I will add try catch and log warning on exception with the sudo hint.

[2016-03-09 23:10] adamsitnik commented on #52
Btw I wonder if setting the affinity would also throw

[2016-03-09 23:13] AndreyAkinshin commented on #52
Probably.
My plan for nearest future:
1. Publish a library version with CoreCLR support on NuGet
2. Merge coreclr into develop, and publish a version with last develop changes.
3. Fix bugs one by one.

[2016-03-09 23:27] adamsitnik commented on #52
@AndreyAkinshin I believe that it is a good plan. You can count on me with merge and bug fixing.

I created [PR](https://github.com/PerfDotNet/BenchmarkDotNet/pull/113) to have some more clear track of what changes have been introduced.

[2016-03-10 10:05] #52 closed

[2016-03-10 10:21] AndreyAkinshin opened #114 "Update NETStandard.Library dependency"
I can't publish v9.3.0 because of the NETStandard.Library dependency, see screenshot.

![nugetpackageexplorer_2016-03-10_12-19-41](https://cloud.githubusercontent.com/assets/2259237/13666518/9835296c-e6ba-11e5-8ced-05ad545f4c13.png)

[2016-03-10 10:44] adamsitnik commented on #114
@AndreyAkinshin We need to remove NETStandard.Library dependency from project.json file (only from the main BDN project). It is required only for auto-generated project.json to have it.

Where should I push it? Directly to master? Or to coreclr and merge? Or you could remove this line and stash it with last, version-setting commit?

![image](https://cloud.githubusercontent.com/assets/6011991/13667

[2016-03-10 10:48] AndreyAkinshin commented on #114
I already accept the PR, so, just push another commit directly in master.

[2016-03-10 11:01] adamsitnik commented on #114
Hmm. I just realized that we have some other dependencies to prerelease packages.

The problem is that these are available only as prerelease:

[code]

[2016-03-10 11:06] AndreyAkinshin commented on #114
So, do you want to say that it is impossible to publish a stable CoreCLR package that uses `System.Console`?

[2016-03-10 11:08] adamsitnik commented on #114
I am not sure, I am googling it at the moment.

[2016-03-10 11:50] redknightlois commented on #114
You can't publish as stable a CoreCLR package, because dependencies are unstable.

[2016-03-10 11:55] AndreyAkinshin commented on #114
=(
@adamsitnik, in this case, can we build two nuget packages in artifacts: a stable release (like `0.9.3`) without CoreCLR dependency, and a prerelease (like `0.9.3-beta`) with CoreCLR support?

[2016-03-10 13:44] adamsitnik commented on #114
@redknightlois Thanks for the info!

@AndreyAkinshin I think yes. You need to go to the project.json file, remove the dnxcore50 part, build the solution in Release and publish the package. Then remove the net40, net45 and dnx451, restore dnxcore50, update the version and build in Release, grab the package and publish it.

Maybe there is cleaner way of doing it, but I have no ideas as for now.

[2016-03-11 23:59] henkmeulekamp opened #116 "Issue when ParamAttribute decorated property is double and current system culture has comma as decimal separator"
Not sure if this is a known issue, or that documenting the work-around is enough, but I encountered it on my system having the Dutch regional settings by default.

When a ParamAttribute is set on a double type and system culture is Dutch nl-NL (and any other region where decimal separator is a comma):

[code]

[code]
The tool generates the following code:

[code]

This will fail on build:
[code]

[2016-03-12 18:22] adamsitnik commented on #116
@henkmeulekamp  Goedenavond! Thanks for the detailed bug report! I will fix it right away.

[2016-03-12 19:28] adamsitnik commented on #116
I just wrote test for that, it passed and I realized that it got already got fixed ;)

[Commit](https://github.com/PerfDotNet/BenchmarkDotNet/commit/d3f7ce6294fe94150c810bc27122d2aa927748dc?diff=unified), [code](https://github.com/PerfDotNet/BenchmarkDotNet/blob/d3f7ce6294fe94150c810bc27122d2aa927748dc/BenchmarkDotNet/Toolchains/Classic/ClassicGenerator.cs#L114-L119)

However these changes were no

[2016-03-13 07:23] AndreyAkinshin commented on #114
Ok, now we have two version of the package:
* stable `0.9.3` (`net40`+`net45`+`dnx451`)
* prerelease `0.9.3-beta` (`net40`+`net45`+`dnx451`+`dnxcore50`)

[2016-03-13 07:24] #114 closed

[2016-03-14 19:33] henkmeulekamp commented on #116
Thanks for fixing it so fast!

[2016-03-15 09:59] pjmagee commented on #66
Yep, it says it cannot find UserQuery namespace. :(

[2016-03-15 14:15] omariom opened #118 "Raw data in CSV reports"
CSV files is target for tools. So values in columns suffixed  with unit (like `ns`) is an inconvenience.
Can the unit be moved to column names in the header?

[2016-03-16 16:26] mattwarren commented on #68
Some more related info (from a comment on Scott Hanselman's Blog Post ["Benchmarking .NET code"](http://www.hanselman.com/blog/CommentView.aspx?guid=31851866-03d3-4a11-90a0-a50597dca7e2#commentstart)):

What is interesting is that the most benchmarks provided by software makers are very skewed, i.e. serializers depend greatly on payload type, as our test indicated. Some things taken for granted li

[2016-03-16 18:08] nietras commented on #118
+1 I would second that, it really should be in the header.

[2016-03-16 18:12] nietras opened #119 "For large benchmarks report exporting is very, very slow and has a massive Gen2 heap"
It has been running for hours at 100% CPU for a very long time with:

![image](https://cloud.githubusercontent.com/assets/10798831/13823675/fb5b11ce-ebaa-11e5-840c-9cc3eb329873.png)

And Gen2 can be seen here:

![image](https://cloud.githubusercontent.com/assets/10798831/13823612/adacba18-ebaa-11e5-99ed-078099c59ae9.png)

[2016-03-16 18:22] adamsitnik commented on #119
For hours? Sounds interesting. I will take a look at it right away.

[2016-03-16 18:32] adamsitnik commented on #119
@nietras do you use the default Config?

[2016-03-16 18:33] nietras commented on #119
No. And I'm using a param with a lot of values.
On Mar 16, 2016 7:32 PM, "Adam Sitnik" <notifications@github.com> wrote:

[2016-03-16 19:42] nietras commented on #119
Still running by the way ;P Could look a lot like a N^2 problem or something. It has printed out the results in the console now but it still consume 100% CPU.

![image](https://cloud.githubusercontent.com/assets/10798831/13826409/a7a19c08-ebb7-11e5-92e8-a9d6f72b9406.png)

[2016-03-16 20:04] adamsitnik commented on #119
I know that it might sound stupid, but could you take a look at the generated file list, then order it by modification/creation time and try to tell if any particular file type takes longer to create?

I have created some huge Summary to export with AutoFixture, will profile the default exporters now.

[2016-03-16 20:08] nietras commented on #119
Hope this is what you need. Let me know if you need more. It's still running so...

![image](https://cloud.githubusercontent.com/assets/10798831/13827103/22857b9e-ebbb-11e5-9236-68e02d9e2e51.png)

[2016-03-17 08:14] mattwarren commented on #119
@nietras Could you post the ".log" and the "-report.txt" file somewhere, so we can take a look?

[2016-03-17 08:24] ig-sinicyn opened #120 "[NeedHelp] Running under nunit?"
Hi!

I'm trying to use BenchmarkDotNet inside NUnit to get something alike [NBench](https://github.com/petabridge/NBench) does. I've started with [existing example](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.IntegrationTests/PerformanceUnitTest.cs), but it fails to run with UnauthorizedAccessException, path "C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO 14.0\COMMON7

[2016-03-17 08:40] mattwarren commented on #119
@nietras Also, if you swap the params to `[Params(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)]`, does the issue go away? I.e. is this issue triggered by a large # of `Params`?

[2016-03-17 08:55] mattwarren commented on #120
hmm, I wonder what NUnit is doing differently from XUnit (which all our integration tests are written in).

Can you post the C# code needed for a full repo and we can take a look?

[2016-03-17 09:24] ig-sinicyn commented on #120
@mattwarren: Sure, https://gist.github.com/ig-sinicyn/f75c982913409e8d9567

Also, I need some recommendations for the following use case:

I am going to write perf test as a competition. There will be a dumb but proofed-to-work solution (baseline) and all other implementations will be compared to the baseline. All perf assertions will be relative, e.g.  95 percentile will take no more than 1.2x ti

[2016-03-17 09:35] mattwarren commented on #120
Sounds interesting, I know that this is one thing that BenchmarkDotNet lacks, so it'll be nice to see what you come up with.

It would also be something that we could include in BenchmarkDotNet as an extension, i.e. a separate "BenchmarkDotNet.Nunit" NuGet package, so consider sending a PR once you have something working. We'd like to have better OOTB Unit Test runner support, as all we have at th

[2016-03-17 09:49] ig-sinicyn commented on #120
@mattwarren ok, I'll do PR if I'll manage the entire idea to work:)

It turns out there's something wrong with working directory. VS test runner for NUnit sets `C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO 14.0\COMMON7\IDE\COMMONEXTENSIONS\MICROSOFT\TESTWINDOW`

At least three solutions possible:
1. Figure out howto change working dir in NUnit (some setup in fixture?)
2, Explicitly set the outpu

[2016-03-17 10:16] mattwarren commented on #120
Yeah we've come across this issue before, see https://github.com/PerfDotNet/BenchmarkDotNet/issues/66#issuecomment-170874161.

I need to take another look at it but from what I remember the problem is that we use `Directory.GetCurrentDirectory` (which is [the same as `Environment.CurrentDirectory`](http://stackoverflow.com/questions/1164756/what-is-the-difference-between-environment-currentdirecto

[2016-03-17 10:43] nietras commented on #119
@mattwarren I'm pretty sure this is related to the number of test cases e.g. # methods * # runtimes * # param values etc. You can easily try this yourself by cloning the github repo and running it:

https://github.com/DotNetCross/Memory.Copies.git

[2016-03-17 11:18] mattwarren commented on #120
@ig-sinicyn you might actually be able to take the NUnint integration one step further, see the links below for some ideas:

- http://www.dotnetalgorithms.com/2016/03/nbench-performance-testing-nunit-resharper-integration/
- https://github.com/angellaa/dotnetalgorithms/blob/master/NBench/TestingWithNUnit/PerformanceTestStuite.cs

[2016-03-17 11:59] ig-sinicyn commented on #120
@mattwarren

Well, I finally get quick-and-dirty prototype to work: https://gist.github.com/ig-sinicyn/995cbaf64cf42d570b6d

Output:
[code]
It fails just as planned:)

I'll going to improve it (in particular there should be a config paramerer and percentile should be configurable too), but this for later.

[2016-03-17 12:53] mattwarren commented on #120
Nice work!

BTW does the NUnit runner capture the BenchmarkDotNet output?

[2016-03-17 13:26] ig-sinicyn commented on #120
@mattwarren nope, [#95](https://github.com/nunit/nunit3-vs-adapter/issues/95).

Can be fixed easily by redirecting the output into Debug.WriteXyz()/Trace.WriteXyz().

[2016-03-17 15:01] adamsitnik commented on #119
@mattwarren I created new branch where I put all optimizaitons: [link](https://github.com/PerfDotNet/BenchmarkDotNet/tree/perf).

I did some profiling yesterday, but I was not able  to reproduce this behaviour (100% CPU for exporting). However, I have fixed some perf issues.

Later I will try to profile the exact case of @nietras. But this will take hours ;)

[2016-03-17 15:55] mattwarren commented on #119
Cool, I'll take a look when I get a chance.

I wonder if [this code here](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Exporters/PlainExporter.cs#L20-L30) is the culprit (just I guess, haven't profiled it). If `report.AllMeasurements` is large, all the `Select`, `Distinct` and `Where` could be expensive.

[2016-03-17 20:04] nietras commented on #119
Yeah, that would be bad since Distinct as far as I know pretty much makes a full HashSet of the values and then yield returns if the value isn't already in the set. Since most measurements are from the actual run (I presume) you end up copying a lot of memory. I think. Linq just sucks from a perf perspective in my view. Its so damn easy to waste cpu cycles with it ;)

Hey, I would have thought you

[2016-03-17 20:31] adamsitnik commented on #119
@nietras sure! I will share the results when I have them.

Thanks for sharing the log file! There is 2394 benchmarks, I suspect that we do some O(n^2) for it multiple times ;)

[2016-03-17 20:33] nietras commented on #119
Yep, that would be my guess. Great and thanks.
On Mar 17, 2016 21:31, "Adam Sitnik" <notifications@github.com> wrote:

[2016-03-18 00:43] adamsitnik commented on #119
Profiler's trap:

![image](https://cloud.githubusercontent.com/assets/6011991/13865327/83edb028-ecaa-11e5-833b-f8ecc80923f0.png)

My first thought was to blame string.Join for the cost, but then I realized that probably the biggest part of it is the price the linq query ;)

[2016-03-18 07:03] ig-sinicyn commented on #120
@mattwarren Oops, I was wrong multiple times :)

Bad news: custom ILogger redirecting to Trace does nothing.
Good news: Console output is collected, it's just hidden under Output link in the test explorer.

Current console output is slightly noisy, so I'll try to disable default console logger and add custom MarkdownExporter wrapping ConsoleLogger instead.

[2016-03-18 09:40] mattwarren commented on #120
That's a good idea, put the summary table in the test result and then the full output in the "Output" link in test explorer.

[2016-03-18 10:14] mattwarren commented on #119
Yay deferred-execution!

[2016-03-18 10:39] nietras commented on #119
Yeah the linq stuff looks pretty bad. `Where` + `Select/Distinct` => N^2. And all for `Count() > 1`.
[code]
But good that you found the probable cause.

[2016-03-18 10:56] ig-sinicyn commented on #120
@mattwarren
As far as I know  there's no good way to display large portions of text inside the VS Test Explorer window,
Also text from Summary table will not fit into message field in the Test Explorer panel.

So I'll do the following:
1. Remove the default console logger.
2. Capture all output into AccumulationLogger
3. Dump summary into console using
    `MarkdownExporter.Default.ExportToLog(sum

[2016-03-18 12:39] mattwarren commented on #120
Oh yeah I forgot about that, our summary table can get quite wide!

Sounds like a good plan

That has **always** annoyed me!! I just end up copy-pasting the output into Notepad++

[2016-03-18 14:54] mattwarren opened #121 "Strange # of "Launches" chosen with Count.Auto"
I'm using this benchmark in [this gist](https://gist.github.com/mattwarren/cbca3d2c70c47b39e480) and then I'm running it on the cmd line with `jobs=clr` or `jobs=LegacyX86` (it's probably the same with any `job` that defaults to having `LaunchCount` = `Count.Auto`)

It runs for 35 launches, i.e. it gets up-to  `// Launch: 33 / 35`, which seems a bit excessive! I wonder if this is hitting some sory

[2016-03-18 15:05] adamsitnik commented on #119
I have probably finished. For my test case I went down from 40s to 6s. Now logging is almost only about logging ;)

![image](https://cloud.githubusercontent.com/assets/6011991/13881793/b6926712-ed22-11e5-8a36-55669c45f6ed.png)

I just got two nice and same VMs from my friend, will run nietras case on both: 0.9.3 vs my updated version of BDN. After I get this done I will post a PR

[2016-03-18 15:27] mattwarren commented on #119
Good job, thanks for doing that!

[2016-03-18 18:38] nietras commented on #119
Awesome! One thing, though, what about the memory usage? 1.6GB on Gen2 is a lot. I don't understand how it can even get close to so much RAM, given 2394 benchmarks with 5 launches (I hope I use the right terminology), how does it end up with all that RAM? Also compared to the file outputs where the largest is 20MB it seems very high.

Probably I do not understand exactly how you do the measurement

[2016-03-18 19:27] nietras opened #122 "Reports: Move params columns next to Method column"
Especially, when running with all statistics it is "annoying" that params are not next to the method.

I hope sorting of the params has been fixed too, or in my view I think you should simply not change the order of these. Let the user decide.

[2016-03-18 21:28] adamsitnik commented on #119
@nietras Good news! I started running the same benchmarks on 0.9.3 and my tuned version on equaly powerfull two separate VMs (Processor=Intel(R) Xeon(R) CPU E5-2620 0 @ 2.00GHz, ProcessorCount=8). The updated lasted 4 hours and 9 minutes and export took only **2 minutes**. The unchanged version is still running.

[Results](https://gist.github.com/adamsitnik/d1201172b6f18e80a292)

Could you give me

[2016-03-19 06:59] JohanLarsson opened #123 "Can not run benchmark that references custom framework library (like WindowsBase)"
using System.Windows;
    using BenchmarkDotNet.Attributes;

    public class Repro
    {
        [Benchmark]
        public Point? Foo()
        {
            return new Point();
        }
    }

[2016-03-19 18:34] nietras commented on #119
@adamsitnik that sounds really great. A 166 / 2 = 8300% improvement is not bad :) I did a quick WinMerge diff on the file you uploaded and besides different times everything looked ok. I guess you've added some new features like bolding the first row for a given parameter set plus other features and also numeric ordering based on parameters.

I've run the following to enable `HPET` on my windows m

[2016-03-19 22:46] adamsitnik commented on #119
My changes are on the 'perf' branch. The building guide is [here](https://github.com/PerfDotNet/BenchmarkDotNet/wiki/Developing#building). You probably lack of the dnx toolchain installed. If you have any problems with the compilation you can post it on the [gitter](https://gitter.im/PerfDotNet/BenchmarkDotNet).

Probably you could workaround this bug now by disabling most of the exporters. By def

[2016-03-20 12:45] adamsitnik commented on #123
Hi @JohanLarsson ! Which version of BenchmarkDotNet are you using? I can not reproduce this bug. Here is what I have tried:

[code]

[2016-03-20 13:52] JohanLarsson commented on #123
Hello @adamsitnik I'm using BenchmarkDotNet.0.9.3
The issue has something to do with using `System.Windows.Point` because when I did:
[code]

It worked.

[2016-03-20 21:45] adamsitnik commented on #123
I did some further investigation. It seems it is a same bug as [this](https://github.com/PerfDotNet/BenchmarkDotNet/issues/72)

BDN generates new csproj for each benchmark, compiles it and executes. We have some issues with referencing dlls that are required to compile. The NRE you see is a deffered effect of this.

[2016-03-21 11:03] mattwarren commented on #72
@adamsitnik @AndreyAkinshin I just wanted to get your opinion on the best way to solve this, as this issue has come up a few times now (also see #123)

I've had a look and the reason why MsBuild [works the 2nd time](https://github.com/PerfDotNet/BenchmarkDotNet/issues/72#issuecomment-188382135), is because when we shell out and call `BuildBenchmark.bat\ the [ResolveAssemblyReference Task](https://

[2016-03-21 11:19] adamsitnik commented on #72
Dotnet cli resolves the dependencies in recursive way, so we just add dependency to benchmark.Target.Type.Assembly and it resolves it correctly, so the bug affects only Classic toolchain.

I did some PoC and I think that we could use 'benchmark.Target.Type.Assembly.GetReferencedAssemblies()'. The problem is that it is really hard  to tell for 100% if certain assembly is some predefined System asse

[2016-03-21 11:28] mattwarren commented on #72
I didn't realise this. In that case maybe we can just get MSBuild to do the hard work for us via the  `ResolveAssemblyReference` Task? It's able to resolve all the dependencies when we try the 2nd time by shelling out and running `BuildBenchmark.bat. (Although I've just realised that this isn't solving the problem for #123?)

[2016-03-21 12:45] adamsitnik commented on #72
@mattwarren Currently I cannot see a good solution.

I will try to write something based on 'benchmark.Target.Type.Assembly.GetReferencedAssemblies();' and come back to you with the results.

[2016-03-21 23:45] adamsitnik commented on #72
@mattwarren I believe that I have found the cure, please take a look at #125

[2016-03-22 12:12] mattwarren commented on #78
Note that with `dotnet` you currently have to pass the cmd line in a wierd way, until they fix https://github.com/dotnet/cli/issues/1385:

[code]

Note the extra `--` on it's own!

[2016-03-22 12:13] mattwarren commented on #27
We are just doing this manually and it [seems to be simple enough for our use-case](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Configs/ConfigParser.cs), so closing this issue

[2016-03-22 12:13] #27 closed

[2016-03-22 12:26] ig-sinicyn opened #126 "[NeedHelp] Benchmarks takes too long to run."
Hi!

I'm trying to enable BenchmarkDotNet to be used as perf tests runner and I stuck with a performance problem (no pun intended:)).

The benchmark with a ~20 candidate methods takes five minutes or so to complete. If I didn't do something wrong, all costs is on the runner side. Benchmark code being run in-process finishes in a second.
[Proof (summary output + code (scroll down))](https://gist.gi

[2016-03-22 13:15] adamsitnik commented on #126
Right now you can only try with the configuration (reduce Launch/Wamup/Target count, don't use all default Exporters, more?).

Recently I have worked on [slow export](https://github.com/PerfDotNet/BenchmarkDotNet/pull/124). I would be very happy to tune the rest.

How I am planning to contribute to BDN:
* fix all known bugs
* tune perf
* introduce parallel benchmark runner
* create extension for r

[2016-03-22 13:30] ig-sinicyn commented on #126
Ok, thanks!

The execution time is 66.81 sec with the following config
[code]
and the results are still pretty accurate. Much better:)

[2016-03-22 13:43] mattwarren commented on #126
Can you post the full log, I'd like to get rough idea of where the 5 mins is spent (i.e. bootstrapping, execution, results, runner, etc).

Yes, but BenchmarkDotNet runs each benchmark 100's or even 1000's of times and it will also launch multiple processes and run benchmarks in those. For example here's one "Launch" of a benchmark (by default 3 "launches" are done), where `4096 op` means we called

[2016-03-22 13:48] mattwarren commented on #126
There's a specific reason for running out-of-process, see ["Use separate CLR instances"](https://github.com/PerfDotNet/PerformanceBook.NET/blob/master/science/microbenchmarking.adoc#use-separate-clr-instances) in @AndreyAkinshin WIP book for more info.

        public FastRunConfig()
        {
            Add(new Job
            {
                IterationTime = 100,
                LaunchCount =

[2016-03-22 14:26] ig-sinicyn commented on #126
@mattwarren

Ok, I attached all content of the `release` folder in case you needed it.
[Release.zip](https://github.com/PerfDotNet/BenchmarkDotNet/files/184250/Release.zip)

Completely agreed. However, there are use cases when having slightly varying results is expected and even appreciated. To name one, trying to estimate the performance of the code in a real-world conditions.

In fact, this is w

[2016-03-22 15:45] mattwarren commented on #78
With my latest changes, if you run `Benchmark.exe --help` you get:

![image](https://cloud.githubusercontent.com/assets/157298/13957632/ffeee8de-f044-11e5-899b-61d0427c571b.png)

I might need to do something about the text flowing onto the 2nd line, but it's mostly there.

[2016-03-23 05:23] #119 closed

[2016-03-23 08:16] rold2007 opened #127 "Unable to run using 0.9.3-beta (DNX 5.0)"
I tried to use the beta version of BenchmarkDotNet using DNX but it doesn't work even on the most basic example. Here is my sample code: [ConsoleApp.zip](https://github.com/PerfDotNet/BenchmarkDotNet/files/185575/ConsoleApp.zip)

When I run it I have the following exception:
_System.ComponentModel.Win32Exception: The system cannot find the file specified
   at System.Diagnostics.Process.StartCore(

[2016-03-23 08:19] adamsitnik commented on #127
Hi @rold2007 Do you have dotnet cli toolchain installed?

[2016-03-23 08:42] AndreyAkinshin commented on #127
@adamsitnik, can we detect a situation when user doesn't have installed dotnet cli and print warning?

[2016-03-23 08:43] AndreyAkinshin opened #128 "Print dotnet cli version in EnvironmentInfo"
Also, it would be cool to print a warning in case when we doesn't have dotnet cli (see #127)
@adamsitnik, can we do it?

[2016-03-23 08:45] adamsitnik commented on #127
@AndreyAkinshin sure, I will implement this

[2016-03-23 08:45] adamsitnik commented on #128
@AndreyAkinshin sure

[2016-03-23 08:47] AndreyAkinshin opened #129 "Improve DnxAndCoreTests"
I have the following concerns:
* For now, it is hard to understand which tests are failed. E.g., here is my result of `runDnxAndCoreTests.cmd`:
[code]
Can we improve the console output?

* `runDnxAndCoreTests.cmd` creates a lot of benchmark folders in the root directory. Can we delete it or move to another folder (which will be ignored by git).

[2016-03-23 08:48] rold2007 commented on #127
Thanks for your help, now it works !
If anyone has the same problem, just follow the instruction [here](https://dotnet.github.io/getting-started/).

[2016-03-23 08:48] #127 closed

[2016-03-23 08:58] adamsitnik commented on #127
@rold2007 You welcome! I am very happy that you use it, you are proably one of the first people that use dnxcore50 support! Please let me know if you have any troubles.

[2016-03-23 09:09] AndreyAkinshin commented on #126
Hi @ig-sinicyn, thank you for the question. I added some brief info to README: https://github.com/PerfDotNet/BenchmarkDotNet/tree/develop#faq

You can't create a good benchmark based on code without a steady state. You should create a cleanroom conditions that emulates production environment.

We can use `Mode.SingleRun` (see https://github.com/PerfDotNet/BenchmarkDotNet/tree/develop#jobs) for mea

[2016-03-23 09:09] adamsitnik commented on #129
I am glad that you use it! The failing test is ProcessorArchitectureTest which fails for Core because dotnet cli does not support x86 compilation.

I will improve the output.

I will try to find some good solution and perhaps combine it with #94

[2016-03-23 09:27] mattwarren commented on #129
I came across this just yesterday, one really easy fix is to change the "command" section in the `project.json` to this:

[code]

There's probably more that can be done, but that's a good start

[2016-03-23 10:43] ig-sinicyn commented on #126
@AndreyAkinshin

If you want to use benchmark to measure something - yes, agreed:).
If you want to use benchmark to proof some worst-case limits - it's not completely true.

For the last case, all you need is to run a set of candidates together with a baseline benchmark and to compare result values as a relative to the baseline.
Slightly unstable conditions is good there as they helps to check  th

[2016-03-23 10:47] AndreyAkinshin commented on #121
@mattwarren, `RegularMethodCall` in your example takes 0ns (because we substract BenchmarkDotNet overhead + I suspect that `Testing.Run` was inlined; you can improve the code with help of `[MethodImpl]`). I suggest to detect such methods on the Pilot iterations and mark it as "unmeasurable" or set `0ns` as a result without main iterations. What do you think?

[2016-03-23 10:53] AndreyAkinshin commented on #126
@ig-sinicyn, thanks for the links. I will try to create some easy API for such scenarios.

[2016-03-23 10:54] mattwarren commented on #121
That seems sensible do you mean via an Analyser?

I also think that we need to have an upper limit on the `launchCount`, something like `launchCount = Math.Min(5, launchCount)` for other scenarios (maybe not `5` but you get the idea).

[2016-03-23 11:05] AndreyAkinshin commented on #121
I suggest to try MaxLaunchCount=15 for now. Also, I will detect 0ns-method on pilot stage, disable warmup/main iteration, and mark it as "unmeasurable" in an analyser.

[2016-03-23 11:21] ig-sinicyn commented on #126
@AndreyAkinshin
I've done some already and I'm going to do PR as it will be ready to use.

If you want to check what will it look like, here's the code:
https://github.com/rsdn/CodeJam/tree/master/Main/tests-performance
All the code from BenchmarkDotNet namespace will go into PR.
And some test examples (not a finite set yet) are here:
https://github.com/rsdn/CodeJam/tree/master/Main/tests-performa

[2016-03-23 12:55] AndreyAkinshin commented on #126
Looks good, waiting for the PR.

Continuous testing and good NUnit/XUnit support is an important task, we definitely going to do it. However, we should do it carefully, because it is very easy to write bad useless benchmarks, so, I want to write some baseline based API for asserts. Hopefully, it will help to write good benchmark tests.

Looks interesting.

[2016-03-23 13:33] ig-sinicyn commented on #126
Agreed completely.

Also, I'm going to split changes into multiple pull requests.
This way you can pull some small and (used to be) usable changes (such as adding Percentile() method into Statistics class and adding Percentile/ScaledPercentile columns) and reject others if they don't fit well.

Is it ok?

[2016-03-23 13:40] AndreyAkinshin commented on #126
Sounds good to me.

[2016-03-23 16:57] mattwarren commented on #66
@adamsitnik looks like your recent changes fixed this also. When running against your [references branch](https://github.com/PerfDotNet/BenchmarkDotNet/tree/references) (i.e. PR #125) in LINQPad I get the following output (i.e. it works!):

[code]

I think we'll always need to fall-back to the `File doesn't exist..` stuff (see [EnsureDependancyInCorrectLocation](https://github.com/PerfDotNet/Bench

[2016-03-23 19:55] adamsitnik commented on #66
@mattwarren  I have just tried running simple benchmark from LINQPad 5 and it worked. But I could  not attach debugger to see what is going on. However I have removed the workaround method calls and it worked too. I had to remove copy of benchmarkdotnet.dll from C:\Program Files (x86)\LINQPad5 to see the changes. Could you try it too? We should not have any missing dll problems now because we set

[2016-03-24 10:43] mattwarren commented on #66
@adamsitnik I just tried the same thing (i.e. removing calls to `EnsureDependancyInCorrectLocation`) and you're right, since your changes we no longer seem to need the [EnsureDependancyInCorrectLocation(..)](https://github.com/PerfDotNet/BenchmarkDotNet/blob/d59827c79133d7dbbe4f2fcb3e9b2416b00f60f1/BenchmarkDotNet/Toolchains/Classic/ClassicGenerator.cs#L133-L137) code.

Are you happy to remove all

[2016-03-24 10:50] adamsitnik commented on #66
@mattwarren I just did some minor refactoring, as soon as test runner finishes I push it.

[2016-03-24 10:51] adamsitnik commented on #66
@mattwarren btw I tested it for both LINQPad 4 & 5 and it works fine ;)

[2016-03-24 10:57] AndreyAkinshin commented on #66
@adamsitnik, @mattwarren, I checked the last version in LINQPad, it works for me too. Everything looks fine.
@adamsitnik, I'm ready to accept the PR, waiting for your last commits.

[2016-03-24 10:58] adamsitnik commented on #66
@AndreyAkinshin I have just pushed my last commit, minor refactor to separate things common for all generators

[2016-03-24 12:31] mattwarren commented on #101
Is it worth trying to do this in for [**0.9.5**](https://github.com/PerfDotNet/BenchmarkDotNet/milestones/v0.9.5)?

[2016-03-24 12:32] AndreyAkinshin commented on #101
Yes.

[2016-03-24 12:48] modman commented on #108
I was able to get around this limitation by implementing the AppConfig class outlined here: http://stackoverflow.com/questions/6150644/change-default-app-config-at-runtime

Steps are:
Copy the AppConfig.cs file to your project
Set the App.config file to "Content, Copy if newer"
Add the following to your benchmark code:

[code]

This might not be inline with what the BenchmarkDotNet author has in m

[2016-03-24 13:12] #49 closed

[2016-03-24 13:12] #72 closed

[2016-03-24 13:12] #96 closed

[2016-03-24 13:12] #105 closed

[2016-03-24 13:12] #123 closed

[2016-03-24 13:17] #116 closed

[2016-03-24 13:18] #95 closed

[2016-03-24 13:18] #78 closed

[2016-03-24 13:18] #41 closed

[2016-03-24 13:22] AndreyAkinshin commented on #28
@mattwarren, @adamsitnik, am I right that we will not support .NET 3.5 ever? Can I close the issue?

[2016-03-24 13:23] AndreyAkinshin commented on #30
Related to #121

[2016-03-24 13:24] AndreyAkinshin commented on #33
@mattwarren, are you happy with current version of README?

[2016-03-24 13:26] adamsitnik commented on #28
@AndreyAkinshin I think that you should close it (It would be hard to implement and would increase code complexity)

[2016-03-24 13:27] #28 closed

[2016-03-24 13:29] mattwarren commented on #33
It's been a while since I read through it all the way, I'll take a look in the next day or so and if I spot anything I'll make some changes.

[2016-03-24 13:31] AndreyAkinshin commented on #33
Great, thanks.

[2016-03-24 13:35] mattwarren opened #130 "Finer-grained test selection on the cmd-line"
From @jskeet suggestions in #83, implement:

Finer-grained test selection, when running from the command line, ability to select:
- [X] Individual test methods
- [X] Types in an attribute-based category
- [X] Methods in an attribute-based category
- [X] Individual test classes (already implemented, i.e. `Benchmark.exe #10')
- [X] Test classes/methods matching a pattern (regex or globbing?)

This w

[2016-03-24 13:36] mattwarren commented on #83
- Individual test methods
- Types in an attribute-based category
- Methods in an attribute-based category
- Individual test classes (already implemented)
- Test classes/methods matching a pattern (regex or globbing?)

This is now being tracked in #130

[2016-03-24 13:36] jskeet commented on #130
Idea as discussed offline - follow the NUnit 3 "general predicate" approach, possibly with common shortcuts. So we could have

[code]

[2016-03-24 13:40] mattwarren commented on #130
wow, that was a quick response, yeah that's a nice api.

I assume you would also wants things like:

[code]
and
[code]
and
[code]

So the special names (or common shortcuts) could be:
- `class`
- `namespace`
- `attribute`/`category`

Any others that would be useful?

[2016-03-24 13:44] adamsitnik commented on #130
I like the xUnit console runner convention:

[code]

[2016-03-24 13:47] jskeet commented on #130
I think it's useful to have shortcut arguments *as well*, but a flexible query format is useful and easily extensible.

As an aside, I'd like to be able to specify a short name for a class or method as well as the fully-qualified name. That's almost *always* more convenient.

[2016-03-24 13:54] mattwarren commented on #28
@adamsitnik @AndreyAkinshin I agree (plus no one has ever asked for .NET 3.5 support)

[2016-03-24 14:08] mattwarren commented on #130
Yeah I agree, I'll implement short and long arguments, i.e. `--method "name"` (just equals) and `--where "method == name"`. Then in the future I'll might add things like `!=` or `contains` if there's any demand for more flexibility.

Yeah I'll implement this as well, it really annoys me when a tool forces my to type the FQN!

[2016-03-24 14:14] jskeet commented on #130
Definitely implement `!=` - certainly for unit testing, I find myself wanting to *exclude* things more often than *including* them.

Thanks for all of this - much appreciated :)

[2016-03-24 21:27] omariom commented on #66
:+1:

[2016-03-24 23:19] mattwarren commented on #66
@omariom I've also done a bit of work on getting BenchmarkDotNet to display result in LINQPad's GUI output, So far I've got this working:

![image](https://cloud.githubusercontent.com/assets/157298/14033952/88ada76e-f216-11e5-9e1c-d670966a9059.png)

Is this what you were after?

[2016-03-25 09:14] omariom commented on #66
@mattwarren

yes, exactly :+1:

[2016-03-25 14:08] adamsitnik commented on #67
Assembly binding redirects can be auto-generated. I used `<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
` to get it working.
[Some explanation](http://mohitshiwach.blogspot.com/2014/11/assembly-binding-redirection-with-net.html)

[2016-03-26 16:09] 23derevo opened #131 "[Mono] BenchmarkDotNet doesn't work on Mac OS"
BenchmarkDotNet doesn't work on Mac OS.
Trying to run benchmark using Rider IDE

usr/local/Cellar/mono/4.2.1.102/bin/mono /Users/alexey.fyodorov/RiderProjects/IntelockedTest/IntelockedTest/bin/Debug/IntelockedTest.exe
[6n[H[J[35m// ***** BenchmarkRunner: Start   *****
[37m[33m// Found benchmarks:
[37m[33m//   Program_test_CAS_loop
[37m[33m//   Program_test_add
[37m
[35m// *************

[2016-03-26 17:05] adamsitnik commented on #131
Hi @23derevo! You most probably do not have dotnet cli installed. You can download it from [here](http://dotnet.github.io/getting-started/). Sorry for the poor error information! I am going to improve it.

Please let me know if it helps

[2016-03-26 19:16] 23derevo commented on #131
I have Mono installed and want to run it in Mono. Is it possible?

[2016-03-27 20:08] ig-sinicyn opened #132 "[Bug] FileNotFoundException On 0.9.4."
Fresh VS 2015u1 install + latest Resharper EAP (if important at all). No additional extensions/packages.

New Console App project, add BenchmarkDotNet  nuget package, copy the code from [getting started](https://github.com/PerfDotNet/BenchmarkDotNet#getting-started), run.

Fails with:
[code]

[2016-03-29 09:33] adamsitnik commented on #131
We use dotnet cli for compilation only. As for the runtime we support both Mono and .NET Core but I am not sure if anybody has tested it on Mac OS. From your log I can see that your app is targeting .NET Core, so I would recommend installing dotnet cli (to run it on .NET Core) or specifying Runtime.Mono in explicit way like below:

[code]

[2016-03-29 11:40] adamsitnik commented on #132
Thanks for the detailed info. I am afraid that currently I can offer you only some workarounds (choose one):
* [Install msbuild 12](https://www.microsoft.com/en-us/download/details.aspx?id=40760)
* Remove the references to msbuild 12 dlls that BenchmarkDotNet has added to your project and reference it's VS 215 counterparts (located probably at "C:\Program Files (x86)\MSBuild\14.0\Bin, instead of 1

[2016-03-29 15:39] adamsitnik commented on #128
@AndreyAkinshin I have implemented that and pushed the changes to develop branch.

I dediced to put it only in summary (not for each benchmark) and only for DNX/CORE benchmarks to save time (it requires to create a new process to call dotnet --version).

[code]

[2016-03-29 17:37] ig-sinicyn commented on #132
@adamsitnik
Currently I've just reverted back to 0.9.3. I've tried already the second workaround as the one with the least footprint and it did not work. If you have working sample with references fixed, can you attach it? Thanks!

Any plans to fix the issue in the near future?

[2016-03-29 17:56] adamsitnik commented on #132
Sure thing! The problem is that I am not sure if a perfect solution exists. I will get back to you soon.

0.9.4 contains some nice export's perf improvements, so if you are running a lot of benchmarks I would recommend installing msbuild 12 (13?)

[2016-03-29 18:15] ig-sinicyn commented on #132
I wish I could:)

Any non-nuget prerequisite is a showstopper for most projects I've participated for.
The same is true if tests are runned on CI service you have no control on.

[2016-03-29 18:20] adamsitnik commented on #132
I understand ;)  I think that we should publish a new version of BenchmarkDotNet that has strict net46 target that references msbuild dlls from VS 2015. So then any net46+ project that either way must use VS 2015 and uses BDN should work.

[2016-03-29 18:26] ig-sinicyn commented on #132
Ok, will wait for that!:)

Thanks one more time)

[2016-03-29 19:41] adamsitnik commented on #132
@ig-sinicyn  you welcome! The bug is fixed, I have pushed the changes to our develop branch.

@AndreyAkinshin @mattwarren Some background:

- We had some issues with compilation of .NET 4.5+ projects, so I upgraded dependencies to msbuild dlls to use v12 for our .NET 4.5 target as part of 0.9.4
- it turns out that people who do not have MSBuild 2013 installed do not have Microsoft.Build.Utilities.

[2016-03-29 21:36] AndreyAkinshin commented on #132
We can don't have msbuild in the path variable. I suggest to use managed API as a primary way, and use process.start (or batch file) as a second option.

[2016-03-29 21:46] adamsitnik commented on #132
What a pity :( It would simplify the code and project.json file ;)

[2016-03-30 08:41] adamsitnik commented on #132
@AndreyAkinshin You were right, no MSBuild in PATH can happen (I checked that). I have added the fallback + to improve perf I generate the bat only when it is needed. You can find my changes at develop

[2016-03-30 09:05] mattwarren commented on #132
@adamsitnik BTW the reason that `BuildBenchmark.bat` was always generated was because someone asked for it, see #40 (although the actual reason why isn't in the issue).

So unless the perf is terrible you might want to leave that functionality in or at least try and ping @constructor-igor about it.

[2016-03-30 09:13] adamsitnik commented on #132
@mattwarren Thanks for pointing this. I will re-add this and generate bat for dnx/core as well.

[2016-03-30 13:55] adamsitnik commented on #94
@omariom @mattwarren Do you have any suggestions for the folder's name? Could it be just "artifacts"  or maybe "BenchmarkDotNet.Artifacts"?

[2016-03-30 14:31] omariom commented on #94
BenchmarkDotNet.Artifacts sounds good.
Will it be divided further down to  folder for bins and exporters' results?

[2016-03-30 19:42] adamsitnik commented on #94
@omariom I think that it would be good to split binaries from results.

- BenchmarkDotNet.Artifacts/results
- BenchmarkDotNet.Artifacts/binaries

[2016-03-30 19:51] AndreyAkinshin commented on #94
@adamsitnik, I suggest to use `bin` instead of `binary`.

[2016-03-30 19:52] adamsitnik commented on #94
@AndreyAkinshin Ok

[2016-03-30 21:50] adamsitnik commented on #94
Ok so now it is:

- BenchmarkDotNet.Artifacts/results
- BenchmarkDotNet.Artifacts/bin

[2016-03-30 21:53] adamsitnik commented on #129
@AndreyAkinshin I have updated both scripts:

1. Clean everything to avoid any caching
2. Build
3. Run tests for Dnx/Core || 4.5/4.6
4. Display failed tests at the end
5. Cleanup

[2016-04-01 01:48] xoofx opened #133 "High differences between run for GC Diagnoser"
Trying to play with the GCDiagnoser and I'm getting weird results on consecutive run, like the Gen0/Gen1/Gen2/Bytes Allocated/Op are varying a lot (30-40%), making it quite useless to compare... while I would not expect figures to change that much (afaik, I'm not aware about this indeterministic GC behaviour)

Have you been noticing this issue or Am I doing something wrong there?

[2016-04-01 09:49] ig-sinicyn opened #134 "[Feature request] Release builds only?"
Hi!

It's very easy to run benchmark on an assembly built as debug. Sometimes it is good and sometimes definitely not. I've learned that hard way as I just spent some time just to figure out our CI server uses debug builds for our perftests:)

So, I propose the following feature to be included **as opt-in**:

#### The ability to proof that benchmark assembly is not built as debug

To define what "

[2016-04-01 11:24] adamsitnik commented on #133
I have been running our integration tests plenty of times, they contain simple test for GC Diagnoser and the results were always the same.

.NET GC is selftunning (changing Gen sizes etc) but we always start new process so the results should be almost the same as long as OS has similar resources available.

Could you give some sample benchmark with config that you use?

[2016-04-01 11:34] adamsitnik commented on #134
Very good point! I agree with you, we should not let the users use non-optimized dlls.

We [already preload all dlls](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Toolchains/Classic/ClassicGenerator.cs#L68-L85) to check their target .NET version and build references for csproj so perhaps we could just extend this with the optimization check?

But I am not sure for the

[2016-04-01 11:45] AndreyAkinshin commented on #134
I think, we should throw an exception with a message like "if you really want to run it in DEBUG, do the following ..."

[2016-04-01 11:58] ig-sinicyn commented on #134
@AndreyAkinshin

Also, should the runner throw the exception if the code is running under debugger?
*If you wonder how do you debug the benchmark, there's [VS extension](https://visualstudiogallery.msdn.microsoft.com/a1141bff-463f-465f-9b6d-d29b7b503d7a) for child process debugging.

[2016-04-01 12:04] AndreyAkinshin commented on #134
Don't sure about an exception. It would be cool to add a warning.
I think, if somebody try to debug a child benchmark process, then he should understand what he is doing.

[2016-04-01 12:10] ig-sinicyn commented on #134
@AndreyAkinshin
Looks like I've asked it wrong:)

Ok, one more time (sorry:))
You're proposing that the exception for debug builds should be thrown by default.

My question is, should the exception be thrown when the code is being run under debugger?

[2016-04-01 12:15] goldshtn commented on #134
The question really should be whether JIT optimizations are enabled, because that's what makes most of the difference between optimized and non-optimized builds. And, by default, there won't be JIT optimizations when running under a debugger.

[2016-04-01 12:24] ig-sinicyn commented on #134
@goldshtn

Agreed. Failing even if debugger attached makes the debugging slightly harder, but I don't think that this is a real issue.

All in all, the code from benchmark always can be run (and debugged) directly, without using the `BenchmarkRunner`.

[2016-04-01 18:09] mattwarren commented on #133
Can you post the logs from 2 runs with different # of GC collections? It'll be easier to see what's going on

On 1 Apr 2016, at 02:48, "Alexandre Mutel" <notifications@github.com> wrote:

[2016-04-01 23:07] xoofx commented on #133
The output I'm getting while running multiple times is like this:

[code]

As you can see, sometimes figures are jolting for the Gem0/Gen1/Gen2 (worse for Bytes Allocated/Op), changing even the ranking between runs.

When I'm running for example a simple benchmark (without using BenchmarkDotNet) and outputing `GC.CollectionCount(0)/GC.CollectionCount(1)/GC.CollectionCount(2)`) and testing one solu

[2016-04-02 04:56] xoofx commented on #133
Looking at the code, one thing I'm not sure is that I would expect the GCDiagnoser to only process GC events for the IterationMode.MainTarget period: Typically there are other periods that seem to be non deterministic (like the IdleTarget, not sure what it does, but it looks like it is adapting to the process) and we don't want them as part of the measurement. Also, not sure that it is good to hav

[2016-04-02 06:08] xoofx commented on #133
Ok, so after trying to tweak the usage of BenchmarkDotNet and using `Mode.SingleRun` which disable the Pilot phase, numbers are completely stable (and much more equivalent between the methods).

Though, not sure I did use correctly the API, but I had to patch the `MethodInvoker.Invoke` method to hardcode `invokeCount = 64`, because if I tried to setup the attribute on each method `[Benchmark(Opera

[2016-04-02 09:11] mattwarren commented on #133
(worse for Bytes Allocated/Op), changing even the ranking between runs

The Gen 0/1/2 values are scaled/normalised based on the min value across
the benchmarks (see
https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.Diagnostics/GCDiagnoser.cs#L174
), so it's not surprising they vary as the # of runs/Ops changes. However
the # Bytes is per Op, so should be more stable

On Sat

[2016-04-02 09:16] mattwarren commented on #133
Yeah 'OperationsPerInvoke' isn't going to help, that's for something else.
However you should be able to use 'IterationCount' on the Job, see
https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Jobs/Job.cs#L28

GCDiagnoser to only process GC events for the IterationMode.MainTarget
period: Typically there are other periods that seem to be non deterministic
(like the IdleTarget

[2016-04-02 11:05] xoofx commented on #133
Setting `IterationTime` doesn't work for me:
[code]
It results in only 1 op:
[code]

[2016-04-02 11:10] xoofx commented on #133
Looking at [MethodInvoker.cs:92](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet/Running/MethodInvoker.cs#L92) , `IterationTime` is only used for the `Throughpu mode and not the `SingleRun`

[2016-04-02 11:12] xoofx commented on #133
Also on a side note, I had to compile `BenchmarkDotNet.Diagnostics` on my side as it is not published to nuget. Is it a oversight?

[2016-04-02 14:22] adamsitnik opened #135 "BenchmarkDotNet already supports running F# benchmarks on .NET Core"
This week at #Build2016 F# support for .NET Core was announced. I have grabbed our code to check what is needed to be done to get it working. It turns out that we already support it!! Mainly due to the reuse of dotnet cli features.

So I just added sample F# benchmark to our repo, it can be found [here](https://github.com/PerfDotNet/BenchmarkDotNet/tree/develop/BenchmarkDotNet.Samples.FSharp.Core)

[2016-04-03 11:51] AndreyAkinshin commented on #131
@adamsitnik, ok, you have fixed one problem with xplat building, but there is another one. Here is my log on Linux (commit 902de698c2cde8227243a19b25384753b3d18cbb):

[code]

I think, we should add `BuildBenchmark.sh` and run it on Linux and MacOS for ClassicToolchain. @adamsitnik, can you do it?

[2016-04-03 14:34] adamsitnik commented on #131
@AndreyAkinshin Sure, I will check what we can do. But it is going to take me some time. I will try to setup dev env on Linux/Mac to test this case.

[2016-04-03 16:53] AndreyAkinshin commented on #135
@adamsitnik, great news! Can you add a line to README about F# (Summary section)?

[2016-04-03 19:58] ig-sinicyn opened #136 "[Feature request] Fastcheck for correctness of benchmark implementations?"
Use case: prevent users from comparing methods that do different things.

It's very easy to leave bug unnoticed in one of the benchmark methods. I just did it and had to spent some time to find that one of the competitors was exiting in the middle.

Proposed solution is fragile, does not _proofs_ that all code is correct but it's still better than nothing.
**So, the proposal:**

If benchmark metho

[2016-04-04 04:58] xoofx commented on #133
Hm, ok, maybe Diagnostics cannot be released because `xproj+project.json` doesn't support yet [embedding native files](https://github.com/PerfDotNet/BenchmarkDotNet/blob/master/BenchmarkDotNet.Diagnostics/project.json#L23)... arg... It seems we will have to wait for dotnet/cli :(

[2016-04-04 13:23] ogreenz opened #137 "Brand new machine with VS 2015 only b0rks"
When running BDN 0.9.4 on a brand new machine with VS 2015 only installed I get this beatiful thing:

[code]

Looks like there is no support for Microsoft.Build.Framework v14.0 (which is the only thing I have installed in the GAC)...

[2016-04-04 13:27] adamsitnik commented on #137
Thanks for reporting the bug. It is already fixed #132, but not yet released (will be part of 0.9.5 version). If you do not want to wait for the release please [Install msbuild 12](https://www.microsoft.com/en-us/download/details.aspx?id=40760)

[2016-04-04 19:38] adamsitnik commented on #137
I was not 100% right. In #132 the user was getting FileNotFoundException, but you got FileLoadException which has not been handled yet. I added the right handler. Thanks once again and sorry for inconvinience!

[2016-04-04 19:41] adamsitnik commented on #135
@AndreyAkinshin Before I added line to README I had also checked the Visual Basic support. It works as well so I added integration test for that and the line in README too. [Commmit](https://github.com/PerfDotNet/BenchmarkDotNet/commit/b31c0bbd7f6681c0ea7295a2f749683727746b18)

[2016-04-04 19:46] AndreyAkinshin commented on #135
Cool! Thanks for checking.

[2016-04-05 21:16] mattwarren commented on #133
Hmm, didn't realise that @adamsitnik or @AndreyAkinshin does this block us from releasing a BenchmarkDotNet.Diagnostics nuget package?

[2016-04-05 21:18] mattwarren commented on #133
@xoofx are you happy with the workaround you have, i.e. using a custom `Config`?

Or would you want BenchmarkDotNet to be more stable/consistent across runs?

[2016-04-05 21:41] xoofx commented on #133
Actually, I was able to ship native DLLs [`packInclude` in project.json](https://github.com/xoofx/SharpScss/blob/master/src/SharpScss/project.json#L35), along with a [msbuild `.targets`](https://github.com/xoofx/SharpScss/blob/master/src/SharpScss/build/SharpScss.targets) file for net20-net4x+ platforms, so that is finally possible at least.

Hm, actually, no as I said above, `IterationTime`  is n

[2016-04-05 22:52] mattwarren commented on #133
`IterationTime` is in milliseconds, so you might need to increase it (depending on how long your benchmark lasts.

[2016-04-05 23:11] xoofx commented on #133
ah, ok :sweat_smile:, but how does it translate to a fixed count then? Not sure to understand the meaning of this parameter...

[2016-04-06 01:52] JimBobSquarePants opened #139 "No more Benchmark runs will be launched as NO measurments were obtained from the previous run!"
Hi there,

I've been attempting to run some test which require retrieving objects via indexers using unsafe code and I keep getting a crash with the above error message.

I don't know whether I have done something daft or whether it is an actual bug. I was able to run the tests successfully without a for-loop in each test but as soon as I added it the error occurred.

I've attached the full progra

[2016-04-06 03:04] JimBobSquarePants commented on #139
Ughhhh :disappointed: I was mixing up `byte` and `float` in my code. Please ignore me and keep up the good work!

[2016-04-06 05:57] #139 closed

[2016-04-06 10:56] ig-sinicyn opened #140 "Readd an ability to define and to use custom Toolchain"
Hi!

I continue my quest to enable BenchmarkDotNet to be used as an toolkit for performance unit tests.
For this time, the biggest deal: performance.

As it is for now, it takes 30-80 seconds to run relatively simple benchmark. Also, the runner produces 50-100 mb of temp files. This is definitely a gamestopper.
A typical perftests project can contain hundreds of perftests and waiting for a hour or

[2016-04-06 11:22] mattwarren commented on #77
I've started working on this, however I've hit an issue with `dotnet restore` @adamsitnik are you able to offer any ideas?

Basically I'm running:

[code]

However `dotnet restore` fails with:

[code]

Any ideas?

The [full log is available](https://ci.appveyor.com/project/mattwarren/benchmarkdotnet-8ww0x) if that helps?

[2016-04-06 11:41] AndreyAkinshin commented on #77
@mattwarren, i think you should use `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json` as a NuGet feed for dnxcore.

[2016-04-06 11:42] adamsitnik commented on #77
@mattwarren You need another nuget feed for .NET Core packages. In .nuge\NuGet.config you can find the whole list.

You can run:
`dotnet restore --source https://api.nuget.org/v3/index.json --fallbacksource https://dotnet.myget.org/F/dotnet-core/api/v3/index.json BenchmarkDotNet`

[2016-04-06 11:55] adamsitnik commented on #77
@mattwarren  Another problem you probably will face is dnx/dotnet cli differences. In general VS is still using dnx to build all project.json-based solutions (switch to dotnet cli is planned for RC2). And I am not sure if xUnit runner supports dotnet cli at all.

How I do "core CI things" at work:

1. Step: install dnvm
`@powershell -NoProfile -ExecutionPolicy unrestricted -Command "&{$Branch='dev

[2016-04-06 12:53] mattwarren commented on #77
Thanks to both of you for the tip about `--fallbacksource https://dotnet.myget.org/F/dotnet-core/api/v3/index.json` that worked (takes a [long time to restore though](https://ci.appveyor.com/project/mattwarren/benchmarkdotnet-8ww0x/build/1.0.6#L857) 239423ms! I hope AppVeyor does some caching and isn't downloading all that for every build!!

However I now have a problem related to MsBuild, seems l

[2016-04-06 12:54] mattwarren commented on #77
I was planning to just use `dotnet` and see if that would work out for the time being. I didn't want to worry about `dnx` with it being retires sometime soon (maybe)

[2016-04-06 15:38] goldshtn commented on #98
It would be really nice to have histogram output. Eat to results. Average/min/stdev is nice but often won't tell the whole story for complex benchmarks, or long-running stuff.

[2016-04-06 16:09] gregoryyoung commented on #98
I notice that this project does not have an up for grabs tag. This would be a great example of a relatively simple issue which is less than a few hours of work which could go there. Unless someone else does it first I will do it next week but having an up for grabs tag can be a good way to bring interested parties into the project.

[2016-04-07 08:27] adamsitnik commented on #77
Is it possible to have AppVeyor instance with VS 2013 and VS 2015? Please let me know if you have any other problems.

[2016-04-07 09:35] mattwarren commented on #139
Thanks for spotting that, just fixed it see d371de9 (the smallest commit I've ever done!!)

[2016-04-07 09:41] adamsitnik commented on #139
@mattwarren Maybe we could extend this message with some hint? Like: "Most probably your benchmark method has bug and we have failed to measure it. Please verify that it is correct" ?