[2017-12-05 15:41] rolshevsky commented on #544
Hi @adamsitnik,

Currently our [`Asm`](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Disassembler.x64/DataContracts.cs#L24) class contains text representation of `asm` instruction with instruction address:
[code]
Is it possible to expand this class with additional property which will be contain instruction without address?
[code]
Using this we can implement 2 modes for

[2017-12-05 17:45] adamsitnik commented on #544
@rolshevsky it's a very good idea!

I believe that we should implement #546 first. So the view would be even more user friendly. Example:

[code]

[2017-12-05 19:39] #599 closed

[2017-12-05 20:17] ENikS commented on #599
Will it apply to generated markdown as well?

[2017-12-07 00:39] #546 closed

[2017-12-07 00:46] adamsitnik commented on #546
I implemented new exporter, which prints a pretty output.

Sample input:

[code]

Before (raw output exporter kept to show the source asm code in case my implementation breaks something):

![image](https://user-images.githubusercontent.com/6011991/33692900-fd43a22c-daef-11e7-8cbb-9455d8e4c04f.png)

After:

![image](https://user-images.githubusercontent.com/6011991/33692902-03910674-daf0-11e7-8af4-

[2017-12-07 05:30] AndreyAkinshin commented on #602
Could you explain your problem in detail? Why do you want pass methods to BenchmarkRunner as strings instead of the default approach?

[2017-12-07 15:16] adamsitnik commented on #560
I have some time to implement it. Finally ;)

@JosephTremoulet what would be the best option?

Single md file with code for all benchmarks?
Single md file per benchmark? Raw (raw output from CLRM with addresses) or prettified (#546)?

[2017-12-07 15:21] adamsitnik commented on #544
@rolshevsky I implemented #546. Please take a look at `DisassemblyPrettifier.Prettify`. It looks much better now and you should be able to compare same asm even if addresses change.

![image](https://user-images.githubusercontent.com/6011991/33722591-b1aa0c0e-db6a-11e7-8984-9706f994a38e.png)

[2017-12-07 15:36] JosephTremoulet commented on #546
Big improvement, thanks!

A couple stray thoughts:

1. It would be cool if there were some easier way to find references to a given label other than scanning the listing for them visually.  I don't really have ideas for how to do that, though.  I've seen dumps that include reference counts next to labels, but not convinced that would be an improvement.  An explicit predecessor list might be nice,

[2017-12-07 15:38] JosephTremoulet commented on #560
I'd be inclined to use a single file with prettified code for all benchmarks, so that including this in PRs etc. would be as simple as a single copy/paste

[2017-12-07 15:42] redknightlois commented on #546
Agree on 2. At least being able to turn them on somehow.

[2017-12-07 16:36] adamsitnik commented on #546
@JosephTremoulet @redknightlois thanks for feedback!

speaking of 2. Would a tooltip with raw value would be enough? So anytime user mouse over the pretty text, the tool tip appears?

![image](https://user-images.githubusercontent.com/6011991/33726352-10d6e062-db75-11e7-94c3-d70cfffd116b.png)

I have no good idea for the search, except of pressing `Ctrl+F` in browser and going with `F3` to next oc

[2017-12-07 18:57] ilabutin commented on #546
You produce HTML, so what about including a small bit of JS into it which will handle mouse hovering the label and highlighting all places where it is used?
I can offer some help if needed.

[2017-12-08 18:36] jayonsoftware opened #604 "Release Setup Info ?"
Here is my setting looks

![image](https://user-images.githubusercontent.com/1304943/33779867-a069aa50-dc1c-11e7-9027-4e254f99f54d.png)

But I do still get the follwing error

![image](https://user-images.githubusercontent.com/1304943/33779901-bdee9694-dc1c-11e7-913b-4e75b6150a39.png)

[2017-12-08 18:40] daveaglick commented on #377
I hit this trying to set up some benchmarks in LINQPad. Specifically, it's trying to write to "C:\Program Files (x86)\LINQPad5\BenchmarkDotNet.Artifacts" which is locked down since it's in the "Program Files" folder. I can work around it, but a simple API to direct file writes elsewhere would be helpful.

[2017-12-08 18:43] adamsitnik commented on #604
Hi @jayonsoftware

How are you running the benchmarks from command line? The default configuration for dotnet cli is DEBUG.

So to run in release mode you need to run either: `run -configuration Release` or `run -c Release`

[2017-12-08 19:43] jayonsoftware commented on #604
, I have been pressing F5 with our realizing it runs in debug mode...16 years of .net devs and this :-)

[2017-12-08 19:43] #604 closed

[2017-12-09 20:28] adamsitnik commented on #546
@ilabutin thanks for a good hint!

What I implemented:

1. When user hovers over a label, the mouse cursor changes to pointer and label get's highlighted
2. When user clicks a label, all usages gets highlighted
3. When user presses F3, we jump to next usage of given label

Small demo:

![labelssample](https://user-images.githubusercontent.com/6011991/33799205-7074cf6c-dd27-11e7-827c-c2f58ef69a79.g

[2017-12-13 12:50] GeorgePlotnikov commented on #545
hi @adamsitnik , is this issue still actual? may I grab it? If yes, I would be really appreciated you hinted me where the best point to start.

[2017-12-13 15:58] adamsitnik commented on #545
hi @GeorgePlotnikov !

yes, it's still up for grabs. But the feature itself is rather very BIG.

Personally I would start with some research of what COMPlus_JitDisasm does in [Core CLR](https://github.com/dotnet/coreclr). Once you know what they are doing and make sure that the data is available outside of CLR itself I would start implementing the features one by one.

@JosephTremoulet do you have

[2017-12-13 19:23] JosephTremoulet commented on #545
If you want to look at the relevant source code, search in the [jit](https://github.com/dotnet/coreclr/tree/master/src/jit) directory for `opts.disAsm`.

It may be easier to start with examples.  If you build a "checked" or "debug" local build of the CoreCLR runtime, and run some code against that with the `COMPlus_JitDisasm` environment variable set to `*`, it will emit assembly listings for ever

[2017-12-13 19:48] GeorgePlotnikov commented on #545
@adamsitnik, @JosephTremoulet great! thanks a lot!

[2017-12-13 23:00] adamsitnik commented on #545
@AndreyAkinshin could you assign @GeorgePlotnikov to this issue?

[2017-12-14 08:29] AndreyAkinshin commented on #545
@GeorgePlotnikov, I added you to the collaborators list. Please, accept the invitation, then I will be able to assign you.

[2017-12-14 10:33] GeorgePlotnikov commented on #545
@AndreyAkinshin done. Thanks.

[2017-12-14 10:38] AndreyAkinshin commented on #545
@GeorgePlotnikov, assigned.

[2017-12-15 16:14] #543 closed

[2017-12-15 17:32] adamsitnik commented on #543
I implemented the synchronization in very simple way.

Initially I was thinking about using some fancy stuff like Mutex. But Mutex throws `NotSupportedException` for .NET Core on MacOS and Linux. So it was not an option.

Then I realized that I can just write to std out and read std in in blocking way. It just works. So one process is writing signal and waiting for response by reading in blocking

[2017-12-15 17:32] adamsitnik commented on #542
Update: it now works. See #543 for more details

[2017-12-15 17:36] adamsitnik commented on #550
Small progress: there is no need to run benchmarks one more time when Disassembly Diagnoser is used. After we are done benchmarking, the child process sends signal to parent process and waits for response. Parent is attaching to it with ClrMD and getting the disassembly. After this, it's unblocking the child process. This is done after running all benchmarks, so it does not affect accuracy in any

[2017-12-16 16:45] alexandretperez commented on #567
Not working for me.

Here is the config:
[code]

Then the console show the message:

[code]

But when I go the the results directory, there's no *.png files.

[2017-12-16 17:02] adamsitnik commented on #567
@alexandretperez could you upload your `.log` file to https://gist.github.com/ ?

[2017-12-16 17:06] adamsitnik opened #606 "Improve Memory Diagnoser"
- [ ] MemoryDiagnoser should not include allocations from IterationSetup/Cleanup
- [ ] MemoryDiagnoser should not require extra run to get memory stats
- [ ] MemoryDiagnoser should not complicate the design of Engine (by prohibiting the possibility to allocate managed memory)
- [ ] MemoryDiagnoserTests should not run for more than few minutes

[2017-12-16 17:25] #606 closed

[2017-12-16 17:25] adamsitnik commented on #606
@AndreyAkinshin I was able to get rid of all our Memory Diagnoser problems!

I got stupid simple idea: why do we need to run once again **all benchmark iterations** to get the gc stats, when we can just run **one** extra iteration? I can't believe it was not my design since the beginning ;)

AppDomain.Monitoring Overhead (the thing required to get allocated memory for classic .NET)? I enable it in

[2017-12-16 17:26] adamsitnik commented on #550
Another progress: MemoryDiagnoser no longer requires extra run of the benchmark. Both for classic and Core. See #606 for more details

TLDR: For those who used MemoryDiagnoser the speedup is x2 ;)

[2017-12-16 18:04] alexandretperez commented on #567
@adamsitnik
https://gist.github.com/alexandretperez/cbec92c000196f687f422eb9d22c33f0

[2017-12-16 18:52] ig-sinicyn commented on #606
@adamsitnik, one-iteration measurement may be inaccurate as clr performs allocations in 8kb blocks. So, if a single iteration allocates 200 bytes you'll get 8kb in diagnoser's output (or 0kb, if there's a free space in a last allocated chunk).

[2017-12-17 10:19] adamsitnik commented on #606
@ig-sinicyn I am aware of that. It's also less likely to trigger Gen 2 cleanup. The thing is that we usually perform billions of invocations per iteration, so it should not be a problem.

Considering all advantages (perf x2 + no iteration setup/cleanup side effects + engine can allocate) I believe that it's still the best solution.

[2017-12-20 15:20] AndreyAkinshin commented on #606
Hooray! @adamsitnik, I love it, looks great!
About accuracy: I think, we should use the same approach which we use for basic timestamping. We know the number of operations per iteration, we know the number of GC 0/1/2 collections, we know allocation measurements. Thus, we can detect such situations and perform additional MemoryDiagnoser iterations if it's required. However, I believe that current

[2017-12-20 15:25] AndreyAkinshin commented on #567
@alexandretperez, it's strange that you don't have any errors.
Do you have installed R? Do you have `Rscript.exe` in your `%PATH%` (see also: [docs/Exporters#Plots](http://benchmarkdotnet.org/Configs/Exporters.htm#plots)) (just try to run `Rscript.exe` in command line from any folder). If it's available, try to manually run generated R script (`BuildPlots.R`) via `Rscript.exe`.

[2017-12-20 15:28] AndreyAkinshin commented on #543
I like how it looks now!

[2017-12-20 16:04] AndreyAkinshin commented on #601
Yes, we should definitely display 0. When we see something like (Mean = 0.0020 ns; StdDev = 0.0049 ns), it always means zero. However, people don't look at StdDev/Error and some people don't know that it's impossible to get 0.0020ns as a result on modern hardware. Thus, we can replace it in the summary table by zero.
The problem is: how should we detect such situation? Here are some thoughts:

"Re

[2017-12-20 16:07] AndreyAkinshin commented on #600
We print `?` in the Scaled column when the baseline value is too close to zero, and it's impossible to calculate the scaled value properly. I agree that it's not obvious, so we should add info about it in the legend (one additional line which is shown only when we have `?` marks in the Scaled column).

[2017-12-20 16:09] AndreyAkinshin commented on #602
@ricardok1, the source code in your suggestion uses `BenchmarkRunner`, so it has a dependency to `BenchmarkDotNet`. Why do you want to hardcode method names as strings instead of introducing one additional small class which contains all the benchmarks?

[2017-12-20 16:14] AndreyAkinshin commented on #599
@ENikS, no, @Chrisgozd implemented a fix specifically for html. Feel free to open another issue if you need escaping for markdown.

[2017-12-20 16:17] ENikS commented on #599
@AndreyAkinshin Markdown WAS my target, I added HTML as afterthought.
I am publishing results on GitHub and using markdown for that.

[2017-12-20 16:18] ENikS opened #608 "Properly escaping generated markdown"
I have descriptions containing symbols ``<>``. Something like this:
[code]
When displayed in console the descriptions are correct but generated markdown is invalid. Anything that is included in these brackets is ignored ending up with something like this: ``Container.Resolve()``.

 Could you please add extra step to properly escape markdown?

[2017-12-20 16:24] AndreyAkinshin commented on #599
@ENikS, sorry, I misread your original message, my bad. Let's continue to discuss it in https://github.com/dotnet/BenchmarkDotNet/issues/608

[2017-12-20 16:26] ENikS commented on #599
No biggie

[2017-12-20 16:26] AndreyAkinshin commented on #608
@Chrisgozd do you want to implement it?

[2017-12-21 11:40] alexandretperez commented on #567
@AndreyAkinshin, running "Rscript.exe BuildPlots.R" through the command line worked.  Thanks!

[2017-12-22 10:43] shockliang opened #609 "How to share same large row data between difference benchmarks?"
I'm encounter a scenario that I have about one million row data loading from remote database into list and I need benchmarking difference algorithms to get best way to find particular data. But each benchmark will reloading data that will take a lot of time and bandwidth.

I'm trying to loading once using  singleton object to store row data and using `[GolbalSetup]` to get row data but during benc

[2017-12-26 11:27] feO2x opened #610 "Why is a foreach loop on an array slower than a LINQ call?"
Consider the following Benchmark class:

[code]

In these benchmarks, I test different ways to determine if a collection is a subset of another collection (without checking for duplicate items). `SubsetArray ` always contains the last 5 items of `SupersetArray` in reverse order (to mimic the worst case scenario from the number of loop runs). I expected that the versions with the for loops and fore

[2017-12-26 15:26] redknightlois commented on #610
The only way to know for sure is looking at the assembly generated for all of those. You can use the disassembly support of BenchmarkDotNet to look at it. Without looking at the assembly there are a few things that can cause it. The likely cause is that the returned enumerator is not a struct enumerator, therefore, the calls to ```MoveNext()``` and the other support returns are not inlined.

[2017-12-26 15:38] redknightlois opened #611 "LSD may be skewing the results of nano-second benchmarks"
I stumbled upon this a few months ago, but I attribute it to an improvement on the Kaby Lake architecture regarding call infrastructure. Now I am not that sure :D

The story goes like this: A few months ago I noticed that while working on my Skylake based computer at work the usual empty call executed in a loop had a cost while running the very same benchmark on my home computer which is a Kaby-La

[2017-12-26 17:11] feO2x commented on #610
@redknightlois after activating the `[DisassemblyDiagnoser(printIL:true, printAsm:false)]`, the results of the important methods `IsSubsetOfWithForeachLoops` and `IsSubsetOfWithForLoops` are not printed out (I guess because they are not the marked with the `BenchmarkAttribute` but called indirectly?). However, when using ILDasm, I can see no calls to the `IEnumerator<T>` methods - the IL looks lik

[2017-12-26 18:24] redknightlois commented on #610
@feO2x When benchmarking you shouldn't wrap the calls, you may be skewing your results via an extra call; which for many benchmarking workloads is high enough to account for the lion share of your total time and/or standard deviation.

I just realized you are passing around arrays of integers over a generic type. The LINQ implementation relies on a few tricks that would outperform a typical foreac

[2017-12-26 19:52] feO2x commented on #610
@redknightlois Thanks for your insights about devirtualizing - maybe I should give a little bit of context about why I structured the benchmarks the way they are. I am the author of [Light.GuardClauses](https://github.com/feo2x/light.guardclauses/), an assertion library for checking parameter values in production code. I'm currently considering whether it's useful [to boost the performance of coll

[2017-12-26 22:11] redknightlois commented on #610
@feO2x I see. I have been looking at the code of GuardClauses and many of the patterns used internally are definitely not 'free' in the general sense. There are many tricks you can use to achieve almost zero overhead if you are willing to trick the JIT into emitting the proper code. I explained some of the techniques at DotNext Moscow 2017 (live streaming available at their YouTube channel https:/

[2017-12-26 22:15] feO2x commented on #610
@redknightlois Thanks - I will take a look. I have much to learn about performance optimizations. Will close this issue for now. Can I come back to you if I have further questions?

[2017-12-26 22:15] #610 closed

[2017-12-26 22:26] redknightlois commented on #610
Sure, I do 8 hours of performance consulting for Open Source projects as community work for free every month. Some like to write blogs, I am more of a 'get my hands dirty' kind of guy... essentially I despise writing :D ... So ping me on my twitter if you want GuardClauses to be scheduled for January /February spot (which I didn't open the spot yet ;) ).

[2017-12-26 23:03] mikedn commented on #610
The proper question here is not why `foreach` is slower than LINQ but rather why `foreach` is slower than `for`. In the case of arrays `foreach` and `for` should generate similar code and thus similar timings. If the timings are so different then there's a good chance that the 2 versions aren't comparable.

Indeed, this line appears to be incorrect:
[code]
It should probably be `superset[j]` inste

[2017-12-27 07:52] feO2x commented on #610
@mikedn You are completely correct, there is a bug in my for-loop benchmark. After fixing it, the for loop version is as slow as the foreach version:

[code]
|                Method |  Job | Runtime | NumberOfItems |            Mean |          Error |         StdDev | Scaled | ScaledSD |  Gen 0 | Allocated |
|---------------------- |----- |-------- |-------------- |----------------:|--------------

[2017-12-27 08:22] mikedn commented on #610
So now both `for` and `foreach` are slow, funny.

The LINQ version is faster because it uses the `Contains` overload without an `IEqualityComparer<T>` parameter. If you change it to use the other overload then it will probably be slow as well.

[2017-12-27 09:12] AndreyAkinshin commented on #611
@redknightlois, thanks for the report.

I know about the empty call loop phenomena in Skylake. Unfortunately, it's hard to explain it in a few sentences, but I'm going to blog about it in 2018. Anyway, thanks for the note about Kaby Lake and Coffee Lake, I should check it as well.

The main question in the context of BenchmarkDotNet: do you have examples when BenchmarkDotNet shows incorrect result

[2017-12-27 13:58] redknightlois commented on #611
@AndreyAkinshin Difficult to tell if they are not correct :D ... but as it was noticeable I prefer to err on the safe side and report the behaviour in case you haven't stumble upon it before. If what I am looking at Kaby-Lake is actually an artifact it appears that the unrolling factor may not be high enough to cover the 64 uops the LSD is capable to work with.

[2017-12-27 14:03] redknightlois commented on #610
@mikedn afaik the changes to the operation were done so it could devirtualize the comparer and because it is an ```int```, it would only add a single check to the code. You may need to use a custom comparer to actually not being able to devirtualize and be as slow as those 2.

[2017-12-27 14:06] adamsitnik commented on #609
Hello @shockliang

Your approach is correct: Load the data in the method marked with `[GlobalSetup]` and use the data in `[Benchmark]` methods.

Could you mark the type which defines benchmarks with `[KeepBenchmarkFiles]` attribute and paste here the content of `.notcs` file here? It's an auto-generated C# file which we use to generate new type before running the benchmarks. You can find it's loca

[2017-12-27 15:42] feO2x commented on #610
FWIW, it suffices to create a lambda and pass null as the comparer to decrease the performance of the LINQ version:

[code]

[code]
|                Method |  Job | Runtime | NumberOfItems |            Mean |           Error |          StdDev | Scaled | ScaledSD |  Gen 0 | Allocated |
|---------------------- |----- |-------- |-------------- |----------------:|----------------:|----------------:|--

[2017-12-28 05:37] shockliang commented on #609
Hi @adamsitnik

My environment:
[code]
My first approach was using singleton initialize in the main method and run benchmarks after data loading completed.

[code]

And trying to cache data from `DataService` in the Benchmark class with `[GlobalSetup]`
[code]

Is this approach valid for BenchmarkDotNet?
It seems each benchmark will build again with separate folder that meaning singleton object can

[2017-12-28 07:24] adamsitnik commented on #609
@shockliang now I see it.

To provide best possible precision we generate, build and execute a new process for every benchmark. Here you have set the value of singleton in host process and used it in the benchmark process (null).

You should move your initialization logic to the `[GlobalSetup]` method. It's going to be executed in the separate process. No matter how long it takes or memory it allo

[2017-12-28 16:40] GeorgePlotnikov commented on #545
small update to track this issue: I'm investigating the coreclr disasm output to compare vs BDN and to figure out how it should look like.

[2017-12-29 22:48] ricardok1 commented on #602
Sorry about making tooooo simple marking methods as strings. The choice is wherever the best (Action, Func, ...) -  I pointed as "or a better suitable type" :-)

My point here is to use your library and test different scenarios without the need to prepare a project for it.

If I want to test something different, I just want to be able to use a snippet with initialisation, point to methods and run.

[2017-12-30 16:54] adamsitnik commented on #609
@shockliang I am closing. Please feel free to reopen if my answer does not help

[2017-12-30 16:54] #609 closed

[2017-12-30 17:53] adamsitnik commented on #545
@GeorgePlotnikov great, thanks for the update!

[2017-12-30 17:56] adamsitnik commented on #606
@AndreyAkinshin I don't think it will be needed. If we ever face any issue I am going to fix it. Let's keep it super simple for now and see how it goes. So far I have run plenty of benchmarks after the changes and the accuracy was always 100%

[2017-12-30 18:05] adamsitnik commented on #602
Hi @ricardok1

We generate, build and execute a new project for every benchmark. So we need to have something that we can reference in generated C# files. If we have an `Action` it can be anything (how to create `.cs` file which will reference to this particular method if we don't know what it is?). If we have class and methods we can generate code that is simply calling the benchmarked methods.

[2017-12-30 18:05] #602 closed

[2017-12-30 19:07] jhorv commented on #377
I hit upon this problem in LINQPad.  In lieu of a BenchmarkDotNet API for configuring, I found that setting `System.Environment.CurrentDirectory` to another existing directory will change the benchmark output location.  Below is some general code for setting this to the same location and name as your LINQPad query:

[code]

[2017-12-30 23:30] adamsitnik commented on #550
Another improvement: the benchmarks are now built in parallel. The more benchmarks you have (especially .NET Core) the bigger gain.

Example: 4 .NET Core benchmarks (no SSD) => build time reduced from 40s to 14s.

Details: the build is now silent (no output to log) if something fails, the failure is printed afterwards.

[2017-12-30 23:51] #574 closed

[2017-12-30 23:55] AndreyAkinshin commented on #550
@adamsitnik, awesome!

[2017-12-31 18:45] GeorgePlotnikov commented on #545
I want to clarify if I'm understanding clearly. Correct me if I'm wrong.

Small example:

c# code

[code]

produces via JitDisasm annotation below

[code]

that's the goal?

[2017-12-31 18:51] adamsitnik commented on #545
@JosephTremoulet could you give some feedback to @GeorgePlotnikov ?

[2018-01-01 11:17] nietras commented on #543
@adamsitnik I have this issue in a benchmark I am doing (where I need IterationSetup and hence dry run), when will this be released?

[2018-01-01 11:24] adamsitnik commented on #543
It's going to be part of the official `0.10.12` release, but we don't have any release date yet.

But it's available now on our CI feed:

[code]

The latest package contains also parallel build, so overall performance should be improved.

[2018-01-01 11:40] nietras opened #612 "Disassembler DisassembleMethod fails with `Object reference not set to an instance of an object.`,"
Running a benchmark with disassembler turned on for something like:
[code]

after settings `recursiveDepth: 7` this fails with:

[code]

[2018-01-01 11:42] nietras commented on #543
@adamsitnik thanks that worked, however I am having issues with the disassembler. I've opened a separate issue for that https://github.com/dotnet/BenchmarkDotNet/issues/543

[2018-01-01 11:42] nietras commented on #612
cc: @adamsitnik

[2018-01-01 11:43] nietras commented on #612
On that note is there any way to get dissassembly for runtime code? I.e. code I do not have the source for?

[2018-01-01 11:49] adamsitnik commented on #612
@nietras the workaround: show only asm, no source code:

[code]

Could you tell me which .NET version are you using? I need to reproduce this bug locally, the workaround is only temporal ofc.

[2018-01-01 11:49] nietras commented on #612
Follow up, it works for `recursiveDepth: 5` a report is attached below. This does give some assembly for the `Array.Sort` but I need deeper depth I think.

[DotNetCross.Sorting.Benchmarks.RandomSort-disassembly-report.html.zip](https://github.com/dotnet/BenchmarkDotNet/files/1595889/DotNetCross.Sorting.Benchmarks.RandomSort-disassembly-report.html.zip)

[2018-01-01 11:52] nietras commented on #612
@adamsitnik you can get the entire source for this from https://github.com/DotNetCross/Sorting/tree/span-sort that is `span-sort` branch of that repo. It is part of my work implementing Sort for spans in corefx. Any help appreciated ;) It is still quite early though...

[2018-01-01 20:08] adamsitnik commented on #612
@nietras The exception you are getting is thrown when we try to get the C# code. If you set `printSource: false` it should work for any `recursiveDepth`.

[2018-01-01 20:21] nietras commented on #612
@adamsitnik thanks for the reply. Alright, it is weird that it works for `recursiveDepth: 6` but not `recursiveDepth: 7`... not sure what changes. It would be great if you could actually `printSource: true` together with "runtime"/corefx code, of course. It would, of course, be even greater if the reference source for the "runtime"/corefx could be used and downloaded etc. But that is a lofty wish

[2018-01-02 03:44] shockliang commented on #609
@adamsitnik
I wrote first edition I using `[GlobalSetup]`attribute to initialize data inside the `SearchData` benchmark class. It's work but take a lot of time when run each benchmark cause reload data from remote database.
After that I'm trying using singleton object to store data as your mention above. But running each benchmark still load data again. That doesn't shared same singleton object to

[2018-01-02 10:05] adamsitnik commented on #609
@shockliang `[GlobalSetup]` is executed only once. `[IterationSetup]` is executed before every iteration. [Docs](http://benchmarkdotnet.org/Advanced/SetupAndCleanup.htm)

If you run the benchmarks often I think that the best thing would be to serialize the db results to a file and load them from a file in the `[GlobalSetup]`.

We don't have any mechanism for that. We always want the child process

[2018-01-02 15:45] JosephTremoulet commented on #545
Yes, as much of that header as can be recreated would be helpful, though I don't know what would still be available on the runtime side in the MethodDesc or GC info or debug info.

Aside from the header, there should have been a dump of the actual disassembly that followed, which likewise may have some useful comments, and may be using symbolic names more than BDN currently is.

[2018-01-02 20:34] nietras commented on #612
I'm having another issue, perhaps related to this. After adding another Class Library I am getting:
[code]
in the same repo for commit `4ee56c93f7c506453f8c6034859d56779cc8df2b`. That is the `span-sort` branch. All I did was add a new class library and some new benchmark code `NewRandomSort` based on this.

[2018-01-02 20:48] nietras commented on #612
I also have some warnings during built if targetting benchmark project to `netcoreapp2.0`:
[code]
but if I target `net471` I get issues with running since it then tries to built with `netcoreapp1.1`...

[2018-01-03 11:57] nietras commented on #612
The `Sequence contains no matching element` issue is a big issue for me. It seems to occur as soon as the recursion goes into runtime code or something. Even with just `[DisassemblyDiagnoser(printAsm: true, recursiveDepth: 2)]` it is thrown now when using say `IntPtr` in the code. That is even without `printSource: true`.

This means I can't use the disassembly diagnoser for the code I am working

[2018-01-03 12:07] nietras commented on #612
The following simple benchmark code will cause the Exception:
[code]
With version `0.10.11.374` on Windows the console window has this in it, the `SingleOrDefault` assumption seems to be wrong here.
[code]

[2018-01-04 05:34] lambdakris opened #613 "Trying to run a project targeting net471 using the new style prof file/sdk results in eventual crash"
## Description
Trying to run a project targeting net471 using the new style prof file/sdk results in eventual crash and weird environment side effects such as losing access to dotnet.exe and git.exe

## Steps to reproduce
Create a new style sdk proj file via
[code]
Change target framework in Repro.csproj to net471
[code]
Install BenchmarkDotNet package
[code]
Copy paste Program.cs code from [Getti

[2018-01-04 06:10] lambdakris commented on #613
Ok, right after I hit the 'Comment' button, I lightbulb flashed in my head and it looks like this could be the issue. What seems to be happening is that my AV (Bitdefender) is classifying anything involved in the execution of the app as a threat and quarantining it (thus explaining the disappearance of dotnet.exe and Repro.exe, while at the same time not being able to overwrite/replace them). Howe

[2018-01-04 10:55] nietras opened #614 "Build fails with "'Microsoft.NETCore.App', version '1.1.2' was not found" probably due to 1.1.4 runtime not being available"
At the end of running `build.ps1` it fails with:
[code]
Note that in the beginning the `1.1.4` runtime fails downloadbut is
[code]
Not sure why... but going to the URL:
[code]

[2018-01-04 11:53] nietras commented on #612
The offending code seems to be:
[code]
Specifically:
[code]
Added a PR for this in https://github.com/dotnet/BenchmarkDotNet/pull/615

[2018-01-05 15:03] adamsitnik commented on #613
hello @lambdakris

Thanks for very well described report.

Unfortunatelly there is very little that we can do. As far as I know you should get a warning from us in the summary that you have some AV running. Did you get something?

It's also strange that AV blocked `dotnet restore` and `dotnet run`. Usually AV blocks only the execution of the benchmarked exe, not the MSBuild ;)

[2018-01-05 15:09] adamsitnik commented on #614
@nietras thanks for reporting the problem

@Ky7m could you take a look? I wonder how our CI works without it?

[2018-01-05 18:39] adamsitnik commented on #612
@nietras I was able to reporoduce your problem. I have pushed a fix for it.

Once [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.11.376) build is done (35 minutes from now) you should be able to test it. Please let me know if it solved the issue.

I have also described how to debug the disassembler in our [docs](https://github.com/dotnet/BenchmarkDotNet/blob/703

[2018-01-05 19:06] Ky7m commented on #614
Sure. I'll take care!
@nietras can you give more details, please?

1. Do you run this in your local environment? OS: Windows?
2. In your logs you see the following output:
[code]
but it's expected and next line should say that dotnet-install switched to use legacy link
[code]
Does this line exist in your logs?

[2018-01-06 10:37] nietras commented on #612
@adamsitnik thanks! Nice with the docs 👍

[2018-01-06 10:47] nietras commented on #614
Sorry, should have included more of the log, yes it is included:
[code]
It still fails:
[code]

[2018-01-06 10:49] nietras commented on #614
I run this in local environment Windows 10:
[code]
in Git Shell from GitHub for Windows. dotnet is in the path:
[code]

[2018-01-06 16:10] nietras opened #616 "Run-time Params: A new type of Params not compile-time"
For many of the benchmarks I do I am not interested in `[Params(...)]` being used as compile time constants. And in fact not even interested in there being a completely separate build for each value. With many params and multiple of these this gets really cumbersome and slow.

What recommendation is there for when you simply want parameters used as run-time values? And do not want a build for each

[2018-01-07 12:24] #612 closed

[2018-01-08 10:21] GeorgePlotnikov commented on #545
@adamsitnik, @JosephTremoulet thank you for replies, will discover the solution

[2018-01-08 13:18] adamsitnik commented on #616
I agree that we could build a single executable for all the `Parameters`. It would reduce the time it takes to run the benchmarks. However, I have recently introduced Parallel builds and now the time it takes to build the benchmarks has been improved. For my machine with 4 cores it used to take 40s to build 4 benchmarks for .NET Core, now it's 14s. If I implement the proposed change it would still

[2018-01-08 13:34] adamsitnik commented on #616
@nietras example:

[code]

[2018-01-09 09:11] mgravell opened #617 "Allow baseline per category"
Edit: if there's already a way to do this and I'm just being ignorant: please say!

Often I'm trying to compare alternative implementations that can impact multiple scenarios - essentially baseline vs option 1 (vs option 2 etc), but for multiple *separate* tests A, B, C.

The `Baseline = true`  feature is great, but only really allows a single baseline. If multiple methods are marked as `Baseline`

[2018-01-09 10:11] nietras commented on #616
Perfectly understandable, `InProcessToolchain.Instance` does work and helps a lot. And I did use it to define my benchmarks see:

https://github.com/DotNetCross/Sorting/blob/span-sort/tests/DotNetCross.Sorting.Benchmarks/SortBench.cs
https://github.com/DotNetCross/Sorting/blob/span-sort/tests/DotNetCross.Sorting.Benchmarks/SpanFillerParam.cs
https://github.com/DotNetCross/Sorting/blob/span-sort/te

[2018-01-09 14:13] adamsitnik commented on #616
Don't worry, we take care of this. You can see the C# code file that we generete by applying `[KeepBenchmarkFiles]` attribute to your class with benchmarks. We are not using consts or readonly fields, just public fields or public properties initalized in ctor of class which derives from your class with benchmarks.  Speaking of arguments I implemented suport for it, the PR #577 is waiting for @Andr

[2018-01-09 14:14] adamsitnik commented on #617
I like this idea! @AndreyAkinshin what about you?

[2018-01-09 18:30] AndreyAkinshin commented on #617
I think that it's better to introduce a unified way for grouping results. In each group, we should get exactly one baseline.
Here are some use cases for it:
1. Compare the performance of different methods (current default basline behavior).
2. Compare the performance of different methods in a category (this issue).
3. Compare the performance of the same method for different jobs (e.g. .NET Core vs

[2018-01-09 18:56] AndreyAkinshin commented on #616
@adamsitnik ,

Sorry, I thought we were stuck on the InProcess support. The current implementation looks good to me. I still I'm still a little worried about nanobenchmarks. However, I guess that there is no a "reliable" approach which always prints "correct" results.
Imagine a method like
[code]
In real life, the `Calc(1, 2, 3, 4, 5)` can be inlined; so we get a compile-time constant. The executi

[2018-01-09 19:27] adamsitnik commented on #616
@AndreyAkinshin sounds good to me!

[2018-01-09 21:02] mgravell commented on #617
An extra double-line / separator row in a single table may be more than
sufficient, to avoid repetitive column headers and other space issues

On 9 Jan 2018 6:30 p.m., "Andrey Akinshin" <notifications@github.com> wrote:

[2018-01-10 02:36] lambdakris commented on #613
Yeah, ultimately it is not an issue with BenchmarkDotNet. Regarding the warning about the AV, I did not see the warning with the netcore summary, and of course, there is no summary when targeting netfx because it crashes/gets killed of. Still, I find it curious that this only happens when targeting netfx and not netcore. I'll go ahead and close.

[2018-01-10 02:37] #613 closed

[2018-01-10 05:31] adamsitnik commented on #613
For .NET Core a `.dll` is being created, for classic .NET an `.exe`. I suspect that this could be the issue.

[2018-01-10 05:40] adamsitnik commented on #617
@AndreyAkinshin LGTM

[2018-01-11 13:54] ENikS commented on #608
@AndreyAkinshin @Chrisgozd

Any progress on this one?
I'd like to update benchmarks...

[2018-01-11 17:59] AndreyAkinshin opened #618 "Enable ApprovalTests in .NET Core 2.0 tests"
It will allow running ApprovalTests on Linux and macOS

[2018-01-11 22:16] #618 closed

[2018-01-12 10:41] #582 closed

[2018-01-12 10:41] AndreyAkinshin commented on #582
The feature is implemented (PR #607)

[2018-01-12 15:09] #608 closed

[2018-01-12 15:13] AndreyAkinshin commented on #608
@ENikS, we don't typically need html escaping for our most popular markdown dialect like GitHub or StackOverflow. So, I added another dialect which is called `HtmlReady`. Now you can mark your benchmark class with `[MarkdownExporterAttribute.HtmlReady].` In the `result` folder, you should find the `*-report-htmlready.md` file with properly escaped text.

[2018-01-12 15:18] ENikS commented on #608
You **DO** need escaping for GitHub dialect. Check [this](https://raw.githubusercontent.com/unitycontainer/benchmarks/master/README.md) page and compare how it looks when [viewed in GitHub](https://github.com/unitycontainer/benchmarks/blob/master/README.md). Can you see the difference?

[2018-01-12 15:23] ENikS commented on #608
@AndreyAkinshin ``Container.Resolve<Container>()`` becomes ``Container.Resolve()``

[2018-01-12 15:26] ENikS commented on #608
@AndreyAkinshin
Actually, if you enclose method name in 'quotes' as I did with last two names it would solve the problem

[2018-01-12 15:44] AndreyAkinshin commented on #608
Sorry, I checked a wrong example. Probably, I have to sleep more. =)
Now GitHub dialect uses html escaping.

[2018-01-12 17:12] #617 closed

[2018-01-13 13:42] adamsitnik opened #621 "Try to search for missing references if build fails"
[code]

[code]

Fails with: `CS0012: The type 'ValueType' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'`

We can at least try to find it.

[2018-01-13 13:49] #621 closed

[2018-01-13 13:52] adamsitnik opened #622 "Support of new GC settings"
Via [MSDN](https://support.microsoft.com/en-us/help/4014604/may-2017-description-of-the-quality-rollup-for-the-net-framework-4-6-4)

[code]

[2018-01-13 15:14] #622 closed

[2018-01-13 19:08] AndreyAkinshin opened #623 "RPlotExporter uses wrong path to csv measurements"
Csv exporter uses FQN (see https://github.com/dotnet/BenchmarkDotNet/commit/84a4e242dc1dcc2fb4eb14280a44ce9fac1155d8), but `BuildPlot.R` tries to load data from old file name

[2018-01-13 19:09] #623 closed

[2018-01-14 16:20] Ky7m commented on #614
@nietras sorry for delay, I didn't have enough time, looking now

[2018-01-14 21:19] Ky7m commented on #614
@nietras, PR #624 should help to resolve this issue, please let me know if it doesn't.

[2018-01-14 22:27] #614 closed

[2018-01-16 06:20] eschneider999 opened #626 "Generate Exception: Unable to find BenchmarkTests in D:\Dev\FrozenElephant\SymbioticORM\Benchmarks and its subfolders. Most probably the name of output exe is different than the name of the .(c/f)sproj"
Trying to use benchmark dot net and get the following issue?

[code]

[2018-01-16 13:26] marubadi commented on #399
Can anyone help me with project.json

[2018-01-16 14:04] AndreyAkinshin commented on #399
@marubadi, we don't support `project.json`-based projects in the latest BenchmarkDotNet versions because it's a legacy format.

[2018-01-16 14:46] adamsitnik commented on #399
@marubadi you need to downgrade to `0.10.9` to have `project.json`. Unfortunaly if there are any bugs we are not going to solve them because we don't support it anymore.

If you are very desperate to have it you need to download the [code](https://github.com/dotnet/BenchmarkDotNet/commit/93dc6e638aab62dddd6bba50aa13b04645663cfd) that I have removed and copy it to your own repository and get it wor

[2018-01-16 15:02] adamsitnik commented on #626
Hello @eschneider999

Before we run the benchmarks, we build a dedicated project first. The project needs to reference the `.csproj` file which defines the benchmark.

To find the `.csproj` we search for file with name `{yourAssemblyName}.csproj`

The assembly name is defined in the properites of your project file:

![image](https://user-images.githubusercontent.com/6011991/34995387-9eca6170-fad6-

[2018-01-16 18:02] #626 closed

[2018-01-16 18:05] adamsitnik commented on #626
@eschneider999 this was not handled properly ;)

When [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.12.411) build finishes you should be able to download our latest CI package with VB support from our CI feed:

[code]

[2018-01-16 18:06] adamsitnik commented on #626
@eschneider999  and ofc please feel free to reopen if it does not solve the issue

[2018-01-16 18:15] eschneider999 commented on #626
thanks

[2018-01-16 18:23] eschneider999 commented on #626
why do you need the project? does that mean you can't do benchmarks with-out the project and compilation?

[2018-01-16 18:26] adamsitnik commented on #626
to make the results stable across the runs we always generate, build and run new process for every benchmark

You can use [InProcessToolchain](http://benchmarkdotnet.org/Configs/Toolchains.htm#inprocesstoolchain) to avoid that

[2018-01-16 18:27] eschneider999 commented on #626
It would be nice if I could benchmark my unit tests inside my project?

[2018-01-16 18:32] adamsitnik commented on #626
you can run your benchmarks from your unit test project but we don't provide any infrastructure that allows to compare the result with previous ones or store them in any way. So we just run the benchmarks and give you the results

[2018-01-16 18:33] eschneider999 commented on #626
I couln't get it working, but maybe it was that bug you just fixed.

[2018-01-17 00:13] eschneider999 commented on #626
Still have issues? using 0.10.12.411
Also my nuget refs have yellow triangles on them?

// ***** BenchmarkRunner: Start   *****
// Found benchmarks:
//   BenchmarkTests.SimpleQuery: DefaultJob
//   BenchmarkTests.LoadItems: DefaultJob
//   BenchmarkTests.LoadItemsReadTable: DefaultJob
//   BenchmarkTests.LoadItemsWriteTable: DefaultJob
//   BenchmarkTests.LoadItemById: DefaultJob
//   BenchmarkTes

[2018-01-17 00:35] eschneider999 commented on #626
also could you output the full path and file name in the exception? if you can't find something, it should be explicit in what it's looking for.

[2018-01-17 01:03] erick-thompson opened #627 "Examples of running BenchmarkDotNet from TeamCity"
I have a set of benchmarks I would like to run under TeamCity. I can run the benchmarks easily enough (command line runner, PowerShell runner, etc), but I'd like to have the build fail when the benchmark results vary a great deal. Does anyone have any examples of BenchmarkDotNet + TeamCity?

[2018-01-17 01:05] adamsitnik commented on #626
Your IDE did not download the version with the fix. [Link to help](https://docs.microsoft.com/en-us/vsts/package/nuget/consume)

[2018-01-17 01:19] eschneider999 commented on #626
using version 0.10.12.411

[2018-01-17 14:46] adamsitnik commented on #626
@eschneider999 your log tells me that you are using 0.10.12. Please run `dotnet restore` for the project with benchmarks

[2018-01-17 14:50] adamsitnik commented on #627
Hello @erick-thompson

Unfortunatelly we don't have anything like that. It would be great to have it, but we just did not find the time to implement it.

Please follow #54 , I am closing this one (it's a duplicate)

[2018-01-17 14:50] #627 closed

[2018-01-17 14:55] AndreyAkinshin commented on #627
@erick-thompson, [performance testings](http://aakinshin.net/blog/post/reflecting-on-performance-testing/) is a complicated feature. I'm working on it right now. Hopefully, it will be available later this year.

[2018-01-17 20:35] AndreyAkinshin commented on #567
@alexandretperez, it turned out that we had a bug in RPlotExporter (see https://github.com/dotnet/BenchmarkDotNet/issues/623). I guess you had exactly this problem. It was fixed in v0.10.12.

[2018-01-18 21:05] ENikS opened #629 "Question on Architecture"
I am trying to create benchmark site with performance comparison of [Unity versions](https://github.com/unitycontainer/benchmarks) against each other as well as other IoC containers. I also would like to compare performance on different platforms and .NET frameworks. Create a matrix so to speak.
It would be nice if the results could be published to a web site automatically.

I was wondering if you

[2018-01-19 00:55] jmbryan22 commented on #147
#https://github.com/danielpalme/IocPerformance/issues/77

[2018-01-19 00:59] jmbryan22 commented on #147
danielpalme/IocPerformance#77

[2018-01-20 10:10] nietras opened #630 "Bug: Statistics.DivMean - NullReferenceException"
I am apparently good at constantly running into cases where BDN fails. Version 0.10.12.

https://github.com/DotNetCross/Sorting/tree/fc60378eee0cb9cafed9f35d596b42aaaca8269e

Simply run the `DotNetCross.Sorting.Benchmarks` in `Release` from VS2017 for example. During these benchmarks I get the following:
[code]

[2018-01-20 10:18] nietras opened #631 "Bug: Generic benchmark class fails for DisassemblyDiagnoser with `Sequence contains no matching element`"
This is I think a known limitation of the current disassembler, but I would really like this to work to avoid having to write a lot of code for different types that I would like to disassemble the code for.

This again is from https://github.com/DotNetCross/Sorting/tree/fc60378eee0cb9cafed9f35d596b42aaaca8269e but the code in question is disabled/uncommented.

I have a base disassembler benchmark

[2018-01-20 14:55] AndrewGumenyuk commented on #600
@AndreyAkinshin . I've just read this issue. I'm trying to investigate. Unfortunately, I don't understand why you wanna to hide values that are too close to zero.

[2018-01-20 17:59] nietras opened #632 "ParamsSource no longer sorted in results"
As can be seen in the following 0.10.12 no longer seems to sort `Length` by value, `2`, `3` no longer come first in the list.

[code]
|    Method |               Filler |  Length |      Mean |     Error |    StdDev | Scaled | ScaledSD |
|---------- |--------------------- |-------- |----------:|----------:|----------:|-------:|---------:|
| **ArraySort** |             **Constant** |      **10** |

[2018-01-20 18:01] nietras commented on #632
E,g, for code like:
[code]

[2018-01-21 12:06] AndreyAkinshin commented on #632
@nietras, could you please provide the full repro?
I tried the following code:
[code]
It produces the correct result in v0.10.12:
[code]

[2018-01-21 12:07] AndreyAkinshin commented on #631
@adamsitnik, could you please take a look?

[2018-01-21 12:10] AndreyAkinshin commented on #630
@nietras, thanks for the report. Will fix it soon.

[2018-01-21 12:19] AndreyAkinshin commented on #629
@ENikS, BenchmarkDotNet allows comparing different platforms and runtime. Results can be exported to different formats (xml, json, csv, and so on) or handle programmatically (BenchmarkRunner returns a Summary which contains detailed information about all iterations).
Thus, you can transform results into a matrix as you want. Making a web site and auto-deploy are our of the scope of BenchmarkDotNet

[2018-01-21 12:23] nietras commented on #632
@AndreyAkinshin you can try the following https://github.com/DotNetCross/Sorting/tree/bcb793438f2038ea3f3ab1a9fc0efbb97de1fed9
e.g. run https://github.com/DotNetCross/Sorting/blob/bcb793438f2038ea3f3ab1a9fc0efbb97de1fed9/tests/DotNetCross.Sorting.Benchmarks/Program.cs#L106

The only difference is that this uses `{ get;}` and sets it in ctor. But I doubt that is the issue... but it happened when I

[2018-01-21 12:41] AndreyAkinshin commented on #632
@nietras, I can't build this revision:
[code]

[2018-01-21 12:51] nietras commented on #632
Language support for `ref` is missing, are you using VS2017?

[2018-01-21 12:56] AndreyAkinshin commented on #632
I tried it on a machine with .NET Core SDK 2.0.3, MSBuild 15.4 (VS 15.4.1). It seems that I need some updates.

[2018-01-21 12:57] nietras commented on #632
Hmm, well you need language support for C# 7.2 and that was introduced in VS 15.5 I think. So yes, you have to upgrade, hope that is not an issue 😄

[2018-01-21 13:02] AndreyAkinshin commented on #632
.NET Core SDK 2.1.4 solved the problem and I reproduced the issue. Will fix it in Benchmark v0.10.13.

[2018-01-21 13:05] nietras commented on #632
@AndreyAkinshin sounds great, thank you very much.

[2018-01-21 13:09] nietras commented on #632
@AndreyAkinshin if you have any suggestions regarding these Benchmarks I would also welcome them. They are a bit special due to Sort being in-place, so only 1 iteration per measurement can be done. Also there are so many cases that running it InProcess is a must for reasonable feedback.

[2018-01-21 16:06] ENikS commented on #583
I would suggest making [this project](https://github.com/benchmarks/csharp) a showcase for the library as well as good reference source for the C-Sharp implementation.

[2018-01-22 16:28] AndreyAkinshin commented on #442
@rpokrovskij,
In BenchmarkDotNet v0.10.12, you can mark a job as a baseline (see http://benchmarkdotnet.org/Advanced/Baseline.htm#example-3-jobs). In this case, the Rank column will be calculated for a set of jobs/runtimes.

[2018-01-22 16:28] #442 closed

[2018-01-23 16:34] ENikS commented on #629
Do you know any continuous integration platform which would allow running these tests? These take forever to run...

[2018-01-23 21:00] erick-thompson commented on #627
Thanks for the information. I agree it is a tough problem. Let me know if there are any efforts I can help with.

[2018-01-26 20:18] nietras commented on #632
@AndreyAkinshin how is the fix for this going? It's annoying me a bit ;)

[2018-01-26 22:09] ENikS opened #634 "Extend SummaryOrderPolicy"
It would be extremely useful if you could extend SummaryOrderPolicy to include all built-in fields of the Summary. Requiring to write custom order provider just to show results sorted by Method name is rather inefficient and defeats the purpose of [Default Order Provider](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Attributes/OrderProviderAttribute.cs).

[2018-01-28 00:34] IvanFarkas commented on #448
@AndreyAkinshin Unfortunately **GetNetCoreVersion()** is not working when used in **Nano Server** or **Ubuntu** **Docker** container images, since the assembly.CodeBase is
[code]
or
[code]
Is there a reliable way to get the **.NET Core runtime version number** at runtime that works in **Docker containers as well**, please?

[2018-01-28 06:10] AndreyAkinshin commented on #448
@IvanFarkas, could you please run `typeof(System.Runtime.GCSettings).GetTypeInfo().Assembly.CodeBase` from a C# program inside a Nano Server or Ubuntu Docker images and tell me the value?

[2018-01-28 16:06] adamsitnik commented on #448
what does the `RuntimeInformation.FrameworkDescription` returns?

[2018-01-28 22:24] ENikS opened #636 "Unable to run Runner.exe --method MethodName"
When I try to run benchmark on a single method it does not execute anything. Just displays this:
Global total time: 00:00:00 (0.08 sec)

I tried xxx --help and followed instructions but nothing helps. Am I running it incorrectly?

[2018-01-29 01:32] IvanFarkas commented on #448
**Code:**
[code]

**Output:**
[code]

[2018-01-29 14:01] #629 closed

[2018-01-30 23:23] redknightlois commented on #630
@nietras you are not the only one, I just came here to report the same :D

[2018-01-31 08:52] AndreyAkinshin commented on #541
Fixed by #637, thanks @morgan-kn!

[2018-01-31 08:52] #541 closed

[2018-01-31 10:15] Barsonax opened #638 "Config with ryujit but it doesnt actually use ryujit?"
I have this config [here](https://github.com/Barsonax/Pathfindax/blob/MoreBenchmarks/Source/Code/Pathfindax.Benchmarks/BenchmarkConfigAttribute.cs)

However it doesnt actually uses ryujit when I run. Am I missing something here or is this a bug/unsupported scenario (in which case I would expect a exception). The output is very confusing as on one line it says legacyjit and another says ryujit.

Th

[2018-01-31 10:23] AndreyAkinshin commented on #638
@Barsonax,
Here are lines from your config:
[code]
.NET Framework 4.7 doesn't support RyuJIT-x86; only LegacyJIT-x86, LegacyJIT-x64, RyuJIT-x64 are supported.
I guess that BenchmarkDotNet should print a warning when the requested Job is invalid.

[2018-01-31 10:58] Barsonax commented on #638
I would prefer that it prints a error and refuses to run in this case. Warnings might be missed.

[2018-01-31 11:11] AndreyAkinshin commented on #638
Make sense. Then it should be a `validator`. The implementation should be similar to `CompilationValidator`.

[2018-01-31 20:50] roji commented on #147
Just a big +1 to adding support for properly benchmarking in a concurrent environment - it's super important to be able to see how code behaves under concurrent load (lock contention, CPU caches...). Some knobs would be necessary - number of threads etc.

[2018-02-01 15:42] bonesoul commented on #155
and updates on this?

[2018-02-01 15:47] bonesoul commented on #257
@jcansdale did you find a solution for using [ShortRunJob] with [CoreJob]

[2018-02-01 17:57] xoofx commented on #612
Ah! I had also this bug `Unhandled Exception: System.InvalidOperationException: There is an error in XML document (0, 0). ---> System.Xml.XmlException: Root element is missing.`... but with 0.10.12, is it fixed there or only on latest master?

[2018-02-01 17:59] adamsitnik commented on #612
Hello @xoofx

This particular fix is part of 0.10.12. So if you hit a problem with 0.10.12 please create a new issue with repro case.

[2018-02-01 20:36] xoofx opened #640 "Disassembler fails with generic instance"
Hello! (Followup of #612)
So I wanted to try the disassembler with the 0.10.12 version but getting a crash on the following example:

[code]

And the error:

[code]

Likely something not supported/correctly escaped when using a generic instance? (I was actually glad to see that I could run some benchmark with this - without the print disassembly)

[2018-02-01 20:40] bonesoul opened #641 "RPlotExporter hanging"
[code]

and then it hangs?

[2018-02-01 20:51] AndreyAkinshin commented on #640
Hello @xoofx, thanks for the bug report!
@adamsitnik could you take a look?

[2018-02-01 21:13] AndreyAkinshin commented on #155
@bonesoul, still working on this. I guess that the first version of performance testing API will be available in March.

[2018-02-01 21:33] AndreyAkinshin commented on #641
@bonesoul, which version of BenchmarkDotNet do you use?

[2018-02-01 21:35] bonesoul commented on #641
0.10.12 from nuget.
os: win10-x64.

[2018-02-02 13:42] seesharper commented on #377
I am hitting something similar trying to execute a benchmark from a C# script where the underlying generated assembly for the script has no location.

[code]

[2018-02-03 17:01] adamsitnik commented on #640
@xoofx I have made a little research and some debugging and it looks like it's currently impossible to get the asm of generic type method. It's a ClrMD limitation, which we can not overcome.

Example:

[code]

When I attach to such simple program ClrMD reports that there is only one type called `Generic`, it has method `Create` but this method is not compiled (`CompilationType == None`) and there

[2018-02-04 14:41] #631 closed

[2018-02-04 14:41] #640 closed

[2018-02-04 14:45] adamsitnik commented on #640
@xoofx I found the way to get what we need.

@AndreyAkinshin I added an extra, non-inlinable method to our auto-generated type. It's executed only once for jitting, when the diagnoser starts disassembling it starts with this method. In case of generic types the method contains address of the compiled generic method, and once we have this address the ClrMD is able to recognize the type.

After [thi

[2018-02-04 14:48] nietras commented on #640
Awesome!

On Feb 4, 2018 15:45, "Adam Sitnik" <notifications@github.com> wrote:

[2018-02-04 14:49] adamsitnik commented on #631
@nietras Your idea with the workaround has inspired me :)

You suggested a workaround with deriving non-generic type from generic type. I realized that we do  that in our Engine anyway. And I used this to overcome ClrMD limitations

After [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.12.420) build is finished the new package on our CI will contain the fix.

[2018-02-04 15:23] nietras commented on #631
@adamsitnik it's good to be a code muse ;-) Thanks for the fix! Will the
build include fix for params ordering too?

On Feb 4, 2018 15:49, "Adam Sitnik" <notifications@github.com> wrote:

@nietras <https://github.com/nietras> Your idea with the workaround has
inspired me :)

You suggested a workaround with deriving non-generic type from generic
type. I realized that we do that in our Engine anyway

[2018-02-04 15:27] adamsitnik commented on #631
I have fixed only this bug, did not have time for other bugs

[2018-02-04 16:52] xoofx commented on #640
thanks a lot!

[2018-02-04 17:37] AndreyAkinshin commented on #640
@adamsitnik,

It's always good to see when people are not afraid of impossible problems. =)

[2018-02-04 18:56] #616 closed

[2018-02-04 18:58] adamsitnik commented on #557
Sasha is right, I am closing this one.

[2018-02-04 18:58] #557 closed

[2018-02-05 00:04] adamsitnik commented on #545
hello @JosephTremoulet

Could you tell us what are the most important things that we should reproduce in BDN?

@GeorgePlotnikov has started working on this issue (draft of the PR #635 ) and we need to know if we can get the most important data

[2018-02-05 10:30] adamsitnik commented on #640
@xoofx @nietras the build I referenced today did not pass, but [this one](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.12.423/artifacts) did, so `0.10.12.423` is the version for you

I hate to give up, and this kind of problems make me very motivated to solve them.

[2018-02-05 19:16] rpokrovskij opened #643 "Feature 'private protected' is not available in C# 7.0. Please use language version 7.2 or greater."
There is VS 2017 solution developed using C# 7.2 (BenchmarkDotNet 0.10.12)
Benchmark Core project created. Using C# 7.2 instruction added to proj file:

[code]

The solution can be compiled. But after starting benchmark with
`dotnet run -c Release -f netcoreapp2.0 -p "$BenchmarkProjectPath"`
those errors produced:

[code]

[2018-02-05 20:38] rpokrovskij opened #644 "BenchmarkDotNet.Mathematics.RankHelper again."
There is VS 2017 core project (BenchmarkDotNet 0.10.12 used)

Configured as:

[code]

Benchmark class configured as:

[code]

run as

`& dotnet run -c Release -f netcoreapp2.0 -p "$BenchmarkProjectPath"`

And got error at the end:

[code]

What is wrong?
Please create a more usefull message.

[2018-02-06 08:17] #632 closed

[2018-02-06 08:18] AndreyAkinshin commented on #632
@nietras, should be fixed now. v0.10.13 will be released in February. Meanwhile, you can use nightly builds.

[2018-02-06 08:31] nietras commented on #632
Thanks!

On Feb 6, 2018 09:18, "Andrey Akinshin" <notifications@github.com> wrote:

[2018-02-06 15:03] #643 closed

[2018-02-06 15:05] adamsitnik commented on #643
hi @rpokrovskij

thanks for the bug report.

I have fixed the issue, you need to wait until [this build](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.12.425) is green and download `0.10.12.425` package from our CI NuGet feed:

[code]

[2018-02-06 15:50] ENikS commented on #636
After running switcher in the debugger I figured why it would not run. The argument parser requires equal sign to be added without spaces like this:
[code]
but --help option shows commands with space between option and value.

[code]

[2018-02-06 16:24] #636 closed

[2018-02-06 19:58] #634 closed

[2018-02-12 15:03] ViktorHofer opened #648 "BenchmarkDotNet requires dotnet cli toolchain to be installed"
I'm manually compiling my benchmark with corerun & csc like this (.NET Core 2.1 master):

[code]

When running it with corerun I get the following error:
[code]

I would expect this error if I wouldn't have provided a custom cli path `WithCustomDotNetCliPath`. This is my config:

[code]

The InProc job runs as expected (Job 2) but the one which should you use a custom dotnet path doesn't work. Is

[2018-02-13 03:06] DanubeRS commented on #387
I couldn't help but notice in #422 it was mentioned this was proposed for 0.10.5. Just wanted to ping to see whether this one has flown under the radar, or whether its still in the vNext milestone backlog.

[2018-02-13 23:02] ViktorHofer commented on #377
I would love to be able to customize the BenchmarkDotNet.Artifacts path not just by API but as a CLI option. Something like:

`dotnet run -c Release benchmark1.dll artifacts=./master-regex-list`.

That would allow me to run a benchmark multiple times without overriding the results.

[2018-02-13 23:51] brianrob commented on #175
This should be unblocked now.  This package supports .NET Core: https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.TraceEvent/2.0.4

[2018-02-14 00:30] LordMike opened #649 "Searching docs leads to 404 page"
On the docs (http://benchmarkdotnet.org/), searching in the topleft searchbar goes to (http://benchmarkdotnet.org/Docnet_search.htm) - but searching on that page (the large search bar) goes to (http://benchmarkdotnet.org/docnet_search.htm) (lowercase "d").

[2018-02-14 06:47] AndreyAkinshin commented on #649
@LordMike, thanks for the report!

[2018-02-14 12:51] adamsitnik commented on #387
@DanubeRS @pakrym if the profiler that you want to use has some command line API, then it's possible to integrate it today with BenchmarkDotNet

Idea: have a custom diagnoser (a plugin) which tells BDN to run one more time, attach the profiler before the main run and close it after the main run.

[code]

[2018-02-14 15:12] adamsitnik commented on #377
@ViktorHofer Done! As soon as [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.12.430) build is over, you should be able to download `0.10.12.430` version with this new feature from our CI feed.

[code]

[code]

or as suggested via the command line: `dotnet run -c Release -f net46 -- --artifacts="C:\AdamTest" --class=Cpu_Atomics`

or via the `ConfigExtensions`: `c

[2018-02-14 15:17] ViktorHofer commented on #377
Adam you are fast!! Thanks a lot! Happy to have you in our team now 👍

[2018-02-14 15:34] #648 closed

[2018-02-14 15:34] adamsitnik commented on #648
@ViktorHofer it's not expected, it's a bug ;) [Fixed](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.12.431)

[2018-02-14 15:36] adamsitnik commented on #377
@ViktorHofer thanks! I will contact you soon about local Core CLR/FX builds soon

[2018-02-14 18:32] jnm2 commented on #630
Just hit this.

[2018-02-14 18:35] jnm2 commented on #630
Is there anything I can even do to work around this? Looks like I'm totally blocked at this point.

[2018-02-14 19:04] jnm2 opened #650 "How do you use InProcessToolchain?"
From the [FAQ](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/guide/FAQ.md#faq-frequently-asked-questions):

As a noob, I'm searching the internet and looking at your code and can't figure out how to specify `InProcessToolchain` for `BenchmarkRunner.Run<SomeBenchmarks>();`

[2018-02-14 19:10] adamsitnik commented on #650
Hello @jnm2 !

I described it in our [docs](http://benchmarkdotnet.org/Configs/Toolchains.htm#inprocesstoolchain)

If something is not clear please feel free to reopen the issue

[2018-02-14 19:10] #650 closed

[2018-02-14 19:17] jnm2 commented on #650
Oh, perfect! Thank you! Wonder why the docs were so hard to find.

[2018-02-14 21:02] ViktorHofer commented on #648
Now I get the following error:

[code]

My compiled output is `regex-perf.dll`, it seems it looks for an exe?

[2018-02-14 21:06] DanubeRS commented on #387
Thanks @adamsitnik. Thankfully I am using dotTrace, which exposes such a thing, will post an example for reference when I have it working to a decent standard.

[2018-02-14 21:10] adamsitnik commented on #648
We search for `.csproj` file to reference it. When you build with csc there is no csproj.

But don't worry tomorrow I should have new toolchain for building against local CoreCLR+CoreFX without any need to use csc or CoreRun

[2018-02-14 21:11] adamsitnik commented on #387
that would be great!

[2018-02-15 07:58] adamsitnik opened #651 "Support ANY CoreFX and CoreCLR builds"

[2018-02-15 08:09] #651 closed

[2018-02-16 07:25] filipw commented on #377
@adamsitnik is there a way to run against in-memory assemblies though?

[2018-02-16 16:57] adamsitnik commented on #377
@filipw hi Filip! You should try our InProcessToolchain which does not compile and spawn new processes but instead generates new types using IL Emit. [Here](http://benchmarkdotnet.org/Configs/Toolchains.htm#inprocesstoolchain) is a good description of it

[2018-02-16 17:31] Matthew-Bonner commented on #504
It would be good if we could also change ns to ms as I'm seeing huge numbers that are hard to read.

[2018-02-16 22:28] adamsitnik opened #652 "BenchmarkSwitcher should support generic types with parameterless public ctors"
It's possible to run generic benchmarks via `BenchmarkRunner.Run<T>` but not via `BenchmarkSwitcher.FromTypes`

Case: I am currently benchmarking the serializers. I don't want to create new class per type.

[code]

@AndreyAkinshin to prevent some bugs I am going to add a requirement: generics are ok if the type has a public parameterless ctor.

[2018-02-16 22:37] AndreyAkinshin commented on #652
LGTM

[2018-02-17 23:14] GeorgePlotnikov commented on #545
Hi @adamsitnik, @AndreyAkinshin did you see the results, what do you think about it?

[2018-02-19 15:02] #652 closed

[2018-02-19 16:03] adamsitnik commented on #652
Done! @nietras @xoofx guys you might be interested in updating to `0.10.12.443` since it has better generics support (full names are used everywhere, not Generic`1 thing)

[code]

![image](https://user-images.githubusercontent.com/6011991/36386540-5a40e7e2-1596-11e8-8238-5494eeef0bd0.png)

[2018-02-19 18:02] #630 closed

[2018-02-19 18:04] nietras commented on #652
Nice!

On Feb 19, 2018 17:03, "Adam Sitnik" <notifications@github.com> wrote:

[2018-02-19 18:15] #644 closed

[2018-02-19 20:51] AndreyAkinshin commented on #630
I didn't reproduce the issue locally, but I hope the I have fixed it. Please, try 0.10.12.444 from our nightly feed.

[2018-02-19 20:52] AndreyAkinshin commented on #644
I didn't reproduce the issue locally, but I hope the I have fixed it. Please, try 0.10.12.445 from our nightly feed.

[2018-02-21 02:44] TheAngryByrd opened #653 "Proper way to run BenchmarkDotNet on macOS/Linux"
I'm trying to get run BenchmarksDotNet on macOS/Linux however I'm running into some snags.  Many versions ago I used to be able to run it as mono being the host process and would run mono and core jobs but now I can't seem to do that anymore.

With `mono App.exe` it won't run the CoreJob tests

[code]

If I run it as `dotnet run -f netcoreapp2.0` it won't run the mono jobs.
[code]

Is getting both

[2018-02-22 09:18] skleanthous opened #654 "Add support to deduct overhead from benchmarks"
Introduction
---

I'm trying to benchmark some large-er operations in my library that unfortunately cannot be isolated in a way that will give any confidence that it will be the same in production. This is similar to benchmarking an "AddToCollection" operation, which would need a setup that clears the collection on every operation.

Programmability proposal
---

What I would love is to be able to

[2018-02-22 15:17] adamsitnik commented on #641
Hi @bonesoul

I just faced the same problem.

It turns out that I had a fresh `R` install and `R` needed to download all the required packages first.

Workaround: Find your location of the `Rscript.exe`  file and provide it two arguments:  path to `BuildPlots.R` file from `BenchmarkDotNet.Artifacts\results` and some `*.measurements.csv` file from the same folder.

Example:
`C:\Projects\Benchmarks\

[2018-02-22 16:43] Matthew-Bonner opened #656 "Question: is it possible to access method, mean and scale programmatically once the benchmarks have ran?"
Is it possible to access method, mean and scale programmatically once the benchmarks have ran?

[2018-02-22 16:46] Matthew-Bonner commented on #656
Use case being I would like to run the benchmarks on the commandline as part of an automatic build system, and I'd like to flag up when the benchmarks are too slow, so would like to programmatically parse the results to then indicate on the build system summary page whether the build has passed or failed.

[2018-02-22 17:34] Matthew-Bonner commented on #656
Use case being I would like to run the benchmarks on the command line as part of an automatic build system, and I'd like to flag up when the benchmarks are too slow, so would like to programmatically parse the results to then indicate on the build system summary page whether the build has passed or failed.

I couldn't see anywhere in the docs which specified I could and I took a look at the Summar

[2018-02-22 22:42] svick opened #658 "[Params] for enums should include all values by default"
I think that with `[Params]` properties whose type is some `enum`, a fairly common situation is that I want all values of that `enum` to be included. It would be nice if doing this didn't require listing all those values in the attribute. I.e., instead of having to write:

[code]

I could write just:

[code]

Do you think this would be a useful feature? Would this be considered a breaking change?

[2018-02-22 23:37] #653 closed

[2018-02-22 23:47] adamsitnik commented on #653
Hi @TheAngryByrd

I have faced this problem at work today. I am the person who added this limitation, the problem is that I don't remember why...

Anyway, I have removed it, tested and it works as expected now.

So how to compare Mono vs .NET Core with BenchmarkDotNet now:

1. Define a custom config which has two jobs:

[code]

2. Have a csproj which targets desktop .NET and .NET Core:
`<TargetFra

[2018-02-22 23:48] TheAngryByrd commented on #653
🎸 thanks a bunch!

[2018-02-23 00:26] Matthew-Bonner opened #659 "Is it possible to benchmark published ASP.NET Core web applications?"
Is it possible to benchmark published ASP.NET Core web applications?

Eilon from MS mentioned to me that:
"Testing a not-published app could yield very different perf results than a published app. There are a variety of things that can happen as part of the publish process, such as compiling Razor views, which would greatly affect results."

Related:
https://github.com/aspnet/Home/issues/2897#issu

[2018-02-23 08:06] AndreyAkinshin commented on #653
@adamsitnik,

Could you please add a few lines about it in the documentation?

[2018-02-23 11:21] Matthew-Bonner commented on #659
So this is what I did, I published the web application and removed the reference to the project and instead referenced the published dll.

When I try to build and run in Visual Studio, or the command line, I get the following error:
"System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Extensions.Configuration.UserSecrets, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb

[2018-02-23 17:21] xoofx commented on #652
Amazing, thanks @adamsitnik!

[2018-02-23 17:46] svick opened #660 "[Params] should not change the order of provided values"
When I specify `[Params]` in some specific order, BenchmarkDotNet ignores this order and instead uses alphabetic order. I don't think that's user-friendly default behavior: if I specify the values in some order, BDN should respect it.

As an example, consider:

[code]

With this, the order of execution and the order in which the values are printed is alphabetic, not the one I provided:

[code]

As

[2018-02-23 20:04] adamsitnik commented on #660
We currently order the benchmarks by display name.

We can add a new order provider, which is going to return the benchmarks in the order they were defined. But I am not sure if this should be the default order provider. Personally, I like ordering by display name.

@AndreyAkinshin what do you think?

[2018-02-23 22:36] adamsitnik commented on #658
I like this idea, but I am not sure how we make it more intuitive. Our users are used to providing all values.

Maybe something like:

[code]

@svick what do you think?

[2018-02-23 23:02] svick commented on #658
@adamsitnik Yeah, I think that's reasonable (and it's what I meant by `[EnumParams]`).

Regarding naming, I think that since it's a variation on `Params` (just like `ParamsSource`), I think the name should include "Params". But I'm not sure what exactly would be the right name: `EnumParams` is too cryptic and something like `ParamsAllEnumValues` is too long.

[2018-02-23 23:24] adamsitnik commented on #658
@svick so maybe `EnumAllParam` ?

Naming is hard ;p

[2018-02-24 00:16] Matthew-Bonner opened #661 "How can I pass information between the benchmark project and the dll generated by BenchmarkDotNet to run the benchmarks?"
How can I pass information between the benchmark project and the dll generated by BenchmarkDotNet to run the benchmarks?

I have a problem whereby I need to set the ContentRoot in the WebBuilder in an ASP.NET Core application so that my integration tests that are being benchmarked can find the required files in order to execute correctly.

The ContentRoot path is known to the benchmark project, bu

[2018-02-24 00:32] Matthew-Bonner opened #662 "If multiple benchmarks run simultanously are the results still accurate?"
If multiple benchmarks run simultanously are the results still accurate?

The reason I ask is that if something programmatically triggers the running of benchmarks and one is running when another is triggered, I'm wondering if the first benchmark that is running will cause the second to indicate the benchmarks ran slower than they would have otherwise.

[2018-02-24 00:56] adamsitnik commented on #661
Hi @Matthew-Bonner

There are at least two ways.

1. `App.config` By default, we copy the app.config file content to the app which we generate
2. You can also pass the variables as environment variables to the process which we spawn. You can find more in our [docs](http://benchmarkdotnet.org/Advanced/EnvironmentVariables.htm)

[2018-02-24 01:10] adamsitnik commented on #662
They are not, and this is why we don't run benchmarks in parallel in BenchmarkDotNet.

However, we don't prevent this (so for example xunit test runner can run multiple `BenchmarkRunner.Run` at the same time).

If you want to save the time it takes to run the benchmarks you can use `Job.ShortRun`.  More about it [here](http://benchmarkdotnet.org/FAQ.htm). If you have to run them in parallel you ca

[2018-02-24 01:10] #662 closed

[2018-02-24 01:13] adamsitnik commented on #659
@Matthew-Bonner could you provide some more context? What are you trying to measure? If I know the problem I can provide better help

[2018-02-24 08:30] Matthew-Bonner commented on #659
Firstly, I would like to measure the site in it's published state based on the comments about published sites running differently to built sites.

I am aware of the facility to test URL's using RunUrl, but I want to test more granular than a full request, such as specific method calls that interact with other systems, so RunUrl won't work for me.

We have internal API's that we call and I'd like t

[2018-02-24 12:09] Matthew-Bonner commented on #661
2 works perfect, should probably specify how WithId works in the docs as it isn't clear. I just assumed I didn't need it and everything is working as expected. Thanks for your help with this.

[2018-02-24 12:09] #661 closed

[2018-02-24 15:46] adamsitnik commented on #659
When investigating performance problems you need to remember that benchmark can tell only how fast given method runs. Not why is it slow or which part of the method takes most of the time.

Example: If method A calls methods B and C, the benchmark is going to tell you how long does it take to run A. Profiler is also going to tell you what part of it took B and C.

I believe that you should use a p

[2018-02-24 19:36] Matthew-Bonner commented on #659
We have a profiler but the profiler does not allow us to profile during the build process.

The idea of using BenchmarkDotNet is to benchmark methods overnight as part of the build process. It is pointless to benchmark unit tests so we are benchmarking real world scenarios. But as part of that we also want to run some more narrowly scoped tests in more critical areas.

I can see you put a lot of e

[2018-02-24 20:20] adamsitnik commented on #659
I am doing performance investigations for a living and I always try to understand what is the problem. What the customer needs, not what the customer wants. These are usually two different things. Now I know what is your problem. I asked the question because many, many people use BenchmarkDotNet and don't even know about the existence of profilers. I try to guide them if I can.

BenchmarkDotNet us

[2018-02-24 21:30] Matthew-Bonner commented on #659
Sorry, I know from experience that I'm pretty bad at explaining things, so I was just checking to see if you were following what I was going on about as I sometimes edit what I say two or three times before I think it makes any sense :)

I will give your solution a try and see how I get on, thanks for assisting me with this.

[2018-02-24 23:04] AndreyAkinshin commented on #660
We already solved this problem for method ordering, we have `MethodOrderPolicy`:

[code]

I guess, we can introduce also `ParamsOrderPolicy`:

[code]

I can be specified via `DefaultOrderProvider` without additional order providers.

P.S. I also prefer our "Natural" sorting (which correctly sorts numbers) as the default.

[2018-02-24 23:40] svick commented on #660
In that case, shouldn't the sorting for `enum`s be by their numerical value? Currently, they are sorted by their name.

[2018-02-25 12:24] AlfredBauer opened #665 "BenchmarkDotNet takes very much time to start and it fills all my RAM"
I read documentation "How to" and wrote simple method to work with List.

    `public class TestList
    {
        public List<SimpleObject> GetListSimpleObject;

        public TestList()
        {
            GetListSimpleObject = new List<SimpleObject>();
        }

        [Benchmark]
        public void Test_List()
        {
            for (int i = 0; i < 100; i++)
            {

[2018-02-25 16:13] AndreyAkinshin commented on #665
@AlfredBauer, BenchmarkDotNet assumes that the benchmark method doesn't have any side-effects. Only in this case, it's possible to do as many iterations of the method as needed.
Your `Test_List` method has a side effect: it adds 100 additional elements to `GetListSimpleObject`. BenchmarkDotNet continues to run additional iterations until desired accuracy level is achieved. In your case, it's impos

[2018-02-25 17:04] AlfredBauer commented on #665
These attributes isn't working for my case.

Have I rightly understood that benchmark launch my method many times and since I have cycle inside, this cycle has many repeats(100 * N) ?

[2018-02-25 18:04] AndreyAkinshin commented on #665
Yes.
You can find more info in the documentation: http://benchmarkdotnet.org/Internals/HowItWorks.htm

[2018-02-26 14:24] Matthew-Bonner commented on #659
Can I ask, as part of the work I'm doing in relation to this issue, that the ConsoleHandler is made public rather than internal, as I'm having to implement my own DotNetCliExecutor so that I can modify the BuildArgs method.

[2018-02-26 15:11] Matthew-Bonner commented on #659
The same applies to ProcessExtensions.SetEnvironmentVariables. Is there a particular reason as to why ProcessExtensions and ConsoleHandler are internal?

[2018-02-26 15:54] adamsitnik commented on #659
@Matthew-Bonner please make the required types public and send a PR. I am going to merge it asap

[2018-02-27 10:29] srikanthkadem opened #667 "Does BenchMarkDotnet supports 4.7.1 Dotnet framework"
Hi ,
Could you please confirm if the BenchMarkDotnet package support the latest dotnet framework i.e 4.7.1 . I was facing below runtime issue while trying to use this for projects targetted for 4.7.1

error
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.ValueTuple, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its depend

[2018-02-27 13:57] adamsitnik commented on #667
Hi @srikanthkadem

which version of BenchmarkDotNet are you using? #621 was supposed to fix such problems, it was part of `0.10.12`

If you are already using  `0.10.12` then please provide me your `.csproj` file and sample benchmark (I need to be able to reproduce the problem)

[2018-02-27 14:28] chriga opened #668 "Can ParamsSource be evaluated after GlobalSetup?"
I have to initialize several objects that are generating parameters. Therefore my idea was to initialize these objects in the GlobalSetup area.

        private IProjectInfo _generatedProject1;
        private IProjectInfo _generatedProject2;

        [GlobalSetup]
        public void BenchmarkSetup()
        {
            var loader = new ProjectLoader();
            _generatedProject1 = loader.G

[2018-02-27 15:38] adamsitnik commented on #668
Parameters are generated before the call to `Setup` method(s), to make it possible for the setup to use their values.

You could do sth like:

[code]

[2018-02-28 11:10] Matthew-Bonner commented on #659
Hi Adam, will do, just working out what changes I need exactly then will create a PR request.

[2018-02-28 12:40] Matthew-Bonner commented on #659
PR: https://github.com/dotnet/BenchmarkDotNet/pull/669

Not as many changes were required in the end to get this working.

I created my own generator, builder and toolchain class.

[2018-02-28 12:45] Matthew-Bonner commented on #656
I know artifacts are created which contain this information, but I was hoping to programmatically parse the Summary class but can't see how to. Should I parse the artifacts after the benchmarks have ran or is there another way?

[2018-02-28 13:07] adamsitnik commented on #656
[code]

[2018-02-28 14:35] Matthew-Bonner commented on #656
ResultStatistics is private.

[2018-02-28 14:36] Matthew-Bonner commented on #656
Ah cool got to loop the reports first. Got it thanks.

[2018-02-28 14:43] #656 closed

[2018-02-28 17:11] Matthew-Bonner opened #671 "Why does BenchmarkRunner generate an isolated project per each benchmark method/job/params?"
In the documentation: http://benchmarkdotnet.org/Internals/HowItWorks.htm it states, "BenchmarkRunner generates an isolated project per each benchmark method/job/params and builds it in Release mode."

Can I ask why as the documentation doesn't state why this is the case and once the reason is provided can I add this to the docs as I think others will have the same question.

The reason I'm asking

[2018-02-28 17:32] Matthew-Bonner commented on #659
Here is my code in case you are interested in what I did:

[code]

[2018-03-01 12:50] Matthew-Bonner commented on #654
Have you seen the following:
http://benchmarkdotnet.org/Advanced/SetupAndCleanup.htm

[2018-03-01 12:57] Matthew-Bonner commented on #654
I take it, as you have mentioned it yourself, that you are already aware of the `Global` and `IterationSetup`.

Do you also realise that each test is ran in isolation in a separate application generated by BenchmarkDotNet.

So by the sounds of things, what you really need to do is just refactor your code as BenchmarkDotNet already does what you are asking for.

Just do the following:

[code]

[2018-03-02 08:17] skleanthous commented on #654
Hello @Matthew-Bonner and thank you for your reply.

What you posted doesn't quite work for benchmarking AddEventBenchmark because in the case of an in-mem collection results will be skewed since each iteration would be affected by pre-existence of events in the session (considering that the other one is a global setup).

So what I am suggesting  in more summary is that I need an iteration setup,

[2018-03-02 16:00] chriga commented on #668
Hi Adam,

thanks for your input. Your idea seems to work with some modification:

    private Dictionary<string, IProjectInfo> _projectsByName;

    [ParamsSource(nameof(Projects))]
    public string CurrentProjectName;

    public IEnumerable<string> Projects()
    {
	    yield return "generatedProject1"
	    yield return "generatedProject2";
    }

    [GlobalSetup]
    public void BenchmarkSetu

[2018-03-02 20:29] #668 closed

[2018-03-03 11:18] dadhi opened #672 "DisassemblyDiagnoser does not show asm of called delegate"
Here is simplified benchmark on .NET Core, but I have similar results on Full CLR:

        [DisassemblyDiagnoser(recursiveDepth: 100)]
        public class CallDelegate
        {
            private static readonly Func<string> _showTime = () => "Now is: " + DateTime.Now;

            [Benchmark(Baseline = true)]
            public object Direct() => "Now is: " + DateTime.Now;

            [Bench

[2018-03-03 19:14] skleanthous commented on #654
Hello,

@Matthew-Bonner or @AndreyAkinshin : sorry for @-mentioning you guys, but if you just let me know if something like this is OK from your side and that if I create a PR this feature can/will be considered, I am more than keen to do all the work and create a PR ASAP. I also have some knowledge and a bit of experience of measurment theory (although both from soem years ago) so I'll probable b

[2018-03-04 09:34] Matthew-Bonner commented on #654
I've made a minor contribution to the project, so I was merely seeing if what I suggested was an option to try and be helpful. :)

[2018-03-07 11:45] grofit commented on #387
@DanubeRS Any chance you have that example ready to share?

[2018-03-07 11:53] DanubeRS commented on #387
Sure,

Its not finished and/or clean, but I know it worked well enough for my needs. Largely was an implementation from @adamsitnik and his above code tailored for the dotTrace CLI profiler.

Throwing the diagnoser in a [gist](https://gist.github.com/DanubeRS/4e8580e694f7795c885ddcdca2cfc7e4) for now, but depending on how this issue travels, may become obsolete.

IIRC, one issue I was encountering

[2018-03-07 19:50] jongalloway commented on #496
I'm looking for the Travis access request but haven't found it yet. Also, AppVeyor just added Linux build support yesterday in case that's useful: https://www.appveyor.com/blog/2018/03/06/appveyor-for-linux/

[2018-03-07 19:54] jongalloway commented on #496
Found the Travis request and granted access - please verify.

[2018-03-07 19:59] AndreyAkinshin commented on #496
@jongalloway, the request is approved, thanks! I will finish the integration soon.

It's awesome! Will try to set up Linux AppVeyor build as well.

[2018-03-07 21:48] AndreyAkinshin commented on #496
Hooray, the Travis integration works: https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/350499537

Unfortunately, currently, the build is red because of troubles with VisualBasic compilation.
@Ky7m, could you help us to solve this problem?

[2018-03-07 21:56] Ky7m commented on #496
@AndreyAkinshin I'll check it

[2018-03-09 18:04] AndreyAkinshin opened #677 "Run Linux builds on AppVeyor"
AppVeyor supports Linux now: https://www.appveyor.com/blog/2018/03/06/appveyor-for-linux/
It would be nice to run our tests on AppVeyor Linux as well.
Related TravisCI issue: https://github.com/dotnet/BenchmarkDotNet/issues/496

[2018-03-10 01:02] AndreyAkinshin opened #678 "Introduce BenchmarkDotNet.Annotations"
We should move all API which includes attributes and configs to a separate NuGet package `BenchmarkDotNet.Annotations`.
Benefits:
* This package can target .NETStandard 1.0, so it will be possible to declare benchmarks in .NETStandard projects
* We should be able to run benchmarks from such projects not only managed API (`BenchmarkRunner.Run`), but also via command line (like `dotnet benchmark`, s

[2018-03-10 01:02] AndreyAkinshin commented on #678
@adamsitnik, what do you think about this idea?

[2018-03-10 01:05] AndreyAkinshin opened #679 "Implement adapters to xunit-performance"
The [original idea](https://github.com/dotnet/corefx/pull/27164#issuecomment-366046669) by @AndyAyersMS:

It should not be hard. In fact, the implementation of `BenchmarkRunner.Run` is pretty simple:
[code]
`BenchmarkConverter` just takes method attributes and transform it to `BenchmarkRunInfo` which contains information about how to run the benchmarks without any knowledge about original attribut

[2018-03-10 01:06] AndreyAkinshin commented on #679
This issue depends on https://github.com/dotnet/BenchmarkDotNet/issues/678

[2018-03-10 08:30] kasper3 opened #680 "ELIA5 - How to translate the result into (old school?) wallclock time comparison of average runs"
Some results produced by BenchmarkDotNet have header like: `Mean | Error | StdDev | Scaled ..`. I have seen people explaining to others in GitHub prs and issues what the output means. I am tired of pretending that I understand this output. Wikipedia is a no-go, read this stuff few times to job my statisticy muscles but fail to make relationship with what i read with what someone has posted, a fanc

[2018-03-10 15:27] AndreyAkinshin commented on #680
@kasper3, BenchmarkDotNet prints the "Legends" section below the summary table. In this section, you should find short explanations of what "Error" and "Scaled" means.

It justs the `Mean` column.

However, I agree that it probably makes sense to add an extended explanation to the documentation.

[2018-03-11 02:06] kevin-montrose commented on #667
I've been updating my [LinqAF project to target 4.7.1](https://github.com/kevin-montrose/LinqAF), and am now experiencing something quite similar though with System.Runtime.

My solution is gigantic, so I cut it down to  a smaller [Reproduction Solution](https://www.dropbox.com/s/n5qx7in0bs4aaub/BenchMarkDotnet-Repro.7z?dl=0); the relevant project is LinqAF.Benchmark.  I apologize for the benchmar

[2018-03-11 17:12] AndreyAkinshin commented on #654
@skleanthous, @Matthew-Bonner sorry for the late reply.
I don't like the idea with `[Overhead(RunBefore = true)]`. If you have a macrobenchmark, `[IterationSetup]` should work for you. If you have a microbenchmark, you should try to design it without side effects. I don't believe that math magic with different statistics for setup/benchmark/cleanup will work. If we are going to implement something

[2018-03-12 10:40] adamsitnik commented on #654
I have some idea how we could implement that:

Instead of generating the empty `Idle` method which measures the overhead of BDN we could tell the Engine to use the specified method as `Idle` (in BDN the `result = result + overhead - overhead`). It should be a very simple change.

[code]

@AndreyAkinshin  what do you think?

[2018-03-12 12:08] adamsitnik commented on #667
Hi @kevin-montrose

Big thanks for the repro case.

I was able to reproduce your problem.

It looks that your assembly binding redirects are wrong. I am not sure if VS generated wrong ones for you during the target framework update or BDN installation. My VS complained about them:

![image](https://user-images.githubusercontent.com/6011991/37282800-09111f02-25f6-11e8-9e32-a7015c96e3f2.png)

Soluti

[2018-03-12 12:23] adamsitnik commented on #679
I did some research and it seems that it's not doable.

Why: In `xunit-performance` you don't just add `[Benchmark]` attribute, you also need to run the iterations in explicit way.

An example of empty benchmark from the xunit-performance [docs](https://github.com/Microsoft/xunit-performance):

[code]

while in BenchmarkDotNet we do it out of the box for the user

[2018-03-12 12:25] adamsitnik commented on #678
I really like this idea! It looks like it's a must-have for some scenarios like "I have this piece of IL, please just run it for framework X".

[2018-03-12 12:57] skleanthous commented on #654
Basically as I understand things (please correct me if I'm wrong), jobs/classes that containe benchmarks are designed to benchmark cohesive behaviour with shared setup & teardown. As such I think it is best to have overhead methods apply to _all_ benchmarks defined in a class/job.

My recommendation would be to define it as such:
[code]

With report showing:
[code]

`With Overhead` would only appe

[2018-03-12 13:05] adamsitnik commented on #654
@skleanthous our `IterationSetup` and `IterationCleanup` attributes allow you to set Taget. If `Target == null` the attribute applies to all benchmarks in given class. More in our [docs](http://benchmarkdotnet.org/Advanced/SetupAndCleanup.htm#target).

[2018-03-12 13:19] skleanthous commented on #654
@adamsitnik maybe I didn't write it very clearly, but what I wanted to say is that I agree with having a target, but what I was trying to say is that it shouldn't be required.

[2018-03-12 13:25] adamsitnik commented on #654
@skleanthous so we both agree and now just need @AndreyAkinshin confirmation about my `Idle` idea. Andrey is getting back from the MVP summit, I am not sure when he is going to respond

[2018-03-12 13:28] adamsitnik commented on #671
@Matthew-Bonner we generate a new project per Job because it's the easiest way to support all our features (like custom GC mode per job)

I will soon have to change it since I will be using BDN as a CI runner. So I will be generating one project for all benchmarks which share the same job/runtime settings.

[2018-03-12 17:10] Matthew-Bonner commented on #671
Thanks for the clarification, although very informative, this raises another question relating to the original question, which I would be grateful if you could also answer.

When you make this change, will you be keeping support for the current implementation, or will this be a breaking change?

[2018-03-12 17:26] AndreyAkinshin commented on #654
@adamsitnik, @skleanthous, this idea sounds pretty interesting. However, it will not be so easy to implement it. Right now we apply special kinds of rules for the `Idle` methods. Here are a few problems:
1. The `Pilot` stage is used only for the `Main` method; `Idle` skips the `Pilot` stage and use the same amount of invocation as the `Main` method. I'm not sure that it's an acceptable trick for n

[2018-03-12 18:46] AndreyAkinshin commented on #671
@adamsitnik,

It would be nice to have such option, but I'm not sure about the default behavior.
The original problem which was solved via generated projects is the benchmark isolation. It's pretty easy to write a benchmark which spoils the environment for the next benchmark.

[2018-03-12 18:49] AndreyAkinshin commented on #213
An interesting post about the subj: https://surfingthecode.com/fun-with-global-tools-in-.net-core-2.1-preview/

[2018-03-13 08:52] skleanthous commented on #654
@AndreyAkinshin @adamsitnik so from what I understand, in order to avoid these issues the overhead methods need to run as if they were normal benchmarks but deduct their mean from the mean of the normal benchmarks and add a collumn as per my reply here (With Overhead collumn on the bottom of the message): https://github.com/dotnet/BenchmarkDotNet/issues/654#issuecomment-372300435. Can't this be ha

[2018-03-13 11:25] Ky7m opened #684 "Horology.ClockTests.ChronometerTest fails on Travis CI (macOS)"
There is ChronometerTest that fails only on Travis CI macOS environment (https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/352786004#L972):

[code]
I was not able to reproduce it locally on my macOS box and this test works as expected on Travis CI linux build agent (https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/352786003)

[2018-03-13 11:56] Ky7m commented on #496
PR #683 is created but it is not ready to be merged due to failed test #684

[2018-03-13 13:22] adamsitnik commented on #671
@AndreyAkinshin the idea I have is following: create a dedicated type per benchmark but instead of having separate projects have one (many classes in Program.cs), then when running the benchmark provide the type name to the executable. So we have new process per every benchmark, but we compile only once per given runtime settings.

So if I have 10 000 benchmarks and I want to run them for .NET Cor

[2018-03-13 13:43] adamsitnik commented on #667
@kevin-montrose please let me know if it works after applying the "fix"

[2018-03-13 14:19] kevin-montrose commented on #667
Yep, that looks to have been it.  Have tested with my original solution, and the problem is fixed there as well.  A little odd that my VS (2017 Professional, 4.7.02558 in case anyone else sees this) wasn't warning on that... but I doubt that's anything to do with BenchmarkDotNet.

Sorry for the delay in testing, my last two days have been jam packed.

Thanks a bunch!

[2018-03-13 14:23] adamsitnik commented on #667
@kevin-montrose thanks for the confirmation! I am happy it's not our fault ;)

@srikanthkadem has never responded so I am closing the issue.

[2018-03-13 14:29] adamsitnik commented on #678
@AndreyAkinshin can I take this issue? it's blocking me

moreover, I have an additional idea: maybe we keep all the types from `BenchmarkDotNet.Annotations` in a flat `BenchmarkDotNet` namespace? So when the user puts `using BenchmarkDotNet` in the code file it's possible to use all our features OOTB without forgetting about the extra `Alt+Enter/Ctrl+.` to add all the includes? I know it's a break

[2018-03-13 14:31] #496 closed

[2018-03-13 16:19] AndreyAkinshin commented on #678
Sure.

[2018-03-13 16:21] AndreyAkinshin commented on #678
@adamsitnik, I think, it makes sense to release it in v0.11.x because it contains some breaking changes (with a few other things which also contain breaking changes; I will create corresponding changes soon).

[2018-03-13 16:22] AndreyAkinshin commented on #678
Yes, it's a very good idea, I like it!

[2018-03-13 16:25] AndreyAkinshin commented on #671
@adamsitnik, OK, makes sense.
However, could we introduce an option which allows switching to the old behavior? It can be useful for debug sometimes. If it's too complicated, don't worry, we can live without such option. But if we can have it for free, it would be a useful feature for me.

[2018-03-13 16:32] #429 closed

[2018-03-13 21:27] AndreyAkinshin commented on #654
Yes, we should just introduce an additional attribute and an additional column in the summary table.
Probably we should replace basic columns like `Mean` (or other columns which we can calculate for the difference between two distributions. In order to avoid any confusions, we can denote it as `Mean*` or `Mean^` or `Mean` with another additional symbol (and explain it in the legend section).

I'm

[2018-03-13 21:41] AndreyAkinshin commented on #679
@adamsitnik, =(

[2018-03-13 21:41] #679 closed

[2018-03-14 10:48] skleanthous commented on #654
Personally, I feel the `[Overhead]` name is very good because it conveys a lot of information about what to be expected of it. I can understand that the relationship between this new attribute and `Baseline` is going to be an `is-a` (as in overhead as imagined is a type of baseline, specifically `DiffAbsolute`), but naming things for what they do over what they are makes it better when reading the

[2018-03-14 17:41] alexand34 opened #685 "Is there any way to make benchmarks with IoC?"
Hi!
I have a benchmark that looks like this, but for every run I receive
![image](https://user-images.githubusercontent.com/10760805/37420476-43f345ee-278d-11e8-8354-6a9c7a173392.png)

[code]

Is there any way to fix this?

[2018-03-14 17:47] adamsitnik commented on #685
@alexand34 could you upload your `.log` file? without it I can't help

[2018-03-14 17:49] alexand34 commented on #685
[code]

[2018-03-14 17:51] adamsitnik commented on #685
- Windows Defender (windowsdefender://)
Use InProcessToolchain to avoid new process creation.

could you try to apply `[InProcessToolchain]` to the class with benchmarks?

[2018-03-14 17:54] alexand34 commented on #685
[InProcessToolchain] is not an attribute

[2018-03-14 17:57] adamsitnik commented on #685
@alexand34 I am sorry, it should be `[InProcessAttribute]`

[2018-03-14 18:05] alexand34 commented on #685
@adamsitnik thanks! now log showing issue exception in my code, but still this.
[code]

[2018-03-14 18:12] adamsitnik commented on #685
@alexand34 I guess we show it when benchmark fails and there is an AV running. It should also consider if `InProcess` toolchain was not used

Please close the issue if it works now.

[2018-03-14 18:13] alexand34 commented on #685
it works. much thanks!

[2018-03-14 18:13] #685 closed

[2018-03-15 06:26] #684 closed

[2018-03-15 10:14] adamsitnik opened #687 "Implement [Arguments] support for InProcessToolchain"

[2018-03-15 14:24] #256 closed

[2018-03-15 16:23] AndreyAkinshin commented on #256
@adamsitnik, hooray!

[2018-03-16 09:29] dvorn opened #689 "DisassemblyDiagnoser for Mono does not work on Windows and Linux"
MonoDisassembler.OutputParser.Parse seems to be looking for the string "(__TEXT,__text) section" to find the beginning of disassembled code ([see](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Diagnosers/MonoDisassembler.cs#L56)).  However this string is seemingly produced by the otool on Mac.  On Windows and Linux, the objdump tool is used and the assembly in the

[2018-03-16 17:03] aalmada opened #690 "Local DLL dependencies"
I'm testing a p/invoke scenario on .NET Core 2.1 Preview 1 so my benchmark depends on a local native DLL.
The DLL is in the bin folder but the benchmark can't find it.
Is there any way to make this work locally?
Thanks!

[2018-03-16 18:53] adamsitnik commented on #690
hello @aalmada

how do you reference this native dll on the `.csproj` level?

[2018-03-16 20:43] AndreyAkinshin commented on #689
@morgan-kn, please take a look.

[2018-03-16 23:33] aalmada commented on #690
hi @adamsitnik
I was using just a post-build event command but, when I read your question, realized a reference with 'build action' set to 'none' and 'copy to output directory' set to 'copy if newer' could do the trick. It does!
Thanks!

[2018-03-16 23:33] #690 closed

[2018-03-17 03:46] chinwobble opened #691 "Cannot run F# benchmarks when benchmark returns F# generic"
Running the following code gives the following error.
The problem seems to occur when the return type of the benchmark is a generic.

[code]

### Code to Reproduction
[code]
### fsproj file to reproduce
[code]

### Additional info
BenchmarkDotNet=v0.10.13,
OS=Windows 10 Redstone 3 [1709, Fall Creators Update] (10.0.16299.309)
Intel Core i5-3570K CPU 3.40GHz (Ivy Bridge), 1 CPU, 4 logical cores and

[2018-03-17 18:08] AndreyAkinshin commented on #691
@adamsitnik, could you take a look?

[2018-03-18 14:31] lol768 opened #692 "R plots: issue with dplyr"
I am unable to generate plots, the images do not get written into the `results` directory.

**Supporting information:**
<details>
  <summary><code>SystemPerformanceTests.log</code></summary>
<pre>
// ***** BenchmarkRunner: Start   *****
// Found benchmarks:
//   SystemPerformanceTests.TestIntegrationWithResourceBounds: Core(Runtime=Core)

// Validating benchmarks:
Assembly GranularPermissions whic

[2018-03-18 14:41] lol768 commented on #692
Fixed with `R_LIBS_USER=/usr/local/lib/R/`

[2018-03-18 14:41] #692 closed

[2018-03-19 11:47] adamsitnik commented on #654
@AndreyAkinshin @skleanthous If the implementation can be simple (not changing the engine, just an extra column/few math operations before printing the results) then I am ok with it.

[2018-03-19 12:01] adamsitnik commented on #691
hi @chinwobble

big thanks for a very good bug report! I was able to reproduce.

The problem: your types are declared in a namespace called `Program`. We generate new `.cs` file with `Program` class inside it, which has some methods returning the type returned from your benchmark.

[code]

So we simply have a namespace conflict. I will try to find a nice solution, in the meantime you can define th

[2018-03-19 16:28] rpokrovskij commented on #644
It works right now (place "?" mark instead of throwing exception - and I'm become motivated to show deeper to the logs).

[2018-03-19 21:37] rpokrovskij opened #697 "Copy custom setting from app.config in multitarget projects"
I have multitarget Benchmark project defined as:

[code]

if it is compiled as .NET Framework and launched as exe file it works fine (can access the app.config), but
when it is started with dotnet

[code]

Then I get the output that contains my custom thrown excpetion

[code]

That means that BDN compiled project folder doesn't contain app.config .
**Expected behavior:** app.config file copied (as

[2018-03-19 22:28] rpokrovskij commented on #697
It is interesting that in this case:

& dotnet run -c Release -f net47 -p "$BenchmarkProjectPath"

app.confg is copied

and in this case is not:

& dotnet run -c Release -f netcoreapp2.0 -p "$BenchmarkProjectPath"

P.S. Test configured to use [ClrJob(isBaseline: true)]

[2018-03-19 22:53] rpokrovskij commented on #697
And if we configure test with custom BDN config:

[code]

and start it

& dotnet run -c Release -f net47 -p "$BenchmarkProjectPath"

it stops working!

**Remember if it configured with  [ClrJob(isBaseline: true)] it works**

[2018-03-20 07:26] #691 closed

[2018-03-20 08:16] AndreyAkinshin commented on #697
@adamsitnik, could you please take a look?

[2018-03-20 09:11] rpokrovskij commented on #697
[code]

This combination works (if I understand it right that there both targets Net470 and core where tested)
[code]

[2018-03-22 19:07] #689 closed

[2018-03-22 19:08] AndreyAkinshin commented on #689
@dvorn, thanks for the report! The fix will be available in v0.10.14.

[2018-03-22 19:53] #697 closed

[2018-03-22 20:30] adamsitnik commented on #175
Fixed with [this](https://github.com/dotnet/BenchmarkDotNet/commit/26070478849da25012586737357126d9996e53ad) commit, but needs to wait for v0.11.0 release (it will be one big release with some breaking changes)

[2018-03-22 20:30] #175 closed

[2018-03-22 20:35] adamsitnik opened #698 "Port to .NET Standard 2.0, drop .NET Core 1.1 support"
See #688 for more

[2018-03-22 20:35] #698 closed

[2018-03-22 20:42] adamsitnik opened #699 "Generate one executable per runtime settings"
Today we generate, build and execute new project per every benchmark.

What I want to do is: take all the benchmarks that have the same runtime settings (GC, Jit, .NET framework) and create a single executable for all of them. Then run executable per benchmark (but just tell it which benchmark to run). (In the future: run them in parallel if user wants to == **optional feature**)

Why: I want to r

[2018-03-22 21:02] adamsitnik commented on #550
Another improvement will be #699 : Generate one executable per runtime settings

[2018-03-22 21:06] adamsitnik opened #700 "Improve local CoreCLR support"
What we have today works, but is vulnerable to [this problem](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingDotNetCli.md#update-coreclr-using-runtime-nuget-package)

I want to use dotnet restore to install everything in a temp folder (not in the user/.nuget) to avoid this problem. But it takes a LOT of time so I need to implement #699 first.

Also part of the task is to

[2018-03-22 21:10] adamsitnik opened #701 "Implement BenchView exporter"
BenchView is an internal MS tool for reporting benchmark results. We are planning to open source it soon. Its uploader requires a file of certain format to work (It's a CSV so there will be no strong dependency to any db or anything like that).

The goal is to use BDN to run the benchmarks and export them to BenchView.

[2018-03-23 02:10] AndreyAkinshin commented on #699
Great idea!

[2018-03-23 02:31] AndreyAkinshin commented on #700
@adamsitnik, what do you think, is it possible to write a test for it? I'm not sure that it should be one of our integration tests (because it takes to much time), but it would be nice to have an automatic way to test on any OS.

/cc @Ky7m

[2018-03-23 02:32] AndreyAkinshin commented on #698
@adamsitnik, why did you close this issue?

[2018-03-23 03:08] AndreyAkinshin commented on #692
@lol768, thanks for the report. I added notes about your case in FAQ.
Also I'm going to investigate all possible issues with `RPlotExporter` (e.g., see https://github.com/dotnet/BenchmarkDotNet/issues/641) and provide detailed troubleshooting guide in the documentation (as soon as I find time for it).

[2018-03-23 08:37] adamsitnik commented on #700
@AndreyAkinshin it's a great idea! I will implement such test and try it with our CI. If it takes too long (more than 5 minutes) I remove it.

[2018-03-23 08:39] adamsitnik commented on #697
@rpokrovskij thanks for the bug report and sorry for the inconvenience! the fix is available in our
 `0.10.13.482` CI NuGet package

[2018-03-23 09:18] adamsitnik commented on #698
@AndreyAkinshin It's already done, so I closed it to keep the status up to date.

[2018-03-23 09:31] rpokrovskij commented on #697
Thank you. Great work.

[2018-03-23 09:46] AndreyAkinshin commented on #700
@adamsitnik, I think that we can introduce new project with integration tests which should be run manually.

[2018-03-23 09:59] adamsitnik commented on #700
@AndreyAkinshin another good idea!

[2018-03-23 16:57] stilettk opened #702 "ExitCode != 0 error with local CoreFX and CoreCLR builds"
Hello! I'm trying to benchmark my changes with locally built CoreFX and CoreCLR. I follow [this](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/benchmarking.md) guide, by no success by far. Below I'll explain steps that I have taken. Please tell me what I'm doing wrong! I have also marked as **bold** the steps which, in my opinion, may be misleading in the docs - but I mig

[2018-03-23 20:52] stilettk commented on #702
It seems I have found the problem. I forgot to build CoreFX repo using my local CoreCLR repo by setting `/p:CoreCLROverridePath`. This way I got CoreFX repo with my updated CoreCLR, changed config to `CustomCoreClrToolchain.CreateForLocalCoreFxBuild` and now everything works!

Hovewer, looking back at my experience I want to raise some questions about the process. Aside from me understanding it be

[2018-03-24 15:38] adamsitnik commented on #550
Initial improvements for #669: building the benchmarks for our Samples project (more than 650 benchmarks in total) takes 13 seconds in total on my PC.

When I had 600 benchmarks and it took 6s to build each the total was 3 600 s = 60 min = 1h.

So the more benchmarks, the bigger gain

[2018-03-24 18:41] adamsitnik commented on #699
@AndreyAkinshin done!

Pseudo code:

1. Take all benchmarks, group them by runtime settings (jit/gc/runtime etc) into partitions
2. Build single .exe for each partition
3. Each bechmarks gets a unique benchmark Id per partition
4. When runnin bechmark tell the process which type to lad by providing the id.

Time to build all (more than 650) benchmarks from our Samples project: 13s.

[2018-03-25 00:31] Anderman opened #703 "Benchmark running is trying to run net core 1.0"
[code]
My csproj is

[code]

[code]

[2018-03-25 00:34] Anderman commented on #703
Found it. Nuget installed an old version

[2018-03-25 00:51] #703 closed

[2018-03-25 06:45] AndreyAkinshin commented on #699
Awesome! I guess it's the most impressive perf improvement in BenchmarkDotNet ever!

However, I should ask: do you a have a setting in Config which disables this behavior? (It can be useful for debug).

[2018-03-26 13:39] adamsitnik commented on #699
Currently what I do is:

1. [KeepBenchmarkFiles]
2. Run **single** benchmark
3. Find the .exe file and run it with `-0` argument

@AndreyAkinshin is that enough? It's just a matter of passing the right Id

[2018-03-26 14:27] adamsitnik commented on #699
@AndreyAkinshin I will be now working on #700 so there will be a lot of build artifacts related debugging.
If my current approach will not be enough I will improve it.

All builds are green, it works so now I am closing this one.

[2018-03-26 14:27] #699 closed

[2018-03-26 14:28] adamsitnik commented on #671
Implemented in #699, will be part of 0.11.0

[2018-03-26 14:28] #671 closed

[2018-03-26 14:46] adamsitnik opened #704 "Add an optional way to configure storage to remember the PerfectInvocationCount, IterationCount and UnrollFactor"
Scenario: I want to run a lot (thousands) of benchmarks for .NET framework itself. The first step that BDN does in pilot stage is finding the perfect invocation count.

My goal: add an option to remember this value (+ iteration count + unroll factor) to do it only once for new benchmarks and then read it from some storage.

My initial idea is following:

1. add new interface `IStorage` to Benchmar

[2018-03-26 15:50] Matthew-Bonner commented on #671
This will break my toolchain then, so would it be possible to put together some instructions for migrating to the latest version, please?

[2018-03-26 16:32] adamsitnik commented on #671
@Matthew-Bonner the changes are very small on the toolchain level. All methods are now using `BuildPartition buildPartition` instead of `Benchmark benchmark`. The `BuildPartition` class exposes everything you need, adopting your code to the changes should be +-10 lines of code changed

[2018-03-28 14:28] shargon opened #705 "How to allow debug configuration"
I tried this config without success
[code]

[2018-03-28 16:09] adamsitnik commented on #705
Hi @shargon

`DefaultConfig` has `JitOptimizationsValidator.FailOnError` so when you create a manual config from it, you get it too. The solution is following:

[code]

Please feel free to reopen the issue if something remains not clear

[2018-03-28 16:09] #705 closed

[2018-03-28 21:32] adamsitnik opened #706 "Support private builds of .NET Runtime"
It would be great if we could benchmark private builds of .NET Runtime.

All we need to do is not to copy `supportedRuntime` node from `app.config` :

[code]

Sample code:

[code]

This sends the provided version as `COMPLUS_Version` env var to the benchmarked process.

[2018-03-28 22:45] #706 closed

[2018-03-29 08:40] shargon opened #707 "Native dependencies"
My program require native libraries loaded in runtime from
`[ProgramPath]\Windows\x64\Library.dll`

How can i made for copy this libraries to the temporary folder?
How can i set native dependecies?

`Bin\Release\[Guid]\[ProgramPath]\Windows\x64\Library.dll`

[2018-03-29 12:41] adamsitnik commented on #707
hi @shargon

how do you reference your native dependencies in the `.csproj` file?

We generate a new executable in the same folder where your `.dll` which defines benchmarks is.

[2018-03-29 13:00] skleanthous commented on #654
@adamsitnik & @AndreyAkinshin So is this agreed? I would like to work on this feature if this is agreed

[2018-03-29 13:10] adamsitnik commented on #654
@skleanthous 👍

@AndreyAkinshin ?

[2018-03-29 14:35] AndreyAkinshin commented on #654
@skleanthous, 👍
I'm still not sure about naming, but let's try your idea with `[Overhead]`.

[2018-03-29 14:43] skleanthous commented on #654
Awesome! Thank you. I'll start ASAP. Considering that I have tons of work at my day job, my own open source project that I maintain and (most importantly) a family, any pointers on where to start/focus would be greatly appreciated.

[2018-03-29 15:05] AndreyAkinshin commented on #704
@adamsitnik, sorry for the late reply. Here are some thoughts:

1. We can't completely skip the pilot change. E.g., if you make a 100x perf improvement or just run a benchmark on a very slow computer, we should calibrate the invocation count. However, it's a pretty good idea to automatically configure the *initial* invocation count. In simple cases, the pilot stage should be finished after the fir

[2018-03-29 15:19] AndreyAkinshin commented on #654
@skleanthous,
1. Let's start with something like `[Benchmark, Overhead]`. I think that we should keep the `[Benchmark]` attribute on such methods because we actually going to benchmark it (otherwise, it can be confused). You can inherit `[Overhead]` from [TargetedAttribute](https://github.com/dotnet/BenchmarkDotNet/blob/v0.10.13/src/BenchmarkDotNet.Core/Attributes/TargetedAttribute.cs), so it will

[2018-03-29 15:24] skleanthous commented on #654
@AndreyAkinshin thank you for info. I'll check it out over the weekend and I'll reply here if I need anything.

[2018-03-30 09:46] devsko commented on #103
Hi everybody. What has become of this? I have seen some promising PR (and a lot of discussions) but it seems the uap branch is sleeping for about a year now.
Are there any plans to support UWP?

[2018-03-30 09:52] shargon commented on #707
My native dependencies only are in a folder, and is copy to this folder using build events

[2018-03-31 21:56] rpokrovskij opened #708 "Error of DisassemblyDiagnoser(printAsm: true, printSource: true) in MultiTarget project"
I have a multitarget project with windows diagnoser enabler for NET47:

[code]

Disassembler configuration enabled on conditional compiling:

[code]
Inlining diagnoser enabled that way works, when dissasembly diagnoser returns an error:

Test executed as
& dotnet run -c Release -f net47 -p "$BenchmarkProjectPath"

[code]

[2018-04-02 21:49] AndreyAkinshin commented on #708
@adamsitnik, could you take a look?

[2018-04-03 13:58] adamsitnik commented on #708
Hi @rpokrovskij

The answer is in the output you provided:

[code]

Please feel free to reopen if it does not help.

[2018-04-03 13:58] #708 closed

[2018-04-04 05:14] AndreyAkinshin opened #710 "Use DocFX as a documentation generator"
https://dotnet.github.io/docfx/

[2018-04-04 07:16] AndreyAvakyan opened #711 "Can not run DisassemblyDiagnoser for CoreJob Benchmark"
This is my code:

[DisassemblyDiagnoser(printAsm : true, printSource : true)]
    [CoreJob]
    [RankColumn]
   [ShortRunJob]
    public class SyncMethods {
      [Benchmark]
        public void SumMethod() {
           // Console.WriteLine(Vector.IsHardwareAccelerated);
            var sum = 0;
            for(var i = 0; i < 100_000; i++) {
                sum += i;
            }
        }
    }

[2018-04-04 08:55] adamsitnik commented on #711
Hi @AndreyAvakyan

#542, #543 are totally different things...

How do you run the benchmarks? From VS in debug? From console? As admin?

Could you also provide your `.csproj` file? I have never seen such behavior and I simply need more data.

[2018-04-04 08:59] AndreyAvakyan commented on #711
Hi @adamsitnik

I run in from JetBrains Rider in Realease mode.

This .csproj content of the main project:
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <LangVersion>7.2</LangVersion>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <AllowUnsafeBl

[2018-04-04 09:13] adamsitnik commented on #711
Hmm it looks like it's a Windows issue ;) https://github.com/Microsoft/clrmd/issues/29

Could you try with following settings:

[code]

and if it fails then try for x64:
[code]

@AndreyAkinshin what is the default platform when running processes from Rider? I know that VS runs everything as 32bit by default.

[2018-04-04 12:31] AndreyAvakyan commented on #711
It works if I run it from console:
dotnet run -c Release

[2018-04-05 03:27] Kimosabe commented on #449
It happens when you are trying to sort NaN (NA) values.
Simple example:

[code]

[2018-04-05 07:40] AndreyAkinshin commented on #449
@Kimosabe could you please create a separate issue for this problem?

[2018-04-05 14:36] zabulus commented on #103
https://github.com/dotnet/BenchmarkDotNet/commit/5ef24a6e5be0a4b9784996e802f67e201b7023db
Here is commit for UapToolchain. Though it's quite outdated.
Implemented to work on Windows Mobile 10 through Device Portal. It could be also used with Device Portal of Desktop Windows.
But again it's 1 year old, and there might be changes in current UWP implementation.

[2018-04-05 14:46] adamsitnik commented on #103
I have recently joined MS, yesterday I talked with one of the members of UWP team. We estimated that getting the UWP support up and running in a reliable way for all scenarios would require 1 working month.

I don't have this much of time now. If something changes I will let you know.

[2018-04-05 15:56] devsko commented on #103
I can't promise anything for the same reason :) But maybe I have to look at this for our current project. Just wanted to know if you are still interested in this topic.

[2018-04-05 23:28] adamsitnik commented on #700
It took me a LOT of time to get it working and tested for ALL OSes, but it is finally **done**.

[2018-04-05 23:28] #700 closed

[2018-04-05 23:41] adamsitnik commented on #702
Hello @stilettk !

BIG thanks for giving it a try!

I have been working for the last two weeks on improving this toolchain. It's more flexible now, but the API has changed. The official realease for this is going to be `0.11.0`

I am not sure if I understand correctly, but BDN builds a new exe to have a process isolation. So BDN needs to know how to build stuff. The toolchain is responsible for th

[2018-04-06 00:56] JCBurnside opened #712 "[Params] with arrays as params throws System.Reflection.TargetInvocationException"
It has innerException of System.MissingMethodException: No parameterless constructor defined for this object.

gist of code used to discover this: [https://gist.github.com/JCBurnside/c4d5ee6ee75f78f23167fe116ea9890b](https://gist.github.com/JCBurnside/c4d5ee6ee75f78f23167fe116ea9890b)

[2018-04-06 02:04] JCBurnside commented on #712
UPDATE: It appears to be a problem with instance props  changing the prop to static allowed it to run normally.
I have tracked it down to one of a few possible spots:
[BenchmarkConverter#306](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Running/BenchmarkConverter.cs#L306)
or [BenchmarkConverter#314](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/Benchma

[2018-04-06 11:15] adamsitnik commented on #702
Edit: I decided to not emit the clear tag by default for local builds and added a possibility to define an extra NuGet feed.

[2018-04-06 11:16] adamsitnik commented on #702
I am closing since #700 fixes the problems mentioned here.

[2018-04-06 11:16] #702 closed

[2018-04-09 12:02] adamsitnik commented on #711
I don't have any idea how to fix the issue since it's a Windows issue so I am closing this issue and adding the #wontfix label.

It works from console, so I hope it's not a big problem for anyone.

[2018-04-09 12:02] #711 closed

[2018-04-09 12:28] adamsitnik opened #713 "How to specify the invocation/launch count per type when using Config for multiple runtimes?"
@vitek-karas asked me this question today and honestly, I am not sure if we have a good solution for that case.

Background: The user has a few types with benchmarks and wants to run all of them for different runtimes **and** have a different invocation/iteration count per type.

The problem: when I set a `SimpleJob` attribute per type and I configure custom jobs in the config class I pass to runn

[2018-04-09 15:01] AndreyAkinshin commented on #713
In the past, I had an idea of "JobMutators", see https://github.com/dotnet/BenchmarkDotNet/issues/257#issuecomment-247278726, https://github.com/dotnet/BenchmarkDotNet/issues/279#issuecomment-252823761

To be honest, I don't remember why it's still not implemented. The infrastructure is ready, it should be easy to implement this feature. `JobMutator` looks like a usual job, but it affects all exis

[2018-04-09 16:24] ig-sinicyn commented on #713
Summary:
1. Add mutable config (ManualConfig looks like a good candidate)
2. Add interface with method that accepts ManualConfig and updates it
3. Collect interface implementations from attributes and run them over a copy of original config.
...
5. Win)

[2018-04-09 16:31] ig-sinicyn commented on #713
P.S. The mutator may add a new job or update existing ones, so both old and new behavior may be implemented on top of the mutator attribute.

[2018-04-10 12:44] #659 closed

[2018-04-10 12:57] adamsitnik opened #714 "Test BenchmarkDotNet against unstable/multimodal benchmarks from CoreCLR/CoreFX repo"
We are considering switching from xunit-performance to BenchmarkDotNet for CoreCLR and CoreFx repositories.

One of the requirements is to test BDN against the most problematic benchmarks:
https://github.com/dotnet/coreclr/issues/11657#issuecomment-365743836
https://github.com/dotnet/coreclr/issues/16613#issuecomment-371589608

- [ ] port the benchmarks to BenchmarkDotNet
- [ ] run them every 6 ho

[2018-04-10 12:59] adamsitnik opened #715 ""Scenarios" support - run given exe as benchmark, gather multiple results"
An example: compile hello world, compile Roslyn with Roslyn.

More info soon

[2018-04-10 13:05] adamsitnik opened #716 "Allow to optionally run benchmarks in Parallel"
We want to be able to run thousands of benchmarks on powerful CI machines (64 cores+), it would be great to run the benchmarks in parallel.

This should not be a default behavior, and the users should be allowed to enable/disable it for selected benchmarks. For some benchmarks it's a very bad idea ;)

[2018-04-10 19:44] vitek-karas commented on #706
Thanks a lot Adam. Just tried this out and it works like a charm.

[2018-04-14 15:19] adamsitnik opened #718 "CoreRT support"
BenchmarkDotNet supports [CoreRT](https://github.com/dotnet/corert)! However, you might want to know how it works to get a better understanding of the results that you get.

* CoreRT is a flavor of .NET Core. Which means that:
  *  you have to target .NET Core to be able to build CoreRT benchmarks (`<TargetFramework>netcoreapp2.1</TargetFramework>` in the .csproj file)
  *  you have to specify the

[2018-04-14 15:36] adamsitnik opened #719 "If fail to build in Parallel due to file access issues, try to build sequentially"

[2018-04-15 22:10] #719 closed

[2018-04-15 22:32] #718 closed

[2018-04-18 15:48] adamsitnik opened #720 "Add SummaryOrderPolicy.Defined"
Suggested by @stephentoub

[code]

[code]

[2018-04-18 15:50] adamsitnik opened #721 "Add possibility to customize BaselinedScaledColumn with provided func"
Suggested by @stephentoub

[2018-04-18 15:52] adamsitnik opened #722 "Add scaled column for Allocated Memory"
Suggested by @stephentoub

Side note: The column should be visible when one of the benchmarks is marked as baseline

[2018-04-18 15:57] adamsitnik opened #723 "MemoryDiagnoser should include memory allocated by all Threads that were live during benchmark execution"
Suggested by @stephentoub

So I'm manually removing that from the results where it doesn't make sense.
I'd suggest the memory diagnoser by default remove it as well when the benchmark returns Task
But have some way to turn it back on
Or something like that

Current problem: there is no API available for .NET Core that we could use. As of today BDN is using `System.GC.GetAllocatedBytesForCurrentThr

[2018-04-18 17:44] adamsitnik opened #724 "Allocated Memory results are not scaled with OperationPerInvoke"
As reported by @stephentoub

[code]

returns `96` instead of `96/4`

/cc @valenis

[2018-04-18 17:59] #724 closed

[2018-04-20 22:11] Rizzen opened #726 "Improve building guideline"
I guess that it is worth adding some instructions to [Building section in Contribution guideline](http://benchmarkdotnet.org/Contributing/Building.htm) cause since https://github.com/dotnet/BenchmarkDotNet/commit/7173f7de21de269193baf624d04cb5504cc5a298 developer have to install NET Core 2.1 Preview 1 to build solution.

Downloads
• https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-pr

[2018-04-21 14:35] AndreyAkinshin commented on #726
@Rizzen, it makes sense. Do you want to send a pull request?

[2018-04-21 15:34] Rizzen commented on #726
@AndreyAkinshin , sure. https://github.com/dotnet/BenchmarkDotNet/pull/727

[2018-04-21 16:08] adamsitnik commented on #726
Fixed by #727

[2018-04-21 16:08] #726 closed

[2018-04-24 09:32] Rizzen commented on #487
Started investigation in introducing a setting in exporters which allows unicode symbols.

[2018-04-24 17:48] adamsitnik opened #729 "Handle Ctrl+C/Break"
1. end ETW session
2. restore console settings

/cc @jorive

[2018-04-25 14:43] martincostello commented on #719
Is there an ETA on a version with this fix being published to NuGet? I'm having this problem with `0.10.14` with a branch of a project using preview 2 of .NET Core 2.1. It's fine with 2.0.

[2018-04-25 15:01] adamsitnik commented on #719
hello @martincostello

I don't have ETA for `0.11.0`, but you can use our preview package from our CI feed today:

[code]

[2018-04-25 15:10] martincostello commented on #719
Thanks, I’ll use that for now. My 2.1 branch of my project is going to stay as something experimental until it reaches final non-preview/rc release anyway.

[2018-04-25 16:26] martincostello commented on #719
I've tried using `0.10.14.524` from the AppVeyor feed, but I'm still getting errors about files being in use when trying to run my normal benchmarks:

[code]

[2018-04-25 17:50] adamsitnik commented on #719
@martincostello have you tried killing all `dotnet` processes before running the benchmarks?

[2018-04-25 18:50] martincostello commented on #719
@adamsitnik I didn't explicitly try that, no. I'll give that a try and get back to you.

[2018-04-25 20:18] martincostello commented on #719
I checked no instances of `dotnet` were running and then did `dotnet run` to run my benchmark project. It does the initial compilation for the run fine, but then the internal compilations for the benchmarks themselves fail.

[2018-04-25 23:35] stephentoub opened #730 "IterationSetup is not running before each benchmark invocation"
Repro using 0.10.14:
[code]

Example output from the main run:
[code]

This leads to very incorrect benchmark results when MyBenchmark is doing something that ends up caching data that can affect subsequent invocations of MyBenchmark.  The whole purpose of IterationSetup in my case is to ensure that cache is cleared before the benchmark is executed.

[2018-04-26 16:54] adamsitnik opened #731 "Add constant folding analyser"
If the result == 0 then most probably the benchmark was returning a const value. We should warn the users about it.

Example:

[code]

![image](https://user-images.githubusercontent.com/6011991/39320000-a69de034-4937-11e8-891a-ba2381482dc6.png)

[2018-04-27 08:23] surban opened #732 "Adding custom data to system info"
At the top of each benchmark result, BenchmarkDotNet produces a system info block that looks like this.

[code]

I would like to add custom information to this block for my benchmarks, for example the name of the GPU in the system or some configuration details of the software I am benchmarking.

This is probably already possible with the available API, but I was not able to figure out how to do it

[2018-04-27 17:48] AndreyAkinshin commented on #732
Hey @surban, thanks for the feature request. It's a duplicate of https://github.com/dotnet/BenchmarkDotNet/issues/384. I completely forgot about this issue, so it's not supported yet. I will try to find some time and implement it in `v0.11.0`. Please, track #384 for updates.

[2018-04-27 17:48] #732 closed

[2018-04-28 00:51] adamsitnik commented on #730
I have an idea for solving this problem:

Add new attribute: `[BenchmarkSetup]` which would be internally translated to `[IterationSetup]` with the right settings (Monitoring strategy etc)

@stephentoub would `[BenchmarkSetup]` name be less confusing?

[2018-04-28 00:57] stephentoub commented on #730
In what scenario is the current behavior useful? It just seems buggy to me.

[2018-04-28 03:13] Zhentar opened #733 "IOException when running in OneDrive Folder"
When BenchmarkDotNet tries to clean up after itself at the end of a test run, it fails and crashes:
[code]

I would guess that this happens because OneDrive has handles open to these brand new files that it's trying to upload. It would be nice if these files were generated in a temp folder and not generating busywork for OneDrive. It would also be nice if the cleanup code tried a bit harder or at

[2018-04-28 03:44] Zhentar opened #734 "Handle missing Mono runtime more gracefully"
Loosely following the overview documentation, I added `[CoreJob, ClrJob, MonoJob]` to my test class. It ran through my two test cases in Core, CLR, and then crashed because I don't have Mono installed.

It would be nice to notify me about missing prerequisites before I waited through running four tests cases, but barring that it would at least be nicer if I got the results for those test cases.

[2018-04-28 08:57] AndreyAkinshin commented on #730
@adamsitnik I don't think that we should introduce a new attribute. We just shouldn't use both `IterationSetup`/`IterationCleanup` and `UnrollFactor>1` together, it's an invalid config.

[2018-04-28 20:42] AndreyAkinshin commented on #734
@Zhentar, it's a good idea, thanks.

[2018-04-28 20:43] AndreyAkinshin commented on #733
/cc @adamsitnik

[2018-04-28 20:55] adamsitnik commented on #719
@martincostello If it works fine for 2.0 but not for 2.1 it must be a `dotnet cli` bug ;(

My only idea for now is try to set `<UseSharedCompilation>false</UseSharedCompilation>` in your `.csproj` file

[2018-04-28 22:41] #734 closed

[2018-04-28 22:41] adamsitnik commented on #734
@Zhentar good point, fixed

[2018-04-28 22:44] adamsitnik commented on #733
some of our users use `CopyToOutputDirectory` for native dependencies and this is why we generate the files in the same folder as `.exe` with benchmarks

I have changed the  behavior, now the errors are going to be ignored.

[2018-04-28 22:44] #733 closed

[2018-04-29 06:49] AndreyAkinshin commented on #719
@adamsitnik is there an issue for this bug? It would be nice to fix it in 2.1 RTM.

[2018-04-30 10:12] martincostello commented on #719
I've managed to get the benchmark compilation to work by setting:

[code]

For context, I'm benchmarking a self-hosted MVC application via its HTTP endpoints.

[2018-04-30 10:19] AndreyAkinshin commented on #719
@martincostello, thanks for the information.
@adamsitnik, I guess it makes sense to add this information to the documentation. What do you think?

[2018-04-30 15:09] surban opened #736 "Reduce number of initial pilot ops to 1 or make it configurable"
Currently piloting always starts with 4 ops. This can take an unnecessary long time if the function to benchmark is long running.

Thus I suggest to reduce the number of initial pilot ops to 1. This will not reduce accuracy for short-running functions, since it is just an initial value and will be increased automatically to match the specified IterationTime.

Probably this can be done by simply ch

[2018-05-02 11:37] AndreyAkinshin commented on #484
HTTPS is finally available for custom domains: https://blog.github.com/2018-05-01-github-pages-custom-domains-https/
@jongalloway could you please configure DNS records? (I don't have an access), see https://help.github.com/articles/setting-up-an-apex-domain/

[2018-05-02 18:37] adamsitnik commented on #498
Hello @Mike-EEE !

BDN generates a new project, with reference to the `.csproj` file which defines the benchmarks.
\
So to run the  benchmarks on the other machine  you also need to copy the code ;)

If you don't/can't do that they you can use our `[InProcessToolchain]` ([docs](http://benchmarkdotnet.org/Configs/Toolchains.htm#cs)) which does everything inside the same process.

[2018-05-02 19:32] jongalloway commented on #484
Done - https://benchmarkdotnet.org/ is set up.

[2018-05-03 00:26] ahsonkhan opened #738 "Params string containing characters like quotes is not being escaped properly"
[code]

[code]

Example snippet from DefaultJob.not.cs (notice the un-escaped string):
[code]

The issue occurs if we use Params with string directly or ParamSource with string coming from a resource file (even if we escape the string explicitly).

cc @adamsitnik, @KrzysztofCwalina

[2018-05-03 07:04] AndreyAkinshin commented on #484
@jongalloway, thanks! It works now!
![image](https://user-images.githubusercontent.com/2259237/39563571-6a99a3b6-4eb9-11e8-80b4-0ae38ab07b57.png)

[2018-05-03 07:04] #484 closed

[2018-05-03 15:28] adamsitnik commented on #498
thank you for the kind words!

You also need to check the histograms implemented by @AndreyAkinshin  in 0.10.14. This feature rocks!

[2018-05-03 16:01] Mike-EEE commented on #498
Yeah I was noticing that earlier this morning, VERY cool.  Also admiring how you have gone about implementing different concepts in general.  You have got to be in my top tier now of development heroes.  Not just in your design approach but what you have done for the community as a whole.  I think everyone is starting to gain more appreciation/awareness around performance and all the issues that i

[2018-05-03 23:29] #136 closed

[2018-05-04 08:24] Mike-EEE opened #739 "Possible Bug with InProcessAttribute"
Hey there BenchmarkDotNet Community and Team,

Please see a very simple project I have created here:
https://github.com/Mike-EEE/BenchmarkDotNet.InProcess/

I am encountering a weird issue that occurs when the `InProcess` attribute is used, and when the `BenchmarkDotNet.Artifacts` folder exists.

On my non-VM (host machine), when I run the above benchmark for the first time and `BenchmarkDotNet.Ar

[2018-05-04 08:24] Mike-EEE commented on #353
Looks like this issue wasn't closed, so I will do that now.  Thanks again for all your assistance in helping me understand your great product!

[2018-05-04 08:24] #353 closed

[2018-05-04 11:30] AndreyAkinshin commented on #739
@Mike-EEE, thanks for the report! Could you please share the full environment info?

I tried you results with the `[InProcess, CoreJob, MemoryDiagnoser]` attributes. Here are my results:

[code]

[2018-05-04 12:00] Mike-EEE commented on #739
Cool, thank you for the prompt reply @AndreyAkinshin.  I guess I forgot the most important part huh? 😆

Here is my host (non-VM) machine:
[code]

Here is my VM machine:
[code]

Please note that the project in the repo above does not use the `CoreJob` or `MemoryDiagnoser` attributes, and I have not tried to reproduce it as such just yet.

Were you able to reproduce the discrepancy in times with sub

[2018-05-04 12:29] AndreyAkinshin commented on #739
@Mike-EEE, could you please try again *without* the `BenchmarkDotNet.Artifacts` folder and *with* `[KeepBenchmarkFiles]`?

[2018-05-04 13:49] Mike-EEE commented on #739
Ah alright... I see the `KeepBenchmarkFiles` attribute @AndreyAkinshin ... but when you say without `BenchmarkDotNet.Artifacts` do you mean deleting the folder?  I am still getting the same results if that is what you mean.  Please let me know if there is another configuration I should be using.

[2018-05-04 13:55] Mike-EEE commented on #739
Ah!  Scratch that @AndreyAkinshin ... I am indeed able to get a consistent ~21us on my host machine when using `KeepBenchmarkFiles` attribute.  Is this a known issue, then?

[2018-05-04 15:14] Mike-EEE commented on #739
I agree with that @adamsitnik.  That is my impression as well.  However, I am getting files generated into the `BenchmarkDotNet.Artifacts` folder when using the `InProcess` atttribute.  `.md`, `.cvs`, and `.html` files all get generated along with the `.log` file in the directory above them.  Is this not expected behavior?

I am also wondering if anyone is able to reproduce my results using the st

[2018-05-04 15:30] adamsitnik commented on #739
@Mike-EEE the files you mention are files with the results, we generate them after running the benchmarks

Can you repeat this behavior over the time?

this is why the out-proc is our default setting - good process-level isolation, process running as high priority and few other things to make sure the results are stable and repeatable.

[2018-05-04 15:34] adamsitnik opened #741 "Give users nice warning when T in generic benchmark is not public"
We now print an ugly error, instead of that the users should get a nice warning from a validator.

Repro:

[code]

[code]

[2018-05-04 15:49] AndreyAkinshin commented on #739
@Mike-EEE, could you please try the following config (with and without existed `BenchmarkDotNet.Artifacts` folder):
[code]
This behaviour is not a known issue, but it's definitely not OK. On my local machine, I can observe several stable levels (a multimodal distribution across all runs), but I don't know why do we have such situation.

[2018-05-04 16:48] Mike-EEE commented on #739
Ah! OK that makes sense @adamsitnik ... the benchmark files being the COMPILED benchmark files.  And yes this is completely reproducible on my side on both VM and non-VM host.  I would agree with you that out of process is a better environment, but my concern here is of course there might be a latent, unknown issue that might be skewing results in-process and maybe who knows what else.

@AndreyAki

[2018-05-04 16:54] adamsitnik commented on #739
I am glad that you reported this problem, I just wanted to say why it's not our default behavior. Many people ask me for that every day ;)

[2018-05-05 14:57] Mike-EEE commented on #739
OK @AndreyAkinshin I have been digging through this and have some more data points for you.  I have created 5 more branches in my repo that show off different result times that are reproducible.  Each one of these should be run first without the `BenchmarkDotNet.Artifacts` and then simply run again with the `BenchmarkDotNet.Artifacts` as it exists on disk.  They demonstrate different types of resu

[2018-05-05 17:10] AndreyAkinshin commented on #739
Could you repeat these experiments against LegacyJIT-x86 on full .NET Framework?

[2018-05-05 18:28] Mike-EEE commented on #739
Ah does that involve compiled toolchain?  The only toolchain I am able to work on my non-VM host machine is the in-process.  I have not had any luck with the other toolchains as of yet.  I did try on my VM and was able to get a `LegacyJIT-x86` job running.  However it is difficult to know what to look for just yet as out of the gate the performance times seem to be 4x (~80us) of .NET Core. 😆

I al

[2018-05-06 08:12] Mike-EEE commented on #739
I had the **biggest** durp over this and realized that I could simply publish this as an .exe and run it old skool.  I have clearly been mesmerized by all the .NET Core awesome and have already forgotten the past. 😆

So I did get a chance to try both `x86` and `x64` on my host non-VM machine and was not able to reproduce any of the examples on either architecture.  That is, I was not able to repro

[2018-05-07 22:49] Rizzen commented on #741
Solution introduced in https://github.com/dotnet/BenchmarkDotNet/pull/744

[2018-05-08 00:17] martincostello commented on #719
FYI I'm not having this issue with RC1 of the .NET Core 2.1.300 SDK.

[2018-05-08 13:29] adamsitnik opened #745 "It should be possible to specify the generic arguments by using attributes"
Let's consider

[code]

As of today, to run it for given `T` the users needs to define `T` when running the benchmarks from `BenchmarkRunner` or `BenchmarkSwitcher` level. Example: `BenchmarkRunner.Run<Bench<int>>()`;

It would be nice if this could be defined via attributes, like:

[code]

/cc @ahsonkhan

[2018-05-08 17:32] Mike-EEE commented on #739
FWIW @AndreyAkinshin ... I have been digging into this, and this seems to be a .NET Core 2.0.7 problem.  Or at least, that is the runtime that I am able to reproduce this on.  I have been using .NET Core 2.1 RC1 released yesterday along with Visual Studio 2017 15.7 (also released yesterday) and while I can no longer reproduce this problem there, the performance times are actually WORSE now with RC

[2018-05-08 19:16] adamsitnik commented on #420
We are now supporting .NET Standard 2.0

[2018-05-08 19:16] #420 closed

[2018-05-08 19:28] #741 closed

[2018-05-08 19:42] adamsitnik opened #747 "Better docs that explain what is target/launch/iteration/invocation count"
Last week we run a hackathon to port corefxlab to BDN and it was hard to explain what all our "counts" mean.

I think that pseudo code will be the best.

[2018-05-08 19:48] adamsitnik opened #748 "Very long string params/arguments should be trimmed"
Today we print the value of a `[Params]` and `[Arguments]` as is. If the value is 100 characters long, we display all of them. We should trim the values to some user-friendly length (like 16 for example)

[2018-05-08 20:06] adamsitnik commented on #748
Example:

[code]

![image](https://user-images.githubusercontent.com/6011991/39780253-ff52a420-530b-11e8-8795-55e78cd9924e.png)

[2018-05-09 05:41] adamsitnik opened #749 "WithId(…) is ignored unless it’s at the end of the fluent calls chain."
Example: `Job.Default.WithId("MyJOB").AsBaseline()` has random id instead of `MyJOB`

[2018-05-09 07:45] Mike-EEE commented on #739
FWIW x2 (😆): I have created an issue on .NET Core's repo here: https://github.com/dotnet/core/issues/1524

Also worthy to note that I did try to repro this on my Surface laptop but it worked consistently without a problem there.  So, this appears to be an issue with Windows Server specifically.  I will close this issue for now and re-open it if for some reason it turns out that this is a BDN-issue

[2018-05-09 07:45] #739 closed

[2018-05-09 09:31] adamsitnik commented on #748
[code]

![image](https://user-images.githubusercontent.com/6011991/39807387-77d66eb6-537c-11e8-9def-6ba717eb5b73.png)

[2018-05-09 11:36] #738 closed

[2018-05-09 11:36] #747 closed

[2018-05-09 11:36] #748 closed

[2018-05-09 11:36] #749 closed

[2018-05-09 11:37] adamsitnik commented on #749
/cc @KrzysztofCwalina fixed

[2018-05-09 11:38] adamsitnik commented on #748
/cc @ahsonkhan fixed

[2018-05-09 11:38] adamsitnik commented on #738
@ahsonkhan fixed

[2018-05-09 11:39] adamsitnik commented on #747
@AndreyAkinshin I added some pseudo code to make it easier to understand our terminology. I hope this will be enough ;)

[2018-05-09 11:43] mattwarren commented on #747
@adamsitnik I really like the 'pseudo-code', such a great way of explaining how BDN works!!

[2018-05-09 16:18] mattwarren commented on #747
BTW, great job you're doing, getting other people at Microsoft to use BDN. I've seen it being mentioned more frequently since you joined!

[2018-05-09 18:54] haf commented on #343
Will be checking https://github.com/logary/logary/pull/323 on mono later this evening.

[2018-05-09 18:57] haf opened #751 "FileNotFoundException w/ conditional-references"
[code]

Causes the FileNotFoundException when trying to load Logary.dll, version=5.0.0.0 from the benchmark assembly/process.

Referencing the project works like expected. (But I can't do that, because it gives me a 2 minute cycle time; it takes a lot of time to build everything in Logary)

Can I tell BDN to explicitly copy a file? How does the internals work that causes this problem?

Full code h

[2018-05-09 19:48] ahsonkhan commented on #748
Verified the fix in 0.10.14.534

![image](https://user-images.githubusercontent.com/6527137/39836147-44929a06-5387-11e8-8b15-8b668c221acd.png)

[2018-05-09 19:52] ahsonkhan commented on #738
Verified the fix in 0.10.14.534

[2018-05-09 19:55] adamsitnik commented on #738
@ahsonkhan thanks!

[2018-05-09 19:56] adamsitnik commented on #748
@ahsonkhan thanks!

[2018-05-10 08:33] AndreyAkinshin commented on #749
@adamsitnik, hooray!

[2018-05-10 08:34] AndreyAkinshin commented on #751
@adamsitnik could you take a look?

[2018-05-10 11:31] mattwarren commented on #320
Has this issue regressed? I'm seeing quite a few people posting tables that don't have the correct format?

For example see this comment, that is using `BenchmarkDotNet=v0.10.14` https://github.com/dotnet/coreclr/issues/17932#issuecomment-388008331 (anther example is here https://github.com/dotnet/coreclr/pull/17928#issuecomment-387810897)

The first link has tables like this (raw view):

[code]

[2018-05-10 11:33] mattwarren commented on #320
Also, I wonder if it's also nice to right-align the 'method' column, i.e. change the header row from:

[code]

to (extra ':' in the 1st column)

[code]

[2018-05-10 11:52] svick commented on #320
@mattwarren If you look at the commit that fixed this issue, https://github.com/dotnet/BenchmarkDotNet/commit/fe33dd8d724706002a21b6e7e7ee92d403e36502, it fixed `MarkdownExporter.GitHub`, but I think you have to explicitly opt-in to use that one.

[2018-05-10 11:57] mattwarren commented on #320
@svick thanks, that explains it!

[2018-05-10 14:25] Mike-EEE commented on #320
Wow very cool @mattwarren.  Thank you for pointing that out.  I didn't realize that was markdown, but it's very obvious now.  I will check out that `MarkdownExporter.GitHub` too, @svick.  Lots of great things here!

[2018-05-10 20:31] Mike-EEE commented on #320
FWIW looks like there is a `-report-github.md` file that is generated along with a `.csv` and `.html` file with every run, using default settings.  So it seems you don't even need to opt-in for the goodness here. 👍

[2018-05-14 07:56] haf commented on #723
This is an issue for me when trying to benchmark Logary, because all GC happens on Hopac threads. However, these threads are known at runtime during setup: https://github.com/Hopac/Hopac/blob/master/Libs/Hopac.Platform/Init.fs#L13

[2018-05-14 13:11] haf opened #755 "Benchmark run hangs (cross posted)"
For this file, for this commit: https://github.com/logary/logary/pull/323/commits/ea92a3100448ab0f08d38ad5de648037bb0e79d0#diff-cbbb0385061843b23b3a711c7714277c

Running it from `Logary/src/Logary.PerfTests` and branch `(feature/benchmarks)`

    $ dotnet run --framework netcoreapp2.0 --configuration Release

hangs like this:
[code]

[code]

[2018-05-15 07:17] Mike-EEE commented on #739
Hey @AndreyAkinshin and @adamsitnik I wanted to check back in here with an update.

FWIW this item has been identified as a possible code alignment issue in .NET Core CLR:
https://github.com/dotnet/coreclr/issues/17932

I have since created a simple project (along with an alternate version) that clearly demonstrates this problem via a `BenchmarkSwitcher`:

- [https://github.com/Mike-EEE/DotNetCore

[2018-05-15 11:00] adamsitnik commented on #751
@haf Please feel free to reopen if my answer does not help.

[2018-05-15 11:00] #751 closed

[2018-05-15 11:05] adamsitnik opened #756 "Enforce code alignment"
Repro: https://github.com/Mike-EEE/DotNetCore.CodeAlignment
Discussion: https://github.com/dotnet/coreclr/issues/17932

AFAIK this is not possible as of today. At least I don't know yet how to enforce it.

[2018-05-15 11:13] mattwarren commented on #756
I've been following the same issue.

I was thinking that instead of *enforcing* code alignment, maybe it would be better for BDN to *report* on it, as part of the analysis. For example, "the code for this method is NOT aligned, which may cause performance issues".

[2018-05-15 11:14] adamsitnik commented on #756
We could report it today, I know that some of our users use `DisassemblyDiagnoser` to find out the start address of given method.

[2018-05-15 12:04] mikedn commented on #756
At best you can report method alignment but that's not very relevant as what matters is loop head alignment (and sometimes the more general branch target alignment).

[2018-05-15 12:58] svick commented on #756
Would running the benchmark several times, each time in a new process, help? That way, the final result should roughly represent the "average" alignment, at least assuming the CLR is sufficiently random about where it places code.

[2018-05-15 13:05] mikedn commented on #756
If only it was random :grin:. Experiments show that it can be pretty stubborn about placing code - it's all determined by the order methods are being compiled. You'd need to introduce some randomness in this, possibly by having a particular BDN method that is called or not depending on a random value.

[2018-05-15 13:41] Mike-EEE commented on #756
I am all for reporting!  That would be amazing.  At least something to show awareness so that someone like me doesn't go off and spend eternity chasing perceived ghosts. 😆

If we can somehow do better than that, then even better. 👍  But reporting for me would work _very_ well in the interim in that I would know there is some funny business going on.  I could then test on the other machines that I

[2018-05-15 14:15] adamsitnik commented on #756
I tried to run some benchmarks with following config (you can pass env vars with BDN):

[code]

I saw the difference in the disassm:

[code]

[code]

But the difference was very small (4ns)

| Method | Job |    EnvironmentVariables |     Mean |    Error |   StdDev |
|------- |---- |------------------------ |---------:|---------:|---------:|
|    Sum |   0 | COMPlus_JitAlignLoops=0 | 281.6 ns | 5.3

[2018-05-15 14:19] adamsitnik commented on #756
it's possible today with `job.WithLaunchCount(nrOfProcesses)`

It's an advantage for us because we can get very similar results for same code.

This would be definitely possible, however I am not sure if people would be willing to pay the price (waiting much longer for the results).

[2018-05-15 16:02] Mike-EEE commented on #756
(BTW, I realize that I just went a little crazy with that feature request, but I wanted to underscore here that I am finally unblocked from this issue using the configuration above -- _immediately_.  As far as I am concerned, anything else is an added bonus here.  Thanks again to everyone for your help. 👍)

[2018-05-16 12:48] Mike-EEE commented on #678
Is this available on a preview feed somewhere, by chance?  Now that I am able to code again (😄) I was looking into creating a .NET Standard library with Benchmark.NET-specific classes.  For instance, a strongly-typed wrapper around `EnvironmentVariable` so that I can keep from having to rely on different text strings for variable names (and values, for that matter).

[2018-05-16 12:55] Mike-EEE commented on #756
FWIW I was also able to verify this behavior is consistent with my [alternate repro suite](https://github.com/Mike-EEE/DotNetCore.CodeAlignment.Alternate) which features additional cases.  All four of my available machines were able to produce the two different values by way of `COMPlus_JitAlignLoops` per above.

(Guess I should have done this _before_ I started [dancing atop the heads of people](

[2018-05-16 12:57] adamsitnik commented on #678
@Mike-EEE our preview package targets .NET Standard 2.0, you can get if from:

[code]

[2018-05-16 12:59] Mike-EEE commented on #678
Beautimous.  Thank you, @adamsitnik. 👍

[2018-05-16 16:49] Ky7m commented on #677
Update. GA for Linux https://www.appveyor.com/blog/2018/05/15/appveyor-for-linux-is-generally-available/
I will take care a bit later (sorry, this month is very busy).

[2018-05-16 17:53] AndyAyersMS commented on #756
For occasional one-off experiment COMPlus_JitAlignLoops can be helpful in trying to confirm or refute that code alignment is a cause of unexpected performance fluctuations.

But, I would not advocate using COMPlus_JitAlignLoops as part of a regular performance program or as any kind of default setting just yet -- it's something we never test, may not always work as expected, will be ignored on som

[2018-05-16 17:56] adamsitnik commented on #756
@AndyAyersMS thanks for the warning!

Before we introduce any new JIT-related changes to BDN I will ask you first for validation of the idea.

[2018-05-16 20:47] AndreyAkinshin commented on #756
I completely agree with @AndyAyersMS: it's not a good idea to enable `COMPlus_JitAlignLoops` _by default_. However, we have a problem that should be solved. I have seen perf fluctuation problems because of the "random" alignment algorithm in RyuJIT before, but I didn't know about `COMPlus_JitAlignLoops`. Some of these problems were solved via `UnrollFactor=16` for nanobenchmarks (I believe that su

[2018-05-17 18:54] adamsitnik commented on #730
I will solve this issue soon, it is causing too much confusion.

When `IterationSetup` is used, the `UnrollFactor=InvocationCount=1`

[2018-05-17 18:55] adamsitnik commented on #736
I will solve it soon, will be part of `0.11.0`

[2018-05-18 19:05] adamsitnik commented on #586
@ENikS I have fixed this issue in #754, you no longer need to implement `IParam`, you can use complex types for `ParamsSource` and `ArgumentsSource` and we are going to generate the right code for you.

[2018-05-18 19:05] #586 closed

[2018-05-18 23:12] Rizzen commented on #745
Possible solution introduced in https://github.com/dotnet/BenchmarkDotNet/pull/758

Also, there is a question - should BenchmarkDotNet allows users to use non-single generic parameter classes as benchmarks?
E.g:
[code]

[2018-05-19 19:41] adamsitnik commented on #585
@kkokosa I think that I have finally found the answer. Please take a look at this issue: https://github.com/dotnet/coreclr/issues/17981#issuecomment-389228564

I will close this issue, please feel free to reopen if the provided link does not answer the question.

[2018-05-19 19:41] #585 closed

[2018-05-22 09:25] AndreasObel opened #759 "Using BenchmarkDotNet with Unity"
Hello!
I'm working with a semester project at my university where i would like to benchmark some of my code.

I have an issue with using BenchmarkDotNet with VS2017 code which i have created through Unity.
Ive been trying to find several guides and other stuff which did not help me. first of I've changed the Scripting Runtime Version to .NET 4.x Equivelant and the API Compatibility Level to .NET 4

[2018-05-23 07:52] #745 closed

[2018-05-23 07:53] #720 closed

[2018-05-23 09:33] adamsitnik commented on #720
@afmorris @stephentoub I changed the naming `Defined` -> `Declared` (to keep the consistency with `MethodOrderPolicy.Declared`)

[2018-05-23 09:34] adamsitnik commented on #745
@Rizzen I changed the naming from `GenericBenchmark` to `GenericTypeArguments` to make it more intuitive.

[2018-05-23 14:48] adamsitnik commented on #759
Hi @AndreasObel

I don't have Unity installed now, but perhaps @xoofx has some experience with using BenchmarkDotNet, Unity and Visual Studio all together?

[2018-05-23 20:18] xoofx commented on #759
@AndreasObel the projects generated by the Unity editor are not standard .NET projects so they are likely not playing nicely with NuGet, which is a bit unfortunate I agree...

I checked and you can maybe workaround this by editing csproj manually before trying to install a NuGet package, and then edit back the project once it is installed... but as you will see, that's not something I would try to

[2018-05-23 20:54] #729 closed

[2018-05-23 20:55] AndreyAkinshin commented on #638
Fixed in #693

[2018-05-23 20:55] #638 closed

[2018-05-24 13:24] wdolek opened #762 "Running benchmark using `Thread`s freezes whole machine"
I've implemented dummy producer-consumer using manually instantiated threads as workers.

I wrote unit test to verify that everything works - and it works. Yet when I run this code as part of benchmark, computer freezes way that not only console app is pretty dead, but everything is frozen as well, no input except holding down power button has any effect (yes, it is so bad - task manager stops upd

[2018-05-25 18:05] adamsitnik opened #763 "Make MaxIterationCount configurable, keep current value as default"
As of today, the `MaxIterationCount` in `EngineTargetStage` is constant and equal `100`.

It would be nice to have a possibility to configure it.

Reasoning: I have some multimodal benchmarks and they run 100 iterations as of today. It would be nice if I could set it for my purpose to let's say 15 and have the results ready sooner.

[2018-05-27 17:58] #763 closed

[2018-05-27 18:00] adamsitnik commented on #763
@AndreyAkinshin I also added hint for case when the IterationCount < 15 and MultimodalDistributionAnalyzer is not going to work

![image](https://user-images.githubusercontent.com/6011991/40589135-71f4c46e-61e8-11e8-969b-3c305afe6b58.png)

[2018-05-27 18:41] #736 closed

[2018-05-27 19:32] adamsitnik commented on #759
@xoofx big thanks for help!

@AndreasObel I am afraid that benchmarking Unity is not supported as of today.

@xoofx if you are ever interested in adding such support please let me know. It should not be hard to implement

[2018-05-27 19:32] #759 closed

[2018-05-27 20:06] adamsitnik commented on #755
Hello @haf

This issue is a duplicate of #641, I faced the same problem, [here](https://github.com/dotnet/BenchmarkDotNet/issues/641#issuecomment-367713275) you can find the explanation (TLDR: when you use this exporter for the first time, R is downloading all the required packages and it takes a LOT of time)

[2018-05-27 20:06] #755 closed

[2018-05-27 23:14] #712 closed

[2018-05-27 23:16] adamsitnik commented on #712
@JCBurnside thanks for the bug report!

I had no idea that an array of primitive types can be an argument of an attribute constructor in C#.

I added support, from now this scenario is supported

[2018-05-27 23:38] #464 closed

[2018-05-27 23:43] adamsitnik opened #765 "Add .NET Core 2.2 support"

[2018-05-27 23:54] #765 closed

[2018-05-28 07:29] #730 closed

[2018-05-28 07:36] AndreyAkinshin commented on #763
@adamsitnik, I don't think that we should display such hint. We provide too many features, some of them can be disabled in some cases, and it's OK. We shouldn't print a hint for each feature which is disabled for the current benchmark; we should keep the output as small as possible and display information which is essential for the ongoing performance investigation.

[2018-05-28 10:42] adamsitnik commented on #763
@AndreyAkinshin I agree with you that we should not print too many hints, however, I think that this particular hint is going to be helpful.

Typically, when the benchmark has multimodal distribution, our engine runs it the default max iteration count (100). This is when some users might want to use the new settings - `MaxTargetIterationCount`. However, if they set it to `< 15`, the awesome `Multi

[2018-05-28 10:44] adamsitnik commented on #765
@pakrym this is a follow up of https://github.com/aspnet/Common/pull/367

[2018-05-28 13:44] Mike-EEE opened #767 "Question/Discussion: Benchmarking Unsafe Code"
Hello Community,

(FWIW, I did do a search on "unsafe" in this repo and it did not return anything obvious so I am asking this question here.)

I recently got a nice pointer by @mattwarren on the Twitters to check out [this really nice series](https://blog.adamfurmanek.pl/2016/04/30/custom-memory-allocation-in-c-part-2/) that explores some serious guts of the .NET system.

In doing so, I managed t

[2018-05-28 21:55] AndreyAkinshin commented on #763
@adamsitnik
1. `MultimodalDistributionAnalyzer` is not the only feature which doesn't work properly in this case. If you have a multimodal distribution with custom `MaxTargetIterationCount`<15, all columns like Scaled, Rank, StdDev will probably show useless random values. If we want to warn people that they can get incorrect results in these cases, you should print a general warning instead of a

[2018-05-29 11:53] wojciechrak opened #768 "Should not depend on "Framework" packages"
Installing BenchmarkDotNet nuget packages adds lots (48) of "framework" packages like `System.Collections`, `System.Linq` etc.

[code]

These should not be needed, especially on net46 target.

[2018-05-29 12:13] adamsitnik commented on #768
Hi Wojciech

This is how the tooling that you are using (NuGet client) works. We just list our dependencies as:

[code]

which gets resolved to the list that you have uploaded.

If you believe that it can be avoided please provide a PR.

[2018-05-29 12:13] #768 closed

[2018-05-29 12:41] wojciechrak commented on #768
I'd say that most of these are required only for netstandard/netcore target. I'll try to work on a PR.

[2018-05-29 14:50] adamsitnik opened #769 "ArgumentsSource does not support Jagged Arrays"
I have faced this isse while porting CoreCLR to BenchmarkDotNet

[code]

[2018-05-29 19:37] AndreyAkinshin commented on #769
👍

[2018-05-29 20:00] AndreyAkinshin opened #770 "Broken Travis build on Linux"
https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/385264335

[code]
@Ky7m could you please take a look?

[2018-05-29 21:22] Ky7m commented on #770
Looks like the LLVM apt repository was down. Restarted job https://travis-ci.org/dotnet/BenchmarkDotNet/jobs/385264335

[2018-05-30 04:30] Ky7m commented on #770
Build is green, so we can close the issue.

[2018-05-30 06:54] AndreyAkinshin commented on #770
@Ky7m thanks.

[2018-05-30 06:54] #770 closed

[2018-06-02 08:56] jskeet opened #772 ""Operation could destabilize the runtime" when running benchmarks from full framework"
I hope to provide more information in later updates, but I wanted to file an issue before I forgot to do so - partly in case anyone else had seen anything similar.

To reproduce (on a Windows box, from a command prompt or bash):

[code]

Note that:

- NodaTime.Benchmarks depends on BenchmarkDotNet version 0.10.14
- NodaTime.Benchmarks targets `netcoreapp2.0`, `netcoreapp2.1`, `net461`. The netcore

[2018-06-02 10:02] jskeet commented on #772
Okay, this has nothing to do with Benchmark.NET - a tiny console app demonstrates it too:

[code]

Now I've got work out why...

[2018-06-02 10:03] #772 closed

[2018-06-03 12:33] kant2002 opened #773 "Ability to make Argument depends on the Param values"
During migration of the benchmarks to BDN here : https://github.com/dotnet/corefxlab/pull/2333
 I want that one of argument would depends on the value mapped to current `Param`. For example to always to be 60% of the `InputBufferSize`

Approximate current code which I have to write

[code]

what I would like to have
[code]

right now it seems that value not yet mapped to field with `Param` attribu

[2018-06-03 14:44] adamsitnik commented on #550
I just finished running CoreCLR benchmark suite with different versions of BenchmarkDotNet. The results:

[code]

which means that we went from 4 hours 13 minutes with `0.10.11` to 26 minutes 17 seconds = **9.63 times faster now** ;).

As soon as #771 gets merged I am going to close this issue.

[2018-06-04 07:25] adamsitnik opened #774 "Make it possible to use Span as benchmark argument"
Some background:

1. All arguments are stored as fields of the derived, auto-generated type `private System.Int32[] __argField0;`
2. All arguments are initialized in the ctor of the auto-generated type `__argField0 = new System.Int32[] { 0, 1, 2 };`
3. All arguments are loaded to a local variable before being passed to the benchmark:

But Span is a stack-only type, so it can not be a field in non

[2018-06-04 07:37] #774 closed

[2018-06-04 11:03] adamsitnik commented on #773
@kant2002  Thanks for the report! I am aware of the problem, however, I don't know how to solve it yet.

[2018-06-04 20:05] ddobric opened #775 "Few questions related to understanding of results"
### 1. What is a difference between DryCore and Core?
Result in Core:   0.2182 ns
Result in DryCore: 647,800.0000 ns

### 2. What is the meaning of histograms?

[-0.002 ns ; 0.074 ns) | @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
[ 0.074 ns ; 0.178 ns) | @@@@@@@@@@@@@@@@@@
[ 0.178 ns ; 0.280 ns) | @@@@@@@@
[ 0.280 ns ; 0.355 ns) | @@@@@@@@@@@@@@@@@
[ 0.355 ns ; 0.444 ns) | @@@@@@@@
[ 0.444 ns ; 0.528 ns) | @@@

[2018-06-04 20:15] AndreyAkinshin opened #776 "Broken AppVeyor build"
See: https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.14.572
[code]
Commit: https://github.com/dotnet/BenchmarkDotNet/commit/f6372665ba0c2a14b6c1fafb60fbe49f8bf63ab2
It seems that we don't have 2.1.0-rc1 support on AppVeyor.
/cc @adamsitnik @Ky7m

[2018-06-04 21:02] Ky7m commented on #776
will take a look.

[2018-06-04 21:50] adamsitnik commented on #776
The first commit that broke the build was [this one](https://github.com/dotnet/BenchmarkDotNet/commit/97ddd6e997f923c44630adca262ffa1d8e6fc71f)

I suspect that appveyor installed 2.1 bits globally and our preview stuff stopped working. I tried to update everything to `rc1` but it did not help

[2018-06-04 22:01] adamsitnik commented on #775
Hi @ddobric

1. `DryJob` runs the benchmark exactly once, without any warmup. You can use it to measure the JIT overhead or to test your benchmark if it works

2. Each `@` represents a single iteration
`[ 0.444 ns ; 0.528 ns) | @@@` - means that there were 3 iterations for which the average time of benchmark execution was between 0.444 ns to 0.528 ns

[2018-06-04 22:01] #775 closed

[2018-06-04 22:05] adamsitnik commented on #776
It looks like setting `DOTNET_MULTILEVEL_LOOKUP=0` might [work](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.14.573). Afaik it tells the dotnet cli to search locally only (what we have in .dotnet folder_

[2018-06-05 07:03] russcam opened #778 "CS0104: 'Job' is an ambiguous reference between 'BenchmarkDotNet.Jobs.Job' and 'Nest.Job'"
I'm looking to run benchmarks between two different versions of [NEST, the Elasticsearch .Net client](https://github.com/elastic/elasticsearch-net). Upon running a simple Program with `BenchmarkSwitcher`, a Build Exception is thrown

[code]

_For additional context, I've rewritten two different versions of NEST assembly and their immediate non-framework dependencies, to allow them both to be refer

[2018-06-05 07:55] adamsitnik commented on #778
Hi @russcam

To access the auto-generated code you need to apply a `[KeepBencharkFiles]` attribute on the type with benchmarks. (we remove all these files by default)

I can see that we have following line in the code `var job = new Job();`

Is `Nest562.Job` a type created for benchmarking purpose? If so, please rename it.

I will of course change this line on our side.

[2018-06-05 08:40] russcam commented on #778
Thanks for the quick response @adamsitnik.

No, it's a type in the rewritten Nest assembly for version 5.6.2; it's not referenced/used in the benchmark test.

[2018-06-05 10:14] adamsitnik commented on #778
We also generate `using` statements for all the types returned from the benchmarks. I guess that one of your benchmarks returns a type from `Nest562` namespace. So possible workaround would be to change the return type of the benchmark.

[2018-06-05 10:36] #776 closed

[2018-06-05 11:06] #778 closed

[2018-06-05 11:07] adamsitnik commented on #748
@ahsonkhan I have improved the trimming, now we trim things longer than 20 chars

[2018-06-05 11:12] russcam commented on #778
Awesome, thanks for the quick turnaround @adamsitnik :+1: Do you know when it'd be making its way to a released package?

[2018-06-05 11:33] adamsitnik commented on #778
@russcam it's already available as part of `0.10.14.579` on our CI feed `https://ci.appveyor.com/nuget/benchmarkdotnet`

But release to nuget.org  (0.11.0) is +- 2 weeks

[2018-06-05 11:36] russcam commented on #778
Perfect, I'll jump in the CI feed. Thanks!

[2018-06-05 12:02] adamsitnik commented on #550
The CI package is already available, the version number is `0.10.14.580`.

[2018-06-05 12:02] #550 closed

[2018-06-05 16:40] AndreyAkinshin opened #779 "StackOnlyTypesWithImplicitCastOperatorAreSupportedAsArguments doesn't work on .NET Core 2.0"
![image](https://user-images.githubusercontent.com/2259237/40989887-dce92b14-68f7-11e8-8393-be7f455c4be3.png)
If you run the `StackOnlyTypesWithImplicitCastOperatorAreSupportedAsArguments` test on .NET Core 2.0, the following line will fail:
[code]
It seems that there is implicit cast from `string` to `ReadOnlySpan<char>` in .NET Core 2.0 (but it works in .NET Core 2.1 without any problems).
Relat

[2018-06-06 01:56] stevedesmond-ca opened #780 "ARM support"
Trying to run a benchmark on my Raspberry Pi, I get the following when BDN tries to build the benchmark:
[code]

Is ARM currently supported as a target architecture, specifically for .NET Core 2.1? If so, are there any special steps to get it running?

[2018-06-06 11:09] #710 closed

[2018-06-06 11:13] ddobric opened #782 "Error when running on Ubuntu at PI"
Have benchmarks, which run fine on Windows.
Then I have published the project and moved the output to PI.
When starting with following command, process stops with errors:

`dotnet projectname.dll`

Error:

[2018-06-06 11:15] adamsitnik commented on #782
hi @ddobric

Did you publish the app on one machine and copy it to another?

Or did you copy the code, build and run on other machine?

[2018-06-06 11:15] ddobric commented on #775
thanks

[2018-06-06 12:51] adamsitnik commented on #780
Hi @stevedesmond-ca

It [looks](https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md) that to run a .NET Core app on Raspberry Pi, we should publish a self-contained app and the run it.

Unfortunately, our default toolchain just builds the app and tries to run it with `dotnet $pathToDll`

However, we have the code that does that for the purpose of our `CoreRT` toolchain. P

[2018-06-06 12:59] AndreyAkinshin commented on #780
@adamsitnik, I guess, the `InProcess` toolchain should work for this case.

[2018-06-06 13:06] adamsitnik commented on #780
@AndreyAkinshin good point, for some reason I forgot about it

[2018-06-06 13:18] #779 closed

[2018-06-07 16:51] ddobric commented on #782
It was published and then copied.

[2018-06-07 17:09] adamsitnik commented on #782
BDN generates a new project, with reference to the `.csproj` file which defines the benchmarks.

So to run the  benchmarks on the other machine  you also need to copy the code ;)

If you don't/can't do that they you can use our `[InProcessToolchain]` ([docs](http://benchmarkdotnet.org/Configs/Toolchains.htm#cs)) which does everything inside the same process.

You can find more here #498

[2018-06-07 17:09] #782 closed

[2018-06-07 17:19] #583 closed

[2018-06-07 22:40] Warpten opened #784 "Using a benchmark target's return value in a column"
I'm writing a deserialization library that is basically taking a file stream and producing a `List<T>`:

[code]

And it goes on for a couple versions.

However, the execution times don't make much sense since they are a measurement of the total amount of entries per file, which changes per version (I have no control over the data). It would make a lot more sense to display the average time needed

[2018-06-08 06:43] adamsitnik commented on #649
@AndreyAkinshin was this fixed by #781?

[2018-06-08 06:59] AndreyAkinshin commented on #649
Yes, it's fixed.

[2018-06-08 07:03] #649 closed

[2018-06-08 07:05] adamsitnik commented on #784
hi @Warpten

I am aware of this limitation. The problem is that we run the benchmark in a separate process, so passing any data from one to another is not trivial.

I know that @krzysztofcwalina has faced this issue in ML.NET

@Warpten @krzysztofcwalina would it be enough if I would add a mechanism to return a string and print it in a dedicated column? Sth like:

[code]

The method would be execut

[2018-06-08 11:08] Warpten commented on #784
Maybe exposing a method's result as an `object` would be less limiting? It would be great to have an extra column where I can just do

[code]

Or even more complex things like

[code]

[2018-06-08 12:30] adamsitnik commented on #784
but how should I then serialize it and pass from one process to another without introducing any dependencies to BenchmarkDotNet?

[2018-06-09 10:53] AndreyAkinshin opened #786 "An easy way to check for statistically significant difference between benchmarks"
Currently, we have optional `WelchTTestPValueColumn` which help you to verify that there is a statistically significant difference between benchmarks. However, it doesn't work great with default run strategy because this strategy typically doesn't perform enough iterations. Users have to manually choose a satisfactory amount of iterations. Thus, it's possible to do such checks, but the user experi

[2018-06-09 11:18] AndreyAkinshin opened #787 "Grand renaming"
Since, we are going to introduce a lot of breaking changes in v0.11.0, it would be nice to rename a few things as well. =)
Current naming scheme has an important problem: we use the same generic words like "Benchmark", "Main", "Target" in different places for different purposes.
Thus, you can't say what "Target" means without a context.
This grand renaming has two main goals:

* Use one term for o

[2018-06-09 11:18] AndreyAkinshin commented on #787
@adamsitnik, what do you think?

[2018-06-09 11:37] AndreyAkinshin opened #788 "Detect correct version of .NET Core in Docket container"
Original [request](https://github.com/dotnet/BenchmarkDotNet/issues/448#issuecomment-361027977) by @IvanFarkas:

Unfortunately **GetNetCoreVersion()** is not working when used in **Ubuntu** **Docker** container images, since the assembly.CodeBase is ```file:///app/System.Private.CoreLib.dll```

Is there a reliable way to get the **.NET Core runtime version number** at runtime that works in **Docke

[2018-06-09 11:37] AndreyAkinshin commented on #448
I created a separate issue for the Docker problem: https://github.com/dotnet/BenchmarkDotNet/issues/788

[2018-06-09 11:43] AndreyAkinshin commented on #786
Another [idea](https://twitter.com/AnthonyLloyd123/status/1005408508978847744) by Anthony Lloyd:

[2018-06-11 06:14] IanKemp opened #791 "Benchmark(Baseline = true) doesn't work when using byte[] arrays in Params()"
[code]

Results in:

[code]

Is this a supported scenario?

[2018-06-11 06:51] IanKemp opened #792 "Trend Micro OfficeScan kills benchmarks"
Yup, another antivirus interference issue. The aforementioned piece of software doesn't cause issues at the start of a run, what instead happens is that every benchmark run is forcibly killed resulting in output that looks like the following:

[code]

It seems that `EnvironmentAnalyser` doesn't pick this up, so no warnings about antivirus software are emitted on subsequent runs. I've worked around

[2018-06-11 09:11] AndreyAkinshin commented on #791
I found the problem. Currently, `ArrayParam<T>.DisplayText` returns `$"Array[{array.Length}]"`. It means that arrays of equal size have the same DisplayText. We have two problems here:

* The benchmarks have the same logical group keys, so baselining is broken.
* These benchmarks are indistinguishable in the logs/summary.

I think it makes sense to rewrite `ArrayParam<T>.DisplayText` and return a

[2018-06-11 11:12] adamsitnik commented on #791
I agree but I don't have a good idea for unique, meaningful but short display name

[2018-06-11 11:44] adamsitnik commented on #787
The only suggestion I have now is to rename `Idle` to `Overhead`

👍

I am not sure about these two, honestly, they don't sound better to me. @mattwarren do you have some better idea?

I think that a lot of our users use `Baseline` for `[Benchmark]` and to cause less damage, I would rename the other two, less popular `IsBaseline` to `Baseline`

👍 but I would also rename `EnvMode` to `EnvironmentMod

[2018-06-11 11:58] AndreyAkinshin commented on #791
@adamsitnik, if we are talking about arrays, we can add something like `$1`, `$2`, etc. to the name where the number is the absolute position of the array. It will be meaningful, short, and unique.

[2018-06-11 12:02] adamsitnik commented on #791
@AndreyAkinshin good idea!

[2018-06-11 12:02] AndreyAkinshin commented on #792
Agree with @adamsitnik: benchmark isolation is very important. It's pretty easy to "spoil" environment in one benchmark and affect the performance of another benchmark.

[2018-06-11 12:08] AndreyAkinshin commented on #787
@adamsitnik, and what do you think about "Analy**s**er" -> "Analy**z**er" (British -> American).

We can keep `[Benchmark(Baseline  true)]` and mark it as obsolete. The backward compatibility is important, but I want to introduce the best possible API in `v1.0` (after that, it will be hard to change the naming).

LGTM

[2018-06-12 04:13] dvorn opened #793 "job=core for BenchmarkSwitcher"
BenchmarkSwitcher does not support job=core parameter (ConfigParser.availableJobs does not have corresponding entry).  Was that overlooked or there's a reason behind that?

[2018-06-12 08:19] adamsitnik commented on #793
It's a bug ;) Would you like to provide a PR?

[2018-06-13 08:14] adamsitnik opened #794 "Don't exclude allocation quantum side effects for .NET Core 2.0+"
The GC API problem has been fixed for .NET Core 2.0, we don't need it anymore https://github.com/dotnet/coreclr/issues/10207

[code]

Was reporting 0 for .NET Core, should show the actual value.

[2018-06-13 12:54] AndreyAkinshin opened #795 "Broken BenchmarkSwitcher"
Repro:
[code]
BenchmarkSwitcher doesn't parse `IntroBasic` from arguments and prints the list of available benchmarks.

[2018-06-13 13:16] adamsitnik commented on #795
Now you need to specify it in an explicit way: `--class=IntroBasic`

@AndreyAkinshin is that ok?

[2018-06-13 13:19] AndreyAkinshin commented on #795
Yes, it's OK. However, it's a breaking change. Could we print a warning if we can't parse some arguments?

[2018-06-13 13:22] AndreyAkinshin commented on #795
Also, it would be nice to print a few examples in our prompt message. Currently, we have this:

[code]

[2018-06-13 20:35] Rizzen commented on #731
I'll take a look.

[2018-06-14 07:51] benaadams opened #797 "Allocated is not divided by OperationsPerInvoke"
I get this output for https://gist.github.com/benaadams/294cbd41ec1179638cb4b5495a15accf
[code]

However the "Any" category has 10 OperationsPerInvoke so I think it should also show `32B` rather than `320B`

[2018-06-14 07:55] adamsitnik commented on #797
Hi Ben!

Thanks for the bug report, it has already been fixed in #724.

The fix will be a part of `0.11.0`, but before we ship it to nuget.org, you can get can it today from our CI feed:

[code]

[2018-06-14 08:11] benaadams commented on #797
So fast! 😄

[2018-06-14 08:11] #797 closed

[2018-06-14 09:59] AndreyAkinshin commented on #763
@adamsitnik ?

[2018-06-14 10:45] AndreyAkinshin commented on #763
@adamsitnik, I like both options. =)
Let's remove the MultimodalDistributionAnalyzer in current version because it's pretty annoying. Meanwhile, I will work on better analyzer which will print warning only if it makes sense.

[2018-06-14 10:48] adamsitnik commented on #763
👍 I am going to remove it right now

[2018-06-17 19:17] #793 closed

[2018-06-17 19:34] adamsitnik commented on #487
Fixed by #735

[2018-06-17 19:34] #487 closed

[2018-06-18 13:21] AndreyAkinshin opened #801 "Broken build"
https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.14.646
https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/build/0.10.14.646-gxlmukeo
[code]
On my machine `build.ps1` works fine; `https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.300-rc1-008673/dotnet-sdk-2.1.300-rc1-008673-win-x64.zip` is available for download.

[2018-06-18 13:21] AndreyAkinshin commented on #801
@Ky7m could you take a look?

[2018-06-18 13:22] adamsitnik commented on #801
@AndreyAkinshin it's not only our problem, I reported this internally in MS.

[2018-06-18 15:03] adamsitnik commented on #801
https://github.com/dotnet/corefx/issues/30479#issuecomment-398076483

[2018-06-18 16:10] #713 closed

[2018-06-18 16:15] adamsitnik commented on #713
@vitek-karas I needed to implement it for CoreCLR purpose, now it's:

[code]

[2018-06-18 16:54] adamsitnik commented on #801
Build is green again ;)

[2018-06-18 16:54] #801 closed

[2018-06-19 11:08] vitek-karas commented on #713
@adamsitnik  Thanks a lot!

[2018-06-19 12:08] ddobric opened #802 "AdaptiveHistogramBuilder.BuildWithFixedBinSize error when running benchmarks"
Getting following issue when executing some tests benchmark tests:

[code]

[2018-06-19 12:37] AndreyAkinshin commented on #802
@ddobric, do you have logs from this benchmark run? (by default, you should have `.log` file in `BenchmarkDotNet.Artifacts`)

[2018-06-19 12:43] AndreyAkinshin commented on #802
Reproduced.

[2018-06-19 13:06] #802 closed

[2018-06-19 16:37] adamsitnik commented on #787
To me it's ok, I prefer British option but I see the value of unification. And most probably very few users wrote their own analyzers so we are not going to break anybody.

I would prefer to keep it just "Baseline" but the idea with having both + obsolete is ok.

@AndreyAkinshin  Btw I saw your huge rename commits. It would be impossible without Resharper to do that!

[2018-06-20 00:20] adamsitnik commented on #787
@AndreyAkinshin I have hit an issue after you recent renaming, but I have just pushed a fix for it.

Long story short: when we export job settings to `.cs` file : `job.XMode.YProperty` we expect that `XMode.YCharacteristic` exists, there was a mismatch between `MaxWorkloadIterationCountCharacteristic` and `MaxTargetIterationCount`.

I was not sure which name to use so I decided to simplify it: I h

[2018-06-20 10:30] AndreyAkinshin commented on #787
I'm still not happy about the latest version of naming. Currently, we have the following IterationStages: `Jitting`, `Pilot`, `Warmup`, `General` (former `Main`), `Result`. First of all, I don't like `General`, it would be nice to fine a better term.
A user can customize the amount of `Warmup` *Iterations* and `General` *Iterations*. The corresponding job properties are `WarmupCount` and `Iteratio

[2018-06-20 10:46] adamsitnik commented on #787
Honestly I would call it like this:

[code]

@AndreyAkinshin what do you think? or maybe we could ask our users on Twitter or sth?

[2018-06-20 11:10] AndreyAkinshin commented on #787
`Benchmark` is a too generic term which we use everywhere. The "benchmark" term can include setup/cleanup, parameters, configuration, and so on. In the new terminology, we use the `Workload` term which corresponds to a single method without setup/cleanup and other stuff. I like it because it's hard to confuse it with anything.
Meanwhile, `Main`/`General`/`Run` are too generic words. If I see `Benc

[2018-06-24 00:53] lazyloader commented on #610
My guess is that it has something to do with the fact that LINQ uses less lines of code, so the compiler is able to process the request faster.

[2018-06-25 00:42] NickCraver opened #803 "Binding Redirects not working from a netcoreapp2.1 runner with Clr benchmarks"
I've got a repro up here with simple run instructions: https://github.com/mgravell/Pipelines.Sockets.Unofficial/pull/2 ([specific commit](https://github.com/mgravell/Pipelines.Sockets.Unofficial/pull/2/commits/dae4efd5b3af3336611d3c63f0700909f57caa8b))

To run:
[code]

This has both `Clr` and `CoreClr` jobs, but the binding redirects present for `System.Buffers` from 4.0.2 to 4.0.3 just aren't wor

[2018-06-25 05:23] Shazwazza opened #804 "What is the point of BuildScriptFilePath ?"
I'm in the process of attempting to implement #290 and noticed that the Generators create a `.bat` build script which seems quite handy, but then the Builders don't actually use the build script generated.

For example the `DotNetCliBuilder` runs it's own `restore` and `build` commands and doesn't use the generated build script to do the building.  The Roslyn Builder outputs a log entry for the `B

[2018-06-25 06:53] AndreyAkinshin commented on #803
@NickCraver thanks for the bug report!
@adamsitnik could you take a look?

[2018-06-25 10:04] adamsitnik commented on #804
Hi @Shazwazza

It's a very good question!

BDN used to generate **and run** this script. At some point of time, we moved from doing this to calling Roslyn API directly. The script was preserved for situations when we fail to build the benchmark project, apply `[KeepBenchmarkFiles]` attribute and run it manually to reproduce the problem. So we keep it only for eventual troubleshooting.

You can ign

[2018-06-25 10:04] #804 closed

[2018-06-25 10:28] adamsitnik commented on #803
I am able to reproduce, I am starting the investigation

[2018-06-25 11:07] Shazwazza commented on #804
Ah, ok thanks :) I might add some code docs to those classes in my PR.

[2018-06-25 13:53] adamsitnik commented on #803
It's not BenchmarkDotNet issue, I have provided a workaround https://github.com/mgravell/Pipelines.Sockets.Unofficial/pull/4 and reported the bug in CoreFx https://github.com/dotnet/corefx/issues/30642

[2018-06-25 13:53] #803 closed

[2018-06-25 14:52] NickCraver commented on #723
I've fired up the API discussion in https://github.com/dotnet/corefx/issues/30644

[2018-06-25 19:45] Zhentar commented on #787
If I understand correctly, the defining feature of "Main"/"General" is that it is the one that is actually measured to produce the numbers in the results, so why not call it `Measurement`?

It's also not clear to me what `Result`  means... I would presume it to be calculation and/or analysis, but that seems like something that would only run once per test case, rather than once for every measureme

[2018-06-26 14:23] mauroservienti opened #806 "Benchmark fails when used in conjunction with the new Microsoft.AspNetCore.Mvc.Testing (.NET Core 2.1)"
We're in the need of running benchmarks end-to-end for a MVC Core App. However benchmarks should not be affected by HTTP processing, we just need to exercise the entire MVC pipeline, from routing down to the controller and back, with our middlewares included.

With the release of .NET Core 2.1, `Microsoft.AspNetCore.Mvc.Testing` has been released as well, allowing something similar to:

[code]

We

[2018-06-26 19:15] adamsitnik commented on #806
Hi @mauroservienti

I have forked your repo and reproduced the problem, however, failed to solve it.

I was expecting that setting the current directory to the web app location will be enough to make `Microsoft.AspNetCore.Mvc.Testing` work.

I tried;

`Directory.SetCurrentDirectory(Path.GetDirectoryName(typeof(AspNetCoreApi.Startup).Assembly.Location));`

and

`.WithWebHostBuilder(config => config

[2018-06-28 02:22] dbogatov opened #807 "How to use [GenericTypeArguments]"
Hi everyone,

I have encountered a strange bug (`BenchmarkDotNet=v0.10.14.660-nightly`).

If I have the following:

[code]

attribute are not working.
Allocated column does not show up, no JSON file gets produced, columns are not ordered.

However, if I supply these the other way

[code]

everything works just fine.

P.S. That also applies to "GenericType" attribute.
I have to use

[code]

[2018-06-28 02:29] dbogatov opened #808 "How to pass parameters to whole benchmark suite"
Hi everyone,

Forgive me if the answer is in docs, I just have not found it.

How do I pass a parameter to the whole benchmark suite?
`Param` and `Argument` are not what I want.

For example, say I have a function that operates on a list of numbers.
One benchmark is performing an operation on the whole list.
However, I want to control the size of that list.
I want to be able to set it small or lar

[2018-06-28 02:43] dbogatov commented on #808
Somewhat related.
Can I manually run `ExecutionValidator`?

[2018-06-28 10:50] adamsitnik commented on #808
Hi @dbogatov

It's not a supported scenario.

Then you can use `Job.Dry` which tells BenchmarkDotNet to run the benchmarks just once. It should be a fast validation that benchmarks are OK

You can take a look at [ExecutionValidatorTest](https://github.com/dotnet/BenchmarkDotNet/blob/7b47c66f25786298179929c1205646bcdc1e838a/tests/BenchmarkDotNet.Tests/Validators/ExecutionValidatorTests.cs) for some

[2018-06-28 10:55] adamsitnik commented on #807
@Rizzen could you take a look into this issue?

[2018-06-28 11:21] mauroservienti commented on #806
thanks for the feedback @adamsitnik

[2018-06-28 13:59] adamsitnik opened #809 "Make it possible to configure Min and Max Warmup Iteration Count"
Why I need that: most of the CoreCL/FX benchmarks are fine with 2 warmups only. However some of them need more warmups, typically these are Task-based benchmarks.

Today both values are hardcoded, I just want to make them configurable,

[2018-06-28 13:59] Rizzen commented on #807
Ok, I'll take a look today.

[2018-06-28 16:33] #809 closed

[2018-06-28 20:28] Rizzen commented on #807
@dbogatov Thank you for report!
So, I made some workaround and doesn't have repro. Here is my workaround:
[code]
It works fine as far I see.
Did you use GenericTypeArguments Attribute? Could you provide more detailed repro?

@adamsitnik @AndreyAkinshin Also I see that there is no Intro for GenericTypeArguments. So I think that is makes sense to add it. What do you think?

[2018-06-28 20:33] adamsitnik commented on #807
Great idea!

[2018-06-28 20:42] Rizzen commented on #807
Aww, sorry, it exists in IntroGenericTypeArguments.cs

[2018-06-28 20:44] dbogatov commented on #807
It does, but could you also mention it in docs?

I will try to come up with MWE for the issue.
Thank you for prompt replies!

Also, am I right that this feature is not in release yet?
I am using nightly build.

[2018-06-28 20:49] dbogatov commented on #807
At least it will appear in release docs.
That it good enough for me.

[2018-06-28 21:46] dbogatov commented on #808
Dry job method actually works well for me.

[2018-06-28 21:49] dbogatov commented on #263
I also want to run (some) benchmarks from unit tests, but I can confirm that `InProcess` toolchain works well for this case.

[2018-06-28 21:51] dbogatov commented on #190
I want similar functionality for different reason.
I run dry jobs from unit tests to make sure benchmarks are valid.
I don't want *any* output from the tool.

Is this possible?

[2018-06-28 21:54] adamsitnik opened #810 "handle new *Ansi events to make Inlining and TailCall Diagnosers work with .NET Core 2.2"
We need to handle new events after https://github.com/dotnet/coreclr/commit/95a9055dbe5f6233f75ee2d7b6194e18cc4977fd

@ahsonkhan @brianrob

[2018-06-28 21:56] #810 closed

[2018-06-28 21:59] adamsitnik commented on #190
No, but the issue is up for grabs ;)

[2018-06-28 22:03] adamsitnik commented on #808
@dbogatov could you try to define the arguments as ulongs in explicit way?

[code]

[2018-06-28 22:06] dbogatov commented on #808
Did it, same result.

[2018-06-29 15:09] Lexcess opened #811 "Question/Suggestion is GcStats forcing a GC.Collect when it doesn't need to"
In the method `GetAllocatedBytes `in `GcStats `[this code line 128](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Engines/GcStats.cs)
There is the following code.
[code]

The code and the comments imply that the `GC.Collect` is only there to make the call to `MonitoringTotalAllocatedMemorySize `as accurate as possible. Given that only some runtimes use that method my qu

[2018-06-29 18:12] adamsitnik commented on #811
hi @Lexcess , thanks for validating the correctness of BenchmarkDotNet!

The collects happen outside of measurements, in a dedicated iteration, which is the last thing we do before the process dies. (BDN spawns new process for every benchmark, so side effects are not an issue). So I don't think it's an issue.

However, we enforce a GC.Collect between every iteration when we run the benchmarks. Thi

[2018-06-29 18:45] Lexcess commented on #811
Thanks for the quick response. That all makes sense and I've seen the GcForce option.

However in the code I linked, if it is running on the .Net Core GC.Collect will be called every time, so that setting seems like it wouldn't make a significant difference. Even though the GC.Collect calls only seem to be required when running on the .Net Framework.

I hope I'm making sense here.

[2018-06-30 07:32] AndreyAkinshin commented on #787
Well, we already have the `Measurement` class which corresponds to any kind of measurements including Pilot, Warmup, and so on. It's also an important information. E.g., sometimes I want to verify that everything is OK with warmup and I need all warmup measurements for it. Thus, `Measurements` is also not the best term for that.

`Results` measurements are measurements which are used in the summar

[2018-06-30 07:53] AndreyAkinshin commented on #767
Hey @Mike-EEE, sorry for the late reply.

I guess, you have a problem with your config. Currently, you use:

[code]

It forces BenchmarkDotNet to produce very short iterations. After the summary table, you should see the following notifications:

[code]

Such measurements are unreliable and meaningless; you can't use it for any kinds of conclusions. I tried to remove the invocation count requireme

[2018-06-30 18:22] IanKemp opened #812 "When will the next release be available on NuGet?"
Current version of BenchmarkDotNet on NuGet is 0.10.14 which was released in April. This is an issue because I want to benchmark code that uses types introduced in Framework 4.7.2 (`Span<T>` and `MemoryMarshal` to be precise), and 0.10.14 doesn't support 4.7.2. There isn't a prerelease package either. :(

Is there any intention to release an updated version anytime soon?

[2018-07-01 12:09] AndreyAkinshin opened #813 "Problems with MemoryDiagnoserTests on Mono and .NET Core 2.0"
`AllocationQuantumIsNotAnIssueForNetCore` and `MemoryDiagnoserDoesNotIncludeAllocationsFromSetupAndCleanup` don't work on .NET Core 2.0.
`AllocatedMemoryShouldBeScaledForOperationsPerInvoke` and `MemoryDiagnoserIsAccurate` don't work on Mono.

Local macOS runs:
![image](https://user-images.githubusercontent.com/2259237/42134222-c0227ab0-7d3f-11e8-828c-67de6ad85ab0.png)

Local Windows runs:
![image