[2019-10-09 21:49] luckerby commented on #1250
@wojtpl2 The original code didn't have the `MemoryDiagnoser` attribute applied either, which makes the outcomes so far consistent.

I've looked at the source code, but couldn't figure this one out: how can you tell that not using `[MemoryDiagnoser]` results in `includeExtraStats` eventually being null when the stats get prepared ?
https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe2

[2019-10-10 11:08] bitbonk commented on #1269
I just hit the same problem. When will we see this `WithMaxParameterColumnWidth` in package on nuget.org?

[2019-10-11 14:44] valentinoNguyen commented on #1269
I afraid there are no way to disable it. You can try `0.11.5.1189`
But be careful, I got a big problem on that version when the same code but the test run hundred of time even if I am using Dry mode :(

[2019-10-11 16:49] am11 commented on #1028
@AndreyAkinshin, when would the official template package made available on nuget.org?

e.g.

* https://www.nuget.org/packages/NUnit3.DotNetNew.Template/
* https://www.nuget.org/packages/giraffe-template/

and unofficial packages of BenchmarkDotNet:
* https://www.nuget.org/packages/AtleX.BenchmarkDotNet.Template.CSharp/
* https://www.nuget.org/packages/TheAngryByrd.BenchmarkDotNet.Templates/

[2019-10-11 19:44] TimirP opened #1276 "Running as .Net Core Azure webjobs"
I tried to run Benchmark as azure webjobs but it always fails. Probably it's not able to create folders to dump the result. Any one else have tried to run it on Azure?  I'm trying to compare performance of Azure Blob in various scenarios. I simply tried to run your Md5VsSha256 sample on Azure.

[2019-10-11 20:36] luckerby commented on #1250
Running again on the original machine, and I've used just one single run - using `[SimpleJob(RunStrategy.ColdStart, targetCount: 1)]` in order not to allow the GC to tweak itself in any way by "observing" subsequent runs of the same code. A result of 57 is shown for gc0 collections:

![image](https://user-images.githubusercontent.com/31319583/66682224-3a9dd480-ec7d-11e9-9b8c-c1215269e573.png)

Imm

[2019-10-12 18:31] AndreyAkinshin commented on #1236
Resolved in #1277

[2019-10-12 18:31] #1236 closed

[2019-10-12 21:00] AlexeyLyndin opened #1278 "Loading embedded resource"
Hi all! Are there any known issues with loading embedded resources in benchmark method?
I got small method that loads embeded resource:

using (var stream = GetType().Assembly.GetManifestResourceStream("SomeResource"))
using (var reader = new StreamReader(stream))
{
    return reader.ReadToEnd();
}
 Benchmark class marked with `InProcessAttribute`
As a result of benchmark run I see `System.Reflect

[2019-10-12 21:36] wojtpl2 commented on #1278
You can try to use typeof(YOURTYPE).GetType().... instead of GetType().

[2019-10-12 21:46] AlexeyLyndin commented on #1278
@wojtpl2 thanks a lot! Closing this.

[2019-10-12 21:46] #1278 closed

[2019-10-13 22:00] nim commented on #828
Today i have some problem after uupdate VS2019 to 16.3.4. Benchmark frozen at:
![123](https://i.imgur.com/2H26Nwg.png)
In project properties I saw this:
![123](https://i.imgur.com/fvkVpCZ.png)
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version
Now the benchmark does not work. I don’t think it’s good.

[2019-10-13 23:05] nim commented on #828
The task manager shows that the benchmark is doing something ![](https://i.imgur.com/PJCQvY6.png)

[2019-10-14 09:56] adamsitnik commented on #1250
If you want BDN to produce memory statistics then you have to use `MemoryDiagnoser`, either via attribute, fluent config API or console line argument. The final results are printed in the Summary table, the intermediate output is **only** for the purpose of the Host and Benchmark process exchanging information.

You can read more about `MemoryDiagnoser` in our [docs](https://benchmarkdotnet.org/ar

[2019-10-14 09:56] #1250 closed

[2019-10-14 10:16] adamsitnik commented on #828
Hi @nim

Did you select some part of the printed text in console? By default Windows OS let's the app run then, but blocks the printing to standard output.

Also, you can always attach debugger to the benchmark process and see what is going on:

![obraz](https://user-images.githubusercontent.com/6011991/66744301-63d88380-ee7c-11e9-8125-db9d68a0c6e7.png)

You can read more about troubleshooting BDN

[2019-10-14 10:37] wojtpl2 opened #1280 "Improvement in memory statistics"
I think that empty GC memory statistics can mislead users. In #1250 I create comment:

@adamsitnik What do you think?

[2019-10-14 11:36] adamsitnik commented on #1280
If this does not require a lot of changes in the code, then I am ok with that 👍

[2019-10-14 13:27] nim commented on #828
@adamsitnik I apologize for disturbing you. Hangup was my fault. But I improved the helper class for multi-threaded tests. Later I can share it so that you add an example to the documentation. If it is interesting.

[2019-10-14 15:54] TimirP commented on #54
I'm looking for something so that I can run BenchmarkDotNet as Azue WebJob or though Azure Build Pipeline. I would like to benchmark performance of my application running on Azure and Accessing azure resources. I can run it from my development machine.

[2019-10-15 18:40] bitbonk commented on #1151
But what does Workload*Result* tell me? As opposed to Workload*Actual*.

[2019-10-15 19:33] bitbonk opened #1282 "Understanding the BenchmarkDotNet output"
When I run a simple benchmark I get an output that starts with *WorkloadWarmup* iterations output followed by *WorkloadActual* iterations output followed by *WorkloadResult* iterations output and at the end there is always an entry about garbage collection in the form *GC:*  *3* *1* *0* *10707640* *1*.

I have the following questions about this:

1. Why are there warmup iterations? Is it to make s

[2019-10-15 19:34] bitbonk commented on #1151
https://github.com/dotnet/BenchmarkDotNet/issues/1282

[2019-10-16 06:41] adamsitnik commented on #1282
Hi @bitbonk

We have an explanation for that in our docs: https://benchmarkdotnet.org/articles/guides/how-it-works.html

Please let me know if the doc page answers all your questions.

[2019-10-16 09:48] bitbonk commented on #1282
I have read this documentation and also tried to parse the pseudocode there before I came here. I don't think it answers any of my specific questions.

[2019-10-16 10:12] adamsitnik commented on #1282
We can't make any assumptions about the benchmarked code: if it's using some cache or any heuristics that affect the execution time so we run the Wamup stage until the results get stable (afair the minimum number of warmup iterations is six).

The advantage of this is that we got Tiered JIT support out of the box, without any changes to the source code of BenchmarkDotNet.

You obviously might not

[2019-10-16 11:35] bitbonk commented on #1282
Thank you very much for the detailed answer. 👍

[2019-10-16 11:35] #1282 closed

[2019-10-16 16:08] JeffreyZhao opened #1284 "Group by benchmark class in joined summary"
Let's say I have a benchmark like:

[code]

When I run with `--join` it shows a summary like:

|         Type | Method |      Mean |     Error |    StdDev |
|------------- |------- |----------:|----------:|----------:|
| MyBenchmark1 |      A |  6.536 ns | 0.0768 ns | 0.0680 ns |
| MyBenchmark2 |      A | 27.053 ns | 0.2639 ns | 0.2469 ns |
| MyBenchmark1 |      B |  1.450 ns | 0.0439 ns | 0.0411

[2019-10-16 17:44] FrantzUml opened #1285 "Issue with .Net Core version 3.0"
With BenchmarkDotNet version V0.11.5, and a solution using Core 3.0, the benchmark cannot find the dll.
This one is in the same folder as the executable.
BenchMark searchs on the C: drive as the executable is on the D:

[2019-10-17 06:28] adamsitnik commented on #1285
Hi @FrantzUml

We need a full log to be able to help you.

[2019-10-19 15:36] Oxylibrium commented on #1270
Sorry I had to drop out on it :(
Fell really ill and now I need to catch up on IRL stuff too, apologies ,w,

[2019-10-20 13:16] adamsitnik commented on #1270
@Oxylibrium no problem! thanks for letting me know

[2019-10-21 09:07] adamsitnik opened #1288 "Fix Hardware Counters diagnoser"
I've tried to use Hardware Counters diagnoser today and I've failed to get it working.

The person who would like to fix it should most probably:

1. Make sure that this is not an OS bug. I am using preview Windows builds and it can be just an OS bug.

Try running a "Hello World" example:

Install both our packages from the [CI feed](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly):

[2019-10-21 09:52] terrance00 commented on #1288
Hi, I've forked and am working on this.

[2019-10-21 09:59] adamsitnik commented on #1288
@terrance00 great! please let me know when something is not clear

[2019-10-21 21:18] terrance00 commented on #1288
I assumed we actually needed a `Benchmark` attribute on the `Simple` method.

I added a smaller iteration count, because I have no patience.

And ran the tests for a .net core and .net framework console app.

Output from .net framework:
[code]

Output from .net core:
[code]

So, seems like it might be a bug on your side? I noticed the dotnet preview version you were using as well - perhaps try usi

[2019-10-21 21:38] RealDotNetDave commented on #1238
Awesome. Let me know when it's completed, so I can test.

[2019-10-21 21:52] RealDotNetDave commented on #1202
Here is the result:
BenchmarkDotNet=v0.11.5.1197-nightly, OS=Windows 10.0.17763.805 (1809/October2018Update/Redstone5)
Intel Core i7-7660U CPU 2.50GHz (Kaby Lake), 1 CPU, 4 logical and 2 physical cores
.NET Core SDK=3.0.100
  [Host] : .NET Core 3.0.0 (CoreCLR 4.700.19.46205, CoreFX 4.700.19.46214), X64 RyuJIT

[2019-10-22 19:42] silkfire opened #1289 "How to config to not save .log files?"
I don't like the .log files littering my output directory, is there a way to not generate them on every benchmark run?

I've tried to disable exporters but that didn't help.

[2019-10-23 10:03] Tomcooper12 commented on #1285
Taking some guessing as to what this issue is but I had a similar experience getting the following error on a fresh .NET core 3 app:

[code]

Updating the targets in the csproj allows the core 3 app to run but it will still benchmark against core 2.1 by the looks of things:

[code]

[2019-10-23 19:12] adamsitnik opened #1290 "BenchmarkRunner should support parsing console line arguments"
As of today, only `BenchmarkSwitcher` supports console line arguments.

`BenchmarkRunner` should support it as well.

It would be also great to detect a situation when a user has passed some BDN arguments to the console app but forgot to pass it to BDN. We could do it by checking the `Environment.GetCommandLineArgs()`. I've seen it happen many times ;)

[2019-10-23 19:22] adamsitnik commented on #1288
@terrance00 great, thanks for trying it. It means that something is wrong on my side (either Windows bug or hardware issue)

Could you please test [Hardware Counters with Dissasembly Diagnoser](https://adamsitnik.com/Disassembly-Diagnoser/#the-ultimate-combination)? I guess that it got broken some time ago.

[code]

Such config (using both HadrwareCounters diagnoser and DissasemblyDiagnoser) shoul

[2019-10-24 10:29] chan18 commented on #1290
Hey, @adamsitnik , looks like pretty good first issue.

if i understand correctly, need to parse/check args passed to ``` BenchmarkRunner  ``` CLI!

What you mean by BDN arguments? BDN?

[2019-10-24 12:01] adamsitnik commented on #1290
Hello @chan18

As of today, our users can pass `args` from `Main` only to `BenchmarkSwitcher`:

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/src/BenchmarkDotNet/Running/BenchmarkSwitcher.cs#L56

The goal of this issue is to extend `BenchmarkRunner.Run` with a possibility to accept `args` as well:

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5

[2019-10-24 12:19] chan18 commented on #1290
i believe passing args to
[code]
is not enough.

* need to handle them?( implementing what each args need to do) and related test cases!
* What are valid args? for BenchmarkRunner.run().

[2019-10-24 12:24] adamsitnik commented on #1290
I am sorry for not making it clear. Yes, handling the args is part of the task.

You can take a look at how we handle it in BenchmarkSwitcher:

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/src/BenchmarkDotNet/Running/BenchmarkSwitcher.cs#L69

After the args are parsed successfully, you merge the passed and parsed args:

https://github.com/dotnet/Benchmark

[2019-10-24 13:46] chan18 commented on #1290
``` BenchmarkSwitcher.cs `` is using ``` filteredBenchmarks ``` from
[code]
 where has  ``` BenchmarkRunner  ``` is using
``` BenchmarkConverter.TypeToBenchmarks(type, config) ```
which intern uses  it's won ``` filteredBenchmarks ``` from config.
I think it has to be the same for ``` BenchmarkRunner  ```.

[2019-10-24 13:52] antrv opened #1291 "MemoryDiagnoser reports weird results for .NET Core 3.0"
Hi
I'm running the same benchmarks for .NET 4.8 and .NET Core 3.0.
The benchmarked method allocates MemoryStream with 200MB capacity and then fills it with data.

MemoryDiagnoser reports about this allocation correctly for .NET 4.8: Allocated Bytes =  204832.12 KB, but shows strange results for .NET Core 3.0: Allocated Bytes = 27.8 KB.

[2019-10-24 15:32] adamsitnik commented on #1291
Hello @antrv

Please see https://github.com/dotnet/BenchmarkDotNet/pull/1155 for a full answer

We have published a `0.12.0` version that uses the new .NET Core 3.0 API 1h ago. Please update.

[2019-10-24 15:32] #1291 closed

[2019-10-24 15:34] adamsitnik commented on #1285
https://github.com/dotnet/BenchmarkDotNet/pull/1233 improved the .NET Core version detection

We have published a `0.12.0` version with the fix I 1h ago. Please update.

[2019-10-24 15:34] #1285 closed

[2019-10-24 16:29] AndreyAkinshin commented on #1137
@Ant-hem it's already live!

[2019-10-24 16:43] adamsitnik commented on #1289
This was implemented in https://github.com/dotnet/BenchmarkDotNet/pull/1252 and released as part of 0.12.0 to nuget.org today. Please update.

[2019-10-24 16:43] #1289 closed

[2019-10-24 17:13] adamsitnik commented on #1290
Hmm I think that if the user has provided some filters, then they should be used first. If none were provided, then we should use the current BenchmarkRunner behaviour

[2019-10-24 17:51] silkfire commented on #1289
Thanks, @adamsitnik. I just upgraded to v0.12.0, but it seems that the `Set` method on `Options` doesn't exist. Am I doing something wrong?

![image](https://user-images.githubusercontent.com/1554615/67511604-96ae2300-f697-11e9-92f9-da62fc8ff573.png)

[2019-10-24 17:54] adamsitnik commented on #1289
ups, the `Set` method is internal

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/src/BenchmarkDotNet/Configs/ConfigOptions.cs#L42

The good news is that you can just call `Options = ConfigOptions.DisableLogFile;`

/cc @CodeTherapist

[2019-10-24 19:19] chan18 commented on #1290
so,
https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/src/BenchmarkDotNet/Running/BenchmarkSwitcher.cs#L109

and

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/src/BenchmarkDotNet/Running/BenchmarkRunnerDirty.cs#L77

is not the same thing?

i mean, ``` BenchmarkRunnerClean.Run(filteredBenchmarks); ``` we just pass it t

[2019-10-24 20:50] hansSweden opened #1293 "Getting started"
I have problems in getting started with BenchmarkDotNet. If I need to use in Windows, should I execute it from the command line or from Visual Studio.

I think that I successfully installed it by using build.bat. I hope this.

Now, If I need to use it from the command line, what is the command line and in which folder I can find it ?

Thanks in advance for every help :-)

[2019-10-25 11:04] adamsitnik commented on #1293
Hello!

BenchmarkDotNet is a library (not an executable). So the first thing you need to do is to create a .NET console app and install BenchmarkDotNet. You can install it using [NuGet](https://docs.microsoft.com/en-us/nuget/what-is-nuget).

[This docs](https://docs.microsoft.com/en-us/nuget/quickstart/install-and-use-a-package-in-visual-studio) show how to install a sample NuGet package using Vis

[2019-10-26 21:32] Konard opened #1295 "Custom format/culture for report output values (for CSV, and maybe HTML, MD)"
At the moment in CSV, HTML, and MD version of reports I get the time in the formated like `6,114.79 ns`.
But each time I have to convert it into `6114,79` manually for my local culture (ru-RU) to be able to use these values for building the diagrams in both Google Docs and Microsoft Excel.
Without the conversion, these programs refuse to understand the values.
Related to #1100.

So is there a way

[2019-10-28 08:35] namnik opened #1296 "run BenchmarkDotNet in asp.net core webapi application type"
I saw all examples that run in console app by calling :
<code>
BenchmarkRunner.Run<ForSpeed>();
</code>

can call this code in webapi? can call BenchmarkRunner  into asp.net core weapi application?
 **note:**
I need to benchmark my classes that have  multiple inject.
with console app my IOC injection corrupted!

[2019-10-28 17:02] AndreyAkinshin commented on #1028
@am11 official template was published a few days ago: https://www.nuget.org/packages/BenchmarkDotNet.Templates/

[2019-10-28 17:08] TheAngryByrd commented on #1028
I just marked my github repo as archived and my nuget package as deprecated.

[2019-10-28 17:12] AndreyAkinshin commented on #1028
@TheAngryByrd great, thanks!

[2019-10-28 18:23] am11 commented on #1028
Thank you @AndreyAkinshin! 🎉

[maybe not a huge deal but..]
IMHO, the template should be in a runnable state with these additions:

<details>
  <summary>Click to expand</summary>

[code]
</details>

So the getting started steps would look like:

[code]

[2019-10-28 18:44] TheAngryByrd commented on #1028
there's a CLI flag for that with the template `--console-app`

[code]

I know I missed it the first time.  I could argue for it being the default too :)

[2019-10-28 19:05] CodeTherapist commented on #1028
Thanks @am11 and  @TheAngryByrd for your feedback and question. I'm happy to help.
The template has this "runnale state" as an option when you create the new project (docs):

[code]

Alternatively, you could install and use the the global [BenchmarkDotNet tool](https://www.nuget.org/packages/BenchmarkDotNet.Tool/) and invoke the benchmarks from the CLI (Docs).

BenchmarkDotnet will strengthen it's

[2019-10-28 19:43] am11 commented on #1028
Great! Thanks for your help and documentation. 👍

[2019-10-29 10:02] yahorsi opened #1297 "Question/Feature Request: Explicit Config, DefaultConfig.Instance & COMPLUS_TieredCompilation"
Hi Guys,

I'm trying to run the benchmark on the 3.0 and tiered jit matters, so, I'd like to make sure all benchmarks run in tier 1 and so I have to set COMPLUS_TieredCompilation. In order to do so I use following config:
[code]

The problem is that using such config I actually have 2 different jobs, 1 that is "default" without COMPLUS_TieredCompilation set and another one with COMPLUS_TieredCompi

[2019-10-29 10:28] iitaiy opened #1299 "[Questions] Using BenchmarkDotNet for performance regression tests"
Hi,

I want to use the BenchmarkDotNet for performance regression tests.
For example, check that run of method doesn't take more than 500 ms.
Do you have an example of it?

In addition, how do you measure the time of each operation? Do you use stopwatch? Or do you use Process.TotalProcesserTime?

Thank you for the help,
Itai

[2019-10-29 10:37] yahorsi commented on #1297
Update, the problem was caused by how I was running benchmarks.
I had config made in code and in the same time 2 was running benchmarks using
[code]
that, as I understand, adds "default" job

It is still very confusing how to run benchmarks on the multiple frameworks, what command-line switch --runtimes means and what it affects and how it related to the config mane in code. And even more, we have

[2019-10-29 17:09] adamsitnik commented on #1138
No response to my question since April, closing

[2019-10-29 17:09] #1138 closed

[2019-10-29 17:10] adamsitnik commented on #1099
No response since September, closing.

[2019-10-29 17:10] #1099 closed

[2019-10-29 17:11] adamsitnik commented on #1023
@JamesNK do you know if this is still a problem?

[2019-10-30 02:54] JamesNK commented on #1023
It now works.

[2019-10-30 02:54] #1023 closed

[2019-10-30 06:57] adamsitnik commented on #1023
@JamesNK thanks!

[2019-10-31 16:38] SteveSyfuhs opened #1303 "FileNotFoundException for System.Management"
I have a .NET Core 3.0 console app running a benchmark. It was working as expected on 0.11.5 but as soon as I upgraded to the latest package (0.12.0) I get this exception on completion:

[code]

The code is here: https://github.com/SteveSyfuhs/Kerberos.NET/blob/master/Benchmark.Kerberos.NET/Stress.cs, BUT I have commented out the `[EtwProfiler]` attribute on the Stress class. If you're looking to

[2019-10-31 17:16] adamsitnik commented on #1303
hello @SteveSyfuhs

Have you tried running a clean build (all bin and obj folders deleted) after the update?

[2019-10-31 17:42] SteveSyfuhs commented on #1303
Well, I thought I had. I retried after deleting bin and obj and it worked. 🤦‍♂️ Thanks. Closing.

[2019-10-31 17:42] #1303 closed

[2019-10-31 18:42] luckerby opened #1304 "Constructor Time Resulting In Mixed Results"
Under BDN v0.11.5, consider a class with 2 methods marked for benchmark, and one constructor that essentially just burns CPU time - without any bearing on the 2 methods -, as such:
[code]

If I run this with `BenchmarkRunner.Run<UnderTest>()` I get the results below:
![image](https://user-images.githubusercontent.com/31319583/67975294-7abcfb00-fc1c-11e9-886e-aa710b3783a1.png)

Clearly either (1) t

[2019-10-31 19:29] adamsitnik commented on #1304
Could you please share you BDN config? It looks like you are configuring BDN to run only a single iteration, which is **very bad**. Performance is never a single number, you should be comparing distributions with at least 15 iterations.

![image](https://user-images.githubusercontent.com/6011991/67979424-83153600-fc1c-11e9-81a7-8ace2ebfcd67.png)

[2019-10-31 19:32] adamsitnik commented on #1304
Could you please use the default config, re-run the benchmarks and share the results?

[2019-10-31 21:30] luckerby commented on #1304
Re-running using the default config. Results are given in the same order as the original post:

![image](https://user-images.githubusercontent.com/31319583/67987377-e9f31900-fc35-11e9-8149-64cb5bc74fc5.png)

![image](https://user-images.githubusercontent.com/31319583/67987336-caf48700-fc35-11e9-8db1-347684f05a8f.png)

@adamsitnik I was getting the same results using the default config in my initia

[2019-11-03 20:59] luckerby commented on #1304
I did some profiling (dotTrace/PerfView) against the 2 scenarios and got a glimpse into what's actually going on.

Before diving into each scenario:
-  `JustDefineAnArrayList` should allocate around 38 MB on each run, equivalent to 40 mil bytes (10 mil elements x 4 bytes/int on 32-bit target platform) plus some bytes due to overhead for the internal ArrayList structures
- dotTrace will mark blocki

[2019-11-04 09:33] adamsitnik commented on #1304
@luckerby thank you for the full explanation.

This is one of the reasons why BDN runs every benchmark in a stand-alone process - to make sure that things like gen budgets and self-tuning nature of GC does not affect other benchmarks.

But when it comes to things allocated in ctor/setup and the way they affect the benchmark iterations - there is very little we can do.

[2019-11-04 10:17] adamsitnik commented on #1166
I think that it's out of scope of a micro-benchmarking tool.  There are tools designed for testing web servers and generating user load, and @karanbhamra should simply use a different tool.

[2019-11-04 10:17] #1166 closed

[2019-11-04 10:21] adamsitnik commented on #1121
Hi @feO2x

Please excuse me for such a delay.

I think that this is out of scope of BenchmarkDotNet, you should use a profiler to get this information.

As @WojciechNagorski suggested, you should most probably use Concurrency Visualizer

Also, PerfView can help a bit: https://channel9.msdn.com/Series/PerfView-Tutorial/Tutorial-12-Wall-Clock-Time-Investigation-Basics

[2019-11-04 10:21] #1121 closed

[2019-11-04 11:55] kant2002 opened #1305 "Copy UserSecrets from benchmark project"
If I understand correctly you create special projects which compiled on the fly to make benchmarking properly. I manage some configuration data using User Secrets and newly created projects does not have User Secrets attribute attached to it.

Would be good to copy UseSecrets attribute to the generated projects so they have access to this features during testing.

[2019-11-04 14:05] adamsitnik commented on #1305
Hi @kant2002

Could you please provide a small repro? A simple project file with a benchmark that uses the secrets would be perfect (I don't know how to repro the problem and how to test it)

[2019-11-06 18:04] luckerby commented on #1304
@adamsitnik - I was thinking about some "look-at-this-tricky-sample-where-you-wouldn't-expect-these-strange-results" example mentioned somewhere in the docs. So people that benchmark and get "wrong" results because of the GC don't quickly point their finger at BDN.

A counter argument could be that if one uses BDN, it's kind of implied that she/he has some connection with the notion of performance

[2019-11-08 08:37] PeterHuberSg opened #1306 "Mistake in Overview.md, missing example of multiple tests each in its own file"
https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/overview.md:

The article writes: "The `BenchmarkRunner.Run<Md5VsSha256>()` call runs your benchmarks … "

However,  I cannot find "`BenchmarkRunner.Run<Md5VsSha256>()`", only "`BenchmarkRunner.Run(typeof(Program).Assembly)`".

But my real problem is this: In the first example you have a Program class with Main() and a Md5VsSha256

[2019-11-08 10:53] PeterHuberSg commented on #1306
Funny enough, after spending a day trying without success and then posting here, suddenly it works to have a test in another file. It would have helped, if Overview would state that the tests can be in any file.

For an experienced user, it seems normal that the test can be in any file. For a new user, it looks like magic and it is very different from how the developer usually tells Visual Studio

[2019-11-11 19:36] chan18 commented on #1290
@adamsitnik i think this will address the overloading. Please check/review the code.
Thank you!

[2019-11-12 09:47] wdolek commented on #1306
There's still space for improvements :)

Running single benchmark (getting quickly results):
[code]

Running/discovering benchmarks withing _current_ assembly (you can reference _any_ assembly containing benchmarks of course, see next example):
[code]

Running/discovering benchmarks from multiple assemblies (so it's even possible to categorize your benchmarks other than using `BenchmarkCategoryAtt

[2019-11-12 22:17] xposure opened #1308 "Strange float performance issues near zero"
Wasn't sure where else to ask this and I figured a lot of people here have experience with benchmarks showing odd behaviors.

In short, I have a benchmark that does nothing more than multiple a vector float by a const value of 0.016. After several iterations of the benchmark, it becomes almost 10x slower. I must be something to do with the float approaching zero but I have no idea. I couldn't find

[2019-11-12 22:20] xposure commented on #1308
Just a note, this is on a decent desktop machine with a i7, my initial thought when i came across this is perhaps the fan on my CPU is failing and is being throttled under load or something extreme until I realized how easy this was to reproduce.

I should note, that if you reset the data between each iteration, the problem does not exist. This is why I am assuming it has something to do with the

[2019-11-12 22:24] xposure commented on #1308
Well perhaps I found the answer to my own question, but I'll leave this here for someone else to chime in for a little bit if they'd like.

This seems to be the suspect
https://stackoverflow.com/questions/9314534/why-does-changing-0-1f-to-0-slow-down-performance-by-10x

[2019-11-13 09:40] AndreyAkinshin commented on #1308
@xposure I'm glad that you found a problem!

By the way, in [Pro .NET Benchmarking](https://aakinshin.net/prodotnetbenchmarking/), you can find a whole section about denormalized numbers with reproducible examples, step-by-step explanations, and description of corner cases.

[2019-11-13 09:40] #1308 closed

[2019-11-14 10:13] AndreyAkinshin commented on #1202
@RealDotNetDave could you please check BenchmarkDotNet v0.12.0? Do you still have the original problem?

[2019-11-14 16:37] wdolek commented on #1305
Hi @kant2002, tried to reproduce your issue using both:

- `<UserSecretsId>...</UserSecretsId>` in `.csproj`
- `[assembly:UserSecretsId("...")]`

but benchmark got loaded properly (and value from user secrets has been read). As you say, there's temporary project created (`BenchmarkDotNet.Autogenerated.csproj`), but that one just references original project.

Could you please provide code which rep

[2019-11-14 16:42] kant2002 commented on #1305
Thanks for reminder. Let me make repro. I temporary forgot about it.

[2019-11-14 22:52] kant2002 commented on #1305
See https://github.com/kant2002/BenchDotNetUserSecrets for example how to reproduce the issue
Expectations after `dotnet run -c Release`

## No override

[code]

Values significantly different

## Override in UserSecrets

`secrets.json`
[code]

Expectations
[code]
Two values close to each other. Comparable to version without overrides.

Unless I'm missing something very obvious, but I canot make i

[2019-11-15 08:36] wdolek commented on #1305
@kant2002 Nice! Wanted to suggest that change but then wasn't able to reproduce your issue - I was creating configuration (including calling of `AddUserSecrets`) manually, so I _guess_ I didn't mimic host environment behavior properly.

[2019-11-15 08:53] kant2002 commented on #1305
Man find the bug - man fix the bug :smile:

[2019-11-15 09:37] #1305 closed

[2019-11-17 14:16] luckerby opened #1310 "Removal of Outliers"
According to the "How it works" page [here](https://benchmarkdotnet.org/articles/guides/how-it-works.html), the 'Result' entries in BDN's output will be the 'ActualWorkload' ones minus the computed overhead.

Consider the following relevant output following a BDN run (full text output is [here](https://gist.github.com/luckerby/a34715c4bfd12f5db707df145c39ca66)):
![image](https://user-images.github

[2019-11-18 09:20] filipnavara opened #1311 "Spelling nit"
"takes to long to run" -> "takes too long to run". It's present on at least 3 places in the source code.

[2019-11-18 11:56] #1311 closed

[2019-11-18 11:56] AndreyAkinshin commented on #1311
@filipnavara thanks for the report!

[2019-11-18 12:08] filipnavara commented on #1311
Thanks for fixing it!

[2019-11-19 08:37] adamsitnik commented on #1197
FWIW this does not solve the problem (tested myself)

[2019-11-19 09:58] filipnavara opened #1312 "Add an option to pass environment variables to the default job"
When testing against the mono/netcore runtime we often want to run the actual benchmark with specific runtime configuration. This is achieved through setting the `MONO_ENV_OPTIONS` environment variable. However, we also want to use different `MONO_ENV_OPTIONS` when running `dotnet restore` or `dotnet build` for performance reasons. It would be nice to allow some way to inject the environment varia

[2019-11-19 16:37] adamsitnik commented on #1312
@EgorBo ok, so I've transferred the issue to BDN repo

@filipnavara could you please write some proposal? Would sth like this be enough?

[code]

[2019-11-19 16:39] filipnavara commented on #1312
Yep, it would be.

[2019-11-19 17:21] adamsitnik commented on #1312
https://github.com/dotnet/BenchmarkDotNet/pull/1313

[2019-11-19 19:25] #1312 closed

[2019-11-20 11:01] am11 opened #1314 "Best way to benchmark steps of recursive methods"
#### General question

Is it possible to benchmark each step of recursive method separately (using annotations or manual customization)?
more fundamentally; (if we remove the recursion, by duplicating code) is there a way to separately benchmark each method, called by the main/entrypoint benchmark method?

#### Specific scenario

I am trying to benchmark "time spent on each server in HTTP redirect

[2019-11-20 17:00] adamsitnik opened #1315 "Implement cross platform EventPipeProfiler diagnoser"
`EtwProfiler` is very popular, but works only on Windows. .NET Core 3.0 shipped with some new cool diagnostics features and tools. We can use the new diagnostics tooling to allow for profiling benchmarks on Linux and macOS.

We have two options:

* use [Microsoft.Diagnostics.NETCore.Client](https://github.com/dotnet/diagnostics/pull/617) library
* use [dotnet trace](https://github.com/dotnet/diagn

[2019-11-20 17:36] adamsitnik opened #1316 "Implement Unix Disassembler for .NET Core"
As far as I understand, we could use

- EventPipe (shipped with .NET Core 3.0) to emit .NET Runtime events on Unix
- TraceEvent to consume [MethodILToNativeMap](https://github.com/microsoft/perfview/blob/f35dccc88a2e6d467d26411bb09705375b823b9d/src/TraceEvent/Parsers/ClrTraceEventParser.cs#L1138) events
- Get the `IL` and native code map:
    - use Mono.Cecil to turn byte representation of IL to t

[2019-11-20 17:47] WojciechNagorski commented on #1315
I would like to do it. I thought about dotnet trace, as you know 😉

[2019-11-20 17:50] adamsitnik commented on #1315
Awesome! I've assigned you :)

[2019-11-20 21:36] AraHaan opened #1317 "The new benchmarks stuff is confusing."
Ok so I god an old benchmark project that targets:

```netstandard2.0;netcoreapp3.0;netcoreapp2.2;netcoreapp2.1;netcoreapp2.0;net461;net462;net47;net471;net472```

Before the update to the latest BDN it worked fine; after that it says ``ClrJobAttribute`` is deprecated and now it also says it does not allow ``baselike: true`` passed in it like I do in my code.

Was this change so that I could bench

[2019-11-20 21:50] maciejw opened #1318 "use of NugetReference[] causes System.MissingMethodException: No parameterless constructor defined for this object."
in case of someone has this problem

[code]

I got this with this code

[code]

this fixes it

[code]

[2019-11-21 06:53] adamsitnik commented on #1317
You should have read our release notes, everything is explained there: https://benchmarkdotnet.org/changelog/v0.12.0.html

![obraz](https://user-images.githubusercontent.com/6011991/69314267-04685300-0c34-11ea-8e65-19667a8b668c.png)

https://benchmarkdotnet.org/changelog/v0.12.0.html#advanced-multiple-target-frameworks-support

[2019-11-21 06:53] #1317 closed

[2019-11-21 07:04] #1318 closed

[2019-11-21 07:05] adamsitnik commented on #1318
@maciejw thank you! I've pushed a fix that requires the user to always provide `NuGetReferenceList`, not `IReadOnlyCollection<NuGetReference>`

[2019-11-21 07:33] adamsitnik commented on #1314
Hi @am11

Benchmarking tool can tell you how long it took to execute a given code, while a profiler can tell you where the time was spent exactly.

BenchmarkDotNet was designed to allow for simple micro|nano benchmarks. So we just run the code many times and print statistics. We can't tell where the time was spent exactly, you would need to use a profiler.

If I were you I would check for some web

[2019-11-21 07:33] #1314 closed

[2019-11-21 11:26] maciejw commented on #1318
thanks, great, this way there is no ambiguity

[2019-11-21 11:43] asen-arizanov-86 opened #1319 "[Questions] Is there a context inside Setup And Cleanup methods"
Hi,

Is there some kind of context inside the Setup And Cleanup methods? I need to know which is the target benchmark method.

For example NUnit provides NUnit.Framework.TestContext.CurrentContext which can be used by TestContext.CurrentContext.Test.Name.

10xs!

[2019-11-21 12:06] adamsitnik commented on #1319
Hello @asen-arizanov-86

There is no Context, but you can tell BDN which setup belongs to which benchmark by using the `Target` property:

https://benchmarkdotnet.org/articles/features/setup-and-cleanup.html#sample-introsetupcleanuptarget

[code]

[2019-11-22 07:55] #1319 closed

[2019-11-25 14:46] WojciechNagorski commented on #1315
I have been doing the `EventPipeProfiler` and I've found a problem with `dotnet trace`. There is an issue https://github.com/dotnet/diagnostics/issues/645

When I run `dotnet trace` in the same console without output redirection I get an output file.
So currently this issue is blocked.

[2019-11-25 14:53] WojciechNagorski commented on #1316
@adamsitnik Because #1315 is blocked I would like to take this one too. Is this issue free?

[2019-11-25 18:38] RealDotNetDave commented on #1202
Sure. I will run the tests to check it.

[2019-11-25 18:55] RealDotNetDave commented on #1202
Looks like it's working now:
[code]

[2019-11-25 21:05] AndreyAkinshin commented on #1202
@RealDotNetDave hooray!

[2019-11-25 21:05] #1202 closed

[2019-11-27 05:47] adamsitnik commented on #1316
It's still up for grabs. However, I am not sure whether `Microsoft.Diagnostics.NETCore.Client` is already available as NuGet package, so you need to confirm it first. Thanks!

[2019-11-27 08:38] WojciechNagorski commented on #1316
You're right but I'm going to start with my local build of `Microsoft.Diagnostics.NETCore.Client` from https://github.com/dotnet/diagnostics/pull/617

![image](https://user-images.githubusercontent.com/17333903/69706863-e2217a00-10f8-11ea-9928-0f6ad2269146.png)

In this comment https://github.com/dotnet/diagnostics/issues/645#issuecomment-558345643 I got information:

[2019-11-27 12:24] Lonli-Lokli commented on #305
As an addition to the request, there is a package with storing information regarding tests - https://github.com/approvals/ApprovalTests.Net

All tests are stored as text tables.

[2019-11-28 12:02] samueldjack commented on #806
I was able to get this scenario working by doing two things:

1. Adding the following to the csproj file for my benchmark exe to ensure that the deps.json file gets copied in:

        <Target Name="CopyDepsFiles" AfterTargets="Build">
          <ItemGroup>
            <DepsFilePaths Include="$([System.IO.Path]::ChangeExtension('%(_ResolvedProjectReferencePaths.FullPath)', '.deps.json'))" />

[2019-12-05 09:28] Vermistuk opened #1323 "DisassemblyDiagnoser index outside array bounds"
Hello, thank you for your great tool.
I want to report a error that I'm experiencing with the DisassemblyDiagnoser.

I'm getting a index outside array bounds exception when running this bench:

[code]

[2019-12-05 17:55] AndreyAkinshin commented on #1310
@luckerby currently (BenchmarkDotNet v0.12.0), we use [Tukey's fences](https://en.wikipedia.org/wiki/Outlier#Tukey%27s_fences) to detect outliers, you can find the relevant source code [here](https://github.com/dotnet/BenchmarkDotNet/blob/v0.12.0/src/BenchmarkDotNet/Mathematics/Statistics.cs#L66). Speaking of "Pro .NET Benchmarking", it's described in Chapter 4 "Statistics for Performance Engineer

[2019-12-05 17:55] #1310 closed

[2019-12-05 18:07] AndreyAkinshin commented on #1274
@valentinoNguyen before BenchmarkDotNet starts to execute actual iterations, it performs a few additional stages like Jitting, Pilot, and Warmup. Plus, we have additional iterations for overhead evaluation. If you want to disable all of these iterations, you should use `RunStrategy.ColdStart`. Here is an example:
[code]
It will perform a single iteration that contains 100 invocations of your metho

[2019-12-05 18:07] #1274 closed

[2019-12-06 13:20] AndreyAkinshin commented on #1323
Hello @Vermistuk, thanks for the report. I tried to reproduce the issue on my local machine, but everything works fine. We need some additional details for investigation:
1. In your code snippet, you apply `CustomConfig` to your class, but there is no the definition of `CustomConfig`. Could you share it as well?
2. Could you share your environment info (the version of BenchmarkDotNet, OS, versions

[2019-12-06 13:43] Vermistuk commented on #1323
Sorry @AndreyAkinshin ,
the Config:
[code]

A custom HtmlExporter which only adds the legends (code just copied from the logger):
[code]
The program.cs only contains the Benchmarker.Run<MyClass>()

The exception:
[code]

[2019-12-06 15:09] AndreyAkinshin commented on #1323
@Vermistuk thanks, reproduced.

[2019-12-06 15:32] #1323 closed

[2019-12-06 15:35] AndreyAkinshin commented on #1323
@Vermistuk thanks for the repro, fixed. The fix will be available in the next official version of BenchmarkDotNet. Currently, you can use our [nightly](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly) channel, the fix will be available as soon as [this build](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/29366867) is finished.

[2019-12-07 07:17] sywhang commented on #1315
@WojciechNagorski `Microsoft.Diagnostics.NETCore.Client` is now available as a nuget package here: https://www.nuget.org/packages/Microsoft.Diagnostics.NETCore.Client/0.1.0-preview.19606.2

Thought I'd let you know since I know you were blocked by this :)

[2019-12-07 08:41] AndreyAkinshin commented on #1315
Unfortunately, we can't reference prerelease NuGet packages in the release versions of BenchmarkDotNet. @sywhang any estimates for the release version of `Microsoft.Diagnostics.NETCore.Client`?

[2019-12-08 14:51] valentinoNguyen opened #1324 "Add more infos to report"
Is there anyway in BenchmarkDotnet that I can add more information into the final report beside the params and the MEAN ?

What I want to achieve is that I want to measure also how big data that it returns from my test query beside the benchmark.

Thank you in advance :)

[2019-12-08 15:53] AndreyAkinshin commented on #1324
Hello @valentinoNguyen. Could you please provide a more specific example of what you want?

[2019-12-09 04:55] valentinoNguyen commented on #1324
Hi @AndreyAkinshin ,
I have a set of benchmark testcase with the input is a SQL query statement, the test will run this query against our server then return some data.

What I have now is the benchmark result export as csv and html format. I just wonder if I can add 1 more column on the report to tell how big data is returned.

[2019-12-09 08:29] WojciechNagorski commented on #1315
@sywhang Thanks! I'm going to use it to develop `EventPipeProfiler` but, as @AndreyAkinshin wrote, we should not use prerelease NuGet because of https://github.com/NuGet/Home/issues/2944.

[2019-12-09 08:35] WojciechNagorski commented on #1315
@AndreyAkinshin Did you noticed that I created new NuGet package `BenchmarkDotNet.Diagnostics.NETCore` with .NETCoreApp 2.1 target because of `Microsoft.Diagnostics.NETCore.Client` support only .NETCoreApp 2.1 target.

Couldn't we publish a new `BenchmarkDotNet.Diagnostics.NETCore` NuGet with reference to the pre-release version of `Microsoft.Diagnostics.NETCore.Client`? This new package could als

[2019-12-09 09:42] AndreyAkinshin commented on #1315
@WojciechNagorski to be honest, I don't like this idea. We already had such an experience of separate prerelease versions for some specific packages. It wasn't a pleasant experience because of the two following reasons:
1. Our infrastructure and release workflow become more complicated because we have to manage two different versions of our packages (release and prerelease).
2. Users are getting c

[2019-12-09 09:54] WojciechNagorski commented on #1315
@AndreyAkinshin You're right. I have to agree with your points.

[2019-12-09 16:19] adamsitnik commented on #1324
Hello @valentinoNguyen

BenchmarkDotNet runs every benchmark in a stand-alone process. This is why if you store something in a static field etc inside the benchmark you can not access it in a custom column of the host process.

Passing all kinds of results from one process to another is non trivial, we have an ongoing discussion about how to solve this problem in https://github.com/dotnet/Benchmar

[2019-12-09 16:19] #1324 closed

[2019-12-09 21:18] sywhang commented on #1315
@AndreyAkinshin

The preview tag is mainly there because I didn't want to put it out officially until enough customers have tried it and found it useful and validated it. Since this PR is one of the first few use cases of it, I'm hoping to remove the preview tag and push out the release version pretty soon (before end of the year).

[2019-12-10 08:28] adamsitnik commented on #1315
@sywhang this is great news! The most important thing for us it to have a NuGet package that is not marked as pre-release to avoid https://github.com/NuGet/Home/issues/2944#issuecomment-563416633. It can be called "beta" or "preview" or anything like this (if this helps on your side in any way)

[2019-12-10 11:08] damageboy commented on #1316
I actually think this isn't blocked at all.

I mean, I got [JitDasm](https://github.com/0xd4d/JitDasm) to work on my linux box (I make no claims about macOs).

I don't mind taking a stab at this either... I would approach it this way:

* Update to latest ClrMD
* Follow the guidelines for flushing the data target as set out in [ClrMD issue 303](https://github.com/microsoft/clrmd/issues/303)
* Remov

[2019-12-10 12:27] WojciechNagorski commented on #1315
@sywhang @adamsitnik So I'm going to finish this task this or next week.

[2019-12-10 12:30] damageboy opened #1325 "Surface native code size benchmarked code"
As we all know, we all **need** to care more about native code-size of our (benchmarked) code.

Currently, there is not enough attention given to this metric and to its importance in evaluating performance of a given benchmark/alternative. To be more exact, this metric is non-existent when it comes to BDN and most other benchmark harnesses (native and JIT'd).

While I, personally, have been aware

[2019-12-10 12:36] WojciechNagorski commented on #1316
@damageboy I think that I would be able to finish this task but if you want to do it you can take this task. I wanted to start the implementation of this task after https://github.com/dotnet/BenchmarkDotNet/pull/1321.

[2019-12-10 15:16] damageboy opened #1326 "BDN does not build using dotnet sdk from the command line in Linux"
When checking out master copy of BDN in Linux and issuing `dotnet build` the build fails due to missing reference assemblies on Linux.

[code]

Full build log:
https://gist.github.com/damageboy/09c715f9159f36d92813f31323d4b981

[2019-12-10 17:30] adamsitnik commented on #1316
If `Iced` works on Linux then we should definitely use it!

[2019-12-10 17:46] adamsitnik commented on #1325
If Iced works on every OS then we can just make it a part of https://github.com/dotnet/BenchmarkDotNet/issues/1316

The new diagnoser can just return a new metric that would be responsible for native code size.

https://github.com/dotnet/BenchmarkDotNet/blob/04a71586206a822bca56f0abdacefdc2e5fc1b01/src/BenchmarkDotNet/Diagnosers/IDiagnoser.cs#L26

The rest of BDN is going to print a nice column

[2019-12-11 14:50] damageboy commented on #1316
@adamsitnik It does. Have been using it on Linux for a few weeks now as part of JitDasm and JitBuddy.
So is CleMD, finally, although support is more fidgety.

So, in general, you approve of a path where we:
* Update ClrMD to latest nuget.
* Replace `IDebugControl` usage with direct usage of `Iced`
* Profit!

?

[2019-12-11 15:18] damageboy commented on #1325
I'm not 100% sure, but I think that just aggregating the information provided by `ClrMD` can be enough here to generate this metric.

The reason I'm making this distinction is that `Iced` is Intel only, while `ClrMD` *might* have a different support matrix.

For example, I have no idea what we'll use for Arm disassembly sometime in the future, but this specific metric might be available just with

[2019-12-11 16:44] adamsitnik commented on #1191
There are simply many, many places where we check for `public` things only. It's not only about removing this one check from `BenchmarkConverter`.

There are also many ways of running the benchmarks via `BenchmarkSwitcher` and `BenchmarkRunner` (users can provide assembly, type, call generic method etc).

For example, our recommended way is to pass an `Assembly` to `BenchmarkSwitcher`.

https://gi

[2019-12-11 16:47] adamsitnik commented on #1325
Do you propose to have a simple diagnoser that does not disassemble the code but just checks the native code size using `ClrMd`? I would prefer to just extend the disassembly diagnoser, but if it's hard or not-intutive then I am fine with having a new one.

Another thing to consider is in which methods sizes are we interested? Most probably giving the size of the benchmark method won't be enough i

[2019-12-11 17:50] damageboy commented on #1325
Right, this is another reason I was thinking about some sort of a separate diagnoser.
The reasoning would be that you would need to configure which assemblies to track.
In some cases it would be the benchmark ("Self"), in other cases you actually don't care at all about about the BDN code, but some specifc module ("SomeModuleName").

If we try to "plan" this feature out, it might look like:

[code

[2019-12-12 05:46] #1295 closed

[2019-12-12 05:49] #1326 closed

[2019-12-12 07:30] aelij commented on #1191
As I said, this is out of my control. Roslyn generates a class for each script and it's always internal.

The fact is that copying `BenchmarkConverter` into RP, removing the public checks, and using the `InProcessToolchain` **works**. What would be the downside in enabling this specific flow, even if others won't work? I will provide a working sample for my users.

[2019-12-12 08:44] VladimirFedorchenko7 opened #1328 "Invalid runtimeconfig.json in .NET Benchmark"
I have simple benchmark project(using BenchmarkDotNet lib) on .net core 3.1 that print Hello message to console. When project on disk D root the benchmark runs successfully, but if my project deeper in file system it fails with invalid runtimeconfig.json. Please, help me.

[2019-12-12 08:48] #1262 closed

[2019-12-12 08:58] AndreyAkinshin commented on #1328
@VladimirFedorchenko7 could you please share the source code of your project and the full text of the error?

[2019-12-12 09:06] VladimirFedorchenko7 commented on #1328
It is the code:
`using System;
using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Running;

namespace BenchmarkTest
{
    class Program
    {
        static void Main(string[] args)
        {
            BenchmarkRunner.Run<Test>();
        }
    }

    public class Test
    {
        [Benchmark]
        public void Run()
        {
            Console.WriteLine("Hello World!");
        }

[2019-12-12 10:19] AndreyAkinshin commented on #1328
@VladimirFedorchenko7 do you have spaces in the full path to your project?

[2019-12-12 11:49] VladimirFedorchenko7 commented on #1328
@AndreyAkinshin No, I have no spaces in the full path to my project.

[2019-12-12 12:10] AndreyAkinshin commented on #1328
@VladimirFedorchenko7 could you please show the content of your `*.runtimeconfig.dev.json` file?

[2019-12-12 13:09] VladimirFedorchenko7 commented on #1328
@AndreyAkinshin
`{
  "runtimeOptions": {
    "additionalProbingPaths": [
      "C:\\Users\\user\\.dotnet\\store\\|arch|\\|tfm|",
      "C:\\Users\\user\\.nuget\\packages",
      "C:\\Program Files\\dotnet\\sdk\\NuGetFallbackFolder"
    ]
  }
}`
It was generated automatically.

[2019-12-12 13:44] AndreyAkinshin commented on #1328
@VladimirFedorchenko7 ok, one more question: could you say the full path length of the `*.runtimeconfig.dev.json` file (including the file name)?

[2019-12-12 14:06] VladimirFedorchenko7 commented on #1328
@AndreyAkinshin  D:\Projects\MyProject\resources\Performance\Performance.Core\bin\Release\netcoreapp3.1\28fb67a8-6dfa-4475-bff6-ae9b4e31f3c6.runtimeconfig.dev.json

[2019-12-12 14:11] VladimirFedorchenko7 commented on #1328
@AndreyAkinshin In .NET framework benchmark was a problem with too long name of class. I solved this problem just changed the name to short one.

[2019-12-12 14:16] VladimirFedorchenko7 commented on #1328
@AndreyAkinshin But in Core project I can't solve this problem. Why did you close the question?

[2019-12-12 14:21] VladimirFedorchenko7 commented on #1328
@AndreyAkinshin I have two benchmark projects: on .NET Framework and .NET Core. In .NET Framework was a trouble with name lenght, I solved it, but I think it is a bug and must be fixed. In .NET Core project I can't solve this problem. Please, help me.

[2019-12-12 14:30] AndreyAkinshin commented on #1328
@adamsitnik any ideas what can be wrong with runtimeconfig?

[2019-12-13 11:59] adamsitnik commented on #1328
We have two different toolchains, one for .NET Core and one for Full .NET Framework.

The .NET Core toolchain creates files with longer paths. All the guids etc in the path of the auto-generated are to protect us from duplicates.

We don't generate `runtimeconfig.json`, it's generated by `dotnet cli` when we call `dotnet restore|build` from the toolchain.

I agree that the long path problem report

[2019-12-13 11:59] #1328 closed

[2019-12-13 12:20] adamsitnik commented on #1191
I've taken a brief look into `RoslynPad` source code. Do you mean that any time you create `CSharpParseOptions` with `Kind` set to `SourceCodeKind.Script` Roslyn generates an internall class and puts the content of the parsed code into it?

https://github.com/aelij/RoslynPad/blob/85cd0745bfe6b8f36bdae107593231fb37ab6d11/src/RoslynPad.Roslyn/Scripting/ScriptRunner.cs#L52-L54

Could you please creat

[2019-12-13 12:34] VladimirFedorchenko7 commented on #1328
@adamsitnik Thank you for helping. Enabling long path support resolved my problem.

[2019-12-13 14:12] Konard commented on #1295
Thank you 👍

[2019-12-13 21:50] Wizard2007 opened #1330 "ConfigOptions.JoinSummary didn't work"
Hi,
I want merge benchmark results.
I use
BenchmarkDotNet version="0.12.0"
targetFramework="net461"

`

            BenchmarkRunner.Run<MyBenchmark>(ManualConfig
                    .Create(DefaultConfig.Instance)
                    .With(ConfigOptions.JoinSummary)
                    .With(ConfigOptions.DisableLogFile));

            BenchmarkRunner.Run<MyBenchmark1>(ManualConfig

[2019-12-16 19:34] #1234 closed

[2019-12-17 09:52] adamsitnik commented on #1330
Hello @Wizard2007

`BenchmarkRunner.Run` stores no state between the runs.

To join the results from multiple types you need to pass all types|assemblies info to a single `BenchmarkRunner.Run` call.

Example:

[code]

[2019-12-17 09:52] #1330 closed

[2019-12-17 21:43] Wizard2007 commented on #1330
Thank you, it was very help full, and  I can solve my issue.
I use such code, to run only this two benchmark and join results.

`

       var config = ManualConfig.Create(DefaultConfig.Instance)
             .With(ConfigOptions.JoinSummary)
             .With(ConfigOptions.DisableLogFile);

        BenchmarkRunner.Run(new[]{
                BenchmarkConverter.TypeToBenchmarks( typeof(XorShiftBench

[2019-12-17 23:41] sywhang commented on #1315
@adamsitnik @WojciechNagorski
Release version of Microsoft.Diagnostics.NETCore.Client has been just pushed to NuGet:
https://www.nuget.org/packages/Microsoft.Diagnostics.NETCore.Client/0.2.61701

Let me know if there's anything I can help you with to get you unblocked!

[2019-12-17 23:58] RealDotNetDave opened #1333 "Getting "Unknown Processor" Again"
You did fix the previous issue where is shows "Unknown Processor" but it looks like it's back.

![String Equals Benchmark](https://user-images.githubusercontent.com/15676130/71044248-06fc8200-20e6-11ea-9230-81c0504796ae.jpg)

[2019-12-18 08:38] adamsitnik commented on #1315
@sywhang this is great news, thank you!

[2019-12-18 08:40] AndreyAkinshin commented on #1333
@RealDotNetDave ok, let's continue our experiments. Could you please run this line
[code]
in the same program that you use to run the benchmarks (before or after the BenchmarkRunner call).

[2019-12-18 15:34] WojciechNagorski commented on #1315
@sywhang @adamsitnik this task is not blocked anymore. I've just pushed new version. I have only one blocker it is my work. Currently benchmarkdotnet is only my hobby. I wish I could work on full time here 😉

[2019-12-18 17:48] RealDotNetDave commented on #1333
BenchmarkDotNet=v0.12.0, OS=Windows 10.0.18362
Intel Core i7-7660U CPU 2.50GHz (Kaby Lake), 1 CPU, 4 logical and 2 physical cores
.NET Core SDK=3.1.100
  [Host] : .NET Core 3.1.0 (CoreCLR 4.700.19.56402, CoreFX 4.700.19.56404), X64 RyuJIT

[2019-12-19 12:34] abelbraaksma opened #1334 "Could not install package 'BenchmarkDotNet 0.12.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', [...]"
_(note: this is not a report to suggest going back to supporting older versions of the .NET Framework)_

The following error is thrown when you are updating your references of BenchmarkDotNet. I found the error confusing and it took me a few minutes _and_ browsing through the "breaking changes" list until I [found this on 0.11.4](https://benchmarkdotnet.org/changelog/v0.11.4.html) to understand wh

[2019-12-19 14:49] abelbraaksma commented on #1334
As an aside, it looks like .NET 4.6.1 as a minimum may have been premature. While this is what NuGet does, [according to this list](https://github.com/dotnet/standard/blob/master/docs/versions.md), there can be numerous issues. I'm not certain whether that means consuming, or producing, but nonetheless, it is worth noting that .NET Standard 2.0 means: you should upgrade to .NET 4.7.2 or higher.

!

[2019-12-19 17:02] bender2k14 opened #1336 "Improve contrast in console (dark text on black console)"
When I run `BenchmarkDotNet.Samples.FSharp`, here is what the console looks like.
![2019-12-19_10-59-11_10_BenchmarkDotNet Samples FSharp](https://user-images.githubusercontent.com/34664007/71192956-e00d8f80-224e-11ea-9246-11c975842730.png)

The text is a dark color on a black background.  I am having difficulty seeing the text.

Can this contrast be improved?

[2019-12-20 01:15] abelbraaksma opened #1337 "Trivial methods can cause BDN to run only 1 iteration, skip pilot phase, and ignore most attributes"
_EDIT 1: see my [second comment](https://github.com/dotnet/BenchmarkDotNet/issues/1337#issuecomment-567761984), I just found a muuuuch easier repro with FSharp that doesn't involve any inref/byref/outref at all, and success is dependent on dummy functions being present._

_EDIT 2: in a follow-up issue I explained the likely cause of this being PR #760, that it incorrectly marks micro-tests as RunO

[2019-12-20 01:32] abelbraaksma commented on #1337
Just managed to capture the generated executables by simply breaking the the BDN process with Ctrl-C. I decompiled it using Reflector, dumped the output and compared it byte-for-byte: they are the same.

My initial thought was that it had something to do with the autogenerated code, but it looks now as if the invocation engine has a problem here. Let me know if I can provide more/better informatio

[2019-12-20 02:35] abelbraaksma commented on #1337
Here's a much simpler example of how this can go mind-numbingly wrong:

[code]

Observations:

* If you remove the, otherwise unused let-binding `foo`, BDN will fail
* If you replace `sprintf ""` with, say `10 + 32`, or basically anything that does not include `sprintf`, it will fail
* Remove `foo` and change `static member` to `member`, still fails (static vs instance has no influence)
* There ar

[2019-12-20 18:47] abelbraaksma opened #1338 "Issue with "run one iteration for long operations", it's flaky and considers many nano-operations as "long", leading to one op per cycle"
This PR: https://github.com/dotnet/BenchmarkDotNet/pull/760, introduced a bug that proved to be notoriously hard to diagnose.

The issue at hand seems to be that the metric used to determine whether something should run once or go through the pilot phase, is flaky. In fact, it appears that the JIT time is taken into account.

In short: if one invocation is ~7ns (this example) and the `IterationTim

[2019-12-21 02:10] abelbraaksma commented on #155
Great news! It'd make an awesome Xmas present ;). If there's anything we can do to help, let us know. I've a TeamCity configuration where I've (also) been unsuccessful with creating reliable perf tests (I'm now just charting the results and if they go up, it's bad, if they go down, it's good, but that's certainly not suitable as a performance unit test).

I understand this is complex and a lot of

[2019-12-21 02:13] abelbraaksma commented on #627
For posterity, I think the "duplicate" would now be #155.

[2019-12-28 17:38] bobbymcr opened #1339 "Generated code and StyleCop.Analyzers"
I have StyleCop.Analyzers enabled on all my projects via a top-level [Directory.Build.props file](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2019#directorybuildprops-and-directorybuildtargets). Because of this it seems that the BenchmarkDotNet generated code is unexpectedly getting flagged with StyleCop analysis warnings/errors. Example:

    5a6a778e-1b03-4

[2019-12-31 16:06] MithrilMan opened #1341 "[question] discard variables"
Reading good practices doc ( https://benchmarkdotnet.org/articles/guides/good-practices.html ), it's reported to always return a value from our benchmarks (so our benchmarks shouldn't have `void returns`)

does using discard variables in our tested method call leverage this problem?
e.g. does
[code]

prevent JIT to remove the code?

I'd like to know why and when this could happen, because how does

[2020-01-02 03:13] ccarrero301 commented on #641
It happened to me the first benchmark run, after that seems to be working. Any permanent solution for this?

[2020-01-02 08:49] onedami commented on #1136
I'm getting this same error while trying to run Bencmarkdotnet on Microsoft Azure DevOps.

When I run it using [InProcess], it throws an exception "...takes to long to run. Prefer to use out-of-process toolchains for long-running benchmarks".

NB: Both InProcess and out of process run successfully on my local PC.

[2020-01-03 16:03] melanchall commented on #1136
The issue is opened more than half a year ago and still no fix. Since BenchmarkDotNet is maintained by MS I suppose it's quite easy to diagnose the problem on Azure Pipelines and solve the issue.

[2020-01-05 12:39] BorisTheBrave opened #1342 "Performance changes when I use WithId"
I've been investigating the performance of a benchmark i've created. I've been seeing a lot of weird behaviour, but I noticed one thing that appears to be specific to Benchmark.NET.

The following code demonstrates the problem: https://github.com/BorisTheBrave/DeBroglie/commit/0b0f9949f9c91918b68b3296adee96b2f30b7f87

It runs a single test called `Benchmarks.Free`, under 3 different configurations

[2020-01-06 16:45] adamsitnik commented on #1136
It is not. From all the maintainers only I work at MS and I contribute to it in my free time (unless there is a bug|feature blocking my Team). It's part of the .NET Foundation but in reality, it means that we get a logo and CI for free.

I am sorry but I currently don't have the time to dig into that.

To avoid this problem you can create a custom instance of `InProcessToolchain` and change the de

[2020-01-06 22:42] jonathanpeppers opened #1343 "Question: possible to use with Xamarin?"
I think it would be extremely helpful for the Xamarin community to be able to run Benchmarks on a real Android or iOS device. I would send PRs to help get this working. 😄

Two questions come to mind.

1. It seems BDN launches `mono` out of process. Is that a requirement for BDN to work?

2. Assuming BDN *can* do in-process, is it feasible to run a benchmark within a UI "click" event and display th

[2020-01-07 18:11] luckerby opened #1344 "Empty 'Allocated' Column After Updating to Windows 10 v1903"
After updating to Windows 10 v1903, I get the following outcome:
![image](https://user-images.githubusercontent.com/31319583/71917692-5257fc80-3189-11ea-9da1-d9984896a1ed.png)

Note the empty 'Allocated' column, which before the Windows update was showing the expected values. Contrast this with what's seen on another machine, running the same exact code, and still running Windows 10 v1803:
![image

[2020-01-07 19:26] luckerby commented on #1344
Based on my understanding, [the code](https://github.com/dotnet/BenchmarkDotNet/blob/a3f76beebeaab9a7ff32f3af6a16d79094fea3f6/src/BenchmarkDotNet/Engines/GcStats.cs#L136-L154) that returns the number of allocated bytes - for a .NET Framework deployment - will use `AppDomain.CurrentDomain.MonitoringTotalAllocatedMemorySize` to extract this information (`RuntimeInformation.IsFullFramework` is just a

[2020-01-07 22:24] DmitrySenin opened #1345 "Can I run a CMD command during the toolchain lifecycle?"
I'm benchmarking the backend of a web application with PostgreSQL as the db. We use dotConnect but it requires a dll to be signed with a licence key otherwise it fails connecting to the db. I can sign any dll using a set of cmd commands. But the problem here is that BenchmarkDotNet generates a new exe for every run.
So far I'm using the InProcess toolchain and have the benchmark project signed. Bu

[2020-01-08 00:01] Kavignon opened #1346 "Benchmark Crashing on AssemblyCache in .NET Core 3.0.100"
I've setup my environment before in .NET Framework and my benchmarks worked really great in the past! Kudos for this great lib!

My current issue now is that I'm trying to run benchmarks in a new project, this time, in .NET Core 3.0. After writing my last benchmark and executing them, I stumbled upon this error:

[code]

I made sure of the following before running my benchmarks:
- Release mode
- P

[2020-01-08 19:15] YohDeadfall commented on #1254
Should this one be closed?

/cc @adamsitnik @AndreyAkinshin

[2020-01-09 07:53] mfilippov commented on #1254
@YohDeadfall master still on 2.1.503 this PR merged into netCore30SDK branch.

[2020-01-09 09:17] asgerhallas commented on #378
I'm new to BDN, so I'm not sure this is the right issue to address my needs. Please let me know, if I should create another issue - or if it's just not the right library :)

I have an issue where code seems to run significantly faster on IIS Express than in a console app, which I measured without BDN, but I would now like to go a little deeper. What would I need to run performance benchmarks again

[2020-01-09 15:00] chenjd opened #1347 "Standard error:error NU1201: Project is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0)."
On Mac OS 10.14.6.
dotnet version 3.1.100

Using dotnet tool to create a BenchmarkDotNet templates project and run it in console (dotnet new benchmark --console-app). The generated project cann't built and print the error:
_error NU1201: Project XXXX is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0)._

I think the BenchmarkDotNet **version** referenced by the project **is not the rig

[2020-01-10 11:50] YohDeadfall opened #1348 "Different display text for arrays depending on a value source"
There is a difference of array representation in summaries depending on a value source. In case when `ArgumentsAttribute` is used an array is displayed as `Array[{array.Length}]`, but in case of `ArgumentsSourceAttribute` - the type name is used.

The bug can be simply reproduced using the `IntroArrayParam` sample:

https://github.com/dotnet/BenchmarkDotNet/blob/a3f76beebeaab9a7ff32f3af6a16d79094f

[2020-01-10 12:34] WojciechNagorski commented on #1348
How about `System.Int32[3]` instead of `Array[3]`? Using `Array[3]` you lose information about the type of elements.

[2020-01-10 12:58] YohDeadfall commented on #1348
For complex types (classes, structs, named tuples) it won't provide any meaningful information because you have a source code of some test. Therefore, having type names would pollute summary. More interesting information is values which are used in a test since counters depends on them. For arrays it's their size.

[2020-01-10 13:06] adamsitnik commented on #1347
@CodeTherapist could you please take a look?

[2020-01-10 13:10] adamsitnik commented on #1346
Hello @Kavignon !

My gut feeling tells me that MSBuild struggles with long paths. Could you please move the project closer to the root and try again?

Sth like:

[code]

[2020-01-10 13:12] adamsitnik commented on #1348
I agree with @WojciechNagorski , it would be better to have the type name information and just exted what we have with the length:

[code]

[2020-01-10 13:26] YohDeadfall commented on #1348
It will be ugly in cases if there is a nested type and/or a long namespace. As I said before, this information gives you nothing valuable because except the type name which can be found in code.

In case of the `ArrayIndexOf` test it makes sense to display a content of the array to understand why a run takes so long. For example, why `ManualIndexOf` for value `4` takes less time than using value `

[2020-01-10 13:46] adamsitnik commented on #1344
Hello @luckerby

I know that there was a bug in a preview version of .NET 4.8 where this API was always returning 0: https://twitter.com/dotMorten/status/1110237429397479424

Could you please use Windows Updater and check if you are having any available .NET updates?

`GetAllocatedBytesForCurrentThread` returns memory allocated only for the current thread, so it would return invalid value for mult

[2020-01-10 15:37] adamsitnik commented on #899
I've taken some time and looked at this issue again.

It looks like with #1332 it's gone now.

I've created a small repro app that runs a simple code 1, disassembles it and then warmups the Tiered JIT and disassembles it again.

In the following code I am interested in the disassembly of `Call_1` which after Tiered JIT should be the same as `Call_2`

[code]
[code]
[code]

And it is:

[code]

[2020-01-10 15:41] adamsitnik commented on #899
For the following benchmark:

[code]

If we run it just once by using `Job.Dry`:

<details>

## .NET Core 3.0.0 (CoreCLR 4.700.19.46205, CoreFX 4.700.19.46214), X64 RyuJIT
[code]
[code]
[code]
[code]

</details>

If we run it just once by using `Job.Short`:

<details>

## .NET Core 3.0.0 (CoreCLR 4.700.19.46205, CoreFX 4.700.19.46214), X64 RyuJIT
[code]
[code]
[code]
[code]

</details>

[2020-01-10 15:42] adamsitnik commented on #899
Btw @0xd4d thank you so much for the awesome `Iced` and `JitDasm`!

[2020-01-10 16:34] adamsitnik commented on #672
I've taken a look at this today and I don't have any good news.

With the most recent changes, the following benchmark for .NET Core 2.1:

[code]

disassembles to:

[code]

In IL the call to a delegate is represented as a virtual call which is the most indirect call we can get ;/:

[code]

@0xd4d @leculver do you have any suggestions about how we could disassemble the delegate calls?

[2020-01-10 21:07] luckerby commented on #1344
Thanks @adamsitnik ! I've went ahead and installed the pending Windows updates, and once done everything works as expected:
![image](https://user-images.githubusercontent.com/31319583/72186193-555b2300-33fd-11ea-8111-bac1fe25ce8d.png)

The only .NET-related update that was in the set of those installed was [this one](https://support.microsoft.com/en-us/help/4533002/kb4533002-cumulative-update-for-

[2020-01-12 15:51] smoogipoo commented on #994
Hey all, with the advent of tiered compilation, it seems like the workaround to this doesn't work anymore. Is there any news on a more solid fix?

[2020-01-13 07:50] YohDeadfall commented on #1348
Another option is displaying a count, but in remarks below change description to mention that means an array size.

[2020-01-13 11:06] MrGuardian commented on #1315
Any news on this issue? I'm very interested in BenchmarksDotNet working on MacOS and seeing cache misses.

[2020-01-13 12:11] WojciechNagorski commented on #1315
@MrGuardian I've done it here #1321. I'm waiting for @adamsitnik's review.

[2020-01-13 13:07] alexeyzimarev commented on #1249
Same for `netcoreapp3.1`

[2020-01-13 14:04] adamsitnik opened #1350 "Warn the user if command line arguments were not passed to the BenchmarkSwitcher"
Few users has reported to me that it's not obvious that in order to make `BenchmarkSwitcher` handle console line arguments, they must be passed to the `Run` method.

We should detect a situation where args were not passed to BDN, but are present via [Environment.GetCommandLineArgs](https://docs.microsoft.com/en-us/dotnet/api/system.environment.getcommandlineargs)

It should be just a few lines of

[2020-01-14 12:55] ycrumeyrolle opened #1351 "Op/invocation fail to increase due to [IterationCleanup]"
Similar to #994

This sample benchmark does not increase the op/invocation on warmup when a method is marked with the [IterationCleanup] attribute:
[code]
The workload stall at 1.

When removing the [IterationCleanup] attribute, the workload increase as usual.

[2020-01-15 17:22] Symbai opened #1352 "Disable default exporters"
According to the docs https://benchmarkdotnet.org/articles/configs/exporters.html the default exporters are CSV, HTML and Markdown. I only want html but the docs don't say how to disable the rest.

I've tried adding the `[HtmlExporter]` attribute to my test class only but it did not helped. I'm running my tests with fluent style this way:

`var summary = BenchmarkRunner.Run<MyTest>(DefaultConfig.I

[2020-01-15 19:48] Symbai opened #1353 "Show Length when param type is an array"
I've got benchmarks which are taking an array as parameter, see below for a simplified example. I've added grouping via an attribute to my test class `GroupBenchmarksBy(BenchmarkLogicalGroupRule.ByCategory, BenchmarkLogicalGroupRule.ByParams)]` the problem is that the benchmark result is showing me the parameter type only without array size which makes the information useless.

### Benchmark code

[2020-01-16 19:36] mkosina commented on #1256
Great discussion and wonderful tool - just discovered benchmark.net after rolling my own (mostly with perf counters / HdrHistogram) and the simplicity of defining common test drivers is amazing.

I do understand the value of allowing to drop outliers in some cases - however I am with kqr on this, making this the default only reinforces the general computing public's misconception that performance

[2020-01-17 12:33] ghost opened #1354 "Errors with updated Microsoft.NET.Test.Sdk nuget package"
Is it only to me that updating the given nuget package to versions 16.3.0 or 16.4.0, I get the following error?

// Launch: 1 / 1
// Execute: dotnet "508ebb57-d066-4ffa-940a-c5b3428adb4e.dll" --benchmarkName "xxx.Createxxx(quantity: 100)" --job "InvocationCount=1, IterationCount=1, LaunchCount=1, UnrollFactor=1, WarmupCount=0" --benchmarkId 0 in <path>
Unhandled exception. System.BadImageFormatExc

[2020-01-17 12:34] andreabioli commented on #1354
...and after 'cutting' the meaningful part of the names, I realize that there is some problem in the generated path, with the new version: all the '\bin\release\...' is duplicated, for what I can see here.

[2020-01-20 09:44] 7enderhead opened #1355 "dotnet benchmark Tool Could not load file or assembly 'Microsoft.VisualStudio.TestPlatform.ObjectModel"
- Windows 10
- dotnet core 3.0.100
- F# project from exercism (binary search tree), relevant files attached in archive
- running `dotnet benchmark` gives the appended following stack trace message (regardless of whether selecting benchmark manually or using `--filter`)

[code]

[binary-search-tree.zip](https://github.com/dotnet/BenchmarkDotNet/files/4085478/binary-search-tree.zip)

[2020-01-20 21:50] xtofs opened #1356 "Parameter combinations"
I want to write a benchmark where I want to compare two approaches. Both have two input parameters but the second one is of a slightly different type for each method. So I have essentially an A and a B and a B' parameter

If I put both benchmark methods into the same benchmark class, I get the Cartesian product of all parameter combinations  A x B x B' for each benchmark. (in the example below 2 *

[2020-01-22 09:41] adamsitnik commented on #1344
Thanks @luckerby , I am glad that it helped! I am closing the issue since there is really nothing we can do on BDN side

[2020-01-22 09:41] #1344 closed

[2020-01-22 10:11] adamsitnik commented on #1352
Hi @Symbai

In the code example that you have  provided you are using `DefaultConfig` which defines the list of default exporters:

https://github.com/dotnet/BenchmarkDotNet/blob/0c48c2862f69a63407898680d18dd76b988c4197/src/BenchmarkDotNet/Configs/DefaultConfig.cs#L29-L36

By using the `[HtmlExporter]` you **extend**  the list with an additional exporter. Not replace.

If you don't want to use the

[2020-01-22 10:11] #1352 closed

[2020-01-22 10:26] adamsitnik commented on #1356
No

Yes. If you are using console line arguments, you need to pass `--join`. If you are using our config API then you should use following config:

[code]

I am going to close this issue. Please feel free to reopen it if something remains unanswered or the solution simply does not work for you.

[2020-01-22 10:26] #1356 closed

[2020-01-22 10:58] kesiyaabraham opened #1358 "Not able to run a project referencing to private nuget package"
I have a project which has a dependency on Azure functions, class libraries and private NuGet packages.

I am trying to benchmark a method inside a service class. But I am getting the below error

[code]
I am not sure why this error is happening as we are taking nuget packages from cache when running a project.

Please let me know if you need more information on the project or error.

[2020-01-22 14:38] #1339 closed

[2020-01-22 18:40] pedrofialho commented on #721
@adamsitnik is this issue still valid since `BaselineScaledColumn` is obsolete now in favor of `BaselineRatioColumn`?

[2020-01-25 23:54] jonathanpeppers commented on #1343
I got this to work with Xamarin.Android by hacking BDN just a bit:

![image](https://user-images.githubusercontent.com/840039/73128851-a80b1200-3f9b-11ea-953d-2eb9956a53ea.png)

Let me spend some more time to clean this up, and this can be a PR.

[2020-01-27 16:37] TSlivede opened #1361 "SimpleJobAttribute with RunStrategy and RuntimeMoniker"
Is there any way to create a `SimpleJobAttribute` with specific `RunStrategy` and `RuntimeMoniker`?

I only see [constructors](https://benchmarkdotnet.org/api/BenchmarkDotNet.Attributes.SimpleJobAttribute.html#BenchmarkDotNet_Attributes_SimpleJobAttribute__ctor_BenchmarkDotNet_Engines_RunStrategy_System_Int32_System_Int32_System_Int32_System_Int32_System_String_System_Boolean_) with either `RunStr

[2020-01-27 17:08] adamsitnik commented on #1361
Hello @TSlivede

Such ctor is missing.

If you would like to contribute you can add the needed ctor [here](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Attributes/Jobs/SimpleJobAttribute.cs) and send a PR.

[2020-01-29 17:54] saneman1 commented on #1334
Hello! I'm try to install 'BenchmarkDotNet 0.12.0' into the newly created empty project that targets  .NETFramework 4.8 and get error:
Could not install package 'BenchmarkDotNet 0.11.5'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.8', but the package does not contain any assembly references or content files that are compatible with that framework. F

[2020-01-29 22:53] nhprog opened #1362 "Benchmarking c++ code"
Hi,
I am trying to benchmark c++ code and looking if BenchmarkDotNet can allow me to do that. If yes, then can anyone help me with an example? I have just started learning about BenchmarkDotNet so if there is reference in the documentation for my question then please point me to that.

[2020-01-30 13:25] JIoffe opened #1363 "Wrong assembly binding redirects for Microsoft.Data.SqlClient.resources ; using in Netcore3.0 project"
Hello BenchmarkDotNet Team,

We are exploring using this library to get relative benchmarks of integration tests. Both the calling project and the integration test project are .Net Core 3.0. We are using the latest .Net standard version of BenchmarkDotNet. While the benchmark begins to run, we notice the errors below.

The integration test includes calls to databases and thus the need for these pa

[2020-01-30 18:39] speshuric opened #1364 "Bug: Benchmark class with Console.WriteLine(1) fails for DisassemblyDiagnoser with 'Sequence contains no matching element'"
Minimized repro:
[code]

**Expected**: correct output without exceptions
**Actual**: Benchmark fails with stacktraces

[code]

**Additional notes**
- Initial benchmark where issue was found was much more complex, code above is minimized repro
- Issue not reproduced when `recursiveDepth` less than 3
- Issue not reproduced without `1` in `Console.WriteLine(1)`
- BenchmarkDotNet version 0.12.0
- Seem

[2020-01-31 13:30] adamsitnik commented on #1363
Hello @JIoffe

The short answer is that you can ignore this warning.

The long answer: for some reason VS sometimes generates invalid assembly binding redirects for Full .NET Framework projects. It was causing a lot of trouble to our users in the past: #895,  #667, #896, #942 . I decided to implement an ugly workaround that searches for `.dll` file manually and loads it when .NET Framework fails t

[2020-01-31 13:49] adamsitnik commented on #1364
Hello @speshuric

Big thanks for a very detailed bug report!

I've recently rewritten the disassembly diagnoser (see #1332 for full details)

I've tested your repo case using the new one and it works fine. You can also give it a try at https://github.com/adamsitnik/TryNewDisassembler  . The output:

<details>

## .NET Core 3.1.1 (CoreCLR 4.700.19.60701, CoreFX 4.700.19.60801), X64 RyuJIT
[code]
[c

[2020-01-31 13:57] abelbraaksma commented on #1334
I don't have a definitive answer for you, but googling your error gives a few ideas:

* https://stackoverflow.com/a/46804021/111575
* https://stackoverflow.com/a/43653975/111575

There are many more discussions related to this and I'm not enough an expert here. You may want to raise it as a separate bug if there's no trivial answer.

[2020-01-31 14:20] adamsitnik commented on #1362
Hello @nhprog

You have two options:

* create a managed C++ project that defines the logic that you want to measure (A) and a C# benchmark project (B) that references it and just calls the logic.
* call the native functions from C# benchmarking project using PInvoke. The disadvantage is that **every benchmark result would contain the PInvoke marshaling overhead**  which would make nano-benchmarki

[2020-01-31 14:20] #1362 closed

[2020-01-31 15:22] saneman1 commented on #1334
@abelbraaksma thx Abel! I am currently using the previous version of BechmarkDotNet and the relevance of this problem for me is low. I thought it would be interesting to know that the workaround "upgrade your code to .NET 4.6.1 or higher and you are good to go" don't help.

[2020-01-31 18:43] abelbraaksma commented on #1334
It should work. It definitely works in the majority of cases (otherwise there would be far more reports). Likely there's another issue at hand, and we should find out what exactly.

[2020-02-02 01:12] JohnNilsson opened #1368 "Found conflicts between different versions of "System.CodeDom" that could not be resolved"
I get this warning in a BenchmarkDotNet-project (net471)

[code]
The System.CodeDom 4.4.0 package is brought in as a dependency by Microsoft.ML 1.4.0

Not sure how to resolve this. Haven't found a way to override dependencies on my end. Should something change in BenchmarkDotNet perhaps, to make System.CodeDom an explicit dependency?

[2020-02-02 13:48] Tyrrrz opened #1369 "Parameter column doesn't seem to respect culture info"
Hi!

Screenshot of what I mean:

![image](https://user-images.githubusercontent.com/1935960/73609119-2d617880-45d3-11ea-924a-1e9e541ad1f3.png)

Here `x` is the parameter column which is formatted with what seems to be `CultureInfo.CurrentCulture` while all other columns use invariant culture, judging by the fractional separator.

Looks like the culprit is here. The culture info is not used anywher

[2020-02-03 10:40] #1348 closed

[2020-02-03 10:40] #1353 closed

[2020-02-03 10:55] #1350 closed

[2020-02-03 11:16] adamsitnik commented on #1368
Hi @JohnNilsson

I see this error for the first time.

Could you please try to force the update of `System.CodeDom` used by your project?

[code]

[2020-02-03 22:21] JohnNilsson commented on #1368
I'm afraid that didn't work.

Also, tried more TargetFramework same results for net461 and net480, no warning for netcoreapp3.1 or netcoreapp2.1 (might [this](https://github.com/dotnet/source-build/issues/738) be an indication that the dll was accidentally included in sdks?)

[code]

[code]

besides the warning (from binlog)
[code]
there is also
[code]

[2020-02-04 14:57] adamsitnik commented on #1368
I was able to reproduce the warning, but everything works fine.

@JohnNilsson are you able to run the benchmarks?

[code]

[2020-02-04 15:58] JohnNilsson commented on #1368
Benchmarks works fine. And at least one System.CodeDom.dll is provided. No binding redirect though.
It's an annoyance due to the warning as error we use in a ci-build. Suppressed the warning with this for now. Would rather not have to do that.
[code]

[2020-02-04 16:41] coolsj opened #1370 "Can this library be used with .net framework 4.6.2?"
If i try to install the package from nuget for a visual studio project wise target platform is .net framework 4.6.2 or higher, it throws an error saying not target assemblies found. Please guide.

[2020-02-04 17:57] adamsitnik commented on #1368
@eerhardt do you know how we could get rid of this warning?

[2020-02-04 20:21] abelbraaksma commented on #1370
Have a look at this thread #1334, which also links to some posts from Microsoft that suggest that there may be issues, unless you upgrade to at least 4.7.2. Other links there might lead you to a solution, there's in fact a lot of discussions on several forums about this.

[2020-02-05 00:15] eerhardt commented on #1368
There are a few things happening here that causes this issue to happen.

First, `BenchmarkDotNet` references `System.Management` v4.5.0. `System.Management` references `System.CodeDom` v4.5.0. But it only declares its dependency on `System.Code` if you are targeting .NET Core or .NET Standard. See [Dependencies here](https://www.nuget.org/packages/System.Management/4.5.0):

![image](https://user-i

[2020-02-05 11:13] JohnNilsson commented on #1368
Ah, 4.5.0, i only tested using Include with 4.4.0.
Confirmed, this works for me.

[2020-02-05 16:59] olivegamestudio opened #1371 "Could not load file or assembly using dotnet benchmark"
When running the following command line:

The DLL project is referencing, but tried different versions to no avail:

    <PackageReference Include="BenchmarkDotNet" Version="0.12.0" />

I get the following error:

[2020-02-05 17:03] justinhachemeister commented on #1371
This seems to be an issue with .NET Core: https://github.com/Particular/Workshop/issues/64

[2020-02-05 17:22] WojciechNagorski commented on #1371
This article can be useful for you https://wojciechnagorski.com/2019/09/using-native-dll-and-resource-files-in-benchmarkdotnet-projects/

[2020-02-06 22:00] kirsan31 commented on #147
Any news/thoughts on this?

[2020-02-07 20:09] ndrwrbgs commented on #155
Hello folks, just doing a casual ping. <Insert some relaxing joke about Christmas presents> :)

[2020-02-07 22:21] melanchall commented on #1136
Thanks @adamsitnik. Yes, it's a workaround. Bit it would be great to fix the bug so we can throw away that custom code. Since several people reporting about the issue, priority of it should be increased I suppose.

Anyway thanks for the library!

[2020-02-10 13:48] abelbraaksma commented on #1351
Seems related to #1338. In our, I noticed that the cause seems to be dependent on the situation, but esp the JIT time, causing the algorithm to incorrectly assume it's a long running test.

[2020-02-10 13:50] abelbraaksma commented on #1351
@adamsitnik, this too may be caused by #760. Any thoughts?

[2020-02-12 18:38] adamsitnik commented on #1369
Yes, please!

[2020-02-12 18:41] adamsitnik commented on #1368
@eerhardt thanks for a great explanation and help!

@JohnNilsson I am closing this issue. If you feel that we should define this dependency in an explicit way, please send a PR that adds it.

[2020-02-12 18:41] #1368 closed

[2020-02-12 19:29] adamsitnik commented on #1351
Hi @ycrumeyrolle

This is by design, as described in our [docs](https://benchmarkdotnet.org/articles/features/setup-and-cleanup.html#sample-introsetupcleanupiteration)

You can read more about why we made such decision in #730

[2020-02-12 19:29] #1351 closed

[2020-02-12 20:01] ycrumeyrolle commented on #1351
@adamsitnik thanks for your reply, I had seen the recommendation to avoid such attribute, but missed the "exactly once".

[2020-02-13 08:08] #1369 closed

[2020-02-16 11:27] DeLeneMirouze opened #1374 "Always get: Declaring type must be public"
I try to test BenchMark but I can't make any simple example working. Event those provided in the documentation.
I consistantely get the error message:

XXXX containing Benchmark method YYYYY has incorrect access modifiers.
Declaring type must be public.

All classes and methode are public. I don't understand this error message

What can I do?

Using c# 3.1 with VS 2019

[2020-02-16 11:42] AndreyAkinshin commented on #155
@abelbraaksma @ndrwrbgs sorry for the delay, the performance runner is still in progress. I take important steps forward every month, but it still does not work as well as I would like.

[2020-02-16 11:43] AndreyAkinshin commented on #1374
@DeLeneMirouze could you please share the source code of your benchmarks?

[2020-02-16 11:49] #1361 closed

[2020-02-16 13:50] DeLeneMirouze commented on #1374
For instance this one (IntroParamsSource class):

https://benchmarkdotnet.org/articles/features/parameterization.html

gives:
ConsoleApp1.Program containing Benchmark method Benchmark has incorrect access modifiers.
Declaring type must be public.

In fact evey sample I can find have the same issue

[2020-02-16 13:57] abelbraaksma commented on #155
@AndreyAkinshin, is there something we can do to help? Maybe run it against our own test sets?

[2020-02-16 14:12] AndreyAkinshin commented on #1374
Could you please share the full project that you are trying to run? Maybe you have some problems on the project configuration level.

[2020-02-16 14:12] AndreyAkinshin commented on #155
@abelbraaksma it will be much appreciated as soon as I finish the approach that works fine on my set of test cases.

[2020-02-18 14:56] #641 closed

[2020-02-20 22:48] DeLeneMirouze commented on #1374
Hello

Sorry for the late delay

You can clone a version from here:
https://github.com/DeLeneMirouze/TestBenchmark.git

I am using Visual Studio 201916.4.4
Windows 2010 (French)

thank you

[2020-02-21 05:06] adamsitnik commented on #1374
Hi @DeLeneMirouze

In your case the `IntroParamsSource` is nested inside `Program` which is internal, and hence not public.

[code]

You need to either make `Program` class `public` or move `IntroParamsSource` outside `Program`

[code]

[2020-02-21 05:06] #1374 closed

[2020-02-21 11:35] MrGuardian commented on #1315
@adamsitnik I wonder when this feature is finally gonna be merged? With .netcore being essentially cross-platform we need a tool working on non-Windows machines to measure performance.

[2020-02-21 22:31] DeLeneMirouze commented on #1374
thank you

[2020-02-25 06:22] dotMorten opened #1377 "Forward msbuild properties to project reference"
Currently when you set MSBuild properties, they don't get forwarded to the project reference from the autogenerated projects.

In https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Templates/CsProj.txt#L26 it would be nice if we could provide addition properties on the reference. For example if this was added to that template::

[code]

And then a way to set the $ADDITIONAL_

[2020-02-26 14:19] jasdefer opened #1378 "Run BenchmarkDotNet in GitHub Actions"
I want to run BenchmarkDotNet in a GitHub action to continously measure the performance of some methods. I like the idea of automating the benchmark and illustrating the results.

Are there any recommendations or examples for this approach and is it even reliable, because the benchmark would not run on my local machine?

I am sorry if I missed any information about this topic in the documentation,

[2020-03-02 10:52] #1363 closed

[2020-03-02 11:20] AndreyAkinshin opened #1379 "Unix CI builds are red"
Currently, we have the following error:
[code]
It's caused by mono6.8 + Cake 0.30.
The relevant issue in the Cake repository: https://github.com/cake-build/cake/issues/2695
The problem should be fixed by upgrading the Cake version.

[2020-03-02 11:56] adamsitnik commented on #1377
Hello @dotMorten

I've run into similar issues with MsBuild properties. I was wondering what would be the best way of passing all kinds of custom MsBuild properties to the auto-generated project. Perhaps we should add a possibility to make the auto-generated project include provided `.props` file?

Could you try using the `MsBuildArgument` type as a workaround for now?

[code]

[2020-03-02 12:53] #1379 closed

[2020-03-02 14:43] AndreyAkinshin commented on #1378
@jasdefer

For now, we don't have any out-of-the-box solutions. Please, follow #54.

In general case, you will not get reliable and repeatable results. I'm working on a workflow that will allow getting reliable results (when it's possible) using an adequate number of iterations, but it's a pretty hard task which is still work in progress. Follow #155 for updates.

[2020-03-02 14:43] #1378 closed

[2020-03-02 14:48] AndreyAkinshin commented on #1379
![image](https://user-images.githubusercontent.com/2259237/75686896-01a6e080-5cae-11ea-9019-e20bd55b7aeb.png)
Fixed.

[2020-03-02 15:19] jasdefer commented on #1378
Thank you very much, this is exactly the discussion I was looking for. Somehow I didn't find this issue by myself. Sorry for that!

[2020-03-03 14:06] #899 closed

[2020-03-03 15:26] AndreyAkinshin commented on #1364
@adamsitnik since #1332 is merged, can we close this issue as fixed?

[2020-03-03 16:01] JohnMasen opened #1383 "Test stops responding when first "// AfterAll" displayed"
I found my test will stop responding on first "//AfterALL" output. the following clues during debugging.
1. Testing on GPU accelerated library will trigger this issue, CPU library does not have this problem
2. the problem will gone if I use "InProcessEmitToolchain", however it will trigger  [GlobalSetup] method crash when more than 1 parameters are used. for example
[code]

[code]
3. tried to manu

[2020-03-03 18:40] adamsitnik commented on #1364
@AndreyAkinshin yes!

[2020-03-03 18:40] #1364 closed

[2020-03-06 09:23] MrGuardian commented on #1315
Thank you @WojciechNagorski and @adamsitnik for merging #1321 and your incredible work!

Yesterday I downloaded the latest master branch, added BenchmarkDotNet and BenchmarkDotNet.Annotations projects as dependencies to my demo project (Md5VsSha256 tests from you documentation basically) on MacOS.

I marked the whole class with the following attribute `[HardwareCounters(HardwareCounter.CacheMisses

[2020-03-06 10:16] adamsitnik commented on #1315
the goal of this PR was to add a simple cross-platform CPU profiler. It's internally using `EventPipe` mechanism which is something like `ETW` but implemented inside `CoreCLR`. It can give us CPU samples and .NET EventSource events, but it does not expose any hardware counters information.

As of today, the only way to get hardware counters information for .NET Core on macOS is to use Intel VTune

[2020-03-08 07:44] damageboy opened #1385 "Make BaselineCustomColumn.GetValue public"
Hi,
Referring to this:

https://github.com/dotnet/BenchmarkDotNet/blob/1d63d666da70530b03e392af23453bf5cd7c1784/src/BenchmarkDotNet/Columns/BaselineCustomColumn.cs#L27

Is there any particular reason the whole class is public while this specific method is kept internal?

Wouldn't it make sense to make the method public so it could be overriden outside of BDN, or is there some sort of an issue with

[2020-03-09 06:15] adamsitnik commented on #1385
Hi @damageboy

We can make it `public`. Please go ahead and send a PR. You can also add the `[PublicApi] attribute to it (which will increase the chance for the method to stay public in a long-term ;) )

[2020-03-09 10:01] damageboy commented on #1385
NP, filing a PR

[2020-03-09 11:36] #1385 closed

[2020-03-10 14:59] aalmada opened #1388 "'ref readonly' return is not supported"
A benchmark method can return 'ref' but not 'ref readonly'.

Using the following code, all benchmarks fail with the error:

[code]

Commenting out the `RefReadOnly` benchmark, the remaining benchmarks work fine.

[code]

[2020-03-11 06:07] maxim-saplin opened #1390 "Keep getting build error with Mono DryJob"
Tried VS for Mac on Catalina and VS2019 on Windows 10. In both cases there's same CS1069 build error.
Tried running my code from inside the console app and command line. NET472 and Core 3.1 DryJobs worked fine on windows.

Here's the benchmark code:

[code]
And that's the output (just the top of the file).
[code]

[2020-03-11 09:08] adamsitnik commented on #1390
Hi @maxim-saplin

Could you please share your project file?

Thanks!

[2020-03-11 09:24] maxim-saplin commented on #1390
Here we go... On Windows TargetFrameworks also had net472

[code]

[2020-03-11 09:57] adamsitnik commented on #1315
Fixed in #1321 by @WojciechNagorski

[2020-03-11 09:57] #1315 closed

[2020-03-11 10:04] maxim-saplin commented on #1390
JIC, here's the .csproj file of referenced class library:

[code]

[2020-03-11 13:56] adamsitnik commented on #1316
Fixed by #1332

[2020-03-11 13:56] #1316 closed

[2020-03-11 13:57] adamsitnik commented on #1162
I don't remember which PR exactly did fix it, but it was part of 0.12.0. Closing

[2020-03-11 13:57] #1162 closed

[2020-03-11 13:58] adamsitnik commented on #1272
I am closing since the question got answered.

[2020-03-11 13:58] #1272 closed

[2020-03-11 14:02] adamsitnik commented on #1390
Thanks for sharing the project file.

To get Mono toolchain working on non-Windows OSes you need to target some `net*` moniker like `net472` and compile and run the benchmark project using Mono.

Example:

[code]

[code]

To tell the long story short, when you run the host process as .NET Core, we don't know the localization of Mono dlls and hence we can't reference them properly and it fails with

[2020-03-11 14:27] maxim-saplin commented on #1390
msbuild won't complie the project on macOS with net46 added:

error NU1202: Package BenchmarkDotNet 0.12.0 is not compatible with net46 (.NETFramework,Version=v4.6). Package BenchmarkDotNet 0.12.0 supports: netstandard2.0 (.NETStandard,Version=v2.0)

[2020-03-11 14:29] adamsitnik commented on #1390
Please try `net461` or newer

[2020-03-11 14:47] maxim-saplin commented on #1390
That worked, thanks a lot!
One more clarification. On Windows if I have 3 DryJobs (Core, NET472 and Mono) in order to get mono working I can't just execute the produced console app's exe file, it has to be started via command line/mono - correct?

[2020-03-11 15:26] adamsitnik commented on #1390
If you want to run the benchmarks as Mono, the host process (what you run) must be either Mono or Full .NET Framework. This is because we need to be able to locate the framework assemblies to be able to compile the auto-generated project.

Our code for Mono and Full .NET Framework:

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/src/BenchmarkDotNet/Toolchai

[2020-03-11 15:28] maxim-saplin commented on #1390
Thanks!

[2020-03-11 15:29] adamsitnik commented on #1390
@maxim-saplin I am going to close the issue, please feel free to reopen it if something does not work or is not clear.

[2020-03-11 15:29] #1390 closed

[2020-03-12 08:20] #1388 closed

[2020-03-13 17:53] tkstanczak opened #1391 "Add an opt-in comparison of each benchmarked version return value"
I often write a new version of the benchmarked code but I am not sure if it actually does what it needs to do (whether the new version is not buggy). Then I write some code to check the values for each benchmarked method.

It would be a nice to have to have some build in support for results comparer that can launch once before each method is invoked (and for each parameter).

[2020-03-13 17:58] adamsitnik commented on #1391
Hi @tkstanczak

We already have such a feature, it's called `ReturnValueValidator`

You can enable it by using an attribute `[ReturnValueValidatorAttribute]` or by using the fluent config API: `config.AddValidator(ReturnValueValidator.FailOnError))`

I am going to close this issue now, feel free to reopen it if you have more questions or there are some issues with `ReturnValueValidator`

[2020-03-13 17:58] #1391 closed

[2020-03-14 11:14] #1238 closed

[2020-03-15 23:12] aggieben opened #1392 "[Paket] This type has been forwarded to assembly"
I'm facing an issue similar to what's described in #1390 .  I have a benchmark projects that builds for `net47` and `netcoreapp2.1` and have been having various problems with the generated benchmark programs not being able to load referenced assemblies properly.  This is an F♯ program, using paket to reference the necessary nupkgs.

I'm running this on macOS with .NET Core SDK 3.1.

The projects c

[2020-03-16 03:38] Audionysos opened #1393 "Reuse data generated during benchmark"
Hello, I've just started playing with your library and I love it, but I think I'm kind of stuck.

Please forgive me, I've tried to describe my problem as short as I can but it's still a little lengthy.

I want to compare performance of several collection classes. I'm interested in few operations on them:

- Addition
- Acquisition
- Deletion
- Problem-specific algorithms

Additionally I would like

[2020-03-16 10:25] adamsitnik commented on #1392
Hi @aggieben

I've forked your code, but I got stuck with the following error:

[code]

Any ideas how to fix it?

[2020-03-16 10:42] adamsitnik commented on #1393
Hi @Audionysos

This is not going to be easy, for various reasons.

First of all, BenchmarkDotNet assumes that benchmarks have no side effects. So as you said if you want to test `remove` you must set up a collection first. But BenchmarkDotNet runs every benchmark multiple times per single iteration so every invocation needs a clean input.

For this pattern you can use two solutions:

* benchmarks

[2020-03-16 21:31] aggieben commented on #1392
@adamsitnik thanks for looking. My fault, I goofed and left that out of the `paket.dependencies` file:
update it to look like this.

![image](https://user-images.githubusercontent.com/1321/76801274-4e58e400-67a3-11ea-9ad3-85d2be86ad74.png)

Also, my apologies for not specifying, but the way this would be restored via paket is with the local tool I have installed, so:
`dotnet tool restore`
`dotnet

[2020-03-17 11:39] adamsitnik commented on #1392
@aggieben I've sent a fix to your fork: https://github.com/aggieben/FSharp.Data.GraphQL/pull/1

[2020-03-18 05:37] Audionysos commented on #1393
First of all, thank you for quick and exhaustive response. It's nice to know it's not so easy as oppose to that I'm too stupid to do it :) I've read links you've posted and... I have some new thoughts on this. I don't want to disturb your work and I'm not demanding further response but if you don't mind I will add them here.

[code]

I think I don't fully understand it. As for stopping it seams mo

[2020-03-18 06:25] kunalspathak opened #1395 "Ability to pass custom flag to build command"
I am trying to build and run BenchmarkDotNet and micro benchmarks on windows arm64 but because of https://github.com/dotnet/roslyn/issues/42393 I need to pass `/p:DebugType=portable` to build the micro benchmark project. However when I run micro benchmarks on windows ARM64 it triggers build for specific benchmark and it doesn't include the required flag resulting in build failure that looks like t

[2020-03-18 09:27] adamsitnik commented on #1395
Hello @kunalspathak

This can be achieved by using `MsBuildArgument` type. In your case you should extend the recommended job config in

https://github.com/dotnet/performance/blob/19b34f1f436493dbc808b3ae515c76269235d96a/src/harness/BenchmarkDotNet.Extensions/RecommendedConfig.cs#L24-L29

 with:

[code]

Please let me know if it helped

[2020-03-18 11:47] adamsitnik commented on #1393
The best explanation that I was able to find so far is @AndreyAkinshin blog post about Stopwatch: https://aakinshin.net/posts/stopwatch/#pitfalls

Yes, and there are many reasons why.

You can run into some benchmarking pitfalls like this: JIT can optimize your loop and replace it with a single operation (if it knows that the result is not changing over time). When you think that reported time sho

[2020-03-18 12:17] frankhaugen commented on #1358
I am also experiencing this exact issue

[2020-03-18 14:10] AndreyAkinshin opened #1396 "MacOS Azure Pipeline build is broken"
This job was temporarily blocked because it uses a Microsoft hosted agent (MacOS-10.13) that will be permanently removed on March 23rd, 2020.  See https://aka.ms/blocked-hosted-agent for more information.

https://dev.azure.com/dotnet/BenchmarkDotNet/_build/results?buildId=30294&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7

[2020-03-18 14:30] frankhaugen opened #1398 "Support for .net standard 2.1"
When will we see support for .net standard 2.1?

[2020-03-18 15:32] #1396 closed

[2020-03-18 15:37] adamsitnik commented on #1398
Hi @frankhaugen

.NET Standard X library can reference .NET Standard Y library if `X >= Y`.

There is no need for BenchmarkDotNet to upgrade to .NET Standard 2.1, all our key dependencies like Roslyn and TraceEvent support .NET Standard 2.0 and it's all we need.

If there is some specific scenario that is currently not supported, please feel free to reopen the issue.

Have a nice day,
Adam

[2020-03-18 15:37] #1398 closed

[2020-03-18 18:44] kunalspathak commented on #1395
Thank you @adamsitnik , that works. Should we make that change inside dotnet/performance as well, possibly under ARM flag or something?

[2020-03-18 23:50] Audionysos commented on #1393
To be honest I'm not convinced with the post you've just linked. The guy shows result where over 93 % of measured delta is less then one tick and over 99,9% is less than 1us and then he claims that because 1 on a million of measured deltas is 0.8ms, we can't rely on Stopwatch to measure execution times of code which takes milliseconds. This is ridiculous, it's like saying if you go out you gonna g

[2020-03-19 13:11] adamsitnik commented on #1395
If https://github.com/dotnet/roslyn/issues/42393 is not going to get fixed anytime soon then definitely yes. Could you please send a PR?

[2020-03-19 19:46] #1395 closed

[2020-03-21 14:37] damageboy opened #1400 "Include tested Generic parameter as column in various default outputs"
The current output formats: Console, markdown, csv, html are all lacking the generic type parameter when exporting benchmarks that were configured with `[GenericTypeArguments]`.

This makes compiling combined reports needlessly more complicated.
For example, it would make sense to be enable merging the generated CSVs for all the generic types that were benchmarked and enable generating some sort o

[2020-03-22 06:54] SumitMeh opened #1401 "Executing Benchmark on class utilizing `System.Threading.Channels` takes lots of memory and are slow to run"
I have created a simple program utilizing `System.Threading.Channels` via `PipelinePattern`.
Running benchmark on it takes a lot of memory, upto 3-4 GBs.
Specifying parameters to `SimpleJob` to execute less number of iteration does allow the benchmark to complete but even that takes upto 500-600 MBs of memory.
The program just enumerates over directory, pushes each file to Channel --> on other end

[2020-03-23 11:04] adamsitnik commented on #1401
Hi @SumitMeh

BenchmarkDotNet has no special treatment for any types or namespaces, including `System.Threading.Channels`. It's a benchmarking tool that runs whatever the user has provided.

If you want to find out why so much memory was allocated, you need to use a `memory profiler`. You can use [Visual Studio Memory Profiler](https://github.com/dotnet/performance/blob/master/docs/profiling-workf

[2020-03-23 11:04] #1401 closed

[2020-03-23 11:20] adamsitnik commented on #1400
By default, BDN generates a single report per type. If given report belongs to one type, the type information is not included in the report because it's part of the file name.

I think that what you are looking for is the `--join` switch:

Sample benchmarks:

[code]

Sample command:

[code]

Sample output:

[code]
|         Type |      Method |     Mean | Error |
|------------- |------------ |----

[2020-03-23 14:03] nietras opened #1402 "Dynamically define `InvocationCount`/ `MaxInvocationCount` etc."
I have a lot of benchmarks that depend a lot on the actual parameters being tested and where I want to define the `InvocationCount` or `MaxInvocationCount` **depending** on the parameters currently being benchmarked. Sadly, most of BDNs parameters are static, is there or could there be a way to "dynamically" define these in the benchmark class itself, that is in code that is called e.g. a property

[2020-03-24 10:56] adamsitnik commented on #1325
I am closing as it was fixed by https://github.com/dotnet/BenchmarkDotNet/pull/1332

@damageboy please feel free to reopen if there is something missing

[2020-03-24 10:56] #1325 closed

[2020-03-24 10:58] adamsitnik opened #1403 "Change the way of generating new project file"
As of today, we generate the `.csproj` file by filling [this](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Templates/CsProj.txt) text template.

The main disadvantage of this approach is that if there are any custom `MSBuild` settings in the project with a benchmark that we are not aware of, we sometimes fail to build the project and hence fail to run the benchmarks.

[2020-03-24 11:02] adamsitnik commented on #1336
Hello @bender2k14

Yes, but it would require your contribution.

The colors are defined [here](https://github.com/dotnet/BenchmarkDotNet/blob/3223c94a92050147a02482a3810860703f0c5171/src/BenchmarkDotNet/Loggers/ConsoleLogger.cs#L64-L75) Please feel free to experiment with them and send a PR.

Thanks,
Adam

[2020-03-24 11:03] adamsitnik commented on #1403
@WojciechNagorski if you are still looking for some task then most probably this one would have the biggest impact (it's going to solve at least 10+ bugs)

[2020-03-24 11:11] adamsitnik commented on #1377
@dotMorten I have filled #1403 which should solve this problem and a few more similar issues ;)

[2020-03-24 11:11] adamsitnik commented on #1345
DmitrySenin I have filled #1403 which should solve this problem

[2020-03-24 13:05] WojciechNagorski commented on #1403
@adamsitnik Yes, I would like to solve this task. I will find time next week.

[2020-03-24 13:28] adamsitnik commented on #1403
Awesome! I've assigned you to the task.

[2020-03-24 13:51] bender2k14 commented on #1336
Hello @adamsitnik, thanks for your response.

If you would prefer to reinvent logging (instead taking on dependency for logging), then I recommend copying how [Serilog.Sinks.Console](https://github.com/serilog/serilog-sinks-console#themes) does it.  Specifically, the coloring that you are currently using is fine but only apply it to the log type (which implies that it is also displayed).

What do

[2020-03-24 14:03] dotMorten commented on #1377
Thank you!

[2020-03-24 14:24] adamsitnik commented on #1336
Do you mean using the same colors as Serilog?

![obraz](https://user-images.githubusercontent.com/6011991/77436183-779cf400-6de3-11ea-99c3-f44df402e247.png)

I am fine with that. @AndreyAkinshin what do you think?

[2020-03-24 15:06] AndreyAkinshin commented on #1336
@adamsitnik so, do I understand correctly that we are going to replace
[code]
with
[code]
?

[2020-03-24 15:10] adamsitnik commented on #1336
@AndreyAkinshin yes, but we might also want to set bg color to red for error and yellow text color for warning

[2020-03-24 15:23] bender2k14 commented on #1336
I don't care about the exact colors used.  I am suggesting that the text to be log should be white so that the contrast with the black background is high.

No.  Sorry that I have been unclear.  I created PR #1404 that makes the kind of change that I am taking about.  It also includes a screenshot of the new behavior.

[2020-03-24 18:43] damageboy commented on #1400
No, I think it's good enough for me, Thanks!

[2020-03-24 18:43] #1400 closed

[2020-03-24 22:21] gfoidl commented on #1136
Similar problem on Azure DevOps for `net48` (same for `net461`) on `windows-2019`.

With
[code]
I can see:
[code]

On my local dev-machine (win-10) there's no problem.

[2020-03-26 01:19] rmanjusha opened #1405 "Error - On .Net core"
[error-benchmark.txt](https://github.com/dotnet/BenchmarkDotNet/files/4384481/error-benchmark.txt)

Hi,

I`m using benchmarkdotnet for first time and running on .net core 3.1 console application . While running the application is throwing exception as in attached file.

The build folder is '79925369-ddcb-4cb8-84a0-88dfabc0d345' is created on running benchmark project , but is getting deleted befor

[2020-03-26 08:58] adamsitnik commented on #1405
Hello @rmanjusha

We try to build the project two times, the failure in your log is from the second attempt and it fails with `file in use`. Most probably the first attempt failed with some other reason, but we don't know it.

Could you please follow our [troubleshooting](https://benchmarkdotnet.org/articles/guides/troubleshooting.html) guide?

TL;DR:

1.  Apply `[KeepBencharkFiles]` attribute to

[2020-03-26 18:42] Yamazaki93 opened #1406 "BenchmarkSwitcher Throws FileLoadException"
## Issue

Building with .NET Framework 4.7.2. After upgrading NuGet package `CommandLine` to version `2.7.82`. Running with `BenchmarkSwitcher` throws `FileLoadException` where it's looking for `CommandLine 2.4.3`.

## Steps To Reproduce

1. Create a .NET Framework Console App, targeting 4.7.2, add `BenchmarkDotNet` NuGet package.
2. Upgrade `CommandLine` to `2.4.3`
3. Run the following modified v

[2020-03-26 20:00] rmanjusha commented on #1405
Hi Adam @adamsitnik

I found the out the cause. The issue was with path length. I moved my project to root directory and is working fine now.

Thanks for quick response.

Thanks,
Manjusha

[2020-03-26 20:01] #1405 closed

[2020-03-27 11:25] adamsitnik commented on #1406
It's most probably a binding redirect issue. Could you please check if upgrading CommandLine is also changing the binding redirect for it?

Also, does it work if you just don't update it?

[2020-03-29 07:28] ashishnegi commented on #147
I have simpler scenario where i want to benchmark operations like `Add` on `ConcurrentDictionary` like collections, parameterizing the number of threads. i.e. how does this collection's a particular operation scale with the concurrent requests ? For inspiration, google's [benchmark](https://github.com/google/benchmark) library support this.

[2020-03-29 12:23] drieseng opened #1408 "ArgumentsSource method is executed before GlobalSetup method"
In **BenchmarkDotNet** version 0.12, the method that provided arguments for a parameterized benchmark is executed before the **GlobalSetup** method of the benchmark.

Having the designated **GlobalSetup** method execute before the **ArgumentsSource** method is useful when the arguments are costly to create, and - for example - need to be disposed once the benchmark has completed.

**Example:**
[co

[2020-03-29 12:41] drieseng opened #1409 "Support IDisposable on benchmark class"
Currently, **BenchmarkDotNet** does not support **IDisposable** on a benchmark class.
I would expect a `IDisposable.Dispose()` method to have similar semantics as a **GlobalCleanup** method.

As a workaround to #1408, I performed "global setup" in the .ctor of my benchmark class. In which case it makes sense to implement **IDisposable** on this class and perform the "global cleanup" in the `Dispos

[2020-03-29 21:23] Yamazaki93 commented on #1406
Hi @adamsitnik,
It appears to not change the binding redirect after updating NuGet. And yes it works without updating it.
Best,

[2020-03-30 05:54] adamsitnik commented on #1406
Thank you for the confirmation. In such a case, it's an IDE bug that we can do nothing about.

If you just want to get it working, please update the binding redirect manually (or remove the `CommandLine` entry and install it again).

If you want to get it fixed, please report it as a bug in your IDE bug tracking system.

[2020-03-30 05:54] #1406 closed

[2020-03-30 14:22] #1003 closed

[2020-03-31 02:38] rmanjusha opened #1411 "BenchmarkdotNet result analysis"
Hi ,

Could you please provide some clarity on how   'Error  : Half of 99.9% confidence interval' is calculated and what it means?
Should it  be lower.

Thanks,
Manjusha

[2020-03-31 06:43] adamsitnik commented on #1411
Hi @rmanjusha

Does https://github.com/dotnet/BenchmarkDotNet/issues/1205#issuecomment-513495371 answer your question?

Thanks,
Adam

[2020-03-31 09:11] alexeybut opened #1412 "netcore tests hung if COREHOST_TRACE=1"
Version 0.12.
NetCore targetframework.
Any test hungs if environment variable COREHOST_TRACE=1.
DotNetCliCommandExecutor.GetDotNetSdkVersion() can't finish the line
string output = process.StandardOutput.ReadToEnd()

[2020-03-31 09:26] adamsitnik commented on #1412
Hi @alexeybut

What .NET Core version are you using? It looks like an old .NET Core bug that BenchmarkDotNet has nothing to do with: https://github.com/dotnet/runtime/issues/2531

[2020-03-31 10:13] alexeybut commented on #1412
@adamsitnik,
This happened on any version 2.0, 2.1. 3.1.
Setting COREHOST_TRACE to 0 fixes this issue.

[2020-03-31 10:20] alexeybut commented on #1412
[error.txt](https://github.com/dotnet/BenchmarkDotNet/files/4408359/error.txt)
[out.txt](https://github.com/dotnet/BenchmarkDotNet/files/4408360/out.txt)

[2020-03-31 10:24] adamsitnik commented on #1412
I am afraid that we can't fix it on our side.

Could you please create a small repro of what `DotNetCliCommandExecutor.GetDotNetSdkVersion()` does and report an issue in the https://github.com/dotnet/runtime repo?

[2020-03-31 22:54] djfoxer opened #1413 "Plot with only one "default" Job"
I have in my class  following attributes:

[code]
class contains 2 [Benchmark] methods: RegexEmail and RegexStrongPassword.

but output plot (image: boxplot) contains only one (default?) Job:

![image](https://user-images.githubusercontent.com/17012140/78082111-7f93ff80-73b2-11ea-8bba-d5ce19ae1b6d.png)

Missing all 3 Jobs, that should be compared on one plot. It's multi-target project:
`<TargetFra

[2020-04-01 07:13] AndreyAkinshin commented on #1413
@djfoxer thanks for the report!

[2020-04-03 03:58] rmanjusha commented on #1411
Thanks Adam

[2020-04-03 04:49] rmanjusha opened #1414 "Source data setup"
Hi,

I `m doing performance test on collections and trying to benchmark for item remove (List.Remove). Could you please advise how to set up  the source data . I tried using Argument Source , but the data will get remove in  before actual run . So during actual run there won`t be data in the list . Any idea how to set the test data in this scenario.

![image](https://user-images.githubusercontent.

[2020-04-03 06:04] danielmeza opened #1415 "Make Values properties on ParamsAttribute protected set"
Make Values properties on ParamsAttribute protected set; in order to easy extend custom attributes.

[2020-04-03 10:58] adamsitnik commented on #1415
@danielmeza could you please send a PR?

[2020-04-03 11:03] #1411 closed

[2020-04-03 13:18] danielmeza commented on #1415
Yes!

[2020-04-03 21:11] WojciechNagorski opened #1416 "EventPipeProfiler Documentation"
I would like to write documentation about EventPipeProfiler.

@adamsitnik I'm also going to create a blog post this weekend if you don't mind?

I want to finish this issue before Monday, it is related with https://github.com/dotnet/BenchmarkDotNet/pull/1399#issuecomment-608601423

[2020-04-03 22:24] AndreyAkinshin commented on #1416
@WojciechNagorski it would be great! You blog post will be a good addition to the release notes.

[2020-04-03 22:50] WojciechNagorski commented on #1416
Great. I've done the raw version, I will be polishing it tomorrow.

[2020-04-05 11:22] #1413 closed

[2020-04-06 07:56] AndreyAkinshin commented on #1416
Fixed in #1418

[2020-04-06 07:56] #1416 closed

[2020-04-07 13:28] roji commented on #1343
Am also interested this, will probably give the PR a spin soon.

[2020-04-09 16:06] #1343 closed

[2020-04-10 10:42] badijm commented on #1247
@adamsitnik Hi, Adam, I've try to repro this it's OK now.

[2020-04-11 17:33] HurricanKai opened #1421 "SSE41.Blend unsupported when Benchmarking out of process"
**.Net 5**
When using SSE41 specific Methods (Blend, PackUnsignedSaturate etc.) in Benchmarks the Benchmark cannot be run, due to a PlatformNotSupportedException.
The initial Program repors that SSE42 & SSE41 are supported (Sse41/Sse42.IsSupported are true) but the Benchmarks ran from it do still throw. (While Sse41.IsSupported is still true)
When using `DebugInProcessConfig` as config all the in

[2020-04-11 17:42] HurricanKai commented on #1421
It seems I have generalized a way too quickly, sorry about that

[2020-04-13 08:08] Ursanon commented on #1414
This is side effect of benchmarking state holding class. Benchmark (iteration) will be executed many times per single global setup.

Try [Iteration options](https://benchmarkdotnet.org/articles/samples/IntroSetupCleanupIteration.html).

[2020-04-13 20:25] kunalspathak opened #1422 "--disasm switch on ARM64 throws Exception"
I get following exception when using `--disasm` on ARM64.

[code]

[2020-04-13 20:26] kunalspathak commented on #1422
@adamsitnik

[2020-04-14 08:18] adamsitnik commented on #1421
Hello @HurricanKai

Could you please provide a repro?

BTW are you using the latest version (0.12.1) which added the .NET 5 support?

[2020-04-14 18:36] kunalspathak opened #1423 "Option to run benchmarks in a folder"
I am interested in running benchmarks inside [runtime folder](https://github.com/dotnet/performance/tree/master/src/benchmarks/micro/runtime) but looks like there is no unified namespace that I can use to filter. Is there a way to specify folder or should we add namespace based on folders?  Even the [AnyCategories](https://github.com/dotnet/BenchmarkDotNet/blob/e8bf99272bc410601863bda338b57d0c46ba

[2020-04-14 18:36] kunalspathak commented on #1423
Related : https://github.com/dotnet/performance/issues/1277

[2020-04-15 08:50] adamsitnik commented on #1423
could you please try:

[code]

[2020-04-15 09:04] adamsitnik commented on #1423
Btw if you want all the results to be joined into a single table, use `--join`

[2020-04-15 09:05] Swoorup opened #1424 "Should minor version cause api breakage?"
It appears that a third party package that I use `Expecto` broke for benchmark 0.12.1, due to a property being removed from IConfig.

https://github.com/haf/expecto/issues/381

Should minor version increments in future cause other libraries to break?

[2020-04-15 09:22] WojciechNagorski commented on #1403
Update: I've thought for 2 weeks and I think that I invented the final solution for all cases.

[2020-04-15 09:45] adamsitnik commented on #1424
It should not. We do our best to not break the end-users by making sure we don't rename|remove a very common API, but sometimes we simply have to do it for the greater good. If you are interested in the details, please refer to https://github.com/dotnet/BenchmarkDotNet/pull/1302

Would you be interested in sending a PR that adds an integration test to make sure that we don't break Expecto in the f

[2020-04-15 09:52] adamsitnik commented on #1403
@WojciechNagorski awesome :D

[2020-04-15 14:02] kunalspathak commented on #1423
That worked. Thanks. But some of the benchmarks in runtime folder don't have common namespace and/or no namespace.

This is super useful. Thanks for telling about that option. From last few days I was manually searching the result and putting them in excel. Single table will help me copying them easily in excel.

[2020-04-15 15:02] bonesoul opened #1425 "How to change output path using the console line arguments?"
[here](https://github.com/dotnet/BenchmarkDotNet/issues/377#issuecomment-365637300) it says that i can use artifacts parameter to change with

`dotnet run -c Release -f net46 -- --artifacts="C:\AdamTest"`

i'm trying it with

`dotnet run -c Release  --project benchmarks\processors\timeseries\HypeEngine.Processors.TimeSeries.Benchmarks.csproj -- --artifacts="c:\test"`

but no luck. any ideas?

[2020-04-15 15:31] adamsitnik commented on #1425
Hi @bonesoul

Are you using `BenchmarkSwitcher` and passing the `args` to it?

[code]

[2020-04-15 15:38] bonesoul commented on #1425
hmm, seems it's a point.

one thing though i want to RunAll() within switcher (so i don't need any console input), but RunAll from BenchmarkSwitcher doesn't support args?

[2020-04-15 15:59] adamsitnik commented on #1425
good catch, could you please send a PR that adds that?

btw to run all you can just pass `*` as filter:

[code]

[2020-04-17 09:52] roji commented on #1243
For uniqueness shouldn't both the name and class be considered?

In any case, I have the opposite need, and was indeed treating Description as a way to override the method name. This is the case, for example, when extending a benchmarks base class, and not wanting the subclass to have different names. So IMHO it would be good to have a Benchmark column, which defaults to the method name but can be

[2020-04-17 13:51] jjolidon opened #1427 "NativeMemoryProfiler reports false positive leak"
Hello all,
Thank you for the work on the project, it is much appreciated!

I am reporting an issue we are experiencing with the NativeMemoryProfiler of BenchmarkDotNet. It detects small but constant native memory leaks that seem to be false positives.
The attached reproducer showcases the issue. The benchmark only instantiates a mock object and computes a SHA256 (to avoid spending too little time

[2020-04-17 14:16] adamsitnik commented on #1427
@WojciechNagorski could you please take a look?

[2020-04-17 14:53] kirillta opened #1428 "Default columns not displayed"
[Benchmarks.NormalizersBenchmark-20200417-172821.log](https://github.com/dotnet/BenchmarkDotNet/files/4493582/Benchmarks.NormalizersBenchmark-20200417-172821.log)

Despite selected configuration I never able to see some columns like method name on a display, or in logs. Please advise.

Here's my setup:
[code]

And results are:
[code]

[2020-04-18 13:42] bigdnf commented on #973
This feature looks promising - is there any progress on this?

[2020-04-19 03:21] dotMorten commented on #1243
Sure. The main thing here is that the generated CSV format is quite useless for importing into a database to track performance over time. You're likely to update the description, so suddenly tests wouldn't match, and uniqueness isn't guaranteed.
(the other problem is the custom parameters are in the middle of the CSV so hard to figure out what are real values and what are custom - I would have pre

[2020-04-19 09:17] roji commented on #1243
That depends... If you're using it simply as a way to define the benchmark name that isn't the method name, and you care about keeping names constant over time (because you're putting them into the database), then they indeed shouldn't be changed...

This seems to be more a problem of naming - "Description" does usually imply a user-displayed text that isn't important for any program and can chang

[2020-04-20 10:59] WojciechNagorski commented on #1427
I started my investigation.
I run my repro (based on @jjolidon's report) using the following command because I wanted to run a benchmarked method only once.
[code]
And I got (2320 B memory leak)
![image](https://user-images.githubusercontent.com/17333903/79743809-88b72300-8305-11ea-9623-a8bd1bbdc8d2.png)

Then I use Perfview to analyze a trace file:
![image](https://user-images.githubusercontent.c

[2020-04-20 14:54] Kavignon commented on #1346
Sorry for a long time with no updates. That was precisely the problem! Thanks a lot @adamsitnik

[2020-04-20 21:10] leelatoo opened #1430 "PlatformNotSupportedException using BenchmarkDotNet nuget package in Xamarin.iOS"
Hi,

I have created a Xamarin.Forms app, Included **BenchmarkDotNet(0.12.1)** nuget package in shared project. Included a Helper.cs which has the following method to trim url string

[code]

I want to benchmark the above function. So I have included a button 'Run' in MainPage.xaml, and the clicked event is handled in code behind file MainPage.xaml.cs is as follows.

[code]

Expected Output:

Click

[2020-04-21 06:53] WojciechNagorski commented on #1427
It is a minimal repro:
[code]

The result:
[code]

[2020-04-22 09:13] WojciechNagorski commented on #1427
After adding additional providers, I received a readable tracking file:
![image](https://user-images.githubusercontent.com/17333903/79963565-dceb1000-8489-11ea-93e2-bf2dcb4798e8.png)
But the memory leak is still there.

[2020-04-22 18:33] vivekbm commented on #190
Hi @adamsitnik ,

Is this issue still open?

Regards,
Vivek M

[2020-04-24 07:16] adamsitnik commented on #1430
Hello @leelatoo

Xamarin support has been added very recently in https://github.com/dotnet/BenchmarkDotNet/pull/1360 and we simply have not published a new version to nuget.org yet.

You can give it a try by installing the latest version from our [CI NuGet feed](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly):

[code]

Please let me know if it solves your problem.

Thanks,
Adam

[2020-04-26 06:36] akovac35 opened #1431 "System.IO.FileNotFoundException with EtwProfiler"
Hello,

I am receiving the following exception when running the EtwProfiler profiler in Windows 10 as administrator:

[code]

Benchmark starts a job but after a while it fails, probably just before a new job is started. Would you happen to know what the problem could be?

Problem can be reproduced by executing problem/test/com.github.akovac35.AdapterInterceptor.Benchmarks/```dotnet run -c Release

[2020-04-27 07:19] ishepherd opened #1432 "Benchmarking REST APIs?"
Hi, new user here just want your opinion:

Is Benchmark.Net a sensible choice for performance testing of a REST API?

Most examples I see use it for tiny microbenchmarks. It looks quite suitable for benchmarking any kind of code, I am just wondering if I will hit any particular impedances with blackbox testing of an API.

One example: Can it run the tests in parallel? For code microbenchmarks this

[2020-04-27 08:27] ishepherd commented on #1432
Useful past issues:

https://github.com/dotnet/BenchmarkDotNet/issues/659#issuecomment-368257044
https://github.com/dotnet/BenchmarkDotNet/issues/1314

[2020-04-27 12:15] adamsitnik commented on #1431
Hi @akovac35

Thanks for a good bug report, I was able to reproduce the problem.

The root cause of the bug is that we are using full benchmark name as an ETW session name:

https://github.com/dotnet/BenchmarkDotNet/blob/ccdf229ca82c1f064ee7e43af2d1f10991f247a5/src/BenchmarkDotNet.Diagnostics.Windows/Sessions.cs#L37

And we are hitting some Windows OS limitation (the name is too long)

A very quic

[2020-04-27 16:31] peschkaj opened #1433 "Benchmarks work in .NET 4.7.2 but not .NET Core 3.1"
When running a benchmark with .NET Framework 4.7.2, benchmarks proceed as expected. However, switching to .NET Core 3.1 results in a host of errors stating `Generate Exception: Unable to find <Project> in <Folder> and its subfolders`.

Running `git diff` shows the only difference being in the .csproj` file:

[code]

[2020-04-27 16:45] peschkaj commented on #1433
Renaming PerformanceTests.csproj to have a name that matches the assembly name fixes this error, however a new error crops up: `error MSB4086: A numeric comparison was attempted on "$(LangVersion)" that evaluates to "latest" instead of a number, in condition "'$(LangVersion)' == '' Or '$(LangVersion)' < '7.3'".`

[2020-04-28 06:29] MSSchuhfried opened #1435 "Could not load file or assembly "Newtonsoft.Json""
Hi Guys, I would ask you if somebody could help us with following problem related to the BenchmarkDotNet tool which we are using in our Benchmark solution written in .NET Core 2.2. In debug we can run it with any issues but after publishing it and trying to run from cmd line using following command "dotnet benchmark Benchmark.Testplayer.Web.dll --filter *" leads to the following exception
![consol

[2020-04-28 07:53] adamsitnik commented on #1433
This is expected. To build the auto-generated `.dll` we need to reference the project that defines the benchmarks and we search for something like `typeof(TypeWithBenchmarks).Assembly.Name + ".csproj"`. If the names dont match, we simply can't find it (afaik we print a nice error with explanation).

This is a bug that I've introduced in 0.12.1. It was already fixed in https://github.com/dotnet/Ben

[2020-04-28 08:29] adamsitnik commented on #1424
No response for two weeks - I am closing it.

@Swoorup please feel free to send a PR that adds and integration test that ensures that we don't break Expecto in the future

[2020-04-28 08:29] #1424 closed

[2020-04-28 08:34] peschkaj commented on #1433
That all makes sense and will be a good incentive to clean up assembly names and project file names.

Thanks for clearing the language version issues, as well. I think our workaround makes sense for now, our benchmarking needs are limited at the moment.

[2020-04-28 08:34] #1433 closed

[2020-04-28 08:35] adamsitnik commented on #1428
Hello @kirillta

To tell the long story short, `ManualConfig` is completely empty config which requires the user to configure everything manually. Including the visible columns.

In your case it's a matter of adding the following line:

[code]

You can take a look at the [DefaultConfig](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Configs/DefaultConfig.cs) source code

[2020-04-28 08:35] #1428 closed

[2020-04-28 08:38] adamsitnik commented on #1425
I believe that the question was answered, so I am closing the issue.

[2020-04-28 08:38] #1425 closed

[2020-04-28 08:39] adamsitnik commented on #1415
@danielmeza ping

[2020-04-28 08:39] adamsitnik commented on #1421
@HurricanKai ping

[2020-04-28 08:41] adamsitnik commented on #1412
I am closing due to no response for almost a month.

[2020-04-28 08:41] #1412 closed

[2020-04-28 08:44] adamsitnik commented on #1371
@olivegamestudio did the link provided by @WojciechNagorski help you to make it work?

[2020-04-28 08:47] bonesoul commented on #1425
yep

[2020-04-28 09:25] kapsiR opened #1436 "Wrong OsBrandString for Windows 10 1909"
Windows 10 1909 is the `November 2019 Update`.

`OsBrandStringHelper` reports `November 2018 Update` instead.

Example output:

Affected code:
https://github.com/dotnet/BenchmarkDotNet/blob/7902cd6de243c95861aed0b479d6c118d0711755/src/BenchmarkDotNet/Environments/OsBrandStringHelper.cs#L139

https://github.com/dotnet/BenchmarkDotNet/blob/7902cd6de243c95861aed0b479d6c118d0711755/tests/BenchmarkDotN

[2020-04-28 09:29] adamsitnik commented on #1436
Hi @kapsiR

Could you please send a PR with the fix?

Thanks,
Adam

[2020-04-28 09:31] kapsiR commented on #1436
Yes, sure. I'm on it and will push the PR shortly.

[2020-04-28 10:02] #1436 closed

[2020-04-28 11:38] HurricanKai commented on #1421
Sorry, I seem to have missed that last message.
When trying to reproduce this in a minimal sample it just worked.
Only in that one project have I encountered the issue. The versions and such are the same, as far as I can tell. I've just copied the files to a new directory, and there it seems to work. Maybe I somehow screwed up some Intrinsics availability in that specific Artifacts folder...
Doesn

[2020-04-28 11:38] #1421 closed

[2020-04-28 13:21] akovac35 commented on #1431
Hi, thanks for a quick reply. I tried your suggestion and it worked for a few jobs, but then a different error was received. Were you able to run the benchmark all the way through the end? Removing the profiler solves the issue, so it is not the benchmark itself.

[2020-04-28 13:29] JimBobSquarePants opened #1439 "System.ArgumentException Thrown on Benchmark Validate."
There's a few too many details to note here but I've linked the exact source code timestamp which throws the exception. If you need more information please let me know.

Basically everything runs until the benchmark is to be validated and then the application throws.

https://github.com/SixLabors/ZlibStream/blob/233f7e57310dba98ad8ba19c2e610e65646186cf/tests/ZlibStream.Benchmarks/ZlibDeflateBenchm

[2020-04-28 23:06] nloum opened #1440 "Benchmark-specific diagnostics"
Thank you for the great library! The attention to detail is very much appreciated.

I'm making a streaming application where it's very important that the streaming framework doesn't fall behind in the event processing. So I would like a benchmark that lets me measure the number of events the pipeline can handle per second. Is there a way to make BenchmarkDotNet benchmark something arbitrary like "

[2020-04-29 07:45] adamsitnik commented on #1440
Hi @nloum

Thank you!

Assuming that your `[Benchmark]` method processes a single event per benchmark, `StatisticColumn.OperationsPerSecond` is what you are looking for.

Example:

[code]

[2020-04-29 07:55] adamsitnik commented on #1439
Hello @JimBobSquarePants

This exception is very strange because BDN just calls:

https://github.com/dotnet/BenchmarkDotNet/blob/0b83c934e5f983ff2aa43c82e63d242216d330bf/src/BenchmarkDotNet/Extensions/AssemblyExtensions.cs#L17-L20

and it's the `System.Attribute.GetCustomAttributes` that calls the throwing code.

Is it possible that `zlib.managed, Version=1.1.4.0`  has the `[DebuggableAttribute]`

[2020-04-29 09:36] JimBobSquarePants commented on #1439
Thanks for investigating @adamsitnik The source code for that library is available so I will have a look and get back to you.

[2020-04-29 10:09] Caspeco-MarcusOtterstrom opened #1441 "MSB3021: Unable to copy file"
Hello, I'm trying to run benchmarks on a .NET framework 4.7.1 project.
I get the following error, but *only* when my benchmark class has members that are custom types from another project (in this example from the `Api.Models` project).
## Error
`mypath` is the solution folder and `PerformanceBenchmarks` is the csproj folder for the benchmark project
[code]

## Repro
I've been trying hard to make

[2020-04-29 14:52] nloum commented on #1440
Nice! That might do what I need.

The pipeline processes multiple events simultaneously with multiple threads, so I'd like to test a large number of events in a single benchmark method. In fact one of the benchmark parameters is which threading mode the pipeline should use (single threaded or multi threaded).

So, what if I processed 1000 events in a single benchmark method, and used the `Statisti

[2020-04-29 14:52] Caspeco-MarcusOtterstrom opened #1442 "Error "Benchmark was built without optimization enabled" even with DontFailOnError"
I have a simple .NET Framework `4.7.1` project using BenchmarkDotNet `0.12.1`.

I need to benchmark in debug mode and read that I needed to add the `JitOptimizationsValidator.DontFailOnError` validator to stop getting this error:
[code]

However, it doesn't seem to work. I can (for reasons described in #1441) not use `DebugBuildConfig()`, which does remove the error for me.
This is my code:
[code]

[2020-04-29 14:52] Caspeco-MarcusOtterstrom commented on #1441
## Update
I've done more testing and found some kind of a workaround. Hopefully gives you guys an idea of what's wrong 🙂

### Example benchmark that fails
.NET Framework `4.7.1` Console app (using the .NET Core .csproj syntax)
BDN Version `0.12.1`

[code]
Error: `error MSB3021: Unable to copy file [...]` (see above)

### Workaround
By making a new custom config with a job that doesn't have `.WithC

[2020-04-29 14:52] #1441 closed

[2020-04-29 20:45] akovac35 commented on #1431
I also with tried #1248, by cloning the branch on my machine, removing existing NuGet reference and adding BenchmarkDotNet projects to AdapterInterceptor - problem was not solved.

[code]

[2020-04-30 05:34] danielmeza commented on #1415
@adamsitnik sorry for the delay, I will resume this work as soon as I can.

[2020-04-30 08:37] WojciechNagorski commented on #1427
I have a fix for .Net Framework. .Net Core has different behavior, but I know where a problem is and how to fix it. But I have to find free time to implement a fix.

[2020-04-30 10:37] WojciechNagorski commented on #1427
The following code present starting action:
![image](https://user-images.githubusercontent.com/17333903/80696328-89a33e00-8ad7-11ea-89ea-163a419e18f1.png)

And my calculations take a jitting of method (with their native allocations) between `Start` and `Stop`:
![image](https://user-images.githubusercontent.com/17333903/80696946-7e044700-8ad8-11ea-9fa9-b39a9795456a.png)
![image](https://user-images

[2020-04-30 10:43] adamsitnik commented on #1427
Great news!

[2020-04-30 11:53] airbreather commented on #1205
"CI Dist."?
"99.9% Dst"?
"CI Spread"?
"99.9 Sprd"?

[2020-04-30 22:22] emiliovmq opened #1444 "Error running BDN"
Don't know what I'm doing wrong here but every time I run BDN it fails with the following exception:
**Note**: I had to recur to insert images as adding content as code didn't work.

![image](https://user-images.githubusercontent.com/28937991/80763778-495eb280-8b0d-11ea-8b45-71ee42835e4e.png)

this is how my csproj file looks like:
![image](https://user-images.githubusercontent.com/28937991/807642

[2020-05-01 09:32] adamsitnik commented on #1444
Hi @emiliovmq

Could you please run the following command in a folder with the project that defines the `Program.cs` that you have provided above and share the output?

[code]

[2020-05-01 14:24] tebjan opened #1445 "[Question] Is there a guide or code example for benchmarking programmatically?"
Is there a guide or code example for benchmarking a method programmatically?
Similar to this, but including adding some user method to test:
https://github.com/dotnet/BenchmarkDotNet#simplicity

The reason I'm asking is that I'm working in a live-programming environment that doesn't have support for attributes for static compilation/reflection: https://visualprogramming.net/

So I have to set up t

[2020-05-01 21:58] JimBobSquarePants commented on #1439
![image](https://user-images.githubusercontent.com/385879/80834459-a8452a00-8be8-11ea-878e-0aa7dcd84de0.png)

Everything looks normal. I'm confused.

[2020-05-01 23:27] emiliovmq commented on #1444
Hi @adamsitnik, thanks for your quick reply

I ran your command and, at first instance, it seemed to me the error had to do with the method used as the argument source. I applied a change to the code - following the samples in the documentation - and it worked, but it only works using the command you provided. If I use any of the commands I normally use it fails again.

So, this is how my benchmar

[2020-05-02 00:02] emiliovmq opened #1446 "How to define the argument source method when the methods to benchmark only have one input parameter which is an array?"
Hi there,

This is an interrogant that surfaced when I was investigating another issue with the BDN dotnet tool. These are my methods:

[code]

**Note:** As you can see they only have one input parameter which is an array.

If I define the method **InputData** as below, it fails at runtime with ```System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types.```:

[2020-05-02 12:03] roji opened #1447 "Ability to configure benchmark class name in outputs"
An individual benchmark method's name can be overridden for output purposes via the Description property on BenchmarkAttribute (see #1243 for a related issue on this). However, there doesn't seem to be a way to do the same for the entire class.

My use case: we have a superclass of benchmarks being extended for different databases, so an abstract OpenConnectionBenchmarks class gets extended by Sql

[2020-05-02 14:14] MaceWindu opened #1448 "NRE in MultimodalDistributionAnalyzer"
version: 0.12.1

[code]

Unfortunatelly, I cannot provide more details right now, as restarting benchmarks resulted in successful execution.

[2020-05-03 19:32] Palum12 opened #1449 "Results from BenchmarkDotNet are unstable and slower than debug run."
Hi everyone!

I am benchmarking multithreaded method which basicly counts regex matches in quite big file (~2GB). My problem is that, while results from measuring using stopwatch seem stable (as far as benchmarking with Stopwatch can go) and are hovering around 4-5 seconds, running the same method with BenchmarkDotNet produces slower and more unstable results. Sometimes it's 4-5, sometimes 6-8 and

[2020-05-04 11:14] adamsitnik commented on #1439
@JimBobSquarePants it can also be a bug in .NET itself. Which version of the framework are you using?

[2020-05-04 11:29] JimBobSquarePants commented on #1439
@adamsitnik No worries, her you go...

`dotnet --info`

[code]

`dotnet run --info`

[code]

[2020-05-04 11:35] adamsitnik commented on #1449
Hello @Palum12

Without the source code of the `SearchTextThreads` class and the input data file, we won't be able to help. But even if you could provide it, I am afraid that we would not have time to investigate it (we are maintaining this library in our free time which is limited ofc).

If you want to find out why there is a difference between `Stopwatch` and BenchmarkDotNet I recommend using a

[2020-05-04 11:35] #1449 closed

[2020-05-04 11:42] adamsitnik commented on #1447
Hello @roji  ;)

I want to make sure that I understand you correctly. So you have sth like the code below:

[code]

And you don't like the fact that the output results contain the full type name: `SqliteOpenConnectionBenchmarks.Benchmark` and you would like the `SqliteOpenConnectionBenchmarks.csv` file to contain results that use id `OpenConnectionBenchmarks.Benchmark`?

[2020-05-04 12:12] adamsitnik commented on #1439
hmm it looks like you are using a `preview` of 3.1. Is there any chance that you could update to latest stable from https://dotnet.microsoft.com/download/dotnet-core/3.1 and try it one more time?

[2020-05-04 12:19] roji commented on #1447
Yep, that's pretty much it. I worked around it by renaming the classes, but that's not ideal (now there are several classes with the same name, making it difficult to navigate in the IDE). So not urgent or anything, but it seems like there should be a way to determine output names both at the class and method level (ideally something consistent between the two as well).

[2020-05-04 12:45] JimBobSquarePants commented on #1439
Yeah, will do. The preview must have gotten installed by my VS Preview.

[2020-05-04 13:54] bonesoul commented on #946
I've tried

[code]

but still can't get my config files copied to benchmarkdotnet generated guid folder.

[2020-05-04 15:04] JimBobSquarePants commented on #1439
No difference I'm afraid.

[2020-05-05 07:15] stannynuytkens opened #1450 "Totally different results per platform"
Hello,

Is it normal that running the same benchmarks using NetCoreApp31 on **Linux** results in

|                  Method |      Mean |    Error |   StdDev | Ratio |      Gen 0 |     Gen 1 |     Gen 2 | Allocated |
|------------------------ |----------:|---------:|---------:|------:|-----------:|----------:|----------:|----------:|
|       ParseUsingDefault | 196.34 ms | 1.219 ms | 1.081 ms |  1

[2020-05-05 09:27] Palum12 commented on #1449
If someone ever has similar problem. I didn't have time for finding out why this didn't work, but changing to another PC helped. (My config which had problems: Windows 7 x64, I7-4720HQ, .NET Core 3.1)

[2020-05-05 09:54] bonesoul commented on #155
watching this also 👍

[2020-05-05 09:54] bonesoul commented on #1378
is appending to buildplots.r is a feasiable solution for this?

[2020-05-05 10:17] adamsitnik commented on #1450
Hello @stannynuytkens

BenchmarkDotNet runs the benchmarks in exactly the same way for every OS.

.NET Core has platform-specific code: for example for Unicode (`string`) operations, it's using `WinAPI` on Windows and `icu` on Unix systems. These two have very different performance characteristics hence the reported results might be different as well.

If you would like to find out why there is a

[2020-05-05 10:17] #1450 closed

[2020-05-05 10:55] adamsitnik commented on #1439
@JimBobSquarePants I was able to reproduce it. It looks that it's a bug in .NET Core 2.2+ : https://github.com/dotnet/runtime/issues/35832

I am going to close this issue here since there is nothing actionable on the BenchmarkDotNet side.

[2020-05-05 10:55] #1439 closed

[2020-05-05 12:02] adamsitnik commented on #1439
It was not a .NET Core  bug, I've sent a fix to https://github.com/AraHaan/GitInformation/pull/39

[2020-05-05 12:21] JimBobSquarePants commented on #1439
Ah you’re a legend. Thanks!

[2020-05-05 12:27] AraHaan commented on #1439
Ah I see I did not know I messed up on a few small things. What goes to show, even I can cause major performance issues/ bugs that I never experienced myself when debugging on my device.

[2020-05-05 12:40] AraHaan commented on #1439
Also filed this so more people does not get bit like me by the unknowing of things.
https://github.com/dotnet/roslyn-analyzers/issues/3604

[2020-05-05 17:31] emiliovmq commented on #1444
Hi, any news on this?

[2020-05-06 13:49] roji commented on #1447
Another scenario: have a Benchmarks postfix on class names (e.g. ConnectBenchmarks), but remove the postfix in outputs.

[2020-05-07 09:03] #1440 closed

[2020-05-07 13:57] AraHaan commented on #1439
Alright have since then published as prerelease for now.

[2020-05-08 19:04] JasonBock opened #1452 "Setting LangVersion to Latest Causes an Error"
To reproduce this:

Create a new .NET Core console app with this in the .csproj file:
[code]
Set the `Program.cs` file to have the same code as shown in the "Getting Started" page: https://benchmarkdotnet.org/articles/guides/getting-started.html.

The key is the setting for `<LangVersion>`. If I set it to a specific value, like `8.0`, the tests run as expected. If I set it to `latest`, I get this

[2020-05-09 16:37] furkanyazgi opened #1453 "Detected error exit code from one of the benchmarks. It might be caused by following antivirus software:- Windows Defender (windowsdefender://)"
Hi!
I have a benchmark that looks like this, but for every run I receive

// Validating benchmarks:
// ***** BenchmarkRunner: Start   *****
// ***** Found 1 benchmark(s) in total *****
// ***** Building 1 exe(s) in Parallel: Start   *****
// ***** Done, took 00:00:00 (0.19 sec)   *****
// Found 1 benchmarks:
//   EFvsEFCore.EF_GetAll: InProcess(Toolchain=InProcessEmitToolchain)

// ***************

[2020-05-09 16:43] furkanyazgi commented on #1453
Ok! İ Fixed it.

[2020-05-09 16:43] #1453 closed

[2020-05-10 10:44] MaceWindu commented on #1448
Tried to debug it - it fails due to `summary.Style` being `null`

[2020-05-11 06:02] adamsitnik commented on #1452
Hello @JasonBock

It's a bug that I've introduced in `0.12.1` and it was fixed in #1420 which is going to be part of next release.

For now please set the `<LangVersion>` to a number or downgrade to `0.12.0`.

Thanks,
Adam

[2020-05-11 06:02] #1452 closed

[2020-05-11 07:06] adamsitnik commented on #1444
Hi @emiliovmq

There are few ways of running the benchmarks: https://benchmarkdotnet.org/articles/guides/how-to-run.html

I personally recommend using [BenchmarkSwitcher](https://benchmarkdotnet.org/articles/guides/how-to-run.html#benchmarkswitcher) because it's simple and it always works.

When it comes to [dotnet benchmark command](https://benchmarkdotnet.org/articles/guides/how-to-run.html#glob

[2020-05-11 07:13] adamsitnik commented on #1446
Hi @emiliovmq

We have an integration test that ensures that it's possible:

https://github.com/dotnet/BenchmarkDotNet/blob/1efd5e1fece3d2b635e9a18c2c20b0af1259bc21/tests/BenchmarkDotNet.IntegrationTests/ArgumentsTests.cs#L346-L353

And a doc page with example that explains how to use it: https://benchmarkdotnet.org/articles/features/parameterization.html#sample-introargumentssource

So in your ca

[2020-05-11 07:13] #1446 closed

[2020-05-11 07:35] adamsitnik commented on #1442
Hi @Caspeco-MarcusOtterstrom

We really wanted to make sure that it's hard to achieve (to make sure that users are not ignoring this error when they run benchmarks in Debug mode by mistake) and you also need to use `ConfigOptions.DisableOptimizationsValidator`:

[code]

This should have been mentioned in the error message:

https://github.com/dotnet/BenchmarkDotNet/blob/98d9f83adc9817b5f5a15b0f75a

[2020-05-11 08:04] Caspeco-MarcusOtterstrom commented on #1442
Hello @adamsitnik
This is the full error message I am getting:
[code]

That link does not seem to provide any information about the `ConfigOptions`.
But what you mentioned does work, I added this line in the constructor of my custom config, which did remove the warnings.
[code]

Thank you for this awesome library!

[2020-05-11 08:04] #1442 closed

[2020-05-11 08:15] adamsitnik commented on #1442
@Caspeco-MarcusOtterstrom thanks!

I've sent https://github.com/dotnet/BenchmarkDotNet/pull/1454 to make sure nobody is ever missing this information

[2020-05-12 19:20] leandromoh opened #1455 "[Bug] ParamsAttribute is not being applied"
I got the following cenario, where I have 2 methods with `[Benchmark]` attribute, each one depends of 1 property with `[Params(10_000)]` attribute. Looking the output, everything looks normal.

[code]
| Method | Number |     Mean |    Error |   StdDev |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|------- |------- |---------:|---------:|---------:|-------:|------:|------:|----------:|
|    Meu |  10000 |

[2020-05-13 08:30] adamsitnik commented on #1455
The `Params` attribute is applied only to the current instance of the class that defines the `Benchmark`.

If you use it in any other type it won't have any effect. By design.

In your case, you need to pass the `Number` to `LibTest.ReadAllLinesAsync` like this:

[code]

[2020-05-13 08:30] #1455 closed

[2020-05-13 13:22] leandromoh commented on #1455
@adamsitnik , I uderstood, wondered whether was by design or not.
However, if `Params` did not have any effect over `Lib.Number`, the output table display lies, because 1000 was never applied to `Number` on `Lib`.

| Method | Number |     Mean |    Error |   StdDev |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|------- |------- |---------:|---------:|---------:|-------:|------:|------:|----------:|
|

[2020-05-13 17:15] bender2k14 opened #1456 "Measurement.Parse asked to parse blank line"
When I run the `BenchmarkDotNet.Samples.FSharp` sample and select the case `#0 StringKeyComparison`, the [logs](https://github.com/dotnet/BenchmarkDotNet/files/4623438/Program.StringKeyComparison-20200513-100534.log) include many occurrences of
[code]

that come from
https://github.com/dotnet/BenchmarkDotNet/blob/67971e92d9915622bcc44e8e75ed612cb8725e60/src/BenchmarkDotNet/Reports/Measurement.cs#L

[2020-05-14 09:25] adamsitnik commented on #1456
Hi @bender2k14

BDN is spawning a child process that is running the benchmark. Our Engine is writing the results to the standard output, which is parsed by the parent process. The parsing logic is trying to parse every line that does not start with `//`. If parsing fails, we just ignore the error.

This error is under the `#if DEBUG` condition: https://github.com/dotnet/BenchmarkDotNet/blob/67971e

[2020-05-14 09:25] #1456 closed

[2020-05-14 09:26] adamsitnik commented on #1456
If it's annoying to you that the Debug build is throwing so many exceptions please feel free to send a PR with some defensive checks that avoid parsing blank lines.

Thanks!

[2020-05-14 09:52] adamsitnik commented on #1455
It is true because the value of the static field `Number` of `Program` class that was running the `Lib` benchmark was assigned to `10_000`. You were just not using it in your code.

Try to look at this from a different perspective.

Let's say that we are using reflection to find all public types in assembly provided by the user.

[code]

And then we search for all public methods with `[BenchmarkAt

[2020-05-14 11:04] olanat opened #1457 "Directory.Build.props hijacking generated csproj output path"
In our build system we use a Directory.Build.props file to place the binaries in a target folder outside the source tree. The structure is something like:

`Directory.Build.props`
`src/...`
`test/Directory.Build.props`
`test/benchmarks`
`target/src/...`
`target/test/benchmarks...`

Benchmark.NET generates a csproj file under target/test and builds this using these commands:
call dotnet restore /p:

[2020-05-14 11:29] #1430 closed

[2020-05-14 11:32] adamsitnik commented on #1457
hello @olanat

We have faced the very same problem in the https://github.com/dotnet/performance/ repository

As a workaround, we specify the `ArtifactsPath` in an explicit way:

https://github.com/dotnet/performance/blob/6dc7cb17edeee4d8aef9b4514196a3f5504438ce/src/benchmarks/micro/Program.cs#L40

https://github.com/dotnet/performance/blob/6dc7cb17edeee4d8aef9b4514196a3f5504438ce/src/harness/Bench

[2020-05-19 07:47] TwentyFourMinutes opened #1460 "Console Tool throws System.Reflection.ReflectionTypeLoadException"
So when I am trying to run the following command in the console:
[code]
it throws the following error at me:
[code]
with the following StackTrace:
[code]
---
C# version: 8
.Net version: .Net Preview 5 preview 3
Console Tool version: 0.12.1

[2020-05-19 07:57] adamsitnik opened #1461 "LatestCoreRtVersionIsSupported test started failing"
While reviewing #1459 I've noticed that our CI is red bacuse `LatestCoreRtVersionIsSupported` fails.

I was able to repro it locally:

[code]

It looks that we don't recognize CoreRT anymore, most probably due to some recent CoreRT changes.

@MichalStrehovsky @jkotas this is the code that we are using to detect CoreRT:

https://github.com/dotnet/BenchmarkDotNet/blob/ccdf229ca82c1f064ee7e43af2d1f10

[2020-05-19 10:46] MichalStrehovsky commented on #1461
It's the `Environment.Version.Major >= 5` part of the check. I'm not sure how this ever worked since we version as 1.0 since the beginning. I couldn't find the place within the build where this is computed in the time I allocated for myself for it.

[2020-05-19 10:50] MichalStrehovsky commented on #1461
Ah, no, had the right place, but this is one of those "this won't invalidate things for incremental build, hahaha" changes.

[2020-05-20 19:11] djfoxer opened #1462 ".NET Core 5 rebranding"
.NET 5.0 Target Framework was rebranded from `netcoreapp5.0` to `net5.0` (https://devblogs.microsoft.com/dotnet/announcing-net-5-preview-4-and-our-journey-to-one-net/). Are you going to change `RuntimeMoniker.NetCoreApp50` to `RuntimeMoniker.Net50`? Because currently all output data from BenchmarkDotNet related to .NET 5.0 is branded as .NET Core 5.0.

[2020-05-21 07:24] adamsitnik commented on #1462
Hi @djfoxer

Personally I don't like the rebranding and as long as we can build and run `netcoreapp5.0` benchmarks I am not planning to do any changes myself.

However, if somebody is willing to send a PR that handles that and is not increasing code complexity, then I am fine with that.

[2020-05-23 11:41] lukasz-pyrzyk opened #1464 "DisassemblyDiagnoserConfig.ExportDiff needs better description"
Disassembly config has a property called `ExportDiff` with a description `Exports a diff. False by default.`

The description is quite unhelpful. It doesn't say where the diff will be stored and in what format (markdown? HTML?).

I think the description should be softly changed to something like `Exports a diff of the assembly code to the Github markdown format. False by default.`

[2020-05-23 15:43] #1462 closed

[2020-05-23 15:44] adamsitnik commented on #1461
The test is passing again, thank you @MichalStrehovsky

[2020-05-23 15:44] #1461 closed

[2020-05-25 07:29] #1464 closed

[2020-05-26 08:51] Martinnes commented on #606
Great work @adamsitnik! I'm using your code to do some performance measuring on datastructures. Currently, i do preprocessing of the data structure in a [SetupIteration] function and do actual performance test in the [Benchmark] function. However, this leaves me with a blank Allocated column, when running the tests with [MemoryDiagnoser]. Presumably because the MemoryDiagnoser no longer measures t

[2020-05-26 09:06] adamsitnik commented on #606
@Martinnes  No, mostly because it was a bug. Whatever is in setup should not be measured as part of the benchmark method. Here you can read more about it: https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md#Setup

[2020-05-26 09:41] Martinnes commented on #606
Thanks @adamsitnik I understand. Do you have any suggestions to how I could measure the size of the datastructure then? One example is that an array is created in the setup and the test does nothing but change values in the array

[2020-05-26 10:01] adamsitnik commented on #606
Most probably the simplest way to do it would be to just add an extra benchmark that allocates the array and does nothing else. Run it once and after you get the answer, remove it, or comment out.

[2020-05-26 10:01] adamsitnik commented on #606
Another option would be to add a custom column, but it would require much more work

[2020-05-26 15:55] Martinnes commented on #606
Okay, I will probably just stick with rerunning the benchmarks. Thank you for the help and quick answers, it highly appreciated

[2020-06-07 02:56] ebfortin opened #1466 "Unoptimized code is used for benchmark"
I opened an issue in dotnet/runtime [(37216)](https://github.com/dotnet/runtime/issues/37216) regarding what I thought at the beginning was a poor register allocation algorithm for hardware intrinsic. It evolved into why BDN do not optimize the code. And that's why I just opened an issue here.

In a nutshell, I have implemented a double double type and I want to optimize the "naive" port from a C

[2020-06-07 09:06] abbassep3200 opened #1467 "Benchmark on kafka consumer get me a strange result"
Hi my friend.
I'm testing kafka producer and consumer performance. I selected benchmark dot net. I haven't any problem with kafka producer but for kafka consumer and for only 100 messages I get 10 seconds  mean.
It's very strange and completely unreliable.
Also for this small code the bench marking process takes about 15 minutes, which is very long. ّ In real scenarios we need test 1,000,000 messa

[2020-06-08 09:05] adamsitnik commented on #1467
Hi @abbassep3200

You should most probably move the setup logic to a setup method and remove the loop from the benchmark (BenchmarkDotNet scales the number of benchmark invocations).

You can read more about the design guidelines here:
* https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md#Setup
* https://github.com/dotnet/performance/blob/master/docs/microben

[2020-06-08 09:05] #1467 closed

[2020-06-09 01:48] ryanmolden opened #1468 "Controlling host exe name"
Couldn't find this in the documents.

1) Is it possible to NOT have the benchmark runner be a randomly named exe (some GUID)? It would make debugging failures that only happen in benchmarks a LOT easier if it had a predictable name so I could use something like procdump to capture exceptions.

[2020-06-09 01:50] ryanmolden opened #1469 "Host exe marked /largeaddressaware"
Couldn't find this in the docs

1) Is it possible to have the benchmark host app (the one running my benchmark code) be marked /LargeAddressAware on Windows? I have some benchmarks that process large dump files in a 32 bit space and it would be REALLY great if I could mark the host app as /LargeAddressAware so it wouldn't OOM if I hit the 2 gig cap.

To be clear this isn't an OOM in that my benchm

[2020-06-09 03:46] Dogwei opened #1470 "BenchmarkDotNet add concurrent invoke mode is my greatest wish of my life🌚."
Now, Run benchmark test and I can play the game all morning🌚.
![微信截图_20200609114756](https://user-images.githubusercontent.com/14845492/84103972-1c27ed00-aa47-11ea-8ac8-b7d0d98969d1.png)

[2020-06-11 18:57] naricc opened #1472 "Add support of Wasm to Benchmark Dotnet"
Both the .csproj and command line invocation of a project built for wasm are different, so Benchmark Dotnet needs special support in order to be able to run benchmarks with that code generator.

This will require a new ToolChain (generator, builder, and executor).

This work is required to run the Dotnet/Performance microbenchmarks using wasm; the master issue for that is here: https://github.com/

[2020-06-11 19:00] naricc commented on #1472
Hmm, I meant to assign this to myself, but I am not a member of the appropriate team yet.

[2020-06-11 19:01] adamsitnik commented on #1472
@naricc I've assigned you. Please let me know if you need any help

[2020-06-12 00:33] zjklee commented on #54
I was looking for Github Actions support and found a PR to [Continuous Benchmark](https://github.com/marketplace/actions/continuous-benchmark) action: rhysd/github-action-benchmark/pull/34. Would leave it here for further tracking.

[2020-06-12 14:27] pprabu opened #1473 "How to benchmark static methods?"
How can I use Benchmark in Generic Extension method and the argument should be dynamic from my application?

        [Benchmark]
        public static string LogEvent(this Enum eventId, string message)
        {
            EventRecord eventRecord = new EventRecord(
                moduleName: GetEnumAttribute<TitleAttribute>(eventId.GetType()).Name,
                eventId: Convert.ToInt32(eventI

[2020-06-15 19:27] steveoh opened #1474 "docs: Getting started guide"
Do you think it makes sense to swap the current getting started guide 1 and 2. It seems that the package should be installed into the console application.

[2020-06-15 22:27] eduherminio opened #1475 "NullReferenceException when run in WSL"
I'm getting a an unhandled `System.NullReferenceException` when trying to use BenchmarkDotNet in WSL 1 and 2, with the code hosted in either WSL and Windows file systems.
My project is very simple and just works in Windows.

Stacktrace:
[code]

.NET Core version: `Version: 3.1.4`
Installed packages:  `BenchmarkDotNet` v0.12.1 and `BenchmarkDotNet.Diagnostics.Windows` v0.12.1

[2020-06-15 23:03] steveoh opened #1476 "ArgumentSource with static function cannot be found"
[code]

I am hoping to reuse some xunit test data in my benchmarks. The xunit `MemberData` attribute requires a static `IEnumerable<object[]>`.

It appears that `ArgumentSource` matches the `IEnumerable<object[]>` requirement, but when I try to use the benchmarking attribute on the method in my benchmarking project it fails to find the method with the error above.

I am assuming that since the met

[2020-06-16 04:26] JamesNK opened #1477 "Error in ASP.NET Core benchmarks after updating to use net5.0 tfm"
This is the error written to the console when trying to run benchmarks:

[code]

We believe this issue began when dotnet/aspnetcore was updated to the `net5.0` target framework.

App is using BenchmarkDotNet 0.12.1.

How do we fix this error?

[2020-06-16 11:06] adamsitnik commented on #1476
Hi @steveoh

I've tried really hard to reproduce the problem that you got but I've failed. I've found one other edge case that was related to a different problem and fixed it in https://github.com/dotnet/BenchmarkDotNet/pull/1478

I am going to close the issue as it's most probably issue on your side. Please feel free to reopen it **if you can provide a repro case**.

Thanks,
Adam

[2020-06-16 11:06] #1476 closed

[2020-06-16 11:18] adamsitnik commented on #1475
Hi @eduherminio

`0.12.1` is using a version of ClrMD that does not support WSL (https://github.com/microsoft/clrmd/pull/304)

We have recently updated it in https://github.com/dotnet/BenchmarkDotNet/pull/1459 but have not released a new version to nuget.org yet.

Could you please download the latest BDN version (`0.12.1.1372`) from our CI feed that contains the ClrMD version update and let me kno

[2020-06-16 11:32] eduherminio commented on #1475
I'm afraid I'm getting the same exception with `0.12.1.1372` @adamsitnik.

[2020-06-16 11:42] adamsitnik commented on #1475
@eduherminio thanks for quick confirmation!

[2020-06-16 12:00] adamsitnik commented on #1477
I am able to repro. But to be honest, I see this weird error for the first time ;) Let me try a few things

[2020-06-16 12:24] adamsitnik commented on #1477
I was able to find the root cause:

`dotnet build` is now producing both a `.dll` and an `.exe` file:

![obraz](https://user-images.githubusercontent.com/6011991/84773334-8d821580-afdc-11ea-89d0-f164e4fe638a.png)

BDN tries to run:

`dotnet job.exe` and it fails:

![obraz](https://user-images.githubusercontent.com/6011991/84773526-d043ed80-afdc-11ea-9524-fe4e452985f6.png)

I was able to reproduce

[2020-06-16 12:51] adamsitnik commented on #1477
I've found the source of the problem:

the new moniker (`net5.0`) does not contain `core` in the name ;)

https://github.com/dotnet/BenchmarkDotNet/blob/3223c94a92050147a02482a3810860703f0c5171/src/BenchmarkDotNet/Toolchains/DotNetCli/DotNetCliGenerator.cs#L29

I love this rebranding. It brought so much value to my products

[2020-06-16 15:03] steveoh commented on #1476
Ok great, I will look at it with fresh eyes today.

[2020-06-18 00:42] lovettchris opened #1480 "BenchmarkRunner not working from VSTS agent"
I have a self hosted azure devops build agent so I can run perf tests on a dedicated machine (running as a network service), but when I run the job it fails to find any benchmarks.

[code]

when I run my BenchmarkRunner.exe manually it works fine, on the same machine, any ideas?  When I run DefaultJob.bat I get these interesting compile errors:

DefaultJob.notcs(43,47): error CS1069: The type name

[2020-06-18 10:33] lukasz-pyrzyk opened #1481 "Link exporter, like pastebin or gist"
It would be great to have an option to automatically upload benchmark results to some online storage, like pastebin. I see it very helpful as a teacher, where my student shares it's measurement within the forum comments. Some students prefer to copy raw results, some prefer to use markdown and some of them prefer to put it to pastebin or gist.

Automatic exporter would be a killer feature for this

[2020-06-19 05:03] vsevolodp commented on #1460
Same issue with dotnet 3.1.

Installed with `dotnet tool install --framework netcoreapp3.1 -g BenchmarkDotNet.Tool`

[code]

I'm using documented sample to create dot net project as described [here](https://benchmarkdotnet.org/articles/overview.html)
dotnet benchmark BenchmarkTest.dll --filter *

[code]

[2020-06-19 05:50] vsevolodp opened #1482 "How to tell Benchmark to build for platform x64?"
I'm trying to benchmark dotnet 3.1 project which can be built as x64 only because I have native dll dependency which is x64.

**Issue 1**
From output of Benchmark I see it's trying to build for platform other than x64.

**How can I force it to build for x64 platform?**

I can tell it is not x64 because project OutputPath is `D:\src\BenchmarkTest\bin\x64\Release\` but Benchmark it trying to build i

[2020-06-19 09:17] adamsitnik commented on #1482
Hello @vsevolodp

You need to create a custom config type with a Job that has `x64` specified as platform and pass it to benchmark runner|switcher:

[code]

This is what I hope for. Could you please set the platform as described above and see how it works? Thanks!

This awesome blog post from @WojciechNagorski should help: https://wojciechnagorski.com/2019/09/using-native-dll-and-resource-files-in

[2020-06-19 09:20] adamsitnik commented on #1460
Hi!

I was never a fan of adding the `benchmark ` global tool that loads everything dynamically and I am not suprised that it fails...

My suggestion is to stop using it and just create a console app, install BDN and use `BenchmarkRunner` or `BenchmakSwitcher` and regular `dotnet run`  to run it:

[code]

[code]

[2020-06-19 21:07] lovettchris opened #1484 "High error rates across benchmark runs"
I have a nice set of benchmarks (which you can see [here](https://github.com/microsoft/coyote/tree/master/Tests/Performance.Tests/Tests/Actors/StateMachines)) and they run fine, and report nice low error rates around 0.2 to 2% range.

But when I do the same benchmark run over and over (on the same machine of course) then compare the error range across all of these runs, the picture is not so nice

[2020-06-19 21:19] lovettchris opened #1485 "csv files contain units in every cell"
it is annoying to import a csv into Excel due to all the " ms" and "s" suffixes on everything.  Excel doesn't treat these as numbers, so I have to post process each file to remove that.  Can you fix the csv exporter so it doesn't do this, perhaps normalizing all units and putting the unit suffix in the column title instead of in every cell ?

![image](https://user-images.githubusercontent.com/1870

[2020-06-20 03:06] vsevolodp commented on #1482
@adamsitnik I've tried that and it didn't worked.
This [project](https://github.com/vsevolodp/dotnet-aes-benchmark/blob/vsevolodp/pure-x64/benchmark/benchmark.csproj) has issue # 2 (note it is in a branch `vsevolodp/pure-x64`)

[code]

I've resolved issue # 3 (and it was issue with my project, not with Benchmark) by replacing
[code]
with
[code]

I was able to resolve issue # 1 by creating AnyCPU p

[2020-06-20 12:07] nietras commented on #1402
@adamsitnik any comments on how I might be able to do this?

[2020-06-20 15:45] abelbraaksma opened #1486 "Test a benchmark against different versions of the same assembly, one not in NuGet, or both local"
When working on optimizations on NuGet assemblies, the new version often isn't yet in NuGet. In my case, I'm working on optimizations of `FSharp.Core.dll`, and because of syntax differences in the way certain methods are created (syntax that is allowed _inside_ FSharp.Core but not in writing regular user code), I cannot easily create copies of the members that I want to compare.

My current way of

[2020-06-20 19:28] luckerby commented on #1198
Ran into this just now. Same error message as @RealDotNetDave. I've used this repo to reproduce: https://github.com/dotnetos/asyncexpert-course

Fired up ProcMon and looked at the .etl files BDN generates. The full path that the .etl files are written to, and the same exact one where BDN attempts to read them, is `C:\Users\malbert\source\repos\asyncexpert-course\Module 01\Dotnetos.AsyncExpert.Home

[2020-06-20 19:29] object commented on #1198
Yes, I am also getting the same exception (and in the same project as @luckerby).

[2020-06-20 19:30] object commented on #1198
Ah that's a good tip @luckerby, will try to move my project to a different folder

[2020-06-21 16:20] windhandel commented on #211
I've seen production Gen 0 GCs that take 4+ seconds.

Where did this land and is there a way to change this default behavior?

The other seemingly odd behavior is that the Gc is defaulted to run in Workstation, except production is always going to be Server. Why would the default be set to a non-production mode if our goal is to measure production type behavior?

[2020-06-21 16:22] windhandel commented on #211
Additionally, the GcConcurrent value seems to default to concurrent behavior, despite everything I've seen from production Azure environments does **not** seem to run with this behavior.

[2020-06-21 16:46] abelbraaksma commented on #211
@adamsitnik  This is certainly interesting, age valuable in certain scenarios, what attributes have been added to make this possible, or was it ultimately scrapped?

[2020-06-22 07:06] adamsitnik commented on #211
The defaults depend on the application type. GC Server mode is not a silver bullet and since BenchmarkDotNet runs every benchmark in a dedicated console app, we don't enforce any custom GC settings and use the defaults for the console app.

There is a way to configure all known GC settings. To find out how you either need to visit https://benchmarkdotnet.org/ and type GC in the search bar or use I

[2020-06-22 07:10] adamsitnik commented on #1198
#1248 (PR) is going to solve this issue, it should be a part of the next release

Thanks for providing the workaround and searching for the root cause!

[2020-06-22 07:35] adamsitnik commented on #1486
Hi @abelbraaksma

BenchmarkDotNet generates a new project on the fly. This is the template that we are using for .NET Core: https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Templates/CsProj.txt

There are ways of controlling MsBuild's behavior from the BDN config level like using a custom build configuration or passing property to MsBuild.

Could you please provide your pr

[2020-06-22 07:43] adamsitnik commented on #1485
It's an Open Source project. We don't have the time to fix it, but if you provide a fix by sending a Pull Request we can review it and merge it.

[2020-06-22 07:51] lukasz-pyrzyk commented on #1198
Thanks @adamsitnik ! We are also shrinking paths in the course

[2020-06-22 09:44] abelbraaksma commented on #211
Haha, you're absolutely right! I was just browsing the github code, but should've checked that before asking, tx!

https://benchmarkdotnet.org/api/BenchmarkDotNet.Attributes.GcForceAttribute.html#BenchmarkDotNet_Attributes_GcForceAttribute

[2020-06-22 12:22] adamsitnik commented on #1402
@nietras I currently don't see an easy way to do that ;(

[2020-06-22 19:00] nietras commented on #1402
@adamsitnik damn ;) How about defining a `MaxInvocationCount` as an attribute similar to `InvocationCount` but just use to limit the number of invocations per iteration?

[2020-06-23 08:49] adamsitnik commented on #1402
I am not sure if I understand. What would `MaxInvocationCount` do and how it would differ from just providing `InvocationCount`?

BDN offers two options:

* provide `InvocationCount` and run the benchmark that many times per iteration
* don't provide `InvocationCount` (default):
    * if `IterationSetup` was not used, BDN will run the pilot stage and decide the perfect `InvocationCount` based on `

[2020-06-23 17:18] nietras commented on #1402
It would limit the maximum number of invocation being done, but still let BDN find a suitable number. If you have generic benchmarks with different types and lots of cases/scenarios with different length of execution due to this, but need to limit the maximum number of invocation since you have to have certain data structures around then this can be used. Time is not all or enough. This would also

[2020-06-26 03:47] pprabu commented on #1473
Any update about to use Benchmark to the Extension methods?

[2020-06-26 08:42] adamsitnik commented on #1473
Hi @pprabu

BenchmarkDotNet supports only non-static, non-sealed public types with instance methods marked as `[Benchmark]` but it does not mean that the benchmark methods can't call static methods.

[code]

When it comes to getting the arguments for the benchmark, please see our docs about it: https://benchmarkdotnet.org/articles/features/parameterization.html

In this particular case, you are mo

[2020-06-26 08:42] #1473 closed

[2020-06-26 10:03] adamsitnik commented on #1484
Hi @lovettchris

Does your benchmark involve doing IO or any other thing that introduces a variance itself?

Or is it a 100% CPU bound code?

[2020-06-26 12:33] ChristophLindemann opened #1487 "Benchmarks do not execute (as service process / VSTS agent) on non US systems"
# What went wrong

When .NET Framework benchmarks are executed from a VSTS agent, running on a _**non US English**_ Windows installation, the benchmark fails with

[code]

[code]

_This problem does not occur for .NET Core, only for .NET Framework!_

Looking at a crashdump, it fails in [`public void SendSignal(HostSignal hostSignal)`](https://github.com/dotnet/BenchmarkDotNet/blob/0445917bf93059f1

[2020-06-26 12:45] ChristophLindemann commented on #1487
Also, please note that handling of the Encoding for the Console has changed from .NET Framework to .NET Core.

So this might also produce problems when then the outer process is .Net Core and the Job is .Net Framework (vice versa)

See
- https://github.com/dotnet/runtime/issues/17849
- https://github.com/dotnet/corefx/commit/42f9c2d4438ce9897c3d336ec52298afb4dc95fa

[2020-06-26 13:45] abelbraaksma commented on #1486
@adamsitnik, it took me a while to get back to you, busy week, but now it's weekend ;).

I placed a test-solution here: https://github.com/abelbraaksma/StringLength-Optimization.

Thinking a bit more about this, I don't think it is currently possible, because (1) this is F# specific, and F# has special inlining rules on certain functions from the FSharp.Core.dll and (2) it requires switching `<Dis

[2020-06-26 16:23] adamsitnik commented on #1486
@abelbraaksma Thanks for providing a nice sample! I was able to get it working and sent a PR to your fork: https://github.com/abelbraaksma/StringLength-Optimization/pull/2

If anything does not work as expected or something is not clear please feel free to reopen this issue|ask more questions.

Thanks!

[2020-06-26 16:23] #1486 closed

[2020-06-27 00:05] lovettchris commented on #1484
It is CPU bound, no I/O of any kind.  I did a simple test with this bench mark and the results were much better :
[code]

With this pure math test I ran by benchmark runner 27 times, then I did that again to get another 27 and the results are consistent, with an error range about about 0.4% which I is good enough for my purposes.  So this rules out Windows background activity, .NET framework overh

[2020-06-27 18:47] AndreyAkinshin commented on #1448
Fixed by @suslovk in #1488

[2020-06-27 18:47] #1448 closed

[2020-06-29 15:17] adamsitnik commented on #1487
Hi @ChristophLindemann

thank you for a very detailed bug report.

I've sent a PR with a fix and integration tests: https://github.com/dotnet/BenchmarkDotNet/pull/1490

Our [CI has published](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/33799153/artifacts) an updated version of NuGet package. Could you please add our CI feed to your `nuget.config` file (can be created by

[2020-06-29 15:32] adamsitnik commented on #1480
Hi @lovettchris

that's surprising. Did you perform a full run, or have you stopped when it had printed `// BeforeAnythingElse` message?

Anytime BDN prints things like `// BeforeX` after `// AfterX` it expects the host process to read the output and write the word "Acknowledgment" to the output. Typically all the bugs happen after "// BeforeAnythingElse" so it's important that you put "Acknowledg

[2020-06-29 15:36] adamsitnik commented on #1136
@gfoidl thank you for providing more context! it was exactly all I needed to fix this mysterious bug

I've sent a PR with a fix and integration tests: https://github.com/dotnet/BenchmarkDotNet/pull/1490

Our [CI has published](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/33799153/artifacts) an updated version of NuGet package. Could you please add our CI feed to your `nu

[2020-06-29 15:37] adamsitnik commented on #1484
@lovettchris since you are not the first person who asked this question, I started writing a detailed blog post about it. I should finish it this week. Ping me if I don't!

[2020-06-29 16:03] gfoidl commented on #1136
@adamsitnik I can confirm that Azure DevOps for `net48` produces expected BDN-results. So my issue got solved by `0.12.1.1382`.

[2020-06-29 16:04] adamsitnik commented on #1136
@gfoidl awesome, thank you!

[2020-06-29 17:24] lovettchris commented on #1487
Perhaps this is a better fix?
https://github.com/dotnet/BenchmarkDotNet/pull/1491

[2020-06-29 19:24] ChristophLindemann commented on #1487
@adamsitnik
I will give it a try tomorrow when I am back at my desk.

However I will be surprised if the ordinal comparison is enough, as I would expect the ordinal values of the “garbage” to be included in the comparison.

If it does not work, I think UTF8 would be quite safe, or even ASCII. Unless you have some very esoteric default code page setup. Or you could filter/trim any non ASCII codepoi

[2020-06-29 22:32] ChristophLindemann commented on #1487
After looking a little more into the differences of .net core vs .net framework, I think the problem might actually be that: on Windows, the .net framework Encoding.Default maps to the active code page, while .net core always maps to UTF8 (Windows and Linux)

__But__, even if you set the active code page to UTF8 (using `chcp 65001`, as VSTS does) that codepage will not be used if the console is re

[2020-06-30 09:32] ChristophLindemann commented on #1487
@adamsitnik i have tried the 0.12.1.1382 package, and it indeed fixes the problem.

I still think, setting the encoding would be a more correct way to solve this, but I accept the current solution as it solves my problem.

When do you think this can be released?

[2020-06-30 16:20] abelbraaksma commented on #1342
I don't know if it is caused by "WithId" itself, but I did notice an oddity yesterday using separate builds using `WithId` and `WithCustomBuildConfiguration`. I think that, if you use `WithId`, it always ends up in separate build dirs, and sometimes this isn't fully cleaned up or something.

For instance, I had this run ("After" is supposed to be faster here):
![image](https://user-images.githubus

[2020-06-30 16:27] abelbraaksma opened #1493 "Using WithCustomBuildConfiguration leads to always running with RyuJIT Debug"
Recently I got some help from you guys to set up a way to run benchmarks to use different versions of the same DLL using `WithCustomBuildConfiguration`. This works pretty well. However, there's one gotcha that I don't understand: it appears to always use `RyuJIT DEBUG`.

It appears to have the effect that certain optimizations do not take place (which is not surprising if it is indeed the RyuJIT D

[2020-07-01 09:50] adamsitnik commented on #1493
the fix has been provided in #1494

a workaround for now:

create an `MsBuild` argument and add it to the job using [this](https://benchmarkdotnet.org/api/BenchmarkDotNet.Jobs.JobExtensions.html#BenchmarkDotNet_Jobs_JobExtensions_WithArguments_BenchmarkDotNet_Jobs_Job_System_Collections_Generic_IReadOnlyList_BenchmarkDotNet_Jobs_Argument__) method:

[code]

[2020-07-02 01:38] abelbraaksma commented on #1493
Awesome! And thanks for the workaround!

[2020-07-06 03:26] stephentoub opened #1495 "[GcServer(true)] is ignored with --corerun"
When using `--corerun` to specify the target runtimes, `[GcServer(true)]` isn't respected.  It always ends up using workstation rather than server GC.

[2020-07-06 10:28] adamsitnik commented on #1495
Hi @stephentoub

I am afraid I won't be able to fix it within the next few weeks, but I can provide a workaround until then.

You can pass the env vars to BDN by using:

[code]

So in your case it would be:

[code]

[2020-07-06 11:11] stephentoub commented on #1495
Thanks

[2020-07-14 10:36] Symbai opened #1496 "System.MissingMethodException: Method not found: 'Iced.Intel.MasmFormatter.get_MasmOptions()'."
Using nuget package 0.12.1 adding `[DisassemblyDiagnoser]` to my benchmark class I receive the following exception at the end of the benchmark:

[code]

[2020-07-14 11:01] adamsitnik commented on #1496
are you referencing a newer version of `Iced` than what BDN uses?

[2020-07-14 11:16] Symbai commented on #1496
Yes the benchmark project uses Iced 1.7. So I cannot use the benchmark until you updated Iced on your end?

[2020-07-14 11:18] adamsitnik commented on #1496
Yes. You can send a PR to speedup the process.

[2020-07-14 13:07] #1496 closed

[2020-07-15 14:14] adamsitnik commented on #1480
Fixed by #1491

[2020-07-15 14:14] #1480 closed

[2020-07-15 14:17] adamsitnik commented on #1487
Fixed by #1491

[2020-07-15 14:17] #1487 closed

[2020-07-15 14:18] adamsitnik commented on #1136
Fixed by #1491

[2020-07-15 14:18] #1136 closed

[2020-07-15 18:47] NinoFloris opened #1499 "Cross platform disassembler doensn't output anything on macOS"
Cross platform disassembler doesn't output anything on macOS

Details: .net core 5.0 preview 6, BDN 0.12.1 (which should have xplat support)

For a benchmark like

[code]

BDN returns

No benchmarks were disassembled

This does not seem to be an F# issue, a quick port of this benchmark to C# bore no fruit either.

[2020-07-16 06:55] #1477 closed

[2020-07-16 06:56] #1493 closed

[2020-07-16 07:11] #1431 closed

[2020-07-16 07:11] #1198 closed

[2020-07-16 07:11] #1247 closed

[2020-07-17 07:30] WojciechNagorski commented on #1460
@CodeTherapist Maybe you have time to check it? I think you made the first version of the global tool?

@adamsitnik I agree with you that global tool has no added value and does not make work easier. But I believe this problem can be fixed. But to be honest, I'm not going to spend any private time on it, I can prepare PR to remove this tool 😄

[2020-07-20 21:23] naricc opened #1504 "Add Support For Normal Globalization to Wasm"
Mono-Wasm recently added support for full globalization, but taking advantage of it requires a change in the .json manifest for the wasm app. A change is required to the tool chain to generate it.

Not having this doesn't break anything, but its absence means any benchmark comparison using WASM must use invariant globalization to be a fair comparison.

[2020-07-20 21:23] naricc commented on #1504
I intend to take this issue myself.

[2020-07-22 00:51] nawfalhasan opened #1505 "Drastically different results when benchmarking with BenchmarkDotNet and Stopwatch class"
When benchmarking the following methods to find the fastest one among:

        [Benchmark]
        public int RemoveAll_IList_O_N2()
        {
            for (var index = list.Count - 1; index >= 0; index--)
            {
                var item = list[index];
                if (predicate(item))
                {
                    list.RemoveAt(index);
                }
            }

[2020-07-22 01:17] abelbraaksma commented on #1505
How do you run them with the `Stopwatch` class, you didn't show that code, and how do you fill `list` and `collection` and how do you fill it again after each run? My gut tells me you're missing setup code that must run for each benchmark, and that this is the difference with your stopwatch method.

Btw, `Stopwatch` is a bad comparison, because you probably don't account for JIT time.

EDIT: I see

[2020-07-22 01:31] abelbraaksma commented on #1505
Had a quick look anyway. If I fix your code by adding this:

[code]

It runs "normally". In this case, it means you run into an actual bug (at least on my machine), namely: https://github.com/dotnet/BenchmarkDotNet/issues/1338. That means, each iteration is run only once, even if you set the iteration time higher (I tried with 2000ms). But the timings this way are a bit more consistent with your t

[2020-07-22 22:36] GF-Huang opened #1506 "BenchmarkDotNet does not force to High Performance Mode during running"
![image](https://user-images.githubusercontent.com/4510984/88236075-ca61bc00-ccae-11ea-913f-313129e9c604.png)

[2020-07-23 23:18] 0xd4d commented on #1499
Could be that clrmd is unable to read anything from the process. Updating to latest 1.x or trying 2.x could possibly fix that https://www.nuget.org/packages/Microsoft.Diagnostics.Runtime/

[2020-07-24 03:33] nawfalhasan commented on #1505
@abelbraaksma Thank you, thanks a lot.. your solution did work.. But my first assumption was that BDN doesn't use seaprate instances of benchmark class for each run. But what I understand from your words is that it is rather a bug. Glad to know there is a work around.

I will close this now.

[2020-07-24 03:34] nawfalhasan commented on #1505
Btw, I had always trusted BDN results, didnt know subtleties like this existed. I will be careful to use IterationSetup always :)

[2020-07-24 03:35] #1505 closed

[2020-07-24 11:45] abelbraaksma commented on #1505
Indeed it doesn't, but you change the state and empty the collections. By using `IterationSetup` you make sure you initialize them again.

Don't use that attribute if you don't need it. You're making a macro benchmark, for micro benchmarks, it's better to avoid it if you can, because it adds overhead (which gets calculated and subtracted, but for micro benchmarks it can still add noise).

The beha

[2020-07-24 11:50] abelbraaksma commented on #1338
@adamsitnik, this issue keeps popping up, could we have a look at this? The calculation for skipping the iterations seems off.

Another case with just C# code was here: https://github.com/dotnet/BenchmarkDotNet/issues/1505, see my comment there.

[2020-07-26 05:26] nawfalhasan commented on #1505
I see. I misread you then. So now I know the issue obviously.

Got it..

Fully clear. Thanks a lot.

[2020-07-29 17:00] #1504 closed

[2020-07-29 21:07] paulomorgado opened #1510 "No results found for .NET Core 3.1 and 5.0"
I changed the sample on [README.md](https://github.com/dotnet/BenchmarkDotNet/blob/master/README.md) to target .NET Framework 4.0, .NET Core 3.1 and .NET 5.0:

    [SimpleJob(RuntimeMoniker.Net48, baseline: true)]
    [SimpleJob(RuntimeMoniker.NetCoreApp31)]
    [SimpleJob(RuntimeMoniker.NetCoreApp50)]

However, I'm not getting results for .NET Core 3.1 and .NET 5.0 and I get these errors:

[code]

[2020-07-30 15:34] RealDotNetDave commented on #1198
Thanks for working on this!

[2020-07-31 18:58] Andrioden commented on #1460
For thoose that arrive here randomly, as documented [here](https://benchmarkdotnet.org/articles/guides/how-to-run.html#benchmarkswitcher). You can achieve the same through cli doing:

[code]

`dotnet run -c Release --filter *BenchmarkClass1*`

Seems like the `BenchmarkDotNet.Tool` indeed are redundant.

[2020-08-03 08:03] natiki commented on #155
@AndreyAkinshin just wondering how this has come along?

I played with https://github.com/rsdn/CodeJam/tree/master/PerfTests%5BWIP%5D but unfortunately I need a .NET Core version. Well actually something that at also meets .Net Standard 2.0 as we are still on .Net Core 2.x

Trier

[2020-08-03 08:48] AndreyAkinshin commented on #155
@natiki currently, I'm working on some mathematical approaches that should help to make the future performance runner reliable. You can find some of my recent results in my blog:
https://aakinshin.net/posts/harrell-davis-double-mad-outlier-detector/
https://aakinshin.net/posts/nonparametric-effect-size/

[2020-08-03 22:47] RealDotNetDave opened #1511 "Changes to Jobs and Toolchain"
With this code:
 ` var config = DefaultConfig.Instance.With(Job.Default.With(CsProjCoreToolchain.NetCoreApp30));`

I'm getting errors below. Do you have any documentation on these changes and how to fix them? I cannot find anything in your docs.

**Errors:**
1>C:\src\GitHub\dotNetTips.Utility.Core\src\Benchmarking\dotNetTips.Utility.Benchmarks\dotNetTips.Utility.Benchmarks\Program.cs(31,54,31,104)

[2020-08-04 12:57] adamsitnik commented on #1510
Hi @paulomorgado

Could you please share the content of `C:\Projects\BenchmarkDotNetTests\Sample\Sample.csproj`?

[2020-08-04 13:54] paulomorgado commented on #1510
Sure, @adamsitnik,

[code]

[2020-08-04 14:48] adamsitnik commented on #1510
@paulomorgado the answer to your question is in the error message that you have provided:

[code]

You can read more about this in our docs: https://benchmarkdotnet.org/articles/configs/toolchains.html#multiple-frameworks-support

[2020-08-04 14:48] #1510 closed

[2020-08-04 15:18] adamsitnik commented on #1511
@RealDotNetDave the answer to your question is in the error message that you have provided:

Where `WithToolchain` and `AddJob` are new method names. So in your code you should have changes like this:

[code]

[2020-08-04 15:18] #1511 closed

[2020-08-04 18:23] paulomorgado commented on #1510
That worked, @adamsitnik.

But not for my real project. But upgrading BFN to 0.12.1 did it.

By the way, it's `net5.0`, not `netcoreapp5.0`. 😄

[2020-08-05 17:38] abelbraaksma commented on #1338
@adamsitnik, here's another case, see this comment for detailed output: https://github.com/dotnet/fsharp/pull/9218#issuecomment-669222356

[2020-08-05 22:08] cartermp commented on #1338
Thanks for filing and noticing @abelbraaksma - in my benchmark I couldn't find a good `IterationTime` that would actually cause the benchmark to run more than one op at a time.

[2020-08-07 23:03] alexcovington commented on #1466
+1 on this. I'm looking to do similar optimizations and this information would be useful.

[2020-08-08 19:20] am11 opened #1512 "Template has hardcoded netcoreapp3.0 TFM"
Using dotnet 5.0 preview 8, the template produces netcoreapp3.0 hardcoded csproj:

[code]

outputs:

[code]

running it with `dotnet run` gives:

[code]

running after fixing csproj by hand, by replacing netcoreapp3.0 with net5.0, results in the following exception:

[code]

In addition to net5.0 support; ideally, BDN's template (like many other templates available on nuget) should use the latest

[2020-08-10 09:03] adamsitnik commented on #1466
Hi @ebfortin

It does not. To tell the long story short, the warmup or pilot phase should invoke the microbenchmark enough times to make JIT promote it from Tier 0 to Tier 1. This doc explains how BDN works: https://benchmarkdotnet.org/articles/guides/how-it-works.html This discussion is also a great source of knowledge: https://github.com/dotnet/runtime/issues/13069

This is more a JIT question.

[2020-08-10 16:13] am11 commented on #1512
Some additional findings; the `-f` flag is ignored when `--console-app` is supplied:

[code]

[2020-08-11 17:46] adamsitnik opened #1513 "Make memory alignment more random"
While working on a new bot for auto-filing performance regressions in dotnet/runtime repository ([sample issue](https://github.com/dotnet/runtime/issues/37806)) we have found out that quite a few microbenchmarks from dotnet/performance repository are bimodal and the modality tends to be stable for a few days before it switches to the other mode

Example:

![obraz](https://user-images.githubusercon

[2020-08-12 08:00] gpetrou opened #1514 "Setup/Cleanup once per process"
Currently, we can use GlobalSetup/GlobalCleanup and IterationSetup/IterationCleanup for specific classes and test methods.
In our case, we have some third party graphics libraries that can only be initialized/terminated once per process.
So, we need to initialize them before the first test is executed and terminate them after the last test is executed.
Would it be possible to add some API to achie

[2020-08-12 08:24] adamsitnik commented on #1514
hi @gpetrou

BenchmarkDotNet by default executes every benchmark in a standalone process, so using a `[GlobalSetup]` and `[GlobalCleanup]` should be fine.