[2022-08-02 00:00] MichalPetryka opened #2061 "Defaulting NativeAOT to current machines CPU features doesn't represent a real usecase scenario"
Defaulting to current machines features doesn't seem reasonable to me, since a developer would likely never distribute such build to customers, ignoring servers with known hardware.

As @tannergooding said a few times on the C# discord, comparing a JIT with an AOT using `march=native` isn't a good idea and here we're doing the same.

I'd introduce a separate configuration option `useNativeCpuFeatu

[2022-08-02 00:04] MichalPetryka opened #2062 "NativeAOT disassembly"
BenchmarkDotNet 0.13.1.1835 from the nightlies currently errors out when DisassemblyDiagnoser is used with a NativeAOT job with this exception:
[code]

BDN should at least provide a message saying that NativeAOT disassembly is not supported, or properly support it.

[2022-08-02 00:12] MichalPetryka opened #2063 "BenchmarkDotNet nightly fails to disassemble .Net 7.0 properly"
BenchmarkDotNet 0.13.1.1835 from nightlies when running a .Net Framework 4.8 host failed to disassemble 1 out of 14 benchmarks with:
[code]
The end table list code sizes for all benchmarks but the one with the error.
The output asm file however contains the data for just 8 out of 14 benchmarks, BDN seemed to error out with this while printing it:
[code]

[2022-08-02 00:32] MichalPetryka opened #2064 "Running with .Net 6/7 Mono JIT"
BenchmarkDotNet seems to have no easy way to run using the dotnet/runtime Mono JIT, which would be useful for comparing it against CoreCLR.

This can be achieved with `UseMonoRuntime` property in a csproj.

[2022-08-02 01:09] MichalPetryka commented on #2063
On a 2nd try, it failed on a different one of the benchmarks.

[2022-08-02 02:24] tannergooding commented on #2061
Right. There is a general consideration that most "native" compilers (and most shipping apps) target the "lowest common machine" for portability.

For x86/x64 this is `x86-x64-v1` which is a machine from `~2004`. For Arm64 this is `armv8.0-a`.

Some apps do target and ship for higher baselines, but this is always an explicit action by the project doing the compilation and has, especially for AVX/A

[2022-08-02 03:58] saucecontrol commented on #2061
Further to our discord conversation, it would also be good to have the NAOT default since the opportunistic inclusion of all non-VEX instruction sets in addition to the baseline SSE2 can have unpredictable performance impact when compared to the same set of ISAs when they are set as required.

In fact, I'd argue that NAOT default should be the BDN default and that any changes should be explicit ju

[2022-08-02 08:32] adamsitnik commented on #2063
Hi @MichalPetryka

Is there any chance you could share a repro?

[2022-08-02 09:14] caaavik-msft commented on #2054
I spent some time writing up a proposal and realised it was getting a bit complex, and also that during the functioning of a benchmark run there are lots of cases where logs are done so it wouldn't be possible to replace every log with something that can be dispatched to an event handler. Instead, I just brought it down to the most common events and I think it will cover 99% of use cases for someo

[2022-08-02 10:28] MichalPetryka commented on #2063
Here's the benchmark I've experienced it with, not sure though if it's caused by it or something else:
[ConcurrentBench.zip](https://github.com/dotnet/BenchmarkDotNet/files/9241331/ConcurrentBench.zip)

[2022-08-02 13:37] #2053 closed

[2022-08-02 13:39] AArnott opened #2069 "How do I "Use InProcessToolchain to avoid new process creation."?"
Benchmarks that used to work just fine are *all* failing with "ExitCode != 0":

[code]

At the tail end of the log is this warning/tip:

[code]

But no explanation as to how to use this toolchain is provided. I was hoping a command line switch would work but `-?` didn't turn up anything promising.

I'm also curious what would cause this to fail. I know it mentions Defender, but is that a wild gues

[2022-08-02 13:43] adamsitnik commented on #2064
Hi @MichalPetryka

You can provide MSBuild arguments for each job. Sth like:

[code]

[2022-08-02 13:47] adamsitnik commented on #2064
I agree that it would be nice to expose `UseMonoRuntime` as built-in BDN feature. We could add `mono7.0` moniker and support it with `--runtimes` so `--runtimes net7.0 mono7.0` would compare both runtimes running as .NET 7.

@marek-safar who would be the best person to describe all `UseMonoRuntime` possibilities and limitations? If this is just a matter of setting one property it should be fairly

[2022-08-02 13:51] adamsitnik commented on #2060
To be honest I am not sure if we want to invest in such edge case scenario if there is an easy workaround (running host as .NET Core app). But I understand that it can lead to confusion (not apples to apples comparison depending on host process runtime).

@jkotas is there a way to tell ILC to use all available instructions? Sth like `<IlcInstructionSet>current</IlcInstructionSet>`?

[2022-08-02 13:57] adamsitnik commented on #2069
Hi @AArnott

You have missed it:

![image](https://user-images.githubusercontent.com/6011991/182391652-d1770227-e926-4e26-8671-9bd7c76f00f1.png)

We also have some docs with samples: https://benchmarkdotnet.org/articles/configs/toolchains.html#sample-introinprocess

Based on the log that you have provided:

The process has most likely failed with an uncatchable exception as BDN tries to catch and

[2022-08-02 14:40] AArnott commented on #2069
Thanks for the `-?` help. I had quickly scanned with my eye and then used `findstr` with such args as "toolchain" and "inproc", which apparently didn't match.

The event log does indeed carry details:

[code]

and
[code]

[2022-08-02 14:58] adamsitnik commented on #2069
@AArnott this particular bug should have been fixed by #1735 and #1940

could you please try our preview version to see if the bug is gone (the fix has not been released to nuget.org yet)?

https://benchmarkdotnet.org/articles/guides/nuget.html#nightly

[code]

[2022-08-02 16:30] jkotas commented on #2060
We do not have that today. It would require duplicating the runtime hardware capabilities detection in the AOT compiler, or somehow getting access to the runtime detection logic,

The AOT compiler cannot use the trick with calling IsSupported properties like what Benchmark.NET does. We want to be able to compile the AOT compiler using itself. It means that the IsSupported properties return what th

[2022-08-02 16:50] jkotas commented on #2062
I am not aware of any library like that. I think that the best path to enable this would be to enhance clrmd to understand NativeAOT.

[2022-08-02 16:51] MichalPetryka commented on #2062
Would it maybe be possible to add a flag to NativeAOT that'd dump the assembly to a file while building?

[2022-08-02 16:59] jkotas commented on #2060
I have opened https://github.com/dotnet/runtime/issues/73246 to have this tracked. It is not the first time that this option is being discussed.

[2022-08-02 17:05] jkotas commented on #2062
There are tools for dumping binaries disassembly: `dumpbin` on Windows and `objdump` on Unix. I do not think we would want to the AOT compiler to carry the disassembler with it - it does not carry one today.

[2022-08-02 17:50] MichalPetryka commented on #2062
Couldn't the disassembler that the JIT uses with JitDump be used here?

[2022-08-02 17:52] jkotas commented on #2062
JitDump is not available in shipping JIT binary.

[2022-08-02 21:48] MichalPetryka commented on #2060
AFAIK you have to use a Net Framework host in order to use it in a benchmark, so doing benchmarks with 2 hosts is at least annoying.

[2022-08-02 23:59] MichalStrehovsky commented on #2061
The ideal fix for this would be to expose target machine as a first-class concept that is visible to the user.

Even if you're doing perf measurements with a JIT-based runtime, you might get wildly different perf characteristics based on the machine the code is deployed to. It would be useful to be able to e.g. test with AVX disabled (`COMPlus_EnableAVX=0`) with CoreCLR.

NativeAOT testing current

[2022-08-03 00:17] tannergooding commented on #2061
Yes, although in practice this isn't the case. All major cloud providers are on AVX2+ hardware and things like Steam Hardware Survey reports that 88.96% of users have the same.

The scenarios where you're running on older hardware tends to be rare and so having the JIT target "current machine" matches the actual default deployment scenario for the JIT.

Targeting "current machine" for NAOT, howeve

[2022-08-03 00:28] MichalStrehovsky commented on #2062
If JitDump support ever starts shipping in Release builds, we could easily add that to the compiler.

The main problem would be matching the mangled names to the managed methods. We could potentially have a compiler switch to dump the decoder ring into a file (mapping type and method names and tokens to the mangled representation) if there's interest.

[2022-08-03 04:31] MichalStrehovsky commented on #2061
I don't know if it's so far off.

BenchmarkDotNet is tuned to measuring the best possible case - that's why it does all the warmup with JIT by default. With tiered PGO you'll get the best possible code for the specific benchmarked scenario. It's not what I would call the real-world version of the code either - it is a lab result - but that's the nature of micro benchmarks.

If we have space for it

[2022-08-03 04:41] tannergooding commented on #2061
It's not tuned for the "best possible case". It's tuned for reducing noise and measuring the "final thoughput" that your app would actually hit. For most user interactive applications, websites, or other scenarios; the app will actually achieve "final throughput" for any hot methods. Cold methods typically don't matter and if they do, BDN provides the relevant switches and knobs to test it.

NAOT

[2022-08-03 05:09] MichalStrehovsky commented on #2061
The app would hit it only if it repeatedly calls into e.g. the same framework API with the exact same parameters and never anything else. Dynamic PGO will adapt the _framework code_ to expect those parameters. This is not how APIs are used in real world; it is a synthetic benchmark that measures the best possible case and skews the results, possibly even misleading.

`march=native` is the common w

[2022-08-03 05:54] tannergooding commented on #2061
The purpose of benchmarks isn't to make ourselves look good. It is a tool meant to help users best productize their own apps and to track potential regressions

Other languages favoring "lying" about their results shouldn't matter to us, we should do better, be better, and provide the best features/defaults for users to achieve real world success.

=====

Tiering will ensure that it is correctly o

[2022-08-03 06:15] MichalStrehovsky commented on #2061
This is aligning with what is the industry standard.

[2022-08-03 06:39] jkotas commented on #2062
FWIW, we will need to do something like this if we get serious about good diagnostic experience for NativeAOT.

[2022-08-03 06:45] tannergooding commented on #2061
The industry standard is wrong and will not help the community achieve success for their actual deployments.

[2022-08-03 06:50] tannergooding commented on #2061
Again, .NET should do and be better.

We should pave the way towards success for the community and our customers. That often involves aligning with standards, but it can just as much be rectifying pits of failure and not aligning with bad practices where it can and will provide bad or incorrect data.

[2022-08-03 07:13] adamsitnik commented on #2060
You don't: https://benchmarkdotnet.org/articles/configs/toolchains.html#multiple-frameworks-support

[2022-08-03 07:27] saucecontrol commented on #2061
It's strange to compare BDN, which is a robust benchmarking *tool*, with Benchmarks Game, which has *game* right in the name.

As a tool, BDN should handle real-world developer needs.  My guess is real-world NAOT users will fall into two main camps:

1) Users concerned primarily with startup time and predictable perf, such as those building serverless apps.  These users will likely have a specific

[2022-08-03 07:38] saucecontrol commented on #2061
If the concern is over having NAOT possibly (probably?) show up as being slower than CoreCLR in typical use, perhaps a message from BDN about running with ICL defaults would be appropriate.  Something along the lines of the error you get when trying to benchmark a debug build but without it being a hard error.

[2022-08-03 07:45] adamsitnik commented on #2061
BenchmarkDotNet does not allow for pre-building the benchmarks and running them on a different machine. The results are always specific to current config, this is why we print so much info in the summary table.

BDN is often used to compare various .NET Runtimes performance and we obviously want to make it an apples-to-apples comparisons if we can. That is why the default settings take advantage o

[2022-08-03 08:52] Rand-Random commented on #1900
@adamsitnik, @AndreyAkinshin
"next week" has been a while
.net 7 preview 1 has been a while (preview 6 is the latest as of writing)

What happened with the plan to release v0.13.2?

[2022-08-03 10:58] adamsitnik commented on #2000
@jakobbotsch @MichalPetryka thank you both for confirmation!

[2022-08-03 10:58] #2000 closed

[2022-08-03 11:51] MichalPetryka commented on #2000
@adamsitnik Why did you close this? Like I said `on the 5th one it crashed with the Unknown Acknowledgment exception`, so the issue doesn't seem solved to me.

[2022-08-03 12:27] adamsitnik commented on #2000
@MichalPetryka because it's a different issue (here it was ClrMd v1 bug). Please report a new bug and provide output of the following commands:

[code]

(I need to know what Terminal are you using and what Encoding as the bug is about encoding and decoding strings sent via stdin/out between host and benchmark process)

[2022-08-03 12:46] MichalPetryka opened #2070 "BenchmarkDotNet crashing on Linux with DisassemblyDiagnoser"
Opening as per https://github.com/dotnet/BenchmarkDotNet/issues/2000#issuecomment-1203883513.

My configuration is:
Kubuntu 20.04
and the provided commands return:
[code]
(the middle ones don't return anything)

[2022-08-03 13:08] AArnott commented on #2069
Thank you. Yes, I can confirm that the most recent CI build resolves the issue.

[2022-08-03 13:08] #2069 closed

[2022-08-03 13:10] MichalPetryka commented on #2070
`locale` returns:
[code]

[2022-08-03 14:01] tannergooding commented on #2061
That is the point of this discussion.

For BDN targeting JIT it is doing the same thing that users will see "by default" running an app on their machine.

For BDN targeting NAOT, it is not. It is doing something that is not what users will see "by default" running an app on their machine and thus leads them into a pit of failure.

Targeting the same "machine" that JIT vs NAOT targets by default co

[2022-08-03 16:46] tannergooding commented on #2061
-- As an aside, regardless of what the BDN default is, we likely have some perf issues.

We likely should be running perf tests, at least as an outerloop, for dotnet/runtime for `x86-x64-v1` (`dotnet publish` default), `x86-x64-v2` (most hardware in the last 15 years), and `x86-x64-v3` (effectively `march=native`, all enterprise level cloud hardware).

[2022-08-07 22:42] MichalPetryka commented on #2062
For reference: https://github.com/dotnet/runtime/pull/73365

[2022-08-08 14:49] adamsitnik commented on #1818
I wanted to benchmark WASM AOT today to unblock https://github.com/dotnet/runtime/pull/73556#issuecomment-1208101529

1. We have zero docs in both dotnet/BenchmarkDotNet and dotnet/performance that describe how to do it.
2. I have read the code and got the impression that I need to pass following args:

[code]

Which gave me following errors:

[code]

I can see that BDN tries to perform `dotnet re

[2022-08-08 18:07] radical commented on #1818
This is needed - `<add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />`.

1. Install 7.0 sdk to run benchmarks against
2. `dotnet workload install wasm-tools --skip-manifest-update`
3. Download https://raw.githubusercontent.com/dotnet/runtime/main/src/mono/wasm/test-main.js into `/tmp/data/test-main.js`
4. In a checkout for `dotnet/performan

[2022-08-09 17:10] martincostello commented on #2039
FYI, seems this shipped today: https://devblogs.microsoft.com/dotnet/announcing-dotnet-framework-481/

[2022-08-10 11:47] adamsitnik commented on #1818
It's already in the `nuget.config`: https://github.com/dotnet/performance/blob/3e63b12c2cfe8d3f4f8b6083e49ab28b5111cedd/NuGet.config#L9

[2022-08-14 23:47] MichalStrehovsky commented on #2062
To make it meaningfully useful for NativeAOT/R2R, one needs to pass `--parallelism:1` to the AOT compiler. The compiler is heavily multithreaded and the output wouldn't make sense otherwise.

I'm adding something usable for this purpose in https://github.com/dotnet/runtime/pull/73913. Besides the sizes of things, it also has a mapping from IL entities to the mangled names. If I can get someone to

[2022-08-18 10:38] adamsitnik opened #2074 "DisassemblyDiagnoser producing invalid disassembly"
Reported offline by @stephentoub

For following C# code:

[code]

We get:

## .NET 6.0.8 (6.0.822.36306), X64 RyuJIT AVX2
[code]
[code]

While in the past we used to get:

## .NET 6.0.8 (6.0.822.36306), X64 RyuJIT AVX2
[code]
[code]

@AndreyAkinshin it's a release blocker to me, I am going to try to solve it now

[2022-08-18 15:36] ShinyCraig opened #2076 "Autogenerated project is not able to reference a self-contained executable"
I'm trying to benchmark code in a self-contained project and am encountering an issue where the autogenerated project is not being generated as a self-contained project leading to this error when I try to run my benchmark.

[code]

All of the projects in my benchmarking solution have <SelfContained>true</SelfContained> in them, but the generated csproj does not. I'm unsure how to properly set up m

[2022-08-19 07:24] adamsitnik commented on #2076
Hi @ShinyCraig

Self contained apps work well with [InProcessToolchain](https://benchmarkdotnet.org/articles/samples/IntroInProcess.html#sample-introinprocess) (#1685).

You can also try passing an MSBuild argument to BDN:

[code]

but I am not sure if it's going to work, as the default toolchain builds the app instead of publishing it.

[2022-08-20 14:49] MichielVanGasse opened #2077 "BenchmarkDotNet has failed to build the auto-generated boilerplate code."
Cant seem to get the BenchmarkDotNet working with a console aplication running on net6.0.

Output in the console:
Standard error:
BenchmarkDotNet.Autogenerated.csproj(32,43): error MSB4025: The project file could not be loaded. An error occurred while parsing EntityName. Line 32, position 43.

// BenchmarkDotNet has failed to build the auto-generated boilerplate code.
// It can be found in \bin\Re

[2022-08-22 18:16] #2074 closed

[2022-08-24 09:16] adamsitnik opened #2080 "Update SDK to .NET 7"
We have a test that ensure that latest NativeAOT is supported:

https://github.com/dotnet/BenchmarkDotNet/blob/c165ba17501626561297a80fe1b05b2400ce8014/tests/BenchmarkDotNet.IntegrationTests/NativeAotTests.cs#L18

Recently it got broken because we can't build a `net6.0` app using .NET 7 NativeAOT bits:

[code]

So as soon as .NET 7 SDK is shipped, we should just update our CI to use it.

cc @Micha

[2022-08-24 20:43] #1908 closed

[2022-08-24 23:46] snowfrogdev opened #2083 "`ReturnValueValidator` does not run `GlobalSetup` methods for each `Params`"
When running this benchmark:
[code]

I get the following output:
[code]

The methods being benchmarked are returning the factorial of N. As you can see from the return values being identical, the `GlobalSetup` method that updates the List of integers to multiply doesn't seem to be ran before validating the return values for the subsequent `N`s.

I can confirm that the `GlobalSetup` method runs bef

[2022-08-25 10:52] adamsitnik commented on #2077
Could you please share the content of the project file?

[2022-08-25 10:53] adamsitnik commented on #2063
It should be now fixed with #2071

[2022-08-25 10:53] #2063 closed

[2022-08-25 11:22] MichielVanGasse commented on #2077
Thanks for the response.
Here is the project: [github link](https://github.com/MichielVanGasse/Benchmark)
It's just a new basic project trying to get it to work.

[2022-08-25 11:55] adamsitnik commented on #1603
Fixed by #1621

[2022-08-25 11:55] #1603 closed

[2022-08-25 13:10] adamsitnik commented on #2077
@MichielVanGasse it works on my machine ;)

[code]

![image](https://user-images.githubusercontent.com/6011991/186673655-87de9d35-c036-4696-965b-f3a55ba2c9bd.png)

Could you try to perform a clean build and try again?

[2022-08-25 13:45] #1775 closed

[2022-08-25 13:45] #299 closed

[2022-08-25 13:47] MichielVanGasse commented on #2077
Clean and build/rebuild doesn't affect it. Also started new projects, always the same error.

![Error](https://user-images.githubusercontent.com/81804730/186682168-441aa448-e14f-4856-a647-0b824a4c2257.jpg)

[2022-08-25 15:27] adamsitnik commented on #2077
@MichielVanGasse Could you please share the content of the `BenchmarkDotNet.Autogenerated`  project file? I am interested in line 32

[2022-08-25 15:40] MichielVanGasse commented on #2077
Ah yes there was a symbol in my directory, that's why I've got this warning.
After removing it no more error in the auto-generated boilerplate code and it runs perfect.

Thanks for the help Adam!
Problem solved. ;)

[2022-08-25 15:42] #2077 closed

[2022-08-26 06:14] #2016 closed

[2022-08-26 17:12] bartonjs opened #2088 "Running on Linux leaves terminal colors changed"
After running BDN on Linux I see my terminal colors modified.

SSH via PuTTY with xterm, .NET 6, BDN 0.13.2, Ubuntu 18.04.  (Similar results were seen with xterm-256color)

* A successful run leaves the foreground color as yellow.
* A filter that has no matches, and no suggestions, leaves the foreground color as red.
* A filter that has no matches, and some suggestions, seems to leave the foregrou

[2022-08-26 17:17] bartonjs commented on #2088
Looking at the pictures again... it may be "the terminal foreground becomes whatever color was the first one written"

[2022-08-26 17:55] MichalPetryka commented on #2088
The `Unknown Acknowledgment` error is #2070

[2022-08-27 16:12] RealDotNetDave opened #2089 "Generating Reports Fails"
I have been experiencing an issue where the benchmark tests run, but BenchmarkDotNet failed when generating the reports. At first, I thought it was due to the benchmark test classes having too many methods. I refactored some methods into new classes, but now it's happening with a class with 46 methods. I am testing with .NET 6 and 7. The version of BenchmarkDotNet I am using is 0.13.1.1853.

What

[2022-08-27 16:12] RealDotNetDave opened #2090 "Generating Reports Fails"
I have been experiencing an issue where the benchmark tests run, but BenchmarkDotNet failed when generating the reports. At first, I thought it was due to the benchmark test classes having too many methods. I refactored some methods into new classes, but now it's happening with a class with 46 methods. I am testing with .NET 6 and 7. The version of BenchmarkDotNet I am using is 0.13.1.1853.

What

[2022-08-27 16:19] RealDotNetDave commented on #2089
I just found that some of the reports for the other benchmark classes did not generate properly either. I have attached a few of them.
[dotNetTips.CodePerf.Example.App.BenchmarkTests.LoopingCollectionParallelBenchmark-report.csv](https://github.com/dotnet/BenchmarkDotNet/files/9438299/dotNetTips.CodePerf.Example.App.BenchmarkTests.LoopingCollectionParallelBenchmark-report.csv)

[dotNetTips.CodePer

[2022-08-27 21:14] YegorStepanov commented on #1989
closed in https://github.com/dotnet/BenchmarkDotNet/pull/1890

In the new version of BDN (v0.13.2), you can hide any columns using the console option(**--hide** or **-h**) or attribute.

[code]

[code]

[2022-08-28 20:02] danmoseley opened #2091 "Provide way to avoid command line parameters"
Often I just want all my benchmarks to run. Eg., I just made a simple benchmark in VS and have `static void Main(string[] args) => BenchmarkSwitcher.FromAssembly(typeof(Program).Assembly).Run(args);`) and some method marked `[Benchmark]` and hit Ctrl-F5.

This will stop and ask me which benchmarks to run (even if there's only one benchmark) because a filter, attribute names, or categories list is

[2022-08-28 20:29] adamsitnik commented on #2090
Duplicate of https://github.com/dotnet/BenchmarkDotNet/issues/2089

[2022-08-28 20:29] #2090 closed

[2022-08-28 20:34] YegorStepanov commented on #2091
Pass args without "benchmark switcher/selection". (all benchmarks are selected)
[code]

or You can inline BDN cmd options in the code:
[code]

[2022-08-28 20:34] adamsitnik commented on #384
Fixed by https://github.com/dotnet/BenchmarkDotNet/pull/2051

[2022-08-28 20:34] #384 closed

[2022-08-28 20:36] danmoseley commented on #2091
Thanks @YegorStepanov , just figured that out!

[2022-08-28 20:36] #2091 closed

[2022-08-29 12:01] #1989 closed

[2022-08-30 11:44] jakobbotsch opened #2093 "PathTooLongException with benchmark that has long parameter"
The following invocation in dotnet/performance:
[code]

hangs on a benchmark with a very long parameter. When I ctrl-C it, I get the following:
[code]
Seems like BDN is trying to include all the parameters in the file name of the event pipe trace.

[2022-08-30 13:06] adamsitnik commented on #2093
Hi @jakobbotsch

Thank you for detailed bug report.

I currently don't have the time to look at, so I am going to make it "up-for-grabs" hoping that someone else will. The bug is somewhere in the following method: https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Helpers/ArtifactFileNameHelper.cs#L18

To work around this bug you need get rid of `[Arguments/ArgumentsSource/P

[2022-08-31 15:14] Rand-Random commented on #1900
@adamsitnik, @AndreyAkinshin
thx for the v0.13.2, noticed it got released after reading: https://devblogs.microsoft.com/dotnet/performance_improvements_in_net_7

[2022-08-31 21:39] ShinyCraig commented on #2076
Hi @adamsitnik

Thanks for the help! That got me closer to running things, but I'm running in circles now.

If I use something very similar to what you've provided me, I still get an error.

[code]

So I try specifying a RuntimeIdentifier, by either doing

[code]

or

[code]

Either way it goes back to the original error...

[code]

Apologies if this is a stupid question, but am I simply missing t

[2022-09-01 05:03] adamsitnik opened #2094 "When user specifies both --runtimes and --corerun the Runtime printed for CoreRun job is invalid"
With #2002 we made it possible to mix `--runtimes and --corerun`, with #1621 we started hiding the `Job` and `Toolchain` columns.

Repro:

[code]

[code]

|   Method |  Runtime |     Mean | Error | Ratio | Code Size |
|--------- |--------- |---------:|------:|------:|----------:|
| SumLocal | .NET 6.0 | 255.2 us |    NA |  1.00 |      49 B |
| SumLocal | .NET 6.0 | 255.8 us |    NA |  1.00 |

[2022-09-02 13:59] adamsitnik commented on #2080
At the time of doing this, we should remove the support for old experimental packages (from the old CoreRT `https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json` feed)

[2022-09-05 15:04] soerenwolfers commented on #498
Are there any disadvantages to the `[InProcessToolchain]` attribute (e.g., will the tests run slower)? I can't figure out a way to make things work without it (renaming the csproj is not an option in the shared codebase I'm working on).

[2022-09-05 15:22] soerenwolfers commented on #498
In fact, the benchmark I just kicked off with `[InProcessToolchain]` just came back 10 minutes later saying running the test took too long. The test should have taken a few seconds, to this seems to be broken for me too.

Renaming a `.csproj` file seems like an extreme measure. Is there really no way to simply specify the csproj file manually?

[2022-09-06 07:34] adamsitnik commented on #2076
@ShinyCraig is there any chance you could provide small repro?

[2022-09-06 17:46] CesarD commented on #844
I've just stumbled upon this same requirement and found out that it's not supported 😞

[2022-09-07 06:03] adamsitnik commented on #844
We don't plan to implement it, but you can always contribute: fork the library, create a new branch, implement this feature and send a PR. That is always welcomed.

[2022-09-07 12:14] nathanaw opened #2097 "Breaking Changes in 0.13.2"
In release 0.13.2, it appears that some runtime monikers were removed. This is a breaking change. I'm seeing some of my projects fail to compile because they reference monikers that are no longer in the codebase; specifically CoreRt31.

While the project is still at a zero-dot version, it seems like these changes would have been best put into a minor version bump (0.14.0). The patch bump suggest b

[2022-09-07 14:45] #2097 closed

[2022-09-07 17:03] nathanaw commented on #2097
Thanks @adamsitnik. Appreciate you taking a look.

I do understand the decision to close.

Thank you (and the rest of the maintainers / contributors) for this amazing library. 😄

[2022-09-09 23:21] yaskovdev opened #2098 ""Allocated native memory" and "Native memory leak" show wrong values if I use KeepBenchmarkFiles"
Steps to reproduce:

1. Clone [the solution](https://github.com/yaskovdev/sandbox/tree/master/BenchmarkDotNetBug).
2. Open PowerShell in the same directory as `BenchmarkDotNetBug.sln` as an admin.
3. Run `.\BuildAndRun.ps1`.
4. Wait a few minutes for the benchmark to finish.

Expected: both "Allocated native memory" and "Native memory leak" are "10 B".
Actual: both "Allocated native memory" and "N

[2022-09-10 11:37] adamsitnik commented on #1818
@radical thanks for sharing your steps!

I got to the point where I was getting:

[code]

but I just commented out this line of `test-main.js` and it works now.

FWIW the command that I've used:

[code]

[2022-09-10 11:40] adamsitnik opened #2099 "WASM is recognized as NativeAOT"
When running WASM benchmarks the benchmark process is incorrectly recognized as NativeAOT:

![image](https://user-images.githubusercontent.com/6011991/189481579-9a38a67a-f815-4070-81d0-b4486c474b8c.png)

Most likely the following code is true also for WASM:

https://github.com/dotnet/BenchmarkDotNet/blob/32ddeb56bd38631e052350cecfbf9e86df1b2e7c/src/BenchmarkDotNet/Portability/RuntimeInformation.cs

[2022-09-11 02:47] kabua opened #2100 "Plotting using R isn't working..."
While trying to get the Getting-Started project `Md5VsSha256` working. I have just installed R for Windows (`R-4.2.1`) for the first time and then set the following environment variables:
[code]
I keep getting this error:
[code]
But according to the log, it was installed.

Here's the log file
[code]

[2022-09-12 06:30] Khaos66 opened #2102 "Add benchmarking progress to console title"
Benchmarks run quite long to get accurate results. This time multiplies by params and benchmarks defined.
It would be nice to have a progress indicator for the running benchmarking process.

As most benchmarks run in a console app, it is possible to use the consoles title bar as a place to display this progress.

At a minimum it should display: `Running 5/10`
Or maybe: `Running: 5/10 - MyMethod(Pa

[2022-09-12 09:23] Khaos66 commented on #2102
I only just realized that there is this block in the output.
![image](https://user-images.githubusercontent.com/4013009/189618758-af45d922-3e9b-4566-90bd-8fc989f78c1a.png)

So, why not display some of this information in the console title?

[2022-09-12 23:18] KeterSCP opened #2103 "Invalid NativeAOT link in the 0.13.2 changelog"
[Pre-requisites](https://github.com/dotnet/BenchmarkDotNet/blob/8514b239fea5939f888df2f976d4763a978b5784/docs/_changelog/header/v0.13.2.md?plain=1#L59) link does not work

[2022-09-13 01:58] Turnerj commented on #1738
Yeah, just hit this myself. Looks like #1968 will fix this so hopefully that gets merged in soon.

[2022-09-13 06:03] adamsitnik commented on #2103
@KeterSCP could you please send a PR with a fix?

[2022-09-13 07:40] KeterSCP commented on #2103
Sure, but which file should it point to? Is it one from the [compiling section](https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/docs/compiling.md#prerequisites)? Or from the [runtimelab](https://github.com/dotnet/runtimelab/blob/feature/NativeAOT/docs/using-nativeaot/prerequisites.md)?

[2022-09-13 07:51] adamsitnik commented on #2103
@KeterSCP Based on the removed file history I think the new link should point to https://docs.microsoft.com/en-us/dotnet/core/deploying/native-aot/#prerequisites

Thanks!

[2022-09-14 17:52] #2103 closed

[2022-09-14 21:32] ShinyCraig commented on #2076
Hi @adamsitnik

Apologies for the delay, here's a repo that demonstrates the issue I've been having.

https://github.com/ShinyCraig/benchmarkissuedemo

program.cs in BenchmarkRunner is where you'll want to look, I tried to comment and provide as much context as I can, but let me know if you need any other information.

[2022-09-15 21:04] Kaotic3 opened #2105 "Unable to install net6.0"
I have installed this before no issue, so I am not sure why I am having an error now (to clarify, on different machines, not this one) - judging by there being a lack of posts, more likely my end than yours, but thought I would check.

As a double check, I added a different Nuget Package that I often use, AhoCorasick - that installed no issue.  I also spooled up another Console application - entir

[2022-09-16 00:28] Kaotic3 commented on #2105
I uninstalled Visual Studio completely and reinstalled it - in the hope that this was a VS problem.

Same error messages.

[2022-09-16 06:08] AndreyAkinshin commented on #2105
@Kaotic3 could you please share the output of the following commands (run them from the project root):
[code]
Also, please share the content of your `%appdata%\NuGet\NuGet.Config` file.

[2022-09-16 07:48] Kaotic3 commented on #2105
dotnet --list-sdks:

[code]

dotnet --list-runtimes:

[code]

dotnet add package BenchmarkDotNet:

[code]

[2022-09-16 08:37] Kaotic3 commented on #2105
If it is of any value, I realised that I had actually run BenchmarkDotNet on this machine (I thought I had only used it on the work machine).

I opened up the project containing Benchmark and attempted to run it and received these two error messages:

`Error MSB3030 Could not copy the file "C:\Users\Kaos\.nuget\packages\commandlineparser\2.4.3\lib\netstandard2.0\CommandLine.dll" because it was not

[2022-09-16 11:25] adamsitnik commented on #1422
Currently we can implement it in following ways:

## DOTNET_JitDisasm

Use `DOTNET_JitDisasm` exposed recently by https://github.com/dotnet/runtime/pull/73365 and parse the disassembly from standard output. In #2092 I've extended `ExecuteResult` with new `StandardOutput` that contains all the lines printed by the benchmark process to standard output.

https://github.com/dotnet/BenchmarkDotNet/blob

[2022-09-16 12:10] adamsitnik commented on #2070
@MichalPetryka the issue should got fixed with #2092. Could you please try `0.13.2.1892` and see if it did?

[code]

[2022-09-17 22:13] Kaotic3 commented on #2105
Since you highlighted the .nuget folder to me - I deleted it.

That fixed the problem, must have been some issue with something in there causing a problem.

Thanks!

[2022-09-17 22:13] #2105 closed

[2022-09-18 08:33] YegorStepanov commented on #1661
Summary, possibly a complete list of unhandled exceptions:

#### Fatal error. System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
[code]
#### Fatal error. Internal CLR error.
[code]

#### Fatal error. Internal CLR error.
[code]

#### Stack overflow.
[code]

[2022-09-19 14:22] AndreyAkinshin commented on #2100
Hello @kabua . Do you have this problem only for the first time or do you have it on each run?

[2022-09-19 16:11] SeanFarrow commented on #2093
@adamsitnik  I'd be interested in working on this. How far away is 0.13.3?

[2022-09-19 16:35] adamsitnik commented on #1422
@janvorli I've done two experiments:

1. I've tried ClrMD on Arm64: it works on Linux, it throws on Windows
2. I've tried Capstone and it works nice on Linux. I was able to decode *all* methods (using `--disasmFilter *`) and it did not throw.

Branch that I've been using: https://github.com/dotnet/BenchmarkDotNet/tree/arm64Disasm

Demo:

[code]

[2022-09-19 17:58] SeanFarrow commented on #2093
@jakobbotsch Which directory were you running this in specifically? did you have any docker container or mounts set up?

[2022-09-19 18:03] jakobbotsch commented on #2093
I think I was running the command inside `/home/jakob/dev/dotnet/perforamnce/src/benchmarks/micro`.

[2022-09-20 13:38] adamsitnik commented on #2093
@SeanFarrow great, I've assigned you.

I would like to release it within a month, as it's going to contain some important bugfixes.

[2022-09-21 03:56] robertblaketaylor opened #2113 "BenchmarkDotNet with non-[csproj,fsproj,vbproj] build environment?"
I work in an equivalent make system that does not rely on csproj or other projects types as part of the build, but am interested in leveraging BenchmarkDotNet. With some hacking got to the point where the benchmark would execute, but hung up on logic that requires a proper project file to have been created (which doesn't/wont ever exist in the build environment).

Is this a hard requirement for Be

[2022-09-21 07:01] #2099 closed

[2022-09-22 05:13] SeanFarrow commented on #2093
@adamsitnik Thanks, I'll start work this weekend.

What do we want as the behaviour if the path is too long? Currently as per the bug report, we are thrrowing an exception, short we just shorten th path to somethingthat is acceptable?
Finally, wha is the easiest way of debugging a benchmark, assuming I'm running using corerun?

[2022-09-22 18:44] adamsitnik commented on #2070
@bartonjs can still reproduce it

[2022-09-25 16:00] YegorStepanov commented on #1634
You don't have to inherit every `List<T>`.

You simply need `IEnumerable` type with overloaded `ToString` and with implicit casting to `argument`/`param` type (`List<int>` in your case)

[code]

![image](https://user-images.githubusercontent.com/19392641/192152895-86ac7c6e-99bb-4aec-a435-33a8edaf381a.png)

[2022-09-26 08:01] adamsitnik commented on #2113
Hi @robertblaketaylor

I am sorry but it's not supported by design.

However, you could:

- use the [InProcessToolchain](https://benchmarkdotnet.org/articles/samples/IntroInProcess.html#sample-introinprocess) which does not generate a new project, but instead emits IL and runs all the benchmarks in the same process (it should be OK as long as your benchmarks don't have side effects).
- Create a si

[2022-09-26 08:01] #2113 closed

[2022-09-26 16:02] YegorStepanov commented on #1839
System symbols (`\a`, `\t`, `\n`, etc) also break markdown and most likely other exporters too. Should be they escaped?

If yes, then the following parameters will be the same:
[code]

System symbols can be colored in a different color, but only for the console.

[2022-09-28 21:15] RealDotNetDave opened #2125 "Tests Just Stop Running During Run"
This issue seems to be back where while running a benchmark test, my console app just disappears. No error, nothing even in the BDN log (see below). It seems to be happening randomly, meaning different classes and different methods. Just a week or so ago, they were working fine.

I do have a try/catch set up in the main method. I do have it configured too:

config.WithOption(ConfigOptions.DisableO

[2022-09-29 14:42] #1830 closed

[2022-09-30 03:01] gragra33 opened #2126 "DotNet 6 - VB - Error: The type or namespace name 'DeserializingBenchmarks' could not be found in the global namespace (are you missing an assembly reference?)"
project file:
[code]

Trimmed code used
[code]

Reported summary header
[code]

full error:
[code]

[2022-09-30 07:01] adamsitnik commented on #2126
Hi @gragra33

Could you please try removing:

[code]

and try again?

If that does not help, I am not sure what exactly can be wrong in your case. Could you please follow https://benchmarkdotnet.org/articles/guides/troubleshooting.html?

In your case you would need to just try to build the generated project from command line:

[code]

and keep modifying it until you find the root cause.

FWIW I am

[2022-09-30 21:07] gragra33 commented on #2126
@adamsitnik Yep, already tried that, that was my first thought. I have also already looked at that page. I've also tried moving the `class` outside of the `module`.

[2022-09-30 21:47] gragra33 commented on #2126
I just built an isolated test solution, similar to the one with the issue, and it works fine. Not sure what is going on here, but will close this to avoid anyone spending time on it.

[2022-10-01 15:16] MihaZupan opened #2128 "Generated project fails to build with crank"
The benchmark project: [benchmarks.zip](https://github.com/dotnet/BenchmarkDotNet/files/9690581/benchmarks.zip)

When using a simple benchmark that works fine locally, the build fails if run via crank.

<details>
<summary>benchmarks.yml</summary>

[code]

</details>

[code]

[code]

The autogenerated project: [e9b32705-2561-4b25-bab0-f1790f6627c3.zip](https://github.com/dotnet/BenchmarkDotNet/file

[2022-10-02 23:31] YegorStepanov commented on #1481
Pastebin already requires registration for the token. But it very unsafe to paste a secret token in the code.
[code]
So, it remains only through the command line to do it:
[code]
IMO it doesn't look friendly, it much easier to just copy from the console to whatever site you want.
In addition, Pastebin doesn't support folders or something similar, without it you will end up with a thousand gists th

[2022-10-03 05:35] lukasz-pyrzyk commented on #1481
Hi @YegorStepanov!

Thank you for the investigation. I agree with you, passing a secret token via arguments is not convenient. I guess we could achieve it by reading a value from the environment variables.

However, having spam within the Pastebin account seems to be a bigger problem. It may get really unstructured after running a few benchmarks.

Over these years there was no significant need for

[2022-10-03 05:35] #1481 closed

[2022-10-03 10:04] adamsitnik commented on #2128
@MihaZupan thanks for providing full repro!

You need to pass `args` to the runner, so arguments passed by crank to the app like the one that asks BDN to run the benchmarks in process without generating a new project are respected:

[code]

[code]

[2022-10-03 10:04] #2128 closed

[2022-10-03 10:16] MihaZupan commented on #2128
Of course :facepalm:

Thanks Adam!

[2022-10-03 13:01] adamsitnik commented on #2054
@albahari based on the integration that you have recently implemented for LINQPad (https://twitter.com/linqpad/status/1576879508078366720), is there anything you would like to add/change in this proposal?

[2022-10-03 14:54] adamsitnik commented on #1954
@AndyAyersMS few days ago I've merged https://github.com/dotnet/BenchmarkDotNet/pull/2117 which adds a perf diagnoser that uses `perfcollect` internally. `perfcollect` supports collecting hardware counters:

https://github.com/dotnet/BenchmarkDotNet/blob/a78c2e6a6e3db79069fb5bbbd6da6e5cbea8c029/src/BenchmarkDotNet/Templates/perfcollect#L1891

we could take advantage of that and build something on

[2022-10-03 14:58] irwinwilliams opened #2129 "/Overview.htm missing"
Hey, so I googled my way to finding the repo, and the top result for me was this:
<img width="596" alt="image" src="https://user-images.githubusercontent.com/1428703/193609068-48e49a3b-8526-44b4-90cc-0c5dda7d83ad.png">
ALT: A google link taking you to https://benchmarkdotnet.org/Overview.htm

But that results in a 404.

The search result might be out of your control, (maybe a site admin could logi

[2022-10-03 14:59] adamsitnik commented on #1954
For that we could definitely extend `ETWProfiler` to always export such a file when hardware counters are enabled. We are already parsing the trace file:

https://github.com/dotnet/BenchmarkDotNet/blob/a78c2e6a6e3db79069fb5bbbd6da6e5cbea8c029/src/BenchmarkDotNet.Diagnostics.Windows/EtwProfiler.cs#L81

in theory it should be a matter of implementing an exporter:

https://github.com/dotnet/Benchmark

[2022-10-04 09:19] AndreyAkinshin commented on #2129
@irwinwilliams, thanks for the report, it's fixed now. It's quite strange that Google still provides a link to this page because it just redirects you to another page. Recently, I have set up an automatic workflow for documentation deployment and skipped redirect pages since they are obsolete during last several years. Currently, I just manually uploaded the redirect pages, but I will try to find

[2022-10-04 09:19] #2129 closed

[2022-10-04 15:37] BalassaMarton opened #2130 "Add ability to force-ignore individual invocations"
Currently, if an invocation throws an exception, the whole benchmark is thrown out. I'm using BDN to benchmark code that calls out to network services that are sometimes non-responsive. Unfortunately, this happens so often that I can't run a benchmark project without catching at least one `TimeoutException`. I can swallow these exceptions and hope for BDN to remove the invocation as an outlier, bu

[2022-10-04 18:11] adamsitnik commented on #2102
Sure, we can add that. My requirements:

- the title needs to be short, so the most important information is always visible
- it should never throw:
   - if some platforms don't support it, we should not call this [property](https://learn.microsoft.com/en-us/dotnet/api/system.console.title?view=net-6.0) for them
   - same for the redirected output

[2022-10-04 18:22] adamsitnik opened #2131 "--filter should include argument/params names"
Currently the filter provided with `--filter` is applied only to `namespace.typeName.methodName`. It should be applied to full benchmark ID, which includes argument and parameter values, as it's currently impossible to run a single benchmark when it has multiple test cases.

Requirements:
- to remain backward compatibility, using `namespace.typeName.methodName` without an asterisk at the end shoul

[2022-10-04 19:52] blouflashdb commented on #2131
I would like to work on this please.

[2022-10-04 20:17] franciscomoloureiro commented on #2102
I will work on this issue!

[2022-10-04 21:56] Serg046 commented on #2064
I would like to work on this

[2022-10-05 10:02] adamsitnik commented on #1933
#2092 should have fixed this error. You can try our preview version from BDN CI feed:

https://benchmarkdotnet.org/articles/guides/nuget.html#nightly

[2022-10-05 10:02] #1933 closed

[2022-10-05 10:05] adamsitnik commented on #1639
I am closing due to lack of repro.

@hypeartist the issue you have hit should be fixed in 0.13.2 where we have merged plenty of disassembler improvements

[2022-10-05 10:05] #1639 closed

[2022-10-05 10:08] adamsitnik commented on #837
It was most probably fixed with #1949

[2022-10-05 10:08] #837 closed

[2022-10-05 10:11] adamsitnik commented on #2034
No response for the provided hint, closing

[2022-10-05 10:11] #2034 closed

[2022-10-05 10:18] adamsitnik commented on #2070
The issue was partially resolved by @janvorli in #2123

@janvorli has identified a bug in DAC, which will be resolved in dotnet/runtime (calling one of the CLRMD methods ends up with AV while it should not). Since there is nothing actionable on BDN side, I am going to close it. Thank you!

[2022-10-05 10:18] #2070 closed

[2022-10-05 10:22] adamsitnik commented on #2102
@franciscomoloureiro to check the current platform you can use helper methods exposed by `RuntimeInformation` class:

https://github.com/dotnet/BenchmarkDotNet/blob/a78c2e6a6e3db79069fb5bbbd6da6e5cbea8c029/src/BenchmarkDotNet/Portability/RuntimeInformation.cs#L80

The current progress logging happens here:

https://github.com/dotnet/BenchmarkDotNet/blob/8ec00dd53ff1ed6d8f9a8720857599474c8c36c1/src

[2022-10-05 10:25] adamsitnik commented on #2088
Hint for potential contributor who wants to work on it: we revert the colors here:

https://github.com/dotnet/BenchmarkDotNet/blob/63e28c100a42a6492d09a0b93a8a4c141061bb0d/src/BenchmarkDotNet/Loggers/ConsoleLogger.cs#L44-L58

and this is most likely the part of the code that needs to be fixed.

[2022-10-05 10:43] adamsitnik commented on #1980
closing due to no response

[2022-10-05 10:43] #1980 closed

[2022-10-05 10:45] adamsitnik commented on #1977
Hi @RealDotNetDave

Yes, #2081 which was included in 0.13.2 made it possible to define your own custom JSON exporter that derives from the one provided by BDN and override `virtual IReadOnlyDictionary<string, object> GetDataToSerialize(Summary summary)`

[2022-10-05 10:45] #1977 closed

[2022-10-05 10:48] adamsitnik commented on #1967
@PaulRitter Could you please elaborate more on that? Please provide sample API design and code example.

[2022-10-05 10:50] adamsitnik commented on #1948
1.  got solved by #2092 (we are using `AsyncProcessOutputReader ` now
3. got solved by #1982

[2022-10-05 10:50] #1948 closed

[2022-10-05 10:52] adamsitnik commented on #1876
No response, closing

[2022-10-05 10:52] #1876 closed

[2022-10-05 11:03] adamsitnik commented on #1833
[code]

You can take a look at the existing `Add` benchmark from the dotnet/performance repo:

https://github.com/dotnet/performance/blob/main/src/benchmarks/micro/libraries/System.Collections/Add/AddGivenSize.cs
https://github.com/dotnet/performance/blob/main/src/benchmarks/micro/libraries/System.Collections/CreateAddAndClear.cs

but foremost read https://github.com/dotnet/performance/blob/main/d

[2022-10-05 11:03] #1833 closed

[2022-10-05 11:07] adamsitnik commented on #1820
I am closing as it's currently impossible to implement in reliable way, moreover most of the folks who want get high perf can use [SkipLocalsInit](https://www.meziantou.net/csharp-9-improve-performance-using-skiplocalsinit.htm) now (and don't worry about the size so much unless they get stack overflow ;)).

[2022-10-05 11:07] #1820 closed

[2022-10-05 11:09] adamsitnik commented on #1804
Correct.

It's not. If your benchmark does not allocate a lot of memory, you would need to significantly increase `IterationTime` which would result in way more time needed to run the benchmarks. Moreover GC is self-tunning, so it could use bigger Gen 0 budget size and avoid collecting memory anyway ;)

[2022-10-05 11:09] #1804 closed

[2022-10-05 11:10] adamsitnik commented on #1836
With all the improvements we did for diassembler in 0.13.2 this issue should be gone now

[2022-10-05 11:10] #1836 closed

[2022-10-05 11:12] adamsitnik commented on #1793
I've recently tried to build the WASM AOT benchmarks and it took just a few minutes.

I am going to close it, but feel free to send any PRs with improvements.

[2022-10-05 11:12] #1793 closed

[2022-10-05 11:21] adamsitnik commented on #69
Performance Counters are Windows-specific. .NET has become cross-platform since the issue was created (2016!) and we rather don't intend to add this feature as we have plenty of existing diagnosers that provide this + more information.

[2022-10-05 11:21] #69 closed

[2022-10-05 11:28] adamsitnik commented on #672
@janvorli do you have any suggestion for disassembling delegate calls? Sample:

## .NET 6.0.9 (6.0.922.41905), X64 RyuJIT AVX2
[code]

[2022-10-05 11:28] adamsitnik commented on #704
Closing as I don't need it anymore

[2022-10-05 11:29] #704 closed

[2022-10-05 11:31] adamsitnik commented on #806
Closing as I don't have interest in implementing support for it and the community is not willing to do it as well. Send a PR and prove me wrong, please.

[2022-10-05 11:31] #806 closed

[2022-10-05 11:38] adamsitnik commented on #1392
There is nothing actionable on BDN side, https://github.com/fsprojects/Paket/issues/3810 needs to be fixed.

[2022-10-05 11:38] #1392 closed

[2022-10-05 11:44] adamsitnik commented on #1668
https://stackoverflow.com/questions/73182338/how-to-use-dependencyinjection-in-benchmarkdotnet/73189559#73189559

[2022-10-05 11:44] #1668 closed

[2022-10-05 11:53] adamsitnik commented on #1695
I am unable to reproduce:

[code]

[code]

[code]

|                                    Method | WorkItemsPerCore |     Mean |    Error |   StdDev | Completed Work Items | Lock Contentions |
|------------------------------------------ |----------------- |---------:|---------:|---------:|---------------------:|-----------------:|
| QueueUserWorkItem_WaitCallback_Throughput |           100000 | 23.8

[2022-10-05 11:53] #1695 closed

[2022-10-05 11:56] #1422 closed

[2022-10-05 12:07] adamsitnik commented on #1694
I've made this issue up-for-grabs.

The best way to approach it would be the following:

1. Add provided repro to the `BenchmarkDotNetSamples` project. Example:

[code]

2.  Right click on the project and mark is as startup project:

![image](https://user-images.githubusercontent.com/6011991/194056140-609d4963-02a8-4319-b849-8e46eda1ffbf.png)

3. Hit `Cltr+Alt+E` and ask VS to stop on managed exce

[2022-10-05 12:11] adamsitnik commented on #1708
Hi @naeemakram

BenchmarkDotNet has a heuristic that decides when to stop:

https://github.com/dotnet/BenchmarkDotNet/blob/f4d99ab7b81cccf9322fe6ae084572d8eeb9cade/src/BenchmarkDotNet/Engines/EngineGeneralStage.cs#L53-L72

It will run no more than 100 iteraitons.

You can configure max iteration count by either using attributes, fluent API or command line args:

[code]

More: https://benchmarkdotn

[2022-10-05 12:11] #1708 closed

[2022-10-05 12:14] adamsitnik commented on #1717
You would need to:

1. Identify the most important scenarios for your app
2. Implement benchmarks that cover them
3. Run the benchmarks on exactly same hardware over time
4. Store the results in some database
5. Compare the results and search for regressions.

Currently BDN does not provide any built-in way to do that (#54)

[2022-10-05 12:14] #1717 closed

[2022-10-05 12:16] adamsitnik commented on #1732
I am unable to reproduce this issue when following instructions provided by @radical in https://github.com/dotnet/performance/pull/2612

[2022-10-05 12:16] #1732 closed

[2022-10-05 12:18] adamsitnik commented on #1737
@YegorStepanov would you like to send a PR that updates the docs?

[2022-10-05 12:37] adamsitnik commented on #1740
OOM can happen in multiple scenarios. Some of them:

- when your app has a memory leak. Detecting memory leaks isn't the job of micro benchmarking library. You need to use memory profiler to find leaks.
- when your app has no leak, but there is not enough memory available at the system to satisfy the allocation needs (example: you web server suddenly gets a lot of web requests). This is dependent

[2022-10-05 12:37] #1740 closed

[2022-10-05 12:44] adamsitnik commented on #1755
This was fixed by #1823 and is now part of 0.13.2 release.

We do our best, but sometimes the file names just have to get truncated.

The logic for choosing the trace file name can be found here:

https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Helpers/ArtifactFileNameHelper.cs

I am opened to any improvements (PRs).

Since the main issue was addressed (`:`) and I don't s

[2022-10-05 12:44] #1755 closed

[2022-10-05 12:46] adamsitnik commented on #1825
No progress for a year, closing

[2022-10-05 12:46] #1825 closed

[2022-10-05 12:53] adamsitnik commented on #1834
It does not, as it's more a profiler feature than micro-benchmarking library feature.

You can use `ETWProfiler` (windows) or `PerfCollectProfiler` (linux), open the trace file in PerfView and read this information. Docs: https://benchmarkdotnet.org/articles/features/etwprofiler.html

[2022-10-05 12:53] #1834 closed

[2022-10-05 12:55] adamsitnik commented on #1822
I believe that all the questions have been answered. Please follow #54 for updates. But to be honest it's a very big feature and without external funding or major contribution I don't see it happening.

[2022-10-05 12:55] #1822 closed

[2022-10-05 13:00] adamsitnik commented on #1782
I've tried to implement `InvocationSetup` in the past: https://github.com/dotnet/BenchmarkDotNet/pull/1157

It was rejected for some good reasons. I agree that your proposal would make it work, but it would also make BDN ever more complex, and all our toolchains would need to support this (in-process, others + potentially source gen in the future). Since the need for that is quite rare and users c

[2022-10-05 13:00] #1782 closed

[2022-10-05 13:08] #2058 closed

[2022-10-05 13:12] adamsitnik commented on #2130
Hi @BalassaMarton

We had similar request in the past and decided not to implement it. Please see #373 for details.

[2022-10-05 13:12] #2130 closed

[2022-10-05 13:36] adamsitnik commented on #2125
Hi @RealDotNetDave

I took a look at your log:

![image](https://user-images.githubusercontent.com/6011991/194071424-01f2e18f-c1eb-4c36-bcc7-d25161779aae.png)

Initially I thought that you have hit a bug in .NET.

This call:

https://github.com/dotnet/runtime/blob/dd96637244dbf840a54e08d17606ded0eb17f39e/src/libraries/System.Private.CoreLib/src/System/IO/Strategies/BufferedFileStreamStrategy.cs#L5

[2022-10-05 13:55] adamsitnik commented on #1736
I've marked this issue as up-for-grabs, but it's definitely not a good first issue as it's quite complex to implement.

The person who is willing to work on that should analyze how [ThradingDiagnoser](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Diagnosers/ThreadingDiagnoser.cs) got implemented in #1227 and implement something similar.

Most important places to look at

[2022-10-05 13:58] adamsitnik commented on #2064
@Serg046 great! I've assigned you. Please let me know if you need some help

[2022-10-05 16:10] timcassell commented on #1782
@adamsitnik Thanks for the feedback. If things change in the future where this is wanted, I'd be willing to work on it for all toolchains, even after a source gen is added.

[2022-10-05 17:03] #2125 closed

[2022-10-05 17:05] #2131 closed

[2022-10-05 17:06] adamsitnik commented on #1954
This is now built in: #2132

[2022-10-05 18:55] BalassaMarton commented on #2130
Actually, I remembered that we had this conversation before, but couldn't find it (@mbatms is also me) :) Maybe I should use a profiler instead for this kind of measurement where I want to control what to include and what to ignore on the method call level.

[2022-10-06 00:07] soyfrien commented on #1671
I was given the same error message but for my Application Data folder. I was running from my home folder by stating the full path to the executable.

The error went away after I `cd`'d into it the benchmark folder.

[2022-10-06 08:13] #1737 closed

[2022-10-06 08:28] #1839 closed

[2022-10-06 08:28] #1867 closed

[2022-10-06 08:37] Dartexxy commented on #1694
I would like to work on this issue

[2022-10-06 10:27] ramkumar-g commented on #1694
@adamsitnik - your instructions were very helpful in debugging this issue. Thank you.

I have found that the substring is receiving an invalid length due to IndexOf('`') check in function GetCorrectCSharpTypeName
I wanted to confirm if handling IndexOf here is the right way to resolve this.

![image](https://user-images.githubusercontent.com/4058503/194290121-f7363344-a0e1-4a12-8de1-97d4c22aa419.p

[2022-10-06 11:48] alex-jitbit opened #2138 "2X different results from identical class with different names (only names)"
I have `MyClass` and `MyClass2` which is just copy-pasted same identical code. Again - letter-by-letter same, as in "completely identical" just the names are different.

Occasionally, the results I get (about every run out of 3) are drastically different

| Method |     Mean |    Error |  StdDev |   Gen 0 |   Gen 1 | Allocated |
|------- |---------:|---------:|--------:|--------:|--------:|-------

[2022-10-06 11:58] adamsitnik commented on #1694
I am sorry but I don't remember the exact details behind this implementation. You can take a look at the existing unit tests that cover this code, debug them and somehow figure out why this particular case is special and does not work as expected.

https://github.com/dotnet/BenchmarkDotNet/blob/c3fb7b9724a62048d27ef5bcaec616117d68b934/tests/BenchmarkDotNet.Tests/ReflectionTests.cs#L15-L32

[2022-10-06 12:17] rbanks54 opened #2139 "COMException when generating ETW Log for benchmark"
Just posting this here for visibility as it's the same problem as microsoft/perfview#1723.

I'm seeing COMExceptions when trying to generate an ETW trace for a benchmark.

The exception is
[code]

[2022-10-06 12:23] adamsitnik commented on #2139
Hi @rbanks54

In such case we need to wait until https://github.com/microsoft/perfview/issues/1723 gets fixed. In the meantime, you can downgrade to previous version which used older TraceEvent.

[2022-10-06 12:23] adamsitnik commented on #2139
And thank you for digging in and reporting the issue in PerfView repo!

[2022-10-06 12:33] YegorStepanov commented on #1694
The fix is not so easy. I'd recommend considering an easier issue for the first contribution.

[2022-10-06 15:19] marek-safar commented on #2064
https://github.com/dotnet/runtime/blob/main/src/tests/Common/CoreCLRTestLibrary/Utilities.cs#L95 is what we use recently for MonoVM

[2022-10-06 17:30] adamsitnik commented on #2138
People open issues like this expecting that they have hit a BenchmarkDotNet bug.

I've investigated multiple similar issues, it took days to do that and the reason behind such differences for "same code" was always either code alignment (#756) or memory alignment (#1587).

#756 was mainly addressed by .NET 6 itself which started aligning the loops: https://www.youtube.com/watch?v=ibHOoIj8U8k

We h

[2022-10-06 17:37] alex-jitbit commented on #2138
@adamsitnik  Yes, I understand. But what it means, is that when the code is _ACTUALLY DIFFERENT_ we can not know for sure, was it the code changes, or just the "alignment".

[2022-10-06 20:11] gragra33 commented on #2126
I identified the issue that I was having.

When a solution has both C# & VB projects in a single solution, or two solution files in the same root solution folder, you can not have C# & VB project with the same name. The solution will compile successfully, however BechmarkDotNet will fail. My solution structure was:
[code]

So, for VB, by add the suffix `VB` to the project name, or using a complete

[2022-10-06 23:04] YegorStepanov commented on #1694
Sorry for grabbing the issue.

Indeed, it was easy (I forgot to add the [Benchmark] attribute so I thought a lot of things were broken and they are coupled with the inner project generation)

@ramkumar-g I wanted to add you as a co-author but I don't know your `no-reply-github-email`.

[2022-10-07 03:28] ramkumar-g commented on #1694
@YegorStepanov - not a problem. will pick up something else. thanks!

[2022-10-07 10:27] #2126 closed

[2022-10-07 12:49] gragra33 commented on #2126
Thanks for the quick fix!

[2022-10-07 22:05] YegorStepanov commented on #1684
Fixed in #2136

[2022-10-08 06:27] SeanFarrow commented on #2093
@adamsitnik @saad995
It will be in the next few minutes, unfortunately, we have a family illness/emergency meaning I can't do as much outside of work as I would like.

Do you want me to push my branch with some tests?

Thanks,
Sean.

[2022-10-08 06:28] N0D4N commented on #1684
Strange but i dont seem to get this exception even on v0.13.2, but I guess its fine anyway. Closing this.

[2022-10-08 06:28] #1684 closed

[2022-10-08 08:48] saad995 commented on #2093
@SeanFarrow yes please, that would be helpful...I will look into it tomorrow. if it's possible for me to continue on this fix I will let you guys know.

[2022-10-08 08:59] SeanFarrow commented on #2093
@saad995
The fork is at:
https://github.com/SeanFarrow/benchmarkdotnet.git
the branch you want to start with is:
bugfix/sf/2093-fix-path-too-long-exception
I'll leave the fork there for a few days, so if you could let me know when you have it, I can then delete it.

Thanks,
Sean.

[2022-10-08 10:32] YegorStepanov commented on #1684
Hmm, Yesterday I checked your example before and after PR, it generated your exception. Today I cannot reproduce it (in v0.13.2 too) :)

Interestingly, `"\\"` and `"\""` were already escaped (check the PR), they should have worked.

---

[code]

The `.notcs` file was generated correctly, but it could not read some control symbols (like `\0`, I can reproduce it in v0.13.2):

https://github.com/dotn

[2022-10-09 14:21] ladeak commented on #2139
It seems the linked https://github.com/microsoft/perfview/issues/1723 issue is resolved. Shall we bump `Microsoft.Diagnostics.Tracing.TraceEvent` dependency once a new release is available from that nuget package?

[2022-10-10 05:36] YegorStepanov commented on #1758
Use it for proper formatting.
[code]
[code]

---
\
\
[docs:](https://learn.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2022)
`Directory.Build.props` adds the xml property if it's not contained in `.csproj`.

So, your generated project looks like:
[code]

#1403 will solve this issue.

---

### Workaround:
You can add an empty `Directory.Build.props`:
[code]

[2022-10-10 07:24] adamsitnik commented on #2139
It turned out to be Windows OS bug and has not been solved yet, only the PerfView issue got closed: https://github.com/microsoft/perfview/issues/1723#issuecomment-1272029634

[2022-10-11 05:38] rbanks54 commented on #2139
@ladeak I mentioned in the perfview issue that I could workaround the problem by disabling realtime virus protection. It's (very) obviously not an ideal approach, but it unblocks me. It might be something that works for you as well.

[2022-10-11 06:03] ladeak commented on #2139
Thank you for the suggestion, I will give it a try.

[2022-10-11 19:16] Serg046 commented on #1736
Looks interesting, I'd take this one and try to implement.

Guess Stephen meant [AppDomain.FirstChanceException](https://learn.microsoft.com/en-us/dotnet/api/system.appdomain.firstchanceexception?view=netstandard-2.0), not `AppContext.FirstChanceException`. My understanding is that we need to listen to that event and increase some counter each time it occurs (probably grouped by the exception type

[2022-10-11 20:33] adamsitnik commented on #1736
@stephentoub could you please clarify that?

Exactly!

[2022-10-11 20:35] stephentoub commented on #1736
Yes, the public API is on AppDomain:
https://github.com/dotnet/runtime/blob/3435b39194137676d9b2da12c8ebd21d69cd06b9/src/libraries/System.Private.CoreLib/src/System/AppDomain.cs#L69-L73

Thanks.

[2022-10-12 12:01] farQtech commented on #2088
I would like to work on this. please assign it to me.

[2022-10-12 18:26] adamsitnik commented on #2102
Fixed by #2140

[2022-10-12 18:26] #2102 closed

[2022-10-12 18:28] adamsitnik commented on #2088
@farQtech done! Please let me know if you need any help

[2022-10-12 18:32] farQtech commented on #2088
Sure @adamsitnik , thanks!!

[2022-10-13 10:16] rbanks54 commented on #2139
@adamsitnik There's some extra details in this thread https://github.com/microsoft/perfview/issues/1726 you might be interested in :)

[2022-10-13 14:18] mawosoft opened #2146 "Build warning MSB3245: Could not locate the assembly `Mono.Posix`"
When targeting `.NET Framework`, I'm getting the above build warning due to (@adamsitnik): https://github.com/dotnet/BenchmarkDotNet/blob/db8f8d85db44f35af97e763b90f2ffd256eb99e0/src/BenchmarkDotNet/BenchmarkDotNet.csproj#L24
This is a problem with `Mono.Posix.NETStandard` (it has a separate reference assembly for `net40` with type forwards to `Mono.Posix` while its `netstandard2.0` version doesn'

[2022-10-13 14:53] emanuel-v-r commented on #1899
Is this still an issue? If it is, can I grab it?

[2022-10-13 15:03] YegorStepanov commented on #1899
@emanuel-v-r the PR exists, and I think everything is fine with it

[2022-10-13 15:19] emanuel-v-r commented on #989
Hi,

Can I grab this one?

[2022-10-14 08:05] GF-Huang opened #2149 "BenchmarkDotNet.Templates not showing in VS2022(17.3.6) new project dialog"
Similar question (https://developercommunity.visualstudio.com/t/net-cli-templates-in-visual-studio-missing/1508502), might be helpful to solve this problem, but I can't do anything about it.

[2022-10-14 17:52] adamsitnik commented on #190
Some hints for the potential contributor:

- When I run a sample benchmark like the following:

[code]

I am currently getting a lot of output:

<details>

[code]

</details>

Which could be minimized to:

<details>

[code]

</details>

The new option should be currently disabled by default. It should be possible to enable it via command line args, fluent API and an attribute. You can use `KeepFil

[2022-10-14 21:34] timcassell commented on #2026
@AndreyAkinshin Before 1.0, I was thinking some of the public types that are only public for the generated projects to consume could be made internal, and add `[InternalsVisibleTo]` so the generated projects can still use them. What do you think?

[2022-10-15 08:33] PaulRitter commented on #1967
I updated the original comment, did that clear it up? Otherwise im open to thinking a bit more on the idea and coming up with an entire API proposal, but i'd have to get more familiar with the project for that.

[2022-10-15 13:09] YegorStepanov commented on #2026
Please, do not silently release 1.0 without an announcement.

Topics that I want to cover during the year:
- BDN should not throw unhandled exceptions.
- Unify toolchains. (for example, `InProcessEmitToolchain` supports `[Params("111")] public int Field;`)
- Move different checks to validators (to simplify code duplication with analyzers).
- Add analyzers.
- Try to replace `RPlots` to the C# plots

[2022-10-15 13:31] franciscomoloureiro commented on #190
I want to work on this issue

[2022-10-16 11:35] YegorStepanov commented on #1709
I've sent a PR.

It doesn't relative to base class.

### Problem

[code]
if you write `0` it matches:
* Test01 (by benchmark class index)
* Test01 (class name contains `0`)
* Test02 (class name contains `0`)

[2022-10-16 16:49] YegorStepanov commented on #791
Currently the bug is different - arrays are not compared properly.

OP example displays:
[code]

The PR changes it to:
[code]

I didn't add postfix in this PR. If a postfix is desirable, then do not close this issue.

[2022-10-16 22:14] YegorStepanov commented on #1700
We need to revert it because it breaks exporters.

Starting with this PR, only one exporter per type can be.

#### This means that the following cases stopped working in 0.13.2:

[code]
[code]

What I suggest:
- revert it
- compare and filter exporters by existing `IExporter.Name` (to cover this issue)
- add `RPlotValidator` that checks we do not override `CsvMeasurementsExporter.Default`

@Andrey

[2022-10-17 07:44] adamsitnik commented on #190
@franciscomoloureiro great, I've assigned you. Please let me know if you need help.

[2022-10-17 07:54] #1709 closed

[2022-10-17 10:14] melias commented on #2149
@adamsitnik  Could I help with this?

[2022-10-17 11:31] adamsitnik commented on #2149
@melias yes of course! The problem is that I am not familiar with the templates myself so I there is very little help I can provide with this issue.

[2022-10-17 13:31] #2146 closed

[2022-10-17 16:31] ardalis opened #2156 "Command Line Arguments"
I'm trying to launch a benchmark run from a .NET 6 console app. I'm pulling in connection information (server and port) using command line arguments so that I can easily reuse the application between environments (rather than hard-coding server IP addresses, etc. in the code). However, even when I set the values from the command line to static variables, they are not set during my benchmark runs.

[2022-10-17 18:18] adamsitnik commented on #2156
Hi @ardalis

BDN runs every benchmark in a dedicated, stand-alone process, that is why setting static fields does not work.

You can pass them via environment variables:

[code]

Console app that defines benchmarks needs to pass the `args` to the `BenchmarkSwitcher`:

[code]

And then you can read the env var in `[GlobalSetup]` method:

[code]

[2022-10-17 18:31] adamsitnik commented on #247
It's possible to export to a single file by using `--join`:

https://benchmarkdotnet.org/articles/samples/IntroJoin.html#sample-introjoin

[2022-10-17 18:31] #247 closed

[2022-10-17 19:20] ardalis commented on #2156
Awesome, thanks for the quick response! I'll give it a shot.

[2022-10-17 19:20] #2156 closed

[2022-10-17 19:33] adamsitnik commented on #1799
Up-for-grabs hints:

- This feature should be exposed by adding new `--resume` command line argument. You can use [CommandLineOptions.KeepBenchmarkFiles](https://github.com/dotnet/BenchmarkDotNet/blob/eda1a412418ba59eda676cd909accbed6756eeee/src/BenchmarkDotNet/ConsoleArguments/CommandLineOptions.cs#L83-L84) as an example of existing boolean flag exposed by command line args and just mimic what we

[2022-10-18 00:49] YegorStepanov commented on #190
Still verbose. We always have `log` file that we can open and see the __logs__. Console is a UI, not a log viewer.

I would like to see the same `-verbosity` option as `MSBuild` and `dotnet cli` have:
[code]

#### diag[nostic]
current output: full logs
#### d[etailed]
like Adam suggests

#### n[ormal]

It should not contain any debug/log information:
Also we can remove `remaining benchmarks` and `

[2022-10-18 00:49] ardalis commented on #1453
The worst possible forum/issue reply:

"Fixed it" with no additional information.

[2022-10-18 01:26] timcassell commented on #2102
As a followup, it might be nice to display the progress in the taskbar, but I only see the API available in .Net Framework. Not sure if there's an equivalent in .Net Core/Standard. https://learn.microsoft.com/en-us/dotnet/api/system.windows.shell.taskbariteminfo.progressstate?view=windowsdesktop-7.0

[2022-10-18 05:48] JohannesDeml opened #2157 "ManualConfig has exporters defined, while it should not have any"
BenchmarkDotNet version: 0.13.2
OS: Windows 10
Reference repository: https://github.com/JohannesDeml/MicroBenchmarksDotNet

When running the following simple benchmark:
[code]

I get the following exporter output:
[code]

This is very much unexpected for me (and I think this also was not the case for the version 0.12.x). If I use a `ManualConfig` or and inheritor from it, I want to start defining

[2022-10-18 07:12] adamsitnik commented on #2157
Hi @JohannesDeml !

When the user does not provide any config instance to `BenchmarkSwitcher.Run`, a default config is being used:

https://github.com/dotnet/BenchmarkDotNet/blob/28bf214dee0b1f6937851e6f1d09f1f5ae133df1/src/BenchmarkDotNet/Running/BenchmarkSwitcher.cs#L77

which later gets merged with config applied by your attribute.

What you need is to pass an instance of `ManualConfig` to `Ben

[2022-10-18 07:17] adamsitnik commented on #190
@YegorStepanov your proposal sounds very reasonable, I like it! @franciscomoloureiro if possible, please take it into consideration

[2022-10-18 07:20] adamsitnik commented on #1453
From the logs shared by @furkanyazgi I can see that there was a bug in the benchmark itself which was just throwing an exception:

So most likely the fix was reading the log carefully and fixing reported exception.

[2022-10-18 07:44] timcassell opened #2159 "ctrl+c causes crash"
It doesn't happen 100% of the time, but it happens often enough. I believe it's caused by the child process not killed gracefully, but it's hard to say. We can hook into `Console.CancelKeyPress` event, so we should be able to gracefully kill the child process instead of it crashing.

[2022-10-18 07:55] adamsitnik commented on #2159
We are already doing that, but I am open to any improvements in this space

[2022-10-18 09:02] melias commented on #2149
@adamsitnik I did some modifications on template.json and still don't know how I'll test that.
Have you any idea?

[2022-10-18 09:33] farQtech commented on #2088
Hi @adamsitnik sorry for the delay, raised PR #2160 to fix above problem. I think it would be better if we restore ForegroundColor to it's original value once we are done

[2022-10-18 11:08] Khaos66 commented on #2102
Funny. I did this in another project some time ago.
You don't need another NuGet. Just some good old PInvoke ;)
[code]

With this you can call `SetState` and `SetValue` easyliy. Have fun 🎉

[2022-10-18 11:30] adamsitnik commented on #2088
Fixed by #2160, thanks a lot @farQtech !

[2022-10-18 11:30] #2088 closed

[2022-10-18 11:31] adamsitnik commented on #1799
@melias yes, please!

[2022-10-18 11:33] adamsitnik commented on #2149
@melias to be honest I don't. You can just focus on #1799 and I can unassign you from this one (unless you want to keep digging into the templates)

[2022-10-18 13:10] workgroupengineering opened #2162 "[Feature][Breaking change] Remove ExportToFiles from IExporter"
https://github.com/dotnet/BenchmarkDotNet/blob/1fb1015556039664451dd101b4e2ef9501e03805/src/BenchmarkDotNet/Exporters/IExporter.cs#L12

I would like to suggest to remove ExportToFiles from IExporter, because it is not said that the output is a file but it could be, a database, a rest endpoint, a websock, named pipe, etc ...

[2022-10-18 15:53] JohannesDeml commented on #2157
Ah, I see! That makes a lot of sense, thanks a lot for the quick answer @adamsitnik !
Commit fix: https://github.com/JohannesDeml/MicroBenchmarksDotNet/commit/35720bfc0d3a49ec0eff26c6af05777e56238af8

[2022-10-18 15:53] #2157 closed

[2022-10-19 12:33] timcassell commented on #1770
I think we should have an in-process option for that, too.

[2022-10-19 13:01] YegorStepanov commented on #1684
@adamsitnik I forgot to attach a PR to this issue. Add this issue to `v0.13.3` milestone please.

[2022-10-19 14:30] adamsitnik commented on #2159
[ConsoleExitHandler](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Helpers/ConsoleExitHandler.cs) is responsible for doing that and it's being used in all executors: https://github.com/dotnet/BenchmarkDotNet/search?q=ConsoleExitHandler

I currently don't see way to improve it so I am going to close the issue, but please feel free to send a PR and prove me wrong ;)

[2022-10-19 14:30] #2159 closed

[2022-10-19 20:02] timcassell commented on #784
It seems dangerous to encourage users to use `IHost`. That looks like it should actually be internal, and is only public for the code-gen project to use. ([See my other comment about that.](https://github.com/dotnet/BenchmarkDotNet/issues/2026#issuecomment-1279491309)) And exposing a static property just feels dirty and unsafe.

It may take more work, but I think the new attribute approach is the

[2022-10-20 05:39] timcassell opened #2165 "Enable Github Discussions"
Can the `Discussions` section be opened up? I feel some things I want to discuss aren't worthy of `Issue` status, and some discussions clog up issues and PRs (like in #2114 and #2111).

[2022-10-20 08:37] timcassell commented on #2159
I see, it just calls `process.KillTree()`. I couldn't tell what the actual error is, but I'm guessing the child process still tries to communicate with the host process during the shutdown. Could we disconnect the pipe before killing the process? Would that do anything? Or is that already supposed to safely handle this kind of situation?

[2022-10-20 10:41] AlexSynakh commented on #2100
I had the same issue with 0.13.2 BenchmarkDotNet version trying to run generated R code from VSCode
This error was occurring on every run
Switching default R console with [Radian](https://github.com/randy3k/radian) and following [R editor support installation for Windows guide](https://github.com/REditorSupport/vscode-R/wiki/Installation:-Windows) to configure it in VSCode solved the issue for me

[2022-10-20 13:49] AnthonyMastrean commented on #2057
Ooh, looks like some new .NET 7 tech might come in handy?

https://learn.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.callerlinenumberattribute?view=net-7.0

[2022-10-20 20:35] ardalis commented on #2156
Hi @adamsitnik thanks again for your help. I can't seem to get the env vars into my benchmark. Is there something obvious I'm missing?

![image](https://user-images.githubusercontent.com/782127/197052698-cddefbbf-3d2d-4273-8f14-062585bed975.png)

The constants are defined like this:

[code]

[2022-10-20 20:46] timcassell commented on #2156
@ardalis Try removing the quotes.

[2022-10-20 20:51] ardalis commented on #2156
@timcassell good ideas, but neither changes the behavior. I only added the quotes because I saw some code like this and it made me think perhaps the comma-separated values in my env vars were a problem:

![image](https://user-images.githubusercontent.com/782127/197055420-d98cbc75-d0d2-4e3e-8ae5-3eb2c65d8a6e.png)

But the behavior is the same with or without quotes.

[2022-10-20 20:55] timcassell commented on #2156
I think the issue is that the key:value is separated by `:`, and you have `:` in your value. Can you change that to something else? https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration&view=aspnetcore-3.1#environment-variables recommends changing it to `__` (double underscore).

[2022-10-20 20:59] ardalis commented on #2156
Oh that's a good catch. Using `:` to separate server:port is pretty standard but I can probably use something else and then unescape it in my code. Let me try that.

[2022-10-20 21:02] ardalis commented on #2156
Nope. :(
![image](https://user-images.githubusercontent.com/782127/197057402-616ba805-f1d3-40e8-ab06-9b09d4ff37b3.png)

[2022-10-20 21:03] ardalis commented on #2156
Also posted to SO since that's probably a better place for this at this point: https://stackoverflow.com/questions/74146160/reading-environment-variables-in-benchmarkdotnet

[2022-10-20 21:05] timcassell commented on #2156
Also you have an extra `--`. Remove that from `-- --envVars`.

[2022-10-20 21:06] ardalis commented on #2156
Isn't that needed to pass the values my app instead of to `dotnet` ? Trying it anyway...

[2022-10-20 21:06] ardalis commented on #2156
No dice.
![image](https://user-images.githubusercontent.com/782127/197058209-7b0dd5ff-2b4d-4827-b3a2-5ca7e11bdec8.png)

[2022-10-20 21:09] ardalis commented on #2156
Fixed!

Apparently the issue was my use of `[ReturnValidator]` which is covered by this open issue:
https://github.com/dotnet/BenchmarkDotNet/issues/2083

[2022-10-21 15:52] YegorStepanov opened #2167 "Site: No vertical bar should be displayed for the Main page"
![image](https://user-images.githubusercontent.com/19392641/194185177-1b79a7d0-200c-4ad7-bfb9-0458d7eb779a.png)

the bug is here:
https://github.com/dotnet/BenchmarkDotNet/blob/9938c3c649fe2a9709eeafad5858e4a0eb2a5423/docs/template/partials/head.tmpl.partial#L6

_Originally posted by @YegorStepanov in https://github.com/dotnet/BenchmarkDotNet/issues/2137#issuecomment-1269129549_

[2022-10-25 17:05] kkulkarniMS commented on #1368
I am getting the same warnings because of my Microsoft.ML nuget package related to System.CodeDom. Where do I update the package reference number?

"Found conflicts between different versions of "System.CodeDom" that could not be resolved. There was a conflict between "System.CodeDom, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" and "System.CodeDom, Version=4.0.3.0, Culture=n

[2022-10-26 12:43] #1799 closed

[2022-10-28 17:22] #1521 closed

[2022-10-28 17:52] ImaginaryDevelopment commented on #580
Please include usings/opens in examples.
where is JitOptimizationsValidator? I can't seem to find it, is any of this manual config still necessary or useful?

[2022-10-29 00:19] albahari commented on #580
JitOptimizationsValidator is in BenchmarkDotNet.Validators; however it's not necessary for LINQPad.

No special configuration is required to run BenchmarkDotNet in LINQPad other than to ensure that your query itself is optimized, which you can do either via the LINQPad UI or with the following directive:

`#LINQPad optimize+`

(If you forget, you'll get a message telling you specifically to add th

[2022-10-29 10:12] workgroupengineering commented on #2162
What do you think? can i work on it?

[2022-11-02 06:04] AndreyAkinshin opened #2185 "WarmupCount=0 doesn't work"
BenchmarkDotNet always performs at least one iteration. The bug was introduced in 7ef5f659 (see EngineStage.Run).

[2022-11-02 08:05] #2185 closed

[2022-11-02 12:55] AndreyAkinshin opened #2187 "Reports for InProcess jobs don't include non-Result measurements"

[2022-11-02 12:59] #2167 closed

[2022-11-02 14:18] AndreyAkinshin opened #2189 "broker.ProcessData() hangs if something wrong is the spawned process"
Let us a consider a job with invalid configuration on the current platform. For example, let us run the following benchmark on mac M1:

[code]

In this case, BenchmarkDotNet hangs in `BenchmarkDotNet.Toolchains.DotNetCli.DotNetCliExecutor.Execute` on `broker.ProcessData()`.

@adamsitnik do you have any thoughs on solving this problem?

[2022-11-03 05:55] #2187 closed

[2022-11-03 10:08] YegorStepanov commented on #2189
Looks like we need to check for any invalid configuration properties in `IToolchain.Validate`

https://github.com/dotnet/BenchmarkDotNet/blob/64c3a3cb4ad4057b6065a2783a4b333206f8b5e5/src/BenchmarkDotNet/Toolchains/Toolchain.cs#L31-L43

[2022-11-03 10:25] AndreyAkinshin commented on #2189
@YegorStepanov, you are right, we should improve our validators. However, we also need a reliable defense agains hanging behavior in the case if validators failed to detect invalid configurations.

[2022-11-03 15:41] YegorStepanov opened #2190 "Notify about TieredCompilation"
1) Add a **hint** to the `DisassemblyDiagnoser` to indicate whether **tiered compilation** is enabled or disabled.
2) Notify the user here:
2.1) site [page](https://benchmarkdotnet.org/articles/configs/diagnosers.html). Use docFX [block](https://github.com/dotnet/BenchmarkDotNet/blob/master/samples/BenchmarkDotNet.Samples/IntroDisassemblyDry.cs) for it
3.1) Add a comment to the [DiagnosticDry](htt

[2022-11-04 18:12] YegorStepanov commented on #190
I'm thinking about the next `normal` verbosity level. I consider it as the default mode (at least in the future).
<details>

[code]
</details>

### Did I clean up more than necessary?
If you ok with this, then I will try to make `diagnostic` and `detailed` levels more consistent.

P.S Each verbosity level contains all the information of the less verbose level. (`diagnostic` contains all message of

[2022-11-04 18:43] YegorStepanov commented on #1677
@jonsequitur
I've added support for `.NET Core` (hasn't sent a PR yet), but the user cannot add the library/package.

`BenchmarkRunner.RunSource` doesn't treat input string as `.csx`, which means it doesn't support `#r "path-to-lib.dll"`.

Is `#r` support required for you?
How would the BDN ideally work in **dotnet-interactive** and what needs to be done on the BDN side?

P.S BDN print a lot of lo

[2022-11-04 21:38] jonsequitur commented on #1677
`#r` support isn't needed, and I would expect that benchmarking C# script code would add noise to the benchmarks anyway.

Is there an API for adding assembly references that the benchmarked code can depend on? If so, then we can use .NET Interactive to acquire the dependencies (including from NuGet) and provide the paths to the needed assemblies.

[2022-11-05 12:37] YegorStepanov commented on #1677
The generated project from `RunSource` compiles with `Release`, but you want to pass `Debug` assemblies, don't you?
I expect code from `RunSource` will be optimized, but code from external assemblies that you import will not optimized (I could be wrong)

We can add optional parameter:
1) **IEnumerable\<MetadataReference\> additionalReferences**:
We don't have it in .NET Framework (the old framewor

[2022-11-05 17:58] jonsequitur commented on #1677
I'm not interested in benchmarking debug assemblies. I'm thinking of the notebook or REPL as a way to provide a UX for writing code to be benchmarked, but not as the compilation environment for the benchmark.

It's not something we've looked into much and not currently a goal.

The idea I had in mind was to provide a magic command that benchmarks the code within a cell rather than directly running

[2022-11-10 15:24] YegorStepanov opened #2194 "Reduce the number of namespaces"
The project uses a large number of namespaces, making it difficult to configure `Config` in the IDE with poor automatic namespace import (e.g. VSCode).

In order not to break the files, because the namespace is deleted, we can add empty class to the "removed" namespace (idk how these classes are usually named).

#### Namespaces with public types:
[code]

[2022-11-10 19:46] corvio commented on #1956
I am facing the same issues ( post build step not executed) .
Any idea how to solve this ?

[2022-11-11 11:41] devedse commented on #2190
I would very much like this feature as well. The way I've currently setup my benchmarks doesn't seem to allow to set Environment variables:
https://github.com/devedse/DeveMazeGeneratorCore/blob/dotnet7/DeveMazeGeneratorCore.Benchmark/MazeBenchmarkJob.cs

However disabling TieredCompilation (with `<TieredCompilationQuickJitForLoops>false</TieredCompilationQuickJitForLoops>` in the csproj file) does

[2022-11-11 12:37] YegorStepanov commented on #2190
Currently, you can create a new attribute by coping the code from `SimpleJobAttribute` to set environment variables.

[2022-11-11 12:42] devedse commented on #2190
I'm actually trying that as we speak:

[code]

However I ran into this error:
[code]

[2022-11-11 13:09] devedse commented on #2190
I also tried copying the code but some methods that are being used are actually internal static (e.g. the `GetRuntime` on the moniker).

I rewrote the code as follows (this works):

[code]

[2022-11-11 16:51] KenSykes opened #2195 "IntroArgumentsSource sample does not work for me"
Ran into trouble adding ArgumentsSource to my benchmark and found that even the sample code does not generate the expected results (note the "?")

            | Method | time | x | y | Mean | Error | StdDev |
            | --------------- | ----------------- | --- | --- | -------------------:| ----------------:| ----------------:|
            | SingleArgument | 00:00:00.0100000 |  ? |  ? | 15,780,

[2022-11-11 17:14] AndreyAkinshin commented on #2195
Question marks are displayed for the argument values that are not defined for the given benchmarks. The benchmark `ManyArguments` has two arguments: `x` and `y`; the benchmark `SingleArgument` has a singled argument `time`. Meanwhile, we should display the results within the same table, therefore all columns `x`, `y`, and `time` should be presented. However, `x` and `y` are not defined for `Single

[2022-11-11 17:26] KenSykes commented on #2195
Thanks for the quick reply. The first thing that is confusing is the sample shows different output in your documentation (no question marks): https://benchmarkdotnet.org/articles/samples/IntroArgumentsSource.html

The warning didn't confuse me, just included that in case it was relevant.

The problem with the ? is it appears to affect Ratio calculations against a baseline which is the use case I n

[2022-11-11 17:30] timcassell commented on #2195
Looks like the documentation just needs to be updated. Your output looks correct to me.

[2022-11-11 17:37] YegorStepanov commented on #2195
`?` asks the user something or looks like an inner engine error, not like a normal value. Maybe it should be a `-` sign?
`?` displays for null values also. #2122 fixes it.

How to distinguish "not defined sign"(`?`/`-`) from correct string?
[code]
the table will look like
[code]

This is independent from arguments and argument's `?` marks.

[2022-11-11 17:44] YegorStepanov commented on #2195
Look at the empty rows with `| | | |`. They are mean `benchmark group`. Ratio is calculated for `benchmark group`. (not perfect as you can see)

You can try to do this:
[code]

[2022-11-11 21:13] KenSykes commented on #2195
Thanks everyone I think this answered my question well enough. It would be good to update the docs so the output matches.

[2022-11-15 00:27] YegorStepanov commented on #1898
[code]

[code]

You can hide the redundant columns from the console/markdown output (`csv` will still contain them):
[code]

[2022-11-15 00:57] YegorStepanov commented on #2190
related issue: https://github.com/dotnet/BenchmarkDotNet/issues/1466
in-depth discussion: https://github.com/dotnet/runtime/issues/13069

`ConfigOptions.DisableTieredCompilation` is not suitable here.

[2022-11-15 15:46] adamsitnik commented on #1898
@YegorStepanov thank you for answering the question! 👍

[2022-11-15 15:46] #1898 closed

[2022-11-16 10:10] DevDrake opened #2197 "Continous benchmark executions slows down the more benchmarks were run"
Hello,

I am using version 0.13.2 with dotnet fw 4.8 to benchmark wpf control creation.
Benchmark uses MemoryDiagnoser, MemoryRandomizer, STAThread
to create many benchmarks i use Params (two ints) and ParamsSource (a static array of static data)
i run benchmark:
`public static void Main(params string[] args) => BenchmarkSwitcher.FromAssembly(typeof(Program).Assembly).Run(args, new DebugInProcessC

[2022-11-16 12:35] DevDrake commented on #2197
There is also a problem that later benchmarks have weird results
e.g. the same function and conditions tested in big benchmark suits (~60 different runs) give different results when run in small (4 different runs) benchmark suite.
The difference is huge, and it's repeatable (few big benchmark suits are consistent to each other and small benchmark suite is consistent to each other, but for the same

[2022-11-16 12:45] adamsitnik commented on #2197
By default, BDN runs every benchmark in a dedicated, stand-alone process. This helps us to avoid one benchmark affecting other (example: memory leak). In your case you are using the config that runs all benchmarks within the same process (`DebugInProcessConfig`). It seems that your benchmarks have side effects, and they are affecting each other. You need to use a profiler to find out what is happe

[2022-11-17 08:39] DevDrake commented on #2197
Thanks Adam, Indeed my code may have some side effects which would explain consistent difference between big benchmarks and small benchmarks.
However is it expected that "workload actual" to be executed many times longer than reported time of its execution ?

[2022-11-17 09:40] adamsitnik commented on #2197
In the Pilot stage, BDN chooses how many times given benchmark should be executed per single iteration. In the Workload Actual it runs the benchmarks until the results become stable (things like standard error are low). If your code takes longer and longer to run, the heuristic is not stopping as the results are not stable and it might execute up to 100 iterations (this can be configured).

https:

[2022-11-17 10:39] chenxyzl opened #2198 "Is there any method to execute GlobalSetup and GlobalCleanup only once?"
[code]
In this test GlobalSetup and GlobalCleanup will run more than one times;
bug i want to run it only once;

[2022-11-17 15:53] YegorStepanov opened #2199 "Deadlock when SDK is not installed"
[code]

I waited 20 min (10min is a timeout), nothing has changed.

[code]

This happens even when a target benchmark framework is not selected:
[code]

[2022-11-17 17:43] #2197 closed

[2022-11-17 18:07] YegorStepanov commented on #2198
As far as I know there is no convenient way to do this.

#### 1) Move the first and last arguments to const fields and compare to them in the global setup and cleanup accordingly
#### 2) A more generic version (you can move the ugly code to the helper class). This works if you do not have duplicates.
<details>

[code]
</details>
The version for `ParamSourceAttribute` is simpler, but `GetDataSizes(

[2022-11-17 18:24] timcassell commented on #2198
Are you running your benchmarks in-process? By default, benchmarks are ran in a separate process, and each argument you have constitutes a separate benchmark. GlobalSetup/Cleanup are ran once _per benchmark_. It wouldn't make sense to only run it once when each benchmark is ran in a separate process.

Also, even if you are running in-process, a new benchmark class object is created for each benchm

[2022-11-17 18:30] YegorStepanov commented on #2198
@timcassell Are there any cons of `InProcessEmitToolchain` over the "standard" approach?

[2022-11-17 18:32] timcassell commented on #2198
Only if the benchmarks produce side-effects (which is kind of what the OP is trying to do here). see #2197

[2022-11-18 19:41] AndreyAkinshin commented on #2129
Now redirects work fine, Google displays the correct URL.

![image](https://user-images.githubusercontent.com/2259237/202788525-403e4f0f-82d5-4cb2-bc0d-ae1b8d84cf1f.png)

[2022-11-19 11:50] alexpovel commented on #1989
For anyone coming across this and wondering why `HideColumn` isn't found (in `BenchmarkDotNet.Attributes`), it's `HideColumns` 😉

[2022-11-20 13:51] YegorStepanov commented on #1677
#### I don't think anything needs to be done on the BDN side as it's hard to get this working in .NET Core.

##### Step 1:
Add package that scans `bin` folder:
[code]
##### Step 2:
Copy the reference assemblies to `bin/Release/net7.0/ref` folder (adds 5mb for empty BDN project)
[code]

Now, you can run it as following:
[code]

Not very convenient API.

### It would be easier if you implemented it

[2022-11-20 14:02] YegorStepanov commented on #1677
I suggest deprecating or removing the `UrlToBenchmarks` and `SourceToBenchmarks` methods:

1) working only on .NET Framework/Windows
2) It doesn't support external references (only default .NET Framework libraries)
3) It uses C# 7.3
4) It's not popular/convenient
5) It's very hard to get .NET Core version (see comment above)

[2022-11-21 12:47] AndreyAkinshin commented on #1677
@YegorStepanov I agree. These were experimental methods that were added in January 2016, but it seems that nowadays they are not useful or popular. Also, they have a limited compatibility scope and it's hard to maintain them. I think we should deprecate them in the next release and remove them in one of the future releases.

[2022-11-21 13:21] adamsitnik opened #2203 "Consider adding tests for WASM support"
WASM support got again broken very recently: https://github.com/dotnet/runtime/issues/78575

We should consider adding automated tests for verifying that WASM just works.

Our Linux CI jobs takes 20+ minutes to execute, so there is plenty of time we can consume (the limit is 1h).

We should mimic what we do for NativeAOT:

1. Install dependencies on Linux:
https://github.com/dotnet/BenchmarkDotNet

[2022-11-21 13:46] adamsitnik commented on #1677
👍  💯 :shipit: (I really don't like these methods ;) )

[2022-11-21 19:37] radical commented on #2203
I think wasm tests here can avoid building the latest `dotnet/runtime` as you mentioned:

1. use latest dotnet 7.0
2. `dotnet workload install wasm-tools --skip-manifest-update` - this would allow running the tests with relinking, and AOT.
3. install `v8`
4. run some tests!

Essentially, the tests here will provide a basic sanity check that *wasm* apps can be benchmarked. In addition, the `dotnet/

[2022-11-25 05:34] sevenwmz opened #2205 "What is the difference between a cold start and a warm start?"
I have a very simple question.
I'm just getting into benchmarking.
There is a cold start and hot start concept here.I'm not quite sure what this means.
But my guess is that a warm boot is to let the computer run for a while to a so-called real environment, and then test it more accurately.
But a cold start is less accurate because it's fast and saves time.
-----------------------------------------

[2022-11-25 07:35] timcassell commented on #2205
A cold start is meant to measure the time code takes to run the very first time, ie app bootup. Some apps require bootup time to be as fast at possible.

[2022-11-29 07:56] #2189 closed

[2022-11-29 08:12] AndreyAkinshin opened #2210 "Broken integration tests on Ubuntu 22.04"
Recently, `ubuntu-latest` GitHub action image was [switched](https://github.com/actions/runner-images/issues/6399) from 20.04 to 22.04. Now we have three permanently failing integration tests:
[code]

The last green CI build (Ubuntu 20.04): https://github.com/dotnet/BenchmarkDotNet/actions/runs/3514935599/jobs/5889567811
The first red CI build (Ubuntu 22.04): https://github.com/dotnet/BenchmarkDot

[2022-11-29 08:12] AndreyAkinshin commented on #2210
@adamsitnik could you please take a look?

[2022-11-29 14:49] adamsitnik commented on #2210
#2209 is going to fix it (I am working on it).

@AndreyAkinshin it looks like our tests will be failing with 1h timeout on Windows again. What do you think about doing the following:

- running only .NET Core integration tests on Windows AppVeyour (it will be +- 40 minutes, there is 1h timeout)
- running all Windows tests (Full Framework + Core) on GitHub actions and Azure DevOps (no timeout)

[2022-11-29 15:17] AndreyAkinshin commented on #2210
@adamsitnik yeah, I like this plan.
P.S. I have a few ideas about how to optimize our suite of integration tests. I hope to work on this in the nearest future.

[2022-11-29 17:03] radical commented on #2203
If you are asking whether running against the workload needs to be implemented, then no, it already works, and `dotnet/runtime`+`dotnet/performance` use that.