[2020-08-12 23:30] DrewScoggins commented on #1513
I can put together a list of places where we are seeing this and link it here.

[2020-08-13 08:15] AndreyAkinshin commented on #1513
@adamsitnik what do you think about customizing the LaunchCount that controls the number of started benchmark processes? I designed this property exactly for such cases. As a bonus, we can add some additional memory randomization before the GlobalSetup.

I do not like the idea of "GlobalSetup-like" initialization between iterations because it can destroy benchmark stability in the case of microben

[2020-08-13 08:20] AndreyAkinshin commented on #1513
Also, I have a more "adaptive" idea. We can introduce an additional `[MemoryRandomization]` attribute that will do the following:
* Set initial LaucnhCount to 5 and perform 5 launches with additional random allocations before GlobalSetup.
* If all launches provide similar results, stop the benchmark. Otherwise, continue to launch new benchmarking processes until we get a stable result across all l

[2020-08-13 20:01] nbalu opened #1515 "Measurement metric issue"
I'm copying my test results as sample. If you take a look into the details and into the summary it looks like **us** are shown as **ns** which is obviously shouldn't be happening.

// * Detailed results *
LookupBenchmark.LookupLinq: .NET 4.7.2(Runtime=.NET 4.7.2)
Runtime = .NET Framework 4.8 (4.8.4018.0), X64 RyuJIT; GC = Concurrent Workstation
Mean = **1.883 us**, StdErr = 0.008 us (0.41%), N = 1

[2020-08-13 20:15] abelbraaksma commented on #1515
I've seen similar things happening when you hit this bug: https://github.com/dotnet/BenchmarkDotNet/issues/1338

Since that issue, it's fairly common that number of invocations suddenly stop to 1 invocation, and that reported numbers are off by a factor of 1000, plus extreme outliers. Not entirely sure it's the same issue, but have a look at the full report for how many invocations you have.

I'd

[2020-08-13 21:14] nbalu commented on #1515
I'm not sure what I'm supposed to see in this case but let me paste my result here for sanity check.
Sorry it's my first time with BenchmarkDotNet. I'm not really familiar with the output meanings yet.

In my opinion the operation count seems to be just fine and the result as well. As summary at the end of the run just states it right. On the other hand the summary table at the end of each run...

[2020-08-13 21:26] nbalu commented on #1515
No, you are right. Not just the unit, there's a *1000 multiplication as well... My bad!

[2020-08-13 21:43] abelbraaksma commented on #1515
These ones are important. If it would say `1 op`, you'd have hit the mentioned bug, and overhead of the call will influence the timings significantly.

Normally, you should see what you see now, 262144 operations (that is, invocations of your measured function), taking in total 535302000.00 ns, which is close to 2.0420 us per operation (or 2,042.00ns).

[2020-08-17 13:08] #1514 closed

[2020-08-17 20:46] roy-t opened #1517 "Benchmark exits with code 1488 after 99 WorkloadActual runs in the BeforeActualRun stage"
I haven't used BenchmarkDotNet for a while but in a new project I often encounter a bug where it seems the benchmark keeps doing `WorkloadActual`  runs in the `// BeforeActualRun` section. After 99 runs it crashes and starts over again.

If I rerun the benchmark the bug keeps happening, but if I change the code a little bit I have a good chance of the bug not happening anymore. I have absolutely n

[2020-08-17 21:18] roy-t commented on #1517
And of course I find the issue 30 minutes :).

I left some debug code, which added a string to a static list, each time the benchmark method ran. I guess this somehow interfered. Maybe it made the test take slightly longer every x new iterations (due to the list growing) which caused the warm-up to never settle down?

Anyway case closed :).

[2020-08-17 21:18] #1517 closed

[2020-08-21 08:23] LanceUMatthews opened #1519 "Enabling AllowVeryLargeObjects has no effect on Framework benchmark process with Core host process"
I am using v0.12.1 in a console project to run benchmarks on both .NET Core and Framework.  I have configured the `.csproj` as follows...
[code]
...and then launch it with...
<pre>dotnet run --configuration release --framework netcoreapp3.1 benchmark</pre>
This works fine.  (That trailing `benchmark` parameter is handled by my code to then call `BenchmarkDotNet.Running.BenchmarkRunner.Run<Benchmar

[2020-08-21 17:52] alexcovington opened #1520 "Unable to read some hardware counters on ZEN2 CPU"
Having trouble reading 'CacheMisses' and 'InstructionsRetired' whenever I run the [dotnet/performance](https://github.com/dotnet/performance) benchmark suite. If I run the command from within the `src\benchmarks\micro` directory:

[code]

I get the following error message:

[code]

I am able to get some counters to read by enabling IBS in my BIOS (technically wasn't called IBS, I had to disable SV

[2020-08-23 01:23] LanceUMatthews opened #1521 "Iteration setup and cleanup causes job baseline error with multiple runtimes passed to BenchmarkSwitcher"
Consider this benchmark class...
[code]
With v0.12.1, if I use `BenchmarkRunner`...
[code]
...launched with this command...
<pre>dotnet run --configuration release --framework netcoreapp3.1</pre>
...benchmarking succeeds.

If I try to do the same thing using `BenchmarkSwitcher`...
[code]
...launched with this command...
<pre>dotnet run --configuration release --framework netcoreapp3.1 -- --filter

[2020-08-24 07:24] adamsitnik commented on #687
Hi @melanchall

The `InProcessToolchain` has been [obsoleted](https://github.com/dotnet/BenchmarkDotNet/blob/12fdbe20430b534bb390d758df821e5b437245d9/src/BenchmarkDotNet/Toolchains/InProcess/InProcessToolchain.cs#L13-L14) (you should get a warning about that) in favour of [InProcessEmitToolchain](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Toolchains/InProcess.Emit/In

[2020-08-24 07:45] melanchall commented on #687
Hi @adamsitnik,

I use `InProcessNoEmitToolchain` as you've suggested [here](https://github.com/dotnet/BenchmarkDotNet/issues/1136#issuecomment-571214047). Is `InProcessNoEmitToolchain` obsolete too?

Also from the message of `[Obsolete]` attribute I see

so it looks like `InProcessNoEmitToolchain` is the recommended way and should not prevent me of using all the BenchmarkDotNet features.

[2020-08-24 07:52] adamsitnik commented on #687
Hi @melanchall

Please excuse me for the confusion.

The `InProcessEmitToolchain` is the recommended and best in-process toolchain we have.
If for some reason it does not work on your target .NET Runtime (AOT .NET Runtimes etc) please use `InProcessNoEmitToolchain`.  `InProcessToolchain` is deprecated, we are going to remove it soon.

[2020-08-24 07:53] melanchall commented on #687
@adamsitnik So `InProcessNoEmitToolchain` is bad choice and doesn't support some features by design?

[2020-08-24 08:02] castholm opened #1522 "Why was the printIL option removed?"
Earlier this year I was using BenchmarkDotNet (v0.12.0) as a tool to quickly and easily inspect both the IL and the JITted asm of certain parts of one of our code bases. However, this option appears to be absent in the most recent version (v0.12.1).

Why was `printIL` removed? Is it gone for good or are there any plans to reintroduce it along the line? If not, what alternative tools or frameworks

[2020-08-24 08:04] adamsitnik commented on #687
I would not say it's bad. The `InProcessEmitToolchain` is generating `IL` on the fly and produces the same code-gen as the out-proc-toolchains. However, generating IL is not always supported (some AOT runtimes) and this is why `InProcessNoEmitToolchain ` exists which as far as I remember uses `Delegate.Combine` to generate the boilerplate code, but the generated code is different than other toolch

[2020-08-24 12:14] adamsitnik commented on #1519
I've sent a fix #1519

[2020-08-24 17:17] #1472 closed

[2020-08-26 11:43] jeme opened #1525 "Incorrect Processor Information."
This is a really minor one, but hey, perfection right.

The Intel Core i9-7900X is reported as belonging to the Kaby Lake family (https://ark.intel.com/content/www/us/en/ark/products/codename/82879/kaby-lake.html), which is incorrect, instead it belongs to the Skylake(-X) family (https://ark.intel.com/content/www/us/en/ark/products/codename/37572/skylake.html).

This is what `Console.WriteLine(Hos

[2020-08-28 09:10] Happypig375 commented on #1338
@adamsitnik Hello? Not even a response?

[2020-08-28 10:18] Happypig375 commented on #1338
A weird workaround is to place a long-running benchmark (>=100ms) as the first benchmark and place microbenchmarks after.

[2020-08-31 15:23] adamsitnik commented on #1522
Hi @castholm

In https://github.com/dotnet/BenchmarkDotNet/pull/1332 I've rewritten the disassembler. My goal was to make it cross-platform and more reliable.

To be able to print the IL we had to read the assembly definition. This was not always possible (some assemblies are precompiled or you simply can't access them) and was sometimes causing errors.

Moreover, ClrMD which is a crucial part of

[2020-08-31 15:29] adamsitnik commented on #1522
It looks like docs were updated in https://github.com/dotnet/BenchmarkDotNet/pull/1463 and the website is going to be updated with the next version release.

I am going to close the issue, please feel free to ask more questions.

[2020-09-01 07:00] moisoiu opened #1526 "Benchmark performance between multiple await and Task.WhenAll - Question"
Hello,

Can someone help me out what am I doing wrong in the bellow tests? I was expecting that if I'm having 2 tasks and I use await on all of them, this will take longer compared of using Task.WhenAll().

I was hoping / expecting that if I'm using

await Get1; //Takes 300 ms
await Get2; //Takes 200 ms

The total duration I thought it would be 500 ms and not 300 ms;

And if i'm using Task.WhenAll

[2020-09-02 11:12] #1427 closed

[2020-09-03 15:03] sandersaares opened #1527 "Document how to pass value from benchmark method to column value"
What I want to achieve is that a value gets from my benchmark code into the results (summary table):

[code]

So far I can find from the documentation how to add a new column but there's nothing on what is the right way to put values into that column from within the benchmark (I have no reference to the config or column in my benchmark method, after all). I request this gap in the documentation be

[2020-09-03 17:02] adamsitnik commented on #1527
Hi @sandersaares

This a duplicate of https://github.com/dotnet/BenchmarkDotNet/issues/784

Please see the existing issue for details and let me know if my [old proposal](https://github.com/dotnet/BenchmarkDotNet/issues/784#issuecomment-395669089) would meet your needs.

[2020-09-03 17:02] #1527 closed

[2020-09-04 04:41] sandersaares commented on #784
Being able to pass a simple string would be a great start for this functionality.

Being able to pass a `Dictionary<string, string>` (for multiple columns) would be even better.

Really, I don't care how I get the data from the benchmark into the table - as long as I can show it to the user in a more convenient way than having to search logs for it, I am happy.

[2020-09-04 07:20] nunoguerreirorosa opened #1528 "BenchmarkDotNet v0.12.1 hangs on "AfterAll" when TCP connections are open"
BenchmarkDotNet v0.12.1 hangs on "AfterAll" when TCP connections are open with .netcoreapp 3.1

While attempting to write some benchmarks publishing messages through a RabbitMQ logging sink, I have noticed that the benchmark keeps running forever (publishing messages to rabbitMQ). Only if I drop the connection from RabbitMQ management manually or if I set a timer to actually dispose the IHost in X

[2020-09-04 08:31] #1528 closed

[2020-09-04 13:37] castholm commented on #1526
There's nothing wrong with the tests, you just discovered an aspect of how tasks work in C#: the task starts executing the moment you return from the async method. Because you start both tasks before you await either of them, both of them are already running by the time you begin to await `aTask`.

[code]

If you instead reorganize the code to await `aTask` before you start executing `bTask`, you

[2020-09-04 13:42] castholm commented on #1526
As a side note, I doubt the JIT compiler is able to optimize out async methods, but when writing benchmarks you generally want to ensure you use the results of all method invocations so that they don't get optimized out. For example, you could simply add the results of all invocations by always using `return result1 + result2`.

[2020-09-04 13:51] moisoiu commented on #1526
@castholm  thanks for the explanation, I will run a couple of times more, in other ways to see how it behaves.

Because I want to know if it's better to use Task.WhenAll or I can simply use await in terms of performance, especially if I'm not using those variables

[code]

or

`Task.WhenAll(Get1(), Get2());`

[2020-09-04 14:39] eowoyn opened #1529 "BenchmarkDotNet.Tool does not run in .NET Core 3.1 console app"
I have tried BenchmarkDotNet.Tool with .NET Core 2.1 console app, and everything works.

[code]

But if I try to use **.NET Core 3.1 console app**, when I run the console app dll with BenchmarkDotNet.Tool, I am getting an exception and BenchmarkDotNet.Tool crashes.

[code]

![image](https://user-images.githubusercontent.com/25839715/92236640-1743cf80-eeb6-11ea-8c3b-4c5962058e89.png)

Is this expec

[2020-09-05 17:35] moisoiu commented on #1526
@castholm Thanks for the input, you are right.

I've checked again like you said, and that of course impacts the performance when is used as the example you shown

[code]

I've re-run the tests. Thanks !

[2020-09-05 17:35] #1526 closed

[2020-09-06 22:37] Wraith2 opened #1530 "BenchmarkRunner Run with args"
The documentation for using CoreRun at https://benchmarkdotnet.org/articles/configs/toolchains.html#corerun fails to mention that you have to use an overload of the runner that is passed the args in order for it to pickup and use the corerun path. This may appear obvious but it wasn't. The documentation could be improved here to have a standalone example.

The only way to pass args seems to be to

[2020-09-07 05:43] astef opened #1531 "How to benchmark cross-process throughput?"
I'd like to measure the performance of the code, which is mainly responsible for cross-process communication. E.g. https://github.com/Kittyfisto/MMQ

To achieve that, I need at least two processes to be run during benchmark.

I want to measure the throughput of this channel, i.e. the number of messages I would be able to transfer from process A to process B per one second.

Is it possible with Ben

[2020-09-07 13:44] #1522 closed

[2020-09-07 13:46] adamsitnik commented on #1529
Hi @eowoyn

this is a duplicate of https://github.com/dotnet/BenchmarkDotNet/issues/1460

please see https://github.com/dotnet/BenchmarkDotNet/issues/1460#issuecomment-646531625

[2020-09-07 13:46] #1529 closed

[2020-09-07 13:51] adamsitnik commented on #1530
Hi @Wraith2

You are right, this is why we have added a warning in 0.12.1: https://github.com/dotnet/BenchmarkDotNet/pull/1359

there is an existing issue: https://github.com/dotnet/BenchmarkDotNet/issues/1290 and a PR https://github.com/dotnet/BenchmarkDotNet/pull/1292 to address this

I am closing this issue as the remaining part is covered by #1290

[2020-09-07 13:51] #1530 closed

[2020-09-07 14:46] ekx77 commented on #1457
Hi @adamsitnik
I have same problem (Directory.build.props overrides BenchmarkDotNet.Autogenerated.csproj), so benchmark fails with message
`Did not find dll, but folder contained dll.config`
I tried workaround from above:
`var config = DefaultConfig.Instance.WithArtifactsPath(@"c:\temp\benchmark");
BenchmarkRunner.Run<TBenchmark>(config);`
but no luck - only logs go to ArtifactsPath, benchmark its

[2020-09-08 20:00] RealDotNetDave opened #1532 "Auto-generated project has invalid XML"
Last week I had to rebuild my machine and reinstalled VS2019 Preview, but now when I run the benchmark I get the error below. It was working fine before the rebuild, so I am guessing I am missing something but don't know what.

[code]

[2020-09-08 20:11] adamsitnik commented on #1532
Hi @RealDotNetDave

Could you please:

- apply `[KeepBenchmarkFiles]` attribute to one of your classes
- run any of its benchmarks
- find the auto-generated file called `BenchmarkDotNet.Autogenerated.csproj`
- copy-paste it's content here

More about troubleshooting BDN: https://benchmarkdotnet.org/articles/guides/troubleshooting.html#benchmarkdotnet

[2020-09-08 20:34] RealDotNetDave commented on #1532
Yes, I have pasted it below.

[code]

[2020-09-09 08:56] kevingosse commented on #837
Hello, any update on this?

I just ran into this issue (and given the list of mentions, I guess this is widespread). Any way I could help?

[2020-09-09 20:53] RealDotNetDave commented on #1532
Any ideas?

[2020-09-11 03:53] cardboard-jscs opened #1534 "How to change units within RPlotExporter graphs"
I am trying to create benchmark graphs that our business users will be using. The "us" time unit that is showing up in the RPlot is throwing them for a loop, thus I'm attempting to change it to "ms" or "s". From what I understand, the CSV reports are what RPlot uses to create the graphs, but regardless of any changes I make to the units within the CsvMeasurementsExporter, the graph does not change

[2020-09-11 10:51] adamsitnik commented on #1534
Hi @cardboard-jscs

I am afraid that it's currently impossible.

The logic for choosing the unit type lives here:

https://github.com/dotnet/BenchmarkDotNet/blob/e4d37d03c0b1ef14e7bde224970bd0fc547fd95a/src/BenchmarkDotNet/Templates/BuildPlots.R#L63-L75

and it does seem to ingore what was provided in `SummaryStyle`

would you be interested in sending a PR with a fix? You would need to pass the ti

[2020-09-11 11:02] adamsitnik commented on #1532
We have a very simple logic that tries to copy selected MSBuild settings from the project file that defines the benchmarks to the auto-generated project:

https://github.com/dotnet/BenchmarkDotNet/blob/fa7da4e395ddde927b16e5ec8b7ebe9e50ec0485/src/BenchmarkDotNet/Toolchains/CsProj/CsProjGenerator.cs#L25-L26

https://github.com/dotnet/BenchmarkDotNet/blob/fa7da4e395ddde927b16e5ec8b7ebe9e50ec0485/src

[2020-09-11 11:06] adamsitnik commented on #1423
I was thinking about this for a while. I could not find any API that would tell me at runtime to which folder the given type belonged during compilation process. Since the API is missing and the issue is specific to performance repo (using types without namespaces) I am going to close it now and mark it as "won't fix".

[2020-09-11 11:06] #1423 closed

[2020-09-11 11:13] adamsitnik commented on #1370
I am closing this as a duplicate of #1334

[2020-09-11 11:13] #1370 closed

[2020-09-11 11:19] adamsitnik commented on #1334
To tell the long story short BenchmarkDotNet supports .NET Standard 2.0 because one of our main dependencies - Roslyn supports only .NET Standard 2.0 and .NET Core: https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/

![obraz](https://user-images.githubusercontent.com/6011991/92919505-ea9d3400-f430-11ea-9a60-70faf594122e.png)

So we don't support older versions of .NET by design and we d

[2020-09-11 11:19] #1334 closed

[2020-09-11 11:23] adamsitnik commented on #1422
The disassembler does not work on ARM & ARM64 due to the fact that we are internally using `Iced` which does not support it yet.

As soon as https://github.com/0xd4d/iced/issues/79 and https://github.com/0xd4d/iced/issues/80 get implemented, we are going to update Iced on our side and add the support. I don't know when it's going to happen.

[2020-09-11 14:50] cardboard-jscs commented on #1534
Unfortunately, I am not well versed in R, so it will take me some time. I have a "hacky" work around for now, and will work on pull request in my free-time.

For anyone interested in this work around, I created a custom version of BuildPlots.R that I run after the benchmarks are completed, changing line 63-75 to reflect the below;
[code]

After that, overrideUnit can be changed accordingly. Howeve

[2020-09-11 19:46] abelbraaksma commented on #1334
Sure, totally agree, it's just out there for Google to find if people get intimate this error :).

[2020-09-15 06:18] evilguest commented on #1378
Hello everyone,
I am trying to get exactly this for my project: running the benchmarks as a part of the commit handler in the GitHub workflows: https://github.com/evilguest/linq2d/blob/master/.github/workflows/dotnet-core.yml#L31
(So far I am not expecting any comparisons or failures; it is more of having an access to the history of the benchmark variations over builds for the "manual" review).
Ho

[2020-09-15 21:04] RealDotNetDave commented on #1532
Checking in again.

[2020-09-15 21:05] RealDotNetDave commented on #1532
Ok, let me try just one version. I will get back to you.

David

[2020-09-15 21:15] RealDotNetDave commented on #1532
I set my toolchain to NetCoreApp50 and removed the LangVersion, AnalysisLevel and LangVersion elements from the project file, but I'm still getting the error.

[2020-09-16 18:38] danmosemsft commented on #1513
The example at the top (stable over several days) is interesting, but the most common case I see (which I assume is the general case of the above issue) is more like this

![image](https://user-images.githubusercontent.com/6385855/93378189-ebf3a580-f810-11ea-9950-e61dffe0d4ec.png)

Of course CopyTo is pure memcpy so it's very alignment sensitive, but I see this all over benchmarks for collections

[2020-09-16 18:41] danmosemsft commented on #1513
This may be worse on ARM64, Another example  https://github.com/dotnet/runtime/issues/41741

[2020-09-16 18:41] DrewScoggins commented on #1513
I have also been working on some filters, that I think should do a good job of filtering out this kind of test. So that should at least help from a reporting side.

[2020-09-16 18:42] danmosemsft commented on #1513
@DrewScoggins could you say more? I wouldn't want us to filter out these tests - they're core tests. It seems to me this is a problem ideally fixed in BDN or else possibly with workarounds in the benchmarks.

[2020-09-16 18:45] DrewScoggins commented on #1513
I mean that when we go to report regressions in the auto-filing we would not report a jump between bimodal points as a regression unless we see change in the character of the bimodal behavior. We won't be getting rid of them or stop running them, and certainly it is better to fix these to not have this behavior, but in the meantime I don't want tests like this to take up our triaging time.

[2020-09-16 18:50] danmosemsft commented on #1513
Ah right - yeah, but we still need to detect this kind of change, even if it's a manual business (faked picture)
![image](https://user-images.githubusercontent.com/6385855/93379446-b2239e80-f812-11ea-8797-5545eaeb25fd.png)

Anyway - this is the BDN repo and this issue is about potentially improving BDN so we should focus on that :)

[2020-09-16 19:35] AndyAyersMS commented on #1513
We've talked about this a fair bit in perf triage -- basically if the underlying distribution shifts, than that is a significant event, even if the distributions themselves are broad (noisy) or bimodal.

The main questions are how to determine what data points logically belong to the "same" distribution and how much data you need to accurately characterize the distributions (especially when bimoda

[2020-09-16 19:45] danmosemsft commented on #1513
@AndyAyersMS by regularize/randomize - are you referring to something the runtime could do (eg an opt in mode where the GC adds a little random padding before array allocations) or something that BDN could potentially do (eg @AndreyAkinshin suggestion of increasing launch counts and adding some random allocation on each launch)

[2020-09-16 19:58] AndyAyersMS commented on #1513
The runtime would regularize (or the jit would). BDN would randomize.

[2020-09-16 20:02] danmosemsft commented on #1513
Is there an issue tracking the runtime/JIT work @AndyAyersMS , or would you mind creating one? It might be agood candidate for work before 6.0 features.

[2020-09-16 20:09] AndyAyersMS commented on #1513
On the jit side we need to implement loop head alignment (#8108); as a prerequisite we need to do method entry alignment more broadly (#9912).

x64 alignment is now 32 bytes for Tier1 methods with loops, see #2249. I had hoped this would reduce/eliminate some of the bimodal behavior but our benchmark results seemingly say otherwise (though I haven't done a systematic search...)

[2020-09-16 20:50] jonstelly opened #1535 "Can't benchmark library that targets 'net5.0-windows' framework"
I've got a library that has some WPF components so its target framework is `net5.0-windows`.  So my unit tests / benchmark project also has to target `net5.0-windows`.  I'm trying to run benchmarkdotnet from xUnit using:

[code]

and I'm getting this error:

[code]

I can't change the benchmark project to `net5.0` because the underlying library targets `net5.0-windows`.  Is there some way to run t

[2020-09-17 06:58] adamsitnik commented on #1532
please share the new `BenchmarkDotNet.Autogenerated.csproj`

[2020-09-17 07:16] adamsitnik commented on #1378
@evilguest are you using `dotnet benchmark` command? Please see https://github.com/dotnet/BenchmarkDotNet/issues/1460#issuecomment-646531625

[2020-09-17 08:27] evilguest commented on #1378
@adamsitnik thanks a lot! This did solve it for me.

[2020-09-17 08:38] adamsitnik commented on #1535
Hi @jonstelly

I was able to repro the problem you have hit.

[code]

[code]

let me try to find a workaround and a fix

[2020-09-17 08:50] adamsitnik commented on #1535
@jonstelly before I provide a proper fix I have the following workaround:

it's possible to build a BDN config that uses provided target framework moniker. You need to use it and pass to `BenchmarkRunner` or `BenchmarkSwitcher`:

[code]

But due to https://github.com/dotnet/BenchmarkDotNet/pull/1479 it won't work with the current latest version available at nuget.org (`0.12.1`).  You also need to

[2020-09-17 08:57] adamsitnik commented on #1535
I currently don't have a good idea for a proper fix. The problem is that the `.dll` that defines benchmarks and was built for `net5.0-windows` does not contain any information that indicates that and could be read using reflection:

![obraz](https://user-images.githubusercontent.com/6011991/93448736-368a2600-f8d4-11ea-817c-d2dd0a557b36.png)

I am going to ask a question in the SDK repo

[2020-09-17 09:02] adamsitnik commented on #1535
I've asked a question in the SDK repo, as soon as I get an answer that allows me to implement a fix, I am going to fix it.

https://github.com/dotnet/sdk/issues/13668

[2020-09-17 09:03] adamsitnik commented on #1535
@AndreyAkinshin I've set the `0.12.2` milestone to make sure that we include this in the next release and have a full .NET 5 support.

[2020-09-17 10:37] aaubry opened #1536 "System.FormatException in AfterAssemblyLoadingAttached"
When I have a `MsBuildArgument` whose value ends in a backslash, there is an error somewhere along the intermediate code generation that causes the generated program to receive malformed arguments, resulting in a parsing exception. Here's an example of such:

[code]

Attemptig to run this benchmark causes the following error:

[code]

I was able to pause the porgram before it compiled the `.notcs`

[2020-09-17 14:18] aaubry commented on #1536
I'll try. Thanks for indicating the location where the arguments are escaped.

[2020-09-19 06:32] trampster opened #1537 "Failed to run benchmarks on .net 5 RC1 and Preview LangVersion"
When running benchmarks from a .net 5 RC1 console project I get the following error:

I'm running benchmarks for a .net 5 c# source generator, this requires that the LangVersion be set to Preview

[2020-09-19 08:04] adamsitnik commented on #1537
This is a duplicate of #1452 which has been solved in #1420 but just not released to NuGet yet.

To use it you need to add our CI feed to your `nuget.config` file and update to the latest version:

[code]

[2020-09-19 08:04] #1537 closed

[2020-09-19 08:19] trampster commented on #1537
I updated to 0.12.0.1228 but got the following error instead.

Unhandled exception. System.NotSupportedException: Unknown .NET Runtime
   at BenchmarkDotNet.Portability.RuntimeInformation.GetCurrentRuntime()
   at BenchmarkDotNet.Characteristics.Resolver.<>c__DisplayClass1_0`1.<Register>b__0(CharacteristicObject obj)
   at BenchmarkDotNet.Characteristics.Resolver.Resolve[T](CharacteristicObject ob

[2020-09-19 08:37] adamsitnik commented on #1537
Please try 0.12.**1**.1420

[2020-09-19 08:45] trampster commented on #1537
With 0.12.1.1420 I get the following

I'm using the linux snap package which requires donet to be run with a prefix:

`dotnet-sdk.dotnet run -c Release`

It looks like maybe BenchmarkDotNet isn't doing this

[2020-09-19 09:27] chrisaut opened #1538 "[Discussion] - New Mode: Estimate asm throughput"
Ryujit uses what they call "Perfscore" to estimate code quality of the asm they generate. This is done by basically assigning latency, or estimated cycles cost for every possible asm instruction they emit. They then assign a perfscore to a jitted method.

I can't seem to find any docs describing this in more detail, but you can see this in all the jit-diffs, ([example](https://github.com/dotnet/ru

[2020-09-19 09:57] adamsitnik commented on #1537
What `TargetFrameworks` is the `[/home/daniel/Work/JsonSrcGen/Benchmarks/Benchmarks.csproj` targetting?

Are you using `netcoreapp5.0` or `net5.0` moniker?

[2020-09-19 10:20] trampster commented on #1537
I'm using the net5.0 moniker.

I just switched from the snap package to the deb packet (which doesn't need the dotnet-sdk prefix) and it work.

The snap package uses the prefix so that you can have the deb installed at the stable version and then have the snap running the previews/RC.

So by moving to the deb package I've lost the ability to run dotnet core 3. But for now I can live with that.

[2020-09-19 22:58] sandreenko commented on #1538
@briansull  do we have documentation about PerfScore? cc @dotnet/jit-contrib

[2020-09-19 23:01] jashook commented on #1538
Generally these options are only enabled with a checked build of the runtime and JIT.

[2020-09-20 06:35] jonstelly commented on #1535
Thanks a lot for getting to this so quickly.  I'll test out the CI packages and custom moniker config sometime this week.

[2020-09-20 08:52] chrisaut commented on #1538
I wasn't even really thinking of using the Perfscore the Jit itself generates, although that would obviously save a lot of work, but that would limit it to certain runtimes only. I was more thinking BDN could do it's own calculation on the asm stream. As far as I understand essential you just need an instruction stream and a map with estimated latencies (which BDN could just copy from the runtime

[2020-09-21 04:23] briansull commented on #1538
PerfScore is a very rough estimate for instruction execution performance.
It isn't intended to accurately measure the actual performance, is it is a quick estimate with lots of simplifying assumptions.

To be accurate one would have to model the CPU functional units and measure the cycles between producing an value and using a value.   We don't try to do either with PerfScore.  It is most useful t

[2020-09-21 10:35] adamsitnik commented on #1537
Why is that? If you install .NET 5 SDK it just adds .NET 5 Runtime to the list of installed runtimes and it should be able to build and run the previous versions of .NET Core (it's not previous runtimes, just adding new one and upgrading SDK).

Is there any way to detect that the user is using a snap package? We could add support for it, but I would need some help with that.

[2020-09-21 10:42] trampster commented on #1537
I'm guessing you are not a linux user.

The deb package replace previous packages, side by side installs are not a thing.

[2020-09-21 10:47] adamsitnik commented on #1537
I am a Linux newbie ;)

Thanks for the explanation!

So now it's about detecting that the user has started the process via ` dotnet-sdk.dotnet` and using it for building the generated project.

[2020-09-24 18:36] JulieLeeMSFT commented on #1513
@kunalspathak will look into this with Andy and others.

[2020-09-24 20:18] kevingosse opened #1539 "Inconsistency between benchmark filter and hint"
I tried running a benchmark with the command:
[code]
But received a puzzling error message:

[code]

It turns out that the filter operates on the full type name (in my case, Benchmarks.Trace.SpanBenchmark.StartFinishScope), but the CorrectionSuggester splits the type name on `.` and computes all the possible permutations (Benchmarks, Trace, Benchmarks.Trace, Trace.SpanBenchmarks, ...) , without ch

[2020-09-24 20:26] kevingosse commented on #1539
The weird part is that it seems to be by design: https://github.com/dotnet/BenchmarkDotNet/blob/master/tests/BenchmarkDotNet.Tests/CorrectionsSuggesterTests.cs#L68

[code]
Shouldn't this return "NamespaceA.MyClassA", "NamespaceB.MyClassB", "NamespaceB.NamespaceC.MyClassC" ?

[2020-09-25 06:49] svengeance commented on #973
I was also looking for something tonight. It would be wonderful if I could easily run BDN with a comparison CLI argument as part of a PR cycle, and have PR submissions report the net increase (or decrease) in performance.

[2020-09-25 16:12] stanciuadrian commented on #1290
can this issue be closed?

[2020-09-26 11:56] stanciuadrian commented on #1495
I used this code:

[code]

and executed it with: `dotnet run -c Release -- --filter ServerBench --corerun C:\runtime\artifacts\bin\coreclr\Windows_NT.x64.Debug\corerun.exe`

It gives:

[code]

@stephentoub was this your scenario?

[2020-09-26 17:07] stephentoub commented on #1495
Yes, but it's not the "Server=True" that matters, it's this:
[code]
and if you change your Go method to be:
[code]
it prints out "False".

[2020-09-26 17:12] stanciuadrian commented on #1495
Thanks for the feedback.
Right! The actual `GCSettings.IsServerGC` is the one that matters.

I'll further investigate this.

[2020-09-26 17:13] stephentoub commented on #1495
Thanks

[2020-09-29 08:45] AxelHu opened #1541 "Is it possible to benchmark an IL interpreter with BDN?"
I'm a game developer using Unity, due to JIT restriction on iOS, our team is currently using an [IL interpreter](https://github.com/Ourpalm/ILRuntime) to do hotfix on iOS.

We're using this for code that will not affect performance too much, but still we want better performance. To do that we need more accurate benchmark, we now use numbers like overall fps or cpu time per frame to check if the pe

[2020-09-29 17:08] RealDotNetDave commented on #1532
Ok, still having the issue. Below is the output for the run and the csproj file.

[code]
[code]

[2020-09-30 05:31] ronbrogan opened #1542 "Unexpected allocations reported in CPU-bound code"
I'm trying to validate that code doesn't allocate anything and I have some unit tests asserting on the summary provided from running benchmarks.

However, I'm seeing a non-deterministic amount of these test runs fail due to allocations sometimes being reported for a given benchmark - and sometimes not.

My method under test in the real world application takes about 20ms per op (CPU bound, no alloc

[2020-09-30 10:01] adamsitnik commented on #1532
Does `dotNetTips.CodePerf.Example.App.csproj` or any of your `.props` files define `<LangVersion>` ? If so, can you remove them?

[2020-09-30 15:15] RealDotNetDave commented on #1532
I will check and get back to you. Thanks.

[2020-09-30 17:27] RealDotNetDave commented on #1532
Ok, that worked. But... at first I just commented out the <LangVersion> tag and I still got the error. I had to remove the tags entirely from the csproj.

[2020-10-01 09:49] adamsitnik commented on #1542
Hi @ronbrogan

Big thanks for a very detailed bug report with a simple repro case!

I was able to reproduce it for .NET Core 3.1. 2.1 and 5.0 are free of this bug, I will dig deeper and get back to you

[2020-10-01 12:12] adamsitnik commented on #1542
Ok, this is most probably a side-effect of Tiered JIT which allocates something on the other Thread.

To test it I set the following env var: `COMPlus_TieredCompilation:0`

[2020-10-01 14:21] adamsitnik commented on #1542
I've confirmed that it's Tiered JIT background thread:

![obraz](https://user-images.githubusercontent.com/6011991/94821682-25780380-0402-11eb-8eca-acd43db3b8bb.png)

[2020-10-02 11:57] adamsitnik opened #1544 "[EtwProfiler] Merge operation failed return code 0x3"
Reported by @DrewScoggins via an email message:

[code]

[2020-10-02 12:39] adamsitnik opened #1546 "Sometimes Hardware Counters per Op are reported as NaNs"
[code]

|    Method |     Mean |   Error |  StdDev |   Median |      Min |      Max |       Gen 0 | Gen 1 | Gen 2 | Allocated | InstructionRetired/Op |
|---------- |---------:|--------:|--------:|---------:|---------:|---------:|------------:|------:|------:|----------:|----------------------:|
| Burgers_0 | 268.2 ms | 8.24 ms | 9.49 ms | 264.7 ms | 258.6 ms | 288.5 ms | 101000.0000 |     - |

[2020-10-02 12:41] adamsitnik commented on #1546
Update: it's true only for long-running benchmarks where we skip the overhead phase

[2020-10-02 13:23] adamsitnik opened #1549 "InstructionPointerExporter has been broken for a while"
In the past it was possible to get the Hardware Counters per IP:

![obraz](https://user-images.githubusercontent.com/6011991/94927827-186f1900-04c3-11eb-8bf9-8db0364c95a8.png)

https://adamsitnik.com/Disassembly-Diagnoser/#the-ultimate-combination

It has been broken for a while, needs to be fixed.

[2020-10-02 16:03] abelbraaksma commented on #1546
I've reported a while ago #1337 and #1338 related to wrongly calculating by a factor of 1000 or so the "skip overhead" or "run only once per iteration" for long-running benchmarks, leading to very wrong results because benchmarks are wrongly considered "long".

Not sure it's the same cause/result, but I've been trying to understand what was going on there for a while now and I assumed it had to do

[2020-10-02 17:18] stanciuadrian commented on #1495
The `runtimeconfig.json` file is correctly generated but `corerun` ignores it. It only handles reading the `COMPlus_gcServer` environment variable. I'm afraid this is the only solution.

We could try setting this environment variable when starting the `corerun {GUID}.dll` process.

@adamsitnik what do you think about this idea?

[2020-10-02 20:30] virzak opened #1551 "Nullable Reference Types, setup Attributes vs Constructor+IDisposable"
Trying to convert a benchmarking sample to be nullable by setting `<Nullable>enable</Nullable>`, and a warning shows up for this line:

https://github.com/dotnet/BenchmarkDotNet/blob/2ba30330ec5ec8a9abe284c927277a6fe0fc5a0c/samples/BenchmarkDotNet.Samples/IntroSetupCleanupGlobal.cs#L10

[code]

What's the strategy to deal with NRT for a case like this?

Could the xUnit's [approach](https://xunit.n

[2020-10-03 04:37] stanciuadrian commented on #1475
I've used BDN `v0.12.1428` with .NET Core 3.1 on Ubuntu WSL2 and the following code:

[code]

I got no exception when the binary was executed from both filesystems.

Could you please test again / share more about your simple test?

[2020-10-03 06:36] zykindmitry opened #1553 "Error 42883: Function with smallint parameter does not exist"
There's a function
 public.is_access_granted(integer,uuid,uuid,integer,smallint,boolean) returns boolean;
and corresponding .net core static method
    public static class Functions
    {
        private static string NotSupportedExceptionMessage = "This function can be used only in LINQ to SQL";

        public static bool IsAccessGranted(int classId, Guid? id, Guid? ownerId, int? ownerClassId, s

[2020-10-04 23:07] eduherminio commented on #1475
It just works now 😳
I'm unable to reproduce it now using the same code, BenchmarkDotNet and .NET Core versions and WSL1/2 instances I initially used!
Feel free to close this @adamsitnik, I guess it's not relevant any more. Thanks @stanciuadrian!

[2020-10-05 09:49] #1475 closed

[2020-10-05 09:51] adamsitnik commented on #1475
@stanciuadrian thanks for giving it a try!

@eduherminio thanks for the confirmation!

[2020-10-05 09:52] adamsitnik commented on #1553
@zykindmitry hi! how is this related to BenchmarkDotNet?

[2020-10-05 10:32] adamsitnik commented on #1551
Hi @virzak

Why are you trying to do it? Our CI uses .NET Core 2.1 and we don't plan to use the `Nullable` feature in the Samples project (we want to keep samples as simple as possible to focus on BDN)

I don't know. Please ask a question on StackOverflow.

We decided to go with attributes a long time ago and unfortunately, we have to follow this strategy. Otherwise, it would be a big breaking cha

[2020-10-05 10:33] #1551 closed

[2020-10-05 11:02] #1553 closed

[2020-10-05 11:10] adamsitnik commented on #1541
Hi @AxelHu

BechmarkDotNet generates some boilerplate code, builds it, and runs every benchmark as a stand-alone process. Because of that, we support only selected .NET Runtimes (the ones for which we have implemented the support).

As of today, Unity is not supported (https://github.com/dotnet/BenchmarkDotNet/issues/759) and we currently don't plan to add such support. A contribution would be of

[2020-10-05 11:51] virzak commented on #1551
@adamsitnik The project I'm working on uses the latest .Net along with latest features like nullable. Modifying your sample was an exercise in upgrading. Submitting a PR or messing up the CI wasn't the intent.

Since `nullable` will be enabled by default in future releases of .Net, this warning will eventually become a part of this repo.

Asking this question on github seems like an appropriate pl

[2020-10-05 12:45] zykindmitry commented on #1553
Hi! I apologize, my mistake.

[2020-10-08 19:59] quixoticaxis commented on #1460
Are there any plans to remove the page from the [documentation](https://benchmarkdotnet.org/articles/guides/tool.html)?
Would such PR be welcome?

[2020-10-09 03:10] AxelHu commented on #1541
@adamsitnik
Thanks for the links.

It's really good if benchmarking Unity's internal methods is possible, but that's not the point we concern, we're not able to modify Unity engine code and the performance is good using Unity's default setting(IL2CPP).

Using that IL interpreter makes the performance a little bit unacceptable, we use that for code needs to be hotfixed. We need benchmark results to

[2020-10-09 12:00] adamsitnik commented on #1539
You are right, it should.

I am going to mark it as up-for-grabs and #hacktoberfest as it should be quite simple to fix.

[2020-10-09 12:34] adamsitnik commented on #1541
@AxelHu I see.

Let's say I want to run a `Hello World` app using this interpreter. What are the steps that I need to take to make it possible? Set some env vars?

I am asking this question because BDN needs to do exactly the same and I've never used interpreter so I don't know if it's possible or not.

[2020-10-10 03:24] AxelHu commented on #1541
@adamsitnik
That IL interpreter use mono.cecil to analysis target dll, I uploaded a `Hello World` example [here](https://github.com/AxelHu/ILR-HelloWorld).

The way that IL interpreter handles the IL instructions is pretty much like the dotnet [official interpreter](https://github.com/dotnet/coreclr/blob/release/3.1/src/vm/interpreter.cpp). But I'm not an expert in cpp and I don't know how to make

[2020-10-10 14:48] SingleAccretion commented on #1541
Just FYI, the CoreCLR interpreter is not something usable in production currently, the Mono interpreter is what we currently would all "official", as it is used by Blazor and, as you noted, to polyfill dynamic code generation support with Mono's AOT.

[2020-10-11 01:54] stanciuadrian commented on #1539
I think `SuggestFor()` should still return `"NamespaceA", "NamespaceB", "NamespaceC"`. The role of `CorrectionsSuggester` is not to return fully-qualified class names with tests, but to suggest alternative filters that would result in at least one test method. Please keep in mind we are actually looking for methods, and not for classes.

Looking at the `FilterByNamespace_LevenshteinOrdering` test

[2020-10-12 02:03] AxelHu commented on #1541
@SingleAccretion Thanks for the tips.

Didn't know that mono has an in production interpreter, I'll check if this can be used in my situation.

[2020-10-13 15:33] timcassell opened #1557 "Automatically continue from crashed benchmark"
I have some benchmarks which crash with some parameters, and that's okay for what I'm trying to test. What's annoying about it, though, is that windows 7 has the popup that I have to click to close the application for the other benchmarks to continue running. I know I can configure windows itself to always close unresponsive applications, but I was wondering if I could do that just for the benchma

[2020-10-14 20:13] zahirtezcan opened #1558 "RPlotExporter File Names"
I have just started using BenchmarkDotNet library and tried to make a simple case with a randomly named project and sub-namespace for my benchmarks.

But RPlotExporter uses full namespace for tagging images, also uses it as a title, so this creates two problems:
1- The title may only be partially visible and only the beginning part is shown, which is same for all benchmark functions (nam.esp.ace.c

[2020-10-15 12:54] adamsitnik commented on #1557
Hi @timcassell

BenchmarkDotNet runs every benchmark in a stand-alone process and executes the code in a try-catch block:

https://github.com/dotnet/BenchmarkDotNet/blob/10abc4f4daa5142f0257c9d512a38afc2ab28be1/src/BenchmarkDotNet/Templates/BenchmarkProgram.txt#L55-L72

For all the exceptions that can be caught, the text is printed to console and `-1` is returned as process exit code.

If you are

[2020-10-15 12:54] #1557 closed

[2020-10-15 13:25] adamsitnik opened #1559 "[Docs] Update Console Args doc"
The doc that describes the usage of console args which is available at https://benchmarkdotnet.org/articles/guides/console-args.html

is a little outdated. It would be great if someone could update it and sync with the code: add missing arguments, apply the renames.

Example: the doc mentions `--cliPath` while we have renamed it to `--cli` some time ago.

The source is available here: https://gith

[2020-10-15 15:15] adamsitnik commented on #1539
yes, this is by design and I intend to keep it that way so removing the `^$` anchors is rather not an option (it would be a breaking change and the glob pattern matching with `*` was introduced on purpose).

If we have the following type:

[code]

And the user passes filter `B.C`:

[code]

The hint should mention that either `A.B.C` or `*B.C`.

[2020-10-15 17:16] adamsitnik commented on #1541
@AxelHu thanks for providing the example!

In such a case, I think that the easiest way to get some benchmark numbers would be to use the [InProcessToolchain](https://benchmarkdotnet.org/articles/configs/toolchains.html#sample-introinprocess) that uses IL Emit and runs everything in the same process.

The `HelloWorld` should get replaced with something like this:

[code]

and when invoking it [her

[2020-10-16 12:54] #1495 closed

[2020-10-18 13:48] JimBobSquarePants opened #1561 "NativeMemoryProfiler doesn't report allocations in v0.12.1.1432 Nightly"
I'm running the following benchmark to compare graphics libraries.

https://github.com/JimBobSquarePants/core-imaging-playground/tree/ac506f591f7448cb4b2250c7fb9717a976faf198

With v0.12.1 I get the following result:

[code]

|                                Method |      Mean |     Error |   StdDev | Ratio |     Gen 0 | Gen 1 | Gen 2 |  Allocated | Allocated native memory | Native memory leak |
|

[2020-10-19 01:52] AxelHu commented on #1541
@adamsitnik Thanks for the solution.

I think this will work with the official interpreter(Mono interpreter) in the previous reply.

But it fails with the ILR, because it's not a full support for IL instructions. The ILR is supported by few people and not all instructions will be used in games(ILR mainly supports Unity games).

I'm not exactly sure how BDN works internally, but I think this soluti

[2020-10-19 17:47] adamsitnik commented on #1561
@JimBobSquarePants thank you for a very detailed bug report!

@WojciechNagorski could you please take a look?

[2020-10-19 19:24] TimHolzherr opened #1562 "BenchmarkDotNet cannot handle AppendTargetFrameworkToOutputPath set to false"
Hi

When running a benchmark it appears that BenchmarkDotNet copies the benchmark code and compiles it with the dotnet cli.
The path resolution to the generated dll assumes that [AppendTargetFrameworkToOutputPath](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-change-the-build-output-directory?view=vs-2019) is set to true (the default).
An example where this assumption fails is if a [Dir

[2020-10-20 10:28] marek-safar opened #1564 "error MSB4086: A numeric comparison was attempted on "$(LangVersion)""
When having a project with settings like

[code]

BDN fails to run because of the following error

[code]

[2020-10-20 10:53] WojciechNagorski commented on #1564
I think that this is fixed by https://github.com/dotnet/BenchmarkDotNet/commit/82b15eec13bc324013cc5089685b1bac4aa5324f

[2020-10-20 11:35] WojciechNagorski commented on #1561
I want to fix it, I'll have time in a week or two.

I think that I remove too much after the last review:

https://github.com/dotnet/BenchmarkDotNet/pull/1451/commits/5a241e02a8b86da040c293f9bf1f6f55fa5f9414#diff-abccc6ab9121978fe6440972d6e3fdc82f0d4b85d91b84f149ea6f10198633faL39-R41

[2020-10-20 12:34] adamsitnik commented on #1564
@WojciechNagorski is right, this has already been fixed but not released to nuget.org in #1420

I've ensured that it works as expected using our master branch build. What we generate now is:

[code]

[2020-10-20 12:34] #1564 closed

[2020-10-20 17:49] njy opened #1565 "More consistent formatting of results"
Would it be possible to have a more consistent formatting of results, to avoid situations like the one below where numbers are not aligned, making it somewhat harder to scan trough results?

![image](https://user-images.githubusercontent.com/1010086/96558157-913fe480-12bb-11eb-8151-8ac9a3471237.png)

I'm confident I'm probably missing some important detail here 😅 .

ps: thanks for BDN, it truly is

[2020-10-21 12:43] adamsitnik commented on #1565
Hi @njy !

Would you be interested in sending a PR?

It *should* be a matter of changing the format here:

https://github.com/dotnet/BenchmarkDotNet/blob/be769f8e5012cdd818f2af7c6c9d9f18872c054a/src/BenchmarkDotNet/Diagnosers/MemoryDiagnoser.cs#L49

[2020-10-21 12:58] adamsitnik commented on #1532
The issue has been fixed by #1420.

[2020-10-21 12:58] #1532 closed

[2020-10-21 13:12] adamsitnik commented on #1541
Yes, this is true.

For that you would have to implement your own [Toolchain](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Toolchains/IToolchain.cs) which consists of:

* generator - a type that generates benchmarking boilerplate code
* builder - a type that builds the code
* executor - a type that runs the executable

You could reuse the [.NET Core Toolchain](https://

[2020-10-21 13:20] njy commented on #1565
For sure!

Ok I'll clone the repo and try to do that, thanks for the guidance on where to look at.

[2020-10-21 13:32] njy commented on #1565
Probably it's not that, at least not *only* that, because as you can see the other rows (of the same column) are formatted differently (definitely not `N0` since there are 2 positions after the decimal separator).
I thought about an automatic change for the NumberFormat when the Unit change, but all of the are in MB.
I thought it may have been a different related to rounding, but the first row is

[2020-10-21 13:35] njy commented on #1565
Trying to reverse engineer the flow I'm betting about this about this:

https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Columns/MetricColumn.cs#L36

[2020-10-21 13:42] adamsitnik commented on #1531
Hi @astef

BenchmarkDotNet was designed for very accurate micro-benchmarking. All the metrics that we report are specific to the process which is executing the benchmark. The architecture does not have a concept of multiple processes like client and server.

You could use BDN to:

* start the B process in the `[GlobalSetup]` method
* send messages from benchmarking process (process A) to process B

[2020-10-21 13:42] #1531 closed

[2020-10-21 13:51] adamsitnik commented on #1520
Hi @alexcovington

BenchmarkDotNet is using `TraceEvent` which internally uses ETW to get hardware counters information. I am afraid that there is an AMD-specific bug somewhere.

Could you please run the following command and share your output here?

[code]

[tracelog.exe](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/tracelog) might not be present in your $PATH so you can use

[2020-10-21 13:57] adamsitnik commented on #1506
@MarekM25 could you please take a look?

[2020-10-21 14:05] adamsitnik commented on #1481
I think that it would be a great feature, as long as it would be easy to setup.

I am going to mark it as up-for-grabs hoping that someone is going to work on this.

[2020-10-21 14:10] adamsitnik commented on #1474
@steveoh you are right, the doc should mention creating a console app before installing the NuGet package

would you be interested in sending a PR? the file is here: https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/guides/getting-started.md

[2020-10-21 14:12] adamsitnik commented on #1470
Hi @Dogwei

This is a duplicate of #147, please follow it for updates.

BTW If BenchmarkDotNet runs benchmarks on all your CPU cores you won't be able to play any games at the same time ;p

[2020-10-21 14:12] #1470 closed

[2020-10-21 14:21] adamsitnik commented on #1469
Hi @ryanmolden

Currently, it's not possible. I am going to mark the issues as up-for-grabs and add few hints hoping that someone is going to work on this and send a PR

[2020-10-21 14:27] njy commented on #1565
So here are my findings.

It seems inconsistent that at this line

https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Columns/MetricColumn.cs#L36

the format is not passed, whereas it is passed at this line

https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Columns/MetricColumn.cs#L40

So my idea at first would've been to change this

`return SizeValu

[2020-10-21 14:28] adamsitnik commented on #1469
Anyone who would like to work on this issue should consider:

* adding a new integration test that ensures that BenchmarkDotNet can run 32-bit .NET and .NET Core benchmark on Windows that allocates an array bigger than 2 GB (or anything else that ensures that 3GB space works). You can use [this](https://github.com/dotnet/BenchmarkDotNet/blob/master/tests/BenchmarkDotNet.IntegrationTests/MultipleRu

[2020-10-21 14:38] adamsitnik commented on #1468
Hi @ryanmolden

We use random names to avoid files in use exceptions which in the past were very often caused by various anti-virus software (that was scanning the `.exe` while we were trying to remove it after running the benchmarks).

To differentiate the benchmarks we pass `--benchmarkName` argument to the process:

[code]

And print PID when it quits:

[code]

If this is not enough, you can us

[2020-10-21 14:38] #1468 closed

[2020-10-21 14:55] adamsitnik commented on #1447
The best thing I can do as of today is to mark it as up-for-grabs and hope that someone is going to pick it up.

The contributor who is willing to work on this should:

* Choose a good name and introduce a new class-only attribute that allows for changing the exported type name. It should be added [here](https://github.com/dotnet/BenchmarkDotNet/tree/master/src/BenchmarkDotNet.Annotations/Attribut

[2020-10-21 15:10] adamsitnik commented on #1445
Hi @tebjan

We don't really have a good alternative to what you have described (finding public methods with benchmark attribute etc).

We don't offer passing lambdas etc. The only thing that comes to my mind is using this method:

https://github.com/dotnet/BenchmarkDotNet/blob/be769f8e5012cdd818f2af7c6c9d9f18872c054a/src/BenchmarkDotNet/Running/BenchmarkRunnerDirty.cs#L34

but it still requires yo

[2020-10-21 15:10] #1445 closed

[2020-10-21 15:13] adamsitnik commented on #1432
Hi @ishepherd

BenchmarkDotNet was designed for very accurate micro-benchmarking. All the metrics that we report are specific to the process which is executing the benchmark. The architecture does not have a concept of multiple processes like client and server. So we can tell you have long it takes to send a web request, but we can't report how much memory the server has allocated to handle it.

M

[2020-10-21 15:13] #1432 closed

[2020-10-21 15:14] tebjan commented on #1445
That's very helpful. Thanks for the info, I'll try with this static `Run` method and see what's possible.

[2020-10-21 15:14] adamsitnik commented on #1415
I am closing as there was no progress since April.

@danielmeza please feel free to send a PR.

[2020-10-21 15:14] #1415 closed

[2020-10-21 15:18] adamsitnik commented on #553
The experiments run by @WojciechNagorski  in #971 and #1058 have shown that it would not add too much value to BDN, so I am closing this issue. Thanks!

[2020-10-21 15:18] #553 closed

[2020-10-21 15:23] adamsitnik commented on #1414
Hi @rmanjusha

Yes, BDN is reusing the same instance of arguments created by `[Arguments]`, `[ArgumentsSource]`, `[Params]` and `[ParamsSource]`. We do it to avoid a situation where this cost would be included in the reported time.

To solve the problem you can either use [IterationSetup](https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md#IterationSetup) or

[2020-10-21 15:23] #1414 closed

[2020-10-21 15:32] adamsitnik commented on #1409
Hi @drieseng

Many years ago we have decided to use attributes for everything (starting from the benchmark method) and to not break the existing users we have to keep it that way.

I know that it's not super intuitive and requires the users to write more code but it has some advantages: a single type can have multiple `GlobalCleanup` methods that target different benchmarks. Having the type implem

[2020-10-21 15:32] #1409 closed

[2020-10-21 15:39] adamsitnik commented on #1408
Hi @drieseng

Thank you for a very detailed bug report.

I agree that the problem exists and should be solved.

For a now, I can offer a workaround that I've been using myself so far:

moving the setup logic to the ctor of the type returned by `[ArgumentsSource]`

You can find the example [here](https://github.com/dotnet/performance/blob/2a4232d994b88c37093399537b0b2a62ef163aeb/src/benchmarks/micr

[2020-10-21 16:05] adamsitnik commented on #1565
this idea sounds very good to me! Could you please give it a try?

@njy it sounds good to me, but I need a confirmation from @AndreyAkinshin

@AndreyAkinshin is there any good reason for using `0.##` instead of `0.00` as the default format?

[2020-10-21 16:06] njy commented on #1565
Great @adamsitnik , I'll wait for @AndreyAkinshin 's confirmation, then will proceed with the PR.

[2020-10-21 19:00] michalgalecki commented on #1474
I tried to send PR but I'm not sure if i did it correctly. It's my first PR ever.

[2020-10-22 02:11] AxelHu commented on #1541
Thanks I'll give it a try, writing just the Executor part sounds like something possible for me.

By the way, are there any collection of typical methods to benchmark in C#? In my case, I want to get an overall benchmark result. I added typical methods used in my projects and methods collected from internet, but it's far from complete.

[2020-10-22 02:25] kg opened #1566 "BDN should not delete temporary build directories for failed builds"
Right now the documentation for troubleshooting build failures has this as a first, required step:

And all the methods of doing this appear to require me to locate the benchmark in question and then modify its source code intrusively, which will get blown away if I revert my git checkout etc. Anyone else troubleshooting will also need to do this. Maybe I don't understand BDN well enough and there

[2020-10-22 11:12] adamsitnik commented on #1566
@kg good point! I've sent https://github.com/dotnet/BenchmarkDotNet/pull/1567 to address the problem.

[2020-10-22 13:36] adamsitnik commented on #1565
@nju Andrey is very busy recently, you can send the first PR with a fix for memory, and after Andrey responds you can send 2nd PR that would change the default formatting

[code]

[2020-10-22 13:39] adamsitnik commented on #1541
You could use some of the benchmarks from dotnet/performance repository that are used by the .NET Team to ensure that .NET itself s not regressing perf over time

https://github.com/dotnet/performance/tree/master/src/benchmarks/micro

[2020-10-22 13:40] adamsitnik commented on #1541
@AxelHu I hope that I have answered all your questions. I am going to close the issue, but please feel free to reopen it if you have more questions.

Thanks!

[2020-10-22 13:40] #1541 closed

[2020-10-22 13:48] adamsitnik commented on #1538
@chrisaut thank you for your proposal and great discussion.

As a maintainer of BenchmarkDotNet who implemented the DisassemblyDiagnoser, I would prefer to avoid adding such a feature to BDN and instead add it to the library that we are internally using for decoding the instructions - https://github.com/0xd4d/iced

I also don't see us having time to implement it anytime soon (our top priority shou

[2020-10-22 13:48] #1538 closed

[2020-10-22 14:06] adamsitnik commented on #1474
Hi @michalgalecki

Thank you for your help!

You have opened the PR against your fork, while you should have opened it against the upstream repo (https://github.com/dotnet/BenchmarkDotNet in our case)

When you want to send a PR, you should push changes to a branch of your fork (you have done that) and after you do it, when you go to the upstream repo page you should see a new green button "Compar

[2020-10-22 14:08] adamsitnik commented on #1466
I believe that I've answered the question. The repro which I've asked for in August was not provided, so I am closing the issue. Please feel free to provide the minimum repro case and reopen the issue.

[2020-10-22 14:40] adamsitnik commented on #1402
@nietras I've taken a fresh look at this and I have the following idea:

- we could introduce a new interface with a single method that would be returning the invocation count. Something like:

[code]

and extend this type-specific config logic:

https://github.com/dotnet/BenchmarkDotNet/blob/be769f8e5012cdd818f2af7c6c9d9f18872c054a/src/BenchmarkDotNet/Running/BenchmarkConverter.cs#L87-L97

to che

[2020-10-22 14:43] adamsitnik commented on #1393
If this has solved your problem then I am closing the issue.

[2020-10-22 14:43] #1393 closed

[2020-10-22 14:52] adamsitnik commented on #1383
Hi @JohnMasen

I've tried to repo the problem, but I've failed with the following error:

[code]

[2020-10-22 15:07] adamsitnik commented on #1383
Ok, I was able to repro

[2020-10-22 15:12] adamsitnik commented on #1383
It looks like the following code is keeping the process alive:

![obraz](https://user-images.githubusercontent.com/6011991/96892258-c26e0f80-1489-11eb-99bb-8055987b8a71.png)

![obraz](https://user-images.githubusercontent.com/6011991/96892319-d1ed5880-1489-11eb-8767-34dfc46850b6.png)

[2020-10-22 15:48] michalgalecki commented on #1474
Right, I thought that something went wrong. Now PR should be fine.
Thanks for the guide!

[2020-10-22 15:55] #1474 closed

[2020-10-22 16:34] njy commented on #1565
Hi @adamsitnik , PR #1569 is ready.

ps: you reference another user ("nju") in your previous reply, I am "njy" 😉

[2020-10-22 16:38] adamsitnik commented on #1565
@njy big thanks for the PR and apologies for the typo!

[2020-10-22 17:18] #1565 closed

[2020-10-22 17:31] njy commented on #1565
Great, thanks to you for the support.

One last thing: regarding the change (14 different occurrences) from `0.##` to `0.00` or would you prefer to wait for Andrey to say something or should I create another PR for that and discuss the change there?

I'm asking to avoid creating extra PR for you to track.

[2020-10-23 14:34] eiriktsarpalis opened #1570 "Benchmark runs failing when using .NET 5 RC2 SDK installed via snap"
I tried installing .NET 5 RC2 sdk on Ubuntu 20.04 following the [instructions listed here](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-rc.2-install-instructions.md#install-using-snap).

When trying to run `net5.0` benchmarks using that SDK I'm getting the following failure:
[code]

I suspect the issue is due to the fact that the snap installation of the sdk relies on

[2020-10-23 16:39] adamsitnik commented on #1383
@JohnMasen this was an insane combination of a few bugs, I've sent a fix with explanation in #1571

[2020-10-23 17:42] adamsitnik commented on #1358
I won't have time to take a look at this in the near future.

It would be great if you could run some troubleshooting described here: https://benchmarkdotnet.org/articles/guides/troubleshooting.html

It's really strange that BDN fails, as all it does is generating a new project that references the project with benchmarks and running `dotnet restore` in its folder...

[2020-10-23 17:46] adamsitnik commented on #1354
such error can be related to bitness differences like having an x86 app trying to load x64 dll.

@ghost are you using any native dependencies? also, are you using x86 version of dotnet?

[2020-10-23 17:56] adamsitnik commented on #1341
hi @MithrilMan

Please excuse me for such a big delay, I've no idea how I've missed this question.

The doc says:

So if given benchmark calculates something, you should return it and allow the harness to consume the results and prevent dead code elimination.

If the given benchmark does not calculate anything and just calls the` void` method, it's perfectly fine to have a `void` benchmark and don

[2020-10-23 17:56] #1341 closed

[2020-10-23 18:01] adamsitnik commented on #1336
I've marked the issue as `up-for-grabs`. Whoever is willing to work on this, please experiment with the color scheme that is defined here; https://github.com/dotnet/BenchmarkDotNet/blob/3223c94a92050147a02482a3810860703f0c5171/src/BenchmarkDotNet/Loggers/ConsoleLogger.cs#L64-L75

and find a better one ;)

[2020-10-23 18:03] adamsitnik commented on #1333
@RealDotNetDave are you still experiencing this problem?

[2020-10-23 18:16] adamsitnik commented on #1304
@luckerby thank you for a great discussion.

The harness creates an instance of a type that defines the benchmark before it starts the benchmarking. This is done by design to make sure that BDN measures only the performance of the code that is inside the `[Benchmark]` method.

We even [recommend](https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md#setup) our

[2020-10-23 18:16] #1304 closed

[2020-10-23 18:19] adamsitnik commented on #1299
Hi @iitaiy

We don't have such example. You would have to use the result returned by `BenchmarkRunner` or `BenchmarkSwitcher`, find the results for the given benchmark, and add an assert.

This doc explains briefly how BDN works: https://benchmarkdotnet.org/articles/guides/how-it-works.html

Thanks,
Adam

[2020-10-23 18:19] #1299 closed

[2020-10-23 18:20] adamsitnik commented on #1296
Hi @namnik

BenchmarkDotNet was designed for very accurate micro-benchmarking. All the metrics that we report are specific to the process which is executing the benchmark. The architecture does not have a concept of multiple processes like client and server. So we can tell you have long it takes to send a web request, but we can't report how much memory the server has allocated to handle it.

Most

[2020-10-23 18:20] #1296 closed

[2020-10-23 18:32] adamsitnik commented on #1297
Hi @yahorsi

Please excuse me for a very big delay.

When BDN is merging the config provided programmatically and via console line args there are some situations where it makes imperfect decisions.

Since you are not the first person that run into similar issue when benchmarking multiple runtimes, I've written a doc that explains how to do it properly.

https://benchmarkdotnet.org/articles/configs

[2020-10-23 18:32] #1297 closed

[2020-10-23 18:33] adamsitnik commented on #1288
I've split this issue into few and sent the fixes in #1547 #1548 and #1550 Now everything works like a charm

[2020-10-23 18:33] #1288 closed

[2020-10-23 18:44] adamsitnik commented on #1284
Hi @JeffreyZhao

Please excuse me for the delay...

It's possible by using `SummaryOrderPolicy.Declared`:

[code]

The results I got for the following command:

[code]

|         Type | Method |     Mean | Error |
|------------- |------- |---------:|------:|
| MyBenchmark1 |      A | 296.2 us |    NA |
| MyBenchmark1 |      B | 280.7 us |    NA |
| MyBenchmark2 |      A | 318.6 us |    NA |
| MyBe

[2020-10-23 18:44] #1284 closed

[2020-10-23 18:48] adamsitnik commented on #1276
Hi @TimirP

BenchmarkDotNet supports only console apps. It's by design to make it possible to generate a new project with boilerplate code , reference the project that defines benchmarks, build it and run every benchmark in a dedicated process.

You should be able to use our InProcessToolchain that does not build anything out-proc and just runs the benchmarks using Threads within the same process:

[2020-10-23 18:48] #1276 closed

[2020-10-23 18:49] adamsitnik commented on #1271
The question was answered a long time ago but the issue was not closed, so I am closing it now.

[2020-10-23 18:49] #1271 closed

[2020-10-23 18:57] adamsitnik commented on #1267
@stanciuadrian is right about the `ManualRunning` benchmarks which have simply some hardcoded values

the `ImmutableConfig` test is most probably failing due to running it `Debug` configuration:

https://github.com/dotnet/BenchmarkDotNet/blob/64cc94a8c9b22acebf7f43124929fe39c309c8e1/src/BenchmarkDotNet/Configs/DefaultConfig.cs#L62-L64

to make it easier to contribute to BDN we just disable the val

[2020-10-23 18:57] #1267 closed

[2020-10-23 19:09] adamsitnik commented on #1246
Hi @dotMorten

You should be able to change the default ordering by using the `Orderer` type.

Example:

[code]

[code]

[code]

[2020-10-23 19:09] #1246 closed

[2020-10-23 19:13] adamsitnik commented on #1235
Fixed in #1237 a while ago, but we forgot to close the issue. So I am closing it now.

[2020-10-23 19:13] #1235 closed

[2020-10-23 19:14] adamsitnik commented on #1220
Fixed by #1222 a while ago, closing

[2020-10-23 19:14] #1220 closed

[2020-10-23 19:17] adamsitnik commented on #1211
Fixed by #1365 a while ago, closing

[2020-10-23 19:17] #1211 closed

[2020-10-23 19:35] adamsitnik commented on #1207
It's possible to combine both configs, but I agree that it's not very intuitive.

The key here is to use `ManualConfig.CreateEmpty` (to not have any default settings with default CSV exporter) add define logger and columns provider:

[code]

Please feel free to send a PR that extends the `[CsvExporter]` attribute.

[2020-10-23 19:35] #1207 closed

[2020-10-23 19:38] adamsitnik commented on #1184
Hi @ig-sinicyn

I am currently doing a big cleanup of old issues in the repo.

If you need some changes, please go ahead and send a PR.

For now, I am going to close this issue as there is nothing actionable on our side.

Thanks,
Adam

[2020-10-23 19:39] #1184 closed

[2020-10-23 19:39] adamsitnik commented on #1183
Fixed long time ago in #1212, I am closing the issue

[2020-10-23 19:39] #1183 closed

[2020-10-23 19:40] adamsitnik commented on #1181
Fixed a long time ago in #1217, closing

[2020-10-23 19:40] #1181 closed

[2020-10-23 19:44] adamsitnik commented on #1177
FWIW I've tested and it's still a thing for .NET 5

[2020-10-23 19:45] adamsitnik commented on #1176
No source code shared since Jun 2019. I am unable to repro so I am closing the issue.

[2020-10-23 19:45] #1176 closed

[2020-10-23 20:04] adamsitnik commented on #1174
It has been a while since the issue was created and there was some progress made. The attribute is now public and can be used in C# source code including benchmarks:

[code]

[code]

[code]

@stephentoub is that enough or perhaps you wanted us to add a mode that would apply this attribute to the entire auto-generated assembly?

[2020-10-23 20:06] stephentoub commented on #1174
Yup, that's what I've been doing.  We can close this.  Thanks.

[2020-10-23 20:06] #1174 closed

[2020-10-23 20:26] adamsitnik commented on #1133
Hi @Zhentar

Thank you for a great input and appologies for such a huge delay in response.

We are using delegates on purpose: to prevent the `[Benchmark]` method from getting inlined (and get other optimizations as constant folding applied)

Example:

[code]

Could get optimized to:

[code]

@AndyAyersMS would be switching from delegates (`callvirt`) to functions pointers (`calli`) start inlining

[2020-10-23 20:39] adamsitnik commented on #1124
Hi @yahorsi

From my experience (I am the person who was working on ensuring that the last few .NET Core releases have not regressed performance) such volatility is typically caused by memory and|or loop body alignment changes.

I am currently working on a Workshop for the .NET Team and preparing a doc that provides some examples and describes how to deal with that:

https://github.com/adamsitnik/

[2020-10-23 20:39] #1124 closed

[2020-10-23 20:50] adamsitnik commented on #1100
Hi @Motvin

Thank you for your proposal.

In general, we try to focus mostly on performance-related features and just provide an extensible architecture for those who need more. Our free time that we spend on the development of  BDN is simply limited and we have to limit the new features (and size of the maintained code).

In your case, you could just import the produced `.csv` files to Excel, or

[2020-10-23 20:50] #1100 closed

[2020-10-23 20:51] adamsitnik commented on #1095
No repro has been provided since March 2019, I am closing

[2020-10-23 20:51] #1095 closed

[2020-10-23 21:01] adamsitnik commented on #1092
With the next version of BenchmarkDotNet, we are going to discontinue the mentioned `PmcDiagnoser` in favor of a much more accurate `EtwProfiler` diagnoser which is also capable of getting hardware information: #1548

Moreover, we are internally going to enable it on the .NET Team for the regular runs of thousands of benchmarks that we have in the performance repo. So if there will be any reliabil

[2020-10-23 21:01] #1092 closed

[2020-10-23 21:02] #1091 closed

[2020-10-23 21:04] jzabroski commented on #1092
Ok. But in terms of moving away from Guids to a timestamps based approach, Twitter's Snowflake ID generator comes to mind

[2020-10-23 21:05] adamsitnik commented on #1076
I believe that this is an edge case and I don't see us having any free time to add special handling of it anytime soon. So I am closing the issue.

[2020-10-23 21:05] #1076 closed

[2020-10-23 21:11] adamsitnik commented on #1064
@TheJakeSchmidt In such a case you should move the even-more-global-than-that logic outside of the type that defines benchmarks

Something like this:

[code]

I just don't see a good justification for us to add one more type of a setup method. As you have noticed, even finding a good name would be hard. We would also need to ensure that there is only one such setup and cleanup per assembly etc. It

[2020-10-23 21:11] #1064 closed

[2020-10-23 21:13] adamsitnik commented on #1060
Hi @ladeak

Please excuse us for not responding for so long. I don't have any good references, but I am sure that if you ask this question at StackOverflow someone is going to provide a great answer.

Thank you,
Adam

[2020-10-23 21:13] #1060 closed

[2020-10-23 21:16] adamsitnik commented on #989
I've marked this issue as `up-for-grabs`. The contributor who is going to work on this should make sure that the errors are present in `summary.ValidationErrors`

[2020-10-23 21:20] AndyAyersMS commented on #1133
Calls via function pointers would not get inlined currently.

[2020-10-23 21:24] adamsitnik commented on #882
@svick thank you for a great bug report

This issue have been opened in 2018 and we still did not find the time to work on this...

I've recently performed a big study using BenchmarkDotNet and various Linux distros and hardware configurations and everything has worked fine (https://github.com/dotnet/runtime/issues/41871)

I think that I am just going to close the issue. If anyone can still reprod

[2020-10-23 21:24] #882 closed

[2020-10-23 21:31] adamsitnik commented on #831
The original questions have been answered and we have received quite a lot of contributions to docs that evolved since 2018. Having said that, I am going to close the issue. Thank you!

[2020-10-23 21:31] #831 closed

[2020-10-23 21:41] adamsitnik commented on #756
We have all agreed that BenchmarkDotNet should not use any custom settings and force the code alignment on its own.

Currently, the JIT Team is experimenting with method and loop alignment for .NET 6 to stabilize the benchmark results. This work can be tracked at https://github.com/dotnet/runtime/issues/43227

I am going to close this issue as there are no actionable work items on the BDN side.

T

[2020-10-23 21:41] #756 closed

[2020-10-23 21:44] adamsitnik commented on #721
We have not made any progress on this since 2018 and I think that even @stephentoub got used to the `Ratio` column as I don't see him removing it from the results that he shares anymore ;)

Having said that, I am going to close the issue as it's unlikely that it would get implemented.

[2020-10-23 21:46] adamsitnik commented on #707
Please refer to a great blog post by @WojciechNagorski https://wojciechnagorski.com/2019/09/using-native-dll-and-resource-files-in-benchmarkdotnet-projects/

[2020-10-23 21:46] #707 closed

[2020-10-23 21:47] adamsitnik commented on #678
We have introduced the Annotations quite a while ago, I am closing the issue.

[2020-10-23 21:47] #678 closed

[2020-10-23 21:48] adamsitnik commented on #570
No progress since 2017, I think that it's OK to close this issue.

[2020-10-23 21:48] #570 closed

[2020-10-23 21:50] adamsitnik commented on #545
No progress since 2017, we have also switched to `Iced` for instructions decoding (which might add similar feature in the future) so I am closing the issue

[2020-10-23 21:50] #545 closed

[2020-10-23 21:51] adamsitnik commented on #477
No progress since 2017, I am closing the issue.

[2020-10-23 21:51] #477 closed

[2020-10-23 21:52] adamsitnik commented on #458
No progress since 2017, I am closing the issue.

[2020-10-23 21:52] #458 closed

[2020-10-23 21:54] adamsitnik commented on #378
No progress since 2017, I am closing the issue

[2020-10-23 21:54] #378 closed

[2020-10-23 21:55] adamsitnik commented on #383
No progress since 2017, closing.

[2020-10-23 21:55] #383 closed

[2020-10-23 21:57] adamsitnik commented on #373
No progress since 2017 and it's rather not within the scope of a microbenchmarks library. I am closing the issue.

[2020-10-23 21:57] #373 closed

[2020-10-23 21:57] adamsitnik commented on #361
No progress since 2017, closing.

[2020-10-23 21:57] #361 closed

[2020-10-23 21:58] adamsitnik commented on #354
We have not made any progress since 2017 and I consider it an edge case so I am closing the issue.

[2020-10-23 21:58] #354 closed

[2020-10-23 22:01] adamsitnik commented on #326
@zabulus once again big thanks for your amazing work!

Since Windows Mobile 10 is [discontinued](https://en.wikipedia.org/wiki/Windows_10_Mobile) I am closing the issue.

[2020-10-23 22:01] #326 closed

[2020-10-23 22:04] adamsitnik commented on #103
We have not made any progress on adding UWP support since 2016 and it has not become really popular so I am closing the issue.

[2020-10-23 22:04] #103 closed

[2020-10-23 22:09] adamsitnik commented on #204
Closing the issue, as it's a very old discussion ;)

[2020-10-23 22:09] #204 closed

[2020-10-23 22:10] adamsitnik commented on #177
We have not made any progress on this since 2016. If it ever bites us again, we should just create a new issue, discuss it, and send a PR.

[2020-10-23 22:10] #177 closed

[2020-10-23 22:11] ebfortin commented on #1466
Sorry. With COVID and all I completely forgot to answer your request.

I zipped a solution for you to test. But here's the result. You can see that unless I disable QuickJIT, the code doesn't seem to get optimized. Also disregard the fact that my intrinsic code is performing less than the naive code. I stopped playing with intrinsics until I get an answer on why it doesn't get used correctly by th

[2020-10-23 22:37] stephentoub commented on #721
Not really,  but I got tired of fighting it when I copy/paste it.  The current output is still almost never what I want.

[2020-10-24 12:53] adamsitnik commented on #1482
I've just created a very similar app with the same dependencies and downloaded x86 and x64 dotnet SDK.

[code]

[code]

Everything works as expected:

[code]

Full output:

<details>

[code]

</details>

FWIW if anyone wanted to extend the config with Full .NET Framework, it should look like this:

[code]

Since I was not able to reproduce the problem I am closing the issue.

[2020-10-24 12:54] adamsitnik commented on #856
I've just created a very similar app with the same dependencies and downloaded x86 and x64 dotnet SDK.

[code]

[code]

Everything works as expected:

[code]

Full output:

<details>

[code]

</details>

FWIW if anyone wanted to extend the config with Full .NET Framework, it should look like this:

[code]

Since I was not able to reproduce the problem I am closing the issue.

[2020-10-24 12:54] #856 closed

[2020-10-24 13:06] adamsitnik commented on #1482
Please excuse me for posting the previous comment, I've used the wrong issue.

[2020-10-24 13:09] adamsitnik commented on #1482
@vsevolodp I was able to clone your code and it works fine.

The only fix I had to do was to allow for unsafe code:

[code]

[code]

After that everything worked fine.

Full log output:

<details>

[code]

</details>

The results only:

[code]

[2020-10-24 13:16] adamsitnik commented on #1482
BenchmarkDotNet by default sets the platform to the platform of the host process. So if you do `dotnet run` with x86 dotnetl cli, then it's x86, if it's x64 then it's x64 and so on (including ARM)

However, to make our life easier we set the OutputPath of the generated project to `bin\Release` without the platform name:

https://github.com/dotnet/BenchmarkDotNet/blob/cd0bda41dce2f266bc09900e31d8f0

[2020-10-24 13:16] #1482 closed

[2020-10-24 13:53] adamsitnik commented on #1512
I just took a look at the templates and I agree that they should be updated and also simplified. I've marked the issue as up-for-grabs.

[2020-10-24 15:02] adamsitnik commented on #1515
The scaling is proper: `1,882.94 ns` is equal to `1.88294 us`

![obraz](https://user-images.githubusercontent.com/6011991/97084934-83bb8f00-161a-11eb-89aa-8cd7d6ecff42.png)

If I misunderstood the issue, please let me know and reopen it.

[2020-10-24 15:02] #1515 closed

[2020-10-24 15:52] adamsitnik commented on #1337
Please excuse me for the delay. I've sent a fix: #1573

[2020-10-24 15:52] adamsitnik commented on #1338
Please excuse me for the delay. I've sent a fix: #1573

[2020-10-24 15:52] adamsitnik commented on #837
Please excuse me for the delay. I've sent a fix: #1573

[2020-10-24 16:03] adamsitnik commented on #1342
Hi @BorisTheBrave

From my experience (I am the person who was working on ensuring that the last few .NET Core releases have not regressed performance) such differences between benchmark runs are typically caused by memory and|or loop body alignment changes (which are quite random and can be caused by adding some additional source code).

I am currently working on a Workshop for the .NET Team and

[2020-10-24 16:03] #1342 closed

[2020-10-25 09:02] BorisTheBrave commented on #1342
Thanks, I think #1494 was what I was experiencing. I'll look into alignment issues, but I agree that is not a BDN problem.

[2020-10-25 12:15] abelbraaksma commented on #1338
@adamsitnik, great! That's awesome, I'll give it a try after the weekend 👍.

[2020-10-26 07:43] AndreyAkinshin commented on #721
@stephentoub do I understand correctly that you just need a column that displays "Inverted Ratio"?

[2020-10-26 09:57] stephentoub commented on #721
I don't "need" it, but yes, I'd like it :)  I want something that makes it easy to speak to an improvement.  If one row shown 100% and the other 15%, I find that difficult to speak to or think about how much of an improvement that was, whereas if those same rows showed 1.0x and 6.67x, respectively, I personally find that a lot easier to reason about, speak to in a demo, etc.

[2020-10-26 11:05] AndreyAkinshin commented on #721
Ok, it makes sense. And what about benchmarks that are degraded? Should we always present "Inverted Ratio" or should we always present a number which is more than 1.0. We can consider the following summary table designs:

**Classic:**
[code]

**Option A:**
[code]

Here we get a nice presentation for faster benchmarks, but the value for slower benchmarks look confusing.

**Option B:**
[code]

Optio

[2020-10-26 11:35] stephentoub commented on #721
Thanks, @AndreyAkinshin.

Option B is what I had in mind, and personally, I'm fine with the verbosity.

But if you want something shorter, how about using Unicode arrows (though that may not work in all terminals):
[code]
or if you want to stick with ASCII, symbols that look like arrows:
[code]
or just shorter words, using "up" and "down":
[code]
or +/-
[code]

Personally I'm fine with any of thes

[2020-10-26 13:07] #721 closed

[2020-10-26 13:13] AndreyAkinshin commented on #721
@stephentoub, implemented (this feature will be included in the upcoming BenchmarkDotNet v0.13.0).
Usage example:
[code]
Output:
[code]

[2020-10-26 13:30] nietras commented on #1402
@adamsitnik this sounds very interesting! One quick suggestion, I would rename to be more succinct.
[code]
Will there be a "IStaticInvocationCount"? I assume not so dynamic not necessary.

Regarding limitations I have to walk through usage, but I would perhaps ask (with limited understanding of bdn impl) could this not be called *instead* of the pilot run when benchmarking? That is after global an

[2020-10-26 14:47] #1546 closed

[2020-10-26 14:53] #1549 closed

[2020-10-26 14:56] #1544 closed

[2020-10-26 15:04] #1535 closed

[2020-10-26 15:12] #1562 closed

[2020-10-26 15:16] #1566 closed

[2020-10-26 15:24] #828 closed

[2020-10-26 15:24] #1383 closed

[2020-10-26 15:38] #1249 closed

[2020-10-26 15:38] #1254 closed

[2020-10-26 15:38] #1347 closed

[2020-10-26 15:38] #1355 closed

[2020-10-26 15:38] #1371 closed

[2020-10-26 15:38] #1435 closed

[2020-10-26 15:38] #1444 closed

[2020-10-26 15:38] #1460 closed

[2020-10-26 15:42] #1337 closed

[2020-10-26 15:42] #1338 closed

[2020-10-26 16:13] alexcovington commented on #1520
Hi @adamsitnik, sorry for the wait on this. With COVID, I don't have physical access to this machine all the time, so I wasn't able to work on this till now.

Here's the output from tracelog running in admin Developer Command Prompt for VS 2019:

[code]

[2020-10-27 15:15] stephentoub opened #1574 "Make --join the default"
When running lots of benchmarks, the first time I run them I invariably forget to include `--join` on my command line invocation, resulting in the benchmark results being spread across a long history of spewed output.  I then take the time to run all the benchmarks again, this time with `--join`, as doing so is much less time consuming then finding all the results and manually cobbling them togeth

[2020-10-27 15:35] stephentoub opened #1576 "Missing/misleading version number with corerun"
I have a build of dotnet/runtime's master branch from this morning, and I'm running benchmarks using it with `--corerun` as well as another .NET Core 3.1-based build, also via `--corerun`, and thus I'm using 3.1 as the host:
[code]
This results in two problems.  First, there's no version number output for the "master" job:
[code]

Second, there is a version number output in the earlier per-test ou

[2020-10-27 15:38] Scooletz commented on #1574
I agree with what @stephentoub stated above. I don't rerun my benchmarks and I do spend my time on

but having `--join` as a default would be great.

[2020-10-27 20:44] RealDotNetDave commented on #1207
Can you make sure to document this in your docs?

[2020-10-27 20:45] RealDotNetDave commented on #1333
Not sure. Let me check.

[2020-10-27 21:56] RealDotNetDave commented on #1333
Yes, seems to be back. Thanks!

[2020-10-28 07:45] Turnerj commented on #1542
I noticed something like this randomly happening in my benchmarks too for a little while, thought it was something weird with my code. Transitioned some allocate-y code to use ArrayPool and it was sometimes allocating a small number of bytes and sometimes not at all - my code is otherwise CPU bound like the OP.

Just quickly jumping through the thread in your PR @adamsitnik , is one potential "qui

[2020-10-28 14:14] Turnerj commented on #1542
Just got around to running my benchmark on .NET 5, it does seem to be allocating still for me.

![image](https://user-images.githubusercontent.com/904226/97446511-6b32d800-197e-11eb-8ce8-3e5be67f44d1.png)

Code base: https://github.com/Turnerj/LevenshteinBenchmarks/tree/2475940db8c4c6f7727c20d5a3ba20a200e77e5c
The specific implementation that shouldn't allocate: https://github.com/Turnerj/Levensht

[2020-10-28 19:25] JohannesDeml opened #1577 "Customize RPlot Output"
Is there a way to customize the RPlot output?
To be more precise, I would like to:
* Hide the Namespace in the header
* Hide the Job_Id or give the Job_Id a name
* Maybe even hide the parameter name

Here is an output I got, I marked all text I would like to remove
![NetCoreNetworkBenchmark PredefinedBenchmark-Benchmark2-facetDensity](https://user-images.githubusercontent.com/4518980/97486044-3235

[2020-10-29 02:23] srxqds opened #1578 "can this use profiler mono runtime memory profiler?"
as we know the mono vm is difference with coreclr?
but how can we use it to profiler memory allocate on mono vm?

[2020-10-30 00:49] timcassell opened #1579 "Measure pooled objects memory"
I love the fact that I can see how much memory is allocated on each run with the MemoryDiagnoser. What I'm missing, though, is measuring the difference in memory before a benchmark, and after (i.e. how much memory is perpetually consumed from pooled objects). Is there a way I can measure this now?

[2020-10-30 08:24] kunalspathak commented on #1513
Few benchmarks that are suspected to be affected because of memory alignment:

https://github.com/DrewScoggins/performance-2/issues/2290#issuecomment-717711418
https://github.com/DrewScoggins/performance-2/issues/2271#issuecomment-717715307

[2020-10-30 12:20] adamsitnik commented on #1333
@RealDotNetDave thanks!

[2020-10-30 12:20] #1333 closed

[2020-10-30 12:32] adamsitnik commented on #1579
Hi @timcassell

To get this detailed information you need to use a memory profiler.

The memory profilers that I can recommend:
* [Visual Studio Memory Profiler](https://docs.microsoft.com/en-us/visualstudio/profiling/memory-usage-without-debugging2?view=vs-2019)
* [dotMemory](https://www.jetbrains.com/dotmemory/)
* [.NET Memory Profiler](https://memprofiler.com/)

Once you choose the one that you

[2020-10-30 12:32] #1579 closed

[2020-10-30 13:17] timcassell commented on #1579
Hm, I was hoping to be able to add it to the summary table. It seems I can get the data in code through the process (GlobalSetup/GlobalCleanup seem like good places to do it)... is there a mechanism to add custom data to the summary table? It would be nice to have that happen automatically rather than manually doing it for each run.

[2020-10-30 13:27] adamsitnik commented on #1579
In this particular case, you would need to implement your own diagnoser. You can use [EtwProfiler](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Diagnostics.Windows/EtwProfiler.cs) as an example.

In other cases, you could implement a custom column: https://benchmarkdotnet.org/articles/configs/columns.html#custom-columns

[2020-10-30 13:39] adamsitnik commented on #1574
@AndreyAkinshin any thoughts on that?

if we are going to implement it we should remember to allow the users to disable this behavior by passing `--join false` which is going to require a workaround (https://github.com/tmds/Tmds.LinuxAsync/pull/29)

[2020-10-30 13:45] adamsitnik commented on #1578
Hi @srxqds

I am not sure if I understand your question but I assume that you speak about `MemoryDiagnoser`.

When I was implementing the MemoryDiagnoser 4 years ago, Mono was throwing `NotImplementedException` for  `AppDomain.MonitoringTotalAllocatedMemorySize` and `GC.GetAllocatedBytesForCurrentThread`

https://stackoverflow.com/questions/40234948/how-to-get-the-number-of-allocated-bytes-in-mono

[2020-10-30 13:54] EgorBo commented on #1578
@adamsitnik yep, `GC.GetAllocatedBytesForCurrentThread` and `GC.GetTotalAllocatedBytes` should work fine on Mono but only with .NET 5 and not in interpreter mode.

[2020-10-30 14:05] adamsitnik commented on #1578
@EgorBo thanks!

Do I understand correctly that Mono 6.12.0 which can be downloaded from https://www.mono-project.com/download/stable/ is not the .NET 5 Mono? How can I get the .NET 5 Mono?

[2020-10-30 14:13] #1576 closed

[2020-10-30 14:50] EgorBo commented on #1578
No, that's one is "classic" Mono, I don't think we have any official way to consume mono for .NET 5 atm. For .NET 5 we only ship Mono-wasm for Blazor.

One possible hack to consume Mono-net5 is here: https://github.com/EgorBo/MonoNET5Sample (not Windows-friendly)
AFAIK, @naricc is trying to figure out how to properly consume it for benchmarks now.

[2020-10-30 16:19] naricc commented on #1578
@adamsitnik

So, the way we are running benchmarks for  mono in .net5 (except for wasm, which is now supported in BDN) is to build a dotnet host, and then patch it with the mono-runtime bits by overwriting the appropraite dlls. For the runtime tests, we are buildign coreclr and patching it using this target:

https://github.com/dotnet/runtime/blob/ec26ee542d660d378004633de2eb511d6290a78c/src/mono/

[2020-11-01 18:49] kevinsalimi commented on #1559
Hello Adam,
I would like to contribute and update the doc if still possible.

[2020-11-02 10:31] isabr85 commented on #377
Hi @adamsitnik ,
I am using BenchmarkDotNet in Azure Function. When I am triggering this function I am getting an error that tells me "Access to the path '........\BenchmarkDotNet.Artifacts\results' is denied"
Can I disable the writing to the directories?

[2020-11-02 10:53] marcnet80 commented on #1242
Hello, @AndreyAkinshin, @adamsitnik. Please review PR:  Json exporter fix #1581
Thanks.

[2020-11-02 11:40] adamsitnik commented on #377
Hi @isabr85

To disable all exporters you need to define a config with no exporters. This should work:

[code]

and pass it to `BenchmarkRunner|Switcher`

[2020-11-02 11:59] adamsitnik commented on #1207
https://github.com/dotnet/BenchmarkDotNet/pull/1582

[2020-11-02 12:50] isabr85 opened #1583 "BenchmarkDotNet on Azure function"
Hi,
In my azure function I'm triggering BenchmarkDotNet with: BenchmarkRunner.Run<SerializeToString<Models.ThousandSmallClassArray>>();

However, the execution is finished immediately with the following output:
---------------------------------------------- Beginning of log file -----------------------------------------
 // Validating benchmarks:
// ***** BenchmarkRunner: Start   *****
// ***** Fo

[2020-11-02 14:59] isabr85 commented on #1583
Found a solution for this issue by simply use this configuration code:
`var config = ManualConfig
    .Create(DefaultConfig.Instance);
config.Add(Job.ShortRun.With(InProcessEmitToolchain.Instance));`

[2020-11-02 14:59] #1583 closed

[2020-11-03 15:18] adamsitnik commented on #1559
@kevinsalimi great! I've assigned you. Please let me know if you need any help

[2020-11-04 17:17] #1242 closed

[2020-11-05 08:22] timcassell opened #1585 "Non-optimized dependency"
I'm getting this error when I run the benchmarks.
[code]
I don't want to disable the optimizations validator, but I can't figure out why I'm getting this error. I'm referencing another csproj directly (so I have all the source code) instead of a dll.

This is what the referenced csproj looks like, with the configuration set to `Release Without Progress`:
[code]

What am I doing wrong? I have 2 oth

[2020-11-05 12:28] WojciechNagorski commented on #1585
My article should help you: https://wojciechnagorski.com/2018/12/how-i-improved-the-yamldotnet-performance-by-370/

You should add to your csproj:
[code]

[2020-11-05 20:17] #1585 closed

[2020-11-05 20:18] timcassell commented on #1585
Thanks @WojciechNagorski that did the trick.

[2020-11-05 21:51] timcassell opened #1586 ".Net Core 3.1 runtime breaks with csproj reference"
After fixing my issue with #1585, I'm getting an error only in the .Net Core 3.1 runtime. This only happens if I reference the csproj directly. If I build the netstandard 2.0 dll and reference it, it works fine in all runtimes. I also tried reverting the csproj to non-optimized and disabled the validator, but it still breaks.

I also noticed that it's saying the runtime is .Net 5.0, not sure why t

[2020-11-06 08:25] adamsitnik commented on #1585
#1494 should also help, but it has not been released to nuget.org yet

[2020-11-06 10:41] adamsitnik commented on #1586
Hi @timcassell

I've forked your code and investigated that. The problem that you describe was most probably caused by MsBuild configurations name mismatch. Between  `AsynchronousBenchmarks.csproj` , `ProtoPromise.csproj`  and the project with boilerplate code generated and build by BenchmarkDotNet.

 `AsynchronousBenchmarks.csproj` project does not define any custom build configurations:

https:/

[2020-11-06 10:41] #1586 closed

[2020-11-06 14:16] kevinsalimi commented on #1559
Evening Adam,

So far, I've updated the doc and also add the new ones base on the code.
But I've an ambiguity regarding some new args. Since I'm new in the project, realization of some args are not easy for me in order to categorize them in an appropriate category.

For example: `--strategy`
I couldn't figure out, whether it depends on an exist category or should be added at the end of the More pa

[2020-11-07 14:21] srxqds commented on #1578
yeah, we also hope it can work in mono interpreter mode.
thank you

[2020-11-08 23:57] ndrwrbgs commented on #155
Last I touched this, I was willing to handle the statistical analysis myself the blocker was that BenchmarkDotNet wouldn't _let_ me run in a UnitTest context. It seems from your results that you've already removed that blocker and are trying to put shipping it behind a full-on out-of-box polish. Is it possible to expose the "run inside unit test context" functionality as is to get more hands into

[2020-11-09 05:49] pawelpabich opened #1588 "Is there a way to measure performance in a hardware-independent way?"
Hey,

It's not easy to run a perf benchmark in an isolated environment that is hosted in one of the main Cloud providers. 2 VMs of the same size can yield vastly different performance.

My goal is to make sure that an existing piece of code doesn't suddenly become much slower.  One way to solve this problem would be to measure perf using a unit that is hardware-independent?  Doest Benchmark.NET  s

[2020-11-09 09:50] silkfire opened #1589 "Is there a way to disable a benchmark?"
Does there currently exist functionality to preventing invididual benchmarks from running, say with an attribute or a flag, instead of having to comment them out in code?

[2020-11-09 11:14] adamsitnik commented on #1589
Hi @silkfire

No, but you can use filters to choose which benchmarks you want to run by using `--filter` console line argument:

https://benchmarkdotnet.org/articles/guides/console-args.html#filter

If `--filters` is not enough you can implement your own filter:
* [doc](https://benchmarkdotnet.org/articles/configs/filters.html)
* [sample](https://github.com/dotnet/performance/blob/master/src/harne

[2020-11-09 11:14] #1589 closed

[2020-11-09 11:59] AndreyAkinshin commented on #155
@ndrwrbgs, sorry but the reliable statistical analysis is still in progress ("reliable" is the hardest part). Meanwhile, I continue publishing blog post related to the subject:
https://aakinshin.net/posts/weighted-quantiles/
https://aakinshin.net/posts/gumbel-mad/
https://aakinshin.net/posts/kde-bw/
https://aakinshin.net/posts/misleading-histograms/
https://aakinshin.net/posts/qrde-hd/
https://aak

[2020-11-09 18:00] ndrwrbgs commented on #155
I think you read my message too swiftly and missed the purpose, you seemed
to reply to what I stated was the NON purpose, so I'll repeat myself.

Last I checked, the library physically could not run from a unit test
context. It seems you're trying to do polish on analyzing the OUTPUT of the
library, which suggests you have changes locally that would let it run and
could unblock many, and we could

[2020-11-10 02:34] naricc opened #1591 "Wasm Benchmark Runs Failing with Target Framework Error"
Automated benchmark runs are failing with an Target Framework (TFM) Error, this seems to be related to changing TFM net6.0. Full error below.

This seems to be caused by the WasmToolChain defaulting the TFM to net5.0. Its a little tricky to fix, since the --runtimes option seems to be conflating two things; it is used to specify that the runtime is "wasm", but in other cases is actually used to sp

[2020-11-10 02:43] naricc commented on #1591
I intend to resolve this myself, if some one would be so kind as to make me the owner :)

[2020-11-10 12:29] adamsitnik commented on #1591
Hi @naricc

Thanks for providing a very detailed bug report.

Done!

I think that we should change this line:

https://github.com/dotnet/BenchmarkDotNet/blob/76909068d9edea1570e994b17b744a160d415804/src/BenchmarkDotNet/ConsoleArguments/ConfigParser.cs#L384

from hardcoded "net5.0" to something like this:

[code]

it's going to detect if the host process is .NET Core, and based on it's version (5 o

[2020-11-12 08:22] VijayakumarNatarajan commented on #1536
The above [PR](https://github.com/dotnet/BenchmarkDotNet/pull/1593) fixes the backslash issue. Please review and lemme know if it has to be modified.
@aaubry  @adamsitnik

[2020-11-12 09:11] #1591 closed

[2020-11-12 17:23] mbatms commented on #373
Would you consider reopening this? The feature could be as simple as this: let there be a dedicated exception type, let's say `ExpectedException`, that, when thrown, wouldn't crash the process, just tell BDN to ignore and possibly retry that particular run.
The use case: I have a benchmark that calls an HTTP endpoint that refuses the connection sporadically. I want these failures ignored instead o

[2020-11-12 17:24] mbatms commented on #373
To clarify: I would then catch the expected exception and throw an `ExpectedException` instead.

[2020-11-12 17:26] adamsitnik commented on #373
Hi @mbatms

[2020-11-12 17:28] adamsitnik commented on #373
Hi @mbatms

No, because it's not within the scope of the microbenchmark harness.

You should most probably use a different tool that was designed for HTTP benchmarking like [wrk](https://github.com/wg/wrk) or [bombardier](https://github.com/codesenberg/bombardier)

Thanks,
Adam

[2020-11-12 17:29] mbatms commented on #373
Is there any way of telling BDN to ignore a particular benchmark run?

[2020-11-12 18:01] adamsitnik commented on #373
No, but BDN implements outliers removal so if the given run takes much more time than others then it will be excluded from the results.

[2020-11-13 09:44] kg opened #1594 "Sequence contains no matching element"
Issue #333 doesn't seem to be fixed. I'm running some benchmarks in wasm, and presumably one of them is failing because I get this:

[code]

I'm not really sure why BDN would silently swallow the exception and then fail like this. Is there some way to get at the actual exception? Before my most recent changes to the test it was running, but I added an error check to it that is probably throwing no

[2020-11-13 10:41] mbatms commented on #373
So how do I make sure that it does remove a benchmark run? Even if I could magically make up the right delay, this would be a giant hack. Will you accept a PR?

[2020-11-13 11:10] adamsitnik commented on #373
@mbatms why don't you want to use tools that were designed for HTTP benchmarking and have been heavily adopted by not only .NET but also go, C++, and Java communities?

[2020-11-13 11:48] mbatms commented on #373
I'm not specifically benchmarking HTTP clients or servers, but some components that - among other things - make web requests, and sadly, some requests just fail randomly. I'm trying to compare performance of different implementations that connect to the same service. I should probably mock all network services, but right now I just want to see if there's significant difference between my client im

[2020-11-13 12:19] adamsitnik commented on #1594
BDN does not swallow any exceptions. The boilerplate code contains a big try-catch block that wraps the entire actual benchmarking and writes output to the console whenever an exception is thrown and just exits.

https://github.com/dotnet/BenchmarkDotNet/blob/0de41c2864de41fef983e55790490f1b3364ccbf/src/BenchmarkDotNet/Templates/BenchmarkProgram.txt#L35-L76

For non-WASM apps you can always just a

[2020-11-13 12:25] kg commented on #1594
More testing with --keepfiles revealed that the WASM app was crashing and BDN was swallowing the output. It's not clear whether the exit code was 0 or not. I surrounded it all in a try block and it crashed anyway.

[2020-11-13 12:37] adamsitnik commented on #1594
In the output that you have provided, there was information about 0 exit code:

Do you mean the logic inside the method with the `[Benchmark]` attribute? Is such a case it could be only some serious exception that runtime itself can't catch like `StackOverfloweException` or `AccessViolationException`. Is it possible that your code is dealing with some native methods, unsafe memory, or infinite rec

[2020-11-13 12:39] kg commented on #1594
It was an exception in the WASM code for the mono runtime, inside of a JS function call. I had a JS try block in the JS function call in addition to a C# try block in the benchmark method. It seems like it's impossible to catch runtime errors, so it might be good for BDN's wasm support to take this into account somehow. It's unfortunate that v8 produces a 0 exit code in this case (I'll see if ther

[2020-11-13 12:48] adamsitnik commented on #1594
I am not familiar with how v8 exactly works, but they way BDN starts the process is defined here:

@naricc is the best person to provide more details, I was just the person who reviewed his PR and tested it locally
https://github.com/dotnet/BenchmarkDotNet/blob/0de41c2864de41fef983e55790490f1b3364ccbf/src/BenchmarkDotNet/Toolchains/Executor.cs#L118-L121

The values come from:

https://github.com/d

[2020-11-13 18:53] naricc commented on #1594
I would expect the stack trace to go to the standard output with everything else. I didn't add anything to explicitly throw stack traces away, but maybe we are losing it accidentally some how.

[2020-11-13 20:08] kg commented on #1594
I will see if perhaps the stack trace is going to stderr and somehow that's getting blackholed.

[2020-11-18 01:40] scalablecory opened #1595 "ValueTask-returning benchmarks are not being called correctly"
When a benchmark returns a `ValueTask`, it is simply called with `.GetAwaiter().GetResult()`.

This is illegal `ValueTask` usage: you must not call `GetResult()` until the task has been completed.

`IValueTaskSource`-backed tasks do not need to support blocking on `GetResult()`. The in-box `ManualResetValueTaskSourceCore` does not support blocking `GetResult()`. Nor does the `DOTNET_SYSTEM_THREADI

[2020-11-18 16:19] MorganR opened #1597 "WASM benchmark fails with circular dependency error"
Hello, I'm trying to run a WASM benchmark, and I'm running into a Circular dependency error:

[code]

Command to run the benchmarks:

[code]

Interestingly, this runs two sets of benchmarks, one in the host environment (.NET 5, x64), and then one in WASM. I would have expected just the WASM benchmarks to run. The host benchmark succeeds, but then the WASM run results in the error above.

This is p

[2020-11-18 20:22] russellfoster opened #1598 "VB Net Framework project throws exception from command line tool"
Steps:
1. Created an empty 4.6.1 VB project in VS 2019.
2. Added nuget package for BenchmarkDotNet.
3. Build.
4. From prompt, run "dotnet benchmark ClassLibrary2.dll"
5. Get the following exceptions:

Unhandled Exception: System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types.
Could not load type 'Microsoft.VisualBasic.ApplicationServices.ApplicationBase'

[2020-11-19 12:26] Sergio0694 opened #1599 "[MemoryDiagnoser] inaccurate and influenced by [GlobalSetup] work"
Hi, I've been trying to use `BenchmarkDotNet` to profile the memory usage improvements in a new version of [`ComputeSharp`](https://github.com/Sergio0694/ComputeSharp), but I'm struggling to make sense of the reported memory usage, and I'm wondering whether I might be doing something wrong or whether there's some issues/caveats with `[MemoryDiagnoser]`, as the reported memory allocations seem a bi

[2020-11-19 13:24] adamsitnik commented on #1561
@JimBobSquarePants when [this](https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/36401162) build gets green (around 30-40 minutes from now) our CI should produce a new NuGet package with version `0.12.1.1467`. Could you please give it a try and let us know if it works fine?

[2020-11-19 13:47] adamsitnik commented on #1598
Hi @russellfoster

We were not able to fix this issue in a limited amount of time and we have decided to just remove the command-line tool. This has not been yet announced as we have not released a new version to NuGet.org, but the code has been already merged: https://github.com/dotnet/BenchmarkDotNet/pull/1572

Here you can find a doc that describes how to run the benchmarks without the command-

[2020-11-19 13:47] #1598 closed

[2020-11-19 21:33] JimBobSquarePants commented on #1561
@adamsitnik Sorry just saw this!

Looks like its's working. I'm getting readings in my benchmark and ImageSharp is no longer reporting native memory leaks which is expected.

![image](https://user-images.githubusercontent.com/385879/99726701-bb4d1800-2aae-11eb-86bb-e8828e501eed.png)

[2020-11-20 07:32] WojciechNagorski commented on #1561
@JimBobSquarePants Thanks for the information! If you find other problems, don't hesitate to create a new number.

[2020-11-20 12:06] adamsitnik commented on #1561
@JimBobSquarePants thank you!

[2020-11-20 12:06] #1561 closed

[2020-11-20 12:42] adamsitnik commented on #1597
Hi @MorganR

I know that @naricc has hit this error in the past and reported it in the dotnet/performance repo: https://github.com/dotnet/performance/issues/1518

@MorganR  Could you please try the workaround suggested there? (`This error doesn't occur if a custom runtime pack is specified with --customRuntimePack `)

@naricc did you find any solutions to that?

this happens because of the `Simple

[2020-11-20 12:59] adamsitnik commented on #1595
@scalablecory is is true for both `ValueTask` and `ValueTask<T>` or just `ValueTask`?

@stephentoub do you have any suggestions for a solution with minimum overhead?

[2020-11-20 13:19] adamsitnik commented on #373
@mbatms thank you for a full explanation. Have you considered adding a retry mechanism to the component that makes web requests? I understand your current needs, but I am really not eager to add any kind of exception handling to BenchmarkDotNet as it was simply designed to benchmark CPU-bound code that has no side effects.

[2020-11-20 13:31] WojciechNagorski opened #1602 "Update API in documentation"
There are many places in the documentation where we use:
* obsolete APIs (e.g. https://benchmarkdotnet.org/articles/configs/configs.html#object-style)
* APIs that have been changed (e.g. https://benchmarkdotnet.org/articles/configs/jobs.html#object-style).

Currently, I don't have enough time to address all of them.

[2020-11-20 13:33] adamsitnik commented on #1588
Hi @pawelpabich

It does not.

My current best idea is to get the assembly code and use an emulator that assigns a hardware-independent cost to every instruction. I've heard of such systems, but never used them myslef. It's also defnitely not on our TODO list (too big and too complex for an OSS benchmarking tool)

You could use the number of Instructions Retired, but I am not sure if this would be

[2020-11-20 13:33] #1588 closed

[2020-11-20 13:42] WojciechNagorski commented on #1602
@adamsitnik You can mark this issue as `Hacktoberfest`, `good first issue`, `help wanted`, `up-for-grabs`. I can't do it.

[2020-11-20 14:40] stephentoub commented on #1595
Both.
https://devblogs.microsoft.com/dotnet/understanding-the-whys-whats-and-whens-of-valuetask/

The best would be if whatever invocation loop benchmark.net generates was async and the returned task, whether a Task or a ValueTask, was just awaited.  There is overhead to synchronously blocking on a Task as well, overhead that doesn't exist when directly awaiting the Task.
[code]
where the delegate

[2020-11-20 16:58] naricc commented on #1597
I've put a low priority on that issue (https://github.com/dotnet/performance/issues/1518) because almost every one has been using the --customRuntimePack option, but if that doesn't work for your scenario I can try to get to it sooner.

[2020-11-20 23:08] MorganR commented on #1597
Thank you folks! That worked. To clarify a bit more for others, the full flag looks like this:

[code]

Note I assume you have to build a release WASM runtime in order for this to be present.

[2020-11-20 23:08] #1597 closed

[2020-11-21 14:00] pawelpabich commented on #1588
Thanks for the ideas. I will give them a try and see where I end up.

[2020-11-21 23:21] Lonli-Lokli commented on #155
Is there any working sample for performance tests based on benchmark.nwt?
Eg running sample web app with predefined set of tests, producing some report with one codebase (eg version 1 on netcore 3) and possibility to run same set on same virtual hardware on net5?

[2020-11-23 10:38] adamsitnik opened #1603 "Don't display Job and Toolchain column when running benchmarks for multiple runtimes"
The `Job` and `Toolchain` columns are redundant, `Runtime` is all we need:

![obraz](https://user-images.githubusercontent.com/6011991/99952390-defab180-2d7f-11eb-851c-ffef6fbb0647.png)

I see this very often when our users are presenting BDN results at conferences|meetups etc

The `Job` column should remain visible when the user has set the Job id in explicit way.

/cc @stephentoub

[2020-11-23 11:24] tomatopunk commented on #54
Hello @adamsitnik

The tail in 2020,Is there a good product or solution?

As described in your post,,I would like to know when code changes are decreasing performance.

As convenient as a unit test pipeline

[2020-11-25 17:47] rymeskar commented on #973
@adamsitnik and @AndreyAkinshin is there any news around 'run history difference reporting / exporting'?

[2020-12-02 07:57] timcassell commented on #1542
See issue https://github.com/dotnet/runtime/issues/45446

Even though I'm measuring differently there (total bytes instead of allocations), I think the problem is the same. It's affected in both .NET Core 3.1 and .NET 5.0 in my tests (5.0 is worse).

[2020-12-02 13:24] JohannesDeml commented on #1577
Duplicate of #1558

[2020-12-02 13:24] #1577 closed

[2020-12-02 13:57] JohannesDeml opened #1604 "Define custom names for [ParamsSource] classes"
# Problem
When using [ParamSource], the class names are often not the names that I want to use for the column entries. For example, I have the following code:
[code]

Since the classes `MessagePackCSharpTarget` and all others are within the namespace `DotNetSerializationBenchmark` I get the following entries for the benchmark results:
|      Method |       Runtime |           Serializer | ... |
|-

[2020-12-02 14:04] adamsitnik commented on #1604
Hi @JohannesDeml

BenchmarkDotNet is calling `ToString` on every parameter, so to get shorter names you can just override it:

[code]

this is a bug and should be fixed

[2020-12-02 14:17] JohannesDeml commented on #1604
Wow, that was a quick response! Thanks a lot for the hint, I totally missed that possibility, that indeed is a very easy fix for my problem.

As for the `summaryStyle.MaxParameterColumnWidth`: can you give me a hint where I should start searching for the bug. I would be happy to provide a PR, but it feels a bit hard to navigate around in the project.

[2020-12-02 15:37] adamsitnik commented on #1604
You welcome!

sure! The best place to start is to look at the PR where I've introduced it: #1265 You could start by adding a failing test to https://github.com/dotnet/BenchmarkDotNet/blob/master/tests/BenchmarkDotNet.Tests/ParameterInstanceTests.cs and then debug it from the IDE.

[2020-12-03 04:32] HurricanKai opened #1605 "CoreRT / NativeAOT version"
As per [this issue](https://github.com/dotnet/runtimelab/issues/415#issuecomment-737468088) BDN is using an outdated version by default, and I've not been able to find a way to set the version manually.

[2020-12-03 09:38] adamsitnik commented on #1605
Hi @HurricanKai

I've sent a PR that updates the compiler version and feed address: #1606

In the meantime, you can use the following code to get it working:

[code]

[2020-12-03 09:40] HurricanKai commented on #1605
Awesome, thanks!

[2020-12-03 09:40] #1605 closed

[2020-12-03 09:48] adamsitnik opened #1607 "Exporter approval tests has recently become unstable"
In https://ci.appveyor.com/project/dotnetfoundation/benchmarkdotnet/builds/36637918 I can see the following stack trace in the logs:

[code]

I currently don't have the time to investigate it, but my gut feeling tells me that it  can be related to our recent change in handling `double.NaNs` in #1581 (cc @ marcnet80)

[2020-12-03 20:35] jonso4 commented on #1215
@Doughboy02 were you able to solve this? I am running into the same issue!

[2020-12-03 20:40] Doughboy02 commented on #1215
Sorry I can't remember if I was able to fix this or not. I ran into it during an internship and I no longer work there and do not have access to the code :(

[2020-12-04 14:12] frank-dong-ms opened #1608 "timeout during benchmarkdotnet project restore"
Hi,

We are constantly seeing timeouts during restore of benchmarkdotnet project like below:

`
// start dotnet restore /p:Configuration=Release-netcoreapp3_1 --no-dependencies /p:UseSharedCompilation=false /p:BuildInParallel=false /m:1 in D:\a\1\s\artifacts\bin\Microsoft.ML.Benchmarks.Tests\Release-netcoreapp3_1\netcoreapp3.1\80eb7cd0-94a4-4eeb-811c-2198ef3272bd
// command took more that the time

[2020-12-04 14:25] adamsitnik commented on #1608
Hi @frank-dong-ms

From the logs that you have provided, it looks that `dotnet restore` performed by BDN on the auto-generated project takes more than 120s.

Have you changed anything recently that could affect this time? 2 minutes should and afair were always enough for the ML.NET repo.

The timeout is configurable.

In the case of ML.NET benchmarks, you would have to change the [following code](

[2020-12-04 16:20] JohannesDeml commented on #1150
Sorry I'm resurrecting the issue again. I just hit the same limitation. Having some control of the order for params in the results would be great. Since it seems hard (or even not doable) to do this with their line definition order, how about giving the option to change the order manually?

My idea would be to intruduce a Property in the Params attributes like so:

[code]

Then you could do:
´´´
p

[2020-12-04 19:34] frank-dong-ms commented on #1608
@adamsitnik Thanks Adam, I tried to increase the timeout and CI are passing.

We recently moved our build system from build tools to Arcade and that is the only significant change. I tried to change verbosity option to be detailed to benchmarkdotnet project's msbuild argument and log didn't show anything useful, do you know how can we tell where the time is being spent?

[2020-12-05 13:00] JohannesDeml commented on #1604
Thanks for the hints! I checked the tests, and the problem is not with the implementation of ParameterInstance, but with the execution order for creation of ParameterInstances and applying the config attribute.
I have the following setup:

[code]

The problem is, that `ParameterInstance.maxParameterColumnWidth` is set in its constructor, which is called, before the Config attribute is processed.

[2020-12-06 08:24] timcassell commented on #1599
Ah, I see you are using .NET 5.0. See https://github.com/dotnet/BenchmarkDotNet/pull/1543 and https://github.com/dotnet/runtime/issues/45446

Try running it in .NET Framework and CoreRt to see what results those runtimes report.

[2020-12-07 13:54] adamsitnik commented on #1604
I think that the problem is that we can have `SummaryStyle` per config (set in ctor) and per exporter (not set in ctor):

[code]

And I like your proposal from #1604:

👍

[2020-12-07 14:15] adamsitnik commented on #1608
How have you done that? Did you modify [this](https://github.com/dotnet/machinelearning/blob/c2f8ed5c9c478194fa6c7e387bc9f8fc43e4e0bc/test/Microsoft.ML.PerformanceTests/Harness/Configs.cs#L18) line?

The best way would be to enforce BDN to pass `/bl` to MSBuild and analyze the produced binary log with https://msbuildlog.com/ and keep the produced artifacts to play with the auto-generated projects

[2020-12-07 18:35] #1604 closed

[2020-12-07 21:22] Sergio0694 commented on #1599
Hey @timcassell - thank you for chiming in!
Unfortunately my library only targets .NET 5 as a minimum, so I won't be able to test that with .NET Framerwork or CoreRT 😟
I guess I can just keep doing more work manually in the benchmark setup for now and then wait for BDN `1.3.0` to be published.
Will update again once that is available! 🙂

[2020-12-08 16:14] adamsitnik commented on #1150
@JohannesDeml yes, as long as you are willing to work on this and provide a PR ;)

[2020-12-08 17:20] JohannesDeml commented on #1150
@adamsitnik Sounds good to me, even though it might take me some time.
Here are some quick thoughts after evaluating the task.

## Attributes that can be ordered
* `ArgumentsAttribute`
* `ArgumentsSourceAttribute`
* `GenericTypeArgumentsAttribute`
* `ParamsAllValuesAttribute`
* `ParamsAttribute`
* `ParamsSourceAttribute`

I will start with Params*.

As for naming: I think `Oder` would b e a fittin

[2020-12-08 17:29] adamsitnik commented on #1150
I am not sure about this one as it affects the result class name:

[code]

is translated to a `B<int>` type by the runner

for me the best ones are `Order` and `Priority`. Perhaps as you have noticed it would be nice to be consistent with the existing naming (Priority).

Great catch! It's most probably a mistake on our side, please move it.

Thank you for working on this!
Adam

[2020-12-09 09:15] pampua84 opened #1611 "RPlotExporter does not work"
Hi guys, I tried to benchmark for Asp Bet Core Password Hashers, but I always get an error when trying to get the png as a result from the plot.
The program is a console application in .Net Core 3.1 and bechmark package version is 0.12.1. Here is the simple code:

[code]

This is the BuildPlots.log

**Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, l

[2020-12-09 15:09] stebet opened #1613 "EventPipeProfiler generating invalid SpeedScope files."
Due to a recent change in the SpeedScope app and BenchmarkDotNet using outdated dotnet diagnostics tools, it currently generates invalid SpeedScope files that refuse to load with an error like:
[code]

Attached is speedscope file generated using BenchmarkDotNet 0.12.1
[speedscope.zip](https://github.com/dotnet/BenchmarkDotNet/files/5666791/speedscope.zip)

 A similar issue was reported here: https

[2020-12-09 15:15] adamsitnik commented on #1613
@stebet could you please try our latest preview version from our CI feed https://benchmarkdotnet.org/articles/guides/nuget.html#nightly and let us know if you can still repro it?

[2020-12-09 15:18] stebet commented on #1613
Will do. Otherwise I think I have a PR ready with a fix :)

[2020-12-09 15:28] stebet commented on #1613
Confirmed fixed in latest nightly :) Thx for the tip.

[2020-12-09 15:28] #1613 closed

[2020-12-09 15:52] adamsitnik commented on #1613
@stebet thank you!

[2020-12-09 22:04] johnthcall commented on #1562
@AndreyAkinshin @adamsitnik Is there a plan for releasing 12.2? I'm unable to multi-target the benchmarks in my repo without this fix.

[2020-12-11 13:40] njy opened #1615 "Add an "Allocated Ratio" column when using the memory diagnoser?"
When I try to wrap my head around speed differences I find it helpful to quickly look at the ratio column.

Wouldn't it be helpful to have the same kind of column about memory allocations?

[2020-12-11 13:53] adamsitnik commented on #1615
Hi @njy

Yes!

We alread have an issue that tracks this feature request: #722 (which is `up-for-grabs` BTW) so I am going to close this one.

[2020-12-11 13:53] #1615 closed

[2020-12-11 14:03] njy commented on #1615
Great,thanks!
Before posting I did check and in fact stumbled upon that issue, but was not sure if it was the same request, sorry for the double post.

I'll try to see if I'm able to implement it.

[2020-12-11 19:01] LevYas commented on #1512
I've just checked the .csproj file generated at <myproject>\Source\Tests\Benchmarks\bin\Release\1c6b7b7c-c006-4660-9342-ea8aef01ff6f\BenchmarkDotNet.Autogenerated.csproj, looks like it's ok:
[code]

Am I missing something or the issue is already solved?

[2020-12-11 20:40] am11 commented on #1512
This issue is about benchmark dotnet template https://www.nuget.org/packages/BenchmarkDotNet.Templates/, which was last updated eight months ago. It still creates a new console project with `netcoreapp3.0` with repro steps shown in the first post.

[2020-12-11 20:49] am11 commented on #1512
https://github.com/dotnet/BenchmarkDotNet/blob/e72ddfbb2fd2c87cd57cc40cfbd4da38b28939d5/templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.CSharp/_BenchmarkProjectName_.csproj#L3

[2020-12-12 08:09] LevYas commented on #1512
Got it, thank you. I'm new to BDN, I thought this template is used to generate that csproj I sent before.

[2020-12-13 07:59] lindexi opened #1616 "BenchmarkDotNet fail in WPF project with .NET 5.0-windows target"
Step:

1. Create a WPF project
2. Add BenchmarkDotNet package
3. Add and run any Benchmark code

Running the Benchmark code that we can find error NU1201: Project Benchmark is not compatible with net5.0 (.NETCoreApp,Version=v5.0). Project Benchmark supports: net5.0-windows7.0 (.NETCoreApp,Version=v5.0)

[code]

Demo: https://github.com/lindexi/lindexi_gd/tree/f0b45eecb63e6ceef7a3abe5b43503abb317fd

[2020-12-14 07:34] adamsitnik commented on #1616
Hi @lindexi

This problem has been already reported (#1535) and fixed (#1560) but we just have not released new version to NuGet.org

To get it working today you need to use the latest preview version from our CI feed: https://benchmarkdotnet.org/articles/guides/nuget.html#nightly

Thanks,
Adam

[2020-12-14 07:49] lindexi commented on #1616
Thank you @adamsitnik

[2020-12-14 09:53] JohannesDeml commented on #654
I'm having some overhead due to method calls + dictionary lookups. From the date of this issue and #431 I guess there hasn't been any progress on them, but I feel that this additional logic can help generate more meaningful/correct statistics. Has anyone ever started working on it? If so, please let me know. I would like to continue to get this feature a reality.

I think the notion by @adamsitnik

[2020-12-14 11:17] pr8x opened #1617 "Build native project dependency"
I have some `csproj` that references a `vcxproj` and that builds just fine in Visual Studio. However, `dotnet build` (as used internally) does not support building native projects. I am wonder if there's a way to skip the building of these native dependencies (tried `--no-dependencies` to no avail) and provide the prebuild binaries myself?

[2020-12-14 11:37] adamsitnik commented on #1562
@johnthcall you can use our preview packages from our CI feed: https://benchmarkdotnet.org/articles/guides/nuget.html#nightly

@AndreyAkinshin we should really release a new version ;)

[2020-12-14 11:45] adamsitnik commented on #1617
Hi @pr8x

BenchmarkDotNet does not offer anything like this and I rather don't see us implementing it.

What target framework are you targetting? .NET or .NET Core? How do you build your app and run it without VS?

You can always use the [InProcessToolchain](https://benchmarkdotnet.org/articles/configs/toolchains.html#sample-introinprocess) which runs everything in proc without generating and buil

[2020-12-14 12:01] pr8x commented on #1617
Hi, I am targeting `.NET 5`. Apart from VS I use `nuke` to build my app on the CI, but I doubt they allow to build a single project (would probably require some extra setup). I could probably try to invoke `MSBuild` directly somehow. Does Benchmark.NET have support for a `MSBuild` toolchain (that doesn't use `dotnet build` internally)?

I tried using `InProcess` on my benchmark suite, but that als

[2020-12-15 11:19] adamsitnik commented on #1617
It does not, but `dotnet build` "should just work" ;)

Do I understand correctly that even if you remove BenchmarkDotNet from your project you still can not build it from the console using `dotnet build` despite the fact that it's a .NET Core app?

[2020-12-15 11:24] pr8x commented on #1617
As mentioned above `dotnet build` cannot deal with native/C++ projects (see https://github.com/dotnet/sdk/issues/10239). So, yes, it fails to compile the .NET Core project since that is referencing a C++ project. This is supported in MSBuild, but apparently not by w/e toolchain is used by `dotnet build`. I think I might need to write some custom MSBuild driver to make this work then.

[2020-12-15 12:17] WojciechNagorski commented on #1617
@pr8x Maybe this will help you https://wojciechnagorski.com/2019/09/using-native-dll-and-resource-files-in-benchmarkdotnet-projects

There is a sample repo https://github.com/WojciechNagorski/NativeMemorySample

[2020-12-15 21:22] marcnet80 commented on #1607
Hello, @adamsitnik, I removed code which resets **IndentationLevel**. After finishing Serialization **IndentationLevel** becomes zero.
Please review PR.

[2020-12-16 09:18] #1607 closed

[2020-12-16 09:38] PrimoDev23 opened #1619 "[QUESTION] Benchmark inlining but different results"
Hello guys,
I just want to ask a question in terms of inlining and benchmark.net

I have benchmarked a different way for string.IsNullOrEmpty (See code below)
Now I have discovered that this code

![image](https://user-images.githubusercontent.com/46970398/102331383-11688a80-3f8b-11eb-951b-6cbb98979813.png)
(around 27ns)

is faster compared to this one

![image](https://user-images.githubuserconte

[2020-12-16 10:10] adamsitnik commented on #1619
Hi @PrimoDev23

The best way to find out why it happens is to use [DisassemblyDiagnoser](https://adamsitnik.com/Disassembly-Diagnoser/) and compare the produced assembly code.

In the code that you have provided the JIT might replace the loop with a const due to constant folding. You should avoid loops in your benchmarks, you can read more about it [here](https://github.com/dotnet/performance/blob

[2020-12-16 10:10] adamsitnik commented on #1619
Since there is nothing actionable on BDN side, I am going to close the issue. @PrimoDev23 please feel free to reopen it if my answer was not enough.

[2020-12-16 10:10] #1619 closed

[2020-12-16 14:14] sdanyliv opened #1620 "NullReferenceException in v0.12.1"
Hi,
I don't think I can create small reproducible sample but probably this call stack should help.
[code]

[2020-12-17 10:54] paulegradie commented on #1564
Any idea when the next release (0.12.2) is going to make it to nuget? Would be nice to have this fix available. Currently prototyping some benchmarking work and I have to clone and locally install to get around it. 🙏 🙏

[2020-12-17 13:36] adamsitnik commented on #1564
You can install the latest preview from our CI feed: https://benchmarkdotnet.org/articles/guides/nuget.html#nightly

@AndreyAkinshin is the best person to answer this question

[2020-12-18 07:38] adamsitnik commented on #1620
Hi @sdanyliv

It's a duplicate of #1448 which has been already solved in #1488 but just not yet released to nuget.org

To avoid this problem you can either update to the latest preview version: https://benchmarkdotnet.org/articles/guides/nuget.html#nightly

Or wait until we publish a new version to NuGet.org

Thanks

[2020-12-18 07:38] #1620 closed

[2020-12-19 14:59] marcnet80 commented on #1603
Hello, @adamsitnik, please review PR.
Thanks.

[2020-12-22 05:58] paulegradie opened #1622 "Benchmark Job fails to compile when linking solution items"
Hi all - thanks for keeping this project alive. Looks really great.

We'd like to create a project in one of our products that we'll use to automate performance testing and we'd love to use BenchmarkDotNet as our standard. Unfortunately, we have a custom, and somewhat unique solution structure, that prevents us from being able to successfully execute benchmark code.

When BenchmarkDotNet attempts

[2020-12-27 21:21] ExceptionCaught commented on #1512
hi @adamsitnik . I would like to contribute, can you please assign this to me. cheers. and Happy new year.

[2020-12-27 23:13] ExceptionCaught opened #1623 "Integrate with msbuild"
Hi:
     As stated in the documentation, BDN supports Full .NET Framework (4.6+) as well.
     However, most of the classic .net framework uses the old project file. Is there any plan to integrate with msbuild as a custom Task. I think it will dramatically expand the use case of BDN for the classic solution.

[2020-12-28 10:15] AndreyAkinshin commented on #155
@ndrwrbgs sorry for misreading your question, my bad.

While we are not recommending executing benchmarks from the unit test context (because a unit test runner may introduce some performance side effects), you can definitely do that. If you have any problems, please file a separate issue with all the details (the unit test framework title, it's version, how do you run tests, etc.).

[2020-12-28 10:27] AndreyAkinshin commented on #155
@Lonli-Lokli
1. The "performance tests" feature is still in progress, there are no workable samples for now.
2. You can execute the same set of benchmarks against multiple runtimes using `Job` (see an example in README). Next, you can manually process the results or programmatically get the raw data from `Summary` (which is returned by `BenchmarkRunner.Run`) and process it any way you want.

[2020-12-28 12:36] tomersh26 opened #1624 "[EtwProfiler] Merge operation failed return code 0x507"
I'm trying to use the ETWProvider, and I'm getting the following exception when the benchmark execution is about to end:

// AfterAll

Unhandled Exception: System.Exception: Merge operation failed return code 0x507
   at Microsoft.Diagnostics.Tracing.Extensions.ETWKernelControl.Merge(String[] inputETLFileNames, String outputETLFileName, EVENT_TRACE_MERGE_EXTENDED_DATA flags)
   at Microsoft.Diagno

[2020-12-28 14:05] #1624 closed

[2020-12-28 14:10] tomersh26 commented on #1624
Suddenly it started to work and that exception wasn't thrown anymore.
I tried to undo few recent changes I did, but I can't find what has fixed that exactly.

[2020-12-30 19:07] RobertHenry6bev opened #1625 "installation fails on ubuntu 20.10"
On ubuntu 20.10, the installation through build.sh fails

Executing task: Restore
No usable version of the libssl was found
An error occurred when executing task 'Restore'.
Error: One or more errors occurred. (.NET Core CLI: Process returned an error (exit code 134).)
	.NET Core CLI: Process returned an error (exit code 134).

There's no suggestion as to what a usable version of ssl is.  I have in

[2020-12-30 19:07] RobertHenry6bev opened #1626 "Installation uses"

[2020-12-30 19:07] RobertHenry6bev opened #1627 "Installation uses popd"

[2020-12-30 19:08] #1627 closed

[2020-12-30 19:08] #1626 closed

[2020-12-30 19:11] RobertHenry6bev opened #1628 "Installation uses legacy/archaic dotnetcore 2.1.503"
.NET Core SDK version 2.1.503 is installed by build.sh

Can this be rolled forward to dotnetcore 5.0.0?

[2021-01-04 10:45] adamsitnik commented on #1623
Hi @ExceptionCaught

Both old and new project files are supported. Our Full .NET Framework toolchain uses Roslyn to generate and build the assembly, so this is not affecting it.

Is there something that does not work for you? Can you share a repro?

[2021-01-04 10:46] adamsitnik commented on #1512
@ExceptionCaught done, thank you!

[2021-01-04 11:25] ExceptionCaught commented on #1623
hi @adamsitnik . I am trying to achieve the same thing for our full .net framework project as `dotnet benchmark MyAssemblyWithBenchmarks.dll --filter *` which is documented on [this page](https://benchmarkdotnet.org/articles/guides/how-to-run.html). unless we can dotnet benchmark on the dll that is generated by msbuild?

[2021-01-04 12:21] adamsitnik commented on #1623
@ExceptionCaught I see.

The global dotnet benchmark tool was causing too many troubles and we have decided to remove it: https://github.com/dotnet/BenchmarkDotNet/pull/1572

We still have not released a new version, but it's going to be removed officially in the next release.

Please see https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/guides/how-to-run.md for the latest versio

[2021-01-04 22:04] ExceptionCaught commented on #1623
hi @adamsitnik . thanks for the update. I was thinking of a way to run benchmark as part of the CI/CD pipeline without actually create a new console app to run it. I will wait for the new update to come through.

[2021-01-05 10:30] adamsitnik commented on #1623
The thing that we had was working only for certain versions of .NET Core. It was a pain for us to maintain for reasons explained [here](https://github.com/dotnet/BenchmarkDotNet/pull/1572#issue-509439490). This is not supported anymore and we don't plan to add re-add it.

All you need to do is to have a console app that defines the benchmarks (or references a library that defines them) and use [Be

[2021-01-05 10:30] #1623 closed

[2021-01-06 01:38] jonsequitur opened #1629 "Writing to Console.Error in benchmarked code causes a deadlock"
When writing to `Console.Error` within code being benchmarked, the benchmark runner deadlocks.

Just a hunch but this could be caused by a common gotcha reading redirected stdin and stdout streams: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.standardoutput?view=net-5.0#remarks

Here's a trivial repro:

[code]

[2021-01-07 13:41] adamsitnik commented on #1512
Fixed by #1630

[2021-01-07 13:41] #1512 closed

[2021-01-08 19:53] IdanZel opened #1634 "Custom names for argument/parameter values"
Hello,
I recently came across the following issue while writing benchmarks.

Say I have a benchmark that receives one argument of type `List<int>` through an `ArgumentsSource`, for example:
[code]

The summary for this benchmark would look like this (max column width increased, measurement results are random):
[code]

Since the text displayed in the `argument` column is the same for both cases, an

[2021-01-09 19:02] colgreen opened #1636 "UnrollFactor setting not working"
Example using 0.12.1 (runtime is .NET 5)

    [InvocationCount(3, 1)]
    public class Test
    {
        public static void Main() => BenchmarkRunner.Run<Test>();

        [IterationSetup]
        public void MySetup() => Console.WriteLine("MySetup");

        [Benchmark]
        public void MyBenchmark()
        {
            Console.WriteLine("MyBenchmark");
            Thread.Sleep(100);

[2021-01-10 22:14] paulegradie commented on #1622
Hi all,

After a bit of reading, we came across a workaround that will like prevent the BenchmarkDotNet team (or anyone else) from making any changes to resolve this problem.

The workaround in this case was to move to using the 'new-style' approach to providing build properties to assemblies and provide links directly to the assemblies when necessary. To accomplish these two things, we first made

[2021-01-10 22:14] #1622 closed

[2021-01-11 22:36] timcassell commented on #1634
What if BDN has this special `NamedArg` struct that it can check for when parsing the `Source`? That is much clearer intention in the code and should translate easily to the table.

[code]

[code]

[2021-01-11 22:51] timcassell commented on #1634
Or another option, maybe better, is BDN to have a special enumerable type just for this:

[code]

This would be easier to implement than checking the generic types, and I think also a little cleaner in benchmark code.

[2021-01-13 06:56] tkhametov opened #1638 "Running BenchmarkDotNet Tool within Docker container"
Hi there. I've tried to run BenchmarkDotNet Tool within Docker container. Here is my Dockerfile
[code]

When I enter into the container and try to run `dotnet benchmark --help` I get the following error:
[code]

Has anybody else tried to run the tool within a container? Is it a configuration issue of SDK or the tool? As you can see I didn't put any benchmarks into the container, I just try to run

[2021-01-13 08:49] adamsitnik commented on #1638
Hi @tkhametov

We have removed the dotnet benchmark global tool and plan to no longer support it: https://github.com/dotnet/BenchmarkDotNet/pull/1572

Please use `dotnet run` combined with `[BenchmarkSwitcher]` as described [here](https://github.com/dotnet/BenchmarkDotNet/blob/2b1d3b509b71592e2390634645da363f79c2f0cf/docs/articles/guides/how-to-run.md#benchmarkswitcher)

I am going to close the is

[2021-01-13 08:49] #1638 closed

[2021-01-13 22:54] Jason1269 opened #1639 "BenchmarkDotNet.exe crash doesn't release resources"
Benchmarkdotnet fails to release handles when it desn't exit cleanly.  On one instance I accidentally removed some artifacts (git clean -fdx), causing app to crash.  After this, I wasn't able delete files nor I rebuild my project

Handle.exe doesn't show any open handles either, and neither Benchmark.exe nor pid 16788 show in task manager

It does show up when using pslist

I have full admin privi

[2021-01-14 09:01] codingdave commented on #946
@bonesoul try `Always` instead of `PreserveNewest`. I'm also struggling with this.

Actually my background is that I want to benchmark a .net library with uses a huge C++ project under the hood that is made accessible with a C++/CLI wrapper. Because I have several projects that use C++ and .Net and generated files I have written clean msbuild target files that do the copying job for me. Unfortunat

[2021-01-14 09:30] adamsitnik commented on #1639
Hi @Jason1269

Thank you for a detailed bug report. Is the bug reproducible for you?

I've tried to run `git clean -xfd` while running `dotnet run -c Release -f netcoreapp2.1 --filter BenchmarkDotNet.Samples.IntroArgumentsSource.SingleArgument` in our samples project and I got an exception at the end, but overall it exited and released all resources:

<details>

[code]

[code]

</details>

[2021-01-14 15:19] papafe commented on #687
I am having the same kind of issue with `Arguments are not supported by the InProcessToolchain yet, see #687 for more details` on Xamarin.iOS with Forms.
I have tried using the latest BDN from CI with the same results, and I have managed to reproduce the error using the sample Xamarin.Forms project in the repo by trying to run the `IntroArguments` benchmarks.
The problem with Xamarin.iOS is that:

[2021-01-14 16:08] adamsitnik commented on #687
@papafe I am afraid that this is by design (see #1360 for full details):

mono binary, we have to run in-process. Xamarin.iOS also shouldn't
use System.Reflection.Emit until the interpreter is more stable.
Users of BDN can experiment with the interpreter by configuring
their benchmarks manually.

 and we don't rather plan to fix it as it would require a non-trivial investment in the `InProcessNoEm

[2021-01-14 16:10] papafe commented on #687
@adamsitnik Well, it's at least good to know that this is the case and that it's not due to something that I have missed/misconfigured.

Thanks a lot for the answer!

[2021-01-15 00:46] pha3z opened #1640 "How to eliminate "Extra Premature Test Invocation"?"
I have tried numerous attribute configurations including this one:
`[SimpleJob(RunStrategy.Monitoring, launchCount: 0, warmupCount: 0, targetCount: 1, invocationCount: 1)]`

Nothing I can do seems to prevent a benchmark method from being prematurely run once before the test invocations.
I would expect there is a way to accomplish this:

1. Execute GlobalTest method.
2. Execute MethodUnderTest meth

[2021-01-15 06:26] timcassell commented on #1640
Did you try running with `RunStrategy.ColdStart`?

[2021-01-15 22:22] Jason1269 commented on #1639
Hi @adamsitnik,

Thank you for prompt response, I am not able to reproduce with sample project I created either.  I am able to reproduce with a work project.  Will have deeper look see what edge case might have caused this and update

[2021-01-19 10:17] codingdave commented on #946
@bonesoul I finally succeeded with

    <None Include="$(OutDir)\**\*">
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
      <Link>%(RecursiveDir)\%(Filename)%(Extension)</Link>
      <Visible>False</Visible>
    </None>

Please note: This method requires that all your resources you want to carry along need to exist at `$(OutDir)` when you start your compilation. If later buil

[2021-01-19 12:58] Youssef1313 opened #1641 "CONTRACTS_FULL needs to be defined for Pure attribute to be included in compiled assembly"
There are a couple usage of Pure attribute in the repo. It won't be included in the compiled assemblies as CONTRACTS_FULL isn't defined.

[2021-01-20 16:15] #1629 closed

[2021-01-20 18:57] adamsitnik commented on #1513
Fixed by #1587

[2021-01-20 18:57] #1513 closed

[2021-01-20 21:43] Pepo-BG opened #1642 "BenchmarkDotNet stuck because of the .log file"
Hello,
I run some benchmarks for my DB, but at some point, the PC lost connection to the SQL Server. Because of that, the BenchmarkDotNet.log file started logging messages like `A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 0 - An existing connection was forcibly closed by the remote host.)`.  T

[2021-01-21 11:49] adamsitnik commented on #1642
Hi @Pepo-BG

BenchmarkDotNet does not know anything about your benchmark. If your benchmark is writing anything to console, BDN just writes it to the log. However, if your benchmark writes to standard error (`Console.Error`) it might get stuck due to #1629 which already got fixed in #1631 but have not been released to nuget.org yet (a matter of a few weeks from now)

it's very unlikely as we have

[2021-01-21 11:54] adamsitnik commented on #1642
I believe that I've answered all your questions. Since there is nothing actionable on our side, I am going to close the issue.

If you attach a debugger and validate that even with a [preview version](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly) of BDN you can get the benchmark stuck, please feel free to provide a minimum repro case and reopen the issue. Thanks!

[2021-01-21 11:54] #1642 closed

[2021-01-21 19:02] adamsitnik commented on #1628
Fixed by #1637

[2021-01-21 19:02] #1628 closed

[2021-01-21 19:04] adamsitnik commented on #1354
No response since October, closing

[2021-01-21 19:04] #1354 closed

[2021-01-22 09:40] Youssef1313 commented on #1641
Defining it is likely to cause more issues. Closing.

[2021-01-22 09:40] #1641 closed

[2021-01-23 12:52] juniormayhe commented on #344
The referred GcStats link exists, but the other links in your answer are missing:

- https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Reports/BenchmarkReport.cs
- https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet.Core/Reports/Summary.cs

[2021-01-25 14:21] kevinsalimi commented on #1602
Evening,
If no one works on this, I would like to take part.

[2021-01-26 09:30] patricksadowski commented on #1356
How can this be done for params that need setup and clean up? I tried a custom type overriding `ToString()`. This leads to less columns in the results and affects exporters.

[2021-01-26 10:56] adamsitnik commented on #1356
You need to perform the setup in the argument type ctor and cleanup in `IDisposable.Dispose`. The latter was recently added (#1571) and has not been released to nuget.org yet, but we plan to do it next week. If you can't wait, you can use our preview packages as described [here](https://benchmarkdotnet.org/articles/guides/nuget.html#nightly)

[code]

[2021-01-26 12:38] adamsitnik commented on #1602
@kevinsalimi great, I've assigned you!

[2021-01-26 12:45] kevinsalimi commented on #1559
Hello @adamsitnik,
Could you please help me on this?
If my question is not clear let me know please. 😊
Thank you.

[2021-01-26 12:47] adamsitnik commented on #1559
@kevinsalimi please excuse me for the delay. I think that it's OK if you add everything that you are not sure of to the More part

[2021-01-27 19:58] kevinsalimi commented on #1559
It's OK. thank you.

[2021-01-29 14:47] #1290 closed

[2021-01-29 17:27] dotMorten commented on #1535
I'm curious how with the fix merged above, would I specify for instance `net5.0-windows10.0.18362.0` with the simple job attribute?
[code]

[2021-01-31 05:45] Eddie-Hartman opened #1646 "Feature Request: Add RPlotExporter Images to Html Exporter"
I'm new to this project and enjoying it so far.

It seems to me like a possible low hanging fruit to add an option that when you are exporting both HTML and RPlot to add the ability to include the images in the HTML as relative links. This makes it really easy to see a lot of the data in one location along with the visualizations you've created.

I've seen the ability to customize exporting option

[2021-02-01 08:34] adamsitnik commented on #1646
Hi @Eddie-Hartman

I like your idea, but I am afraid that we won't have time to implement it ourselves. Would you like to help us a bit and send a PR?

Thanks!

[2021-02-01 08:51] #1559 closed

[2021-02-02 15:57] Pepo-BG commented on #1642
Thank you, @adamsitnik for your help! Very helpful links!
About my case - when I killed the process - the running benchmark failed and BDT continued.

[2021-02-03 09:31] hypeartist commented on #1639
I have the same issue from run to run. Here is a screenshot of console output:
![image](https://user-images.githubusercontent.com/3519388/106726673-b9114900-661b-11eb-9177-c455a6a435a6.png)

[2021-02-03 20:32] lupengamzn commented on #147
+1

[2021-02-04 07:48] #1602 closed

[2021-02-04 09:57] sgashua opened #1648 "does project performance in production get affected if keep [Benchmark] in every functions and publish it to production?"
i only want to test benchmark during debug. but would like to disable benchmark in production if it does affect performance. is it possible?

[2021-02-04 12:22] adamsitnik commented on #1648
Hi @sgashua

Your product code should not be using `[Benchmark]` annotations. You should rather add a new project to your solution and implement benchmarks there. When deploying to production, you should include just the product, not the benchmarks.

Why is that? The debug builds contain zero optimizations enabled and have a very BAD performance. When measuring performance and deploying to product

[2021-02-04 12:22] #1648 closed

[2021-02-04 18:02] SivaSankarGorantla commented on #1453
Fixed it? but how?

[2021-02-05 16:45] jeff-brooks commented on #844
Thanks for this workaround @adamsitnik . I have similar needs and believe I can make this work via the approach you provided.

Did want to check if this approach has any updates since it was posted?

[2021-02-05 16:46] adamsitnik commented on #844
No updates, sorry.

[2021-02-05 17:32] kevinsalimi commented on #1603
What's the status for this?

[2021-02-05 18:02] jeff-brooks commented on #844
No problem. Again, thanks for sharing that workaround.

[2021-02-08 14:59] goramartin opened #1649 "Measure a method that spawns Tasks"
Hello,
I was wondering If it is a good idea to measure methods containing parallel execution. The methods I want to measure are rather simple... spawn work (ThreadPool), end when all threads are finished and no IO operations.

Example:
The method Insert inserts elements stored in the provided Array into the ConcurrentDictionary.

    [Benchmark]
        public void MeasureInsert()
        {

[2021-02-09 14:24] Turnerj opened #1650 "Benchmark returning ValueTask can fail in .NET 5.0 while work in .NET Core 3.1"
This is a bit of a weird one and may more highlight a bad use of `ValueTask` in my own code than anything else but thought I'd still raise this here as I'm not 100% sure.

Take this minimum example I've managed to extrapolate from my original code:
[code]

The benchmark `ThisWorks` works in .NET 5.0 and .NET Core 3.1 whereas `ThisDoesnt` fails in .NET 5.0 BUT works in .NET Core 3.1. When it fails,

[2021-02-09 14:25] Turnerj commented on #1650
It _may_ relate to #1595 but I'm not 100% sure.

[2021-02-12 11:07] AlFasGD commented on #1520
With a Ryzen 7 1800X, I can report the same issue. It wouldn't recognize the CacheMisses perf counter because it's simply not listed as such; it's separated into `DcacheMisses` and `IcacheMisses`, and apparently that's exclusive to some AMD processors.

And having looked at the code itself, [the error does not assume that the perf counter is not supported by the CPU itself](https://github.com/dotn

[2021-02-12 11:14] adamsitnik commented on #1520
I've recently ordered a PC with AMD CPU (ThreadRipper :D) and I am supposed to get it before the 31st of March. When I do, I am going to make sure that Hardware Counters works as expected on AMD

[2021-02-15 04:07] timcassell commented on #1595
I was thinking about how to achieve this. What @stephentoub said makes sense, so I was thinking of a way to do it without having to refactor the entire engine, only the measurement. I came up with this:

<details><summary>async void measurer</summary>

[code]

</details>

This makes sense logically, but it has a critical issue: `async void` has overhead of its own. So I thought, write a custom tas

[2021-02-15 04:16] timcassell commented on #1650
That definitely sounds like a runtime bug. You should report that in https://github.com/dotnet/runtime/issues

[2021-02-15 10:40] adamsitnik commented on #1650
It's a duplicate of #1595, please follow it for the updates (I don't plan to fix it in the near future as I am simply too busy with other things)

[2021-02-15 10:40] #1650 closed

[2021-02-15 11:35] adamsitnik commented on #1636
[code]

You have set the invocation count to 3 and unroll factor to 1, hence the code gets executed 3 times per iteration. This works as expected. I am not sure if I understand where the problem is?

[2021-02-15 11:54] colgreen commented on #1636
Hi. Perhaps I have misunderstood then. The scenario is performance testing of Array.Sort, where we pre-allocate a large array at global startup time,  fill it with random (unsorted) values as part of [IterationSetup]. Thus, we want to re-run [IterationSetup] once before each [Benchmark], otherwise the benchmark is sorting already sorted data.

My reading was that the Unroll=n would cause the Bench

[2021-02-15 12:02] adamsitnik commented on #1636
I see. What you are looking for is `InvocationCount`, which sets the number of invocations per iteration. Unroll factor controls the manual loop unrolling which you most probably should not care about when using `IterationSetup`. This is why it's set to 1 by default.

You might find the following doc useful: https://benchmarkdotnet.org/articles/guides/how-it-works.html

[2021-02-15 12:02] #1636 closed

[2021-02-15 12:09] Turnerj commented on #1650
Thanks for confirming! No sweat for fixing it - I'm sure we're all juggling a bunch of things! Plus it looks like @timcassell might be making some progress via #1595. The specifics for the interaction for tasks and awaiting isn't something I've dug into a large amount so it is all a bit over my head so there isn't really any additional help I think I can provide.

Anyway, hope you smash your work

[2021-02-20 20:37] adamsitnik commented on #1640
@timcassell is right, `RunStrategy.ColdStart` is what you are looking for

[2021-02-20 20:37] #1640 closed

[2021-02-20 20:40] adamsitnik commented on #1625
`build.sh` is used by our CI and is not indented to be used by the end-users

If you want to install BenchmarkDotNet, then you should just install the NuGet package.

If you want to build from source, you should be able to do `dotnet build ./BenchmarkDotNet.sln
` in the root folder:

[code]

[2021-02-20 20:40] #1625 closed

[2021-02-20 20:42] #1594 closed

[2021-02-20 20:43] #1578 closed

[2021-02-20 20:46] adamsitnik commented on #1611
Hi @pampua84

The log that you have provided shows that the problem is not related to BenchmarkDotNet, but your config (missing perl):

[code]

Since there is nothing actionable on BDN side, I am closing the issue.

[2021-02-20 20:46] #1611 closed

[2021-02-21 00:02] RealDotNetDave opened #1653 "Internal Call Error"
In one of my benchmarking apps, it was working but now when I run it, I get the following:

[code]

No logs I can send you since the testing EXE is not created. I am using .NET 5 and BenchmarkDotNet v 0.12.1.

[2021-02-21 17:10] RealDotNetDave commented on #1653
I figured it out. I was doing some testing using the [MethodImpl(MethodImplOptions.AggressiveInlining)] attribute. I guess that does not work in a benchmarking app.

[2021-02-21 17:10] #1653 closed

[2021-02-21 21:06] sharwell opened #1654 "Update for 0.12.2"
We're at a place in dotnet/roslyn where it's not easy to avoid the use of `LangVersion=preview`. Would it be possible to push a 0.12.2 update to NuGet so we have easy access to #1420 without needing to modify the project locally every time we want to run benchmarks?

[2021-02-24 10:59] cedric-cf opened #1655 "Documentation - Obsolete usage of the 'With' method in place of 'WithOptions'"
**Context**

- Using last version of BenchmarkDotNet@0.12.1
- Writing a manual Config by using the documentation:
[https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/configs/configoptions.md/#L1](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/configs/configoptions.md/#L1)

**Problem**

The section seems to be outdated.

The `public static IConfig With(this ICo

[2021-02-24 11:02] adamsitnik commented on #1655
@cedric-cf would you like to send a PR with the fix? the source code is here: https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/configs/configoptions.md

[2021-02-24 11:09] cedric-cf commented on #1655
@adamsitnik I will take a look and I will go back to you.

[2021-02-24 19:23] RealDotNetDave opened #1656 ".NET Core Benchmark Test Not Completing"
I have been trying to run my benchmark app for .NET Core 3.1. At first, I got an error that suggested that I add the InProcessAttribute attribute. After doing that, the benchmark app just disappears with no errors logged. I have attached the log file.
[dotNetTips.Utility.Benchmarks.Serialization.JsonSerializerPerfTestRunner-20210224-091540.log](https://github.com/dotnet/BenchmarkDotNet/files/60383

[2021-02-24 20:03] adamsitnik commented on #1656
Have you tried debugging it? https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/guides/troubleshooting.md#debugging-benchmarks

[2021-02-24 21:04] RealDotNetDave commented on #1656
I did not know about that. Will try now.

[2021-02-24 22:44] RealDotNetDave commented on #1656
Does turning this on slow down the benchmark testing?

[2021-02-25 01:08] RealDotNetDave commented on #1656
Ok, I figured it out. Adding that attribute didn't help since VS would launch and then nothing happened. Nothing in VS and benchmark app froze. I went back to a more manual method and found this issue. Thanks for your help.

[2021-02-25 08:32] #1656 closed

[2021-02-25 09:39] #1655 closed

[2021-02-25 13:44] heaths opened #1658 "Pass arguments to runner in dotnet new templates"
Templates for `dotnet new` were added for #1028 but don't use any passed arguments for the runner. With the global tool deprecated, this world provide a convenient way of customizing frameworks, reports, etc. from a console.

So instead of:

[code]

The templates could use:

[code]

[2021-02-25 13:53] adamsitnik commented on #1658
@heaths that's a very good point. Would you like to send a PR? The code is available here:

https://github.com/dotnet/BenchmarkDotNet/blob/master/templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.CSharp/Program.cs
https://github.com/dotnet/BenchmarkDotNet/blob/master/templates/templates/BenchmarkDotNet.BenchmarkProjectTemplate.FSharp/Program.fs
https://github.com/dotnet/BenchmarkDotNet/

[2021-02-25 14:48] heaths commented on #1658
Happy to, but in testing this out, I found it would otherwise force passing something like `--filter *Benchmarks*` (or whatever non-default benchmark name was used) so I'm trying to find a suitable replacement, i.e. no additional input required so the UX remains consistent. Using `BenchmarkSwitcher.FromTypes` doesn't change this behavior, such that you're prompted for which benchmarks to run if no

[2021-02-25 14:52] heaths commented on #1658
Somewhat oddly, `BenchmarkSwitcher.RunAll` doesn't take `args`. This almost seems to imply that `Run(args)` was meant mainly to filter benchmarks, while seemingly all possible options of the old global tool can be passed (I didn't compare completely, but both are long lists of switches and have a lot of recognizable overlap).

[2021-02-25 14:59] heaths commented on #1658
Seems the main culprit is: https://github.com/dotnet/BenchmarkDotNet/blob/b4e2b69cbe5065a0315e8ff62035db2694db4686/src/BenchmarkDotNet/Running/BenchmarkSwitcher.cs#L108

If types were provided explicitly like in the following example that could be used in the template instead, perhaps, by default, the user shouldn't be prompted. Given the seeming intent of passing an explicit list of benchmark typ

[2021-02-25 17:14] SnakyBeaky commented on #617
For anyone that might end up in this issue while looking for this functionality, the attribute `GroupBenchmarksByAttribute` was added and allows multiple baselines (and with `CategoriesColumnAttribute` too).

For example, this benchmark:
[code]

Will output something like:
[code]

[2021-02-25 19:09] heaths commented on #1658
To clarify, if that was the intent, I can go ahead and fix that problem in the `BenchmarkSwitcher` as well. I just wanted to make sure that was indeed the intent.

[2021-03-02 19:25] netcorefan1 opened #1660 "Determine the best method to call when that method is expected to run only once (or a very limited number of times)"
Hello to all,
I am very new to BDN, therefore please accept my apologies if what I'm assuming is wrong.
From what I understand the library is meant to measure performance on heavy load scenarios.
However I often find myself in situations where I would like to know if a method may bring more benefits over another when I expect that method to run only once (or a very limited number of times).
Suppos

[2021-03-04 16:02] #1570 closed

[2021-03-04 18:25] p-bojkowski commented on #54
Has anyone tried this ?

[Continuous Benchmark (.NET)]( https://github.com/marketplace/actions/continuous-benchmark-net)

[2021-03-04 18:59] p-bojkowski commented on #155
Has anyone tried this ?

[Continuous Benchmark (.NET)]( https://github.com/marketplace/actions/continuous-benchmark-net)

[2021-03-05 09:21] adamsitnik opened #1661 "Stop gracefully when benchmark fails with an exception that can not be caught by a catch block"
The original issue was reported in https://github.com/dotnet/performance/issues/1701:

[code]

The benchmark process exited with `-1073741819` which translates to `0xc0000005` which is **Access Violation**.

BenchmarkDotNet should:

* detect failures for exceptions that can not be caught (most probably [this](https://github.com/dotnet/BenchmarkDotNet/blob/8c28c871ea0422a1489bda153880046cc90ee136/s

[2021-03-05 09:40] #1539 closed

[2021-03-05 18:15] leandromoh opened #1663 "Complete different result for same build"
Sometimes I run the `Benchmark.exe` , produced by Visual Studio, 2 times or more followed and get much different results.
Specially in "Mean" collumn.
Any reason for that?

## For example:

## First execution

[code]
|                      Method |           Job |       Runtime | LimitRecord |       Mean |     Error |      StdDev |     Median |       Gen 0 | Gen 1 | Gen 2 | Allocated |
|----------

[2021-03-05 18:57] danmoseley commented on #1661
I wonder whether Watson grabbed a dump.

[2021-03-06 04:36] kevinsalimi commented on #1661
I wanna take this, if still available.

[2021-03-06 10:35] adamsitnik commented on #1661
@kevinsalimi I've assigned you. Please let me know if you need some help.

[2021-03-06 22:24] zjklee commented on #54
Yep, I'm currently using it in [Handlebars.Net](https://github.com/Handlebars-Net/Handlebars.Net).

[2021-03-07 06:04] glennawatson opened #1664 "ProjectReference stripped of needed attributes - Source Generators"
Trying to do some performance profiling on our source generators.

[code]

The OutputItemType and the ReferenceOutputAssembly are important but are getting stripped in the auto-generated version which is simply:

[code]

[2021-03-07 06:11] glennawatson commented on #1664
I need to investigate more closely, apologies, will open another issue, since it's including the benchmark project.

[2021-03-07 06:11] #1664 closed

[2021-03-08 10:06] adamsitnik commented on #1663
There are many reasons why it might be happening. Some of them:
* code|memory alignment changes
* various heuristics (like Tiered JIT not promoting given method to Tier 1)
* OS (other busy processes taking over the resources, CPU scheduling)
* hardware (disk, CPU cache)

To find out why, you need to use a profiler, capture two trace files and compare them. You can do that by using [PerfView](https

[2021-03-08 10:06] #1663 closed

[2021-03-08 12:57] adamsitnik commented on #1660
In case you want to specify the number of invocations in an explicit way, you should read the [how it works](https://benchmarkdotnet.org/articles/guides/how-it-works.html) doc to get a good understanding of what you can configure and use one of the config options [1](https://benchmarkdotnet.org/api/BenchmarkDotNet.Attributes.SimpleJobAttribute.html#BenchmarkDotNet_Attributes_SimpleJobAttribute) [2

[2021-03-08 12:57] #1660 closed

[2021-03-08 18:18] ProIcons opened #1665 "Inconsistent results between BenchmarkSwitcher and BenchmarkRunner"
I have this benchmark class.
[code]

### And i get 2 different results if i run it with **BenchmarkRunner** vs **BenchmarkSwitcher**.

[code]
[code]

[code]
[code]

Any idea why might that happening?

[2021-03-09 11:35] adamsitnik commented on #1665
Hi @ProIcons

There are many reasons why it might be happening. Some of them:
* code|memory alignment changes
* various heuristics (GC, Tiered JIT etc)
* OS (other busy processes taking over the resources, CPU scheduling)
* hardware (disk, CPU cache)

To find out why, you need to use a profiler, capture two trace files and compare them. You can do that by using [PerfView](https://github.com/dotnet

[2021-03-09 11:35] #1665 closed

[2021-03-09 11:46] ProIcons commented on #1665
Well i mean yeah it seemed odd to me. But i ran these over 5 tjmes each and i got the same results. The same deviations i don't know. It might nit actually matter but i was a bit curious

[2021-03-09 16:38] JohannesDeml opened #1666 "Custom Diagnoser for average CPU and RAM usage during the test"
I would like to add columns to the benchmarks for the average CPU and RAM usage during the test ([I'm benchmarking network libraries](https://github.com/JohannesDeml/NetworkBenchmarkDotNet)).
I tried using `AddDiagnoser(new EventPipeProfiler(EventPipeProfile.CpuSampling));`, but due to the sheer number of calls in my benchmark, the resulting file is multiple gigabytes in size and takes a long time

[2021-03-10 08:12] msedi commented on #1457
First: Thank you very much for your efforts and your work in general on benchmarkdotnet

Do you have news on this topic. In our projects we are facing enormous problems, none of our benchmarks work since we are using a enterprise-wide Directory.Build.props? It would be nice if there would be a solution to this issue.

[2021-03-12 23:15] YohDeadfall commented on #1021
Looks like to reproduce the problem you should get an exception in the diagnoser, so no data will be written to the temporary file. @adamsitnik, could you provide me instructions on how to debug BenchmarkDotNet itself using modified source code?

[2021-03-13 05:44] sgashua opened #1668 "I want to benchmark method from unit of work and repository"
I can't run benchmark using this method. It keeps saying error: DefaultJob. Only able to get benchmark working if I don't use unit of work and repository and use simple one such as for loop, add items to List<Items> inside method with [Benchmark] etc.

How to benchmark method from unit of work and repository?

Example
[code]

[2021-03-13 12:18] adamsitnik commented on #1668
What error are you getting when you try to run this benchmark?

[2021-03-13 13:14] sgashua commented on #1668
Error below.

[code]

[2021-03-14 05:21] danmoseley opened #1669 "--buildTimeout does not seem to work"
I seem to be encountering the issue @adamsitnik pointed out here https://github.com/dotnet/performance/issues/1231#issuecomment-600525198

When running the microbenchmarks script from the dotnet/performance repo on my Intel Atom machine, the build takes ~4 minutes (!), which exceeds the default 2 minutes timeout. So I modified the script to add --buildTimeout but it is ignored.

The command in thi

[2021-03-14 05:32] danmoseley commented on #1669
Incidentally, after this point there is enormous output because BDN tries to run benchmarks, fails, emits the error messages above several times, tries to run benchmarks, etc. Should it be stopping, or is that the wrapper script invoking it again - not sure.

[2021-03-14 10:55] adamsitnik commented on #1669
@danmoseley Until we fix it, the following workaround should work in the perf repo:

[code]

(`--bdn-arguments` is a way to pass any arguments from the python script to bdn)

[2021-03-14 13:58] RononDex opened #1670 "dotnet benchmark cli tool errors with .net5.0 assemblies"
I am trying to benchmark my **.net5.0** assembly which has the following benchmark defined:

[code]

I built the assembly and tried to execute it using:
[code]

However, it outputs following errors:
[code]

[2021-03-14 15:17] danmoseley commented on #1669
I'll do that, thanks!

[2021-03-14 19:04] msschl opened #1671 "Generate Exception: Access to the path '...' is denied."
When running BenchmarkDotNet with project files located on a second drive (SSD W:/) BenchmarkDotNet fails with `Generate Exception: Access to the path 'W:\System Volume Information' is denied.`

But when I copy all project files for example on my C:/ drive on my Desktop and run `dotnet run -c Release` there, then the benchmark runs without any problems...

[code]

[code]

Benchmarks.csproj
[code]

[2021-03-15 09:16] adamsitnik commented on #1670
Hi @RononDex

We have removed the dotnet benchmark global tool and plan to no longer support it: https://github.com/dotnet/BenchmarkDotNet/pull/1572

Please use `dotnet run` combined with `[BenchmarkSwitcher]` as described [here](https://github.com/dotnet/BenchmarkDotNet/blob/2b1d3b509b71592e2390634645da363f79c2f0cf/docs/articles/guides/how-to-run.md#benchmarkswitcher)

Thanks,
Adam

[2021-03-15 09:16] #1670 closed

[2021-03-15 09:23] adamsitnik commented on #1021
@YohDeadfall Sure! https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/articles/contributing/disassembler.md (but the doc has not been updated for a long time, so you might need to remove|reorder some of the arguments)

[2021-03-15 10:15] adamsitnik commented on #1671
Hi @msschl

I suspect that the exception comes from this method that tries to search for solution and project file:

https://github.com/dotnet/BenchmarkDotNet/blob/314a27fc26cbbc9aa15d7250ad12578aab632641/src/BenchmarkDotNet/Toolchains/CsProj/CsProjGenerator.cs#L161-L163

Could you please try to run the following example and see if it's also going to fail?

[code]

[2021-03-15 10:33] msschl commented on #1671
@adamsitnik Yes, it fails as well.

[code]

[2021-03-16 08:12] En3Tho commented on #1654
@adamsitnik @AndreyAkinshin Is there any progress on this? At least make a 0.12.1.1 or whatever. It's such a pain to try new features in defferent repos

[2021-03-17 11:26] ilohmar commented on #1403
Hi, is there any progress on the implementation?  I am only asking because it sounded like the problem was basically solved. :)

We also have a custom build configuration to do out-of-tree builds, and currently use the workaround of putting a stripped-down `Directory.Build.props` (which does not change any output paths) into the build output dir.

[2021-03-17 12:57] rdcm commented on #1383
@adamsitnik Hi! Look like I have a similar issue with my benchmark. After printed section  `// AfterAll` execution stopped. Could you suggest any workaround while `v0.13.0` not released?

`net5.0`
`BenchmarkDotNet - 0.12.1`

[2021-03-17 13:39] WojciechNagorski commented on #1403
@ilohmar @adamsitnik  After I wanted to fix this problem I changed the project at work, then I changed work at all. So I didn't have time for this task. Currently, I have only an idea but I don't have time for it.

[2021-03-20 19:00] YohDeadfall opened #1673 "Source code provider incorrectly handles multiline source code"
`SourceCodeProvider` correctly handles `Shape` generation for multiline symbols which start position is less than the end, but otherwise, fails on smart pointer creation:

https://github.com/dotnet/BenchmarkDotNet/blob/10abc4f4daa5142f0257c9d512a38afc2ab28be1/src/BenchmarkDotNet.Disassembler.x64/SourceCodeProvider.cs#L26-L28

To reproduce the issue just run benchmarks for [Yoh.Text.Segmentation](h

[2021-03-20 19:01] YohDeadfall commented on #1021
Opened #1673 which was a reason in mine case. The fix will be soon.

[2021-03-22 20:57] scalablecory commented on #784
I'd love to see this. This would be very useful for networking benchmarks to show stats about the socket.

[2021-03-24 12:22] kevinsalimi commented on #1661
Hello @adamsitnik. Thank you for the assignment.
I spend ample time on this issue and learned a lot during code exploration although I have some questions.
I assume that the `AccessViolation` exception is [this](https://docs.microsoft.com/en-us/dotnet/api/system.accessviolationexception?view=net-5.0), am I right?

[2021-03-24 13:50] kevinsalimi commented on #1661
Hello @adamsitnik. Thank you for the assignment.
I spend ample time on the issue and learned a lot during the code exploration yet I have some questions.

The `AccessViolation` exception is [this](https://docs.microsoft.com/en-us/dotnet/api/system.accessviolationexception?view=net-5.0), am I right?

After creating a benchmark, I couldn't simulate any exceptions that cannot be caught by a catch blo

[2021-03-24 19:00] jonsequitur opened #1677 "Add support for BenchmarkRunner.RunSource on .NET 5"
Currently, `RunSource` is only supported on .NET Framework. It would be very useful to add support for this for .NET 5.

[code]

[code]

[2021-03-26 06:40] timcassell commented on #1649
I tried 2 different methods for measuring threaded work: `Parallel.Invoke` and manually controlling persistent threads. The workload was simply incrementing an integer. Here are the results:

[code]

You can see that the overhead of scheduling the tasks dwarfs the actual workload, but the standard deviation was acceptable to be confident in the results. Using manual threads with barriers gained us

[2021-03-28 08:46] kant2002 opened #1678 "Benchmarking not possible if use central package management"
If add `<ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally>` to `Directory.Build.props` at solution level, then BenchmarkDotNet do not like that and fails with
[code]

Because generated project has `<ImportDirectoryBuildProps>false</ImportDirectoryBuildProps>` inside csproj file, I cannot control what's going on inside that project

[2021-03-28 09:45] kant2002 commented on #1678
Ok. I was misinterpret results in output. it was seems to be #1699

[2021-03-28 09:45] #1678 closed

[2021-03-28 09:46] kant2002 commented on #1669
Is is possible that same issue happens when using ManualConfig + CoreRtToolchainBuilder?

[2021-03-29 13:18] kant2002 opened #1680 "Cannot override RD.xml for NativeAOT"
I would like to be able override RD.xml for the benchmarks,
Right now I do not see how I can do that without manually modifying source code for the BenchmarkDotNet.
Class `BenchmarkDotNet.Toolchains.CoreRt.Generator` has access only to `BuildPartition` and `ArtifactsPaths` and I cannot detect original project location. Maybe there a way to preserve original rd.xml from the project?

[2021-03-30 05:55] shps951023 opened #1681 "How to get process 'Max' memory usage for each method process"
How to get process 'Max' memory usage for each method process

---

Like visual stuido debug diagnostic tools, can know `max memory uasage` by chart
![](https://i.imgur.com/QTsXHSN.png)

I've tried [dotnet/BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet) `MemoryDiagnoser` to get `Allocated`, but it's `all memory usage` not max memory usage.

[code]

Why I'd like to do it?
Because I want

[2021-03-31 10:11] SnakyBeaky opened #1682 "Difference between InProcess toolchains"
Is there a big difference between Emit and NoEmit InProcess toolchains?

https://github.com/dotnet/BenchmarkDotNet/blob/10abc4f4daa5142f0257c9d512a38afc2ab28be1/src/BenchmarkDotNet/Toolchains/InProcess.Emit/InProcessEmitToolchain.cs

https://github.com/dotnet/BenchmarkDotNet/blob/10abc4f4daa5142f0257c9d512a38afc2ab28be1/src/BenchmarkDotNet/Toolchains/InProcess.NoEmit/InProcessNoEmitToolchain.cs

I

[2021-03-31 12:31] adamsitnik commented on #1682
@ig-sinicyn PTAL

[2021-04-01 08:41] robertpi opened #1683 "Can't generate a flame graph using BenchmarkDotNet.Diagnostics.Windows"
I've tried following the instructions here to generate a flame graph from my benchmark:
https://benchmarkdotnet.org/articles/features/etwprofiler.html

But what ever I try, it seems no stack trace information is included in the output file.

My CPU Stacks window always looks like this:
<img width="483" alt="2021-04-01 10_32_34-CPU Stacks(0 metric) Benchmarks Trace AspNetCore AspNetCoreBenchmark As

[2021-04-01 08:46] adamsitnik commented on #1683
Hi @robertpi

What is the output of the `Log` (button is in the bottom right corner) when you open the trace file with PerfView?

[2021-04-01 08:55] robertpi commented on #1683
Attached:
[PerfViewLogFile.txt](https://github.com/dotnet/BenchmarkDotNet/files/6242310/PerfViewLogFile.txt)

[2021-04-01 09:09] adamsitnik commented on #1683
This looks fishy.

Could you try to use PerfView to collect a simple trace file and see if it contains any CPU samples?

[2021-04-01 09:23] robertpi commented on #1683
[PerfViewLogFile.txt](https://github.com/dotnet/BenchmarkDotNet/files/6242477/PerfViewLogFile.txt)

This is the log file collected from the same benchmark using:

`dotnet-trace collect --providers Microsoft-DotNETCore-SampleProfiler:0x0000F00000000000:4,Microsoft-Windows-DotNETRuntime:0x00000014C14FCCBD:4,BenchmarkDotNet.EngineEventSource -p 18876`

There is data under the "Any Stacks" node using

[2021-04-01 09:57] adamsitnik commented on #1683
`dotnet-trace` uses a different mechanism of CPU samples collection (EventPipe) than PerfView (ETW). I want you to use PerfView (Collect -> Collect) to see if it's a BDN, or ETW bug. A very recent Windows update has introduced an ETW bug and we just need to verify if you are not hitting the Windows bug.

[2021-04-01 10:10] robertpi commented on #1683
Oh, right, didn't realize the collect method was different. Collect -> Collect from PerfView gives the same results as Etw Profiler included in BenchmarkDotnet. Here's the log:
[PerfViewLogFile.txt](https://github.com/dotnet/BenchmarkDotNet/files/6242739/PerfViewLogFile.txt)

This is my Windows version details:
[code]

[2021-04-01 14:55] robertpi commented on #1683
I ended up working round this by adding a new IDiagnostic that launches dotnet-trace in another process. It got me the data I wanted. Would you like a PR with this?

[2021-04-01 16:04] adamsitnik commented on #1683
We already have a diagnoser that uses EventPipe (it does exactly the same thing dotnet trace does): https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Diagnosers/EventPipeProfiler.cs

But we have not published it to nuget.org yet.

If you want to give it a try, please use our CI NuGet package feed:

[code]

https://benchmarkdotnet.org/articles/guides/nuget.html

[2021-04-01 16:24] N0D4N opened #1684 "Getting System.FormatException when passing certain string as params."
Passing `\\e\"` with `ParamsAttribute` to string field causes `System.FormatException: Input string was not in a correct format.` on `// BeforeAnythingElse` stage.
However passing `\\\"` works just fine so my guess is - e placed between `\\` and `\"` somehow changes behavior.
Environment info:
[code]

Exception stack trace:
[code]

Minimal reproducible program:
[code]
Full logs: [BenchmarkDotNetBu

[2021-04-02 08:01] robertpi commented on #1683
Oh right, yes that does look easier. I'll give it ago.

Anything else we need to do to confirm this is the Windows ETW bug? Do you have a link with more info about this?

Otherwise, for me we can consider this closed.

[2021-04-04 17:13] am11 opened #1685 "Support for SingleFile && SelfContained apps"
Currently, it seems like the true single file deployment (supported in .NET 5 onwards) is not working properly with BenchmarkDotNet.

### Repro

[code]

another strange thing is the `./publish` directory has more files than expected (in case of a console app without BenchmarkDotNet reference):

[code]

[2021-04-05 09:54] ig-sinicyn commented on #1682
@SnakyBeaky

There are two versions of in-process toolchains. The first one, `InProcessEmitToolchain` is preferred as it emits same IL code the default toolchain do. We have a test that should fail if there are any differences in the emitted code. As far as I know there were no changes in the emit logic so far, so it can be considered stable:)

Second one, `InProcessNoEmitToolchain` is a fallback

[2021-04-06 09:20] #1682 closed

[2021-04-07 14:44] adamsitnik commented on #1683
@robertpi From the public links all I have is https://twitter.com/austinkinross/status/1372328600167358466

Since this is not a BDN issue, I am going to close it.

[2021-04-07 14:44] #1683 closed

[2021-04-08 05:47] robertcoltheart commented on #1654
Agreed, can we get some traction on this please?

[2021-04-08 09:46] msschl commented on #1671
How would I fix this issue? @adamsitnik

[2021-04-12 14:33] nicosijtsma opened #1687 "System.ValueTuple dependency is causing versioning issues after updating to NetStandard/NetCore"
https://github.com/dotnet/BenchmarkDotNet/blob/63e28c100a42a6492d09a0b93a8a4c141061bb0d/src/BenchmarkDotNet/BenchmarkDotNet.csproj#L26

As System.ValueTuple is part of the .NET 4.7 and .NET Standard framework, it should not be necessary to reference the package in the project

Our projects are reporting below warning
Warning MSB3277: Found conflicts between different versions of "System.ValueTuple

[2021-04-13 10:15] adamsitnik commented on #1687
We had a lot of issues with similar .NET Standard dependencies in the past. (https://github.com/dotnet/BenchmarkDotNet/issues/667, https://github.com/dotnet/BenchmarkDotNet/issues/895, https://github.com/dotnet/BenchmarkDotNet/issues/1160)

They were all caused by VS which was generating wrong assembly binding redirects. The solution was to just remove what the VS has generated. There is very litt

[2021-04-13 10:17] adamsitnik commented on #1616
@raffaeler is there a chance you could create a small GitHub repo with a repro?

[2021-04-13 10:23] raffaeler commented on #1616
Hi Adam, the project looks like straightforward.
Could you try this project configuration first?

All I do is just calling `BenchmarkRunner.Run<MyBenchmark>();` with a very simple test.

[code]

[2021-04-15 18:36] alex-jitbit opened #1688 ""Unable to find <Project>" when running on another (linux) machine"
I created a benchmark console app on Windows, and want to run it on linux.

I published the project, copied it to the linux machine and get the above error. Docs never mention that I actually need .csproj and .sln files. What do I need to do to make it work? Copy the .csproj files to linux? What else?

[2021-04-18 19:11] xoofx commented on #1520
A bit related to this PR/issue https://github.com/dotnet/BenchmarkDotNet/pull/1438#issuecomment-620573164

Problem seems in Windows, ETW is not correctly reporting events for AMD CPU (reported [here](https://twitter.com/xoofx/status/1382598436906790912))

[2021-04-19 10:20] xoofx commented on #1520
After some experiment with ETW directly, I can see that `DCRefillFromL2` is generating some numbers, so it could be used for L1 cache misses while `DCRefillFromSystem` might be for L2 cache misses. I'm not 100% sure of that, trying to figure out how I can stabilize the numbers (fluctuating consistently quite a bit).

[2021-04-19 20:13] kevinsalimi commented on #1661
@adamsitnik

[2021-04-20 13:33] adamsitnik commented on #1616
@raffaeler I was able to repro, sent the fix in #1691 I am sorry for the delay but recently I've been 100% busy ;/

[2021-04-20 14:51] raffaeler commented on #1616
@adamsitnik no worries, I totally understand, I am also on several projects and it's difficult to multiplex the time
Hope to meet in some conference before or later, toasting with beers :)

[2021-04-20 18:31] kg opened #1692 "Bug running wasm benchmarks - Broken Pipe in writeline"
The BDN runner seems to have a bug where it tries to write into the process's stdin even though the process may have exited. I have a set of benchmarks where with a certain build of the wasm runtime, the benchmark run always fails with this exception - but if I run the benchmark manually (using the command line + cwd from the 'execute' line) it works fine.

[code]

The relevant code seems like it

[2021-04-21 06:13] timcassell commented on #1661
I'm not sure how to generate an uncatchable `AccessViolationException`, but you could throw an uncatchable `StackOverflowException`:

[code]

[2021-04-21 07:30] adamsitnik commented on #1692
It was fixed by @naricc in #1689

[2021-04-21 07:30] #1692 closed

[2021-04-21 17:19] RealDotNetDave opened #1693 "Estimate Date for Supporting .NET 6"
Is there an estimate when BenchmarkDotNet will support .NET 6?

[2021-04-21 17:31] adamsitnik commented on #1693
It already does, but you need to use a preview package from our NuGet feed

[2021-04-22 07:22] adamsitnik commented on #1616
I am looking forward to that!

[2021-04-22 07:23] #1693 closed

[2021-04-22 07:28] adamsitnik commented on #1688
By default BDN generates some boilerplate code and builds it with `dotnet cli`. This is why you need the source code and .NET SDK to be present.

You can run all the benchmarks in the same process by using [InProcessToolchain](https://benchmarkdotnet.org/articles/configs/toolchains.html#sample-introinprocess) and then you don't need that, however, if your benchmarks have side effects, then the res

[2021-04-22 08:05] #1673 closed

[2021-04-22 08:11] #1685 closed

[2021-04-22 13:53] #1616 closed

[2021-04-26 05:23] kant2002 commented on #1680
@adamsitnik do you have an idea what would be proper fix? I really like to be able test with NativeAOT. I can implement that myself probably if I see less invasive fix.

[2021-04-28 16:34] adamsitnik commented on #837
I thought that I've solved this problem in #1573, but today I've run into this problem again when benchmarking PowerShell (https://github.com/PowerShell/PowerShell/pull/15242)

We should most probably implement the approach described by @AndreyAkinshin :

Having said that, I am going to reopen the issue.

cc @daxian-dbw @adityapatwardhan

[2021-04-29 08:32] verdie-g opened #1694 "Length cannot be less than zero"
Hello, with this benchmark
[code]

I get a
[code]

BenchmarkDotNet: 0.12.1
Target Framework: .NET Core 2.1 (also tested with 3.1)

If you can't reproduce on your side I'll dig deeper.

[2021-04-29 09:16] cheenamalhotra opened #1695 ".NET 6.0 support for ThreadingDiagnoser"
Currently using **ThreadingDiagnoser** and targeting .NET 6.0 preview versions, leads to below error:

[code]

Would like support for ThreadingDiagnoser in .NET 6.0 too.

---
Benchmark.NET **v0.12.1**
TargetFramework: **net6.0**

[2021-04-29 09:47] adamsitnik commented on #1695
Hi @cheenamalhotra

Could you please try the latest preview version from our CI feed and see if you can still repro it?

https://benchmarkdotnet.org/articles/guides/nuget.html#nightly

[code]

[2021-04-29 16:30] cheenamalhotra commented on #1695
Tried **v0.12.1.1533** - same error.

[2021-05-02 08:56] furesoft opened #1696 "Support .net 5 Runtime and global tool"

[2021-05-03 19:53] lipchev commented on #54
We're also exploring this in [UnitsNet](https://github.com/angularsen/UnitsNet/pull/923). I've also added a few steps for storing and comparing against an existing base-line (using the [dotnet/performance/tools/ResultsComparer](https://github.com/dotnet/performance/tree/main/src/tools/ResultsComparer), which I hope would find it's place in the a future release of the BenchmarkDotNet).

However- un

[2021-05-05 07:35] adamsitnik commented on #1696
https://github.com/dotnet/BenchmarkDotNet/pull/1572

[2021-05-05 07:35] #1696 closed

[2021-05-07 08:13] workgroupengineering opened #1699 "[Bug] The filter is not merge when UnionRule is Union"
https://github.com/dotnet/BenchmarkDotNet/blob/4b5a65d5953d4937cc966a3817dfa2e5a2145398/src/BenchmarkDotNet/Configs/ManualConfig.cs#L239-L260

[2021-05-07 08:24] adamsitnik commented on #1699
@workgroupengineering would you like to send a PR?

[2021-05-07 10:11] workgroupengineering opened #1700 "[Bug] Not unique exporter for exporter type"
## Description

If the same exporter is defined in several levels (assembly and class) with different parameters, they are not merged.

## Steps to Reproduce

1. Download attachment
2. Decompress
3. Run
4. At the end of benchmark you can see in Console output like this:
[code]

## Expected Behavior
Console output like this:
[code]

Version: [0.12.1](https://github.com/dotnet/BenchmarkDotNet/releas

[2021-05-07 13:13] #1699 closed

[2021-05-09 12:01] novak-as opened #1703 "Unable to run benchmark when `ParamsSource` refers to string with surrogate pairs"
BenchmarkDotNet version: `0.12.1`
DotNet version: `5.0.202`
System: `Win10`

Minimal code to reproduce:
[code]

Output:
[code]

`\uD83D` here is a high surrogate character of a `😀` (`\uD83D\uDE00`).

[2021-05-09 16:46] lipchev opened #1704 "Obtain an average over an ArgumentSource"
Related to #258

I'm also trying to obtain a statistic over a range of inputs. I'm currently doing a for-loop iteration of the input array- having previously defined it's size as the `OperationsPerInvoke` (also struggling with the problem of it having to be a constant).

I would love to be able to supply the input array as an `[ArgumentSource(nameOf(StringInputs), joined = true)]` which would be e

[2021-05-09 16:52] lipchev commented on #258
As a workaround- I've resorted to using a Source Generator that creates a class named BenchmarkConstants where I have all of the dynamically calculated stuff (like the size of my Enums) placed as constants.

[2021-05-10 06:51] adamsitnik commented on #1704
Hi @lipchev

I am not sure if I understand. What exactly `Joined = true` would do for the following benchmark?

[code]

[2021-05-10 07:01] adamsitnik commented on #1703
Hi @novak-as

Is there any chance that you could check if it repros with our latest preview version? You can get it from the following CI NuGet feed:

[code]

[2021-05-10 09:09] novak-as commented on #1703
Hi @adamsitnik,

yes, I am able to reproduce it with `0.12.1.1538`:

[code]

[2021-05-10 10:22] novak-as commented on #1703
Okey, this looks interesting. I believe that [this](https://github.com/dotnet/BenchmarkDotNet/blob/master/src/BenchmarkDotNet/Running/BenchmarkRunnerClean.cs#L583) is root of the problem:

[code]

According to the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.streamwriter?view=net-5.0) this ctor `Initializes a new instance of the StreamWriter class for the specified file by

[2021-05-10 11:01] adamsitnik commented on #1703
@novak-as would you like to send a PR with a fix?

You could create a unit test similar to this one:

https://github.com/dotnet/BenchmarkDotNet/blob/63e28c100a42a6492d09a0b93a8a4c141061bb0d/tests/BenchmarkDotNet.IntegrationTests/ArgumentsTests.cs#L749-L771

[2021-05-10 11:13] novak-as commented on #1703
@adamsitnik yeap, I will handle it

Actually, I've found that I wasn't totally precise in my previous message. Specifying `UTF-8` manually will force `StreamWriter` to not throw exception on invalid utf8 bytes, thus allowing to bypass surrogate pairs without corruption.

[2021-05-10 12:30] lipchev commented on #1704
Hi @adamsitnik ,

It would execute the benchmark for all inputs of the argument source, but instead of producing N individual results (which for higher values of N would be very hard to read through) - would generate a single result that is the equivalent to running the benchmark as a single job, having an array as input parameter (just like the first example).

Imagine that (for the purposes of t

[2021-05-10 12:38] timcassell commented on #1704
If your input is static, you could do this:

[code]

[2021-05-10 14:46] lipchev commented on #1704
BTW, what would be the correct approach for _consuming_ a struct?

[2021-05-10 15:03] lipchev commented on #1704
Lol, somehow along the way I went from thinking that it's 'only for IEnumerable' to 'only for primitives and classes'. Right, what else am I missing 😃 ?

[2021-05-13 16:39] ltrzesniewski opened #1706 "Benchmark several TFMs of a library on the same runtime"
Let's say I have a `Library` project that targets `net5.0` and `netstandard2.0`, and a `Benchmarks` project that references it.

I could use the following configuration to benchmark the two TFMs:

[code]

But the underlying runtime wouldn't be the same, and this can have a large impact on the results.

In my understanding, there's currently no _straightforward_ way to benchmark the two TFMs on the

[2021-05-17 19:25] naeemakram opened #1708 "After how many iterations does a performance test stop?"
Once I've started a performance test, when will it stop? Will it calculate how many times to run automatically?
Been looking at the screen for about half an hour but the thing keeps running. Am I missing something?
I've followed the example given in the docs section of this repo and I've also followed another post about creating benchmarks.
I am combining BenchmarkDotNet with Selenium to open mult

[2021-05-19 08:26] adamsitnik commented on #1706
Hi @ltrzesniewski

.NET Standard is an abstraction. To run a console app, you need to specify the runtime, which provides the implementation of the abstraction. So there is no way to test .NET Standard performance, you can only test given runtime performance.

[code]

[code]

[code]

[2021-05-19 08:32] aalmada opened #1709 "BenchmarkSwitcher executes all benchmarks that share a base class"
I have a large set of benchmarks that have common initialization. To avoid having duplicate code I created a base class with the BenchmarkDotNet initialization. Here's a small example that replicates my scenario:

[code]

In each test I simply have to inherit from this class. I have many like these:

[code]

In `Program.cs`, I setup a `BenchmarkSwitcher`:

[code]

My issue is that, when I execute

[2021-05-19 09:02] adamsitnik commented on #1709
Hi @aalmada

What filter are you using?

The following one should run only the benchmarks from `Test01` class:

[code]

[2021-05-19 09:49] aalmada commented on #1709
I'm typing the number given in the list of benchmarks.
I now tried `--filter *Test01*` and it doesn't run the benchmarks. It simply shows again the list of benchmarks.

[2021-05-19 10:10] adamsitnik commented on #1709
Which BDN version are you using? What command exactly do you run from the command line?

[2021-05-19 10:58] aalmada commented on #1709
Ups! So sorry, I forgot to mention that. 🙄 It's BDN 0.12.1.1538

From the command line, I'm simply calling the executable. I then type `1` and `Enter`.

I created a repository with a very simple example that reproduces the behavior: https://github.com/aalmada/TestBenchmarkDotNet

[2021-05-19 11:04] adamsitnik commented on #1709
That explains everything. We have recently invested a lot in `--filter` and this is the recommended way of filtering the benchmarks. It needs to be passed to the exe from the command line:

[code]

Does filter works as expected when you use it?

[2021-05-19 11:36] aalmada commented on #1709
The filter does work when invoked from the command line.

[2021-05-19 15:06] AndreyAkinshin commented on #1654
@sharwell, @En3Tho, @robertcoltheart BenchmarkDotNet v0.13.0 with all the fixed is published on nuget.org. Sorry for the delay.

[2021-05-19 15:34] En3Tho commented on #1654
@AndreyAkinshin Thanks!

[2021-05-19 16:43] aalmada commented on #1709
I now upgraded to `0.13.0` and it has the exact same behaviors

[2021-05-20 08:05] adamsitnik opened #1711 "Add support for IBM Z architecture"
.NET is going to support a new architecture (https://github.com/dotnet/runtime/issues/52909), we should do so as well.

[code]

More details: https://github.com/dotnet/runtime/pull/52906

@uweigand some context: BenchmarkDotNet is the most popular microbenchmark harness in the .NET ecosystem. We already support x64, x86, ARM64, and ARM and would love to support `S390x` as well. When can we expect